<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{$seo_title}</title>
	<meta name="keywords" content="{$seo_key}" />
	<meta name="description" content="{$seo_desc}" />
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="shortcut icon" href="{$global.icon_img}?{$smarty.const.VERSION}">
	<link rel="stylesheet" href="http://cdnstatic.yingxiong.com/common/css/yx.css?{$smarty.const.VERSION}" />
	<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}1.0/css/public.css?{$smarty.const.VERSION}" />
	<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}1.0/css/swiper-3.4.2.min.css?{$smarty.const.VERSION}" />
	<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}1.0/css/cover.css?{$smarty.const.VERSION}" />
	<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/js/jquery-1.11.2.min.js?{$smarty.const.VERSION}"></script>
	{csrf}
	<script data-fixed="true">
		if ((/iphone|android|mobile/i.test(navigator.userAgent.toLowerCase()))) {
			location.href = "/m"+window.location.pathname+window.location.search;
		}
	</script>
</head>
<body>
<!--header-->
<script type="text/javascript" src="//cdnstatic.yingxiong.com/head/js/topbar.js?10.0"></script>
<div class="top">
	<div class="top_con">
		{fragment var=video code=index_video size=1}
		<div class="play js_video_play" data-url="{if $video}{$video[0].url}{/if}"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/play.png?{$smarty.const.VERSION}" alt=""></div>
		<!--<div class="slogan"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/slogan.png?{$smarty.const.VERSION}" alt="" /></div>-->
		<div class="btn">
			<div class="l_yuyue yue_btn"></div>
		 	<!-- <p class="y_number"></p> -->
		 	 <img src="{$smarty.const.STATIC_DOMAIN}1.0/images/hongbao.png?{$smarty.const.VERSION}" alt="" class="hongbao"/>
		</div>
		<div class="download">
			<a href="" class="js_down_ios stat_ios ios" target="_blank"></a>
			<a href="" class="js_down_andriod stat_android android" target="_blank"></a>
		</div>
		<a href="{myurl name='site/index'}" class="enter"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/enter.png?{$smarty.const.VERSION}" alt="" /></a>
	</div>
	<div class="logo"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/logo1.png?{$smarty.const.VERSION}" alt="" /></div>
	<div class="bussinessman">
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/hzf.png?{$smarty.const.VERSION}" alt="">
	</div>
	<!--<div class="plane"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/plane.png?{$smarty.const.VERSION}" alt=""/></div>-->
	<video src="{$smarty.const.STATIC_DOMAIN}1.0/images/kv.mp4?{$smarty.const.VERSION}" class="kv_video" autoplay="autoplay" loop="loop"></video>
</div>
<!-- <div class="float">
	<div class="f_close">
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/dbx.png?{$smarty.const.VERSION}" alt=""/>
	</div>
	<a href="javascript:yx_showTips('敬请期待');" class="gf"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gf.png?{$smarty.const.VERSION}" alt="" /></a>
	<a href="http://l.taptap.com/IdI4vVaD" target="_blank" class="tap"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/tap.png?{$smarty.const.VERSION}" alt="" /></a>
</div> -->
<!--世界杯预测-->
<div class="word_cup hidden" id="word_cup">
	<div class="login_info">
		登录前
		<p class="co_before ">HI，请
			<span class="co_loginbtn">【登录】</span>
			<span class="co_info">预测正确，100%领红包</span>
		</p>
		登录后
		<p class="co_after hidden">HI，
			<span class="user_phone">15520817601</span>
			<span class="logout">注销</span>
			<span class="co_info">预测正确，100%领红包</span>
		</p>
	</div>
	<div class="choose">
		<p>点击对应国旗，选择你心中的冠军球队</p>
		<div class="c_choose">
			<div class="c_country c1"><span>法国</span></div>
			<div class="c_country c2"><span>克罗地亚</span></div>
			<div class="c_country c3"><span>请选择预测</span></div>
		</div>
		<div class="c_btn">
			<span class="yc_btn"></span>
			<span class="yc_time">竞猜截止时间：2018.07.15 21:00</span>
		</div>
		<div class="rules">
			<p>活动规则</p>
			<p>1.活动在7月15日21:00截止后，预测正确的玩家，会在48小时内通过短信收到红包口令。</p>
			<p>2.关注官方微信公众号回复红包口令即可领取红包。</p>
		</div>
	</div>
</div>
<div class="middle" id="yuyue">
	<div class="wrap">
		<div class="label">
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/title2.png?{$smarty.const.VERSION}" alt="" />
		</div>
		<div class="login_info">
			<!--登录前-->
			<p class="co_before ">HI，请
				<span class="co_loginbtn">【登录】</span>
				<span class="co_info">已成功邀请<i class="friend">0</i>人</span>
			</p>
			<!--登录后-->
			<p class="co_after hidden">HI，
				<span class="user_phone">15520817601</span>
				<span class="logout">注销</span>
				<span class="co_info">已成功邀请<i class="friend">0</i>人</span>
			</p>
		</div>
		<div class="middle_btn">
			<span href="javascript:;" class="yuyue_btn"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/yuyue_btn.png?{$smarty.const.VERSION}" alt=""></span>
			<span href="javascript:;" class="co_share"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/yq_btn.png?{$smarty.const.VERSION}" alt=""></span>
		</div>
		<p class="yq_ts">
			分享个人专属链接，每成功邀请一位玩家进行预约，将收到1条红包口令短信（48小时内发送至您预约的手机号码），
			每位用户每日最多可收到三条红包口令短信。关注官方微信公众号输入红包口令即可领取现金红包（本活动暂不支持电信用户）
		</p>
		<p class="yyue_num2 text_number"></p>
		<p class="yuyue_text">目前官网已预约人数</p>
		<div class="z_line">
			<div class="line"></div>
			<i class="jdt"></i>
			<div class="xianshi">
				<div class="first active">
					<div class="p_img">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/w_q1.png?{$smarty.const.VERSION}" alt="">
					</div>
					<div class="info">
						<p>黄金*33</p>
						<p>钞票*33333</p>
						<p>载具补给箱*1</p>
					</div>
				</div>
				<div class="second active">
					<div class="p_img">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/w_q2.png?{$smarty.const.VERSION}" alt="">
					</div>
					<div class="info">
						<p>黄金*66</p>
						<p>钞票*66666</p>
						<p>2星坦克火炮*1</p>
					</div>
				</div>
				<div class="third active">
					<div class="p_img">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/w_q3.png?{$smarty.const.VERSION}" alt="">
					</div>
					<div class="info">
						<p>预约专属涂装“无畏先锋”*1</p>
						<p>黄金*88</p>
						<p>钞票*88888</p>
					</div>
				</div>
				<div class="four active">
					<div class="p_img">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/w_q4.png?{$smarty.const.VERSION}" alt="">
					</div>
					<div class="info">
						<p>99式主战坦克（限时3天）*1</p>
						<p>99式专属补给箱*1</p>
					</div>
				</div>
				<div class="five active">
					<div class="p_img">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/w_q5.png?{$smarty.const.VERSION}" alt="">
					</div>
					<div class="info">
						<p>阿帕奇武装直升机*1</p>
						<p>阿帕奇专属补给箱*1</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--视听盛宴-->
<div id="st_sy" class="st_sy">
	<div class="title"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/audio_tit.png?{$smarty.const.VERSION}" alt=""/></div>
	<div class="st_audio">
		<div class="swiper-container swiper-container3">
			<div class="swiper-wrapper">
				{article id="642" size=50 var=audio}
				{if $audio neq ''}
				{foreach $audio as $key=>$v}
				{if $key >= 0}
				<div class="swiper-slide" data-url="{$v.sub_title}">
					<div class="cdbox"><img class="images" src="{$v.thumb}" alt=""></div>
					<div class="lightbox"><div class="light"><img class="images" src="{$smarty.const.STATIC_DOMAIN}1.0/images/light1.png?{$smarty.const.VERSION}" alt=""></div></div>
					<div class="shaft"><img class="images" src="{$smarty.const.STATIC_DOMAIN}1.0/images/shaft.png?{$smarty.const.VERSION}" alt=""></div>
				</div>
				{/if}
				{/foreach}
				{/if}
			</div>
		</div>
		<div class="bigplaybtn"></div>
		<div class="swiperbox">
			<div class="swiper-container swiper-container4">
				<div class="swiper-wrapper">
					{article id="642" size=50 var=audio}
					{if $audio neq ''}
					{foreach $audio as $key=>$v}
					{if $key >= 0}
					<div class="swiper-slide {if $key == 0}active{/if}">
						<div class="album">
							<span class="audio_name">{$v.title}</span>
							<span class="audio_play"><i class="playbtn"></i><i class="audio_time">{$v.contentMessage}</i></span>
							<img class="images" src="{$v.thumb}" alt="">
						</div>
					</div>
					{/if}
					{/foreach}
					{/if}
				</div>
			</div>
			<div class="swiper-button-prev swiper4_prev"></div>
			<div class="swiper-button-next swiper4_next"></div>
		</div>
	</div>
	<audio src="" id="music1"></audio>
</div>
<!--底部信息-->
<div class="f_main">
	<div class="wrap">
		<div class="main3_board">
			<div class="lf">
				<p class="tittle_sm"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/title.png?{$smarty.const.VERSION}" class="title2"></p>
				<ul class="act_info">
					<li>
						<i></i><p>活动时间：2018年6月28日-2018年12月31日；</p>
					</li>
					<li>
						<i></i><p>活动期间，玩家完成预约，即可在安卓公测开启后获得预约奖励；</p>
					</li>
					<li>
						<i></i><p>安卓公测开启后，所有玩家均可获得预约人数所达到的所有里程碑奖励。</p>
					</li>
					<li>
						<i></i><p>预约奖励将通过短信发放，届时请注意发放通知，每个玩家仅限领取1次。</p>
					</li>
				</ul>
			</div>
			<div class="rt">
				<div class="relate_us">
					<div class="qq_con">
						<img src="{if $global.group}{$global.group}{else}javascript:yx_showTips('敬请期待');{/if}" alt="">
						<p><a href="{if $global.group_url_one}{$global.group_url_one}{else}javascript:yx_showTips('敬请期待');{/if}" target="_blank">官方QQ群1</a></p>
					</div>
					<div class="qq_con">
						<img src="{if $global.tb_img}{$global.tb_img}{else}javascript:yx_showTips('敬请期待');{/if}" alt="">
						<p><a href="{if $global.tb_url}{$global.tb_url}{else}javascript:yx_showTips('敬请期待');{/if}" target="_blank">百度贴吧</a></p>
						<!--<p><a href="https://jq.qq.com/?_wv=1027&k=5p92IlK" target="_blank">官方QQ群2</a></p>-->
					</div>
					<ul>
						<li><a href="{if $global.wb_url}{$global.wb_url}{else}javascript:yx_showTips('敬请期待');{/if}" target="_blank">官方微博</a></li>
						<li><a href="javascript:yx_showTips('敬请期待');">官方客服</a></li>
						<li><a href="http://bbs.yingxiong.com/t/pc/45/index" target="_blank">官方论坛</a></li>
					</ul>
				</div>
				 <div class="down_box">
					 <a href="" class="ios js_down_ios stat_cover_ios" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/ios.png?{$smarty.const.VERSION}" alt="" /></a>
					 <!--<a href="" class=" and js_down_andriod stat_cover_android" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/an.png?{$smarty.const.VERSION}" alt="" /></a>-->
					 <a href="javascript:;" class="q_az and  stat_cover_android" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/an.png?{$smarty.const.VERSION}" alt="" /></a>
					 <a href="http://l.taptap.com/IdI4vVaD" target="_blank" class="tap no_channel stat_cover_tap"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/tap.png?{$smarty.const.VERSION}" alt="" /></a>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- 这是弹窗 -->
<div class="d_tc">
	<div class="d_tc1">
		<a href="javascript:;" class="close">
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/del.png?{$smarty.const.VERSION}" alt="">
		</a>
		<div class="login_form">
			<div class="r_type">
				<div class="r_ios lf active" data-id="1">
					<div class="r_img">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/b1.png?{$smarty.const.VERSION}" alt="" />
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/b_on.png?{$smarty.const.VERSION}" alt="" />
					</div>
					<p>iOS</p>
				</div>
				<div class="r_android" data-id="2">
					<div class="r_img rt">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/b1.png?{$smarty.const.VERSION}" alt="" />
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/b_on.png?{$smarty.const.VERSION}" alt="" />
					</div>
					<p>安卓</p>
				</div>
			</div>
			<input class="phone" type="text" name="phone" placeholder="请输入手机号" onkeyup="value=value.replace(/[^0-9_]/g,'')"  maxlength="11">
			<p class="err err1">*请输入手机号</p>
			<div>
				<input class="captcha" type="text" name="captcha" placeholder="请输入图形验证码" onkeyup="value=value.replace(/[^a-zA-Z0-9_]/g,'')">
				<button id="getMarkBtn1"><img src="" alt=""></button>
				<p class="co_imgtxt">点击图片刷新</p>
			</div>
			<p class="err err2">*请输入图形验证码</p>
			<div>
				<input class="mark" type="text" name="mark" placeholder="请输入验证码" onkeyup="value=value.replace(/[^0-9_]/g,'')">
				<button class="g_code">获取验证码</button>
			</div>
			<p class="err err3">*请输入验证码</p>
		</div>
		<a href="javascript:;" class="yyue">
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/btn2.png?{$smarty.const.VERSION}" alt="">
		</a>
	</div>
</div>
<!--登录弹框-->
<div class="co_tips co_tips_login hidden">
	<div class="co_con">
		<p class="co_tips_title co_tips_logintitle"></p>
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/c_close.png?{$smarty.const.VERSION}" alt="" class="co_tips_close">
		<div class="co_form">
			<div class="co_input">
				<input type="number" onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" class="co_username" placeholder="请输入手机号码"/>
				<p class="co_error">手机号码错误</p>
			</div>
			<div class="co_input">
				<input type="text"  class="captcha" placeholder="请输入验证码"/>
				<span class="co_captcha"></span>
				<p class="co_error">验证码错误</p>
				<p class="co_imgtxt">点击图片刷新</p>
			</div>
			<div class="co_input">
				<input type="number" onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" class="co_codenum1" placeholder="请输入验证码"/><span class="co_codebtn co_codebtn1">获取验证码</span>
				<p class="co_error">验证码错误</p>
			</div>
		</div>
		<p class="co_tips_btn co_tips_loginbtn "></p>
	</div>
</div>
<!--邀请好友弹框-->
<div class="co_tips co_tips_yq hidden">
	<div class="co_con">
		<p class="co_tips_title"></p>
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/c_close.png?{$smarty.const.VERSION}" alt="" class="co_tips_close">
		<div class="co_form">
			<p class="tips_txt">分享你的专属链接，获得更多参与机会，千元游戏礼包等你领!</p>
			<p class="yq_code">您的邀请码 : <span class="yq_num">123456</span></p>
			<div class="my_link">
				<p>点击复制链接按钮，复制个人专属链接，分享给你的好友预约，即可参加活动；</p>
				<p>链接地址:</p>
				<p class="my_url"></p>
			</div>
		</div>
		<p class="co_tips_btn co_tips_copybtn copy copy_link" data-clipboard-text=""></p>
	</div>
</div>
<!--预约类型选择弹框-->
<div class="co_tips co_tips_type hidden">
	<div class="co_con">
		<p class="co_tips_title"></p>
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/c_close.png?{$smarty.const.VERSION}" alt="" class="co_tips_close">
		<div class="co_form">
			<!--<p>请选择预约平台</p>-->
			<!--<span class="rdo on" data-id="1">iOS</span>-->
			<span class="rdo on" data-id="2">安卓</span>
			<p>注：iOS已首发可前往App Store下载体验哦~</p>
		</div>
		<p class="co_tips_btn co_tips_yybtn stat_cover_yy"></p>
		
	</div>
</div>
<!--预约成功弹框-->
<div class="co_tips co_tips_success hidden">
	<div class="co_con">
		<p class="co_tips_title"></p>
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/c_close.png?{$smarty.const.VERSION}" alt="" class="co_tips_close">
		<div class="co_form">
			<p class="tips_txt">恭喜您</p>
			<p class="success">预约成功</p>
		</div>
		<p class="co_tips_btn co_tips_surebtn"></p>
	</div>
</div>
<!-- 预约成功ios弹窗 -->
		<div class="co_tips co_tips_ios hidden">
			<div class="co_con">
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/c_close.png?{$smarty.const.VERSION}" alt="" class="co_tips_close">
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/ewm_bor.png?{$smarty.const.VERSION}" alt="" class="ewm_bode">
				<p class="co_tips_btn co_tips_surebtn"></p>
			</div>
		</div>
<!-- 浮窗 -->
		<div class="float_box">
		<!-- 有奖征集入口 -->
		<a href="{myurl name='/p/collect'}" target="_blank" class="yj_cl"></a>
		<div class="q_float">
			<div class="ewm_box"><img class="q_f_mark" src="http://gamerimage.yingxiong.com/qrcode/jump_tk_pcgw.png"></div>
			<div class="no_channel">
				<!--<a class="q_az js_down_andriod stat_cover_android" href=""></a>-->
				<!--<a class="q_ios stat_cover_ios" href="javascript:;" target="_blank"></a>-->
				<a class="q_ios1 js_down_ios stat_cover_ios" href="javascript:;" target="_blank"></a>
				<a class="q_az stat_cover_yy" href="javascript:;"></a>
				<a class="q_tap stat_cover_tap" href="https://www.taptap.com/app/80072" target="_blank "></a>
				<a href="javascript:;" class="go_top"></a>
			</div>
			<div class="channel_name" style="display:none">
				<!--<a class="q_az js_down_andriod stat_cover_android" href=""></a>-->
				<!--<a class="q_ios stat_cover_ios" href="javascript:;" target="_blank"></a>-->
				<a class="q_ios1 js_down_ios stat_cover_ios" href="javascript:;" target="_blank"></a>
				<a class="q_az stat_cover_yy" href="javascript:;"></a>
				<a href="javascript:;" class="go_top"></a>
			</div>
			<label class="q_f_icon show" show=""></label>
		</div>
		</div>
<!--二维码-->
<!-- <div class="wx_ewm">
	<img src="{$global.wx_img}" alt=""/>
	<p>扫码关注微信公众号</p>
</div> -->
</body>
<script src="http://cdnstatic.yingxiong.com/common/js/yx.js?{$smarty.const.VERSION}"></script>
<script type="text/javascript" src="http://cdnstatic.yingxiong.com/footer/js/footer_new.js?{$smarty.const.VERSION}"></script>
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/js/clipboard.min.js?{$smarty.const.VERSION}"></script>
<script src="{$smarty.const.STATIC_DOMAIN}1.0/js/swiper-3.4.2.min.js?{$smarty.const.VERSION}" type="text/javascript"></script>
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/js/cover.js?{$smarty.const.VERSION}"></script>
{download}
{video_play}
<script>
	$(function(){
		pc_cover();
		//点击隐藏和显示下载悬浮框
		function show_hide_down() {
			$(".q_f_icon").click(function() {
				var state = $(this).attr("show");
				if(state) {
					$(".float_box").animate({
						"right": "5px"
					}, 200);
					$(this).attr({
						"show": "",
						"class": "show"
					});
				} else {
					$(".float_box").animate({
						"right": "-186px"
					}, 200);
					$(this).attr({
						"show": "true",
						"class": "hide_float"
					});
				}
			})
		}
		show_hide_down();
		//返回顶部
	$(".go_top").click(function(){
		var a;
		function back(){
			a=setInterval(go_top,5);
		}
		function go_top(){
			if(window.scrollY<=0){
				clearInterval(a);
			}else{
				scrollTo(0,window.scrollY-50);
			}
		}
		back();
	});
		var swiper03 = new Swiper(".swiper-container3", {
			observer: true,
			observeParents: true,
			slideToClickedSlide: true,
			simulateTouch: false,
			effect : 'fade',
			fade: {
				crossFade: false,
			},
			onTransitionEnd: function(swiper) {

			},
			onSlideChangeEnd: function(swiper){
				swiper04.slideTo(swiper.activeIndex);
				$(swiper04.slides).removeClass("active");
				var slide=$(swiper04.slides[swiper.activeIndex]);
				slide.addClass("active");
				$(".playbtn").removeClass("play1");
				if(autopaly){
					//播放过 切换 自动播放
					//大播放按钮播放
					$(".bigplaybtn").addClass("bigplay");
					slide.find(".playbtn").addClass("play1");
					var slide=$(swiper.slides[swiper.activeIndex]);
					$(slide).find(".lightbox").addClass("fadeIn").removeClass("fadeOut");
					clearInterval(audiotimer);
					audiotimer=setInterval(function(){
						var t=20; //CD转一圈的时间（秒）
						var cd=$(slide).find(".cdbox");
						var deg=eval('get'+cd.css('transform'))||0;
						deg+=36/t;
						if(deg>360) deg-=360;
						cd.css({ 'transform':'rotate('+deg+'deg)' });
//							var light=$(slide).find(".light");
//							var deg=eval('get'+light.css('transform'))||0;
//							deg+=36/t;
//							if(deg>358) deg=358;
//							light.css({ 'transform':'rotate('+deg+'deg)' });
					},100);
					$(slide).find(".shaft").addClass("play1");
					var audiourl=slide.data('url');
					console.log(audiourl);
					$("#music1").attr("src",audiourl);
					$("#music1")[0].play();
				}else{
					$("#music1")[0].pause();
					//大播放按钮暂停
					$(".bigplaybtn").removeClass("bigplay");
//						$(this).removeClass("play1");
					clearInterval(audiotimer);
					$(slide).find(".shaft").removeClass("play1");
				}
				$(swiper.slides).filter(":not(.swiper-slide-active)").css("opacity","0").find(".shaft").removeClass("play1");
				$(swiper.slides).filter(":not(.swiper-slide-active)").find(".lightbox").removeClass("fadeIn").addClass("fadeOut");
			}
		});
		var swiper04 = new Swiper(".swiper-container4", {
//				prevButton:'.swiper4_prev',
//				nextButton:'.swiper4_next',
			slidesPerView: 2,
			observer: true,
			observeParents: true,
			slideToClickedSlide: true,
			direction : 'vertical',
			onClick: function(swiper){
				autopaly=true;
				$(swiper.slides).removeClass("active");
				var slide=$(swiper.slides[swiper.clickedIndex]);
				slide.addClass("active");
				swiper03.slideTo(swiper.clickedIndex);
			}
		});
		$('.swiper4_prev').click(function(){
			var index=$(".swiper-container4 .swiper-slide.active").prev(".swiper-slide").index();
			if(index==-1){
				index=swiper04.slides.length-1;
			}
			var slide=$(swiper04.slides[index]);
			$(swiper04.slides).removeClass("active");
			slide.addClass("active");
			swiper03.slideTo(index);
			swiper04.slideTo(index);
		});
		$('.swiper4_next').click(function(){
			var index=$(".swiper-container4 .swiper-slide.active").next(".swiper-slide").index();
			var slide=$(swiper04.slides[index]||swiper04.slides[0]);
			$(swiper04.slides).removeClass("active");
			slide.addClass("active");
			swiper03.slideTo(index);
			swiper04.slideTo(index);
		});
		autopaly=false;
		audiotimer=null;
		//获取旋转角度
		function getmatrix(a,b,c,d,e,f){
			var aa=Math.round(180*Math.asin(a)/ Math.PI);
			var bb=Math.round(180*Math.acos(b)/ Math.PI);
			var cc=Math.round(180*Math.asin(c)/ Math.PI);
			var dd=Math.round(180*Math.acos(d)/ Math.PI);
			var deg=0;
			if(aa==bb||-aa==bb){
				deg=dd;
			}else if(-aa+bb==180){
				deg=180+cc;
			}else if(aa+bb==180){
				deg=360-cc||360-dd;
			}
			return deg>=360?0:deg;
			//return (aa+','+bb+','+cc+','+dd);
		}

		//音乐播放
		$(".playbtn").click(function(){
			var slide=$(swiper03.slides[swiper03.activeIndex]);
			var audio=document.getElementById('music1');
			var audio_src=$(slide).attr("data-url");
			if($("#music1").attr("src")!=audio_src){
				$("#music1").attr("src",audio_src);
			}
			if($(this).hasClass("play1")){
				audio.pause();
				//大播放按钮暂停
				$(".bigplaybtn").removeClass("bigplay");
				$(this).removeClass("play1");
				clearInterval(audiotimer);
				$(slide).find(".shaft").removeClass("play1");
				$(slide).find(".lightbox").removeClass("fadeIn").addClass("fadeOut");
				$(swiper03.slides).filter(":not(.swiper-slide-active)").css("opacity","0");
			}else{
				autopaly=true;
				$(".playbtn").removeClass("play1");
				$(this).addClass("play1");
				//大播放按钮播放
				$(".bigplaybtn").addClass("bigplay");
				$(slide).find(".lightbox").addClass("fadeIn").removeClass("fadeOut");
				if($(this).closest(".swiper-slide").hasClass("active")){
					audio.play();
					clearInterval(audiotimer);
					audiotimer=setInterval(function(){
						var t=20; //CD转一圈的时间（秒）
						var cd=$(slide).find(".cdbox");
						var deg=eval('get'+cd.css('transform'))||0;
						deg+=36/t;
						if(deg>360) deg-=360;
						cd.css({ 'transform':'rotate('+deg+'deg)' });
					},100);
					$(slide).find(".shaft").addClass("play1");
				}
			}
		});
		//音乐播放完毕
		$("#music1")[0]&&$("#music1")[0].addEventListener('ended', function () {
			var slide=$(swiper03.slides[swiper03.activeIndex]);
			$(".playbtn").removeClass("play1");
			//大播放按钮暂停
			$(".bigplaybtn").removeClass("bigplay");
			clearInterval(audiotimer);
			$(slide).find(".shaft").removeClass("play1");
			$(slide).find(".lightbox").removeClass("fadeIn").addClass("fadeOut");
		});
		//大按钮音乐播放
		$(".bigplaybtn").click(function(){
			var slide=$(swiper03.slides[swiper03.activeIndex]);
			var audio=document.getElementById('music1');
			var audio_src=$(slide).attr("data-url");
			if($("#music1").attr("src")!=audio_src){
				$("#music1").attr("src",audio_src);
			}
			if($(this).hasClass("bigplay")){
				audio.pause();
				//小播放按钮暂停
				$(".swiper-container4 .active .playbtn").removeClass("play1");
				$(this).removeClass("bigplay");
				clearInterval(audiotimer);
				$(slide).find(".shaft").removeClass("play1");
				$(slide).find(".lightbox").removeClass("fadeIn").addClass("fadeOut");
//					$(swiper03.slides).filter(":not(.swiper-slide-active)").css("opacity","0");
			}else{
				autopaly=true;
				//小播放按钮播放
				$(".swiper-container4 .playbtn").removeClass("play1");
				$(".swiper-container4 .active .playbtn").addClass("play1");
				$(this).addClass("bigplay");
				$(slide).find(".lightbox").addClass("fadeIn").removeClass("fadeOut");
				audio.play();
				clearInterval(audiotimer);
				audiotimer=setInterval(function(){
					var t=20; //CD转一圈的时间（秒）
					var cd=$(slide).find(".cdbox");
					var deg=eval('get'+cd.css('transform'))||0;
					deg+=36/t;
					if(deg>360) deg-=360;
					cd.css({ 'transform':'rotate('+deg+'deg)' });
				},100);
				$(slide).find(".shaft").addClass("play1");
			}
		});
	});
</script>
</html>