@charset "utf-8";
/* CSS Document */

/* css 重置 */
	body, p, input, h1, h2, h3, h4, h5, h6, ul, li, dl, dt, dd, form { margin: 0; padding: 0; list-style: none; vertical-align: middle; font-weight:normal; line-height:1; }
	img { border:0; margin: 0; padding: 0;   }
	body { color: #000; -webkit-user-select: none; -webkit-text-size-adjust: none; font:normal 16px/200% "微软雅黑", helvetica, arial; text-align:left;min-width:960px}
	header, section, footer { display: block; margin: 0; padding: 0 }
	a{text-decoration:none;color:#000;-webkit-tap-highlight-color:transparent;}	
	/* 内容 */
	#content .part{ background-position:top center; background-repeat:no-repeat;height:1080px;}
	#content .part01{ background-image:url(../images/bg01.jpg);height:1125px;}
	#content .part02{ background-image:url(../images/bg02.jpg);height:975px;}
	#content .part03{ background-image:url(../images/bg03.jpg);height:1063px;}
	#content .part04{ background-image:url(../images/bg04.jpg);height:1042px;}
	#content .part05{ background-image:url(../images/bg05.jpg);height:1137px;}
	#content .part06{ background-image:url(../images/bg06.jpg);height:1087px;}
	#content .part07{ background-image:url(../images/bg07.jpg); height:1148px;}
	#content .w_960{ width:960px; margin:0 auto; position:relative}
	#content .part01 .logo{ padding-top:20px}
	#content .part01 .back{ position:absolute; right:0; top:30px}
    .nav{ background:url(../images/part01.png); width:960px; height:202px; margin-top:540px; position:relative}
	.nav a{ position:absolute; display:block; width:130px; height:110px;}
	.nav a:nth-of-type(1){ left:18px; top:8px}
	.nav a:nth-of-type(2){ left:168px; top:60px}
	.nav a:nth-of-type(3){ left:330px; top:76px}
	.nav a:nth-of-type(4){ left:495px; top:76px}
	.nav a:nth-of-type(5){ left:655px; top:60px}
	.nav a:nth-of-type(6){ left:808px; top:8px}
	.time_wrap{ position:absolute; top:660px;left: 50%;margin-left: -150px;}
	.time_wrap p{font-size:18px;text-align:center; color:#4a1067; line-height:1.2}
	.nav2 a{ position:absolute; display:block; width:160px; height:56px;}
	.nav2 a:nth-of-type(1){left: 4px;bottom: 94px;}
	.nav2 a:nth-of-type(2){left: 203px;bottom: 56px;}
	.nav2 a:nth-of-type(3){left: 407px;bottom: 32px;}
	.nav2 a:nth-of-type(4){left: 600px;bottom: 56px;}
	.nav2 a:nth-of-type(5){left: 793px;bottom: 94px;}
	.pop li{ display:none; position:absolute; left:50%; margin-left:-388px; top:350px; z-index:999}
	.pop a{ display:block; width:50px; height:50px; position:absolute;right: 0;top: 0;}
	#content .part04 a,#content .part05 a,#content .part06 a{ position:absolute; bottom:0; left:50%; display:block; width:220px; margin-left:-110px; height:100px;}
	#content .part07 p.txt{text-align:center; color:#d2d2d2; font-size:15px; line-height:1.6;position: absolute;bottom: 0;width: 100%;}
	.part07 .w_960{ height:1128px}
	.unm_bg{width: 301px;height: 100px;padding: 5px 0 0 8px;background: url(../images/num_bg.png) no-repeat;box-sizing: border-box;}
    .unm_bg li{background:url(../images/num_bg_s.png) no-repeat; width:65px;height:93px;float:left;text-align:center; line-height:82px;color:#f3f3f3;font-size:34px;position:relative;margin:0 3px;}
	.unm_bg li i{width: 57px;height: 2px;background-color: #1a1a1f;position: absolute;left: 4px;top: 40px;}
	.unm_bg li b{ position:absolute; color:#fff; right:4px; bottom:13px; font-size:12px; font-weight:normal; width:20px; height:20px; line-height:20px}
	
	/*web*/
	#content_w .bg{ width:100%; display:block}
	#content_w .part{position:relative}
	#content_w .time_wrap{top:0;margin-left: -103px;}
	#content_w .time_wrap p{ font-size:14px}
	#content_w .unm_bg{ background-size:contain; height:78px;width: 206px;}
	#content_w .unm_bg li{height: 62px; background-size:contain;width: 42px;margin: 0 3px;line-height: 54px;font-size: 26px;}
	#content_w .unm_bg li i{width: 34px;top: 26px; opacity:0.6}
	#content_w .unm_bg li b{right: 0;bottom: 6px;font-size: 10px;}
	.nav3 a{ display:block; position:absolute;width: 70px;height: 60px;}
	.nav3 a:nth-of-type(1){left: 3%;top: 5rem;}
	.nav3 a:nth-of-type(2){left: 19%;
    top: 1.5rem;
}
	.nav3 a:nth-of-type(3){
    left: 40%;
    top: 0;

}
	.nav3 a:nth-of-type(4){
    left: 62%;
    top: 1.5rem;
}
	.nav3 a:nth-of-type(5){
    right: 3%;
    top: 5rem;
}
	.nav3 a:nth-of-type(6){
    left: 41%;
    top: 5rem;
}
	#content_w .part04 a{ display:block;width: 60%;left: 20%;height: 58px;top: 0.5rem;position: absolute;}
	#content_w .part05 .pop li{width: 90%;left: 5%;margin: 0;top: 0;}
	#content_w .part08 a,#content_w .part09 a,#content_w .part10 a{width: 40%;height: 3rem; position:absolute; bottom:0;left: 30%;}
	#content_w .part11 .txt{ text-align:center; color:#d2d2d2!important; font-size:8px; line-height:1.2; position:absolute; bottom:0.4rem; width:100%}
	.to_top{ position:fixed; z-index:999; right:10px; bottom:10px;}
	#content_w .to_top{ width:50px; height:50px;}
	#content_w .to_top img{ width:100%;}
	.down{ position:fixed; right:10px; top:10px; z-index:999}
	.down a{  display:block;width: 193px;height: 57px; position:absolute;top: 355px;}
	.down a:nth-of-type(2){top: 423px;}
	.top{ position:fixed; top:0; left:0; width:100%; z-index:999}
	.top img{ width:100%}
	.top a{ position:absolute;right: 3%;top: 15%;width: 23%;height: 49%; display:block}
	#content_w .nav2 a{width: 26%;height: 14%;}
	#content_w .nav2 a:nth-of-type(1){left: 8%;top: 0;}
	#content_w .nav2 a:nth-of-type(2){left: 37%;top: 0;}
	#content_w .nav2 a:nth-of-type(3){left: 66%;top: 0;}
	#content_w .nav2 a:nth-of-type(4){left: 19%;bottom: 0;}
	#content_w .nav2 a:nth-of-type(5){left: 54%;bottom: 0;}
	
	#star{ position:absolute;top: 345px; left:50%}
	#star .name{top: 0; margin-left:-50px; font-weight:normal; color:#fff;position: absolute;right: 40px;font-size: 18px;width: 150px;text-align: center;display: block;}
	#star div{ width:353px; height:60px; background:url(../images/part07_input.png) no-repeat; position: relative;top: 256px; left:-165px}
	#star div input{position: absolute;top: 20px;height: 20px;line-height: 20px;left: 18px;width: 234px;font-size: 14px; border:none; outline:none;background: none;}
	#content_w #star div a,#content #star div a{width: 87px;height: 34px;margin-left: 78px;bottom: 13px;}
	#content_w #star{ top:35%; left:0;width:100%}
	#content_w #star .name{ right:auto; left:17%; font-size:14px}
	#content_w #star div{ width:200px; height:40px; left:50%; margin-left:-100px; background-size:contain;margin-top:-30%}
	#content_w #star div input{width: 130px;top: 7px;left: 10px;}
	/**/
	.zfq{width: 700px;
    position: absolute;
    right: 0;
    background:; height:800px}
	.zfq p{ margin:0 auto;height:20px; line-height:20px; position:relative; overflow:hidden}
	.zfq p span{position:absolute; display:block; width:100%; left:100%}
	.zfq_web{ width:80%; top:30%; height:277px; overflow:hidden}
	.zfq_web p{ font-size:13px;}
	

@-webkit-keyframes fade-in {
    0% {opacity: 0; left:100%}
	25% {opacity: 1; left:50%}  
    50% {opacity: 1; left:0%} 
	75% {opacity: 0; left:-50%}
    100% {opacity:0; left:-100%}
}  
.wrapper005 {    
animation: fade-in 10s 0.5s linear  infinite;
-moz-animation: fade-in 10s 0.5s linear  infinite;
-webkit-animation: fade-in 10s 0.5s linear  infinite;
-o-animation: fade-in 10s 0.5s linear  infinite;
}
.wrapper01 {    
animation: fade-in 10s 1s linear  infinite;
-moz-animation: fade-in 10s 1s linear  infinite;
-webkit-animation: fade-in 10s 1s linear  infinite;
-o-animation: fade-in 10s 1s linear  infinite;
} 
.wrapper015{    
animation: fade-in 10s 1.5s linear  infinite;
-moz-animation: fade-in 10s 1.5s linear  infinite;
-webkit-animation: fade-in 10s 1.5s linear  infinite;
-o-animation: fade-in 10s 1.5s linear  infinite;
} 
.wrapper02 {    
animation: fade-in 10s 2s linear  infinite;
-moz-animation: fade-in 10s 2s linear  infinite;
-webkit-animation: fade-in 10s 2s linear  infinite;
-o-animation: fade-in 10s 2s linear  infinite;
} 
.wrapper025 {    
animation: fade-in 10s 2.5s linear  infinite;
-moz-animation: fade-in 10s 2.5s linear  infinite;
-webkit-animation: fade-in 10s 2.5s linear  infinite;
-o-animation: fade-in 10s 2.5s linear  infinite;
}


.wrapper5_01 {    
animation: fade-in 10s 3.5s linear  infinite;
-moz-animation: fade-in 10s 3.5s linear  infinite;
-webkit-animation: fade-in 10s 3.5s linear  infinite;
-o-animation: fade-in 10s 3.5s linear  infinite;
} 
.wrapper5_015{    
animation: fade-in 10s 4s linear  infinite;
-moz-animation: fade-in 10s 4s linear  infinite;
-webkit-animation: fade-in 10s 4s linear  infinite;
-o-animation: fade-in 10s 4s linear  infinite;
} 
.wrapper5_02 {    
animation: fade-in 10s 4.5s linear  infinite;
-moz-animation: fade-in 10s 4.5s linear  infinite;
-webkit-animation: fade-in 10s 4.5s linear  infinite;
-o-animation: fade-in 10s 4.5s linear  infinite;
} 
.wrapper5_025 {    
animation: fade-in 10s 5s linear  infinite;
-moz-animation: fade-in 10s 5s linear  infinite;
-webkit-animation: fade-in 10s 5s linear  infinite;
-o-animation: fade-in 10s 5s linear  infinite;
}

.wrapper10_01 {    
animation: fade-in 10s 6s linear  infinite;
-moz-animation: fade-in 10s 6s linear  infinite;
-webkit-animation: fade-in 10s 6s linear  infinite;
-o-animation: fade-in 10s 6s linear  infinite;
} 
.wrapper10_015{    
animation: fade-in 10s 6.5s linear  infinite;
-moz-animation: fade-in 10s 6.5s linear  infinite;
-webkit-animation: fade-in 10s 6.5s linear  infinite;
-o-animation: fade-in 10s 6.5s linear  infinite;
} 
.wrapper10_02 {    
animation: fade-in 10s 7s linear  infinite;
-moz-animation: fade-in 10s 7s linear  infinite;
-webkit-animation: fade-in 10s 7s linear  infinite;
-o-animation: fade-in 10s 7s linear  infinite;
} 
.wrapper10_025 {    
animation: fade-in 10s 7.5s linear  infinite;
-moz-animation: fade-in 10s 7.5s linear  infinite;
-webkit-animation: fade-in 10s 7.5s linear  infinite;
-o-animation: fade-in 10s 7.5s linear  infinite;
}     