address,
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
select,
td,
textarea,
th,
ul {
	margin: 0;
	padding: 0
}

body {
	font-family: "寰蒋闆呴粦"
}

button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label,
select,
textarea {
	font-size: 100%;
	vertical-align: middle
}

dl,
li,
ol,
ul {
	list-style: none
}

a {
	text-decoration: none
}

fieldset,
img {
	border: none
}

img {
	display: inline-block;
	overflow: hidden;
	vertical-align: top
}

address,
em {
	font-style: normal
}

sub,
sup {
	vertical-align: baseline
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

q:before {
	content: ""
}

q:after {
	content: ""
}

button {
	cursor: pointer
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none
}
textarea {
	word-wrap: break-word;
	resize: none
}
.wrap{
	width:1280px;
	position:relative;
	margin:0 auto;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.clear {
	clear: both
}

.fl {
	float: left
}

.fr {
	float: right
}

* {
	margin: 0;
	padding: 0
}
/*预约弹窗*/
.login{
	width:100%;
	height:100%;
	position:fixed;
	background-color:rgba(0,0,0,.8);
	left:0;
	top:0;
	z-index:99;
	display: none;
}
.login_yy{
	width: 680px;
    height: 480px;
    background: url(../images/login.png) no-repeat center;
    background-size: 100% 100%;
    position: relative;
    margin: 0 auto;
    top: 45%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}
.close{
	width:39px;
	height:36px;
	position:absolute;
	right:74px;
	top:54px;
	cursor: pointer;
}
.r_main{
	width:300px;
	position:absolute;
	left:295px;
	top:147px;
}
.r_type{
	width:100%;
	height:30px;
	position:relative;
}
.r_type .r_ios{
	width:auto;
	height:100%;
	font-size:18px;
	line-height:30px;
	color:#8b8b8b;
	cursor: pointer;
	float:left;
}
.r_img{
	width:30px;
	height:30px;
	float:left;
	overflow: hidden;
	position:relative;
}
.r_type p{
	float:left;
	margin-left:8px;
}
.r_type .r_android{
	width:auto;
	height:100%;
	font-size:18px;
	line-height:30px;
	color:#8b8b8b;
	cursor: pointer;
	float:left;
	margin-left:42px;
}
.r_type>div.active .r_img img:nth-child(1){
	display: none;
}
.r_type>div.active p{
	color:#d5695f;
}
.form_put{
	width:100%;
	position:relative;
	margin-top:30px;
}
input{
	border:0;
	outline:0;
}
.form_put .put_img.active img:nth-child(1){
	display: none;
}
.p_put{
	width:297px;
	height:52px;
	overflow: hidden;
	position:relative;
}
.p_put .put_yzm{
	width:100%;
	height:100%;
}
.put_img{
	position:absolute;
	left:0;
	top:0;
	overflow: hidden;
}
.put_img img{
	display: block;
	width:100%;
	height:100%;
}
.phone{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	background:none;
	font-size:18px;
	text-indent:12px;
	line-height:52px;
	color:#573f3e;
}
.t_put{
	width:297px;
	height:52px;
	overflow: hidden;
	position:relative;
	margin-top:10px;
}
.put_yzm{
	width:180px;
	height:52px;
	float:left;
}
.y_put{
	width:297px;
	height:52px;
	overflow: hidden;
	position:relative;
	margin-top:10px;
}
.y_put .put_img{
	width:180px;
	height:52px;
}
.yzm{
	width:180px;
	height:52px;
	position:absolute;
	left:0;
	top:0;
	background:none;
	font-size:18px;
	text-indent:12px;
	line-height:52px;
	color:#573f3e;
}
.t_yzm{
	width:180px;
	height:52px;
	position:absolute;
	left:0;
	top:0;
	background:none;
	font-size:18px;
	text-indent:12px;
	line-height:52px;
	color:#573f3e;
}
.get_yzm{
	width:108px;
	height:52px;
	background:url(../images/m.png) no-repeat center;
	position:relative;
	overflow: hidden;
	float:right;
}
.g_code{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	background:none;
	font-size:18px;
	line-height:52px;
	color:#fff;
	text-align: center;
	cursor: pointer;
}
.captcha{
	width:108px;
	height:52px;
	background:url(../images/ca.png) no-repeat center;
	overflow: hidden;
	position:relative;
	float:right;
	cursor: pointer;
}
.captcha img{
	display: block;
	width:97px;
	height:49px;
	margin:0 auto;
}
.yxyy{
	width:232px;
	height:72px;
	position:relative;
	margin:20px auto 0;
	cursor: pointer;
}
