	{video_play}
	<div class="public_rule">
		{if $diy}
		{include file="../../../layouts/public.html"}
		<a href="/"><img src="{$smarty.const.STATIC_DOMAIN}2.0/images/yulan.png?{$smarty.const.VERSION}" alt="" /><img src="{$smarty.const.STATIC_DOMAIN}2.0/images/yulan_h.png?{$smarty.const.VERSION}" alt="" /></a>
		{else}
		<a href="/?diy=yes"><img src="{$smarty.const.STATIC_DOMAIN}2.0/images/bianji.png?{$smarty.const.VERSION}" alt="" /><img src="{$smarty.const.STATIC_DOMAIN}2.0/images/bianji_h.png?{$smarty.const.VERSION}" alt="" /></a>
		{/if}
	</div>
	<script src="http://cdnstatic.yingxiong.com/common/js/yx.js?{$smarty.const.VERSION}"></script>
</html>