.hide {
	display: none;
}
.header {
	width: 100%;
	height: 3.875rem;
	background: rgba(50,61,103, .9);
	position: fixed;
	top: 0;
	z-index: 19;
}
.l_download{
	width:6.875rem;
	height:6.375rem;
	background:url(../images/l_down.png) no-repeat center;
	background-size:100% 100%;
	overflow: hidden;
	position:absolute;
	right:3.5375rem;
	top:3.375rem;
	display: none;
}
.l_download a:nth-child(1){
	margin-top:1.4375rem;
}
.l_download a:nth-child(2){
	margin-top:0.625rem;
}
.l_download a{
	display: block;
	width:5.1875rem;
	height:1.6875rem;
	margin:0 auto;
}
.l_download a img{
	display: block;
	width:100%;
	height:100%;
}
.icon {
	display: block;
	width: 3.28125rem;
	height: 3.25rem;
	float: left;
	margin: 0.3125rem 0.3125rem 0 1rem;
}

.icon img {
	display: block;
	width: 100%;
	height: 100%;
}

.i_txt {
	float: left;
	font-size: 0.96rem;
	color: #fff;
	margin-top: 0.8rem;
}

.i_txt p:nth-child(2) {
	font-size: 0.625rem;
	color: #ced5ef;
	margin-top: 0.2rem;
}

.topLine1 {
	float: right;
	width: 1px;
	height: 90%;
	margin-top: 1%;
	background: #202640;
}

.topLine2 {
	float: right;
	width: 1px;
	height: 90%;
	margin-top: 1%;
	background: #44508d;
}

.c_download {
	width:4.5rem;
	height: 1.5625rem;
	background-color: #fdea21;
	border-radius: 0.9rem;
	text-align: center;
	line-height: 1.5625rem;
	color: #f66f00;
	font-size: 0.8125rem;
	font-weight: bold;
	float: right;
	margin: 1.125rem 0.2rem 0 0.1rem;
}

.c_download.c_download2 {
	margin: 1.125rem 1.2rem 0 0.1rem;
}

.goWebsite {
	width: 4.5rem;
	height: 1.5625rem;
	background-color: #139ef8;
	border-radius: 0.9rem;
	text-align: center;
	line-height: 1.5625rem;
	color: #fff;
	font-size: 0.8125rem;
	font-weight: bold;
	float: right;
	margin: 1.125rem 0.2rem 0 0;
}

.c_download a {
	color: #f66f00;
	outline: none;
}

.kv {
    width: 100%;
    height: 23.6875rem;
    background: url(../images/bg11.jpg) no-repeat center;
    background-size: 100% 100%;
    overflow: hidden;
    position: relative;
    margin-top: 3.875rem;
}
.juxing {
    width: 8.4375rem;
    height: 2.65625rem;
    position: absolute;
    left: 50%;
    margin-left: -4.21875rem;
    bottom: 1.6rem;
}
.juxing img {
	width: 100%;
	height: 100%;
}
.cont2 {
	position: relative;
	height:35.15625rem;
	background: url("../images/bg22.jpg") no-repeat center;
	background-size: cover;
}
.cont2 .yueGift {
	position: absolute;
	width: 18.46875rem;
	height: 3.65625rem;
	top: 0.4rem;
	left: 50%;
	margin-left:-9.234325rem;
	background: url("../images/gift_box.png") no-repeat center;
	background-size: cover;
}
.cont2 .login_info{
    width: 100%;
    height: 1.5rem;
    position: relative;
    top: 4rem;
}
.cont2 .login_info p{
    width:100%;
	height:1.5rem;
	line-height:1.5rem;
	text-align: center;
	color: #fff;
	font-size: 0.8rem;
}
.cont2 .login_info p a,.cont2 .login_info span{
	color: #fff;
}
.cont2 .yy_lq{
    width: 7.90625rem;
    position: absolute;
    top: 5.7rem;
    left: 50%;
    margin-left: -3.953125rem;
}
.cont2 .yy_lq img:nth-child(1){
	width:7.90625rem;
	position: absolute;
    top: 0;
    left: 0;
}
.cont2 .yy_lq img:nth-child(2){
    width: 2.20625rem;
    position: absolute;
    top: -0.3rem;
    left: 0.5rem;
    animation: shake 2.5s linear infinite;
    -webkit-animation: shake 2.5s linear infinite;
}
@keyframes shake{
  0%{transform: rotate(0deg);}
  50%{transform: rotate(0deg);}
  75%{transform: rotate(0deg);}
  90%{transform: rotate(0deg);}
  95%{transform: rotate(-10deg);}
  98%{transform: rotate(10deg);}
  100%{transform: rotate(0deg);}
}
@-webkit-keyframes shake{
  0%{transform: rotate(0deg);}
  50%{transform: rotate(0deg);}
  75%{transform: rotate(0deg);}
  90%{transform: rotate(0deg);}
  95%{transform: rotate(-10deg);}
  98%{transform: rotate(10deg);}
  100%{transform: rotate(0deg);}
}
.cont2 .lb_Code{
    width: 7.84375rem;
    height: 2.0625rem;
    line-height: 2.0625rem;
    background: #fff;
    padding-left: 0.5rem;
    text-align: center;
    color: #354173;
    font-size: 0.625rem;
    position: absolute;
    top: 5.6rem;
    padding-right: 1.7rem;
    left: 50%;
    margin-left: -4.921875rem;
    border-radius: 25px;
    display: none;
}
.cont2 .lb_Code img{
    width: 2.25rem;
    position: absolute;
    top: -0.2rem;
    left: -1rem;
}
.cont2 .lb_Code i{
	font-style: normal;
	display: block;
	position:absolute;
	top:0;
	right:0;
	height:100%;
	background: #F9C704;
	text-align: center;
	padding:0 0.5rem;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}
.cont3 {
	height:30.75rem;
	background: url("../images/bg33.jpg") no-repeat center;
	background-size: cover;
}
.cont3 .slide{
	position: relative;
	top:1.3rem;
	width:18.46875rem;
	height:25.5625rem;
	margin: 0 auto;
}
.cont3 .swiper-container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.cont3 .swiper-container .swiper-slide>a {
	margin-left: 50%;
	display: inline-block;
	width: 11rem;
	height: 20rem;
	text-align: center;
	transform: translate(-5.9375rem, 0);
	-ms-transform: translate(-5.9375rem, 0);
	-webkit-transform: translate(-5.9375rem, 0);
	-o-transform: translate(-5.9375rem, 0);
	-moz-transform: translate(-5.9375rem, 0);
}

.cont3 .swiper-container .swiper-slide>a .images {
	width:14.34375rem;
	height:25.5625rem;
	margin-left: 5.9375rem;
	transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
}

.cont3 .swiper-container-3d .swiper-slide .swiper-slide-shadow-left {
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
	background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
	background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.cont3 .swiper-container-3d .swiper-slide .swiper-slide-shadow-right {
	background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.cont3 .swiper-container-3d .swiper-slide-shadow-bottom,
.cont3 .slider .swiper-container-3d .swiper-slide-shadow-left,
.cont3 .swiper-container-3d .swiper-slide-shadow-right,
.cont3 .slider .swiper-container-3d .swiper-slide-shadow-top {
	position: absolute;
	left: -1.8125rem;
	top: 0;
	width: 153.5%;
	height: 100%;
	pointer-events: none;
	z-index: 10;
}

.cont2 .shareTitle{
	position: relative;
	top:8.5rem;
	width: 16.40625rem;
	height:2.34375rem;
	margin:0 auto;
	background: url("../images/title2.png") no-repeat center;
	background-size: cover;
}
.cont2 .jq_Btn{
	position: relative;
	top:28.5rem;
	display: block;
	width:9.125rem;
	height:2.90625rem;
	margin:0 auto;
	background: url("../images/add_qun.png") no-repeat center;
	background-size: cover;
}
.cont3 .shareTitle{
	position: relative;
	top:0.5rem;
	width:6.375rem;
	height:2.34375rem;
	margin:0 auto;
	background: url("../images/title3.png") no-repeat center;
	background-size: cover;
}

.bottom {
	width: 100%;
	height:20.90625rem;
	background: url(../images/bottom.jpg) no-repeat center;
	background-size: 100% 100%;
	overflow: hidden;
	position: relative;
	z-index: 9;
}

.erweima {
	width: 8rem;
	height: 8rem;
	border: 1px solid #9699ab;
	margin: 2.59375rem auto 0;
}

.erweima img {
	display: block;
	width: 7.46875rem;
	height: 7.46875rem;
	margin: 0.28125rem auto 0;
}

.code_txt {
	width: 100%;
	position: relative;
	margin-top: 1rem;
	text-align: center;
}

.code_txt p {
	font-size: 0.875rem;
	color: #fff;
	line-height: 1.5rem;
}

.code_txt p span {
	color: #ffd21f;
}

.code_txt p:nth-child(2) {
	font-size: 0.6875rem;
}

.code_txt p:nth-child(3) {
	font-size: 0.6875rem;
}
.back {
	display: block;
	width: 2.625rem;
	height: 1.40625rem;
	margin: 1.75rem auto 0;
}
/*预约弹窗*/
.login_yy,.dialog,.login_tc{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, .9);
	top: 0;
	left: 0;
	z-index: 20;
	display: none;
}
.login_c {
	width:19.5625rem;
	height:23.90625rem;
	background: url('../images/tc_bg.png') no-repeat center;
	background-size: 100% 100%;
	top:50%;
	position:absolute;
	margin-top:-11.953125rem;
	left:50%;
	margin-left:-9.78725rem;
}
.login_c .close{
    position: absolute;
    top: 2.6125rem;
    right: 0rem;
    width: 1.8rem;
    height: 1.8rem;
}
.g_txt{
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-top: 5.7rem;
    margin-bottom: 1rem;
}
.s_put {
	width:13.78125rem;
	position: relative;
	font-size: 0;
	margin: 0 auto;
	overflow: hidden;
}
.wrong {
	display: block;
	width: 100%;
	height: 0.8rem;
	font-size: 0.75rem;
	color: #ec1212;
	font-style: normal;
	margin-top: 3px;
	visibility: hidden;
}
.wrong img{
	margin-right: 0.3rem;
    position: relative;
    top: 0.1rem;
}
input {
	border: 0;
	outline: 0;
}
.phone {
	width: 100%;
	height: 2.15625rem;
	background: url('../images/s_put.png') no-repeat center;
	background-size: 100% 100%;
	overflow: hidden;
	position: relative;
	margin-top: 0.3125rem;
	font-size: 0.825rem;
	color: #000;
	text-indent: 1.09375rem;
	/*line-height:1.5rem;*/
}
.p_put {
	width: 100%;
	height: 1.9rem;
	position: relative;
}
.pic_code {
	width:8.90625rem;
	height: 2.15625rem;
	background: url('../images/img.png') no-repeat center;
	background-size: 100% 100%;
	overflow: hidden;
	position: relative;
	margin-top: 0.3125rem;
	font-size: 0.825rem;
	color: #000;
	text-indent: 1.09375rem;
	/*line-height:1.5rem;*/
	float: left;
}

.capture {
	width: 4.86875rem;
	height: 2.15625rem;
	background: url('../images/pic.png') no-repeat center;
	background-size: 100% 100%;
	overflow: hidden;
	float: right;
	margin-top: 0.3125rem;
}
.capture span{
	display: block;
	width:100%;
	height:100%;
	line-height: 2.15625rem;
	text-align: center;
    font-size: 0.9rem;
    color: #F15F03;
    font-weight: bolder;
}
.capture img {
	display: none;
	width: 100%;
	height: 100%;
}
.i_code {
	width: 8.90625rem;
	height: 2.15625rem;
	background: url('../images/img.png') no-repeat center;
	background-size: 100% 100%;
	overflow: hidden;
	position: relative;
	margin-top: 0.3125rem;
	font-size:0.825rem;
	color: #000;
	text-indent: 1.09375rem;
	/*line-height:1.5rem;*/
	float: left;
}
.g_code {
	width:4.86875rem;
	height:2.15625rem;
	line-height:2.15625rem;
	background-color: #327aef;
	overflow: hidden;
	float: right;
	margin-top: 0.3125rem;
	color: #fff;
	font-size: 0.75rem;
	text-align: center;
}
.sure {
	width:8.53125rem;
	height:2.75rem;
	position: relative;
	margin:1.3rem auto 0;
}
.l_sure{
	background: url('../images/btn_dl.png') no-repeat;
	background-size: 100% 100%;
}
.y_sure{
	margin:1.2rem auto 0;
	background: url('../images/lgyy.png') no-repeat;
	background-size: 100% 100%;
}
.sure img {
	display: block;
	width: 100%;
	height: 100%;
}
/*预约成功弹窗*/
.dialog-success{
	width:19.5625rem;
	height:21.15625rem;
	background: url('../images/tc_bg.png') no-repeat top;
	background-size: 100% auto;
	top:50%;
	position:absolute;
	margin-top:-11.953125rem;
	left:50%;
	margin-left:-9.78725rem;
}
.close {
    position: absolute;
    top: 2.6125rem;
    right: 0rem;
    width: 1.8rem;
    height: 1.8rem;
}
.dialog-success h3{
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-top: 5.7rem;
    margin-bottom: 1rem;
}
.dialog-success .lb_Code{
    width: 9rem;
    height: 2.5rem;
    line-height: 2.5rem;
    background: #fff;
    padding-left: 2.5rem;
    text-align: center;
    color: #354173;
    font-size: 0.8255rem;
    position: relative;
    margin: 0 auto;
    margin-top: 1rem;
    padding-right: 2.7rem;
    border-radius: 12px;
}
.dialog-success>img{
    width: 7.1875rem;
    display: block;
    margin: 0 auto;
    position: relative;
    margin-top: 2.2rem;
}
.dialog-success .lb_Code img{
    width: 3.25rem;
    position: absolute;
    top: -0.8rem;
    left: -0.2rem;
}
.dialog-success .lb_Code i{
	font-style: normal;
	display: block;
	position:absolute;
	top:0;
	right:0;
	height:100%;
	background: #F9C704;
	text-align: center;
	padding:0 0.5rem;
	font-size: 0.9rem;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	font-weight: bold;
}
.dialog-success .yy_suc{
	width:10.46875rem;
	height:3.0rem;
	position: relative;
	margin:2.5rem auto 0;
	display: block;
	background: url('../images/btn_tz.png') no-repeat top;
	background-size: 100% 100%;
}
/*预约平台*/
.yy_tc{
	width:19.5625rem;
	height:17.59375rem;
	background: url('../images/tc_bg.png') no-repeat top;
	background-size: 100% auto;
	top:50%;
	position:absolute;
	margin-top:-11.953125rem;
	left:50%;
	margin-left:-9.78725rem;
}
.yy_tc .close {
    position: absolute;
    top: 2.5125rem;
    right: 0rem;
    width: 1.8rem;
    height: 1.8rem;
}
.login_yy .g_txt{
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-top: 5.7rem;
    margin-bottom: 1rem;
}
.ul_text{

    font-size:0.825rem;
    color: #fff;
    line-height:0.9rem;
    cursor: pointer;
    /* width: 100%; */
    text-align: center;
}
.yy_ul {
    width: 8.78125rem;
    /*height: 2.8125rem;*/
    position: relative;
    margin: 0 auto;
    padding-bottom: 0.25rem;
    margin-top: 2rem;
}
.yy_ul li {
    height: 1.2rem;
    position: relative;
    font-size: 0.4375rem;
    margin-bottom: 1rem;
}
.yy_ul li.active .li_div img:nth-child(1) {
	display: none;
}
.yy_ul li {
	margin-top: 1.03125rem;
}
.yy_ul li:nth-child(1)>img{
     width:6.65625rem;
}
.yy_ul li:nth-child(2)>img{
	width:6.375rem;
}
.yy_ul li .li_div {
    width: 1.03125rem;
    height: 1.03125rem;
    overflow: hidden;
    position: relative;
    float: left;
    margin-right: 1rem;
    top: 0.1rem;
}
.yy_ul li .li_div img {
	display: block;
	width: 100%;
	height: 100%;
}

.yy_ul li i {
	display: block;
	float: left;
	color: #4e51b0;
	font-style: normal;
	line-height: 0.71875rem;
	margin-left: 0.25rem;
}
.yy_ul li.active i{
	color:#fcd20a;
}
/*底部*/
#Hero-bar{
	width: 100%;
	overflow: hidden;
	background: #313131;
	position: relative;
	z-index: 999;
	padding-bottom: 9.5px;
}
#Hero-bar label{
	width: 2.40625rem;
    height:2.6875rem;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -1.34375rem;
    left:1.09375rem;
    background: url(../images/logo1.png) no-repeat;
    background-size: 100% 100%;
}
footer .f_t{
	width: 18.34375rem;
	height:5.625rem;
	border-bottom:1px solid #666;
	position: relative;
	margin:0 auto;
	text-align: center;
	margin-top: -1.5px;
}
footer .f_t ul{
    width: 13.28125rem;
    position: absolute;
    right: 0;
    margin-top: 1.5rem;
    display: inline-block;
}
footer .f_t ul li{	
    width: auto;
    height: 14.5px;
    line-height: 9.5px;
    text-align: center;
    padding-right: 7.6%;
    float: left;
    padding-left: 2.6%;
    margin-bottom:1rem;
}
footer .f_t ul a{
	width: auto;
	color: #ccc;
	font-size: 0.75rem;
}
footer .f_t .tel{
	width: 115px;
	height: 22.5px;
	display: inline-block;
}
footer .f_t .tel a{
	display: block;
	font-size: 10.5px;
	color: #ccc;
	line-height: 22.5px;
}
footer .f_t .tel a i{
	display: inline-block;
	width: 22.5px;
	height: 22.5px;
	margin-right: 5.5px;
	float: left;
	background: url(../images/tel.png);
	background-size: 100% 100%;
}
footer p{
	width: 100%;
	padding-left:0.8125rem;
	text-align:left;
	color: #999;
	font-size:0.75rem;
	margin-bottom:0.5rem;
}
footer p.f_link{
	margin-top:1rem;
	color: #999;
}
footer p.f_txt{
	line-height: 1.4rem;
	margin-top:1.5rem;
	color: #666;
}
.yx_tips_txt{
    position: absolute;
    width: 10rem !important;
    height:auto;
    padding:18px auto;
    line-height: 25px;
    border-radius: 10px;
    background: #fff;
    text-align: center;
    left: 50%;
    margin-left: -99px !important;
    top: 50%;
    margin-top: -24px;
    color: #666;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
}