.cont2 {
	position: relative;
	height: 26.5625rem;
	background-image: url("../images/c_bg2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.cont2 .seeMyGift {
	position: absolute;
	width: 6.625rem;
	height: 2.1875rem;
	top: -1.5rem;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	background-image: url("../images/c_myGift.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.cont2 .yueGift {
	position: absolute;
	width: 18.71875rem;
	height: 2.71875rem;
	top: 1.5rem;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	background-image: url("../images/c_yueGift.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.cont2 .bigNum {
	position: relative;
	width: 18.28125rem;
	height: 3.875rem;
	margin-left: auto;
	margin-right: auto;
	top: 10.3125rem;
	background-image: url("../images/c_bigNumBg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.cont2 .bigNum ul {
	position: absolute;
	top: 0.5rem;
	left: 0.62rem;
	height: 2.25rem;
}

.cont2 .bigNum ul li {
	float: left;
	width: 2.16rem;
	line-height: 2.25rem;
	height: 100%;
	margin-right: 0.3125rem;
	text-align: center;
	font-size: 1.84375rem;
	font-weight: bold;
	color: #953602;
}

.cont2 .bigNum ul li:last-child {
	margin-right: 0;
}

.cont2 .bigNum ul:after {
	content: '';
	display: block;
	clear: both;
}

.cont2 .giftBox {
	position: relative;
	width: 16.65625rem;
	height: 10.78125rem;
	margin-left: auto;
	margin-right: auto;
	top: 12.5rem;
	background-image: url("../images/c_giftBox.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.cont2 .giftBox div {
	position: absolute;
}

.cont2 .giftBox .yueGiftBox {
	width: 3rem;
	height: 3rem;
	z-index: 9;
}
.cont2 .giftBox .yueGiftBox i{
	width:0.8125rem;
	height:0.8125rem;
	background-color:#ffc90e;
	border-radius: 50%;
	text-align: center;
	font-size:.6rem;
	color:#e95e00;
	font-style: normal;
	position:absolute;
	font-weight:bold;
	left:1.09375rem;
	line-height:0.8125rem;
}
.cont2 .giftBox .yueGiftBox1 {
	left: 0;
	top: 0;
}
.cont2 .giftBox .yueGiftBox1 i{
	bottom:-2.4rem;
	left:1rem;
}
.cont2 .giftBox .yueGiftBox2 {
	left: 3.4rem;
	bottom: 0;
}
.cont2 .giftBox .yueGiftBox2 i{
	top:-2.25rem;
	left:1rem;
}
.cont2 .giftBox .yueGiftBox3 {
	left: 6.7rem;
	top: 0;
}
.cont2 .giftBox .yueGiftBox3 i{
	bottom:-2.4rem;
}
.cont2 .giftBox .yueGiftBox4 {
	right: 3.4rem;
	bottom: 0;
}
.cont2 .giftBox .yueGiftBox4 i{
	top:-2.25rem;
	left:.9rem;
}
.cont2 .giftBox .yueGiftBox5 {
	right: 0;
	top: 0;
}
.cont2 .giftBox .yueGiftBox5 i{
	bottom:-2.4rem;
}
.cont2 .giftBox .block {
	width: 0.90625rem;
	height: 0.9375rem;
	background-image: url("../images/c_block.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.cont2 .giftBox .block .giftDialog {
	display: none;
	position: absolute;
	width: 5.25rem;
	height: 9.84375rem;
	background-image: url("../images/c_giftDialog.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: 9;
}

.cont2 .giftBox .block .giftDialog ul {
	position: relative;
	top: 0.3rem;
	padding: 0 0.1rem;
	margin-left: auto;
	margin-right: auto;
}

.cont2 .giftBox .block .giftDialog ul li {
	height: 1.5rem;
	font-size: 0.4rem;
	line-height: 1.3rem;
	text-align: center;
	color: #b06412;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.cont2 .giftBox .block .giftDialog ul li img {
	float: left;
	height: 1.2rem;
}

.cont2 .giftBox .block .giftDialog ul li:after {
	content: '';
	display: block;
	clear: both;
}

.cont2 .giftBox .block .giftDialog .noReach {
	position: relative;
	width: 5.09375rem;
	height: 1.25rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	background-color: #a4a4a4;
	text-align: center;
	line-height: 1.25rem;
	font-size: 0.6rem;
	color: #787878;
}

.cont2 .giftBox .block .giftDialog .get {
	display: none;
	position: relative;
	width: 5.09375rem;
	height: 1.25rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	background-color: #ffab08;
	text-align: center;
	line-height: 1.25rem;
	font-size: 0.6rem;
	color: #9b5b00;
}

.cont2 .giftBox .block .giftDialog .getSuccess {
	display: none;
	position: relative;
	width: 5.09375rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.8rem;
	background-color: #f4e5c5;
}

.cont2 .giftBox .block .giftDialog .getSuccess h4 {
	text-align: center;
	font-size: 0.6rem;
	color: #c77f03;
}

.cont2 .giftBox .block .giftDialog .getSuccess p {
	font-size: 0.4rem;
	text-align: center;
}

.cont2 .giftBox .block .giftDialog1 {
	left: -2.2rem;
	top: -13.5rem;
}

.cont2 .giftBox .block .giftDialog2 {
	left: -2.2rem;
	top: -8rem;
}

.cont2 .giftBox .block .giftDialog3 {
	left: -2.2rem;
	top: -13.5rem;
}

.cont2 .giftBox .block .giftDialog4 {
	left: -2.2rem;
	top: -8rem;
}

.cont2 .giftBox .block .giftDialog5 {
	left: -2.2rem;
	top: -13.5rem;
}

.cont2 .giftBox .block.active {
	background-image: url("../images/block_active.png");
}

.cont2 .giftBox .block1 {
	top: 3.4375rem;
	left: 0.9375rem;
}

.cont2 .giftBox .block2 {
	bottom: 3.375rem;
	left: 4.375rem;
}

.cont2 .giftBox .block3 {
	top: 3.4375rem;
	left: 7.8125rem;
}

.cont2 .giftBox .block4 {
	bottom: 3.375rem;
	right: 4.6875rem;
}

.cont2 .giftBox .block5 {
	top: 3.4375rem;
	right: 1.09375rem;
}

.cont2 .giftBox .line {
	width: 2.95rem;
	height: 2.59375rem;
	background-repeat: no-repeat;
	background-position: center;
}

.cont2 .giftBox .line-left {
	background-image: url("../images/c_line2.png");
}

.cont2 .giftBox .line-right {
	background-image: url("../images/c_line1.png");
}

.cont2 .giftBox .line-left.active {
	background-image: url("../images/c_line2_active.png");
}

.cont2 .giftBox .line-right.active {
	background-image: url("../images/c_line1_active.png");
}

.cont2 .giftBox .line1 {
	top: 4.1rem;
	left: 1.65rem;
}

.cont2 .giftBox .line2 {
	top: 4.1rem;
	left: 5rem;
}

.cont2 .giftBox .line3 {
	top: 4.1rem;
	right: 5.3rem;
}

.cont2 .giftBox .line4 {
	top: 4.2rem;
	right: 1.8rem;
}

.cont3 {
	height: 26.5625rem;
	background-image: url("../images/c_bg3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.cont3 .shareTitle {
	position: relative;
	top: 4rem;
	width: 15.03125rem;
	height: 2.53125rem;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/c_shareTitle.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.cont3 .loginBtn {
	position: relative;
	top: 6rem;
	width: 5.59375rem;
	height: 5rem;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/c_loginBg.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top center;
	text-align: center;
	color: #fefefe;
	font-size: 0.71875rem;
	line-height: 1.5rem;
	font-weight: bold;
}

.cont3 .loginEd {
	display: none;
	position: relative;
	top: 5rem;
}

.cont3 .loginEd .phoneNum {
	color: #fffefe;
	font-size: 0.6875rem;
	font-weight: bold;
	text-align: center;
}

.cont3 .loginEd .phoneNum i {
	font-style: normal;
	color: #ffd200;
	margin-left: 0.3125rem;
}

.cont3 .loginEd .yaoCode {
	margin: 6px auto;
	width: 10rem;
	height: 1.5625rem;
	background-color: #0b6abd;
	border: 2px solid #6ebaf4;
	border-radius: 5px;
	font-size: 0.6rem;
	color: #80e5fc;
	font-weight: bold;
	text-align: center;
	line-height: 1.5625rem;
}

.cont3 .loginEd .yaoCode span {
	margin-left: 0.46875rem;
}

.cont3 .loginEd .yaoCode i {
	display: inline-block;
	width: 1.875rem;
	height: 0.9375rem;
	background-color: #ffd200;
	font-style: normal;
	border-radius: 0.46875rem;
	line-height: 0.9375rem;
	text-align: center;
	color: #fff;
	font-weight: bold;
	margin-left: 0.46875rem;
}

.cont3 .loginEd .yaoSuccess {
	color: #ffffff;
	font-size: 0.5625rem;
	font-weight: bold;
	text-align: center;
}

.cont3 .loginEd .shareBtn {
	display: block;
	position: relative;
	top: 0.5rem;
	width: 5.59375rem;
	height: 1.90625rem;
	margin-left: auto;
	margin-right: auto;
}

.cont3 .shareImage {
	width: 15.15625rem;
	height: 10.8125rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5.8rem;
	background-image: url("../images/shareImage.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.cont3 .shareImage li {
	position: absolute;
	display: none;
}

.cont3 .shareImage li img {
	display: block;
	width: 100%;
	height: 100%;
}

.cont3 .shareImage li.active {
	display: block;
}

.cont3 .shareImage li:nth-child(1) {
	width: 2.25rem;
	height: 3.375rem;
	left: 6.15625rem;
	top: 1.875rem;
	z-index: 3;
}

.cont3 .shareImage li:nth-child(2) {
	width: 2.21875rem;
	height: 3.09375rem;
	left: 7.71875rem;
	top: 2.28125rem;
	z-index: 3;
}

.cont3 .shareImage li:nth-child(3) {
	width: 2.59375rem;
	height: 2.9375rem;
	left: 4.1875rem;
	top: 2.28125rem;
	z-index: 2;
}

.cont3 .shareImage li:nth-child(4) {
	width: 2.46875rem;
	height: 3.125rem;
	left: 9.65625rem;
	top: 2.125rem;
	z-index: 2;
}

.cont3 .shareImage li:nth-child(5) {
	width: 2.34375rem;
	height: 4.5625rem;
	left: 6.03125rem;
	top: 0;
	z-index: 1;
}

.cont3 .shareImage li:nth-child(6) {
	width: 2.25rem;
	height: 4.4375rem;
	left: 7.8125rem;
	top: 0.46875rem;
	z-index: 1;
}

.cont3 .shareImage li:nth-child(7) {
	width: 2.0625rem;
	height: 3.90625rem;
	left: 4.4375rem;
	top: 0.75rem;
	z-index: 1;
}

.cont3 .shareImage li:nth-child(8) {
	width: 1.875rem;
	height: 4.03125rem;
	left: 10rem;
	top: 0.625rem;
	z-index: 1;
}

.cont3 .shareImage li:nth-child(9) {
	width: 2.15625rem;
	height: 3.34375rem;
	left: 2.90625rem;
	top: 1.65625rem;
	z-index: 1;
}

.cont3 .shareImage li:nth-child(10) {
	width: 2.53125rem;
	height: 3.375rem;
	left: 11.375rem;
	top: 1.5rem;
	z-index: 1;
}

.cont3 .shareGift {
	position: relative;
	top: -3.2rem;
	padding: 0 0.625rem;
	z-index: 10;
}

.cont3 .shareGift .giftInfo {
	position: relative;
	float: left;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.cont3 .shareGift .giftInfo .yaoGiftBox {
	display: none;
	position: absolute;
	top: -6.8rem;
	left: -0.5rem;
	width: 5.21875rem;
	height: 9.2rem;
	padding: 0 0.1rem;
	background-image: url("../images/c_giftDialog2.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.cont3 .shareGift .giftInfo .yaoGiftBox li {
	height: 2.2rem;
	font-size: 0.4rem;
	line-height: 1.5rem;
	text-align: center;
	color: #0b6abd;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.cont3 .shareGift .giftInfo .yaoGiftBox li img {
	float: left;
	height: 1.5rem;
}

.cont3 .shareGift .giftInfo .yaoGiftBox p {
	width: 98%;
	margin-top: 0.5rem;
	margin-left: auto;
	margin-right: auto;
	background-color: #d9ebf8;
	font-size: 0.5rem;
	text-align: center;
	color: #6684b1;
}

.cont3 .shareGift .giftInfo .shareGift-noReach,
.cont3 .shareGift .giftInfo .shareGift-get,
.cont3 .shareGift .giftInfo .shareGift-getSuccess {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 4.4375rem;
	height: 1.53125rem;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: 9;
}

.cont3 .shareGift .giftInfo .shareGift-noReach {
	background-image: url("../images/c_notReach.png");
}

.cont3 .shareGift .giftInfo .shareGift-get {
	display: none;
	background-image: url("../images/c_receive.png");
}

.cont3 .shareGift .giftInfo .shareGift-getSuccess {
	display: none;
	background-image: url("../images/c_receiveed.png");
}

.cont3 .shareGift .giftInfo:nth-child(1) {
	width: 5.8125rem;
	height: 6.46875rem;
	margin-top: -2.08rem;
	background-image: url("../images/c_shareGift1.png");
}

.cont3 .shareGift .giftInfo:nth-child(2) {
	width: 5.90625rem;
	height: 6.46875rem;
	margin-left: -1.07rem;
	margin-top: -2.08rem;
	background-image: url("../images/c_shareGift2.png");
}

.cont3 .shareGift .giftInfo:nth-child(3) {
	width: 4.34375rem;
	height: 4.34375rem;
	margin-left: -1.07rem;
	background-image: url("../images/c_shareGift3.png");
}

.cont3 .shareGift .giftInfo:nth-child(3) .shareGift-noReach,
.cont3 .shareGift .giftInfo:nth-child(3) .shareGift-get,
.cont3 .shareGift .giftInfo:nth-child(3) .shareGift-getSuccess {
	bottom: -0.1rem;
}

.cont3 .shareGift .giftInfo:nth-child(3) .yaoGiftBox {
	top: -8.88rem;
}

.cont3 .shareGift .giftInfo:nth-child(4) {
	float: right;
	width: 4.34375rem;
	height: 4.34375rem;
	background-image: url("../images/c_shareGift4.png");
}

.cont3 .shareGift .giftInfo:nth-child(4) .shareGift-noReach,
.cont3 .shareGift .giftInfo:nth-child(4) .shareGift-get,
.cont3 .shareGift .giftInfo:nth-child(4) .shareGift-getSuccess {
	bottom: -0.1rem;
}

.cont3 .shareGift .giftInfo:nth-child(4) .yaoGiftBox {
	top: -8.88rem;
}

.cont3 .shareGift:after {
	content: '';
	display: block;
	clear: both;
}

.cont4 {
	position: relative;
	height: 26.5625rem;
	background-image: url("../images/c_bg4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.cont4 .luckyTitle {
	position: relative;
	top: 3rem;
	width: 15.0625rem;
	height: 2.71875rem;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/c_luckyTitle.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.cont4 .four_p {
	display: none;
	position: absolute;
	width: 100%;
	top: 6rem;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	text-align: center;
	color: #fff;
	font-size: 0.7rem;
}

.cont4 .four_p span {
	color: #ffab08;
}

.cont4 .turnTableBox {
	position: relative;
	top: 3.5rem;
	width: 100%;
	height: 19rem;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/c_turntableBox.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.cont4 .turnTableBox .turnTable {
	position: relative;
	top: 2.6rem;
	width: 13.78125rem;
	height: 13.75rem;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/c_turntable.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.cont4 .turnTableBox .pointer {
	position: relative;
	top: -9rem;
	width: 5.75rem;
	height: 7.59375rem;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/c_pointer.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.cont4 .turnTableBox .pointer p {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 1.3rem;
	font-weight: bold;
	color: #fff;
	font-size: 0.6rem;
	text-align: center;
	text-shadow: 0px 2px 0px rgba(214, 68, 124, 0.004);
}

.cont4 .turnTableBox .pointer p .chance {
	color: #ffde00;
}

.cont4 .turnTableBox .luckyGirl {
	position: absolute;
	left: 0.6875rem;
	bottom: 0;
	width: 4.3125rem;
	height: 6.03125rem;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/c_luckyGirl.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.cont4 .ruleBox {
	display: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	bottom: 1.8rem;
	width: 15.0625rem;
	/*height: 12.96875rem;*/
	padding: 0.4rem 0.2rem 0 0.75rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/c_rules.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	z-index: 11;
}
.cont4 .ruleBox ul{
	padding-bottom:1rem;
}
.cont4 .ruleBox ul li {
	color: #fff;
	font-size: 0.4375rem;
	line-height:0.8125rem;
}

.cont4 .ruleBox ul li span {
	color: #ffd200;
}

.cont4 .ruleBox p {
	margin-top: 0.1rem;
	font-weight: bold;
	font-size: 0.4rem;
	color: #ffd200;
}

.cont4 .ruleBtn {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	padding: 0.2rem 0.8rem;
	color: #20a19f;
	font-weight: bold;
	font-size: 0.9rem;
	border-radius: 20px;
	background-color: #ffdb32;
}

.cont5 {
	height: 26.5625rem;
	background-image: url("../images/c_bg5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.cont5 .slide {
	position: relative;
	top: 3.8rem;
	width: 17rem;
	height: 20rem;
	margin: 0 auto;
}

.cont5 .gameTitle {
	position: relative;
	top: 3rem;
	width: 6.875rem;
	height: 2.53125rem;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/c_gameTitle.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.cont5 .swiper-container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.cont5 .swiper-container .swiper-slide>a {
	margin-left: 50%;
	display: inline-block;
	width: 11rem;
	height: 20rem;
	text-align: center;
	transform: translate(-5.9375rem, 0);
	-ms-transform: translate(-5.9375rem, 0);
	-webkit-transform: translate(-5.9375rem, 0);
	-o-transform: translate(-5.9375rem, 0);
	-moz-transform: translate(-5.9375rem, 0);
}

.cont5 .swiper-container .swiper-slide>a .images {
	width: 11rem;
	margin-left: 5.9375rem;
	height: 20rem;
	transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
}

.cont5 .swiper-container-3d .swiper-slide .swiper-slide-shadow-left {
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
	background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
	background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.cont5 .swiper-container-3d .swiper-slide .swiper-slide-shadow-right {
	background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.cont5 .swiper-container-3d .swiper-slide-shadow-bottom,
.cont5 .slider .swiper-container-3d .swiper-slide-shadow-left,
.cont5 .swiper-container-3d .swiper-slide-shadow-right,
.cont5 .slider .swiper-container-3d .swiper-slide-shadow-top {
	position: absolute;
	left: -1.8125rem;
	top: 0;
	width: 153.5%;
	height: 100%;
	pointer-events: none;
	z-index: 10;
}

.cont5 .swiper-button-prev {
	width: 2.125rem;
	height: 2.0625rem;
	background: url('../images/c_prev.png') no-repeat;
	background-size: 100% 100%;
	left: -1.125rem;
}

.cont5 .swiper-button-next {
	width: 2.125rem;
	height: 2.0625rem;
	background: url('../images/c_next.png') no-repeat;
	background-size: 100% 100%;
	right: -1.125rem;
}

.price .c_price {
	height: 25rem;
	width: 18rem;
	text-align: center;
	position: relative;
	transform: translateY(-45%);
	-webkit-transform: translateY(-45%);
	-o-transform: translateY(-45%);
	-ms-transform: translateY(-45%);
	-moz-transform: translateY(-45%);
	overflow: hidden;
}

.price .c_price .huadong {
	width: 100%;
	height: 18rem;
	margin: 0.3125rem auto 0;
	position: relative;
	overflow: auto;
}

.price .c_price .tabPage {
	text-align: center;
}

.price .c_price .tabPage span {
	font-size: 0.7rem;
	color: #fff;
}

.price .c_price .tabPage span:first-child {
	margin-right: 0.5rem;
}

.price .c_price .tabPage .allIn {
	height: 2.35rem;
	width: 8.5rem;
}

.price .c_price p {
	color: #4e51b0;
	font-size: 0.75rem;
	text-align: center;
	margin-top: 1rem;
}

.price .c_price h4 {
	color: #4e51b0;
	font-size: 0.9rem;
	text-align: center;
}

.price .c_price table {
	width: 14.0625rem;
	margin: 0 auto;
	border-collapse: collapse;
}
.price .c_price .tab_ul {
	width: 14.0625rem;
	margin: 0 auto;
	border-collapse: collapse;
}
.price .c_price .tab_ul li{
	width:100%;
	height:1.8rem;
	overflow: hidden;
	position:relative;
	display: flex;
	display: -webkit-flex;
	justify-content: space-around;
	text-align: center;	
	font-size:.4rem;
	line-height:1.8rem;
	border-bottom: 1px dashed #4e51b0;
	color:#4e51b0;
}
.price .c_price .tab_ul.tab_ul1 li:nth-child(1){
	color: #4e51b0;
    font-size: 0.7rem;
    margin-top: 1rem;
    font-weight:bold;
}
.price .c_price .tab_ul span{
	width:50%;
	height: 1.8rem;
}
.price .c_price thead {
	border-bottom: 1px solid #4e51b0;
}

.price .c_price thead tr th {
	width: 50%;
	color: #4e51b0;
	font-size: 0.7rem;
	margin-top: 1rem;
}

.price .c_price tbody tr {
	height: 1.8rem;
	border-bottom: 1px dashed #4e51b0;
}

.price .c_price tbody tr td:nth-child(1) {
	color: #4e51b0;
	font-size: 0.4rem;
}

.price .c_price tbody tr td:nth-child(2) {
	color: #000;
	font-size: 0.4rem;
}

.price .c_price tbody tr td:nth-child(3) {
	color: #7279b6;
	font-size: 0.4rem;
	text-align: center;
}

.materialGift {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	left: 0;
	top: 0;
	display: none;
	z-index: 20;
}

.materialGift .c_price {
	text-align: center;
}

.materialGift h4 {
	margin-top: 1rem;
	font-size: 0.75rem;
	color: #4e51b0;
	text-align: center;
}

.materialGift .giftImage {
	width: 3rem;
	height: 3rem;
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
}

.materialGift span {
	margin-top: 0.2rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.6rem;
	font-weight: bold;
	color: #4e51b0;
}

.materialGift p {
	margin-top: 0.8rem;
	font-size: 0.6rem;
	color: #4e51b0;
}

.materialGift .clickBtn {
	width: 6rem;
	height: 2rem;
	margin-top: 1rem;
}

.nullGift {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	left: 0;
	top: 0;
	display: none;
	z-index: 20;
}

.nullGift .c_price {
	height: 17rem;
	text-align: center;
}

.nullGift h4 {
	margin-top: 1rem;
	font-size: 0.75rem;
	color: #4e51b0;
	text-align: center;
}

.nullGift .giftImage {
	width: 3rem;
	height: 3rem;
	margin-top: .5rem;
	margin-left: auto;
	margin-right: auto;
}

.nullGift span {
	margin-top: 0.2rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.6rem;
	font-weight: bold;
	color: #4e51b0;
}

.nullGift input {
	width: 9.5rem;
	height: 1.5rem;
	background: url('../images/s_put.png') no-repeat center;
	background-size: 100% 100%;
	overflow: hidden;
	position: relative;
	margin-top: 0.3125rem;
	font-size: 0.375rem;
	color: #000;
	text-indent: 1.09375rem;
}

.nullGift p {
	margin-top: 0.3rem;
	color: #4e51b0;
	font-size: 0.6rem;
}

.nullGift .clickBtn {
	width: 6rem;
	height: 2rem;
	margin-top: 1rem;
}

.f_mask {
	width: 100%;
	height: 100%;
	background: none;
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	display: none;
}

.fuzhi {
	width: 6.5625rem;
	font-size: 0.4375rem;
	text-align: center;
	color: #fff;
	margin-top: 0.3125rem;
	margin-left: -0.9375rem;
}

.fuzhi img {
	display: block;
	width: 100%;
	height: 100%;
}

.weixin_open {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .8);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;
	display: none;
}

.weixin_open img:nth-child(1) {
	display: block;
	width: 12.96875rem;
	height: 4.1875rem;
	position: absolute;
	right: 0;
	top: 0;
}

.weixin_open img:nth-child(2) {
	display: block;
	width: 18.5rem;
	height: 6.875rem;
	position: absolute;
	left: 50%;
	margin-left: -9.25rem;
	top: 40%;
	transform: translate(0, -40%);
	-webkit-transform: translate(0, -40%);
}

.jiathis_style_32x32 .weixin_stop {
	display: none;
	width: 1.53125rem;
	height: 1.53125rem!important;
	overflow: hidden;
	position: absolute;
	left: 0;
	z-index: 10;
}

.c_queren {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, .8);
	left: 0;
	top: 0;
	z-index: 20;
	display: none;
}

.queren_body {
	width: 17.0625rem;
	height: 11.875rem;
	background: url(../images/smallDialog.png) no-repeat center;
	background-size: 100% 100%;
	top: 45%;
	transform: translate(0, -45%);
	-webkit-transform: translate(0, -45%);
	margin: 0 auto;
	position: relative;
}

.queren_body .queren_close {
	position: absolute;
	top: 0.8125rem;
	right: 0.9375rem;
	width: 1.59375rem;
	height: 1.59375rem;
	cursor: pointer;
	background-image: url(../images/close.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.queren_body p {
	font-size: 1rem;
	color: #4e51b0;
	font-weight: bold;
	text-align: center;
}

.queren_body p.queren_p {
	margin-top: 3.125rem;
}

.queren_body .queren_span {
	width: 11.1875rem;
	height: 1.4375rem;
	margin: 1.25rem auto 0;
}

.queren_body .queren_span span {
	display: block;
	width: 5.5rem;
	height: 1.4375rem;
	background-color: #4e51b0;
	border-radius: 0.78125rem;
	font-size: 0.8125rem;
	color: #fff;
	font-weight: bold;
	text-align: center;
	line-height: 1.4375rem;
	float: left;
}

.queren_body .queren_span span:nth-child(2) {
	float: right;
	color: #ffd83b;
}

.q_delete {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, .8);
	left: 0;
	top: 0;
	z-index: 20;
	display: none;
}

.q_delete .delete_body {
	width: 17.0625rem;
	height: 11.875rem;
	background: url(../images/smallDialog.png) no-repeat center;
	background-size: 100% 100%;
	top: 45%;
	transform: translate(0, -45%);
	-webkit-transform: translate(0, -45%);
	margin: 0 auto;
	position: relative;
}

.q_delete .delete_body .delete_close {
	position: absolute;
	top: 0.8125rem;
	right: 0.9375rem;
	width: 1.59375rem;
	height: 1.59375rem;
	cursor: pointer;
	background-image: url(../images/close.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.q_delete .delete_body p{
	font-size:1rem;
	font-weight:bold;
	color:#4e51b0;
	text-align: center;
}
.q_delete .delete_body p.delete_p{
	font-size:0.625rem;
	margin-top:2.8125rem;
	margin-bottom:0.3125rem;
}
.q_delete .delete_body .delete_span{
	width:11.1875rem;
	overflow: hidden;
	margin:1.5625rem auto 0;
}
.q_delete .delete_body .delete_span>div{
	width:5.5rem;
	overflow: hidden;
	float:left;
	text-align: center;
}
.q_delete .delete_body .delete_span>div span{
	display: block;
	width:5.5rem;
	height:1.4375rem;
	background-color:#4e51b0;
	border-radius: 0.78125rem;
	color:#fff;
	font-weight:bold;
	text-align: center;
	line-height:1.4375rem;
}
.q_delete .delete_body .delete_span>div:nth-child(2){
	float:right;
}
.q_delete .delete_body .delete_span>div:nth-child(2) span{
	color:#ffd83b;
}
.q_delete .delete_body .delete_span>div i{
	font-size:.5rem;
	color:#4e51b0;
	font-style:normal;
}
.lq_success{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, .8);
	left: 0;
	top: 0;
	z-index: 20;
	display: none;
}
.lq_success .b_success{
	width: 17.0625rem;
	height: 11.875rem;
	background: url(../images/smallDialog.png) no-repeat center;
	background-size: 100% 100%;
	top: 45%;
	transform: translate(0, -45%);
	-webkit-transform: translate(0, -45%);
	margin: 0 auto;
	position: relative;
}
.lq_success .b_success .success_close{
	position: absolute;
    top: 0.8125rem;
    right: 0.9375rem;
    width: 1.59375rem;
    height: 1.59375rem;
    cursor: pointer;
    background-image: url(../images/close.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.lq_success .b_success p{
	width:90%;
	margin:0 auto;
	font-size:0.8125rem;
	color:#454b70;
	text-align: center;
}
.lq_success .b_success p.f_success_p{
	margin-top:2.8125rem;
	margin-bottom:1.5625rem;
}
.lq_fail{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, .8);
	left: 0;
	top: 0;
	z-index: 20;
	display: none;
}
.fail_body{
	width: 17.0625rem;
	height: 11.875rem;
	background: url(../images/smallDialog.png) no-repeat center;
	background-size: 100% 100%;
	top: 45%;
	transform: translate(0, -45%);
	-webkit-transform: translate(0, -45%);
	margin: 0 auto;
	position: relative;
}
.fail_body p{
	width:90%;
	margin:0 auto;
	font-size:0.8125rem;
	color:#454b70;
	text-align: left;
}
.fail_body p.fail_p{
	margin-top:1rem;
	margin-bottom:1rem;
}
.fail_body p{
	line-height:1.125rem;
}
/*底部*/
#Hero-bar{
	width: 100%;
	overflow: hidden;
	background: #313131;
	position: relative;
	z-index: 999;
	padding-bottom: 9.5px;
}
#Hero-bar label{
	width: 2.40625rem;
    height:2.6875rem;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -1.34375rem;
    left:1.09375rem;
    background: url(../images/logo1.png) no-repeat;
    background-size: 100% 100%;
}
footer .f_t{
	width: 18.34375rem;
	height:5.625rem;
	border-bottom:1px solid #666;
	position: relative;
	margin:0 auto;
	text-align: center;
	margin-top: -1.5px;
}
footer .f_t ul{
    width: 13.28125rem;
    position: absolute;
    right: 0;
    margin-top: 1.5rem;
    display: inline-block;
}
footer .f_t ul li{	
    width: auto;
    height: 14.5px;
    line-height: 9.5px;
    text-align: center;
    padding-right: 7.6%;
    float: left;
    padding-left: 2.6%;
    margin-bottom:1rem;
}
footer .f_t ul a{
	width: auto;
	color: #ccc;
	font-size: 0.75rem;
}
footer .f_t .tel{
	width: 115px;
	height: 22.5px;
	display: inline-block;
}
footer .f_t .tel a{
	display: block;
	font-size: 10.5px;
	color: #ccc;
	line-height: 22.5px;
}
footer .f_t .tel a i{
	display: inline-block;
	width: 22.5px;
	height: 22.5px;
	margin-right: 5.5px;
	float: left;
	background: url(../images/tel.png);
	background-size: 100% 100%;
}
footer p{
	width: 100%;
	padding-left:0.8125rem;
	text-align:left;
	color: #999;
	font-size:0.75rem;
	margin-bottom:0.5rem;
}
footer p.f_link{
	margin-top:1rem;
	color: #999;
}
footer p.f_txt{
	line-height: 1.4rem;
	margin-top:1.5rem;
	color: #666;
}