{include '../../layouts/wap/new_head.html'}
    <div class="listBg">
        <a href="/m/index.html"></a>

            <div class="share">
                <span>分享到:</span>
                <a href="javascript:sharefn(event,2)"  class="co_wx"></a>
                <a href="javascript:sharefn(event,0);" class="co_qq"></a>
                <a href="javascript:sharefn(event,1);" class="co_wb"></a>
                <a href="javascript:sharefn(event,3);" class="co_kj"></a>
            </div>
            
   <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=f8a4a53f-438a-4ffa-939f-7f313a7e2b05&amp;pophcol=2&amp;lang=zh"></script>
    </div>
    <div class="art_til">
        <h3>{$content.title}</h3>
        
        <div class="share_box">
            <p class="new_information_time"><span>{$content.created_at|date_format:"%m/%d"}</span></p>
                   
    </div>
    <div class="art_m">
        <p>{$content.body}</p>
    </div>
    <a href="javascript:;" class="top"></a>
{include '../../layouts/wap/new_footer.html'}