{include '../../layouts/wap/new_head.html'}
    <div class="listBg">
        <a href="/m/index.html"></a>
        <img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/new_title.png?{$smarty.const.VERSION}" alt="">
    </div>
    <div class="list-info">
        <ul class="list-article-title" data-id="{$id}">
            <li {if $id==480}class="active" {/if}><a href="{myurl name='wap/list, id=>480'}">最新</a></li>
            <li {if $id==481}class="active" {/if}><a href="{myurl name='wap/list, id=>481'}">新闻</a></li>
            <li {if $id==482}class="active" {/if}><a href="{myurl name='wap/list, id=>482'}">公告</a></li>
            <li {if $id==826}class="active" {/if}><a href="{myurl name='wap/list, id=>826'}">活动</a></li>
            <li {if $id==483}class="active" {/if}><a href="{myurl name='wap/list, id=>483'}">攻略</a></li>
        </ul>
        <ul class="list-article">
            <li class="noData"></li>
        </ul>
    </div>
    <a href="javascript:;" class="more"></a>
     {include '../../layouts/wap/new_footer.html'}