<!--<div class="i-footer">-->
	<!--<div class="i-fotcon">-->
		<!--<div class="i-fot-logo">-->
			<!--<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/logo1.png?{$smarty.const.VERSION}" alt="" />-->
			<!--<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/logo2.png?{$smarty.const.VERSION}" alt="" />-->
			<!--<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/logo3.png?{$smarty.const.VERSION}" alt="" />-->
			<!--<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/logo4.png?{$smarty.const.VERSION}" alt="" />-->
		<!--</div>-->
		<!--<div class="i-fot-text">-->
			<!--<p>版权信息：©腾讯动漫  ©啊哈娱乐</p>-->
			<!--<p>文网游备字〔2016〕M-CSG 6268 号</p>-->
			<!--<p>版权所有：北京卓越晨星科技有限公司 联系方式：010-50948585</p>-->
			<!--<p>COPYRIGHT©2015 – 2017 . ALL RIGHTS RESERVED. 京ICP备15026730号-2</p>-->
			<!--<p>-->
				<!--<a target="_blank" href="javascript:;">《网络文化经营许可证》</a>-->
				<!--<a target="_blank" href="javascript:;">京网文[2015]0629-259号</a>-->
			<!--</p>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->

<script type="text/javascript" src="//cdnstatic.yingxiong.com/footer/js/footer_new.js?{$smarty.const.VERSION}"></script>
<script>
	$(".i-footer .i-fotcon .i-fot-logo").css("display","none");
	$(".i-footer .i-fotcon .i-fot-text").css("float","none");
	$(".i-footer .i-fotcon .i-fot-text").css("width","615px");
	$(".i-footer .i-fotcon .i-fot-text").css("margin","28px auto 0 auto");
</script>