<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{$seo_title}</title>
	<meta name="keywords" content="{$seo_key}" />
	<meta name="description" content="{$seo_desc}" />
	<link rel="stylesheet" href="http://cdnstatic.yingxiong.com/common/css/yx.css"/>
	<link rel="shortcut icon" href="{$global.icon_img}?{$smarty.const.VERSION}">
	<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}2.0/css/public.css?{$smarty.const.VERSION}" />
	<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}2.0/css/swiper-3.4.2.min.css?{$smarty.const.VERSION}" />
	<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}2.0/css/index.css?{$smarty.const.VERSION}" />
	<script data-fixed="true">
		if((/iphone|android|mobile/i.test(navigator.userAgent.toLowerCase()))) {
			location.href = "/m"+window.location.pathname+window.location.search;
		}
	</script>
	<script src="{$smarty.const.STATIC_DOMAIN}2.0/js/jquery-1.11.2.min.js?{$smarty.const.VERSION}"></script>
	{csrf}
</head>
<body class="stat_page_home">
<!--header-->
<script type="text/javascript" src="//cdnstatic.yingxiong.com/head/js/topbar.js"></script>
