<!--头部导航-->
<div class="menu">
	<div class="meau_c">
		<div class="menu-con">
			<div class="logo fl">
				<img class="fl" src="{$smarty.const.STATIC_DOMAIN}6.0/images/in_logo.png?{$smarty.const.VERSION}" alt="logo">
				<div class="lo_font fl">
					<h3>极无双</h3>
					<p>真3D三国动作手游</p>
				</div>
			</div>
			<ul class="links fl">
				<li {if $style=='index'}class="active" {/if}>
					<a href="/index">首页</a>
				</li>
				<li {if $style=='yxzx'}class="active" {/if}>
					<a target="_blank" href="{myurl name='article/list, type=>zx,page=>1'}">游戏资讯</a>
				</li>
				<li {if $style=='wjjs'}class="active" {/if}>
					<a target="_blank" href="{myurl name='article/role'}">武将介绍</a>
				</li>
				<li {if $style=='jjd'}class="active" {/if}>
					<a target="_blank" href="{myurl name='article/hero-list'}">将军殿</a>
				</li>
				<li>
					<a target="_blank" href="http://bbs.yingxiong.com/index/gameBbsLogin?id=8">游戏社区</a>
				</li>
			</ul>
			<div class="meau_ico fr">
				<a class="ico_qq" target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=83f9a4b5bc5f42861b5411f76fe533b6fe8f666aa9cab106b277fa00497835a3"></a>
				<a class="ico_bd" target="_blank" href="http://weibo.com/jwssy?refer_flag=1001030201_"></a>
				<a class="ico_wx" href="javascript:">
					<div class="ewm_wx">
						<img src="{$smarty.const.STATIC_DOMAIN}6.0/images/in_code1.jpg?{$smarty.const.VERSION}" alt="ewm_wx">
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
