body,
html {
    /*background: #f14d93;*/
    font-family: "HelveticaNeue";
    padding: 0;
    margin: 0;
}
img {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: none
}
.wrap{
    position:relative;
    width:20rem;
    height:171.75rem;
    background:url("../images/bg.jpg?10.0.8");
    background-size:100% 100%;
}
/*header*/
.down_tw {
    width: 100%;
    height: 3.5rem;
    background: url(../images/down_bg.png?10.0.8) no-repeat;
    background-size: 100% 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 111;
}
.down_tw h2 {
    font-size: 0.8125rem;
    font-weight: bold;
    color: #fff;
    margin-left: 3.8125rem;
    margin-top: 0.5rem
}
.down_tw p {
    font-size: 0.75rem;
    color: #f8ee63;
    margin-left: 3.8125rem
}
.tw_icon {
    width: 2.9063rem;
    height: 2.9063rem;
    position: absolute;
    left: 0.4688rem;
    top: 0.25rem;
}
.down_btn {
    position: absolute;
    right: 1rem;
    top: 0.7188rem;
    width: 6.0625rem;
    height: 1.8125rem;
    display: block
}
/*第一部分*/
.wrap-one {
    width: 20rem;
    height: 31.25rem;
}
.fill_height {
    width: 100%;
    height: 1px;
    background: transparent;
}
.mode_box {
    width: 18.1875rem;
    height: 6.875rem;
    margin: 0 auto;
    position: relative;
    padding-top: 24.7rem;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
.mode_box .mode_bg {
    width: 4.375rem;
    height: 4.6562rem;
    background: url(../images/mode_bg.png?10.0.8) no-repeat;
    background-size: 100% 100%;
}
.mode_2,
.mode_3 {
    position: relative;
    top: 2.1rem;
}
.mode_2 {
    left: -0.2rem;
}
.mode_3 {
    right: -0.2rem;
}
.mode_box .mode_bg div {
    margin: 0 auto;
    position: relative;
    top: 0.8rem;
}
.mode1_title {
    width: 3.5937rem;
    height: 1.75rem;
    background: url(../images/mode1_title.png?10.0.8) no-repeat;
    background-size: 100% 100%;
}
.mode2_title {
    width: 3.6562rem;
    height: 2rem;
    background: url(../images/mode2_title.png?10.0.8) no-repeat;
    background-size: 100% 100%;
}
.mode3_title {
    width: 3.5rem;
    height: 1.875rem;
    background: url(../images/mode3_title.png?10.0.8) no-repeat;
    background-size: 100% 100%;
}
.mode4_title {
    width: 3.6525rem;
    height: 1.9688rem;
    background: url(../images/mode4_title.png?10.0.8) no-repeat;
    background-size: 100% 100%;
}

/*第二部分*/
.wrap-two {
    width: 20rem;
    height: 22rem;
}
.banner1_title {
    width: 13.2188rem;
    height: 3.625rem;
    margin: 4rem auto 0.5rem;
}
.banner1_text {
    color: #5d081f;
    font-size: 0.5625rem;
    margin: 0 auto;
    width: 17.5rem;
    text-indent: 1rem;
}
.vedio_box {
    width: 18.3125rem;
    height: 10.4063rem;
    margin: 0.5rem auto 0;
    background: url(../images/vedio_bg.png?10.0.8) no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.play_btn {
    width: 4.125rem;
    height: 4.0625rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2.03125rem -2.0625rem;
    background: url(../images/play_btn.png?10.0.8) no-repeat;
    background-size: 100% 100%;
}

/*第三部分*/
.wrap-three {
    width: 20rem;
    height: 52rem;
}
.banner2_title {
    width: 8.34375rem;
    height: 3.8438rem;
    margin: 1rem auto 1rem;
}
.banner2_headbox {
    width: 17.21875rem;
    height: 2.71875rem;
    background: url(../images/banner2_headbg.png?10.0.8) no-repeat;
    background-size: 100% 100%;
    margin: 1.8rem auto 0 auto;
    position: relative;
}
.banner2_head1 {
    width: 6.59375rem;
    height: 1.21875rem;
    background: url(../images/banner2_head1.png?10.0.8) no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    position: relative;
    top: -0.6094rem;
}
.banner2_head2 {
    width: 7.46875rem;
    height: 1.21875rem;
    background: url(../images/banner2_head2.png?10.0.8) no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    position: relative;
    top: -0.6094rem;
}
.baner2-headtxt {
    color: #fff;
    font-size: 0.5625rem;
    width: 16.4062rem;
    text-indent: 1rem;
    line-height: 0.8rem;
    position: relative;
    top: -0.4rem;
    margin: 0 auto;
}
.banner2_headbox2 {
    height:3.40625rem;
    margin-top:3.2rem
}
.banner2_headbox2 .baner2-headtxt{
    top: -0.15rem;
}
.banner2_gifbox {
    width: 14.281rem;
    height: 17.4688rem;
    margin: 0.2rem auto;
}
.banner2_giftbox {
    width: 20rem;
    height: 24.59375rem;
    margin: -5rem auto 0;
}
.banner2_foot {
    width: 17.5rem;
    height: 2.1875rem;
    margin: 0 auto;
    margin-top: -5.5rem;
    background: rgba(185, 33, 98, 1);
    border-radius: 20px;
}
.banner2_foot img {
    width: 7.1875rem;
    height: 0.65625rem;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 0.75rem;
}

/*第四部分*/
.wrap-four {
    width: 20rem;
    height: 28.5rem;
}
.banner3_title {
    width: 8.270833333333333rem;
    height: 2.020833333333333rem;
    background: url(../images/banner3_title.png?10.0.8) no-repeat;
    background-size: 100% 100%;
    margin: 2.2rem auto 0;
}
.banner3_title1 {
    width: 18.25rem;
    height: 3.604166666666667rem;
    background: url(../images/banner3_title1.png?10.0.8) no-repeat;
    background-size: 100% 100%;
    margin:.5rem auto 0;
}
.wrap-four .swiper-container{
    width: 19.0938rem;
}
.wrap-four .swiper-pagination {
    width: 4.375rem;
    margin-left: -2.1875rem;
    left: 50%;
}
.swiper-pagination-bullet {
    background: #fff;
    border:1px solid #AC5994;
    opacity:1;
    margin-right: 1rem;
}
.wrap-four .swiper-pagination-bullet-active {background: #AC5994;}
.wrap-four .banner5_giftbox1 {
    width: 19.0938rem;
    height: 16.0625rem;
    margin: 0.3rem auto 0;
    background: url(../images/banner5_gift1.png?10.0.8) no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.wrap-four .banner5_giftbox2 {
    width: 19.0938rem;
    height: 16.0625rem;
    margin: 0.3rem auto 0;
    background: url(../images/banner5_gift2.png?10.0.8) no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.foot_info {
    width: 18.8rem;
    margin: 1.5rem auto 0;
    color: #D9262F;
    text-indent: 1.3rem;font-size: 0.680625rem;
}
.foot_info span {font-weight:600;}

/*第六部分*/
.wrap-six {
    width: 20rem;
    height: 37rem;
}
.banner5_title {
    width: 8.166666666666667rem;
    height: 2rem;
    background: url(../images/banner5_title.png?10.0.8) no-repeat;
    background-size: 100% 100%;
    margin: 3.5rem auto 0;
}
.banner5_title1 {
    width: 18.25rem;
    height: 3.604166666666667rem;
    background: url(../images/banner5_title1.png?10.0.8) no-repeat;
    background-size: 100% 100%;
    margin:.5rem auto 0;
}
.wrap-six .banner5_giftbox {
    width: 19.0938rem;
    height: 16.0625rem;
    margin: 0.6rem auto 0;
    background: url(../images/banner5_gift.png?10.0.8) no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.banner5_giftbox a{
    width: 8rem;
    height: 7.5rem;
    display: block;
    position: absolute;
    top: 0;
    left: 1rem;
}
.banner5_giftbox a.link_2{left: 10.25rem;}
.banner5_giftbox a.link_3{top: 8.5rem;}
.banner5_giftbox a.link_4{left: 10.25rem;top: 8.5rem;}
.banner5_foot {
    width: 18.8rem;
    margin: 0.5rem auto 0;
    color: #fff;
}
.banner5_foot p {text-indent: 1.3rem;font-size: 0.680625rem;}
.banner5_foot p span {color: #fff600;}
.banner5_foot p.p_t{text-indent:0;}
.banner5_foot p.p_t:nth-of-type(3){margin-top: 1rem;}
.backtop{
    width:2.3438rem;
    height: 5.9063rem;
    position: fixed;
    bottom:2rem;
    right:0;
    z-index: 1111;
    display: none;
}

/*视频弹框*/
#video_mask {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    margin: 0 auto;
    top: 0;
    left: 0;
    z-index: 200;
}
#video_tc {
    display: none;
    width: 100%;
    height: 10.125rem;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -16% 0 0 -50%;
    z-index: 1000;
}
#video_player {
    width: 80%;
    color: #000;
    position: relative;
    margin: 0 auto;
    z-index: 1000;
    background: #fff;
    border-radius: 5px;
    height: 10.125rem;
}
#video_close {
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    top: -44px;
    right: -50px;
    background: url(../images/c.png?10.0.8) 3px no-repeat;
    cursor: pointer;
    background-size: 50%;
}
.prism-player {
    background-color: #000;
    position: relative;
}

/*第五部分*/
.wrap-five {
    background: url(../images/banner2_bg.png?10.0.8) no-repeat;
    background-size: 20rem 9.844rem;
    margin: 0 auto;
    display:none;
}
.banner4_title {
    width: 12.9063rem;
    height: 3.8125rem;
    background: url(../images/banner4_title.png?10.0.8) no-repeat;
    background-size: 100% 100%;
    margin: 1.6rem auto 0;
}
.swiper-content {
    width: 18.125rem;
    height: 19.9rem;
    margin: 1.25rem auto 0;
    overflow: hidden;
}
.wrap-five .swiper-container {
    width: 18.125rem;
    height: 19.9rem;
}
.swiper-slide p {
    font-size: 0.75rem;
    text-align: center;
}
.swiper_imgbox {
    padding: 0.3125rem;
    background: #fff6f7;
}
.wrap-five .swiper-container .swiper-slide {
    width: 18.125rem;
    height: 17.4375rem;
}
.user_msg {
    margin-top: 0.9375rem;
    color: #f9c1d6;
}
.user_txt {
    color: #f14d93;
    height: 0.78rem;
    width: 18rem;
    margin: 0.4rem auto 1rem;
    overflow: hidden;
    line-height: 0.78rem;
    font-size: 0.75rem
}
.user_msg span {
    display: inline-block;
    width: 1rem
}
.wrap-five .swiper-slide .swiper_conbox {
    background: #fff;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    -moz-box-shadow: 0px 0px 5px #e6e6e6;
    -webkit-box-shadow: 0px 0px 5px #e6e6e6;
    box-shadow: 0px 0px 5px #e6e6e6;
}