{include '../../layouts/wap/header.html'}
	<!--内容-->
	<div class="list fade">
		<div class="banner">
			<div class="swiper-container swiper-container1">
				<div class="swiper-wrapper">
					{foreach key=cid item=v from=$top_thumb}
					<div class="swiper-slide">
						<a href="{$v.url}"><img class="images" src="{$v.thumb}" alt=""></a>
					</div>
					{/foreach}
				</div>
				<div class="swiper-pagination swiper-pagination1"></div>
			</div>
			{if $content.category_id==431}
			<a href="{myurl name='wap/article/list, id=>431'}" class="go_list"><img src="{$smarty.const.STATIC_DOMAIN}/m/images/go_list.png?{$smarty.const.VERSION}" alt=""/></a>
			{else if $content.category_id==432}
			<a href="{myurl name='wap/article/list, id=>432'}" class="go_list"><img src="{$smarty.const.STATIC_DOMAIN}/m/images/go_list.png?{$smarty.const.VERSION}" alt=""/></a>
			{else if $content.category_id==433}
			<a href="{myurl name='wap/article/list, id=>433'}" class="go_list"><img src="{$smarty.const.STATIC_DOMAIN}/m/images/go_list.png?{$smarty.const.VERSION}" alt=""/></a>
			{else if $content.category_id==434}
			<a href="{myurl name='wap/article/list, id=>434'}" class="go_list"><img src="{$smarty.const.STATIC_DOMAIN}/m/images/go_list.png?{$smarty.const.VERSION}" alt=""/></a>
			{else if $content.category_id==435}
			<a href="{myurl name='wap/article/list, id=>435'}" class="go_list"><img src="{$smarty.const.STATIC_DOMAIN}/m/images/go_list.png?{$smarty.const.VERSION}" alt=""/></a>
			{/if}
		</div>
		<div class="detailbox">
			<div class="article_title">
				<h3>{$content.title}</h3>
				<span><span>发布时间：{$content.created_at|date_format:"%m/%d"}</span><span>来源：本网站</span></span>
			</div>
			<div class="content">
				{$content.body}
			</div>
			{if $content.body !=null}
			<div class="go_top">
				<img src="{$smarty.const.STATIC_DOMAIN}/m/images/go_top1.png?{$smarty.const.VERSION}" alt=""/>
			</div>
			{/if}
		</div>
	</div>
</body>
{include '../../layouts/wap/foot.html'}
<script>
	$(function(){
		var swiper01 = new Swiper('.swiper-container1', {
			pagination: '.swiper-pagination1',
			slidesPerView: 1,
			paginationClickable: true,
			autoplayDisableOnInteraction : false,
			autoplay:2000,
			loop:true
		});
	});
</script>
