body {
	font-family: "微软雅黑";
	/*overflow-x: hidden;*/
	background: #171A21;
	/*height: 3400px;*/
}
i{
	font-style: normal;
}
#Hero-bar {
	background: #fff;
	width: 100%;
	height: 40px;
	position: relative;
	z-index: 99999;
}

.hero_head {
	width: 1024px;
	height: 40px;
	margin: 0 auto;
	overflow: hidden;
}

.hero_head .hero_logo {
	margin: 0 12px 0 33px;
	width: 112px;
	height: 40px;
	display: block;
	background: url(../img/logo_1.png) no-repeat;
	background-size: 100% 100%;
}

.hero_head .hero_middle {
	height: 40px;
	line-height: 40px;
}

.hero_head .hero_middle,
.hero_head .hero_logo,
.hero_head .hero_middle .hero_title {
	float: left;
}

.hero_head .hero_middle {
	color: #4d4c4c;
	font-size: 14px;
}

.hero_head .hero_right {
	float: right;
	margin: 10px 26px 0 0;
}

.hero_head .hero_right a,
.hero_head .hero_right a i,
.hero_head .hero_right a span {
	display: block;
	float: left;
	color: #4d4c4c;
	font-size: 16px;
}

.hero_head .hero_right a i {
	position: relative;
	top: 3px;
	margin-right: 7px;
	height: 15px;
	background: url(../img/hero_ico.png) no-repeat
}

.hero_head .hero_right a:hover {
	color: #d71341;
}

.hero_head .hero_right .hero_user {
	padding-right: 12px;
	border-right: 1px solid #b5b5b5;
	margin-right: 12px;
}

.hero_head .hero_right .hero_user i {
	width: 15px;
	background-position: 0 0;
}

.hero_head .hero_right .hero_help i {
	width: 19px;
	background-position: -18px 0;
}

.hero_head .hero_right .hero_user:hover i {
	background-position: 0 -19px;
}

.hero_head .hero_right .hero_help:hover i {
	background-position: -18px -20px;
}

.Hero-fixed {
	top: 40px;
}

.menu {
	width: 100%;
	min-width: 1200px;
	height: 80px;
	z-index: 99;
}

.meau_c {
	width: 100%;
	height: 80px;
	background: url(../images/menu_bg.jpg) no-repeat center top;
}

.menu-con {
	width: 1215px;
	margin: 0 auto;
}

.clearfix {
	zoom: 1;
}

.fl {
	float: left;
}

.menu-con .logo img {
	margin-right: 18px;
}

.lo_font {
	color: #d5a04d;
	margin-top: 10px;
}

.lo_font h3 {
	font-size: 30px;
}

.lo_font p {
	font-size: 16px;
	font-weight: bold;
}


/*.menu-con .links {
    margin-left: 40px;
}*/

.menu-con .links li {
	width: 155px;
	float: left;
	height: 80px;
	line-height: 80px;
	text-align: center;
	font-size: 22px;
}

.menu-con .links li a {
	display: block;
	color: #d5a04d;
}

.menu-con .links li a:hover,
.menu-con .links li.active a {
	color: #f7e9b5;
}

.meau_ico {
	margin: 20px 0 0 0;
}

.meau_ico a {
	display: block;
	width: 32px;
	height: 32px;
	float: left;
	margin-left: 20px;
}

.meau_ico a.ico_wx {
	background-position: 0 0;
	position: relative;
}

a,
a:hover {
	text-decoration: none;
}

.ewm_wx {
	width: 143px;
	height: 142px;
	position: absolute;
	top: 40px;
	left: -57px;
	display: none;
	background-size: 100% 100%;
	z-index:999;
}

.ewm_wx img {
	display: block;
	width: 143px;
	height: 142px;
	margin: 18px 0 0 5px;
}

.ico_wx {
	background: url(../img/ewm_wx.png) no-repeat;
}

.ico_qq {
	background: url(../img/ewm_weibo.png) no-repeat;
}

.ico_bd {
	background: url(../img/ewm_qq.png) no-repeat;
}

.clearfix:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0;
}

.links .active {
	background: url(../img/top.png) center top no-repeat;
}

.menu01 {
	width: 100%;
	min-width: 1200px;
	position: absolute;
	left: 0;
	z-index: 90;
	height: 3214px;
}


.mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../common/images/mask.png) repeat;
	z-index: 100;
}

.mode-gift img {
	position: absolute;
	width: 640px;
	height: 744px;
	top: 0;
	left: 0;
	display: block;
	z-index: 101;
}

.price01 {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -372px;
	margin-left: -320px;
	width: 640px;
	display: none;
	height: 744px;
	z-index: 999;
}

.mode-gift .close {
	position: absolute;
	z-index: 2;
	cursor: pointer;
}

.mode-gift .close {
	width: 40px;
	height: 40px;
	right: 42px;
	top: 22.4px;
	z-index: 101;
}
.download {
	width: 100%;
	position: absolute;
	top: 691px;
	/*overflow: hidden;*/
	z-index: 99;
}
.download .download_1{
	width: 1208px;
	position: relative;	
	margin: 0 auto;
	height: 148px;
	background: url(../img/bg_2.png) no-repeat center top;
	
}
.download_bg {
	position: absolute;
}

.download .download02 {
	margin-left: 20px;
}

.download .download01 {
	display: inline-block;
	vertical-align: top;
	margin-top: 15px;
}

.download_bg a {
	display: inline-block;
}

.banner_newslist {
	background: url(../img/main_bg.png);
	width: 1208px;
	height: 1897px;
	position: relative;
	top: 805px;
	z-index: 99;
	margin: 0 auto;
}

.left_banner {
	position: relative;
	width: 502px;
	overflow: hidden;
	float: left;
}

#wrapper {
	position: relative;
	width: 100%;
}
#wrapper a{
	width:502px;
	height:322px;
	display: block;
}
#wrapper img{
	width:500px;
	height:320px;
	display: block;
	border:1px solid #a66c25;
}
#banner {
	position: relative;
	height: 322px;
	overflow: hidden;
}

.imgList {
	position: relative;
	width: 2008px;
	height: 322px;
	z-index: 10;
	overflow: hidden;
}

.imgList li {
	float: left;
	display: inline;
}

#prev,
#next {
	position: absolute;
	top: 80px;
	z-index: 20;
	cursor: pointer;
	opacity: 0.2;
	filter: alpha(opacity=20);
}

#prev {
	left: 10px;
}

#next {
	right: 10px;
}

#prev:hover,
#next:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.bg {
	position: absolute;
	bottom: 0;
	width: 502px;
	height: 40px;
	z-index: 20;
	opacity: 0.4;
	filter: alpha(opacity=40);
	background: black;
}

.indexList {
	position: absolute;
	right: 30px;
	bottom: 22px;
	z-index: 30;
}

.indexList li {
	float: left;
	text-indent: -9999px;
	cursor: pointer;
	margin-right: 5px;
	padding: 2px 4px;
	border-radius: 50%;
	background-color: rgb( 255, 255, 255);
	width: 11px;
	height: 12px;
	z-index: 271;
}

.indexList .indexOn {
	border-style: solid;
	border-width: 1px;
	border-color: rgb( 255, 255, 255);
	background-color: rgb( 249, 166, 35);
	opacity: 0.68;
	width: 20px;
	height: 10px;
	z-index: 270;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.tab-news-box {
	position: relative;
	background: url(../img/right_bg.png) no-repeat;
	background-size: 100% 100%;
	width: 598px;
	height: 322px;
	float: right;
	overflow: hidden;
}

.section3-feature-ul li a {}

.tab-news-box .hd {
	position: relative;
	width: 100%;
	z-index: 2;
}

.tab-news-box .hd ul {
	height: 34px;
	margin-top: 15px;
	margin-left: 10px;
}

.tab-news-box .hd li {
	width: 60px;
	height: 34px;
	line-height: 34px;
	font-size: 15px;
	float: left;
}

.tab-news-box .hd li a {
	color: #fff;
	float: left;
	text-align: center;
	cursor: pointer;
	width: 100%;
	height: 100%;
}

.tab-news-box .hd li.on {
	background: url(../img/bg_little.png) no-repeat;
}

.tab-news-box .bd {
	position: absolute;
	top: 44px;
	left: 0;
	width: 100%;
	height: 287px;
	overflow: hidden;
	border: 0;
}

.tab-news-box .bd ul {
	margin: 10px auto 0;
	width: 92%;
	display: block;
	overflow: hidden;
}

.tab-news-box .bd li {
	width: 100%;
	cursor: pointer;
	display: block;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	border-top: 1px dashed #622707;
	color: white;
}

.tab-news-box .bd li:first-child {
	border-top: 0;
}

.tab-news-box .bd a {
	display: block;
	position: relative;
	color: white;
	width: 70%;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.tab-news-box .bd li:hover a,
.tab-news-box .bd li:hover {
	color: rgba( 249, 166, 35, 0.8);
}

.tab-news-box .bd span {
	float: right;
}

.more {
	display: block;
	padding-left: 25px;
	color: #fff;
	position: absolute;
	height: 25px;
	font-size: 13px;
	right: 19px;
	top: 5px;
}

.more i {
	display: block;
	background-size: 100% 100%;
	position: absolute;
	left: 0;
}
.banner_picture{
	width: 1100px;
    float: left;
    height: 228px;
    position:absolute;
    left:57px;
    top:400px;
    z-index:99;
}
.banner_pic{
	margin:0 auto;
}


.banner_pic .banner_pic_page1 ul li {
	float: left;
	width: 360px;
	position: relative;
	margin-left:1px;
	border:2px solid #8d5c22;
}

.banner_pic .banner_pic_page1 ul li a {
	width: 100%;
	display: block;
	height: 223px;
}


.play01{
	width:122px;
	height:122px;
	position:absolute;	
	right:110px;
	top:-310px;
	
}

.banner_news{
	width: 1100px;
    float: left;
    height: 320px;
    position:absolute;
    left:57px;
    top:57px;
}
.banner_pic .banner_pic_page1 {
	width: 100%;
	display: block;
	height: 223px;
	position:absolute;
}
.banner_pic .banner_pic_page2{
	width: 100%;
	display: block;
	height: 223px;
	position:absolute;
}
.banner_pic .banner_pic_page1 ul li img {
	width: 100%;
	display: block;
	height: 223px;
}

.banner_pic .banner_pic_page2 {
	display: none;
}

.banner_pic .banner_pic_page2 ul li {
	float: left;
    width: 360px;
    position: relative;
    margin-left: 1px;
    border: 2px solid #8d5c22;
}

.banner_pic .banner_pic_page2 ul li a {
	width: 100%;
	height: 223px;
	display: block;
}

.banner_pic .banner_pic_page2 ul li img {
	width: 100%;
	height: 223px;
	display: block;
}

.left_logo {
	width: 80px;
	height: 29px;
	background: url(../img/right_logo.png) no-repeat;
	position: absolute;
	right: 0px;
	bottom: 0px;
}

.left_logo span:nth-child(1) {
	border-radius: 50%;
	background-color: rgb( 255, 255, 255);
	position: absolute;
	width: 12px;
	height: 12px;
	z-index: 9999;
	left: 35px;
	top: 10px;
	cursor: pointer;
}

.left_logo span:nth-child(2) {
	border-radius: 50%;
	background-color: rgb( 255, 255, 255);
	position: absolute;
	width: 12px;
	height: 12px;
	z-index: 9999;
	left: 55px;
	top: 10px;
	cursor: pointer;
}

.banner_pic .left_logo .active {
	background-color: rgb( 249, 166, 35);
}
.section3-feature-ul {
	bottom: 550px;
	height: 270px;
	top: 650px;
}

.section3-feature-ul {
	padding-top: 1px;
	overflow: hidden;
	position: absolute;
	left: 5%;
}

.section3-feature-ul li {
	float: left;
	position: relative;
	transition: width 0.2s linear 0s;
	overflow: hidden;
	margin-left: 1px;
}

.section3-feature-ul li,
.section3-feature-ul li a {
	width: 58px;
	height: 217px;
	background-size: 100% 100%;
}

.section3-feature-ul li.active {
	opacity: 1;
	visibility: visible;
}

.section3-feature-ul li.active {
	width: 858px;
}

.section3-feature-ul li a {
	display: block;
	position: relative;
	z-index: 1;
	position: relative;
	background: url(../img/bg_renwu01.png) no-repeat;
}

.section3-feature-ul li,
.section3-feature-ul li a {
	width: 58px;
	height: 270px;
	background-size: 100% 100%;
}

.section3-feature-ul li img {
	position: absolute;
	display: block;
}

.section3-feature-ul li.active a {
	background: url(../img/bg_renwu.png) no-repeat;
}

.section3-feature-ul li img {
	width: 810px;
	height: 270px;
	top: 0px;
	left: 47px;
	background-size: 100% 100%;
}

.section3-feature-ul li a img {
	display: block;
	width: 58px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
}

.s3_bottom {
	width: 1128px;
	height: 448px;
	background: url(../img/big_bg.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
}

.s3_bottom {
	top: 970px;
	width: 1100px;
	height: 504px;
	left: 50%;
	margin-left: -550px;
}

.s3_bottom .s3_peo_head .on {
	border: 1px solid yellow;
	filter: Alpha(opacity=100);
	/* IE */
	-moz-opacity: 1;
	/* FF 主要是为了兼容老版本的FF */
	opacity: 1;
	/* FF */
}

.s3_peo_head {
	left: 15px;
	top: 15px;
	position: absolute;
}

.s3_peo_head {
	width: 128px;
}

.s_p_h1 {
	background: url(../img/renwu.png) no-repeat;
	background-size: 100% 100%;
}

.s_wid118 {
	width: 128px;
	opacity: .3;
	filter: Alpha(opacity=30);
	/* IE */
	-moz-opacity: 0.3;
	/* FF 主要是为了兼容老版本的FF */
	opacity: 0.3;
	/* FF */
	height: 72px;
	margin-top: 8px;
}

.s3_peo_head span,
.s3_peo_head a {
	display: block;
	float: left;
}

.s_p_h2 {
	background: url(../img/renwu.png) no-repeat;
	background-size: 100% 100%;
}

.s_p_h3 {
	background: url(../img/renwu.png) no-repeat;
	background-size: 100% 100%;
}

.s_p_h4 {
	background: url(../img/renwu.png) no-repeat;
	background-size: 100% 100%;
}

.s_p_h5 {
	background: url(../img/renwu.png) no-repeat;
	background-size: 100% 100%;
}

.s3_peo_head .s_p_a {
	background: url(../img/more.png) no-repeat;
	background-size: 100% 100%;
	filter: Alpha(opacity=1);
	/* IE */
	-moz-opacity: 1;
	/* FF 主要是为了兼容老版本的FF */
	opacity: 1;
	/* FF */
}

.s_wid126 {
	width: 128px;
	height: 72px;
	filter: Alpha(opacity=30);
	/* IE */
	-moz-opacity: 0.3;
	/* FF 主要是为了兼容老版本的FF */
	opacity: 0.3;
	/* FF */
	margin-top: 8px;
}

.s3_name {
	position: absolute;
}

.s3_name {
	width: 400px;
	height: 490px;
	margin-left: 50px;
	text-align: center;
}

.s3_n6 {
	margin-left: -24px;
	margin-top: 8px;
}

.s3_n7 {
	margin-top: 7px;
}

.s3_peo {
	position: absolute;
	right: 0;
}

.s3_peo {
	top: -50px;
	right: -80px;
}

.s3_img1 {
	margin-right: 64px;
}

.s3_peo img {
	width: 498px;
	height: 604px;
}

.hide {
	display: none;
}

.name_1 {
	width: 436px;
	height: 80%;
	position: absolute;
	left: 200px;
	top: 20px;
	text-align: center;
}

.name_1 p {
	font-size: 20px;
	line-height: 30px;
	color: white;
	text-align: left;
}
.name_1 .rw_name{
	text-align: center;
	font-size:24px;
}
.name_1 .rw_name img{
	width:186px;
	height:70px;
}
.name_1 .jineng img {
	width: 44px;
	height: 44px;
	float: left;
	margin: 0 5px;
}

.jineng {
	position: absolute;
	left: 0;
	bottom: 60px;
}

.jineng_pru {
	position: absolute;
	bottom: -320px;
	left: -22px;
	color: rgb( 115, 90, 36);
}

.name_1 span {
	position: absolute;
	bottom: 0;
	width: 350px;
	text-align:left;
	vertical-align: top;
	left: 0;
	color: #dfc994;
	font-size: 18px;
}

.movie {
	width:1100px;
	height: 279px;
	position: absolute;
	top: 1500px;
	left: 57px;
}

.main_movie {
	float: left;
	width: 487px;
}
.main_movie img{
	border:1px solid #8d5c22;
	display: block;
	width:486px;
}
.main_movie span img{
	border:0;
	display: inline;
	width:auto;
}
.right_movie {
	float: right;
	width: 55%;
}
.right_movie img{
	border:1px solid #8d5c22;
}
.main_movie span {
	position: absolute;
	top: 105px;
	left: 195px;
}

.footer {
	background-color:#000;
	width: 100%;
	height: 392px;
	position: absolute;
	bottom: -195px;
	z-index: 99;
	left: 0;
	margin-right:2px;
	margin: 0 auto;
}

.footer .footer01 {
	margin: 0 auto;
	width: 1165px;
	height: 132px;
	top: 60%;
	margin-top: 146px;
}

.footer .footer01 span{
	margin-left:60px;
	display: block;
	position:relative;
}
.footer .text_pro{
	margin-left:16px;
}
.footer .text_pro01{
	margin-left:16px;
}
.footer .text_pro02{
	margin-left:16px;
}
.img02{
	margin-left:200px;
}
.img03{
	margin-left:200px;
}
.footer .footer01 .text_pro{
	position:absolute;
	left:150px;
}
.footer .footer01 .text_pro01{
	position:absolute;
	left:470px;
}
.footer .footer01 .text_pro02{
	position:absolute;
	right:140px;
}
.if_bot_wrap {
	width: 100%;
	position: absolute;
	z-index:99;
	bottom:-292px;
	margin-top:15px;
}

.if-orders {
	width: 1198px;
	height: 73px;
	margin-top: 20px;
	position: absolute;
	overflow: hidden;
	background: none;
}

#if-copyRight {
	background: #000;
	border-top: 1px solid #000;
}

.if-copyRight-p {
	padding: 17px 0;
	width: 850px;
	text-align: left;
	margin: 0 auto;
	font-size: 12px;
	font-family: '宋体';
	line-height: 24px;
	display: block;
	position: relative;
}

.if-copyRight-p1 {
	position: relative;
	vertical-align: top;
	top: 4px;
	display: inline-block;
	position: relative;
	margin-right: 15px;
}

.if-copyRight-p1:after {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 1px;
	height: 100%;
	border-right: 1px solid #505050;
}

.if-copyRight-p1 a {
	width: 164px;
	height: 75px;
	padding-right: 15px;
	display: inline-block;
	cursor: pointer;
}

.if-copyRight-p1 a:first-child {
	width: 276px;
	padding-right: 0;
}

.if-copyRight-p2 {
	position: relative;
	vertical-align: top;
	display: inline-block;
	position: relative;
	color: #707882
}

.if-copyRight-p2 a {
	color: #707882;
}

.www-ico {
	display: inline-block;
	height: 18px;
	vertical-align: -6px;
	width: 18px;
	position: relative;
	z-index: 2;
}

.game-ico {
	display: inline-block;
	height: 18px;
	margin-left: 5px;
	margin-right: 5px;
	vertical-align: -6px;
	width: 16px;
	position: relative;
	z-index: 2;
}

.www-ico img,
.game-ico img {
	width: 16px;
}
.footer{
	z-index:-1;
}
.footer h2 {
	color: white;
	font-size: 25px;
}

.footer p {
	color: white;
	font-size: 14px;
	line-height: 28px;
}

.right_code {
    position: fixed;
    top: 50%;
    margin-top: -193px;
    right: -10px;
    width: 290px;
    height: 387px;
    z-index: 999;
}

.right_code a {
	display: block;
}

.right_code .app01 {
	position: absolute;
	bottom: 102px;
	left: 45px;
}

.right_code .andriod01 {
	position: absolute;
	bottom: 40px;
	left: 45px;
}
.right_code .close_btn{
	display: block;
	width:39px;
	height:39px;
	top:17px;
	right:34px;
	z-index:2;
	position: absolute;
}
.right_code .close_b{
	display: none;
	width:45px;
	height:45px;
	top:13px;
	right:30px;
	position: absolute;
	background-color:white;
	opacity: .5;
	z-index:1;
}
.new_code{
	display: block;
	position: absolute;
	width:150px;
	height:150px;
	left:50%;
	margin-left:-75px;
	top:70px;
}

.p2,
.p3,
.p4,
.p5 {
	display: none;
}

.o2,
.o3,
.o4,
.o5 {
	display: none;
}
#player5 {
    width: 714px;
    height: 378px;
    position: relative;
    left: 50%;
    top: 50%;
    margin: -189px 0 0 -357px;
}
#video_mask {
    display: none;
    width: 100%;
    height: 100%;
     background: url(../common/images/mask.png); 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
#close {
    z-index: 999999;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -30px;
    right: -30px;
    background: url(../common/images/c.png) no-repeat;
    cursor: pointer;
}
.videos {
    width: 714px;
    height: 378px;
    background: #fff;
    margin: 20px auto;
    clear: both;
    overflow: hidden;
}

.i_main{
	width: 100%;
}

.i_main .i_main_1{
    height: 3100px;
    width:100%;
   	min-width:1200px;
    position: relative;
    z-index: 10;
    background: url(../img/bg.jpg) no-repeat center top;
}





