@size: 100rem;
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

.page {
    width: 100%;
    height: 100vh;
    background: url(../img/img8.jpg) no-repeat;
    background-size: cover;
    padding-top: 45/@size;
    position: relative;
    .video-box {
        width: 646/@size;
        height: 390/@size;
        margin: auto;
        position: relative;
        z-index: 100;
        video {
            width: 100%;
            height: 100%;
        }
    }
    .img-box {
        position: relative;
        height: calc(~"100vh - 4.3rem");
        img {
            position: absolute;
        }
        .img1 {
            width: 122/@size;
            height: 144/@size;
            top: .5rem;
            right: .2rem;
        }
        .img2 {
            width: 434/@size;
            height: 265/@size;
            top: rem;
            left: .8rem;
        }
        .img3 {
            width: 182/@size;
            height: 124/@size;
            left: 269/@size;
            top: em;
        }
        .img4 {
            width: 696/@size;
            height: 523/@size;
            top: .5rem;
            left: .12rem;
            z-index: 50;
        }
        .img5 {
            width: 640/@size;
            height: 205/@size;
            top: 1.2rem;
            left: .4rem;
            z-index: 40;
        }
        .btn {
            width: 404/@size;
            height: 108/@size;
            bottom: 40/@size;
            left: 158/@size;
            z-index: 100;
        }
    }
}
@-webkit-keyframes tada {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
    5%,
    10% {
        -webkit-transform: scale3d(.9, .9, .9) rotate(-3deg);
        transform: scale3d(.9, .9, .9) rotate(-3deg)
    }
    15%,
    25%,
    35%,
    45% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate(3deg)
    }
    20%,
    30%,
    40% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg)
    }
    50%{
         -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

@keyframes tada {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
    5%,
    10% {
        -webkit-transform: scale3d(.9, .9, .9) rotate(-3deg);
        transform: scale3d(.9, .9, .9) rotate(-3deg)
    }
    15%,
    25%,
    35%,
    45% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate(3deg)
    }
    20%,
    30%,
    40% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg)
    }
    50% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

.tada {
    -webkit-animation-name: tada;
    animation-name: tada;
}
@-webkit-keyframes an1{
    0%{
        -webkit-transform: translateY(10px);
    }
    100%{
        -webkit-transform: translateY(0);
    }
}
@-webkit-keyframes an1{
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }
}
.an1 {
    -webkit-animation-name: an1;
    animation-name: an1;
    -webkit-animation-direction: alternate-reverse;
    animation-direction: alternate-reverse;
    
}
@-webkit-keyframes an2{
    0%{
        -webkit-transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(10deg);
    }
}
@keyframes an2{
    0%{
        transform: rotate(0deg);
        transform: scale(.9);
    }
    100%{
        transform: rotate(10deg);
        transform: scale(1);
    }
}
.an2 {
    -webkit-animation-name: an2;
    animation-name: an2;
    -webkit-animation-direction: alternate-reverse;
    animation-direction: alternate-reverse;
    
}

@-webkit-keyframes an3{
    0%{
        -webkit-transform: scale(.8);
    }
    100%{
        -webkit-transform: scale(1);
    }
}
@-webkit-keyframes an3{
    0%{
        transform: scale(.8);
//      transform: translateX(-20px);
    }
    100%{
        transform: scale(1);
//      transform: translateX(0);
    }
}
.an3 {
    -webkit-animation-name: an3;
    animation-name: an3;
    -webkit-animation-direction: alternate-reverse;
    animation-direction: alternate-reverse;
    
}