{include file="../layouts/pc/header.html"}
    <div class="kv">
        <div class="container">
            <!--<div class="left-person"></div>-->
            <!--<div class="right-person"></div>-->
            <div class="title"></div>
            <img src="{$smarty.const.STATIC_DOMAIN}1.0/images/logo.png?{$smarty.const.VERSION}" alt="" class="logo">
            <div class="group">
                <div class="code"><img src="" alt="" class="js_jump_img"></div>
                <div class="download">
                    <a class="js_down_ios stat_ios" target="_blank"><div class="ios"></div></a>
                    <a class="js_down_andriod stat_android" target="_blank"><div class="android"></div></a>
                    <a class="tap stat_tap" target="_blank" href="http://l.taptap.com/cv8seD6l"><div class="tap"></div></a>
                </div>
                <div class="play">
                    {fragment var=video code=index_video size=1}
                    <div class="video js_video_play" data-url="{if $video}{$video[0].url}{/if}"></div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="fire"></div>-->
{include file="../layouts/pc/footer.html"}
