
	    <div class="header">
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/logo.png?{$smarty.const.VERSION}" />
			<div class="h_nav">
				<span class="d_t_t"></span>
				<span class="d_t_b"></span>
			</div>
			<ul class="header_nav">
				<li>
					<a href="/m/index.html">首页</a>
				</li>
				<li>
					<a href="/m/p/aboutus.html">关于我们</a>
				</li>
				<li>
					<a href="/m/p/match.html?id=1">业务布局</a>
				</li>
				<li>
					<a href="/m/news/list_1761_1.html">最新动态</a>
				</li>
				<li>
					<a href="/m/p/joinus.html">加入我们</a>
				</li>
				<div class="ewm_box">
					<div class="ewm_weixin">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/weixin.jpg?{$smarty.const.VERSION}" alt="">
					</div>
					<div class="ewm_weibo">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/weibo.png?{$smarty.const.VERSION}" alt="">
					</div>
					<div class="change">
						<h3>All Rights <span>乐竞文化传媒（上海）有限公司</span> 版权所有</h3>
						<h2>Powered by www.vspn.com</h2>
					</div>
				</div>
			</ul>
        </div>
			