<div class="q_float">
    <div class="down_ewm">
        <img src="" alt="" class="js_jump_img">
        <i></i>
    </div>
    <p class="text_ewm">扫一扫，即刻下载</p>
    <a class="q_ios js_down_ios stat_ios" href="javascript:" target="_blank"></a>
    <a class="q_az js_down_andriod stat_android " href="javascript:" target="_blank"></a>
    {if isset($smarty.session.channel_name) && in_array($smarty.session.channel_name,['ppcpc','stpc','jpcpc','tycpc'])}
    {else}
    <a class="q_tap stat_tap" href="https://www.taptap.com/app/68030" target="_blank"></a>
    <a class="q_haoyou stat_hy" href="http://www.3839.com/a/91790.htm" target="_blank" class="stat_hy"></a>
    {/if}
    <ul class="share_list">
        <li class="qq qq1"><a href="javascript:;"></a><p>Q群1</p></li>
        <li class="qq qq2"><a href="javascript:;"></a><p>Q群2</p></li>
        <li class="wb">
        	<a href="{$global.wb_url}" target="_blank"></a>
        	<a class="share_txt" href="{$global.wb_url}" target="_blank">微博</a>
        </li>
        <li class="tb">
        	<a href="{$global.tb_url}" target="_blank"></a>
        	<a href="{$global.wb_url}" target="_blank" class="share_txt">贴吧</a>
        </li>
    </ul>
    <div class="qq_wem wem1"><img src="{$global.group}" alt=""></div>
    <div class="qq_wem wem2"><img src="	{$global.group_two}" alt=""></div>
    <label class="q_f_icon show"></label>
</div>