
<div class="l_tc">
	<div class="tc1 ">
		<img class="tc_title" src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/l_lable1.png">
		<div>
			<div class="tc1_type">
				<p class="active" type="ios">
					<label><i></i></label>
					<span>IOS</span>
				</p>
				<p type="android">
					<label><i></i></label>
					<span>安卓</span>
				</p>
			</div>
			<input class="userPhone" type="text" placeholder="请输入手机号">
			<label class="tc1_err">请输入手机号</label>
			<div class="userMark2Box">
				<input type="text" class="userMark2" placeholder="右侧验证码">
				<div class="tc1_img_mark_box">
					<img class="tc1_img_mark" src="">
				</div>
			</div>
			<label class="tc1_err">请输入图形验证码</label>
			<div class="userMark1Box">
				<input type="text" class="userMark1" placeholder="请输入手机验证码">
				<button>获取验证码</button>
			</div>
			<label class="tc1_err">请输入验证码</label>
			<button class="tc1_sign"></button>
		</div>
		<button class="tc_close"></button>
	</div>
	<div class="tc2">
		<img class="tc_title" src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/l_lable1.png">
		<div>
			<h1>礼包兑换码</h1>
			<div class="tc2_copy">
				<p class="page_gold_code" id="page_gold_code">F43TRTGTREG45</p>
				<button id="tc2_copy_btn" data-clipboard-action="copy" data-clipboard-target="#page_gold_code">复制</button>
			</div>
			<p>礼包内容：<span>金币 X 1000</span></p>
			<p>领取方式：
				<label>进入游戏-点击活动按钮-点击礼包码-输入礼包码兑换礼包</label>
			</p>
			<p>礼包说明：
				<label>每个账号只可兑换一次</label>
			</p>
			<div class="tc2_wxh">
				<img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/l_mark.png">
				<div>
					<h2>扫码关注微信公众号</h2>
					<p>微信扫码吃鸡，独享更多游戏独家资讯及超值福利</p>
				</div>
			</div>
		</div>
		<button class="tc_close"></button>
	</div>
</div>