.test .title {
  margin-top: 30px;
  padding: 0;
}
.test .title .btn-group {
  display: inline;
}
.test .title .btn-group .btn-default {
  margin-top: -6px;
  padding-left: 0px;
  font-size: 20px;
  color: #404040 !important;
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
}
.test .title .btn-group .btn-default #version {
  border: none;
  width: 150px;
  cursor: pointer;
  background: #F6F6F6;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.test .title .btn-group .dropdown-menu {
  margin-top: 40px;
}
.test .title .pro-right ul {
  text-align: right;
  margin-left: 15%;
  width: 300px;
  height: 50px;
  line-height: 30px;
  border: 1px solid #DFDFDF;
  border-radius: 30px;
  float: left;
}
.test .title .pro-right ul li {
  float: left;
  width: 33%;
  text-align: center;
  border-right: 1px solid #DFDFDF;
  margin: 10px 0;
  cursor: pointer;
}
.test .title .pro-right ul li a {
  color: #a8a8a8;
  font-size: 15px;
}
.test .title .pro-right ul li:last-child {
  border-right: none;
}
.test .title .pro-right ul .pro-on a {
  color: #f70840;
}
.test .title .pro-right input {
  width: 300px;
  height: 50px;
  margin-left: 5%;
  border: 1px solid #DFDFDF;
  border-radius: 30px;
  background: #FDFDFD url(../img/search.jpg) no-repeat 20px center;
  color: #a8a8a8;
  text-indent: 50px;
  outline: none;
}
.test .title .pro-right input ::webkit-input-placeholder {
  color: #a8a8a8;
}
.test .title > a {
  margin-top: -40px;
  float: right;
  color: #f70840;
  font-size: 16px;
}
.test .title img:first-child {
  margin-top: -6px;
}
.test .title img.search {
  margin-top: 3px;
}
.test .test-now {
  height: auto;
  margin-top: 30px;
}
.test .test-now .all-info {
  display: none;
}
.test .test-now .info-on {
  display: block;
}
.test .test-now .choose-box {
  position: absolute;
  left: 5px;
  top: 10px;
}
.test .test-now .tableid {
  width: 100%;
  margin-bottom: 0px;
  background: #fff;
  border-top: none;
}
.test .test-now .tableid > tbody > tr {
  border-left: #DDDDDD;
}
.test .test-now .tableid > tbody > th {
  border: 1px solid red!important;
  font-size: 15px!important;
  vertical-align: middle;
}
.test .test-now .tableid th:first-child {
  width: 10%;
  padding-left: 10px;
  text-align: center;
  margin-right: 10px;
  border-left: 1px solid #ddd;
}
.test .test-now .tableid th:nth-child(2) {
  width: 6%;
}
.test .test-now .tableid th:nth-child(3) {
  width: 30%;
}
.test .test-now .tableid th:nth-child(4) {
  width: 9%;
}
.test .test-now .tableid th:nth-child(5) {
  width: 10%;
}
.test .test-now .tableid th:nth-child(6) {
  width: 7%;
}
.test .test-now .tableid th:nth-child(7) {
  width: 10%;
}
.test .test-now .tableid th:nth-child(8) {
  width: 90%;
  text-align: center;
  border-right: 1px solid #ddd;
}
.test .test-now .panel-group .panel-my {
  position: relative;
}
.test .test-now .panel-group .panel-my .panel-default {
  border-radius: 0px;
  border-bottom: none;
}
.test .test-now .panel-group .panel-my .panel-default .panel-heading {
  padding: 0px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  position: relative;
}
.test .test-now .panel-group .panel-my .panel-default .panel-heading .choose-box {
  display: inline-block;
  margin-left: 5px;
}
.test .test-now .panel-group .panel-my .panel-default .panel-heading table {
  width: 100%;
  display: inline-table;
}
.test .test-now .panel-group .panel-my .panel-default .panel-heading table td {
  height: 40px;
  border-top: none;
  color: #404040;
  font-size: 15px!important;
  text-align: left;
  vertical-align: middle;
}
.test .test-now .panel-group .panel-my .panel-default .panel-heading .table td:first-child {
  width: 10%;
  text-align: center;
  padding-left: 10px;
  margin-right: 10px;
}
.test .test-now .panel-group .panel-my .panel-default .panel-heading .table td:nth-child(2) {
  width: 6%;
}
.test .test-now .panel-group .panel-my .panel-default .panel-heading .table td:nth-child(3) {
  width: 30%;
}
.test .test-now .panel-group .panel-my .panel-default .panel-heading .table td:nth-child(4) {
  width: 9%;
}
.test .test-now .panel-group .panel-my .panel-default .panel-heading .table td:nth-child(5) {
  width: 10%;
}
.test .test-now .panel-group .panel-my .panel-default .panel-heading .table td:nth-child(6) {
  width: 7%;
}
.test .test-now .panel-group .panel-my .panel-default .panel-heading .table td:nth-child(7) {
  width: 10%;
}
.test .test-now .panel-group .panel-my .panel-default .panel-heading .table td:nth-child(8) {
  width: 90%;
}
.test .test-now .panel-group .panel-my .panel-default .panel-heading .no-finish {
  color: #f70840;
}
.test .test-now .panel-group .panel-my .panel-default .panel-heading .point-to {
  color: #0993fe;
}
.test .test-now .panel-group .panel-my .panel-default .panel-heading .serious {
  color: #f70840;
}
.test .test-now .panel-group .panel-my .panel-default .panel-heading .common {
  color: #f78908;
}
.test .test-now .panel-group .panel-my .panel-default .panel-heading .urgent {
  color: #ff0000;
}
.test .test-now .panel-group .panel-my .panel-default .panel-heading .noclick {
  position: absolute;
  width: 96.5%;
  height: 100%;
  left: 40px;
  top: 0px;
  right: 0;
  background: #000000;
  opacity: 0.05;
  z-index: 3;
  display: none;
}
.test .test-now .panel-group .panel-my .panel-default .panel-heading .check1 {
  display: none;
}
.test .test-now .panel-group .panel-my .panel-default .panel-heading label:after {
  height: 20px;
}
.test .test-now .panel-group .panel-my .panel-default .panel-heading .check1 + label {
  background: #fff;
  cursor: pointer;
  border: 1px solid #E5E5E5;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  position: relative;
}
.test .test-now .panel-group .panel-my .panel-default .panel-heading .check1 + label:active,
.test .test-now .panel-group .panel-my .panel-default .panel-heading .check1:checked + label:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.test .test-now .panel-group .panel-my .panel-default .panel-heading .check1:checked + label {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}
.test .test-now .panel-group .panel-my .panel-default .panel-heading .check1:checked + label:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: -10px;
  left: 3px;
  color: #99a1a7;
}
.test .test-now .panel-group .panel-my .panel-default .panel-collapse .panel-body .here {
  width: 63%;
  display: inline-block;
}
.test .test-now .panel-group .panel-my .panel-default .panel-collapse .panel-body .here fieldset {
  width: 100%;
  min-height: 200px;
  border: 1px solid #E5E5E5;
  padding: 10px 15px 15px;
  margin-bottom: 15px;
}
.test .test-now .panel-group .panel-my .panel-default .panel-collapse .panel-body .here fieldset > legend {
  width: auto;
  margin: 0 0 0 -5px;
  font-size: 18px;
  color: #404040;
  border-bottom: 0;
  padding: 0 5px;
}
.test .test-now .panel-group .panel-my .panel-default .panel-collapse .panel-body .here fieldset p {
  font-size: 14px;
  color: #525b76;
}
.test .test-now .panel-group .panel-my .panel-default .panel-collapse .panel-body .detail-info {
  width: 35%;
  float: right;
}
.test .test-now .panel-group .panel-my .panel-default .panel-collapse .panel-body .detail-info fieldset {
  width: 100%;
  min-height: 120px;
  border: 1px solid #E5E5E5;
  padding: 10px 15px 15px;
  margin-bottom: 15px;
}
.test .test-now .panel-group .panel-my .panel-default .panel-collapse .panel-body .detail-info fieldset > legend {
  width: auto;
  margin: 0 0 0 -5px;
  font-size: 18px;
  color: #404040;
  border-bottom: 0;
  padding: 0 5px;
}
.test .test-now .panel-group .panel-my .panel-default .panel-collapse .panel-body .detail-info fieldset li {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}
.test .test-now .panel-group .panel-my .panel-default .panel-collapse .panel-body .detail-info fieldset li .info-title {
  display: inline-block;
  width: 70px;
  text-align: right;
  color: #444444;
  margin-right: 15px;
}
.test .test-now .panel-group .panel-my .panel-default .panel-collapse .panel-body .detail-info fieldset li .info-content {
  color: #1E232F;
}
.test .test-now .panel-group .panel-my .panel-default .panel-collapse .panel-body .detail-info fieldset .table {
  font-size: 14px;
  border: none;
}
.test .test-now .panel-group .panel-my .panel-default .panel-collapse .panel-body .detail-info fieldset .table td {
  color: #1E232F;
  border: none;
}
.test .test-now .panel-group .panel-my .panel-default .panel-collapse .panel-body .detail-info fieldset .table td:first-child {
  width: 24%;
  text-align: right;
  color: #444444;
}
.test .test-now .panel-group .panel-my .panel-default .panel-collapse .panel-body .history {
  width: 63%;
}
.test .test-now .panel-group .panel-my .panel-default .panel-collapse .panel-body .history fieldset {
  width: 100%;
  min-height: 120px;
  border: 1px solid #E5E5E5;
  padding: 10px 15px 15px;
  margin-bottom: 15px;
}
.test .test-now .panel-group .panel-my .panel-default .panel-collapse .panel-body .history fieldset > legend {
  width: auto;
  margin: 0 0 0 -5px;
  font-size: 18px;
  color: #404040;
  border-bottom: 0;
  padding: 0 5px;
}
.test .test-now .panel-group .panel-my .panel-default .panel-collapse .panel-body .history fieldset i {
  border: 1px solid #ccc;
  font-size: 14px;
  cursor: pointer;
  width: 20px;
  line-height: 20px;
  color: #666666;
  text-align: center;
  background: #f1f1f1;
}
.test .test-now .panel-group .panel-my .panel-default .panel-collapse .panel-body .history fieldset i:hover {
  color: #333;
  border-color: #aaa;
  background: white;
}
.test .test-now .panel-group .panel-my .panel-default .panel-collapse .panel-body .history fieldset .history-content {
  width: 98%;
  background: #F1F1F1;
  border: 1px solid #E4E4E4;
  height: auto;
  margin: 5px 0 5px 10px;
  text-indent: 10px;
  display: none;
}
.test .test-now .panel-group .panel-my .panel-default .panel-collapse .panel-body .history fieldset .history-content span {
  font-size: 14px;
  color: #141414;
}
.test .test-now .panel-group .panel-my .panel-default .panel-collapse .panel-body .history fieldset .history-content .change {
  font-style: italic;
  font-size: 15px;
  margin: 0 5px;
}
.test .test-now .panel-group .panel-my .panel-default .panel-collapse .panel-body .history fieldset .history-content div {
  margin: 0 0 10px 10px;
  padding: 5px 5px;
  border-left: 5px solid #E5E5E5;
  text-align: left;
  font-size: 14px;
}
.test .test-now .panel-group .panel-my .panel-default .panel-collapse .panel-body .history fieldset .history-content div .line-through {
  margin-left: 5px;
  text-decoration: line-through;
}
.test .test-now .panel-group .panel-my .panel-default .panel-collapse .panel-body .history fieldset .history-content div .line-bottom {
  margin-left: 5px;
  text-decoration: underline;
}
.test .test-now .panel-group .panel-my .panel-default .panel-collapse .panel-body .history .record {
  font-size: 18px;
  color: #404040;
  line-height: 40px;
}
.test .test-now .panel-group .panel-my .panel-default .panel-collapse .panel-body .history .record1 {
  font-size: 14px;
  color: #525b76;
  line-height: 20px;
}
.test .test-now .panel-group .panel-my .panel-default .panel-collapse .panel-body .history .record1 strong {
  font-size: 15px;
  margin: 0 5px;
}
.test .test-now .panel-group .panel-my .caozuo {
  float: right;
  position: absolute;
  right: 10px;
  top: 4px;
  font-size: 15px;
}
.test .test-now .panel-group .panel-my .caozuo > a {
  color: #525b76;
  margin-right: 10px;
}
.test .test-now .panel-group .panel-my .caozuo .work2 {
  transform: rotate(180deg);
}
/*克隆*/
.clone-box {
  display: none;
}
/*新增弹窗*/
.newto {
  border-radius: none;
}
.newto .modal-content {
  margin: auto;
  width: 1150px;
  height: 550px;
  padding: 10px 20px;
  margin-left: -40%;
  margin-top: 40%;
}
.newto .modal-content .modal-header {
  position: relative;
  border-bottom: 1px dashed #DDDDDD;
}
.newto .modal-content .modal-header h4 {
  font-size: 32px;
  color: #404040;
}
.newto .modal-content .modal-header span {
  font-size: 20px;
  color: #acacac;
  margin-left: 20px;
}
.newto .modal-content .modal-header .close {
  position: absolute;
  right: -60px;
  top: -30px;
  opacity: 1;
}
.newto .modal-content .modal-header .close img {
  width: 30px;
  height: 30px;
}
.newto .modal-content .modal-body {
  border-bottom: none;
}
.newto .modal-content .modal-body .word > div {
  display: inline-block;
  font-size: 15px!important;
  margin-right: 20px;
}
.newto .modal-content .modal-body .word > div .span1 {
  color: #ACACAC;
  margin-right: 5px;
}
.newto .modal-content .modal-body .word > div .span2 {
  color: #404040;
}
.newto .modal-content .modal-body .word .title-zhibo {
  width: 30%;
}
.newto .modal-content .modal-body .word .title-zhibo input {
  text-indent: 10px;
  width: 87%;
  float: right;
  height: 40px;
  border: 1px solid #E2E2E2;
  outline: none;
  margin-top: -4px;
}
.newto .modal-content .modal-body .word .title-zhibo input:focus {
  border: 1px solid #646464;
}
.newto .modal-content .modal-body .word .bug-model {
  width: 47.79%;
  float: right;
  margin-right: 0px!important;
}
.newto .modal-content .modal-body .word .bug-model span {
  float: left;
}
.newto .modal-content .modal-body .word .bug-model .btn-group {
  width: 87.6%;
  height: 40px;
  margin-top: -4px;
}
.newto .modal-content .modal-body .word .bug-model .btn-group .dropdown-toggle {
  width: 100%;
  position: relative;
  border: none;
  background: white!important;
  box-shadow: none;
}
.newto .modal-content .modal-body .word .bug-model .btn-group .dropdown-toggle input {
  border: 1px solid #E2E2E2;
  text-indent: 10px;
  width: 100%;
  height: 40px;
  margin-bottom: 0px;
}
.newto .modal-content .modal-body .word .bug-model .btn-group .dropdown-toggle input:focus {
  border: 1px solid #646464;
}
.newto .modal-content .modal-body .word .bug-model .btn-group .dropdown-toggle:focus {
  box-shadow: none!important;
}
.newto .modal-content .modal-body .word .bug-model .btn-group .dropdown-toggle .caret {
  position: absolute;
  right: 10px;
  top: 15px;
}
.newto .modal-content .modal-body .word .bug-model .btn-group .dropdown-menu {
  border-radius: 0px;
  width: 100%;
  margin-top: -2px;
  padding: 10px 0;
  border: 1px solid #646464;
}
.newto .modal-content .modal-body .word .bug-model .btn-group .dropdown-menu li > a:hover {
  background-color: #FFF4F7;
}
.newto .modal-content .modal-body .word .bug-model .btn-group .dropdown-menu li > a {
  padding: 5px 12px;
}
.newto .modal-content .modal-body .word .bug-model .btn-group .dropdown-menu span {
  font-weight: bold;
}
.newto .modal-content .modal-body .word .scale {
  margin-bottom: 20px;
  width: 24.6%;
  margin-top: 20px;
}
.newto .modal-content .modal-body .word .scale .btn-group {
  height: 40px;
  margin-top: -2px;
}
.newto .modal-content .modal-body .word .scale .btn-group .dropdown-toggle {
  width: 100%;
  position: relative;
  border: none;
  background: white!important;
  box-shadow: none;
}
.newto .modal-content .modal-body .word .scale .btn-group .dropdown-toggle input {
  border: 1px solid #E2E2E2;
  width: 100%;
  height: 40px;
  margin-bottom: 0px;
}
.newto .modal-content .modal-body .word .scale .btn-group .dropdown-toggle input:focus {
  border: 1px solid #646464;
}
.newto .modal-content .modal-body .word .scale .btn-group .dropdown-toggle:focus {
  box-shadow: none!important;
}
.newto .modal-content .modal-body .word .scale .btn-group .dropdown-toggle .caret {
  position: absolute;
  right: 10px;
  top: 15px;
}
.newto .modal-content .modal-body .word .scale .btn-group .dropdown-menu {
  border-radius: 0px;
  width: 100%;
  margin-top: -2px;
  padding: 10px 0;
  border: 1px solid #646464;
}
.newto .modal-content .modal-body .word .scale .btn-group .dropdown-menu li > a:hover {
  background-color: #FFF4F7;
}
.newto .modal-content .modal-body .word .scale .btn-group .dropdown-menu li > a {
  padding: 5px 12px;
}
.newto .modal-content .modal-body .word .scale .btn-group .dropdown-menu span {
  font-weight: bold;
}
.newto .modal-content .modal-body .word .equip {
  margin-bottom: 20px;
  width: 25.5%;
  margin-top: 20px;
}
.newto .modal-content .modal-body .word .equip .btn-group {
  height: 40px;
  margin-top: -2px;
}
.newto .modal-content .modal-body .word .equip .btn-group .dropdown-toggle {
  width: 100%;
  position: relative;
  border: none;
  background: white!important;
  box-shadow: none;
}
.newto .modal-content .modal-body .word .equip .btn-group .dropdown-toggle input {
  border: 1px solid #E2E2E2;
  text-indent: 10px;
  width: 100%;
  height: 40px;
  margin-bottom: 0px;
}
.newto .modal-content .modal-body .word .equip .btn-group .dropdown-toggle input:focus {
  border: 1px solid #646464;
}
.newto .modal-content .modal-body .word .equip .btn-group .dropdown-toggle:focus {
  box-shadow: none!important;
}
.newto .modal-content .modal-body .word .equip .btn-group .dropdown-toggle .caret {
  position: absolute;
  right: 10px;
  top: 15px;
}
.newto .modal-content .modal-body .word .equip .btn-group .dropdown-menu {
  border-radius: 0px;
  width: 100%;
  margin-top: -2px;
  padding: 10px 0;
  border: 1px solid #646464;
}
.newto .modal-content .modal-body .word .equip .btn-group .dropdown-menu li > a:hover {
  background-color: #FFF4F7;
}
.newto .modal-content .modal-body .word .equip .btn-group .dropdown-menu li > a {
  padding: 5px 12px;
}
.newto .modal-content .modal-body .word .equip .btn-group .dropdown-menu span {
  font-weight: bold;
}
.newto .modal-content .modal-body .word .add-point .bootstrap-select {
  height: 40px;
}
.newto .modal-content .modal-body .word .add-point .bootstrap-select button {
  border: 1px solid #DDDDDD;
  width: 100%;
  height: 100%;
  border-radius: 0px;
  outline: none!important;
}
.newto .modal-content .modal-body .word .add-point .bootstrap-select button:hover {
  background-color: white;
  border-color: #DDDDDD;
}
.newto .modal-content .modal-body .word .add-point .bootstrap-select button:focus {
  outline: none!important;
  border: 1px solid #646464;
  background-color: white;
}
.newto .modal-content .modal-body .word .add-point .bootstrap-select .dropdown-menu {
  overflow-y: auto;
  border: 1px solid #646464;
  border-radius: 0px;
  border-top: none;
}
.newto .modal-content .modal-body .word .add-point .bootstrap-select .dropdown-menu .bs-searchbox input {
  margin-top: 0px;
  height: 30px;
  outline: none!important;
}
.newto .modal-content .modal-body .word .add-point .bootstrap-select .dropdown-menu .selectpicker {
  border: none;
  margin-top: 0px;
}
.newto .modal-content .modal-body .word .add-point .bootstrap-select .dropdown-menu > li > a:hover,
.newto .modal-content .modal-body .word .add-point .bootstrap-select .dropdown-menu > li > a:focus {
  background-color: #FFF4F7;
}
.newto .modal-content .modal-body .addColor {
  border: 1px solid #646464;
}
.newto .modal-content .modal-body #myEditor {
  display: inline-block;
}
.newto .modal-content .modal-footer {
  height: 40px;
  margin-bottom: -30px;
  border-top: none;
  font-size: 16px;
}
.newto .modal-content .modal-footer .cancel {
  color: #5D5D5D;
  margin-right: 5%;
}
.newto .modal-content .modal-footer .save {
  color: #FB2356;
}
.newto .modal-content .modal-footer .remark {
  float: left;
  color: #FA003A;
  font-size: 12px;
  display: none;
}
/*指派弹窗*/
#exampleModal3 .modal-content {
  width: 600px;
  height: 300px;
  margin: auto;
  margin-top: 40%;
}
#exampleModal3 .modal-content .modal-body {
  height: 150px;
}
#exampleModal3 .modal-content .modal-body .bootstrap-select {
  margin-left: 20px;
  height: 40px;
}
#exampleModal3 .modal-content .modal-body .bootstrap-select button {
  border: 1px solid #DDDDDD;
  width: 100%;
  height: 100%;
  border-radius: 0px;
  outline: none!important;
}
#exampleModal3 .modal-content .modal-body .bootstrap-select button:hover {
  background-color: white;
  border-color: #DDDDDD;
}
#exampleModal3 .modal-content .modal-body .bootstrap-select button:focus {
  outline: none!important;
  border: 1px solid #646464;
  background-color: white;
}
#exampleModal3 .modal-content .modal-body .bootstrap-select .dropdown-menu {
  overflow-y: auto;
  border: 1px solid #646464;
  border-radius: 0px;
  border-top: none;
}
#exampleModal3 .modal-content .modal-body .bootstrap-select .dropdown-menu .bs-searchbox input {
  margin-top: 0px;
  height: 30px;
}
#exampleModal3 .modal-content .modal-body .bootstrap-select .dropdown-menu .selectpicker {
  border: none;
  margin-top: 0px;
}
#exampleModal3 .modal-content .modal-body .bootstrap-select .dropdown-menu > li > a:hover,
#exampleModal3 .modal-content .modal-body .bootstrap-select .dropdown-menu > li > a:focus {
  background-color: #FFF4F7;
}
#exampleModal3 .modal-content .modal-footer {
  border-top: none;
  font-size: 16px;
}
#exampleModal3 .modal-content .modal-footer a {
  margin-right: 0px;
  color: #FB2356;
}
#exampleModal3 .modal-content .modal-footer .remark {
  float: left;
  color: #FA003A;
  font-size: 12px;
  display: none;
}
/*关闭弹窗*/
#exampleModa2 {
  border-radius: none;
}
#exampleModa2 .modal-content {
  width: 600px;
  height: 400px;
  padding: 10px 20px;
  margin: auto;
  margin-top: 40%;
}
#exampleModa2 .modal-content .modal-header {
  position: relative;
  border-bottom: 1px dashed #DDDDDD;
}
#exampleModa2 .modal-content .modal-header h4 {
  font-size: 32px;
  color: #404040;
}
#exampleModa2 .modal-content .modal-header span {
  font-size: 20px;
  color: #acacac;
  margin-left: 20px;
}
#exampleModa2 .modal-content .modal-header .close {
  position: absolute;
  right: -60px;
  top: -30px;
  opacity: 1;
}
#exampleModa2 .modal-content .modal-header .close img {
  width: 30px;
  height: 30px;
}
#exampleModa2 .modal-content .modal-body {
  border-bottom: none;
}
#exampleModa2 .modal-content .modal-body .btn-group {
  width: 35%;
  height: 40px;
  margin-top: -2px;
}
#exampleModa2 .modal-content .modal-body .btn-group .dropdown-toggle {
  position: relative;
  width: 100%;
  border: none;
  background: white!important;
  box-shadow: none;
}
#exampleModa2 .modal-content .modal-body .btn-group .dropdown-toggle input {
  text-indent: 10px;
  border: 1px solid #E2E2E2;
  width: 100%;
  height: 40px;
  margin-bottom: 0px;
  font-size: 14px;
}
#exampleModa2 .modal-content .modal-body .btn-group .dropdown-toggle input:focus {
  border: 1px solid #646464;
}
#exampleModa2 .modal-content .modal-body .btn-group .dropdown-toggle .caret {
  position: absolute;
  right: 10px;
  top: 15px;
}
#exampleModa2 .modal-content .modal-body .btn-group .dropdown-menu {
  border-radius: 0px;
  width: 100%;
  margin-top: -1px;
  padding: 10px 0;
  border: 1px solid #646464;
}
#exampleModa2 .modal-content .modal-body .btn-group .dropdown-menu li > a:hover {
  background-color: #FFF4F7;
}
#exampleModa2 .modal-content .modal-body .btn-group .dropdown-menu li > a {
  padding: 5px 12px;
}
#exampleModa2 .modal-content .modal-body .btn-group .dropdown-menu span {
  font-weight: bold;
}
#exampleModa2 .modal-content .modal-body .form-control {
  width: 100%;
  outline: none!important;
  margin: 20px auto;
  resize: none;
}
#exampleModa2 .modal-content .modal-body .form-control:focus {
  border: 1px solid #646464;
  box-shadow: none;
}
#exampleModa2 .modal-content .modal-body .control-label {
  color: #ACACAC;
  margin-right: 5px;
  font-size: 14px;
  cursor: pointer;
}
#exampleModa2 .modal-content .modal-body .file-container {
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  width: 140px;
}
#exampleModa2 .modal-content .modal-body .file-container button {
  background: #FA003A;
  cursor: pointer;
  width: 140px;
}
#exampleModa2 .modal-content .modal-body .file-container input {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0;
  opacity: 0;
  line-height: 34px;
}
#exampleModa2 .modal-content .modal-body #filename {
  vertical-align: middle;
  color: #ACACAC;
  margin-left: 5px;
}
#exampleModa2 .modal-content .modal-footer {
  height: 40px;
  margin-top: -20px;
  border-top: none;
  font-size: 16px;
}
#exampleModa2 .modal-content .modal-footer a:first-child {
  color: #5D5D5D;
  margin-right: 5%;
}
#exampleModa2 .modal-content .modal-footer a:last-child {
  color: #FB2356;
}
#exampleModa2 .modal-content .modal-footer .remark {
  float: left;
  color: #FA003A;
  font-size: 12px;
  display: none;
}
