{include '../layouts/pc/header.html'}
<div class="i_main i_main2" id="index">
    <img src="{$smarty.const.STATIC_DOMAIN}1.0/images/rolebg1.jpg?{$smarty.const.VERSION}" class="role_img role_img1"/>
    <img src="{$smarty.const.STATIC_DOMAIN}1.0/images/rolebg2.jpg?{$smarty.const.VERSION}" class="role_img role_img2"/>
    <img src="{$smarty.const.STATIC_DOMAIN}1.0/images/rolebg3.jpg?{$smarty.const.VERSION}" class="role_img role_img3"/>


    <!--footer-->
    {include '../layouts/pc/bottom.html'}
</div>
</body>
</html>