
@keyframes ani1 {
    from{
       transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@-webkit-keyframes ani1 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@-moz-keyframes ani1 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


@keyframes ani2 {
    from{
       transform: translate(0,0);
    }
    to{
        transform: translate(0,20px);
    }
}
@-webkit-keyframes ani2 {
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(0,20px);
    }
}
@-moz-keyframes ani2 {
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(0,20px);
    }
}

::-ms-clear, ::-ms-reveal{display: none;}

html {
    font-family: "Microsoft YaHei";
}
body {
    background: #04101B;
}
button:hover {
    cursor: pointer;
}
a{
    text-decoration: none;
}
.no_border_bottom {
    border-bottom: none;
}
.qt_main {
    width: 100%;
    max-width: 1920px;
    min-width: 1200px;
    height: 2793px;
    background: url("../images/qt_bimg3.jpg") no-repeat;
    background-position: center 0;
    overflow: hidden;
}
.qt_main .qt_game_inf {
    width: 1200px;
    margin: 0 auto;
    margin-top: 1140px;
    overflow: hidden;
}
.qt_main .qt_game_inf p {
    width: 540px;
    margin: 0 0 0 460px;
    color: #ccc;
    font-size: 18px;
    line-height: 28px;
}
.qt_main .qt_inp_box {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    margin-top: 100px;
    padding: 0 0 0 80px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
.qt_main .qt_inp_box div{
    float: left;
    overflow: hidden;
}
.qt_main .qt_inp_box .qt_in_left{
    margin: 190px 36px 0 0;
}
.qt_main .qt_inp_box input {
    float: left;
    width: 340px;
    height: 88px;
    line-height: 88px;
    border: 2px solid #ff9b00;
    text-indent: 32px;
    font-size: 24px;
    color: #f5cd9e;
    background: #301f05;
    box-sizing: border-box;
}
.qt_main .qt_inp_box button {
    float: left;
    width: 218px;
    height: 92px;
    margin: 0 0 0 2px;
    background: url("../images/qt_img2_03.png") no-repeat;
}
.qt_main .qt_inp_box p{
    margin: 14px 0 0 0;
    font-size: 18px;
    color: #ccc;
    height: 22px;
    line-height: 20px;
}
.qt_main .qt_inp_box p label{
    display: inline-block;
    width: 25px;
    height: 22px;
    text-align: center;
    margin: 0 10px 0 0;
    font-size: 14px;
    line-height: 23px;
    background: url("../images/qt_icon3_03.png") no-repeat;
}
.qt_in_right > img{
    display: block;
    margin: 56px 0 6px 0;
}
.qt_in_right > a {
    display: inline-block;
    margin: 0 0 0 50px;
}
.qt_main .qt_yy_inf {
    width: 1200px;
    margin: 0 auto;
    margin-top: 340px;
    overflow: hidden;
}
.qt_main .qt_yy_inf .qt_yy_js,
.qt_main .qt_yy_inf .qt_yy_xz {
    float: left;
    width: 510px;
    margin: 410px 0 0 0;
}
.qt_main .qt_yy_inf .qt_yy_js li,
.qt_main .qt_yy_inf .qt_yy_xz li {
    width: 100%;
    margin: 0 0 22px 0;
    overflow: hidden;
}
.qt_main .qt_yy_inf .qt_yy_js li label,
.qt_main .qt_yy_inf .qt_yy_xz li label {
    text-align: center;
    display: block;
    float: left;
    width: 25px;
    height: 22px;
    line-height: 22px;
    color: #fff;
    background: url('../images/qt_icon1_03.jpg') no-repeat;
}
.qt_main .qt_yy_inf .qt_yy_xz li label{
    background: url('../images/qt_icon2_03.png') no-repeat;
}
.qt_main .qt_yy_inf .qt_yy_js li p,
.qt_main .qt_yy_inf .qt_yy_xz li p {
    float: left;
    width: 460px;
    color: #ccc;
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 0 22px;
    padding: 0 0 20px 0;
    border-bottom: 1px solid rgba(200, 200, 200, 0.4);
}
.qt_main .qt_yy_inf .qt_yy_js li p a,
.qt_main .qt_yy_inf .qt_yy_xz li p a {
    color: #ff9b00;
    text-decoration: underline;
}
.qt_main .qt_yy_inf .qt_yy_js li p.no_border_bottom,
.qt_main .qt_yy_inf .qt_yy_xz li p.no_border_bottom {
    border-bottom: none;
}
.qt_main .qt_yy_inf .qt_yy_xz {
    float: right;
    width: 510px;
    margin: 0;
}
.page_cover {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    display: none;
    z-index: 20;
}
.page_cover div.qt_tz_text {
    width: auto;
    height: auto;
    padding: 50px  70px;
    font-size: 34px;
    text-align: center;
    color: #fff;
    position: absolute;
    border-radius: 16px;
    line-height: 60px;
    top: 50%;
    left: 50%;
    top: 38%\9;
    left: 38%\9;
    transform: translate3d(-50%, -50%, 0);
    background: url("../images/qt_tz_bimg.png") no-repeat;
    background-size: cover;
    background: #000\9;
    display: none;
}
.page_cover div.qt_tz_yy {
    width: 250px;
    padding: 50px  90px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    top: 38%\9;
    left: 38%\9;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 16px;
    background: url("../images/qt_tz_bimg.png") no-repeat;
    background-size: cover;
    display: none;
}
.page_cover div.qt_tz_yy label {
    float: left;
    display: block;
    width: 50px;
    height: 50px;
    background: url("../images/qt_yy_loading_03.png") no-repeat;
    background-size: cover;
    animation: ani1 2s linear infinite;
    -webkit-animation: ani1 2s linear infinite;
    -moz-animation: ani1 2s linear infinite;
}
.page_cover div.qt_tz_yy p {
    float: left;
    font-size: 34px;
    color: #fff;
    margin: 0 0 0 40px;
}

.qt_in_sj_cover{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.9);
    z-index: 10;
    opacity: 1;
    display: none;
    transition: all .2s;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5000000,endColorstr=#E5000000);
}
.qt_in_sj_cover form{
    width: 405px;
    height: 516px;
    position: absolute;
    margin: auto;
    padding: 0 16px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../images/qt_img7_03.png") no-repeat;
    background-size: cover;
}
.qt_in_sj_cover form p{
    color: #707070;
    font-size: 14px;
    margin: 270px 0 0 0;
}
.qt_in_sj_cover form > input{
    width: 100%;
    height: 50px;
    border: 1px solid #dadada;
    box-sizing: border-box;
    margin: 30px 0 10px 0;
    color: #9f9f9f;
    font-size: 18px;
    line-height: 48px;
    padding: 0 0 0 20px;
}
.qt_in_sj_cover form > div{
    width: 100%;
    height: 50px;
    box-sizing: border-box;
}
.qt_in_sj_cover form > div input{
    width: 254px;
    height: 50px;
    border: 1px solid #dadada;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 48px;
    color: #9f9f9f;
    padding: 0 0 0 20px;
}
.qt_in_sj_cover form > div a{
    width: 100px;
    height: 50px;
    float: right;
    text-align: center;
    line-height: 48px;
    background: #ff9b00;
    color: #fff;
    font-size: 18px;
    transition: all .2s;
}
.qt_in_sj_cover form > div a:hover{
    background: #E18600;
}
.qt_in_sj_cover form >a{
    display: block;
    width: 100%;
    height: 50px;
    margin: 20px 0 0 0;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    color: #fff;
    background: #c54300;
    transition: all .2s;
}
.qt_in_sj_cover form >a:hover{
    background: #af3e00;
}
.qt_in_sj_cover form >img{
    position: absolute;
    right: 6px;
    top: 170px;
}
.qt_in_sj_cover form >img:hover{
    cursor: pointer;
}
.qt_md{
    position: fixed;
    right: 40px;
    bottom: 60px;
    z-index: 2;
}