<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{$seo_title}</title>
    <meta content="" name="Keywords">
    <meta content="" name="Description">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <link href="{$smarty.const.STATIC_DOMAIN}yingxiong/question/css/swiper-3.4.2.min.css?{$smarty.const.VERSION}" rel="stylesheet" />
    <link href="{$smarty.const.STATIC_DOMAIN}yingxiong/question/css/animate.min.css?{$smarty.const.VERSION}" rel="stylesheet" />
    <link href="{$smarty.const.STATIC_DOMAIN}yingxiong/question/css/index.css?{$smarty.const.VERSION}" rel="stylesheet" />
    <script>
        (function (doc, win) {
            var docEl = doc.documentElement,
            // 手机旋转事件,大部分手机浏览器都支持 onorientationchange 如果不支持，可以使用原始的 resize
                    resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                    recalc = function () {
                        //clientWidth: 获取对象可见内容的宽度，不包括滚动条，不包括边框
                        var clientWidth = docEl.clientWidth;
                        if (!clientWidth) return;
                        docEl.style.fontSize = 16*(clientWidth / 320) + 'px';
                    };

            recalc();
            //判断是否支持监听事件 ，不支持则停止
            if (!doc.addEventListener) return;
            //注册翻转事件
            win.addEventListener(resizeEvt, recalc, false);
        })(document, window);
    </script>
    {csrf}
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?f183afb4e7ff5b06386ab52608aecea5";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<div class="wrap" data-id="{$id}">
       <div class="h5_wx" style="display: none;">{$is_warrant}</div>
        <div class="h5_data" style="display: none;">{$h5data}</div>
    <section class="swiper-container swiper-container1">
        <section class="swiper-wrapper">
            <section class="swiper-slide page1 swiper-no-swiping">
                <p class="img1 ani" swiper-animate-effect="slideInLeft"><img src="{$smarty.const.STATIC_DOMAIN}yingxiong/question/images/o_img1.png?{$smarty.const.VERSION}" alt=""/></p>
                <p class="img2 ani" swiper-animate-effect="zoomIn"><img src="{$smarty.const.STATIC_DOMAIN}yingxiong/question/images/o_img2.png?{$smarty.const.VERSION}" alt=""/></p>
                <p class="qq"><img src="{$smarty.const.STATIC_DOMAIN}yingxiong/question/images/o_img3.png?{$smarty.const.VERSION}" alt=""/></p>
                <div class="click"></div>
            </section>
            <section class="swiper-slide page2 swiper-no-swiping">
                <p class="c_img ani " swiper-animate-effect="bounceInDown"><img src="{$smarty.const.STATIC_DOMAIN}yingxiong/question/images/c_img1.png?{$smarty.const.VERSION}" alt=""/></p>
                <p class="c_img ani hidden" swiper-animate-effect="bounceInDown"><img src="{$smarty.const.STATIC_DOMAIN}yingxiong/question/images/c_img2.png?{$smarty.const.VERSION}" alt=""/></p>
                <p class="c_img ani hidden" swiper-animate-effect="bounceInDown"><img src="{$smarty.const.STATIC_DOMAIN}yingxiong/question/images/c_img3.png?{$smarty.const.VERSION}" alt=""/></p>
                <p class="c_img ani hidden" swiper-animate-effect="bounceInDown"><img src="{$smarty.const.STATIC_DOMAIN}yingxiong/question/images/c_img4.png?{$smarty.const.VERSION}" alt=""/></p>
                <p class="c_img ani hidden" swiper-animate-effect="bounceInDown"><img src="{$smarty.const.STATIC_DOMAIN}yingxiong/question/images/c_img5.png?{$smarty.const.VERSION}" alt=""/></p>
                <p class="c_img ani hidden" swiper-animate-effect="bounceInDown"><img src="{$smarty.const.STATIC_DOMAIN}yingxiong/question/images/c_img6.png?{$smarty.const.VERSION}" alt=""/></p>
                <p class="c_img ani hidden" swiper-animate-effect="bounceInDown"><img src="{$smarty.const.STATIC_DOMAIN}yingxiong/question/images/c_img7.png?{$smarty.const.VERSION}" alt=""/></p>
                <p class="c_img ani hidden" swiper-animate-effect="bounceInDown"><img src="{$smarty.const.STATIC_DOMAIN}yingxiong/question/images/c_img8.png?{$smarty.const.VERSION}" alt=""/></p>
                <p class="c_img ani hidden" swiper-animate-effect="bounceInDown"><img src="{$smarty.const.STATIC_DOMAIN}yingxiong/question/images/c_img9.png?{$smarty.const.VERSION}" alt=""/></p>
                <p class="c_img ani hidden" swiper-animate-effect="bounceInDown"><img src="{$smarty.const.STATIC_DOMAIN}yingxiong/question/images/c_img10.png?{$smarty.const.VERSION}" alt=""/></p>
                <p class="qq"><img src="{$smarty.const.STATIC_DOMAIN}yingxiong/question/images/o_img3.png?{$smarty.const.VERSION}" alt=""/></p>
                <div class="question_box">
                    <div class="question qu1 ani " swiper-animate-effect="slideInRight">
                        <div>
                            <p class="title"><span>1/<i>10&nbsp;</i></span>英雄互娱的吉祥物叫什么名字？</p>
                            <div class="choice">
                                <span>A.莹莹</span>
                                <span>B.熊熊</span>
                                <span data-type="true">C.66</span>
                                <span>D.77</span>
                            </div>
                        </div>
                    </div>
                    <div class="question qu2 ani hidden" swiper-animate-effect="slideInRight">
                        <div>
                            <p class="title"><span>2/<i>10&nbsp;</i></span>英雄互娱成立并挂牌新三板时间是什么时候？</p>
                            <div class="choice">
                                <span> A.2014年6月16日</span>
                                <span data-type="true">B.2015年6月16日</span>
                                <span>C.2016年6月16日</span>
                                <span>D.2017年6月16日</span>
                            </div>
                        </div>
                    </div>
                    <div class="question qu3 ani hidden" swiper-animate-effect="slideInRight">
                        <div>
                            <p class="title"><span>3/<i>10&nbsp;</i></span>全球第一款FPS手游是哪家公司的？叫什么名字？</p>
                            <div class="choice">
                                <span data-type="true"> A.英雄互娱《全民枪战》</span>
                                <span>B.腾讯《穿越火线：枪战王者》</span>
                                <span>C.网易《荒野行动》</span>
                                <span>D.小米《小米超神》</span>
                            </div>
                        </div>
                    </div>
                    <div class="question qu4 ani hidden" swiper-animate-effect="slideInRight">
                        <div>
                            <p class="title"><span>4/<i>10&nbsp;</i></span>目前英雄互娱是哪个省份最大的互联网公司？</p>
                            <div class="choice">
                                <span data-type="true">A.陕西省</span>
                                <span>B.甘肃省</span>
                                <span>C.山西省</span>
                                <span> D.河北省</span>
                            </div>
                        </div>
                    </div>
                    <div class="question qu5 ani hidden" swiper-animate-effect="slideInRight">
                        <div>
                            <p class="title"><span>5/<i>10&nbsp;</i></span>英雄互娱旗下研运线共有四个工作室，分别是擎天工作室、大魔王工作室、炫舞工作室和</p>
                            <div class="choice">
                                <span data-type="true">A.霸王龙工作室</span>
                                <span>B.三角龙工作室</span>
                                <span>C.侏罗纪工作室</span>
                                <span>D.三叠纪工作室</span>
                            </div>
                        </div>
                    </div>
                    <div class="question qu6 ani hidden" swiper-animate-effect="slideInRight">
                        <div>
                            <p class="title"><span>6/<i>10&nbsp;</i></span>应书岭曾经在哪款游戏中获得过世界第一？</p>
                            <div class="choice">
                                <span>A.《英雄联盟》</span>
                                <span>B.《魔兽世界》</span>
                                <span data-type="true">C.《皇室战争》</span>
                                <span>D.《守望先锋》</span>
                            </div>
                        </div>
                    </div>
                    <div class="question qu7 ani hidden" swiper-animate-effect="slideInRight">
                        <div>
                            <p class="title"><span>7/<i>10&nbsp;</i></span>公司新风系统不能改善以下哪个问题？</p>
                            <div class="choice">
                                <span>A.pm2.5</span>
                                <span>B.CO2</span>
                                <span> C.细菌  </span>
                                <span data-type="true">D.湿度</span>
                            </div>
                        </div>
                    </div>
                    <div class="question qu8 ani hidden" swiper-animate-effect="slideInRight">
                        <div>
                            <p class="title"><span>8/<i>10&nbsp;</i></span>浴室不提供什么？</p>
                            <div class="choice">
                                <span>A.洗发水</span>
                                <span>B.沐浴露  </span>
                                <span>C.毛巾</span>
                                <span data-type="true">D.睡衣</span>
                            </div>
                        </div>
                    </div>
                    <div class="question qu9 ani hidden" swiper-animate-effect="slideInRight">
                        <div>
                            <p class="title"><span>9/<i>10&nbsp;</i></span>Tim Cook去到英雄互娱哪个城市的公司参观？  </p>
                            <div class="choice">
                                <span>A.北京 </span>
                                <span data-type="true">B.上海</span>
                                <span>C.成都</span>
                                <span>D.陕西</span>
                            </div>
                        </div>
                    </div>
                    <div class="question qu10 ani hidden" swiper-animate-effect="slideInRight">
                        <div>
                            <p class="title"><span>10/<i>10&nbsp;</i></span>英雄互娱的Slogan是什么？</p>
                            <div class="choice">
                                <span style="font-size: .8rem;">A.just do it .</span>
                                <span style="font-size: .8rem;" data-type="true">B.unlock your mind and vision.</span>
                                <span style="font-size: .8rem;">C.Do our best,enjoy ourselves.</span>
                                <span style="font-size: .8rem;">D.To do the most,to show the best</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="swiper-slide page3 swiper-no-swiping">
                <div class="pa pa1 hidden">
                    <div class="userinfo">
                        <p>
                            <span class="head"><img src="" alt=""/></span>
                            <span class="name"><i class="line">|</i></span>
                            <span class="add">}<i class="line">|</i></span>
                            <span class="sex"></span>
                        </p>
                    </div>
                    <div class="dts_info">
                        <p class="img1 ani" swiper-animate-effect="zoomIn"><img src="{$smarty.const.STATIC_DOMAIN}yingxiong/question/images/e_img1.png?{$smarty.const.VERSION}" alt=""/></p>
                        <p class="ani" swiper-animate-effect="lightSpeedIn" swiper-animate-delay="0.1s"><span>恭喜你</span>答对了<span class="dts_num">2</span>道题</p>
                        <p class="ani" swiper-animate-effect="lightSpeedIn" swiper-animate-delay="0.25s"><span>应书岭</span>送了你一个 <span class="gift_name">灭霸响指</span>， </p>
                        <p class="ani" swiper-animate-effect="lightSpeedIn" swiper-animate-delay="0.4s"><span>你可以消失了。</span></p>
                    </div>
                    <div class="qrcode">
                        <span class="qrcode_img"><img src="{$smarty.const.STATIC_DOMAIN}yingxiong/question/images/qrcode.png?{$smarty.const.VERSION}" alt=""/></span>
                        <p>扫描二维码关注英雄互娱</p>
                    </div>
                </div>
                <div class="pa pa2 hidden">
                    <div class="userinfo">
                        <p>
                            <span class="head"><img src="" alt=""/></span>
                            <span class="name"><i class="line">|</i></span>
                            <span class="add"><i class="line">|</i></span>
                            <span class="sex"></span>
                        </p>
                    </div>
                    <div class="dts_info">
                        <p class="img1 ani" swiper-animate-effect="zoomIn"><img src="{$smarty.const.STATIC_DOMAIN}yingxiong/question/images/e_img1.png?{$smarty.const.VERSION}" alt=""/></p>
                        <p class="ani" swiper-animate-effect="lightSpeedIn" swiper-animate-delay="0.1s"><span>恭喜你</span>答对了<span class="dts_num">2</span>道题</p>
                        <p class="ani" swiper-animate-effect="lightSpeedIn" swiper-animate-delay="0.25s"><span>应书岭</span>送了你一个 <span class="gift_name">英雄帆船</span>， </p>
                        <p class="ani" swiper-animate-effect="lightSpeedIn" swiper-animate-delay="0.4s"><span>赶紧去浪吧。</span></p>
                    </div>
                    <div class="qrcode">
                        <span class="qrcode_img"><img src="{$smarty.const.STATIC_DOMAIN}yingxiong/question/images/qrcode.png?{$smarty.const.VERSION}" alt=""/></span>
                        <p>扫描二维码关注英雄互娱</p>
                    </div>
                </div>
                <div class="pa pa3 hidden">
                    <div class="userinfo">
                        <p>
                            <span class="head"><img src="" alt=""/></span>
                            <span class="name"><i class="line">|</i></span>
                            <span class="add"><i class="line">|</i></span>
                            <span class="sex"></span>
                        </p>
                    </div>
                    <div class="dts_info">
                        <p class="img1 ani" swiper-animate-effect="zoomIn"><img src="{$smarty.const.STATIC_DOMAIN}yingxiong/question/images/e_img1.png?{$smarty.const.VERSION}" alt=""/></p>
                        <p class="ani" swiper-animate-effect="lightSpeedIn" swiper-animate-delay="0.1s"><span>恭喜你</span>答对了<span class="dts_num">2</span>道题</p>
                        <p class="ani" swiper-animate-effect="lightSpeedIn" swiper-animate-delay="0.25s"><span>应书岭</span>送了你一个 <span class="gift_name">兰博基尼</span>， </p>
                        <p class="ani" swiper-animate-effect="lightSpeedIn" swiper-animate-delay="0.4s"><span>老司机快来飙车。</span></p>
                    </div>
                    <div class="qrcode">
                        <span class="qrcode_img"><img src="{$smarty.const.STATIC_DOMAIN}yingxiong/question/images/qrcode.png?{$smarty.const.VERSION}" alt=""/></span>
                        <p>扫描二维码关注英雄互娱</p>
                    </div>
                </div>
                <div class="pa pa4 hidden">
                    <div class="userinfo">
                        <p>
                            <span class="head"><img src="" alt=""/></span>
                            <span class="name"><i class="line">|</i></span>
                            <span class="add"><i class="line">|</i></span>
                            <span class="sex"></span>
                        </p>
                    </div>
                    <div class="dts_info">
                        <p class="img1 ani" swiper-animate-effect="zoomIn"><img src="{$smarty.const.STATIC_DOMAIN}yingxiong/question/images/e_img1.png?{$smarty.const.VERSION}" alt=""/></p>
                        <p class="ani" swiper-animate-effect="lightSpeedIn" swiper-animate-delay="0.1s"><span>恭喜你</span>答对了<span class="dts_num">2</span>道题</p>
                        <p class="ani" swiper-animate-effect="lightSpeedIn" swiper-animate-delay="0.25s"><span>应书岭</span>送了你一个 <span class="gift_name">火箭</span>， </p>
                        <p class="ani" swiper-animate-effect="lightSpeedIn" swiper-animate-delay="0.4s"><span>你都可以上天了。</span></p>
                    </div>
                    <div class="qrcode">
                        <span class="qrcode_img"><img src="{$smarty.const.STATIC_DOMAIN}yingxiong/question/images/qrcode.png?{$smarty.const.VERSION}" alt=""/></span>
                        <p>扫描二维码关注英雄互娱</p>
                    </div>
                </div>
            </section>
        </section>
    </section>
</div>
<!--横竖屏-->
<div id="orientLayer" class="mod-orient-layer">
    <div class="mod-orient-layer__content"> <i class="icon mod-orient-layer__icon-orient"></i>
        <div class="mod-orient-layer__desc">为了更好的体验，请使用竖屏浏览</div>
    </div>
</div>
<!--音乐-->
<audio id="music" src="{$smarty.const.STATIC_DOMAIN}yingxiong/question/audio/audio.mp3?{$smarty.const.VERSION}" autoplay="autoplay" loop="loop"></audio>
</body>
<script src="{$smarty.const.STATIC_DOMAIN}yingxiong/question/js/jquery-1.11.2.min.js?{$smarty.const.VERSION}"></script>
{include '../h5-common/h5_data.html'}
<script src="{$smarty.const.STATIC_DOMAIN}yingxiong/question/js/swiper-3.4.2.min.js?{$smarty.const.VERSION}"></script>
<script src="{$smarty.const.STATIC_DOMAIN}yingxiong/question/js/swiper.animate.min.js?{$smarty.const.VERSION}"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

<!--微信分享-->
<script>
    document.write('<script src="http://game.yingxiong.com/common/h5wx/h5wxjs.php?url=' +encodeURIComponent(location.href)+'"><\/script>');
</script>
<script type="text/javascript">
    var  h5_wx=$(".h5_wx").html();
    var  h5_data=$(".h5_data").html();
    var dts_url="{myurl name='h5-common/ajax-save-data'}"+h5_jk_url;
    var dst_id=$(".wrap").attr("data-id");
    var dst_list=[];//答题答案数组
    var dts=0;//答对题数
    var gift_txt="灭霸响指";//答题获得文案
    var user_name="";//用户昵称
    var user_icon="";//用户头像
     var user_icon2="";//用户头像
    var srf = $('meta[name="csrf-token"]').attr('content');
    function wx_info(){
        $.ajax({
            'url':"/h5-common/get-wx-info.html"+h5_jk_url,
            'data':{},
            'type':'POST',
            'dataType':'Json',
            success:function(data){
                if(data.status==0){ 
                     user_name=data.msg.nickname;
                     $(".userinfo .name").html(data.msg.nickname+"<i class='line'>|</i>");
                     user_icon=data.msg.headimgurl;
                     user_icon2="<img src='"+data.msg.headimgurl+"' alt=''/>";
                     $(".userinfo .head").html(user_icon2);
                     if(data.msg.sex==1){
                        $(".userinfo .sex").html("男");
                     }else{
                        $(".userinfo .sex").html("女");
                     }
                     if(data.msg.city == "" || data.msg.city==undefined){
                         $(".userinfo .add").html("中国<i class='line'>|</i>");
                     }else{
                        $(".userinfo .add").html(data.msg.city+"<i class='line'>|</i>");
                     }
                }else{
                    alert("网络请求失败，请重新刷新页面");
                }
            }
            ,error:function(){
                alert("网络请求失败，请重新刷新页面");
            }
        });
    }
    $(function() {
        wx_info();
        //滑动页面
        var mySwiper = new Swiper('.swiper-container1', {
            direction: 'vertical',
            mousewheelControl: false,
            observer: true,
            observeParents: true,
            noSwiping: true,
            onInit: function (swiper) {
                swiperAnimateCache(swiper);
                swiperAnimate(swiper);
            },
            onSlideChangeEnd: function (swiper) {
//                if(swiper.activeIndex==1){
//                    swiper.lockSwipeToPrev();
//                }else{
//                    swiper.unlockSwipeToPrev();
//                }
            },
            onTransitionEnd: function (swiper) {
                swiperAnimate(swiper);
            }
        });
        //微信接口音乐
        function autoPlayAudio() {
            document.getElementById('music').play();
            document.addEventListener("WeixinJSBridgeReady", function () {
                document.getElementById('music').play();
            }, false);
        }
        autoPlayAudio();
        //开始答题
        $(".page1").click(function(){
            mySwiper.slideNext();
            dts=0;
        });
        //点击答案
        $(".page2 .question_box .question .choice>span").click(function(e){
            if($(this).hasClass("answered")) return;
            $(this).addClass("answered");
            //显示正确答案
            $(this).parent().find("span[data-type='true']").addClass("true");
            dst_list.push($.trim($(this).text()).charAt());
            if($(this).data('type')==true){
                dts++;
            }else{
                //错误显示错误答案
                $(this).addClass("false");
            }
            setTimeout(function(){
                var question=$(".page2 .question_box .question .choice>span.true:last").closest(".question");
                if(question.hasClass("qu10")){
                    mySwiper.slideNext();
                    $(".page3 .dts_num").text(dts);
                    //答题完毕--四个档位(1-3,4-6,7-9,10)
                    if(dts<=3){
                        $(".page3 .pa1").removeClass("hidden");
                        gift_txt=$(".page3 .pa1 .gift_name").text();
                    }else if(dts<=6){
                        $(".page3 .pa2").removeClass("hidden");
                        gift_txt=$(".page3 .pa2 .gift_name").text();
                    }else if(dts<=9){
                        $(".page3 .pa3").removeClass("hidden");
                        gift_txt=$(".page3 .pa3 .gift_name").text();
                    }else {
                        $(".page3 .pa4").removeClass("hidden");
                        gift_txt = $(".page3 .pa4 .gift_name").text();
                    }
                    shareInit();
                    //如果是最后一道题--调用接口
                    $.ajax({
                        'url':dts_url,
                        'data':{
                            'user_name':user_name,'h5_id':dst_id,'is_repeat':"1",'data':dst_list,"cms_csrf":srf
                        },
                        'type':'POST',
                        'dataType':'Json',
                        success:function(data){

                        }
                        ,error:function(){
                            alert("网络请求失败，请重新刷新页面");
                        }
                    });

                }else{
                    $('.c_img').addClass("hidden").eq(question.index()+1).removeClass("hidden");
                    question.addClass("hidden");
                    question.next().removeClass("hidden");
                }
            },800);
        });
        var share = {
            imgUrl      : user_icon,
//            shareTitle  : "应书岭竟然送了"+user_name+"一个"+gift_txt+"！",
            descContent : "英雄互娱3周年快乐！",
            lineLink    : 'http://h5.yingxiong.com/index/yx/question.html'
        };
        wx.config({
            debug     : false,
            appId     : wx_conf.appId,
            timestamp : wx_conf.timestamp,
            nonceStr  : wx_conf.nonceStr,
            signature : wx_conf.signature,
            jsApiList : [
                'onMenuShareTimeline',
                'onMenuShareAppMessage',
                'chooseImage',
                'previewImage',
                'uploadImage',
                'downloadImage'
            ]
        });
        shareInit=function(){
            wx.onMenuShareAppMessage({
                title   : "应书岭竟然送了"+user_name+"一个"+gift_txt+"！",
                desc    : share.descContent,
                link    : share.lineLink,
                imgUrl  : share.imgUrl,
                success : function() {

                }
            });
            wx.onMenuShareTimeline({
                title   : "应书岭竟然送了"+user_name+"一个"+gift_txt+"！",
                desc    : share.descContent,
                link    : share.lineLink,
                imgUrl  : share.imgUrl,
                success : function() {

                }
            });
            wx.onMenuShareQQ({
                title: "应书岭竟然送了"+user_name+"一个"+gift_txt+"！",
                desc: share.descContent,
                link: share.lineLink,
                imgUrl: share.imgUrl,
                success : function() {

                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
        }
        wx.ready(function(){
            shareInit();
        })
    });
</script>
<script>
    $(function(){
        // initForm();
        
    });
</script>
</html>
