<!--    底部客服-->
<div class="i-main5">
	<div class="i-m5">
		<ul>
			<li>
				<div class="i-m5-ico">
					<img class="jump_img" src="http://gamerimage.yingxiong.com/qrcode/jump_fc_pcgw.png?{$smarty.const.VERSION}" alt="">
				</div>
				<div class="i-m5-txt">
					<h3>下载游戏</h3>
					<p>扫描二维码，立即下载游戏</p>
					<p class="i-m5-p01"><span>首款3D漂移竞速手游</span></p>
				</div>
			</li>
			<li>
				<div class="i-m5-ico">
					<img src="{$global.wx_img}" alt="">
				</div>
				<div class="i-m5-txt">
					<h3>微信公众号</h3>
					<p>扫描二维码，关注官方微信</p>
					<p class="i-m5-p01">官方微信号：<span>fcsyol</span></p>
				</div>
			</li>
			<li>
				<div class="i-m5-ico">
					<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/kf.jpg?{$smarty.const.VERSION}" alt="">
				</div>
				<div class="i-m5-txt">
					<h3>客户服务</h3>
					<p>客户服务电话：<br><span>4009393333</span></p>
					<em>BUG反馈，游戏问题</em>
				</div>
			</li>
		</ul>
	</div>
</div>