{include file="../layouts/pc/cover_header.html"}
<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}2.0/css/cover.css?{$smarty.const.VERSION}" />
<div class="second">
	<div class="wrap">
		<div class="chengg"></div>
		<div class="c_int">
			<a href="/rlhd/list_703_1.html" target="_blank"></a>
			<a href="/qczn/list_702_1.html" target="_blank"></a>
			<a href="/xwgg/list_705_1.html" target="_blank"></a>
		</div>
		<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/c_label.png?{$smarty.const.VERSION}" alt="" class="label" />
		<div class="numberRun"></div>
		<div class="s_main">
			<div class="chengg"></div>
			<div class="jdt"><i></i></div>
			<ul class="jd_ul">
				<li>
					<p>10000人</p>
					<div class="li_img">
						<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/jt_w.png?{$smarty.const.VERSION}" alt="" />
						<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/jt_h.png?{$smarty.const.VERSION}" alt="" />
					</div>
					<div class="ball c_ball">
						<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/ball_w.png?{$smarty.const.VERSION}" alt="" />
						<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/ball_h.png?{$smarty.const.VERSION}" alt="" />
					</div>
					<div class="gift_tent">
						<p>金币8888</p>
					</div>
				</li>
				<li>
					<p>20000人</p>
					<div class="li_img">
						<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/jt_w.png?{$smarty.const.VERSION}" alt="" />
						<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/jt_h.png?{$smarty.const.VERSION}" alt="" />
					</div>
					<div class="ball c_ball">
						<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/ball_w.png?{$smarty.const.VERSION}" alt="" />
						<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/ball_h.png?{$smarty.const.VERSION}" alt="" />
					</div>
					<div class="gift_tent">
						<p>体力50</p>
					</div>
				</li>
				<li>
					<p>30000人</p>
					<div class="li_img">
						<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/jt_w.png?{$smarty.const.VERSION}" alt="" />
						<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/jt_h.png?{$smarty.const.VERSION}" alt="" />
					</div>
					<div class="ball c_ball">
						<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/ball_w.png?{$smarty.const.VERSION}" alt="" />
						<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/ball_h.png?{$smarty.const.VERSION}" alt="" />
					</div>
					<div class="gift_tent">
						<p>金币10000</p>
					</div>
				</li>
				<li>
					<p>40000人</p>
					<div class="li_img">
						<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/jt_w.png?{$smarty.const.VERSION}" alt="" />
						<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/jt_h.png?{$smarty.const.VERSION}" alt="" />
					</div>
					<div class="ball c_ball">
						<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/ball_w.png?{$smarty.const.VERSION}" alt="" />
						<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/ball_h.png?{$smarty.const.VERSION}" alt="" />
					</div>
					<div class="gift_tent">
						<p>体力50</p>
					</div>
				</li>
				<li>
					<p>50000人</p>
					<div class="li_img">
						<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/jt_w.png?{$smarty.const.VERSION}" alt="" />
						<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/jt_h.png?{$smarty.const.VERSION}" alt="" />
					</div>
					<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/c_star.png?{$smarty.const.VERSION}" alt="" class="c_star c_ball" />
					<div class="gift_tent">
						<p>78伊巴卡PF300148</p>
					</div>
				</li>
			</ul>
			<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/c_click.png?{$smarty.const.VERSION}" alt="" class="click" />
			<div class="mygift">
				<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/c_gift_h.png?{$smarty.const.VERSION}" alt="" />
				<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/c_gift.png?{$smarty.const.VERSION}" alt="" />
			</div>
			<p class="c_tip">活动时间：10月12日——10月25日</p>
			<div class="rule">
				<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/c_rule.png?{$smarty.const.VERSION}" alt="" />
				<p><i>1</i><span>玩家可在活动期间参与新赛季预约，预约不分新老用户。</span></p>
				<p><i>2</i><span>参与预约用户需准确填写用户信息，新玩家可填写手机号码领取游戏奖励。</span></p>
				<p><i>3</i><span>玩家参与预约后可在“我的礼包”查找已经领取礼包。</span></p>
				<p><i>4</i><span>老玩家可通过分享活动页面邀请2位玩家预约新赛季，邀请成功后即可领取专属礼包。</span></p>
				<p><i>5</i><span>新赛季将在10月25日正式开启，已领取的活动奖励仅可在新赛季服务器中进行兑换，敬请期待。</span></p>
				<p><i>6</i><span>请勿泄露领取礼包以防奖励被盗用。</span></p>
				<p><i>7</i><span>本活动最终解释权归英雄互娱所有。</span></p>
			</div>
		</div>
	</div>
</div>
<div class="third">
	<div class="wrap">
		<div class="chengg"></div>
		<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/c_label1.png?{$smarty.const.VERSION}" alt="" class="label" />
		<div class="t_price">
			<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/c_present.png?{$smarty.const.VERSION}" alt="" class="c_present" />
			<div class="lingqu">
				<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/c_get_h.png?{$smarty.const.VERSION}" alt="" />
				<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/c_get.png?{$smarty.const.VERSION}" alt="" />
			</div>
		</div>
		<div class="invite_friend">
			<div class="l_invite">
				<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/c_invite_h.png?{$smarty.const.VERSION}" alt="" />
				<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/c_invite.png?{$smarty.const.VERSION}" alt="" />
			</div>
			<ul>
				<li>
					<div class="ball_img">
						<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/w_ball.png?{$smarty.const.VERSION}" alt="" />
						<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/h_ball.png?{$smarty.const.VERSION}" alt="" />
					</div>
					<p>等待邀请</p>
				</li>
				<li>
					<div class="ball_img">
						<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/w_ball.png?{$smarty.const.VERSION}" alt="" />
						<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/h_ball.png?{$smarty.const.VERSION}" alt="" />
					</div>
					<p>等待邀请</p>
				</li>
			</ul>
		</div>
		<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/c_bd.png?{$smarty.const.VERSION}" alt="" class="c_bd" />
	</div>
</div>
{include file="../layouts/pc/cover_footer.html"}
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}2.0/js/cover.js?{$smarty.const.VERSION}"></script>

</html>