{include file="../layouts/pc/cover_header.html"}
<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}2.0/css/i_cover.css?{$smarty.const.VERSION}" />
<div class="second">
	<div class="wrap">
		<div class="chengg"></div>
		<div class="c_int">
			<a href="/rlhd/list_703_1.html" target="_blank"></a>
			<a href="/qczn/list_702_1.html" target="_blank"></a>
			<a href="/xwgg/list_705_1.html" target="_blank"></a>
		</div>
		<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/duiyou.png?{$smarty.const.VERSION}" alt="" class="label" />
		<div class="d_main">
			<div class="left_main">
				<p class="left_p"><span class="tt_phone"></span>正在邀请您</p>
				<p class="left_p">帮助他获取NBA LIVE大礼包</p>
				<ul class="b_invite">
					<li>
						<div class="y_img">
							<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/i_y.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/i_yh.png?{$smarty.const.VERSION}" alt="" />
						</div>
						<p>等待您的帮助</p>
					</li>
					<li>
						<div class="y_img">
							<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/i_y.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/i_yh.png?{$smarty.const.VERSION}" alt="" />
						</div>
						<p>等待您的帮助</p>
					</li>
				</ul>
				<div class="get_invite">
					<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/d_invite.png?{$smarty.const.VERSION}" alt="" />
					<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/d_invite_h.png?{$smarty.const.VERSION}" alt="" />
				</div>
			</div>
			<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/xian.png?{$smarty.const.VERSION}" class="middle_xian" />
			<div class="right_gift">
				<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/d_gift.png?{$smarty.const.VERSION}" alt="" />
				<div class="join">
					<a href="/yy/index.html" target="_blank">
						<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/c_join.png?{$smarty.const.VERSION}" alt="" />
						<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/c_join_h.png?{$smarty.const.VERSION}" alt="" />
					</a>
				</div>
			</div>
		</div>
		<div class="rule">
			<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/c_rule.png?{$smarty.const.VERSION}" alt="" />
			<p><i>1</i><span>玩家可在活动期间参与新赛季预约，预约不分新老用户。</span></p>
				<p><i>2</i><span>参与预约用户需准确填写用户信息，新玩家可填写手机号码领取游戏奖励。</span></p>
				<p><i>3</i><span>玩家参与预约后可在“我的礼包”查找已经领取礼包。</span></p>
				<p><i>4</i><span>老玩家可通过分享活动页面邀请2位玩家预约新赛季，邀请成功后即可领取专属礼包。</span></p>
				<p><i>5</i><span>新赛季将在10月25日正式开启，已领取的活动奖励仅可在新赛季服务器中进行兑换，敬请期待。</span></p>
				<p><i>6</i><span>请勿泄露领取礼包以防奖励被盗用。</span></p>
				<p><i>7</i><span>本活动最终解释权归英雄互娱所有。</span></p>
		</div>
	</div>
</div>
{include file="../layouts/pc/cover_footer.html"}
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}2.0/js/i_cover.js?{$smarty.const.VERSION}"></script>

</html>