body {
	margin: 0;
	padding: 0;
	width:100%;
	overflow-x: hidden;
}
.hidden{display:none;}
/*header*/
.i_main {
    position: relative;
    width:100%;
    height:2944px;
    background-size: 100% 100%;
    background:url(../images/bg.jpg) no-repeat center;
}
.i_main .cont{
	width:100%;
	height:100%;
	margin: 0 auto;
	position: relative;
}
.i_main .kv{
    width:1200px;
    height: 1001px;
    position: relative;
    margin: 0 auto;
}
.i_main .share_box{
    width: 220px;
    position: absolute;
    height: 48px;
    top: 49px;
    right: 194px;
    z-index: 10;
}
.i_main .share_box a{
    width:48px;
    height:48px;
    display: block;
    background: url(../images/share.png) no-repeat;
    background-size:auto 100%;
    margin-right: 25px;
    float: left;
        transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    opacity: .9;
}
.i_main .share_box a:hover{
    opacity: 1;
    transform: translate(0, -8px);
  -webkit-transform: translate(0, -8px);
}
.i_main .share_box a.weixin{
    background-position: 0 0;
}
.i_main .share_box a.weibo{
    background-position: -68px 0;
}
.i_main .share_box a.baidu{
    background-position: -135px 0;
}
.i_main .share_box img{
    width: 120px;
    height: 120px;
    position: absolute;
    top: 63px;
    left: -34px;
    border-radius: 10px;
    z-index: 10;
    display: none;
}
.i_main .enter{
    width: 158px;
    height: 53px;
    display: block;
    background: url(../images/enter.png) no-repeat;
    background-size: auto 100%;
    position: absolute;
    right: 36px;
    top: 46px;
        transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    z-index: 10;
}
.i_main .enter:hover{
    opacity: 1;
    transform: translate(0, -8px);
  -webkit-transform: translate(0, -8px);
}
.i_main .logo{
    width: 239px;
    height: 146px;
    background: url(../images/logo.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: -331px;
    top: 39px;
}
.i_main .kv .slogan{
	width:664px;
	height:449px;
	background: url(../images/slogan.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
    margin-left:572px;
    top:139px;
        -webkit-animation: zoomIn 1.3s;
    -moz-animation: zoomIn 1.3s;
    -o-animation: zoomIn 1.3s;
    animation: zoomIn 1.3s;
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.i_main>div .videoBtn {
    position: absolute;
    z-index: 11;
    top: 259px;
    left: 352px;
    width: 78px;
    height: 91px;
}
.i_main>div .videoBtn a {
	display: block;
	width:78px;
    height: 91px;
	position: absolute;
	top: 0;
	left: 0px;
}
.i_main>div .videoBtn a img{
	width: 100%;
	height:100%;
	-webkit-animation: scales 2.5s linear infinite;
	-moz-animation: scales 2.5s linear infinite;
	-ms-animation: scales 2.5s linear infinite;
	animation: scales 2.5s linear infinite;
}
.down_box{
    width: 627px;
    height: 225px;
    background: url(../images/download.png) no-repeat bottom center;
    background-size: 100% 100%;
    position: relative;
    margin-left: 574px;
    top: 209px;
}
.down_box img.ewm{
    width: 130px;
    height: 130px;
    position: absolute;
    display: block;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    left: 274px;
    top: 49px;
}
.down_box a.down_az{
    width: 198px;
    height: 126px;
    position: absolute;
    right: 10px;
    top: 49px;
    display: block;
}
.down_box a.down_ios{
    width: 196px;
    height: 63px;
    position: absolute;
    left: 36px;
    top: 49px;
    display: block;
}
.down_box a.down_tap{
    width: 196px;
    height: 63px;
    position: absolute;
    left: 36px;
    top: 112px;
    display: block;
}
.down_box a.down_az img{
    display: block;
    width: 96px;
    height: 40px;
    top: 39px;
    position: relative;
    margin-left: 54px;
}
.down_box a.down_ios img{
    display: block;
    width: 152px;
    height: 50px;
    top: 7px;
    position: relative;
    margin-left: 30px;
}
.down_box a.down_tap img{
    display: block;
    margin: 0 auto;
    width: 131px;
    height: 24px;
    top: 18px;
    position: relative;
    opacity: 1.1;
}
.down_box a:hover img{
    opacity: .8;
}
.page_two{
	width:100%;
	height:875px;
    position: relative;
    margin:0 auto;
}
.page_two .lh2{
    width: 420px;
    height: 607px;
    background: url(../images/hh.png) no-repeat bottom center;
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    top: -144px;
    animation: fadeIn 1.3s linear infinite alternate;
    -webkit-animation: fadeIn 1.3s linear infinite alternate;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.page_two .fl_txt a{
    width: 8.15625rem;
    height: 2.875rem;
    background: url(../images/more_act.png) no-repeat bottom center;
    background-size: 100% 100%;
    position: relative;
    top: 1.5rem;
    display: block;
    left: 0rem;
}
.swiper-container-3d .swiper-slide-shadow-left{
        background-image: -webkit-gradient(linear,right top,left top,from(rgba(28,6,43,.6)),to(rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(left,rgba(28,6,43,.6),rgba(28,6,43,0.3));
    background-image: -moz-linear-gradient(left,rgba(28,6,43,.6),rgba(28,6,43,0.3));
    background-image: -o-linear-gradient(left,rgba(28,6,43,.6),rgba(28,6,43,0.3));
    background-image: linear-gradient(to right,rgba(28,6,43,.6),rgba(28,6,43,0.3));
        margin-left: -1px;
    margin-top: 7px;
}
.swiper-container-3d .swiper-slide-shadow-right{
            background-image: -webkit-gradient(linear,right top,left top,from(rgba(28,6,43,.6)),to(rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(left,rgba(28,6,43,.6),rgba(28,6,43,0.3));
    background-image: -moz-linear-gradient(left,rgba(28,6,43,.6),rgba(28,6,43,0.3));
    background-image: -o-linear-gradient(left,rgba(28,6,43,.6),rgba(28,6,43,0.3));
    background-image: linear-gradient(to right,rgba(28,6,43,.6),rgba(28,6,43,0.3));
}
.page_two .wrap{
    width:1200px;
    height:100%;
    position: relative;
    margin:0 auto;
}
.page_two .title1{
    width: 614px;
    height: 72px;
    background: url(../images/lable.png) no-repeat bottom center;
    background-size: 100% 100%;
    position: relative;
    margin: 0 auto;
    margin-top: 142px;
}
.page_two .gift_list{
    width: 100%;
    height:609px;
    position: relative;
}
.page_two .gift_list ul{
    width: 100%;
    height:609px;
    position: relative;
    margin: 0 auto;
    margin-top: 103px;
}
.page_two .gift_list li{
    width: 338px;
    height: 281px;
    position: relative;
    float: left;
    margin-bottom: 25px;
    cursor: pointer;
}
.page_two .gift_list li img{
	display: block;
	position:absolute;
	left:0;
    height:142px;
    width:auto;
}
.page_two .gift_list li+li{
        margin-left: 90px;
}
.page_two .gift_list li:nth-child(4){
        margin-left: 0px;
}
.page_two .gift_list li .info_box{
    width:198px;
    min-height: 20px;
    position: absolute;
    right:0;
    top:0;
}
.page_two .gift_list li .txt_info{
    text-align: left;
    color: #7e7b91;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    padding: 5px 0;
    padding-left: 22px;
}
.page_two .gift_list li.active .txt_info,.page_two .gift_list li:hover .txt_info{
	color: #fff;
}
.page_two .gift_list li .info2{
    text-align: left;
    width: 153px;
    color: #7e7b91;
    font-size: 16px;
    line-height: 25px;
    margin: 0 auto;
}
.page_two .gift_list li a{
    width: 161px;
    height: 46px;
    background: url(../images/look_act.png) no-repeat bottom center;
    background-size: 100% 100%;
    position: absolute;
    display: block;
    z-index: 3;
    top: 134px;
    left: 18px;
}
.page_two .gift_list li.active a,.page_two .gift_list li:hover a{
    background: url(../images/look_act2.png) no-repeat bottom center;
    background-size: 100% 100%;
}
.page_two .gift_list li i{
	width: 100%;
    height:39px;
    background: url(../images/right.png) no-repeat bottom center;
    background-size: 100% 100%;
    position: absolute;
    left:0;
    bottom: 9px;
    display: none;
}
.page_two .gift_list li:nth-child(1) i,.page_two .gift_list li:nth-child(2) i,.page_two .gift_list li:nth-child(3) i{
   bottom: 30px;
}
.page_two .gift_list li:nth-child(6) img{
    width: 140px;
    height: 217px;
    top: -17px;
}
.page_two .gift_list li.active i,.page_two .gift_list li:hover i{
	display: block;
}
.page3{
	width:100%;
	height:924px;
	position: relative;
    z-index:2;
    overflow: hidden;
}
.page3 .wrap{
    width:1200px;
    height:100%;
    position: relative;
    margin:0 auto;
}
.page3 .title1{
    width:614px;
    height:72px;
    background: url(../images/lable2.png) no-repeat bottom center;
    background-size: 100% 100%;
    position: relative;
    margin:0 auto;
    margin-top:10px;
}
.h_banner1{
    width: 921px;
    height: 620px;
    position: absolute;
    overflow: hidden;
    display: block;
    left: 50%;
    margin-top: 81px;
    margin-left: -463.5px;
    z-index:4;
}
.h_banner1 .swiper-slide{
    width:379px;
    height:622px;
    position: relative;
}
.h_banner1  .swiper-slide img{
    width:100%;
    height:100%;
}
.swiper-pagination {
    width: 100%;
    text-align: center;
    margin-top: 7px;
    bottom:47px;
}
.swiper-pagination .swiper-pagination-bullet {
 width:15px;
  height: 15px;
  opacity: 1;
  margin: 0 12px;
  background:url(../images/ring.png) no-repeat;
  background-size:100% 100%;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width:15px;
  height: 15px;
  background:url(../images/ring_ac.png) no-repeat;
  background-size:100% 100%; 
  border-radius: 12px;
}
.page3 .s_prev {
    width: 236px;
    height: 493px;
    position: absolute;
    left: 148px;
    top: 216px;
    z-index: 10;
    cursor: pointer;
}

.page3 .s_next {
    width: 236px;
    height: 493px;
    position: absolute;
    right: 148px;
    top: 216px;
    z-index: 10;
    cursor: pointer;
}
.page3 .t_prev{
    top: 50%;
    width: 20px;
    height: 37px;
    background: url(../images/prev.png) no-repeat center;
    position: absolute;
    left: 74px;
    z-index: 10;
    cursor: pointer;
      animation: animate1 2s linear infinite;
  -webkit-animation: animate1 2s linear infinite;
}
.page3 .t_next{
    width:20px;
    height:37px;
    background:url(../images/next.png) no-repeat center;
    position:absolute;
    right:74px;
    top: 50%;
    z-index:10;
    cursor: pointer;
      animation: animate2 2s linear infinite;
  -webkit-animation: animate2 2s linear infinite;
}
@keyframes animate1 {
  0% {
    transform: scale(1, 1) translate(0, 0);
    -webkit-transform: scale(1, 1) translate(0, 0);
  }
  50% {
    transform: scale(1.05, 1.05) translate(-12px, 0);
    -webkit-transform: scale(1.05, 1.05) translate(-12px, 0);
  }
  100% {
    transform: scale(1, 1) translate(0, 0);
    -webkit-transform: scale(1, 1) translate(0, 0);
  }
}
@-webkit-keyframes animate1 {
  0% {
    transform: scale(1, 1) translate(0, 0);
    -webkit-transform: scale(1, 1) translate(0, 0);
  }
  50% {
    transform: scale(1.05, 1.05) translate(-12px, 0);
    -webkit-transform: scale(1.05, 1.05) translate(-12px, 0);
  }
  100% {
    transform: scale(1, 1) translate(0, 0);
    -webkit-transform: scale(1, 1) translate(0, 0);
  }
}
@keyframes animate2 {
  0% {
    transform: scale(1, 1) translate(0, 0);
    -webkit-transform: scale(1, 1) translate(0, 0);
  }
  50% {
    transform: scale(1.1, 1.1) translate(12px, 0);
    -webkit-transform: scale(1.1, 1.1) translate(12px, 0);
  }
  100% {
    transform: scale(1, 1) translate(0, 0);
    -webkit-transform: scale(1, 1) translate(0, 0);
  }
}
@-webkit-keyframes animate2 {
  0% {
    transform: scale(1, 1) translate(0, 0);
    -webkit-transform: scale(1, 1) translate(0, 0);
  }
  50% {
    transform: scale(1.1, 1.1) translate(12px, 0);
    -webkit-transform: scale(1.1, 1.1) translate(12px, 0);
  }
  100% {
    transform: scale(1, 1) translate(0, 0);
    -webkit-transform: scale(1, 1) translate(0, 0);
  }
}
.slider .swiper-pagination-bullet{
	width:0.46875rem;
	height:0.46875rem;
	opacity:1;
	margin-right: .3125rem;
	background:url("../images/ring.png");
	background-size:100% 100%;
}
.slider .swiper-pagination-bullet-active{
	background:url("../images/ring_ac.png");
	background-size:100% 100%;
}
.peo2{
    width: 371px;
    height: 601px;
    position: absolute;
    z-index: 1;
    background: url(../images/peo2.png) no-repeat;
    background-size: 100% 100%;
    bottom: -65px;
    right: 0;

}
@keyframes scales{0%{transform: scale(0.9); }50% {transform: scale(1.1);}100% {transform: scale(0.9);}}
@-webkit-keyframes scales{0%{-webkit-transform: scale(0.9);}50% {-webkit-transform: scale(1.1);}100% {-webkit-transform: scale(0.9);}}
@-moz-keyframes scales{0%{-webkit-transform: scale(0.9);}50% {-webkit-transform: scale(1.1);}100% {-webkit-transform: scale(0.9);}}
@-o-keyframes scales{0%{-webkit-transform: scale(0.9);}50% {-webkit-transform: scale(1.1);}100% {-webkit-transform: scale(0.9);}}
@-ms-keyframes scales{0%{-webkit-transform: scale(0.9);}50% {-webkit-transform: scale(1.1);}100% {-webkit-transform: scale(0.9);}}

@keyframes start {0%,30% {opacity: 0;-webkit-transform: translate(0,-10px);}60% {opacity: 1;-webkit-transform: translate(0,0);}100% {opacity: 0;-webkit-transform: translate(0,8px);}}
@-webkit-keyframes start {0%,30% {opacity: 0;-webkit-transform: translate(0,-10px);}60% {opacity: 1;-webkit-transform: translate(0,0);}100% {opacity: 0;-webkit-transform: translate(0,8px);}}
@-moz-keyframes start {0%,30% {opacity: 0;-webkit-transform: translate(0,-10px);}60% {opacity: 1;-webkit-transform: translate(0,0);}100% {opacity: 0;-webkit-transform: translate(0,8px);}}
@-o-keyframes scales{0%,30% {opacity: 0;-webkit-transform: translate(0,-10px);}60% {opacity: 1;-webkit-transform: translate(0,0);}100% {opacity: 0;-webkit-transform: translate(0,8px);}}
@-ms-keyframes scales{0%,30% {opacity: 0;-webkit-transform: translate(0,-10px);}60% {opacity: 1;-webkit-transform: translate(0,0);}100% {opacity: 0;-webkit-transform: translate(0,8px);}}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-moz-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-moz-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-moz-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
@-ms-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-moz-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}

.float{
    width: 330px !important;
    height: 276px !important;
    background: url(../images/float.png) no-repeat bottom center;
    background-size: 100% 100%;
    position: fixed !important;
    right:10px;
    top:50%;
    margin-top:-138px !important;
    z-index:20;
}
.float .fl_txt{
    width: 316px;
    height: 235px;
    position: absolute;
    top: 3px;
    left: 9px;
    cursor: pointer;
}
.float .fl_txt a{
    width:100%;
    height:100%;
    display: block;
}
.float label {
    display: block;
    width: 15px;
    height: 32px;
    position: absolute;
    top: 110px;
    left: -6px;
}
.float label.show {
  background: url(../images/push.png);
  background-size: cover;
}
.float label.hide_float{
  background: url(../images/pull.png);
  background-size: cover;
}
.float label:hover {
  cursor: pointer;
}
.five{
    width:100%;
    height:163px !important;
    min-width:1200px;
    background-color:#2B2B2B;
    position:relative;
    overflow: hidden;
}
.five .wrap{
    width:1072px;
    height:100%;
    position: relative;
    margin:0 auto;
}
.five ul{
    width:100%;
    height:100%;
    position:relative;
    overflow: hidden;
}
.five ul li{
    overflow: hidden;
    float:left;
    margin-top:25px;
}
.five ul li img{
    display: block;
    width:113px;
    height:113px;
    float:left;
    margin-right:20px;
}
.five ul li .five_txt{
    float:left;
}
.five ul li .five_txt p:nth-child(1){
    font-size:24px;
    color:#cccccc;
    margin-top:5px;
}
.five ul li .five_txt p:nth-child(2){
    font-size:14px;
    color:#999;
    margin-top:5px;
}
.five ul li .five_txt p:nth-child(3){
    font-size:14px;
    color:#D6C289;
    margin-top:25px;
}
.five ul li:nth-child(2){
    margin-left:96px;
}
.five ul li:nth-child(3){
    margin-left:90px;
}
.five ul li:nth-child(2) .five_txt p:nth-child(3){
    color:#ccc;
}
.five ul li:nth-child(2) .five_txt p:nth-child(3) span{
    color:#D6C289;
}
.five ul li:nth-child(2) .five_txt p:nth-child(2){
    color:#ccc;
}
.five ul li:nth-child(2) .five_txt p:nth-child(2) span{
    color:#D6C289;
}