ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dl{
    margin:0px;
    padding:0px;
    border:none;
    list-style:none;
}
a{
    text-decoration:none;
    color:#2E0000;
}
html,body{
    width: 100%;
    height: 100%;
}
*{
    padding: 0;
    margin: 0;
}
/*.fade{
opacity: 1;
}*/

.container{
    overflow:hidden;
    width: 100%;
    height:100%;
    background: url(../images/kv.jpg) no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.content{
    width: 100%;
    height:100%;
    background-size: 100% 100%;
    position: relative;
}
.logo1 {
    width: 27.8%;
    display: block;
    position: absolute;
    top:0.5625%;
    left: 0.59375rem;
}
.logo2 {
    width: 28.5%;
    display: block;
    position: absolute;
    top:1.9625%;
    left: 32%;
}
.title{
    width: 77.04%;
    display: block;
    position: absolute;
    top: 11.40625%;
    left: 50%;
    margin-left: -38.52%;
    animation: zoomIn 1s;
    -webkit-animation: zoomIn 1s; 
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}
.shuzhi  {
    width: 23.98%;
    display: block;
    position: absolute;
    top: 42.9375%;
    left: 0;
}
.deng{
    width: 8.9%;
    display: block;
    position: absolute;
    top: 48%;
    left: 7.4%;
    animation: swing 2s linear infinite;
    -webkit-animation: swing 2s linear infinite;
}
.swing {
  transform-origin: top center;
}
@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@-webkit-keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

p{
    display: block;
    -webkit-margin-before: 0.5em;
    /*-webkit-margin-after: 0.5em;*/
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.d_btn{
    display: block;
    width:39.35%;
    text-align: center;
    position:absolute;
    left:50%;
    margin-left:-19.675%;
    bottom:3.025rem;
}
.d_btn>img{
    width:100%;
}
 a.new_c{
    display: block;
    position:absolute;
    width:33.518%;
    left:11.11%;
    bottom:0.3875rem;
 }
 a.new_c>img{
    width:100%;
}
a.vip_c{
    display: block;
    position:absolute;
    width:33.518%;
    right:11.11%;
    bottom:0.3875rem;
}
 a.vip_c>img{
    width:100%;
}
.man{
    width:9.34375rem;
    height:11.4375rem;
    position: absolute;
    top:7.875rem;
    left:1.0625rem;
    /*z-index: 10;*/
}
.bord{
     display: block;
    width:17.9375rem;
    height:12.34375rem;
    position: absolute;
    top:15.40625rem;
    left:1.0625rem;
    /*z-index: 100;*/
}
.linq{
   display: block;
    width:8.59375rem;
    height:1.9375rem;
    position: absolute;
    top:12.34375rem;
    right:1.0325rem;

}
a.close{
    display: block;
    width: 2.14843rem;
    height: 2.14843rem;
    position: absolute;
    top: 9.775rem;
    right: 1.0325rem;
    background: url(../images/close.png) no-repeat;
    background-size: 100% 100%;
}
/*模态框*/
.modal{
    
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
    display: none;
}
/*模态框1*/
#example1{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.498039);
}
.form{
    width: 16.65625rem;
    height: 11.28125rem;
    position: absolute;
    top: 16.4589rem;
    left: 2.2312rem;
    /*z-index: 101;*/
}
.form-control1,.form-control2,.btn_now{
    display: block;
    width: 13.65625rem;
    height:2.14825rem;
    padding: 6px 17px;
    font-size: 19px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-margin-after: 0.9rem;
}
.form-control2{
    width:9.24185rem;
    display: inline-block;
}
.btn{
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    font-size:20px;
    font-weight:bold;
    display: inline-block;
}
.btn_send{
    width: 3.87375rem;
    margin-bottom: 1rem;
    height: 2.94825rem;
    background: #F03E41;
}
.btn_now{
    width: 15.55625rem;
    height:2.84825rem;
    background:#F03E41;
}
/*模态框2*/
#example2{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.498039);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
    display: none;
}
.dialog2{
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    /*z-index: 1;*/
}
.content2,.content3,.content4{
    display: block;
    width:17.27735rem;
    height:11.61375rem;
    position: absolute;
    top:11.72375rem;
    left:1.26025rem;
    background: #fff;
    border-radius: 0.5rem;
}
.info{
    width: 14.535rem;
    height: 9.375rem;
    position: absolute;
    top: 1.1375rem;
    left: 1.4375rem;
    text-align: center;
}
.info p{
    font-size:1.4995rem;
    line-height:1.55rem;
    text-align: center;
    color: #F03E41;
    font-weight: bold;
}
.info p{
    color: #787878;
}
.info p.codeNum{
    color: #F03E41;
}
.info2 p.liuch{
    width: 100%;
    line-height: 1rem;
    font-size: 0.825rem;
    text-align: center;
    position: absolute;
    bottom: 1.8rem;
}
.info2 p.liuch2{
    bottom:0.7rem;
}
.btn_sure{
    width:9.27375rem;
    height:2.54375rem;
    position:absolute;
    left:2.55375rem;
    top:5.5375rem;
    display: inline-block;
    background:#F03E41;
}
.copy{
    font-size: 1rem;
    display: block;
    color: #BFBFBF;
    position:absolute;
    top:8.1375rem;
    left:3.55375rem;
}
.btn_2{
    position:absolute;
    top:10.1375rem;

}
.info2{
    height: 13.375rem;
}
.content3{
    display: block;
    width:17.38375rem;
    height:15.54374rem;
    position: absolute;
    top:10rem;
    left:1.22375rem;
}
/*模态框3*/
#example3{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.498039);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
    display: none;
}
.btn_3{
    width:9.27375rem;
    height:2.54375rem;
    position:absolute;
    left:2.55375rem;
    top:5.5375rem;
    display: inline-block;
    background:#F03E41;
}
/*模态框4*/
#example4{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.498039);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 4;
    display: none;
}
.btn_4{
    width:9.27375rem;
    height:2.54375rem;
    position:absolute;
    left:2.55375rem;
    top:5.5375rem;
    display: inline-block;
    background:#F03E41;
}

