@keyframes animate1 {
  0% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 20px, 0);
    -webkit-transform: translate3d(0, 20px, 0);
  }
}
@-webkit-keyframes animate1 {
  0% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 20px, 0);
    -webkit-transform: translate3d(0, 20px, 0);
  }
}
.cp_header {
  position: absolute;
  z-index: 999;
}
.cp_header section:nth-child(2) {
  background: transparent !important;
}
.cp_header .logo {
  width: 2.68rem;
  height: 0.68rem;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.section {
  padding: 1.32rem 0 0 0;
  box-sizing: border-box;
  overflow: hidden;
}
.s1 {
  background: url("../images/ab_bimg2.jpg") no-repeat;
  background-size: cover;
  position: relative;
}
.s1 > section {
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  margin: 0.34666667rem 0 0 0;
}
.s1 > section > img.hide {
  opacity: 0;
}
.s1 > section > img {
  width: 8.66666667rem;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.32rem;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
.s1 > section p.hide {
  opacity: 0;
}
.s1 > section p {
  width: 100%;
  padding: 0 0.77333333rem;
  box-sizing: border-box;
  color: #ffffff;
  text-indent: 2em;
  font-size: 0.24666667rem;
  line-height: 0.53333333rem;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
.s1 > section p:nth-child(2) {
  animation-delay: .5s;
  -webkit-animation-delay: .5s;
}
.s1 > section p:nth-child(4) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.s1 > section p:nth-child(6) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.s1 > img {
  position: absolute;
  width: 0.72rem;
  height: 0.77333333rem;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0.4rem;
  animation: animate1 1s linear infinite alternate;
  -webkit-animation: animate1 1s linear infinite alternate;
}
.s_content {
  background: url("../images/ab_bimg1.jpg") no-repeat;
  background-size: cover;
  position: relative;
}
.s_content section {
  width: 100%;
  padding: 0.53333333rem 0.18666667rem 0 0.18666667rem;
  box-sizing: border-box;
  overflow: hidden;
}
.s_content section div.hide {
  opacity: 0;
}
.s_content section div {
  float: left;
  transition: all .5s;
}
.s_content section > div:nth-child(1) {
  width: 18%;
  height: auto;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
.s_content section > div:nth-child(1) img {
  width: 1.82666667rem;
  height: 4.96rem;
}
.s_content section > div:nth-child(1) ul {
  width: 100%;
  padding: 0 0.14666667rem;
  box-sizing: border-box;
  margin: 0.61333333rem 0 0 0;
}
.s_content section > div:nth-child(1) ul li {
  width: 100%;
  height: 1.2rem;
  margin: -1px 0 0 0;
  text-align: center;
  color: #fff;
  line-height: 1.2rem;
  font-size: 0.34666667rem;
  border: 1px solid #316c93;
}
.s_content section > div:nth-child(1) ul li.active {
  color: #000;
  background: #4fade3;
}
.s_content section > div:nth-child(2) {
  width: 80%;
  overflow: hidden;
  padding: 0.08rem 0 0 0;
  box-sizing: border-box;
  margin: 0 0 0 0.18666667rem;
  position: relative;
  animation-delay: .5s;
  -webkit-animation-delay: .5s;
}
.s_content section > div:nth-child(2) div {
  width: 100%;
  padding: 0;
  position: relative;
  overflow: hidden;
  margin: 0 0 0.21333333rem 0;
}
.s_content section > div:nth-child(2) div h1 {
  width: 35%;
  color: #fff;
  font-size: 0.32rem;
  float: left;
  padding: 0 0 0 0.32rem;
  box-sizing: border-box;
  font-weight: normal;
}
.s_content section > div:nth-child(2) div p {
  width: 65%;
  float: left;
  color: #fff;
  line-height: 0.45333333rem;
  font-size: 0.32rem;
}
.s_content section > div:nth-child(2) div i {
  position: absolute;
  top: 0.13333333rem;
  left: 0;
  display: block;
  width: 0.18666667rem;
  height: 0.18666667rem;
  border-radius: 0.18666667rem;
  background: #ff3c5e;
}
.s_content section > div:nth-child(2) section.ab_line {
  position: absolute;
  top: 0.21333333rem;
  left: 0.08rem;
  width: 1px;
  padding: 0;
  margin: 0;
  background: #ff3c5e;
}
.s_content > img {
  position: absolute;
  width: 0.72rem;
  height: 0.77333333rem;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0.13333333rem;
  animation: animate1 1s linear infinite alternate;
  -webkit-animation: animate1 1s linear infinite alternate;
}
[data-dpr="2"] .s_content section div:nth-child(2) section.ab_line {
  width: 2px;
}
[data-dpr="3"] .s_content section div:nth-child(2) section.ab_line {
  width: 3px;
}
.s_work1,
.s_work2 {
  background: url("../images/ab_img13_03.jpg") no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.s_work1 img.hide,
.s_work2 img.hide {
  opacity: 0;
}
.s_work1 img:nth-child(1),
.s_work2 img:nth-child(1) {
  width: 8.53333333rem;
  height: 1.62666667rem;
  display: block;
  margin: 0 auto;
  margin-top: 0.4rem;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
.s_work1 img:nth-child(2),
.s_work2 img:nth-child(2) {
  width: 8.09333333rem;
  height: 5.17333333rem;
  display: block;
  margin: 0 auto;
  margin-top: 1.57333333rem;
  animation-delay: .5s;
  -webkit-animation-delay: .5s;
}
.s_work1 img:nth-child(3),
.s_work2 img:nth-child(3) {
  position: absolute;
  width: 0.72rem;
  height: 0.77333333rem;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0.13333333rem;
  animation: animate1 1s linear infinite alternate;
  -webkit-animation: animate1 1s linear infinite alternate;
}
.s_work2 img:nth-child(1) {
  width: 8.09333333rem;
  height: 5.18666667rem;
  margin-top: 1.46666667rem;
  animation-duration: 1s;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
.s_work2 img:nth-child(2) {
  width: 8.09333333rem;
  height: 2.53333333rem;
  display: block;
  margin-top: 0.69333333rem;
  animation-duration: 1s;
  animation-delay: .5s;
  -webkit-animation-delay: .5s;
}
