/*公共*/
*{
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color:transparent;
}
html,body {
	width:100%;
	min-width:1200px;
	margin:0 auto;
	font-family: "微软雅黑";
	background:#F4F4F4;
}
.hidden{display:none!important;}
li {list-style:none;}
i{font-style: normal;}
textarea {
	overflow: auto;
	resize: none;
}
a,a:hover{
	outline: 0 none;
	text-decoration: none;
}
.fl{float:left;}
.fr{float:right;}
.align{text-align:center;}
.wrap{
	width:100%;
	min-width:1200px;
	max-width:1920px;
	margin:0 auto;
}
/*top*/
.topBar {
	z-index: 99;
	position: fixed;
	left: 50%;
	top: 0;
	min-width: 1200px;
	max-width: 1920px;
	width: 100%;
	height: 80px;
	background: #F8F8F8;
	transform: translate(-50%);
	-ms-transform: translate(-50%);
	-webkit-transform: translate(-50%);
	-o-transform: translate(-50%);
	-moz-transform: translate(-50%);
}
.topBar .topBox {
	position: relative;
	width: 1200px;
	height: 80px;
	margin: 0 auto;
	overflow: visible;
}
.topBar .topLogo {
	position: absolute;
	left: 0;
	top: 50%;
	width: 198px;
	height: 49px;
	margin-top: -24.5px;
	background: url(../images/logo.png) no-repeat;
	background-size: 100% 100%;
}
.topBar .topBoxlist {
	position: absolute;
	right:0;
	height:80px;
}
.topBar .topBoxlist>li {
	position:relative;
	float: left;
	width:auto;
	height: 80px;
	line-height: 80px;
	margin-left:75px;
	font-size: 20px;
	text-align: center;
}
.topBar .topBoxlist>li>a {
	display: block;
	color: #000;
}
.topBar .topBoxlist>li:after{
	display: inline-block;
	content: "";
	width: 0px;
	height: 6px;
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: 0;
	transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
}
.topBar .topBoxlist>li:hover:after,.topBar .topBoxlist>li.on:after{
	width: 116px;
	margin-left: -58px;
	background: #E22B4B;
}
.topBar .topBoxlist>li.on a,
.topBar .topBoxlist>li:hover a {
	font-weight:600;
	color: #E0284A;
}
/*footer*/
.footer {
	width:100%;
	overflow: hidden;
	min-width: 1200px;
	height: 167px;
	font-size:12px;
	color: #999;
	background: #313031;
}
.footer .footer-copyright {
	width: 900px;
	margin: 0 auto;
	overflow: hidden;
	height: 167px;
}
.footer .footer-copyright .hero-logo {
	width: 259px;
	height: 65px;
	float: left;
	background: url(../images/f-logo.png) no-repeat;
	margin-top:50px;
}
.footer .footer-info {
	position:relative;
	float: right;
	width: 490px;
	margin-top: 25px;
}
.footer .footer-info>img{
	position: absolute;
	left: -55px;
	top: 45px;
}
.footer .footer-info p {
	text-align: left;
	line-height: 23px;
}
.footer .footer-info a {color: #999}
.footer .abbei_img{
	position: relative;
	margin-top: 4px;
	width: 14px;
}
/*about-con*/
.about-topbar{
	position: fixed;
	z-index: 99;
	width:100%;
	height:70px;
	top:80px;
	background:rgba(0,0,0,.8);
}
.about-topbar ul{
	width:1200px;
	margin:0 auto;
	overflow:hidden;
}
.about-topbar ul li{
	margin-left: 68px;
	height:70px;
	line-height: 70px;
}
.about-topbar ul li a{
	font-size:18px;
	color:#ccc;
	cursor: pointer;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.about-topbar ul li a:hover,.about-topbar ul li a.active{color:#E22B4B;}
.about-topbar ul li a>i{
	display: inline-block;
	width: 21px;
	height: 21px;
	float: left;
	margin:25px 4px 0 0;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.about-topbar ul li a>i.bar1{
	background:url("../images/ab-icon01.png");
	background-size:100% 100%;
}
.about-topbar ul li a>i.bar2{
	background:url("../images/ab-icon02.png");
	background-size:100% 100%;
}
.about-topbar ul li a>i.bar3{
	background:url("../images/ab-icon03.png");
	background-size:100% 100%;
}
.about-topbar ul li a>i.bar4{
	background:url("../images/ab-icon04.png");
	background-size:100% 100%;
}
.about-topbar ul li a>i.bar5{
	background:url("../images/ab-icon05.png");
	background-size:100% 100%;
}
.about-topbar ul li a>i.bar6{
	background:url("../images/ab-icon06.png");
	background-size:100% 100%;
}
.about-topbar ul li a>i.bar7{
	background:url("../images/ab-icon07.png");
	background-size:100% 100%;
}
.about-topbar ul li a:hover>i.bar1,.about-topbar ul li a.active>i.bar1{
	background:url("../images/ab-icon01-1.png");
	background-size:100% 100%;
}
.about-topbar ul li a:hover>i.bar2,.about-topbar ul li a.active>i.bar2{
	background:url("../images/ab-icon01-2.png");
	background-size:100% 100%;
}
.about-topbar ul li a:hover>i.bar3,.about-topbar ul li a.active>i.bar3{
	background:url("../images/ab-icon01-3.png");
	background-size:100% 100%;
}
.about-topbar ul li a:hover>i.bar4,.about-topbar ul li a.active>i.bar4{
	background:url("../images/ab-icon01-4.png");
	background-size:100% 100%;
}
.about-topbar ul li a:hover>i.bar5,.about-topbar ul li a.active>i.bar5{
	background:url("../images/ab-icon01-5.png");
	background-size:100% 100%;
}
.about-topbar ul li a:hover>i.bar6,.about-topbar ul li a.active>i.bar6{
	background:url("../images/ab-icon01-6.png");
	background-size:100% 100%;
}
.about-topbar ul li a:hover>i.bar7,.about-topbar ul li a.active>i.bar7{
	background:url("../images/ab-icon01-7.png");
	background-size:100% 100%;
}

/*系统弹框*/
.alert_tips {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.9);
	position: fixed;
	z-index: 9999999;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.alert_tips .co_con {
	position: relative;
	left:50%;
	top: 50%;
	width: 539px;
	height:238px;
	margin: 0 auto;
	background: url(../images/tipsbg.png) no-repeat;
	background-size: 100% 100%;
	margin-left:-269.5px;
	margin-top:-119px;
}
.alert_tips .co_con .co_tips_close {
	z-index: 20;
	position: absolute;
	right: 10px;
	width: 27px;
	height:27px;
	top:10px;
	cursor:pointer;
}
.alert_tips .co_con .right{
	position: absolute;
	right: 70px;
	top: 50px;
}
.alert_tips .co_con .right h2{
	font-size:40px;
	color:#555;
}
.alert_tips .co_con .right p{
	font-size:20px;
	color:#888;
	margin-top: 5px;
}
.alert_tips .co_con .right .surebtn{
	display: inline-block;
	width: 156px;
	height: 43px;
	line-height: 43px;
	font-size: 20px;
	color: #333;
	margin-top: 30px;
	margin-left: 5px;
	text-align: center;
	border: 1px solid #666;
	cursor:pointer;
}


