/*about-con*/
/*公共*/
*{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color:transparent;
}
body{
    width:100%;
    margin:0 auto;
    font-family: "微软雅黑","PingFangSC-Regular","Heiti SC";
    background: #f6f6f6;
}
.hidden{display:none!important;}
li {list-style:none;}
i{font-style: normal;}
textarea {
    overflow: auto;
    resize: none;
}
a,a:hover{
    outline: 0 none;
    text-decoration: none;
}
.fl{float:left;}
.fr{float:right;}
.align{text-align:center;}
.wrap{
    width:100%;
}
.about-con{
    margin-top:2.875rem;
}
.about-con .page1 {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fff;
    overflow: hidden;
}
.about-con .page2 {
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: #F6F6F6;
    overflow: hidden;
}
.about-con .page3{
    overflow: hidden;
    position: relative;
    width: 100%;
    height:auto;
    background-color: #fff;
    overflow: hidden;
}
.about-con .page4 {
    position: relative;
    width: 100%;
    height:auto;
    background-color: #F6F6F6;
    overflow: hidden;
}
.about-con .page5 {
    position: relative;
    width: 100%;
     height:auto;
    background-color: #fff;
    overflow: hidden;
}
.about-con .page6 {
    position: relative;
    width: 100%;
     height:auto;
    background: #F6F6F6;
    overflow: hidden;
}
.about-con .page7 {
    position: relative;
    width: 100%;
     height:auto;
    background: #fff;
    overflow: hidden;
}
.about-con .page1>div{
    min-width:19.0625rem;
    height:auto;
    padding-top: 1.20625rem;
    overflow: hidden;
}
.about-con .page1>div .swiper-container{
    width:100%;
    height:auto;
    overflow: auto;
}
.about-con .page1>div .swiper-wrapper{
    width:100%;
    margin-bottom: 1.4rem;
}
.about-con .page1>div .row{
    width:13.875rem;
    height:auto;
    padding:0.5rem 0 0 1.80625rem;
    float: left;
    /*position: relative;*/
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    border-right: 1px solid #ddd;
}
.about-con .page1>div .row .about_title{
    width:25%;
    height:30%;
}
.same_title{
    width:8.96875rem;
    position:relative;
    display:block;
    margin:0 auto;
}
.same_title .c_name{
    font-size: 1.126875rem;
    font-weight: 600;
    color: #000;
    position: relative;
    width:7.96875rem;
    height:1.8125rem;
    line-height:1.8125rem;
    background: url(../images/lable.png) no-repeat;
    background-size:100% 100%;  
    text-align: center;
    display:block;
    margin:0 auto;
}
.same_title .c_name.white{color:#fff;}
.same_title .e_name{
    font-size: 0.5rem;
    color: #999;
    position: relative;
    text-align: center;
    display: inline-block;
    width: 100%;
    top: -0.5rem;
}
.about-con .page1>div .row span{
    display: inline-block;
    position: relative;
    top: -0.3rem;
    left: -1.1rem;
    font-size: 16px;
    font-family: "Impact","微软雅黑","PingFangSC-Regular","Heiti SC"; 
    color: #E22B4B;
    font-weight: bolder;
}
.about-con .page1>div .row p{
    font-size: 0.75rem;
    color: #000;
    line-height: 1.375rem;
    position: relative;
    top: -1.6rem;
    padding-right: 0.95rem;
}
.about-con .page1>div .swiper-container .swiper-pagination{
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    opacity: 1;
}
.about-con .page1>div .swiper-container .swiper-pagination-bullet ,.about-con .page4>div .swiper-container .swiper-pagination-bullet{
  background:#E6E6E6;
  width: 0.5625rem;
  height: 0.5625rem;
  margin-left: 0.5rem;
  background-size: 100% 100%;
  opacity: 1;
}
.about-con .page1>div .swiper-container .swiper-pagination-bullet-active ,.about-con .page4>div .swiper-container .swiper-pagination-bullet-active{
  width: 0.5625rem;
  height: 0.5625rem;
  background: #E40349;
  background-size: 100% 100%;
}
.about-con .page1>div .swiper-container .swiper-pagination,.about-con .page4>div .swiper-container .swiper-pagination{
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    background-color: #fff;
    height: 3rem;
    line-height: 3rem;
}
.about-con .page4>div .swiper-container .swiper-pagination{
    bottom: 0rem;
    background: none;
    height: 2rem;
    line-height: 2rem;
}
.about-con .page1>div .swiper-container::scrollbar {display:none}
.about-con .page1>div .swiper-container::-webkit-scrollbar {display:none}
.about-con .page2>div{
    min-width:19.0625rem;
    padding-top: 1.20625rem;
}
/*.about-con .page2>div .course_title{width:300px;}*/
.about-con .page2>div .years{
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    height: 1.9875rem;
}
.about-con .page2>div .years .swiper-wrapper{
    width: 100%;
    height: 100%;
}
.about-con .page2>div .years .swiper-wrapper span{
    font-family: "Impact","微软雅黑","PingFangSC-Regular","Heiti SC";
    width: 1.15625rem;
    height: 1.6875rem;
    line-height: 1.6875rem;
    font-size:0.9375rem;
    font-weight: bolder;
    color: #ccc;
    cursor: pointer;
    float: left;
    display: block;
}
.about-con .page2>div .years .year.grey{color: #ccc;}
.about-con .page2>div .years .year.active{
    color: #e40349;
    font-size: 1.5rem;
    border-bottom: 5px solid #e40349;
}
.about-con .page2>div .years .year+.year{border-left: 0px;}
.about-con .page2>div .course_list>div{
    display:none;
    position: relative;
    left: 50%;
    transform:translate(-50%);
    -ms-transform:translate(-50%);
    -moz-transform:translate(-50%);
    -webkit-transform:translate(-50%);
    -o-transform:translate(-50%);
}
.about-con .page2>div .course_list{
    padding:1rem 1.3rem 1.5rem 1.3rem;
    min-height: 14rem;
    position: relative;
}
.about-con .page2>div .course_list div.info{
    width: 100%;
    position: relative;
    display: none;
    height:auto;
    overflow: hidden;
    padding-bottom: 2rem;
}
.about-con .page2>div .course_list div.info .info_content{
    width: 100%;
    position: relative;
    max-height: 18rem;
    overflow: hidden;
}
.about-con .page2>div a{
    width:3.1875rem;
    height:1.15625rem;
    position: absolute;
    bottom:0rem;
    display: block;
    left:50%;
    margin-left:-1.59375rem;
    font-size: 0.75rem;
    line-height: 1.15625rem;
    color: #ccc;
}
.about-con .page2>div a img{
    width:0.5625rem;
    position: absolute;
    display: block;
    right: 0;
    top:0.4rem;
}
.about-con .page2>div .course_list p{
    color: #000;
    font-size: 0.75rem;
    line-height: 1.5rem;
    display: block;
    max-height: 3rem;
    overflow:hidden;
}
.about-con .page2>div .course_list div.info.active{
    display: block;
}
.about-con .page2>div .course_list .lf_date{
    width:2.6875rem;
    height:2.6875rem;
    background: url(../images/left_date.png) no-repeat;
    background-size:100% 100%;  
    float: left;
}
.about-con .page2>div .course_list .lf_date p:nth-child(1){
    font-size: 0.5625rem;
    font-family: "Impact","微软雅黑","PingFangSC-Regular","Heiti SC";
    color: #E22B4B;
    font-weight: bolder;
    border-bottom: 1px solid #ccc;
    line-height: 1.28125rem;
    text-align: center;
    margin:0 0.5rem;
}
.about-con .page2>div .course_list .lf_date p:nth-child(2){
    font-size: 0.75rem;
    font-family: "Impact","微软雅黑","PingFangSC-Regular","Heiti SC";
    color: #ccc;
    font-weight: bolder;
    line-height: 1.28125rem;
    text-align: center;
}
.about-con .page3>div{   
    min-width: 19.0625rem;
    height: 100%;
    padding-top: 1.20625rem;
}/*
.about-con .page3>div .honor_title{width:300px;}
.about-con .page3>div .honor_content{width:900px;}*/
.about-con .page3>div .years{
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    height: 1.9875rem;
}
.about-con .page3>div .years .swiper-wrapper{
    width: 100%;
    height: 100%;
}
.about-con .page3>div .years .swiper-wrapper span{
    font-family: "Impact","微软雅黑","PingFangSC-Regular","Heiti SC";
    width: 1.15625rem;
    height: 1.6875rem;
    line-height: 1.6875rem;
    font-size:0.9375rem;
    font-weight: bolder;
    color: #ccc;
    cursor: pointer;
    float: left;
    display: block;
}
.about-con .page3>div .years .year.grey{color: #ccc;}
.about-con .page3>div .years .year.active{
    color: #e40349;
    font-size: 1.5rem;
    border-bottom: 5px solid #e40349;
}
.about-con .page3>div .years .year+.year{border-left: 0px;}
/*.about-con .page3>div .honor_list>div{
    display:none;   
    position: relative;
    width: 90%;
    margin: 0 auto;
}*/
.about-con .page3>div .honor_list{
    margin:0.7rem auto 0 auto;
    width:100%;
    position: relative;
    margin-bottom: 3rem;
    min-height: 12rem;
    max-height: 23.6rem;
    overflow: hidden;
}
.about-con .page3>div .honor_list div.info{
    width: 17.2rem;
    padding: 0.7rem 0 0.7rem 0;
    border-bottom: 1px solid #ddd;
    margin-left: 1.4rem;
    max-height: 3.3rem;
}
.about-con .page3>div a{
    width:3.1875rem;
    height:1.15625rem;
    position: absolute;
    bottom:1rem;
    display: block;
    left:50%;
    margin-left:-1.59375rem;
    font-size: 0.75rem;
    line-height: 1.15625rem;
    color: #ccc;
}
.about-con .page3>div a img{
    width:0.5625rem;
    position: absolute;
    display: block;
    right: 0;
    top: 0.4rem;
}
.about-con .page3>div .honor_list div.info.active{
    display: block;
}
.about-con .page3>div .honor_list .info h3 {
    font-size:0.75rem;
    font-weight: bolder;
    line-height: 1.2;
}
.about-con .page3>div .honor_list .info h3 i {
    font-size:0.75rem;
    font-style: normal;
    padding: 0 0.3125rem;
    font-weight: 400;
}
.about-con .page3>div .honor_list .info h3 span {
    color: #E22B4B;
    font-size:0.75rem;
}
.about-con .page3>div .honor_list .info p {
    font-size:0.75rem;
    color: #666;
    margin-top: 0.3125rem;
    max-height: 2rem;
    overflow: hidden;
}
.about-con .page3>div .more a.btn_get .icon_arrow {
    background: url(../images/arrow_on.png) no-repeat;
    width: 19px;
    height: 10px;
    display: inline-block;
    animation: swipeMove 1.5s ease-in infinite;
}
.about-con .page3>div .more a.btn_get .icon_arrow.up {
    animation: swipeMoveUp 1.5s ease-in infinite;
}
.about-con .page3>div .more a.btn_get>span{
    display: block;
}

.about-con .page4>div{
    min-width: 19.0625rem;
    height: 100%;
    padding-top: 1.20625rem;
}/*
.about-con .page4>div .team_title{width:200px;}
.about-con .page4>div .team_content{width:1000px;}*/
.about-con .page4>div .team_content{
    width: 100%;
    height: 15.625rem;
    overflow: auto;
    margin:0.5rem auto;
    z-index: 10;
}
.about-con .page4>div .team_list{
    width: 100%;
    padding-left: 1rem;
}
.about-con .page4>div .team_list>div{
    width: 8.59375rem;
    height: 13.4875rem;
    float: left;
}
.about-con .page4>div .team_list>div div.info{
    width: 8.59375rem;
    height: 13.4875rem;
    position: relative;
    background: #fff;
    z-index: 11;
}
.about-con .page4>div .team_list>div .img{
    height:9.34375rem;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.about-con .page4>div .team_list>div .img>img{
    width: 8.59375rem;
    height: 9.34375rem;
}
.about-con .page4>div .team_list>div .img>.ab-peoinfo{
    position: absolute;
    bottom: 0.88125rem;
    width: 100%;
    text-align: center;
}
.about-con .page4>div .team_list>div .img>.ab-peoinfo h3{
    font-size:0.9375rem;
    color:#222;
}
.about-con .page4>div .team_list>div .img>.ab-peoinfo p{
    padding-top: 0.325rem;
    font-size:0.75rem;
    color:#999;
}
.about-con .page4>div .team_list>div .person_intro{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #E22B4B;
    padding:0.15625rem 0.3125rem;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.about-con .page4>div .team_list>div .person_intro h2{
    font-size: 0.85rem;
    color: #fff;
}
.about-con .page4>div .team_list>div .person_intro span{
    color: #fff;
    font-size: 0.7rem;
    line-height: 0.7rem;
}
.about-con .page4>div .team_list>div .person_intro div{
    border-bottom: 1px solid #ccc;
    margin:2px 0 2px 0;
}
.about-con .page4>div .team_list>div .person_intro p{
    font-size: 0.7rem;
    line-height: 0.8rem;
    color: #F3CAD1;
}
.about-con .page4>div .team_list>div.active .person_intro {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: .95;
}
.about-con .page5>div{
    min-width: 19.0625rem;
    height: 100%;
    padding-top: 1.20625rem;
}
.about-con .page5>div .cult_content{
    width: 100%;
    height: 13.625rem;
    overflow: auto;
}
.about-con .page5>div .cult_content .slider{
    width: 100%;
}
.about-con .page5>div .cult_content .slider .swiper-container{
    width:19.375rem;
    position: relative;
    margin:0.3rem auto;
}
.about-con .page5>div .swiper-wrapper{
    width: 17.4375rem;
    height: 11.15625rem;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
.about-con .page5>div .swiper-wrapper>div{
    width: 17.4375rem;
    height: 11.15625rem;
    float: left;
}
.about-con .page5>div .swiper-wrapper .swiper-slide{
    width: 17.4375rem;
    height: 11.15625rem;
    position: relative;
}
.about-con .page5>div .swiper-wrapper .swiper-slide .swiper-container2{
    width: 17.4375rem;
    height: 11.15625rem;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
.about-con .page5>div .swiper-wrapper .swiper-slide a{
    width: 17.4375rem;
    height: 11.15625rem;
    display: block;
}
.about-con .page5>div .swiper-wrapper .swiper-slide img{
    width: 17.4375rem;
    height: 11.15625rem;
}
.slider .swiper-button-prev{
    left: 0.3rem;
    bottom:6.8rem;
    top: inherit;
    width: 1.875rem;
    height: 1.875rem;
    background: url(../images/prev.png) no-repeat;
    background-size: 100%;
    z-index: 10;
}
.slider .swiper-button-next {
    bottom: 6.8rem;
    top: inherit;
    right:0.3rem;
    width:1.875rem;
    height:1.875rem;
    background: url(../images/next.png) no-repeat;
    background-size: 100%;
}
.slider .swiper-pagination-fraction{
    width: 8.4375rem;
    height: 1.875rem;
    position: absolute;
    background: url(../images/fraction.png) no-repeat;
    background-size: 100% 100%;
    bottom: 1.2rem;
    line-height: 1.875rem;
    font-style: 0.9375rem;
    color: #fff;
    left: 50%;
    margin-left: -4.21875rem;
}
.about-con .page6>div{
    min-width: 19.0625rem;
    height: 100%;
    padding-top: 1.20625rem;
    padding-bottom: 0.6rem;
}
.about-con .page6>div .cult_keywords{
    width:100%;
    position: relative;
    height:11.5rem;
}
.about-con .page6>div .cult_keywords ul{
    width:100%;
    position: relative;
}
.about-con .page6>div .cult_keywords li{
    width:33.33%;
    position: relative;
    height: 5.5rem;
    float: left;
}
.about-con .page6>div .cult_keywords li img{
    display: block;
    position: relative;
    margin:0 auto;
    width:2.65625rem;
}
.about-con .page6>div  .cult_content{
    width:17.6875rem;
    position: relative;
    margin:0 auto;
}
.about-con .page6>div .cult_list>div{
    height: 3.75rem;
    margin-bottom: 0.9375rem;
}
.about-con .page6>div .cult_list>div{
    height: 2.875rem;
    margin-bottom: 0.9375rem;
}
.about-con .page6>div .cult_list>div span{
    position:relative;
    display:inline-block;
    height:0.78125rem;
    line-height: 0.78125rem;
    color: #A0A0A0;
    text-indent: 0.3125rem;
    margin-bottom: 0.3125rem;
    font-size:0.75rem; 
}
.about-con .page6>div .cult_list>div span:before {
    display: inline-block;
    content: "";
    position: absolute;
    left: -0.1rem;
    top: 50%;
    margin-top: -0.39065rem;
    width: 0.15625rem;
    height: 0.78125rem;
    background: url(../images/ab-line.png);
    background-size: 100% 100%;
    margin-right:0.2rem; 
}
.about-con .page6>div .cult_list>div p{
    font-size: 0.9375rem;
    color: #666666;
}
.about-con .page6>div .cult_keywords .key_txt p{
    position: relative;
    display:block;
    font-size:0.9375rem;
    color:#666666;
    text-align: center;
}
.about-con .page7>div{
    min-width:19.0625rem;
    height:100%;
    padding-top: 1.20625rem;
}
.about-con .page7>div:before{
    display: inline-block;
    position: absolute;
    z-index: 1;
    left: 52%;
    top: 55%;
    content: "";
    width: 29.71875rem;
    height: 14.78125rem;
    margin: -7.390625rem 0 0 -14.859375rem;
}
.about-con .page7>div .contact_addr{
    position:relative;
    z-index:2;
    width:100%;
}
.about-con .page7>div .contact_addr .addrs{
    position: relative;
    width: 18.3875rem;
    height: 4.0625rem;
    margin: 0 auto;
}
.about-con .page7>div .contact_addr .addrs .addr{
    width:3.1625rem;
    height: 3.1625rem;
    font-size:0.5625rem;
    color: #999;
    border:1px solid #6E6E6E;
    cursor:pointer;
}
.about-con .page7>div .contact_addr .addrs div+div{
    margin-left:0.48125rem;
}
.about-con .page7>div .contact_addr .addrs .addr h4{
    margin-top: 0.6rem;
    font-size: 0.75rem;
    color: #999;
}
.about-con .page7>div .contact_addr .addrs .addr.active h4{
    color: #fff;
}
.about-con .page7>div .contact_addr .addrs .addr.active{
    background-color: #E22B4B;
    border:1px solid #E22B4B;
    color: #fff;
}
.about-con .page7>div .contact_addr .addr_detail{
    width: 100%;
    text-align: center;
    color: #999;
    font-size: 0.75rem;
    margin-bottom: 1.3rem;
}
.about-con .page7>div .contact_addr .addr_detail .tel{
    display: block;
    color: #666;
    font-size: 1.875rem;
    margin: 0.5rem auto 0.40625rem auto;
}
.about-con .page7>div .contact_addr .map{
    width: 17.5rem;
    height: 9.90625rem;
    position: relative;
    margin:0 auto;
}
.about-con .page7>div .contact_addr .map img{
    width: 1.8rem;
    height: 1.1rem;
}
.about-con .page7>div .contact_addr .map .anchorBL{
    display:none;
}
.about-con .page7>div .contact_content{
    position: relative;
    z-index: 2;
    width: 17.6875rem;
    margin: 1rem auto;
}
.about-con .page7>div .contact_list>div{
    height: 3.8125rem;
    padding-left: 3.4rem;
    position: relative;
}
.about-con .page7>div .contact_list>div img{
    position: absolute;
    width:2.2875rem;
    height:2.675rem;
    left: 0;
    top:50%;
    margin-top:-1.3375rem;
}
.about-con .page7>div .contact_list>div span{
    font-size: 0.75rem;
    color: #999;
    line-height: 1.3rem;
    display: block;
    padding-top: 0.5rem;
}
.about-con .page7>div .contact_list>div a{
    display: block;
    font-size: 0.9375rem;
    color: #333333;
}
/*news-list*/
.loading{
    position: static!important;
    width: 86px!important;
    height: 10px;
    background: url(../images/loading.png) no-repeat;
    background-size:100% 100%;
    margin:0 auto!important;
    margin-top:30px!important;
}
.no_txt{
    font-size: 16px;
    color: #666;
    text-align: center;
}
.new-list-wrap {
    width: 100%;
    margin:50px 0;
    min-height:555px;
    overflow: hidden;
}
.new-list-wrap .event-list-news li {
    width: 100%;
    height: 255px;
}
.new-list-wrap .event-list-news li:hover{background:#fff;}
.new-list-wrap .event-list-news li a {
    position: relative;
    display: block;
    width: 1200px;
    height: 154px;
    margin: 0 auto;
    top: 50px;
}
.new-list-wrap .event-list-news li img {
    width: 276px;
    height: 154px;
    position: absolute;
    left:200px;
    top:0;
}
.new-list-wrap .event-list-news li h2 {
    width: 700px;
    line-height: 25px;
    margin-left: 500px;
    font-size: 24px;
    color: #222;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.new-list-wrap .event-list-news li p.tit {
    width: 700px;
    margin:40px 0 10px 500px;
    font-size: 16px;
    color: #999;
}
.new-list-wrap .event-list-news li p.txt {
    overflow: hidden;
    width: 700px;
    height: 60px;
    line-height: 30px;
    margin-left: 500px;
    font-size: 16px;
    color: #666;
}
.li-fixed{
    position: fixed;
    left: 50%;
    top: 300px;
    z-index: 99;
    margin-left: -600px;
}
.li-fixed .li-year{margin-top: 115px;}
.li-fixed .li-year>p{
    font-size:14px;
    color:#999;
}
.li-fixed .li-year>h2{
    font-size:30px;
    color:#222;
     letter-spacing: 0;
}
.li-fixed .li-year>.page{margin-top:30px;}
.li-fixed .li-year>.page>span {
    position: relative;
    width:30px;
    height:30px;
    background: #DEDEDE;
}
.li-fixed .li-year>.page>span:hover {
     background: #E62B48;
 }
.li-fixed .li-year>.page>span:before {
    display: inline-block;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 9px;
    height: 15px;
    margin: -7.5px 0 0 -4.5px;
    background: url(../images/ab-page01.png);
    background-size: 100% 100%;
}
.li-fixed .li-year>.page>span.next:before {
    background: url(../images/ab-page02.png);
    background-size: 100% 100%;
}

/*news-article*/
.new-list-wrap {
    width: 100%;
    margin:200px 0 50px 0;
    overflow: hidden;
}
.new-list-wrap>div{
    position: relative;
    display: block;
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}
.new-list-wrap>div>h2 {
    width: 1000px;
    line-height: 25px;
    margin-left:200px;
    font-size: 24px;
    color: #222;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.new-list-wrap>div>.tit {
    width: 1000px;
    margin:20px 0 10px 200px;
    font-size: 16px;
    color: #999;
}
.new-list-wrap>div>.artText{
    width: 1000px;
    margin: 45px 0 10px 200px;
    padding-top: 40px;
    border-top: 1px solid #E4E4E4;
}
.new-list-wrap>div>.artText p{
    font-size:18px;
    color:#222;
    line-height: 35px;
}
.new-list-wrap>div>.artText p img {
    text-align: center;
    margin: 20px auto;
    display: block;
    max-width: 100%;
    width: auto;
}
.li-fixed .li-back{
    margin-top:50px;
    font-size:18px;
    color:#999;
}
.li-fixed .li-back>a{color:#999;}
.li-fixed .li-back:before{
    display: inline-block;
    content: "";
    position: relative;
    top: 2px;
    width: 10px;
    height: 17px;
    margin-right: 5px;
    background: url(../images/li-point.png);
    background-size: 100% 100%;
}
@-webkit-keyframes start {
    0%,30% {opacity: 0;-webkit-transform: translate(0,-10px);}
    60% {opacity: 1;-webkit-transform: translate(0,0);}
    100% {opacity: 0;-webkit-transform: translate(0,8px);}
}
@-moz-keyframes start {
    0%,30% {opacity: 0;-webkit-transform: translate(0,-10px);}
    60% {opacity: 1;-webkit-transform: translate(0,0);}
    100% {opacity: 0;-webkit-transform: translate(0,8px);}
}
@keyframes start {
    0%,30% {opacity: 0;-webkit-transform: translate(0,-10px);}
    60% {opacity: 1;-webkit-transform: translate(0,0);}
    100% {opacity: 0;-webkit-transform: translate(0,8px);}
}
@-ms-keyframes start {
    0%,30% {opacity: 0;-webkit-transform: translate(0,-10px);}
    60% {opacity: 1;-webkit-transform: translate(0,0);}
    100% {opacity: 0;-webkit-transform: translate(0,8px);}
}

@-webkit-keyframes swipeMove{
    0%{opacity:0;transform:translate3d(0,-8px,0);}
    70%{opacity:1;transform:translate3d(0,0,0);}
    100%{opacity:0;transform:translate3d(0,5px,0);}
}

@-moz-keyframes swipeMove{
    0%{opacity:0;transform:translate3d(0,-8px,0);}
    70%{opacity:1;transform:translate3d(0,0,0);}
    100%{opacity:0;transform:translate3d(0,5px,0);}
}

@keyframes swipeMove{
    0%{opacity:0;transform:translate3d(0,-8px,0);}
    70%{opacity:1;transform:translate3d(0,0,0);}
    100%{opacity:0;transform:translate3d(0,5px,0);}
}

@-ms-keyframes swipeMove{
    0%{opacity:0;transform:translate3d(0,-8px,0);}
    70%{opacity:1;transform:translate3d(0,0,0);}
    100%{opacity:0;transform:translate3d(0,5px,0);}
}

@-webkit-keyframes swipeMoveUp{
    0%{opacity:0;transform:translate3d(0,8px,0) rotate(180deg);}
    70%{opacity:1;transform:translate3d(0,0,0) rotate(180deg);}
    100%{opacity:0;transform:translate3d(0,-5px,0) rotate(180deg);}
}

@-moz-keyframes swipeMoveUp{
    0%{opacity:0;transform:translate3d(0,8px,0) rotate(180deg);}
    70%{opacity:1;transform:translate3d(0,0,0) rotate(180deg);}
    100%{opacity:0;transform:translate3d(0,-5px,0) rotate(180deg);}
}

@keyframes swipeMoveUp{
    0%{opacity:0;transform:translate3d(0,8px,0) rotate(180deg);}
    70%{opacity:1;transform:translate3d(0,0,0) rotate(180deg);}
    100%{opacity:0;transform:translate3d(0,-5px,0) rotate(180deg);}
}

@-ms-keyframes swipeMoveUp{
    0%{opacity:0;transform:translate3d(0,8px,0) rotate(180deg);}
    70%{opacity:1;transform:translate3d(0,0,0) rotate(180deg);}
    100%{opacity:0;transform:translate3d(0,-5px,0) rotate(180deg);}
}
.i_foot {
    width: 100%;
    color: #fff;
    padding: 0.72rem 0;
    background: #000;
    text-align: center;
}
.i_foot ul {
    overflow: hidden;
    margin: 0 0 0.4rem 0;
}
.i_foot ul li {
    display: inline-block;
    width: auto;
    font-size: 0.37333333rem;
    padding: 0 0.24rem;
    border-right: 2px solid #919191;
}
.i_foot ul li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 0.75rem;
}
.i_foot ul li:nth-child(4) {
    border: none;
}
.i_foot p {
    font-size: 0.625rem;
    margin: 0 0 0.4rem 0;
    color: #878787;
}
.i_foot a{
    color: #878787;
}
.i_foot .a1{
    position: relative;
    color: #878787;
    display: block;
    text-decoration-line: none;
}
.i_foot .a2{
    width: 1.1875rem;
    height: 1.1875rem;
    top: -0.1875rem;
    left: 1.75rem;
    position: absolute;
    background: url(http://cdnstatic.yingxiong.com/common/images/wwwdzbq.png) no-repeat;
    background-size: 100% 100%;
    display: inline-block;
}
.i_foot .a3{
    color: #878787;text-decoration-line: none;
}
.i_foot .a4{
    width:0.875rem;
    height: 0.875rem;
    position: relative;
    top: 0;
    left: 0.25rem;
}
.i_foot .a5{
  display:block;
}
.i_main_nav {
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 0 0.18666667rem;
    box-sizing: border-box;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.95);
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    animation-duration: .5s;
    animation-delay: 0s;
}
.i_main_nav>img {
    position: absolute;
    margin: auto;
    width: 6.34375rem;
    height:1.5625rem;
    top: 0.8rem;
    left: 1rem;
}
.i_main_nav #n_close {
    position: absolute;
    width: 1.1875rem;
    height: 1.1875rem;
    right: 1rem;
    top: 0.8rem;
}
.i_main_nav #n_close > img {
    width: 1.1875rem;
    height: 1.1875rem;
}
.i_main_nav ul li {   
    width: 100%;
    height: auto;
    text-align: center;
    margin: 1.6rem 0 0 0;
}
.i_main_nav ul li img {
    display: inline-block;
    margin: 0;
    width: 3rem;
    height: 4.5rem;
}
.i_main_nav ul li:nth-child(1) {
    margin-top:4.5rem;
}
.i_main_nav_hide {
    animation: hide_i_nav .3s;
    -webkit-animation: hide_i_nav .3s;
}
.i_main_nav_show {
    animation: show_i_nav .3s;
    -webkit-animation: show_i_nav .3s;
    display: block;
}
.i_banner_hide {
    opacity: 0;
}
.i_banner {
    width: 100%;
    height: 8.53333333rem;
    position: relative;
    overflow: hidden;
}
.i_banner .swiper-container {
    width: 100%;
    height: 100%;
}
.i_banner .swiper-container .swiper-wrapper .swiper-slide a {
    display: block;
    width: 100%;
    height: 100%;
}
.i_banner .swiper-container .swiper-wrapper .swiper-slide a img {
    width: 100%;
    height: 100%;
}
.i_banner .i_banner_cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: #fff;
}
.i_nav_hide {
    opacity: 0;
}
.i_nav {
    width: 100%;
    height: 1.5rem;
    padding: 0 0.18666667rem;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 1;
    background: rgba(255, 255, 255, 0.9);
}
.i_nav > img {
    position: absolute;
    margin: auto;
    width: 2.66666667rem;
    height: 0.66666667rem;
    top: 0;
    bottom: 0;
}
.i_nav section {
    width: 1.06666667rem;
    height: 1.06666667rem;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    text-align: center;
    right: 0.34666667rem;
}
.i_nav section img {
    position: absolute;
    width: 0.58666667rem;
    height: 0.45333333rem;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.i_banner_icon {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0.26666667rem;
    z-index: 6;
}
.i_banner_icon i {
    display: inline-block;
    width: 0.34666667rem;
    height: 0.34666667rem;
    margin: 0 0.29333333rem 0 0;
    border-radius: 0.17333333rem;
    background: #fff;
    transition: all .3s;
}
.i_banner_icon i.active {
    width: 0.58666667rem;
    background: #ff3c5e;
    transition: all .3s;
}
.i_new_hide {
    opacity: 0;
}
.i_new {
    width: 100%;
    margin: 0.26666667rem 0 0 0;
    padding: 0 0.18666667rem;
    box-sizing: border-box;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    transition: transform .4s;
    -webkit-transition: transform .4s;
}
.i_new .title {
    width: 100%;
    height: 0.96rem;
    overflow: hidden;
    position: relative;
}
.i_new .title > img{
    float: left;
    display: inline-block;
    width: 0.65rem;
    height: 0.65rem;
    margin: 0.08rem 0 0 0;
}
.i_new .title div {
    display: block;
    width: auto;
    float: left;
    padding: 0;
    margin: 0 0 0 0.2rem;
    overflow: hidden;
}
.i_new .title div span {
    display: block;
    width: auto;
    height: auto;
    font-weight: bold;
    font-size: 0.4rem;
}
.i_new .title div span:nth-child(2) {
    margin: -0.08rem 0 0 0;
    font-size: 0.3rem;
    color: #979797;
    font-weight: normal;
}
.i_new .i_new_s1 {
    width: 100%;
    overflow: hidden;
    margin: 0.26666667rem 0 0.21333333rem 0;
}
.i_new .i_new_s1 section {
    float: left;
    width: 47%;
    height: 100%;
}
.i_new .i_new_s1 section a {
    width: 100%;
    height: 100%;
}
.i_new .i_new_s1 section a img {
    width: 100%;
    height: 69%;
}
.i_new .i_new_s1 section a p {
    margin: 0.21333333rem 0 0 0;
    width: 100%;
    height: 0.98666667rem;
    color: #000;
    font-size: 0.34666667rem;
    line-height: 0.50666667rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.i_new .i_new_s1 > section a:visited > p{
    color: #acacac;
}

.i_new .i_new_s1 section:nth-child(2) {
    float: right;
}
.i_new .i_new_list {
    width: 100%;
}
.i_new .i_new_list li {
    width: 100%;
    overflow: hidden;
    height: 1.38666667rem;
    border-top: 1px dashed #acacac;
}
.i_new .i_new_list li:last-child{
    border-bottom: 1px dashed #acacac;
}
.i_new .i_new_list li a {
    display: block;
    float: left;
    width: 84%;
    height: 100%;
}
.i_new .i_new_list>li>a>p {
    width: 100%;
    padding: 0;
    float: none;
    color: #000;
    text-align: left;
    font-size: 0.4rem;
    line-height: 1.38666667rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.i_new .i_new_list>li>a:visited > p{
    color: #acacac;
}
.i_new .i_new_list li p {
    float: right;
    width: 16%;
    height: 100%;
    color: #acacac;
    text-align: right;
    font-size: 0.37333333rem;
    line-height: 1.38666667rem;
}
.i_new > div {
    margin: 0.4rem 0;
    text-align: center;
}
.i_new > div a {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0.24rem 0.4rem;
    font-size: 0.37333333rem;
    text-align: center;
    background: #ff3c5e;
    color: #fff;
    border-radius: 0.53333333rem;
}
.i_game_hide {
    opacity: 0;
}
.i_game {
    width: 100%;
    padding: 0.32rem 0.18666667rem 0;
    box-sizing: border-box;
    opacity: 1;
}
.i_game .title {
    width: 100%;
    height: 0.96rem;
    overflow: hidden;
    position: relative;
}


.i_game .title > img{
    float: left;
    display: inline-block;
    width: 0.65rem;
    height: 0.65rem;
    margin: 0.08rem 0 0 0;
}
.i_game .title div {
    display: block;
    width: auto;
    float: left;
    padding: 0;
    margin: 0 0 0 0.2rem;
    overflow: hidden;
}
.i_game .title div span {
    display: block;
    width: auto;
    height: auto;
    font-weight: bold;
    font-size: 0.4rem;
}
.i_game .title div span:nth-child(2) {
    margin: -0.08rem 0 0 0;
    font-size: 0.3rem;
    color: #979797;
    font-weight: normal;
}

.i_game ul {
    width: 100%;
    overflow: hidden;
}
.i_game ul li {
    width: 47%;
    float: left;
    margin: 0.29333333rem 0 0 0;
}
.i_game ul li.i_game_li_right{
    float: right;
}
.i_game ul li img {
    width: 100%;
    height: 2.7rem;
}
.i_game ul li section {
    padding: 0 0.21333333rem;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    border-radius: 0 0 2px 2px;

}
.i_game ul li section h1 {
    width: 100%;
    margin: 0.21333333rem 0;
    font-size: 0.37333333rem;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.i_game ul li section p {
    width: 100%;
    height: 0.84rem;
    line-height: 0.44rem;
    font-size: 0.32rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.i_game ul li section section {
    width: 100%;
    overflow: hidden;
    margin: 0.26666667rem 0 0.24rem 0;
    padding: 0;
    border: none;
}
.i_game ul li section section a {
    width: auto;
    display: inline-block;
    float: left;
    font-size: 0.32rem;
    margin: 0;
    padding: 0.13333333rem 0.2rem;
    border-radius: 0.45333333rem;
    color: #ff3c5e;
    border: 1px solid #ff3c5e;
    background-color: transparent;
}
[data-dpr="2"] .i_game ul li section section a{
    border: 2px solid #ff3c5e;
}

[data-dpr="3"] .i_game ul li section section a{
    border: 3px solid #ff3c5e;
}
.i_game ul li section section a:nth-child(2) {
    float: right;
}
.i_game ul li:nth-child(2) {
    float: right;
}
.i_game > div {
    margin: 0.4rem 0;
    text-align: center;
}
.i_game > div a {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0.24rem 0.4rem;
    font-size: 0.37333333rem;
    text-align: center;
    background: #ff3c5e;
    color: #fff;
    border-radius: 0.53333333rem;
}
.page_over_hide {
    width: 100%;
    overflow: hidden;
}
.i_nav {
    width: 100%;
    height: 1.5rem;
    padding: 0 0.18666667rem;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 1;
    background: rgba(255, 255, 255, 0.9);
}
.i_nav_hide {
    opacity: 0;
}
.i_nav {
    width: 100%;
    height: 3.1875rem;
    padding: 0 0.18666667rem;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 1;
    background: rgba(255, 255, 255, 0.9);
}
.i_nav > img {
    position: absolute;
    margin: auto;
    width: 6.34375rem;
    height:1.5625rem;
    top: 0;
    bottom: 0;
    left: 1rem;
}
.i_nav #i_nav_icon {
    width: 1.1875rem;
    height: 0.9375rem;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    text-align: center;
    right: 1rem;
}
.i_nav #i_nav_icon img {
    position: absolute;
    width: 1.1875rem;
    height: 0.9375rem;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@keyframes animate1 {
  0% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 20px, 0);
    -webkit-transform: translate3d(0, 20px, 0);
  }
}
@-webkit-keyframes animate1 {
  0% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 20px, 0);
    -webkit-transform: translate3d(0, 20px, 0);
  }
}
.cp_header {
  position: absolute;
  z-index: 999;
}
.cp_header section:nth-child(2) {
  background: transparent !important;
}
.cp_header .logo {
    width: 5.68rem;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.cp_header {
    width: 100%;
    height: 2.875rem;
    font-size: 0.75rem;
    line-height:2.875rem;
    color: #fff;
    text-align: center;
    background: #252525;
    position: fixed;
    top: 0;
}
.cp_header section {
    position: absolute;
    width: 2.8125rem;
    height: 100%;
}
.cp_header section img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}
.cp_header section:nth-child(1) {
    left: 0;
    width:2.875rem;
    border-right: 1px solid #525252;
}
.cp_header section:nth-child(1) a {
    display: block;
    width: 100%;
    height: 100%;
}
.cp_header section:nth-child(1) img {
    width: 0.6rem;
    height: 1.2rem;
    left: 0.7rem;
}
.cp_header section:nth-child(2) {
    right: 0;
    background: #ff3c5e;
}
.cp_header section:nth-child(2) img.nav_icon {
    width: 1.2rem;
    left: 0;
    right: 0;
    display:block;
    transition: all .2s;
}
.cp_header section:nth-child(2) img.close {
    width: 1.2rem;
    left: 0;
    right: 0;
    display: none;
    transition: all .2s;
}
.cp_header section:nth-child(2) img.nav_hide {
    opacity: 0;
    transition: all .2s;
}
.cp_header ul {
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 2.875rem;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 10;
    padding: 0.8rem 0;
    box-sizing: border-box;
    text-align: center;
    display: none;
}
.cp_header ul li {
    width: 25%;
    text-align: center;
    display: inline-block;
    float: left;
    box-sizing: border-box;
}
.cp_header ul li a {
    display: inline-block;
    width: 2.4rem;
}
.cp_header ul li a img {
    width: 100%;
    height: 100%;
}
.cp_header ul li.no_margin {
    margin: 0;
}