* {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
	width: 100%;
	height: 100%;
}

html,
body,
fieldset,
img,
iframe,
abbr {
	border: 0;
}

li {
	list-style: none;
}

textarea {
	overflow: auto;
	resize: none;
}

button {
	cursor: pointer;
}

a,
a:hover {
	text-decoration: none;
	color: #6f6f6f;
}

a,
a:active,
a:focus,
input,
button {
	outline: 0;
}

li {
	display: block;
}

.hide {
	display: none!important;
}

html,
body,
select,
textarea,
input,
button {
	font-family: "微软雅黑";
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.clear {
	clear: both;
}

.hide {
	display: none;
}

.show {
	display: block;
}
#J_prismPlayer {
    height: 3rem !important;
}

#video_player {
    height: 3rem!important;
}
.prism-time-display{
	font-size:1px;
}
.i_top{
	width: 100%;
	height: 1.34rem;
	background-image: url(../images/i_top_bg.png);
	background-repeat: no-repeat;
	background-size: 100% 1.35rem;
	overflow: hidden;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
}
.i_top_ico{
	width: 1rem;
	height: 1rem;
	float: left;
	margin: 0.5rem;
	margin: 0.18rem 0.1rem 0 0.32rem;
}
.i_top_ico img{
	display: block;
	width: 100%;
	height: 100%;
}
.i_top_text{
	float: left;
	margin-left: 0.064rem;
	margin-top: 0.192rem;
}
.i_top_text h3{
	font-size: 0.23rem;
	margin:0.16rem 0 0.032rem;
	color: #fff;
}
.i_top_text p{
	font-size: 0.192rem;
	color: #fff;
	margin-top: 0.16rem;
}
.i_top_btn{
	height:0.51rem;
	float: right;
	margin-right: 0.28rem;
	margin-top: 0.41rem;
	font-size:0;
}
.i_top_btn a{
	display: inline-block;
	width:1.04rem;
	height: 0.51rem;
	line-height: 0.51rem;
	text-align: center;
	color: #0df5ff;
	font-size: 0.192rem;
	font-weight: bold;
	background: url(../../common/images/top_on.png) no-repeat;
	background-size: 100% 100%;
}
.i_top_btn a.i_gift{
	margin-right: 0.05rem;
}
.kv{
	width:100%;
	height:6.51rem;
	background:url(../images/kv.png) no-repeat center;
	background-size:100% 100%;
	position:relative;
	overflow: hidden;
}
.y_btn{
	display: none;
	width:3.39rem;
	height:1.2rem;
	position:absolute;
	left:50%;
	margin-left:-1.695rem;
	bottom:0;
	animation: vGo 2s linear infinite;
	-webkit-animation: vGo 2s linear infinite;
}
@keyframes vGo{
	0%{transform: scale(0.9);}
	50%{transform: scale(1);}
	100%{transform: scale(0.9);}
}
@-webkit-keyframes vGo{
	0%{transform: scale(0.9);}
	50%{transform: scale(1);}
	100%{transform: scale(0.9);}
}
.y_btn img{
	display: block;
	width:100%;
	height:100%;
}
.s_btn{
    width: 5.6rem;
    height: 1.46rem;
    position: absolute;
    left: 50%;
    margin-left: -2.8rem;
    bottom: 0;
    display: none;
}
.s_btn a{
	display: block;
	width:2.70rem;
	height:1.10rem;
	position:absolute;
}
.s_btn2{
    width: 5.6rem;
    height: 1.46rem;
    position: absolute;
    left: 50%;
    margin-left: -2.8rem;
    bottom: 0;
    /*display: none;*/
}
.s_btn2 a{
    display: block;
    width: 2.70rem;
    height: 1.10rem;
    position: absolute;
    background: url(../images/y_btn.png) no-repeat center;
    background-size: 100% 100%;
    left: 50%;
    margin-left: -1.35rem;
    bottom: 0.6rem;
}
.s_btn a:nth-child(1){
	left:0;
	bottom:0;
	background:url(../images/s_btn1.png) no-repeat center;
	background-size:100% 100%;
}
.s_btn a:nth-child(2){
	left:2.9rem;
	bottom:0.32rem;
	background:url(../images/s_btn2.png) no-repeat center;
	background-size:100% 100%;
}
.s_btn a:nth-child(3){
	right:0rem;
	top:0rem;
}
.banner{
	width:100%;
	height:8.88rem;
	background:url(../images/banner.jpg) no-repeat center;
	background-size:100% 100%;
	position:relative;
	overflow: hidden;
}
.label{
	width:4.66rem;
	height:1.45rem;
	position:absolute;
	top:0.05rem;
	left:50%;
	margin-left:-2.33rem;
}
.label img{
	display: block;
	width:100%;
	height:100%;
}
.swiper-container{
	width:5.87rem;
	height:7.85rem;
	overflow: hidden;
	position:relative;
	margin:1.05rem auto 0;
}
.swiper-container .swiper-slide{
	width:100%;
	height:100%;
	position:relative;
}
.swiper-container .swiper-slide .t_img{
	width:100%;
	height:1.84rem;
	position:absolute;
}
.swiper-container .swiper-slide .t_img .f_img{
	display: block;
	width:0.59rem;
	height:0.56rem;
	position:absolute;
	left:0.12rem;
	top:0.63rem;
}
.swiper-container .swiper-slide:nth-child(1) .t_img .z_img{
    display: block;
    width: 4.10rem;
    position: absolute;
    left: 0.74rem;
    top: 0.35rem;
}
.swiper-container .swiper-slide:nth-child(2) .t_img .z_img{
    display: block;
    width: 2.84rem;
    position: absolute;
    left: 0.7rem;
    top: 0.45rem;
}
.swiper-container .swiper-slide:nth-child(3) .t_img .z_img{
    display: block;
    width: 2.32rem;
    position: absolute;
    left: 0.7rem;
    top: 0.526rem;
}
.swiper-container .swiper-slide:nth-child(4) .t_img .z_img{
    display: block;
    width: 2.97rem;
    position: absolute;
    left: 0.5rem;
    top: 0.48rem;
}
.s_p{
	width:3.7rem;
	font-size:0.22rem;
	color:#646464;
	line-height:0.36rem;
	position:absolute;
	left:0.2rem;
	top:1.5rem
}
.b_txt{
	width:100%;
	overflow: hidden;
	position:absolute;
	left:0;
	bottom:0.6rem;
}
.b_txt ul{
	width:5.3rem;
	height:0.61rem;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	margin-left:0.32rem;
}
.b_txt ul li{
	width:0.61rem;
	height:100%;
	position:relative;
}
.b_txt ul li.active img{
	-webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
	opacity: 0.4;
}
.b_txt ul li img{
	display: block;
	width:100%;
	height:100%;
	opacity: 1;
}
.b_con{
	width:5.35rem;
	height:1.27rem;
	border:2px solid #414141;
	margin:0.2rem auto 0;
}
.b_con ul{
	width:90%;
	height:100%;
	margin:0 auto;
}
.b_con ul li{
	width:100%;
	height:100%;
	font-size:0.24rem;
	line-height:0.4rem;
	color:#787878;
	padding-top:0.2rem;
	display: none;
}
.b_con ul li.active{
	display: block;
}
.b_con ul li em{
	color:#ffa800;
	font-style: normal;
}
.swiper-button-prev{
	width:0.44rem;
	height:0.65rem;
	background:url(../images/prev_n.png) no-repeat center;
	background-size:100% 100%;
	left:0.66rem;
}
.swiper-button-next{
	width:0.44rem;
	height:0.65rem;
	background:url(../images/next_n.png) no-repeat center;
	background-size:100% 100%;
	right:0.59rem;
}
.swiper-pagination-bullet{
	width:0.16rem;
	height:0.19rem;
	background:url(../images/pag_h.png) no-repeat center;
	background-size:100% 100%;
}
.swiper-pagination-bullet-active{
	width:0.16rem;
	height:0.19rem;
	background:url(../images/pag.png) no-repeat center;
	background-size:100% 100%;
}
.swiper-container-horizontal>.swiper-pagination{
	bottom:2.75rem;
}
.swiper-button-next, .swiper-button-prev{
	top:60%;
}
.list{
	width:100%;
	height:5.56rem;
	background:url(../images/list.jpg) no-repeat center;
	background-size:100% 100%;
	overflow: hidden;
	position:relative;
}
.label01{
	width:4.66rem;
	height:1.45rem;
	position:absolute;
	top:0.48rem;
	left:50%;
	margin-left:-2.9rem;
}
.label01 img{
	display: block;
	width:100%;
	height:100%;
}
.n_list{
    width: 5.65rem;
    height: 3.74rem;
    background: url(../images/n_list.png) no-repeat center;
    background-size: 100% 100%;
    margin: 1.47rem auto 0;
    position: relative;
    font-size: 0;
}
.n_list ul{
	width:2.72rem;
	height:100%;
	float:left;
}
.n_list ul:nth-child(2){
	margin-left:0.21rem;
}
.n_list ul:nth-child(3){
	margin-left:0.11rem;
}
.n_list ul li{
    width: 100%;
    height: 1.21rem;
    margin-top: 1px;
    font-size: 0;
}
.n_list ul li.f_li{
	width:100%;
	height:1.23rem;
}
.n_list ul li .time{
    display: block;
    width: 1.52rem;
    height: 0.72rem;
    margin: 0 auto;
    padding-top: 0.15rem;
}
.n_list ul li p{
	font-size:0.18rem;
	text-align: center;
	color:#bbb;
}
.n_list ul li p:nth-child(1){
	padding-top:0.1rem;
}
.n_list ul li .vs{
	display: block;
	width:0.29rem;
	height:0.16rem;
	margin:0.15rem auto 0.15rem;
}
.rule{
    width: 100%;
    height: 8.73rem;
    background: url(../images/rule.png) no-repeat center;
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
}
.label02 {
	width:4.66rem;
	height:1.45rem;
	position:absolute;
	top:0.37rem;
	left:50%;
	margin-left:-2.33rem;
}
.label02 img{
	display: block;
	width:100%;
	height:100%;
}
.rule ul{
    width: 5.49rem;
    height: 3rem;
    position: relative;
    margin: 2.12rem auto 0;
}
.rule ul li{
	width:100%;
	overflow: hidden;
	position:relative;
	font-size:0;
}
.rule ul li img{
    display: block;
    width: 0.29rem;
    height: 0.36rem;
    float: left;
    margin: 0.08rem 0.21rem 0 0;
}
.rule ul li span{
    font-size: 0.22rem;
    color: rgb(153, 153, 153);
    line-height: 0.6rem;
    width: 4.2rem;
    display: inline-block;
    line-height: 0.47rem;
}
.gift{
	width:100%;
	height:5.84rem;
	background:url(../images/gift.jpg) no-repeat center;
	background-size:100% 100%;
	overflow: hidden;
	position:relative;
}
.c_txt{
	width:4.37rem;
	height:1.15rem;
	margin:0 auto;
	padding-top:0.64rem;
}
.c_txt img{
	display: block;
	width:100%;
	height:100%;
}
.e_btn{
	display: block;
	width:4.35rem;
	height:0.91rem;
	position:absolute;
	left:0.16rem;
	bottom:1.04rem;
}
.e_btn img{
	display: block;
	width:100%;
	height: 100%;
}
.box{
	width:2.14rem;
	height:2.04rem;
	position:absolute;
	right:0rem;
	bottom:0.79rem;
}
.box img{
	display: block;
	width:100%;
	height:100%;
}
.yc{
    width: 100%;
    height: 10.81rem;
    background: url(../images/yc.png) no-repeat center;
    background-size: 100% 100%;
    overflow: hidden;
    position: relative;
}
.s_yc{
	width:4.55rem;
	height:1.45rem;
	position:absolute;
	left:50%;
	margin-left:-2.9rem;
	top:0;
}
.s_yc img{
	display: block;
	width:100%;
	height:100%;
}
.yc_ul{
	width:5.6rem;
	overflow: hidden;
	position:relative;
	font-size:0;
	margin:0.88rem auto 0;
}
.yc_ul li{
	width:100%;
	overflow: hidden;
	font-size:0.22rem;
	line-height:0.6rem;
	color: rgb(153, 153, 153);
}
.yc_ul li img{
	display: block;
	width:0.29rem;
	height:0.36rem;
	float:left;
	margin:0.13rem 0.25rem 0 0;
}
.yc_ul li span{
	width:5rem;
	float:right;
}
.lw{
	width:5.97rem;
	height:3.1rem;
	margin:0.7rem auto 0;
	position: relative;
}
.lw p,.yc_lw p{
	width: 100%;
    height: 0.77rem;
    text-align: center;
    line-height: 0.77rem;
    font-size: 0.3rem;
    color: #bbb;
}
.lw ul{
	display: block;
	width:100%;
	height:2.33rem;
	margin:0 auto;
	position: relative;
}
.lw ul li{
    display: block;
    width: 25%;
    height: 2.33rem;
    float: left;
    position: relative;
}
.lw ul li img{
    display: block;
    width: 0.88rem;
    margin: 0.3rem auto 0.2rem;
}
.lw ul li:nth-child(3) img{
    width: 0.76rem;
}
.lw ul li:nth-child(4) img{
    width: 0.93rem;
}
.lw ul li p{
    width: 0.74rem;
    height: 0.4rem;
    text-align: center;
    line-height: 0.4rem;
    font-size: 0.2029rem;
    color: #bbb;
    position: absolute;
    top: 1.4rem;
    left: 50%;
    margin-left: -0.37rem;
}
.yc_lw{
    width: 2.97rem;
    height: 3.1rem;
    margin-left: 0.23rem;
    position: relative;
    top: 0.2rem;
}
.yc_lw ul{
	display: block;
	width:100%;
	height:2.33rem;
	margin:0 auto;
	position: relative;
}
.yc_lw ul li{
    display: block;
    width: 50%;
    height: 2.33rem;
    float: left;
    position: relative;
}
.yc_lw ul li img{
    display: block;
    width: 0.88rem;
    margin: 0.3rem auto 0.2rem;
}
.yc_lw ul li p{
    width: 0.74rem;
    height: 0.4rem;
    text-align: center;
    line-height: 0.4rem;
    font-size: 0.2029rem;
    color: #bbb;
    position: absolute;
    top: 1.4rem;
    left: 50%;
    margin-left: -0.37rem;
}
.yc_lw ul li:nth-child(2) img{
    width: 0.76rem;
}
.lgyc{
	width:3.1rem;
	height:3.11rem;
	position:absolute;
	right:0.05rem;
	bottom:0.43rem;
}
.lgyc a{
    float: right;
    margin: 0 auto;
    width: 2.64rem;
    height: 0.82rem;
    display: block;
    position: absolute;
    top: 1rem;
    left: 0.3rem;
    z-index: 10;
    display: none;
    color: #EBCBA1;
    text-align: center;
    line-height: 0.82rem;
    font-size: 0.36rem;
    padding-left: 0.10rem;
    font-weight: bolder;
}
.lgyc a.dj_watch{
    font-size: 0.28rem;
    padding-left: 0.23rem;
}
.lgyc a.sc_stop{
    font-size: 0.28rem;
    padding-left: 0.23rem;
}
.lgyc p.info{
    color: #E1C863;
    text-align: center;
    line-height: 0.5rem;
    font-size: 0.25rem;
    top: 2rem;
    height: 0.5rem;
}
.lgyc img{
	display: block;
	width:100%;
	height:100%;
}
.lgyc p{
	width:100%;
	position:absolute;
	bottom:0rem;
	color:rgb(153, 153, 153);
	font-size:0.14rem;
	text-align: center;
}
.b_video{
	width:100%;
	height:8.34rem;
	background:url(../images/b_video.jpg) no-repeat center;
	background-size:100% 100%;
	overflow: hidden;
	position:relative;
}
.label03{
	width:4.51rem;
	height:1.11rem;
	position:absolute;
	left:0;
	top:0;
}
.label03 img{
	display: block;
	width:100%;
	height:100%;
}
.c_more{
	display: block;
	font-size:0.18rem;
	color:#696969;
	position:absolute;
	right:0.23rem;
	top:0.36rem;
}
.v_main{
	width:5.9rem;
	height:6.98rem;
	overflow: hidden;
	position:absolute;
	top:0.98rem;
	left:50%;
	margin-left:-2.95rem;
}
.v_main li:nth-child(1){
	width:5.78rem;
	height:3.28rem;
	border:0.06rem solid #2b2b2b;
	position:relative;
	margin:0;
}
.v_main li:nth-child(1) img{
	display: block;
	width:100%;
	height:100%;
	position:absolute;
}
.v_main li:nth-child(1) img.v_play{
	display: block;
	width:1.84rem;
	height:1.89rem;
	position:absolute;
	left:50%;
	margin-left:-0.92rem;
	top:50%;
	margin-top:-0.945rem;
}
.v_main li{
	width:2.73rem;
	height:1.48rem;
	border:0.06rem solid #2b2b2b;
	margin-top:0.2rem;
	float:left;
	position:relative;
}
.v_main li img{
	display: block;
	width:100%;
	height:100%;
	position:absolute;
}
.v_main li .v_play{
	display: block;
	width:1.22rem;
	height:1.26rem;
	position:absolute;
	left:50%;
	margin-left:-0.61rem;
	top:50%;
	margin-top:-0.63rem;
}
.v_main li:nth-child(3){
	float:right;
}
.v_main li:nth-child(5){
	float:right;
}
.tc_yc{
	width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    display: none;
    background: rgba(0,0,0,.9);
}
.tc_con{
    width: 5rem;
    height: 5.25rem;
    background-color: #303030;
    position: relative;
    margin: 0 auto;
    top: 50%;
    margin-top: -2.625rem;
}
.tc_tit{
	width:100%;
	height:0.88rem;
	position:relative;
}
.tc_tit p{
	font-size:0.28rem;
	color:#ccc;
	line-height:0.88rem;
	text-align: center;
}
.tc_tit .close{
	width:0.23rem;
	height:0.23rem;
	background:url(../images/close.png) no-repeat center;
	background-size:100% 100%;
	position:absolute;
	right:0.34rem;
	top:0.32rem;
}
.tc_num{
	width:100%;
	height:3.12rem;
	background-color:#292929;
}
.tc_n{
	width:3.64rem;
	height:100%;
	position:relative;
	margin:0 auto;
}
.tc_txt{
	width:1.43rem;
	height:1.92rem;
}
.tc_txt h1{
	font-size:0.22rem;
	color:#999;
	line-height:0.55rem;
	padding:0.17rem 0 0 0.05rem;
}
.tc_txt input{
	width:1.38rem;
	height:0.78rem;
	background:none;
	border:none;
	border:1px solid #666;
	vertical-align: top;
	border-radius: 5px;
	text-align: center;
	color:#f8d624;
	line-height:0.78rem;
	font-size:0.35rem;
}
.mh{
	color:#666;
	font-size:0.3rem;
	margin:0.9rem 0 0 0.3rem;
}
.phone{
	width:100%;
	height:0.78rem;
	background:none;
	border:1px solid #666;
	font-size:0.22rem;
	color:#999;
	text-indent:0.17rem;
	border-radius: 5px;
	vertical-align: top;
}
.c_btn{
	width:100%;
	height:1.25rem;
	position:relative;
}
.t_btn{
	display: block;
	width:2.17rem;
	height:0.66rem;
	margin:0 auto;
	padding-top:0.3rem;
}
.tc_yc1{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.9);
    position: fixed;
    top: 0;
    z-index: 9999;
    display: none;
}
.tc1_con{
    width: 5rem;
    height: 4.75rem;
    background-color: #303030;
    position: relative;
    margin: 0 auto;
    top: 50%;
    margin-top: -2.375rem;
}
.tc1_tit{
	width:100%;
	height:0.88rem;
	position:relative;
}
.tc1_tit p{
	font-size:0.28rem;
	color:#ccc;
	line-height:0.88rem;
	text-align: center;
}
.tc1_tit .s_close{
	width:0.23rem;
	height:0.23rem;
	background:url(../images/close.png) no-repeat center;
	background-size:100% 100%;
	position:absolute;
	right:0.34rem;
	top:0.32rem;
}
.tc1_txt{
	width:100%;
	height:2.56rem;
	background-color:#292929
}
.tc1_txt p{
	width:4rem;
	font-size:0.28rem;
	color:#fff;
	text-align: left;
	margin:0 auto;
	line-height:0.48rem;
}
.tc1_txt p:nth-child(1){
	font-size:0.38rem;
	color:#efce23;
	line-height:0.96rem;
	padding-top:0.22rem;
}
.sure{
	width:100%;
	height:1.32rem;
	position:relative;
}
.s_sure{
	display: block;
	width:2.17rem;
	height:0.66rem;
	margin:0 auto;
	padding-top:0.34rem;
}
.mask{
    width: 100%;
    height: 100%;
    /*background: rgba(0, 0, 0, 0.8);*/
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    /*z-index: 999;*/
}
.yy_tc{    
	width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    display: none;
    background: rgba(0,0,0,.9);
}
.yy_txt{
	width:5rem;
	height:4.75rem;
	background-color:#303030;
	position:relative;
	margin:2.5rem auto 0;
}
.yy_txt p a{
	display: block;
    font-size: 0.25rem;
    left: 0.14rem;
    position: absolute;
    color: #efce23;
}
.yy_tit{
	width: 100%;
    height: 0.88rem;
    position: relative;
}
.yy_tit p{
	font-size:0.28rem;
	color:#ccc;
	line-height:0.88rem;
	text-align: center;
}
.yy_tit .y_close{
	width:0.23rem;
	height:0.23rem;
	background:url(../images/close.png) no-repeat center;
	background-size:100% 100%;
	position:absolute;
	right:0.34rem;
	top:0.32rem;
}
.yy_inp{
	width: 100%;
    height: 2.56rem;
    background-color: #292929;
	text-align: center;
	position:relative;
}
.yy_phone{
	width:3.62rem;
	height:0.78rem;
	background:none;
	border:1px solid #666;
	position:absolute;
	left:50%;
	margin-left:-1.81rem;
	top:50%;
	margin-top:-0.39rem;
	font-size:0.22rem;
	color:#999;
	text-indent:0.17rem;
	line-height:0.78rem;
}
.lgyy{
	width: 100%;
    height: 1.32rem;
    position: relative;
}
.l_yy{
	display: block;
	width:2.17rem;
	height:0.66rem;
	margin:0 auto;
	padding-top:0.3rem;
}
.yy_cg{
	width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    display: none;
    background: rgba(0,0,0,.9);
}
.yy_cg2{
	width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    display: none;
    background: rgba(0,0,0,.9);
}
.yy_inp p{
	font-size:0.26rem;
	color:#fff;
	text-align: left;
	width:90%;
	margin:0 auto;
	line-height:0.48rem;
}
.c_sure{
	width: 100%;
    height: 1.32rem;
    position: relative;
}
.c_sure img{
	display: block;
    width: 2.17rem;
    height: 0.66rem;
    margin: 0 auto;
    padding-top: 0.34rem;
}
.c_close{
    width: 0.23rem;
    height: 0.23rem;
    background: url(../images/close.png) no-repeat center;
    background-size: 100% 100%;
    position: absolute;
    right: 0.34rem;
    top: 0.32rem;	
}
.yy_inp p:nth-child(1){
	font-size:0.38rem;
	color:#efce23;
	text-align: center;
	padding-top:0.2rem;
	padding-bottom:0.2rem;
}
.zb_cg{
	width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    display: none;
    background: rgba(0,0,0,.9);
}
.yy_inp p{
	font-size:0.26rem;
	color:#fff;
	text-align: left;
	width:90%;
	margin:0 auto;
	line-height:0.48rem;
}
.z_sure{
	width: 100%;
    height: 1.32rem;
    position: relative;
}
.z_sure img{
	display: block;
    width: 2.17rem;
    height: 0.66rem;
    margin: 0 auto;
    padding-top: 0.34rem;
}
.z_close{
    width: 0.23rem;
    height: 0.23rem;
    background: url(../images/close.png) no-repeat center;
    background-size: 100% 100%;
    position: absolute;
    right: 0.34rem;
    top: 0.32rem;	
}
.yy_inp p:nth-child(1){
	font-size:0.38rem;
	color:#efce23;
	text-align: center;
	padding-top:0.2rem;
	padding-bottom:0.2rem;
}
footer .f_t ul{
	font-size:0;
}
.header {
  width: 100%;
  height: 1rem;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
.header .icon {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  float: left;
  margin: 0.1em 0.2rem 0 0.2rem;
}
.header .icon img {
  display: block;
  width: 100%;
  height: 100%;
}
.header .header_txt {
  float: left;
  font-size: 0.3rem;
  color: #fff;
  margin-top: 0.2rem;
}
.header .header_txt p:nth-child(2) {
  font-size: 0.18rem;
  color: #999999;
}
.header .enter {
  width: 5.125rem;
  height: 1.84375rem;
  float: right;
  margin: 0.6875rem 0.625rem 0 0;
}
.header .enter img {
  display: block;
  width: 100%;
  height: 100%;
}
.header .i_down {
  display: block;
  width: 1.64rem;
  height: 0.59rem;
  float: left;
  margin: 0.22rem 0.1rem 0 0.08rem;
}
.header .i_down img {
  display: block;
  width: 100%;
  height: 100%;
}
.header .header_tab {
  width: 0.56rem;
  height: 0.56rem;
  float: right;
  border: 2px solid #9b9a9b;
  margin: 0.2rem 0.1rem 0 0;
  position: relative;
}
.header .header_tab span {
  display: block;
  width: 0.26rem;
  height: 0.02rem;
  background-color: #9b9a9b;
  position: absolute;
  left: 0.16rem;
  transition: all .5s;
  -webkit-transition: all .5s;
}
.header .header_tab span.f_span {
  top: 0.16rem;
}
.header .header_tab span.f_span.active {
  transform: rotate(-45deg);
  top: 0.26rem;
}
.header .header_tab span.s_span {
  top: 0.26rem;
}
.header .header_tab span.s_span.active {
  display: none;
}
.header .header_tab span.t_span {
  top: 0.38rem;
}
.header .header_tab span.t_span.active {
  transform: rotate(45deg);
  top: 0.26rem;
}
.header .h_tab {
  width: 2.6rem;
  overflow: hidden;
  position: fixed;
  top: 1rem;
  right: 0;
  z-index: 11;
  background: #020202;
  display: none;
}
.header .h_tab li {
  width: 100%;
  height: .9rem;
  text-align: center;
  line-height: .9rem;
  font-size: .24rem;
  border-bottom: 1px solid #353535;
}
.header .h_tab li a {
  display: block;
  color: #fff;
}