body{font-family: "微软雅黑";background: #25404F;}
img{max-width: 100%;border: 0;vertical-align: middle;}
i{display: block;font-weight: normal;}
a{text-decoration: none;}
ul,li{list-style: none;}
*{margin: 0;padding: 0;}
/*input placeholder 颜色*/
::-webkit-input-placeholder { /* WebKit browsers */
	color: #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #fff;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfix{zoom:1}
/*视频*/
#mask{display: none; width: 100%; height: 100%;background: url(../../common/images/d.png) repeat; position: fixed; margin: 0 auto; top: 0;left: 0; z-index:200;}
#video_tck{ display: none; width: 100%;height:100%;position: fixed; top:0; left:0;z-index: 1000;background:rgba(0,0,0,.5)}
#close {width:0.93750rem;height:0.93750rem; display: block; position: absolute; top: -0.46875rem; right:-0.46875rem; background: url(../images/c.png) no-repeat;cursor: pointer; background-size:100% 100%;}
#player5{ width:80%;color:#000; position: absolute;left:50%;top:30%;margin-left:-40%;z-index: 1000;}
#player5 video{width: 100%;}
/*首页*/
.i_wrap{
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
	background-image: url(../images/i_bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 66.88rem;
	background-color: #061926;
}
.i_top{
	width: 100%;
	height: 4.21875rem;
	background-image: url(../images/i_top_bg.png);
	background-repeat: no-repeat;
	background-size: 100% 4.21875rem;
	overflow: hidden;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
}
.i_top_ico{
	width: 3.125rem;
	height: 3.125rem;
	float: left;
	margin: 0.5rem;
	margin: 0.5625rem 0.3125rem 0 1rem;
}
.i_top_ico img{
	display: block;
	width: 100%;
	height: 100%;
}
.i_top_text{
	float: left;
	margin-left: 0.2rem;
	margin-top: 0.6rem;
}
.i_top_text h3{
	font-size: 0.71875rem;
	margin:0.5rem 0 0.1rem;
	color: #fff;
}
.i_top_text p{
	font-size: 0.6rem;
	color: #fff;
	margin-top: 0.5rem;
}
.i_top_btn{
	height: 1.59375rem;
	float: right;
	margin-right: 0.875rem;
	margin-top: 1.28125rem;
}
.i_top_btn a{
	display: inline-block;
	width:3.25rem;
	height: 1.59375rem;
	line-height: 1.59375rem;
	text-align: center;
	color: #0df5ff;
	font-size: 0.6rem;
	font-weight: bold;
	background: url(../../common/images/top_on.png) no-repeat;
	background-size: 100% 100%;
}
.i_top_btn a.i_gift{
	margin-right: 0.15625rem;
}
.videoBtn {
	position: absolute;
	z-index: 11;
	top: 18.125rem;
	left: 50%;
	width: 3.34375rem;
	height: 3.34375rem;
	margin-left: -1.671875rem;
	cursor: pointer;
}
.videoBtn:before{
	display: inline-block;
	content: "";
	position: absolute;
	width: 1.53125rem;
	height: 1.6875rem;
	left: 50%;
	top: 50%;
	margin: -0.84375rem 0 0 -0.546875rem;
	background: url(../images/i_play1.png);
	background-size: 100% 100%;
}
.videoBtn img{
	animation: rotate 2s linear infinite;
	-webkit-animation: rotate 2s linear infinite;
}
.i_pagedown{
	display:none;
	width: 1.307rem;
	height: 1.44rem;
	position: absolute;
	top: 26.5rem;
	left: 50%;
	margin-left: -0.6535rem;
	background-image: url(../images/i_pagedown.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-animation: bounce 2s ease-in infinite 0s both;
	-moz-animation: bounce 2s ease-in infinite 0s both;
	animation: bounce 2s ease-in infinite 0s both;
}
.i_m1{
	width: 100%;
	margin-top: 26.573rem;
}
.i_m1 .i_m1_title{
	width: 18.48rem;
	height: 0.907rem;
	display: block;
	margin: 0.2rem auto;
	background-image: url(../images/i_title_news.png);
	background-repeat: no-repeat;
	background-size: 5.333rem 100%;
}
.i_m1_lb{
	width: 100%;
}
.i_m1_lbcon{
	width: 18.48rem;
	height: 14.027rem;
	margin: 0.5rem auto;
	position: relative;
}
.swiper-container1{ width: 100%;height: 14.027rem;margin: 0.5rem auto;overflow: hidden;}
.swiper-container1 .swiper-wrapper{width: 100%;}
.swiper-container1 .swiper-wrapper .swiper-slide{width: 18.48rem;height: 14.027rem;}
.swiper-container1 .swiper-wrapper .swiper-slide img{
	width: 100%;
	display: block;
}
.i_m1_lbcon .swiper-pagination1{
	width: 100%;
	left: 0;
	bottom: 0.5rem;
	position: absolute;
	z-index: 1;
	text-align: center;
}
.i_m1_lbcon .swiper-pagination1 .swiper-pagination-bullet{
	background:url(../images/i_lb_btn.png) no-repeat;
	background-size:100%;
	width:0.64rem;
	height:0.64rem;
	display: inline-block;
	border-radius: 0;
	margin: 0 5px;
}
.i_m1_lbcon .swiper-pagination1 .swiper-pagination-bullet.swiper-pagination-bullet-active{
	width:1.787rem;
	height:0.64rem;
	background:url(../images/i_lb_btnon.png) no-repeat;
	background-size: 100%;
}
.i_news{
	width: 100%;
	background: url(../images/i_news_mask.png) repeat;
	padding-bottom: 1rem;
}
.i_news_nav{
	width: 100%;
	height: 1.493rem;
	background-image: url(../images/i_news_navbg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.i_news_nav ul{
	margin-left: 0.76rem;
	overflow: hidden;
}
.i_news_nav ul li{
	width: 3.68rem;
	float: left;
	height: 1.493rem;
}
.i_news_nav ul li.on{
	background-image: url(../images/i_news_on.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.i_news_nav ul li.on a,.i_news_nav ul li.on span{
	color: #fff;
}
.i_news_nav ul li a,.i_news_nav ul li span{
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 0.747rem;
	color: #A9FDFF;
	line-height: 1.493rem;
}
.i_newscon{
	width: 18.48rem;
	margin: 0.5rem auto;
}
.i_newsinf{
	width: 100%;
}
.i_newsinf ul{
	width: 100%;
}
.i_newsinf ul li{
	width: 100%;
	height: 2.4rem;
	border-bottom: 1px dashed #456172;
}
.i_newsinf ul li a{
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: block;
	line-height: 2.4rem;
	font-size: 0.68rem;
	color: #fff;
}
.i_newsinf ul li a p{
	width: 13rem;
	height: 100%;
	float: left;
	overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
}
.i_newsinf ul li a span{
	display: block;
	float: right;
	color: #2d5e7c;
}
.i_news_more{
	width: 18.48rem;
	height: 0.693rem;
	margin: 1rem auto 0;
}
.i_news_more i{
	display: block;
	float: left;
	border: 0.347rem solid transparent;
	border-left-color: #4F6D7F;
	width: 0;
	height: 0;
}
.i_news_more span{
	display: block;
	height: 0;
	width: 14rem;
	margin-top: 0.3rem;
	float: left;
	border-bottom: 1px dashed #4F6D7F;
}
.i_news_more a{
	float: left;
	margin-left: 0.5rem;
	font-size: 0.48rem;
	color: #4F6D7F;
	line-height: 0.693rem;
	height: 0.693rem;
	text-decoration: none;
}
.i_news_more a em{
	width: 0.64rem;
	height: 0.64rem;
	line-height: 0.64rem;
	font-size: 0.4rem;
	color: #4F6D7F;
	display: inline-block;
	text-align: center;
	font-style: normal;
	-webkit-border: 0.027rem solid #4F6D7F;
	border: 0.027rem solid #4F6D7F;
	-webkit-border-radius: 0.32rem;
	border-radius: 0.32rem;
}
.i_m2{
	width: 100%;
}
.i_m2 .i_m2_title{
	width: 18.48rem;
	height: 0.907rem;
	margin: 0.2rem auto;
	background-image: url(../images/i_title_warship.png);
	background-repeat: no-repeat;
	background-size: 5.333rem 100%;
}
.i_shipbox{
	width: 18.533rem;
	height: 14.293rem;
	margin: 0.5rem auto;
	position: relative;
}
.i_m2_nav{
	width: 18.533rem;
	height: 1.52rem;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 11;
	background-image: url(../images/i_m2_navbg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.i_m2_nav ul{
	height: 100%;
	margin-left: 0.64rem;
	overflow: hidden;
}
.i_m2_nav ul li{
	width: 3.28rem;
	height: 100%;
	float: left;
}
.i_m2_nav ul li:nth-of-type(3){
	width: 4.16rem;
}
.i_m2_nav ul li a{
	font-size: 0.64rem;
	color: #fff;
	text-align: center;
	line-height: 1.52rem;
	display: block;
	width: 100%;
	height: 100%;
}
.i_m2_nav ul li.on a{
	font-size: 0.96rem;
}
.i_m2inf{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}
.i_m2con{
	width: 100%;
	height: 100%;
	position: relative;
}
.i_m2con .i_m2_txt{
	width: 7.067rem;
	height: 3.333rem;
	position: absolute;
	/* right: 1.92rem; */
	right:0;
	top: 0;
	z-index: 11;
	overflow: hidden;
	background-image: url(../images/i_m2_txtbg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.i_m2con .i_m2_txt h3{
	width: 100%;
	text-align: center;
	font-size: 0.6rem;
	color: #02DAE4;
	line-height: 1.6;
}
.i_m2con .i_m2_txt .item{
	width: 6.4rem;
	height: 0.507rem;
	position: relative;
	margin: 0.1rem auto;
	background-image: url(../images/i_m2_txt_itembg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.i_m2con .i_m2_txt .item i{
	float: left;
	height: 0.453rem;
	width: 0;
	margin-left: 0.24rem;
	margin-top: 0.027rem;
	display: block;
}
.i_m2con .i_m2_txt .item.item1 i{
	background: url(../../common/images/s_redline.png) repeat;
}
.i_m2con .i_m2_txt .item.item2 i{
	background: url(../../common/images/s_blueline.png) repeat;
}
.i_m2con .i_m2_txt .item.item3 i{
	background: url(../../common/images/s_yline.png) repeat;
}
.i_m2con .i_m2_txt .item em{
	float: left;
	display: block;
	width: 0.293rem;
	height: 0.453rem;
	margin-top: 0.027rem;
}
.i_m2con .i_m2_txt .item.item1 em{
	background-image: url(../../common/images/s_em_red.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.i_m2con .i_m2_txt .item.item2 em{
	background-image: url(../../common/images/s_em_blue.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.i_m2con .i_m2_txt .item.item3 em{
	background-image: url(../../common/images/s_em_y.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.i_m2con .i_m2_txt .item span{
	height: 0.507rem;
	line-height: 0.507rem;
	position: absolute;
	top: 0;
	left: 0.32rem;
	display: block;
	font-size: 0.453rem;
	color: #01E6F3;
}
.i_m2con .i_m2_txt .item strong{
	height: 0.507rem;
	line-height: 0.507rem;
	position: absolute;
	top: 0;
	right: 0.32rem;
	display: block;
	font-size: 0.453rem;
	color: #01E6F3;
}
.i_m2con .i_m2_ship{
	width: 18.533rem;
	height: 14.293rem;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: 10;
}
.i_m2con .i_m2_ship ul{
	position: absolute;
	left: 0;
	top: 0;
}
.i_m2con .i_m2_ship ul li{
	width: 18.533rem;
	height: 14.293rem;
	float: left;
}
.i_m2con .i_m2_ship ul li img{
	display: block;
	width: 18.533rem;
	height: 14.293rem;
}
.i_m2con .i_m2_ship a{
	display: block;
	width: 1.707rem;
	height: 1.6rem;
	position: absolute;
	top: 50%;
	margin-top: -0.8rem;
}
.i_m2con .i_m2_ship a.prev{
	left: 0;
	background-image: url(../images/i_war_prev.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.i_m2con .i_m2_ship a.next{
	right: 0;
	background-image: url(../images/i_war_next.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
/*.i_m2con .i_m2_ship .bd{
	position: relative;
}
.i_m2con .i_m2_ship .bd li{
	position: relative;
}
.i_m2con .i_m2_ship ul li img{
	display: block;
	width: 18.533rem;
	height: 14.293rem;
}
.i_m2con .i_m2_ship .hd{
	width: 100%;
	height: 1.6rem;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -0.8rem;
}
.i_m2con .i_m2_ship .hd a{
	display: block;
	width: 1.707rem;
	height: 1.6rem;
	position: absolute;
	top: 0;
}
.i_m2con .i_m2_ship .hd a.prev{
	left: 0;
	background-image: url(../images/i_war_prev.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.i_m2con .i_m2_ship .hd a.next{
	right: 0;
	background-image: url(../images/i_war_next.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}*/
.i_m2con .flags{
	width: 4.0rem;
	height: 2.8rem;
	position: absolute;
	top: 0.08rem;
	/* left: 2.0rem; */
	left:0;
}
.i_m2con .flags img{
	display: block;
	width: 100%;
	height: 100%;
}


.i_m3{
	width: 100%;
}
.i_m3 .i_m3_title{
	width: 18.48rem;
	height: 0.907rem;
	margin: 0.2rem auto;
	background-image: url(../images/i_title_gamevideo.png);
	background-repeat: no-repeat;
	background-size: 5.333rem 100%;
}
.i_m3_img{
	width: 18.533rem;
	height: 11.2rem;
	margin: 0.2rem auto;
	position: relative;
}
.i_m3_img img{
	display: block;
	width: 100%;
	height: 100%;
}
.i_m3_img i{
	width: 2.6rem;
	height: 2.6rem;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -1.3rem 0 0 -1.3rem;
	background-image: url(../images/i_video.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.swiper-container2{ width: 100%;height: 3.893rem;margin: 0.5rem auto;overflow: hidden;}
.swiper-container2 .swiper-wrapper{width: 100%;}
.swiper-container2 .swiper-wrapper .swiper-slide{width: 5.733rem;height: 3.893rem;}
.swiper-container2 .swiper-wrapper .swiper-slide img{
	width: 100%;
	height: 100%;
	display: block;
}
.swiper-container2 .swiper-wrapper .swiper-slide i{
	display: block;
	width: 1.7rem;
	height: 1.7rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -0.85rem 0 0 -0.85rem;
	background-image: url(../images/i_video.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.i_m3_nav{
	width: 100%;
}
.i_m3_nav .i_m3_navcon{
	width: 17.493rem;
	margin: 0 auto;
	position: relative;
}
.i_m3_nav .i_m3_navcon .swiper-button-prev{
	width: 0.533rem;
	height: 3.867rem;
	background-image: url(../images/i_video_prev.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: -0.533rem;
	top: 0;
	margin-top: 0;
}
.i_m3_nav .i_m3_navcon .swiper-button-next{
	width: 0.533rem;
	height: 3.867rem;
	background-image: url(../images/i_video_next.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right: -0.533rem;
	top: 0;
	margin-top: 0;
}
.i_m4{
	width: 100%;
	margin-bottom: 0.5rem;
	text-align: center;
}
.i_m4 a{
	display: inline-block;
	margin: 0 0.2rem;
	position: relative;
}
.i_m4 a i{
	display: inline-block;
	vertical-align: middle;
}
.i_m4 a.weixin img{
	display: none;
	width: 6rem;
	max-width: 6rem;
	height: 6rem;
	position: absolute;
	top: -6.5rem;
	left: -1rem;
	z-index: 111;
}
.i_m4 a.weixin i{
	width: 1.04rem;
	height: 0.853rem;
	background-image: url(../images/i_ico_wx.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.i_m4 a.weibo i{
	width: 0.987rem;
	height: 0.8rem;
	background-image: url(../images/i_ico_wb.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.i_m4 a.qq i{
	width: 0.747rem;
	height: 0.827rem;
	background-image: url(../images/i_ico_qq.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.i_m4 a.tieba i{
	width: 0.773rem;
	height: 0.827rem;
	background-image: url(../images/i_ico_tb.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.i_m4 a span{
	margin-left: 0.2rem;
	display: inline-block;
	width: 2.24rem;
	height: 0.853rem;
	line-height: 0.853rem;
	text-align: center;
	font-size: 0.373rem;
	color: #464368;
	background-color: #D6F7FF;
	border-radius: 3px;
}
.i_footer{
	width: 100%;
	padding: 1rem 0 0.5rem;
	background-color: #0F1E28;
}
.i_footer .i_fot_logo{
	width: 5.813rem;
	height: 1.653rem;
	margin: 0 auto 0.2rem;
	display: block;
}
.i_footer .i_fot_logo img{
	display: block;
	width: 100%;
	height: 100%;
}
.i_footer p{
	width: 100%;
	text-align: center;
	font-size: 0.373rem;
	color: #264f6e;
	line-height: 1.8;
}
.i_footer p a{
	color: #264f6e;
	font-size: 0.6rem;
}

/*列表*/
.l_wrap{
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
	background-image: url(../images/l_bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 35.573rem;
	background-color: #0E1E28;
}
.i_m1.l_m1{
	margin-top: 10rem;
}
.l_news_more{
	width: 100%;
	display: none;
	margin-top: 1rem;
}
.l_news_more p{
	width: 100%;
	text-align: center;
	font-size: 0.48rem;
	color: #a9f1fb;
}
.l_news_more i{
	display: block;
	margin: 0.5rem auto;
    border: 0.347rem solid transparent;
    border-top-color: #a9f1fb;
    width: 0;
    height: 0;
}


/*文章页*/
.a_con{
	width: 100%;
}
.a_top{
	width: 16.907rem;
	margin: 0 auto;
	padding: 0.5rem 0;
	border-bottom: 1px dashed #fff;
}
.a_topcon .share{
	display: none;
	position: absolute;
	bottom: 0;
	right: 0.5rem;
}
.a_top h3{
	font-size: 0.8rem;
	color: #b2fafd;
	width: 100%;
	text-align: center;
	line-height: 1.5;
}
.a_topcon{
	width: 100%;
	position: relative;
	margin-top: 0.3rem;
}
.a_top_share{
	position: absolute;
	top: -0.5rem;
	right: 0.5rem;
}
.a_top_share span{
	font-size: 0.48rem;
	color: #fff;
	line-height: 1.2;
	display: inline-block;
}
.a_top_share a{
	display: inline-block;
	vertical-align: middle;
	width: 0.933rem;
	height: 0.933rem;
	background-image: url(../images/ico_share.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.a_top p{
	font-size: 0.48rem;
	color: #fff;
	width: 100%;
	text-align: center;
	line-height: 1.2;
}
.a_inf{
	width: 17.973rem;
	margin: 0.5rem auto;
}
.a_inf p{
	font-size: 0.64rem;
	color: #fff;
	line-height: 1.8;
	text-indent: 1.28rem;
	width: 100%;
}
.a_inf img{
	max-width: 15.76rem;
	display: block;
	margin: 0.2rem auto;
}
@-webkit-keyframes bounce {
	0%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
	50% {
		-webkit-transform: translateY(15px);
		transform: translateY(15px)
	}
}
@keyframes bounce {
	0%, 100% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0)
	}
	50% {
		-webkit-transform: translateY(15px);
		-ms-transform: translateY(15px);
		transform: translateY(15px)
	}
}

.yyb_wrap,.tx_wrap{
	width: 100%;
	position: relative;
}
.yyb_wrap .bg{
	width: 100%;
	height: 37.5rem;
	overflow: hidden;
}
.y_game_about{
	background: url(../images/yyb_g_bg.jpg) no-repeat;
	background-size: 100% 100%;
}
.y_ga_text01{
	width: 18.375rem;
	height: 11.125rem;
	background: url(../images/yyb_txt01.png) no-repeat;
	background-size: 100% 100%;
	margin: 6.4rem auto 0;
}
.y_ga_text01 p{
	font-size: 0.75rem;
	color: #fff;
	line-height:1.5rem;
	width: 97%;
	margin: 0 auto;
	padding-top: 1rem;
}
.y_ga_text02{
	width: 18.375rem;
	height: 13.75rem;
	margin: -0.8rem auto 2.125rem;
	background: url(../images/yyb_txt02.png) no-repeat;
	background-size: 100% 100%;
}
.y_ship_about{
	background: url(../images/yyb_s_bg.jpg) no-repeat;
	background-size: 100% 100%;
}
.y_ship_about .w_con{
	width: 100%;
	position: relative;
	overflow: hidden;
	z-index: 10;
}
.y_ship_about .w_con img{
	width: 100%;
	margin-top: 3rem;
	display: block;
	height: auto;
	background-size: 100% 100%;
	position: relative;
	z-index: 8;
}
.y_ship_about .w_con .w_ts{
	width: 16.03125rem;
	height: 3.375rem;
	padding-top: 1.5rem;
	margin: -1.2rem auto 0;
	background-image: url(../images/yyb_s_bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: 10;
	position: relative;
}
.y_ship_about .w_con .w_ts .item{
	width: 14.6875rem;
	height: 0.78125rem;
	background: #000;
	margin: 0.1rem auto;
	position: relative;
}
.y_ship_about .w_con .w_ts .item i{
	height: 0.78125rem;
	display: block;
	width: 0;
}
.y_ship_about .w_con .w_ts .item:nth-of-type(1) i{
	background-image: url(../images/w_ico_01.jpg);
	background-repeat: repeat-x;
	background-size: 100% 100%;
}
.y_ship_about .w_con .w_ts .item:nth-of-type(2) i{
	background-image: url(../images/w_ico_02.jpg);
	background-repeat: repeat-x;
	background-size: 100% 100%;
}
.y_ship_about .w_con .w_ts .item:nth-of-type(3) i{
	background-image: url(../images/w_ico_03.jpg);
	background-repeat: repeat-x;
	background-size: 100% 100%;
}
.y_ship_about .w_con .w_ts .item span{
	position: absolute;
	display: block;
	height: 0.78125rem;
	line-height: 0.78125rem;
	font-size: 0.438rem;
	color: #ccc;
	top: 0;
	left: 0.1rem;
}
.y_s_txt{
	width: 18.8125rem;
	height:18.75rem;
	background: url(../images/yyb_txt03.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
	z-index: 5;
	margin: -0.3125rem auto 0;
	padding-top: 1rem;
}
.y_s_txt p{
	color: #fff;
	font-size: 0.6875rem;
	width: 94%;
	margin: 0 auto;
}
.y_ship_about .y_s_txt p{
 line-height: 1rem;
}
.y_gift_about{
	background: url(../images/yyb_giftbg.jpg) no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.y_gift_about span,.y_gift_about a{
	display: block;
}
.yyb_gift{
	background: url(../images/yyb_gift.png) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 6.4375rem;
	margin: 6.25rem auto 0.625rem;
}
.yyb_downl{
	display: block;
	margin: 0 auto;
	width: 11.40625rem;
	height: 3.375rem;
	background: url(../images/yyb_downl.png) no-repeat;
	background-size: 100% 100%;
}
.yyb_tip{
	margin: 0 auto;
	width: 11.25rem;
	height: 10.78125rem;
	background: url(../images/yyb_g_tip.png) no-repeat;
	background-size: 100% 100%;
}
.ship_bot{
	width: 100%;
	height: 12.40625rem;
	position: absolute;
	left: 0;
	bottom: 0;
}
.ship_bot span{
	position: absolute;
	bottom: 0;
	z-index: 5;
}
.ship_bot .yyb_ship{
	width: 100%;
	height: 9.6875rem;
	background: url(../images/yyb_g_ship.png) no-repeat;
	background-size: 100% 100%;
	left: 0;
}
.ship_bot .yyb_peo{
	width: 7.8125rem;
	height: 12.40625rem;
	background: url(../images/yyb_peo.png) no-repeat;
	background-size: 100% 100%;
	right: 0;
	z-index: 10;
}
.yyb_tip,.yyb_downl,.yyb_gift,.y_s_txt,.y_ga_text01,.y_ga_text02{
	animation:fadeIn  1s ease 0s ;
	-webkit-animation:fadeIn  1s ease 0s;
	-ms-animation:fadeIn  1s ease 0s;
	-o-animation:fadeIn  1s ease 0s;
}
.w_con img,.ship_bot .yyb_ship{
	animation:bounceInLeft  1s ease 0s ;
	-webkit-animation:bounceInLeft  1s ease 0s;
	-ms-animation:bounceInLeft  1s ease 0s;
	-o-animation:bounceInLeft  1s ease 0s;
}
.y_ship_about .w_con .w_ts,.ship_bot .yyb_peo{
	animation:bounceInRight  1s ease 0s ;
	-webkit-animation:bounceInRight  1s ease 0s;
	-ms-animation:bounceInRight  1s ease 0s;
	-o-animation:bounceInRight  1s ease 0s;
}
@-webkit-keyframes fadeIn {from {opacity: 0;}to {opacity: 1;}}
@keyframes fadeIn {from {opacity: 0;}to {opacity: 1;}}
@-webkit-keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}
.i_m2_txt > strong {
    background:url("../../common/images/hope.png") no-repeat scroll 0 0;
	background-size:100% 100%;
    height:2.43750rem;
    left: 2rem;
    position: absolute;
    top: .4rem;
    width: 4.71875rem;
    z-index: 30;
}
.i_touch{position:absolute;left:0;top:0;z-index:1;width:100%;}
.i_touch1{position:absolute;left:0;top:0;z-index:2;width:100%;height:100%;background:red}
.co_wrap{
	width: 100%;
	height: 35.5rem;
	position: relative;
	overflow: hidden;
	background-image: url(../images/c_bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.co_wrap .top_box{width: 100%;height: 2.71875rem;background:url(../images/c_topbg.png) no-repeat; background-size:100% 100%;position: relative;}
.co_wrap .top_box .t_logo{display: block;width: 2.3125rem;height: 2.3125rem;margin:0.1875rem 0.3125rem 0 0.46875rem;}
.co_wrap .top_box .t_logo img{width: 100%;display: block;}
.co_wrap .top_box .t_til{color: #fff;font-size: 0.6rem; margin-right: 0.3rem;}
.co_wrap .top_box .t_til h3{font-size:0.7rem;margin: 0.3rem 0 0 0;}
.c_enter,.t_download{
	display: block;
	width: 4.21875rem;
	height: 1.375rem;
	margin-right: 0.25rem;
	margin-top: 0.625rem;
}
.c_enter img,.t_download img{
	display: block;
	width: 100%;
}
.t_wx{
	width: 1.21875rem;
	height: 1.21875rem;
	margin-top: 0.7rem;
}
.downl_tck,.wx_tck{
	position: absolute;
	top:2.71875rem;
	right: 1.5rem;
	display: none;
}
.downl_tck a,.downl_tck a img,.wx_tck a{
	display: block;
	width: 6.5rem;
	height: 1.5rem;
	text-align: center;
	line-height: 1.5rem;
	color: #fff;
	font-size: 0.7rem;
}
.co_iosbtn{
	margin-bottom: 0.1875rem;
}
.wx_tck{
	right: 0.2rem;
	background: url(../images/co_wxbg.jpg) no-repeat;
	background-size: 100% 100%;

}
.c_video{
  position: relative;
  width: 13.59375rem;
  height: 9.90625rem;
	margin: 16.5rem auto 0;
}
.c_video a{
  display: block;
}
.c_video img{
  display: block;
  width: 13.59375rem;
  height: 9.90625rem;
}
.c_video i{
  position: absolute;
  width: 1.9375rem;
  height: 1.9375rem;
  left: 50%;
  top: 50%;
  margin: -0.96875rem 0 0 -0.96875rem;
  background: url(../../common/images/c_v_play.png) no-repeat;
  background-size: 100% 100%;
}
.c_video .in_embed video{
  display: none;
  position: absolute;
  top:32px;
  left: 2px;
	width: 12.9375rem;
	height: 8rem;
}
.co_abtn{
	width: 14.375rem;
	height: 1.8125rem;
	margin: 0 auto;
}
.co_abtn a{
	display: block;
	width: 7.125rem;
	height: 1.8125rem
}
.co_abtn a img{
	display: block;
	background-size: 100% 100%;
	width: 7.125rem;
}
.c_footer{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2.53125rem;
	background: url(../images/co_fo_mask.png) repeat;
}
.c_footer .fot_logo{
	width: 4.625rem;
	height: 1.1875rem;
	display: block;
	margin: 0.6875rem 0.46875rem 0 0.46875rem;
}
.c_footer .fot_logo img{
	display: block;
	width: 100%；
}
.c_main{
	margin-top: 0.3125rem;
}
.c_main p{
	color: #fff;
	font-size: 0.4rem;
}
.c_video .video_tck{
	display: none;
	position: absolute;
	top: -0.34375rem;
	left: 0;
	width: 13.59375rem;
  height: 9.90625rem;
}
.c_video .video_tck video{
	width: 100%;
	height: 100%;
}
.tx_wrap .bg_box{
	width:100%;
	position: relative;
}
.tx_wrap .bg_box span{
	display: block;
}
.bg_box .t_bg01{
	width: 20rem;
	height: 34.19444444444444rem;
}
.bg_box .t_bg02{
	width: 20rem;
	height: 16.305555555555557rem;
}
.bg_box .t_bg03{
	width: 20rem;
	height: 16.333333333333332rem;
}
.bg_box .t_bg04{
	width: 20rem;
	height: 16.5rem;
}
.tx_downl{
	display: block;
	position: absolute;
	top: 29.72222222222222rem;
	left: 50%;
	width: 12.305555555555555rem;
	height: 4.055555555555555rem;
	margin-left: -6.166666666666667rem;
	text-indent: -61.111111111111114rem;
	background: url(../images/tx_downl.png) no-repeat;
	background-size: 100% 100%;
	animation: animations 2s ease 0s infinite;
	-webkit-animation: animations 2s ease 0s infinite;
	-ms-animation: :animations 2s ease 0s infinite;
	-moz-animation: animations 2s ease 0s infinite;
}
@keyframes animations{
  0%,100%{ transform: scale(0.9); -webkit-transform: scale(0.9);}
  50%{transform: scale(1); -webkit-transform:scale(1);}
}
@-webkit-keyframes animations{
  0%,100%{ transform: scale(0.9); -webkit-transform: scale(0.9);}
  50%{transform: scale(1); -webkit-transform:scale(1);}
}
.tx_01 .t_bg01{
	background: url(../images/tx01_bg01.jpg) no-repeat top center;
	background-size: 100% 100%;
}
.tx_01 .t_bg02{
	background: url(../images/tx01_bg02.jpg) no-repeat top center;
	background-size: 100% 100%;
}
.tx_01 .t_bg03{
	background: url(../images/tx01_bg03.jpg) no-repeat top center;
	background-size: 100% 100%;
}
.tx_01 .t_bg04{
	background: url(../images/tx01_bg04.jpg) no-repeat top center;
	background-size: 100% 100%;
}
.tx_02 .t_bg01{
	background: url(../images/tx02_bg01.jpg) no-repeat top center;
	background-size: 100% 100%;
}
.tx_02 .t_bg02{
	background: url(../images/tx02_bg02.jpg) no-repeat top center;
	background-size: 100% 100%;
}
.tx_02 .t_bg03{
	background: url(../images/tx02_bg03.jpg) no-repeat top center;
	background-size: 100% 100%;
}
.tx_02 .t_bg04{
	background: url(../images/tx02_bg04.jpg) no-repeat top center;
	background-size: 100% 100%;
}
.tx_03 .t_bg01{
	background: url(../images/tx03_bg01.jpg) no-repeat top center;
	background-size: 100% 100%;
}
.tx_03 .t_bg02{
	background: url(../images/tx03_bg02.jpg) no-repeat top center;
	background-size: 100% 100%;
}
.tx_03 .t_bg03{
	background: url(../images/tx03_bg03.jpg) no-repeat top center;
	background-size: 100% 100%;
}
.tx_03 .t_bg04{
	background: url(../images/tx03_bg04.jpg) no-repeat top center;
	background-size: 100% 100%;
}

@-webkit-keyframes bounceIn{0%{opacity:0;-webkit-transform:scale(.3);transform:scale(.3)}50%{opacity:1;-webkit-transform:scale(1.05);transform:scale(1.05)}70%{-webkit-transform:scale(.9);transform:scale(.9)}100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}}@keyframes bounceIn{0%{opacity:0;-webkit-transform:scale(.3);-ms-transform:scale(.3);transform:scale(.3)}50%{opacity:1;-webkit-transform:scale(1.05);-ms-transform:scale(1.05);transform:scale(1.05)}70%{-webkit-transform:scale(.9);-ms-transform:scale(.9);transform:scale(.9)}100%{opacity:1;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}
/*下载页0831*/
.i_mx_dsec1,.i_mx_dsec2{
	width:100%;
	position:relative;
}
.i_mx_dimg1{
	width:100%;
	display:block;
}
.i_mx_dimg2{
	position:absolute;
	left:50%;
	top: 0.53125rem;
	width: 5.3125rem;
	margin-left: -2.65625rem;
}
.i_mx_dbox1{
	position: absolute;
	left: 50%;
	bottom: 3.0rem;
	width: 16.5rem;
	height: 1.3125rem;
	margin-left: -8.25rem;
}
.i_mx_da1{
    width: 7.1875rem;
    height: 100%;
    float: left;
}
.i_mx_da2{
    width: 7.1875rem;
    height: 100%;
    float: right;
}
.i_mx_dbox2{
	position: absolute;
	left: 50%;
	top: 0;
	width: 16.5rem;
	margin-left: -8.25rem;
	color: #fff;
	font-size: 0.5625rem;
	font-family: '微软雅黑';
	line-height: 1.2rem;
	display:none;
}
.i_mx_dbox2 p span{
	font-weight: bold;
}
.i_mx_dimg5{
	width: 16.5rem;
	height: 2.59375rem;
	background: url(../images/i_mx_d4.png) no-repeat;
	background-size: 100% 100%;
}
.i_mx_dimg5 span{
	line-height: 2.59375rem;
}
.i_mx_dimg5 span:nth-child(1){
	float: left;
	width: 2.78125rem;
	text-align: center;
	line-height: 2.59375rem;
}
.i_mx_dimg5 span:nth-child(2){
	float: left;
	width: 2.90625rem;
	text-align: center;
	line-height: 2.59375rem;
}
.i_mx_dimg5 span:nth-child(3){
	float: left;
	width: 2.65625rem;
	text-align: center;
	line-height: 2.59375rem;
}
.i_mx_dimg5 span:nth-child(4){
    float: left;
    width: 2.78125rem;
    text-align: center;
    line-height: 1.5;
    padding-top: .4rem;
}
.i_mx_dimg5 span:nth-child(5){
	float: left;
	width: 2.8125rem;
	text-align: center;
	line-height: 2.59375rem;
}
.i_mx_dimg5 span:nth-child(6){
	float: left;
	width: 2.53125rem;
    text-align: center;
    line-height: 1.5;
    padding-top: .4rem;
}

.i_mx_dimg3{
	width: 100%;
	display: block;
}
.i_mx_dimg4{
	width: 100%;
	display: block;
	margin-bottom: .6rem;
}
.i_mx_dbox2 p{

}
.i_mx_dsec2  + .i_footer {display:none}
/*名人堂*/
.mar_wrap{
	width: 100%;
	min-height: 104.15625rem;
	position: relative;
	overflow: hidden;
	background-image: url(../images/mrtbg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: #061926;
}
.mrt_downl{
	display: block;
    width: 6.96875rem;
    height: 1.9375rem;
    background: url(../images/mrt-downl.png) no-repeat;
    background-size: 100% 100%;
    margin: 16.5rem auto 0.625rem;

}
.mar_wrap .slideBox{ position:relative; }
.mar_wrap .slideBox .hd{height:1rem; line-height:1rem;text-align: center;}
.mar_wrap .slideBox01 .hd{margin-top: 0.3125rem;}
.mar_wrap .slideBox .hd li{ display:inline-block; width:0.59375rem; height:0.6875rem; background:url(../../common/images/h-li.png) no-repeat;background-size: 100% 100%; text-indent:-9999px; overflow:hidden; margin:0 0.15625rem;   }
.mar_wrap .slideBox .hd li.on{ background:url(../../common/images/h-lion.png) no-repeat;background-size: 100% 100%;}
.mar_wrap .slideBox01{width: 94%;height: 11.25rem; padding: 0 3%;background: url(../images/mrt-cbg1.png) no-repeat;background-size: 100% 100%;}
.mar_wrap .slideBox01 .bd{ position:relative; z-index:0;}
.mar_wrap .slideBox01 .bd li{ position:relative;}
.mar_wrap .slideBox01 .bd li img{ width:18.5625rem;  height:10.46875rem; display:block; margin: 0.375rem auto 0;  }
.mar_wrap .slideBox01 .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); }
.mrt_main01{width: 100%;height: 12.3125rem;}
.mrt_main02{
	width: 100%;
	height: 12.90625rem;
	background: url(../images/mrt-cbg2.png) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}
.mrt_til{
	width: 6rem;
	height: 1.03125rem;
	margin: 0.59375rem 0 0.09375rem 0.53125rem;
}
.mrt_til1{
	background: url(../images/mrt-til1.png) no-repeat;
	background-size: 100% 100%;
}
.mar_wrap .slideBox02 .hd{margin-top: 0.2rem;}
.mar_wrap .slideBox02{width: 94%;height: 11.25rem; padding: 0 3%;}
.mar_wrap .slideBox02 .bd{ position:relative; z-index:0;}
.mar_wrap .slideBox02 .bd ul{position: relative;left: 1rem;}
.mar_wrap .slideBox02 .bd li{ position:relative;}
.mar_wrap .slideBox02 .bd li img{ width:7.71875rem;  height:4.53125rem; display:block; margin: 0 auto 0;  }
.mar_wrap .slideBox02 .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); margin-right: 1.3125rem; margin-top: 0.375rem;width:7.71875rem;height:4.53125rem;position: relative;float: left}
.mar_wrap .slideBox02 .bd li a span{
	width: 6.71875rem;
	height: 0.84375rem;
	background: #132f36;
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 0.6875rem;
	color: #30d2f8;
	font-weight: bold;
	padding: 0 0.5rem;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.mrt_main03{
	width: 100%;
	height: 9.40625rem;
	background: url(../images/mrt-cbg3.png) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
	margin-top: 0.90625rem;
}
.mrt_til2{
	background: url(../images/mrt-til2.png) no-repeat;
	background-size: 100% 100%;
}
.mar_wrap .slideBox03 .hd{margin-top: 0.3rem;}
.mar_wrap .slideBox03{width: 94%;height: 11.25rem; padding: 0 3%;}
.mar_wrap .slideBox03 .bd{ position:relative; z-index:0;}
.mar_wrap .slideBox03 .bd ul{position: relative;left: 1rem;}
.mar_wrap .slideBox03 .bd li{ position:relative;}
.mar_wrap .slideBox03 .bd li img{ width:4.71875rem;  height:5.46875rem; display:block; margin: 0 auto 0;  }
.mar_wrap .slideBox03 .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); margin-left:-0.46875rem; margin-top:0.625rem;width:4.71875rem;  height:5.46875rem;position: relative;float: left}
.mrt_main04{
	width: 100%;
	height: 20.9375rem;
	background: url(../images/mrt-cbg4.png) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
	margin-top: 0.90625rem;
}
.mrt_til3{
	background: url(../images/mrt-til3.png) no-repeat;
	background-size: 100% 100%;
}
.mrt_main04 .h-m4{
  width: 100%;
  overflow: hidden;
}
.mrt_main04 .h-m4 .h-per{
  float: left;
  overflow: hidden;
	margin-bottom: 1.40625rem;
}
.mrt_main04 .h-m4 .h-per .h-perbox{
  width: 13.53125rem;
  height: 8.78125rem;
  float: left;
  background: url(../images/h-bbg.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
	margin: 0.6875rem 0.5625rem 0 1.5rem;
}
.mrt_main04 .h-m4 .h-per .h-perbox img{
  display: block;
	width: 13.46875rem;
	height: 8.75rem;
	margin: 1px 0 0 1px;
}
.mrt_main04 .h-m4 .h-per .h-perlist{
  float: right;
  width: 2.8125rem;
	margin-top: 0.6875rem;
}
.mrt_main04 .h-m4 .h-per .h-perlist img{
  background: url(../images/h-smbg.jpg) no-repeat;
	background-size: 100% 100%;
  display: block;
  width: 2.75rem;
  height: 2.78125rem;
  margin:1px 0 0.1875rem 0;
  cursor: pointer;
}
.tck-container .h-tckclose{
  display: block;
  width: 1.34375rem;
  height: 1.34375rem;
  position: absolute;
  top: -1.34375rem;
  right: 0;
  cursor: pointer;
  background: url(../../common/images/h-close.png) no-repeat;
	background-size: 100% 100%;
}
.tck-container{
  position: fixed;
  width: 19.03125rem;
  height: 11.0625rem;
  top: 50%;
  left: 50%;
  z-index: 1000;
  margin: -5.3125rem 0 0 -9.28125rem;
  display: none;
}
.content{
    width: 19.03125rem;
    height: 12.54rem;
    background: url(../../common/images/h-tck_cbg.png) no-repeat;
		background-size: 100% 100%;
 }
.sampleimage{
  width: 18.5625rem;
  position: relative;
  top: 0.3rem;
  height: 12rem;
	margin: 0 0 0 0.25rem;
}



.mrt_main04 .h-news{
  width: 16.90625rem;
  margin:0 auto;
}
.mrt_main04 .h-news ul li{
  width: 100%;
  height: 3.09375rem;
  margin-bottom: 0.75rem;
}
.mrt_main04 .h-news ul li a{
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.mrt_main04 .h-news ul li a .h-newsimg{
  width: 3.65625rem;
  height: 3.09375rem;
  float: left;
  background: #132f36;
  overflow: hidden;
	float: left;
}
.mrt_main04 .h-news ul li a .h-newsimg img{
  display: block;
  width: 3.34375rem;
  height: 2.78125rem;
  margin: 0.15625rem 0 0 0.15625rem;
}
.mrt_main04 .h-news ul li a .h-newstxt{
  width: 12.5rem;
  height: 2.4375rem;
  float: right;
}
.mrt_main04 .h-news ul li a .h-newstxt em{
  font-size: 0.9375rem;
  font-style: normal;
  color: #27b6d8;
  display: block;
  width: 100%;
  height: 0.9375rem;
  line-height: 0.9375rem;
	margin-bottom: 0.25rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
.mrt_main04 .h-news ul li a .h-newstxt span{
  font-size: 0.5625rem;
  color: #f6f6f6;
  width: 100%;
  height: 1.1875rem;
  line-height: 0.65rem;
  overflow: hidden;
  display: block;
}
.mrt_main04 .h-news ul li a .h-newstxt i{
  font-size: 0.5rem;
  font-style: normal;
  color: #90bfc9;
  width: 100%;
  height: 0.4375rem;
  line-height: 0.4375rem;
	margin-top: 0.25rem;
  display: block;
}
.mrt_main05{
	width: 100%;
	height: 9.125rem;
	background: url(../images/mrt-cbg5.png) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
	margin-top: 0.90625rem;
}
.mrt_til4{
	background: url(../images/mrt-til4.png) no-repeat;
	background-size: 100% 100%;
}
.mrt_main05 .h-m5{
  width: 19.4rem;
	margin: 0.78125rem 0 0 0.5625rem;
  overflow: hidden;
}
.mrt_main05 .h-m5 .h-videobox{
  width: 8.96875rem;
  height: 5.96875rem;
  float: left;
  background: url(../images/h-vbg.jpg) no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
	margin-right: 0.875rem;
}
.mrt_main05 .h-m5 .h-videobox img{
  display: block;
  width: 8.90625rem;
  height: 5.90625rem;
  margin: 1px;
}
.mrt_main05 .h-m5 .h-videobox i{
  display: block;
  width: 2.0625rem;
  height: 2.0625rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -1.03125rem 0 0 -1.03125rem;
  background: url(../../common/images/h-video.png) no-repeat;
	background-size: 100% 100%;
}
.mrt_main05 .h-m5 .h-videolist{
  width: 9.09375rem;
  float: right;
}
.mrt_main05 .h-m5 .h-videolist a{
  width: 4.125rem;
  height: 2.78125rem;
  display: inline-block;
  margin-bottom: 0.2rem;
  border: 0;
  background: url(../images/h-sbg.jpg) no-repeat;
  background-size: 100% 100%;
	position: relative;
}
.mrt_main05 .h-m5 .h-videolist a img{
  display: block;
  width: 4.09375rem;
  height: 2.71875rem;
	background-size: 100% 100%;
  margin: 1px 0 0 1px;
}
.mrt_main05 .h-m5 .h-videolist a i{
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -0.9375rem 0 0 -0.9375rem;
  background: url(../../common/images/h-video.png) no-repeat;
	background-size: 100% 100%;
}

.float_img{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 9999999;
}
.float_img .aimg{
	display: block;
	width: 100%;
	height: 100%;
}
.float_img .aimg img{
	display: block;
	width: 100%;
}
.float_img .close{
	display: block;
	width: 1.344rem;
	height: 1.344rem;
	position: absolute;
	right: 0.5rem;
	top: 0.5rem;
	background: url(../../common/images/h-close.png) no-repeat;
	background-size: 100% 100%;
}
/*--------------------------------------------------------------zt-----------------------------------------------------s*/
.zt_section{
	width: 100%;
	height:111.3125rem;
	background: url(../images/ztBg.jpg); 
	background-size: 100% 100%;
	margin-top: 3.125rem;
	overflow: hidden;
}
.zt_section .video{
	width:17.375rem;
	height: 10.65625rem;
	margin: 0 auto; 
	margin-top: 5.28125rem;
	position: relative;
	display: block;
}
.zt_section .video_i{
	width: 2.875rem;
	height: 2.875rem;
	background: url(../images/i_video01.png);
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -1.4375rem -1.4375rem;
	background-size: 100% 100%;
}
.zt_section .load{
	width: 8.25rem;
	height: 2.3125rem;
	margin: 0 auto;
	margin-top: 27.1875rem;
	display: block;
}
.zt_section  #video_mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    display: none;
    background: url(../images/d.png);
}
.zt_section #player5 {
    width: 80%;
    color: #000;
    position: absolute;
    left: 50%;
    top: 30%;
    margin-left: -40%;
    height: 324px;
}
.zt_section #close {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: -30px;
    right: -30px;
    background: url(../images/close1.png) no-repeat;
    cursor: pointer;
    z-index: 200;
}
.zt_top .i_top_btn{
	margin-right: 0.84375rem;
}
.zt_top .i_top_btn a.i_gift {
	margin-right: 0;
}
.zt_top .i_top_btn a{
	width: 3rem;
}
/*--------------------------------------------------双十二抽奖----------------------------------------------------*/
/*双十二*/
.p-main1{
	width: 100%;
	height: 45.34375rem;
	overflow: hidden;
	background: url(../images/p-bg01.jpg) no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.p-prizebox{
	width: 100%;
	height:21.0625rem;
	position: relative;
	background: url(../images/p-prizebg.png) no-repeat;
	background-size: 100% 100%;
	margin-top: 23.875rem;
}
.p-prize{
	width: 10.9375rem;
	height: 10.90625rem;
	position: absolute;
	right: 4.4rem;
	top: 4.55rem;
	z-index: 1;
	background: url(../images/p-prize.png) no-repeat;
	background-size: 100% 100%;
}
.p-prize-jt{
	width: 10.9375rem;
	height: 10.8125rem;
	position: absolute;
	right: 4.4rem;
	top: 4.55rem;
	z-index: 2;
	background: url(../images/p-prize-jt.png) no-repeat;
	background-size: 100% 100%;
}
.p-prize-btn{
	width: 3.188rem;
	height: 3.188rem;
	display: block;
	position: absolute;
	right: 8.5rem;
	top: 8rem;
	z-index: 3;
}
.p-prize-gift{
	width: 8.25rem;
	height: 6.062rem;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 3;
	background: url(../images/p-prize-gift.png) no-repeat;
	background-size: 100% 100%;
}
.p-sign{
	padding-right: 2.188rem;
	text-align: right;
	font-size: 0.562rem;
	color: #fff;
	margin-top: 22.375rem;
	position: absolute;
	top: 0;right: 0;
}
.p-signed a{
	color: #6faee7;
}
.p-signed{
	padding-right: 2.188rem;
	text-align: right;
	font-size: 0.562rem;
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 22.375rem;
}
.p-sign a{
	color: #6faee7;
}
.p-js{
	width: 100%;
	height: 19.281rem;
	padding-top: 3.125rem;
	background: url(../images/p-js.jpg) no-repeat;
	background-size: 100% 100%;
}
.p-js p{
	width: 14.8125rem;
	margin: 0 auto;
	margin-left: 2.1875rem;
	box-sizing: border-box;
	font-size: 0.78125rem;
	color: #6faee7;
	line-height:1.0rem;
}
.p-js h3{
	width: 14.8125rem;
	font-size: 0.9375rem;
	line-height: 0.9375rem;
	color: #0f4574;
	text-align: center;
	margin-left: 2.1875rem;
	margin-bottom: 0.78125rem;
}
.p-main2{
	width: 100%;
}
.p-main2 img{
	display: block;
	width: 100%;
}
.p-tack{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.8);
	z-index: 9999;
	display: none;
}
.p-tprize{
	width: 16.65625rem;
	height: 14.21875rem;
	position: fixed;
	left: 50%;
	top: 50%;
	overflow: hidden;
	margin: -7.109375rem 0 0 -8.328125rem;
	background: url(../images/p-tack-prize.png) no-repeat;
	background-size: 100% 100%;
}
.p-tpimg{
	width: 4.062rem;
	height: 4.844rem;
	margin: 1.5rem auto 12px;
	padding: 12px 0.469rem;
	box-sizing: border-box;
	text-align: center;
	border-radius: 0.5rem;
	background: #828d96;
}
.p-tpimg img{
	display: block;
	width: 100%;
}
.p-tpimg p{
	font-size: 0.562rem;
	line-height: 2;
	color: #1a364a;
}
.p-tpcode{
	font-size: 0.562rem;
	color: #1a364a; 
	text-align: center;
}
.p-tpcode p{
	display: inline-block;
	width: 9.656rem;
	height: 1.0rem;
	background: #fff;
	border-radius: 16px;
	line-height: 1.0rem;
	vertical-align: middle;
	color: #1a364a;
}
.p-tpbot{
	width: 100%;
	text-align: center;
	font-size: 0.562rem;
	color: #1a364a; 
	margin-top: 0.625rem;
}
.p-tsign{
	width: 16.5625rem;
	height: 8.0rem;
	position: fixed;
	left: 50%;
	top: 50%;
	overflow: hidden;
	overflow: hidden;
	margin: -4.0rem 0 0 -8.28125rem;
	background: url(../images/p-tack-signbg.png) no-repeat;
	background-size: 100% 100%;
}
.p-tsign-close{
	width: 1.312rem;
	height: 1.156rem;
	position: absolute;
	right: 0.562rem;
	top: 0.562rem;
	cursor: pointer;
	display: block;
}
.p-tsign form{
	width: 12.312rem;
	font-size: 0.562rem;
	margin: 1.875rem auto 0;
}
.p-tsign form div{
	width: 100%;
	height: 1.188rem;
	line-height: 1.188rem;
	background: #fff;
	color: #000;
	border-radius: 4px;
	margin-bottom: 0.406rem;
	border-radius: 4px;
}
.p-tsign form div input{
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
	outline: none;
	box-sizing: border-box;
	padding-left: 0.562rem;
	background: transparent;
}
.p-tsign form div input.yzm{
	width: 7.344rem;
	float: left;
}
.p-tsign form div .yzmbtn{
	width: 4.8rem;
	display: block;
	height: 1.188rem;
	float: right;
	color: #fff;
	background: #1a364a;
	border-radius: 4px;
	text-align: center;
}
.p-tsign-btn{
	width: 4.094rem;
	height: 1.156rem;
	display: block;
	background: #1a364a;
	text-align: center;
	line-height: 1.156rem;
	font-size: 0.562rem;
	color: #fff;
	border-radius: 4px;
	margin: 0.75rem auto;
}
.p-prize-down{
	width: 6.438rem;
	height: 1.406rem;
	display: block;
	border-radius: 0.803rem;
	background: #1a364a;
	text-align: center;
	line-height: 1.406rem;
	font-size: 0.875rem;
	color: #32e6f7;
	margin: 0.5rem auto;
	border: 0.2rem solid #8aa0aa;
}
.prizeAll .mTop96{
	width: 100%;
	margin-top: 4.21875rem;
	position: relative;
}
.bot{
	width: 8.46875rem;
	height: 2.15625rem;
	position: absolute;
	bottom: 11.3125rem;
	right: 1rem;
}
/*双十二抽奖入口*/
.prize_shadow{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: url(../../common/images/d.png);
  background-size: 100% 100%;
  z-index: 999999999999;
  display: block;
}
a:active{
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.prize_enter{
  width: 14.125rem;
  height:25.0625rem;
  background: url(../images/prize_enter.jpg);
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -12.53125rem -7.0625rem;
  z-index: 9999;
  display: block;
}
.prize_con a{
  width: 6.15625rem;
  height: 5.09375rem;
  display: block;
  float: left;
  margin-left: 0.5rem;
  margin-bottom: 1.15625rem;

}
.prize_enter a.prize_close{
  width: 0.6875rem;
  height: 0.75rem;
  position: absolute;
  top: 0.6rem;
  right: 0.625rem;
}
.prize_con{
  width: 14.0625rem;
  height: 11.3125rem;
  position: absolute;
  bottom:0.4rem;
  right: 0.1875rem; 
  /*margin-left: 3.5625rem;*/
}
.mrt_main{
	width:100%;
	margin-top:2.90625rem;
	margin-bottom:0.625rem;
}
.bg_middle{
	width:100%;
	height:9.15625rem;
	background:url(../images/bg_middle.jpg) no-repeat left center;
	background-size:100% 100%;
	position:relative;
}
.bg_middle ul li{
	display: none;
}
.bg_middle ul li.active{
	display: block;
}
.bg_middle ul li img{
	position:absolute;
	top:-1.875rem;
	left:0;
}
.bg_middle ul li span a{
	display: inline-block;
	text-shadow: 0px 5px 5px rgb( 0, 0, 0 );
	color: rgb( 239, 191, 0 );
	font-size:0.625rem;
	position:absolute;
	bottom:0.6875rem;;
	left:7.875rem;
}

.bg_bm{
	width:100%;
	height:7.03125rem;
	background:url(../images/bg_bm.jpg) no-repeat left center;
	background-size:100% 100%;
	position:relative;
}

.bg_bm ul{
	height:6.21875rem;
	padding-top:0.4375rem;
}

.bg_bm ul li{
	display: inline-block;
	width:2.84375rem;
	height:3.28125rem;
	background:url(../images/dbx.png) no-repeat left center;
	background-size:100% 100%;
	margin-left:.5rem;
}
.bg_bm ul li.on{
	background:url(../images/bg_hover.png) no-repeat left center;
	background-size:100% 100%;
}
.bg_bm ul li img{
	width:2.84375rem;
}

.bg_bm ul li.first_img{
	margin-left:4.1875rem;
}
.bg_bm ul li.five_img{
	margin-left:2.46875rem;
}
.bg_bm a.swiper-button-prev{
	width:2.84375rem;
	height:3.28125rem;
	background:url(../images/bg_prev.png) no-repeat left center;
	background-size:100% 100%;
	position:absolute;
	left:0.875rem;
	top:0.4375rem;
	margin-top:0;
}
.bg_bm a img{
	width:0.8125rem;
	height:1.25rem;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-0.40625rem;
	margin-top:-0.625rem;
}
.bg_bm a.swiper-button-next{
	width:2.84375rem;
	height:3.28125rem;
	background:url(../images/bg_prev.png) no-repeat left center;
	background-size:100% 100%;
	position:absolute;
	left:16.66875rem;
	top:3.7rem;
	margin-top:0;
}

.tc_content{
	display: inline-block;
	width:18.375rem;
	display: none;
	z-index:99;
	height:11.03125rem;
	background:url(../images/bk.png) no-repeat center;
	background-size:100% 100%;
	position:relative;
	left:50%;
	margin-left:-9.1875rem;
	top:-2rem;
}
.bg_middle ul li .tc_content img{
	max-width:7.65625rem;
	max-height:11rem;
	position:absolute;
	top:-5.5rem;
}
i{
	font-style: normal;
}
.bg_middle ul li .tc_content .txt_intro h3{
	position:absolute;
	top:6.71875rem;
	font-size:0.59375rem;
	color:#efbf00;
	text-decoration: line-through;
	left:1.8125rem;
}
.bg_middle ul li .tc_content .txt_intro p{
	font-size:0.5rem;
	color:#999;
}
.bg_middle ul li .tc_content .txt_intro .txt_xxms{
	position:absolute;
	top:8.09375rem;
	width:90%;
	left:5%;
	max-height:2.625rem;
	overflow-y: auto;
}
.bg_middle ul li .tc_content .zq_name{
	font-size:0.59375rem;
	color:#696969;
	position:absolute;
	left:9.25rem;
	top:1.65625rem;
}
.bg_middle ul li .tc_content .rw_name{
	font-size:1.03125rem;
	color:#cccccc;
	position:absolute;
	left:9.25rem;
	top:2.5625rem;
}
.mask{
	display: none;
	width:100%;
	height:100vh;
	background:#000;
	opacity: .8;
	z-index:90;
	position:fixed;
	left:0;
	top:0;
}
@keyframes rotate{
	0%{
		transform: rotate(0deg);

	}
	100%{
		transform: rotate(360deg);
	}
}
@-webkit-keyframes rotate{
	0%{
		transform: rotate(0deg);

	}
	100%{
		transform: rotate(360deg);
	}
}
@-moz-keyframes rotate{
	0%{
		transform: rotate(0deg);

	}
	100%{
		transform: rotate(360deg);
	}
}
@-o-keyframes rotate{
	0%{
		transform: rotate(0deg);

	}
	100%{
		transform: rotate(360deg);
	}
}
@-ms-keyframes rotate{
	0%{
		transform: rotate(0deg);

	}
	100%{
		transform: rotate(360deg);
	}
}
.header {
  width: 100%;
  height: 3.125rem;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
.header .icon {
  display: block;
  width: 3.75rem;
  height: 3.75rem;
  float: left;
  margin: 0.3125rem 0.625rem 0 0.625rem;
}
.header .icon img {
  display: block;
  width: 100%;
  height: 100%;
}
.header .header_txt {
  float: left;
  font-size: 0.9375rem;
  color: #fff;
  margin-top: 0.625rem;
}
.header .header_txt p:nth-child(2) {
  font-size: 0.5625rem;
  color: #999999;
}
.header .enter {
  width: 5.125rem;
  height: 1.84375rem;
  float: right;
  margin: 0.6875rem 0.625rem 0 0;
}
.header .enter img {
  display: block;
  width: 100%;
  height: 100%;
}
.header .i_down {
  display: block;
  width: 5.125rem;
  height: 1.84375rem;
  float: left;
  margin: 0.6875rem 0.3125rem 0 0.25rem;
}
.header .i_down img {
  display: block;
  width: 100%;
  height: 100%;
}
.header .header_tab {
  width: 1.75rem;
  height: 1.75rem;
  float: right;
  border: 2px solid #9b9a9b;
  margin: 0.625rem 0.3125rem 0 0;
  position: relative;
}
.header .header_tab span {
  display: block;
  width: 0.8125rem;
  height: 0.0625rem;
  background-color: #9b9a9b;
  position: absolute;
  left: 0.5rem;
  transition: all .5s;
  -webkit-transition: all .5s;
}
.header .header_tab span.f_span {
  top: 0.5rem;
}
.header .header_tab span.f_span.active {
  transform: rotate(-45deg);
  top: 0.8125rem;
}
.header .header_tab span.s_span {
  top: 0.8125rem;
}
.header .header_tab span.s_span.active {
  display: none;
}
.header .header_tab span.t_span {
  top: 1.1875rem;
}
.header .header_tab span.t_span.active {
  transform: rotate(45deg);
  top: 0.8125rem;
}
.header .h_tab {
  width: 8.125rem;
  overflow: hidden;
  position: fixed;
  top: 3.125rem;
  right: 0;
  z-index: 11;
  background: #020202;
  display: none;
}
.header .h_tab li {
  width: 100%;
  height: 2.8125rem;
  text-align: center;
  line-height: 2.8125rem;
  font-size: 0.75rem;
  border-bottom: 1px solid #353535;
}
.header .h_tab li a {
  display: block;
  color: #fff;
}