<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{$seo_title}</title>
    <meta name="keywords" content="{$seo_key}" />
    <meta name="description" content="{$seo_desc}" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}ldy/css/index.css?{$smarty.const.VERSION}">
    <script data-fixed="true">
        if((/iphone|android|mobile/i.test(navigator.userAgent.toLowerCase()))) {
            location.href = "/m/reveal";
        }
    </script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?e896a013f613cc56bef66f4d4f67c5ff";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<!--头部-->
<script type="text/javascript" src="//cdnstatic.yingxiong.com/head/js/topbar.js?{$smarty.const.VERSION}"></script>
<!--内容-->
<div class="main">
    <p class="animal"><img src="{$smarty.const.STATIC_DOMAIN}ldy/images/animal.png?{$smarty.const.VERSION}" alt=""/></p>
    <p class="logo"><img src="{$smarty.const.STATIC_DOMAIN}ldy/images/logo_info.png?{$smarty.const.VERSION}" alt=""/></p>
    <p class="btn"><a href="" class="js_down_andriod"><img src="{$smarty.const.STATIC_DOMAIN}ldy/images/btn.png?{$smarty.const.VERSION}" alt=""/></a></p>
    <p class="down_info">(仅限Android下载，AppStore敬请期待)</p>
    <p class="txt">
        <span>预警！<i>《弹弹岛2》竟是一款“一人封神，冒险吃鸡”的游戏！1V5绝地冒险，毒雾来袭，奇谋迭起，不敢眨眼！一己之力打破层层压制，转瞬坑杀反面！放眼望去，举目皆敌，如何用操作+头脑杀出重围！</i></span>
    </p>
    <p class="img_slider">
        <img src="{$smarty.const.STATIC_DOMAIN}ldy/images/img1.png?{$smarty.const.VERSION}" class="img1"/>
        <img src="{$smarty.const.STATIC_DOMAIN}ldy/images/img2.png?{$smarty.const.VERSION}" class="img2"/>
        <img src="{$smarty.const.STATIC_DOMAIN}ldy/images/img3.png?{$smarty.const.VERSION}" class="img3"/>
        <img src="{$smarty.const.STATIC_DOMAIN}ldy/images/img4.png?{$smarty.const.VERSION}" class="img4"/>
        <img src="{$smarty.const.STATIC_DOMAIN}ldy/images/img5.png?{$smarty.const.VERSION}" class="img5"/>
    </p>
</div>
</body>
</html>
<script src="{$smarty.const.STATIC_DOMAIN}ldy/js/jquery-1.11.2.min.js?{$smarty.const.VERSION}"></script>
<script type="text/javascript" src="//cdnstatic.yingxiong.com/footer/js/footer_new.js?{$smarty.const.VERSION}"></script>
{download}