.kv{
	width:100%;
	height:860px;
	background:url(../images/kv.jpg) no-repeat center;
	overflow: hidden;
	position:relative;
}
.logo{
	display: block;
	width:296px;
	height:146px;
	position:absolute;
	top:61px;
	left:32px;
	z-index:1;
}
.slogan{
	display: block;
	width:559px;
	height:207px;
	position:absolute;
	top:250px;
	left:14px;
}
.play{
	display: block;
	width:122px;
	height:85px;
	position:absolute;
	left:228px;
	bottom:289px;
	cursor: pointer;
	animation: vGo 2s linear infinite;
	-webkit-animation: vGo 2s linear infinite;
}
@keyframes vGo{
	0%{transform: scale(0.9);}
	50%{transform: scale(1);}
	100%{transform: scale(0.9);}
}
@-webkit-keyframes vGo{
	0%{transform: scale(0.9);}
	50%{transform: scale(1);}
	100%{transform: scale(0.9);}
}
.person{
	display: block;
	width:168px;
	height:116px;
	position:absolute;
	left:-40px;
	bottom:203px;
	animation: person 10s linear infinite;
	-webkit-animation: person 10s linear infinite;
}
@keyframes person{
	0%{transform: translate(0,-20px);}
	50%{transform: translate(0,0px);}
	100%{transform: translate(0,-20px);}
}
@-webkit-keyframes person{
	0%{transform: translate(0,-20px);}
	50%{transform: translate(0,0px);}
	100%{transform: translate(0,-20px);}
}
.person1{
	display: block;
	width:186px;
	height:117px;
	position:absolute;
	right:-130px;
	bottom:209px;
	animation: person1 10s linear infinite;
	-webkit-animation: person1 10s linear infinite;
}
@keyframes person1{
	0%{transform: translate(0,-20px);}
	50%{transform: translate(0,0px);}
	100%{transform: translate(0,-20px);}
}
@-webkit-keyframes person1{
	0%{transform: translate(0,-20px);}
	50%{transform: translate(0,0px);}
	100%{transform: translate(0,-20px);}
}
.cloud1{
	display: block;
	width:307px;
	height:144px;
	position:absolute;
	left:0;
	top:-37px;
	animation: cloud1 4s linear infinite;
	-webkit-animation: cloud1 4s linear infinite;
}
@keyframes cloud1{
	0%{transform: translate(-20px,0);}
	50%{transform: translate(0px,0);}
	100%{transform: translate(-20px,0);}
}
@-webkit-keyframes cloud1{
	0%{transform: translate(-20px,0);}
	50%{transform: translate(0px,0);}
	100%{transform: translate(-20px,0);}
}
.cloud2{
	display: block;
	width:225px;
	height:79px;
	position:absolute;
	left:290px;
	top:70px;
	animation: cloud2 4s linear infinite;
	-webkit-animation: cloud2 4s linear infinite;
}
@keyframes cloud2{
	0%{transform: translate(20px,0);}
	50%{transform: translate(0px,0);}
	100%{transform: translate(20px,0);}
}
@-webkit-keyframes cloud2{
	0%{transform: translate(20px,0);}
	50%{transform: translate(0px,0);}
	100%{transform: translate(20px,0);}
}
.cloud3{
	display: block;
	width:279px;
	height:136px;
	position:absolute;
	right:190px;
	top:-40px;
	animation: cloud3 4s linear infinite;
	-webkit-animation: cloud3 4s linear infinite;
}
@keyframes cloud3{
	0%{transform: translate(-20px,0);}
	50%{transform: translate(0px,0);}
	100%{transform: translate(-20px,0);}
}
@-webkit-keyframes cloud3{
	0%{transform: translate(-20px,0);}
	50%{transform: translate(0px,0);}
	100%{transform: translate(-20px,0);}
}
.cloud4{
	display: block;
	position:absolute;
	width:275px;
	height:174px;
	right:0;
	top:-50px;
	animation: cloud4 4s linear infinite;
	-webkit-animation: cloud4 4s linear infinite;
}
@keyframes cloud4{
	0%{transform: translate(20px,0);}
	50%{transform: translate(0px,0);}
	100%{transform: translate(20px,0);}
}
@-webkit-keyframes cloud4{
	0%{transform: translate(20px,0);}
	50%{transform: translate(0px,0);}
	100%{transform: translate(20px,0);}
}
.kv_con{
	width:100%;
	height:160px;
	position:absolute;
	bottom:0;
	left:0;
}
.kv_left{
	width:595px;
	height:100%;
	float:left;
}
.icon{
	display: block;
	width:124px;
	height:124px;
	float:left;
	margin:17px 23px 0 8px
}
.kv_txt{
	width:440px;
	float:left;
}
.kv_tit{
	font-size:36px;
	color:#fff;
	font-weight:bold;
	line-height:80px;
}
.k_tit{
	font-size:16px;
	line-height:30px;
	color: rgba(255, 255, 255, 0.502);
}
.kv_right{
	width:288px;
	height:100%;
	float:right;
}
.kv_down{
	float:left;
	width:117px;
	height:100%;
}
.kv_down a{
    display: block;
    width: 116px;
    height: 38px;
    margin-top: 7px;
}
.kv_down a img{
	display: block;
	width:100%;
	height:100%;
}
.kv_down a:nth-child(1){
	margin-top:18px;
}
.kv_code{
    width: 153px;
    height: 134px;
    float: right;
    background: url(../images/code.png) no-repeat;
    background-size: 100% 100%;
    margin-top: 15px;
}
.kv_code img{
    display: block;
    width: 118px;
    height: 118px;
    margin: 7px 0 0 5px;
}
.content{
	width:100%;
	height:1503px;
	background:url(../images/content.jpg) no-repeat center;
	overflow: hidden;
	position:relative;
}
.con{
	width:1186px;
	height:312px;
	margin:101px auto 0;
	position:relative;
}
.con .ren1{
	display: block;
	width:64px;
	height:123px;
	position:absolute;
	right:-30px;
	bottom:-7px;
}
.left_banner{
	width:590px;
	height:302px;
	float:left;
	border:5px solid #744830;
	border-radius: 10px;
	overflow: hidden;
	position:relative;
}
.left_banner ul{
	width:590px;
	height:302px;
	border-radius: 5px;
}
.left_banner ul li a{
	display: block;
	width:100%;
	height:100%;
}
.left_banner .swiper-pagination1{
	width:100%;
	text-align: center;
	position:absolute;
	z-index:10;
}
.left_banner .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #ffcd00;
}
.left_banner .swiper-pagination-bullet{
	background: #fff;
    opacity: .6;
}
.left_banner ul li{
	width:100%;
	height:100%;
	position:relative;
	overflow: hidden;
}
.left_banner ul li a img{
	display: block;
	width:100%;
	height:100%;
}
.right_news{
	width:561px;
	height:312px;
	background:url(../images/news.png) no-repeat center;
	overflow: hidden;
	position:relative;
	float:right;
}
.right_con{
	width:464px;
	height:100%;
	margin-left:52px;
}
.top_ul{
	width:100%;
	height:69px;
	position:relative;
	overflow: hidden;
}
.top_ul li{
	width:90px;
	height:33px;
	overflow: hidden;
	float:left;
	font-size:20px;
	color:#333333;
	cursor: pointer;
	margin-top:26px;
	font-weight:bold;
	margin-right:25px;
	position:relative;
}
.top_ul li p{
	width:100%;
	height:100%;
	text-align: center;
	z-index:1;
	line-height:33px;
}
.top_ul li.active img{
	display: block;
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}
.top_ul li.active p{
	position:absolute;
}
.con_news{
	width:100%;
	height:225px;
	position:relative;
	overflow: hidden;
}
.con_news ul{
	width:100%;
	height:100%;
	display: none;
	position:relative;
	overflow: hidden;
}
.con_news ul.active{
	display: block;
}
.con_news ul li{
	width:100%;
	height:75px;
	border-bottom:1px dashed #b1a88c;
	line-height:75px;
	font-size:18px;
}
.con_news ul li a{
	display: block;
	color:#333333
}
.con_news ul li a em{
	color:#666;
	display: block;
	float:left;
}
.con_news ul li a span{
	display: block;
	float:left;
	width:325px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.con_news ul li a i{
	font-style: normal;
	float:right;
	font-size:12px;
	color:#666;
}
.con_news ul li:hover a{
	color:#9a2925;
}
.con_news ul li:hover a i{
	color:#9a2925;
}
.con_news ul li:hover a em{
	color:#9a2925;
}
.lianjie{
	display: block;
	width:80px;
	height:242px;
	position:absolute;
	top:34px;
	left:579px;
	z-index:1;
}
.wanfa{
	display: block;
	width:261px;
	height:102px;
	margin:90px auto 40px;
}
.bottom_banner{
	width:1076px;
	margin:0 auto;
	height:765px;
	overflow-x: hidden;
	overflow-y: auto;
}
.bottom_banner .swiper-slide>a {
    margin-left: 50%;
    display: inline-block;
    width: 452px;
    text-align: center;
    transform: translate(-165px,0);
    -ms-transform: translate(-165px,0);
    -webkit-transform: translate(-165px,0);
    -o-transform: translate(-165px,0);
    -moz-transform: translate(-165px,0);
}
.bottom_banner .swiper-slide>a img {
	width: 402px;
	height:721px;
	border:5px solid #744830;
	box-shadow: 0 0 10px #000;
	border-radius: 20px;
    margin-left: 165px;
    margin-top:10px;
    cursor: pointer;
    transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
}
.bottom_banner .swiper-slide>a i{
	display: block;
	width: 1000px;
	border:5px solid #744830;
	border-radius: 20px;
    margin-left: 165px;
    margin-top:10px;
    cursor: pointer;
    transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
	position:absolute;
	left:0;
	bottom:0;
	background:rgba(0,0,0,.4);
}
.bottom_banner .swiper-slide.swiper-slide-active>a i{
	/*display: none;*/
}
.bottom_banner .swiper-pagination-bullet-active{
	background:#ffcd00;
}
.bottom_banner .swiper-pagination{
	bottom:0;
}
.bottom_con .swiper-button-next{
	width:28px;
	height:58px;
	background:url(../images/nav.png) no-repeat center;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	right:-15px;
}
.bottom_con .ren2{
	display: block;
	width:54px;
	height:77px;
	position:absolute;
	left: 180px;
    bottom: 70px;
}
.bottom_con .ren3{
	display: block;
	width:56px;
	height:86px;
	position:absolute;
	right: 374px;
    bottom: 23px;
}
.bottom_con .swiper-button-prev{
	width:28px;
	height:58px;
	background:url(../images/nav.png) no-repeat center;
	left:-15px;
}
.bottom_con{
	width:1200px;
	position:relative;
	margin:0 auto;
}
/*详情页样式*/
.detail_kv{
	width:100%;
	height:597px;
	min-width:1200px;
	margin:0 auto;
	background:url(../images/detail.jpg) no-repeat center;
	overflow: hidden;
	position:relative;
}
.detail_body{
	width:100%;
	margin:0 auto;
	/*min-height:1320px;*/
	background:url(../images/detail_body.jpg) no-repeat center;
	background-size:100% 100%;
	position:relative;
}
.detail_con{
	width:100%;
	min-height: 700px;
	background-color:rgba(255,255,255,.9);
	position:relative;
	margin-top:-215px;
}
.detail_top{
	width:100%;
	overflow: hidden;
}
.chengg{
	width:100%;
	height:1px;
	background:none;
}
.back{
	width:1136px;
	height:36px;
	background-color:#fff;
	margin:25px auto 0;
	font-size:14px;
	color:#666;
	line-height:36px;
}
.back a{
	font-size:16px;
	color:#ee5314;
}
.back a:hover{
	text-decoration: underline;
}
.detail_title{
	width:100%;
	font-size:28px;
	text-align: center;
	color:#333333;
	font-weight:bold;
	margin-top:30px;
	line-height:60px;
}
.detail_date{
	font-size:16px;
	color:#999;
	width:100%;
	text-align: center;
	margin-top:20px;
	padding-bottom:40px;
}
.detail_date span:nth-child(1){
	margin-right:45px;
}
.detail_center{
	width:1126px;
	margin:0 auto;
	overflow: hidden;
	font-size:16px;
	color:#666;
	line-height:46px;
	padding-bottom:40px;
}
.detail_center p{
	font-size:16px;
	color:#666;
	line-height:46px;
}
.detail_center img{
	display: block;
	max-width:100%;
	margin:10px auto 10px;
}
