a:link,a:visit{color:#333333;text-decoration:none}

.input-large,.input-medium{width: 270px !important;}
.input-large0{width:320px !important;}

/*.table-scrollable tr th{text-align:center}.form-control{-moz-appearance: none;appearance: none;-webkit-appearance: none;}*/
.page-header.navbar .common-logo .logo-default{margin:0 0 0 0px}
.dropdown-cache .clean_cache,.dropdown-homePage .home_page{color:#c6cfda;display:inline-block;margin-top: -1px;font-size: 13px;font-weight: 300;}
.dropdown-cache > .dropdown-toggle,.dropdown-homePage > .dropdown-toggle{padding: 16px 10px 9px !important;}
.page-header.navbar.navbar-fixed-top{z-index:999}
#gtreetable0 .table_tdP{position:relative;left:0;top:0}
.theme-panel > .toggler{padding:18px;top:13px;}
.theme-panel > .theme-options,.theme-panel > .toggler-close{top:13px;}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
vertical-align: middle;cursor: pointer;border:#e1e1e1 solid 1px;}	
.table-scrollable {border: 1px solid #e1e1e1;}
.fa-ico1{color:#444040;margin-right:5px;}.fa-ico2{display:none;margin-right:5px;}
.hover-color{background:#f2f2f2}
.hover-color1{color:#000}
.gtreetable-hover .fa-ico1{color:#000;}
.input-column{position:relative;}
.bootstrap-switch {border-radius:4px !important;vertical-align:top}
.input-column .form-control {padding-left: 12px;padding-right: 33px;}
.input-column i{position:absolute;color: #ccc;display: block;font-size: 16px;height: 16px;margin-top:0;right:20px;top:10px;position: absolute;width: 16px;z-index: 3;cursor: pointer}
.modal-body{padding:30px 15px;}
.mBom{margin-bottom: 10px;}
.model-delecte0{padding:20px 15px;}
.mT0{margin-top:3px;}
.col-md-3Top{margin-top:5px;padding:0 10px 0 0;/*width:15%*/}
.btn,.btn-default{ padding: 3px 12px;}

.table .btn{margin-right:0;}
.table .btn-edit0,.table .btn-edit1{display:inline-block;margin-left:10px}
/*.table .btn-edit0{float:right}*/
.select2-container{z-index:99999;}
.cate-search .select2-container{z-index:999;}
.article_column{position:relative}
/*.table-scrollable{overflow-x:visible;overflow-y:visible}*/
.blfRs{border-radius:10px 10px 0 0 !important}
.cate-search .form-control{height:32px;}
.cate-search .select2-container--default.select2-container--focus .select2-selection--multiple {border: 1px solid #aaa;outline: 0 none;}

.result_STxt,.result_DTxt{position:relative}
.result_STxt ul{padding:0 10px;}
.result_STxt .result_sTxt{height:240px;border:#999 solid 1px;position:absolute;top:34px;left:0;z-index:11111;border-top:none;background:#fff;overflow:hidden;display:none}
.result_STxt .result_sTxt li{list-style:none;height:30px;line-height:30px;cursor:pointer;font-size:14px;font-weight: normal;color:#777;overflow:hidden}
.result_STxt .result_sTxt li:hover{color:#000}
.input-group-btn{}
.input-group-btn .btn{padding:6px 12px;}
.result_DTxt .result_dTxt{min-height:240px;border:#999 solid 1px;position:absolute;top:0;left:0;z-index:11;background:#fff;overflow-x:auto;background: #fff none repeat scroll 0 0;
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 4px !important;
box-shadow: 5px 5px rgba(102, 102, 102, 0.1);padding:5px}
.result_DTxt .fa-poT{position:absolute;  right: 0;top: 0;z-index: 100;border:#ddd solid 1px;cursor:pointer;border-top:none;border-bottom:0; padding:9px 12px;color: #444;background:#e6e6e6}
.result_DTxt .form-control[disabled],.result_DTxt .form-control[readonly],.result_DTxt  fieldset[disabled] .form-control {background-color: #fff;cursor: not-allowed;}
/*ztree弹出框*/

.artcolsel_body{position:absolute;left:0px;top:0px;width:240px;min-height:250px;z-index:10000;background:#fff;box-shadow:5px 5px rgba(102, 102, 102, 0.1);border: 1px solid rgba(0,0,0,.2);border-radius: 4px;overflow-x:auto}

.article_atit span,.article_btit span,.article_column a,.node-name{border-bottom: 1px dashed #0088cc;}
.article_atita{display:block;position:absolute;left:0;top:0;z-index:11;    width: auto;    max-width: none !important;  border-radius: 6px !important;}
.article_atita .fa{margin-top:0px}
.article_atita .btn{padding:0px 3px;border-radius:10px !important;}
.article_atita .editable-input {vertical-align: top;display: inline-block;width: auto;white-space: normal;zoom: 1;}
.article_atita .popover-title{position:relative}
.article_atita .editable-buttons {position:absolute;right:10px;top:5px;vertical-align: top;margin-left: 7px;zoom: 1; float: right}
.article_atita .form-group{margin-bottom:0px}
.article_atita .editable-cancel {margin-left: 7px; padding: 0 5px;}
.article_atita .editable-clear-x{ color: #ddd;display: block;height: 13px;position: absolute;right: 6px;top: 10px;width: 13px;z-index: 100;}
.result_dTxt .bClose,.artcolsel_body .bClose{position:absolute;right:0;top:0;}
.ztree .fa{font-family:'FontAwesome';}

div.dataTables_paginate .pagination{float: right;}
div.dataTables_info{ padding-top: 8px;}
div.dataTables_paginate ul.pagination {margin: 2px 0;white-space: nowrap;}
	
.mLR5{margin:0 5px}
.mTop{margin-top:15px !important}
.form-mx-1{width:50px;}	
.pTBon{padding:10px 0}
	/*buttons*/
.button-raised {
    background: rgba(0, 0, 0, 0) linear-gradient(#f6f6f6, #e1e1e1) repeat scroll 0 0;
    border-color: #e1e1e1;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.15);
    line-height: 38px;
}
.button:visited {color: #666; }
.button:hover, .button:focus {background-color: #f6f6f6;text-decoration: none;outline: none; }
.button:active, .button.active, .button.is-active {text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);text-decoration: none;background-color: #eeeeee;border-color: #cfcfcf;color: #d4d4d4;-webkit-transition-duration: 0s;transition-duration: 0s;-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2); }
.button.disabled, .button.is-disabled, .button:disabled {top: 0 !important;background: #EEE !important;border: 1px solid #DDD !important;text-shadow: 0 1px 1px white !important;color: #CCC !important;cursor: default !important;appearance: none !important;-webkit-box-shadow: none !important;box-shadow: none !important;opacity: .8 !important; }
.button {
	border-width: 0;
    box-shadow: none;
    filter: none;
    font-size: 14px;
    outline: medium none !important;
    padding: 7px 14px;
	-moz-user-select: none;
    background-image: none;
	border-radius: 4px;
    cursor: pointer;
    display: inline-block;
	font-weight: 400;
    line-height: 1.42857;
	text-align: center;
    vertical-align: middle;
    white-space: nowrap;	
	color: #666;
    background-color: #EEE;
    border-color: #EEE;
	font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
    text-align: center;
	display: inline-block;
    appearance: none;
    cursor: pointer;
    border: none;
	height: 33px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

.button-box {border-radius: 5px !important;margin:0 5px}
.button-longshadow, .button-longshadow-right,.button-longshadow-left{overflow: hidden;}
/*右阴影*/
.button-longshadow.button-primary, .button-longshadow-right.button-primary {
    text-shadow: 0 0 #0880d7, 1px 1px #0880d7, 2px 2px #0880d7, 3px 3px #0880d7, 4px 4px #0880d7, 5px 5px #0880d7, 6px 6px #0880d7, 7px 7px #0880d7, 8px 8px #0880d7, 9px 9px #0880d7, 10px 10px #0880d7, 11px 11px #0880d7, 12px 12px #0880d7, 13px 13px #0880d7, 14px 14px #0880d7, 15px 15px #0880d7, 16px 16px #0880d7, 17px 17px #0880d7, 18px 18px #0880d7, 19px 19px #0880d7, 20px 20px #0880d7, 21px 21px #0880d7, 22px 22px #0880d7, 23px 23px #0880d7, 24px 24px #0880d7, 25px 25px #0880d7, 26px 26px #0880d7, 27px 27px #0880d7, 28px 28px #0880d7, 29px 29px #0880d7, 30px 30px #0880d7, 31px 31px #0880d7, 32px 32px #0880d7, 33px 33px #0880d7, 34px 34px #0880d7, 35px 35px #0880d7, 36px 36px #0880d7, 37px 37px #0880d7, 38px 38px #0880d7, 39px 39px #0880d7, 40px 40px #0880d7, 41px 41px #0880d7, 42px 42px #0880d7, 43px 43px #0880d7, 44px 44px #0880d7, 45px 45px #0880d7, 46px 46px #0880d7, 47px 47px #0880d7, 48px 48px #0880d7, 49px 49px #0880d7, 50px 50px #0880d7, 51px 51px #0880d7, 52px 52px #0880d7, 53px 53px #0880d7, 54px 54px #0880d7, 55px 55px #0880d7, 56px 56px #0880d7, 57px 57px #0880d7, 58px 58px #0880d7, 59px 59px #0880d7, 60px 60px #0880d7, 61px 61px #0880d7, 62px 62px #0880d7, 63px 63px #0880d7, 64px 64px #0880d7, 65px 65px #0880d7, 66px 66px #0880d7, 67px 67px #0880d7, 68px 68px #0880d7, 69px 69px #0880d7, 70px 70px #0880d7, 71px 71px #0880d7, 72px 72px #0880d7, 73px 73px #0880d7, 74px 74px #0880d7, 75px 75px #0880d7, 76px 76px #0880d7, 77px 77px #0880d7, 78px 78px #0880d7, 79px 79px #0880d7, 80px 80px #0880d7, 81px 81px #0880d7, 82px 82px #0880d7, 83px 83px #0880d7, 84px 84px #0880d7, 85px 85px #0880d7;
}
/*右阴影*/
.button-longshadow.button-highlight, .button-longshadow-right.button-highlight {
    text-shadow: 0 0 #e59501, 1px 1px #e59501, 2px 2px #e59501, 3px 3px #e59501, 4px 4px #e59501, 5px 5px #e59501, 6px 6px #e59501, 7px 7px #e59501, 8px 8px #e59501, 9px 9px #e59501, 10px 10px #e59501, 11px 11px #e59501, 12px 12px #e59501, 13px 13px #e59501, 14px 14px #e59501, 15px 15px #e59501, 16px 16px #e59501, 17px 17px #e59501, 18px 18px #e59501, 19px 19px #e59501, 20px 20px #e59501, 21px 21px #e59501, 22px 22px #e59501, 23px 23px #e59501, 24px 24px #e59501, 25px 25px #e59501, 26px 26px #e59501, 27px 27px #e59501, 28px 28px #e59501, 29px 29px #e59501, 30px 30px #e59501, 31px 31px #e59501, 32px 32px #e59501, 33px 33px #e59501, 34px 34px #e59501, 35px 35px #e59501, 36px 36px #e59501, 37px 37px #e59501, 38px 38px #e59501, 39px 39px #e59501, 40px 40px #e59501, 41px 41px #e59501, 42px 42px #e59501, 43px 43px #e59501, 44px 44px #e59501, 45px 45px #e59501, 46px 46px #e59501, 47px 47px #e59501, 48px 48px #e59501, 49px 49px #e59501, 50px 50px #e59501, 51px 51px #e59501, 52px 52px #e59501, 53px 53px #e59501, 54px 54px #e59501, 55px 55px #e59501, 56px 56px #e59501, 57px 57px #e59501, 58px 58px #e59501, 59px 59px #e59501, 60px 60px #e59501, 61px 61px #e59501, 62px 62px #e59501, 63px 63px #e59501, 64px 64px #e59501, 65px 65px #e59501, 66px 66px #e59501, 67px 67px #e59501, 68px 68px #e59501, 69px 69px #e59501, 70px 70px #e59501, 71px 71px #e59501, 72px 72px #e59501, 73px 73px #e59501, 74px 74px #e59501, 75px 75px #e59501, 76px 76px #e59501, 77px 77px #e59501, 78px 78px #e59501, 79px 79px #e59501, 80px 80px #e59501, 81px 81px #e59501, 82px 82px #e59501, 83px 83px #e59501, 84px 84px #e59501, 85px 85px #e59501;
}
/*左阴影*/
.button-longshadow-left.button-action {
    text-shadow: 0 0 #8bc220, -1px 1px #8bc220, -2px 2px #8bc220, -3px 3px #8bc220, -4px 4px #8bc220, -5px 5px #8bc220, -6px 6px #8bc220, -7px 7px #8bc220, -8px 8px #8bc220, -9px 9px #8bc220, -10px 10px #8bc220, -11px 11px #8bc220, -12px 12px #8bc220, -13px 13px #8bc220, -14px 14px #8bc220, -15px 15px #8bc220, -16px 16px #8bc220, -17px 17px #8bc220, -18px 18px #8bc220, -19px 19px #8bc220, -20px 20px #8bc220, -21px 21px #8bc220, -22px 22px #8bc220, -23px 23px #8bc220, -24px 24px #8bc220, -25px 25px #8bc220, -26px 26px #8bc220, -27px 27px #8bc220, -28px 28px #8bc220, -29px 29px #8bc220, -30px 30px #8bc220, -31px 31px #8bc220, -32px 32px #8bc220, -33px 33px #8bc220, -34px 34px #8bc220, -35px 35px #8bc220, -36px 36px #8bc220, -37px 37px #8bc220, -38px 38px #8bc220, -39px 39px #8bc220, -40px 40px #8bc220, -41px 41px #8bc220, -42px 42px #8bc220, -43px 43px #8bc220, -44px 44px #8bc220, -45px 45px #8bc220, -46px 46px #8bc220, -47px 47px #8bc220, -48px 48px #8bc220, -49px 49px #8bc220, -50px 50px #8bc220, -51px 51px #8bc220, -52px 52px #8bc220, -53px 53px #8bc220, -54px 54px #8bc220, -55px 55px #8bc220, -56px 56px #8bc220, -57px 57px #8bc220, -58px 58px #8bc220, -59px 59px #8bc220, -60px 60px #8bc220, -61px 61px #8bc220, -62px 62px #8bc220, -63px 63px #8bc220, -64px 64px #8bc220, -65px 65px #8bc220, -66px 66px #8bc220, -67px 67px #8bc220, -68px 68px #8bc220, -69px 69px #8bc220, -70px 70px #8bc220, -71px 71px #8bc220, -72px 72px #8bc220, -73px 73px #8bc220, -74px 74px #8bc220, -75px 75px #8bc220, -76px 76px #8bc220, -77px 77px #8bc220, -78px 78px #8bc220, -79px 79px #8bc220, -80px 80px #8bc220, -81px 81px #8bc220, -82px 82px #8bc220, -83px 83px #8bc220, -84px 84px #8bc220, -85px 85px #8bc220;
}
.button-raised.button-caution {background: rgba(0, 0, 0, 0) linear-gradient(#ff5c69, #ff2939) repeat scroll 0 0;border-color: #ff2939; color: #fff;}

.button-primary, .button-primary-flat {background-color: #1B9AF7;border-color: #1B9AF7;color: #FFF;}
.button-primary:visited,.button-primary-flat:visited {color: #FFF; }
.button-primary:hover,.button-primary:focus,.button-primary-flat:hover,.button-primary-flat:focus {background-color: #4cb0f9;border-color: #4cb0f9;color: #FFF; }
.button-primary:active, .button-primary.active, .button-primary.is-active,.button-primary-flat:active,.button-primary-flat.active,.button-primary-flat.is-active {background-color: #2798eb;border-color: #2798eb;color: #fff; }

.form-mx-1:focus{border-color:#ddd}
.table-striped > tbody > tr:nth-of-type(2n+1) {
	background:#f1f1f1
}
.table-responsive {
    min-height: 0.01%;
    overflow-x: visible;
}
/*icheck--角色*/
.form-mx-icheck .form-group{margin-left:0px;margin-right: 0px;}
.form-mx-icheck .menuDiv{position:relative}
.form-mx-icheck .menuDiv dl{margin-top:5px;margin-bottom:1px}
.form-mx-icheck .mwebFn{border:#d3d3d3 solid 1px;}
.form-mx-icheck .mwebFn dt{background:#d3d3d3;padding:5px 10px}
.form-mx-icheck .webFn dd{padding-top:5px;margin-bottom:1px;}
.form-mx-icheck .menuDiv label{margin-left:2px;vertical-align:-1px}
.form-mx-icheck .icheck-qxanu{background:#fff;padding:0 2px;width:50px;position:absolute;left:28px;top:0;text-align:center}
.form-mx-icheck .icheck-qxmk{padding:10px;border:#8bc96e solid 1px;margin-top:10px;}
.form-mx-icheck .icheck-qxmk .form-group{margin-bottom:5px;}
.form-mx-icheck .form-horizontal .pTop3{padding-top:3px}

.table-striped > tbody > tr:hover {
    background-color:#bfcad1;
}
.errorMessage{color: red;}

.form-control01{float: left;width: 75%; }
.blue01{float: left;display: block;}
/*图片弹出*/
.view{ cursor: pointer;}
.wrap{ display: none;}
.img_container{ position: absolute;  z-index: 100; top: 50%; left:50%; margin-left: -250px; margin-top: -200px; display: table; text-align:center;}
.img_container p{ display: table-cell; color: #333; font-size: 20px; vertical-align: middle; left: 50%; top: 50%;}
.img_container p img{ max-width: 500px;}
.mask{ position: fixed; top :0px;left:0px;display: none; z-index: 99; width: 100%; height: 100%; background: rgba(0,0,0,.5);}
.closetck{ position: absolute; top: -30px; right: -30px;}
.closetck img{width: 30px; height: 30px;}
