.an-content {
  display: none;
}
.an-content-show {
  display: block;
}
.page-item .answer {
  display: none;
  opacity: 0;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.page-item .answer_show {
  display: block;
  opacity: 1;
}
.page-item .an-text {
  width: 960px;
  height: auto;
  margin: 40px 0 0 140px;
}
.page-item .an-text h1 {
  width: 100%;
  height: auto;
  font-size: 18px;
  color: #322222;
  margin: 0 0 40px 0;
  font-weight: 600;
}
.page-item .an-text ul {
  width: 100%;
}
.page-item .an-text ul li {
  width: 100%;
  height: auto;
  margin: 0 0 20px 0;
  font-size: 18px;
  color: #322222;
  line-height: 31px;
}
.page-item .an-text ul li a {
  display: inline-block;
  color: #322222;
  transition: all .2s;
  -webkit-transition: all .2s;
}
.page-item .an-text ul li a label {
  display: inline-block;
  width: 33px;
  height: 31px;
  margin: 0 14px 0 0;
  text-indent: 14px;
  transition: all .2s;
  -webkit-transition: all .2s;
  background: url("../images/answer_bimg.png") no-repeat;
}
.page-item .an-text ul li a:hover {
  color: #ffc300;
}
.page-item .an-text ul li a:hover label {
  color: #322222;
  background: url("../images/answer_bimg_active.png") no-repeat;
}
.page-item .an-text ul li a.active label {
  color: #322222;
  background: url("../images/answer_bimg_active.png") no-repeat;
}
.page-item .an-img {
  width: 880px;
  height: auto;
  margin: 60px 0 0 210px;
}
.page-item .an-img h1 {
  font-size: 18px;
  color: #322222;
  margin: 0 0 40px 0;
  font-weight: 600;
}
.page-item .an-img div {
  overflow: hidden;
}
.page-item .an-img div img {
  float: left;
}
.page-item .an-img div ul {
  width: 600px;
  height: auto;
  float: left;
  margin: 0 0 0 60px;
}
.page-item .an-img div ul li {
  width: 100%;
  height: auto;
  margin: 0 0 16px 0;
  line-height: 31px;
}
.page-item .an-img div ul li a {
  display: inline-block;
  color: #322222;
  transition: all .2s;
  -webkit-transition: all .2s;
}
.page-item .an-img div ul li a label {
  display: inline-block;
  width: 33px;
  height: 31px;
  margin: 0 12px 0 0;
  text-indent: 14px;
  transition: all .2s;
  -webkit-transition: all .2s;
  background: url("../images/answer_bimg.png") no-repeat;
}
.page-item .an-img div ul li a:hover {
  color: #ffc300;
}
.page-item .an-img div ul li a:hover label {
  color: #322222;
  background: url("../images/answer_bimg_active.png") no-repeat;
}
.page-item .an-img div ul li a.active label {
  color: #322222;
  background: url("../images/answer_bimg_active.png") no-repeat;
}
.item-gui {
  position: absolute;
  top: -210px;
  left: -150px;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.item-gui:hover {
  left: -180px;
}
.an-footer {
  width: 1250px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}
.an-footer a {
  display: block;
  float: left;
  width: 216px;
  height: 69px;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  -webkit-transition: .3s;
}
.an-footer a:hover {
  transform: translate3d(10px, 0, 0);
  -webkit-transform: translate3d(10px, 0, 0);
}
.an-footer a.prev-btn {
  margin: 0 210px 0 340px;
  background: url("../images/prev_btn.png") no-repeat;
}
.an-footer a.next-btn {
  margin: 0 20px 0 0;
  background: url("../images/next_btn.png") no-repeat;
}
.an-footer a.show {
  visibility: visible;
  opacity: 1;
}
.an-footer p {
  display: block;
  float: left;
  width: 190px;
  height: 69px;
  line-height: 69px;
  font-size: 18px;
  color: #3c2600;
}
.an-footer p span {
  color: #e83e36;
  margin: 0 8px;
}
.err-inf {
  width: 100%;
  height: auto;
}
.err-inf img {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}
.err-inf h1 {
  width: 380px;
  height: auto;
  font-size: 18px;
  color: #666666;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}
.err-inf h1 span {
  font-size: 26px;
  color: #ff7800;
  margin: 0 8px;
  font-weight: bold;
}
.err-inf p {
  width: 380px;
  height: auto;
  margin: 0 auto;
  font-size: 14px;
  color: #999999;
  text-align: center;
  line-height: 32px;
  margin-top: 20px;
}
.err-pig {
  position: absolute;
  top: 20px;
  left: -180px;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.err-pig:hover {
  left: -210px;
}
.err-btn {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  margin-top: 180px;
  text-align: center;
}
.err-btn a {
  display: inline-block;
  width: 240px;
  height: 69px;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.err-btn a:hover {
  transform: translate3d(10px, 0, 0);
  -webkit-transform: translate3d(10px, 0, 0);
}
.err-btn .err-look-kd {
  margin: 0 185px 0 0;
  background: url("../images/check_kd_btn.png") no-repeat;
}
.err-change-ct {
  display: block;
  width: 216px;
  height: 69px;
  margin: 0 auto;
  margin-top: 10px;
  transition: all .3s;
  -webkit-transition: all .3s;
  background: url("../images/change_error1.png") no-repeat;
}
.err-change-ct:hover {
  transform: translate3d(10px, 0, 0);
  -webkit-transform: translate3d(10px, 0, 0);
}
.err-btn .err-change-ct {
  background: url("../images/change_error.png") no-repeat;
}
.an-kd .page-item h1 {
  font-size: 30px;
  color: #555555;
  text-align: center;
}
.an-kd .page-item h1 label {
  display: inline-block;
  width: 36px;
  height: 36px;
  position: relative;
  top: 8px;
  background: url("../images/kd_icon.png") no-repeat;
}
.an-kd .page-item p {
  width: 920px;
  height: auto;
  text-indent: 2em;
  font-size: 18px;
  line-height: 32px;
  margin: 10px 0 0 200px;
}
.an-kd .page-item p span {
  color: #ff7800;
  font-weight: bold;
}
.an-kd .page-item .item-man {
  position: absolute;
  top: -250px;
  left: -180px;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.an-kd .page-item .item-man:hover {
  left: -200px;
}
.an-kd .an-check-btn {
  width: 240px;
  height: 69px;
  display: block;
  margin: 0 auto;
  transition: .3s;
  -webkit-transition: .3s;
  background: url("../images/change_error1.png") no-repeat;
}
.an-kd .an-check-btn:hover {
  transform: translate3d(10px, 0, 0);
  -webkit-transform: translate3d(10px, 0, 0);
}
