.n_main{
	width:100%;
	overflow: hidden;
	margin-top:3.4375rem;
}
.n_title{
	width:7.28125rem;
	height:2.21875rem;
	margin:0 auto;
	margin-top:1.125rem;
}
.n_title img{
	display: block;
	width:100%;
	height:100%;
}
.v_tab{
	width:100%;
	height:2.03125rem;
	border-bottom:1px solid #ddd;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}
.v_tab li{
	width:3.8125rem;
	height:1.9375rem;
	font-size:0.875rem;
	text-align: center;
	line-height:1.9375rem;
}
.v_tab li a{
	color:#666;
	display: block;
	width:100%;
	height:100%;
	transition:all .3s;
}
.v_tab li.active a{
	color:#af2316;
	border-bottom:3px solid #af2316;
}
.v_t_con{
	width:18.4375rem;
	overflow: hidden;
	position:relative;
	margin:0 auto;
}
.v_t_con ul{
	width:100%;
	overflow: hidden;
	position:relative;
	display: none;
	transition: all .3s;
}
.v_t_con ul.active{
	display: block;
}
.v_t_con ul li{
	width:100%;
	height:2.71875rem;
	line-height:2.71875rem;
	border-bottom:1px dashed #ddd;
}
.v_t_con ul li a em{
	font-size:0.625rem;
	color:#999;
	float:left;
}
.v_t_con ul li a span{
	display: block;
	width:11.09375rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size:0.75rem;
	color:#333;
	float:left;
}
.v_t_con ul li i{
	font-size:0.4375rem;
	color:#999;
	font-style: normal;
	float:right;
}

/*新闻详情样式*/
.d_con{
	width:18.4375rem;
	overflow: hidden;
	position:relative;
	margin:0 auto;
	margin-top:4.75rem;
}
.top_title{
	font-size:0.9375rem;
	color:#333;
	line-height:1.5rem;
	width:18.4375rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.s_title{
	font-size:0.625rem;
	color:#999;
	line-height:1.25rem;
	padding-bottom:0.625rem;
	border-bottom:1px solid #cecece;
}
.m_p{
	font-size:0.75rem;
	color:#444;
	line-height:1.375rem;
	margin-top:0.625rem;
}
.d_con p img{
	display: block;
	width:100%;
	margin:1rem auto;
}
.loading-box {
    width: 12.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    background: #f3f3f3;
    font-size: 0.75rem;
    color: #ccc;
    margin: 0.9375rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}