.common_header{
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  background: #000;
  height: 3.125rem;
  width: 100%;
  color: #fff;
  position:fixed;
  left:0;
  top:0;
  z-index:99;
}

.common_header .h_title{
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
}
.common_header .h_title h3{
  font-size: 1rem;
}
.common_header .h_title p{
  font-size: 0.56250rem;
}
.common_header .h_btn{
  display: -webkit-box;
  display: -moz-box;
  display: box;
}
.common_header .linklogo{
  width: 3.125rem;
  height: 3.125rem;
  display: block;
  margin: 0 0.5625rem 0 0.71875rem;
  background-size: 100% 100%;
  position: relative;
  z-index: 6;
   top: 0.5rem;
}
.common_header .h_btn a {
  display: block;
  width: 5.46875rem;
  height: 1.875rem;
  margin-right: 0.625rem;
}
.common_header .h_btn a img{
	width: 100%;
	height: 100%;
}
.cover-bg{
	width: 100%;
	height: 45.625rem;
	background: url(../images/cover_bg.jpg) no-repeat top center;
	background-size: 100% 100%;
	margin-top: 3.125rem;
	overflow: hidden;
}
.ul-nav{
	width: 100%;
	height: 15.375rem;
	position: relative;
	margin-top: 5.875rem;
}
.ul-nav li{
	position: absolute;
}
.ul-nav li img{
	width: 100%;
}
.ul-nav li:nth-of-type(1){
	width: 4.9375rem;
	height: 4.9375rem;
	left: 0.71875rem;
	animation: cirClick 2.5s infinite;
    -webkit-animation: cirClick 2.5s infinite;
    -moz-animation: cirClick 2.5s infinite;
}
.ul-nav li:nth-of-type(2){
	width: 5.15625rem;
	height: 4.8125rem;
	right: 0.375rem;
	top: 1.5625rem;
	animation: cirClick 2.5s infinite;
    -webkit-animation: cirClick 2.5s infinite;
    -moz-animation: cirClick 2.5s infinite;
    animation-delay:1s;
    -webkit-animation-delay:1s;
    -moz-animation-delay:1s;
}
.ul-nav li:nth-of-type(3){
	width:6.1875rem;
	height: 6.03125rem;
	left: 2.0rem;
	bottom: 0;
	animation: cirClick 2.5s infinite;
    -webkit-animation: cirClick 2.5s infinite;
    -moz-animation: cirClick 2.5s infinite;
    animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
}
.ul-nav li:nth-of-type(4){
	width: 6.09375rem;
	height: 6.09375rem;
	right:  4.0625rem;
	bottom: 1.25rem;
	animation: cirClick 2.5s infinite;
    -webkit-animation: cirClick 2.5s infinite;
    -moz-animation: cirClick 2.5s infinite;
    animation-delay:2s;
    -webkit-animation-delay:2s;
    -moz-animation-delay:2s;
}
@keyframes cirClick {
  0% {
    transform: scale(0.9);
  }
  5% {
    transform: scale(1.1);
  }
  10% {
    transform: scale(1.0);
  }
  15% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(0.9);
  }
}
.message-box{
	width: 18.96875rem;
	height: 15.4375rem;
	margin: auto;
	margin-top: 7.28125rem;
}
.return img{
	width: 9.375rem;
	height: 3.875rem;
	display: block;
	margin: auto;
}
.mess-bg{
	width: 18.90625rem;
	height: 9.25rem;
	background: url(../images/mass_bg.png) no-repeat center;
	background-size: 100% 100%;
	margin: auto;
	margin-top:-0.5625rem;
	overflow: hidden;
}
.mess-list{
	width: 17.1875rem;
	height: 6.575rem;
	margin: auto;
	margin-top: 2.0rem;
	overflow: hidden;
}
.mess-list p{
	color: #333333;
	font-size: 0.75rem;
	margin: 0.3rem 0;
}
.mess-list p span{
	display: block;
	color: #a11d1d;
	font-size: 0.75rem;
}
.fs img{
	width: 18.875rem;
	height: 2.1875rem;
	display: block;
	margin:0.625rem auto;
}
.page-bg{
  width: 100%;
  height: 37.5625rem;
  background: url(../images/page_bg.png) no-repeat top center;
  background-size: 100% 100%;
  overflow: hidden;
}
.fanhui a{
  color: #70240d;
  font-size: 0.75rem;
  font-weight: bold;
}
.page-box{
  width: 18.59375rem;
  margin: auto;
   margin-top: 4.4375rem;

}
.fanhui img{
  width: 0.5rem;
  height: 0.8125rem;
  vertical-align: middle;
    margin-top: -0.15rem;
    margin-right: 0.4375rem;
}
.tit3 img,.tit1 img,.tit2 img,.tit4 img{
    width: 9.15625rem;
    height: 1.4375rem;
    display: block;
    margin: auto;
    margin-top: 2.0375rem;  
}
.tit1 img{
    width: 11.3125rem;
    height: 1.46875rem;
}
.tit2 img{
  width: 11.46875rem;
  height: 1.84375rem;
  margin-left: 0.451875rem;
  margin-top: 5.5375rem;
}
.tit4 img{
  width: 5.6875rem;
  height: 1.46875rem;
  margin-top: 4.2375rem;
}
.txt{
  margin-top: 1.71875rem;
}
.txt p,p.txt{
  color: #444444;
  font-size: 0.75rem;
  line-height: 1.25rem
}
.form>input,.form .s-yzm{
  padding: 0.3125rem 0;
  padding-left: 0.9375rem;
  border-radius: 5px;
  border:1px solid #efd79d;
  background: #fff;
  color: #999999;
  font-size: 0.75rem;
  height: 1.875rem;
}
.form{
  margin-top: 0.7375rem;
}
.form input{
  margin-top: 0.3125rem;
}
.form>input{
  width: 17.625rem;
}
.form .s-yzm{
  width: 10.7625rem;
}
.f-yzm{
  width: 6.25rem;
  height: 2.25rem;
  border-radius: 5px;
  border:0.0625rem solid #fd7029;
  background: none;
  text-align: center;
  font-size: 0.75rem;
  font-weight: bold;
  color: #fd7029;
  vertical-align: -0.03rem;
  margin-left: 0.4rem;
}
.tips{
  color: #ff7300;
  font-size: 0.625rem;
  margin:0.6375rem 0;
  display: block;
}
.form textarea{
  width: 16.71875rem;
  height: 6.59375rem;
  border-radius: 5px;
  border:0.0625rem solid #efd79d;
  resize: none;
   color: #999999;
  font-size: 0.75rem;
  padding:0.3125rem 0.9375rem;
}
.zf{
  width: 18.5625rem;
  height: 2.5rem;
  margin-top: 0.9rem;
}
.page-bg01{
  width: 100%;
  height: 56.96875rem;
  background: url(../images/page_bg01.jpg) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
}
.page-bg02{
  width: 100%;
  height: 35.40625rem;
  background: url(../images/page_bg02.jpg) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
}
.page-bg03{
   width: 100%;
  height: 37.5625rem;
  background: url(../images/page_bg03.jpg) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
}
.zhi img{
  width: 19.0rem;
  height: 43.6875rem;
  display: block;
  margin: auto;
  margin-top: 1.71875rem;
}
.txt1{
  width: 10.71875rem;
  color: #444444;
  font-size: 0.75rem;
  margin-top: 0.9375rem;
  margin-left: 0.451875rem;
}
.page-box .b img{
  margin-top: 2.90625rem;
}
.btns img{
  display: block;
  width: 12.90625rem;
  height: 2.90625rem;
  margin-left: 0.451875rem;
  margin-top: 0.625rem;
}
.ren{
  position: absolute;
  right: 0;
  top: 4.0rem;
}
.ren img{
  width: 10.15625rem;
  height: 30.53125rem;
}
.partner img{
  width: 18.84375rem;
  height: 14.90625rem;
  display: block;
  margin:2.8125rem auto;
}