<script src="{$smarty.const.STATIC_DOMAIN}4.0/m/js/jquery-1.11.2.min.js?{$smarty.const.VERSION}"></script>
<script src="{$smarty.const.STATIC_DOMAIN}4.0/m/js/swiper-3.4.0.min.js?{$smarty.const.VERSION}"></script>
{download}
{video_play}
<script src="http://cdnstatic.yingxiong.com/common/js/yx.js?{$smarty.const.VERSION}"></script>
<script src="{$smarty.const.STATIC_DOMAIN}4.0/m/js/index.js?{$smarty.const.VERSION}"></script>
<script type="text/javascript" src="//cdnstatic.yingxiong.com/footer/js/footer.js?{$smarty.const.VERSION}"></script>
</html>
