
<!DOCTYPE html>
<html>

<head>
    <title>{$seo_title}</title>
    <meta charset="UTF-8">
    <meta name="keyword" content="{$seo_key}">
    <meta name="description" content="{$seo_desc}">
    <meta name="baidu-site-verification" content="1KAsD7HCls" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}3.0/m/common/css/common.min.css" />
    <link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}3.0/m/css/news_raiders.css" />
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?cd3c5f317e3f5ced9e323d594c3eb7b3";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body>
<header class="index1_header">
    <a href="/m/index.html" class="index1_logo"><img src="{$global.logo_img}" alt=""></a>
    <div class="header_txt">
        <p class="h_p_01">{$global.title}</p>
        <p class="h_p_02">{$global.sub_title}</p>
    </div>
     <a href="https://www.douyin.com/share/user/82414995141/?share_type=link" class="douyin" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/douyin_btn.png" alt=""></a>
    <a class="menu fr" href="javascript:;"><img src="{$smarty.const.STATIC_DOMAIN}3.0/m/img/nav.png" title="" alt="" /></a>
    <ul class="menu_nav">
        <li>
            <a href='{myurl name="m/index"}'>官网首页</a>
        </li>
        <li>
            <a href='{myurl name="/wap/article"}'>新闻资讯</a>
        </li>
       <!--  <li>
            <a href='{myurl name="/wap/article/data"}'>玩法资料</a>
        </li> -->
        <li>
            <a href='http://sm.yingxiong.com/gl_wiki.html' target="_blank">游戏攻略</a>
        </li>
        <li>
            <a href='/m/ych/list_658_1.html'>油菜花社区</a>
        </li>
        <li>
            <a href="http://forumsm.yingxiong.com/">官方论坛</a>
        </li>
    </ul>
</header>
