* {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
	width: 100%;
	height: 100%;
}

html,
body,
fieldset,
img,
iframe,
abbr {
	border: 0;
}

li {
	list-style: none;
}

textarea {
	overflow: auto;
	resize: none;
}

button {
	cursor: pointer;
}

a,
a:hover {
	text-decoration: none;
	color: #6f6f6f;
}

a,
a:active,
a:focus,
input,
button {
	outline: 0;
	border:0;
}

li {
	display: block;
}

.hide {
	display: none!important;
}

html,
body,
select,
textarea,
input,
button {
	font-family: "微软雅黑";
}

.clear {
	clear: both;
}

.hide {
	display: none;
}

.show {
	display: block;
}
.wrap{
	width:1200px;
	height:100%;
	position:relative;
	margin:0 auto;
	z-index:10;
}
.cd1{
    position: absolute;
    left: 57px;
    top: 62px;
    width: 266px;
}
.cd2{
    position: absolute;
    right: 118px;
    top: 339px;
    width: 176px;
}
.cd3{
    position: absolute;
    left: -72px;
    top: 434px;
    width: 441px;
}
.slogan{
    position: absolute;
    left: 221px;
    top: 113px;
    width: 759px;
}
.y_enger{
    position: absolute;
    top: 622px;
    left: 50%;
    margin-left: -177.5px;
    cursor: pointer;
    display: block;
}
.chengg{
	width:100%;
	height:1px;
	background:none;
}
.n_wrap{
	width:1280px;
	height:100%;
	position:relative;
	margin:0 auto;
	z-index:10;
}
.ewm-box {
    width: 180px;
    height: 502px;
    position: fixed;
    top: 26.59574468%;
    right: 2.85416667%;
    padding: 10px 0 0 0;
    box-sizing: border-box;
    background: url(../images/ewm_bimg.png) no-repeat;
    background-size: 100% 100%;
    z-index: 99;
    transition: all .5s;
    -webkit-transition: all .5s;
}
.ewm-box > div {
    width: 158px;
    height: 173px;
    position: relative;
    margin: 12px 0 0 16px;
    background: url(../images/ewm_bimg2.png) no-repeat;
    background-size: cover
}
.ewm-box > div img {
  width: 142px;
  height: 142px;
  position: absolute;
  margin: auto;
  top: 10px;
  left: 5px;
}
.ewm-box h1 {
  margin: 8px 0 6px 0;
  font-size: 16px;
  color: #fff;
  text-align: center;
  font-weight: 400;
}
.ewm-box p {
  font-size: 14px;
  color: #fff;
  text-align: center;
}
.ewm-box > a img {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
.ewm-box label {
  display: block;
  width: 80%;
  height: 1px;
  margin: 0 auto;
  margin-top: 20px;
  border-top: 1px dashed #fff;
}
.cd-gf {
  width: 100%;
  height: 45px;
  margin: 20px 0 0 0;
}
.cd-gf li {
  float: left;
  width: 33.3%;
  height: auto;
  position: relative;
}
.cd-gf li a {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
}
.cd-gf li a div {
  width: 27px;
  height: 23px;
  position: relative;
  display: inline-block;
}
.cd-gf li a div img {
  width: 100%;
  height: 100%;
  display: block;
  line-height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden\9;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.cd-gf li a div img.show {
  opacity: 1;
  visibility: visible\9;
}
.cd-gf li a p {
  display: block;
  width: 100%;
  height: auto;
  font-size: 14px;
  color: #fff;
  text-align: center;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.cd-gf li i {
  width: 162px;
  height: 174px;
  top: 54px;
  left: -47px;
  position: absolute;
  background: url("../images/weixin_bimg.png") no-repeat;
  background-size: cover;
  display: none;
}
.cd-gf li i img {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
.cd-gf li:hover img.gf1 {
  opacity: 0;
  visibility: hidden\9;
}
.cd-gf li:hover img.gf2 {
  opacity: 1;
  visibility: visible\9;
}
.cd-gf li:hover p {
  color: #f5f524;
}
.cd-gf li:hover i {
  display: block;
}
.f_close{
    display: block;
    width: 20px;
    height: 51px;
    background: url(../images/sanjiao.png) no-repeat center;
    overflow: hidden;
    position: absolute;
    left: -18px;
    top: 33px;
    cursor: pointer;
}
.f_close img{
	display: block;
	width:8px;
	height:19px;
	position:absolute;
	top:17px;
	left:5px;
}
.op .ewm-box{
	right:-180px;
}
