body{background: #171A21;}
/*cover页*/
.c-wrap{
	width: 100%;
	/*height: 1078px;*/
	overflow: hidden;
	position: relative;
}
.c-con{
	width: 100%;
	height: 128px;
	overflow: hidden;
	position: absolute;  
	left: 0;
	bottom: 15%;
	z-index: 2;
	background: rgba(35,42,61,.5);
	border-top: 1px solid #213F49;
	border-bottom: 1px solid #213F49;
} 
.c-logo{
	width: 365px;
	position: absolute;
	left: 50%;
	top: 50px;
	margin-left: 30px;
	z-index: 2;
}
.c-logo img{
	display: block;
	width: 100%;
}
.c-inf{
	width: 1200px;
	height: 128px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.c-mp4{
	width: 100%;
	/*height: 1078px;*/
	position: relative;
	z-index: 1;
}
.c-home{
	width: 176px;
	height: 55px;
	display: block;
	float: left;
	margin-left: 316px;
	margin-top: 36.5px;
	background: url(../images/c-home.png) no-repeat;
}
.c-video{
	width: 100px;
	height: 100px;
	margin-left: 60px;
	margin-top: 14px;
	display: block;
	float: left;
	cursor: pointer;
	background: url(../images/ico-video.png) no-repeat;
	-webkit-animation: scale 2s infinite both;
	-moz-animation: scale 2s infinite both;
	-ms-animation: scale 2s infinite both;
	animation: scale 2s infinite both;
}
.c-ewm-down{
	width: 122px;
	height: 122px;
	margin-left: 85px;
	margin-top: 3px;
	display: block;
	float: left;
	background: url(../images/ewm-down.jpg) no-repeat;
}
.c-down{
	float: left;
	margin-left: 20px;
	overflow: hidden;
}
.c-down a{
	margin-bottom: 6px;
	width: 131px;
	height: 36px;
}
.c-down-ios{
	margin-top: 3px;
	display: block;
	background: url(../images/down-ios.png) no-repeat;
}
.c-down-and{
	display: block;
	background: url(../images/down-and.png) no-repeat;
}
.c_tap{
	display: block;
	background: url(../images/tap_btn.png) no-repeat;
}
.c-yuyue{
	width: 108px;
	height: 108px;
	margin-top: 10px;
	margin-left: 21px;
	display: block;
	float: left;
	background: url(../images/c-yuyue.jpg) no-repeat;
}
/*首页*/
.wrap{
	width: 100%;
	position: relative;
	overflow: hidden;
	background: url(../images/bg-repeat.jpg) repeat;
}
.wrap.art-wrap{
	background: #071729;
}
.head{
	height: 80px;
	position: relative;
	z-index: 1000;
	border-bottom: 1px solid #CE7E8A;
	background: url(../images/top-bg.jpg) no-repeat center top;
}
.head .headcon{
	width: 1200px;
	height: 80px;
	margin: 0 auto;
}
.head .headcon .logo{
	width: 249px;
	height: 80px;
	display: block;
	float: left;
	margin-left: 88px;
}
.head .headcon .logo img{
	display: block;
	width: 100%;
	height: 100%;
}
.head .headcon .nav{
	height: 80px;
	float: left;
	overflow: hidden;
}
.head .headcon .nav li{
	float: left;
	width: 129px;
	height: 80px;
	line-height: 80px;
	text-align: center;
}
.head .headcon .nav li.on,.head .headcon .nav li:hover{
	background: url(../images/navlion.png) no-repeat;
}
.head .headcon .nav li a{
	font-size: 24px;
	color: #fff;
}
.head .headcon .head-share{
	float: right;
	margin-right: 15px;
}
.head .headcon .head-share a{
	display: block;
	float: left;
	margin-right: 12px;
	margin-top: 26.5px;
}
.head .headcon .head-share a.weixin{
	width: 31px;
	height: 27px;
	background-image: url(../images/icon.png);
	background-position: 0 -117px;
	position: relative;
	margin-top: 28.5px;
	z-index: 1000;
}
.head .headcon .head-share a.weixin:hover{
	background-position: 0 -163px;
}
.head .headcon .head-share a.weixin img{
	display: none;
	width: 104px;
	height: 104px;
	position: absolute;
	left: -36.5px;
	top: 52.5px;
	z-index: 1000;
}
.head .headcon .head-share a.weibo{
	width: 33px;
	height: 27px;
	background-image: url(../images/icon.png);
	background-position: -43px -117px;
}
.head .headcon .head-share a.weibo:hover{
	background-position: -43px -163px;
}
.head .headcon .head-share a.tieba{
	width: 25px;
	height: 27px;
	background-image: url(../images/icon.png);
	background-position: -93px -117px;
}
.head .headcon .head-share a.tieba:hover{
	background-position: -93px -163px;
}
.content{
	position: relative;
	overflow: hidden;
}
.i-banner{
	width: 100%;
	height: 1300px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background: url(../images/i-bg.jpg) no-repeat center top;
}
.i-banner.item-banner{
	width: 100%;
	height: 1209px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background: url(../images/l-bg.jpg) no-repeat center top;
}
.i-con{
	width: 1200px;
	margin: 0 auto;
	position: relative;
	z-index: 10;
	overflow: hidden;
}
.i-con .i-video{
	width: 144px;
	height: 144px;
	position: absolute;
	top: 380px;
	right: 648px;
	cursor: pointer;
	background: url(../images/i-video.png) no-repeat;
	background-size: 100% 100%;
	-webkit-animation: scale 2s infinite both;
	-moz-animation: scale 2s infinite both;
	-ms-animation: scale 2s infinite both;
	animation: scale 2s infinite both;
}
@keyframes scale{
	0%{
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
	50%{
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
	100%{
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}
@-webkit-keyframes scale{
	0%{
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
	50%{
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
	100%{
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}


.time_wrap{width: 100%;height: 1078px;min-width: 1200px;position: relative;z-index: 5;overflow: hidden;background: url(../images/time_bg.jpg) no-repeat top center;}
.time_con{width: 1190px;margin:0 auto;position: relative;min-height: 860px;}
.time_con .t_main{position: absolute;display: none;z-index: 30}
.time_con .t_main a{display: block;}
.time_con .t_main .images{width: 100%;display: block;
	transform:0.5s scale(1) all;
  -webkit-transform: 2.5s scale(1) all;
  -moz-transform: 2.5s scale(1) all;
  -o-transform: 2.5s scale(1) all;
  -ms-transform: 2.5s scale(1) all;}
.time_con .t_01{width: 240px;height: 146px;left: 271px;top: 38px;display: none;}
.time_con .t_02{width: 215px;height: 115px;right: 86px;top: 146px;}
.time_con .t_03{width: 257px;height: 124px;right: 30px;top: 566px;}
.time_con .t_04{width: 338px;height: 125px;left: 390px;top: 730px;}
.time_con .t_05{width: 291px;height: 157px;left: 42px;top: 424px;}
.time_con .t_06{width: 448px;height: 292px;left: 50%;top: 55%;margin:-126px 0 0 -210px;}
.time_con .t_06_2{top: 70%;}
.time_con .t_07{width: 608px;height: 418px;left: 50%;top: 50%;margin:-209px 0 0 -304px;position: absolute;z-index: 30;}
.t_word{position: absolute;width: 224px;display: none;z-index: 20}
.t_word img{display: block;margin: 0 auto;}
.t_word .t_wbg{position: relative;top: -7px; width: 184px;height: 134px; padding:20px; background: url(../images/t_wordbg.png) no-repeat;color: #9ccade;font-size: 12px;}
.t_word01{top: 108px;left: -94px;}
.t_word02{top: 112px;right: -85px;}
.t_word03{top: 118px;left: 13px;}
.t_word04{top: 120px;left: 92px;}
.t_word05{top: 152px;left: 0px;}
.t_main a:hover .t_word{animation:fadeIn 2s ease 0s both;display: block;}
.t_main a:hover .images{-webkit-transform: scale(1.05);transform: scale(1.05);-moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);}
.time_con .t_line img{display: block;}
.time_con .t_l{opacity: 0;}
.time_con .t_line .t_dot{position: absolute;left: 0;top: 0;width: 58px;height: 58px;opacity: 0}
.time_con .t_line01{position: absolute;left: 490px;top: 100px;}
.time_con .t_line01 .t_l{width: 423px;height: 115px;top:8px;position: relative;}
.time_con .t_line02{position: absolute;right: 99px;top: 220px;}
.time_con .t_line02 .t_l{width: 117px;height: 360px;right: 50px;position: relative;left: -50px;}
.time_con .t_line03{position: absolute;right: 90px;top: 644px;}
.time_con .t_line03 .t_l{width: 225px;height: 172px;right: 162px;position: relative;}
.time_con .t_line04{position: absolute;left: 154px;top: 528px;}
.time_con .t_line04 .t_l{width: 277px;height: 268px;position: relative;}
.time_con .t_line04 .t_dot{position: absolute;left: 210px;top: 208px;width: 58px;height: 58px;}
.time_con .t_line05{position: absolute;left: 302px;top: 418px;}
.time_con .t_line05 .t_l{width: 195px;height: 58px;position: relative;top:-8px;}
.animate .t_01{animation:fadeIn  1s ease 0s both;display: block;}
.animate .t_02{animation:fadeIn  1s ease 0.6s both;display: block;}
.animate .t_03{animation:fadeIn  1s ease 1.6s both;display: block;}
.animate .t_04{animation:fadeIn  1s ease 2.5s both;display: block;}
.animate .t_05{animation:fadeIn  1s ease 3.4s both;display: block;}
.animate .t_06{animation:fadeIn  1s ease 4s both;display: block;}
.animate .t_06 .images{animation:fadeOut  1s ease 8s both;}
.animate .t_06_2{animation-delay:4.5s;}
.animate .t_line01 .t_l{animation:fadeIn  1s ease 0.2s both;display: block;}
.animate .t_line02 .t_l{animation:fadeIn  1s ease 1.3s both;display: block;}
.animate .t_line03 .t_l{animation:fadeIn  1s ease 2.2s both;display: block;}
.animate .t_line04 .t_l{animation:fadeIn  1s ease 3s both;display: block;}
.animate .t_line05 .t_l{animation:fadeIn  1s ease 4s both;display: block;}
@-webkit-keyframes bounceIn{0%{opacity:0;-webkit-transform:scale(.3);transform:scale(.3)}50%{opacity:1;-webkit-transform:scale(1.05);transform:scale(1.05)}70%{-webkit-transform:scale(.9);transform:scale(.9)}100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}}@keyframes bounceIn{0%{opacity:0;-webkit-transform:scale(.3);-ms-transform:scale(.3);transform:scale(.3)}50%{opacity:1;-webkit-transform:scale(1.05);-ms-transform:scale(1.05);transform:scale(1.05)}70%{-webkit-transform:scale(.9);-ms-transform:scale(.9);transform:scale(.9)}100%{opacity:1;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}
.animate .bounceIn{animation:bounceIn  0.5s ease 9s both;}
.t_hand{position: absolute;bottom:112px;right: 102px;width: 88px;height: 99px;z-index: 40;cursor: pointer;}
@keyframes ani_hand{0%{transform:translateY(-1000px)}100%{transform:translateY(0);opacity:1}}@-webkit-keyframes ani_hand{0%{-webkit-transform:translateY(-1000px)}100%{-webkit-transform:translateY(0);opacity:1}}
.animate .ani_hand{-webkit-animation:ani_hand 1s ease 10s both;animation:ani_hand 1s ease 10s both;display: block;}
@keyframes ani_btn{0%{transform:scale(1.1);opacity:1}50%{transform:scale(1.4)}100%{transform:scale(1.1);opacity:1}}@-webkit-keyframes ani_btn{0%{-webkit-transform:scale(1.1);opacity:1}50%{-webkit-transform:scale(1.4)}100%{-webkit-transform:scale(1.1);opacity:1}}
.animate .ani_btn{-webkit-animation:ani_btn 1s ease 11s infinite;animation:ani_btn 1s ease 11s infinite;opacity: 0;}
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@-moz-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@-o-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@-ms-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
.moving_item_bg{width: 106%;height: 1078px;background: url(../images/t_fbg.png) no-repeat top center;position: absolute;top: 0;left: 0;}
.moving_item_you{width: 100%;height: 1078px;background: url(../images/time_bg.jpg) no-repeat top center;position: absolute;top: 0;left: 0;}
.ani_hide{
	animation:fadeOutLeft 2s ease 0s both;
	-webkit-animation:fadeOutLeft 2s ease 0s both;
	-moz-animation:fadeOutLeft 2s ease 0s both;
	-o-animation:fadeOutLeft 2s ease 0s both;
	-ms-animation:fadeOutLeft 2s ease 0s both;
}
@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@-moz-keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.star01{position: absolute;left: 0;bottom: 0;-webkit-animation:stars 5s linear 0.2s infinite;animation:stars 5s linear 0.2s infinite;}
@keyframes t_circle{0%{transform:scale(1);opacity:0;}50%{transform:scale(.5);opacity:1;}100%{transform:scale(1);opacity:0;}}
.t_circle{position: absolute;left: 0;top: 0;width: 100%;-webkit-animation:t_circle 5s linear 0.2s infinite;animation:t_circle 5s linear 0.2s infinite;}
@keyframes stars{0%{transform:scale(1);opacity:0.8;}50%{transform:scale(.9);opacity:1;}100%{transform:scale(1);opacity:0.8;}}
.star03{position: absolute;right: 0;bottom: 0;}
.dis_01{top:50%;left:41%;width:41px;height:34px;position:absolute;z-index:1;-webkit-animation:dis_01 5s linear 0s infinite;animation:dis_01 5s linear 0s infinite;}
.dis_02{top:68%;left:0;width:99px;height:66px;position:absolute;z-index:1;-webkit-animation:dis_02 12s linear 0s infinite;animation:dis_02 12s linear 0s infinite;}
.dis_03{top:68%;left:28%;width:56px;height:24px;position:absolute;z-index:5;-webkit-animation:dis_03 6s linear 0s infinite;animation:dis_03 6s linear 0s infinite;}
.dis_04{top:78%;left:50%;width:99px;height:53px;position:absolute;z-index:10;-webkit-animation:dis_04 5s linear 0s infinite;animation:dis_04 5s linear 0s infinite;}
.dis_05{top:400px;left:500px;width:17px;height:16px;position:absolute;z-index:5;-webkit-animation: stars_1 4s linear 0s infinite;animation: stars_1 4s linear 0s infinite;}
@-webkit-keyframes dis_01{0%{margin:315px 0 0 -55px;}50%{margin:315px 0 0 -35px;}100%{margin:315px 0 0 -55px;}}
@keyframes dis_01{0%{margin:315px 0 0 -55px;}50%{margin:315px 0 0 -35px;}100%{margin:315px 0 0 -55px;}}
@-webkit-keyframes dis_02{0%{margin:-510px 0 0 280px;}25%{margin:-510px 0 0 260px;}50%{margin:-490px 0 0 260px;}75%{margin:-490px 0 0 280px;}100%{margin:-510px 0 0 280px;}}
@keyframes dis_02{0%{margin:-510px 0 0 280px;}25%{margin:-510px 0 0 260px;}50%{margin:-490px 0 0 260px;}75%{margin:-490px 0 0 280px;}100%{margin:-510px 0 0 280px;}}
@-webkit-keyframes dis_03{0%{margin:-200px 0 0 -380px;}50%{margin:-220px 0 0 -400px;}100%{margin:-200px 0 0 -380px;}}
@keyframes dis_03{0%{margin:-200px 0 0 -380px;}50%{margin:-220px 0 0 -400px;}100%{margin:-200px 0 0 -380px;}}
@-webkit-keyframes dis_04{0%{margin:-90px 0 0 350px;}50%{margin:-90px 0 0 380px;}100%{margin:-90px 0 0 350px;}}
@keyframes dis_04{0%{margin:-90px 0 0 350px;}50%{margin:-90px 0 0 380px;}100%{margin:-90px 0 0 350px;}}
@-webkit-keyframes stars_1{0%{-webkit-transform:rotateZ(0deg);opacity:1;}50%{-webkit-transform:rotateZ(180deg);opacity:0;}100%{-webkit-transform:rotateZ(360deg);opacity:1;}}
@keyframes stars_1{0%{transform:rotateZ(0deg);opacity:1;}50%{transform:rotateZ(180deg);opacity:0;}100%{transform:rotateZ(360deg);opacity:1;}}
.star02{position: absolute;width: 365px;height: 270px;right: 0;top: 50%;}
.stars_04{width:32px;height:32px;-webkit-animation:stars_02 5s linear 0s infinite;animation:stars_02 5s linear 0s infinite;position: absolute;right: 200px;top:68%}
@-webkit-keyframes stars_02{0%{-webkit-transform:rotateZ(0deg);opacity:1;}50%{-webkit-transform:rotateZ(180deg);opacity:0;}100%{-webkit-transform:rotateZ(360deg);opacity:1;}}
@keyframes stars_02{0%{transform:rotateZ(0deg);opacity:1;}50%{transform:rotateZ(180deg);opacity:0;}100%{transform:rotateZ(360deg);opacity:1;}}
@-webkit-keyframes stars_03{0%{-webkit-transform:rotateZ(0deg);opacity:0;}50%{-webkit-transform:rotateZ(180deg);opacity:1;}100%{-webkit-transform:rotateZ(360deg);opacity:0;}}
@keyframes stars_03{0%{transform:rotateZ(0deg);opacity:0;}50%{transform:rotateZ(180deg);opacity:1;}100%{transform:rotateZ(360deg);opacity:0;}}
.stars_05{left: 500px;top: 60%}
.stars_06{right: 280px;top: 60%;animation-delay:2s;}
.stars_07{right: 220px;top: 58%;animation-delay:1s;}
.stars_08{right: 180px;top: 65%;animation-delay:2.5s;}
.i_msg{width: 924px;height:82px;margin:0 auto 33px;background: url(../images/ico.png) no-repeat;}



.i-con .i-main1{
	margin-top: 410px;
	height: 166px;
}
.i-con .i-main1 .i-gift{
	width: 166px;
	height: 166px;
	float: right;
	display: block;
	margin-right: 39px;
	background: url(../images/i-gift.png) no-repeat;
}
.i-con .i-main1 .i-ewm-down{
	width: 166px;
	height: 166px;
	float: right;
	display: block;
	margin-right: 17px;
}
.i-con .i-main1 .i-down{
	width: 166px;
	height: 166px;
	float: right;
	margin-right: 17px;
	overflow: hidden;
}
.i-down a{
	display: block;
	width: 131px;
	height: 36px;
	margin-bottom: 29px;
}
.i-con .i-main1 .i-down .i-down-ios{
	background: url(../images/down-ios.png) no-repeat;
}
.i-con .i-main1 .i-down .i-down-and{
	background: url(../images/down-and.png) no-repeat;
}
.i-down a.i-tap{
    background: url(../images/tap_btn.png) no-repeat;
}
.i-con .i-main{
	width: 1196px;
	height: 724px;
	margin-top: 10px;
	border: 2px solid #1F5A87;
}
.i-con .i-main .i-main2{
	width: 100%;
	overflow: hidden;
}
.i-con .i-main .i-main2 .i-lb{
	width: 592px;
	height: 380px;
	float: left;
	overflow: hidden;
	margin-left: 3px;
	margin-top: 3px;
	position: relative;
}
.i-con .i-main .i-main2 .i-lb ul{
	position: absolute;
	top: 0;
}
.i-con .i-main .i-main2 .i-lb ul li{
	width: 592px;
	height: 380px;
	float: left;
}
.i-con .i-main .i-main2 .i-lb ul li a{
	width: 100%;
	height: 100%;
	display: block;
} 
.i-con .i-main .i-main2 .i-lb ul li a img{
	width: 592px;
	height: 380px;
	display: block;
}
.i-con .i-main .i-main2 .i-lb .buttons{
	position: absolute;
	right: 15px;
	bottom: 15px;
	height: 21px;
	padding: 0 3px;
	background: #1F5886;
	text-align: center;
}
.i-con .i-main .i-main2 .i-lb .buttons span{
	display: inline-block;
	width: 13px;
	height: 13px;
	margin: 4px 4.5px;
	background: #fff;
}
.i-con .i-main .i-main2 .i-lb .buttons span.on{
	background: #37A8FF;
}
.i-con .i-main .i-main2 .i-news{
	width: 592px;
	height: 380px;
	float: right;
	background: #1D2332;
	overflow: hidden;
	margin-top: 3px;
	margin-right: 3px;
}
.i-con .i-main .i-main2 .i-news .i-news-nav{
	width: 100%;
	height: 58px;
}
.i-con .i-main .i-main2 .i-news .i-news-nav ul{
	width: 530px;
}
.i-con .i-main .i-main2 .i-news .i-news-nav ul li{
	float: left;
	width: 106px;
	height: 58px;
	background-image: url(../images/icon.png);
	background-color: #1D2332;
	background-position: 0 -220px;
	text-align: center;
	line-height: 58px;
}
.i-con .i-main .i-main2 .i-news .i-news-nav ul li.on,.i-con .i-main .i-main2 .i-news .i-news-nav ul li:hover,.i-con .i-main .i-main2 .i-news .i-news-nav .i-news-more:hover{
	background-image: none;
}
.i-con .i-main .i-main2 .i-news .i-news-nav ul li a{
	font-size: 24px;
	color: #fff;
}
.i-con .i-main .i-main2 .i-news .i-news-nav .i-news-more{
	float: right;
	width: 62px;
	height: 58px;
	background-image: url(../images/icon.png);
	background-color: #1D2332;
	background-position: 0 -220px;
	text-align: center;
	line-height: 58px;
	font-size: 16px;
	color: #fff;
}
.i-con .i-main .i-main2 .i-news .i-news-con{
	width: 546px;
	margin: 0 auto;
	overflow: hidden;
}
.i-con .i-main .i-main2 .i-news .i-news-con .i-news-inf{
	width: 100%;
}
.i-con .i-main .i-main2 .i-news .i-news-con .i-news-inf li{
	width: 100%;
	height: 59px;
	border-bottom: 1px solid #245B88;
	line-height: 59px;
}
.i-con .i-main .i-main2 .i-news .i-news-con .i-news-inf li a{
	font-size: 18px;
	color: #fff;
}
.i-con .i-main .i-main2 .i-news .i-news-con .i-news-inf li a:hover{
	color: #cdcdcd;
}
.i-con .i-main .i-main2 .i-news .i-news-con .i-news-inf li a span{
	display: block;
	width: 380px;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.i-con .i-main .i-main2 .i-news .i-news-con .i-news-inf li a em{
	display: block;
	float: left;
}
.i-con .i-main .i-main2 .i-news .i-news-con .i-news-inf li a i{
	float: right;
	display: block;
	font-style: normal;
}
.i-con .i-main .i-main3{
	width: 100%;
}
.i-con .i-main .i-main3 a{
	display: inline-block;
	width: 280px;
	height: 307px;
	margin: 10px 6px;
	overflow: hidden;
	background: url(../images/i-kuang.png) no-repeat;
}
.i-con .i-main .i-main3 a i{
	display: block;
	width: 160px;
	height: 45px;
	margin: 24px auto 0;
	background-image: url(../images/icon.png);
	background-position: 0 -57px;
}
.i-con .i-main .i-main3 a span{
	display: block;
}
.i-con .i-main .i-main3 a.i-gun i{
	background-position: -175px -57px;
}
.i-con .i-main .i-main3 a.i-shipin i{
	background-position: -359px -57px;
}
.i-con .i-main .i-main3 a.i-image i{
	background-position: -554px -57px;
}
.i-con .i-main .i-main3 a.i-yongbing span{
	width: 202px;
	height: 230px;
	margin: 2px auto;
	background: url(../images/i-yongbing.png) no-repeat;
}
.i-con .i-main .i-main3 a.i-yongbing:hover span{
	width: 204px;
	height: 233px;
	background: url(../images/i-yongbing-on.png) no-repeat;
}
.i-con .i-main .i-main3 a.i-gun span{
	width: 251px;
	height: 212px;
	margin: 20px auto;
	background: url(../images/i-gun.png) no-repeat;
}
.i-con .i-main .i-main3 a.i-gun:hover span{
	width: 251px;
	height: 212px;
	background: url(../images/i-gun-on.png) no-repeat;
}
.i-con .i-main .i-main3 a.i-shipin span{
	width: 248px;
	height: 141px;
	margin: 35px auto;
	background: url(../images/i-shipin.jpg) no-repeat;
}
.i-con .i-main .i-main3 a.i-shipin:hover span{
	width: 248px;
	height: 141px;
	background: url(../images/i-shipin-on.jpg) no-repeat;
}
.i-con .i-main .i-main3 a.i-image span{
	width: 248px;
	height: 141px;
	margin: 35px auto;
	background: url(../images/i-image.jpg) no-repeat;
}
.i-con .i-main .i-main3 a.i-image:hover span{
	width: 248px;
	height: 141px;
	background: url(../images/i-image-on.jpg) no-repeat;
}
.common-media{
	width: 1200px;
	height: 83px;
	margin: 50px auto 10px;
	overflow: hidden;
	text-align: center;
	position: relative;
	z-index: 10;
	background: url(../images/i-kf.png) no-repeat;
}
.art-wrap .common-media{
	margin: 86px auto 16px;
}
.common-media a{
	display: inline-block;
	width: 200px;
	height: 36px;
	margin: 50px 10px 0;
}

.i-footer{
	width: 100%;
	height: 140px;
	background: #1B1B1B;
}
.i-footer .i-fotcon{
	width: 900px;
	height: 140px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}
.i-footer .i-fotcon .i-fot-logo{
	width: 42%;
	height: 110px;
	margin-top: 15px;
	float: left;
	border-right: 1px solid #666666;
	display: block;
	overflow: hidden;
}
.i-footer .i-fotcon .i-fot-logo img{
	display: block;
	float: right;
	margin-right: 35px;
	width: 265px;
	height: 70px;
	margin-top: 20px;
}
.i-footer .i-fotcon .i-fot-text{
	float: left;
	display: block;
	margin-top: 30px;
	padding-left: 60px;
}
.i-footer .i-fotcon .i-fot-text p{
	font-size: 12px;
	line-height: 1.6;
	color: #C5C5C5;
	text-align: left;
}
.i-footer .i-fotcon .i-fot-text p a{
	display: inline-block;
	vertical-align: middle;
	margin: 0 3px;
	color:#C5C5C5;
}
.i-footer .i-fotcon .i-fot-text p a img{
	display: block;
	height: 100%;
}

.tck-gift,.tck-ts{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99999;
	background: rgba(0,0,0,.6);
	display: none;
}
.tck-gift .tck-giftcon{
	width: 284px;
	height: 244px;
	background: #BD4E4E;
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -122px 0 0 -142px;
	border: 2px solid #2867DA;
	padding-top: 1px;
}
.tck-gift .tck-giftcon .tck-gift-close{
	width: 27px;
	height: 27px;
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	cursor: pointer;
	background-image: url(../images/icon.png);
	background-position: -137px -117px;
}
.tck-gift .tck-giftcon .tck-gift-close:hover{
	background-position: -137px -163px;
}
.tck-gift .tck-giftcon .tck-gift-jb{
	width: 77px;
	height: 77px;
	position: absolute;
	left: -2px;
	top: -2px;
	display: block;
	background-image: url(../images/tck-gift-jb.png);
}
.tck-gift .tck-giftcon .tck-gift-ls{
	width: 273px;
	height: 15px;
	position: absolute;
	left: 50%;
	bottom: 5px;
	margin-left: -136.5px;
	display: block;
	background: url(../images/tck-gift-ls.png) no-repeat;
}
.tck-gift .tck-giftcon .tck-gift-solgan{
	width: 215px;
	height: 64px;
	margin: 20px auto 0;
	display: block;
	background: url(../images/tck-gift-solgan.png) no-repeat;
}
.tck-gift .tck-giftcon form{
	width: 260px;
	margin: 0 auto;
}
.tck-gift .tck-giftcon form div{
	width: 260px;
	height: 30px;
	line-height: 30px;
	margin: 10px 0 0;
	display: inline-block;
	background: url(../images/tck-gift-input.jpg) no-repeat;
}
.tck-gift .tck-giftcon form div label{
	display: inline-block;
	font-size: 18px;
	color: #8ea9c5;
	font-weight: bolder;
	height: 30px;
	margin-top: -3px;
	margin-left: 3px;
}
.tck-gift .tck-giftcon form div input{
	display: inline-block;
	font-size: 14px;
	color: #8ea9c5;
	border: 0;
	height: 30px;
	margin-top: -3px;
	outline: none;
	background: transparent;
	width: 170px;
}
.tck-gift .tck-giftcon form div.yzm{
	width: 150px;
}
.tck-gift .tck-giftcon form div.yzm input{
	width: 65px;
}
.tck-gift .tck-giftcon form .tck-gift-yzm{
	display: inline-block;
	width: 102px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	margin-top: -4px;
	background: #601717;
	border: 0;
	outline: none;
	font-size: 14px;
	color: #C8C8C8;
}
.tck-gift .tck-giftcon form .tck-gift-yzm:hover{
	background: #450F07;
}
.tck-gift .tck-giftcon .tck-gift-btn{
	width: 137px;
	height: 47px;
	margin: 10px auto;
	display: block;
	background: url(../images/tck-gift-btn.jpg) no-repeat;
}
.tck-gift .tck-giftcon .tck-gift-btn:hover{
	background: url(../images/tck-gift-btnon.png) no-repeat;
}
.tck-ts .tck-tscon{
	width: 456px;
	height: 186px;
	background: #BD4E4E;
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -93px 0 0 -228px;
	border: 2px solid #2867DA;
	padding-top: 1px;
}
.tck-ts .tck-tscon .tck-ts-close{
	width: 27px;
	height: 27px;
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	cursor: pointer;
	background-image: url(../images/icon.png);
	background-position: -137px -117px;
}
.tck-ts .tck-tscon .tck-ts-close:hover{
	background-position: -137px -163px;
}
.tck-ts .tck-tscon p{
	width: 96%;
	margin: 40px auto 20px;
	font-size: 16px;
	color: #fff;
	line-height: 1.6;
	text-align: center;
}
.tck-ts .tck-tscon span{
	display: block;
	width: 103px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	background: #4A252D;
	font-size: 14px;
	color: #fff;
	margin: 10px auto;
	border: 1px solid #307EB0;
	cursor: pointer;
}
.tck-ts .tck-tscon span:hover{
	background: #6F0018;
}


.item-nav{
	width: 1196px;
	height: 89px;
	margin: 48px auto 5px;
	border: 2px solid #1F5A87;
	position: relative;
	z-index: 10;
	text-align: center;
}
.item-nav a{
	display: inline-block;
	width: 160px;
	height: 45px;
	margin: 27px 60px 0;
	background-image: url(../images/icon.png);
}
.item-nav a.yongbing{
	background-position: 0 0;
}
.item-nav a.gun{
	background-position: -175px 0;
}
.item-nav a.shipin{
	background-position: -359px 0;
}
.item-nav a.image{
	background-position: -554px 0;
}
.item-nav a.yongbing.on{
	background-position: 0 -57px;
}
.item-nav a.gun.on{
	background-position: -175px -57px;
}
.item-nav a.shipin.on{
	background-position: -359px -57px;
}
.item-nav a.image.on{
	background-position: -554px -57px;
}


.layer{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 999999;
	background: rgba(0,0,0,.6);
	display: none;
}
.layer .layercon{
	position: fixed;
	width: 706px;
	height: 396px;
	left: 50%;
	top: 50%;
	margin: -198px 0 0 -353px;
	border: 2px solid #01D9F7;
}
.layer .layercon img{
	display: block;
	width: 100%;
	height: 100%;
}
.layer .layercon .layer-close{
	width: 40px;
	height: 40px;
	position: absolute;
	right: -42px;
	top: -2px;
	display: block;
	cursor: pointer;
	background-image: url(../images/icon.png);
	background-position: -350px -220px;
}
.layer .layercon .prev{
	width: 64px;
	height: 69px;
	position: absolute;
	right: -80px;
	top: 50%;
	margin-top: -34.5px;
	display: block;
	cursor: pointer;
	background-image: url(../images/icon.png);
	background-position: -265px -220px;
}
.layer .layercon .next{
	width: 64px;
	height: 69px;
	position: absolute;
	left: -80px;
	top: 50%;
	margin-top: -34.5px;
	display: block;
	cursor: pointer;
	background-image: url(../images/icon.png);
	background-position: -165px -220px;
}
.layer .layercon .prev:hover{
	background-position: -265px -301px;
}
.layer .layercon .next:hover{
	background-position: -165px -301px;
}

/*视频*/
#video_mask,.mask{ width: 100%;height: 100%; background: url(../common/images/d.png); position: fixed;top: 0; left: 0;z-index: 1000;display: none;}
#video_tck{ width: 100%;height: 100%; background: url(../common/images/d.png); position: fixed;top: 0; left: 0;z-index: 100;display: none;}
#close {z-index: 999999; width: 30px; height: 30px; position: absolute; top: -30px; right: -30px; background: url(../common/images/c.png) no-repeat;cursor: pointer;}
#player5{ width: 714px; height: 378px; position: relative; left: 50%;top: 50%;margin: -189px 0 0 -357px;}
.videos{ width: 714px; height: 378px; background: #fff; margin: 20px auto; clear: both; overflow: hidden;}
.videos embed { display: block; width: 696px; height: 358px; margin: 9px;}
/*分页*/
/*.page {margin: 30px 0 50px;}
.number {font-size: 18px;text-align: center;}
ul#yw0 {display: inline-block;padding-left: 0;}
.page ul li { display: inline-block;background: #182439;width: 28px;height: 26px;}
.page ul li.prev,.page ul li.next,.page ul li.first,.page ul li.last{width: 62px;}
.page ul li.on,.page ul li:hover{background: #2658AF;}
.page ul li a {color: #fff;font-size: 14px;margin: 2px;padding:1px;}
.page ul li a:hover, .page ul li.on a {color: #fff;}
.page li.cur a{color:#fff}*/

.news_con,.art_con,.s_con,.yb_con{width: 1000px;position: relative;margin:20px auto 0;z-index: 111;}
.yb_con{height: 946px;}
.news_con{height: 897px;}
.n_banner{width: 100%;margin: 0 auto;z-index: 2;position: relative;}
.new_wrap .n_banner,.art_wrap .n_banner{height: 1172px;background: url(../images/new_bg.jpg) no-repeat top center;}
.new_wrap .i-footer,.art_wrap .i-footer{position: absolute;bottom: 0;background: none;z-index: 50;}
.n_til{padding: 30px 80px 0;width: 999px;height: 92px;background: url(../images/l-navbg.png) no-repeat;}
.n_til ul{margin-bottom: 38px;height: 43px;width: 100%;}
.n_til ul li{font-size: 24px;float: left;text-align: center;height: 43px;position: relative;}
.news_con ul.n_til_ul li,.art_con .n_til ul li{width: 55px;margin-right: 62px;}
.n_til ul li a{color: #fff;display: block;width: 100%;height: 43px;}
.n_til ul li a.on{border-bottom: 2px solid #faa40e;}
.n_til ul li a:hover,.news_con .n_til ul li a:hover i,.news_con .n_til ul li .on,.news_con .n_til ul li .on i,.s_con .n_til ul li .active,.s_con .n_til ul li .active i,.art_con .n_til ul li .active,.art_con .n_til ul li .active i{color: #faa40e;display: block;}
.n_til ul li a i{display: none; background: url(../images/yb_sj.png) no-repeat;width: 13px;height: 7px;position: absolute;left: 50%; margin-left: -6.5px;bottom: 0;}
.n_til ul li a.on i{display: block}
.n_search a,.n_search input{display: block;float: left;}
.n_search a,.n_search input{color: #757575;font-size: 14px;height: 33px;line-height: 33px; border: 1px solid #072659;}
.n_search .n_s_text{width: 362px;padding: 0 18px;background: url(../images/n_s_bg01.png) repeat;}
.n_search input::-webkit-input-placeholder {color: #757575 !important;}
.n_search input:-moz-placeholder {color: #757575 !important;}
.n_search input::-moz-placeholder {color: #757575 !important;}
.n_search input:-ms-input-placeholder {color: #757575 !important;}
.n_search .n_s_sel{width: 110px;background: url(../images/n_s_bg02.png) repeat-x;text-align:center;color: #6e8594;}
.n_search .n_s_sel span,.n_search .n_s_sel i{display: inline-block;}
.n_search .n_s_sel i{width: 12px;height: 7px;background: url(../images/n_s_sel.png) no-repeat;margin-left: 10px;}
.n_search .n_s_btn{background: url(../images/n_s_btn.png) no-repeat;width: 105px;height: 37px;position: relative;top:-2px;margin-left: 35px;}
.s_main{padding: 30px 80px;width: 840px;position: relative;height: 700px;background: url(../images/n_botbg.png) no-repeat;background-size: 100% 100%;}
.n_main{min-height: 600px; padding: 30px 80px;width: 840px;position: relative;background: url(../images/n_botbg.png) no-repeat;background-size: 100% 100%;}
.n_main.l_main{padding: 30px 80px;width: 840px;position: relative;height: 700px;background: url(../images/n_botbg.png);border: 1px solid #00D0F6;}

.n_main ul.n_infor_ul li{width: 100%;height: 60px;line-height: 60px;border-bottom: 1px dashed #faa40e;color: #fff}
.n_main ul.n_infor_ul li:last-child{border-bottom: none;}
.n_main ul.n_infor_ul li a{display: block;color: #fff;float: left;width: 82%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.n_main ul.n_infor_ul li a:hover{color: #cdcdcd;}
.n_main ul.n_infor_ul li span{float: right;}
.n_main .n_infor{display: none;}
.page{position: absolute;bottom: -50px;width: 100%;left: 0;text-align: center;}
.v_main .page{bottom: 0;}
.page a{display: inline-block;width: 32px;height: 32px;margin: 0 5px;line-height: 32px;text-align: center;font-size: 18px;color: #7ab0d9;}
.page a:hover,.page a.active{color: #faa40e;}
.page .n_pre{background: url(../images/n_s_pre.png) no-repeat;vertical-align: middle;}
.page .n_next{background: url(../images/n_s_next.png) no-repeat;vertical-align: middle;}

/*分页*/
.n_list_page {position: absolute;bottom: -50px;width: 100%;left: 0;text-align: center;}
.n_list_page .number {font-size: 18px;text-align: center;width: 100%;}
ul#yw0 {display: block;width: 100%;}
.n_list_page ul li { display: inline-block;}
.n_list_page ul li a {color: #7ab0d9;font-size: 14px;margin: 2px;padding:3px 10px;}
.n_list_page li.cur a,.n_list_page ul li a:hover,.n_list_page ul li.active a{color:#faa40e}
.n_list_page ul li.prev{width: 67px;height: 26px;}
.n_list_page ul li.next{width: 67px;height: 26px;}
.n_list_page ul li.prev a,.n_list_page ul li.next a{color: #7ab0d9;}
.n_list_page ul li.prev:hover a,.n_list_page ul li.next:hover a{color: #faa40e;}

.n_select{position: absolute;width: 110px;height: 90px;background: #ecf1f4;text-align: center;display: none;left:481px;top:145px;z-index: 200}
.n_search .n_select ul{height: 52px;}
.n_search .n_select ul li{border: 0;display: block;font-size: 15px;height: 30px;line-height: 30px;width: 100%;color: #6e8594;}
.n_search .n_select ul li i{width: 80px;background: url(../images/n_s_line02.png) no-repeat;height: 1px;display: block;margin:0 auto;}
/*.art_con{height: 1500px;}*/
.art_wrap .n_banner{background: url(../images/art_bg.jpg) no-repeat top center;height: 1500px;}
#scroll_bd{width: 850px;}
.art_con .n_main{background: url(../images/n_botbg.png) repeat;border: 1px solid #00D0F6;}
.art_con .n_main .p_title{color: #fff;font-size: 18px;color:#faa40e;}
.art_con .n_main .p_title a{color: #fff}
.art_con .n_main .p_title a:hover{color: #faa40e}
.art_con .n_main .h_title{border-bottom: 1px dashed #e99c15;padding-bottom: 15px;margin-top: 55px;}
.art_con .n_main .h_title h3{color: #faa40e;font-size: 32px;margin-bottom: 10px;text-align: center;}
.art_con .n_main .h_title span{display: block;color: #fff;font-size: 18px;text-align: center;}
.art_con .n_main .art_main{color: #fff;margin:0 auto;}
.art_con .n_main .art_main p{font-size: 18px;text-indent: 2em;line-height: 34px;}
.art_con .n_main .art_main img{max-width: 516px;display: block;margin:20px auto;}
.v_ico_l,.v_ico_r{height: 60px;position: absolute;display: block;z-index: 50;}
.v_ico_l{background: url(../images/v_span_t.png) no-repeat;width: 123px;top:0;left: 0;}
.v_ico_r{background: url(../images/v_span_b.png) no-repeat;width: 140px;bottom:60px;right: 0;}
.v_main{width: 856px;margin:0 auto;overflow: hidden;}
.v_main ul{width: 890px;}
.v_main ul li{float: left;width: 264px; margin-top: 28px; height: 182px;float: left;color: #faa40e;font-size: 16px;text-align: center;margin-right: 32px;}
.v_main ul li a{color: #faa40e;position: relative;}
.v_main ul li a i{background: url(../images/ico-video.png) no-repeat;width: 100px;height: 100px;position: absolute;left: 50%;margin-left: -50px;top: 25.5px;display: block;z-index: 10;}
.v_main ul li img{border:1px solid #01d0f6;display: block;margin-bottom: 10px;width: 263px;height: 149px;}
.s_con ul li{margin-right: 30px;}

.v_main.image_main ul{width: 890px;}
.v_main.image_main ul a{display: block; float: left;width: 264px; margin-top: 28px; height: 182px;float: left;color: #faa40e;font-size: 16px;text-align: center;margin-right: 32px;}
.v_main.image_main ul a{color: #faa40e;position: relative;}
.v_main.image_main ul img{border:1px solid #01d0f6;display: block;margin-bottom: 10px;width: 262px;height: 149px;}

/* .s_main .s_infor ul li{width: 100%;height: 126px;border-bottom: 1px dashed #faa40e;padding-bottom: 14px;margin-bottom: 15px;}
.s_main .s_infor ul li:last-child{border-bottom:none;}
.s_main .s_infor ul li img{width: 218px;height: 126px;display: block;float: left;margin-right: 20px;}
.s_main .s_infor ul li .s_right{float: left;width: 71%;position: relative;height: 126px;}
.s_main .s_infor ul li .s_right h3{color: #faa40e;margin:10px 0 15px;font-size: 18px;}
.s_main .s_infor ul li .s_right p{color: #fff;margin:10px 0 15px;font-size: 15px;}
.s_main .s_infor ul li .s_right .more{color: #faa40e;font-size: 18px;position: absolute;bottom: 0;left: 0;}
.s_main .s_infor ul li .s_right .more i{background: url(../images/s_ico.png) no-repeat;width: 16px;height: 11px; margin-left: 5px; display: inline-block;}
 */
.s_main .s_infor ul li{width: 100%;height:60px;border-bottom: 1px dashed #faa40e;line-height:60px;}
.s_main .s_infor ul li:last-child{border-bottom:none;}
.s_main .s_infor ul li a{position:relative;padding-right:130px;display:block;padding-left:0;color:#fff;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.s_main .s_infor ul li span{position:absolute;right:0;top:0;}



.yb_til{background: url(../images/yb_tilbg.png) no-repeat top center;width: 960px;height: 80px;margin-top: 20px;}
.yb_til ul li{font-size: 18px;margin: 0 5px;position: relative;height: 50px;line-height: 50px;display: inline-block;}
.yb_til ul{width: 960px;margin:0 auto;padding-top: 10px;text-align: center;}
.yb_til ul li a{color: #9a9a9a;display: block;}
.yb_til ul li a i{display: none; background: url(../images/yb_sj.png) no-repeat;position: absolute;width: 13px;height: 7px;left: 50%;margin-left: -6.5px;bottom:-2px;}
.yb_til ul li a.active,.yb_til ul li a.active i{display: block; color: #faa40e;border-bottom: 2px solid #faa40e;}
.js_til{width: 318px;height: 540px;position: relative;float: right;margin-top: 55px;}
.js_til ul{width: 318px;position: relative;left: 9px;top: 18px;}
.js_til ul li{float: left;margin-left: 10px;margin-bottom: 7px;}
.js_til ul li a{display: block;width: 140px;height: 140px;}
.js_til ul li a img{width: 128px;height: 128px;display: block;border:1px solid #02cef4;margin:0 auto;position: relative;top:5px;}
.js_til ul li .on{background: url(../images/y_libg.png) no-repeat;width: 140px;}
.js_img{position: absolute;width: 722px;height: 514px;left: 0;top: 0;}
.y_i_con{position: absolute;left:55px;top:138px;}
.y_i_con a.js_a{display: none;}
.yb_con .page{bottom:10px;}
/*.yb_til.jx_til ul{width: 588px;}*/


/*双十二*/
.p-bg{
	width: 100%;
	height: 6730px;
}
.p-bg > div{
	height: 713px;
	display: block;
	overflow: hidden;
}
.p-bg .p-bg01{
	background: url(../images/p-bg01.jpg) no-repeat top center;
}
.p-bg .p-bg02{
	background: url(../images/p-bg02.jpg) no-repeat top center;
}
.p-bg .p-bg03{
	background: url(../images/p-bg03.jpg) no-repeat top center;
}
.p-bg .p-bg04{
	background: url(../images/p-bg04.jpg) no-repeat top center;
}
.p-bg .p-bg05{
	background: url(../images/p-bg05.jpg) no-repeat top center;
}
.p-bg .p-bg06{
	background: url(../images/p-bg06.jpg) no-repeat top center;
}
.p-bg .p-bg07{
	background: url(../images/p-bg07.jpg) no-repeat top center;
}
.p-bg .p-bg08{
	background: url(../images/p-bg08.jpg) no-repeat top center;
}
.p-bg .p-bg09{
	background: url(../images/p-bg09.jpg) no-repeat top center;
}
.p-bg .p-bg10{
	height: 400px;
	background: url(../images/p-bg10.jpg) no-repeat top center;
}
.pcon{
	width: 1200px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -600px;
	padding-top: 1px;
}
.pcon .p-main1{
	width: 100%;
	margin-top: 1000px;
}
.pcon .p-main1 .p-prizebox{
	width: 640px;
	height: 671px;
	position: relative;
	float: left;
	margin-left: 0;
	margin-top: 70px;
	background: url(../images/p-prizebg.png) no-repeat;
}
.p-prize{
	width: 476px;
	height: 476px;
	position: absolute;
	right: 84px;
	top: 83px;
	z-index: 1;
	background: url(../images/p-prize.png) no-repeat;
}
.p-prize-jt{
	width: 476px;
	height: 476px;
	position: absolute;
	right: 84px;
	top: 83px;
	z-index: 2;
	background: url(../images/p-prize-jt.png) no-repeat;
}
.p-prize-btn{
	width: 135px;
	height: 135px;
	position: absolute;
	right: 255px;
	top: 253px;
	z-index: 3;
}
.p-right{
	float: right;
	margin-right: -30px;
}
.p-sign{
	padding-right: 30px;
	text-align: right;
	font-size: 23px;
	color: #fff;
	margin: 50px 0 40px;
}
.p-signed a{
	color: #47c6f5;
}
.p-signed{
	padding-right: 30px;
	text-align: right;
	font-size: 23px;
	color: #fff;
	margin: 50px 0 40px;
}
.p-sign a{
	color: #47c6f5;
}
.p-rinf{
	width: 564px;
	height: 584px;
	padding-top: 60px;
	background: url(../images/p-jsbg.png) no-repeat;
}
.p-rinf h3{
	width: 470px;
	margin-left: 40px;
	font-size: 22px;
	color: #fff;
	text-align: center;
	line-height: 2;
}
.p-rinf p{
	font-size: 20px;
	color: #aae7fe;
	width: 470px;
	line-height: 1.6;
	margin-left: 40px;
	padding: 0 12px;
	box-sizing: border-box;
}
.p-main2{
	width: 100%;
}
.p-main2 img{
	width: 1442px;
	display: block;
	margin-left: -140px;
}
.p-main3{
	width: 100%;
	margin-top: 100px;
	text-align: center;
}
.p-main3 img{
	display: inline-block;
	width: 296px;
	height: 75px;
}
.p-tack{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.8);
	z-index: 9999;
	display: none;
}
.p-tprize{
	width: 532px;
	height: 369px;
	position: fixed;
	left: 50%;
	top: 50%;
	overflow: hidden;
	margin: -184.5px 0 0 -261px;
	background: url(../common/images/p-tprize.png) no-repeat;
}
.p-tpimg{
	width: 130px;
	height: 155px;
	margin: 48px auto 12px;
	padding: 12px 15px;
	box-sizing: border-box;
	text-align: center;
	border-radius: 16px;
	background: rgba(2,54,74,.3);
}
.p-tpimg img{
	display: block;
	width: 100%;
}
.p-tpimg p{
	font-size: 18px;
	line-height: 2;
	color: #1a364a;
}
.p-tpcode{
	font-size: 18px;
	color: #1a364a; 
	text-align: center;
}
.p-tpcode p{
	display: inline-block;
	width: 309px;
	height: 32px;
	background: #fff;
	border-radius: 16px;
	line-height: 32px;
	vertical-align: middle;
}
.p-tpbot{
	width: 100%;
	text-align: center;
	font-size: 18px;
	color: #1a364a; 
	margin-top: 20px;
}
.p-tsign{
	width: 532px;
	height: 257px;
	position: fixed;
	left: 50%;
	top: 50%;
	overflow: hidden;
	overflow: hidden;
	margin: -128.5px 0 0 -261px;
	background: url(../common/images/p-signbg.png) no-repeat;
}
.p-tsign-close{
	width: 42px;
	height: 37px;
	position: absolute;
	right: 18px;
	top: 18px;
	cursor: pointer;
	display: block;
}
.p-tsign form{
	width: 394px;
	font-size: 18px;
	margin: 60px auto 0;
}
.p-tsign form div{
	width: 100%;
	height: 38px;
	line-height: 38px;
	background: #fff;
	color: #000;
	border-radius: 4px;
	margin-bottom: 13px;
	border-radius: 4px;
}
.p-tsign form div input{
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
	outline: none;
	box-sizing: border-box;
	padding-left: 18px;
	background: transparent;
}
.p-tsign form div input.yzm{
	width: 235px;
	float: left;
}
.p-tsign form div .yzmbtn{
	width: 159px;
	display: block;
	height: 38px;
	float: left;
	color: #fff;
	background: #003A3B;
	border-radius: 4px;
	text-align: center;
}
.p-tsign-btn{
	width: 131px;
	height: 37px;
	display: block;
	background: #003A3B;
	text-align: center;
	line-height: 37px;
	font-size: 18px;
	color: #fff;
	border-radius: 4px;
	margin: 24px auto;
}
.p-ewm{
	width: 227px;
	height: 164px;
	position: fixed;
	left: 50px;
	top: 50%;
	margin-top: -81px;
	z-index: 10;
	overflow: hidden;
	background: url(../images/p-ewm.png) no-repeat;
}

/*双十二抽奖入口*/
.prize_shadow{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: url(../common/images/d.png);
	z-index: 99999;
	display: block;
}
.prize_enter{
	width: 946px;
	height: 663px;
	background: url(../images/prize_enter.jpg);
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -331px -473px;
	z-index: 99999;
	display: block;
}
.prize_con a{
	width: 207px;
	height: 168px;
	display: block;
	float: left;
	margin-right: 13px;
	margin-bottom: 58px;

}
.prize_enter a.prize_close{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 8px;
	right: 14px;
}
.prize_con{
	width: 460px;
	height: 395px;
	position: absolute;
	bottom:36px;
	right: 12px; 
}
.qt_yy_btn{
    width: auto;
    height: auto;
    position: fixed;
    top: 320px;
    right: 0;
    z-index: 100;
}