<div class="float">
    <a href="javascript:;" class="close"></a>
					<div class="d_float">
						<div class="c_code">
							<div class="chengg"></div>
							<img src="" alt="" class="js_jump_img"/>
						</div>
						<p></p>
						<div class="down_btn2">
						
						<a href="javascript:;" class="and js_down_ios stat_ios" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/ios_btn.png?{$smarty.const.VERSION}" alt=""></a>
						<a href="javascript:;" class="ios js_down_andriod stat_android" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/and_btn.png?{$smarty.const.VERSION}" alt=""></a>
						<a href="https://www.taptap.com/app/134939" class="tap stat_tap" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/tap_btn.png?{$smarty.const.VERSION}" alt=""></a>
						</div>
						<div class="return_top">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/top.png?{$smarty.const.VERSION}" alt="">
							<p></p>

						</div>
					</div>
				</div>