* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}
body {
  min-width: 1200px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.slide {
  animation-delay: .5s;
  -webkit-animation-delay: .5s;
}
.bg {
  width: 100%;
  position: relative;
}
.bg .light {
  height: 2600px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  animation: shoe 2s linear infinite;
  -webkit-animation: shoe 2s linear infinite;
}
.bg .leaf {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
  left: 80px;
}
.center {
  position: relative;
  width: 100%;
  height: 944px;
  background: url(../images/center3.jpg) no-repeat center;
  background-size: cover;
}
.center .light {
  display: block;
  width: 100%;
  height: 441px;
  position: absolute;
  left: 0;
  top: 0;
}
.center .content {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 22;
}
.center .content .slogan {
  position: absolute;
  top: 267px;
  width: 640px;
  height: 320px;
}
.center .content .point {
  display: block;
  position: absolute;
  top: 35px;
  right: 0px;
}
.center .content .point .point-to {
  width: 290px;
  height: 48px;
  float: right;
}
.center .content .point .point-to .back,
.center .content .point .point-to .download {
  width: 130px;
  height: 44px;
  display: inline-block;
  border: 2px solid rgba(251, 212, 22, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0px;
  letter-spacing: 0px;
  color: #fae70d;
}
.center .content .point .point-to .back a,
.center .content .point .point-to .download a {
  margin-top: 5px;
  width: 119px;
  line-height: 33px;
  height: 33px;
  display: inline-block;
  border: 1px dashed rgba(251, 212, 22, 0.6);
  font-size: 18px;
  letter-spacing: 0px;
  color: #fae70d;
}
.center .content .butter1 {
  position: absolute;
  left: -40px;
  top: 220px;
  -webkit-animation: jump 4s linear infinite alternate;
  animation: jump 4s linear infinite alternate;
}
.center .content .butter2 {
  position: absolute;
  right: -280px;
  top: 430px;
  -webkit-animation: jump 4s linear 1s infinite alternate;
  animation: jump 4s linear infinite 1s alternate;
}
.center .content .sign {
  width: 268px;
  height: 89px;
  position: absolute;
  top: 685px;
  left: 200px;
}
.center .content .sign .sign1 {
  width: 268px;
  height: 89px;
  display: inline-block;
  background: url(../images/sign.png) no-repeat center;
  transition: all .2s ease;
}
.center .content .sign .sign1:hover {
  background: url(../images/sign-down.png) no-repeat center;
}
.center .content .sign .sign2 {
  width: 268px;
  height: 89px;
  display: inline-block;
  background: url(../images/sign-down.png) no-repeat center;
}
.main1 {
  width: 100%;
  min-height: 1052px;
  background: url(../images/main11.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}
.main1 .butter3 {
  position: absolute;
  right: 340px;
  top: -40px;
  -webkit-animation: jump 4s linear 2s infinite alternate;
  animation: jump 4s linear infinite 2s alternate;
}
.main1 .order {
  width: 1146px;
  height: 177px;
  background: url(../images/order.png) no-repeat center;
  margin: 0 auto;
  padding-top: 50px;
}
.main1 .order ul {
  width: 948px;
  height: 90px;
  line-height: 90px;
  margin: 0 auto;
  margin-top: 15px;
}
.main1 .order ul li {
  width: 145px;
  text-align: center;
  margin: 2px 120px 0 0;
  float: left;
  font-size: 22px;
  color: #763b0a;
  font-weight: bold;
}
.main1 .order ul li:last-child {
  margin: 9px 0px 0 0;
}
.main1 .order ul li:nth-child(2) {
  margin: 9px 120px 0 5px;
}
.main1 .title1 {
  width: 604px;
  height: 54px;
  margin: 50px auto;
  margin-bottom: -100px;
}
.main1 .title1 img {
  width: 100%;
  height: 100%;
}
.main1 .plan {
  width: 1470px;
  min-height: 600px;
  margin: 0 auto;
  position: relative;
}
.main1 .plan .jiangshi {
  width: 363px;
  height: 455px;
}
.main1 .plan .jiangshi img {
  width: 100%;
  height: 100%;
}
.main1 .plan .plan-back {
  width: 1202px;
  overflow: hidden;
  min-height: 482px;
  margin: 0 auto;
  padding: 30px 0 40px 0;
  background: url(../images/jiang-back.png) no-repeat center;
  background-size: 100% 100%;
  margin-top: -237px;
  position: relative;
}
.main1 .plan .plan-back .plan-here {
  width: 900px;
  min-height: 392px;
  margin: 15px 0 0 50px;
}
.main1 .plan .plan-back .plan-here .lie1 {
  margin-bottom: 30px;
}
.main1 .plan .plan-back .plan-here .lie1 .lie1-top span {
  font-size: 22px;
  line-height: 0px;
  letter-spacing: 0px;
  color: #f1c81c;
  margin-left: 5px;
}
.main1 .plan .plan-back .plan-here .lie1 .lie1-center {
  margin: 15px 0 0 20px;
}
.main1 .plan .plan-back .plan-here .lie1 .lie1-center span {
  font-size: 18px;
  line-height: 0px;
  letter-spacing: 0px;
  color: #cccccc;
  line-height: 36px;
  display: block;
}
.main1 .plan .plan-back .plan-foot {
  width: 976px;
  height: 34px;
  line-height: 34px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  position: absolute;
  left: 50px;
  bottom: 20px;
}
.main1 .plan .plan-back .plan-foot span {
  font-size: 14px;
  color: #aaaaaa;
}
.main1 .plan .plan-back .plan-foot a {
  font-size: 14px;
  color: #e07e04;
  position: relative;
  z-index: 12;
}
.main1 .plan .elephant {
  position: absolute;
  bottom: 0;
  width: 431px;
  height: 502px;
  bottom: -100px;
  right: 0;
  z-index: 12;
}
.main1 .plan .elephant img {
  width: 100%;
  height: 100%;
}
.main1 .butter4 {
  position: absolute;
  left: 300px;
  bottom: 10px;
  -webkit-animation: jump 4s linear 4s infinite alternate;
  animation: jump 4s linear infinite 4s alternate;
}
.foot {
  width: 100%;
  height: 606px;
  background: url(../images/foot1.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}
.foot .foot-center {
  width: 1470px;
  height: 500px;
  margin: 0 auto;
}
.foot .foot-center .title2 {
  width: 529px;
  height: 54px;
  margin: 0 auto;
}
.foot .foot-center .title2 img {
  width: 100%;
  height: 100%;
  padding-top: 30px;
  margin-left: -20px;
}
.foot .foot-center .wel {
  width: 1500px;
  height: 330px;
  margin-top: 120px;
}
.foot .foot-center .wel .shu {
  width: 479px;
  height: 432px;
  margin-left: -120px;
  float: left;
  z-index: 2;
  position: relative;
}
.foot .foot-center .wel .welfare {
  width: 1100px;
  height: 265px;
  float: left;
  margin-left: -140px;
}
.foot .foot-center .wel .welfare ul {
  margin: -25px 0 20px -10px;
}
.foot .foot-center .wel .welfare ul li {
  text-align: center;
  width: 225px;
  height: 265px;
  background: url(../images/welfare.png) no-repeat center;
  margin-right: 65px;
  float: left;
  position: relative;
  z-index: 10;
}
.foot .foot-center .wel .welfare ul li .num {
  font-size: 20px;
  color: #763c0b;
  display: block;
}
.foot .foot-center .wel .welfare ul li img {
  margin-top: 40px;
  transition: all .8s ease;
}
.foot .foot-center .wel .welfare ul li .num-bot {
  color: #763b0a;
  font-size: 20px;
  width: 100%;
  position: absolute;
  bottom: 25px;
  left: 0;
}
.foot .foot-center .wel .welfare ul li:last-child {
  margin-right: 0;
}
.foot .foot-center .wel .welfare ul li:hover img {
  transform: translate(0, -10px);
}
.foot .foot-center .butter5 {
  position: absolute;
  right: 600px;
  bottom: 120px;
  -webkit-animation: jump 4s linear 5s infinite alternate;
  animation: jump 4s linear infinite 5s alternate;
}
.foot .top {
  position: absolute;
  width: 66px;
  height: 57px;
  display: inline-block;
  left: 50%;
  margin-left: -33px;
  background: url(../images/top.png) no-repeat center;
  z-index: 5;
}
input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.zhe {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 222;
  position: fixed;
  left: 0;
  top: 0;
}
.zhe .login .login-center {
  width: 619px;
  height: 552px;
  position: absolute;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  margin-left: -386px;
  margin-top: -276px;
  background: url(../images/info1.png) no-repeat center;
}
.zhe .login .login-center .butter6 {
  float: left;
  margin: 50px 0 0 320px;
  -webkit-animation: jump 4s linear infinite alternate;
  animation: jump 4s linear infinite alternate;
}
.zhe .login .login-center .delete {
  width: 32px;
  height: 27px;
  display: inline-block;
  float: right;
  margin: 122px 10px 0 0;
}
.zhe .login .login-center .delete img {
  width: 100%;
  height: 100%;
}
.zhe .login .login-center .inp {
  width: 440px;
  height: 292px;
  margin: 222px 0 0 115px;
  position: relative;
}
.zhe .login .login-center .inp .step {
  width: 350px;
  height: 22px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: -2px;
}
.zhe .login .login-center .inp .step .step1 {
  color: #88450b;
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
  height: 26px;
  line-height: 26px;
}
.zhe .login .login-center .inp .step .step1 .step-num {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #88450b;
  font-weight: normal;
  border-radius: 50% ;
  margin-right: 10px;
  color: #88450b;
  font-size: 16px;
  margin-top: -5px;
}
.zhe .login .login-center .inp .step .step2 {
  color: #aaaaaa;
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
  height: 26px;
  line-height: 26px;
}
.zhe .login .login-center .inp .step .step2 .step-num {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #aaaaaa;
  font-weight: normal;
  border-radius: 50% ;
  margin-right: 10px;
  color: #aaaaaa;
  font-size: 16px;
  margin-top: -5px;
}
.zhe .login .login-center .inp .phone {
  width: 440px;
  height: 58px;
  background-color: #f0f0f0;
  border: 1px solid #ffffff;
  outline: none;
  font-size: 16px;
  text-indent: 10px;
  display: block;
}
.zhe .login .login-center .inp .tip1,
.zhe .login .login-center .inp .tip2 {
  width: 440px;
  height: 30px;
  margin-top: -2px;
  visibility: hidden;
}
.zhe .login .login-center .inp .tip1 span,
.zhe .login .login-center .inp .tip2 span {
  font-size: 12px;
  color: #fbd416;
}
.zhe .login .login-center .inp .yanzheng {
  width: 292px;
  height: 58px;
  background-color: #f0f0f0;
  outline: none;
  font-size: 16px;
  border: 1px solid #ffffff;
  text-indent: 10px;
}
.zhe .login .login-center .inp .phone:focus,
.zhe .login .login-center .inp .yanzheng:focus {
  border: 1px solid #D2D385;
}
.zhe .login .login-center .inp .get {
  width: 133px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  border: 2px solid #FBD416;
  display: inline-block;
  float: right;
  color: #f9da2e;
  font-size: 18px;
}
.zhe .login .login-center .inp .next {
  width: 208px;
  height: 62px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -104px;
  background: url(../images/next.png) no-repeat center;
  transition: all .2s ease;
}
.zhe .login .login-center .inp .next:hover {
  background: url(../images/next-down.png) no-repeat center;
}
.zhe .login .login-center .inp .next1 {
  width: 208px;
  height: 62px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -104px;
  background: url(../images/next-down.png) no-repeat center;
}
.zhe2 {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 222;
  position: fixed;
  left: 0;
  top: 0;
}
.zhe2 .login .login-center {
  width: 700px;
  height: 658px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -386px;
  margin-top: -325px;
  background: url(../images/info2.png) no-repeat center;
  background-size: 100% 100%;
}
.zhe2 .login .login-center .butter7 {
  float: left;
  margin: 40px 0 0 290px;
  -webkit-animation: jump 4s linear infinite alternate;
  animation: jump 4s linear infinite alternate;
}
.zhe2 .login .login-center .delete2 {
  width: 32px;
  height: 27px;
  display: inline-block;
  float: right;
  margin: 105px 10px 0 0;
}
.zhe2 .login .login-center .delete2 img {
  width: 100%;
  height: 100%;
}
.zhe2 .login .login-center .dengji {
  width: 590px;
  height: 415px;
  margin: 203px 0 0 75px;
  position: relative;
}
.zhe2 .login .login-center .dengji .step {
  width: 330px;
  height: 22px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.zhe2 .login .login-center .dengji .step .step2 {
  color: #88450b;
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
  height: 26px;
  line-height: 26px;
}
.zhe2 .login .login-center .dengji .step .step2 .step-num {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #88450b;
  font-weight: normal;
  border-radius: 50% ;
  margin-right: 10px;
  color: #88450b;
  font-size: 16px;
  margin-top: -5px;
}
.zhe2 .login .login-center .dengji .step .step1 {
  color: #aaaaaa;
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
  height: 26px;
  line-height: 26px;
}
.zhe2 .login .login-center .dengji .step .step1 .step-num {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #aaaaaa;
  font-weight: normal;
  border-radius: 50% ;
  margin-right: 10px;
  color: #aaaaaa;
  font-size: 16px;
  margin-top: -5px;
}
.zhe2 .login .login-center .dengji .shuru {
  width: 592px;
  height: 215px;
}
.zhe2 .login .login-center .dengji .shuru .info {
  position: relative;
  width: 290px;
  height: 60px;
}
.zhe2 .login .login-center .dengji .shuru .info label {
  width: 64px;
  display: inline-block;
  font-size: 16px;
  color: #f0f0f0;
}
.zhe2 .login .login-center .dengji .shuru .info input {
  width: 210px;
  height: 38px;
  background-color: #f0f0f0;
  border: 1px solid #ffffff;
  text-indent: 10px;
  font-size: 16px;
  color: #333333;
  outline: none;
}
.zhe2 .login .login-center .dengji .shuru .info input:focus {
  border: 1px solid #D2D385;
}
.zhe2 .login .login-center .dengji .shuru .info .tip3 {
  width: 210px;
  top: 38px;
  position: absolute;
  bottom: 0;
  left: 70px;
  visibility: hidden;
}
.zhe2 .login .login-center .dengji .shuru .info .tip3 span {
  font-size: 12px;
  color: #fbd416;
}
.zhe2 .login .login-center .dengji .shuru .sex {
  position: relative;
}
.zhe2 .login .login-center .dengji .shuru .sex input {
  cursor: pointer;
}
.zhe2 .login .login-center .dengji .shuru .sex .down {
  position: absolute;
  top: 15px;
  right: 20px;
}
.zhe2 .login .login-center .dengji .shuru .sex ul {
  width: 212px;
  height: 0;
  z-index: 2;
  position: absolute;
  top: 38px;
  left: 69px;
  overflow: hidden;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
}
.zhe2 .login .login-center .dengji .shuru .sex ul li {
  position: relative;
  background: #ffffff;
  width: 212px;
  height: 38px;
  line-height: 38px;
  border-top: 1px solid #CCCCCC;
  background: #f0f0f0;
  cursor: pointer;
  text-indent: 10px;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
}
.zhe2 .login .login-center .dengji .shuru .sex ul li label {
  display: none;
  position: absolute;
  margin: auto;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 13px;
  height: 10px;
  background: url(../images/point-4.png) no-repeat;
  background-size: cover;
}
.zhe2 .login .login-center .dengji .shuru .sex ul li.active label {
  display: block;
}
.zhe2 .login .login-center .dengji .shuru .sex ul li:active,
.zhe2 .login .login-center .dengji .shuru .sex ul li.active {
  background: #FBD416;
}
.zhe2 .login .login-center .dengji .shuru .sex ul li:last-child {
  border-bottom: 1px solid #CCCCCC;
}
.zhe2 .login .login-center .dengji .shuru .sex ul li:hover {
  background: #FBD416;
}
.zhe2 .login .login-center .dengji .shuru .sex .shoe {
  height: 77px;
}
.zhe2 .login .login-center .dengji .beizhu {
  width: 100%;
  display: block;
}
.zhe2 .login .login-center .dengji .beizhu span {
  font-size: 14px;
  color: #f9d222;
}
.zhe2 .login .login-center .dengji .submit {
  width: 208px;
  height: 62px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -104px;
  background: url(../images/submit.png) no-repeat center;
  transition: all .2s ease;
}
.zhe2 .login .login-center .dengji .submit:hover {
  background: url(../images/submit-down.png) no-repeat center;
}
.zhe2 .login .login-center .dengji .submit1 {
  width: 208px;
  height: 62px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -104px;
  background: url(../images/submit-down.png) no-repeat center;
}
@keyframes jump {
  0% {
    transform: translate3d(0.46875rem, 0.46875rem, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0.46875rem, 0.46875rem, 0);
  }
}
@keyframes shoe {
  0% {
    opacity: .5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}
@keyframes tree {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}
