html,body{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
	overflow: inherit!important;
	height: inherit!important;
}
*{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-appearance : none ;
}
.clear:before,.clear:after{
	content: '';
	clear: both;
	display: table;
}
.clear{
	clear: both;
}
ul{
	margin: 0;
	padding: 0;
}
li{
	list-style:none;
}
.hidden{
	display:none;
}
.wrap {
	/*width: 100%;*/
	/*height: 100%;*/
	/*margin: 0 auto;*/
	/*overflow: hidden;*/
	/*-webkit-transform-origin: top center;*/
	/*transform-origin: top center;*/
	/*position: relative;*/
	/*left: 0;*/
	/*top: 0;*/
	/*z-index: 11;*/
}
.section1{
	position:relative;
}
.section1 .joi-wrap0-img img{
	width: 100%;
}
.section1 .link-btn1 img{
	width: 9.188rem;
	height: 4.625rem;
	position: absolute;
	top: 18.5rem;
}
.section1 .link-btn2 img{
	width: 9.188rem;
	height: 4.625rem;
	position: absolute;
	top: 18.5rem;
	right: .5rem;
}

.font-face{
	position:relative;
	margin: 30px 0 20px 0;
	font-size: 1.1rem;
	color:#333;
	text-align:center;
}
.font-face span{
	display:block;
	font-size: .5rem;
	font-weight:100;
	color:#999;
	letter-spacing: 1px;
}
.font-face:before{
	display: inline-block;
	content: "";
	width: .375rem;
	height: .375rem;
	background: url(../images/titbg01.png);
	background-size: 100%;
	position: absolute;
	left: 6rem;
	top: .36rem;
}
.font-face:after{
	display: inline-block;
	content: "";
	width: .375rem;
	height: .375rem;
	background: url(../images/titbg02.png);
	background-size: 100%;
	position: absolute;
	right: 6rem;
	top: 1.5rem;
}
.section2 .h-welfare-img{
	width:100%;
	margin-bottom: 30px;
}

.h-welfare-tab{
	position: relative;
	width: 20rem;
	height: 12.5rem;
	margin: 0 auto;
	overflow: hidden;
}
.h-welfare-tab li {
	width: 20rem;
	height: 12.5rem;
	float: left;
	position: relative;
}
.h-welfare-tab img {
	width: 20rem;
	height: 12.5rem;
}
.botBtn {
	min-width: 38px;
	position: absolute;
	left: 50%;
	margin-left: -20px;
	bottom: 0;
	height: 26px;
	z-index: 10;
	width: auto;
}
.botBtn span{
	width:15px;
	height: 15px;
	display:inline-block;
	margin: 0 2px;
}
.botBtn span:before{
	display:inline-block;
	float: left;
	content:"";
	width: 8px;
	height: 8px;
	border-radius: 8px;
	background: #ccc;
}
.botBtn span.on:before{
	background:#E40349;
}
.section4 .h-photos-tab .parHd{
	position: relative;
	width: 20rem;
	height: 12.813rem;
	margin: 0 auto;
	overflow: hidden;
}
.section4 .h-photos-tab .slideBox{
	width:auto;
	height:auto;
}
.section4 .h-photos-tab .parHd li {
	width: 20rem;
	height: 12.813rem;
	float: left;
}
.section4 .h-photos-tab .parHd img {
	width: 20rem;
	height: 12.813rem;
}
.section4 .h-photos-tab .parBd {
	width: auto;
	float: left;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	-webkit-transform: translate(-50%);
	margin-bottom:20px;
}
.section4 .h-photos-tab .parBd span {
	width: 4.063rem;
	padding: .125rem 0;
	margin: 0 1rem;
	font-size: .75rem;
	float: left;
	text-align: center;
	color: #535353;
}
.section4 .h-photos-tab .parBd span.on{
	background: #d71341;
	color: #fff;
}
.section4 .h-photos-tab .slideBox ul.hd {
	min-width: 38px;
	width: auto;
	position: absolute;
	left: 50%;
	bottom: 0;
	height: 26px;
	z-index: 10;
	transform:translate(-50%);
	-webkit-transform:translate(-50%);
}
.section4 .h-photos-tab .slideBox .hdhd ul.hd li {
	width: 15px;
	height: 15px;
	display: inline-block;
	margin: 0 2px;
}
.section4 .h-photos-tab .slideBox .hdhd ul.hd li:before{
	display: inline-block;
	float: left;
	content: "";
	width: 8px;
	height: 8px;
	border-radius: 8px;
	background: #ccc;
}
.section4 .h-photos-tab .slideBox .hdhd ul.hd li.on:before {
	background: #E40349;
}
.section5 .develope-img{
	text-align:center;
	margin-top: -2.5rem;
}
.section5 .develope-img img{
	width: 14.688rem;
	margin-bottom: 30px;
}
.section5 .h-welfare-tab,.section5 .h-welfare-tab li,.section5 .h-welfare-tab img{
	width: 20rem;
	height: 24.8rem;
	margin-top: -1rem;
}
.section5 .h-welfare-tab li{
	display: inline-block;
	content: "";
	width: 20rem;
	height: 24.8rem;
	background: url(../images/deve-shadow.png);
	background-size: 100% 100%;
	text-align: center;
}
.section5 .h-welfare-tab img{
	width: 17.5rem;
	height: 17.8rem;
	margin-top: 3rem;
}
.section5 .page{
	position: absolute;
	top: 1rem;
	right: 4rem;
	font-size: .95rem;
	color:#666;
	width: auto;
	height: auto;
}
.section5 .page .allnum{
	color:#ccc;
}
.section5 .botBtn{
	opacity:0;
}
.section6{
	position:relative;
	margin-bottom: 20px;
}
.section6 .link-btn1 img {
	width: 9.188rem;
	height: 4.625rem;
}
.section6 .link-btn2 img {
	width: 9.188rem;
	height: 4.625rem;
	float: right;
	margin-right: .5rem;
}

/*swiper*/
.swiper-pagination-bullet {
	background: #ccc!important;
	opacity: 1!important;
}
.swiper-pagination-bullet-active {
	background:#E40349!important;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
	height: auto!important;
}

/*页面顶部底部*/
.cp_header {
	height: 2.6668rem;
	font-size: 0.906712220011rem;
	line-height:  0.906712220011rem;
}
.cp_header section {
	position: absolute;
	width: 2.6668rem;
	height: 2.6668rem;
}
.cp_header section:nth-child(1) {
	width:2.9334807400371rem;
}

.cp_header section:nth-child(1) img {
	width: 0.613364160008rem;
	height:1.066720260013rem;
	left: 0.586696140007rem;
}
.cp_header section:nth-child(2) img.nav_icon {
	width: 1.173392300015rem;
	height: 0.880044220011rem;
}
.cp_header section:nth-child(2) img.close {
	width: 0.853376220011rem;
	height: 0.853376220011rem;
}
.cp_header .logo {
	width:5.3602693400672rem;
	height:1.360068340017rem;
}

.cp_header ul {
	height: 5.0669212600632rem;
	top: 2.6668006600331rem;
	padding: 0.746704180009rem 0;
}
.cp_header ul li a {
	display: inline-block;
	width: 2.3467845800291rem;
	height: 3.4668408600431rem;
}

.yx_bc_index {
	width: 3.2001608000401rem;
	height: 3.2001608000401rem;
	right: 0.533360140007rem;
	bottom: 3.2001608000401rem;
	border-radius: 3.2001608000401rem;
	box-shadow: 0 0 1.066720260013rem #ff3c5e;
	z-index: 10;
}
.yx_bc_index > p {
	width: 1.760088440022rem;
	height:1.760088440022rem;
	line-height:0.960048240012rem;
	font-size: 0.746704180009rem;
	letter-spacing: 0.053336020001rem;
}

.i_foot {
	padding: 1.440072360018rem 0;
}
.i_foot ul {
	margin: 0 0 0.80004020001rem 0;
}
.i_foot ul li {
	font-size: 0.746704180009rem;
	padding: 0 0.480024120006rem;
}
.i_foot p {
	font-size: 0.625rem;
	margin: 0 0 0.4rem 0;
	color: #878787;
}
.i_foot a{
	color: #878787;
}
.i_foot .a1{
	position: relative;
	color: #878787;
	display: block;
	text-decoration-line: none;
}
.i_foot .a2{
	width: 1.1875rem;
	height: 1.1875rem;
	top: -0.1875rem;
	left: 1.75rem;
	position: absolute;
	background: url(http://cdnstatic.yingxiong.com/common/images/wwwdzbq.png) no-repeat;
	background-size: 100% 100%;
	display: inline-block;
}
.i_foot .a3{
	color: #878787;text-decoration-line: none;
}
.i_foot .a4{
	width:0.875rem;
	height: 0.875rem;
	position: relative;
	top: 0;
	left: 0.25rem;
}
.i_foot .a5{
	display:block;
}