<!DOCTYPE html>
<html>

<head>
    <title>极无双_官网_极无双_手游_攻略_真3D国人无双动作手游</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="Keywords" content="极无双,极无双手游,极无双官网,极无双,极无双手游礼包,真三国无双,真三国无双手游,真三手游,极无双,《极无双》官网,《极无双》官方网站,极无双官网,极无双正式官网,《极无双》官网,极无双手游礼包,极无双,极无双官网,《极无双》官网,《极无双》官方网站,极无双官网,极无双官方网战,《极无双》官网,《极无双》官方网战,横版手游,动作手游,无双手游,三国手游,极无双手游礼包,霸三国,三国志online,三国之刃,太极熊猫,时空猎人,无双剑姬,全民无双,樱花三国,战国BASARA,英雄互娱">
    <meta name="Description" content="《极无双》三国题材无双动作手游，由马伯庸亲自执笔撰写恢宏的世界观架构，秉承无双系列的经典玩法，还原三国武将一骑当千的战斗临场感，打造出性鲜明的三国武将特色，国人研发无双引擎打造极具视觉震撼力的掌上盛宴！">
    <meta name="baidu-site-verification" content="4QTWrEt07K" />
    <link rel="shortcut icon" href="{$smarty.const.STATIC_DOMAIN}6.0/images/favicon.ico">
    <link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}6.0/m/css/public.css?{$smarty.const.VERSION}"/>
    <link href="{$smarty.const.STATIC_DOMAIN}6.0/m/css/swiper-3.4.2.min.css?{$smarty.const.VERSION}" rel="stylesheet">
    <link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}6.0/m/css/index.css?{$smarty.const.VERSION}" />
    <script>
        (function (doc, win) {
            var docEl = doc.documentElement,
            // 手机旋转事件,大部分手机浏览器都支持 onorientationchange 如果不支持，可以使用原始的 resize
                    resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                    recalc = function () {
                        //clientWidth: 获取对象可见内容的宽度，不包括滚动条，不包括边框
                        var clientWidth = docEl.clientWidth;
                        if (!clientWidth) return;
                        docEl.style.fontSize = 16*(clientWidth / 320) + 'px';
                    };

            recalc();
            //判断是否支持监听事件 ，不支持则停止
            if (!doc.addEventListener) return;
            //注册翻转事件
            win.addEventListener(resizeEvt, recalc, false);

        })(document, window);
    </script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?ad567e4b9746e4c328221ee5aa0aa602";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    {csrf}
</head>
<body>
<!--header-->
<header class="header">
    <a href="" class="logo"><img src="{$smarty.const.STATIC_DOMAIN}6.0/m/images/h_logo.png?{$smarty.const.VERSION}" alt=""></a>
    <div class="h_text">
        <p class="h_p01">极无双</p>
        <p class="h_p02">真3D三国动作手游</p>
    </div>
    <a href="" class="h_loadGame js_wap_down" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}6.0/m/images/wrap_loadGame.png?{$smarty.const.VERSION}" alt=""></a>
    <a href="/m/index" class="h_gohome"><img src="{$smarty.const.STATIC_DOMAIN}6.0/m/images/wrap_gohome.png?{$smarty.const.VERSION}" alt=""></a>
</header>
<!--内容-->
<div class="i_main">
    <div>
        <!--第一部分-->
        <div class="videoBtn">
            <a target="_blank" href="javascript:;"><img src="{$smarty.const.STATIC_DOMAIN}6.0/m/images/play.png?{$smarty.const.VERSION}" class="js_video_play" data-url="{$cover_video[0].url}"></a>
        </div>
        <div class="down"></div>
        <!--第二部分-->
        <div class="slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide slide1">
                        <a><img class="images" src="{$smarty.const.STATIC_DOMAIN}6.0/m/images/si01.png?{$smarty.const.VERSION}" alt=""></a>
                    </div>
                    <div class="swiper-slide slide2">
                        <a><img class="images" src="{$smarty.const.STATIC_DOMAIN}6.0/m/images/si02.png?{$smarty.const.VERSION}" alt=""></a>
                    </div>
                    <div class="swiper-slide slide3">
                        <a><img class="images" src="{$smarty.const.STATIC_DOMAIN}6.0/m/images/si03.png?{$smarty.const.VERSION}" alt=""></a>
                    </div>
                    <div class="swiper-slide slide4">
                        <a><img class="images" src="{$smarty.const.STATIC_DOMAIN}6.0/m/images/si04.png?{$smarty.const.VERSION}" alt=""></a>
                    </div>
                    <div class="swiper-slide slide5">
                        <a><img class="images" src="{$smarty.const.STATIC_DOMAIN}6.0/m/images/si05.png?{$smarty.const.VERSION}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="detail_btn"><img src="{$smarty.const.STATIC_DOMAIN}6.0/m/images/btn.png?{$smarty.const.VERSION}" alt=""/></div>
        </div>
    </div>
</div>
<!--弹框-->
<div class="tips hidden">
    <div class="con small">
        <img src="{$smarty.const.STATIC_DOMAIN}6.0/m/images/close.png?{$smarty.const.VERSION}" alt="" class="close">
        <div>
            <img class="hidden" src="{$smarty.const.STATIC_DOMAIN}6.0/m/images/de02.png?{$smarty.const.VERSION}" alt=""/>
            <img class="hidden" src="{$smarty.const.STATIC_DOMAIN}6.0/m/images/de03.png?{$smarty.const.VERSION}" alt=""/>
            <img class="hidden" src="{$smarty.const.STATIC_DOMAIN}6.0/m/images/de04.png?{$smarty.const.VERSION}" alt=""/>
            <img class="hidden" src="{$smarty.const.STATIC_DOMAIN}6.0/m/images/de05.png?{$smarty.const.VERSION}" alt=""/>
            <img class="hidden" src="{$smarty.const.STATIC_DOMAIN}6.0/m/images/de01.png?{$smarty.const.VERSION}" alt=""/>
        </div>
    </div>
</div>
</body>
{include file="../../layouts/wap/footer.html"}
<script src="{$smarty.const.STATIC_DOMAIN}6.0/m/js/jquery-1.11.2.min.js?{$smarty.const.VERSION}"></script>
<script src="{$smarty.const.STATIC_DOMAIN}6.0/m/js/swiper-3.4.2.min.js?{$smarty.const.VERSION}" type="text/javascript"></script>
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}6.0/m/js/js.js?{$smarty.const.VERSION}"></script>
<script>
    var mySwiper = new Swiper('.swiper-container',{
        pagination: '.swiper-pagination',
        paginationClickable: true,
        effect : 'coverflow',
        slidesPerView: 3,
        centeredSlides: false,
        loop:true,
        prevButton:'.swiper-button-prev',
        nextButton:'.swiper-button-next',
        coverflow: {
            rotate:5,
            stretch:-80,
            depth:150,
            modifier:1,
            slideShadows : true
        }
    })
</script>
{download}
{video_play}
</html>