<!DOCTYPE html>
<html lang="en">
    <head>
       <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
      <meta name="keywords" content="量子体育VSPN 乐竞文化传媒（上海）有限公司 量子体育VSPN首页 量子体育VSPN电竞商业化 量子体育VSPN赛事运营 量子体育VSPN节目制作">
      <meta name="description" content="量子体育VSPN（Versus Programming Network）运营国内顶级职业赛事，制作水准超越传统体育；打造游戏、电竞泛娱乐内容，引领行业发展新思路">
      <meta name="format-detection" content="telephone=no"/>
      <title>新闻动态</title>
  <link rel="stylesheet" type="text/css" href="{$smarty.const.STATIC_DOMAIN}1.0/m/css/common.css?{$smarty.const.VERSION}">
        <link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}1.0/m/css/public.css?{$smarty.const.VERSION}">
  <link rel="stylesheet" type="text/css" href="{$smarty.const.STATIC_DOMAIN}1.0/m/css/news_detail.css?{$smarty.const.VERSION}">
  <script src="{$smarty.const.STATIC_DOMAIN}1.0/m/js/jquery-1.11.2.min.js?{$smarty.const.VERSION}"></script>
    <script>
            (function(doc, win) {
                var docEl = doc.documentElement,
                    // 手机旋转事件,大部分手机浏览器都支持 onorientationchange 如果不支持，可以使用原始的 resize
                    resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                    recalc = function() {
                        //clientWidth: 获取对象可见内容的宽度，不包括滚动条，不包括边框
                        var clientWidth = docEl.clientWidth;
                        if(!clientWidth) return;
                        docEl.style.fontSize = 16 * (clientWidth / 320) + 'px';
                    };

                recalc();
                //判断是否支持监听事件 ，不支持则停止
                if(!doc.addEventListener) return;
                //注册翻转事件
                win.addEventListener(resizeEvt, recalc, false);

            })(document, window);
    </script>
</head>
<body>
  <div id="main" class="top_content">
    {include '../../layouts/wap/header.html'}
    <div class="part_con" style="width: 20rem;height: 6.875rem;position: relative;top: 4.03125rem;">
                <div class="logo_img">
                </div>
            </div>
    <div class="con_wrap">
      <!-- 标题 -->
      <div class="title_wrap">
        <a href="/m/news/list_1761_1.html" class="return_btn"></a>
        <p id="news_title">{$content.title}</p>
        <p id="news_time"><span>发布时间：{$content.created_at|date_format:"%m/%d"}</span></p>
      </div>
      
      <!-- 内容 -->
      <div class="content">
        {$content.body}
      </div>

    </div>
    <a href="/m/news/list_1761_1.html" class="list_btn"></a>
    <a href="javascript:;" class="return_top"></a>
    {include '../../layouts/wap/footer.html'}
  </div>
</body>

<script src="{$smarty.const.STATIC_DOMAIN}1.0/m/js/jquery-1.11.2.min.js?{$smarty.const.VERSION}"></script>
<script>

var clickNumber=0;
        $(".h_nav").on("click", function(e) {
        e.stopPropagation();
        if(clickNumber % 2 == 0) {
            $(".d_t_t").addClass("d_t_t_tran");
            $(".d_t_b").addClass("d_t_b_tran");
            $(".header_nav").stop().slideDown();
        } else {
            $(".d_t_t").removeClass("d_t_t_tran");
            $(".d_t_b").removeClass("d_t_b_tran");
            $(".header_nav").stop().slideUp();
        }
        clickNumber++;
    });
    $(".header_nav li,.fade,.header_nav").click(function() {
        $(".d_t_t").removeClass("d_t_t_tran");
        $(".d_t_m").removeClass("d_t_m_tran");
        $(".d_t_b").removeClass("d_t_b_tran");
        $(".header_nav").stop().slideUp();
        clickNumber = 0;
    })
</script>
</html>
