address,
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
select,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
}

body {
    font-family: "微软雅黑"
}

button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label,
select,
textarea {
    font-size: 100%;
    vertical-align: middle
}

dl,
li,
ol,
ul {
    list-style: none
}

a {
    text-decoration: none
}

fieldset,
img {
    border: none
}

img {
    display: inline-block;
    overflow: hidden;
    vertical-align: top
}

address,
em {
    font-style: normal
}

sub,
sup {
    vertical-align: baseline
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

q:before {
    content: ""
}

q:after {
    content: ""
}

button {
    cursor: pointer
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none
}
input{
    outline: none;
    border:none;
}
textarea {
    word-wrap: break-word;
    resize: none
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clear {
    clear: both
}

.fl {
    float: left
}

.fr {
    float: right
}

* {
    margin: 0;
    padding: 0
}
.chengg{
    width:100%;
    height:1px;
    background:none;
}

/*header*/
header {
    width: 20rem;
    height: 3.125rem;
    background: rgba(0, 0, 0, .8);
    position: fixed;
    z-index: 90;
    top: 0;
    left: 0;
}
header .logo {
    float: left;
    display: block;
    width: 3.75rem;
    height: 3.75rem;
    margin:0.625rem 0 0 0.625rem;
}
header .logo img{
    display: block;
    width:100%;
    height:100%;
}
header .h_text {
    overflow: hidden;
    float: left;
    /*height: 2.1875rem;*/
    margin:0.8rem 0 0 0.625rem;
}
header .h_text p{
    margin:0;
}
header .h_text .h_p01 {
    width: 100%;
    color: #fff;
    font-size: 0.8125rem;
    font-weight: bold;
}
header .h_text .h_p02 {
    width: 100%;
    color: #999;
    font-size:0.625rem;
}
header .index_enter{
    width:6.0rem;
    height:2.4375rem;
    display: block;
    background: url(../images/act_index.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top:0.5rem;
    right:0.5rem;
}
.detail_kv{
	width:100%;
	height:35.40625rem;
	background:url(../images/active_bg1.png) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
	position:relative;
    top:0;
}
.detail_kv .slogan{
    width:20rem;
    position: relative;
    height:8.71875rem;
    margin:0 auto;
    top:19.6875rem;
}
.detail_kv .slogan img{
    width:20rem;
    position: relative;
    height:8.71875rem;
    margin:0 auto;
}
.detail_kv .slogan .video{
    width: 1.6875rem;
    display: block;
    position: relative;
    margin: 0 auto;
    height: 1.9375rem;
    background: url(../images/act_video.png) no-repeat;
    background-size: 100% 100%;
    top: 2.5rem;
    animation: vd 2s linear infinite;
    -webkit-animation: vd 2s linear infinite;
    z-index:10;
}
.buji{
    background-color: #000!important;
}
.buji .buji_con>img{
    width: 10.34375rem;
    height: 8.8125rem;
    position: absolute;
    top: 6rem;
    left: 50%;
    margin-left: -5.171875rem;
    animation: shake 1.4s linear infinite;
    -webkit-animation: shake 1.4s linear infinite;
}
@keyframes shake {
    0%{transform: rotate(0deg);}
    50%{transform: rotate(0deg);}
    75%{transform: rotate(0deg);}
    90%{transform: rotate(0deg);}
    95%{transform: rotate(-10deg);}
    98%{transform: rotate(10deg);}
    100%{transform: rotate(0deg);}
}
@-webkit-keyframes shake{
    0%{transform: rotate(0deg);}
    50%{transform: rotate(0deg);}
    75%{transform: rotate(0deg);}
    90%{transform: rotate(0deg);}
    95%{transform: rotate(-10deg);}
    98%{transform: rotate(10deg);}
    100%{transform: rotate(0deg);}
}
.buji .buji_con{
    width:20.0rem;
    height:19.28125rem;
    position: relative;
    background: url(../images/act_bjx.jpg?2.0) no-repeat;
    background-size: 100% 100%;
    top:50%;
    margin-top:-9.640625rem;
}
.buji .buji_con .bjlq_btn{
    width: 5.4rem;
    height: 2rem;
    position: absolute;
    top: 15rem;
    left: 7.3rem;
    display: block;
}
.buji .buji_con .close{
    top:18.1rem;
    left: 9.3rem;
    right: 0;
}
@keyframes vd {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}
@-webkit-keyframes vd {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}
.detail_kv .down_btn{
    width: 11.0625rem;
    height: 4.40625rem;
    display: block;
    background: url(../images/act_lq.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 29rem;
    left: 50%;
    margin-left: -5.53125rem;
}
.detail_kv  .to_down{
    position: absolute;
    z-index: 10;
    left:50%;
    margin-left:-0.875rem;
    bottom: 0.5rem;
    display: block;
    width:1.75rem;
    height: 2.0625rem;
    background: url(../images/to_down.png) no-repeat center;
    background-size: 100% 100%;
    animation: start infinite 1.5s ease-in-out;
    -webkit-animation: start infinite 1.5s ease-in-out;
}
@-webkit-keyframes start {
    0%,
    30% {
        opacity: 0;
        -webkit-transform: translate(0, -15px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, 25px);
    }
}
@keyframes start {
    0%,
    30% {
        opacity: 0;
        -webkit-transform: translate(0, -15px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, 25px);
    }
}
.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.ani {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
.rule_con{
	width:100%;
	height:27.78125rem;
	background:url(../images/active_bg2.png) no-repeat;
	position:relative;
	background-size: 100% 100%;
	background-color:#1c1c1e;
    overflow: hidden;
}
.rule_con .part1{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 15.0rem;
    top: 9.9rem;
}
.rule_con .part1 .part1_box1{
    width: 8.8125rem;
    height: 15.0rem;
    position: relative;
    float: left;
    left: 0.9rem;
    margin-right: 1.4rem;
}
.rule_con .part1 .part1_box2{
    width:8.8125rem;
    height:15.0rem;
    position: relative;
    float: left;
}
.rule_con .part1>div>img{
    width:5.78125rem;
    height:4.28125rem;
    position: relative;
    display: block;
    margin:0 auto;
    top:5.6rem;
}
.rule_con .part1>div a{
    width:8.5625rem;
    height:3.78125rem;
    position: relative;
    display: block;
    margin:0 auto;
    top:6.3rem;
}
.rule_con .part1>div a img{
    width:100%;
    height:100%;
}
.rule_con .login{
    width: 100%;
    position: absolute;
    left: 0;
    top: 6.5rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    color: #fff;
    font-size: 0.75rem;
}
.rule_con .login.login_su{
    display: none;
}
.rule_con.active .login.login_su{
    display: block;
}
.rule_con.active .login.login_su a{
    display: inline-block;
    color: #FFCC00;
    margin: 0 0.2rem;
    text-decoration: underline;
}
.rule_con.active .login.login_no{
    display:none;
}
.weap_con{
    width:100%;
    height:37.5625rem;
    background:url(../images/active_bg3.jpg) no-repeat;
    position:relative;
    background-size: 100% 100%;
    overflow: hidden;
}
.weap_con .part2{
    width: 20rem;
    height: 30.5rem;
    position: relative;
    overflow: hidden;
    top: 6rem;
    z-index:4;
}
.weap_con .part2 ul{
    width:100%;
    height:100%;
    position:relative;
}
.weap_con .part2 ul li{
    width:8.875rem;
    height:9.59375rem;
    background: url(../images/act_li2.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    position: absolute;
}
.weap_con .part2 ul li.active{
    width:8.875rem;
    height:9.59375rem;
    background: url(../images/act_li1.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    position: absolute;
}
.weap_con .part2 ul li.li1{
    top: 0rem;
    left: -0.03rem;
}
.weap_con .part2 ul li.li2{
    top: 3.4rem;
    left: 6.1rem;
}
.weap_con .part2 ul li.li3{
    top:-0.16rem;
    right: -1rem;
}
.weap_con .part2 ul li.li6{
    top:14rem;
    left:-0.03rem;
}
.weap_con .part2 ul li.li5{
    top: 10.5rem;
    left: 6.1rem;
}
.weap_con .part2 ul li.li4{
    top: 7rem;
    right: -1.1rem;
}
.weap_con .part2 ul li.li7{
    top: 17.7rem;
    left: 6rem;
}
.weap_con .part2 ul li.li8{
    top: 21.3rem;
    right: -0.97rem;
}
.weap_con .part2 .lb_rend{
    width: 5.5rem;
    height: 1.625rem;
    background: url(../images/act_libao.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 1.5rem;
    left: 50%;
    margin-left: -2.725rem;
    z-index: 10;
}
.weap_con .part2 ul li img{
    width: 5.5rem;
    height: auto;
    display: block;
    position: relative;
    left: 1.2rem;
    top: 2.5rem;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%); 
    filter: grayscale(0%);  
    filter: gray;
}
.weap_con .part2 ul li.li2 img{
    top: 3rem;
}
.weap_con .part2 ul li.li3 img{
    width: 4.5rem;
    left: 1.8rem;
    top: 2.8rem;
}
.weap_con .part2 ul li.li4 img{
    width: 5rem;
    left: 1.4rem;
    top: 2.8rem;
}
.weap_con .part2 ul li.li5 img,.weap_con .part2 ul li.li8 img{
    width: 5.2rem;
    left: 1.4rem;
    top: 2.9rem;
}
.weap_con .part2 ul li.li7 img{
    width: 5rem;
    left: 1.5rem;
    top: 2.7rem;
}
.weap_con .part2 ul li.li6 img{
    width: 4rem;
    left: 1.6rem;
    top: 2rem;
}
.weap_con .part2 ul li.active img{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%); 
    filter: grayscale(100%);  
    filter: gray;
}
.weap_con .part2 ul li p{
    text-shadow: 0 0 0.2rem #fff, 0 0 0.2em #fff;
    color: #fff;
    position: absolute;
    text-align: center;
    width: 4rem;
    left: 1.8rem;
    bottom: 2rem;
    font-size: 0.725rem;
}
.weap_con .part2 ul li.active p{
    text-shadow: 0 0 0.2rem #fff, 0 0 0.2em #fff;
}
.act_air{
    width: 10.40625rem;
    height: 7.78125rem;
    position: absolute;
    top: 20rem;
    right: 0;
    z-index:1;
    animation: snow 3s linear infinite;
    -webkit-animation: snow 3s linear infinite;
}
/*弹窗*/
.tips {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: none;
}
.c_login {
    width: 17.8125rem;
    height:19.375rem;
    background: url(../images/act_tc3.png) no-repeat center;
    background-size: 100% 100%;
    position: relative;
    margin: 0 auto 0;
    top: 45%;
    transform: translate(0, -45%);
    -webkit-transform: translate(0, -45%);
}

.close {
    display: block;
    width: 1.4375rem;
    height: 1.4375rem;
    position: absolute;
    right: 1.475rem;
    top: 1.55rem;
}

.c_body {
    width: 11.84375rem;
    overflow: hidden;
    position: relative;
    margin: 4.21875rem 0 0 3.0625rem;
}

.s_put {
    width: 100%;
    height: 1.875rem;
    position: relative;
    overflow: hidden;
    margin-top: 0.8rem;
    background: #5C1F18;
}

.s_put input {
    height: 1.875rem;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    background: #5C1F18;
    font-size: 0.6875rem;
    line-height: 1.75rem;
    text-indent: 0.8125rem;
    color: #fff;
}
.s_put input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #b76162;
}

.s_put input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #b76162;
}

.s_put input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #bda7af;
}

.s_put input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #bda7af;
}
.s_put input.c_id {
    width: 10.21875rem;
    height: 1.75rem;
    border: 0.0625rem solid #ffdac8;
}
.s_put input.c_phone {
    width:100%;
    height:1.875rem;
}

.s_put input.c_tyzm {
    width: 8.09375rem;
    height: 1.875rem;
    float: left;
    font-size: .6875rem;
}

.s_put .captcha {
    width: 3.62rem;
    height: 1.875rem;
    border: 0.0625rem solid #ffdac8;
    float: right;
    background-color: #fff;
}
.s_put .captcha p {
    font-size: 0.625rem;
    color: #000;
    line-height:1.875rem;
    text-align: center;
}

.s_put .captcha img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.s_put input.c_yzm {
    width: 8.09375rem;
    height: 1.875rem;
    float: left;
    font-size: 0.6875rem;
}
.s_put input.g_code {
    width: 3.75rem;
    height: 1.875rem;
    text-align: center;
    float: right;
    background-color: #5C1F18;
    font-size: 0.625rem;
    text-indent: 0;
    color: #ffc028;
}

.s_put input.c_code {
    width: 10.21875rem;
    height: 1.75rem;
    border: 0.0625rem solid #ffdac8;
}

.sure {
    width: 8.5625rem;
    height: 3.78125rem;
    position: absolute;
    bottom: 2rem;
    left:50%;
    margin-left:-4.28125rem;
}
.sure img{
    width:100%;
    height:100%;
}
.gift_tc {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    display: none;
}

.gift_body {
    width:17.8125rem;
    height:16.25rem;
    background: url(../images/act_tc4.png) no-repeat center;
    background-size: 100% 100%;
    position: relative;
    top: 45%;
    transform: translate(0, -45%);
    -webkit-transform: translate(0, -45%);
    margin: 0 auto 0;
}

.gift_body2 {
    background: url(../images/act_bg3.png) no-repeat center;
    background-size: 100% 100%;
}
.gift_con {
    position: relative;
    overflow: hidden;
    top: 3rem;
    width: 12.96875rem;
    margin: 0 auto;
    height: 12rem;
}

.gift_con p {
    font-size: 0.625rem;
    color: #fff;
    text-align: center;
    position: relative;
    top: 0.7rem;
}

.gift_con .gift_code {
    width:12.96875rem;
    height: 1.75rem;
    font-size:1.0625rem;
    line-height: 1.75rem;
    text-align: center;
    color: #fff;
    margin-top:2rem;
    font-weight: 600;
}
.gift_body .sure {
    width:8.5625rem;
    height:3.78125rem;
    margin-left:-4.28125rem;
    top:5.5rem;
}
.gift_body .info{
    font-size: 0.4375rem;
    color: #ffc900;
    top: 5rem;
}
.check {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    display: none;
}
.c_check {
    width:17.8125rem;
    height:19.0625rem;
    background: url(../images/act_tc2.png) no-repeat center;
    background-size: 100% 100%;
    position: relative;
    top: 45%;
    transform: translate(0, -45%);
    -webkit-transform: translate(0, -45%);
    margin: 0 auto 0;
}
.check_body {
    width: 13.75rem;
    margin: 4.3rem auto 0;
    position: relative;
    overflow: hidden;
}
.top_tit {
    width: 100%;
    height: 1.3125rem;
    position: relative;
    overflow: hidden;
    border-bottom: none;
    border-bottom: 0.03125rem solid #8E271A;
}
.top_tit span {
    display: block;
    width:4.6875rem;
    height: 1.3125rem;
    float: left;
    text-align: center;
    font-size: 0.5rem;
    color: #ffc028;
    line-height: 1.3125rem;
    border-right: 0.03125rem solid #8E271A;
    border-bottom: 0.03125rem solid #8E271A;
}

.top_tit span:nth-child(3) {
    border-right: none;
    width: 3.75rem;
}

.huadong {
    width: 100%;
    height: 11.25rem;
    overflow: auto;
}
.huadong ul {
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.huadong ul li {
    width: 104%;
    height: 4rem;
}
.huadong ul li span {
    display: block;
    width: 4.6875rem;
    text-align:center;
    height: 100%;
    float: left;
    font-size:0.5rem;
    color: #ffc028;
    line-height: 4rem;
    border-right: 0.03125rem solid #8E271A;
    border-bottom: 0.03125rem solid #8E271A;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.huadong ul li>span:nth-child(1){
    line-height: 0.7rem;
    padding-top: 0.3rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}
.huadong ul li>span:nth-child(1) i{
    color: #fff;
    font-style: normal;
}
.huadong ul li a {
    display: block;
    border-right: none;
    width: 4.2rem;
    height: 100%;
    line-height: 2rem;
    font-size: 0.625rem;
    color: #fff;
    text-align: center;
    float: left;
    font-style: normal;
    line-height: 4rem;
    border-right: 0.03125rem solid #8E271A;
    border-bottom: 0.03125rem solid #8E271A;
}
.c_check .sure {
    left: 4.0625rem;
}
.tips.active{
    display: block;
}
.rule_con2{
    width:17.8125rem;
    height:17.8125rem;
    position: absolute;
    top:50%;
    margin-left:-8.90625rem;
    left:50%;
    margin-top:-8.90625rem;
    background: url(../images/act_tc1.png) no-repeat;
    background-size: 100% 100%;
}
.rule_con2 p{
    width: 13.125rem;
    position: relative;
    margin: 0 auto;
    color: #fff;
    font-size: 0.8125rem;
    line-height: 1.3rem;
    top: 5rem;
    margin-bottom: 1rem;
}
@keyframes snow {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(1rem);
    }
    100% {
        transform: translateY(0);
    }
}
@-webkit-keyframes snow {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(1rem);
    }
    100% {
        transform: translateY(0);
    }
}