*{margin: 0;padding: 0;}
body {font-family: "微软雅黑";}
.hidden{display:none!important;}
img{width:100%;height:100%;}
a{text-decoration:none;}
li{list-style:none;}
i{font-style:normal;}
.fl{float:left;}
.fr{float: right;}
input:focus{outline:none;}
.no_auto{
	overflow: hidden;
	width:100%;
	height:100%;
}
.no_auto .co_tips{position:absolute;overflow: hidden;}
/*header*/
header {
	width:20rem;
	height:3.125rem;
	background:rgba(0,0,0,.9);
	position: fixed;
	z-index: 200;
	top: 0;
	left: 0;
}
header .logo {
	float: left;
	display: block;
	width: 3.75rem;
	height: 3.75rem;
	margin:0.625rem 0 0 0.625rem;
}
header .h_text {
	overflow: hidden;
	float: left;
	/*height: 2.1875rem;*/
	margin:0.8rem 0 0 0.625rem;
}
header .h_text .h_p01 {
	width: 100%;
	color: #fff;
	font-size: 0.8125rem;
	font-weight: bold;
}
header .h_text .h_p02 {
	width: 100%;
	color: #999;
	font-size:0.625rem;
}
header .header_a {
	float: right;
	height: 1.875rem;
	margin:0.625rem .225rem 0 0;
	text-align: center;
}
header .header_a .order {
	width: 5.25rem;
	height: 1.875rem;
	background: url(../images/yl_btn11.png);
	background-size: 100% 100%;
	margin-right: .225rem;
	display: block;
	float: left;
}
.order2{
	width: 10.25rem;
	height: 4.375rem;
	background: url(../images/yl_down2.png) no-repeat;
	background-size: 100% 100%;
	display: block;
	position: relative;
	margin: 0 auto;
	top: 24.8rem;
}
.wap_tab{
	display: none;
	background: rgba(0, 0, 0, .9);
	width: 7.5rem;
	z-index: 9;
	top: 3.125rem;
	right: 0;
	position: absolute;
}
.nav-content2 a {
	display: block;
	width: 5.625rem;
	height: 2.25rem;
	margin: .8125rem auto;
}
.nav-content2 a.down_load {
	background: url(../images/down_load.png) no-repeat center;
	background-size: 100% 100%;
}
.nav-content2 a.tap {
	background: url(../images/tap.png) no-repeat center;
	background-size: 100% 100%;
}
header .header_a .down_btn{
	width: 5.25rem;
	height: 1.875rem;
	background: url(../images/l_order2.png);
	background-size: 100% 100%;
}
header .header_a .type,header .header_a .type1{
	float: right;
	display: inline-block;
	width: 1.875rem;
	height: 1.875rem;
	background: url(../images/l_typebtn.png);
	background-size: 100% 100%;
}
header .header_a .type1{
	background:url("../images/type_btn1.png");
	background-size:100% 100%;
}
header .nav-content {
	position: absolute;
	top: 3.125rem;
	right:0;
	background:rgba(0,0,0,.9);
	width: 7.75rem;
	z-index: 9;
	display: none;
}
header .nav-list {
	list-style: none;
	padding: 0;
	position: relative;
}
header .nav-item {
	text-align: center;
	height: 2.8125rem;
	line-height: 2.8125rem;
	border-top: 1px solid #353535;
}
header .item-anchor {
	color: #fff;
	font-size: .875rem;
	position: relative;
	display: block;
	text-align: center;
}
header .item-anchor:active{
	color: #F94F00;
}


/*视频弹窗*/
.cd-m-floor {
	min-height: 30px
}
.cd-m-floor a {
	display: block
}
.cd-m-floor.cd-image-float-floor {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 1);
	display:none;
}
.cd-m-floor.cd-image-float-floor.cd-float-show {
	z-index:11000;
	transition: opacity .2s ease-out;
	-moz-transition: opacity .2s ease-out;
	-webkit-transition: opacity .2s ease-out;
	-o-transition: opacity .2s ease-out;
	display:block;
}
.cd-m-floor.cd-image-float-floor.cd-float-show .cd-float-image {
	animation:widthchange .2s ease;
	-webkit-animation:widthchange .2s ease;
}
.cd-m-floor.cd-image-float-floor .cd-float-image {
	width: 22.90625rem;
	height: 16.71875rem;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -9.359375rem;
	margin-left: -12.9rem;
}
.cd-m-floor.cd-image-float-floor .cd-float-image img {
	width: 100%;
}
.cd-m-floor.cd-image-float-floor .cd-float-image .video{
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 16.15625rem;
	height: 9rem;
	margin-top: -2.3rem;
	margin-left: -6.6rem;
	padding: 0;
}
.cd-m-floor.cd-image-float-floor .cd-float-close {
	position: absolute;
	width: 1.71875rem!important;
	height: 1.71875rem;
	top: 2.5rem;
	right: 1.5rem;
	cursor: pointer;
}
.cd-m-floor .vi_zz{
	z-index: 2;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 16.15625rem;
	height: 9rem;
	margin-top: -2.3rem;
	margin-left: -6.6rem;
	background:rgba(0,0,0,.8);
	opacity: 0;
}
.cd-m-floor .vi_play{
	z-index: 2;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 3.625rem;
	height:3.625rem;
	margin-top: -1.8125rem;
	margin-left: -1.8125rem;
	background:url("../images/yl_play.png");
	background-size:100% 100%;
}