.chengg{
	width:100%;
	height:1px;
	background:none;
	position:relative;
}
.fxq_one{
	width:100%;
	height:38.64rem;
	position:relative;
	overflow: hidden;
	margin-top:4.25rem;
}
.fxq_one img{
	display: block;
	width:100%;
	height:100%;
}
.fxq_two{
	width:100%;
	height:37.68rem;
	background:url(../images/fxq_banner02.jpg) no-repeat center;
	background-size:100% 100%;
}
.fxq_two .fxq_two_banner{
	width:27.6rem;
	height:37.68rem;
	overflow: hidden;
	position:relative;
	margin:0 auto;
	margin-top:2.68rem;
}

.fxq_two .fxq_two_banner .main_banner{
	width:25.36rem;
	height:23.16rem;
	position:absolute;
	left:50%;
	margin-left:-11.64rem;
}

.fxq_two .fxq_two_banner .btnLeft,.btnRight{
	width:0.76rem;
	height:2.48rem;
	background:url(../images/btn_nav.png) no-repeat center;
	background-size:100% 100%;
	position:absolute;
}
.fxq_two .fxq_two_banner .btnLeft{
	left:0rem;
	top:7.92rem;
}
.fxq_two .fxq_two_banner .btnRight{
	right:0rem;
	top:7.92rem;
	transform: rotate(180deg);
}
.fxq_two_banner .main_banner li{
	position:absolute;
	width:25.36rem;
	height:23.16rem;
	opacity: 0;
	filter: alpha(opacity=0);
}
.fxq_two_banner .main_banner li img{
	display: block;
	width:100%;
	height:100%;
}
.fxq_two_banner .tab_banner{
	width:98%;
	height:7.2rem;
	overflow: hidden;
	position:relative;
	top:25.92rem;
	margin:0 auto;
}
.fxq_two_banner .tab_banner span {
	display: block;
	width:5.92rem;
	height:7.2rem;
	overflow: hidden;
	float:left;
	margin-right:1rem;
	text-align: center;
}

.fxq_two .fxq_two_banner .tab_banner span img{
	display: block;
	width:3.92rem;
	height:3.6rem;
	margin:0 auto;
}
.fxq_two_banner .tab_banner span:nth-child(4){
	margin-right:0;
}
.fxq_two_banner .tab_banner span p{
	color:#fff;
	font-size:0.64rem;
	text-align: center;
	margin-top:0.5rem;
}
.fxq_two .fxq_two_banner .tab_banner span.small_active p{
	color:#00e4ff;
}
.fxq_three{
	width:100%;
	height:22.16rem;
	position:relative;
	overflow: hidden;
}
.fxq_three ul{
	width:100%;
	height:100%;
	position:relative;
	overflow: hidden;
}
.fxq_three ul li{
	width:50%;
	height:50%;
	float:left;
	position:relative;
}
.fxq_three ul li img{
	display: block;
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}
.fxq_three ul li p{
	position:relative;
	font-size:0.88rem;
	color:#fff;
	text-align: center;
	line-height:1.44rem;
}
.fxq_three ul li p.fxq_p{
	margin-top:5rem;
}

.fxq_four {
	width:100%;
	height:34.56rem;
	position:relative;
	overflow: hidden;
}
.fxq_four .swiper-slide{
	width:100%;
	height:100%;
}
.fxq_four .swiper-slide img{
	display: block;
	width:100%;
	height:100%;	
}
.fxq_four .fxq_bottom{
	width:100%;
	height:6.32rem;
	background:url(../images/fxq_txt_bg.png) no-repeat center;
	background-size:100% 100%;
	position:absolute;
	left:0;
	bottom:0;
}
.fxq_four_body .swiper-button-next {
	width: 0.76rem;
    height: 2.48rem;
    background: url(../images/btn_nav.png) no-repeat center;
    background-size: 100% 100%;
    transform: rotate(180deg);
	right:.6rem;
	top:90%;
}
.fxq_four_body .swiper-button-prev {
	width: 0.76rem;
    height: 2.48rem;
    background: url(../images/btn_nav.png) no-repeat center;
    background-size: 100% 100%;
    left:.6rem;
	top:90%;
}
.fxq_five{
	width:100%;
	height:25.32rem;
	position:relative;
	overflow: hidden;
}
.fxq_five .swiper-wrapper{
	width:100%;
	height:100%;
	position:relative;
	/*overflow: hidden;*/
}
.fxq_five .swiper-wrapper li{
	width:100%;
	height:100%;
	position:relative;
	overflow: hidden;
}
.fxq_five .swiper-wrapper li img{
	display: block;
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}
.fxq_five .swiper-wrapper li img.fxq_left{
	display: inline-block;
	width:0.76rem;
	height:1.64rem;
	position:absolute;
	left:2.08rem;
	top:2.4rem;
}
.fxq_five .swiper-wrapper li p{
	font-size:1.64rem;
	color:#fff;
	position:absolute;
	top:2rem;
	left:3.6rem;
}
.fxq_five .button-next {
	width: 0.76rem;
    height: 2.48rem;
    background: url(../images/btn_nav.png) no-repeat center;
    background-size: 100% 100%;
    transform: rotate(180deg);
	right:1.2rem;
	position:absolute;
	top:45%;
	z-index:10;
}
.fxq_five .button-prev {
	width: 0.76rem;
    height: 2.48rem;
    background: url(../images/btn_nav.png) no-repeat center;
    background-size: 100% 100%;
	left:1.2rem;
	position:absolute;
	top:45%;
	z-index:10;
}
.fxq_six{
	width:100%;
	height:39.68rem;
	background:url(../images/fxq_banner03.jpg) no-repeat center;
	background-size:100% 100%;
	overflow: hidden;
}
.fxq_six .fxq_six_txt{
	width:84%;
	height:100%;
	margin:0 auto;
	position:relative;
	overflow: hidden;
	color:#fff;
}
.fxq_six .fxq_six_txt h3{
	font-size:1.12rem;
	font-weight:normal;
	line-height:3.84rem;
}
.fxq_six .fxq_six_txt p{
	font-size:0.8rem;
	line-height:2.08rem;
}
