@keyframes animate1 {
  from {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
  }
  to {
    transform: translate(-10px, -20px);
    -webkit-transform: translate(-10px, -20px);
  }
}
@-webkit-keyframes animate1 {
  from {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
  }
  to {
    transform: translate(-10px, -20px);
    -webkit-transform: translate(-10px, -20px);
  }
}
@keyframes animate2 {
  from {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
  }
  to {
    transform: translate(40px, -5px);
    -webkit-transform: translate(40px, -5px);
  }
}
@-webkit-keyframes animate2 {
  from {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
  }
  to {
    transform: translate(40px, -5px);
    -webkit-transform: translate(40px, -5px);
  }
}
@keyframes animate3 {
  from {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
  }
  to {
    transform: scale(1.05, 1.05);
    -webkit-transform: scale(1.05, 1.05);
  }
}
@-webkit-keyframes animate3 {
  from {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
  }
  to {
    transform: scale(1.05, 1.05);
    -webkit-transform: scale(1.05, 1.05);
  }
}
@keyframes animate4 {
  from {
    transform: rotate(0);
    -webkit-transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes animate4 {
  from {
    transform: rotate(0);
    -webkit-transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
input,
button {
  outline-style: none;
  border: none;
}
:-moz-placeholder {
  color: #919191;
  opacity: 1;
}
::-moz-placeholder {
  color: #919191;
  opacity: 1;
}
input:-ms-input-placeholder {
  color: #919191;
  opacity: 1;
}
input::-webkit-input-placeholder {
  color: #919191;
  opacity: 1;
}
a {
  text-decoration: none;
}
.d_browser {
  width: 100%;
  text-align: center;
  font-size: 18px;
  position: fixed;
  top: 55px;
  left: 0;
  z-index: 1000;
  background: #fff;
}
.d_loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 999;
}
.d_loading div {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.d_loading div img {
  width: 65px;
  animation: animate4 1s linear infinite;
  -webkit-animation: animate4 1s linear infinite;
}
.d_loading div p {
  margin: 14px 0 0 0;
  font-size: 20px;
  text-align: center;
}
.d_top {
  width: 100%;
  min-width: 1200px;
  height: 101px;
  position: absolute;
  top: 42px;
  left: 0;
  background: url(../images/d_bimg1.png) no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 99;
}
.d_top > div {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.d_top > div .d_logo {
  float: left;
  margin: 20px 20px 0 0;
}
.d_top > div > p {
  float: left;
  height: 100%;
}
.d_top > div > p span {
  display: block;
}
.d_top > div > p .d_gameName {
  font-size: 30px;
  color: #ffffff;
  margin: 26px 10px 0 0;
}
.d_top > div > p .d_gameInf {
  font-size: 18px;
  color: #aaaaaa;
}
.d_top > div > ul {
  float: right;
  margin: 17px 0 0 0;
}
.d_top > div > ul li {
  float: left;
  width: 50px;
  height: 50px;
  position: relative;
  background-image: url(../images/d_icon1.png);
  background-size: cover;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.d_top > div > ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
.d_top > div > ul li img {
  display: none;
  width: 100px;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}
.d_top > div > ul li:hover {
  transform: translate(0, -4px);
  -webkit-transform: translate(0, -4px);
}
.d_top > div > ul li:hover img {
  display: block;
}
.d_top > div > ul .d_wx {
  background-position: 0 0;
}
.d_top > div > ul .d_wb {
  margin: 0 20px;
  background-position: -70px 0;
}
.d_top > div > ul .d_tb {
  background-position: -140px 0;
}
.d_item {
  width: 100%;
  min-width: 1200px;
}
.d_item1 {
  position: relative;
  height: 1087px;
  overflow: hidden;
  background: url(../images/d_bimg2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.wrap{
	width:1200px;
	height:118px;
	position:absolute;
	left:50%;
	margin-left:-600px;
	top:451px;
}
.wrap img{
	display: block;
	width:519px;
	height:100%;
	position:absolute;
	right:-45px;
}
.d_item1 .i1_jls {
  position: absolute;
  top: 88px;
  left: 850px;
  animation: animate1 2s linear infinite alternate;
  -webkit-animation: animate1 2s linear infinite alternate;
}
.d_item1 .i1_box {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  margin-top: 720px;
  overflow: hidden;
}
.d_item1 .i1_box .i1_video {
  float: left;
  margin: 90px 0 0 350px;
}
.d_item1 .i1_box .i1_video img {
  display: block;
  line-height: 0;
  animation: animate3 1s linear infinite alternate;
  -webkit-animation: animate3 1s linear infinite alternate;
}
.d_item1 .i1_box .i1_video:hover {
  cursor: pointer;
}
.d_item1 .i1_box .i1_yy {
  width: 380px;
  height: 210px;
  position: relative;
  float: left;
  margin: 0 0 0 50px;
  background: url(../images/d_bimg5.png) no-repeat;
  background-position: center 135px;
}
.d_item1 .i1_box .i1_yy img {
  position: absolute;
  left: 10px;
  bottom: 5px;
}
.d_item1 .i1_box .i1_yy a {
  display: block;
  position: absolute;
  width: 174px;
  height: 97px;
}
.d_item1 .i1_box .i1_yy a:nth-child(2) {
  top: 0;
  left: 190px;
  background: url(../images/d_title3.png) no-repeat;
}
.d_item1 .i1_box .i1_yy a:nth-child(3) {
  top: 80px;
  left: 190px;
  background: url(../images/d_title4.png) no-repeat;
}
.d_item1 .i1_box .i1_number {
  float: left;
  margin: 15px 0 0 12px;
  transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  transform: rotate(-10deg) skew(-10deg);
  -webkit-transform: rotate(-10deg) skew(-10deg);
}
.d_item1 .i1_box .i1_number p {
  color: #d5d5d5;
  font-size: 28px;
  margin: 0 0 10px 0;
  text-shadow: -3px 0px 0px rgba(0, 0, 0, 0.6);
  font-family: 'CC3FCDEA1CEB186A';
}
.d_item1 .i1_box .i1_number p:nth-child(2) {
  font-size: 30px;
  color: #fbd713;
}
.d_item2 {
  margin: -18px 0 0 0;
  height: 1031px;
  overflow: hidden;
  text-align: center;
  position: relative;
  background: url(../images/d_bimg3.png) no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 2;
}
.d_item2 .i2_title {
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}
.d_item2 .i2_jls {
  position: absolute;
  top: 170px;
  left: 0;
  animation: animate2 2s linear infinite alternate;
  -webkit-animation: animate2 2s linear infinite alternate;
}
.d_item2 .i2_user {
  display: inline-block;
  height: 40px;
  color: #fff;
  margin: 0 auto;
  margin-top: 18px;
  margin-bottom: 60px;
  padding: 0 36px;
  line-height: 40px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.1);
}
.d_item2 .i2_user span {
  color: #f99d0b;
}
.d_item2 .i2_user label {
  margin: 0 8px 0 12px;
  transition: all .2s;
  -webkit-transition: all .2s;
}
.d_item2 .i2_user label:hover {
  cursor: pointer;
  color: #f99d0b;
}
.d_item2 .i2_ts {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}
.d_item2 .i2_ts p {
  float: left;
  width: 680px;
  text-align: left;
  font-size: 16px;
  color: #999999;
  margin: 0 0 10px 120px;
}
.d_item2 .i2_ts p span {
  color: #f99d0b;
}
.d_item2 .i2_ts img:hover {
  cursor: pointer;
}
.d_item2 > ul {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  margin-top: 70px;
  overflow: hidden;
  perspective: 800px;
  -webkit-perspective: 800px;
}
.d_item2 > ul li {
  float: left;
  width: 230px;
  height: 320px;
  margin: 0 0 0 60px;
  position: relative;
  transition: all .3s;
  -webkit-transition: all .3s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  background: transparent;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}
.d_item2 > ul li img {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}
.d_item2 > ul li img:nth-child(1) {
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
}
.d_item2 > ul li img:nth-child(2) {
  z-index: 2;
  transform: rotateY(0);
  -webkit-transform: rotateY(0);
}
.d_item2 > ul li img:nth-child(3) {
  top: auto;
  left: 50%;
  bottom: 60px;
  opacity: 0;
  z-index: 3;
  transition: opacity .3s;
  -webkit-transition: opacity .3s;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}
.d_item2 > ul li:hover {
  cursor: pointer;
}
.d_item2 > ul li:hover img:nth-child(3) {
  opacity: 1;
}
.d_item2 > ul li.active {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.d_item2 .i2_btn {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  margin-top: 70px;
  text-align: center;
}
.d_item2 .i2_btn label {
  display: inline-block;
}
.d_item2 .i2_btn label:hover {
  cursor: pointer;
}
.d_item2 .i2_btn .i2_gz {
  width: 96px;
  height: 22px;
  position: relative;
  top: -30px;
  background: url(../images/d_title5.png) no-repeat;
}
.d_item2 .i2_btn .i2_share {
  width: 274px;
  height: 84px;
  margin: 0 60px;
  background: url(../images/d_share.png) no-repeat;
}
.d_item2 .i2_btn .i2_list {
  width: 96px;
  height: 22px;
  position: relative;
  top: -30px;
  background: url(../images/d_title6.png) no-repeat;
}
.d_item3 {
  margin: -55px 0 0 0;
  height: 1042px;
  overflow: hidden;
  text-align: center;
  position: relative;
  background-image: url(../images/d_bimg4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #000;
  z-index: 1;
}
.d_item3 .i3_title {
  display: block;
  margin: 0 auto;
  margin-top: 138px;
}
.d_item3 .i3_number {
  width: 369px;
  height: 81px;
  margin: 0 auto;
  margin-top: 55px;
  background: url(../images/d_icon2.png);
}
.d_item3 .i3_number h6 {
  margin-bottom: 6px;
  color: #d5d5d5;
  font-size: 16px;
}
.d_item3 .i3_number p {
  color: #ffbb4c;
  font-size: 48px;
  font-family: 'CC3FCDEA1CEB186A';
}
.d_item3 .i3_line {
  width: 100%;
  margin-top: 70px;
}
.d_item3 .i3_line > ul:nth-child(1) {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}
.d_item3 .i3_line > ul:nth-child(1) li {
  width: 20%;
  float: left;
  margin: 0 0 12px 0;
  text-align: center;
}
.d_item3 .i3_line > ul:nth-child(1) li h6 {
  font-weight: bold;
  color: #ffd57b;
  font-size: 36px;
  font-family: 'CC3FCDEA1CEB186A';
}
.d_item3 .i3_line > ul:nth-child(1) li p {
  font-size: 14px;
  color: #999999;
}
.d_item3 .i3_line > div {
  position: relative;
  height: 54px;
  overflow: hidden;
}
.d_item3 .i3_line > div > img:nth-child(1) {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}
.d_item3 .i3_line > div ul {
  width: 1200px;
  height: 40px;
  margin: 0 auto;
}
.d_item3 .i3_line > div ul li {
  width: 20%;
  height: 100%;
  float: left;
  position: relative;
  margin: 0 0 12px 0;
  text-align: center;
}
.d_item3 .i3_line > div ul li label {
  width: 2px;
  height: 100%;
  display: block;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
}
.d_item3 .i3_line > div ul li img {
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}
.d_item3 .i3_line > div div {
  width: 1200px;
  height: 40px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.d_item3 .i3_line > div div label {
  display: block;
  width: 0;
  height: 40px;
  background: #376BC0;
}
.d_item3 .i3_line > div div img {
  display: none;
  position: absolute;
  top: 0;
  right: -162px;
}
.d_item3 .i3_line > ul:nth-child(3) {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  margin-top: 20px;
  overflow: hidden;
}
.d_item3 .i3_line > ul:nth-child(3) li {
  width: 20%;
  float: left;
  margin: 0 0 12px 0;
  text-align: left;
}
.d_item3 .i3_line > ul:nth-child(3) li img {
  display: block;
  margin: 0 auto;
}
.d_tc {
  display: none;
  width: 100%;
  height: 100%;
  min-height: 660px;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999;
}
.d_tc > div {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.d_tc > div.active {
  display: block;
}
.tc_closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  transition: all .2s;
  -webkit-transition: all .2s;
}
.tc_closeBtn:hover {
  cursor: pointer;
  transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
}
.d_tc1 {
  width: 791px;
  height: 522px;
  background: url(../images/d_tc_main1.png) no-repeat;
}
.d_tc1 .title {
  display: block;
  margin: 0 0 0 400px;
}
.d_tc1 .phone {
  display: block;
  width: 440px;
  height: 70px;
  color: #ccc;
  border: none;
  text-indent: 20px;
  font-size: 24px;
  margin: 55px 0 0 250px;
  background-color: #3f3e3e;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.67);
}
.d_tc1 > p.err {
  width: 440px;
  margin: 1px 0 0 250px;
  color: red;
  visibility: hidden;
}
.d_tc1 > p.active {
  visibility: visible;
}
.d_tc1 > div {
  width: 440px;
  height: 70px;
  margin:1px 0 0 250px;
  position: relative;
}
.d_tc1 > div .co_imgtxt{
  position: absolute;
  bottom: -17px;
  right: 0;
  font-size: 12px;
  color: #fff;
  float: none!important;
  width: 180px!important;
  text-align:center;
}
.d_tc1 > div input {
  width: 246px;
  height: 100%;
  border: none;
  color: #ccc;
  text-indent: 20px;
  font-size: 24px;
  background-color: #3f3e3e;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.67);
}
.d_tc1 > div button {
  width: 180px;
  height: 100%;
  float: right;
  color: #ee960b;
  font-size: 24px;
  background-color: #3f3e3e;
  box-sizing: border-box;
  border: 2px solid #ee960b;
  transition: all .2s;
  -webkit-transition: all .2s;
}
.d_tc1 > div button:hover {
  cursor: pointer;
  background-color: #373636;
}
.d_tc1 .loginBtn {
  display: block;
  margin: 5px 0 0 320px;
}
.d_tc1 .loginBtn:hover {
  cursor: pointer;
}
.d_tc2 {
  width: 791px;
  height: 522px;
  background: url(../images/d_tc_main1.png) no-repeat;
}
.d_tc2 .title {
  display: block;
  margin: 0 0 0 343px;
}
.d_tc2 > p {
  width: 400px;
  margin: 106px 0 0 280px;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  color: #f8e1be;
}
.d_tc2 .jiathis_style_32x32 {
  width: 400px;
  margin: 60px 0 0 280px;
  text-align: center;
}
.d_tc2 .jiathis_style_32x32 a {
  display: block;
  width: 33.3%;
  float: left;
}
.d_tc2 .jiathis_style_32x32 a span {
  float: none;
  margin: 0;
  min-width: 63px;
  text-align: center;
  height: auto!important;
  padding-left: 0!important;
  background-position: center 0!important;
}
.d_tc2 .jiathis_style_32x32 a span label {
  display: block;
  color: #f2f2f2;
  margin-top: 60px;
  font-size: 18px!important;
}
.d_tc2 .jiathis_style_32x32 a.jiathis_button_weixin {
  text-align: left;
}
.d_tc2 .jiathis_style_32x32 a.jiathis_button_weixin span {
  background: url(../images/d_tc_wx.png) no-repeat;
}
.d_tc2 .jiathis_style_32x32 a.jiathis_button_tsina {
  text-align: center;
}
.d_tc2 .jiathis_style_32x32 a.jiathis_button_tsina span {
  background: url(../images/d_tc_wb.png) no-repeat;
}
.d_tc2 .jiathis_style_32x32 a.jiathis_button_qzone {
  text-align: right;
}
.d_tc2 .jiathis_style_32x32 a.jiathis_button_qzone span {
  background: url(../images/d_tc_kj.png) no-repeat;
}
.d_tc3 {
  width: 978px;
  height: 629px;
  background: url(../images/d_tc_main2.png) no-repeat;
}
.d_tc3 .title {
  display: block;
  margin: 0 0 0 465px;
}
.d_tc3 > p {
  width: 610px;
  font-size: 18px;
  line-height: 34px;
  color: #b5b5b5;
  margin: 110px 0 0 270px;
}
.d_tc3 > p span {
  color: #ffb132;
}
.d_tc3 .lp {
  width: 589px;
  height: 82px;
  position: relative;
  margin: 88px 0 0 270px;
  background: url(../images/d_bimg6.png) no-repeat;
}
.d_tc3 .lp img {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}
.d_tc3 .lp a {
  position: absolute;
  left: 300px;
  line-height: 82px;
  color: #f59c0b;
  font-size: 24px;
}
.d_tc3 .gz {
  width: 590px;
  height: auto;
  overflow: hidden;
  margin: 84px 0 0 270px;
}
.d_tc3 .gz h1 {
  float: left;
  width: 18px;
  padding: 4px 6px;
  font-size: 18px;
  color: #000000;
  line-height: 20px;
  background: #d4870a;
}
.d_tc3 .gz p {
  width: 540px;
  float: left;
  margin: 0 0 0 16px;
  font-size: 16px;
  line-height: 28px;
  color: #929292;
}
.d_tc4 {
  width: 978px;
  height: 629px;
  background: url(../images/d_tc_main2.png) no-repeat;
}
.d_tc4 .title {
  display: block;
  margin: 0 0 0 465px;
}
.d_tc4 > p {
  width: 610px;
  font-size: 18px;
  line-height: 34px;
  color: #b5b5b5;
  margin: 70px 0 0 270px;
}
.d_tc4 > p span {
  color: #ffb132;
}
.d_tc4 .lp {
  width: 589px;
  height: 82px;
  position: relative;
  margin: 88px 0 0 270px;
  background: url(../images/d_bimg6.png) no-repeat;
}
.d_tc4 .lp img {
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}
.d_tc4 .lp p {
  position: absolute;
  left: 300px;
  box-sizing: border-box;
}
.d_tc4 .lp p a {
  display: block;
  line-height: 24px;
  color: #f59c0b;
  font-size: 24px;
  margin: 16px 0 6px 0;
  text-decoration: underline;
}
.d_tc4 .lp p span {
  font-size: 16px;
  color: #959595;
}
.d_tc4 .gz {
  width: 590px;
  height: auto;
  overflow: hidden;
  margin: 60px 0 0 270px;
}
.d_tc4 .gz h1 {
  float: left;
  width: 18px;
  padding: 4px 6px;
  font-size: 18px;
  color: #000000;
  line-height: 20px;
  background: #d4870a;
}
.d_tc4 .gz p {
  width: 540px;
  float: left;
  margin: 0 0 0 16px;
  font-size: 16px;
  line-height: 23px;
  color: #929292;
}
.d_tc4 .btnBox {
  width: 590px;
  height: auto;
  text-align: center;
  overflow: hidden;
  margin: 30px 0 0 270px;
}
.d_tc4 .btnBox li {
  display: inline-block;
}
.d_tc4 .btnBox li img:hover {
  cursor: pointer;
}
.d_tc4 .btnBox li p {
  font-size: 16px;
  color: #6c6c6c;
}
.d_tc4 .btnBox li:nth-child(1) {
  margin-right: 50px;
}
.d_tc5 {
  width: 791px;
  height: 522px;
  background: url(../images/d_tc_main1.png) no-repeat;
}
.d_tc5 .title {
  display: block;
  margin: 160px 0 0 340px;
}
.d_tc5 p {
  width: 472px;
  margin: 60px 0 0 240px;
  font-size: 33px;
  line-height: 48px;
  color: #bcbcbc;
}
.d_tc6 {
  width: 978px;
  height: 629px;
  background: url(../images/d_tc_main2.png) no-repeat;
}
.d_tc6 .title {
  display: block;
  margin: 0 0 0 465px;
}
.d_tc6 h1 {
  width: 440px;
  margin: 80px 0 0 340px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.d_tc6 h1 span {
  color: #f69c0b;
}
.d_tc6 > p {
  width: 500px;
  margin: 20px 0 0 320px;
  color: #999999;
  text-align: center;
}
.d_tc6 .checkBox {
  width: 440px;
  height: auto;
  margin: 40px 0 0 340px;
  overflow: hidden;
}
.d_tc6 .checkBox div {
  float: left;
  width: 50%;
  text-align: center;
}
.d_tc6 .checkBox div p {
  display: inline-block;
}
.d_tc6 .checkBox div p label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin: 0 10px 0 0;
  position: relative;
  box-sizing: border-box;
  border-radius: 34px;
  border: 5px solid #f69c0b;
}
.d_tc6 .checkBox div p label i {
  display: none;
  width: 14px;
  height: 14px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 14px;
  background: #f69c0b;
}
.d_tc6 .checkBox div p span {
  display: inline-block;
  height: 34px;
  position: relative;
  font-size: 30px;
  top: -6px;
  color: #666666;
}
.d_tc6 .checkBox div p:hover {
  cursor: pointer;
}
.d_tc6 .checkBox div p.active label i {
  display: block;
}
.d_tc6 .checkBox div p.active span {
  color: #fff;
}
.d_tc6 .markBox {
  width: 400px;
  height: auto;
  margin: 40px 0 0 380px;
  overflow: hidden;
}
.d_tc6 .markBox img {
  float: left;
}
.d_tc6 .markBox div {
  width: 270px;
  height: auto;
  float: left;
  margin: 0 0 0 20px;
}
.d_tc6 .markBox div h2 {
  font-size: 24px;
  line-height: 34px;
  color: #ffffff;
}
.d_tc6 .markBox div p {
  margin: 20px 0 0 0;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}
.d_tc6 .yySignBtn {
  margin: 50px 0 0 430px;
}
.d_tc6 .yySignBtn:hover {
  cursor: pointer;
}
.d_tc7 {
  width: 978px;
  height: 629px;
  background: url(../images/d_tc_main2.png) no-repeat;
}
.d_tc7 .title {
  display: block;
  margin: 0 0 0 465px;
}
.d_tc7 div {
  width: 690px;
  height: 365px;
  overflow: hidden;
  overflow-y: auto;
  margin: 96px 0 0 250px;
}
.d_tc7 div table {
  width: 100%;
}
.d_tc7 div table thead td {
  padding: 15px 0 15px 8px;
  font-size: 20px;
  color: #f49b0b;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.d_tc7 div table tbody td {
  padding: 15px 0 15px 8px;
  font-size: 16px;
  color: #999999;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.d_tc7 div table tbody td:last-child {
  width: 60px;
  border: none;
}
.d_tc7 div table tbody td:last-child label {
  display: inline-block;
  width: 57px;
  height: 37px;
  text-align: center;
  line-height: 37px;
  font-size: 16px;
  color: #000;
  background: #f39a0b;
}
.d_tc7 div table tbody td:last-child label:hover {
  cursor: pointer;
}
.d_tc8 {
  width: 791px;
  height: 522px;
  background: url(../images/d_tc_main1.png) no-repeat;
}
.d_tc8 .title {
  display: block;
  margin: 0 0 0 340px;
}
.d_tc8 ul {
  width: 500px;
  height: auto;
  margin: 70px 0 0 210px;
}
.d_tc8 ul li {
  position: relative;
  padding: 0 0 0 34px;
  margin-bottom: 22px;
  box-sizing: border-box;
}
.d_tc8 ul li label {
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 6px;
  left: 0;
  color: #f69c0b;
  text-align: center;
  line-height: 24px;
  background: url(../images/d_ty.png) no-repeat;
}
.d_tc8 ul li p {
  font-size: 20px;
  line-height: 34px;
  color: #c2c2c2;
}
.d_tc9 {
  width: 791px;
  height: 522px;
  background: url(../images/d_tc_main1.png) no-repeat;
}
.d_tc9 .title {
  display: block;
  margin: 0 0 0 340px;
}
.d_tc9 .jp_list {
  width: 490px;
  height: 230px;
  margin: 80px 0 0 240px;
}
.d_tc9 .jp_list .swiper-container {
  width: 100%;
  height: 100%;
}
.d_tc9 .jp_list .swiper-container .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.d_tc9 .jp_list .swiper-container .swiper-wrapper .swiper-slide {
  position: relative;
}
.d_tc9 .jp_list .swiper-container .swiper-wrapper .swiper-slide img {
  position: absolute;
  margin: auto;
  height: 230px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.d_tc9 .jp_list .swiper-container .swiper-button-prev,
.d_tc9 .jp_list .swiper-container .swiper-button-next {
  width: 32px;
  height: 45px;
}
.d_tc9 .jp_list .swiper-container .swiper-button-prev {
  background: url(../images/d_jt1.png) no-repeat;
}
.d_tc9 .jp_list .swiper-container .swiper-button-next {
  background: url(../images/d_jt2.png) no-repeat;
}
.d_tc9 .lp_name {
  width: 490px;
  margin: 10px 0 0 240px;
  font-size: 18px;
  color: #cccccc;
  text-align: center;
}
.d_tc9 .lp_number {
  display: block;
  width: 490px;
  margin: 10px 0 0 240px;
  font-size: 18px;
  color: #757575;
  text-align: center;
}
.d_tc9 .lp_number label {
  color: #e38e0a;
}
.d_tc10 {
  width: 791px;
  height: 522px;
  background: url(../images/d_tc_main1.png) no-repeat;
}
.d_tc10 p {
  width: 472px;
  margin: 200px 0 0 240px;
  font-size: 33px;
  line-height: 48px;
  color: #bcbcbc;
  text-align: center;
}
