*{ padding: 0; margin: 0;}
body{ background: #000 url(../images/bg.jpg) top center no-repeat; font: 12px "微软雅黑", "Arial Narrow", HELVETICA;}
ul{ list-style-type: none;}
img{ display: block; border: 0;}
.clear{ clear: both;}
a{ text-decoration: none; outline-style: none;}
.wrap{ width: 1023px; height: auto; position: relative; margin: 0 auto;}
.logo{ float: left;}
/*顶部*/
.top{ height: 67px; margin:0px auto 315px auto; width: 1023px;}
.top a{ text-align: center; color: #6998b7; font-size: 1.5em;}
.top01{ float: right; margin-top: 13px;}
.top01 a{ display: inline-block; color: #6998b7; width: 110px; height: 40px; line-height: 40px; background: url(../images/link_bg.png) no-repeat;}
.top01 a.cur{ color: #00c6ff; background: url(../images/link_bg_hover.png) no-repeat;}
.top02{ float: left; margin-right: -5px; margin-top: 5px;}
.top02 img{ float: left;  margin-right: 20px; width: 110px; height: 110px;}
.top02 .top02_r{ float: left; margin-top: 3px;}
.top02 .top02_r h3,.top02 .top02_r h3 p{ color: #8e9ebd; height: 30px; line-height: 30px; font-size: 30px;}
.top02 .top02_r h3{ color: #8e9ebd; font-size: 26px;}
.top02 .top02_r p{ font-size: 16px; color: #dadada;}
/*模块一*/
.main01{ width: 1023px; height: 150px;}
.main01_left{ width: 135px; float: left; height: 150px;}
.main01_left p{ text-align: center; color: #fff; font-size: 1em; width: 135px;}
.main01_left img{ width: 135px; height: 135px;}
.main01_right{ width: 710px; float: left; height: 150px;}
.main01_right p{ height: 55px; padding-top: 95px;}
.main01_right p a{ display: inline-block; font-weight: bold; float: left; margin-left: 10px; width: 190px; height: 54px; line-height: 54px; color: #fff; font-size: 1.5em; background: url(../images/nav_bg.png) no-repeat;}
.main01_right p a:hover{ background: url(../images/nav_bg_hover.png) no-repeat;}
.main01_right p a img{ float: left; margin: 8px 8px 0 20px;}
.main01_right p span{ margin-top: -10px; margin-left: 15px; display: inline-block; cursor: pointer;}
/*修改*/
.gift{ width: 170px; height: 110px; position: relative; padding-top: 40px; float: right; z-index: 100;}
.gifts{ position: absolute; bottom: -5px; left:-20px;}
.light{ position: absolute; left: -14px; top: 40px;-webkit-animation: run1 3s infinite linear; animation: run2 5s infinite linear;}
@-webkit-keyframes run1{
0%{
	-webkit-transform: rotate(0deg); 
	transform: rotate(0deg);}
100%{ 
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);}
}
@keyframes run1{
0%{
	-webkit-transform: rotate(0deg); 
	transform: rotate(0deg);}
100%{ 
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);}
}
/*模块二*/
.main02{ width: 1023px; height: 265px; padding: 10px 0;}
.main02_left{ float:left; width: 181px; float: left; position: relative;}
.main02_left a{ display: block; width: 142px; height: 37px; background: url(../images/qd.png) no-repeat; left: 20px; bottom: 20px; position: absolute;}
.main02_left a:hover{ background: url(../images/qd_hover.png) no-repeat;}
.main02_mid{ width: 480px; padding: 0 10px; float: left;}
.main02_nav{ width: 470px; height: 40px; line-height: 40px; font-weight: bold; border-bottom: 2px solid #fff;}
.main02_nav ul{ width: 400px; float: left;}
.main02_nav ul li{ width: 75px; text-align: center; height: 40px; float: left; font-size: 1.2em;}
.main02_nav ul li a{ color: #fff; display: block;}
.main02_nav ul li a.on{ color: #00c6ff; border-bottom: 2px solid #00c6ff;}
.main02_nav a.more{ color: #fff; font-size: 1em; float: right;}
.main02_info{ width: 470px; height: 185px; padding-top: 25px; font-size: 1em; font-family: "宋体"; color: #00c6ff;}
.main02_info ul li{ height: 30px; line-height: 30px; text-align: left; width: 460px; padding: 0 5px;}
.main02_info ul li a{ float: left; color: #00c6ff;}
.main02_info ul li span{ float: right;}
.main02_right{ width: 337px; height: 267px; float: right; position: relative; overflow: hidden;}
.main02_right ul{ position: absolute;  width: 1348px; height: 267px;}
.main02_right ul li{ float: left; width: 337px; height: 267px;}
.main02_right ul li img{  width: 337px; height: 267px;}
.buttons{ position: absolute; left: 20px;  bottom: 10px; height: 18px;}
.jchd_con .buttons{ position: absolute; left: 320px;}
.buttons span{ display: inline-block; cursor: pointer; background: url(../images/button.png) no-repeat; width: 18px; height: 18px; margin-left: 3px;}
.jchd_con .buttons span{ display: inline-block; cursor: pointer; background: url(../images/white.png) no-repeat; width: 13px; height: 13px; margin-left: 3px;}
.buttons span.on{ background: url(../images/buttons.png) no-repeat;}
.jchd_con .buttons span.on{ background: url(../images/yellow.png) no-repeat;}
/*模块三*/
.main03{ width: 1023px; height: 125px; margin-bottom: 10px;}
.main03 ul li{ float: left; margin-right: 5px;}
.main03 ul li.last{ margin: 0;}
/*模块四*/
.main04{ width: 1023px; height: 350px; margin-bottom: 10px;}
.main04_left{ width: 244px; height: 342px; float: left; border: 4px solid #98a7c6; background: #3b4c69;}
.main04 h3{ height: 46px; line-height: 46px; text-align: center;  font-size: 2em; color: #fff;}
.code02{ width: 145px; height: 165px; background: #222f42; margin: 0 auto; margin-bottom: 10px;}
.code02 img{ padding: 5px;}
.code02 p{ height: 20px; line-height: 20px; color: #FFFFFF; text-align: center; font-size: 1.1em;}
.main04_link{ position: relative;}
.main04_link p{ width: 214px; padding: 0 17px; margin-bottom: 5px; }
.main04_link p a{ display: inline-block; width: 98px; height: 33px; text-align: center; line-height: 35px; margin-left: 5px; border-bottom: 2px solid #516394; background: #222f42; color: #FFFFFF; font-size: 1.2em;}
.main04_right{ width: 771px; height: 350px; float: right; position: relative;}
.main04_right .show_hidden{ float: left; display: inline-block; margin-left: 5px;}
.hide{ padding: 5px 0; position: absolute; top: 75px; left: 22px; z-index: 100;}
.hide p{ height: 25px; line-height: 25px; color: #fff; width: 120px; padding-left: 15px;}
.hide02 p{ width: 140px;}
.hide03 p{ width: 180px;}
.hide04 p{ width: 150px;}
.hide01{ position: absolute; top: 0; left: 0; background: #3b4c69;}
.hide02{ position: absolute; top: 0; left: 105px; background: #3b4c69;}
.hide03{ position: absolute; top: 40px; left: 0; background: #3b4c69;}
.hide04{ position: absolute; top: 40px; left: 105px; background: #3b4c69;}
/*模块五——改变新加*/
.main05{ width: 100%; height: auto; margin-bottom: 10px;}
.main05_left{ width: 580px; height: 270px; float: left;}
.main05_right{ width: 435px; height: 270px; float: right;}
.main05 h2{ height: 50px; color: #cccccc; margin-bottom: 1px; font-size: 20px; line-height: 50px; background: #131d2e;  padding-left: 10px;}
.main05 h2 img{ float: left; margin: 15px 2px 0px 10px;}
.main05_left ul li{ width: 100%;  background: #182439; height: 72px;line-height: 72px; margin-bottom: 1px;+margin-bottom: -3px;}
.main05_left ul li span{ display: block; float: left; width: 121px; height: 72px; text-align: center; color: #70abfc; font-size: 16px; background: url(../images/t_bg.jpg) no-repeat;}
.main05_left ul li a{ width: 110px; height: 72px; font-size: 14px; text-align: center; color: #acbfd6; float: left; display: block;}
.main05_right ul{ background: #182439; width: 100%; height: 218px;}
.main05_right ul li{ width: 205px; height: 95px; position: relative; margin-top: 10px; float: left; position: relative; margin-left: 10px;}
.main05_right ul li img{ width: 205px; height: 95px;}
.main05_right ul li p{ position: absolute; bottom: 0; left: 0; width: 100%; height: 23px; line-height: 23px; background: rgba(0,0,0,.4); color: #cccccc; font-size: 12px; text-align: center;}
/*模块六——改变新加*/
.main06{ width: 100%; height: 377px;}
.main06_left{ width: 580px; height: 377px; float: left; background: #182439}
.main06_right{ width: 435px; height: 377px; float: right; background: #182439;}
.main06 h2{ height: 50px; color: #cccccc;border-bottom: 1px solid #000; font-size: 20px; line-height: 50px; background: #131d2e;  padding-left: 10px;}
.main06 h2 img{ float: left; margin: 15px 2px 0px 10px;}
.main06_left h2 ul li{ float: left;}
.main06_left h2 p{ width: 150px; float: left;}
.main06_left h2 ul li a{ width: 110px; text-align: center; font-size: 16px; font-weight: normal; color: #acbfd6; display: block; height: 50px; float: left;}
.main06_left h2 ul li.on{ background: #182439; border-bottom: 1px solid #182439; border-left: 1px solid #000; border-right: 1px solid #000;}
.qzdq{ width: 100%; height: 327px; overflow: hidden;}
.qzdq_01{ position: relative; width: 100%; height: 327px; overflow: hidden;}
.qzdq_01 ul{ position: absolute; left: 0;}
.qzdq_01 ul li{ float: left; width: 580px; height: 327px;}
.qzdq_01 ul li img{width: 580px; height: 327px;}
.arrow{ position: absolute; top: 0; width: 45px; height: 327px; cursor: pointer;}
.arrow_left{ left: 30px; background: url(../images/arrow_left.png) no-repeat center center;}
.arrow_right{ right: 30px; background: url(../images/arrow_right.png) no-repeat center center;}
.qzdq_02 ul,.qzdq_03 ul{ height: 300px;}
.qzdq_02 ul li,.qzdq_03 ul li{ float: left; width: 270px; height: 132px; border: 1px solid #0c1420; margin-top: 10px; margin-left: 10px;}
.qzdq_02 ul li p{ background: #1d2c47; width: 268px; height: 100px; border: 1px solid #233455; border-bottom: 0;}
.qzdq_02 ul li p img{ width: 255px; height: 88px; margin: 5px auto;}
.qzdq_02 ul li h4{ width: 100%; height: 30px; border-top: 1px solid #000; font-weight: normal; line-height: 30px; text-align: center; background: #141f32; color: #acbfd6; font-size: 16px;}
.qzdq_03 ul li img{ width: 270px; height: 132px;}
.jx_page{ text-align: right; padding-right:10px; clear: both;}
.jx_page span{ padding:5px; color: #acbfd6; font-size: 12px; cursor: pointer;}
.jx_page span.on{ color: #00c6ff;}
.main06_right_wrap{ padding: 10px 20px;}
.main06_right h3{ width: 100%; height: 25px; color: #70abfc; font-size: 16px; text-align: left;}
.main06_right1 p{ width: 100%; height: 38px; line-height: 38px; border-bottom: 1px solid #0c1420;}
.main06_right1 p a{ float: left; padding-right: 38px; color: #acbfd6; font-size: 14px;}
.main06_right2 h3{ height: 25px; border-top: 1px solid #1f2f4a; padding-top: 10px;}
.main06_right2 ul li{ width: 100%; height: 38px; line-height: 38px; font-size: 14px;}
.main06_right2 ul li a{ float: left; color: #acbfd6;}
.main06_right2 ul li a:hover{text-decoration: underline;}
.main06_right2 ul li span{ float: right; color: #425b78;}
/*底部*/
.bottom{ margin-top: 30px; width: 100%; height: 143px; background: url(../images/bottom_bg.jpg); text-align: center;}
.bot_link{ width: 1023px; height: 88px; margin: 0 auto; padding-top: 22px;}
.bot_link ul{ height: 77px;}
.bot_link ul li{ float: left; padding:0px 23px;background: url(../images/link_line.png) no-repeat left; height: 77px; width: 154px; display: inline-block;}
.bot_link ul li.no_left{ margin-left: 0;}
.bot_link a{ display: inline-block;}
.bot_link a img{ border: 0; width: 154px; height: 77px;}
.bottom p{ text-align: center; color: #6698ab; font-size: 1.2em; height: 43px; line-height: 43px;}
/*视频*/
#video_mask { width: 100%;height: 100%;padding-top:100px;background: url(../images/d.png); position: fixed;top: 0; left: 0;z-index: 99999;display: none;}
#close {width: 30px;height: 30px; position: absolute; top: -30px; right: -30px; background: url(../images/c.png) no-repeat;cursor: pointer;}
.none {line-height: 0;font-size: 0;margin: 0;padding: 0;}
.both {clear: both;}
#player5{ width: 714px; height: 377px; margin:160px auto 0; position: relative;}
.videos{ width: 714px; height: 377px; background: url(../images/video_bg.jpg) no-repeat; margin: 20px auto; clear: both; overflow: hidden;}
.videos embed { display: block; width: 696px; height: 358px; margin: 9px;}

/*改版添加*/
.gift_hc{cursor: pointer;}
.gift_hover{ z-index: 90; display: none; position: absolute; top: 155px; right: 0px; width: 284px; height: 53px; line-height: 65px; font-size: 1.7em; text-align: center; color: #fff; background: url(../images/gift_hover.png) no-repeat;}
.gift_click{ display: none; margin-top: 5px; z-index:92;position: absolute; top: 155px; right: 0px; width: 170px;}
.gift_click a{ margin-bottom: 5px; display: block; color: #ffee93; font-size: 2.2em; font-weight: bold; width: 170px; height: 60px; line-height: 60px; text-align: center; background: url(../images/gift_btn.png) no-repeat;}
.gift_click a:hover{background: url(../images/gift_btnhover.png) no-repeat;}
.gift_tck,.gift_tck01{display: none;  z-index: 999; width: 600px; height: 240px; position: fixed; left: 50%; margin-left: -300px; top: 40%; }
.gift_title{ background: url(../images/gift_tckbtn.png) no-repeat; width: 200px; height: 59px; line-height: 59px; font-size: 2.2em; color: #ffee93; text-align: center;}
.tck_main{ width: 560px; height: 149px; background: url(../images/tck_bg.jpg) no-repeat; padding: 15px 20px; }
.zz{ display: none;background:url(../images/d.png) repeat; width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 100;}
.text{ margin-bottom: 10px; width: 558px; height: 48px; background: #172b2c;  border: 1px solid #000;}
.text input{color: #ffee93;background: none; border: 0; height: 48px; line-height: 48px; font-size: 2em; width: 528px; outline: none; padding:0px 15px;}
.tck_btn{overflow: hidden; width: 600px;}
.tck_btn a{color: #ffee93; width: 180px; height: 60px; line-height: 60px; text-align: center; display:inline-block; background: url(../images/rec_btn.jpg) no-repeat; font-size: 2em; margin-right: 7px;}
.tck_btn a.tck_btn_01{background: url(../images/rec_btn_hui.jpg) no-repeat;}
.mask{ display: none;background:url(../images/d.png) repeat; width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 99;}
/*6/10改版添加*/
.tck_con{display: none;z-index: 999; width: 1000px; height: 563px; position: fixed; left: 50%; margin-left: -500px; top: 25%; }
.tck_image{width:1000px;height:563px;position: relative;}
.close{display: block; width: 30px; height: 30px; cursor: pointer; position: absolute; top:25px; right: 30px;}
.con{position: absolute;width: 1000px;height: 563px;overflow: hidden;}
.content{position: absolute;top:0;left:0px;width: 4000px;height: 563px;}
.content li{float: left;width: 1000px;height: 563px;}
.prevbtn,.nextbtn{position: absolute;top:260px;width: 40px;height: 65px; z-index: 100;}
.prevbtn{left: 30px;}
.nextbtn{right: 30px;}

/*列表页*/
.wrap01{ width: 1196px;}
div.main01_right01{width:600px;margin: 0px auto; clear: both;position: relative; left: 450px;}
.news_list{margin-top: 6px; margin-bottom: 50px;}
.newlist_left{width: 296px; float: left;}
.left_btn{text-align: center;}
.left_btn a{display: block; width: 296px; height: 110px; line-height: 110px; margin-bottom: 10px; background: url(../images/listleft_btn.png) no-repeat; font-weight: bold; font-size: 48px; color: #acced8;}
.left_btn a:hover{background: url(../images/listleft_btnhover.png) no-repeat;}
.left_erweima{background:#3b4c69;width: 250px; height: 250px; margin: 0px auto; border: 5px solid #98a7c6;}
.left_erweima h3{color: #fefefe; font-size: 24px; margin: 20px 0px 10px 0px; text-align: center;}
.ewm{ width: 145px; margin: 0px auto; background: #222f42; text-align: center; }
.ewm img{ padding: 5px 5px 10px 5px;}
.ewm p{color: #fff; padding-bottom: 5px;}
.newlist_right{ float:right;width: 886px; min-height: 863px;background: url(../images/list_rightbg.png) repeat; }
.news_rtop{ width: 100%; height: 40px; background: #343631;}
.newlist_right p{ font-size: 40px; text-align: center; color: #8fabc8; margin: 23px 0px;}

.news_rtitle ul{width: 770px; margin: 0px auto; height: 40px;}
.news_rtitle ul li{ float: left; background: url(../images/list_new.png) no-repeat; height: 40px; line-height: 40px; width: 145px; text-align: center; margin-left: -17px; font-size: 18px;}
.news_rtitle ul li a{display:block;color: #6c848e;}
.news_rtitle ul li a:hover{background: url(../images/list_newhover.png) no-repeat; color: #343631;}
.news_rtitle ul li.new_active{background: url(../images/list_newhover.png) no-repeat; }
.news_rtitle ul li.new_active a{color: #343631;}

.newlist_con{width: 800px; margin: 25px auto 0px auto;}
.newlist_con ul li{font-size: 18px; line-height: 40px; width: 100%; height: 40px;}
.newlist_con ul li a,.newlist_con ul li span{color: #6c848e; display: block;}
.newlist_con ul li a{float: left;}
.newlist_con ul li a:hover{text-decoration: underline;}
.newlist_con ul li span{float: right;}
.page{margin: 30px 0px 50px 0px;}
.number{font-size: 18px; width: 100%; margin: 0px auto; text-align: center;}

ul#yw0 {display: inline-block;}
.page ul li {display: inline-block;float: left;}
.page ul li a{display: inline-block;font-size: 14px;background: #9ca396;padding: 2px 5px;color: #3e3e3e;margin: 2px;}
.page ul li a:hover,.page ul li.active a{color:#a4eae5;}
.gift_tck01{display: none;}
.gift_click a.hd_btn{display: none;}

/*文章页*/
.newlist_right p.bianji{font-size: 12px;}
.time{margin-right: 20px;}
.news_main,.artical{width: 800px; margin: 25px auto 0px auto;}
.news_main p,.artical p{text-align: left;}
.news_main p{text-indent: 2em;font-size: 14px; line-height: 24px;}
.artical p{margin: 0px; line-height: 24px; text-indent: 2em;}
.artical p a{font-size: 12px; color: #fff; margin: 0px;}
.artical p a:hover{color: #f90;}
.newlist_right p.p_title{ font-size: 40px; text-align: center; color: #8fabc8;}
.artical{margin-bottom: 30px;}

#demo{ overflow:hidden; position:relative; width: 1023px; margin: 0px auto;}
#indemo { float: left;width: 800%;}
#demo1 {float: left; height:100px;}
#demo2 {float: left;}


/*cover页*/
/*cover页——背景*/
.c_bg01{ width: 100%; height: 237px; background: url(../images/c_bg01.jpg) no-repeat top center;}
.c_bg02{ width: 100%; height: 227px; background: url(../images/c_bg02.jpg) no-repeat top center;}
.c_bg03{ width: 100%; height: 242px; background: url(../images/c_bg03.jpg) no-repeat top center;}
.c_bg04{ width: 100%; height: 232px; background: url(../images/c_bg04.jpg) no-repeat top center;}
.c_bg05{ width: 100%; height: 237px; background: url(../images/c_bg05.jpg) no-repeat top center;}
.c_wrap{ width: 1024px; position: relative; height: 1175px; position: absolute; z-index: 5; top: 0; left: 50%; margin-left: -512px;}
.c_wrap .c_logo{ position: absolute; top: 10px; left: 10px;}
/*cover页——主题内容*/
.c_con{ width: 100%; height: 460px; position: absolute; top: 635px;}
.c_link{ width: 100%; height: 60px; margin-bottom: 5px;}
.c_link a{ float: left; display: block; margin-left: 4px;}
.c_link .enter{ width: 283px; height: 60px; line-height: 60px; font-weight: bold; text-align: center; background: url(../images/c_link_bg.png) no-repeat; color: #a0d8ef; font-size: 30px;}
.c_link .enter:hover{ background: url(../images/c_link_bg_hover.png) no-repeat;}
.c_main{ width: 100%; height: 400px;}
.c_main .c_mainl{ width: 574px; height: 397px; float: left; background: url(../images/c_con_bg.jpg) no-repeat;}
.c_main .c_mainr{ width: 450px; height: 397px; float: right; background: url(../images/c_con_bg02.jpg) no-repeat;}

.mainl_top{ width: 555px; height: 193px; padding-top: 15px; margin: 0 auto; margin-top: 20px; margin-bottom: 5px; background: url(../images/c_gift_bg.jpg) no-repeat;}
.mainl_top form{ height: 112px; margin-bottom: 15px;}
.mainl_top p{ width: 510px; height: 50px; position: relative; margin: 0 auto; margin-bottom: 10px;}
.mainl_top input{ height: 50px; color: #83ccd2; font-size: 24px; padding-left: 10px; outline-style: none; background: url(../images/repeat.png);}
.mainl_top p.tel{ background: url(../images/tel_bg.png) no-repeat;}
.mainl_top input.mobile{ width: 350px; float: left; outline-style: none; border: 0; background: transparent;}
.mainl_top .get_code{ display: block; width: 113px; height: 38px; cursor: pointer; float: right; margin-right: 5px; margin-top: 5px;}
.mainl_top input.pwd{ width: 235px; border: 1px solid #203643; position: absolute; left: 0;}
.mainl_top input.yzm{ position: absolute; right: 0; width: 235px; border: 1px solid #203643;}
.sign_bot p{ float: left; margin-left: 180px; color: #213744; font-size: 0.6em;}
.sign_bot a{ float: right; margin-right: 22px;}
.sign_bot p span{ display: block; width: 13px; height: 13px; border: 1px solid #213744; border-radius: 2px; float: left; margin: 3px 5px;}
.sign_bot p span.on{ background: url(../images/check.png) no-repeat center center;}
.mainl_bot{ width: 558px; height: 130px; margin: 0 auto;}
.mainl_bot a{ float: left; display: block; margin-left: 3px; position: relative;}
.mainl_bot a img{ width: 183px; height: 140px;}
.mainl_bot a p{ position: absolute; font-weight: bold; left: 0; bottom: 0; width: 100%; font-weight: bold; height: 35px; line-height: 35px; text-align: center; font-size: 16.6px; color: #f7e985;}
.mainl_bot a .no_margin{ margin: 0;}

.mainr_info{ width: 421px; margin-bottom: 100px; margin: 0 auto;}
.mainr_info .jchd{ width: 421px; height: 300px; background: url(../images/jchd_bg.jpg) no-repeat; position: relative; margin-bottom: 20px;}
.mainr_info h2{ color: #fdf6c0; padding-left: 70px; font-weight: normal; text-align: left; font-size: 24px; position: relative; height: 62px; line-height: 62px; padding-top: 10px;}
.mainr_info h2 img{ display: inline; position: absolute; left: 23px; top: 25px;}
.mainr_info h2 a{ color: #fdf6c0; position: absolute; right: 30px; bottom: -5px; font-size: 14px;}
.jchd_con{ width: 400px; height: 288px; overflow: hidden; position: absolute; left: 10px; top: 6px;}
.jchd_con ul{ width: 1600px; position: absolute; left: 0;}
.jchd_con ul li{ float: left; width: 400px; height: 288px;}
.jchd_con ul li img{ width: 100%; height: 288px;}

.gift_iframe{ width: 574px; height: 540px; display: none; position: fixed; left: 50%; margin-left: -287px; top: 200px; background: url(../images/iframe_bg.jpg) no-repeat; z-index: 100;}
.gift_iframe h2{ height: 58px; line-height: 58px; font-size:30px; text-align: center; color: #f7e985;}
.gift_iframe .pro{ margin: 0 auto; margin-top: 10px;}
.gift_iframe p.gift_text{ margin: 25px 0 10px 0; color: #f9df88; font-size: 24px; text-align: center;}
.gift_iframe a{ display: block; margin: 0 auto; margin-bottom: 5px; width: 551px; height: 60px; background: url(../images/btn02.png) no-repeat; line-height: 60px; text-align: center; color: #ffee93; font-size: 30px;}
.gift_iframe .close_btn{ position: absolute; right: 0; top: -40px; cursor: pointer;}


/*cover页——底部版权*/
.c_wrap .c_bottom{ position: absolute; bottom: 0; width: 100%; height: 60px; padding-top: 30px; color: #c1c1bf; font-size: 12px; text-align: center;}
.c_bottom p{ margin-bottom: 5px;}
/*下载页*/
.downl_title{margin-bottom: 30px;display: block;}
.dl_box{width: 844px;height: 196px; border: 1px solid #000; background: url(../images/dl_bg.png) repeat;margin: 10px auto;}
.dl_left{width: 379px;  height: 195px; float: left; text-align: center; background: url(../images/d_blue.png) no-repeat left bottom;}
.dl_box01 .dl_left{background: url(../images/d_yellow.png) no-repeat left bottom;}
.dl_box02 .dl_left{background: url(../images/d_red.png) no-repeat left bottom;}
.dl_erw{width: 135px;margin: 18px 0px 0px 28px;float: left;}
.dl_erw p{font-size: 12px;color: #ccc; margin: 0px 0px 10px 0px;}
.dl_erw img{width: 135px;}
.dl_btn{float: left;margin-top: 40px;margin-left: 10px;}
.dl_btn p{font-size: 14px;color: #ccc;margin: 0px 0px 10px 0px;text-align: left;}
.dl_right{float: right;}
.dl_box01 .dl_right{margin-right: 80px;}
.dl_title img{position: relative;left: 15px;}
.dl_line{display: block;background: url(../images/dl_line.png) no-repeat top left; width: 846px;height: 7px;margin:20px auto;}
.dl_box02{margin-bottom: 100px;}

/*yiicms 底部全民枪战官方助手*/
.main05before{ width: 1023px; height: 70px;}
.main05before a{ width: 248px; height: 60px; line-height: 60px; text-align: center; background: url(../images/gwzs_nav.png) no-repeat; display: inline-block; margin-left: 4px; color: #FFFFFF; font-size: 1.5em;}
.main05before a:hover{ background: url(../images/gwzs_nav_hover.png) no-repeat;;}