.hidden{
    display: none;
}
.kv {
    width: 100%;
    height: 928px;
    background:url(../images/kv.jpg) no-repeat center;
    overflow: hidden;
    position: relative;
    min-width: 1200px;
    max-width: 1920px;
    margin:0 auto;
    z-index:10;
    top: 0px;
}
.kv video{
    display: block;
    width: 1920px;
    height: 928px;
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -960px;
    z-index: 12;
}
.kv #video1{
    display: block;
    width: 1920px;
    height: 928px;
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -960px;
    z-index: 12;
}
.kv #video2{
    display: block;
    width: 1920px;
    height: 928px;
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -960px;
    z-index: 12;
}
.kv_video {
    width: 1920px;
    height: 808px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -960px;
    -o-object-fit: cover;
       object-fit: cover;
       z-index: 16;
}
.play {
    width: 136px;
    height: 122px;
    position: absolute;
    top: 191px;
    left: 50%;
    cursor: pointer;
    z-index: 16;
    margin-left: 122px;
}

.play .big_img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: vGo 6s linear infinite;
    -webkit-animation: vGo 6s linear infinite;
}

.play:hover .big_img {
    animation: gGo 6s linear infinite;
    -webkit-animation: gGo 6s linear infinite;
}

@keyframes vGo {
    0% {
        -webkit-transform: rotate(0deg) scale(.9);
                transform: rotate(0deg) scale(.9);
    }
    50% {
        -webkit-transform: rotate(180deg) scale(1);
                transform: rotate(180deg) scale(1);
    }
    100% {
        -webkit-transform: rotate(360deg) scale(.9);
                transform: rotate(360deg) scale(.9);
    }
}

@-webkit-keyframes vGo {
    0% {
        -webkit-transform: rotate(0deg) scale(.9);
                transform: rotate(0deg) scale(.9);
    }
    50% {
        -webkit-transform: rotate(180deg) scale(1);
                transform: rotate(180deg) scale(1);
    }
    100% {
        -webkit-transform: rotate(360deg) scale(.9);
                transform: rotate(360deg) scale(.9);
    }
}

.s_img {
    display: block;
    width: 61px;
    height: 67px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -23.5px;
    margin-top: -35px;
}
.logo {
    width: 225px;
    height: 128px;
    position: absolute;
    top: 54px;
    left: 20px;
    z-index: 16;
}
.kv>.wrap .down_box{
    width: 692px;
    height: 97px;
    position: relative;
    top: 624px;
    left: 50%;
    margin-left: -188px;
    z-index: 16;
}
.kv>.wrap .down_box>a{
    width:225px;
    height:97px;
    position: absolute;
      transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}
.kv>.wrap .down_box>a:hover{
    transform: translate(0, -8px);
    -webkit-transform: translate(0, -8px);
}
.kv>.wrap .down_box>a:hover .ico{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
}
.kv>.wrap .down_box>a img.btn_bg{
    width:100%;
    height:100%;
}
.kv>.wrap .down_box .down_az{
    
    left:246px;
}
.kv>.wrap .down_box .down_az .ico{
    width: 48px;
    height: 49px;
    position: absolute;
    left: 51px;
    top: 50%;
    margin-top: -25.5px;
    transition: all .5s;
    -webkit-transition: all .5s;
}
.kv>.wrap .down_box .down_ios{
    left: 18px;
}
.kv>.wrap .down_box .down_ios .ico{
    display:none;
    width: 47px;
    height: 53px;
    position: absolute;
    left: 45px;
    top: 50%;
    margin-top: -27.5px;
    transition: all 1s;
    -webkit-transition: all 1s;
}
.kv>.wrap .down_box .down_tap{
    left: 476px;
}
.kv>.wrap .down_box .down_tap .ico{
    width: 46px;
    height: 46px;
    position: absolute;
    left: 52px;
    top: 50%;
    margin-top: -25.5px;
    transition: all 1s;
    -webkit-transition: all 1s;
}
.ufo{
    width: 300px;
    height: 378px;
    overflow: hidden;
    position: absolute;
    right: 0px;
    top: -203px;
    z-index: 11;
    animation: snow 5s linear infinite;
    -webkit-animation: snow 5s linear infinite;
}
@keyframes snow {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(60px);
    }
    100% {
        transform: translateY(0);
    }
}
@-webkit-keyframes snow {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(60px);
    }
    100% {
        transform: translateY(0);
    }
}
.ufo img{
    width: 404px;
    height: 378px;
    position:absolute;
    left:0;
}
.main {
    width: 100%;
    height: 1008px;
    background: url(../images/bg1.jpg) no-repeat center;
    position: relative;
    min-width: 1200px;
    max-width: 1920px;
    margin:0 auto;
}
.main .wrap p{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 31px;
    letter-spacing: 4px;
    top:157px;
    position: relative;
    font-weight: 500;
    text-shadow: 0px 0px 10px #00b2ff;
    display: none;
}
.swiper-pagination {
    text-align: center;
    width: 100%;
    position: relative;
    top: 262px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 14px;
    background: url(../images/po1.png) no-repeat;
    background-size: 100% 100%;
    opacity: 1;
    margin:0 5px;
}
.swiper-pagination-bullet-active {
    width: 14px;
    height: 15px;
    background: url(../images/po.png) no-repeat;
    background-size: 100% 100%;
}

.fl_wx {
    position: absolute;
    width: 160px;
    height: 160px;
    right: 71px;
    top: 77px;
    display: none;
    z-index: 31;
}

.fl_wx img {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50%;
    margin-top: -62px;
    left: 20px;
}

.main_news {
    width: 518px;
    height: 355px;
    position: relative;
    margin: 9px 0 0 2px;
}
.d_gallery {
    width: 1028px;
    height: 487px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
.bottom_banner{
    width: 899px;
    margin: 0 auto;
    overflow: hidden;
    top: 262px;
    position: relative;
}
.bottom_banner .swiper-slide>a {
    margin-left: 50%;
    display: inline-block;
    width:658px;
    height:386px;
    text-align: center;
    transform: translate(-165px,0);
    -ms-transform: translate(-165px,0);
    -webkit-transform: translate(-165px,0);
    -o-transform: translate(-165px,0);
    -moz-transform: translate(-165px,0);
}
.bottom_banner .swiper-slide>a img {
    margin-left: 167px;
    cursor: pointer;
   width:658px;
    height:386px;
    transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
}
.bottom_banner  .swiper-slide-shadow-right,.bottom_banner .swiper-slide-shadow-left {
    position: absolute;
    left: -160px;
    top: 0px;
    width: 344px;
    height: 353px;
    pointer-events: none;
    z-index: 10;
}.bottom_banner  .swiper-slide-shadow-right{
    left: 118px;
}
.swiper-container-3d .swiper-slide-shadow-right {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(35, 96, 141, 0.4)), to(rgba(35, 96, 141, 0.4)));
    background-image: -webkit-linear-gradient(left, rgba(35, 96, 141, 0.4), rgba(35, 96, 141, 0.4));
    background-image: -o-linear-gradient(left, rgba(35, 96, 141, 0.4), rgba(35, 96, 141, 0.4));
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(35, 96, 141, 0.4)), to(rgba(35, 96, 141, 0.4)));
    background-image: linear-gradient(to right, rgba(35, 96, 141, 0.5), rgba(35, 96, 141, 0.5));
    margin-top: 1rem;
}

.swiper-container-3d .swiper-slide-shadow-left {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(35, 96, 141, 0.4)), to(rgba(35, 96, 141, 0.4)));
    background-image: -webkit-linear-gradient(right, rgba(35, 96, 141, 0.4), rgba(35, 96, 141, 0.4));
    background-image: -o-linear-gradient(right, rgba(35, 96, 141, 0.4), rgba(35, 96, 141, 0.4));
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(35, 96, 141, 0.4)), to(rgba(35, 96, 141, 0.4)));
    background-image: linear-gradient(to left, rgba(35, 96, 141, 0.4), rgba(35, 96, 141, 0.4));
    margin-top: 1rem;
}
.swiper-pagination1 {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.swiper-button-prev{
    width: 170px;
    height: 500px;
    position: absolute;
    left: 153px;
    top: 243px;
    z-index: 10;
    cursor: pointer;
    background: url(../images/orev.png) no-repeat center;
}
.swiper-button-next{
    width: 32px;
    height: 500px;
    position: absolute;
    right: 196px;
    top: 243px;
    z-index: 10;
    cursor: pointer;
    background: url(../images/next.png) no-repeat center;
}
.main .wrap .light{
    width:1717px;
    height:812px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    cursor: pointer;
    background: url(../images/light.png) no-repeat center;
}
/*------kv更换*/
.down-box2 {
    width: 376px;
    height: 197px;
    background: url("./../images/down-bg.png") no-repeat center;
    position: absolute;
    z-index: 10;
    bottom: 150px;
    left: 0;
}

.down-box2 img {
    width: 136px;
    height: 136px;
    margin-top: 17px;
    margin-left: 22px;
}

.down-box2 .ios-down {
    width: 180px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
}

.down-box2 .andriod-down {
    width: 180px;
    height: 60px;
    position: absolute;
    top: 70px;
    right: 0;
}

.down-box2 .tap-down {
    width: 180px;
    height: 60px;
    position: absolute;
    top: 140px;
    right: 0;
}

.kv-wrapper {
    max-width: 1920px;
    margin: auto;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}
.kv-wrapper .scaleImg{
}
.kv .kv-bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 5;
}
.kv .wrap {
    position: absolute;
    width:1200px;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 16;
}
.kv .play-btn{
   position: absolute;
    top: 230px;
    left: 265px;
    cursor: pointer;
}
.kv .play-btn img.play_bg{
    width: 111px;
    height: 111px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: vGo 2s linear infinite;
    animation: vGo 2s linear infinite;
}
.kv .play-btn img.play_sm{
    width: 44px;
    position: absolute;
    top: 26px;
    left: 38px;
}
/*弹窗*/
.co_tips{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background:rgba(0,0,0,.9);
    z-index: 11111;
}
.co_tips .tips_close{
    position: absolute;
    right: 26px;
    top: 28px;
    width: 48px;
    height: 44px;
    cursor: pointer;
    transition: all .9s;
    -webkit-transition: all .9s;
}
.co_tips .tips_close:hover{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
.co_tips .co_error {
    position: absolute;
    width: 100%;
    bottom: -24px;
    opacity: 0;
    color: #7F818D;
    font-size: 12px;
    text-indent: 5px;
    height: 22px;
    line-height: 22px;
}
.co_tips .co_error.co_err_show {opacity: 1;}
.co_tips .tips_center {
    z-index: 22222;
    position: absolute;
    width: 539px;
    height: 724px;
    left: 50%;
    top: 50%;
    margin-left: -269.5px;
    margin-top:-367px;
    background:url("../images/tc1.png");
    background-size:100% 100%;
}
.co_tips .tips_center .co_form{
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    margin-left: -8px;
}
.co_tips .co_tipsbtn {
    position: absolute;
    bottom: 37px;
    width: 452px;
    text-align: center;
    height: 90px;
    left: 50%;
    margin-left: -233px;
    overflow: hidden;
    cursor: pointer;
}
.order-to .tips_center .co_form{margin-top:10%;}
.order-to .inp {
    width: 452px;
    height: 89px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 23px;
}
.order-to .inp input {
    width: 100%;
    height: 100%;
    /* border-radius: 10px; */
    color: #666;
    background: #fff;
    outline: none;
    border: solid 1px #DFD6A9;
    font-size: 30px;
    text-indent: 20px;
    display: block;
}
.order-to .inp1 input {
    width:257px;
}
.order-to .co_captcha {
    position: absolute;
    right: 0;
    top: 0;
    width: 181px;
    height: 87px;
    line-height: 87px;
    background: #fff;
    background-size: 100% 100%;
    float: right;
    font-size: 30px;
    color: #7B7A7F;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}
.order-to .co_captcha  img{
    cursor: pointer;
    width: 177px;
    height: 83px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -88.5px;
    margin-top: -40.5px;
}
.order-to .co_codebtn1 {
    position: absolute;
    right: 0;
    top: 0;
    width: 181px;
    height: 87px;
    line-height: 87px;
    background: #43474F;
    background-size: 100% 100%;
    float: right;
    font-size: 30px;
    color: #DFD6A9;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}
/*提示弹窗*/
.co_tips.forecast-suc .tips_center {
    z-index: 22222;
    position: absolute;
    width: 539px;
    height: 536px;
    left: 50%;
    top: 50%;
    margin-left: -269.5px;
    margin-top:-268px;
    background:url("../images/tc2.png");
    background-size:100% 100%;
}
.co_tips .tips_center .co_form{
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
}
.co_tips .tips_center .co_form p.tips_info{
    width: 88%;
    line-height: 57px;
    font-size: 36px;
    color: #5f5d51;
    text-align: center;
    top: 32px;
    margin: 0 auto;
    position: relative;
}
.ani {
    -webkit-animation-duration:1.2s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}
