.b-bg{
	width: 100%;
	height: 21.65625rem;
	background:url(../images/b-bg.jpg) no-repeat center;
	background-size: 100% 100%;
}
.love{
    position:absolute;
}
.love i img{
    width: 0.78125rem;
    height: 0.6875rem;
    display: block;
    position:absolute;
    animation:mymove 1s infinite;
    -webkit-animation:mymove 1s infinite;
}
.love i:nth-of-type(1) img{
    top: 14.74rem;
    left: 1.9025rem;
}
.love i:nth-of-type(2) img{
    top: 14.74rem;
    left: 2.7025rem;
}
.love i:nth-of-type(3) img{
    width: 1.375rem;
    height: 0.71875rem;
    top: 14.74rem;
    left: 16.9925rem;
}
@keyframes mymove
{
    from {transform: scale(1);transition: 3s ease-out;}
    to {transform: scale(1.2);transition: 3s ease-out;}
}

@-webkit-keyframes
{
    from {transform: scale(1);transition: 3s ease-out;}
    to {transform: scale(1.2);transition: 3s ease-out;}
}
.btn-a{
	height: 21.65625rem;
	position: relative;
}
.btn-a a{
	display: inline-block;
	width: 7.6875rem;
	height: 2.90625rem;
	position: absolute;
	bottom: 1.25rem;
    left: 3.125rem;
}
.btn-a a:nth-of-type(2){
	left: 10.1125rem;
}
.btn-a a img{
	width: 100%;
}
.cle{
	clear: both;
}
.tree{
	width: 100%;
	height: 6.5625rem;
	background:url(../images/tree.png) no-repeat center;
	background-size: 100% 100%;
	margin-top: -1.6625rem;
    position: relative;
}
.tree span{
    font-size: 0.875rem;
    color: #4db91d;
    font-family: '微软雅黑';
    text-align: center;
    display:block;
    position:absolute;
    top: 2.2975rem;
}
.tree span i{
    font-style: normal;
    display: block;
    color: #fff600;
    font-size: 1.15625rem;
    letter-spacing: 1px;
    font-family: '微软雅黑';
    margin-top: -0.25625rem;
}
.tree span:nth-of-type(1){
    left: 5.9375rem;
}
.tree span:nth-of-type(2){
    right: 5.3375rem;
}
.cont{
	width: 100%;
	background-color: #96cd1e;
}
.nv-list{
	width: 97%;
	margin: auto;
}
.nv-list li{
    width: 9.375rem;
    height: 14.96875rem;
    border: 1px solid #cccccc;
    float: left;
    position: relative;
    margin-top: 0.5rem;
}
.nv-list li+li{
    margin-left: 0.39000rem;
}
.nv-list li>img{
    height: 10.9375rem;
    width: 100%;
    overflow: hidden;
    display: block;
    
}
.nv-list li>div{
    height: 4.03125rem;
    overflow: hidden;
    background: #fff;
}
.nv-list li>div p,.nv-list li>div span{
    font-size: 0.625rem;
    margin: 0.15625rem 0.3375rem;
    font-family: '微软雅黑';
}
.nv-list li>div p{
    color: #00adc1;
}
.nv-list li>div span{
    color: #666666;
    margin-top: -0.40625rem;
    display: inline-block;
    vertical-align: 0.4375rem;
}
.nv-list li>div span:nth-of-type(2){
    margin-left: 0.125rem;
}
.nv-list li>div span>i{
    font-style: normal;
    color: #d60000;
    font-size: 1.0rem;
}
.nv-list li>div a{
	width: 4.125rem;
	height: 1.15625rem;
    margin: -1rem 0.28125rem;
    display: inline-block;
}
.nv-list li>div a img{
	width: 100%;
}
.r{
    width: 3.625rem;
    height: 1.96875rem;
    position: absolute;
    display: block;
    top:-0.34375rem;
    z-index: 99;
    left: -0.3125rem;
}
.r i{
    color: #ffffff;
    font-size: 0.53125rem;
    display:block;
    margin-top: 0.21875rem;
    transform: rotate(-30deg);
    margin-left: 0.25rem;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
}
.r1{
     background: url(../../images/r-1.png) no-repeat center;
     background-size: 100% 100%;
}
.r2{
     background: url(../../images/r-2.png) no-repeat center;
     background-size: 100% 100%;
}
.r3{
     background: url(../../images/r-3.png) no-repeat center;
     background-size: 100% 100%;
}
.r4{
     background: url(../../images/r-4.png) no-repeat center;
     background-size: 100% 100%;
}
.h{
    width: 1.96875rem;
    height: 1.84375rem;
    display: block;
    position: absolute;
    top: -0.78125rem;
    right: 0.03125rem;
}
.h1{
     background: url(../../images/h-1.png) no-repeat;
     background-size: 100% 100%;
}
.h2{
     background: url(../../images/h-2.png) no-repeat;
     background-size: 100% 100%;
}
.h3{
     background: url(../../images/h-3.png) no-repeat;
     background-size: 100% 100%;
}
.cle{
    clear: both;
}

.nv-list+.nv-list {
    margin-top: 0.8rem;
}
.none{
	background-color: #96cd1e;
	height: 2.5rem;
}
#mask1 {
    display: none; 
    width: 100%;
    height: 100%;
    background: url(../../common/images/d.png) repeat; 
    position: fixed; 
    margin: 0 auto; 
    top: 0;left: 0;
    z-index:200;
}
.close{
    width: 1.3125rem;
    height: 1.3125rem;
    background: url(../../images/close.jpg) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left:6.5rem;
     margin-top: -5.90625rem;
    cursor: pointer;
}
#logo,.succ,.rows,.tp,.vote{
    width: 15.625rem;
    position: fixed;
    z-index: 999;
    top: 50%;
    margin-top: -5.1875rem;
    left: 50%;
    margin-left: -7.815625rem;
}
#logo{
    
    height: 12.03125rem;
    background: url(../images/green.jpg) no-repeat center;
    background-size: 100% 100%;
}
.succ{
    height: 4.71875rem;
}
.succ .close{
    margin-top: -2.30025rem;
}
.rows{
    height: 8.0625rem;
    background: url(../images/flower.jpg) no-repeat center;
    background-size: 100% 100%;
}
.rows button{
    width: 8.96875rem;
    height: 1.5625rem;
    background: none;
    display: block;
    border: none;
    position: absolute;
    bottom: 0.525rem;
    left: 50%;
    margin-left: -4.484375rem;
}
.rows .close{
    margin-top: -3.90625rem;
}
.tp{
    height: 4.71875rem;
}
.tp img,.vot img,.rows button img,.succ img,.vote img{
    width: 100%;
}
.tp .close{
    margin-top: -2.30625rem;
}
.vote{
    height: 5.78125rem;
}
.vote .close{
     margin-top: -2.80625rem;
}
form{
    width: 90%;
    margin:2.6125rem auto 0 auto;
}
form p{
    color: #ffc600;
    height: 1.425rem;
    font-size: 0.4375rem;
    margin-left: 4.875rem;
    line-height: 1.3rem;
    letter-spacing: -1px;
}
form label{
    font-size: 0.9375rem;
    color: #ebffd6;
}
form input{
    width: 8.65625rem;
    height: 1.3125rem;
    border: none;
    padding-left: 0.21875rem;
    margin-top: 1.03125rem;
    border-radius: 0px;
}
form div:nth-of-type(2){
    margin-top: -0.975rem;
    position: relative;
}
form img{
    width: 8.96875rem;
    height: 1.5625rem;
    display: block;
    margin:0.1625rem auto;
}
#yzm{
    width: 4.0rem;
}
.yzm{
    width: 4.59375rem;
    height: 1.3725rem;
    border: none;
    background:#71944c;
    font-size: 0.5rem;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 1.0rem;
    right: 0.45rem;
}
.yzm1{
    background:#72756f;
}
.share{
    width: 100%;
    height: 100%;
    background:url(../images/share_bg.png) no-repeat center;
    background-size: 100% 100%;
    position: fixed;
    z-index: 9999;
    display: none;
    top: 0;
    left: 0;
}
/*footer*/
.new-footer {
    height:4.688rem;
    width:100%;
    background: #ff8b04;
    padding-top: 0.781rem;
}
.new-footer p .game-icon {
    float:left;
    width: 0.812rem;
    height: 0.938rem;
    background: url(../../common/images/game-ico.png) no-repeat;
    background-size: cover;    
}
.new-footer p .www-icon {
    float:left;
    width: 0.812rem;
    height: 0.938rem;
    background: url(../../common/images/www-ico.png) no-repeat;
    background-size: cover;
    margin-left:5.562rem;
}
.new-footer p span {
    float:left;
    position: relative;
}
.m-t-footer {
    margin-top:0.281rem;
}
.m-t-footer span{
    padding-left:0.469rem;
}
.new-footer p {
    font-size: 0.562rem;
    color:#fff;
    text-align: center;
    line-height:1rem;
}
.m-f-footer {
    margin-left:2.656rem;
}
.m-f-footer a {
    float:left;
    color:#fff;
    border-right:1px solid #535353;
    padding-right:0.781rem;
    margin-left:0.781rem;
}
.m-f-footer span {
    float:left;
    margin-left:0.781rem;
    color:#305fe5;
}
.m-f-footer span img {
    width: 1.406rem;
    position: absolute;
    top:-0.25rem;
    left:0;
}
.m-t-footer a:nth-child(2) {
    margin-left:0.25rem;
}
.m-f-footer span i {
    font-size:0.438rem;
    float:left;
    padding-left: 1.55rem;
}
.m-s-footer {
    margin-top:0.375rem;
}