body,
html {
	font-family: "微软雅黑";
	background-color: #101010;
}
i{
	font-style: normal;
}
header {
	width: 100%;
	height: 18.8125rem;
	overflow: hidden;
}

header .slogo {
	height: 18.8125rem;
	background: url(../img/top.png) no-repeat center top;
	background-size: 100% 100%;
	position: relative;
	z-index: 11;
}

header .slogo .dwb_logo {
	width: 12.5rem;
	height: 14.3125rem;
	position: absolute;
	top: 2.28125rem;
	left: 50%;
	margin-left: -6.25rem;
}

section .main_1 {
	width: 100%;
	height: 44.40625rem;
	background: url(../img/main_bg_1.jpg) no-repeat center top;
	background-size: 100% 100%;
	position: relative;
	top: -2.65625rem;
	z-index: 10;
}

section .main_1 .title_main {
	width: 7.34375rem;
	height: 2.625rem;
	background: url(../img/title_bg.png) no-repeat center top;
	background-size: 100% 100%;
	position: absolute;
	left: 50%;
	margin-left: -3.671875rem;
	top: 1.875rem;
}

section .main_1 .title_txt {
	width: 16.875rem;
	position: absolute;
	left: 50%;
	margin-left: -8.4375rem;
	font-size: 0.6875rem;
	color: #fff;
	top: 4.5rem;
	line-height: 1.25rem;
}

section .main_1 .img_pic {
	border: 2px solid #fff;
	width: 16.8125rem;
	height: 10.9375rem;
	position: absolute;
	left: 50%;
	margin-left: -8.40625rem;
	top: 9.5rem;
}

section .main_1 .img_pic img {
	width: 100%;
	height: 100%;
}

section .main_1 .list_bg {
	width: 16.875rem;
	height: 8.625rem;
	background: url(../img/list_bg.png) no-repeat center top;
	background-size:100% 100%;
	position: absolute;
	top: 21rem;
	left: 50%;
	margin-left: -8.4375rem;
}

section .main_1 .list_bg ul li {
	border-bottom: 1px dashed #232c4c;
	font-size: 0.75rem;
	height: 2.1875rem;
	width: 15.5625rem;
	line-height: 2.1875rem;
	margin: 0 auto;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #fff;
}

section .main_1 .list_bg ul li a {
	color: #fff;
}

section .main_1 .list_bg ul li:last-child {
	border-bottom: none;
}

section .main_1 .video_list {
	background: url(../img/video_bg.png) no-repeat center top;
	background-size:100% 100%;
	left: 50%;
	margin-left: -8.421875rem;
	top: 30rem;
	overflow: hidden;
	width: 16.84375rem;
	height: 14.34375rem;
	position: absolute;
}

section .main_1 .video_list .picBox {
	width: 100%;
	height: 9.40625rem;
	position: relative;
}
section .main_1 .video_list .picBox li{
	display: none;
}
section .main_1 .video_list .video_list_1{
	width:100%;
	height:9.40625rem;
	position:absolute;
}
section .main_1 .video_list .picBox .video_list_1 .img01{
	height:8rem;
	width:100%;
} 
section .main_1 .video_list .picBox .video_list_1 embed{
	width:100%;
	height:8rem;
	overflow: hidden;
	display: inline-block;
	position:absolute;
	left:0;
	top:0;
}
section .main_1 .video_list .picBox .video_list_1 .play_btn{
	width:3.46875rem;
	height:2.34375rem;
	position: absolute;
	left:50%;
	margin-left:-1.734375rem;
	top:50%;
	margin-top:-1.171875rem;
} 
section .main_1 .picBox .video_list_1 span {
	width: 100%;
	height: 1.40625rem;
	background-color: rgb( 0, 0, 0);
	opacity: 0.6;
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	display: none;
}

section .main_1 .video_list .video_list_1 p {
	font-size: 0.65625rem;
	color: rgb(255, 255, 255);
	text-indent: 1.15625rem;
	position: absolute;
	bottom: 0;
	z-index: 3;
	line-height: 1.40625rem;
}

section .box {
	width: 16.84375rem;
	overflow: hidden;
}

section .small_video {
	width: 25%;
	height: 4.5rem;
	position: absolute;
	bottom: 5px;
	;
	left: 0.3125rem;
}

section .small_video ul li {
	width: 4.5rem;
	height: 4.5rem;
	float: left;
	margin-right: 5px;
	opacity: .5;
}
section .small_video ul .gaoliang{
	opacity: 1;	
}

section .small_video ul li img {
	width: 4.5rem;
	height: 4.5rem;
	float: left;
	margin-right: 5px;
	display: inline-block;
}

section .main_2 {
	width: 100%;
	height: 40.65625rem;
	background: url(../img/main_bg_3.png) no-repeat center top;
	background-size: 100% 100%;
	position: relative;
	/*bottom:6rem;*/
	z-index: 12;
	margin-top: -2.7rem;
}

section .main_2 .title_main {
	width: 7.34375rem;
	height: 2.625rem;
	background: url(../img/main_bg_2.png) no-repeat center top;
	background-size: 100% 100%;
	position: absolute;
	left: 50%;
	margin-left: -3.671875rem;
	top: 1.875rem;
}

section .main_2 .title_txt {
	width: 16.875rem;
	position: absolute;
	left: 50%;
	margin-left: -8.4375rem;
	font-size: 0.5625rem;
	color: rgba( 255, 253, 209, 0.8);
	top: 5.5rem;
	line-height: 1rem;
}

section .main_2 .party_time {
	width: 16.875rem;
	position: absolute;
	left: 50%;
	margin-left: -8.4375rem;
	font-size: 0.5635rem;
	color: #fff;
	top: 11.5rem;
	line-height: 1rem;
}
section .main_2 .party_price p{
	line-height: 0.99rem;
}
.p{
	width: 17.5rem;
	margin: auto;
	font-size: 0.625rem;
	position: absolute;
	bottom: 0.5rem;
	left: 1.5625rem;
	color: #fff;
}
section .main_2 .party_time h4 {
	color: #fff600;
}

section .main_2 .party_rule {
	width: 16.875rem;
	position: absolute;
	left: 50%;
	margin-left: -8.4375rem;
	font-size: 0.5635rem;
	color: #fff;
	top: 17.5rem;
	line-height: 1rem;
}

section .main_2 .party_rule h4 {
	color: #fff600;
}

section .main_2 .party_price {
	width: 17.5rem;
	position: absolute;
	left: 50%;
	margin-left: -8.4375rem;
	font-size: 0.5635rem;
	color: #fff;
	top: 30.5rem;
	/*line-height:1rem;*/
}

section .main_2 .party_price h4 {
	color: #fff600;
}

section .main_2 .party_price img {
	width: 7.9375rem;
	height: 7.125rem;
	display: inline-block;
}

section .main_2 .party_price .left_txt {
	width: 51%;
	float: left;
}

section .main_2 .party_price img {
	width: 6.46875rem;
	height: 8.5625rem;
	float: right;
}

section .main_last {
	width: 100%;
	height: 23.0625rem;
	background: url(../img/last_bg.jpg) no-repeat center top;
	background-size: 100% 100%;
	position: relative;
	/*bottom:6rem;*/
}
section .main_last .big_box{
	width:5.125rem;
	height:1.75rem;
	background:url(../img/match_bg.png) no-repeat center top;
	background-size:100% 100%; 
	position:absolute;
	/*overflow: hidden;*/
	right:1.28125rem;
	top:1rem;
	z-index:98;
}
section .main_last .big_box input::-webkit-input-placeholder {
	color:#771a0a;
}
section .main_last .big_box input:-moz-placeholder {
	color:#771a0a;
}
section .main_last .big_box input::-moz-placeholder {
	color:#771a0a;
}
section .main_last .big_box input:-ms-input-placeholder {
	color:#771a0a;
}
.变更小组 {
  font-size: 30px;
  font-family: "Microsoft YaHei";
  color: rgb(119, 26, 10);
  line-height: 1.2;
  text-indent: 9.391px;
  position: absolute;
  left: 456px;
  top: 3224.277px;
  z-index: 301;
}

section .main_last .big_box input{
	width:5.125rem;
	height:1.75rem;
	background:none;
	font-size:0.9375rem;
	font-weight:bold;
	text-indent: 0.8rem;
	color:#ccca00;
	border:0;
	outline:0;
	color:#771a0a;
}
section .main_last .big_box ul {
	display: none;
	/*height:100%;*/
	/*width:3.53125rem;*/
	/*overflow-y: auto;*/
	position:absolute;
	left:-3px;
	top:1.8rem;
}
section .main_last .big_box li a{
	color:#FFF;
}
section .main_last .big_box li {
	width:3.5rem;
	background-color:#222222;
	margin-left:1rem;
	font-size:0.78125rem;
	color:#fff;
	line-height:1.5rem;
	text-align:center;
	border-bottom:1px solid #000;
}
/*section .main_last .big_box li a{
	display: block;
	font-size:0.78125rem;
	color:#fff;
	line-height:1.5rem;
	text-align:center;
	border-bottom:1px solid #000;
}*/
section .main_last .big_box .active{
	color:#ccca00;
	display: block;
	background:none;
}
section .main_last .champion {
	width: 2.21875rem;
	height: 3.34375rem;
	position: absolute;
	left: 50%;
	margin-left: -1.109375rem;
	top: 4.875rem;
}

section .main_last .champion img {
	width: 2.21875rem;
	height: 3.34375rem;
}

section .main_last .title_main {
	width: 7.34375rem;
	height: 2.625rem;
	background: url(../img/last_txt_bg.png) no-repeat center top;
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	top: 0;
}
section .main_last .show_list_1{
	display: none;
}
section .main_last .show_list_2{
	display: none;
}
section .main_last .show_list_3{
	display: none;
}
section .main_last .show_list {
	background: url(../img/list.png) no-repeat center top;
	background-size: 100% 100%;
	width: 12.125rem;
	height: 10.03125rem;
	position: absolute;
	top: 6.28125rem;
	left: 50%;
	margin-left: -6.0625rem;
}

section .main_last .show_list div:nth-child(1) {
	width: 4.375rem;
	height: 1.5625rem;
	background: url(../img/team_bg.png) no-repeat center top;
	background-size: 100% 100%;
	position: absolute;
	top: -0.8rem;
	left: -3.7rem;
}

section .main_last .show_list div:nth-child(1) p {
	font-size: 0.375rem;
	text-align: center;
	color: #fff;
}

section .main_last .show_list div:nth-child(1) .team {
	color: #cac41b;
	font-weight: bold;
	margin-top: 0.3125rem;
}

section .main_last .show_list div:nth-child(2) {
	width: 4.375rem;
	height: 1.5625rem;
	background: url(../img/team_bg.png) no-repeat center top;
	background-size: 100% 100%;
	position: absolute;
	top: 2.6rem;
	left: -3.7rem;
}

section .main_last .show_list div:nth-child(2) p {
	font-size: 0.375rem;
	text-align: center;
	color: #fff;
}

section .main_last .show_list div:nth-child(2) .team {
	color: #cac41b;
	font-weight: bold;
	margin-top: 0.3125rem;
}

section .main_last .show_list div:nth-child(3) {
	width: 4.375rem;
	height: 1.5625rem;
	background: url(../img/team_bg.png) no-repeat center top;
	background-size: 100% 100%;
	position: absolute;
	top: 5.8rem;
	left: -3.7rem;
}

section .main_last .show_list div:nth-child(3) p {
	font-size: 0.375rem;
	text-align: center;
	color: #fff;
}

section .main_last .show_list div:nth-child(3) .team {
	color: #cac41b;
	font-weight: bold;
	margin-top: 0.3125rem;
}

section .main_last .show_list div:nth-child(4) {
	width: 4.375rem;
	height: 1.5625rem;
	background: url(../img/team_bg.png) no-repeat center top;
	background-size: 100% 100%;
	position: absolute;
	top: 9.2rem;
	left: -3.7rem;
}

section .main_last .show_list div:nth-child(4) p {
	font-size: 0.375rem;
	text-align: center;
	color: #fff;
}

section .main_last .show_list div:nth-child(4) .team {
	color: #cac41b;
	font-weight: bold;
	margin-top: 0.3125rem;
}

section .main_last .show_list div:nth-child(5) {
	width: 4.375rem;
	height: 1.5625rem;
	background: url(../img/team_bg.png) no-repeat center top;
	background-size: 100% 100%;
	position: absolute;
	top: 0.9rem;
	left: -0.8rem;
}

section .main_last .show_list div:nth-child(5) p {
	font-size: 0.375rem;
	text-align: center;
	color: #fff;
}

section .main_last .show_list div:nth-child(5) .team {
	color: #cac41b;
	font-weight: bold;
	margin-top: 0.3125rem;
}

section .main_last .show_list div:nth-child(6) {
	width: 4.375rem;
	height: 1.5625rem;
	background: url(../img/team_bg.png) no-repeat center top;
	background-size: 100% 100%;
	position: absolute;
	top: 7.5rem;
	left: -0.8rem;
}

section .main_last .show_list div:nth-child(6) p {
	font-size: 0.375rem;
	text-align: center;
	color: #fff;
}

section .main_last .show_list div:nth-child(6) .team {
	color: #cac41b;
	font-weight: bold;
	margin-top: 0.3125rem;
}

section .main_last .show_list div:nth-child(7) {
	width: 4.375rem;
	height: 1.5625rem;
	background: url(../img/team_bg.png) no-repeat center top;
	background-size: 100% 100%;
	position: absolute;
	top: 4.5rem;
	left: 1.2rem;
}

section .main_last .show_list div:nth-child(7) p {
	font-size: 0.375rem;
	text-align: center;
	color: #fff;
}

section .main_last .show_list div:nth-child(7) .team {
	color: #cac41b;
	font-weight: bold;
	margin-top: 0.3125rem;
}

section .main_last .show_list div:nth-child(8) {
	width: 4.375rem;
	height: 1.5625rem;
	background: url(../img/team_bg.png) no-repeat center top;
	background-size: 100% 100%;
	position: absolute;
	top: 4.5rem;
	left: 6.5rem;
}

section .main_last .show_list div:nth-child(8) p {
	font-size: 0.375rem;
	text-align: center;
	color: #fff;
}

section .main_last .show_list div:nth-child(8) .team {
	color: #cac41b;
	font-weight: bold;
	margin-top: 0.3125rem;
}

section .main_last .show_list div:nth-child(9) {
	width: 4.375rem;
	height: 1.5625rem;
	background: url(../img/team_bg.png) no-repeat center top;
	background-size: 100% 100%;
	position: absolute;
	top: 0.9rem;
	right: -0.8rem;
}

section .main_last .show_list div:nth-child(9) p {
	font-size: 0.375rem;
	text-align: center;
	color: #fff;
}

section .main_last .show_list div:nth-child(9) .team {
	color: #cac41b;
	font-weight: bold;
	margin-top: 0.3125rem;
}

section .main_last .show_list div:nth-child(10) {
	width: 4.375rem;
	height: 1.5625rem;
	background: url(../img/team_bg.png) no-repeat center top;
	background-size: 100% 100%;
	position: absolute;
	top: 7.5rem;
	right: -0.8rem;
}

section .main_last .show_list div:nth-child(10) p {
	font-size: 0.375rem;
	text-align: center;
	color: #fff;
}

section .main_last .show_list div:nth-child(10) .team {
	color: #cac41b;
	font-weight: bold;
	margin-top: 0.3125rem;
}

section .main_last .show_list div:nth-child(11) {
	width: 4.375rem;
	height: 1.5625rem;
	background: url(../img/team_bg.png) no-repeat center top;
	background-size: 100% 100%;
	position: absolute;
	top: 9.2rem;
	right: -3.7rem;
}

section .main_last .show_list div:nth-child(11) p {
	font-size: 0.375rem;
	text-align: center;
	color: #fff;
}

section .main_last .show_list div:nth-child(11) .team {
	color: #cac41b;
	font-weight: bold;
	margin-top: 0.3125rem;
}

section .main_last .show_list div:nth-child(12) {
	width: 4.375rem;
	height: 1.5625rem;
	background: url(../img/team_bg.png) no-repeat center top;
	background-size: 100% 100%;
	position: absolute;
	top: 5.8rem;
	right: -3.7rem;
}

section .main_last .show_list div:nth-child(12) p {
	font-size: 0.375rem;
	text-align: center;
	color: #fff;
}

section .main_last .show_list div:nth-child(12) .team {
	color: #cac41b;
	font-weight: bold;
	margin-top: 0.3125rem;
}

section .main_last .show_list div:nth-child(13) {
	width: 4.375rem;
	height: 1.5625rem;
	background: url(../img/team_bg.png) no-repeat center top;
	background-size: 100% 100%;
	position: absolute;
	top: 2.6rem;
	right: -3.7rem;
}

section .main_last .show_list div:nth-child(13) p {
	font-size: 0.375rem;
	text-align: center;
	color: #fff;
}

section .main_last .show_list div:nth-child(13) .team {
	color: #cac41b;
	font-weight: bold;
	margin-top: 0.3125rem;
}

section .main_last .show_list div:nth-child(14) {
	width: 4.375rem;
	height: 1.5625rem;
	background: url(../img/team_bg.png) no-repeat center top;
	background-size: 100% 100%;
	position: absolute;
	top: -0.8rem;
	right: -3.7rem;
}

section .main_last .show_list div:nth-child(14) p {
	font-size: 0.375rem;
	text-align: center;
	color: #fff;
}

section .main_last .show_list div:nth-child(14) .team {
	color: #cac41b;
	font-weight: bold;
	margin-top: 0.3125rem;
}

section .main_last .show_list div:nth-child(15) {
	width: 4.375rem;
	height: 1.5625rem;
	background: url(../img/team_bg.png) no-repeat center top;
	background-size: 100% 100%;
	position: absolute;
	top: 2.3rem;
	left: 50%;
	margin-left: -2.1875rem;
}

section .main_last .show_list div:nth-child(15) p {
	font-size: 0.375rem;
	text-align: center;
	color: #fff;
}

section .main_last .show_list div:nth-child(15) .team {
	color: #cac41b;
	font-weight: bold;
	margin-top: 0.3125rem;
}

#Hero-bar {
	width: 100%;
	overflow: hidden;
	background: #1b1b1b;
	position: absolute;
	z-index: 99;
	padding-bottom: 9.5px;
	bottom: 0;
}

footer .f_t {
	width: 100%;
	text-align: center;
	margin-top: 10.5px;
}

footer .f_t ul {
	width: 138px;
	height: 10.5px;
	margin-top: 5.5px;
	display: inline-block;
}

footer .f_t ul li {
	width: auto;
	height: 10.5px;
	line-height: 10.5px;
	text-align: center;
	padding-left: 5.6%;
	padding-right: 5.6%;
	border-right: 1px solid #535353;
	float: left;
}

footer .f_t ul a {
	width: auto;
	color: #d1cfcf;
	font-size: 10.5px;
	display: block;
}

footer .f_t .tel {
	width: 115px;
	height: 22.5px;
	display: inline-block;
}

footer .f_t .tel a {
	display: block;
	font-size: 10.5px;
	color: #c9032d;
	line-height: 22.5px;
}

footer .f_t .tel a i {
	display: inline-block;
	width: 22.5px;
	height: 22.5px;
	margin-right: 5.5px;
	float: left;
	background: url(../images/tel.png);
	background-size: 100% 100%;
}

footer .f_txt {
	width: 100%;
	height: 19px;
	line-height: 19px;
	color: #707070;
	font-size: 9px;
	text-align: center;
}

footer .f_link {
	width: 130.5px;
	height: 13px;
	margin: 0 auto;
	color: #707070;
	font-size: 9px;
	line-height: 13px;
}

footer .f_link .f_a01 {
	display: inline-block;
	width: 12.5px;
	height: 13px;
	float: left;
	margin-right: 3px;
}

footer .f_link .f_a01 img,
footer .f_link .f_a02 img {
	width: 100%;
	height: 100%;
}

footer .f_link .f_a02 {
	width: 11.5px;
	height: 13px;
	display: inline-block;
	float: left;
	margin-right: 7px;
}

section .denglu {
	display: none;
	width: 16.8125rem;
	height: 14.28125rem;
	background: url(../img/bg_denglu.png) no-repeat center top;
	background-size: 100% 100%;
	position: absolute;
	top: 50%;
	margin-top:-9rem;
	left: 50%;
	margin-left: -7.40625rem;
	z-index: 999;
}

section .denglu input {
	width: 8rem;
	height: 1.25rem;
	border: 1px solid #969696;
	outline: 0;
	font-size:0.5625rem;
}

section .denglu span {
	width: 2rem;
	display: block;
	float: left;
	height: 1.25rem;
	font-size: 0.625rem;
	color: #000;
	margin-right: 10px;
}
section .denglu .close_bbb{
	width:0.875rem;
	height:0.875rem;
	position:absolute;
	right:2rem;
	top:.2rem;
}
section .denglu .username {
	position: absolute;
	top: 2.96875rem;
	left: 2rem;
}

section .denglu .userid {
	position: absolute;
	top: 4.75rem;
	left: 2rem;
}

section .denglu .userqf {
	position: absolute;
	top: 6.625rem;
	left: 2rem;
	z-index:101;
}
section .denglu .userqf span{
	margin-top:10px;
}
section .denglu .userqf #dropdown {
	width: 8.0625rem;
	height: 1.25rem;
	float: right;
}
section .denglu .userqf #dropdown ul{
	display: none;
	height:5.3125rem;
	background-color:#fff;
	overflow-y: auto;
}
section .denglu .userqf #dropdown ul li{
	color: #000;
	font-size:0.5rem;
	margin-bottom:0.3125rem;
	text-indent:0.46875rem;
}
section .denglu .userqf #dropdown input {
	outline: 0;
	font-size:0.5rem;
	text-indent:0.46875rem;
	margin-bottom:0.3125rem;
}

section .denglu .userqf #dropdown input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #000;
	font-size:0.5rem;
	margin-bottom:0.3125rem;
	text-indent:0.46875rem;
	
}

section .denglu .userqf #dropdown input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #000;
	font-size:0.5rem;
	margin-bottom:0.3125rem;
	text-indent:0.46875rem;
}

section .denglu .userqf #dropdown input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #000;
	font-size:0.5rem;
	margin-bottom:0.3125rem;
	text-indent:0.46875rem;
	
}

section .denglu .userqf #dropdown input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #000;
	font-size:0.5rem;
	margin-bottom:0.3125rem;
	text-indent:0.46875rem;
	
}

section .denglu .userphone {
	position: absolute;
	top: 8.46875rem;
	left: 2rem;
}
section .denglu .userphone span{
	margin-top:10px;
	display: block;
}
section .denglu .userphone input{
	width: 4.53125rem;
	height: 1.25rem;
	border: 1px solid #969696;
	outline: 0;
	font-size:0.4375rem;
}
section .denglu .userphone i{
	width:auto;
	height:1.25rem;
	display: block;
	float:right;
	/*background:url(../img/code.jpg) no-repeat center top;*/
	/*background-size:100% 100%;*/
	margin-left:5px;
	font-size:0.5625rem;
	color:#ff8c11;
	line-height:1.25rem;
	text-align: center;
	margin-top:0.3125rem;
}

section .denglu .usercode {
	position: absolute;
	bottom: 2.75rem;
	left: 2rem;
}

section .denglu .usercode input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #ccc;
	font-size:0.5625rem;
	text-indent:5px;
	
}

section .denglu .usercode input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #ccc;
	font-size:0.5625rem;
	text-indent:5px;
	
}

section .denglu .usercode input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #ccc;
	font-size:0.5625rem;
	text-indent:5px;
}

section .denglu .usercode input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #ccc;
	font-size:0.5625rem;
	text-indent:5px;
}

section .denglu .submit_btn{
	width:8.09375rem;
	height:1.3125rem;
	background:url(../img/submit.jpg) no-repeat center top;
	position:absolute;
	bottom:0.625rem;
	left:50%;
	margin-left:-4.046875rem;
}
section .denglu .submit_btn p{
	font-size:0.625rem;
	color:#fff;
	text-align:center;
	line-height:1.3125rem;
}

/*section .hp_denglu{
	display: none;
	width:18.875rem;
	height:14.09375rem;
	background-color:#fff;
	position:absolute;
	top: 50%;
	margin-top:-9rem;
	left: 50%;
	margin-left: -9.4375rem;
	z-index: 999;
}
section .hp_denglu input {
	width: 8rem;
	height: 1.25rem;
	border: 1px solid #969696;
	outline: 0;
	font-size:0.5625rem;
}

section .hp_denglu span {
	width: 2rem;
	display: block;
	float: left;
	height: 1.25rem;
	font-size: 0.625rem;
	color: #000;
	margin-right: 10px;
}
section .hp_denglu .close_bbb{
	width:0.875rem;
	height:0.875rem;
	position:absolute;
	right:2rem;
	top:.2rem;
}
section .hp_denglu .username {
	position: absolute;
	top: 2.96875rem;
	left: 2rem;
}

section .hp_denglu .userid {
	position: absolute;
	top: 4.75rem;
	left: 2rem;
}

section .hp_denglu .userqf {
	position: absolute;
	top: 6.625rem;
	left: 2rem;
	z-index:101;
}
section .hp_denglu .userqf span{
	margin-top:10px;
}
section .hp_denglu .userqf #dropdown {
	width: 8.0625rem;
	height: 1.25rem;
	float: right;
}
section .hp_denglu .userqf #dropdown ul{
	display: none;
	height:5.3125rem;
	background-color:#fff;
	overflow-y: auto;
}
section .hp_denglu .userqf #dropdown ul li{
	color: #000;
	font-size:0.5rem;
	margin-bottom:0.3125rem;
	text-indent:0.46875rem;
}
section .hp_denglu .userqf #dropdown input {
	outline: 0;
	font-size:0.5rem;
	text-indent:0.46875rem;
	margin-bottom:0.3125rem;
}

section .hp_denglu .userqf #dropdown input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #000;
	font-size:0.5rem;
	margin-bottom:0.3125rem;
	text-indent:0.46875rem;
	
}

section .hp_denglu .userqf #dropdown input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #000;
	font-size:0.5rem;
	margin-bottom:0.3125rem;
	text-indent:0.46875rem;
}

section .hp_denglu .userqf #dropdown input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #000;
	font-size:0.5rem;
	margin-bottom:0.3125rem;
	text-indent:0.46875rem;
	
}

section .hp_denglu .userqf #dropdown input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #000;
	font-size:0.5rem;
	margin-bottom:0.3125rem;
	text-indent:0.46875rem;
	
}*/
.include{
	width:100%;
	height:100%;
	position:fixed;
	z-index:100;
	top:0;
	left:0;
	opacity: .5;
	background:#000;
	display: none;
}
.m1 {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}
.m{
    width: 3.75rem;
    height: 1.25rem;
    background: rgba(255,55,55,0.8);
    position: absolute;
    color: #fff;
    border-radius: 0.25rem;
    line-height: 1.25rem;
    text-align: center;
    z-index: 999999;
    left:50%;
    margin-left: -1.875rem;
    top: 50%;
}