body,ul,ol,dl,dt,dd,form,h1,h2,h3,h4,p,img,section,header,article,ruby,rb,rt,i,b,input,footer{margin:0;padding:0;font-style:normal;-webkit-tap-highlight-color: rgba(0,0,0,0);}
html,body,fieldset,img,iframe,abbr{border:0}
html,body{font-family:"microsoft yahei",simsun,Tahoma,sans-serif;}
li{list-style:none}
textarea{overflow:auto;resize:none}
a,button{cursor:pointer}
h1,h2,h3,h4,h5,h6,em,strong,b{margin:0;padding:0;font-size:12px;font-weight:normal;}
a,a:hover{text-decoration:none}
body,html{width:100%;font-weight:400;display:-webkit-box;-webkit-box-orient:vertical;-webkit-box-align:center}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-family:"Microsoft YaHei","Helvetica Neue",Arial,HelveticaNeue,Helvetica,"BBAlpha Sans",sans-serif}
a{text-decoration:none}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;outline:0;-webkit-appearence:none;-ms-appearence:none}
em,i{font-style:normal}
*{outline:0;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-focus-ring-color:rgba(0,0,0,0)}
a{color:#434343}
body{position:relative;word-wrap: break-word;word-break: break-all;}
.o_h{overflow:hidden;}
.mkv{width:100%;display:block;}
.mTop148{margin-top: 4.62500rem}
.mToP52{top:1.62500rem !important}
.mTop96{margin-top:3.0rem}
.mTop139{margin-top:4.34375rem}
.mTop124{margin-top:3.87500rem !important}
.mTop135{margin-top:4.21875rem}
/*ͷ��*/
.i_bot{ 
	width: 100%;
	height: 3.0rem;
	position:fixed;
	left:0;
	top:0;
    background:#1b1926;
	overflow: hidden;
	z-index:90;
}
.i_icon{
	display: block;
	width: 2.56250rem;
	height: 2.56250rem;
	float: left;
	margin-left:0.56250rem;
	margin-top:0.18750rem;
}
.i_bot_text{
	float: left;
	height: 100%;
	margin-left: 0.5rem;
	overflow: hidden;
}
.i_bot_text h3{
	font-size: 0.875rem;
	color: #fff;
	margin-top: 0.3rem;
}
.i_bot_text p{
	font-size: 0.625rem;
	color: #fff;
}
.i_btn_down{
	display: block;
	float: right;
	width:4.01875rem;
	height:1.46875rem;
	margin-right: 0.5rem;
	margin-top: 0.69rem;
	background-image: url(../images/i_btn_down.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.i_btn_lb{
	display: block;
	float: right;
	width:4.01875rem;
	height:1.43750rem;
	margin-right: 0.2rem;
	margin-top: 0.69rem;
	background-image: url(../images/i_btn_lb.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
/*��ҳ*/
.i_index{
	width:100%;
	overflow:hidden;
	position:relative;
	background:#1c1b19;
}
.i_index .sectioni1{
	width:100%;
	max-width: 100%;
	height:27rem;
	background:url(../images/indexbg1_02.jpg) no-repeat;
	background-size:100% 100%;
	position:relative;
}
.left_code{
	position:fixed;
	right:0;
	top:2rem;
}
.i_index .sectioni2{
	width:100%;
	height:70.75rem;
	background:url(../images/indexbg2_02.jpg) no-repeat;
	background-size:100% 100%;
	position:relative;
	overflow:hidden;
}
/* ����ͼ */
.i_slider{
	width:100%;
	height:9.31250rem;
	position:relative;
	overflow:hidden;
	background:url(../images/i_lunbo.png) no-repeat;
	background-size:100% 100%;
}
.i_slider .i_slider1{
	margin-top:4.68750rem;
	width:15.93750rem;
	height:8.53125rem;
	margin:0.34375rem auto 0;
	position:relative;
}
.i_slider1 .bd{
	position:relative; z-index:0;
}
.i_slider1 .bd li{
	position:relative; text-align:center;
}
.i_slider1 .bd li img{
	vertical-align:top;
	width:15.93750rem;
	height:8.53125rem;
}
.i_tab{
	width:100%;
	overflow:hidden;
	margin-top:1.15625rem;
}
.i_tab .hd-a{
	width:100%;
	height:1.78125rem;
	background:url(../images/i_tab.png) no-repeat center top;
	background-size:100% 100%;
}
.i_tab .hd{
	width:14.21875rem;
	margin:0 auto;
	height:100%;
	position:relative;
}
.i_tab .hd a{
	width:2.31250rem;
	height:1.78125rem;
	float:left;
	margin-left:0.62500rem;
	font-size:0.6rem;
    color:#06226e;
	line-height:2.2rem;
	text-align:center;
}
.i_tab .hd a.more{
	width:0.53125rem;
	height:0.53125rem;
	position:absolute;
    right: -.7rem;
    top: .7rem;
}
.i_tab .hd a:first-child{
	margin-left:0;
}
.i_tab .hd a.on{
    background:url(../images/i_tabg.png) no-repeat;
	background-size:100% 100%;
	color:#fff;
}
.i_tab .bd{
	width:17.43750rem;
	height:8.43750rem;
	margin:0 auto;
	overflow:hidden
}
.i_tab .bd dl{
	display:none;
}
.i_tab .bd dd,.i_tab .bd dt{
	line-height:1.56250rem;
	height:1.56250rem;
	border-bottom:#fff dashed 1px;
	width:100%;
}
.i_tab .bd dd:last-child{
	border:none;
}
.i_tab .bd dd span:nth-child(2),.i_tab .bd dt span:nth-child(2){
	float:right;
}
.i_tab .bd a{
	font-size:0.6rem;
	color:#fff;
	width:100%;
	height:100%;
    float:left;
}
.i_tab .bd dt a{
	color:#f7d764
}
.i_video{
	width:16.7rem;
	height:11.71875rem;
	margin:4.1rem auto 0;
	position:relative;
}
.i_video a{
	width:8.65625rem;
	height:5.31250rem;

	margin-bottom:0.5rem;
	position:absolute;
}
.i_video a:nth-child(1){
	left:0;top:0;
	z-index:1
}
.i_video a:nth-child(2){
	right:0;top:-.3rem;
	z-index:2
}
.i_video a:nth-child(3){
	left:0;top:5.9rem;
	z-index:3
}
.i_video a:nth-child(4){
	right:0;top:5.6rem;
	z-index:4
}
/* .i_video a:nth-child(1),.i_video a:nth-child(3){
	margin-left:0;
} */
.i_video a img{
	width:8.65625rem;
	height:5.31250rem;
}
.i_video a i{
	width:1.43750rem;
	height:1.43750rem;
	position:absolute;
	left:50%;
	top:50%;
	margin:-.7rem 0 0 -.7rem;
	background:url(../images/i_btn1.png) no-repeat;
	background-size:100% 100%
}
.i_feature{
	width:100%;
	height:10.71875rem;
	position:relative;
}
.i_feature .fren{
	width:6.25000rem;
	height:6.12500rem;
	position:absolute;
	left:0;
	bottom:0;
	z-index:31;
}
.i_tab_feature{
	width:12.78125rem;
	height:9.75000rem;
    position:relative;
	margin:0 auto;
}
.i_tab_feature .tab2g{
	width:12.78125rem;
	height:9.75000rem;
	position:absolute;
    left:0;
	top:0;
	z-index:4;
}
.i_tab_feature .hd-a{
	position:absolute;
    right:-2.5rem;
	top:0;
	z-index:1;
	width:3.25000rem;
	height:100%;

}
.i_tab_feature .bd{
	position:absolute;
	left:1.31250rem;
	top:2.62500rem;
	z-index:20;
	width:10.56250rem;
	height:6.25000rem;
}
.i_tab_feature .hd a{
	color:#fff;
	display:block;
	line-height:1.25000rem;
	font-size:0.45rem;
	margin-top:.3rem;
	width:2.25000rem;
	padding-left:1rem;
}
.i_tab_feature .hd a:nth-child(1){
	height:1.46875rem;
	line-height:1.46875rem;
	background:url(../images/i_tab2-T1.png) no-repeat;
	background-size:100% 100%;
    margin-top:1rem;
}
.i_tab_feature .hd a:nth-child(2){
	height:1.18750rem;
	line-height:1.18750rem;
	background:url(../images/i_tab2-T2.png) no-repeat;
	background-size:100% 100%;

}
.i_tab_feature .hd a:nth-child(3){
	height:1.31250rem;
	line-height:1.31250rem;
	background:url(../images/i_tab2-T3.png) no-repeat;
	background-size:100% 100%;
}
.i_tab_feature .hd a:nth-child(4){
	height:1.28125rem;
	line-height:1.28125rem;
	background:url(../images/i_tab2-T4.png) no-repeat;
	background-size:100% 100%;
}
.i_tab_feature .hd a:nth-child(5){
	height:1.18750rem;
	line-height:1.18750rem;
	background:url(../images/i_tab2-T5.png) no-repeat;
	background-size:100% 100%;
}
.i_tab_feature .hd a:nth-child(1).on{
	height:1.46875rem;
	background:url(../images/i_tab2-T1-1.png) no-repeat;
	background-size:100% 100%;
}
.i_tab_feature .hd a:nth-child(2).on{
	height:1.18750rem;
	background:url(../images/i_tab2-T1-2.png) no-repeat;
	background-size:100% 100%;

}
.i_tab_feature .hd a:nth-child(3).on{
	height:1.28125rem;
	background:url(../images/i_tab2-T1-3.png) no-repeat;
	background-size:100% 100%;
}
.i_tab_feature .hd a:nth-child(4).on{
	height:1.28125rem;
	background:url(../images/i_tab2-T1-4.png) no-repeat;
	background-size:100% 100%;
}
.i_tab_feature .hd a:nth-child(5).on{
	height:1.25000rem;
	background:url(../images/i_tab2-T1-5.png) no-repeat;
	background-size:100% 100%;
}

.i_tab_feature dl {
	display:none;
}
.i_tab_feature dl ,.i_tab_feature dl dt{
	width:10.56250rem;
	height:6.25000rem;
	position:relative;
	margin:0 auto;
}
.i_tab_feature dl dd{
	position:absolute;
	left:0;
	top:-1.62500rem;
	width:7.25000rem;
	height:1.25000rem;
	line-height:1.25000rem;
	font-size:16px;
	text-align:center;
	color:#fff;
}
.i_tab_feature .bd img{
	width:10.56250rem;
	height:6.25000rem;
}

.i_rpic{
	width:19.09375rem;
	height:6.31250rem;
	position:absolute;
	left:50%;
	bottom:1.6rem;
	overflow:hidden;
	margin-left:-9.5rem;
}
.i_rpic-a{
	width:19.8rem;
	height:6.31250rem;
}
.i_rpic a{
	width:0.53125rem;
	height:0.53125rem;
	position:absolute;
    right:0;
    top:-0.75000rem;
}
.i_rpic img{
	width:4.50000rem;
	height:6.31250rem;
	float:left;
	margin-right:0.43750rem;
}
.c_video{
	width: 4.08rem;
	height: 4.24rem;
	position: absolute;
	left: 17%;
	top: 11.1rem;
	z-index: 111;
}
.footer{
	width:100%;
	padding:0.40625rem 0 0.62500rem 0.50000rem;
	color:#fff;
	position:relative;
	overflow:hidden;
display:none
}
.footer a.HERO_ico{
	float:left;
	width:4.56250rem;
	height:1.12500rem;
	margin-top:.5rem;
}
.footer span{
	float:left;
	margin-left:0.46875rem;
	line-height:0.7rem;
	font-size:0.4rem;
	width:14.46875rem;
}

/*����ҳ*/
.a_wrap{
	width: 100%;
	min-height: 750px;
	overflow: hidden;
	background-color: #fff;
}
.a_wrap .lb_top{
	width: 100%;
	height: 1.62500rem;
    background:#ee8e35;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	line-height:1.62500rem;
}
.a_wrap .lb_top .lb_return{
	float: left;
	line-height:1.62500rem;
	font-size: 0.75rem;
	color: #fff;
}
.a_wrap .lb_top span.lb_topfh{
	width: 1.81250rem;
	height:1.62500rem;
	display: block;
	float: left;
	background:url(../images/lb_topfh.png) no-repeat;
	background-size:100% 100%;
}
.a_con{
	width: 100%;
	overflow: hidden;
}
.a_contop{
	width: 18.438rem;
	padding: 0.5rem 0;
	margin: 0 auto;
	border-bottom: 1px solid #A0A0A0;
}
.a_contop h3{
	width: 100%;
	text-align: center;
	font-size: 0.75rem;
	color: #000;
	line-height: 1.5;
}
.a_contop p{
	width: 100%;
	text-align: center;
	font-size: 0.438rem;
	color: #666;
	line-height: 1.5;
}
.a_inf{
	width: 18.438rem;
	margin: 1rem auto 0;
	padding-bottom: 2rem;
	position: relative;
}
.a_inf .share{
	position: absolute;
	right: 0;
	bottom: 1rem;
}
.a_inf p{
	width: 100%;
	font-size: 0.438rem;
	color: #333;
	line-height: 2;
}
.a_inf img{
	max-width: 100%;
	margin: 0.5rem auto;
	display:block;
}
.a_page{
	width:100%;
	height:1.87500rem;
	line-height:1.87500rem;
	display: -webkit-box;
    display: box;
	margin-bottom:20px;
}
.a_page a{
	-webkit-box-flex: 1;
    box-flex: 1;
	padding:0 10px;
	display:block;
}
.a_page a:nth-child(1){
	text-align:right
}
.a_page a:nth-child(2){
	text-align:left
}

.btn_nav_slide{
	width:2.18750rem;
	height: 1.62500rem;
	background:#fff;
	float:right;
	position:relative;
}
.draw,.draw:before,.draw:after{width:1.12500rem;height:0.12500rem;background:#272735;position:absolute;-webkit-transition:all .5s;-webkit-transform-style:preserve-3d;-webkit-backface-visibility:hidden}
.draw{top:0.76rem;right:0.53125rem}
.draw:before{content:"";top:-0.31250rem}
.draw:after{content:"";top:0.31250rem}
.G_close .draw {
    background: transparent;
}
.G_close .draw:before {
    top: 0;
    -webkit-transform: rotate(45deg);
}
.G_close .draw:after {
    top: 0;
    -webkit-transform: rotate(-45deg);
}
.lb_menu{
	width: 6.406rem;
	padding: 1.5rem 0;
	position: fixed;
	right: 0;
	top: 1.62500rem;
	z-index: 999;
	display: none;
	background:rgba(27,25,28,.9);
}
.lb_menu ul{
	width: 100%;
}
.lb_menu ul li{
	width: 100%;
	height: 2.188rem;
	border-bottom: 1px solid #929192;
}
.lb_menu ul li a{
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 2.188rem;
	font-size: 0.75rem;
	color: #fff;
}

/*�б�ҳ*/
.l_con{
	width: 100%;
	overflow: hidden;
}
.l_nav{
	width: 18.594rem;
	height: 1.656rem;
	margin: 0 auto;
	border-bottom: 2px solid #6F6E6E;
}
.l_nav ul{
	overflow: hidden;
}
.l_nav ul li{
	float: left;
	width: 2.25rem;
	height: 1.656rem;
}
.l_nav ul li a{
	font-size: 0.562rem;
	color: #545353;
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 1.656rem;
}
.l_inf{
	width: 100%;
}
.l_infcon{
	width: 18.594rem;
	margin: 0 auto;
}
.l_infcon ul{
	width: 100%;
}
.l_infcon ul li{
	width: 100%;
	height: 2.031rem;
	font-size: 0.562rem;
	color: #545353;
	border-bottom: 1px solid #B5B5B5;
}
.l_infcon ul li:last-child{
	border: 0;
}
.l_infcon ul li p{
	width: 11.719rem;
	height: 100%;
	float: left;
	line-height: 2.031rem;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.l_infcon ul li span{
	float: right;
	height: 100%;
	display: block;
	line-height: 2.031rem;
}
.l_more{
	width: 100%;
	height: 1.75rem;
	background-color: #D6D6D6;
	text-align: center;
	line-height: 1.75rem;
	display: block;
	font-size: 0.562rem;
	color: #000;
	margin-top: 0.5rem;
}
/*����*/
.i_Ho{
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	background:rgba(0,0,0,.8);
	z-index:200;
}
.lb_tck{
	width:14.06250rem;
	height:14.06250rem;
	position:fixed;
	left:50%;
	top:50%;
	margin:-7.03rem 0 0 -7.03rem;
	z-index:201;
	display:none;

}
.lb_tck_on{
	width:14.06250rem;
	height:14.06250rem;
	position:fixed;
	left:50%;
	top:50%;
	margin:-7.03rem 0 0 -7.03rem;
	z-index:201;
}
.lb_tck p{
	text-align:center;
	font-size:0.6rem;
	line-height:1rem;
	position:absolute;
	bottom:-1.5rem;
	left:0;
	color:#fff;
	width:100%;
}
/*��Ƶ*/
#mask{display: none; width: 100%; height: 100%;background:rgba(0,0,0,.5); position: fixed; margin: 0 auto; top: 0;left: 0; z-index:200;}
#video_tck{ display: none; width: 100%;height:100%;position:fixed; top:0; left:0;z-index: 1000;background:rgba(0,0,0,.5)}
#close {width:0.93750rem;height:0.93750rem; display: block; position: absolute; top: -0.46875rem; right:-0.46875rem; background: url(../../common/images/c.png) no-repeat;cursor: pointer; background-size:100% 100%;}
#player5{ width:80%;color:#000; position: absolute;left:50%;top:30%;margin-left:-40%;z-index: 1000;}
#player5 video{width: 100%;}
.gift_tck{
	display: none;
	width: 19rem;
	height: 14.5rem;
	position: fixed;
	z-index: 99999;
	left:50%;
	top:50%;
	margin: -7.25rem 0 0 -9.5rem;
}
.ico_close{
	width: 2.4375rem;
	height: 2.625rem;
	background: url(../../common/images/gi_tckclose.png) no-repeat;
	background-size: 100% 100%;
	display: block;
	position: absolute;
	top: 0.78125rem;
	right: 0;
	z-index: 350;
}
.gift_c_m{
	position: absolute;
	top:0;
	width: 17.40625rem;
	height: 10.75rem;
	right: 0;
	background: url(../../common/images/gi_m_bg.png) no-repeat;
	background-size: 100% 100%;
	padding: 1.5625rem 0 0 1.09375rem;
	z-index: 300;
}
.gift_c_m p span,.gift_c_m p a,.gift_c_m p input{
	display: block;
	float: left;
}
.gift_c_m p{
	height: 1.78125rem;
	line-height: 1.78125rem;
	clear: both;
	margin-bottom: 0.375rem;
}
.gift_c_m p span{
	color:#000;
	font-size: 0.75rem;
}
.gift_c_m p .ios_btn,.gift_c_m p .anz_btn{
	color: #fff;
	font-size: 0.6875rem;
	width: 4.40625rem;
	height: 1.71875rem;
	text-align: center;
}
.gift_c_m p .ios_btn{
	background: url(../../common/images/gi_tckios.png) no-repeat;
	background-size: 100% 100%;
}
.gift_c_m p .ios_btn.on{
	background: url(../../common/images/gi_tckios_on.png) no-repeat;
	background-size: 100% 100%;
}
.gift_c_m p .anz_btn{
	background: url(../../common/images/gi_tckanz.png) no-repeat;
	background-size: 100% 100%;
	margin-top: 0.15625rem;
}
.gift_c_m p .anz_btn.on{
	background: url(../../common/images/gi_tckanz_on.png) no-repeat;
	background-size: 100% 100%;
}
.gift_c_m p input{
	outline: none;
	border:0;
	color: #fff;
}
.gift_c_m p .txt{
	background: url(../../common/images/gi_input.png) no-repeat;
	background-size: 100% 100%;
	width: 7.71875rem;
	height: 1.78125rem;
	line-height: 1.78125rem;
	padding:0 0.9375rem;
	font-size: 0.6875rem;
	margin-right: 0.46875rem;
}
.gift_c_m p .tel{
	margin-right: 0.375rem;
}
.gift_c_m p .yzm{
	margin-right: 0.28125rem;
}
.gift_c_m p .js_time,.gift_c_m p .sub_btn{
	color: #959595;
	cursor: pointer;
	width: 3.71875rem;
	height: 1.5625rem;
	line-height: 1.5625rem;
	background: url(../../common/images/gi_tckbtn.png) no-repeat;
	background-size: 100% 100%;
	font-weight: bold;
	text-align: center;
}
.gift_c_m p .js_time,.gift_c_m p .sub_btn{
	font-size: 0.4375rem;
	margin: 0.3125rem 0 0 -0.5625rem;
}
.gift_c_m p .sub_btn{
	font-size: 0.46875rem;
}
.gift_c_m .gi_last{
	line-height: 0.75rem;
	font-size: 0.46875rem;
	width: 92%;
}
.video_ul{
	position: relative;
	margin: 0.9375rem auto;
	width: 16.25rem;
}
.video_ul li{
	width: 7.125rem;
	position: relative;
	float: left;
	margin: 0 0.5rem 0.625rem;
}
.video_ul li a{
	display: block;
	width: 7.125rem;
	border:0.09375rem solid #fe5;
	height: 4.4375rem;
	position: relative;
}
.video_ul li a img{
	display: block;
	width: 7.125rem;
	height: 4.4375rem;
}
.video_ul li a i {
    width: 1.4375rem;
    height: 1.4375rem;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -0.71875rem 0 0 -0.71875rem;
    display: block;
    cursor: pointer;
    background-image: url(../images/i_video_ico.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.video_ul li span{
	display: block;
	line-height: 1.125rem;
	color: #666;
	font-size: 0.4375rem;
	text-align: center;
	width: 100%;
}

/*双十二*/
.p-main1{
	width: 100%;
	height: 66.031rem;
	overflow: hidden;
	background: url(../images/p-bg01.jpg) no-repeat;
	background-size: 100% 100%;
}
.p-prizebox{
	width: 100%;
	height: 18.594rem;
	margin-top: 19.2rem;
	position: relative;
	background: url(../images/p-prizebg.png) no-repeat;
	background-size: 100% 100%;
}
.p-prize{
	width: 11.281rem;
	height: 11.281rem;
	position: absolute;
	right: 4.4rem;
	top: 4.55rem;
	z-index: 1;
	background: url(../images/p-prize.png) no-repeat;
	background-size: 100% 100%;
}
.p-prize-jt{
	width: 11.281rem;
	height: 11.281rem;
	position: absolute;
	right: 4.4rem;
	top: 4.55rem;
	z-index: 2;
	background: url(../images/p-prize-jt.png) no-repeat;
	background-size: 100% 100%;
}
.p-prize-btn{
	width: 3.188rem;
	height: 3.188rem;
	display: block;
	position: absolute;
	right: 8.5rem;
	top: 8.6rem;
	z-index: 3;
}
.p-prize-gift{
	width: 8.25rem;
	height: 6.062rem;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 3;
	background: url(../images/p-prize-gift.png) no-repeat;
	background-size: 100% 100%;
}
.p-sign{
	padding-right: 2.188rem;
	text-align: right;
	font-size: 0.562rem;
	color: #fff;
}
.p-signed a{
	color: #EECF26;
}
.p-signed{
	padding-right: 2.188rem;
	text-align: right;
	font-size: 0.562rem;
	color: #fff;
}
.p-sign a{
	color: #EECF26;
}
.p-js{
	width: 100%;
	height: 19.281rem;
	padding-top: 3.125rem;
	margin-top: 1.25rem;
	background: url(../images/p-js.png) no-repeat;
	background-size: 100% 100%;
}
.p-js p{
	width: 14.25rem;
	margin: 0 auto;
	padding: 0 0.5rem;
	box-sizing: border-box;
	font-size: 0.781rem;
	color: #ff4801;
}
.p-main2{
	width: 100%;
	background: url(../images/p-bg02.jpg) repeat-y;
	background-size: 100% auto;
}
.p-main2 img{
	display: block;
	width: 100%;
}
.p-tack{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.8);
	z-index: 9999;
	display: none;
}
.p-tprize{
	width: 16.62rem;
	height: 13.56rem;
	position: fixed;
	left: 50%;
	top: 50%;
	overflow: hidden;
	margin: -6.78rem 0 0 -8.31rem;
	background: url(../../common/images/p-tack-prize.png) no-repeat;
	background-size: 100% 100%;
}
.p-tpimg{
	width: 4.062rem;
	height: 4.844rem;
	margin: 1.5rem auto 12px;
	padding: 12px 0.469rem;
	box-sizing: border-box;
	text-align: center;
	border-radius: 0.5rem;
	background: rgba(250,95,34,.3);
}
.p-tpimg img{
	display: block;
	width: 100%;
}
.p-tpimg p{
	font-size: 0.562rem;
	line-height: 2;
	color: #e30d4c;
}
.p-tpcode{
	font-size: 0.562rem;
	color: #e30d4c; 
	text-align: center;
}
.p-tpcode p{
	display: inline-block;
	width: 9.656rem;
	height: 1.0rem;
	background: #fff;
	border-radius: 16px;
	line-height: 1.0rem;
	vertical-align: middle;
}
.p-tpbot{
	width: 100%;
	text-align: center;
	font-size: 0.562rem;
	color: #e30d4c; 
	margin-top: 0.625rem;
}
.p-tsign{
	width: 16.594rem;
	height: 7.969rem;
	position: fixed;
	left: 50%;
	top: 50%;
	overflow: hidden;
	overflow: hidden;
	margin: -3.969rem 0 0 -8.125rem;
	background: url(../../common/images/p-tack-signbg.png) no-repeat;
	background-size: 100% 100%;
}
.p-tsign-close{
	width: 1.312rem;
	height: 1.156rem;
	position: absolute;
	right: 0.562rem;
	top: 0.562rem;
	cursor: pointer;
	display: block;
}
.p-tsign form{
	width: 12.312rem;
	font-size: 0.562rem;
	margin: 1.875rem auto 0;
}
.p-tsign form div{
	width: 100%;
	height: 1.188rem;
	line-height: 1.188rem;
	background: #fff;
	color: #000;
	border-radius: 4px;
	margin-bottom: 0.406rem;
	border-radius: 4px;
}
.p-tsign form div input{
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
	outline: none;
	box-sizing: border-box;
	padding-left: 0.562rem;
	background: transparent;
}
.p-tsign form div input.yzm{
	width: 7.344rem;
	float: left;
}
.p-tsign form div .yzmbtn{
	width: 4.8rem;
	display: block;
	height: 1.188rem;
	float: right;
	color: #fff;
	background: #FA5F22;
	border-radius: 4px;
	text-align: center;
}
.p-tsign-btn{
	width: 4.094rem;
	height: 1.156rem;
	display: block;
	background: #FA5F22;
	text-align: center;
	line-height: 1.156rem;
	font-size: 0.562rem;
	color: #fff;
	border-radius: 4px;
	margin: 0.75rem auto;
}
.p-prize-down{
	width: 6.438rem;
	height: 1.406rem;
	display: block;
	border-radius: 0.803rem;
	background: #FA5F22;
	text-align: center;
	line-height: 1.406rem;
	font-size: 0.875rem;
	color: #ffc52b;
	margin: 0.5rem auto;
	border: 0.2rem solid #78340F;
}

