.aboutTitle{padding-top:60px;padding-bottom:60px}
.content{width:1200px;height:100%;margin:0 auto;font-size:14px;color:#c4c4c4;position:relative}
.name{font-size:3.43em;line-height:44px}
.intro{font-size:1.43em}
.circle_add{width:57px;float: right;}
.circle_add button{width:40px;height:40px;background-image:url(../images/artist/addBtn.png);background-size:40px 40px;background-color:transparent;border:0;margin-left:17px;outline:0}

#aritist1{width:568px;height:706px;display:inline-block;vertical-align:top;position:relative;top:0px}
.a1_img{width:568px;height:576px}
.a1_text{width:568px;color:#ab9365;text-align:right;margin-top:26px}

#aritist2{width:572px;height:880px;margin-left:55px;display:inline-block;vertical-align:top;position:relative;top:32px}
.a2_img{width:100%;height:786px;margin-top:10px}
.a2_text{width:568px;color:#ab9365;text-align:right}

#aritist3{width:567px;height:724px;display:inline-block;vertical-align:top;position:relative;top:-72px}
.a3_img{width:568px;height:576px}
.a3_text{width:568px;color:#ab9365;text-align:left;margin-top: -20px;}
#ykIntro{margin-left: 0px;}
#ykIntro p{padding-left: 20px;}

#aritist4{width:572px;height:880px;margin-left:55px;display:inline-block;vertical-align:top;position:relative;top:260px}
.a4_img{width:100%;height:786px;margin-top:10px}
.a4_text{width:568px;color:#ab9365;text-align:right}

#aritist5{width:568px;height:706px;display:inline-block;vertical-align:top;position:relative;top:-200px}
.a5_img{width:568px;height:576px}
.a5_text{width:568px;color:#ab9365;text-align:right;margin-top:26px}

.a1_text div,.a2_text div,.a3_text div,.a4_text div,.a5_text div{display: inline-block;}
.a3_text .circle_add{float: left;}

/*艺人经纪new*/
.art_top {width: 100%;height:718px;background: url(../images/artist/new/artist-bg1.jpg) no-repeat;background-size:100% 100%;overflow: hidden;}
.art_top .wrap{width: 1200px;margin: 0 auto;overflow: hidden;}
.item {width: 300px;height: 335px;float: left;padding-top: 20px;cursor: pointer;text-align: center;}
.item img {display:block;width:157px;height:157px;margin: 0 auto;}
.mainFont {font-size: 1.7em;margin-top: 15px;margin-bottom: 15px;}
.activeColor {color: #ab9365;}
.subTitle {font-size: 1.125em;margin-bottom: 10px;}
.subColor {color: #cacaca;}
.art_list {width: 100%;height:960px;/*overflow: hidden;*/}
.art_list .wrap{width: 1200px;margin: 0 auto;/*overflow: hidden;*/}
.art_list .art_show .peo{position: relative;width:224px;height:162px;float:left;margin-right:20px;margin-bottom:30px;cursor:pointer;}
.art_list .art_show .peo:nth-of-type(5n){margin-right:0;}
.art_list .art_show .peo img{display:block;width:224px;height:130px;}
.art_list .art_show .peo .peo_name{width:224px;height:32px;line-height:32px;font-size:18px;color:#ab9365;text-align:center;background:#000;}
.art_list .art_show .peo .peo_intro{display:none;position: absolute;z-index: 10;right: -488px;top: 0;width: 488px;padding: 20px;font-size: 14px;color: #443d2f;background: #939292;}
.art_list .art_show .peo:nth-of-type(5n) .peo_intro{display:none;position: absolute;z-index: 10;left: -488px;right: initial;top: 0;width: 488px;padding: 20px;font-size: 14px;color: #443d2f;background: #939292;}
.art_list .art_show .peo .peo_intro:before{position: absolute;left: -11px;top: 11px;display: inline-block;content: "";width: 11px;height: 21px;background: url(../images/artist/new/art_point.png) no-repeat;background-size: 100% 100%;}
.art_list .art_show .peo:nth-of-type(5n) .peo_intro:before{position: absolute;left: initial;right: -11px;top: 11px;display: inline-block;content: "";width: 11px;height: 21px;background: url(../images/artist/new/art_point.png) no-repeat;background-size: 100% 100%;transform:rotate(180deg);-ms-transform:rotate(180deg); 	/* IE 9 */-moz-transform:rotate(180deg); 	/* Firefox */-webkit-transform:rotate(180deg); /* Safari 和 Chrome */-o-transform:rotate(180deg); 	/* Opera */}
.art_list .art_show .peo .peo_intro .big_name{display:block;font-size:28px;}
.art_list .art_show .peo .peo_intro p{line-height:25px;text-indent:15px;}
.art_list .art_show .peo.active img{filter: none;}
.art_info {width: 100%;height: 777px;background: url(../images/artist/new/artist-bg2.jpg) no-repeat;background-size: 100% 100%;overflow: hidden; margin-bottom: -230px;}
.art_info .wrap{ width: 1200px;margin: 0 auto;overflow: hidden;}
.art_info .txt p{font-size:22px;color:#ab9365;text-align:center;margin-bottom:5px;}
.art_info .txt1{margin-left: 130px;margin-top:50px;}
.art_info .txt1 h3{position: relative;font-size: 22px;color: #d4d4d4;text-indent: 12px;}
.art_info .txt1 h3:before{position:absolute; left:0; top:50%;display:inline-block;content:"";width:5px;height:21px;background:#AB9365;margin-top:-10.5px;}
.art_info .txt1 p{font-size: 18px;color: #d4d4d4;line-height: 35px;margin-left: 15px;}
