.content{width:1200px;height:100%;margin:0 auto;font-family:MicrosoftYahei;margin-top:47px}
.titleDiv{width:100%;height:68px;color:#ab9365;font-size:1.71em;border-left:5px solid #ab9365;background-image:url(../images/titleDivGB.png)}
.titleDiv img{width:35px;height:31px;display:inline-block;margin-left:19px;margin-top:-1.5px}
.titleDiv span{line-height:68px}
#intro_div{display: table;width:100%;height: 233px;background-image: url(../images/e-sports/introBG.png);background-size: 1200px 233px;}
#introText{display: table-cell;position: relative;left: 5.6%;width: 62.3%;color:#c4c4c4;text-indent:2em;text-align: justify;font-size:1em;line-height: 2.14em;vertical-align: middle;}
.calendarDiv{margin-top:4px;width:100%;height:559px;position:relative;background-color: #131314}
.btnDiv,#fullCalendar{display:inline-block;position: relative;z-index: 100;}
#month{font-size:1.71em;color:#c4c4c4;margin-left:416px;letter-spacing:10px;}
#specialSubject{width:363px;height:88px;margin:auto 0;font-size:20px;color:#ab905d;border:3px solid #746549;background-color:#363637;outline:0;-webkit-box-shadow:-10px 0 10px #181919 inset,10px 0 10px #181919 inset,0 -10px 10px #181919 inset,0 10px 10px #181919 inset;-moz-box-shadow:-10px 0 10px #181919 inset,10px 0 10px #181919 inset,0 -10px 10px #181919 inset,0 10px 10px #181919 inset;box-shadow:-10px 0 10px #181919 inset,10px 0 10px #181919 inset,0 -10px 10px #181919 inset,0 10px 10px #181919 inset}
#specialSubject:hover{-webkit-filter:drop-shadow(0px 2px 2px #131414);filter:drop-shadow(0px 2px 2px #131414);-webkit-filter:brightness(1.4);filter:brightness(1.4)}
#fullCalendar{width:774px;height: 497px;}
.btnDiv{width:117.8px;height:100%;background-color:#131314}
#preBtn,#nextBtn{width:54px;height:44px;margin:auto;background-size:54px 44px;border:0;display:block;margin-top: 325px;}
.fc-day-header{color:#c4c4c4;font-family:MicrosoftYahei;font-size:1.29em;width:108px;min-height:60px;height:60px;line-height:60px;border:0;background-color:#373738}
.fc-day,.fc-day-number, .fc-day,.fc-day-number div{width:108px;min-height:60px;height:60px}
td :first-child{width:108px;height:44px}
table{min-height:497px;background-color:#373738}
.swiper-container{width: 1200px;height: 215px;margin-top:16px;font-size:0}
.albumDiv img{width:383px;height:215px}
.swiper-slide{width: 383px;height: 215px;}
.swiper-button-prev{background-image: url(../images/arrow-left.png);background-size: 54px 44px;}
.swiper-button-next{background-image: url(../images/arrow-right.png);background-size: 54px 44px;}
#matchName{color: #ab9365;min-width: 125px;width: auto;float: left;height: auto;position: absolute;font-size: 24px;top:-14px;padding-left: 10px;background-color: #272728;}
#matchLogo{position: relative;left: 32%;display: inline-block;top: 1.5em;}
.album,.calendar{margin-top: 2.355em;}
.swiper-slide{margin-right: 25px;}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{right: 10px;left: auto;}
.swiper-button-next, .swiper-button-prev{position: absolute;top: 50%;width: 27px;height: 44px;margin-top: -22px;z-index: 10;cursor: pointer;background-position: center;background-repeat: no-repeat;}

/* ie11 */
@media screen and(-ms-high-contrast:active),(-ms-high-contrast:none) {

  #matchLogo{display: table-cell;}

}
