#flexSlider{height: 664px;
  width: 100%;
}
#listContainer{width: 100%;
  -js-display: flex;
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
  -ms-justify-content: center;
  -ms-align-items: center;
}
#businessList{
  width: 1200px;
  height: 300px;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  -ms-align-items: center;
  -ms-justify-content: center;
}
.item{width: 194px;height: 295px;float: left;border: 3px solid #383739;padding-top: 20px;cursor:pointer;text-align: center;-moz-box-sizing: content-box;-webkit-box-sizing:border-box;-o-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box; }
.item img{margin:0 auto;}
#item2,#item3,#item4,#item5,#item6{
  margin-left: 4.5px;
}
.subColor{
  color: #cacaca;
}
.mainFont{font-size: 1.7em;
  margin-top: 20px;
  margin-bottom: 20px;
}
.subTitle{font-size: 1em;
  line-height: 22px;
}
.swiper-container {
  height:auto;
  width: 1200px;
  height: 480px;
  text-align:center;
  margin:0 auto;
  margin-bottom: 50px;
  position:relative;
  overflow:hidden;
  background:#F8F8F8;
}
.swiper-wrapper {position: relative;
  z-index:10;
}
.swiper-slide {position:relative;
  text-align:center;
  float:left;
}
.swiper-slide a{position:relative;
  width:100%;
  height:100%;
  display:block;
  overflow:hidden;
}
.swiper-slide img{
  width:100%;
  height:auto;
  vertical-align:middle;
  position:relative;
}
.pagination {
  position: absolute;
  z-index: 20;
  bottom: 0.4em;
  text-align: center;
  width: 350px;
  opacity: 0.7;
  height: 15px;
  border-radius: 10px;
  left: 50%;
  margin-left: -175px;
  background-color: #2e2e2f;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 52px;
  height: 6px;
  border-radius: 8px;
  background: #807f81;
  opacity: 0.5;
  cursor: pointer;
  border-radius: 0;
  margin: 4.5px 5px;
}
.swiper-active-switch {
  background: #000;
}

@media all and (min-width:0){
  #businessList{margin: 0 auto\9;}
}

