.con_wrap{width:1200px;height:auto;overflow:hidden;font-size:1.429em;color:#989898;margin:auto;font-family:MicrosoftYahei;margin-bottom: -200px;}
.title_wrap{text-align:center;margin:68px auto}
.title_wrap p:nth-child(1){font-size:38px;color:#ab9365;font-family:fzdh;font-weight:bold;letter-spacing:2.5px}
#news_time{padding-top:25px;font-size: 20px;}
.content{margin-bottom:258px;}
.content p{font-size:20px;line-height:30px;text-indent:2em;height:auto;margin-top:60px;text-align:justify;}
.content img {
    display: block;
    max-width: 600px;
    margin: 20px auto;
}
@font-face{font-family:fzdh;src:url('../css/fzdhtjt.TTF')}
a{text-decoration:none}
