<div class="top">
			<div class="wrap">
				<img src="{$global.logo_img}" alt="" class="icon"/>
				<div class="header_txt">
					<p>{$global.title}</p>
					<p>{$global.sub_title}</p>
				</div>
				<ul class="top_ul">
					<li class="{if isset($smarty.get.id)} {else}active{/if}"><a href="{myurl name='site/index'}">首页</a></li>
					<li><a href="/special/match.html" target="_blank">赛事专区</a></li>
					<li class="{if isset($smarty.get.id)}active{else} {/if}"><a href="{myurl name='article/list, id=>523'}" target="_blank">新闻资讯</a></li>
					<li><a href="/special/hof.html" target="_blank">名人堂</a></li>
					<li><a href="http://baike.baidu.com/link?url=NHTNRThLv1IPbjJlvCuak7Uu-aB3B59Tr4iaJXgrsYy7se_NPyfSgVt-giVquj6Rt3ylzpWIasZzG1qYShaDR8oeNFnfJnslcUyNpjrf6Al14NSeSIS6nUvyuful6LH8" target="_blank">战舰百科</a></li>
					<li><a href="http://bbs.yingxiong.com/Index/index?fid=7&click_type=29" target="_blank">官方社区</a></li>
					<li><a href="/p/care.html" target="_blank">英雄公益</a></li>
				</ul>
				<div class="r_wx">
					<a href="javascript:;"></a>
					<a target="_blank" href="{$global.wb_url}"></a>
					<a target="_blank" href="{$global.tb_url}"></a>
					<div class="fl_wx">
						<img src="{$global.wx_img}" alt="" />
					</div>
				</div>
			</div>
		</div>