*{margin: 0;padding: 0;-webkit-tap-highlight-color:rgba(0,0,0,0);}
body {font-family: "微软雅黑";}
.hidden{display:none!important;}
img{width:100%;height:100%;}
a{text-decoration:none;}
li{list-style:none;}
i,em{font-style:normal;}
.fl{float:left;}
.fr{float: right;}
input:focus{outline:none;}
/*header*/
header {
    width: 20rem;
    height: 3.125rem;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.7);
    background-size: 100% 100%;
}
header .logo {
  float: left;
  display: block;
  width: 3.53125rem;
  height: 3.53125rem;
  margin:0.625rem 0 0 0.9375rem;
}
header .h_text {
  overflow: hidden;
  float: left;
  margin:0.55rem 0 0 0.4375rem;
}
header .h_text .h_p01 {
  width: 100%;
  font-weight:600;
  color: #fff;
  font-size: .9375rem;
}
header .h_text .h_p02 {
  width: 100%;
  opacity: .7;
  color: #fff;
  font-size:0.625rem;
}
header .header_a {
    float: right;
    height: 1.5625rem;
    margin: 0.495rem 0.9375rem 0 0;
    text-align: center;
}
header .header_a .order{
  display: inline-block;
  width:4.53125rem;
  height:2.0625rem;
  background: url(../images/top_down.png);
  background-size: 100% 100%;
}
/*首页--top*/
.i_main {
  position: relative;
  width:20rem;
  height:71.0rem;
  margin:0 auto;
  background: url(../images/bg.jpg);
  background-size: 100% 100%;
  overflow: hidden;
}
.i_main .top{
  position: relative;
  overflow: hidden;
  width: 20rem;
  height: 35.21875rem;
}
.i_main .top .logo1{
    position: absolute;
    left: 2.1rem;
    top: 5.9375rem;
    width: 7.25rem;
    height: auto;
}
.i_main .slogan{
  width:100%;
  height:11.59375rem;
  position: relative;
  top:16.5625rem;
}
.i_main .slogan .play{
    position: relative;
    width: 3.5rem;
    height: 3.6875rem;
    background: url(../images/play.png);
    background-size: 100% 100%;
    top: 0;
    margin-left: 14rem;
    display: block;
    animation: vGo 2s linear infinite;
    -webkit-animation: vGo 2s linear infinite;
}
@keyframes vGo {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@-webkit-keyframes vGo {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.i_main .slogan img.ani{
    -webkit-animation-duration: 1500ms;
    animation-duration: 1500ms;
    width:19.65625rem;
    height:8.96875rem;
    top:2.6rem;
}
.ani {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
.i_main .down_btn{
    width: 15.0rem;
    height: 3.0rem;
    position: relative;
    display: block;
    margin: 0 auto;
    background: url(../images/down_btn.png) no-repeat;
    background-size: 100% 100%;
    top: 19.5rem;
}
/*首页--宣传内容*/
.i_main .xc_info{
  position: relative;
  overflow: hidden;
  width: 20rem;
  height: 41.1875rem;
}
.i_main .title{
  width:20rem;
  height:2.84375rem;
}
.i_main .videoBtn {
  position:relative;
  width:14.75rem;
  height: 8.71875rem;
  margin:0 auto;
  margin-top:.5rem;
  background:url("../images/l_vibg.png");
  background-size:100% 100%;
}
.i_main .videoBtn a{
  display:block;
  position:absolute;
  left:50%;
  top:50%;
  width:2.46875rem;
  height:2.46875rem;
  margin:-1.234375rem 0 0 -1.234375rem;
}
.i_main .videoBtn img{
  animation: scales 2s linear infinite;
  -webkit-animation: scales 2s linear infinite;
}
.slider{
    position: relative;
    width: 17.5625rem;
    height: 28.53125rem;
    margin: 0 auto;
    margin-top: 2.15rem;
    background: url(../images/slider_bg.png);
    background-size: 100% 100%;
}
.slider .swiper-container .swiper-slide>a{
    display: block;
    width: 14.9375rem;
    height: 26.53125rem;
    margin: 0 auto;
    margin-top: 1rem;
}
.slider .swiper-button-prev{
  width:0.96875rem;
  height:2.46875rem;
  left:-0.325rem;
  margin-top: -2.7rem;
  background: url(../images/prev.png) no-repeat;
  background-size: 100%;
  animation: animate1 2s linear infinite;
    -webkit-animation: animate1 2s linear infinite;
}
.slider .swiper-button-next {
  width:0.96875rem;
  height:2.46875rem;
  right:-0.325rem;
  margin-top: -2.7rem;
  background: url(../images/next.png) no-repeat;
  background-size: 100%;
   animation: animate2 2s linear infinite;
    -webkit-animation: animate2 2s linear infinite;
}
.slider .swiper-pagination{
  width: 100%;
  left: 50%;
  bottom: -1.3rem;
  transform:translate(-50%);
  -webkit-transform:translate(-50%);
}
.slider .swiper-pagination-bullet {
  width:0.5rem;
  height: 0.5rem;
  margin:0 0.25rem;
  opacity: 1;
  background:url("../images/on1.png");
  background-size:100% 100%;
}
.slider .swiper-pagination-bullet-active {
  width:0.5rem;
  height: 0.5rem;
  background:url("../images/on.png");
  background-size:100% 100%;
}
.down_box{
    width: 6.46875rem;
    height: 5.03125rem;
    position: fixed;
    z-index: 1000;
    bottom: 5rem;
    right: 0.3rem;
    background: url(../images/down_btn2.png) no-repeat;
    background-size: 100% 100%;
}
.down_box a{
  display: block;
  width:100%;
  height:100%;
}
@keyframes scales{0%{transform: scale(1); }50% {transform: scale(1.1);}100% {transform: scale(1);}}
@-webkit-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(1.1);}100% {-webkit-transform: scale(1);}}
@-moz-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(1.1);}100% {-webkit-transform: scale(1);}}
@-o-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(1.1);}100% {-webkit-transform: scale(1);}}
@-ms-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(1.1);}100% {-webkit-transform: scale(1);}}

@-webkit-keyframes rotate{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}}
@keyframes rotate{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}}
@-moz-keyframes rotate{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}}
@-o-keyframes rotate{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}}
@-ms-keyframes rotate{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}}
@keyframes animate1 {
  0% {
    transform: scale(1, 1) translate(0, 0);
    -webkit-transform: scale(1, 1) translate(0, 0);
  }
  50% {
    transform: scale(1.05, 1.05) translate(-0.3rem, 0);
    -webkit-transform: scale(1.05, 1.05) translate(-0.3rem, 0);
  }
  100% {
    transform: scale(1, 1) translate(0, 0);
    -webkit-transform: scale(1, 1) translate(0, 0);
  }
}
@-webkit-keyframes animate1 {
  0% {
    transform: scale(1, 1) translate(0, 0);
    -webkit-transform: scale(1, 1) translate(0, 0);
  }
  50% {
    transform: scale(1.05, 1.05) translate(-0.3rem, 0);
    -webkit-transform: scale(1.05, 1.05) translate(-0.3rem, 0);
  }
  100% {
    transform: scale(1, 1) translate(0, 0);
    -webkit-transform: scale(1, 1) translate(0, 0);
  }
}
@keyframes animate2 {
  0% {
    transform: scale(1, 1) translate(0, 0);
    -webkit-transform: scale(1, 1) translate(0, 0);
  }
  50% {
    transform: scale(1.1, 1.1) translate(0.3rem, 0);
    -webkit-transform: scale(1.1, 1.1) translate(0.3rem, 0);
  }
  100% {
    transform: scale(1, 1) translate(0, 0);
    -webkit-transform: scale(1, 1) translate(0, 0);
  }
}
@-webkit-keyframes animate2 {
  0% {
    transform: scale(1, 1) translate(0, 0);
    -webkit-transform: scale(1, 1) translate(0, 0);
  }
  50% {
    transform: scale(1.1, 1.1) translate(0.3rem, 0);
    -webkit-transform: scale(1.1, 1.1) translate(0.3rem, 0);
  }
  100% {
    transform: scale(1, 1) translate(0, 0);
    -webkit-transform: scale(1, 1) translate(0, 0);
  }
}