.kv{
	width:100%;
	min-width:1280px;
	margin:0 auto;
	height:810px;
	background:url(../images/f_kv.jpg) no-repeat center;
	overflow: hidden;
	position:relative;
	margin-top:56px;
}
.fire_second{
	width:100%;
	height:750px;
	overflow: hidden;
}
.fire_second .fire_second_main{
	width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.fire_second .fire_second_main li{
	width:25%;
	height:100%;
	position:relative;
	float:left;
	overflow: hidden;
}
.fire_second .fire_second_main li img{
	display: block;
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}
.fire_second .fire_second_main li p{
	font-size:26px;
	color:#fff;
	width:100%;
	text-align: center;
	bottom:40px;
	position:absolute;
}
.fire_last{
	width:100%;
	height:976px;
	background:url(../images/fire_last.jpg) no-repeat center;
	position:relative;
	overflow: hidden;
}
.fire_last .fire_video{
	width:1024px;
	height:577px;
	background:url(../images/fire_bg.jpg) no-repeat center;
	margin:85px auto 0;
	position:relative;
	
}
.fire_last .fire_video .v_play{
	display: block;
	width:120px;
	height:153px;
	position:absolute;
	left:50%;
	margin-left:-60px;
	top:50%;
	margin-top:-76.5px;
	z-index:1;
	cursor: pointer;
	transition:all .5s;
	-webkit-transition: all .5s;
}
.fire_last .fire_video .v_play:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
@keyframes vGo{
	0%{transform: scale(1.1);}
	50%{transform: scale(1);}
	100%{transform: scale(1.1);}
}
@-webkit-keyframes vGo{
	0%{transform: scale(1.1);}
	50%{transform: scale(1);}
	100%{transform: scale(1.1);}
}
.fire_last .fire_video i{
	display: block;
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	background-color:rgba(0,0,0,.8);
}
.fire_last .fire_video video{
	position: absolute;
    z-index: 20;
    left: 0;
    top: 0;
    object-fit: fill;
    display: none;
}
.fire_last ul{
	width:1280px;
	height:180px;
	margin:24px auto 0;
	position:relative
}
.fire_last ul li{
	width:258px;
	height:59px;
	background:url(../images/fire_li.png) no-repeat center;
	float:left;
	overflow: hidden;
	font-size:26px;
	color:#fff;
	text-align: center;
	line-height:59px;
	margin:42px 50px 0 0;
}
.fire_last ul li:nth-child(1){
	margin-left:44px;
}
.fire_last ul li:nth-child(5){
	margin-left:44px;
}