.hcj_first{
	width:100%;
	height:808px;
	overflow: hidden;
	position:relative;
	margin-top:56px;
}
.hcj_first img{
	display: block;
	width:100%;
	height:100%;
}
.hcj_second{
	width:100%;
	height:275px;
	overflow: hidden;
	position:relative;
}
.hcj_second img{
	display: block;
	width:100%;
	height:100%;
}
.hcj_third{
	width:100%;
	height:810px;
	overflow: hidden;
	position:relative;
}
.hcj_third a{
	display: block;
	width:100%;
	height:100%;
}
.hcj_third a img{
	display: block;
	width:100%;
	height:100%;
}
.hcj_l{
	width:100%;
	height:300px;
	overflow: hidden;
	position:relative;
}
