html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
table,
th,
td,
form,
input,
button,
textarea,
menu {
	font-family: helvetica;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.omni_page_one{
	width:100%;
	height:810px;
	background:url(../images/omni_one.jpg) no-repeat center;
	position:relative;
	overflow: hidden;
	margin-top:56px;
}
.omni_page{
	width:1280px;
	height:100%;
	margin:0 auto;
	position:relative;
}
.omni_page .omni_vr{
	width:204px;
	height:141px;
	position:absolute;
	top:198px;
	left:86px;
}
.omni_page .omni_p{
	width:100%;
	overflow: hidden;
	position:absolute;
	top:377px;
	left:102px;
}
.omni_page .omni_p p.p1{
	font-size:36px;
	color:#fff;
	margin-bottom:20px;
}
.omni_page .omni_p p.p2,
.omni_page .omni_p p.p3{
	font-size:22px;
	color:#fff;
	line-height:37px;
}
.omni_page .omni_p p.p3{
	width:550px;
}
.omni_page .omni_p a{
	width:200px;
	height:42px;
	display: inline-block;
	font-size:18px;
	color:#fff;
	background:url(../images/omni_p_en.png) no-repeat center;
	background-size:100% 100%;
	text-align: center;
	line-height:42px;
	margin-top:30px;
}

.omni_page_two{
	width:100%;
	height:750px;
	background:url(../images/omni_two.jpg) no-repeat center;
	position:relative;
	overflow: hidden;
}

.omni_tab{
	width:1002px;
	height:100%;
	margin:0 auto;
	position:relative;
}

.main_banner{
	width:621px;
	height:492px;
	overflow: hidden;
	position:absolute;
	left:50%;
	margin-left:-310.5px;
	top:0;
}

.main_banner ul{
	width:100%;
	height:100%;
}
.main_banner ul li{
	position:absolute;
	opacity: 0;
	filter: alpha(opacity=0);
	width:621px;
	height:492px;
}
.main_banner ul li:nth-child(2){
	padding-top:18px;
}
.main_banner ul li:nth-child(3){
	padding-top:32px;
}
.main_banner ul li:nth-child(4){
	padding-top:50px;
}
.btnLeft{
	width:20px;
	height:62px;
	background:url(../images/left_jt.png) no-repeat center;
	left:0;
	top:216px;
	margin-top:0;
	cursor: pointer;
	position:absolute;
}

.btnRight{
	width:20px;
	height:62px;
	background:url(../images/left_jt.png) no-repeat center;
	right:0;
	top:216px;
	margin-top:0;
	transform: rotate(180deg);
	cursor: pointer;
	position:absolute;
}
.omni_tab .table{
	width:100%;
	overflow: hidden;
	position:absolute;
	top:545px;
	left:25px;
}
.omni_tab .table span{
	display: inline-block;
	width:179px;
	height:96px;
	overflow: hidden;
	margin-right:65px;
	cursor: pointer;
}
.omni_tab .table span img{
	display: block;
}
.omni_tab .table span.small_active img:nth-child(1){
	display: none;
}
.omni_tab .omni_tab_p {
	font-size:16px;
	color:#fff;
	position:absolute;
	left:297px;
	bottom:51px;
}

.omni_page_three{
	width:100%;
	height:750px;
	background-color:#fff;
	position:relative;
	overflow: hidden;
}
.omni_page_three .omni_page_three_main{
	width:100%;
	height:100%;
	margin:0 auto;
	position:relative;
}
.omni_page_three .unity{
	width:50%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	z-index:11;
}

.omni_page_three .unity .omni_unity_one{
	display: inline-block;
	width:960px;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}
.omni_page_three .unity .omni_unity{
	display: inline-block;
	width:371px;
	height:135px;
	position:absolute;
	top:307px;
	left:50%;
	margin-left:-187.5px;
}
.omni_page_three .unity p{
	width:146px;
	font-size:20px;
	color:#fff;
	position:absolute;
	left:50%;
	margin-left:-73px;
	bottom:155px;
}

.omni_page_three .unreal{
	width:50%;
	height:100%;
	position:absolute;
	right:0;
	top:0;
	z-index:11;
}

.omni_page_three .unreal .omni_unreal_one{
	display: inline-block;
	width:960px;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}

.omni_page_three .unreal .omni_unreal{
	display: inline-block;
	width:275px;
	height:267px;
	position:absolute;
	top:242px;
	left:50%;
	margin-left:-137.5px;
}

.omni_page_three .unreal p{
	width:211px;
	font-size:20px;
	color:#fff;
	position:absolute;
	left:50%;
	margin-left:-105.5px;
	bottom:155px;
}
.video_parent_one{
	width:1920px;
	height:750px;
	margin:0 auto;
	position:relative;
	display: none;
	z-index:10;
}
.video_parent{
	width:1920px;
	height:750px;
	margin:0 auto;
	position:relative;
	display: none;
	z-index:10;
}
video.video_one{
	position:absolute;
	z-index:20;
	left:0;
	top:0;
	object-fit: fill;
}

.omni_page_four{
	width:100%;
	height:750px;
	background:url(../images/omni_four.jpg) no-repeat center;
	position:relative;
	overflow: hidden;
}
.omni_page_four .omni_page_four_title{
	text-align:center;
	font-size:30px;
	color:#fff;
	padding-top:53px;
}

.omni_page_four .omni_page_four_title p{
	font-size:18px;
	margin-top:32px;
}

.omni_page_four .omni_page_four_body{
	width:1200px;
	height:480px;
	margin:0 auto;
	margin-top:49px;
	position:relative;
	overflow: hidden;
}

.omni_page_four .omni_page_four_body .left_tab{
	min-width:83px;
	height:100%;
	position:absolute;
	padding-left:56px;
	z-index:10;
	padding-top:25px;
	padding-right:23px;
	border-right:1px solid #fff;
	background:url(../images/left_tab_bg.png) no-repeat center;
    background-size:100% 100%;
}

.omni_page_four .omni_page_four_body .left_tab ul li{
	font-size:22px;
	color:#fff;
	margin-bottom:28px;
	cursor: pointer;
	text-align: left;
	padding-left:25px;
}
.omni_page_four .omni_page_four_body .left_tab ul li.active{
	background:url(../images/omni_left.png) no-repeat left center;
}
.omni_page_four .omni_page_four_body .right_content{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}

.omni_page_four .omni_page_four_body .right_content ul li{
	width:100%;
	height:480px;
	position:absolute;
	display: none;
}
.omni_page_four .omni_page_four_body .right_content ul li img{
	position:absolute;
	left:0;
	top:0;
}
.omni_page_four .omni_page_four_body .right_content ul li .omni_txt{
	position:absolute;
	font-size:20px;
	top:234px;
	left:293px;
	color:#fff;
}
.omni_page_four .omni_page_four_body .right_content ul li .omni_txt p{
	margin-top:17px;
}

.omni_page_four .omni_page_four_body .right_content ul li .omni_txt a{
	width:220px;
	height:42px;
	display: inline-block;
    font-size: 18px;
    color: #fff;
    background: url(../images/omni_q_en.png) no-repeat center;
    line-height: 42px;
    margin-top:15px;
    text-align: center;
}
