.menuNav {
	position: relative;
	width: 100%;
	height: 56px;
	line-height: 56px;
	background: #f0f0f0;
	top: 56px;
}

.hardworkNav {
	/*position:relative;*/
	width: 100%;
	/*	z-index: 10;*/
	height: 120px !important;
	background: rgba(255, 255, 255, 0.9);
	display: none;
	z-index: 10000;
	position: absolute;
}

.hardworkNav-left {
	margin-left: 385px;
	position: relative;
}

.Navborder-right {
	margin-left: 20px;
}

.Navborder {
	display: inline-block;
	border-left: 1px solid #ccc;
	height: 68px;
	position: absolute;
	bottom: 20px;
	margin-right: 10px;
}

.pagination .prev,
.pagination .next {
	/*display: none !important;*/
}

.hardworkNav img {
	height: 100px;
	padding-top: 10px;
}

.hardworkNav p {
	display: inline-block;
}

.menuNav.on {
	display: block
}

.menuNav p {
	width:1280px;
	margin: 0 auto;
	display: block;
	position: relative;
	height: 56px;
}

.menuNav span {
	float: left;
	width: 4px;
	color: #313031;
}

.menuNav a {
	color: #646464;
	float: left;
	font-size: 16px;
	margin: 0 15px;
	position: relative;
	padding: 0 10px;
}

.menuNav a.on,
.menuNav a:hover {
	color: #9d9d9d;
}


/*.aboutNav p a:first-child{
	margin-left:200px;
}*/

.joinNav p a:first-child {
	margin-left: 450px;
}

.menuNav .on {
	display: block;
	color: #fff;
}

/*视频列表页*/
.video_list_main{
	width:100%;
	background-color:#fff;
	position:relative;
	overflow: hidden;
	margin-top:56px;
}
.video_list_main .video_list_body{
	width:1280px;
	margin:0 auto;
	position:relative;
	overflow: hidden;
	padding-bottom:75px;
}
.video_list_main .video_list_body .video_left_main{
	width:894px;
	position:relative;
	float:left;
	margin-top:20px;
	margin-left:16px;
}
.video_list_main .video_list_body .video_left_main dl{
	width:400px;
	position:relative;
	font-size:0;
	margin:20px 20px;
	float:left;
}
.video_list_main .video_list_body .video_left_main dl dt{
	width:400px;
	height:240px;
	background-color:#a0a0a0;
}
.video_list_main .video_list_body .video_left_main dl dt img{
	display: block;
	width:100%;
	height:100%;
}
.video_list_main .video_list_body .video_left_main dl dd{
	width:100%;
	font-size:18px;
	color:#68b5f4;
	text-align: left;
	margin-top:11px;
}
.video_list_main .video_list_body .video_left_main dl dd p{
	width:100%;
	line-height:32px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.video_list_main .video_list_body .video_left_main dl dd i{
	font-size:14px;
	color:#787878;
}
.video_list_main .video_list_body .video_right_tab{
	width:354px;
	overflow: hidden;
	position:relative;
	margin-left:45px;
	margin-top:40px;
}
.video_list_main .video_list_body .video_right_tab ul li{
	width:354px;
	height:80px;
	position:relative;
	font-size: 32px;
	margin-bottom:40px;
}
.video_list_main .video_list_body .video_right_tab ul li a{
	display: block;
	width:100%;
	height:100%;
}
.video_list_main .video_list_body .video_right_tab ul li a i{
	display: block;
	width:100%;
	height:100%;
	color:#fff;
	position:absolute;
	z-index:10;
	text-align: center;
	line-height:80px;
}
.video_list_main .video_list_body .video_right_tab ul li img{
	display: block;
	position:absolute;
	top:0;
	left:0;
}
.video_list_main .video_list_body .video_right_tab .share_media{
	width:100%;
	overflow: hidden;
	position:relative;
	margin-top:30px;
}
.video_list_main .video_list_body .video_right_tab .share_media p{
	color:#636363;
	font-size:18px;
	margin-bottom:24px;
}
.video_list_main .video_list_body .video_right_tab .share_media ul li{
	height:20px;
	overflow: hidden;
	position:relative;
	margin-bottom:20px;
}
.video_list_main .video_list_body .video_right_tab .share_media ul li a img{
	display: inline-block;
	width:20px;
	height:20px;
	vertical-align: middle;
}
.video_list_main .video_list_body .video_right_tab .share_media ul li a i{
	font-size:14px;
	color:#42a8f2;
	line-height:20px;
	text-align: left;
	text-indent:36px;
}
/*video详情页*/
.video_detail{
	width:100%;
	height:848px;
	background-color:#fff;
	position:relative;
	overflow: hidden;
	margin-top:56px;
}

.video_detail .video_detail_body{
	width:1280px;
	height:100%;
	margin:0 auto;
	position:relative;
	overflow: hidden;
}
.video_detail .video_detail_body .video_main{
	width:852px;
	overflow: hidden;
	position:relative;
	float:left;
	margin:40px 0 0 16px;
	font-size:0;
}
.video_detail .video_detail_body .video_main .video_titile{
	font-size:18px;
	color: rgb(68, 168, 242);
	margin-bottom:16px;
}
.video_detail .video_detail_body .video_main .video_time{
	width:100%;
	height:20px;
	overflow: hidden;
}
.video_detail .video_detail_body .video_main .video_time i{
	display: inline-block;
	width:40px;
	height:20px;
	background-color:#787878;
	font-size:12px;
	line-height:20px;
	text-align: center;
	color:#fff;
	border-radius: 5px;
	margin-right:14px;
}
.video_detail .video_detail_body .video_main .video_time span{
	font-size:14px;
	color:#787878;
	line-height:20px;
}
.video_detail .video_detail_body .video_main .video_pic{
	width:820px;
	height:480px;
	background-color:#a0a0a0;
	margin-top:17px;
	margin-bottom:34px;
	position:relative;
}
.video_detail .video_detail_body .video_main .video_pic img{
	display: block;
	width:100%;
	height:100%;
}
.video_detail .video_detail_body .video_main .video_description{
	width:820px;
	height:20px;
	overflow: hidden;
}
.video_detail .video_detail_body .video_main .video_description .title_share{
	width:100%;
	height:20px;
	overflow: hidden;
	font-size:14px;
	color:#646464;
}
.video_detail .video_detail_body .video_main .video_description .title_share .description{
	float:left;
	line-height:20px;
}
.video_detail .video_detail_body .video_main .video_description .title_share .share_video{
	float:right;
}
.video_detail .video_detail_body .video_main .video_description .title_share .share_video i{
	display: inline-block;
	line-height:20px;
	margin-right:14px;
}
.video_detail .video_detail_body .video_main .video_description .title_share .share_video .share_weixin{
	margin-right:7px;
}
.video_detail .video_detail_body .video_main .video_description .title_share .share_video img{
	vertical-align: middle;
}
.video_detail .video_detail_body .video_main .video_txt{
	text-indent:28px;
	width:820px;
	margin-top:8px;
	font-size:12px;
	color:#646464;
	line-height:26px;
}
.video_detail .video_detail_body .video_main .back_video_list{
	display: inline-block;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	color: rgb(100, 100, 100);
	height:25px;
	line-height:25px;
	padding:0 16px;
	border:1px solid #646464;
	text-align: center;
	border-radius: 5px;
	margin-top:15px;
}
.video_detail .video_detail_body .video_main .next_video{
	display: inline-block;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	color: rgb(100, 100, 100);
	height:25px;
	line-height:25px;
	padding:0 16px;
	border:1px solid #646464;
	text-align: center;
	border-radius: 5px;
	margin-top:15px;
	margin-left:20px;
}

.video_detail .video_detail_body .video_commend{
	float:right;
	width:388px;
	overflow: hidden;
	margin-left:24px;
	margin-top:116px;
}
.video_detail .video_detail_body .video_commend dl{
	width:360px;
	/*height:289px;*/
	overflow: hidden;
	position:relative;
}
.video_detail .video_detail_body .video_commend dl dt{
	width:360px;
	height:200px;
	background-color:#a0a0a0;
}
.video_detail .video_detail_body .video_commend dl dt img{
	display: block;
	width:100%;
	height:100%;
}
.video_detail .video_detail_body .video_commend dl dd{
	width:100%;
	overflow: hidden;
	font-size:18px;
	line-height:28px;
	text-align: left;
	margin-top:11px;
}
.video_detail .video_detail_body .video_commend dl dd a {
	color:#44a8f2;
}
.video_detail .video_detail_body .video_commend dl dd i{
	display: block;
	font-size:12px;
	color:#787878;
}
.video_detail .video_detail_body .video_commend dl:nth-child(1){
	margin-bottom:35px;
}
.pagination {
    height: 20px;
    margin: 45px auto;
    text-align: center;
}
.pagination li {
    line-height: 33px;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    margin: 0px 3px;
    padding: 0 10px;
}
.pagination li:first-child, .pagination li:last-child {
    background: none;
    border: none;
    margin: 0px 10px;
}
.pagination li.active {
    background: #44a8f2;
}
.pagination li.active a {
    color: #fff;
}
.pagination li a, .pagination li span {
    color: #999999;
}

.pagination .prev, .pagination .next {
    display: none !important;
}
.pagination .first, .pagination .last {
    display: none !important;
}
#pause-box{
	position: absolute;
    top: 0;
    left: 0;
    width: 820px;
    height: 480px;
    background: rgba(0, 0, 0, 0.5);
}
#default-player{
	width:100%;
	height:100%;
}
#vedios-player{
	z-index:99;
	width:100%;
	height:100%;
}
#default-player{
	z-index:90;
}
.jiathis_style_32x32{
	height:20px;
	overflow: hidden;
	float:right;
	margin-top:13px;
	text-align: right;
}
.jiathis_style_32x32 .jiathis_button_tsina .jtico{
	width:20px;
	height:20px!important;
	background:url(../images/video_weibo.png) no-repeat center;
	padding-left:5px!important;
}
.jiathis_style_32x32 .jiathis_button_weixin .jtico{
	width:20px;
	height:20px!important;
	background:url(../images/video_weixin.png) no-repeat center;
	padding-left:5px!important;
}
.jiathis_style_32x32 .jiathis_button_qzone .jtico{
	width:20px;
	height:20px!important;
	background:url(../images/video_qzone.png) no-repeat center;
	padding-left:5px!important;
}
.jiathis_style_32x32 .share_span{
	float:left;
	font-size: 12px;
    color: #787878;
    line-height: 20px;
}
.second_share{
	margin-top:0;
}