img{max-width: 100%;border: 0;vertical-align: middle;}
.in_bg{background: #ea5f5c;}
.wrap{position: relative;overflow: hidden;}
.main01{ width: 100%; position: relative;}
.n_bg img{ display: block;width: 100%;}
.main01_top{ width: 100%; background:#533731;}
.artical_top .main01_top{background: #010508;position: relative;top: 0;left: 0;}
.top_peo{ float: left; margin:5px 5px 0 5px;}
.top_peo img{ width:2.5em;}
.top_title{color: #fff; float: left; text-align: left; padding-top: 3px; width: 43%;}
.top_title h3{ font-size: 1em; font-weight: normal;margin-top: 3px; }
.top_title p{ font-size: 0.65em; color: #dadada;}
.top_btn{ float: right; width: 24%;position: relative; top: 8px;}
.top_btn .link01{width: 114px; height: 57px; float: right; margin-right: 5%; font-size: 0.9em; display:block;}
.top_btn .link01 img{display: block;width: 10em;}
.main01_nav{ position: absolute; top:56px; display: none;z-index: 100;right: 4px;}
.main01_nav a{ float: right; display: inline-block; width: 37%; margin-left: 4px;}
.main01_nav a img{ width: 100%;}
.wclose{ position: absolute; top: 0; left: 17%;}
.main02{ position: relative;}
.main02 .bg img{display: block;width: 100%;}
.main02 .m2_main{position: absolute;bottom: 0; padding: 5px 0; width: 100%;z-index: 40; background: url(../images/white_bg.png) repeat; border-top: 1px solid #ea5f5c;border-bottom: 1px solid #ea5f5c;}
.main02 .m2_main ul{display: -webkit-box;display: -moz-box;width: 90%;margin: 0 auto;}
.main02 .m2_main ul li{-moz-box-flex: 1;-webkit-box-flex:1;text-align: center;}
.main02 .m2_main ul li a img{display: block;width: 3em;margin: 0 auto;}
.main02 .m2_main ul li span{font-size: 1em;color: #ea5f5c;display: block;}
.main02 .m2_main ul li a.ico_wx{position: relative;}
.wx_ewm{width: 25%;position: absolute;left: 16px;z-index: 60;top: 78px;display: none;}
.wx_ewm img{display: block;width:80%;border: 2px solid #ea5f5c;}
.t1{width: 70%; position: absolute;top: 10px; z-index: 12;}
.t2{width: 57%; position: absolute;top: 16px; right: 0; z-index: 15;}
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}
@-webkit-keyframes lightSpeedIn {
	0% {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
	100% {
		-webkit-transform: none;
		transform: none;
	}
}
@-moz-keyframes lightSpeedIn {
	0% {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
	100% {
		-webkit-transform: none;
		transform: none;
	}
}
@-o-keyframes lightSpeedIn {
	0% {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
	100% {
		-webkit-transform: none;
		transform: none;
	}
}
@-ms-keyframes lightSpeedIn {
	0% {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
	100% {
		-webkit-transform: none;
		transform: none;
	}
}
@keyframes lightSpeedIn {
	0% {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		opacity: 0
	}
	100% {
		-webkit-transform: none;
		transform: none;
	}
}
.lightSpeedIn {
	-webkit-animation-name: lightSpeedIn;
	animation-name: lightSpeedIn;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out
}
.lightSpeedIntwo {
	-webkit-animation-name: lightSpeedIntwo;
	animation-name: lightSpeedIntwo;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out
}
@-webkit-keyframes lightSpeedIntwo {
	0% {
		-webkit-transform: translate3d(-100%, 0, 0) skewX(-30deg);
		transform: translate3d(-100%, 0, 0) skewX(-30deg);
	}
	60% {
		-webkit-transform: skewX(20deg);
		transform: skewX(20deg);
	}
	80% {
		-webkit-transform: skewX(-5deg);
		transform: skewX(-5deg);
	}
	100% {
		-webkit-transform: none;
		transform: none;
	}
}
@-moz-keyframes lightSpeedIntwo {
	0% {
		-webkit-transform: translate3d(-100%, 0, 0) skewX(-30deg);
		transform: translate3d(-100%, 0, 0) skewX(-30deg);
	}
	60% {
		-webkit-transform: skewX(20deg);
		transform: skewX(20deg);
	}
	80% {
		-webkit-transform: skewX(-5deg);
		transform: skewX(-5deg);
	}
	100% {
		-webkit-transform: none;
		transform: none;
	}
}
@-ms-keyframes lightSpeedIntwo {
	0% {
		-webkit-transform: translate3d(-100%, 0, 0) skewX(-30deg);
		transform: translate3d(-100%, 0, 0) skewX(-30deg);
	}
	60% {
		-webkit-transform: skewX(20deg);
		transform: skewX(20deg);
	}
	80% {
		-webkit-transform: skewX(-5deg);
		transform: skewX(-5deg);
	}
	100% {
		-webkit-transform: none;
		transform: none;
	}
}
@-o-keyframes lightSpeedIntwo {
	0% {
		-webkit-transform: translate3d(-100%, 0, 0) skewX(-30deg);
		transform: translate3d(-100%, 0, 0) skewX(-30deg);
	}
	60% {
		-webkit-transform: skewX(20deg);
		transform: skewX(20deg);
	}
	80% {
		-webkit-transform: skewX(-5deg);
		transform: skewX(-5deg);
	}
	100% {
		-webkit-transform: none;
		transform: none;
	}
}
@keyframes lightSpeedIntwo {
	0% {
		-webkit-transform: translate3d(-100%, 0, 0) skewX(-30deg);
		transform: translate3d(-100%, 0, 0) skewX(-30deg);
	}
	60% {
		-webkit-transform: skewX(20deg);
		transform: skewX(20deg);
	}
	80% {
		-webkit-transform: skewX(-5deg);
		transform: skewX(-5deg);
	}
	100% {
		-webkit-transform: none;
		transform: none;
	}
}
.gift_down{position: absolute;top: 42%;z-index: 30;width: 98%;padding-left: 2%;}
.gift_box{width: 40%;float: left;margin-top: 5px;margin-right: 5px;}
.gift_btn{display: block;width: 50%;margin-bottom: 5px;}
.gift_btn img{display: block;width: 4em;position: relative;left: 38px;}
.tel_text{ background: url(../images/text_bg.png) no-repeat;background-size: 100% ;}
.tel_text input{background: none;padding: 5px 10px 5px 5px;border: 0;width: 66%;float: left;font-size: 0.8em;}
.tel_text .go{width: 20%;float: right;display: block;padding: 12px 0;}
.down_l{float: left;width:25%; height: 171px; padding: 1%;background: url(../images/p_dl_bg.png) no-repeat;background-size:100% ;}
.down_l img{width:92%;display: block;margin: 0 auto;}
.images_box{position:relative;background:#fff;width:100%;z-index: 30;}
.roll_ul{ position:relative; overflow:hidden; margin:0 auto;}
.roll_ul .hd{width:100%;position:absolute;left:0;bottom:10px;text-align:right;z-index:1}
.roll_ul .hd li{display:inline-block;width:15px;height:15px;border-radius:50%;background:url(../images/btn_circle.png) no-repeat; background-size:100%; margin:0 3px; line-height: 0px;font-size:0; }
.roll_ul .hd li.on{background:url(../images/btn_circle_h.png) no-repeat;background-size: 100%;}
.roll_ul .bd{ position:relative; z-index:0;}
.roll_ul .bd li{ position:relative; text-align:center;}
.roll_ul .bd li img{width: 100%;vertical-align:top;}
.roll_ul .bd li a{ -webkit-tap-highlight-color:rgba(0,0,0,0);}
.advice{width: 90%;margin: 0 auto;padding-top: 20px;}
.advice ul{ width: 100%;margin: 0 auto 15px;}
.advice ul li{ height: 30px;line-height: 30px;}
.advice ul li a{float: left;width: 61%; text-overflow: ellipsis;white-space: nowrap;overflow: hidden;color: #fff;font-size: 1em;background: url(../images/libg.png) no-repeat left center; padding-left: 15px;}
.advice ul li span{float: right;color: #fff;font-size: 1em;}
.n_titles{border-bottom:2px solid #fff;margin-bottom: 10px;padding-bottom: 10px;}
.n_titles h3{float: left;color: #fff; font-weight: normal;background: url(../images/title_ico.png) no-repeat;padding-left: 35px;}
.n_more{float:right; color: #fff;font-size: 1.2em;background: url(../images/more.png) no-repeat right center;padding-right: 15px;}
.bottom{ width: 100%; padding:10px 0;background: #533731;}
.bottom p{ text-align: center; font-size: 0.6em; line-height: 2em; color: #fff;}
/*列别页*/
.list_box ul{ width: 93%;margin: 0 auto 15px;}
.list_box ul li{ height: 36px;line-height: 36px;border-bottom: 1px dashed #ea5f5c;padding:8px 0 5px;}
.list_box ul li a{color: #ea5f5c;font-size: 1em;float:left}
.list_box ul li a.list_m{width: 40%; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.list_box ul li span{float: right;color: #ea5f5c;font-size:1em;}
.list_title{color: #fff;font-size: 1.2em;background: #ea5f5c;padding: 10px 0 10px 20px;}
.list_title a{color: #fff;}
.l_more{color: #fff; font-size: 1em; width: 175px; height: 44px;line-height: 44px; margin: 0 auto;background: #ea5f5c;display: block;text-align: center;}
/*文章页*/
.artical .act_title{width: 92%;margin: 0 auto 10px; color: #e25c59;text-align: center;border-bottom: 1px solid #e25c59;padding-bottom: 20px;}
.back{margin-top: 10px;}
.act_title h2{ font-size: 1.5em;margin-bottom: 20px;line-height:1.3em}
.act_title p{ text-align: center; font-size: 1em;}
.act_detail{color: #e25c59;font-size: 1.1em;width: 92%;margin: 0 auto;}
.act_detail span{display: block;margin-bottom: 20px;}
.act_detail p{line-height: 30px;text-indent: 2em;}
.act_detail img{margin: 15px auto;display: block;width: 100%;}
.share{float: right; color: #e85e5c;margin-right: 10px;margin: 30px 0;}
.s_title{display:black;float:left;position:relative;top:5px;}
.jiathis_style_32x32{float:left;}