{include '../../layouts/wap/header.html'}
<!--内容-->
<div class="bg01">
    <div class="content">
        <p class="slogen"><img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/slogen.png?{$smarty.const.VERSION}" alt=""/></p>
        <p class="btn">
            <button class="showtips slideInLeft animated order_btn"></button>
            <a href="" class="slideInRight animated load_btn js_wap_down"></a>
        </p>
    </div>
</div>
<div class="tips hidden">
    <div class="content">
        <img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/close.png?{$smarty.const.VERSION}" alt="" class="close"/>
        <div>
            <img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/content_bg.png?{$smarty.const.VERSION}" alt=""/>
            <input type="number" onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" placeholder="请输入手机号码" class="tel"/>
            <input type="number" onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" placeholder="请输入验证码" class="code"/>
            <div class="getcode"></div>
            <div class="orderbtn"></div>
        </div>
    </div>

</div>
</body>
{include '../../layouts/wap/foot.html'}
</html>