{include '../../layouts/wap/header.html'}
		<div class="cont1 fade">
		{fragment var=video code=video size=1}
		<a href="{if $video}javascript:;{else}javascript:yx_showTips('敬请期待');{/if}" class="play {if $video}js_video_play{else}{/if}" data-url="{if $video}{$video[0].url}{/if}">
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/play.png?{$smarty.const.VERSION}">
		</a>
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/logo.png?{$smarty.const.VERSION}" alt="" class="logo">
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/slogan.png?{$smarty.const.VERSION}" alt="" class="sologan">
			<a class="lj_yyue lj_yyue1" href="http://downurl.zhengyuetech.com/url/super_pcgw.html"></a>
			<a class="lj_yyue lj_yyue2" href="http://downurl.zhengyuetech.com/url/super_pcgw.html"></a>
		</div>
		<div class="cont2 fade">
		    <div class="banner_box">
			<div class="swiper1">
			{fragment var=index_banner code=banner size=5}
				<div class="swiper-wrapper">
				    {if $index_banner neq ''}
					{foreach $index_banner as $v}
					<div class="swiper-slide">
						<a href="{if $v.url}{$v.url}{else}javascript:;{/if}">
							<img src="{$v.thumb}">
						</a>
					</div>
					{/foreach}
					{/if}
				</div>
			</div>
			<div class="swiper-pagination"></div>
			<div class="news">
				<ul class="news-list">
					<li class="active" data-index="0">综合</li>
					<li data-index="1">新闻</li>
					<li data-index="2">公告</li>
					<li data-index="3">活动</li>
					<li data-index="4">活动</li>
					<a href="{myurl name='wap/article/list, id=>545'}"></a>
				</ul>
				<ul class="news-info">
					<li class="info active">
					    {article id="545" size=4 var=zh}
						{if $zh neq ''}
						<ul class="news-info-list">
						    {foreach $zh as $key=>$v}
							{if $key >= 0}
							<li><a href="{$v.wapLinkUrl}"><i>[{$v.name}]</i><span>{$v.title}</span><span>{$v.created_at|date_format:"%Y-%m-%d"}</span></a></li>
							{/if}
							{/foreach}
						</ul>
						{else}
						<p class="noData">暂无数据...</p>
						{/if}
					</li>
					<li class="info">
					    {article id="546" size=4 var=xw}
						{if $xw neq ''}
						<ul class="news-info-list">
						    {foreach $xw as $key=>$v}
							{if $key >= 0}
							<li><a href="{$v.wapLinkUrl}"><i>[{$v.name}]</i><span>{$v.title}</span><span>{$v.created_at|date_format:"%Y-%m-%d"}</span></a></li>
							{/if}
							{/foreach}
						</ul>
						{else}
						<p class="noData">暂无数据...</p>
						{/if}
					</li>
					<li class="info">
					    {article id="547" size=4 var=gg}
						{if $gg neq ''}
						<ul class="news-info-list">
						    {foreach $gg as $key=>$v}
							{if $key >= 0}
							<li><a href="{$v.wapLinkUrl}"><i>[{$v.name}]</i><span>{$v.title}</span><span>{$v.created_at|date_format:"%Y-%m-%d"}</span></a></li>
							{/if}
							{/foreach}
						</ul>
						{else}
						<p class="noData">暂无数据...</p>
						{/if}
					</li>
					<li class="info">
					    {article id="548" size=4 var=hd}
						{if $hd neq ''}
						<ul class="news-info-list">
						    {foreach $hd as $key=>$v}
							{if $key >= 0}
							<li><a href="{$v.wapLinkUrl}"><i>[{$v.name}]</i><span>{$v.title}</span><span>{$v.created_at|date_format:"%Y-%m-%d"}</span></a></li>
							{/if}
							{/foreach}
						</ul>
						{else}
						<p class="noData">暂无数据...</p>
						{/if}
					</li>
					<li class="info">
					    {article id="556" size=4 var=gl}
						{if $gl neq ''}
						<ul class="news-info-list">
						    {foreach $gl as $key=>$v}
							{if $key >= 0}
							<li><a href="{$v.wapLinkUrl}"><i>[{$v.name}]</i><span>{$v.title}</span><span>{$v.created_at|date_format:"%Y-%m-%d"}</span></a></li>
							{/if}
							{/foreach}
						</ul>
						{else}
						<p class="noData">暂无数据...</p>
						{/if}
					</li>
				</ul>
			</div>
			</div>
		    <img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/peo.png?{$smarty.const.VERSION}" alt="" class="actor">
		</div>
		<div class="cont3 fade">
		    <div class="title"></div>
		    <div class="bottom_con">
				<div class="bottom_banner">
				    {fragment var=ts_img code=banner_ts size=5}
					<ul class="swiper-wrapper">
					    {if $ts_img neq ''}
					    {foreach $ts_img as $v}
						<li class="swiper-slide">
							<a href="{if $v.url}{$v.url}{else}javascript:;{/if}">
								<img src="{$v.thumb}">
						    </a>
						</li>
					{/foreach}
					{/if}
					</ul>
				</div>
				<div class="swiper-pagination1"></div>
			</div>
		</div>
        <div class="cont4 fade">
			<div class="share_box">
				<ul>
					<li>
						<a href="javascript:yx_showTips('敬请期待');" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/qq.png?{$smarty.const.VERSION}" alt="" target="_blank">
							<p>官方Q群1</p>
						</a>
					</li>
					<li>
						<a href="{if $global.tb_url}{$global.tb_url}{else}javascript:yx_showTips('敬请期待');{/if}" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/tb.png?{$smarty.const.VERSION}" alt="" >
							<p>百度贴吧</p>
						</a>
					</li>
				</ul>
				<div class="weixin_box">
					<img src="{$global.wx_img}" alt="">
				</div>
				<ul>
					<li>
						<a href="{if $global.wb_url}{$global.wb_url}{else}javascript:yx_showTips('敬请期待');{/if}"><img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/wb.png?{$smarty.const.VERSION}" alt="">
							<p>官方微博</p>
						</a>
					</li>
					<li>
						<a href="javascript:yx_showTips('敬请期待');" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/lt.png?{$smarty.const.VERSION}" alt="">
							<p>游戏论坛</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
{include '../../layouts/wap/footer.html'}