{include file='../layouts/pc/dt_head.html'}
<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}3.0/dati/css/answer_finally.css">
{download}
</head>
<body>
{include file='../layouts/pc/dt_public_file.html'}
<div class="page-container">
    <div class="page-btn-content">
        <div class="down-game">
            <img src="{$smarty.const.STATIC_DOMAIN}3.0/dati/images/xiazai.png">
            <div class="down-ewm-box">
                <img src="{$smarty.const.STATIC_DOMAIN}3.0/dati/images/down_ewm.png">
                <a class="down-ios js_down_andriod stat_android" href="javascript:"></a>
                <a class="down-az js_down_ios stat_ios" href="javascript:"></a>
            </div>
        </div>
        <a class="back-index" href="/"></a>
    </div>
    <div class="page-icon-box">
        <img class="page-book" src="{$smarty.const.STATIC_DOMAIN}3.0/dati/images/book.png">
        <img class="page-mofa" src="{$smarty.const.STATIC_DOMAIN}3.0/dati/images/mofa.png">
    </div>
    <div class="page-item">
        <div class="an-content an-content-show">
            <img class="" src="{$smarty.const.STATIC_DOMAIN}3.0/dati/images/f_title1.png">
            <h1>你是第<span>{$rank}</span>名通过考试的魔法学员！</h1>
            <p>官方将定期在通过考试的玩家中，抽取部分玩家送出激活码，
                请您耐心等待，感谢您的参与
            </p>
            <!-- <div class="jiathis_style_24x24">
                <span>分享到：</span>
                <a class="jiathis_button_weixin"></a>
                <a class="jiathis_button_qzone"></a>
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_cqq"></a>
            </div> -->
            <div class="bshare-custom">
                <span>分享到：</span>
                <a title="分享到微信" class="bshare-weixin"></a>
                <a title="分享到微信" class="bshare-qzone"></a>
                <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
                <a title="分享到qq" class="bshare-qqim"></a>
            </div>
        </div>
        <img class="item-pig" src="{$smarty.const.STATIC_DOMAIN}3.0/dati/images/pig_icon.png">
    </div>
    <div class="an-err-btn">
        <a class="an-look-kd" href="javascript:"></a>
        <a class="an-change-ct" href="javascript:"></a>
    </div>
</div>
</body>
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}3.0/dati/js/public.js"></script>
<!-- <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script> -->
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}3.0/dati/css/jia_share.css">
<script type="text/javascript" src="http://cdnstatic.yingxiong.com/footer/js/footer_new.js"></script>
</html>