{include file='../layouts/pc/dt_head.html'}
<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}3.0/dati/css/index.css">
{download}
</head>
<body>
    {include file='../layouts/pc/dt_public_file.html'}
    <div class="page-container">
        <div class="page-btn-content">
            <div class="down-game">
                <img src="{$smarty.const.STATIC_DOMAIN}3.0/dati/images/xiazai.png">
                <div class="down-ewm-box">
                    <img src="{$smarty.const.STATIC_DOMAIN}3.0/dati/images/down_ewm.png">
                    <a class="down-ios js_down_ios stat_ios" href="javascript:"></a>
                    <a class="down-az js_down_andriod stat_android" href="javascript:"></a>
                </div>
            </div>
            <a class="back-index" href="/"></a>
        </div>
        <div class="page-icon-box">
            <img class="page-book" src="{$smarty.const.STATIC_DOMAIN}3.0/dati/images/book.png">
            <img class="page-mofa" src="{$smarty.const.STATIC_DOMAIN}3.0/dati/images/mofa.png">
        </div>
        <div class="page-item">
            <div class="item-top">
                <h1>
                    <label></label>
                    考卷说明
                </h1>
            <!-- <div class="jiathis_style_24x24">
                <span>分享到：</span>
                <a class="jiathis_button_weixin"></a>
                <a class="jiathis_button_qzone"></a>
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_cqq"></a>
            </div> -->
            <div class="bshare-custom">
                <span>分享到：</span>
                <a title="分享到微信" class="bshare-weixin"></a>
                <a title="分享到微信" class="bshare-qzone"></a>
                <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
                <a title="分享到qq" class="bshare-qqim"></a>
            </div>
        </div>
        <ul class="item-list">
            <li>
                <label>
                    <img src="{$smarty.const.STATIC_DOMAIN}3.0/dati/images/1.png">
                </label>
                <p>
                    通过考试后，将有机会优先获得激活码，请大家留下您的手机号码，以便于接收到录取通知书——游戏激活码
                </p>
            </li>
            <li class="jianTou">
                <img src="{$smarty.const.STATIC_DOMAIN}3.0/dati/images/jiantou1.png">
            </li>
            <li>
                <label>
                    <img src="{$smarty.const.STATIC_DOMAIN}3.0/dati/images/2.png">
                </label>
                <p>
                    本份考试内容为娱乐向问题，将在欢乐的答题过程中，向您初步介绍贝雅大陆，请不用担心试卷难度
                </p>
            </li>
            <li class="jianTou">
                <img src="{$smarty.const.STATIC_DOMAIN}3.0/dati/images/jiantou1.png">
            </li>
            <li>
                <label>
                    <img src="{$smarty.const.STATIC_DOMAIN}3.0/dati/images/3.png">
                </label>
                <p>
                    本份考卷共10道选择题，需要全部答对才能通过考试
                </p>
            </li>
            <li class="jianTou">
                <img src="{$smarty.const.STATIC_DOMAIN}3.0/dati/images/jiantou1.png">
            </li>
            <li>
                <label>
                    <img src="{$smarty.const.STATIC_DOMAIN}3.0/dati/images/4.png">
                </label>
                <p>
                    答题结束后，如有错误选项可选择【修改错题】，系统将自动跳转到错题页面，可以重新进行选择
                </p>
            </li>
        </ul>
        <img class="item-person" src="{$smarty.const.STATIC_DOMAIN}3.0/dati/images/person.png">
    </div>
    <a class="dt-btn" href="javascript:"></a>
</div>
<!--这是弹窗-->
<div class="page-tc">
    <div class="tc-container p-all-center">
        <label></label>
        <h1>登录</h1>
        <p>手机号码用于接收奖励，仅可提交一次，且提交后无法修改，请正确填写！</p>
        <span class="tc-error">请输入手机号码</span>
        <input id="tc-phone" class="tc-phone" type="text" placeholder="输入手机号码">
        <span class="tc-error">请输入验证码</span>
        <div class="tc-mark-box">
            <input id="tc-mark" class="tc-mark" type="text" placeholder="输入验证码">
            <a id="tc-get-mark" href="javascript:" url='{myurl name="special/ajax-verify"}'>发送验证码</a>
        </div>
        <a id="tc-login-btn" class="tc-login-btn" url='{myurl name="special/ajax-dati-login"}' quUrl='{myurl name="special/dati-page"}' shUrl='{myurl name="special/dati-share"}' href="javascript:"></a>
    </div>
</div>
</body>
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}3.0/dati/js/public.js"></script>
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}3.0/dati/js/index.js"></script>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
<link rel="stylesheet" type="text/css" href="{$smarty.const.STATIC_DOMAIN}3.0/dati/css/jia_share.css">
<script type="text/javascript" src="http://cdnstatic.yingxiong.com/footer/js/footer_new.js"></script>
</html>