.wj_main{
	width:18.53125rem;
	overflow: hidden;
	position:relative;
	margin:0 auto;
	margin-top:4.375rem;
	height:42.5rem;
}
.wj_main.active{
	height:52.5rem;
}
.wj_big{
	width:100%;
	height:38rem;
	position:relative;
	background:url(../images/j_bg.jpg) no-repeat center;
	background-size:100% 100%;
}
.wj_big.active{
	height:48.7rem;
}
.wj_content{
	width:100%;
	height:100%;
	position:relative;
}
.wj_content .swiper-wrapper{
	width:100%;
	height:100%;
	position:relative;
}
.xn_pic{
	display: none;
}
.wj_content .canvas_box{
	width:4.0625rem;
	height:4.0625rem;
	position:absolute;
	top:2.78125rem;
	left:2rem;
	z-index:10;
}
.wj_content .canvas_img{
    position: absolute;
    left: 3.8rem;
    top: 5.28125rem;
    width: 0.5rem;
}
.wj_content .canvas_box #myCanvas{
	display: block;
	width:100%;
	height:100%;
}
.wj_content .canvas_box span{
	display: block;
	min-width:1.25rem;
	font-size:0.625rem;
	color:#ccc;
	position:absolute;
}
.canvas_box>span:nth-of-type(1) {
    position: absolute;
    top: -0.8125rem;
    left: 50%;
    margin-left: -0.625rem;
}
.canvas_box>span:nth-of-type(2) {
    position: absolute;
    top: 1.625rem;
    left:-1.3rem;
}
.canvas_box>span:nth-of-type(3) {
    position: absolute;
    bottom: -0.8125rem;
    left: 50%;
    margin-left: -0.625rem;
}
.canvas_box>span:nth-of-type(4) {
    position: absolute;
    top: 1.625rem;
    right:-1.3rem;
}
.wj_content .swiper-slide{
	width:100%;
	height:100%;
	position:relative;
	overflow: hidden;
}
.wj_content .swiper-slide .jx_sel{
	width:1.53125rem;
	position: absolute;
	left:0;
	top:6rem;
}
.wj_content .swiper-slide .jx_sel a{
    width:1.53125rem;
	height:4.6875rem;
	display: block;
	background:url(../images/no_jx.png) no-repeat;
	background-size:100% 100%;
	position: absolute;
	top:0;
	z-index:3;
}
.wj_content .swiper-slide .jx_sel a.active{
	background:url(../images/jx.png) no-repeat;
	background-size:100% 100%;
	z-index: 9;
}
.wj_content .swiper-slide .jx_sel a span{
	width: 98%;
    display: inline-block;
    color: #fff;
    font-size: 0.76rem;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    margin-top: -0.9rem;
}
.wj_content .swiper-slide .jx_sel a.active span{
	color: #000;
}
.wj_content .swiper-slide .jx_sel a.no_jx{
	top:4rem;
}
.wj_content .swiper-slide .jx_sel a.no_jx span{
	 margin-top: -1.5rem;
}
.wj_content .wj_per{
    display: block;
    width: 85%;
    padding-top: .5rem;
    margin-left: 4rem;
}
.wj_content .wj_per1{
   display: none;
}
/*觉醒*/
.wj_content .wj_per2{
   display: block;
}
.wj_content .wj_des{
	width:17.71875rem;
	height:13.5625rem;
	background:url(../images/wj.png) no-repeat center;
	background-size:100% 100%;
	position:absolute;
	left:50%;
	margin-left:-8.859375rem;
	top:15.1375rem;
	
}
.wj_content .wj_des p{
	width:15.9375rem;
	font-size:0.75rem;
	color:#bbb;
	line-height:1.3125rem;
	margin:0 auto;
}
.wj_content .wj_des p img{
	display: block;
    /*max-width: 4.6875rem;*/
    height: 1.46875rem;
    padding-top: 0.65625rem;
    margin-bottom: 0.5rem;
}
.wj_content .wj_des p img.cont_img1{
    display: none;
}
.wj_content .wj_des p img.cont_img2{
	display: block;
}
.wj_jn,.wj_jn2,.wj_jn3{
	width:16.5625rem;
	height:2.75rem;
	position:absolute;
	left:1.125rem;
	bottom:-4rem;
}
.wj_jn3{
	bottom:-13.8rem;
	display: none;
}
.wj_jn2{
	bottom: -9rem;
	display: none;
}
.wj_jn .wj_jn_ul,.wj_jn2 .wj_jn_ul,.wj_jn3 .wj_jn_ul{
	width:100%;
	height:100%;
	position:relative;
	display: flex;
	display: -webkit-flex;
	justify-content: space-around;
}
.wj_jn .wj_jn_ul li,.wj_jn2 .wj_jn_ul li,.wj_jn3 .wj_jn_ul li{
	width:2.28125rem;
	height:100%;
	position:relative;
}
.wj_jn .wj_jn_ul li .b_nav,.wj_jn2 .wj_jn_ul li .b_nav,.wj_jn3 .wj_jn_ul li .b_nav{
	display: none;
	width:0.4375rem;
	height:0.21875rem;
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-0.21875rem;
}
.wj_jn2 .wj_jn_ul li .b_nav{
	bottom:3rem;
}
.jx_box{
	width:15.125rem;
	height:0.78125rem;
	position: absolute;
	top:37.8rem;
	left:50%;
	margin-left:-7.0625rem;
	display: none;
}
.jx_box img{
	width:100%;
}
.wj_jn .wj_jn_ul li.active .b_nav,.wj_jn2 .wj_jn_ul li.active .b_nav,.wj_jn3 .wj_jn_ul li.active .b_nav{
	display: block;   
}

.wj_jn .wj_jn_ul li .b_img,.wj_jn2 .wj_jn_ul li .b_img,.wj_jn3 .wj_jn_ul li .b_img{
	display: block;
	width:2.28125rem;
	height:2.28125rem;
}
.wj_txt_ul,.wj_txt_ul2,.wj_txt_ul3{
	width:100%;
	position:absolute;
	overflow: hidden;
	top:33rem;
}
.wj_txt_ul3{
	top: 43rem;
}
.wj_txt_ul2{
	    top: 29.5rem;
}
.wj_txt_ul2,.wj_txt_ul3{
	display: none;
}
.wj_txt_ul li,.wj_txt_ul2 li,.wj_txt_ul3 li{
	width:100%;
	overflow: hidden;
	position:relative;
	display: none;
}
.wj_txt_ul li.active,.wj_txt_ul2 li.active,.wj_txt_ul3 li.active{
	display: block;
}
.wj_txt_ul li span,.wj_txt_ul2 li span,.wj_txt_ul3 li span{
	display: block;
	padding-left:1.34375rem;
}
.wj_txt_ul li span:nth-child(1),.wj_txt_ul2 li span:nth-child(1),.wj_txt_ul3 li span:nth-child(1){
	text-align: left;
	font-size:0.9375rem;
	font-weight: bold;
	color:#F5E9BB;
}
.wj_txt_ul li span:nth-child(2),.wj_txt_ul2 li span:nth-child(2),.wj_txt_ul3 li span:nth-child(2){
	text-align: left;
	font-size:0.75rem;
	color:#9c817f;
}
.v_bottom{
	width:16rem;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    margin-top: 0.9375rem;
    margin-bottom:1.3125rem;
}
.v_b_t{
	width:100%;
	height:2.28125rem;
	position:relative;
	overflow: hidden;
}
.v_b_t li{
	width:3.6875rem;
	height:100%;
	float:left;
	overflow: hidden;
}
.v_b_t li.swiper-slide{
	width:3.6875rem;
	height:100%;
}
.v_b_t li img{
	display: block;
	width:100%;
	height:100%;
}
.wj_main .wj_page{
	position:relative;
	width:16rem;
	height:2.28125rem;
	margin:0 auto;
	margin:0.5375rem auto;
}
/*.wj_main .wj_page.active{
	margin-top:0.875rem;
}*/
.wj_main .swiper-pagination {
	width:1000%;
	height:100%;
}
.wj_main .swiper-pagination .swiper-pagination-bullet{
	width:3.46875rem;
	height:2.03125rem;
	float:left;
	margin-right:0.4375rem;
	border-radius: 0;
	filter: Alpha(opacity=30);
    -moz-opacity: .3;
	border: 0.125rem solid transparent;
	background:url(../images/char_w_bg.png) repeat center;
	background-size:100% 100%;
}
.wj_main .swiper-pagination .swiper-pagination-bullet img{
	display: block;
	width:100%;
	height:100%;
}
.wj_main .swiper-pagination .swiper-pagination-bullet-active {
	border:0.125rem solid #af2316;
	background:url(../images/char_bg.png) repeat center;
	background-size:100% 100%;
}

.wj_main .swiper-button-prev{
	width:0.625rem;
	height:1.03125rem;
	background:url(../images/left_w.png) no-repeat center;
	background-size:100% 100%;
	left:0;
	top:2.3rem;
}
.wj_main .swiper-button-next{
	width:0.625rem;
	height:1.03125rem;
	background:url(../images/right_w.png) no-repeat center;
	background-size:100% 100%;
	right:0;
	top:2.3rem;
}