.i_head {
  height: 110px;
}
.i_head .i_h_content {
  height: 110px;
  background: #272727;
}
.n_banner {
  width: 100%;
  max-width: 1920px;
  height: 370px;
  background: url("../images/n_img1_02.jpg") no-repeat;
  background-position: center 0;
}
.n_content {
  width: 1200px;
  margin: 0 auto;
}
.n_content .n_c_title {
  width: 100%;
  height: 42px;
  margin: 30px 0 0 0;
  padding: 0 0 24px 0;
  /*overflow: hidden;*/
  border-bottom: 3px solid #cfcfcf;
}
.n_content .n_c_title > h1 {
  float: left;
  font-size: 32px;
  font-weight: bold;
}
.n_content .n_c_title > p {
  float: right;
  font-size: 14px;
  color: #aeaeae;
  margin: 20px 0 0 0;
}
.n_content .n_c_title > p > a {
  color: #aeaeae;
  transform: color .2s;
}
.n_content .n_c_title > p > a:hover {
  color: #bf1615;
}
.n_content .n_c_title .news_gonglue h1 {
	width:300px;
  float: left;
  font-size: 32px;
  font-weight: bold;
  color:#4c4c4c;
  text-align: center;
  padding-bottom:24px;
  cursor: pointer;
}
.n_content .n_c_title .news_gonglue .news_gonglue01{
	background:url(../images/news_bg01.png) no-repeat;
	background-position: 55px 7px;
	height:66px;
	padding-bottom:0;
}
.n_content .n_c_title .news_gonglue .news_gonglue01_en{
  width: 270px;
  text-align: left;
  text-indent: 105px;
}
.n_content .n_c_title .news_gonglue .news_gonglue01.on{
	background:url(../images/news_bg.png) no-repeat;
	background-position: 55px 7px;
}
.n_content .n_c_title .news_gonglue h1.active{
	color:#af1010;
	border-bottom:3px solid #b52929;
}
.n_content .n_c_title .news_gonglue .news_gonglue02{
	background:url(../images/news_gonggao01.png) no-repeat;
	background-position: 55px 7px;
	height:66px;
	padding-bottom:0;
}
.n_content .n_c_title .news_gonglue .news_gonglue02_en{
  width: 270px;
  text-align: left;
  text-indent: 105px;
}
.n_content .n_c_title .news_gonglue .news_gonglue02.on{
	background:url(../images/news_gonggao.png) no-repeat;
	background-position: 55px 7px;
}
.n_content .n_c_title .news_gonglue.game_gonglue .news_gonglue01{
  background:url(../images/strangy_bg1.png) no-repeat;
  background-position: 30px 9px;
  height:66px;
  padding-bottom:0;
}
.n_content .n_c_title .news_gonglue.game_gonglue .news_gonglue01.on{
  background:url(../images/strangy_bg2.png) no-repeat;
  background-position: 30px 9px;
}
.n_content .n_c_title .news_gonglue.game_gonglue .news_gonglue01_en{
  width: 400px;
  text-align: left;
  text-indent: 90px;
}
.n_content .n_c_title .news_gonglue.game_gonglue .news_gonglue02{
  background:url(../images/strangy_bg3.png) no-repeat;
  background-position: 35px 3px;
  height:66px;
  padding-bottom:0;
}
.n_content .n_c_title .news_gonglue.game_gonglue .news_gonglue02_en{
  text-align: left;
  text-indent: 90px;
  width: 275px;
}
.n_content .n_c_title .news_gonglue.game_gonglue .news_gonglue02.on{
  background:url(../images/strangy_bg4.png) no-repeat;
  background-position: 35px 3px;
}
.n_content .n_c_title .news_gonglue.game_gonglue .news_gonglue03{
  background:url(../images/strangy_bg5.png) no-repeat;
  background-position: 35px 8px;
  height:66px;
  padding-bottom:0;
}
.n_content .n_c_title .news_gonglue.game_gonglue .news_gonglue03_en{
  text-align: left;
  text-indent: 90px;
  width: 315px;
}
.n_content .n_c_title .news_gonglue.game_gonglue .news_gonglue03.on{
  background:url(../images/strangy_bg6.png) no-repeat;
  background-position: 35px 8px;
}
.n_content .n_c_list {
  width: 100%;
  height: auto;
}
.n_content .n_c_list li {
  width: 100%;
  height: 200px;
  border-bottom: 1px dashed #aeaeae;
  padding: 20px 0;
  overflow: hidden;
  box-sizing: border-box;
}
.n_content .n_c_list li a img {
  width: 287px;
  height: 160px;
  float: left;
}
.n_content .n_c_list li a div {
  width: 790px;
  height: 100%;
  margin: 0 0 0 55px;
  float: left;
  position: relative;
}
.n_content .n_c_list li a div h1 {
  width: 680px;
  height: 22px;
  font-weight: bold;
  font-size: 20px;
  color: #261E1E;
  line-height: 22px;
  margin: 0 0 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.n_content .n_c_list li a div p {
  width: 680px;
  height: 124px;
  font-size: 18px;
  color: #464646;
  line-height: 32px;
  overflow: hidden;
}
.n_content .n_c_list li a div span {
  font-size: 18px;
  color: #AEAEAE;
  position: absolute;
  top: 0;
  right: -67px;
  display: inline-block;
}
.n_content .n_c_list .page li{
	width: auto;
  height: auto;
  margin: 0 10px 0 0;
  display: inline-block;
  border-bottom: none;
  padding: 0 0;
  overflow: hidden;
  box-sizing: border-box;
}
.n_content .n_c_list .page li.last > a{
	display: inline-block;
    border: none;
    display: inline-block;
    padding-bottom:5px;
}
.n_content .n_c_list .page li.first > a{
	display: inline-block;
  border: none;
}
.disabled{
	pointer-events: none;
}
.n_content .n_c_list .page li > span {
    color: #949494;
    font-size: 14px;
    transition: all .2s;
    display: inline-block;
    padding-bottom: 5px;
}
.n_content .n_c_list .page li > a {
    display: block;
    padding: 6px 8px;
    border: 1px solid #949494;
    box-sizing: border-box;
    border-radius: 2px;
    color: #949494;
    font-size: 14px;
    transition: all .2s;
}
.n_content .n_c_list .page li.active > a {
    border: 1px solid #ef515c;
    background: #ef515c;
    color: #fff;
}
.theList {
  width: 1200px;
  height: auto;
  margin: 0 auto;
}
.theList li {
  width: 100%;
  height: 100px;
  border-bottom: 1px dashed #aaaaaa;
  line-height: 100px;
}
.theList li a {
  color: #261e1e;
  transition: all .2s;
  -webkit-transition: all .2s;
}
.theList li a:hover {
  color: #ae3434;
}
.page {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 80px;
  text-align: center;
  overflow: hidden;
}
.page li {
  width: auto;
  height: auto;
  margin: 0 10px 0 0;
  display: inline-block;
}
.page li > a {
  display: block;
  padding: 6px 8px;
  border: 1px solid #949494;
  box-sizing: border-box;
  border-radius: 2px;
  color: #949494;
  font-size: 14px;
  transition: all .2s;
}
.page li > span {
  color: #949494;
  font-size: 14px;
  transition: all .2s;
}
.page li > a:hover {
  cursor: pointer;
  border: 1px solid #ef515c;
  background: #ef515c;
  color: #fff;
}
.page li > span:hover {
  cursor: pointer;
  color: #ef515c;
}
.page li.prev > span {
  display: block;
  padding: 6px 8px;
  border: 1px solid #949494;
  box-sizing: border-box;
  border-radius: 2px;
  color: #949494;
  font-size: 14px;
  transition: all .2s;
}
.page li.next > span {
  display: block;
  padding: 6px 8px;
  border: 1px solid #949494;
  box-sizing: border-box;
  border-radius: 2px;
  color: #949494;
  font-size: 14px;
  transition: all .2s;
}
.page li.last > a {
  display: inline-block;
  padding: 0;
  border: none;
}
.page li.last > a:hover {
  background: #fff;
  color: #ef515c;
}
.page li.active > a {
  border: 1px solid #ef515c;
  background: #ef515c;
  color: #fff;
}
