<!doctype html>
<html>
    <head>
        <title>{seo name='title'}</title>
        <meta charset="utf-8" />
         <meta name="keywords" content="{seo name='keywords'}">
        <meta name="description" content="{seo name='description'}">
        <link href="{$smarty.const.STATIC_DOMAIN}1.0/css/reset.css" rel="stylesheet" />
        <link href="{$smarty.const.STATIC_DOMAIN}1.0/css/index.css" rel="stylesheet" />
        <script src="{$smarty.const.STATIC_DOMAIN}/1.0/js/jquery-1.11.2.min.js"></script>
        <script data-fixed="true">
        if ((/iphone|android|mobile/i.test(navigator.userAgent.toLowerCase()))) {
            location.href = "/wap/special/full-moon.html";
        }
        </script>
        <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?68ba586af42f0f3ceb0d9422e1e38255";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
        <meta name="baidu-site-verification" content="H66qSQdMzC" />
    </head>
    <body>
    <script type="text/javascript" src="http://cdnstatic.yingxiong.com/head/js/topbar.js"></script>
        <div class="f-bg">
            <div class="null"></div>
            <div class="full-center">
                <p><img src="{$smarty.const.STATIC_DOMAIN}/1.0/images/tit1.png" /></p>
                <div class="play-box clearfix">
                    <div class="play-right">
                        <ul class="play-ul">
                            <li class="on"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li><a href="http://jj.yingxiong.com/info/2017/0905/1103.html"></a></li>
                        </ul>
                    </div>
                    <div class="play-left show"><img src="{$smarty.const.STATIC_DOMAIN}/1.0/images/play-ul01.png"></div>
                    <div class="play-left hide"><img src="{$smarty.const.STATIC_DOMAIN}/1.0/images/play-ul02.png"></div>
                    <div class="play-left hide"><img src="{$smarty.const.STATIC_DOMAIN}/1.0/images/play-ul03.png"></div>
                    <div class="play-left js_video_play hide" data-url="http://video.yingxiong.com/hd/aa0e693cca414b46bd83aff32e6c750b.mp4"><img src="{$smarty.const.STATIC_DOMAIN}/1.0/images/play-ul04.png"><img src="{$smarty.const.STATIC_DOMAIN}/1.0/images/full_play.png" class="full_play"></div>
                </div>
                <div class="full-video-box">
                    <p><img src="{$smarty.const.STATIC_DOMAIN}/1.0/images/tit2.png" /></p>
                    <div class="full-video">
                        <div class="js_video_play" data-url="http://video.yingxiong.com/hd/ca3aa616b30c4253b10856285fcbf5e3.mp4">
                            <img src="{$smarty.const.STATIC_DOMAIN}/1.0/images/full_video.png"/>
                            <img src="{$smarty.const.STATIC_DOMAIN}/1.0/images/full_play.png" class="full_play"/>
                        </div>
                        <div class="man"><img src="{$smarty.const.STATIC_DOMAIN}/1.0/images/man.png"></div>
                    </div>
                </div>
                <div class="heaven-box">
                    <p><img src="{$smarty.const.STATIC_DOMAIN}/1.0/images/tit3.png" /></p>
                    <div class="heav-left">
                        <div class="m1">
                            <img src="{$smarty.const.STATIC_DOMAIN}/1.0/images/fl1.png" />
                            <p>9月8日-9月14日</p>
                        </div>
                        <div class="p m2">
                            <img src="{$smarty.const.STATIC_DOMAIN}/1.0/images/fl3.png" />
                            <p>9月8日-9月14日</p>
                        </div>
                    </div>
                    <div class="heav-right">
                        <div class="fl2 m3">
                            <img src="{$smarty.const.STATIC_DOMAIN}/1.0/images/fl2.png" />
                            <p>9月8日-9月11日</p>
                        </div>
                        <div class="p m4">
                            <img src="{$smarty.const.STATIC_DOMAIN}/1.0/images/fl4.png" />
                            <p>9月8日-9月14日</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box_mask">
            <div class="box_bg">
                 <img src="{$smarty.const.STATIC_DOMAIN}/1.0/images/cl.png" class="cl" />
                <div class="box1">
                    <div class="tit-p">
                        <span>活动期间</span>
                        <p>9月8日-9月14日</p>
                    </div>
                    <p><img src="{$smarty.const.STATIC_DOMAIN}/1.0/images/lable1.png"></p>
                    <div class="duan">通关指定活动副本将获得 <span>“九剑”“满月”“庆典”</span> 等文字，集齐<span>“九剑满月庆典”</span>可获得满月礼物箱！</div>
                    <img src="{$smarty.const.STATIC_DOMAIN}/1.0/images/neirong.png" class="neirong" />
                </div>
                <div class="box2">
                    <div class="tit-p">
                        <span>活动期间</span>
                        <p>9月8日-9月14日</p>
                    </div>
                    <p><img src="{$smarty.const.STATIC_DOMAIN}/1.0/images/lable3.png"></p>
                    <div class="duan">活动期间内累计活跃值可领大礼。</div>
                    <img src="{$smarty.const.STATIC_DOMAIN}/1.0/images/zhi.png" class="neirong" />
                    <div class="duan">配合累计活跃值活动面板（超级福利内），面板统计玩家活动期间内累计活跃度，满足条件后在活动面板领取奖励<br/>注：<span>【踏入仙旅】</span>属性：<span>增加战力640，生命值+800，攻击+80</span></div>
                </div>
                <div class="box3">
                    <div class="tit-p">
                        <span>活动期间</span>
                        <p>9月8日-9月11日</p>
                    </div>
                    <p><img src="{$smarty.const.STATIC_DOMAIN}/1.0/images/lable2.png"></p>
                    <div class="duan">8日-11日每天19-21点世界聊天频道发送<span>“祝九剑满月快乐”</span>就可获得助长礼包奖励，可在邮件中查收。</div>
                    <img src="{$smarty.const.STATIC_DOMAIN}/1.0/images/libao.png" class="neirong" />
                    <div class="duan">注：活动期间每日可参与一次</div>
                </div>
                <div class="box4">
                    <div class="tit-p">
                        <span>活动期间</span>
                        <p>9月8日-9月14日</p>
                    </div>
                    <p><img src="{$smarty.const.STATIC_DOMAIN}/1.0/images/lable4.png"></p>
                    <img src="{$smarty.const.STATIC_DOMAIN}/1.0/images/bao.png" class="neirong" />
                </div>
            </div>
        </div>
        <div class="down_bg">
            <img src="{$smarty.const.STATIC_DOMAIN}/1.0/images/boult_in.png" class="float_btn">
            <img src="{$smarty.const.STATIC_DOMAIN}/1.0/images/ercode.png" class="ercode js_jump_img">
            <a href="#" class="js_down_andriod"><img src="{$smarty.const.STATIC_DOMAIN}/1.0/images/and_1.png"></a>
            <a href="#" class="js_down_ios"><img src="{$smarty.const.STATIC_DOMAIN}/1.0/images/ios_1.png"></a>
            <a href='{myurl name="/site/index"}'><img src="{$smarty.const.STATIC_DOMAIN}/1.0/images/home.png"></a>
        </div>
        <script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}/1.0/js/public.js"></script>
        <script type="text/javascript" src="http://cdnstatic.yingxiong.com/footer/js/footer_new.js"></script>
        {download}
        {video_play}
    </body>
    </html>