#Hero-bar{
    top:0 !important;
    position: absolute !important;
}
.foot_bottom{
    width: 100%;
    height: 140px;
    background: #1B1B1B;
    clear: both;
    position: relative;
}
.i_main{
	position: relative;
	width: 100%;
	min-width: 1200px;
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;
}
.i_main .ani-item{/*æ¸éš1*/
	opacity: 0;
	transition: all 1.2s;
	-webkit-transition: all 1.2s;
	-moz-transition: all 1.2s;
	-o-transition: all 1.2s;
}
.i_main .ani.show-ani .ani-item{/*æ¸éš2*/
	opacity: 1;
	transform: scale(1,1) translateX(0) translateY(-80px)!important;
	-ms-transform: scale(1,1) translateX(0) translateY(-80px)!important;
	-webkit-transform: scale(1,1) translateX(0) translateY(-80px)!important;
	-moz-transform: scale(1,1) translateX(0) translateY(-80px)!important;
	-o-transform: scale(1,1) translateX(0) translateY(-80px)!important;
}
.i_main .ani.show-ani .ani-item.ani-delay
{
	transition-delay: .9s;
	-moz-transition-delay: .9s; /* Firefox 4 */
	-webkit-transition-delay: .9s; /* Safari å’Œ Chrome */
	-o-transition-delay: .9s; /* Opera */
}
.i_main #fullpage .wrap{
	width:100%;
}
.nav{
    width: 100%;
    min-width: 1200px;
    margin: 0 auto;
    height: 57px;
    position: absolute;
    z-index: 160;
    top:49px;
}
.nav .nav_ul{
	float:left;
	margin-left:100px;
}
.nav .nav_ul li{
    min-width: 68px;
    height: 80px;
    border-bottom: 6px solid transparent;
    font-size: 20px;
    float: left;
    text-align: center;
}
.nav .nav_ul>p{
	width: 2px;
    position: relative;
    float: left;
    color: #dbd9d9;
    height: 37px;
    line-height: 37px;
    margin:0 14px;
}
.nav .nav_ul li:last-of-type{
	margin-right:0;
}
.nav .nav_ul li a{
    width: 100%;
    font-size: 21.64px;
    color: #dbd9d9;
    display: block;
    margin-top: 1px;
}
.nav .nav_ul li p{
    width: 100%;
    position: relative;
    color: #d4b75a;
    font-size: 10px;
    top: -3px;
}
.nav .nav_ul li.active a,.nav .nav_ul li:hover a{
	font-weight:600;
	color:#d4b75a;
}
.nav .nav_ul li.active p,.nav .nav_ul li:hover p{
	color: #dbd9d9;
}
.nav .s_ul{
    width: 184px;
    height: 48px;
    right: 56px;
    float: right;
    margin: 4px 0 0 0;
    position: relative;
}
.nav .s_ul li{
	width:32px;
	height:31px;
	margin-right: 20px;
	overflow: hidden;
	float:left;
	cursor: pointer;
	position: relative;
	opacity:1;
}
.nav .s_ul li a{
	display: block;
	width:32px;
	height:31px;
	position: absolute;
	top:0;
}
.nav .s_ul li a{
	display: block;
	width:100%;
	height:100%;
	background:url(../images/share1.png) no-repeat;
	background-size: 100% 100%;
}
.nav .s_ul li:nth-child(2) a{
	background:url(../images/share2.png) no-repeat;
	background-size: 100% 100%;
}
.nav .s_ul li:nth-child(3) a{
	margin-right:0;
	background:url(../images/share3.png) no-repeat;
	background-size: 100% 100%;
}
.nav .s_ul li:hover{
	background:rgba(255,255,255,.2);
	border-radius: 50px;
}
.nav .s_ul .fl_wx{
	position:absolute;
	width:130px;
	height:130px;
	position:absolute;
	left:-40px;
	top:70px;
	display: none;
}
/*top*/
.top {
	width: 100%;
    height: 100%;
	background: url(../images/bg01.jpg) no-repeat center center;
	background-size: 100% 100%;
	overflow: hidden;
	position: relative;

}
.top #video1,.top #video2{
    display: block;
    width: 100%;
    height:100%;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    object-fit: fill;
}
.top #video2{
	/*display: none;*/
}
.liyy_btn{
    width: 290px;
    height: 179px;
    position: absolute;
    right: 7%;
    z-index: 13;
    bottom: 9%;
}
.section6 .liyy_btn{
    position: absolute;
    left: 50%;
    margin-left: -122px;
    top: 79%;
}
.logo_sj{
    width: 294px;
    height: 69px;
    position: absolute;
    top: 105px;
    z-index: 12;
    right: 104px;
}
.liyy_btn a {
    display: block;
    width: 224px;
    height: 82px;
    position: absolute;
    top: 55px;
    z-index: 2;
    left: 30px;
}
.liyy_btn canvas{
	width:100%;
	height:100%;
}
.top .wrap{z-index:12;}
/*军团重铸*/
.i_main .d3_zhch{
	width: 100%;
	height:100%;
	background: url(../images/bg22.jpg) no-repeat center;
	background-size:100% 100%;
	overflow: hidden;
	position: relative;
}
.i_main .d3_zhch .title{
    width: 437px;
    height: 90px;
    margin: 0 auto;
    top: 8%;
    position: absolute;
    left: 50%;
    margin-left: -214.5px;
}
.i_main .d3_zhch .d3_zhch_box{
	position: relative;
	width: 1187px;
	height: 470px;
	background: url(../images/n_news_bg.png);
}
.i_main .d3_zhch .banner{
    position: relative;
    left: 12%;
    top: 12%;
    width: 647px;
    height: 542px;
    float: left;
}
.i_main .d3_zhch .banner h3{
	width:100%;
	text-align: center;
	color: #ffffd6;
	font-size: 35px;
	font-weight: 400;
}
.i_main .d3_zhch .banner i{
	width:408px;
	height:17px;
	display: block;
	position: relative;
	margin:14px auto;
	background: url(../images/tl11.png) no-repeat;
	background-size:100% 100%; 
}
.i_main .d3_zhch .banner ul{
	width:665px;
	position: relative;
	margin:0 auto;
}
.i_main .d3_zhch .banner ul li{
    position: relative;
    float: left;
    margin-right:8px;
}
.i_main .d3_zhch .banner ul li img{
	width:319px;
	height:188px;
	position: relative;
	margin: 0 auto;
}
.i_main .d3_zhch .banner p{
    width: 100%;
    line-height: 34px;
    color: #fff3e6;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.i_main .d3_zhch .liyy_btn{
    bottom:73px;
}
.i_main .down_btn{
    width: 37px;
    height: 37px;
    background: url(../images/down_btn.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 50%;
    margin-left: -18.5px;
    bottom:6%;
    z-index:12;
    animation: start infinite 1s ease-in-out;
    -webkit-animation: start infinite 1s ease-in-out;
}
@-webkit-keyframes start {
	0%,
	30% {
		opacity: 0;
		-webkit-transform: translate(0, -10px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate(0, 8px);
	}
}
@keyframes start {
	0%,
	30% {
		opacity: 0;
		-webkit-transform: translate(0, -10px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate(0, 8px);
	}
}

.i_main .d3_zhch .light{
	position: absolute;
	right: -105px;
	bottom: 0;
	width:764px;
	height:543px;
}
/*黑暗大军*/
.i_main .p3_hadj{
	width: 100%;
	height:100%;
	position: relative;
	z-index:2;
	background: url(../images/bg44.jpg) no-repeat center;
	background-size:100% 100%;
}
.i_main .p3_hadj .gif{
    width: 270px;
    height: 270px;
    position: absolute;
    left: 50%;
    margin-left: -106px;
    top: 50%;
    margin-top: 45px;
}
.i_main .p3_hadj .liyy_btn{
	bottom:5%;
}
.i_main .p3_hadj .p3_hadj_con{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	position: relative;
	background-position-y:-128px;
}
.i_main .p3_hadj .title{
    width: 485px;
    height: 88px;
    margin: 0 auto;
    position: relative;
    top: 9%;
}
.i_main .p3_hadj .p3_info{
    width: 780px;
    position: relative;
    top: 29%;
    margin: 0 auto;
}
.i_main .p3_hadj .p3_info h3{
	width:100%;
	text-align: center;
	color: #3b204d;
	font-size: 35px;
	font-weight: 400;
	text-shadow:2px -1px 21px #fff;
}
.i_main .p3_hadj .p3_info i{
	width:408px;
	height:17px;
	display: block;
	position: relative;
	margin:14px auto;
	background: url(../images/tl3.png) no-repeat;
	background-size:100% 100%; 
	text-shadow:6px -1px 4px #fff;
}
.i_main .p3_hadj .p3_info p{
    width: 100%;
    line-height: 34px;
    color: #000;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 20px;
    text-shadow:6px -1px 4px #fff;
}
/*新势力英雄崛起*/
.i_main .p4_yxjq{
    width: 100%;
    height:100%;
    background: #776243;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.i_main .p4_yxjq .title{
    width: 503px;
    height: 89px;
    margin: 0 auto;
    top: 9%;
    position: absolute;
    z-index: 4;
    left: 50%;
    margin-left: -251.5px;
}
.i_main .p4_yxjq .title img{
	width:100%;
}
.i_main .p4_yxjq .fix_info{
    width: 780px;
    min-height: 183px;
    position: absolute;
    right:10%;
    text-align: left;
    color: #fff;
    top:23%;
    z-index: 4;
}
.i_main .p4_yxjq .fix_info h3{
	width:100%;
	text-align: center;
	color: #fff;
	font-size: 35px;
	font-weight: 400;
}
.i_main .p4_yxjq .fix_info i{
	width:408px;
	height:17px;
	display: block;
	position: relative;
	margin:14px auto;
	background: url(../images/tll5.png) no-repeat;
	background-size:100% 100%; 
}
.i_main .p4_yxjq .fix_info p{
    width: 100%;
    line-height: 34px;
    color: #fff;
    font-size: 14px;
    margin-top: 15px;
    line-height: 27px;
    margin-bottom: 20px;
}
.i_main .p4_yxjq .liyy_btn{
	bottom:1%;
}
.i_main .p4_yxjq .banner_img {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #fff;
}
.i_main .p4_yxjq .banner_img li a{
  	display: block;
  	width:100%;
  	height:100%;
}
.i_main .p4_yxjq .banner_img li a .rule_info{
    width: 780px;
    position: absolute;
    top:42%;
    z-index: 5;
    right: 10%;
}
.i_main .p4_yxjq .banner_img li a .rule_info h3{
   color: #fffebf;
   font-size: 20px;
   line-height: 30px;
   margin-bottom: 9px;
   font-weight: 400;
}
.i_main .p4_yxjq .banner_img li a .rule_info p{
	color: #fff;
	font-size: 14px;
	line-height: 27px;
}
.i_main .p4_yxjq .banner_img li a .rule_info span{
    width: 136px;
    height: 38px;
    line-height: 38px;
    font-size: 23.4px;
    color: #30242d;
    text-align: center;
    position: relative;
    top: 10px;
    background: url(../images/name_bg.png) no-repeat;
    background-size: 100% 100%;
    display: inline-table;
}
.wj_page{
    position: absolute;
    width: 780px;
    height: 200px;
    margin: 0 auto;
    top: 61%;
    right: 11%;
    padding-top: 1rem;
}
.wj_page2{
    position: absolute;
    width: 780px;
    height: 200px;
    margin: 0 auto;
    top: 0;
    right: 0;
    padding-top: 0;
    overflow: hidden;
}
.wj_page .swiper-pagination{
	width:100%;
    margin-left: 0 !important;
    overflow: hidden;
    height: 195px;
    width: 3000px;
    text-align: left;
}
.wj_page .swiper-pagination-bullet{
    width: 153px;
    height:153px;    
    background: url(../images/btn_slider.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    opacity: 1;
    margin:0 20px 39px;
}
.wj_page .swiper-pagination-bullet i{
	width: 100%;
    color: #000;
    position: absolute;
    left: 0;
    bottom: -41px;
    font-size: 20px;
    color: #fffebf;
    text-align: center;
}
.wj_page .swiper-pagination-bullet img{
    width: 118px;
    height: 118px;
    position: absolute;
    top: 17.43px;
    left: 18px;
}
.swiper-button-prev{
    background-image: url(../images/left.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 82px;
    width: 53px;
    z-index: 10;
    left: -37px;
    top: 76px;
}
.swiper-button-next{
    background-image: url(../images/right.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 66px;
    width: 36px;
    z-index: 10;
    right: -37px;
    top:76px;
}
.i_main .p4_yxjq .banner_img .xn_pic{
    display: none;
}
.i_main .p5_jtzb{
    width: 100%;
    height: 100%;
    background: url(../images/bg55.png) no-repeat;
    background-size:100% 100%;
    overflow-x: hidden;
    position: relative;
    background-position-y: 0px;
    z-index: 2;
}
.i_main .p5_jtzb .title{
    width: 292px;
    height: 87px;
    margin: 0 auto;
    top: 10%;
    position: absolute;
    left: 50%;
    margin-left: -146px;
}
.i_main .p5_jtzb .news_box{
    width: 1008px;
    position: relative;
    margin: 0 auto;
    top:8%;
}
.i_main .p5_jtzb .news_box ul{
	position: relative;
	width:100%;
    height:621px;
}
.i_main .p5_jtzb .news_box ul li{
	width:318px;
	height:259px;
	position: relative;
	float: left;
	background: url(../images/new_li1.png) no-repeat;
	background-size: 100% 100%;
	margin-left:15px;
	margin-bottom: 20px;
}
.i_main .p5_jtzb .news_box ul li img{
    width: 303px;
    height: 167px;
    position: relative;
    margin: 0 auto;
    display: block;
    top: 10px;
    margin-bottom: 12px;
}
.i_main .p5_jtzb .news_box ul li h3{
	width:288px;
	color: #211912;
	font-weight: 500;
	font-size:23px;
	padding-left:15px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.i_main .p5_jtzb .news_box ul li p{
    width: 288px;
    padding-left: 15px;
    color: #8e8b87;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.i_main .p5_jtzb .news_box ul li span{
    width: 288px;
    color: #8e8b87;
    font-size: 14px;
    padding-left: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.i_main .p5_jtzb .news_box .more_btn{
    width: 125px;
    height: 27px;
    background: url(../images/more_btn.png) no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -62.5px;
    bottom:26px;
    background-size: 100% 100%;
}
.i_main .p5_jtzb .liyy_btn{
	left: 50%;
    margin-left: -174.5px;
    bottom: 295px;
}
.i_main .p5_jtzb .down_btn{
    bottom: -27px;
}
.i_main .p6_footer{
    width: 100%;
    height:100%;
    background: url(../images/bg77.jpg) no-repeat;
    background-size:100% 100%;
    overflow-x: hidden;
    position: relative;
    background-position-y: 0px;
    z-index: 2;
}
.i_main .section7{
    width: 100%;
    height:465px !important;
    background: url(../images/bg88.jpg) no-repeat;
    background-size:100% 325px;
    overflow-x: hidden;
    position: relative;
    background-position-y: 0px;
    z-index: 2;
}
.i_main .section7{
    width: 100%;
    height:325px !important;
    background: url(../images/bg88.jpg) no-repeat;
    background-size:100% 325px;
    overflow-x: hidden;
    position: relative;
    background-position-y: 0px;
    z-index: 2;
}
.i_main .section7 .footer{
	width:100%;
	height:325px;
	position:relative;
    background: url(../images/bg88.jpg) no-repeat;
    background-size:100% 325px;
    overflow-x: hidden;
    position: relative;
    background-position-y: 0px;
    z-index: 2;
}
.i_main .section7 .fp-tableCell{
    display:block !important;
    height:465px !important;
}
.i_main .section7 .footer ul{
    width: 598px;
    height: 159px;
    position: absolute;
    margin: 0 auto;
    top:135px;
    left: 50%;
    margin-left: -299px;
}
.i_main .section7 .footer ul li{
	width:33%;
	float: left;
}
.i_main .section7 .footer ul li a{
	width:125px;
	height:125px;
	display: block;
	background: #777C72;
	border:1px solid #B6BBB1;
	margin:0 auto;
}
.i_main .section7 .footer ul li a.wb{
	background: url(../images/wb.png) no-repeat;
	background-size: 100% 100%;
}
.i_main .section7 .footer ul li a.qq{
	background: url(../images/qq.png) no-repeat;
	background-size: 100% 100%;
}
.i_main .section7 .footer ul li p{
	width:100%;
	line-height:47px;
	color: #BBB6AE;
	font-size:18px;
	text-align:center;
}
.i_main .section7 .footer ul li a img{
	width:116px;
	height:116px;
	display: block;
	position: relative;
	margin:0 auto;
	top:5px;
}
.float {
    width: 203px;
    height: 305px;
    background-color: transparent;
    position: fixed;
    right: 50px;
    top: 45%;
    display: none;
    transform: translate(0,-30%);
    -webkit-transform: translate(0,-30%);
    padding-top: 36px;
    z-index: 20;
    transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
}
#fp-nav{
    display: none;
}
.float ul {
	width: 15%;
    position: absolute;
    right: 0;
}
.float .to_top{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: -39px;
    right: -39px;
    background: url(../images/to_top.png) no-repeat;
    background-size: 100% 100%;
}
.float ul li {
	width: 100%;
	height: 34px;
	font-size: 12px;
	line-height: 34px;
	color: #C2B8AA;
	margin-bottom: 10px;
	position: relative;
}
.float ul li span{
    width: 201px;
    height: 34px;
    font-size: 20px;
    line-height: 34px;
    color: #C2B8AA;
    text-align: right;
    padding-right: 40px;
    display: inline-block;
    right: 35px;
    text-shadow: 3px 1px 5px #000;
    position: relative;
    display: none;
    letter-spacing: 1px;
}
.float ul li a {
	display: block;
	text-decoration: none;
	text-align: center;
	line-height: 37px;
}
.float ul li a em {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background:url(../images/fl_em.png) no-repeat;
	background-size: 100% 100%;
	display: inline-block;
	margin-left: 24px;
	position:absolute;
	top:5px;
	right: 0px;
}
.float ul li:hover a,
.float ul li.active a {
	font-weight: 500;
}
.float ul li:hover a em,
.float ul li.active a em {
	background:url(../images/fl_em2.png) no-repeat;
	background-size: 100% 100%;
}
@media only screen and (max-width:1600px) {
	.liyy_btn {
	width: 244px;
    height: 150px;
    position: absolute;
    right: 7%;
    z-index: 13;
    bottom: 9%;
    }
    .nav{
    	top:41px;
    }
    .nav .s_ul{
    	margin:2px 0 0 0;
    }
    .nav .nav_ul li a{
    	font-size: 13.64px;
    	margin-top: 4px;
    }
    .logo_sj {
    width: 226px;
    height: auto;
    top: 96px;
    right: 76px;
    }
    .i_main .d3_zhch .title{
    width: 345px;
    height: 73px;
    margin: 0 auto;
    top: 12%;
    position: absolute;
    left: 50%;
    margin-left: -127.5px;
    }
    .i_main .d3_zhch .banner h3 {
    width: 100%;
    text-align: center;
    color: #ffffd6;
    font-size: 26px;
    font-weight: 400;
    }
    .i_main .d3_zhch .banner i {
    width: 274px;
    height: 12px;
    display: block;
    position: relative;
    margin: 6px auto;
    background: url(../images/tl11.png) no-repeat;
    background-size: 100% 100%;
    }
    .i_main .d3_zhch .banner {
        position: relative;
        top: 18%;
        height: 470px;
        width: 532px;
    }
    .i_main .d3_zhch .banner ul li img {
    width: 258px;
    height: 147px;
    position: relative;
    margin: 0 auto;
    }
    .i_main .d3_zhch .title {
     width: 345px;
    height: 73px;
    margin: 0 auto;
    top: 12%;
    position: absolute;
    left: 50%;
    margin-left: -127.5px;
   }
   .i_main .p3_hadj .title{
   	width: 417px;
    height: 71px;
    margin: 0 auto;
    position: relative;
    top: 9%;
   }
   .i_main .p4_yxjq .fix_info {
    width: 661px;
    position: absolute;
    right: 6%;
    top: 23%;
    z-index: 4;
    }
   .i_main .p4_yxjq .fix_info h3{
   	  font-size: 31px;
   }
   .i_main .p4_yxjq .fix_info h3 {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 31px;
    font-weight: 400;
    }
	.i_main .p4_yxjq .banner_img li a .rule_info {
	    width: 661px;
	    position: absolute;
	    top: 43%;
	    z-index: 5;
	    right: 6%;
	}
    .i_main .p4_yxjq .title{
    	width: 407px;
    	height: 66px;
    	margin: 0 auto;
    	top: 10%;
    	position: absolute;
    	z-index: 4;
    	left: 50%;
    	margin-left: -203.5px;

    }
    .i_main .p4_yxjq .fix_info p{
    	line-height: 21px;
    }
    .i_main .p4_yxjq .banner_img li a .rule_info p {
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    }
    .wj_page .swiper-pagination-bullet i {
    width: 100%;
    color: #000;
    position: absolute;
    left: 0;
    bottom: -29px;
    font-size: 18px;
    color: #fffebf;
    }
    .wj_page {
    position: absolute;
    width: 582px;
    height: 200px;
    margin: 0 auto;
    top: 65%;
    right: 14%;
    padding-top: 1rem;
    }
    .wj_page2 {
    width:100%;
    top: 20px;
    }
    .wj_page .swiper-pagination-bullet{
    width: 103px;
    height: 102px;
    }
    .wj_page .swiper-pagination-bullet img {
    width: 80px;
    height: 81px;
    position: absolute;
    top: 9.85px;
    left: 11.2px;
    }
    .liyy_btn a {
    display: block;
    width: 180px;
    height: 51px;
    position: absolute;
    top: 55px;
    z-index: 2;
    left: 30px;
    }
    .i_main .p5_jtzb .title {
     width: 204px;
    height: 61px;
    margin-left: -102px;
    top: 7%;
    }
    .i_main .p5_jtzb .news_box ul li {
    width: 272px;
    height: 204px;
    }
    .i_main .p5_jtzb .news_box ul li img {
    width: 258px;
    height: 142px;
    }
    .i_main .p5_jtzb .news_box {
    width: 879px;
    top:2%;
    }
    .i_main .p5_jtzb .news_box ul li h3 {
    width: 249px;
    font-size: 16px;
    }
    .i_main .p5_jtzb .news_box ul li p {
    width: 249px;
    font-size: 13px;
    position: relative;
    top: -2px;
    }
    .i_main .p5_jtzb .news_box ul li span {
    width: 248px;
    padding-left: 15px;
    position: relative;
    top: -8px;
   }
   .i_main .p5_jtzb .news_box ul {
    height: 511px;
    }
}
@media only screen and (max-width:1700px){
    .nav .nav_ul li a{
    	font-size: 14.64px;
        margin-top: 2px;
    }
    .i_main .d3_zhch .title{
    width: 345px;
    height: 73px;
    margin: 0 auto;
    top: 12%;
    position: absolute;
    left: 50%;
    margin-left: -127.5px;
    }
}
@media only screen and (max-width:1450px){
	.nav .nav_ul li {
    	min-width: 46px;
    }
    .nav .nav_ul li a{
    	font-size: 12.64px;
    	margin-top: 4px;
    }
    .i_main .d3_zhch .title{
    width: 345px;
    height: 73px;
    margin: 0 auto;
    top: 12%;
    position: absolute;
    left: 50%;
    margin-left: -127.5px;
    }
    .i_main .d3_zhch .banner {
        position: relative;
        top: 18%;
        height: 470px;
        width: 532px;
    }
    .i_main .p3_hadj .p3_info h3 {
    width: 100%;
    text-align: center;
    color: #3b204d;
    font-size: 24px;
    font-weight: 400;
    text-shadow: 2px -1px 21px #fff;
    }
}