body,ul,ol,dl,dt,dd,form,h1,h2,h3,h4,p,img,section,header,ruby,rb,rt,i,b,input,footer{color: #000; margin:0;padding:0;font-style:normal;-webkit-tap-highlight-color: rgba(0,0,0,0);}
html,body,fieldset,img,iframe,abbr{border:0}
html,body{font:400 16px/100% "microsoft yahei",simsun,Tahoma,sans-serif;}
li{list-style:none}
textarea{overflow:auto;resize:none}
a,button{cursor:pointer}
h1,h2,h3,h4,h5,h6,em,strong,b{margin:0;padding:0;font-size:12px;font-weight:normal;}
a,a:hover{text-decoration:none}
body,html{width:100%;font-weight:400;display:-webkit-box;-webkit-box-orient:vertical;-webkit-box-align:center}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-family:"Microsoft YaHei","Helvetica Neue",Arial,HelveticaNeue,Helvetica,"BBAlpha Sans",sans-serif}
body{background:;opacity:1;-webkit-transition:opacity 500ms ease-in;transition:opacity 500ms ease-in}
a{text-decoration:none}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;outline:0;-webkit-appearence:none;-ms-appearence:none}
em,i{font-style:normal}
*{outline:0;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-focus-ring-color:rgba(0,0,0,0)}
p,a,li,span,input{font-size:.28rem}
a{color:#434343}
html{font-size:312.5%}
@media screen and (max-width:359px) and (orientation:portrait){html{font-size:266.67%}}
@media screen and (min-width:360px) and (max-width:374px) and (orientation:portrait){html{font-size:300%}}
@media screen and (min-width:384px) and (max-width:399px) and (orientation:portrait){html{font-size:320%}}
@media screen and (min-width:400px) and (max-width:413px) and (orientation:portrait){html{font-size:333.33%}}
@media screen and (min-width:414px) and (max-width:431px) and (orientation:portrait){html{font-size:345%}}
@media screen and (min-width:432px) and (max-width:479px) and (orientation:portrait){html{font-size:360%}}
@media screen and (min-width:480px) and (max-width:639px) and (orientation:portrait){html{font-size:400%}}
@media screen and (min-width:640px) and (orientation:portrait){html{font-size:533.33%}}


body{position:relative;}
.o_h{overflow:hidden;}
.mkv{width:100%;display:block;}

.common_header{width:100%;height:1.158rem;position:relative;left:0;top:0;color:#fff;background:#0b0b0b}

.common_header .linklogo{}

.common_header .p-common{width:2.7rem;height: 0.908rem;padding:0.25rem 0 0 1rem;float:left;background: url(../images/logo.png) .15rem .22rem no-repeat;background-size: 0.8rem 0.8rem;float: left;}

.common_header .p-common dt{font-size:0.3rem;line-height:0.5rem;color:#FFF}
.common_header .p-common dt h1{font-size:0.4rem;}
.common_header .p-common dd{font-size:0.25rem;line-height:0.35rem;color:#fff}

.common_header .link01,.common_header .link03{font-size:.9em;width:1.508rem;margin:0.25rem 0.1rem 0 0;height:0.6412rem;line-height:0.6412rem;color:#fff;text-align:center;}
.common_header .link01{float:right;background:url(../images/top_lin01.png) no-repeat 100% 100%;background-size:100% 100%}
.common_header .link03{float:right;background:url(../images/gift_btn.png) no-repeat 100% 100%;background-size:100% 100%}
/*
/*冬季跨服专题*/
.Winter_ione,.Winter_ione1,.Winter_ione2{position:relative;overflow:hidden;width:100%}
.Winter_ione .Winter-logo{width: 33.2%;height: 17%; position: absolute;right: 5%;top: .7%;}
.Winter_ione .Winter-time{width:0.7rem;height:0.71rem;/*line-height:0.9rem;background: url(../images/Winter-ico1.png) no-repeat 100% 100%;background-size: 100% 100%;*/position: absolute;bottom: 6.5%;right: 29%;text-align:center}
.Winter_ione .Winter-time span{font-weight:800;color:red;font-size:0.32rem}





.Winter_ione1 span{position:absolute;font-size:0.166rem;color:#fff;width:1.045rem;height:0.285rem;text-align:center;line-height:0.285rem;display:block}
.Winter_s1{left:1.045rem;top:1.176rem}
.Winter_s2{left:2.8rem;top:2.09rem}
.Winter_s3{left:4.6rem;top:2.636rem}
.Winter_ione1 span.Winter_s4 h1,.Winter_ione1 span.Winter_s5 h1,.Winter_ione1 span.Winter_s6 h1{font-size:0.3rem;line-height:0.35rem}
.Winter_ione1 span.Winter_s4{bottom:0.5%;left:13%;width:2.1rem;height:0.65rem}
.Winter_ione1 span.Winter_s5{bottom:0.5%;left:37%;width:2.1rem;height:0.65rem}
.Winter_ione1 span.Winter_s6{bottom:0.5%;left:63%;width:2.1rem;height:0.65rem}

.Winter_ione2 .act_stableul{width:90%;position:absolute;left:0;top:15%;padding:0 5%}
.Winter_ione2 .act_stableul li{float:left;width:30%;height:0.5rem;line-height:0.5rem;border:red solid 2px;border-radius:0.5rem;color:#fff;text-align:center;margin-left:2.5%}
.Winter_ione2 .act_stableul li.on{color:red}
.Winter_ione2 .act_stableul li:first-child{margin-left:0}

.Winter_ione2 .act_stable{width:5.45rem;position:absolute;left:14.2%;top:25.5%;display:none}
.Winter_ione2 .act_stable dl{width:5.45rem;text-align: center;margin:0 auto;}
.Winter_ione2 .act_stable dl dt,.act_stable dl dd{width: 100%;text-align: center;margin-bottom: 1px;height:0.32rem;line-height:0.32rem}
.Winter_ione2 .act_stable dl span{display:block;width: 1.35rem;height:0.32rem;line-height:0.32rem;float: left;color: #fff;margin-left:0.011rem;overflow:hidden;}
.Winter_ione2 .act_stable dl dt span{font-size: 0.2rem;background: #3c3c3c;}
.Winter_ione2 .act_stable dl dd span{font-size:0.2rem;background:url(../images/Winter_spanbg.png);}

.Winter_ione2 .news_more{display: block;width: 3rem;height: 0.55rem;overflow: hidden;/*position:absolute;bottom:1rem;left:50%;margin-left:-1.5rem;*/;margin:0.2rem auto 0;background:#3a3333;color:#fff;font-size:0.267rem;text-align:center;line-height:0.55rem;}



#mask{    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 13011;
	 display: none;
	background:rgba(0,0,0,.4)

	}

.Winter_jl{

background:url(../images/Winter-bg4.png) no-repeat 100% 100%;background-size:100% 100%;display:none;
position:fixed;left:50%;top:50%;z-index:13012;width:5.95rem;height:4.71rem;margin:-2.35rem 0 0 -2.98rem;
}
.Winter_jl i{display:block;width:0.46rem;height:0.37rem;position:absolute;right:0.08rem;top:0.08rem}


.act_giftck02{width: 5rem;height: 2.66rem;margin: -1.33rem 0 0 -2.5rem;padding: 0.3rem 0 0 0;position: fixed;top:50%;left: 50%;z-index: 13013;background:url(../images/Winter-bg3.jpg) no-repeat 100% 100%;background-size:100% 100%}
.acts_close{display: block;width: 0.7rem;height:0.63rem;position: absolute;top: 0;right: 0;}
.act_tmain ul li{margin:0 auto 0.25rem;height:0.37rem;width: 94%;position: relative;width: 100%;}
.act_tmain ul li span.act_til{display: block;float: left;font-size:0.22rem;color: #dadada;font-weight: bold;width: 1.9rem;height:0.37rem;line-height:0.37rem;text-align: right;margin-right:0.1rem;}
.act_giftck01 p{width: 100%;clear: both;}
.select_top{float: right; height:0.39rem;display:inline-block;background:#bababa url(../images/m_down.jpg) no-repeat right center;line-height:0.39rem;font-weight:bold;padding-left:0.1rem;width:1.9rem;overflow:hidden;position:relative;margin-top:0.01rem;margin-right:.35rem;    background-size: 0.4rem 0.39rem;}
#select_top02{margin-top:0.06rem}
#select_top03{margin-top:0.1rem}
.select_top01{float: right; height:0.38rem;display:inline-block;background:#bababa;line-height:0.38rem;font-weight:bold;padding-left:0.1rem;width:1.9rem;overflow:hidden;position:relative;}
.select_top input{ width: 1.3rem;color: #fff; background: transparent; border: 0; outline-style: none; height:0.37rem; line-height:0.37rem; position: absolute; left: 0; top: 0.02rem;}
.select_top01 input{width: 95%;}
.select_top span{ width:1.9rem; height: 0.35rem; position: absolute; right: 0; top: 2px; cursor:pointer; z-index: 10;}
.select_info{ display: none; position: absolute;z-index: 1000;top: 0.37rem;right: 0.33rem;+z-index: 9999999;}
.select_info ul{ height: 1rem; background: #1e1a0f; padding: 0.2rem 0px;width:4.1rem;overflow-y: auto;overflow-x: hidden;}
.select_info ul li{ height: 0.24rem; color: #ceb986; margin-bottom: 0.1rem; text-align: center; width: 1rem; float: left; padding:0.1rem; line-height:0.24rem; cursor: pointer; font-size:0.22rem; }
.select_info ul li:hover{color: #f5d34a;}
.act_search{width:3rem;height:0.48rem;margin: 0 auto;}
.act_search a{display: block;width:1.4rem;height:0.48rem;line-height:0.48rem;text-align: center;}
.act_search a:hover{color: #f5d34a;}
.act_search .a_search{float: left;}
.act_search .a_close{float: right;}
.act_giftck03{position: fixed;top:50%;left: 50%;width:5.77rem;height:1rem;margin: -0.5rem 0 0 -2.88rem;background:url(../images/Winter-bg5.png) no-repeat 100% 100%;background-size:100% 100%;display:none;z-index: 13013; }
.act_giftck03  dl{margin-top:10%}
.act_giftck03  dl dd span{float:left;width:1.18rem;height:0.22rem;line-height:0.22rem;font-size:0.18rem;text-align:center}
.act_giftck03  dl dd span:first-child{margin-left:5%}
.act_giftck03 i{width:0.5rem;height: 0.48rem;top:0.07rem;right: 0.07rem;position:absolute;}

.Winter_ck{background:url(../images/Winter-bg21.jpg) no-repeat;width:100%;height:0.75rem;background-size:100% 100%;position:fixed;bottom:0;left:0;z-index:1111}

.Winter_ck li{float:left;width:50%;text-align:center;height:0.76rem;line-height:0.76rem}
.Winter_ck li a{font-size:0.3rem;color:#ffd346}

footer{padding:.28rem 0;width:100%;position:relative;background:#000;text-align:center;color:#fff;z-index:98;line-height:1.6em}
/*
.gift_tck,.gift_tck01{display:none;z-index:13015;width:90%;height:240px;position:fixed;top:50%;margin-left:-45%;margin-top:-120px;left:50%}.t_box{width:100%}.gift_title{float:left;background:url(../images/gift_tckbtn.png) no-repeat;background-size:100%;width:200px;height:59px;line-height:59px;font-size:1em;color:#ffee93;text-align:center}.close{float:right;position:relative;top:10px}.gift_main{background:#54689d;background-size:100%;width:90%;padding:15px 13px}.text{margin-bottom:10px;width:90%;height:48px;background:#172b2c}.text input{color:#ffee93;background:0 0;border:0;height:48px;line-height:48px;font-size:1em;width:520px;outline:0;padding:0 15px}.tck_btn{width:100%;text-align:center}.tck_btn a{color:#ffee93;width:100%;line-height:27px;margin-bottom:10px;text-align:center;display:block;background:url(../images/gift_btn.jpg) no-repeat;background-size:100%;font-size:1em}


.gift_tck{background:url(../images/i_libao_bg.jpg) no-repeat;background-size:272.5px 231.5px;position:fixed;z-index:11111}
.gift_tck  input{
	color: #000;
  background:none;
    border: 0;
    font-size: 1em;
    width:184px;
    outline: none;
    position: absolute;
    bottom: 48px;
    left:33px;
	padding:0 10px;
    height: 21px;line-height:21px;}
.gift_tck a{
	background:none;
	width: 142px;
    height: 26px;
    position: absolute;
    bottom: 15px;
    left: 65px;}
.gift_tck .close{width:10%;height:10%;position:absolute;right:0;top:0;background:none}*/

.gift_tck{width:90%;position:fixed;left:50%;top:50%;margin:-50% 0 0 -45%;z-index:1111;display:none}
.gift_tck  input{border:none;width: 50%;height: 8%;position: absolute;bottom: 21%;left: 50%; margin-left: -35%;background:none;outline:none}
.gift_tck a{width: 50%; height: 11%;position: absolute;bottom: 7%;left: 25%;}
.gift_tck .close{width:10%;height:10%;position:absolute;right:0;top:0}
