@charset "utf-8";
body,ul,ol,dl,dt,dd,form,h1,h2,h3,h4,p,img,section,header,article,ruby,rb,rt,i,b,input,footer,nav{margin:0;padding:0;font-style:normal;-webkit-tap-highlight-color: rgba(0,0,0,0);}
html,body,fieldset,img,iframe,abbr{border:0}
body,html {
	height: 100%;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

* {
	margin: 0;
	padding: 0
}

body,button,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,img,input,li,ol,p,select,table,td,textarea,ul {
	margin: 0;
	padding: 0;
	border: 0
}

body {
	color: #1c1a1a;
	font: 10px '微软雅黑'
}

li {
	list-style-type: none
}

h1,h2,h3,h4,h5,h6 {
	font-size: 30px;
	font-weight: 400
}

button,input,select,textarea {
	font: 100%,'微软雅黑'
}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;outline:0;-webkit-appearance:none;-ms-appearance:none;text-align:center}

.left {
	float: left
}

.right {
	float: right
}

.clear {
	clear: both;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	height: 0
}
.mkv{width:100%;display:block}
.noBorder {
	border: none
}

.bd {
	border: 1px solid #ccc
}

img {
	vertical-align: top
}

.noBorder {
	border: none
}

.mkv {
	display: block;
	width: 100%
}

a {
	text-decoration: none;
	display: block
}

a.current,a:hover {
	text-decoration: none
}
.hengshuping{font-size:0.93750rem;text-align:center;width:100%;color:#000;display:none;position:absolute;z-index:11111;width:100%;height:100%;background:#fff}
.wrap{
	width: 100%;
	height: 100%;
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
	background-color: #3e3a39;
	overflow: hidden;
	-webkit-transform-origin: top center;
	transform-origin: top center
}


.swiper-container,.swiper-slide{
    overflow: hidden;
}
.swiper-container,.swiper-slide,.swiper-wrapper {
	height: 100%;
	width: 100%;
	position:relative;
	height:100%;
}
.page{
	overflow: hidden;
}
.page-1{
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
	background: url(../images/hb-HW-bg01.jpg) no-repeat;
	background-size: 100% 100%;
}
.page-1 .Start-testing{
	width:9.06250rem;
	height:2.56250rem;
	display:block;
	position:absolute;
	left:50%;
	bottom:5.00000rem;
	margin-left:-4.53125rem;
	text-indent:-9999rem;
	z-index:1;

}
.page-2{
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
	background: url(../images/hb-HW-bg02.jpg) no-repeat;
	background-size: 100% 100%;
}
.page-2 .middleT{
	position: absolute;
	left:0;
	top:6.31250rem;
	width: 100%;
	height:13.12500rem;
	background: url(../images/hb-HW-bg021.png) no-repeat;
	background-size: 100% 100%;
	text-align:center;
	
}
.page-2 .middleT p:nth-child(1){
	color:#fff;
	font-size:0.93750rem;
	font-weight:800;
	margin-top:2.65625rem;
	line-height:0.93750rem
}
.page-2 .middleT p:nth-child(2){
	color:#d0cece;
	font-size:0.43750rem;
	font-weight:800;
	margin:0.62500rem 0 .8rem;
	line-height:0.43750rem
}
.page-2 .middleT p:nth-child(3){}
.page-2 .middleT input{
	width:8.75000rem;
	font-size:0.62500rem;
	padding:0.37500rem;
	line-height:0.62500rem;
	border:#ce770f solid 0.03125rem;
	box-shadow:0 0 5px 1px #e9bf90,0 0 5px 1px #e9bf90,0 0 5px 1px #e9bf90,0 0 5px 1px #e9bf90
}
.page-2 .Confirm-name{
	width:7.18750rem;
	height:2.03125rem;
	position:absolute;
	left:50%;
	bottom:2.93750rem;
	margin-left:-3.59375rem;
	display:block;
	background:url(../images/hb-HW-bg022.png) no-repeat;
	background-size:100% 100%;
	text-indent:-9999rem;
}
.page-3{
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
	background: url(../images/hb-HW-bg03.jpg) no-repeat;
	background-size: 100% 100%;
}
.page-3 .middleQ{
	width:100%;
	height:14.62500rem;
	position:absolute;
	left:0;
	top:6.37500rem;
	background-size:100% 100%;
	
}
.page-3 .middleQ img{
	width:100%;
	height:14.62500rem;
}
.page-3 .Game-download{
	width:5.43750rem;
	height:1.87500rem;
	display:block;
	position:absolute;
	left:50%;
	bottom:5.84375rem;
	margin-left:-2.71875rem;
	text-indent:-9999rem;
	
}

/*枪战人物介绍*/
.common_header{width:100%;height:3.03125rem;position:relative;left:0;top:0;color:#fff;background:#0b0b0b}
.common_header .linklogo{}
.common_header .p-common{width:9.06250rem;height:2.46875rem;margin:0.31250rem 0 0 0.68750rem;background: url(../images/logo_n.png) no-repeat;background-size:2.46875rem 2.46875rem;float: left;}
.common_header .p-common dt h1{font-size:1rem;line-height:1.5rem;color:#FFF;margin-left:3.03125rem}
.common_header .p-common dd{font-size:0.56250rem;line-height:1rem;color:#fff;margin-left:3.03125rem}
.common_header .link01,.common_header .link03{font-size:.7rem;width:3.96875rem;height:1.68750rem;line-height:1.68750rem;color:#fff;text-align:center;margin-top:0.75000rem;}
.common_header .link01{float:right;background:url(../images/top_lin01.png) no-repeat 100% 100%;background-size:100% 100%;margin-right:0.84375rem;margin-left:0.31250rem}
.common_header .link03{float:right;background:url(../images/gift_btn.png) no-repeat 100% 100%;background-size:100% 100%}
.gift_tck{width:17.03125rem;height:14.46875rem;position:fixed;left:50%;top:50%;margin:-7.234rem 0 0 -8.51rem;z-index:1111;display:none}
.gift_tck  input{color:#000;text-align:left;font-size:0.6rem;border:none;width:12rem;height:1.25000rem;line-height:1.35000rem;position: absolute;bottom:3.03125rem;left:2.56250rem; background:none;outline:none}
.gift_tck a{width:8.93750rem; height:1.56250rem;position: absolute;bottom:1.03125rem;left:4.09375rem;}
.gift_tck .close{width:1.43750rem;height:1.43750rem;position:absolute;right:0;top:0}
#mask{width: 100%;height: 100%;position: fixed;top: 0; left: 0;z-index:1000;display: none;background:rgba(0,0,0,.4)}
.HERO-fix{position:fixed;left:0;top:0;z-index:123;background:rgba(0,0,0,.7)}
nav.Introd-nav{
	width:4.75000rem;
	height:4.43750rem;
	position:fixed;
	right:-4.85000rem;
	top:50%;
	margin-top:-2.2rem;
	display:block;
	z-index:133;
}
nav.Introd-nav a{
	width:100%;
	height:1.46875rem;
	float:left;
	opacity:1;
	opacity:0;
	position:relative;
	right:-4.75000rem;
	background-size:100% 100%;
	font-size:0;
	text-indent:-999rem;
}
nav.Introd-nav.on a{
	animation:fadeLe .5s ease 0s both;
	-webkit-animation:fadeLe .5s ease 0s both;
}
nav.Introd-nav a:nth-child(2){
	background-image:url(../images/qz-Introd-btn3.png);
	-webkit-animation-delay:0s;
	animation-delay:0s
}
nav.Introd-nav a:nth-child(3){
	background-image:url(../images/qz-Introd-btn4.png);
	-webkit-animation-delay:.2s;
	animation-delay:.2s	
}
nav.Introd-nav a:nth-child(4){
	height:1.50000rem;
	background-image:url(../images/qz-Introd-btn5.png);	
	-webkit-animation-delay:.4s;
	animation-delay:.4s
}
nav.Introd-nav span{
	width:1.18750rem;
	height:1.78125rem;
	position:absolute;
	left:-1.3rem;
	top:1.40625rem;	
	background-size:100% 100%;	
    background-image:url(../images/qz-Introd-btn2.png);
	display:block;
	overflow:hidden;
}
nav.Introd-nav span.on{
	background-image:url(../images/qz-Introd-btn1.png);
}
#Introd-main{
	background: url(../images/qz-Introd-bg.jpg) no-repeat;
	background-size:cover;
}
#Introd-main .upward-sliding{
	width:1.46875rem;
	height:1.37500rem;
	background: url(../images/qz-Introd-up.png) no-repeat;
	background-size:100% 100%;	
	position:absolute;
	left:50%;
	bottom:0.93750rem;
	margin-left:-0.734rem;
	animation:aup 1s infinite ease-in-out;
	-webkit-animation:aup 1s infinite ease-in-out;
}
#Introd-main .swiper-slide div:nth-child(1){
	width:100%;
	height:19.12500rem;
	position:absolute;
	left:0;
	bottom:7.90625rem;
	z-index:1;
	opacity:0;
	background-size:100% 100%;	
}
#Introd-main .swiper-slide div:nth-child(2){
	width:100%;
	height:10.06250rem;	
	position:absolute;
	left:0;
	bottom:2.59375rem;
	z-index:2;
	opacity:0;
	background-size:100% 100%;
}
.Introd-331-1 div:nth-child(1){
/* 	background-image: url(../images/qz-Introd-1-1.png);	 */
}
.Introd-331-1 div:nth-child(2){
/* 	background-image: url(../images/qz-Introd-1-2.png);	 */
}
#Introd-main .Introd-331-2 div:nth-child(1){
	height:18.09375rem;
/* 	background-image: url(../images/qz-Introd-2-1.png);	 */
}
.Introd-331-2 div:nth-child(2){
/* 	background-image: url(../images/qz-Introd-2-2.png);	 */
}
#Introd-main .Introd-331-3 div:nth-child(1){
	height:18.09375rem;
/* 	background-image: url(../images/qz-Introd-3-1.png);	 */
}
.Introd-331-3 div:nth-child(2){
/* 	background-image: url(../images/qz-Introd-3-2.png);	 */
}
#Introd-main .Introd-331-4 div:nth-child(1){
	height:20.12500rem;
/* 	background-image: url(../images/qz-Introd-4-1.png);	 */
}
.Introd-331-4 div:nth-child(2){
/* 	background-image: url(../images/qz-Introd-4-2.png); */	
}
#Introd-main .Introd-331-5 div:nth-child(1){
	height:21.50000rem;
/* 	background-image: url(../images/qz-Introd-5-1.png); */	
}
.Introd-331-5 div:nth-child(2){
/* 	background-image: url(../images/qz-Introd-5-2.png); */	
}
#Introd-main .Introd-331-6 div:nth-child(1){
	height:100%;
	bottom:0;
/* 	background-image: url(../images/qz-Introd-6-1.png);	 */
}
.Introd-331-6 div:nth-child(2){
/* 	background-image: url(../images/qz-Introd-6-2.png);	 */
}
#Introd-main .Introd-331-7 div:nth-child(1){
	height:100%;
	bottom:0;
/* 	background-image: url(../images/qz-Introd-7-1.png);	 */
}
.Introd-331-7 div:nth-child(2){
/* 	background-image: url(../images/qz-Introd-7-2.png);	 */
}
#Introd-main .Introd-331-8 div:nth-child(1){
	height:100%;
	bottom:0;
/* 	background-image: url(../images/qz-Introd-8-1.png);	 */
}
.Introd-331-8 div:nth-child(2){
/* 	background-image: url(../images/qz-Introd-8-2.png); */	
}
#Introd-main .Introd-331-9 div:nth-child(1){
	height:100%;
	bottom:0;
/* 	background-image: url(../images/qz-Introd-9-1.png);	 */
}
.Introd-331-9 div:nth-child(2){
/* 	background-image: url(../images/qz-Introd-9-2.png);	 */
}
#Introd-main .Introd-331-10 div:nth-child(1){
	height:100%;
	bottom:0;
/* 	background-image: url(../images/qz-Introd-10-1.png); */	
}
.Introd-331-10 div:nth-child(2){
/* 	background-image: url(../images/qz-Introd-10-2.png); */	
}
#Introd-main .Introd-331-11 div:nth-child(1){
	height:100%;
	bottom:0;
/* 	background-image: url(../images/qz-Introd-11-1.png); */	
}
.Introd-331-11 div:nth-child(2){
/* 	background-image: url(../images/qz-Introd-11-2.png); */	
}
#Introd-main .Introd-331-12 div:nth-child(1){
	height:100%;
	bottom:0;
/* 	background-image: url(../images/qz-Introd-12-1.png); */	
}
.Introd-331-12 div:nth-child(2){
/* 	background-image: url(../images/qz-Introd-12-2.png); */	
}
#Introd-main .Introd-331-13 div:nth-child(1){
	height:100%;
	bottom:0;
/* 	background-image: url(../images/qz-Introd-13-1.png); */	
}
.Introd-331-13 div:nth-child(2){
/* 	background-image: url(../images/qz-Introd-13-2.png); */	
}
#Introd-main .Introd-331-14 div:nth-child(1){
	height:100%;
	bottom:0;
/* 	background-image: url(../images/qz-Introd-14-1.png); */	
}
.Introd-331-14 div:nth-child(2){
/* 	background-image: url(../images/qz-Introd-14-2.png); */	
}
#Introd-main .Introd-331-15 div:nth-child(1){
	height:100%;
	bottom:0;
/* 	background-image: url(../images/qz-Introd-15-1.png); */	
}
.Introd-331-15 div:nth-child(2){
/* 	background-image: url(../images/qz-Introd-15-2.png); */	
}
#Introd-main .Introd-331-16 div:nth-child(1){
	height:100%;
	bottom:0;
/* 	background-image: url(../images/qz-Introd-16-1.png); */	
}
.Introd-331-16 div:nth-child(2){
/* 	background-image: url(../images/qz-Introd-16-2.png); */	
}
#Introd-main .Introd-331-17 div:nth-child(1){
	height:100%;
	bottom:0;
/* 	background-image: url(../images/qz-Introd-17-1.png); */	
}
.Introd-331-17 div:nth-child(2){
/* 	background-image: url(../images/qz-Introd-17-2.png); */	
}
#Introd-main .Introd-331-18 div:nth-child(1){
	height:100%;
	bottom:0;
/* 	background-image: url(../images/qz-Introd-18-1.png); */	
}
.Introd-331-18 div:nth-child(2){
/* 	background-image: url(../images/qz-Introd-18-2.png);	 */
}
#Introd-main .Introd-331-19 div:nth-child(1){
	height:100%;
	bottom:0;
/* 	background-image: url(../images/qz-Introd-19-1.png); */	
}
.Introd-331-19 div:nth-child(2){
/* 	background-image: url(../images/qz-Introd-19-2.png); */	
}
#Introd-main .Introd-331-20 div:nth-child(1){
	height:100%;
	bottom:0;
/* 	background-image: url(../images/qz-Introd-20-1.png); */	
}
.Introd-331-20 div:nth-child(2){
/* 	background-image: url(../images/qz-Introd-20-2.png); */	
}
#Introd-main .Introd-331-21 div:nth-child(1){
	height:100%;
	bottom:0;
/* 	background-image: url(../images/qz-Introd-21-1.png); */	
}
.Introd-331-21 div:nth-child(2){
/* 	background-image: url(../images/qz-Introd-21-2.png); */	
}
#Introd-main .Introd-331-22 div:nth-child(1){
	height:100%;
	bottom:0;
/* 	background-image: url(../images/qz-Introd-22-1.png); */	
}
.Introd-331-22 div:nth-child(2){
/* 	background-image: url(../images/qz-Introd-22-2.png); */	
}
#Introd-main .Introd-331-23 div:nth-child(1){
	height:100%;
	bottom:0;
/* 	background-image: url(../images/qz-Introd-23-1.png); */	
}
.Introd-331-23 div:nth-child(2){
/* 	background-image: url(../images/qz-Introd-23-2.png); */	
}
#Introd-main .Introd-331-24 div:nth-child(1){
	height:100%;
	bottom:0;
/* 	background-image: url(../images/qz-Introd-24-1.png);	 */
}
.Introd-331-24 div:nth-child(2){
/* 	background-image: url(../images/qz-Introd-24-2.png); */	
}

.swiper-slide-active.swiper-slide div:nth-child(1){
	animation:fadeSc 1s ease 0s both;
	-webkit-animation:fadeSc 1s ease 0s both;	
}
.swiper-slide-active.swiper-slide div:nth-child(2){
	animation:fadeDo .5s ease .3s both;
	-webkit-animation:fadeDo .5s ease .3s both;	
}



@-webkit-keyframes aup{
	0%,30%{opacity:0;-webkit-transform:translate(0,10px)}
	60%{opacity:1;-webkit-transform:translate(0,0)}
	100%{opacity:0;-webkit-transform:translate(0,-8px)}
}
@keyframes aup{
	0%,30%{opacity:0;transform:translate(0,10px)}
	60%{opacity:1;transform:translate(0,0)}
	100%{opacity:0;transform:translate(0,-8px)}
}
@-webkit-keyframes fadeLe{
	0%{opacity:1;-webkit-transform:translate3d(0,0,0)}
	100%{opacity:1;-webkit-transform:translate3d(-4.75000rem,0,0)}
}
@keyframes fadeLe{
	0%{opacity:1;transform:translate3d(0,0,0)}
	100%{opacity:1;transform:translate3d(-4.75000rem,0,0)}
}
@keyframes fadeSc{
	0%{transform:scale(0,0);opacity:0}
	100%{transform:scale(1,1);opacity:1}
}
@-webkit-keyframes fadeSc{
	0%{-webkit-transform:scale(0,0);opacity:0}
	100%{-webkit-transform:scale(1,1);opacity:1}
}
@keyframes fadeDo{
	0%{transform:translate3d(0,500px,0);opacity:0}
	100%{transform:translate3d(0,0,0);opacity:1}
}
@-webkit-keyframes fadeDo{
	0%{-webkit-transform:translate3d(0,500px,0);opacity:0}
	100%{-webkit-transform:translate3d(0,0,0);opacity:1}
}
