.s_content{
	position: relative;
}
.s_bg img,.s_bg div{
	width: 100%;
	height: 16.4375rem;
}
.s_main{
	position: absolute;
	top: 13.5rem;
	left: 0;
}
.s_main1{
	width: 100%;
	/*height: 16.281rem;*/
	margin-top: 2rem;
}
.s_main1 img{
	width: 100%;
	/*height: 16.281rem;*/
}
.s_main2{
	width: 100%;
	/*height: 10.781rem;*/
}
.s_main2 img{
	width: 100%;
	/*height: 10.781rem;*/
}
.s_main3{
	width: 100%;
	/*height: 8.875rem;*/
}
.s_main3 img{
	width: 100%;
	/*height: 8.875rem;*/
}
.s_main4{
	width: 100%;
	/*height: 7.187rem;*/
}
.s_main4 img{
	width: 100%;
	/*height: 7.187rem;*/
}
.s_main5{
	width: 100%;
	/*height: 11.343rem;*/
}
.s_main5 img{
	width: 100%;
	/*height: 11.343rem;*/
}
.s_main6{
	width: 100%;
	/*height: 9.218rem;*/
}
.s_main6 img{
	width: 100%;
	/*height: 9.218rem;*/
}
.s_main7{
	width: 100%;
	/*height: 39.986rem;*/
}
.s_main7 img{
	width: 100%;
	/*height: 39.986rem;*/
}
.s_nav{
	width: 6.407rem;
	height: 19.5625rem;
	position: fixed;
	right: 0rem;
	top: 50%;
	margin-top: -9.78125rem;
}
.s_navclose{
	float: left;
	width: 1.031rem;
	height: 1.1875rem;
	margin-top: 8.5rem;
	animation:shake  5s ease infinite both;
}
.s_navclose img{
	width: 1.031rem;
	height: 1.1875rem;	
}
.s_navcon{
	width: 5.375rem;
	height: 19.5625rem;
	float: left;
	position: relative;
}
.s_navbg{
	width: 5.375rem;
	height: 19.5625rem;
}
.s_navbg img{
	display: block;
	width: 5.375rem;
	height: 19.5625rem;
}
.s_nav_cc{
	position: absolute;
	top: 1.5rem;
	left: 0.5rem;
}
.s_nav_cc ul li{
	width: 4.53125rem;
	height: 1.125rem;
	margin: 0rem auto 0.4rem;
	background: url(../images/s_navpart.png); 
	background-size: 100%;
}
.s_nav_cc ul li img{
	width: 4.53125rem;
	height: 1.125rem;
}
.s_navopen{
	width: 1.03125rem;
	height:1.1875rem;
	position: fixed;
	top: 50%;
	right: 0rem;
	margin-top: -1.2rem;
	animation:shake  5s ease infinite both;
}
.s_navopen img{
	width: 1.03125rem;
	height:1.1875rem;
}
@-webkit-keyframes shake {
	0%, 100% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px)
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px)
	}
}
@keyframes shake {
	0%, 100% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0)
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-10px);
		-ms-transform: translateX(-10px);
		transform: translateX(-10px)
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(10px);
		-ms-transform: translateX(10px);
		transform: translateX(10px)
	}
}
