*{-webkit-tap-highlight-color:transparent;padding:0;margin:0;}
.hidden{display:none;}
i{font-style:normal;}
body{font-family:"微软雅黑";}

.main{
    position: relative;
    width: 100%;
    height: 2160px;
    min-width: 1200px;
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
    background: url(../images/bg.jpg) center top no-repeat;
}
.main .animal{
    z-index: 2;
    position: absolute;
    right:250px;
    top:110px;
    -webkit-animation: jump 1.5s infinite alternate;
    animation: jump 1.5s infinite alternate;
}
.main .animal img{
    width: 132px;
    height: 131px;
}
.main .logo{
    position: absolute;
    left: 50%;
    width:849px;
    top: 625px;
    margin-left: -424.5px;
}
.main .logo img{
    width: 849px;
    height: 102px;
}
.main .btn{
    position: absolute;
    left: 50%;
    width:591px;
    top: 750px;
    margin-left: -295.5px;
    animation: shake 2s linear infinite;
    -webkit-animation: shake 2s linear infinite;
    -moz-animation: shake 2.5s linear infinite;
    -ms-animation: shake 2.5s linear infinite;
}
.main .btn a,.main .btn img{
    display:inline-block;
    width: 591px;
    height: 111px;
}
.main .down_info{
    position: absolute;
    left: 50%;
    width:888px;
    top: 880px;
    margin-left: -444px;
    font-size:48px;
    color:#ffca31;
}
.main .txt{
    position: absolute;
    left: 50%;
    width: 1194px;
    height: 373px;
    top: 1000px;
    margin-left: -597px;
    font-size: 58px;
    color: #F1F1F3;
    background: url(../images/txt_bg.png) center top no-repeat;
    line-height: 45px;
}
.main .txt span{
    display: inline-block;
    width: 1035px;
    height: 168px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -517.5px;
    margin-top: -84px;
}
.main .txt i{
    font-size:30px;
}
.main .img_slider{
    position: absolute;
    width: 1180px;
    left: 50%;
    margin-left: -590px;
    top: 1495px;
}
.main .img_slider img{
    float:left;
    margin-right: 20px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
.main .img_slider img:hover{margin-top:-5px;}
.main .img_slider img.img2,.main .img_slider img.img4{margin-top:110px;}
.main .img_slider img.img2:hover,.main .img_slider img.img4:hover{margin-top:105px;}
.main .img_slider img.img5{margin-right: 0;}


/*动效*/
@-webkit-keyframes jump {
    from {
        -webkit-transform: translate3d(20px,20px,0);
    }
    to {
        -webkit-transform: translate3d(0,0,0);
    }
}
@-ms-keyframes jump {
    from {
        -ms-transform: translate3d(20px,20px,0);
    }
    to {
        -ms-transform: translate3d(0,0,0);
    }
}
@-moz-keyframes jump {
    from {
        -moz-transform: translate3d(20px,20px,0);
    }
    to {
        -moz-transform: translate3d(0,0,0);
    }
}
@keyframes jump {
    from {
        transform: translate3d(20px,20px,0);
    }
    to {
        transform: translate3d(0,0,0);
    }
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    5% {
        transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
    }
    10% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    15% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
    }
    20% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
}
@-webkit-keyframes shake {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    5% {
        transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
    }
    10% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    15% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
    }
    20% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
}
@-ms-keyframes shake {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    5% {
        transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
    }
    10% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    15% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
    }
    20% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
}
@-moz-keyframes shake {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    5% {
        transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
    }
    10% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    15% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
    }
    20% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
}

@keyframes scales{0%{transform: scale(1); }50% {transform: scale(1.1);}100% {transform: scale(1);}}
@-webkit-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(1.1);}100% {-webkit-transform: scale(1);}}
@-moz-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(1.1);}100% {-webkit-transform: scale(1);}}
@-o-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(1.1);}100% {-webkit-transform: scale(1);}}
@-ms-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(1.1);}100% {-webkit-transform: scale(1);}}
