<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>弹弹岛2爱之公寓沉浸式体验活动官方报名通道 弹弹岛2官方网站_新一代休闲弹射竞技手游_英雄互娱</title>
		<meta name="description" content="爱情公寓，爱之公寓，公寓，全国租房，全球民宿，北京租房，弹弹岛2,途家网，弹弹岛2活动,弹弹岛2新版,弹弹岛2家园系统，弹弹岛2爱之公寓，娄艺潇代言，娄艺潇新作，弹一闪，" />
		<meta name="keywords" content="爱之公寓沉浸式体验活动由弹弹岛2官方发起，全球公寓民宿预定平台途家网独家赞助。爱之公寓沉浸式体验活动于8月16日开启，《爱情公寓》主演娄艺潇倾情助阵，《弹弹岛2》与途家网在全国各范围地区准备了10套短租房，并在北京上海广州深圳四大城市各准备1套长租房作为爱之公寓，只要参与我们的活动，既有机会和你想在一起的人，或者志趣相投的人入住爱之公寓，享受房租减半水电全免的终极福利!" />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}3.0/m/css/common.css?{$smarty.const.VERSION}">
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}3.0/m/css/swiper.min.css?{$smarty.const.VERSION}">
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}3.0/m/css/common01.css?{$smarty.const.VERSION}">
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}3.0/m/css/love.css?{$smarty.const.VERSION}">
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}3.0/m/css/animate.min.css?{$smarty.const.VERSION}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<script src="{$smarty.const.STATIC_DOMAIN}3.0/m/js/jquery-1.11.2.min.js"></script>
		<script>
			(function(doc, win) {
				var docEl = doc.documentElement,
					// 手机旋转事件,大部分手机浏览器都支持 onorientationchange 如果不支持，可以使用原始的 resize
					resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
					recalc = function() {
						//clientWidth: 获取对象可见内容的宽度，不包括滚动条，不包括边框
						var clientWidth = docEl.clientWidth;
						if(!clientWidth) return;
						docEl.style.fontSize = 16 * (clientWidth / 320) + 'px';
					};

				recalc();
				//判断是否支持监听事件 ，不支持则停止
				if(!doc.addEventListener) return;
				//注册翻转事件
				win.addEventListener(resizeEvt, recalc, false);

			})(document, window);
		</script>
		<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?e896a013f613cc56bef66f4d4f67c5ff";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>
	</head>

	<body>
		<div class="hengping">
			<p>请竖屏浏览</p>
		</div>
		<div class="enter">
			<a href="/index.html"><img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/enter.png" alt="" /></a>
		</div>
		<div class="lo_banner">
			<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/pic_21.png" class="lo_b_bg">
			<div class="lo_b_title">
				<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/pic_18.png" class="lo_b_t_big">
				<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/pic_17.png" class="lo_b_t_small animated bounceInDown">
			</div>
			<div class="lo_b_sup">
				<div class="lo_b_sup_icon lt"><img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/pic_19.png"></div>
				<div class="lo_b_sup_icon rt"><img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/pic_19.png"></div>
			</div>
			<div class="lo_b_name">
				<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/pic_22.png">
			</div>
			<div class="lo_b_logo animated bounceIn"><img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/logo.png"></div>
		</div>
		<div class="lo_content">
			<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/pic_25.png" style="width:100%;display:block;">
			<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/pic_24.png" class="check_strategy">
		</div>
		<div class="lo_first">
			<div class="lo_f_title">
				<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/pic_29.png">
				<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/pic_28.png" class="lo_f_t_f">
			</div>
			<div class="lo_f_info"><img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/pic_30.png"></div>
			<div class="lo_f_foot">
				<div class="lo_f_foot_1">
					<p><i>1</i><em>扫描上面二维码在活动报名H5中录入个人相关信息，选择现实版或者体验版</em></p>
					<p><i>2</i><em>您可以选择@您的好友成为自己可能的室友，或者填写自己理想的室友标签</em></p>
					<p><i>3</i><em>将生成的海报分享至朋友圈，即视为报名成功</em></p>
				</div>
			</div>
		</div>
		<div class="lo_reward">
			<div class="label01">
				<img class="label02" src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/label.png" alt="" />
				<div class="title_one">
					<img class="title_a" src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/a.png" alt="" />
					<p class="p1">活动分为《爱之公寓长租版》&《爱之公寓短租版》2个奖池</p>
					<dl>
						<dt><img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/tiyan.png" alt="" /></dt>
						<dd>
							<p class="p2">全国范围-限量1套（租期3个月）</p>
							<p class="p3">爱之公寓短租版—全国范围内途家网覆盖城市限量1套（租期3个月）</p>
						</dd>
					</dl>
					<dl class="second_dl">
						<dt><img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/xianshi.png" alt="" /></dt>
						<dd>
							<p class="p2">北上广深-4地各1套（租期1年）</p>
							<p class="p3">爱之公寓长租版-北京、上海、广州、深圳4 地各 1套 （租期1年）</p>
						</dd>
					</dl>
				</div>
				<div class="title_two">
					<img class="title_b" src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/b.png" alt="" />
					<p class="p4">活动结束后，从所有报名体验爱之公寓长租版（限北京、上海、广州、深圳、参加）的人当中不同城市单独进行随机抽取，每个城市抽取1位中奖者，共4位中奖者</p>
					<p class="p5"><i>1</i><em>如果中奖者在报名阶段@5位朋友，这5位中奖者视为共享中奖者，我们将为6人提供一处1年“房租减半，水电全免”的“爱之公寓”式住宅；如果中奖者在报名阶段填写的是理想室友标签，我们将在后台根据标签通过大数据为中奖者匹配/抽取5位理想室友，并为6人提供一处1年“房租减半，水电全免”的“爱之公寓”式住宅</em></p>
					<p class="p6"><i>2</i><em>该奖励由弹弹岛2提供</em></p>
				</div>
				<div class="title_three">
					<img class="title_c" src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/c_love.png" alt="" />
					<p class="p7">活动结束后，从所有报名体验爱之公寓短租版（无地域限制）的人当中抽取1位中奖者</p>
					<p class="p8"><i>1</i><em>如果中奖者在报名阶段@5位朋友，这5位中奖者视为共享中奖者，我们将为6人提供一处最长3个月“房租减半，水电全免”的短租公寓；</em></p>
					<p class="p9"><i>2</i><em>如果中奖者在报名阶段填写的是理想室友标签，我们将在后台根据标签通过大数据为中奖者匹配/抽取5位理想室友，并为6人提供3个月“房租减半，水电全免”的“爱之公寓”式住宅</em></p>
					<p class="p10"><i>3</i><em>该奖励由全球公寓民宿预订平台途家网独家赞助</em></p>
					<p class="p11"><i>4</i><em>友情提示：<br />此次活动抽取的中奖者将与其朋友共享中奖几率，所以邀请你在活动报名时填写的朋友一起参与活动可以大大提高中奖率</em></p>
				</div>
			</div>
		</div>
		<div class="lo_reward01">
			<img class="title03" src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/label01.png" alt="" />
			<p><i>1</i><em>本活动面向全社会公开开展，每人限报名一次</em></p>
			<p><i>2</i><em>中奖者必须是法律承认的具有签订租房合同行为能力的完全民事行为能力人，若中奖者没有签订租房合同的行为能力或无力负担剩余的租房费用则取消中奖资格</em></p>
			<p><i>3</i><em>《弹弹岛2》官方将在活动结束后10个工作日内在《弹弹岛2》官方网站、官方微信公众号公布中奖名单，并通过中奖者注册时填写的联系方式进行联系，请务必保证联系方式的正确性</em></p>
			<p><i>4</i><em>由于报名者对于住房的需求不同，此次活动最终奖励内容（住房详情）将由《弹弹岛2》官方与中奖者协商后确定</em></p>
			<p><i>5</i><em>租房过程中，除“房租减半，水电全免”之外的其他费用由中奖者（包括共享中奖者）自行承担</em></p>
			<p><i>6</i><em>所有中奖者中奖权益须在中奖名单公布之日起3个月内兑现，逾期视为自动放弃获奖资格，不再提供奖励</em></p>
			<p><i>7</i><em>《弹弹岛2》官方在法律规定的范围内对本活动有解释权</em></p>
		</div>
		<div class="lo_support">
			<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/pic_36.png">
		</div>
		<div class="lo_fotter">
			《弹弹岛2》官方在法律规定的范围内对本活动有解释权
		</div>
		<script type="text/javascript" src="http://cdnstatic.yingxiong.com/footer/js/footer.js"></script>
		<script type="text/javascript">
			(function() {
				let topNav = `
		<div class="d_top">
			<div class="d_t_cover"></div>
			<div class="d_t_con">
				<div>
					<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/pic_01.png">
				</div>
				<div>
					<p>弹弹岛2</p>
					<p>指尖弹射 燃魂竞技</p>
				</div>
				<div class="d_t_con_loadBtn">
					<a href="javascript:;" class="js_wap_down" style="color: #000000">立即下载</a>
				</div>
				<div>
					
					<div class="d_t_con_drop" data="0">
						<span class="d_t_t"></span>
						<span class="d_t_m"></span>
						<span class="d_t_b"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="d_top_nav">
			<ul>
				<li class="top_active"><a href='{myurl name="wap/site/index"}'>首 页</a></li>
				<li><a href='{myurl name="wap/special/liansai"}'>英雄联赛</a></li>
				<li><a href='/m/info/list_1_1.html'>新闻资讯</a></li>
				<li><a href="/m/info/list_36_1.html">活动中心</a></li>
				<li><a href="/m/info/list_37_1.html">弹弹攻略</a></li>
				<li><a href="http://gamer.yingxiong.com/html/Pc3.0/9.html">官方社区</a></li>
			</ul>
		</div>
		<div class="d_top_cover"></div>
		`;

				$("body").append(topNav);

				function getParam(paramName) {
					paramValue = "", isFound = !1;
					if(this.location.search.indexOf("?") == 0 && this.location.search.indexOf("=") > 1) {
						arrSource = unescape(this.location.search).substring(1, this.location.search.length).split("&"), i = 0;
						while(i < arrSource.length && !isFound) arrSource[i].indexOf("=") > 0 && arrSource[i].split("=")[0].toLowerCase() == paramName.toLowerCase() && (paramValue = arrSource[i].split("=")[1], isFound = !0), i++
					}
					return paramValue == "" && (paramValue = null), paramValue
				};

				function windowHidden() {
					$("html,body").css({
						"overflow": "hidden",
						"width": "100%",
						"height": "100%"
					});
				};

				function windowScroll() {
					$("html,body").css({
						"overflow": "visible",
						"width": "100%",
						"height": "auto"
					});
				};
				/*	function documentNoScroll(){
  		$(document).on('touchmove', function(e){
		 	e.preventDefault();
		});
  	};
  	function documentScroll(){
  		$(document).on('touchmove', function(e){
		 	//e.preventDefault();
		 	return false;
		});
  	}*/
				var a = getParam("current") || 0;
				$(".d_top_nav ul li").removeClass("top_active");
				$(".d_top_nav ul li").eq(a).addClass("top_active");
				console.log(a);
				$(".d_t_con_drop").on("click", function(e) {
					e.stopPropagation();
					if($(this).attr("data") == "0") {
						$(".d_t_t").addClass("d_t_t_tran");
						$(".d_t_m").addClass("d_t_m_tran");
						$(".d_t_b").addClass("d_t_b_tran");

						$(this).attr("src", "./images/pic_15.png").attr("data", "1");
						$(".d_top_nav").slideDown();
						$(".d_top_cover").show();
						windowHidden();
						//documentNoScroll();
					} else {
						$(".d_t_t").removeClass("d_t_t_tran");
						$(".d_t_m").removeClass("d_t_m_tran");
						$(".d_t_b").removeClass("d_t_b_tran");

						$(this).attr("src", "./images/pic_02.png").attr("data", "0");
						$(".d_top_nav").slideUp();
						$(".d_top_cover").hide();
						windowScroll();
						//documentScroll()
					}
				});
				$(".d_top_cover,.d_t_con").on("click", function(e) {
					e.stopPropagation();
					if($(".d_t_con_drop").attr("data") == "1") {

						$(".d_t_t").removeClass("d_t_t_tran");
						$(".d_t_m").removeClass("d_t_m_tran");
						$(".d_t_b").removeClass("d_t_b_tran");

						$(".d_t_con_drop").attr("src", "./images/pic_02.png").attr("data", "0");
						$(".d_top_nav").slideUp();
						$(".d_top_cover").hide();
						windowScroll();
						//documentScroll()
					} else {
						return false;
					}

				});
				$(".d_t_con_loadBtn").on("click", function(e) {
					e.stopPropagation();
					$(".d_t_t").removeClass("d_t_t_tran");
					$(".d_t_m").removeClass("d_t_m_tran");
					$(".d_t_b").removeClass("d_t_b_tran");

					$(".d_t_con_drop").attr("src", "./images/pic_02.png").attr("data", "0");
					$(".d_top_nav").slideUp();
					$(".d_top_cover").hide();
					windowScroll();
					//documentScroll()
				})

				$(".d_top_nav ul li").eq(0).on("click", function(e) {
					e.stopPropagation(); //首页
					location.href = "index.html?current=0";
				});
				$(".d_top_nav ul li").eq(1).on("click", function(e) {
					e.stopPropagation();
				
				});
				$(".d_top_nav ul li").eq(2).on("click", function(e) {
					e.stopPropagation();
					location.href = "news_lists.html?current=2";
				});
				$(".d_top_nav ul li").eq(3).on("click", function(e) {
					e.stopPropagation();				
				})
				$(".d_top_nav ul li").eq(4).on("click", function(e) {
					e.stopPropagation();
				
				})
				$(".d_top_nav ul li").eq(5).on("click", function(e) {
					e.stopPropagation();
				});

			})();
		</script>
		{download}
	</body>

</html>