{video_play}
{if $language eq zh_cn}
<script type="text/javascript" src="//cdnstatic.yingxiong.com/footer/js/footer_new.js?{$smarty.const.VERSION}"></script>
{else}
<link rel="stylesheet" href="//cdnstatic.yingxiong.com/footer/css/footer_new.css">
<div class="i-footer cc_footer_en">
    <div class="i-fotcon">
        <div class="i-fot-logo">
            <img src="{$smarty.const.STATIC_DOMAIN}2.0/images/logo_en1.png?{$smarty.const.VERSION}">
        </div>
        <div class="i-fot-text">
            <p>COPYRIGHT2017 - 2018 . ALL REGHTS RESERVED</p>
            <p>Customer Service: support@redtides.vip</p>
            <p>Business Contact:  herogame@yingxiong.com</p>
            <p>
                <a class="foot_facebook" href="https://www.facebook.com/redtides.mobile/?tsid=0.7278705859292902&source=result"></a>
                <a class="foot_tube" href="https://www.youtube.com/channel/UC-maiOYUEXdHJoRgEyCss8w"></a>
                <a class="foot_bmt" href="https://forum.gamer.com.tw/A.php?bsn=32971 "></a>
            </p>
        </div>
    </div>
</div>
{/if}
</html>
