
<label class="goTop">
		{if $language eq zh_cn}
		<img class="show" src="{$smarty.const.STATIC_DOMAIN}2.0/images/goTop.png?{$smarty.const.VERSION}" />
		<img class="hover" src="{$smarty.const.STATIC_DOMAIN}2.0/images/goTop_hover.png?{$smarty.const.VERSION}" />
		{else}
		<img class="show" src="{$smarty.const.STATIC_DOMAIN}2.0/images/goTop_en.png?{$smarty.const.VERSION}" />
		<img class="hover" src="{$smarty.const.STATIC_DOMAIN}2.0/images/goTop_en_hover.png?{$smarty.const.VERSION}" />
		{/if}
	</label>