html,
body {
	height: 100%;
	font-family: "Microsoft YaHei", "arial";
}
.p_main {
	width: 100%;
	height: 100%;
	position: relative;
	transition: all .3s;
	opacity: 1;
	transform: scale(1);
	background-image: url("../images/bimg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.p_main > div {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}
.p_pay_success{
	width: 1087px;
	height: 776px;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #e4eafd;
	padding: 78px;
	background: url("../images/p_bimg1.png") no-repeat;
	background-size: cover;
	box-sizing: border-box;
}
.p_pay_success > div{
	width: 100%;
	height: 100%;
	text-align: center;
	background: #E4EAFD;
	>img{
		margin: 200px 0 0 0;
	}
	>h1{
		font-size: 26px;
		color: #36a627;
		margin: 16px 0 34px 0;
	}
	>p{
		font-size: 20px;
	}
}


@media (min-width: 0) and (max-width: 1440px) {
	.p_pay_success{
		width: 1026px;
		height: 733.5px;
		padding: 73px;
		>div{
			>img{
				margin: 180px 0 0 0;
			}
		}
	}
}

@media (min-width: 1920px) and (max-width: 8000px) {
	.p_pay_success{
		width: 1208px;
		height: 863px;
		padding: 86px;
		>div{
			>img{
				margin: 220px 0 0 0;
			}
		}
	}
}
