@keyframes scale1 {
    from {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
    }
    to {
        transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
    }
}

@-webkit-keyframes scale1 {
    from {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
    }
    to {
        transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
    }
}

input::-ms-clear,
input::-ms-reveal {
    display: none;
}

.slh {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dn {
    display: none;
}

.i_lg_zc_hide {
    opacity: 0;
    display: none;
}

.i_lg_zc {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    text-align: center;
    background: rgba(0, 0, 0, .9);
    
    opacity: 1;
    transition: all .5s;
    >div {
        width: 400px;
        height: 560px;
        display: inline-block;
        margin: 4% 0 0 0;
        position: relative;
        .i_lg_close {
            display: block;
            width: 58px;
            height: 58px;
            background: url("../images/i_img2.png") no-repeat;
            position: absolute;
            top: 36px;
            right: -80px;
            transition: transform .2s;
        }
        .i_lg_close:hover {
            cursor: pointer;
            transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
        }
        >div {
            width: 400px;
            height: 450px;
            margin: 30px 0 0 0;
            overflow: hidden;
            >div {
                width: 800px;
                height: 450px;
                form {
                    width: 400px;
                    height: auto;
                    padding: 40px;
                    border: 2px solid #a1444c;
                    box-sizing: border-box;
                    overflow: hidden;
                    float: left;
                    ul {
                        width: 100%;
                        height: auto;
                        >li {
                            width: 100%;
                            height: 48px;
                            margin: 0 0 42px 0;
                            position: relative;
                            box-sizing: border-box;
                            background: #fff;
                            overflow: hidden;
                            >p {
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 268px;
                                height: 100%;
                                line-height: 48px;
                                color: #b2b2b2;
                                text-align: left;
                                text-indent: 18px;
                                font-size: 18px;
                            }
                            >p:hover {
                                cursor: text;
                            }
                            >input {
                                display: block;
                                width: 268px;
                                height: 100%;
                                border: none;
                                float: right;
                                line-height: 48px;
                                color: #000;
                                text-align: left;
                                text-indent: 18px;
                                font-size: 18px;
                                outline-style: none;
                                background: transparent;
                            }
                            >label {
                                display: block;
                                width: 48px;
                                height: 28px;
                                float: left;
                                margin: 10px 0 0 0;
                                border-right: 2px solid #cccccc;
                                box-sizing: border-box;
                                background: url("../images/i_user.png") no-repeat;
                                background-position: center;
                            }
                        }
                        li.i_l1 {
                            height: auto;
                            background: transparent;
                            a {
                                display: block;
                                float: left;
                                color: #939393;
                                font-size: 14px;
                                transition: color .2s;
                            }
                            a.a2 {
                                float: right;
                            }
                            a.active {
                                font-size: 18px;
                                color: #fff;
                                font-weight: bold;
                            }
                            a:hover {
                                color: #fff;
                            }
                        }
                        li.i_l2 {
                            margin: 0;
                        }
                        li.i_l3 {
                            margin: 0;
                            label {
                                background: url("../images/i_mm.png") no-repeat;
                                background-position: center;
                            }
                        }
                        li.i_l4 {
                            background: transparent;
                            >button {
                                color: #fff;
                                font-size: 24px;
                                width: 100%;
                                height: 100%;
                                border: none;
                                line-height: 48px;
                                background: #a1444c;
                                outline-style: none;
                                transition: background .2s;
                            }
                            >button:hover {
                                cursor: pointer;
                                background: #ba3742;
                            }
                        }
                        li.i_l5 {
                            height: auto;
                            background: transparent;
                            margin: 0;
                            text-align: right;
                            >a {
                                font-size: 14px;
                                color: #b2b2b2;
                                transition: color .2s;
                            }
                            >a:hover {
                                cursor: pointer;
                                color: #fff;
                            }
                        }
                        li.i_erro {
                            margin: 6px 0 24px 0;
                            background: transparent;
                            color: #a1444c;
                            font-size: 14px;
                            text-align: left;
                            height: 16px;
                            line-height: 16px;
                        }
                    }
                }
                form.i_yx_login {}
                form.i_dx_login {
                    li.i_l3 {
                        input {
                            width: 160px;
                            float: left;
                        }
                        p {
                            width: 160px;
                            right: auto;
                            left: 48px;
                        }
                        span {
                            display: block;
                            float: right;
                            width: 104px;
                            height: 100%;
                            text-align: center;
                            font-size: 18px;
                            line-height: 48px;
                            color: #b6434d;
                        }
                        span:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

.c_content {
    max-width: 1920px;
    min-width: 1200px;
    height: auto;
    overflow: hidden;
    background: url("../images/c_bimg.jpg") no-repeat;
    background-size: cover;
    background-color: #fff;
    background-position: center 0;
}

.i-news {
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

.i-n-title {
    width: 100%;
    height: auto;
    overflow: hidden;
    img {
        width: auto;
        height: auto;
        float: left;
    }
    a {
        display: block;
        font-size: 16px;
        color: #999999;
        float: right;
        transition: all .3s;
        -webkit-transition: all .3s;
    }
    a:hover {
        color: #ae3434;
    }
}

.i-gg-zh {
    width: 100%;
    height: auto;
    margin: 20px 0 0 0;
    h1 {
        display: inline-block;
        font-size: 20px;
        color: #ae3434;
        margin: 0 20px 0 0;
        font-weight: bold;
    }
    p {
        width: 90%;
        height: 18px;
        display: inline-block;
        font-size: 16px;
        line-height: 18px;
        a {
            color: #171717;
        }
    }
}

.i-gg-en {
    width: 100%;
    height: auto;
    margin: 20px 0 0 0;
    h1 {
        display: inline-block;
        font-size: 20px;
        color: #ae3434;
        margin: 0 20px 0 0;
        font-weight: bold;
    }
    p {
        width: 70%;
        height: 18px;
        display: inline-block;
        font-size: 16px;
        color: #171717;
        line-height: 18px;
        a {
            color: #171717;
        }
    }
}

.i-n-banner {
    width: 100%;
    height: 340px;
    margin: 20px 0 0 0;
    li {
        width: 580px;
        height: 340px;
        overflow: hidden;
        position: relative;
        img {
            width: 580px;
            height: 340px;
            transition: all .6s;
            -webkit-transition: all .6s;
        }
        p {
            width: 100%;
            height: 50px;
            position: absolute;
            left: 0;
            bottom: 0;
            color: #fff;
            line-height: 50px;
            text-indent: 20px;
            font-size: 16px;
            background: url("../images/c_title_bimg.png") no-repeat;
            background-size: cover;
        }
    }
    li.i-b1 {
        margin: 0 40px 0 0;
    }
    li:hover {
        cursor: pointer;
    }
    li:hover img {
        transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
    }
}

.i_js {
    max-width: 1920px;
    min-width: 1200px;
    margin: 0 auto;
    height: auto;
    margin-top: 90px;
    position: relative;
    >div {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    .list-item {
        width: 100%;
        height: 100%;
        position: absolute;
        li {
            width: 15%;
            height: 100%;
            float: left;
            overflow: hidden;
            background: #f8f6f6;
            border: 1px solid #f8f6f6;
            box-sizing: border-box;
        }
        li:hover {
            cursor: pointer;
        }
        li.list-item-img {
            position: relative;
            overflow: hidden;
            img {
                width: auto;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        li.list-item-text {
            width: 0;
            margin: 0;
            color: #fff;
            border: none;
            background: url("../images/c_bimg2.png") no-repeat;
            background-size: cover;
            background-position: center 0;
            img {
                display: block;
                width: auto;
                height: 50px;
                margin: 0 auto;
                margin-top: 25%;
                margin-bottom: 10%;
            }
            img.title-img-en {
                height: 70px;
            }
            p {
                width: 100%;
                height: 60%;
                line-height: 190%;
                line-height: 180%\9;
                text-align: left;
                font-size: 18px;
                font-size: 14px\9;
                color: #fff;
                padding: 0 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                box-sizing: border-box;
            }
            a {
                display: block;
                width: 114px;
                height: 38px;
                float: right;
                margin: 0 10% 0 0;
                text-align: center;
                color: #fff;
                line-height: 38px;
                font-size: 18px;
                border: 1px solid #fff;
                transition: all .3s;
                -webkit-transition: all .3s;
                width: 100px\9;
                height: 30px\9;
                line-height: 30px\9;
                font-size: 14px\9;
            }
            a:hover {
                background: #641212;
                border: 1px solid #641212;
            }
        }
        li.textHide {}
        li.active {
            overflow: visible;
            background: #f9f0f0;
        }
    }
}

.i-videoBox {
    max-width: 1920px;
    min-width: 1200px;
    margin: 0 auto;
    margin-top: 90px;
    height: auto;
    position: relative;
    div {
        width: 100%;
        height: 500px;
        overflow: hidden;
        position: relative;
        .i-v-bImg {
            width: 1920px;
            height: 500px;
            animation: scale1 5s linear infinite alternate;
            -webkit-animation: scale1 5s linear infinite alternate;
        }
        div {
            width: 327px;
            height: 312px;
            position: absolute;
            margin: auto;
            top: 12px;
            left: 0;
            right: 0;
            background: url(../images/more_vBimg.png) no-repeat;
            background-position: 60px 0;
            a {
                display: inline-block;
                width: auto;
                height: auto;
                img {
                    width: 100%;
                    height: 45px;
                    position: absolute;
                    top: 150px;
                    left: 0;
                    transition: all .3s;
                    -webkit-transition: all .3s;
                }
                img.show {
                    opacity: 1;
                }
                img.hover {
                    opacity: 0;
                    display: none\9;
                }
            }
            a:hover img.show {
                opacity: 0;
                display: none\9;
            }
            a:hover img.hover {
                opacity: 1;
                display: block\9;
            }
        }
    }
    .i-v-list {
        width: 1200px;
        height: 300px;
        position: absolute;
        margin: auto;
        top: 350px;
        left: 0;
        right: 0;
        li {
            float: left;
            width: 600px;
            height: 300px;
            position: relative;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                transition: all .8s;
                -webkit-transition: all .8s;
            }
            label {
                display: block;
                width: 52px;
                height: 45px;
                position: absolute;
                margin: auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: url("../images/v_pIcon.png") no-repeat;
                background-size: cover;
            }
            label:hover {
                cursor: pointer;
            }
        }
        li:hover {
            cursor: pointer;
        }
        li:hover img {
            transform: scale(1.1, 1.1);
            -webkit-transform: scale(1.1, 1.1);
        }
    }
}

.i-faq {
    width: 1200px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 240px;
    margin-bottom: 70px;
    ul {
        width: 520px;
        height: auto;
        float: left;
        li {
            width: 100%;
            height: 60px;
            font-size: 18px;
            line-height: 60px;
            border-bottom: 1px dashed #EDEDED;
            a {
                color: #000;
                transition: all .3s;
                -webkit-transition: all .3s;
            }
            a:hover {
                color: #ae3434;
            }
        }
        li.i-f-title {
            width: 100%;
            height: auto;
            border: none;
            overflow: hidden;
            img {
                width: auto;
                height: auto;
                float: left;
            }
            a {
                display: block;
                float: right;
                font-size: 16px;
                color: #999999;
                transition: all .3s;
                -webkit-transition: all .3s;
            }
            a:hover {
                color: #ae3434;
            }
        }
    }
    ul.i-f-war {
        float: right;
    }
}

.i-inf {
    display: block;
    height: 280px;
    overflow: hidden;
    background: #ececec;
    >div {
        margin-top: 70px;
    }
}

@media (min-width:0) and (max-width: 1200px) {
    .i_js {
        .list-item {
            li.list-item-text {
                overflow: hidden;
                img {
                    height: 30px;
                    margin-top: 22%;
                    margin-bottom: 8%;
                }
                img.title-img-en {
                    height: 35px;
                    margin-top: 12%;
                    margin-bottom: 6%;
                }
                p {
                    height: 66%;
                    font-size: 14px;
                    line-height: 170%;
                    margin-bottom: 10px;
                }
                p.inf-en {
                    height: 72%;
                    font-size: 13px;
                    line-height: 150%;
                }
                a {
                    width: 70px;
                    height: 21px;
                    line-height: 21px;
                    font-size: 12px;
                }
            }
        }
    }
}

@media (min-width:1200px) and (max-width: 1400px) {
    .i_js {
        .list-item {
            li.list-item-text {
                overflow: hidden;
                img {
                    height: 30px;
                    margin-top: 22%;
                    margin-bottom: 8%;
                }
                img.title-img-en {
                    height: 35px;
                    margin-top: 12%;
                    margin-bottom: 6%;
                }
                p {
                    height: 66%;
                    font-size: 14px;
                    line-height: 170%;
                    margin-bottom: 10px;
                }
                p.inf-en {
                    height: 72%;
                    font-size: 13px;
                    line-height: 150%;
                }
                a {
                    width: 70px;
                    height: 21px;
                    line-height: 21px;
                    font-size: 12px;
                }
            }
        }
    }
}

@media (min-width:1400px) and (max-width: 1600px) {
    .i_js {
        .list-item {
            li.list-item-text {
                overflow: hidden;
                img {
                    height: 35px;
                    margin-top: 22%;
                    margin-bottom: 8%;
                }
                img.title-img-en {
                    height: 45px;
                    margin-top: 18%;
                    margin-bottom: 6%;
                }
                p {
                    height: 64%;
                    font-size: 15px;
                    line-height: 175%;
                    margin-bottom: 10px;
                }
                p.inf-en {
                    height: 65%;
                    font-size: 14px;
                    line-height: 160%;
                }
                a {
                    width: 80px;
                    height: 24px;
                    line-height: 24px;
                    font-size: 14px;
                }
            }
        }
    }
}

@media (min-width:1600px) and (max-width: 1920px) {
    .i_js {
        .list-item {
            li.list-item-text {
                overflow: hidden;
                img {
                    height: 40px;
                    margin-top: 25%;
                    margin-bottom: 10%;
                }
                img.title-img-en {
                    height: 50px;
                    margin-top: 20%;
                    margin-bottom: 8%;
                }
                p {
                    height: 64%;
                    font-size: 16px;
                    line-height: 180%;
                    margin-bottom: 10px;
                }
                p.inf-en {
                    height: 64%;
                    line-height: 160%;
                }
                a {
                    width: 90px;
                    height: 27px;
                    line-height: 27px;
                    font-size: 14px;
                }
            }
        }
    }
}

@media (min-width:1920px) and (max-width: 8000px) {
    .i_js {
        .list-item {
            li.list-item-text {
                overflow: hidden;
                img {
                    height: 50px;
                    margin-top: 80px;
                    margin-bottom: 30px;
                }
                img.title-img-en {
                    height: 70px;
                    margin-top: 60px;
                    margin-bottom: 30px;
                }
                p {
                    font-size: 18px;
                    height: 400px;
                    line-height: 30px;
                    margin-bottom: 10px;
                }
                p.inf-en {
                    line-height: 30px;
                }
            }
        }
    }
}