.i_head {
  height: 110px;
}
.i_head .i_h_content {
  height: 110px;
  background: #272727;
}
.n_banner {
  width: 100%;
  max-width: 1920px;
  height: 370px;
  background: url("../images/n_img1_02.jpg") no-repeat;
  background-position: center 0;
}
.n_content {
  width: 1200px;
  margin: 0 auto;
}
.n_c_title {
  margin: 30px 0 0 0;
  padding: 0 0 24px 0;
  overflow: hidden;
  border-bottom: 3px solid #cfcfcf;
}
.n_c_title > h1 {
  float: left;
  font-size: 32px;
  font-weight: bold;
}
.n_c_title > p {
  float: right;
  font-size: 14px;
  color: #aeaeae;
  margin: 20px 0 0 0;
}
.n_c_title > p > a {
  color: #aeaeae;
  transform: color .2s;
}
.n_c_title > p > a:hover {
  color: #bf1615;
}
.theList {
  width: 1200px;
  height: auto;
  margin: 0 auto;
}
.theList li {
  width: 100%;
  height: 100px;
  border-bottom: 1px dashed #aaaaaa;
  line-height: 100px;
}
.theList li a {
  color: #261e1e;
  transition: all .2s;
  -webkit-transition: all .2s;
}
.theList li a:hover {
  color: #ae3434;
}
.page {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 80px;
  text-align: center;
  overflow: hidden;
}
.page li {
  width: auto;
  height: auto;
  margin: 0 10px 0 0;
  display: inline-block;
}
.page li > a {
  display: block;
  padding: 6px 8px;
  border: 1px solid #949494;
  box-sizing: border-box;
  border-radius: 2px;
  color: #949494;
  font-size: 14px;
  transition: all .2s;
}
.page li > span {
  color: #949494;
  font-size: 14px;
  transition: all .2s;
}
.page li > a:hover {
  cursor: pointer;
  border: 1px solid #ef515c;
  background: #ef515c;
  color: #fff;
}
.page li > span:hover {
  cursor: pointer;
  color: #ef515c;
}
.page li.prev > span {
  display: block;
  padding: 6px 8px;
  border: 1px solid #949494;
  box-sizing: border-box;
  border-radius: 2px;
  color: #949494;
  font-size: 14px;
  transition: all .2s;
}
.page li.next > span {
  display: block;
  padding: 6px 8px;
  border: 1px solid #949494;
  box-sizing: border-box;
  border-radius: 2px;
  color: #949494;
  font-size: 14px;
  transition: all .2s;
}
.page li.last > a {
  display: inline-block;
  padding: 0;
  border: none;
}
.page li.last > a:hover {
  background: #fff;
  color: #ef515c;
}
.page li.active > a {
  border: 1px solid #ef515c;
  background: #ef515c;
  color: #fff;
}
