body{font-family: "微软雅黑";background: #000;}
/*input placeholder 颜色*/
::-webkit-input-placeholder { /* WebKit browsers */
	color: #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #fff;
}
/*视频*/
#mask{display: none; width: 100%; height: 100%;background: url(../../common/images/d.png) repeat; position: fixed; margin: 0 auto; top: 0;left: 0; z-index:200;}
#video_tck{ display: none; width: 100%;height:100%;position: fixed; top:0; left:0;z-index: 1000;background:rgba(0,0,0,.5)}
#close {z-index: 99999999; width:0.93750rem;height:0.93750rem; display: block; position: absolute; top: -0.8rem; right:-0.8rem; background: url(../images/c.png) no-repeat;cursor: pointer; background-size:100% 100%;}
#player5{ width:80%;height:100%;color:#000; position: absolute;left:50%;top:30%;margin-left:-40%;z-index: 1000;}
#player5 video{width: 100%;}

.i_wrap{
	width: 100%;
	padding-bottom: 3rem;
	overflow: hidden;
	background-color: #1C1927;
}
.yzr_next{
	width: 1.062rem;
	height: 0.937rem;
	display: block;
	position: fixed;
	left: 50%;
	margin-left: -0.5031rem;
	bottom: 3.2rem;
	background-image: url(../images/yzr2-m-next.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: 111;
}
.i_m1{
	width: 100%;
	height: 35.5rem;
	background-image: url(../images/i_banner.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.i_logo{
	display: block;
	width: 8.219rem;
	height: 6.281rem;
}
.i_logo img{
	display: block;
	width: 100%;
	height: 100%;
}
.i_video{
	width: 2.688rem;
	height: 2.688rem;
	background-image: url(../images/i_video.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 13rem;
	right: 3.5rem;
}
.i_slagan{
	width: 100%;
	height: 7.438rem;
	background-image: url(../images/i_slagan.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	bottom: 5rem;
	right: 0;
}
.i_slagan a{
	display: block;
	width: 100%;
	height: 100%;
}
.i_bot{
	width: 100%;
	height: 3.0rem;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 999;
	background-color: #1C1927;
	overflow: hidden;
}
.i_icon{
	display: block;
	width: 2.531rem;
	height: 2.531rem;
	float: left;
	margin-left: 0.5rem;
	margin-top: 0.234rem;
}
.i_bot_text{
	float: left;
	height: 100%;
	margin-left: 0.5rem;
	overflow: hidden;
}
.i_bot_text h3{
	font-size: 0.875rem;
	color: #fff;
	margin-top: 0.3rem;
}
.i_bot_text p{
	font-size: 0.625rem;
	color: #fff;
	margin-top: 0.2rem;
}
.i_btn_down{
	display: block;
	float: right;
	width: 3.625rem;
	height: 1.219rem;
	margin-right: 0.5rem;
	margin-top: 0.89rem;
	background-image: url(../images/i_btn_down.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.i_btn_lb{
	display: block;
	float: right;
	width: 3.625rem;
	height: 1.219rem;
	margin-right: 0.2rem;
	margin-top: 0.89rem;
	background-image: url(../images/yue_btn.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.i_m2{
	width: 100%;
	height: 27.844rem;
	overflow: hidden;
	background-image: url(../images/i_m2_bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.swiper-container{ width: 100%;height: 27.844rem;}
.swiper-container .swiper-wrapper{width: 98%; margin: 1rem auto 0;}
.swiper-container .swiper-wrapper .swiper-slide{width: 13.438rem;height: 23.906rem;margin-left: 0.625rem;}
.swiper-container .swiper-wrapper .swiper-slide img{
	width: 100%;
	display: block;
}
.i_m2 .swiper-pagination{
    width: 100%;
    left: 0;
    bottom: 0.5rem;
}
.i_m2 .swiper-pagination .swiper-pagination-bullet{
    background:url(../images/i_m2_ico.png) no-repeat;
    background-size:100%;
    width:0.6875rem;
    height:0.75rem;
    border-radius: 0;
    margin: 0 0.15625rem;
}
.i_m2 .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    width:0.6875rem;
    height:0.75rem;
    background:url(../images/i_m2_icoon.png) no-repeat;
    background-size: 100%;
}
.i_m3{
	width: 100%;
	height: 26.781rem;
	overflow: hidden;
	background-image: url(../images/i_m3_bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.i_m3 h3{
	width: 100%;
	margin-top: 0.5rem;
	text-align: center;
	font-size: 1.5rem;
	color: #fff;
	font-weight: normal;
}
.i_m3_lb{
	width: 100%;
}
.i_m3_lbcon{
	width: 17.562rem;
	height: 9.219rem;
	margin: 0.5rem auto;
	position: relative;
}
.swiper-container2{ width: 100%;height: 9.219rem;margin: 0.5rem auto;overflow: hidden;}
.swiper-container2 .swiper-wrapper{width: 100%;}
.swiper-container2 .swiper-wrapper .swiper-slide{width: 17.562rem;height: 9.219rem;}
.swiper-container2 .swiper-wrapper .swiper-slide img{
	width: 100%;
	display: block;
}
.i_m3_lbcon .swiper-pagination2{
    width: 100%;
    left: 0;
    bottom: 0.5rem;
    position: absolute;
    z-index: 1;
}
.i_m3_lbcon .swiper-pagination2 .swiper-pagination-bullet{
    background:url(../images/i_m3_ico.png) no-repeat;
    background-size:100%;
    width:0.4375rem;
    height:0.4375rem;
    border-radius: 0;
    margin: 0 0.15625rem;
}
.i_m3_lbcon .swiper-pagination2 .swiper-pagination-bullet.swiper-pagination-bullet-active{
    width:1.125rem;
    height:0.40625rem;
    background:url(../images/i_m3_icoon.png) no-repeat;
    background-size: 100%;
}
.i_m3_nav{
	width: 17.562rem;
	height: 1.406rem;
	margin: 0.2rem auto;
	background-color: #E4B422;
	position: relative;
}
.i_m3_more{
	display: block;
	width: 0.906rem;
	height: 0.906rem;
	position: absolute;
	right: 0.5rem;
	top: 0.25rem;
	background-image: url(../images/i_m3_ico_more.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.i_m3_nav ul{
	height: 100%;
	/* margin-left: 0.5rem; */
	overflow: hidden;
}
.i_m3_nav ul li{
	float: left;
	width: 2.469rem;
	height: 1.25rem;
	overflow: hidden;
	margin: 0.156rem 0.1rem 0;
}
.i_m3_nav ul li.on{
	background-image: url(../images/i_m3_nav_bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.i_m3_nav ul li.on span{
	color: #fff;
}
.i_m3_nav ul li span{
	height: 1.25rem;
	line-height: 1.25rem;
	display: block;
	margin-left: 0.4rem;
	font-size: 0.562rem;
	color: #000;
}
.i_m3_con{
	width: 17.562rem;
	margin: 0 auto;
}
.i_m3_inf{
	width: 100%;
}
.i_m3_inf ul{
	width: 100%;
	overflow: hidden;
}
.i_m3_inf ul li{
	width: 100%;
	height: 1.938rem;
	border-bottom: 1px solid #6A6A6A;
}
.i_m3_inf ul li a{
	width: 100%;
	height: 1.938rem;
	font-size: 0.562rem;
	color: #fff;
	overflow: hidden;
	line-height: 1.938rem;
}
.i_m3_inf ul li a em{
	display: block;
	font-style: normal;
	color: #cc3;
	height: 100%;
	float: left;
}
.i_m3_inf ul li a p{
	height: 100%;
	float: left;
	margin-left: 0.3rem;
	width:10rem;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.i_m3_inf ul li a span{
	height: 100%;
	float: right;
}
.i_m4{
	width: 100%;
	height: 33.969rem;
	overflow: hidden;
	background-image: url(../images/i_m4_bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.i_m4_more{
	display: block;
	width: 0.906rem;
	height: 0.906rem;
	position: absolute;
	right: 1.5rem;
	top: 1.2rem;
	background-image: url(../images/i_m4_ico_more.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.i_m4 h3{
	width: 100%;
	margin-top: 0.5rem;
	text-align: center;
	font-size: 1.5rem;
	color: #fff;
	font-weight: normal;
}
.i_m4con{
	width: 100%;
	height: 28rem;
	overflow: hidden;
}
.i_m4_lb{
	width: 100%;
	height: 28rem;
	position: relative;
}
.i_m4_lb .i_m4_prev{
	width: 2.156rem;
	height: 2.188rem;
	display: block;
	position: absolute;
	left: 1rem;
	top: 9rem;
	background-image: url(../images/i_m4_prev.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-animation: shake 4s ease infinite 0s both;
	-moz-animation: shake 4s ease infinite 0s both;
	-o-animation: shake 4s ease infinite 0s both;
	animation: shake 4s ease infinite 0s both;
}
.i_m4_lb .i_m4_next{
	width: 2.156rem;
	height: 2.188rem;
	display: block;
	position: absolute;
	right: 1rem;
	top: 9rem;
	background-image: url(../images/i_m4_next.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-animation: shake 4s ease infinite 2s both;
	-moz-animation: shake 4s ease infinite 2s both;
	-o-animation: shake 4s ease infinite 2s both;
	animation: shake 4s ease infinite 2s both;
}
@-webkit-keyframes shake {
	0%, 100% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-0.3125rem);
		transform: translateX(-0.3125rem)
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(0.3125rem);
		transform: translateX(0.3125rem)
	}
}
@keyframes shake {
	0%, 100% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0)
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-0.3125rem);
		-ms-transform: translateX(-0.3125rem);
		transform: translateX(-0.3125rem)
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(0.3125rem);
		-ms-transform: translateX(0.3125rem);
		transform: translateX(0.3125rem)
	}
}
.i_m4_lbbox{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.i_m4_lbbox ul{
	height: 100%;
	position: absolute;
	top: 0;
}
.i_m4_lbbox ul li{
	width: 20rem;
	height: 100%;
	float: left;
	position: relative;
}
.i_m4_lbbox ul li img{
	width: 100%;
	height: 22.5rem;
	display: block;
}
.i_m4_lbbox ul li .i_m4_inf{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
}
.i_m4_lbbox ul li .i_m4_inf img{
	display: block;
	width: 100%;
	height: 3.75rem;
}
.i_m4_lbbox ul li .i_m4_inf h3{
	width: 17.56rem;
	height: 3.0rem;
	margin: 0 auto;
	line-height: 3.0rem;
	font-size: 0.875rem;
	color: #fff;
	text-align: center;
	border-bottom: 1px solid #565656;
}
.i_m4_lbbox ul li .i_m4_inf p{
	margin: 0 auto;
	width: 17.56rem;
	line-height: 1.5;
	font-size: 0.5rem;
	color: #fff;
}
.i_m4_more2{
	display: block;
	width: 3.906rem;
	height: 1.562rem;
	line-height: 1.562rem;
	text-align: center;
	margin: 1.3rem auto 0;
	border-radius: 0.09375rem;
	font-size: 0.5rem;
	color: #000;
	background-color: #AEA4FF;
}
.i_m5{
	width: 100%;
	height: 21.062rem;
	overflow: hidden;
	background-image: url(../images/i_m5_bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.i_m5_more{
	display: block;
	width: 0.906rem;
	height: 0.906rem;
	position: absolute;
	right: 1.5rem;
	top: 1.2rem;
	background-image: url(../images/i_m4_ico_more.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.i_m5 h3{
	width: 100%;
	margin-top: 0.5rem;
	text-align: center;
	font-size: 1.5rem;
	color: #fff;
	font-weight: normal;
}
.i_m5_img1,.i_m5_img2{
	width: 17.906rem;
	height: 10.219rem;
	margin: 0.7rem auto;
	overflow: hidden;
}
.i_m5_img1 a,.i_m5_img1 a img,.i_m5_img2 a img{
	display: block;
	width: 100%;
	height: 100%;
}
.i_m5_img2 a:nth-of-type(1){
	display: block;
	width: 8.625rem;
	height: 4.969rem;
	float: left;
}
.i_m5_img2 a:nth-of-type(2){
	display: block;
	width: 8.625rem;
	height: 4.969rem;
	float: right;
}
.i_m6{
	width: 100%;
	margin: 1rem auto;
	overflow: hidden;
}
.i_m6 a{
	height: 1.156rem;
	display: block;
	float: left;
}
.i_m6 a.i_m6_wx{
	width: 4.531rem;
	margin-left: 0.6rem;
	overflow: hidden;
}
.i_m6 a.i_m6_wb,.i_m6 a.i_m6_qq,.i_m6 a.i_m6_tb{
	width: 4.531rem;
	margin-left: 0.2rem;
	overflow: hidden;
}
.i_m6 a.i_m6_wx i{
	float: left;
	display: block;
	width: 1.562rem;
	height: 1.156rem;
	background-image: url(../images/i_fot_ico_wx.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.i_m6 a.i_m6_wx.on i{
	background-image: url(../images/i_fot_ico_wxon.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.i_m6 a.i_m6_wb i{
	float: left;
	display: block;
	width: 1.562rem;
	height: 1.156rem;
	background-image: url(../images/i_fot_ico_wb.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.i_m6 a.i_m6_qq i{
	float: left;
	display: block;
	width: 1.562rem;
	height: 1.156rem;
	background-image: url(../images/i_fot_ico_qq.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.i_m6 a.i_m6_tb i{
	float: left;
	display: block;
	width: 1.562rem;
	height: 1.156rem;
	background-image: url(../images/i_fot_ico_tb.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.i_m6 a.i_m6_wx span.i_m6_wxspan1,.i_m6 a.i_m6_wb span,.i_m6 a.i_m6_qq span,.i_m6 a.i_m6_tb span{
	display: block;
	float: right;
	height: 1.0rem;
	width: 2.625rem;
	border-radius: 0.09375rem;
	background-color: #AEA4FF;
	text-align: center;
	line-height: 1rem;
	font-size: 0.438rem;
	color: #333366;
}
.i_m6 a.i_m6_wx span.i_m6_wxspan2{
	background-color: #E4B422;
	display: none;
	text-align: center;
	line-height: 1rem;
	font-size: 0.438rem;
	color: #333366;
	float: right;
	height: 1.0rem;
	width: 2.625rem;
	border-radius: 0.09375rem;
}
.i_m7{
	width: 100%;
	overflow: hidden;
	margin: 0.5rem auto;
}
.i_m7_logo{
	width: 4.875rem;
	height: 1.406rem;
	float: left;
	margin-left: 0.5rem;
	margin-top: 0.2rem;
}
.i_m7_logo img{
	display: block;
	width: 100%;
	height: 100%;
}
.i_m7_text{
	float: left;
}
.i_m7_text p{
	font-size: 0.438rem;
	color: #669;
	line-height: 1.4;
}

/*礼包*/
.lb_wrap{
	width: 100%;
	padding: 2.125rem 0 3rem;
	overflow: hidden;
	background-color: #000;
}
.lb_top{
	width: 100%;
	height: 2.125rem;
	background-image: url(../images/top_bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
}
.lb_top .lb_return{
	display: block;
	height: 100%;
	float: left;
	padding-left: 2.5rem;
	line-height: 2.125rem;
	font-size: 0.75rem;
	color: #fff;
}
.lb_top span{
	width: 3rem;
	height: 100%;
	display: block;
	float: right;
}
.lb_menu{
	width: 6.406rem;
	padding: 1.5rem 0;
	position: fixed;
	right: 0;
	top: 2.125rem;
	z-index: 999;
	display: none;
	background: url(../images/lb_menu_bg.png) repeat;
}
.lb_menu ul{
	width: 100%;
}
.lb_menu ul li{
	width: 100%;
	height: 2.188rem;
	border-bottom: 1px solid #929192;
}
.lb_menu ul li a{
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 2.188rem;
	font-size: 0.75rem;
	color: #fff;
}
.lb_lb{
	width: 100%;
	overflow: hidden;
}
.lb_lb ul{
	width: 100%;
	margin-top: 1rem;
	margin-left: 0.6rem;
	overflow: hidden;
}
.lb_lb ul li{
	width: 5.781rem;
	height: 5.625rem;
	float: left;
	margin: 0.5rem 0.25rem;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.lb_lb ul li img{
	width: 5.781rem;
	height: 5.625rem;
	margin: 0.062rem auto 0;
	display: block;
}
.lb_lb ul li p{
	width: 100%;
	text-align: center;
	font-size: 0.688rem;
	color: #fff;
	margin-top: 0.4rem;
}
.lb_inf{
	width: 100%;
	margin-top: 0.5rem;
	overflow: hidden;
}
.lb_ewm{
	width: 8.25rem;
	height: 8.25rem;
	float: left;
	margin-left: 0.8rem;
	border: 0.0625rem solid #BCB8EE;
}
.lb_ewm img{
	display: block;
	width: 100%;
	height: 100%;
}
.lb_text{
	float: left;
	margin-left: 1rem;
	margin-top: 1.2rem;
}
.lb_text p{
	font-size: 0.688rem;
	color: #fff;
	line-height: 2;
}
.lb_text p span{
	color: #900;
}

/*文章页*/

.a_wrap{
	width: 100%;
	min-height: 23.4375rem;
	padding: 2.125rem 0 3rem;
	overflow: hidden;
	background-color: #fff;
}
.a_con{
	width: 100%;
	overflow: hidden;
}
.a_contop{
	width: 18.438rem;
	padding: 0.5rem 0;
	margin: 0 auto;
	border-bottom: 1px solid #A0A0A0;
}
.a_contop h3{
	width: 100%;
	text-align: center;
	font-size: 0.75rem;
	color: #000;
	line-height: 1.5;
}
.a_contop p{
	width: 100%;
	text-align: center;
	font-size: 0.438rem;
	color: #666;
	line-height: 1.5;
}
.a_inf{
	width: 18.438rem;
	margin: 1rem auto 0;
	padding-bottom: 2rem;
	position: relative;
}
.a_inf .share{
	position: absolute;
	right: 0;
	bottom: 1rem;
}
.a_inf p{
	width: 100%;
	font-size: 0.438rem;
	color: #333;
	line-height: 2;
}
.a_inf img{
	max-width: 100%;
	margin: 0.5rem auto;
}

/*英雄资料*/
.hero{
	width: 100%;
}
.i_m4_lbbox ul li .h_m4_inf{
	position: absolute;
	width: 17.6rem;
	left: 50%;
	margin-left: -8.8rem;
	bottom: 0;
	border-bottom: 1px solid #565656;
	padding-bottom: 0.5rem;
	overflow: hidden;
}
.i_m4_lbbox ul li .h_m4_inf i{
	height: 3.75rem;
	display: block;
}
.i_m4_lbbox ul li:nth-of-type(1) .h_m4_inf i{
	width: 3.75rem;
	background-image: url(../images/i_m4_ico_01.png);
	background-repeat: no-repeat;
	background-size: 20rem 3.75rem;
	background-position: -8.3rem 0;
}
.i_m4_lbbox ul li:nth-of-type(2) .h_m4_inf i{
	width: 6.9375rem;
	background-image: url(../images/i_m4_ico_02.png);
	background-repeat: no-repeat;
	background-size: 20rem 3.75rem;
	background-position: -6.125rem 0;
}
.i_m4_lbbox ul li:nth-of-type(3) .h_m4_inf i{
	width: 6.9375rem;
	background-image: url(../images/i_m4_ico_03.png);
	background-repeat: no-repeat;
	background-size: 20rem 3.75rem;
	background-position: -6.125rem 0;
}
.i_m4_lbbox ul li:nth-of-type(4) .h_m4_inf i{
	width: 6.9375rem;
	background-image: url(../images/i_m4_ico_04.png);
	background-repeat: no-repeat;
	background-size: 20rem 3.75rem;
	background-position: -6.125rem 0;
}
.i_m4_lbbox ul li:nth-of-type(5) .h_m4_inf i{
	width: 6.9375rem;
	background-image: url(../images/i_m4_ico_05.png);
	background-repeat: no-repeat;
	background-size: 20rem 3.75rem;
	background-position: -6.125rem 0;
}
.i_m4_lbbox ul li:nth-of-type(6) .h_m4_inf i{
	width: 6.9375rem;
	background-image: url(../images/i_m4_ico_06.png);
	background-repeat: no-repeat;
	background-size: 20rem 3.75rem;
	background-position: -6.125rem 0;
}
.i_m4_lbbox ul li:nth-of-type(7) .h_m4_inf i{
	width: 6.9375rem;
	background-image: url(../images/i_m4_ico_07.png);
	background-repeat: no-repeat;
	background-size: 20rem 3.75rem;
	background-position: -6.125rem 0;
}
.i_m4_lbbox ul li:nth-of-type(8) .h_m4_inf i{
	width: 6.9375rem;
	background-image: url(../images/i_m4_ico_08.png);
	background-repeat: no-repeat;
	background-size: 20rem 3.75rem;
	background-position: -6.125rem 0;
}
.i_m4_lbbox ul li:nth-of-type(9) .h_m4_inf i{
	width: 6.9375rem;
	background-image: url(../images/i_m4_ico_09.png);
	background-repeat: no-repeat;
	background-size: 20rem 3.75rem;
	background-position: -6.125rem 0;
}
.i_m4_lbbox ul li:nth-of-type(10) .h_m4_inf i{
	width: 6.9375rem;
	background-image: url(../images/i_m4_ico_10.png);
	background-repeat: no-repeat;
	background-size: 20rem 3.75rem;
	background-position: -6.125rem 0;
}
.i_m4_lbbox ul li:nth-of-type(11) .h_m4_inf i{
	width: 9.6875rem;
	background-image: url(../images/i_m4_ico_11.png);
	background-repeat: no-repeat;
	background-size: 20rem 3.75rem;
	background-position: -5.1875rem 0;
}
.i_m4_lbbox ul li:nth-of-type(12) .h_m4_inf i{
	width: 3.75rem;
	background-image: url(../images/i_m4_ico_12.png);
	background-repeat: no-repeat;
	background-size: 20rem 3.75rem;
	background-position: -8.3rem 0;
}
.i_m4_lbbox ul li .h_m4_inf h3{
	font-size: 0.875rem;
	color: #fff;
}
.h_con{
	width: 100%;
}
.h_inf{
	width: 17.688rem;
	margin: 0.5rem auto;
	overflow: hidden;
}
.h_inf .item{
	width: 100%;
	overflow: hidden;
}
.h_inf .item span{
	display: block;
	height: 1.75rem;
	line-height: 1.75rem;
	font-size: 0.625rem;
	color: #fff;
	float: left;
}
.h_inf .item div{
	float: left;
	width: 15.312rem;
	overflow: hidden;
}
.h_inf .item div img{
	width: 1.75rem;
	height: 1.75rem;
	margin: 0 0.2rem;
	display: inline-block;
}
.h_inf .item div p{
	width: 100%;
	font-size: 0.5rem;
	color: #fff;
	margin-top: 0.3rem;
	line-height: 2;
}

/*游戏影画*/


.yh{
	width: 100%;
	overflow: hidden;
}
.yh ul{
	width: 100%;
	margin-top: 1rem;
	margin-left: 0.6rem;
	overflow: hidden;
}
.yh ul li{
	width: 8.75rem;
	height: 5.5rem;
	float: left;
	margin: 0.594rem 0.312rem;
	overflow: hidden;
	border: 0.0625rem solid #737095;
}
.yh ul li img{
	width: 100%;
	height: 100%;
	display: block;
}
.yh_btn{
	width: 3.906rem;
	height: 1.562rem;
	display: block;
	margin: 1rem auto;
	line-height: 1.562rem;
	text-align: center;
	font-size: 0.5rem;
	color: #000;
	border-radius: 0.15625rem;
	background-color: #AEA4FF;
}

/*列表页*/
.l_con{
	width: 100%;
	overflow: hidden;
}
.l_nav{
	width: 18.594rem;
	height: 1.656rem;
	margin: 0 auto;
	border-bottom: 0.0625rem solid #6F6E6E;
}
.l_nav ul{
	overflow: hidden;
}
.l_nav ul li{
	float: left;
	width: 2.25rem;
	height: 1.656rem;
}
.l_nav ul li a{
	font-size: 0.562rem;
	color: #545353;
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 1.656rem;
}
.l_inf{
	width: 100%;
}
.l_infcon{
	width: 18.594rem;
	margin: 0 auto;
}
.l_infcon ul{
	width: 100%;
}
.l_infcon ul li{
	width: 100%;
	height: 2.031rem;
	border-bottom: 1px solid #B5B5B5;
}
.l_infcon ul li a{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 0.562rem;
	color: #545353;
}
.l_infcon ul li:last-child{
	border: 0;
}
.l_infcon ul li a p{
	width: 11.719rem;
	height: 100%;
	float: left;
	line-height: 2.031rem;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.l_infcon ul li a span{
	float: right;
	height: 100%;
	display: block;
	line-height: 2.031rem;
}
.l_more{
	width: 100%;
	height: 1.75rem;
	background-color: #D6D6D6;
	text-align: center;
	line-height: 1.75rem;
	display: block;
	font-size: 0.562rem;
	color: #000;
	margin-top: 0.5rem;
}
.gift_tck{
	display: none;
	width: 19.28125rem;
	height: 14.5rem;
	position: fixed;
	z-index: 99999;
	left:0;
	top:50%;
	margin: -7.25rem 0 0 0;
}
.ico_close{
	width: 1.53125rem;
	height: 1.3125rem;
	background-size: 100% 100%;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 350;
}
.gift_c_m{
	position: absolute;
	top:0;
	width: 17.21875rem;/*617*317*/
	height: 8.90625rem;
	padding: 1rem 0 0 2.0625rem;
	right: 0;
	background: url(../../common/images/gi_m_bg.png) no-repeat;
	background-size: 100% 100%;
	z-index: 300;
}
.gift_c_m p span,.gift_c_m p a,.gift_c_m p input{
	display: block;
	float: left;
}
.gift_c_m p{
	height: 1.25rem;
	line-height: 1.25rem;
	clear: both;
	margin-bottom: 0.375rem;
	color: #fff;
}
.gift_c_m p span{
	color:#fff;
	font-size: 0.625rem;
	margin-right: 0.375rem;
	height: 1.25rem;
	line-height: 1.25rem;
}
.gift_c_m p .ios_btn,.gift_c_m p .anz_btn{
	color: #fff;
	font-size: 0.6875rem;
	width: 3.8125rem;
	height: 1.25rem;
	line-height: 1.25rem;
	text-align: center;
	background: #000;
	border:0.0625rem solid #6859ad;
	margin-right: 0.46875rem;
}
.gift_c_m p .ios_btn.on{
	background: #b0a9ee;
}
.gift_c_m p .anz_btn.on{
	background: #b0a9ee;
}
.gift_c_m p input{
	outline: none;
	color: #fff;
	-webkit-appearance:none;
}
.gift_c_m p .txt{
	width: 7.625rem;
	height: 1.25rem;
	line-height: 1.25rem;
	padding:0 0.3125rem;
	font-size: 0.6875rem;
	margin-right: 0.46875rem;
	background: #b0a9ee;
	border:0.0625rem solid #6859ad;
	border-radius: 0;
}
.gift_c_m p .yzm{
	margin-right: 0.28125rem;
	margin-left: -0.0625rem;
}
.gift_c_m p .js_time,.gift_c_m p .sub_btn{
	color: #fff;
	cursor: pointer;
	border: 0.0625rem solid #6859ad;
	font-weight: bold;
	text-align: center;
	font-size: 0.5rem;
	background: none;
}
.gift_c_m p .js_time{
	width: 4rem;
	font-size: 0.45rem;
	border-radius: 0;
	height: 1.25rem;
	line-height: 1.25rem;
}
.gift_c_m p .sub_btn{
	width: 3.9rem;
	height: 1.2rem;
	line-height: 1.2rem;
	margin-left: -0.0625rem;
}
.gift_c_m .gi_last{
	line-height: 0.9375rem;
	font-size: 0.5rem;
	width: 92%;
}
/*视频站*/
.v_wrap{
	width: 100%;
	min-height: 700px;
	background-color: #fff;
	background-image: url(../images/v_bg.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.v_top{
	width: 100%;
	text-align: right;
}
.v_top a{
	display: inline-block;
	width: 3.625rem;
	height: 1.219rem;
	margin-top: 0.5rem;
	margin-right: 0.5rem;
}
.v_top a.v_gamestyle{
	background-image: url(../images/v_gamestyle.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.v_top a.v_home{
	background-image: url(../images/v_home.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.v_nav{
	width: 100%;
	height: 2.312rem;
	background-image: url(../images/v_tab1.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 12.938rem;
	overflow: hidden;
}
.v_nav span{
	display: block;
	width: 50%;
	height: 100%;
	float: left;
}
.v_con{
	width: 18.125rem;
	margin: 0 auto;
	padding-bottom: 3rem;
}
.v_con .v_inf{
	width: 100%;
}
.v_con .v_inf ul{
	width: 100%;
}
.v_con .v_inf ul li{
	width: 100%;
	height: 5.0rem;
	margin: 0.5rem 0;
	overflow: hidden;
}
.v_con .v_inf ul li .v_left{
	float: left;
	width: 8.8rem;
	height: 100%;
	position: relative;
	background-color: #944444;
}
.v_con .v_inf ul li .v_left img{
	display: block;
	width: 100%;
	height: 100%;
}
.v_con .v_inf ul li .v_left i{
	width: 2.688rem;
    height: 2.688rem;
    display: block;
    background-image: url(../images/i_video.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.v_con .v_inf ul li .v_right{
	width: 9rem;
	height: 100%;
	float: right;
	overflow: hidden;
}
.v_con .v_inf ul li .v_right h3{
	width: 100%;
	height: 1rem;
	font-size: 0.688rem;
	line-height: 1rem;
	color: #3b3a3a;
	overflow: hidden;
}
.v_con .v_inf ul li .v_right p{
	width: 100%;
	height: 2.4rem;
	font-size: 0.625rem;
	line-height: 0.8rem;
	color: #3b3a3a;
	margin-top: 0.6rem;
	overflow: hidden;
}
.v_con .v_inf ul li .v_right span{
	width: 100%;
	height: 1rem;
	font-size: 0.562rem;
	line-height: 1rem;
	color: #3b3a3a;
	overflow: hidden;
	display: block;
	text-align: right;
}
.v_more{
	width: 100%;
	margin: 1rem 0;
	text-align: center;
}
.v_more span{
	display: inline-block;
	font-size: 0.625rem;
	color: #3b3a3a;
}
.v_more i{
	width: 1.094rem;
	height: 1.094rem;
	margin: 0 auto;
	display: block;
	background-image: url(../images/v_more_btn.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.v_tack{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: none;
	background: url(../images/v_mask.png) repeat;
}
.v_tack .v_tackcon{
	width: 15rem;
	position: fixed;
	padding-bottom: 1rem;
	left: 50%;
	margin-left: -7.5rem;
	top: 24%;
	background: url(../images/v_tack_mask.png) repeat;
}
.v_tack .v_tackcon .v_tack_close{
	display: block;
	width: 0.781rem;
	height: 0.781rem;
	position: absolute;
	right: 0.5rem;
	top: 0.5rem;
	overflow: hidden;
	background: url(../images/v_close.png) no-repeat;
	background-size: 100% 100%;
}
.v_tack .v_tackcon h3{
	width: 100%;
	font-weight: normal;
	font-size: 0.969rem;
	color: #fff;
	text-align: center;
	margin-top: 1rem;
}
.v_tack .v_tackcon p{
	width: 13.275rem;
	height: auto;
	margin: 0.2rem auto;
	padding: 0.3rem;
	font-size: 0.688rem;
	color: #fff;
	background-image: url(../images/v_tack_bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.show-wrap{
	width: 100%;
	background: #000;
	position: relative;
}
.show-top{
	position: relative;
	background: url(../images/show-bg01.jpg) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 41.0625rem;
}
.show-top a{
	display: block;
	width: 100%;
}
.show-top span{
	display: block;
	position: absolute;
}
.s-span01,.s-span02,.s-span03{
	width: 4.5625rem;
	height: 3.6875rem;
	-webkit-animation: jump 1s infinite alternate;
-moz-animation: jump 1s infinite alternate;
-o-animation: jump 1s infinite alternate;
-ms-animation: jump 1s infinite alternate;
animation: jump 1s infinite alternate;
}
.show-top .s-a01{
	height: 11.125rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 15;

}
.show-top .s-a02{
	height: 10.125rem;
	position: absolute;
	top: 11.125rem;
	left: 0;
	z-index: 12;
}
.show-top .s-a03{
	height: 12.03125rem;
	position: absolute;
	top: 21.25rem;
	left: 0;
	z-index: 10;
}
.show-top .s-a01{
	height: 11.125rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 15;
}
.show-top .s-span01{
	background: url(../images/show-name1.png) no-repeat;
	background-size: 100% 100%;
	top: 8.5625rem;
	right: 1.53125rem;
	animation-delay: .1s;
	-moz-animation-delay: .1s;
	-webkit-animation-delay: .1s;
	-o-animation-delay: .1s;
	-ms-animation-delay: .1s;
}
.show-top .s-span02{
	background: url(../images/show-name2.png) no-repeat;
	background-size: 100% 100%;
	top: 18.1875rem;
	left: 2.5rem;
	animation-delay: .3s;
	-moz-animation-delay: .3s;
	-webkit-animation-delay: .3s;
	-o-animation-delay: .3s;
	-ms-animation-delay: .3s;
}
.show-top .s-span03{
	background: url(../images/show-name3.png) no-repeat;
	background-size: 100% 100%;
	top: 25.8125rem;
	right: 1.1875rem;
	animation-delay: .2s;
	-moz-animation-delay: .2s;
	-webkit-animation-delay: .2s;
	-o-animation-delay: .2s;
	-ms-animation-delay: .2s;
}
.show-top .s-font{
	background: url(../images/show-font.png) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 8.53125rem;
	bottom: 0;
	left: 0;
}
.show-peo{
	width: 100%;
	min-height: 42.5625rem;
	background:#000 url(../images/show-bg02.jpg) no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.show-peo .show-til{
	position: relative;
  top: -2.5625rem;
	display: block;
	margin: 0 auto;
	width: 9.5625rem;
	height: 8.8125rem;
	background: url(../images/show-til.png) no-repeat;
	background-size: 100% 100%;
}
.show-peo .s-imgbox{
	width: 16.875rem;
	margin:  -2.5625rem auto 0;
	overflow: hidden;
}
.show-peo .s-imgbox ul{
	width: 18.125rem;
}
.show-peo .s-imgbox ul li{
	position: relative;
	width: 5.4375rem;
  height: 6.0625rem;
  float: left;
	margin-right: 10px;
	margin-top: 0.15625rem;
}
.show-peo .s-imgbox ul li a{
	display: block;
	width: 5.4375rem;
	height: 4.625rem;
	background: url(../images/show-peobg.png) repeat;
	position: absolute;
	left: 0;
	bottom: 0;
}
.show-peo .s-imgbox ul li img{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 5.4375rem;
	height: 6.15625rem;
	z-index: 1;
	background-size: 100% 100%;
}
.show-peo .s-imgbox ul li span{
	position: absolute;
	left: 0;
	bottom: 0.78125rem;
	width: 100%;
	z-index: 1;
	height: 0.9375rem;
	text-align: center;
	line-height: 0.9375rem;
	font-size: 0.75rem;
	color: #fff;
	background: url(../images/show-tilbg.png) repeat;
}
.show-footer{
	width: 100%;
	height: 2.8125rem;
	line-height: 2.8125rem;
	text-align: center;
	font-size: 0.75rem;
	color: #777;
	background: #14131e;
	margin-top: 2.3125rem;
}
.s-hreo{
	padding-bottom:8rem;
	width: 100%;
	height: 43.40625rem;
	background: url(../images/s-herobg.jpg) no-repeat;
	background-size: 100% 100%;
}
.show-try{
	background-size: 100% 100%;
	width: 4.6875rem;
	height: 1.5625rem;
	margin: 2.5rem auto;
	display: block;
}
.show-try img{
	display: block;
	width: 4.6875rem;
	height: 1.5625rem;
	margin: 0 auto;
}
.return_home,.return_list{
	margin-top: 0.89rem;
	background: #381251;
	float: right;
	width: 3.625rem;
	height: 1.219rem;
	line-height: 1.219rem;
	display: block;
	color: #fff;
	font-size: 0.625rem;
	border-radius: 0.1875rem;
	text-align: center;
}
.return_home{
	margin-right: 0.2rem;
}
.return_list{
	margin-right: 0.5rem;
}
.s-hreo .i_m4_lbbox ul li .h_m4_inf {
	width: 96%;
	margin-left: -48%;
}
.s-hreo .i_m4_lbbox ul li .h_m4_inf h3{
	font-size: 0.875rem;
	font-weight: normal;
	margin-top: 0.46875rem;
	width: 68%;
}
.s2 {
    width:100%;
    height: 34.06rem;
    position: absolute;
    top: 23rem;
    left: 0;
    background-size: 1518px;
    background: url(../images/white.png) 0 top repeat-x;
    -webkit-animation: animate-cloud 8s linear infinite;
    -moz-animation: animate-cloud 8s linear infinite;
    -ms-animation: animate-cloud 8s linear infinite;
    -o-animation: animate-cloud 8s linear infinite;
    animation: animate-cloud 8s linear infinite;
}
@-o-keyframes aniArrowA{0%{-o-transform:translateY(-.4rem)}100%{-o-transform:translateY(0.4rem)}}@-ms-keyframes aniArrowA{0%{-ms-transform:translateY(-.4rem)}100%{-ms-transform:translateY(0.4rem)}}@keyframes aniArrowA{0%{transform:translateY(-.4rem)}100%{transform:translateY(0.4rem)}}@-webkit-keyframes animate-cloud{from{background-position:1518px 0}to{background-position:0 0}}@-moz-keyframes animate-cloud{from{background-position:1518px 0}to{background-position:0 0}}@-ms-keyframes animate-cloud{from{background-position:1518px 0}to{background-position:0 0}}@-o-keyframes animate-cloud{from{background-position:1518px 0}to{background-position:0 0}}@-webkit-keyframes animate-cloud1{from{background-position:-1518px 0}to{background-position:0 0}}@-moz-keyframes animate-cloud1{from{background-position:-1518px 0}to{background-position:0 0}}
@-webkit-keyframes jump {
  from {
    -webkit-transform: translateY(10px);
  }
  to {
    -webkit-transform: translateY(0px);
  }
}
@-ms-keyframes jump {
  from {
    -ms-transform: translateY(10px);
  }
  to {
    -ms-transform: translateY(0px);
  }
}
@-moz-keyframes jump {
  from {
    -moz-transform: translateY(10px);
  }
  to {
    -moz-transform: translateY(0px);
  }
}
@keyframes jump {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0px);
  }
}
.s-hreo .i_m4_lbbox ul li .h_m4_inf i{
	width: 5.75rem;
	height:4.71875rem;
	background-repeat: no-repeat;
	background-size: 5.75rem 4.53125rem;
	background-position: 0 0;
	display: block;
}
.s-hreo .i_m4_lbbox ul li:nth-of-type(1) .h_m4_inf i{
background-image: url(../images/i_m4_ico_h.png);
}
.s-hreo .i_m4_lbbox ul li:nth-of-type(2) .h_m4_inf i{
background-image: url(../images/i_m4_ico_yy.png);
}
.s-hreo .i_m4_lbbox ul li:nth-of-type(3) .h_m4_inf i{
background-image: url(../images/i_m4_ico_z.png);
}
.s-hreo .i_m4_lbbox ul li:nth-of-type(4) .h_m4_inf i{
	background-image: url(../images/i_m4_ico_td.png);
}
.s-hreo .i_m4_lbbox ul li:nth-of-type(5) .h_m4_inf i{
	background-image: url(../images/i_m4_ico_tm.png);
}
.s-hreo .i_m4_lbbox ul li:nth-of-type(6) .h_m4_inf i{
	background-image: url(../images/i_m4_ico_mxk.png);
}
.s-hreo .i_m4_lbbox ul li:nth-of-type(7) .h_m4_inf i{
	background-image: url(../images/i_m4_ico_sbm.png);
}
.s-hreo .i_m4_lbbox ul li:nth-of-type(8) .h_m4_inf i{
	background-image: url(../images/i_m4_ico_mm.png);
}
.s-hreo .i_m4_lbbox ul li:nth-of-type(9) .h_m4_inf i{
	background-image: url(../images/i_m4_ico_ns.png);
}
.s-hreo .i_m4_lbbox ul li:nth-of-type(10) .h_m4_inf i{
	background-image: url(../images/i_m4_ico_xh.png);
}
.s-hreo .i_m4_lbbox ul li:nth-of-type(11) .h_m4_inf i{
	background-image: url(../images/i_m4_ico_gz.png);
}
.s-hreo .i_m4_lbbox ul li:nth-of-type(12) .h_m4_inf i{
	background-image: url(../images/i_m4_ico_sy.png);
}
.s-hreo .i_m4_lbbox ul li:nth-of-type(13) .h_m4_inf i{
	background-image: url(../images/i_m4_ico_cz.png);
}
.s-hreo .i_m4_lbbox ul li:nth-of-type(14) .h_m4_inf i{
	background-image: url(../images/i_m4_ico_yf.png);
}
.s-hreo .i_m4_lbbox ul li:nth-of-type(15) .h_m4_inf i{
	background-image: url(../images/i_m4_ico_lwg.png);
}
.s-hreo .i_m4_lbbox ul li:nth-of-type(16) .h_m4_inf i{
	background-image: url(../images/i_m4_ico_by.png);
}
.s-hreo .i_m4_lbbox ul li:nth-of-type(17) .h_m4_inf i{
	background-image: url(../images/i_m4_ico_ce.png);
}
.s-hreo .i_m4_lbbox ul li:nth-of-type(18) .h_m4_inf i{
	background-image: url(../images/i_m4_ico_jx.png);
}
.s-hreo .i_m4_lbbox ul li:nth-of-type(19) .h_m4_inf i{
	background-image: url(../images/i_m4_ico_l.png);
}
.s-hreo .i_m4_lbbox ul li:nth-of-type(20) .h_m4_inf i{
	background-image: url(../images/i_m4_ico_wm.png);
}
.s-hreo .h_inf .item div .jn_img{
	width: 16.25rem;
	height: 1.6875rem;
}
