@keyframes vGo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes vGo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes vGo_n {
  0% {
    transform: rotate(0deg) scale(0.9);
  }
  50% {
    transform: rotate(180deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(0.9);
  }
}
@-webkit-keyframes vGo_n {
  0% {
    transform: rotate(0deg) scale(0.9);
  }
  50% {
    transform: rotate(180deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(0.9);
  }
}
.header {
  width: 100%;
  height: 3.125rem;
  /*background-color: rgba(0, 0, 0, 0.7);*/
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.header .icon {
  display: block;
  width: 3.125rem;
  height: 3.125rem;
  float: left;
  margin: 0.65625rem 0.375rem 0 0.75rem;
}
.header .icon img {
  display: block;
  width: 100%;
  height: 100%;
}
.header .header_txt {
  float: left;
  font-size: 0.875rem;
  color: #fff;
}
.header .header_txt p:nth-child(1) {
  line-height: 1.25rem;
  margin-top: 0.625rem;
}
.header .header_txt p:nth-child(2) {
  color: #a9abb2;
  font-size: 0.6875rem;
  font-weight: normal;
}
.header .down{
    width: 5.65625rem;
    display: block;
    position: absolute;
    right: 1rem;
    margin-top: 0.66rem;
}
.header .down img{
  width:5.65625rem;
}
.kv {
  width: 100%;
  height: 32.375rem;
  overflow: hidden;
  position: relative;
}
.kv .play {
  display: block;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 17.125rem;
  left: 50%;
  margin-left:-2.65625rem;
}
.kv .play img {
  display: block;
  width: 100%;
  height : 100%;
  animation: vGo 2s linear infinite;
  -webkit-animation: vGo 2s linear infinite;
}
.down_fix{
    display: block;
    width: 100%;
    height: 3.15625rem;
    position: fixed;
    bottom: 0;
    z-index: 99;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
}
.down_fix .download {
    display: block;
    width: 50%;
    height: 3.125rem;
    bottom: 0;
    float:left;
}
.down_fix .tap{
	display: block;
	width:50%;
	height:3.125rem;
	float:left;
}
.down_fix .tap img{
	display: block;
	width:100%;
	height:100%;
}
.down_fix.active{
  margin-bottom:4.39rem;
}
.down_fix .download img {
  display: block;
  width: 100%;
  height: 100%;
}
.content {
  width: 100%;
  height: 22.78125rem;
  /*background: url(../images/bg2.png) no-repeat center;*/
  /*background-size: 100% 100%;*/
  overflow: hidden;
  position: relative;
}
.content .top_banner {
  width:18.46875rem;
  height:9.78125rem;
  position: relative;
  overflow: hidden;
  margin: 4.04375rem auto 0;
}
.content .top_banner li a img {
  display: block;
  width:18.5rem;
  height:9.75rem;
}
.content .top_banner .swiper-pagination-bullet{
    width:0.46875rem;
    height:0.46875rem;
    background:url(../images/sl_on.png) no-repeat;
    background-size: 100% 100%;
    opacity: 1;
}
.content .top_banner .swiper-pagination-bullets{
    width: 100%;
    position: relative;
    bottom: 1.5rem;
}
.content .top_banner .swiper-pagination-bullet-active{
    width:0.625rem;
    height:0.625rem;
    background:url(../images/sl_btn.png) no-repeat;
    background-size: 100% 100%;
}
.content .news {
  width: 18.46875rem;
  height: 11.125rem;
  background: url(../images/news.png) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
  margin: 1rem auto 0;
}
.content .news .top_ul {
    width: 15.8rem;
    height: 2.125rem;
    margin-left: 2.625rem;
    position: relative;
    overflow: hidden;
}
.content .news .top_ul li {
    width: 4.0625rem;
    height: 1.5625rem;
    float: left;
    font-size: 0.8125rem;
    line-height: 1.40625rem;
    color: #333333;
    font-weight: bold;
    margin-top: 0.3rem;
    text-align: center;
}
.content .news .top_ul li.active {
  background: url(../images/tab.png) no-repeat center;
  background-size: 100% 100%;
  color:#999999;
}
.content .news .con_ul {
  width: 17.1875rem;
  height: 7.78125rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.content .news .con_ul ul {
  display: none;
}
.content .news .con_ul ul.active {
  display: block;
}
.content .news .con_ul ul li {
  width: 100%;
  height: 2.625rem;
  border-bottom: 1px dashed #b1a88c;
  line-height: 2.625rem;
  font-size: 0.75rem;
}
.content .news .con_ul ul li a {
  display: block;
  color: #333;
}
.content .news .con_ul ul li a em {
  float: left;
  color: #666666;
  font-size: 0.6875rem;
}
.content .news .con_ul ul li a span {
  display: block;
  width: 11.8125rem;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content .news .con_ul ul li a i {
  display: block;
  float: right;
  font-size: 0.625rem;
  color: #999;
  font-style: normal;
}
.content .wanfa {
  display: block;
  width: 6.25rem;
  margin: 3.66875rem auto 1.225rem;
}
.content .bottom_con {
  width: 100%;
  height: 18.84375rem;
  overflow: hidden;
  position: relative;
  margin-top:2rem;
}
.content .bottom_con .swiper-slide > a {
  margin-left: 50%;
  display: inline-block;
  width: 12.5625rem;
  height:18.84375rem;
  text-align: center;
  transform: translate(-5.15625rem, 0);
  -ms-transform: translate(-5.15625rem, 0);
  -webkit-transform: translate(-5.15625rem, 0);
  -o-transform: translate(-5.15625rem, 0);
  -moz-transform: translate(-5.15625rem, 0);
}
.content .bottom_con .swiper-slide > a img {
  width: 12.625rem;
  height: 18.84375rem;
  margin-left: 5.15625rem;
  cursor: pointer;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
}
.content .bottom_con .swiper-button-next {
  width: 0.8125rem;
  height: 1.59375rem;
  background: url(../images/nav1.png) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
}
.content .bottom_con .swiper-button-prev {
  width: 0.8125rem;
  height: 1.59375rem;
  background: url(../images/nav2.png) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
}
.bottom_banner  .swiper-slide-shadow-right,.bottom_banner .swiper-slide-shadow-left {
    position: absolute;
    left:-0.625rem;
    top: 0rem;
    width: 15.03125rem;
    height: 19.04375rem;
    pointer-events: none;
    z-index: 10;
}
.content .bottom_con .swiper-slide .swiper-slide-shadow-left{
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(244,255,226, .2)), to(rgba(244,255,226, .4)));
    background-image: -webkit-linear-gradient(right, rgba(244,255,226, .2), rgba(244,255,226, .4));
    background-image: -moz-linear-gradient(right, rgba(244,255,226, .2), rgba(244,244,255,226, .4));
    background-image: -o-linear-gradient(right, rgba(244,255,226, .2), rgba(244,255,226, .4));
    background-image: linear-gradient(to left, rgba(244,255,226, .2), rgba(244,255,226, .4));
}
.content .bottom_con .swiper-slide .swiper-slide-shadow-right{
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(244,255,226, .2)), to(rgba(244,255,226, .4)));
    background-image: -webkit-linear-gradient(right, rgba(244,255,226, .2), rgba(244,255,226, .4));
    background-image: -moz-linear-gradient(right, rgba(244,255,226, .2), rgba(244,244,255,226, .4));
    background-image: -o-linear-gradient(right, rgba(244,255,226, .2), rgba(244,255,226, .4));
    background-image: linear-gradient(to left, rgba(244,255,226, .2), rgba(244,255,226, .4));
}
/*详情页样式*/
.detail_kv {
  width: 100%;
  height: 15.65625rem;
  background: url(../images/bg3.jpg) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
}
.detail_kv .back {
  display: block;
  width: 5.75rem;
  height: 1.8125rem;
  position: absolute;
  left: 0.625rem;
  bottom: 0.5625rem;
}
.detail_kv .back img {
  display: block;
  width: 100%;
  height: 100%;
}
.detail_body {
  width: 18.1875rem;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.detail_body .detail_title {
  font-size: 1.125rem;
  color: #333333;
  line-height: 1.5625rem;
  margin-top: 0.625rem;
  font-weight: 500;
}
.detail_body .detail_des {
  font-size: 0.625rem;
  color: #999;
  margin-top: 0.625rem;
  padding-bottom: 0.875rem;
  border-bottom: 1px solid #ededed;
}
.detail_body .detail_des .sp {
  margin-right: 1.125rem;
}
.detail_body .detail_nei {
  font-size: 0.75rem;
  color: #666;
  line-height: 1.75rem;
}
.detail_body .detail_nei p{
  margin:1rem auto;
}
.detail_body .detail_nei img {
  display: block;
  width: 13.0rem;
  margin: 0.46875rem auto 0;
}
.float_wx{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.8);
	position:fixed;
	left:0;
	top:0;
	z-index:100;
	display: none;
}
.wx_body{
	width:10.625rem;
	height:8.0625rem;
	background-color:#fff;
	position:relative;
	margin:0 auto;
	top:45%;
	transform: translate(0,-45%);
	-webkit-transform: translate(0,-45%);
}
.wx_body img{
	display: block;
	width:5.3125rem;
	height:5.3125rem;
	margin:0 auto;
	padding-top:.78125rem;
}
.wx_body .close{
	display: block;
	width:1.25rem;
	height:1.25rem;
	position:absolute;
	right:-1rem;
	top:0;
}
.wx_body .close span{
	display: block;
	width:2px;
	height:100%;
	position:absolute;
	top:0;
	right:0;
	background-color:#fff;
}
.wx_body .close span:nth-child(1){
	transform: rotate(45deg);
}
.wx_body .close span:nth-child(2){
	transform: rotate(-45deg);
}
.wx_body p{
	font-size:0.625rem;
	text-align: center;
	color:#191919;
}
