<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>{$seo_title}</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
		<meta name="keywords" content="{$seo_key}" />
		<meta name="description" content="{$seo_desc}" />
		<link rel="shortcut icon" href="{$global.icon_img}">
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}7.0/css/swiper.3.1.7.min.css" />
		<link rel="stylesheet" href="http://cdnstatic.yingxiong.com/common/css/yx.css" />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}7.0/css/public.css" />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}7.0/css/act_city1.css" />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}7.0/css/city_float.css" />
		<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}7.0/js/jquery-1.7.1.min.js"></script>
		<script data-fixed="true">
			if((/iphone|android|mobile/i.test(navigator.userAgent.toLowerCase()))) {
				location.href = "/m"+window.location.pathname+window.location.search;
			}
		</script>
		{assign var="version" value="2"} 
	</head>
	<body>
	<script type="text/javascript" src="http://cdnstatic.yingxiong.com/head/js/topbar.js?{$version}"></script>
	<section>
		<section class="section1">
			<div class="page1">
				<a href="/p/gold.html" target="_blank" class="new_acti">
					<img src="{$smarty.const.STATIC_DOMAIN}7.0/images/n_float.png?{$version}" alt="" />
				</a>
				 <a href="{myurl name='/site/index'}" class="enter" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/enter1.png?{$version}" alt=""></a>
				 <ul class="city_list">
				 	<li><a class="city1 active"></a></li>
				 	<li><a class="city2" href="/p/anniversary2.html" target="_blank"></a></li>
				 	<li><a class="city3" href="/p/anniversary3.html" target="_blank"></a></li>
				 	<li><a class="city4" href="/p/anniversary4.html" target="_blank"></a></li>
				 </ul>
			</div>
		</section>
		<section class="section2">
			<div class="page2">
				<img src="{$smarty.const.STATIC_DOMAIN}7.0/images/tl_01.png?{$version}" alt="" class="title1">
				<div class="city_info">
				<img src="{$smarty.const.STATIC_DOMAIN}7.0/images/ct1.png?{$version}" alt="" class="ct_img">
				<p class="info">2018《全民枪战2》四周年庆典·广州站盛大开幕！与天王战队零距离交流，展开现场对战！并有产品全新更新内容等你一同揭晓！参与线下活动，更能获取各式豪礼，限定恐龙背包、限定恐龙手枪、限定恐龙尾巴等你抱回家！超多精彩内容绝对不容错过哦！</p>
				</div>
				<div class="fuli_info">
					<img src="{$smarty.const.STATIC_DOMAIN}7.0/images/tl_02.png?{$version}" alt="" class="title2">
					<div class="action">	
				    <img src="{$smarty.const.STATIC_DOMAIN}7.0/images/tl_03.png?{$version}" alt="" class="title3">
				    {fragment var=cover1_video code=cover1_video size=1}
                	<div class="i_video">
						<a href="{if $cover1_video}javascript:;{else}javascript:yx_showTips('敬请期待');{/if}" class="{if $cover1_video}js_video_play{else}{/if}" data-url="{if $cover1_video}{$cover1_video[0].url}{else}{/if}"><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/play_sm1.png?{$version}" alt="" class="v_play"></a>
						<img src="{$cover1_video[0].thumb}" alt="" class="v_img">
						<i></i>
					</div>
					</div>
			    </div>
			</div>
			<div class="page3">
                <img src="{$smarty.const.STATIC_DOMAIN}7.0/images/tl_04.png?{$version}" alt="" class="title4">
				<div class="cult_content">
					<div class="slider">
                    	<div class="swiper-container swiper-container2">
                    	{fragment var=index_banner code=banner_gz size=32}
                    	    <div class="swiper-wrapper">
                    	     {if $index_banner neq ''}
						{foreach $index_banner as $v}
                    	        <div class="swiper-slide">
                    	            <a href="{if $v.url}{$v.url}{else}javascript:;{/if}"><img class="" src="{$v.thumb}" alt=""></a>
                    	        </div>
                    	        {/foreach}
                    	        {/if}
                    	    </div>
                    	</div>
                    	<div class="swiper-button-prev"></div>
                    	<div class="swiper-button-next"></div>
                    </div>
				</div>
			</div>
		</section>
				<div class="q_float">
					<!--<img class="q_f_mark js_jump_img" src="">-->
					<img class="q_f_mark" src="http://gamerimage.yingxiong.com/qrcode/jump_qmqz_pccov.png">
			<div class="channel_name">
				<!--<a class="q_ios js_down_ios stat_cover_ios" href="" target="_blank"></a>-->
				<!--<a class="q_az js_down_andriod stat_cover_android" href=""></a>-->
				<a class="q_ios stat_cover_ios" href="http://downurl.yingxiong.com/ios/qmqz_pccov.html" target="_blank"></a>
				<a class="q_az stat_cover_android" href="http://downurl.yingxiong.com/android/qmqz_pccov.html"></a>
				<a class="q_tap stat_cover_tap" href="https://www.taptap.com/app/34763" target="_blank "></a>
				<a class="q_haoyou stat_cover_hy" href="http://www.3839.com/a/87894.htm" target="_blank "></a>
			</div>
			<label class="q_f_icon show" show=""></label>
		</div>
		</section>
		<script type="text/javascript" src="http://cdnstatic.yingxiong.com/footer/js/footer_new.js?{$version}"></script>	
	{download}
	{video_play}
	</body>
	<script src="{$smarty.const.STATIC_DOMAIN}7.0/js/swiper.3.1.7.min.js?{$version}" type="text/javascript"></script>
	<script src="http://cdnstatic.yingxiong.com/common/js/yx.js?{$version}"></script>
	<script type="text/javascript">
	//点击隐藏和显示下载悬浮框
		function show_hide_down() {
			$(".q_f_icon").click(function() {
				var state = $(this).attr("show");
				if(state) {
					$(".q_float").animate({
						"right": "41px"
					}, 200);
					$(this).attr({
						"show": "",
						"class": "show"
					});
				} else {
					$(".q_float").animate({
						"right": "-158px"
					}, 200);
					$(this).attr({
						"show": "true",
						"class": "hide_float"
					});
				}
			})
		}
		var clickTap = true;
		$(".close_float").click(function (){
			if(clickTap){
				$(".new_float").addClass("active");
				clickTap = false;
			} else {
				$(".new_float").removeClass("active");
				clickTap = true;
			}
		});
		$(function() {
			show_hide_down();
			pc_cover();
			var mySwiper2= new Swiper('.swiper-container2',{
            loop:true,
            paginationType : 'fraction',
            paginationClickable: true,
            slidesPerView:3,
            autoplay:3000,
            slidesPerView: 3,
            spaceBetween: 20,
            prevButton:'.swiper-button-prev',
            nextButton:'.swiper-button-next',
            mode: 'horizontal',
			
			observer: true,
			observeParents: true,
        });
		});
	</script>

</html>