<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>{$seo_title}</title>
		<meta name="keywords" content="{$seo_key}" />
		<meta name="description" content="{$seo_desc}" />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}7.0/css/swiper.3.1.7.min.css?{$smarty.const.VERSION}" />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}7.0/css/public.css?{$smarty.const.VERSION}" />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}7.0/css/legend.css?{$smarty.const.VERSION}" />
		<link rel="shortcut icon" href="{$global.icon_img}?{$smarty.const.VERSION}">
		<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}7.0/js/jquery-1.7.1.min.js?{$smarty.const.VERSION}"></script>
		<script data-fixed="true">
			if((/iphone|android|mobile/i.test(navigator.userAgent.toLowerCase()))) {
				location.href = "/m"+window.location.pathname+window.location.search;
			}
		</script>
		<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "//hm.baidu.com/hm.js?4197a56f5c9a0de486bea7deb10092a6";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
	    </script>
	</head>

	<body>
		<script type="text/javascript" src="http://cdnstatic.yingxiong.com/head/js/topbar.js?{$smarty.const.VERSION}"></script>
		<div class="j_kv">
			<div class="wrap">
				{fragment var=video code=kv_video size=1}
				<img data-url="{if $video}{$video[0].url}{/if}" src="{$smarty.const.STATIC_DOMAIN}7.0/images/play.png?{$smarty.const.VERSION}" class="j_play js_video_play" />
				<a href="/site/index.html" class="j_enter"><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/j_enter.png?{$smarty.const.VERSION}" title="进入官网" /><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/j_enter_h.png?{$smarty.const.VERSION}" title="进入官网" /></a>
				<img src="{$smarty.const.STATIC_DOMAIN}7.0/images/next.png?{$smarty.const.VERSION}?{$smarty.const.VERSION}" alt="" class="next" />
				<div class="j_bg">
					<div class="j_code">
						<img src="{$smarty.const.STATIC_DOMAIN}7.0/images/code.png?{$smarty.const.VERSION}" alt="" />
					</div>
					<div class="j_down">
						<a href="javascript:;" class="js_down_ios  stat_ios"><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/j_ios.png?{$smarty.const.VERSION}" alt="" /><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/j_ios_h.png?{$smarty.const.VERSION}" alt="" /></a>
						<a href="javascript:;" class="js_down_andriod stat_android "><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/j_and.png?{$smarty.const.VERSION}" alt="" /><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/j_and_h.png?{$smarty.const.VERSION}" alt="" /></a>
					</div>
				</div>
			</div>
		</div>
		<div class="j_main">
			<div class="wrap">
				<ul class="top_tab">
					<li class="active">
						<img src="{$smarty.const.STATIC_DOMAIN}7.0/images/j_tab1_w.png?{$smarty.const.VERSION}" alt="" />
						<img src="{$smarty.const.STATIC_DOMAIN}7.0/images/j_tab1.png?{$smarty.const.VERSION}" alt="" />
					</li>
					<li class="">
						<img src="{$smarty.const.STATIC_DOMAIN}7.0/images/j_tab2_w.png?{$smarty.const.VERSION}" alt="" />
						<img src="{$smarty.const.STATIC_DOMAIN}7.0/images/j_tab2.png?{$smarty.const.VERSION}" alt="" />
					</li>
					<li class="">
						<img src="{$smarty.const.STATIC_DOMAIN}7.0/images/j_tab3_w.png?{$smarty.const.VERSION}" alt="" />
						<img src="{$smarty.const.STATIC_DOMAIN}7.0/images/j_tab3.png?{$smarty.const.VERSION}" alt="" />
					</li>
				</ul>
				<div class="tab_con">
					<div class="active">
						<div class="tab_left">
							<img src="{$smarty.const.STATIC_DOMAIN}7.0/images/j_title1.png?{$smarty.const.VERSION}" alt="" class="j_title1" />
							<div class="j_txt">
								<div class="j_p"><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/j_nav.png?{$smarty.const.VERSION}" alt="" /><span>排位段位新增传奇段位。</span></div>
								<div class="j_p"><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/j_nav.png?{$smarty.const.VERSION}" alt="" /><span>积分模式修改为每场胜利得星的方式来记录玩家成绩。</span></div>
								<div class="j_p"><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/j_nav.png?{$smarty.const.VERSION}" alt="" /><span>排位赛可以直接通过游戏主页进入了。</span></div>
								<div class="j_p"><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/j_nav.png?{$smarty.const.VERSION}" alt="" /><span>优化了匹配机制，玩家将更容易匹配到势均力敌的对手。</span></div>
							</div>
							<ul class="j_t_ul">
								<li><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/j_cq.png?{$smarty.const.VERSION}" alt="" /></li>
								<li><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/j_ds.png?{$smarty.const.VERSION}" alt="" /></li>
								<li><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/j_zs.png?{$smarty.const.VERSION}" alt="" /></li>
							</ul>
						</div>
						<img src="{$smarty.const.STATIC_DOMAIN}7.0/images/ren1.png?{$smarty.const.VERSION}" alt="" class="ren1" />
					</div>
					<div class="">
						<div class="tab_left">
							<img src="{$smarty.const.STATIC_DOMAIN}7.0/images/j_title2.png?{$smarty.const.VERSION}" alt="" class="j_title2" />
							<div class="j_txt1">
								<div class="j_p"><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/j_nav.png?{$smarty.const.VERSION}" alt="" /><span>游戏内将新增S1传奇榜。</span></div>
								<div class="j_p"><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/j_nav.png?{$smarty.const.VERSION}" alt="" /><span>排行榜数据全服统一。</span></div>
								<div class="j_p"><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/j_nav.png?{$smarty.const.VERSION}" alt="" /><span>该排行榜将做永久保留，上榜玩家将被永久记录在榜。</span></div>
								<div class="j_p"><em>规则</em><span><i>前50名</i>进阶至“传奇”段位，并反馈有效信息至官方的玩家，将获得登榜资格。玩家需将 游戏ID+区服+传奇段位截图反馈至指定邮箱<br /><i>排名将以收到邮件的时间为准！</i></span></div>
								<div class="j_p"><em>邮箱</em><span>shujia@yingxiong.com</span></div>
							</div>
							<ul class="j_t_ul1">
								<li><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/j_qd.png?{$smarty.const.VERSION}" alt="" /></li>
								<li><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/j_qd.png?{$smarty.const.VERSION}" alt="" /></li>
							</ul>
						</div>
						<img src="{$smarty.const.STATIC_DOMAIN}7.0/images/ren2.png?{$smarty.const.VERSION}" alt="" class="ren2" />
					</div>
					<div class="">
						<div class="tab_left">
							<img src="{$smarty.const.STATIC_DOMAIN}7.0/images/j_title3.png?{$smarty.const.VERSION}" alt="" class="j_title3" />
							<div class="j_txt">
								<div class="j_p"><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/j_nav.png?{$smarty.const.VERSION}" alt="" /><span>新增信誉系统，当玩家在游戏中存在不良行为时，将会对玩家信誉产生影响。</span></div>
								<div class="j_p"><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/j_nav.png?{$smarty.const.VERSION}" alt="" /><span>信誉较差的玩家将会限制一定的游戏功能。</span></div>
								<div class="j_p"><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/j_nav.png?{$smarty.const.VERSION}" alt="" /><span>优化举报机制和细节，现在工作人员对玩家举报的游戏内不公平现象，将更精准的甄别，并在确认后给予玩家反馈。</span></div>
							</div>
							<ul class="j_t_ul1">
								<li><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/j_pic1.png?{$smarty.const.VERSION}" alt="" /></li>
								<li><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/j_pic2.png?{$smarty.const.VERSION}" alt="" /></li>
							</ul>
						</div>
						<img src="{$smarty.const.STATIC_DOMAIN}7.0/images/ren3.png?{$smarty.const.VERSION}" alt="" class="ren3" />
					</div>
				</div>
			</div>
		</div>
		<div class="j_banner">
			<div class="wrap">
				<img src="{$smarty.const.STATIC_DOMAIN}7.0/images/wanfa.png?{$smarty.const.VERSION}" alt="" class="wanfa" />
				<div class="j_w_banner">
					<ul class="swiper-wrapper">
						<li class="swiper-slide"><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/p_banner1.jpg?{$smarty.const.VERSION}" alt="" /></li>
						<li class="swiper-slide"><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/p_banner2.jpg?{$smarty.const.VERSION}" alt="" /></li>
						<li class="swiper-slide"><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/p_banner3.jpg?{$smarty.const.VERSION}" alt="" /></li>
						<li class="swiper-slide"><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/p_banner4.jpg?{$smarty.const.VERSION}" alt="" /></li>
						<li class="swiper-slide"><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/p_banner5.jpg?{$smarty.const.VERSION}" alt="" /></li>
						<li class="swiper-slide"><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/p_banner6.jpg?{$smarty.const.VERSION}" alt="" /></li>
					</ul>
				</div>
				<div class="swiper-pagination"></div>
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>
		</div>
		<script type="text/javascript" src="http://cdnstatic.yingxiong.com/footer/js/footer_new.js?{$smarty.const.VERSION}"></script>
	</body>
	{video_play}
	{download}
	<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}7.0/js/swiper.3.1.7.min.js?{$smarty.const.VERSION}"></script>
	<script type="text/javascript">
		$(function() {
			topHeight();
			function topHeight() {
				var height = $(document.body).height();
				$(".next").css({
					"top": height - 100 + "px"
				});
			};
			var mySwiper = new Swiper(".j_w_banner",{
				loop:true,
				autoplay:5000,
				autoplayDisableOnInteraction : false,
				paginationClickable :true,
				pagination : '.swiper-pagination',
				prevButton:'.swiper-button-prev',
				nextButton:'.swiper-button-next',
				observer:true,
				observeParents:true,
			});
			$(".top_tab li").on("click" , function (){
				var index = $(this).index();
				$(this).addClass("active").siblings().removeClass("active");
				$(".tab_con>div").eq(index).addClass("active").siblings().removeClass("active");
			});
		})
	</script>

</html>