@size: 100rem;
body{
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
//div.top{
//  height: 120/@size;
//  background-color: rgba(0,0,0,.9);
//  .icon{
//    float: left;
//    margin: 14/@size 0 0 20/@size;
//    width: 96/@size;
//    height: 96/@size;
//  }
//  .top-word{
//    float: left;
//    width: auto;
//    margin: 30/@size 0 0 15/@size;
//    h3{
//      font-size: 32/@size;
//      color: #fff;
//      font-weight: normal;
//    }
//    p{
//      font-size: 18/@size;
//      color: #999;
//    }
//  }
//  .top-menu{
//    position: relative;
//    width: 72/@size;
//    height: 72/@size;
//    float: right;
//    margin: 25/@size 18/@size 0 16/@size;
//    img{
//      width: 100%;
//      height: 100%;
//    }
//    .top-menu-main{
//      display: none;
//      position: absolute;
//      top: 95/@size;
//      right: -18/@size;
//      background-color: rgba(0,0,0,.9);
//      border-radius: 0 0 0 10px;
//      ul{
//        li{
//          border-top: 1px solid #555755;
//          a{
//            display: block;
//            height: 102/@size;
//            width: 250/@size;
//            font-size: 32/@size;
//            text-align: center;
//            line-height: 102/@size;
//            color: #fff;
//          }
//        }
//        li.active a{
//          color: #f8e400;
//        }
//      }
//    }
//  }
//  .top-down{
//    width: 194/@size;
//    height: 68/@size;
//    float: right;
//    margin-top: 25/@size;
//    img{
//      width: 100%;
//      height: 100%;
//    }
//    img.down-up{
//      display: none;
//    }
//    .top-down-main{
//      display: none;
//      position: absolute;
//      width: 310/@size;
//      height: 450/@size;
//      top: 120/@size;
//      right: 0;
//      background-color: #2d2d2d;
//      border-radius: 0 0 0 10px;
//      ul{
//        li a{
//          display: block;
//          height: 72/@size;
//          width: 240/@size;
//          margin-left: auto;
//          margin-right: auto;
//          margin-top: 25/@size;
//          font-size: 32/@size;
//          text-align: center;
//        }
//      }
//    }
//  }
//}
@keyframes pGo{
  0%{transform: scale(0.9);}
  50%{transform: scale(1);}
  100%{transform: scale(0.9);}
}
@-webkit-keyframes pGo{
  0%{transform: scale(0.9);}
  50%{transform: scale(1);}
  100%{transform: scale(0.9);}
}
@-o-keyframes pGo{
  0%{transform: scale(0.9);}
  50%{transform: scale(1);}
  100%{transform: scale(0.9);}
}
@-ms-keyframes pGo{
  0%{transform: scale(0.9);}
  50%{transform: scale(1);}
  100%{transform: scale(0.9);}
}
@-moz-keyframes pGo{
  0%{transform: scale(0.9);}
  50%{transform: scale(1);}
  100%{transform: scale(0.9);}
}
div.container{
  overflow: hidden;

  img.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250/@size;
    margin-top: 154/@size;
  }
  img.slogan{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  img.video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 140/@size;
    animation: pGo 2s linear infinite;
    -webkit-animation: pGo 2s linear infinite;
    -o-animation: pGo 2s linear infinite;
    -moz-animation: pGo 2s linear infinite;
    -ms-animation: pGo 2s linear infinite;
  }
  .yue{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 580/@size;
    margin-top: 300/@size;
    img{
      width: 100%;
    }
  }
  div.swiper-box{
    width: 681/@size;
    height: 435/@size;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #2566bb;
    border-radius: 10px;
    div.swiper-container{
      width: 100%;
      height: 100%;
      position: absolute;
      top: -5/@size;
      left: -5/@size;
      border-radius: 10px;
      img{
        height: 100%;
        width: 100%;
      }
    }
    div.swiper-pagination{
      position: absolute;
      bottom: -60/@size;
      left: 50%;
      transform: translate(-50%);
      -webkit-transform: translate(-50%);
      -o-transform: translate(-50%);
      -moz-transform: translate(-50%);
      -ms-transform: translate(-50%);
      span.swiper-pagination-bullet{
        margin-right: 20/@size;
        background-color: #9fc3f2;
      }
      span.swiper-pagination-bullet.swiper-pagination-bullet-active{
        background-color: #f4e407;
      }
    }
  }
  div.news-list-box{
    width: 681/@size;
    height: 435/@size;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100/@size;
    background-color: #2566bb;
    border-radius: 10px;
    div.news-list{
      width: 100%;
      height: 100%;
      position: absolute;
      top: -5/@size;
      left: -5/@size;
      border-radius: 10px;
      background-color: #fff;
      background-image: url("../images/border-top.png");
      background-repeat: no-repeat;
      background-position: 0 -130/@size;
      background-size: 100%;
      overflow: hidden;
      div.news-title{
        width: 90%;
        height: 90/@size;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 1px solid #e5e5e5;
        ul{
          height: 100%;
          li{
            float: left;
            height: 50/@size;
            width: 110/@size;
            font-size: 28/@size;
            color: #666666;
            line-height: 50/@size;
            margin-right: 20/@size;
            margin-top: 25/@size;
            text-align: center;
          }
          li:last-child{
            width: 35px;
            float: right;
            text-align: right;
            margin-right: 0;
            margin-top: 30/@size;
            img{
              width: 35/@size;
              height: 35/@size;
            }
          }
          li.active{
            color: #000;
            background-color: #f4e300;
            border-radius: 20px;
          }
          li:last-child.active{
            background-color: #fff;
            border-radius: 0;
          }
        }
      }
      div.news-main{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        ul{
          display: none;
          li {
            height: 65/@size;
            a{
              float: left;
              width: 480/@size;
              display: inline-block;
              font-size: 24/@size;
              color: #666666;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              line-height: 65/@size;
            }
            span{
              width: 70/@size;
              float: right;
              font-size: 20/@size;
              color: #cccccc;
              line-height: 65/@size;
            }
          }
        }
        ul.active{
          display: block;
        }
      }
    }
  }

  div.bottom {
    position: relative;
    width: 681/@size;
    height: 250/@size;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100/@size;
    margin-bottom: 300/@size;
    background-color: #2566bb;
    border-radius: 10px;
    ul li{
      float: left;
      width: 180/@size;
      margin-left: 35/@size;
      margin-top: 20/@size;
      img{
        width: 100%;
      }
      .wechat{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 990;
        img{
          width: 300/@size !important;
          height: 300/@size !important;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -150/@size;
          margin-left: -150/@size;
        }
      }
    }
    .bottom-left{
      position: absolute;
      left: -30/@size;
      bottom: -150/@size;
      width: 193/@size;
    }
    .bottom-right{
      position: absolute;
      right: -130/@size;
      bottom: -150/@size;
      width: 200/@size;
    }
  }
}

div.mask{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 99;
  background-color: #3870c9;
  div.dialog{
    margin-top: 150/@size;
    margin-bottom: 300/@size;
    img.yueTitle{
      width: 620/@size;
      margin: 0 60/@size;
    }
    div.yueBox{
      width: 650/@size;
      margin-left: auto;
      margin-right: auto;
      background-color: #fff;
      border: 8px solid #5593f4;
      border-radius: 10px;
      .line{
        position: relative;
        height: 1100/@size;
        width: 100%;
        text-align: center;
        img.close{
          position: absolute;
          top: -50/@size;
          right: -50/@size;
          width: 132/@size;
        }
        img.line-nocolor{
          height: 100%;
        }
        img.line-color{
          position: absolute;
          bottom: 15/@size;
          left: 48%;
          top: 10/@size;
          width: 25/@size;
        }
        ul{
          position: absolute;
          top: 50/@size;
          left: 0;
          width: 100%;
          li{
            position: relative;
            width: 100%;
            height: 260/@size;
            z-index: 9;
            .prise-word{
              float: left;
              width: 47%;
              font-family: PingFangSC-Regular, sans-serif;
              h4{
                font-size: 60/@size;
                color: #ccc;
              }
              small{
                display: block;
                font-size: 28/@size;
                color: #e6e6e6;
              }
              p{
                font-size: 24/@size;
                color: #999;
              }
            }
            img{
              position: absolute;
              top: 0;
              left: 46%;
              width: 300/@size;
            }
            img.color{
              display: none;
            }
          }
          li:nth-child(2n){
            .prise-word{
              float: right;
            }
            img{
              left: 8%;
              right: 46%;
            }
          }
          li.active{
            .prise-word{
              h4{
                color: #ff7e00;
              }
              small{
                color: #999999;
              }
              p{
                color: #666666;
              }
            }
            img.nocolor{
              display: none;
            }
            img.color{
              display: block;
            }
          }
        }
      }
    }
    .code{
      display: block;
      width: 300/@size;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30/@size;
    }
    .yue-button{
      display: block;
      width: 600/@size;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30/@size;
      //margin-bottom: 20/@size;
    }
  }
  .bottom-left{
    margin-top: -300/@size;
    margin-left: 50/@size;
    width: 193/@size;
  }
  .bottom-right{
    margin-top: -760/@size;
    margin-left: 480/@size;
    width: 300/@size;
  }
}

div.mask2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 99;
  background-color: #3870c9;
  div.dialog {
    margin-top: 150/@size;
    margin-bottom: 300/@size;
    img.yueTitle {
      display: block;
      width: 300/@size;
      margin-left: auto;
      margin-right: auto;
    }
    div.information{
      position: relative;
      height: 1200/@size;
      width: 650/@size;
      margin-left: auto;
      margin-right: auto;
      margin-top: 35/@size;
      background-color: #fff;
      border: 8px solid #5593f4;
      border-radius: 10px;
      img.close{
        position: absolute;
        top: -50/@size;
        right: -50/@size;
        width: 132/@size;
      }
      .input-box{
        width: 86%;
        height: 80/@size;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40/@size;
        input{
          float: left;
          height: 100%;
          width: 90%;
          display: block;
          padding-left: 20px;
          //padding-right: 20px;
          font-size: 34/@size;
          box-sizing: content-box;
          color: #333333;
          background-color: #e3eeff;
          border: 3px solid #326dc9;
          border-radius: 50px;
        }
        input#img-code{
          width: 45%;
        }
        input#yanCode{
          width: 45%;
        }
        #img-code-box{
          float: right;
          display: inline-block;
          height: 100%;
          width: 40%;
          background-color: #fff;
          border: 3px solid #326dc9;
          border-radius: 50px;
          font-size: 30/@size;
          color: #f15f01;
          text-align: center;
          line-height: 80/@size;
        }
        #yanCode-box{
          float: right;
          display: inline-block;
          height: 100%;
          width: 40%;
          background-color: #326dc9;
          border-radius: 50px;
          font-size: 30/@size;
          border: 3px solid #326dc9;
          color: #fff;
          text-align: center;
          line-height: 80/@size;
        }
      }
      .input-box:nth-child(2) {
        margin-top: 60/@size;
      }
      .input-box:after{
        content: '';
        display: block;
        clear: both;
      }
      .yue-button{
        display: block;
        width: 600/@size;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40/@size;
        margin-bottom: 20/@size;
      }
      .qq-box{
        font-size: 30/@size;
        color: #666666;
        text-align: center;
        margin-bottom: 30/@size;
        span{
          color: #f17600;
        }
      }
      .rule{
        font-size: 22/@size;
        color: #666666;
        line-height: 35/@size;
        padding-left: 40/@size;
      }
    }
  }
  .code{
    display: block;
    width: 300/@size;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30/@size;
  }
  .bottom-left{
    position: absolute;
    left: 50/@size;
    bottom: -180/@size;
    width: 200/@size;
  }
  .bottom-right{
    position: absolute;
    right: -60/@size;
    bottom: 0;
    width: 300/@size;
  }
}
.mask::-webkit-scrollbar{
  display: none;
}
.mask2::-webkit-scrollbar{
  display: none;
}