{include file='../layouts/dt_head.html'}
<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}/3.0/dati/m/css/answer_finally.css">
</head>
<body>
<section class="top-head">
    <img class="top-logo" src="{$global.logo_img}">
    <div class="top-title">
        <h1>{$global.title}</h1>
        <p>{$global.sub_title}</p>
    </div>
    <a class="top-down js_wap_down stat_down" href="javascript:">下载游戏</a>
</section>
<section class="a-container">
    <a class="back-index" href="/"></a>
    <div class="an-content an-all-right ">
        <img class="title" src="{$smarty.const.STATIC_DOMAIN}/3.0/dati/m/images/f_title1.png">
        <h1>你是第<span>{$rank}</span>名通过考试的魔法学员！</h1>
        <p>官方将定期在通过考试的玩家中，抽取部分玩家送出激活码，
            请您耐心等待，感谢您的参与
        </p>
        <div class="share_box">
            <!-- <div class="jiathis_style_24x24">
                <span>分享到：</span>
                <a class="jiathis_button_weixin"></a>
                <a class="jiathis_button_qzone"></a>
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_cqq"></a>
            </div> -->
            <div class="bshare-custom">
                <span>分享到：</span>
                <a title="分享到微信" class="bshare-weixin"></a>
                <a title="分享到微信" class="bshare-qzone"></a>
                <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
                <a title="分享到qq" class="bshare-qqim"></a>
            </div>
        </div>
        <!--<a class="an-tj" href="javascript:"></a>-->
    </div>
</section>
</body>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}3.0/dati/m/css/wap_jia_share.css">
<script type="text/javascript" src="http://cdnstatic.yingxiong.com/footer/js/footer.js"></script>
</html>