html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,figcaption,figure,footer,header,main,nav,section{display:block}
figure{margin:0}
hr{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;height:0;border:0;display:block;padding:0;margin:0;border:0;height:0;border-top:1px solid #eee;overflow:visible}
pre{font-family:monospace,monospace}
a{text-decoration: none;outline-width:0;blr:expression(this.onFocus=this.blur());background-color:transparent;-webkit-text-decoration-skip:objects}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:inherit}
code,kbd,samp{font-family:monospace,monospace;font-size:1em}
dfn{font-style:italic}
mark{background-color:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-.25em}
sup{top:-.5em}
audio,video{display:inline-block}
audio:not([controls]){display:none;height:0}
img{border-style:none;vertical-align:middle}
svg:not(:root){overflow:hidden}
button,input,optgroup,select,textarea{font:inherit;margin:0}
button,input{overflow:visible}
button,select{text-transform:none}
[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}
[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}
progress{display:inline-block;vertical-align:baseline}
textarea{overflow:auto}
[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
details,menu{display:block}
summary{display:list-item}
canvas{display:inline-block}
template{display:none}
[hidden]{display:none}
*+[hidden]{display:none}
*,:after,:before{-webkit-box-sizing:border-box;box-sizing:border-box}
html{font-size:16px;-ms-overflow-style:scrollbar;-webkit-tap-highlight-color:transparent;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
body{background:#fff;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:400}
.clearfix{zoom:1}
.clearfix:after,.clearfix:before{display:table;content:" ";clear:both}
h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:8px}
p{margin-top:0;margin-bottom:16px}
label{display:inline-block;margin-bottom:8px}
ul,ol{list-style:none;padding-left:0;margin-top:0;}
i,em{font-style:normal}
.fl{float: left;}
.fr{float:right;}
img{max-width:100%}
input::-webkit-input-placeholder {color: #fff;}
input:-ms-input-placeholder {color: #fff;}
input:-moz-placeholder {color: #fff;}
input::-moz-placeholder {color: #fff;}