body {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
input[type=number] {
	-moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.hidden{display:none!important;}

/*header*/
header {
	width:20rem;
	height:3.125rem;
	background:rgba(25,25,38,.85);
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
}
header .logo {
	width: 2.5rem;
	height: 2.5rem;
	display: block;
	margin-left: .55rem;
	margin-top: 0.3rem;
	float: left;
}
header .logo img {
	width: 100%;
	height: 100%;
	vertical-align: top;
}
header .h_text {
	width: 7rem;
	height: 2.1875rem;
	float: left;
	margin-left: .45rem;
	overflow: hidden;
	margin-top: 0.55rem;
}
header .h_text .h_p01 {
	width: 100%;
	color: #fff;
	font-size: .875rem;
	font-weight: bold;
}
header .h_text .h_p02 {
	width: 100%;
	color: #999;
	font-size:.5625rem;
}
header .btn {
	width: 9.4rem;
	height: 1.53125rem;
	margin-top: -0.765625rem;
	position: absolute;
	right: 0;
	top: 50%;
}
header .btn a,header .btn img{
	display:inline-block;
	width:4.0625rem;
	height:1.53125rem;
}
header .btn a:nth-of-type(1){margin-right:.3rem;}
/*首页*/
.i_main {
	position: relative;
	width:20rem;
	height:104.75rem;
	margin:0 auto;
	overflow: hidden;
	background:url("../images/bg.jpg");
	background-size:100% 100%;
}
.i_main:before{
	display: inline-block;
	content: "";
	width: 100%;
	height: 29rem;
}
.i_main .light{
	width: 20rem;
	height: 74.78125rem;
	background: url(../images/light.png);
	background-size: 100% 100%;
	margin: 0 auto;
	display: block;
	position: absolute;
	top: 30rem;
	z-index: 2;
}
.i_main .yz1,.i_main .yz2,.i_main .yz3,.i_main .yz4,.i_main .yz5,.i_main .yz6{
	display: block;
	position: absolute;
	width: 2.96875rem;
	height: 3.75rem;
	z-index: 4;
}
.i_main .yz1{
	background: url(../images/yz1.png);
	background-size: 100% 100%;
	top: 30.7rem;
	left: 2rem;
}
.i_main .yz2{
	background: url(../images/yz2.png);
	background-size: 100% 100%;
	top: 43.5rem;
	left: 0;
}
.i_main .yz3{
	background: url(../images/yz3.png);
	background-size: 100% 100%;
	top: 58rem;
	right: 0;
}
.i_main .yz4{
	background: url(../images/yz4.png);
	background-size: 100% 100%;
	left: 6rem;
	bottom: -2.5rem;
	left: 6rem;
	width: 2.96875rem!important;
	height: 3.75rem!important;
}
.i_main .yz5{
	background: url(../images/yz5.png);
	background-size: 100% 100%;
	top: 87.7rem;
	left: -.85rem;
}
.i_main .yz6{
	background: url(../images/yz6.png);
	background-size: 100% 100%;
	top: 93rem;
	right: 0;
}
.i_main .go_top{
	width: 2.8125rem;
	height: 2.21875rem;
	background: url(../images/go_top.png);
	background-size: 100% 100%;
	display: block;
	position: absolute;
	bottom: .9375rem;
	z-index: 15;
	left: 50%;
	margin-left: -1.109375rem;
}
.butterfly1,.butterfly2,.butterfly3,.butterfly4,.butterfly5{
	-webkit-animation: scales 5s infinite alternate;
	animation: scales 5s infinite alternate;
}
.butterfly1 {
	z-index: 2;
	position: absolute;
	top: 3.5rem;
	right: 0;
	width: 4.5625rem;
	height: 3.90625rem;
	background: url(../images/butterfly1.png);
	background-size: 100% 100%;
}
.butterfly2 {
	z-index: 2;
	position: absolute;
	top: 27rem;
	left: .5rem;
	width: 4.125rem;
	height: 2.96875rem;
	background: url(../images/butterfly2.png);
	background-size: 100% 100%;
}
.butterfly3 {
	z-index: 2;
	position: absolute;
	top: 33.5rem;
	right: 0;
	width: 3.9375rem;
	height: 4.375rem;
	background: url(../images/butterfly3.png);
	background-size: 100% 100%;
}
.butterfly4 {
	position: absolute;
	top: 67.5rem;
	left: 0;
	width: 3.875rem;
	height: 3.875rem;
	background: url(../images/butterfly4.png);
	background-size: 100% 100%;
	z-index: 2;
}
.butterfly5 {
	position: absolute;
	bottom: 5rem;
	right: 7rem;
	width: 3.75rem;
	height: 2.96875rem;
	background: url(../images/butterfly5.png);
	background-size: 100% 100%;
	z-index: 2;
}
.i_main .one .order{
	position: relative;
	z-index: 3;
	width: 11.8125rem;
	height: 3.09375rem;
	background: url(../images/order.png);
	background-size: 100% 100%;
	margin: 0 auto;
	display: block;
	outline: none;
	border: none;
}
.i_main .one .order:active{
	background: url(../images/order1.png);
	background-size: 100% 100%;
}
.i_main .one .lc{
	width: 18.09375rem;
	height: 6.25rem;
	background: url(../images/lc.png);
	background-size: 100% 100%;
	margin: 0 auto;
	display: block;
	margin-top: 4rem;
}
.i_main .two{
	position:relative;
}
.i_main .two .title{
	width: 18.875rem;
	height: 6.6875rem;
	position: relative;
	z-index: 5;
	left: 50%;
	margin-left: -9.4375rem;
	top: 1rem;
}
.i_main .two .title img{
	width:18.875rem;
	height:6.6875rem;
}
.i_main .two .con{
	position:relative;
	margin: 0 auto;
	display: block;
	width: 18.03125rem;
	min-height: 22.625rem;
	background: url(../images/border.png);
	background-size: 100%;
	height: auto;
	background-color: #124036;
	background-repeat: no-repeat;
	background-position: center top;
	padding-bottom: 1.5rem;
}
.i_main .two .con:before{
	display: inline-block;
	content: "";
	width: 17.40625rem;
	height: 98%;
	background: url(../images/border-1.png);
	background-size: 100% 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.i_main .two .con:after{
	position: absolute;
	right: 0;
	bottom: -4.5rem;
	display: block;
	content: "";
	width: 5.8125rem;
	height: 9.4375rem;
	background: url(../images/elephant.png);
	background-size: 100% 100%;
	z-index: 1;
}
.i_main .two .con>div{
	width: 15.53125rem;
	margin: 0 auto;
	padding-top:1.25rem;
}
.i_main .two .con>div h2{
	font-size:.875rem;
	color:#f1c81c;
}
.i_main .two .con>div h2:before{
	display:inline-block;
	content:"";
	width:0.28125rem;
	height:.375rem;
	margin-right:.2rem;
	background:url("../images/point.png");
	background-size:100% 100%;
	vertical-align: middle;
}
.i_main .two .con>div p{
	line-height: 1.25rem;
	font-size:.75rem;
	color:#ccc;
}
.i_main .two .con>div.more{
	z-index: 5;
	font-size: .5625rem;
	color: #A0A2A1;
	background: rgba(0,0,0,.2);
	padding: 0;
	line-height: 1.8rem;
	text-indent: .5rem;
	position: relative;
	margin-top: 1rem;
	left: 50%;
	margin-left: -7.765625rem;
}
.i_main .two .con>div.more a{
	color:#C5720B;
	text-decoration:underline;
}
.i_main .three .title{
	width: 16.53125rem;
	height: 6.6875rem;
	position: relative;
	z-index: 5;
	left: 50%;
	margin-left: -8.265625rem;
	top: 1.8rem;
}
.i_main .three .title img{
	width: 16.53125rem;
	height: 6.6875rem;
}
.i_main .three .con{
	width: 15.9375rem;
	overflow: hidden;
	margin: 0 auto;
}
.i_main .three .con .gift_box{
	float:left;
	position: relative;
	width:6.9375rem;
	height:8.21875rem;
	margin-top: .9375rem;
	background:url("../images/gift_bg.png");
	background-size:100% 100%;
}
.i_main .three .con .gift_box:nth-of-type(2n){float:right;}
.i_main .three .con .gift_box .num{
	position: absolute;
	top: 0;
	left: 50%;
	display: inline-block;
	width: 1.5625rem;
	height: 0.96875rem;
	line-height: 0.8rem;
	margin-left: -0.78125rem;
	font-size: .625rem;
	color: #763c0b;
	text-align: center;
	background: url(../images/num_bg.png);
	background-size: 100% 100%;
}
.i_main .three .con .gift_box .img{
	display: block;
	width: 3.8125rem;
	height: 3.8125rem;
	position: absolute;
	left: 50%;
	top:45%;
	margin-left: -1.90625rem;
	margin-top: -1.90625rem;

}
.i_main .three .con .gift_box .img img{
	width:3.8125rem;
	height:3.8125rem;
}
.i_main .three .con .gift_box .name{
	display: block;
	position: absolute;
	left: 50%;
	bottom: .3rem;
	width: 6.3125rem;
	height: 1.625rem;
	line-height: 1.625rem;
	margin-left: -3.15625rem;
	font-size: .75rem;
	color: #763b0a;
	text-align: center;
	background: url(../images/gift_name.png);
	background-size: 100% 100%;
}

/*报名弹框*/
.load_tips {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.9);
	position: fixed;
	z-index: 9999999;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.load_tips .scroll{
	height:100%;overflow-y: auto;
}
.load_tips .content {
	width: 18.03125rem;
	height:13.15625rem;
	margin-left: -9.015625rem;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(0,-50%);
	-webkit-transform: translate(0,-50%);
}
.load_tips .content .title {
	position: absolute;
	left: 0;
	top: -5.6rem;
	width: 17.0625rem;
	height: 7.59375rem;
	margin-left: -0.984375rem;
}
.load_tips .content .loadtips_close {
	position: absolute;
	width: 1.25rem;
	height: 1.09375rem;
	right: 0;
	top: -1.875rem;
}
.load_tips .content>.tel_box {
	position: relative;
	z-index: 2;
	background: url(../images/tipsbg1.png?1506491873);
	background-size:100% 100%;
	width: 18.03125rem;
	height:13.15625rem;
}
.load_tips .content>.tel_box .btn{
	width:15.09375rem;
	background: url(../images/btn-2.png);
	background-size: 100% 100%;
	height: 1.71875rem;
	margin: 0 auto;
	position: relative;
	top: 1.25rem;
}
.load_tips .content>.tel_box .tel_input{
	position: relative;
	width: 15rem;
	height: 2.25rem;
	margin: 0 auto;
	margin-top: 2rem;
	margin-bottom: .625rem;
}
.load_tips .content>.tel_box input {
	width:15rem;
	height: 2.25rem;
	border:0;
	background: #F0F0F0;
	text-indent:.625rem;
	display: block;
	font-size: .9375rem;
	color: #333;
	outline: none;
	line-height:2.25rem;
}
.load_tips .content>.tel_box .code{
	overflow: hidden;
	width: 15rem;
	height: 2.25rem;
	margin: 0 auto;
}
.load_tips .content>.tel_box .code .code_input{
	display:inline-block;
	width: 9.53125rem;
	height: 2.25rem;
	float:left;
}
.load_tips .content>.tel_box .code .code_input input{
	width: 9.53125rem;
	height: 2.25rem;
}
.load_tips .content>.tel_box .code button{
	width:4.9375rem;
	height: 2.25rem;
	color: #f9da2e;
	font-size: .6875rem;
	float: right;
	border: 1px solid #f9da2e;
	outline: none;
	font-weight: 600;
	background:transparent;
}
.load_tips .content>.tel_box .nextbtn {
	width: 6.8125rem;
	height:2.3125rem;
	outline: none;
	border: none;
	background: url(../images/next_btn.png);
	background-size:100% 100%;
	cursor: pointer;
	margin: 0 auto;
	display: block;
	margin-top: .9rem;
}
.load_tips .content>.tel_box .nextbtn:active{
	background: url(../images/next_btn1.png);
	background-size:100% 100%;
}
.load_tips .content>.info_box{display:none;}

.load_tips .content.after{
	height:31.3125rem;
	top: 65%;
	margin-bottom: 2rem;
}
.load_tips .content.after>.tel_box{display:none}
.load_tips .content.after>.info_box{
	display:block;
	position: relative;
	z-index: 2;
	width: 18.03125rem;
	height:31.3125rem;
	background: url(../images/tipsbg.png?1506491873);
	background-size:100% 100%;
}
.load_tips .content.after>.info_box .btn{
	width:15.09375rem;
	height: 1.71875rem;
	margin: 0 auto;
	margin-bottom: 2rem;
	position: relative;
	top: 1.25rem;
	background: url(../images/btn-1.png);
	background-size: 100% 100%;
}
.load_tips .content.after>.info_box .input{
	width:15rem;
	height:2.25rem;
	margin:0 auto;
	/*margin-bottom: .625rem;*/
}
.load_tips .content.after>.info_box .input>span{
	display: inline-block;
	width: 2.85rem;
	font-size: .6875rem;
	color: #bbb;
}
.load_tips .content.after>.info_box .input>input{
	width:11.8125rem;
	height: 2.25rem;
	border:0;
	background: #F0F0F0;
	text-indent:.625rem;
	display: inline-block;
	font-size: .9375rem;
	color: #333;
	outline: none;
	line-height:2.25rem;
}
.load_tips .content.after>.info_box .msg{
	width: 15rem;
	font-size: .5625rem;
	color: #f9d222;
	margin: 0 auto;
	margin-bottom: .3rem;
}
.load_tips .content.after>.info_box .msg:before{
	display: inline-block;
	content: "";
	width: 0.34375rem;
	height: 0.34375rem;
	background: url(../images/point-1.png);
	background-size: 100% 100%;
	float: left;
	margin:.3rem .3rem 0 0;
}
.load_tips .content.after>.info_box .msg>span{
	display:inline-block;
	width:14rem;
}
.load_tips .content.after>.info_box .sign_list{
	width:11.8125rem;
	height: 2.25rem;
	position: relative;
	display: inline-block;
}
.load_tips .content.after>.info_box .sign_list h1 {
	position: relative;
	font-size: .9375rem;
	color: #aaa;
	line-height: 2.25rem;
	font-weight: 100;
	text-indent: .625rem;
	background: #F0F0F0;
}
.load_tips .content.after>.info_box .sign_list h1 label {
	display: block;
	width: 0.4375rem;
	height: 0.3125rem;
	position: absolute;
	margin: auto;
	top: 55%;
	right: .625rem;
	margin-top: -0.15625rem;
	background: url(../images/point-3.png) no-repeat;
	background-size: 100% 100%;
}
.load_tips .content.after>.info_box .sign_list ul {
	width: 100%;
	height: 0;
	position: absolute;
	top: 2.2rem;
	left: 0;
	z-index: 99;
	overflow: hidden;
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
}
.load_tips .content.after>.info_box .sign_list ul.show {
	height: 4.5rem;
}
.load_tips .content.after>.info_box .sign_list ul li {
	position: relative;
	font-size: .8125rem;
	line-height: 2.25rem;
	height: 2.25rem;
	text-indent: .625rem;
	box-sizing: border-box;
	background: #E1E1E1;
	color: #333;
	border-bottom: 1px solid #D9D9D9;
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
}
.load_tips .content.after>.info_box .sign_list ul li:active, .load_tips .content.after>.info_box .sign_list ul li.active {
	background: #FBD416;
}
.load_tips .content.after>.info_box .sign_list ul li label {
	display: none;
	position: absolute;
	margin: auto;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 13px;
	height: 10px;
	background: url(../images/point-4.png) no-repeat;
	background-size: cover;
}
.load_tips .content.after>.info_box .sign_list ul li.active label {
	display: block;
}
.load_tips .content.after>.info_box .orderbtn {
	width: 6.8125rem;
	height:2.3125rem;
	outline: none;
	border: none;
	background: url(../images/order_btn.png);
	background-size:100% 100%;
	cursor: pointer;
	margin: 0 auto;
	display: block;
	margin-top: .7rem;
}
.load_tips .content.after>.info_box .orderbtn:active {
	background: url(../images/order_btn1.png);
	background-size:100% 100%;
}
.load_tips .content>div input::-webkit-input-placeholder {
	font-size: 0.9375rem;
	color: #aaa;
	line-height:2.25rem;
}
.load_tips .content>div input:-moz-placeholder {
	font-size: 0.9375rem;
	color: #aaa;
	line-height:2.25rem;
}
.load_tips .content>div input::-moz-placeholder {
	font-size: 0.9375rem;
	color: #aaa;
	line-height:2.25rem;
}
.load_tips .content>div input:-ms-input-placeholder {
	font-size: 0.9375rem;
	color: #aaa;
	line-height:2.25rem;
}

.err {
	width: 11.8125rem;
	display: block;
	height: auto;
	margin: 0 auto;
	font-size: .6rem;
	color: #f9d222;
	visibility: hidden;
	margin-left: 4.65rem;
	height: .75rem;
	line-height: .75rem;
}
.err_show {
	visibility: visible;
}
@keyframes scales{0%{transform: scale(1);opacity:.8; }50% {transform: scale(1.15);opacity:1;}100% {transform: scale(1);opacity:.9;}}
@-webkit-keyframes scales{0%{transform: scale(1);opacity:.8; }50% {transform: scale(1.15);opacity:1;}100% {transform: scale(1);opacity:.9;}}
@-moz-keyframes scales{0%{transform: scale(1);opacity:.8; }50% {transform: scale(1.15);opacity:1;}100% {transform: scale(1);opacity:.9;}}
@-o-keyframes scales{0%{transform: scale(1);opacity:.8; }50% {transform: scale(1.15);opacity:1;}100% {transform: scale(1);opacity:.9;}}
@-ms-keyframes scales{0%{transform: scale(1);opacity:.8; }50% {transform: scale(1.15);opacity:1;}100% {transform: scale(1);opacity:.9;}}


