<!--悬浮窗下载-->
<div class="float">
	<div class="chengg"></div>
	<div class="c_float">
		<a href="javascript:;" class="ios js_down_ios stat_ios" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/ios.png?{$smarty.const.VERSION}" alt="" /></a>
		<a href="javascript:;" class="and js_down_andriod stat_android"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/and.png?{$smarty.const.VERSION}" alt="" /></a>
		<a href="javascript:yx_showTips('敬请期待');" class="tap stat_tap"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/tap.png?{$smarty.const.VERSION}" alt="" /></a>
		<div class="f_code">
			<img src="{$global.wx_img}" alt="" />
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/light.png?{$smarty.const.VERSION}" alt="" />
		</div>
		<p class="f_title">扫码关注公众号<br/><span>领取活动奖励</span></p>
		<p class="back"></p>
		<div class="op_close">
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/sanjiao.png?{$smarty.const.VERSION}?{$smarty.const.VERSION}" alt="" />
		</div>
	</div>
</div>