<div class="news_last">
	<i class="n_left_bg"></i>
	<i class="n_right_bg"></i>
	<div class="n_wrap">
		<div class="c_qudao">
			<ul>
				<li>
					<div class="q_bg">
						<img src="{if isset($global.wx_img)}{$global.wx_img}{/if}" alt="" />
					</div>
					<div class="q_txt">
						<h3>微信公众号</h3>
						<p>扫描二维码，</p>
						<p>立即关注微信公众号</p>
					</div>
				</li>
				<li>
					<div class="q_bg">
						<a href="{if isset($global.wb_url)}{$global.wb_url}{else}javascript:yx_showTips('敬请期待');{/if}" {if isset($global.wb_url)}target="_blank" {/if}></a>
					</div>
					<div class="q_txt">
						<h3>官方微博</h3>
						<a href="{if isset($global.wb_url)}{$global.wb_url}{else}javascript:yx_showTips('敬请期待');{/if}" {if isset($global.wb_url)}target="_blank" {/if}>点击立即前往</a>
					</div>
				</li>
				<li>
					<div class="q_bg">
						<a href="{if isset($global.group_url_one)}{$global.group_url_one}{else}javascript:yx_showTips('敬请期待');{/if}" {if isset($global.group_url_one)}target="_blank" {/if}></a>
					</div>
					<div class="q_txt">
						<h3>玩家Q群</h3>
						<a href="{if isset($global.group_url_one)}{$global.group_url_one}{else}javascript:yx_showTips('敬请期待');{/if}" {if isset($global.group_url_one)}target="_blank" {/if}>点击立即加入</a>
					</div>
				</li>
			</ul>
		</div>

	</div>

</div>
<div class="db_footer2">
				<div class="chengg"></div>
				<div class="copyright">
				<div class="zy_logo"></div>
					<p>
						<a href="http://zhengyuetech.com/category/58.html" title="公司简介" target="_blank">关于我们</a><i>|</i> 
						<a href="http://zhengyuetech.com/category/61.html" title="企业文化" target="_blank">企业文化</a><i>|</i> 
						<a href="http://zhengyuetech.com/category/42.html" title="运营经理" target="_blank">人才招聘</a><i>|</i> 
						<a href="http://zhengyuetech.com/category/50.html" title="商务合作" target="_blank">商务合作</a><i>|</i> 
						<a href="http://zhengyuetech.com/category/57.html" title="客服中心" target="_blank">客服中心</a>
					</p>
					<p>Copyright©2015 成都正越科技有限公司 版权所有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;蜀ICP备18011081号-1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司地址：成都高新区肖家河环三巷2号9幢1层 </p>

					<p>此游戏适合18岁以上，抵制不良游戏，拒绝盗版游戏，注意自我保护，谨防受骗上当，适度游戏，合理安排时间，享受健康生活</p>
				</div>
			</div>