body{background: #160d06; font:24px "微软雅黑", "Arial Narrow", HELVETICA; color: #fff; text-align: center;}
.wrap{ max-width: 640px; position: relative; margin: 0 auto;}
.mask{ width: 100%; height: 100%; position: fixed; display: none; top: 0; left: 0; background: rgba(0,0,0,.6); z-index: 99;}
/*模块1*/
.main01{ width: 100%; height: 99px; position: relative; }
.main01_top{ width: 94%; z-index: 20; padding: 1.5% 3%; background: #4c4c4c; position: absolute; top: 0; left: 0; z-index: 12;}
.top_peo{ float: left; margin-right: 2%; width: 13%;}
.top_title{ float: left; text-align: left; width: 33%;}
.top_title h3{ font-size: 1.5em; font-weight: normal; padding: 1.5% 0;}
.top_title p{ font-size: 0.75em; color: #dadada;}
.top_btn{ float: right; width: 52%; padding-top: 2.8%;}
.top_btn a{ width: 132px; height: 54px; text-align: center; float: left; margin-left: 3%; line-height: 54px; display: inline-block;}
.top_btn a.link01{color: #fff; background: url(../images/top_lin01.png) no-repeat; position: relative; left: 30px;}
.top_btn a.link03{color: #fff; background: url(../images/top_lin01.png) no-repeat; position: relative; left: 30px;}
.top_btn a.link02{ background: url(../images/top_link02.png) no-repeat;}
.main01_nav{ position: absolute; top: 95px; display: none;z-index: 101;}
.main01_nav a{ float: left; display: inline-block; margin-left: 4px;}
.wclose{ position: absolute; top: 0; right: 0;}
.main01_bot{ width: 100%; position: absolute; bottom: 0; left: 0;}
.main01_bot a{ float: left; display: inline-block; margin-left: 4px;}
.w_bg{ position: absolute;top: 100px;left: 0;width: 100%; background:url(../images/m_white.png) no-repeat top center;min-height: 900px;z-index: 20; display: block;}
.m2_bg{position: relative;height: 527px; width: 100%; z-index: 1;}
.stage {position: absolute;z-index: 100;overflow: hidden;width: 100%;height: 224px;background-size: 100%;background-repeat: no-repeat;top: 100px;}
.stage-logo {position: absolute;top: 7rem;left: 76%;margin-left: -11rem;width: 268px;height: 101px;z-index: 2;background: url(../../common/images/c_logo.png) no-repeat;background-size: 100%}
.stage-logo-bg {position: absolute;width: 75%; left: 25%; height: 19rem;top: 1.2rem;z-index: 1;background:url(../../common/images/logo_white.png) no-repeat;background-size: 100%}
.animate{width: 100%;max-width: 640px;overflow: hidden;}
.ai_title{width: 600px; height: 140px;margin: 0 auto; position: absolute; overflow: hidden; top:320px; z-index: 15;margin:0 auto;text-align: center;}
.ai_title img{display: inline-block;}
.ai_title .t1{width: 558px;}
.ai_title .t2{width: 400px;}
.play_btn{position: absolute;z-index: 25;top: 450px;left: 50%;width: 70px;height: 105px;margin-left: -35px;}
.play_btn a{display:block; cursor: pointer;}
.play_btn img{display: block;width: 70px;}
.main03{width: 536px; position: relative;z-index: 20; height: 315px;background: url(../images/register_bg.jpg) no-repeat; margin: 0 auto 60px auto;}
.main03bg{width: 537px; height: 403px;background: url(../images/register_bg01.jpg) no-repeat;}
.m3_register{padding-top: 23px;}
.m3_register h3{width: 130px;margin: 0 auto 23px auto; background: url(../images/register.png) no-repeat left center;padding-left: 23px; font-weight: normal;color: #e4d3ba;font-size: 1.2em;}
.m3_register p{ width: 368px; margin: 0 auto; text-decoration: underline; color: #e4d3ba;background: url(../images/gift.png) no-repeat left center; padding-left: 37px;height: 33px;line-height: 33px;}
.m3_con,.m3_con ul li span input{font-size: 0.8em;}
.m3_register p{font-size: 0.7em;}
.main04{margin-bottom: 60px;}
.downlode{width: 380px;margin: 0 auto;}
.downlode a{display: block;float: left;}
.downlode a:last-child{float: right;}
.m6_about{width: 460px;margin: 0 auto;padding-top: 60px;}
.m6_about p{margin-bottom: 13px;width: 460px;height: 44px;}
.m6_about p span{display: inline-block;margin-right: 20px;width: 170px;height: 44px;}
.m6_about p span.p_spanspe{width: 330px; color: #c69774; height: 40px;line-height: 40px; padding-left:40px;font-size: 0.8em;background: url(../../common/images/ico05.png) no-repeat left center;}
.m6_about img{display: block;float: left;}
.m6_about a{float: right;}
.bottom{padding-top: 10px; position: relative; width: 100%; background:#000; text-align: center; padding-bottom: 20px; font-size: 1em; z-index: 98;}
.bottom p{height: 35px;line-height: 35px;font-size: 0.7em;color: #b7b7b7;}
.m3_con ul li span input::-webkit-input-placeholder{color: #fff !important;}
.m3_con ul li span input:-moz-placeholder{color: #fff !important;}
.m3_con ul li span input::-moz-placeholder{color: #fff !important;}
.m3_con ul li span input:-ms-input-placeholder{color: #fff !important;}
/*视频*/
#video_mask{ width: 100%; max-width: 640px; height: 100%;padding-top:100px;background: url(../../common/images/d.png) repeat; position: fixed; margin: 0 auto; top: 0; z-index: 99999;display: none;}
#close {width: 60px;height: 60px; display: block; z-index: 100; position: absolute; top: -55px; right: -8px; background: url(../../common/images/c.png) 3px no-repeat;cursor: pointer; background-size: 70%;}
.none {line-height: 0;font-size: 0;margin: 0;padding: 0;}
.both {clear: both;}
#player5{ width:640px;height:480px; margin:160px auto 0; color:#000; position: relative;}
.reg_ico{margin: 10px auto 2px auto;text-align: center;}
.reg_ico a{display: inline-block; margin:0px 3px;}
/*专题页*/
.sub_wrap{ position: relative;}
.main01_tops{ background: rgba(0,0,0,.7);}
.sub_load_btn{ float: right; width: 152px; margin-right: 6%;}
.sub_nav{ position: fixed; top: 200px; right: 0; width: 59px; z-index: 20;}
.sub_nav ul{ width: 59px; height: 670px;}
.sub_nav ul li{ margin-bottom: 3px; width: 59px; height: 106px;}
/*专题页——模块一*/
.sub_mn01{ position: relative;}
.sub_mn01 .sub_logo{ position: absolute; top: 110px; left: 0; width: 100%;}
.sub_mn01 .sub_logo img{ width: 241px; height: 110px; margin: 0 auto;}
.sub_bg{ width: 100%; height: 880px;}
.sub_bg .slogan{ position: absolute; left: 0; bottom: 200px;}
.sub_mn01 img{ display: block;}
.sub_info{ position: absolute; bottom: 20px; padding: 0 30px;}
.sub_info time{ font-size: 0.9em; color: #e8dede; text-shadow: 5px 5px 5px #000,-5px -5px 5px #000; text-align: center; height: 50px; line-height: 50px;}
.sub_info p{ font-size: 0.8em; text-align: left; color: #ffffff; line-height: 1.5em;}
.main01_nav{ position: absolute; top: 95px; display: none;right: 40px;}
.main01_nav a{ float: left; display: inline-block; margin-left: 4px;}
.wclose{ position: absolute; top: 0; right: 0;}
/*专题页——模块二*/
.sub_mn02{ width: 100%; background: #06050e; position: relative; overflow: hidden;}
.sub_mn02 h1{ width: 100%; height: 57px; margin-bottom: 25px; position: relative; background: url(../../common/images/tit_bg.jpg) repeat-x;}
.sub_mn h1 img{ float: left;}
.sub_mn h1 a{ display: block; float: right; margin-right: 20px; margin-top: 3px;}
.sub_mn02_con{ width: 100%; height: 364px; font-size: 0.8em; color: #00daff; background: url(../images/sub_mn2_bg.jpg) repeat-x;}
.sub_mn02_con p{ text-align: left; line-height: 1.5em; padding: 0 30px;}
.sub_mn02_con ul{ padding: 0 30px;}
.sub_mn02_con ul li{ float: left; width: 285px; height: 252px;}
.sub_mn02_con ul li img{ margin: 50px auto 10px auto;}
.sub_mn02_con ul li p{ text-align: center; width: 100%;}
.sub_mn02_con a{ color: #00daff;}
.bot_bg{ position: absolute; bottom: 0; left: 0;}
/*专题页——模块三*/
.sub_mn03{ width: 100%; background: #000; position: relative; height: 1320px; padding-top: 60px;}
.sub_mn03 .dog{ position: absolute; top: 40px; right: 10px;}
.sub_mn03 h1{ width: 100%; position: relative; z-index: 10; height: 57px; margin-bottom: 25px;}
.sub_mn03 p{ position: relative; z-index: 10; padding: 0 30px; font-size: 0.8em; text-align: left; line-height: 1.5em; margin-bottom: 10px;}
.sub_mn03 ul li{ float: left; width: 307px; height: 268px; position: relative; margin-left: 10px;}
.sub_mn03 ul li:nth-last-child(1){ width: 420px; height: 264px; clear: left; margin-left: 112px;}
.sub_mn03 ul li h3{ position: absolute; top: 0; left: 0; width: 100%; font-size: 0.8em; font-weight: normal; text-align: center; color: #00daff; height: 35px; line-height: 35px;}
.sub_mn03 ul li p{ position: absolute; color: #ffe624; padding: 0; margin: 0; bottom: 80px; left: 0; width: 100%; font-size: 1em; font-weight: normal; text-align: center;}
.sub_mn03 ul li a{ width: 100%; height: 74px;}
.sub_mn03 ul li a img{ margin-top: 5px;}
.sub_mn03 ul li:last-child p{ bottom: 20px;}
/*专题页——模块四*/
.sub_mn04{ width: 100%; clear: both; background: #0f112c; position: relative; overflow: hidden;}
.sub_mn04 h1{ width: 100%; height: 57px; margin-bottom: 25px; position: relative; background: url(../../common/images/tit_bg.jpg) repeat-x;}
.sub_mn04_con{ width: 100%; height: 427px; font-size: 0.8em; color: #00daff; background: url(../images/sub_mn4_bg.jpg) repeat-x;}
.sub_mn04_con p{ text-align: left; line-height: 1.5em; padding: 0 30px;}
.sub_mn04_con ul{ padding: 0 30px;}
.sub_mn04_con ul li{ float: left; width: 290px; height: 252px;}
.sub_mn04_con ul li img{ margin: 50px auto 10px auto; width: 277px; height: 193px;}
.sub_mn04_con ul li p{ text-align: center;}
.sub_mn04_con a{ color: #00daff;}
/*专题页——模块五*/
.sub_mn05{ width: 100%; /*height: 385px;*/ border-bottom: 1px dotted #00a1c6; padding-top: 40px; background: #000; position: relative;}
.sub_mn05 h1{ width: 100%; height: 57px; margin-bottom: 25px; position: relative; }
.sub_mn05_con{ position: relative;}
.sub_mn05_con p{ text-align: left; padding: 10px 30px; font-size: 0.8em; width: 400px;}
.sub_mn05_con p span{ font-weight: bold; color: #00daff; font-size: 1.1em;}
.sub_mn05_con h4{ text-align: center; color: #00daff; margin: 10px 30px; width: 160px;}
.sub_mn05_con .a_share{ display: block; margin-left: -20px; margin-top: 20px;}
.s_l_ewm{position: absolute; top:145px; right: 80px;}
.s_l_ewm img{ width: 112px; height: 112px;}
.s_l_ewm span{display: block;color: #fff; font-size: 0.5em;}
/*专题页——模块六*/
.sub_mn06{ padding: 40px 30px; background: #000;}
.sub_mn06 p{ text-align: center; color: #858585; font-size: 0.8em;}
/*弹窗*/
#receive_box {display: none; position: fixed;top: 50%; background: url(../../common/images/subre_bg01.png) no-repeat; left: 50%;width:620px;margin-left:-310px; margin-top: -160px; height:320px;z-index:999;}
.vs_bg{display: none; width: 100%;height: 100%;z-index: 90; background: url(../../common/images/d.png) repeat; position: fixed;top: 0; left: 0;}
.sub_close{width: 31px; height: 31px; position: absolute; top:0px; right:0px; margin: 25px 20px 0px 0px; background: url(../../common/images/sub_colse_h.png) no-repeat;cursor: pointer;}
/* select */
.demo{width: 412px;margin: 40px auto 0px auto;}
.select{z-index: 100;}
.select_top{height:70px;display:inline-block;border:1px solid #3a809f;background:url(../../common/images/xl_bg.png) repeat;line-height:44px;font-weight:bold;padding-left:10px;width:400px;padding-right:12px;overflow:hidden;position:relative;z-index:99; color:#fff}
.select_top input{font-size: 24px; width: 330px; padding-left: 15px; color: #55aad1; background: transparent; border: 0; outline-style: none; height: 70px; line-height: 70px; position: absolute; left: 0; top: 2px;}
input.subtext{background:url(../../common/images/xl_bg.png) repeat;border:1px solid #3a809f;font-size: 24px;margin: 10px auto;width: 406px;padding-left: 15px; color: #55aad1;outline-style: none;height: 70px; line-height: 70px;}
.select_top span{ width:69px; height:68px; background: url(../../common/images/sub_xl.jpg) no-repeat; position: absolute; right: 0; top: 2px; cursor:pointer; z-index: 10;}
.select_info{display: none; width: 422px;height: 190px;overflow-y: auto;position: absolute;}
.select_info ul{ list-style: none; min-height:190px;background:#102a4e; }
.select_info ul li{ width: 90%; padding: 0 5%; height: 45px; text-align: center; border-bottom: 1px dotted #02b0d9; color: #55aad1; line-height: 45px; cursor: pointer; color: #55aad1; font-size: 1.3em; }
input::-webkit-input-placeholder {color: #55aad1 !important;}
input:-moz-placeholder {color: #55aad1 !important;}
input::-moz-placeholder {color: #55aad1 !important;}
input:-ms-input-placeholder {color: #55aad1 !important;}
.demo_btn{width: 180px;height: 70px;display: block;margin: 0 auto; background:none; border:none;}
#re_btn{position: fixed;top: 50%; background: url(../../common/images/subre_bg02.png) no-repeat; left: 50%;width:620px;margin-left:-310px; margin-top: -97px; height:194px;z-index:999;display: none;}
#re_btn .subtext{+position:relative;font-size: 0.7em; +left:150px;display:block; color: #53c1e8; padding: 20px; width: 380px;height: 52px; margin: 40px auto 0px auto;background:url(../../common/images/xl_bg.png) repeat;}
#re_btn p{width: 431px;margin: 5px auto 0px auto;font-size: 18px;color: #53c1e8;}
/*active*/
.active_bg{ position: absolute; width: 100%; top: 100px;}
.active_bg .active_bg{ width: 100%; left: 0; top: 0;}
.active_bg .active_logo{ position: absolute; z-index: 10; top: 0; left: 0; width: 100%; text-align: center;}
.active_bg .active_logo img{ display: inline-block; width: 285px; height: 100px; margin-left: -20px;}
.active_bg .active_peo01{ position: absolute; top: 40px; right: 15px;}
.active_bg .active_peo02{ position: absolute; top: 0; left: 0px;}
.active_bg .active_view{ position: absolute; width: 502px; top: 150px; left: 50%; margin-left: -251px;}
.active_bg .active_view img{ width: 502px;}
.active_header{ width: 100%; height: 88px; padding: 6px 0; z-index: 12; top: 100px; position: relative;}
.active_header a{ color: #d2cfa1; font-size: 0.9em; text-shadow: 2px 2px 2px #000; display: block; float: right; margin-right: 6px; width: 119px; height: 41px; background: url(../images/return_home_btn.png) no-repeat; line-height: 41px; text-align: center;}
.active_container{ width: 100%; position: relative; margin-top: 365px; text-align: center;}
.active_nav{ width: 100%; margin-bottom: 20px;}
.active_nav ul{ display: inline-block;}
.active_nav ul li{ float: left; cursor: pointer; margin: 0 3px; width: 85px; height: 39px; line-height: 39px; text-shadow: 2px 2px 3px #000; text-align: center; background: url(../images/sub_nav_bglink.png) no-repeat;}
.active_nav ul li.on{ background: url(../images/sub_nav_bghover.png) no-repeat;}
.active_main{ background: #091737; width: 100%; border-radius: 10px;}
.active_main ul li{ border: 2px solid #970813; border-radius: 10px; margin-bottom: 5px;}
.active_main ul li img{ width: 615px; height: 306px; display: block; border-radius: 10px; border: 10px solid rgba(0,0,0,.7);}
.footer{ background: #07090b; font-size: 0.7em; width: 100%; padding: 20px 0 40px 0; color: #626262; position: relative;}
.footer p{ margin-bottom: 5px;}
.footer p span{ padding: 0 5px;}
/*高校赛事*/
.g-wrap{background: #1e1d24;}
.g-bg{position: relative;width: 100%; z-index: 1;}
.gm-banner{position: absolute;width: 302px;top:180px;z-index: 10;left: 20px;}
.g-main{width: 592px;margin:10px auto 0;text-align: left;}
.g-title{width: 100%;background:url(../../common/images/g_title_line.png) no-repeat bottom; padding-bottom: 20px; margin-bottom: 25px;}
.g-titleft,.g-titright{float: left;}
.g-titleft{margin: 5px 37px 0 0;width: 72px;}
.g-titright{width: 481px;}
.g-title .g-titright h3{color: #ae353c;font-size: 1.2em;margin-bottom: 10px;}
.g-title .g-titright p{font-size: 0.8em;color: #ccc;line-height: 24px;}
.g-titright .g-rpspecial{margin-bottom: 45px;}
.g-titright .g-rpspecial:last-child{margin-bottom: 0;}
.g-titright .g-rpspecial p{line-height: 30px;}
.g-titright .g-rpspecial p span{color:#e6c666;}
.g-message{background: #2e2c38;width: 592px;margin:0 auto 2px auto;}
.g-margin{margin-top: 20px;}
.g-message .g-mtil{height: 50px;line-height: 50px;padding-left: 23px;margin-bottom: 2px;background:url(../../common/images/g_title_ng01.jpg) no-repeat;}
.g-message .g-mtil h3{color: #fff;font-size: 20px;}
.g-mesmain{padding: 5px 5px 15px 5px;}
.g-mesmain ul li span{display: block;float: left;text-align: right;font-size:0.8em;color: #ccc;width: 165px;position: relative;top:5px;}
.g-mesmain ul li{height: 44px;line-height: 44px;margin-bottom: 10px;}
.g-mesmain ul li input{padding:10px; font-size: 0.8em; border: 1px solid #1b1a22;background: #24222c;color: #9f9fa1;width: 306px;}
.g-submit{width: 592px; margin: 30px 0 20px 0;}
.g-noline{background: none;margin-bottom: 0;}
.g-submit a{display: block;width: 127px;height: 54px;margin: 0 auto;}
.g-bottom{background: #21222c;border-top: 4px solid #282935;}
.g-aboutbg{width: 560px;margin: 0 auto;padding: 27px 0 10px 0;}
.g-aboutbg p{margin-bottom: 13px;width: 560px;height: 56px;line-height: 56px;}
.g-aboutbg p span{display: inline-block;margin-right: 20px;width: 255px;height: 44px;}
.g-aboutbg p span.p_spanspe{width: 500px; color: #999; text-align: left; height: 45px;line-height: 45px; padding-left:60px;font-size: 0.8em;background: url(../../common/images/g_ico_btn_msg.png) no-repeat left center;}
.g-aboutbg img{display: block;float: left;width: 45px;}
.g-aboutbg a{float: right;background: #9f343b;border: 1px solid #bc444d;width: 196px;height: 56px;color: #520005;}
/*active_sub——一周年活动专题页*/
.bgs{ position: absolute; top: 105px; width: 100%;}
.bgs img{ display: block;}
.active_sub_main{ position: relative; width: 100%; height: 360px; padding-top: 535px; margin-bottom: 105px;}
.active_sub_con{ position: relative;}
.active_sub_wrap{ width: 580px; height: 360px; margin: 0 auto; overflow: hidden; position: relative; border: 2px solid #2d2d42;}
.active_sub_wrap ul{ position: absolute; height: 360px; left: 0;}
.active_sub_wrap ul li{ float: left; width: 580px; height: 360px; position: relative;}
.big_img{ position: fixed; width: 620px; height: 380px; left: 50%; margin-left: -310px; top: 50%; margin-top: -190px; z-index: 100;}
.big_img img{ width: 620px; height: 380px;}
.close_big{ display: block; position: absolute; cursor: pointer; top: 0; right: 0; width: 40px; height: 40px; background: url(../../common/images/c.png) no-repeat; background-size: 40px 40px;}
.active_sub_info{ width: 560px; height: 58px; padding: 10px; line-height: 2em; background: rgba(0,0,0,.8); position: absolute; bottom: 0; left: 0; color: #fff; font-size: 0.6em; text-align: left;}
.arrow{ display: block; text-align: center; vertical-align: middle; position: absolute; bottom: 140px; z-index: 10; width: 45px; height: 80px; background: #393f4d;}
.arrow img{ width: 12px; height: 21px; margin-top: 25px;}
.arrow_l{ left: 10px;}
.arrow_r{ right: 10px;}
.active_sub_footer{ position: relative; width: 100%; padding: 25px 0; background: url(../images/active_bot_bg.jpg) repeat; font-size: 0.7em; color: #8c8c8e;}
.active_sub_footer p{ margin-bottom: 5px;}

/*职业联赛*/
img{outline-width:0px;vertical-align:top;} 
.yqs_wrap{position:absolute;width:100%;overflow:hidden;}
.yqs_main01{ width: 100%; height: 99px; position: relative; }
.yqs_main01_top{ width: 94%; z-index: 20; padding: 1.5% 3%; background: url(../images/yqsmbg1.jpg) no-repeat 100% 100%; position: absolute; top: 0; left: 0;}
.yqs_main02{width:100%;height:864px;position:relative;}
.yqs_qz_m_021{height:200px;position:absolute;left:0;bottom:200px;text-align:center;z-index:10;-webkit-animation: lightSpeedIn 2s ease 0s 1 both;animation:lightSpeedIn 2s ease 0s 1 both;}
.yqs_qz_m_02{width:120px;height:120px;position:absolute;left:50%;bottom:380px;margin-left:-60px;}
.yqs_vedio1{position: absolute;top:0;z-index: 1000;width: 100%;height: 100%;background: url(../images/yqs_vedio1.png) no-repeat;background-size: 100%;-webkit-animation: rotating 1.2s linear infinite;-moz-animation: rotating 1.2s linear infinite;animation: rotating 1.2s linear infinite;}
.yqs_vedio2{background-repeat: no-repeat;background-position: center center;background-size: cover;border-radius: 50%;width: 120px;height: 120px;background-image: url(../images/yqs_vedio2.png);margin-left:3px;}
 @-webkit-keyframes rotating{from{-webkit-transform:rotate(0deg)}to{-webkit-transform:rotate(360deg)}}
 @keyframes rotating{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}
 @-moz-keyframes rotating{from{-moz-transform:rotate(0deg)}to{-moz-transform:rotate(360deg)}}
@-webkit-keyframes lightSpeedIn {
	0% {
		-webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
		transform: translate3d(100%, 0, 0) skewX(-30deg);
		opacity: 0
	}
	60% {
		-webkit-transform: skewX(20deg);
		transform: skewX(20deg);
		opacity: 1
	}
	80% {
		-webkit-transform: skewX(-5deg);
		transform: skewX(-5deg);
		opacity: 1
	}
	100% {
		-webkit-transform: none;
		transform: none;
		opacity: 1
	}
}
@-moz-keyframes lightSpeedIn {
	0% {
		-webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
		transform: translate3d(100%, 0, 0) skewX(-30deg);
		opacity: 0
	}
	60% {
		-webkit-transform: skewX(20deg);
		transform: skewX(20deg);
		opacity: 1
	}
	80% {
		-webkit-transform: skewX(-5deg);
		transform: skewX(-5deg);
		opacity: 1
	}
	100% {
		-webkit-transform: none;
		transform: none;
		opacity: 1
	}
}
@-o-keyframes lightSpeedIn {
	0% {
		-webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
		transform: translate3d(100%, 0, 0) skewX(-30deg);
		opacity: 0
	}
	60% {
		-webkit-transform: skewX(20deg);
		transform: skewX(20deg);
		opacity: 1
	}
	80% {
		-webkit-transform: skewX(-5deg);
		transform: skewX(-5deg);
		opacity: 1
	}
	100% {
		-webkit-transform: none;
		transform: none;
		opacity: 1
	}
}
@-ms-keyframes lightSpeedIn {
	0% {
		-webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
		transform: translate3d(100%, 0, 0) skewX(-30deg);
		opacity: 0
	}
	60% {
		-webkit-transform: skewX(20deg);
		transform: skewX(20deg);
		opacity: 1
	}
	80% {
		-webkit-transform: skewX(-5deg);
		transform: skewX(-5deg);
		opacity: 1
	}
	100% {
		-webkit-transform: none;
		transform: none;
		opacity: 1
	}
}
@keyframes lightSpeedIn {
	0% {
		-webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
		transform: translate3d(100%, 0, 0) skewX(-30deg);
		opacity: 0
	}
	60% {
		-webkit-transform: skewX(20deg);
		transform: skewX(20deg);
		opacity: 1
	}
	80% {
		-webkit-transform: skewX(-5deg);
		transform: skewX(-5deg);
		opacity: 1
	}
	100% {
		-webkit-transform: none;
		transform: none;
		opacity: 1
	}
}
.yqs_qz_m_02:hover{cursor:pointer}
.upDown {-webkit-animation: upDown 1.2s ease-out infinite;animation: upDown 1.2s ease-out infinite;width:640px;height:110px;position:absolute;z-index:1000;bottom:10%;left:50;margin-left:-320x;text-align:center}
@-webkit-keyframes upDown {0% {-webkit-transform: translateY(0) scale(1);transform: translateY(0) scale(1);opacity: 1;}100% {-webkit-transform: translateY(50px) scale(0.8);transform: translateY(50px) scale(0.8);opacity: .4;}}
@keyframes upDown {0% {-webkit-transform: translateY(0) scale(1);transform: translateY(0) scale(1);opacity: 1;}100% {-webkit-transform: translateY(50px) scale(0.8);transform: translateY(50px) scale(0.8);opacity: .4;}}
.yqs_main03{position:relative;width:100%;overflow:hidden;}
.yqs_main03_1{position:relative;width:640px;height:39px;background:url('../images/yqsnews1.jpg') no-repeat}
.yqs_main03	.tabBox .hd{overflow:hidden;width:100%;font-size:0.875em; background:#060f2d;position:relative;  }
.yqs_main03	.tabBox .hd ul{overflow:hidden;background:#060f2d;padding:4px;}
.yqs_main03	.tabBox .hd ul li{ float:left;background:url(../images/yqsmain03_1.jpg) no-repeat;width:155px;height:48px;line-height:48px;margin:4px 0 0 4px;}
.yqs_main03	.tabBox .hd ul li:first-child{margin-left:0}
.yqs_main03	.tabBox .hd ul li:nth-child(5){margin-left:0}
.yqs_main03	.tabBox .hd ul li a{color:#fff; }
.yqs_main03	.tabBox .hd ul .on{}
.yqs_main03	.tabBox .hd ul .on a{ display:block;   color:#060f2d;}
.yqs_main03	.tabBox .bd{}
.yqs_main03	.tabBox .bd ul{ }
.yqs_main03	.tabBox .bd li{height:306px; line-height:306px;width:640px;background:#052f48;}
.yqs_main03	.tabBox .bd li img{width:640px;height:306px;}
.yqs_main03	.tabBox .bd li a{ -webkit-tap-highlight-color:rgba(0,0,0,0); }  /* 去掉链接触摸高亮 */
.yqs_main03	.tabBox .prev{width:50px;height:80px;position:absolute;left:15px;top:50%;z-index:111}
.yqs_main03	.tabBox .next{width:50px;height:80px;position:absolute;right:15px;top:50%;z-index:111}
.yqs_main04{position:relative;width:100%;overflow:hidden;}
.yqs_main04_1{position:relative;width:640px;height:39px;background:url('../images/yqsnews2.jpg') no-repeat}
.yqs_main04_1 a{width:24px;height:24px;position:absolute;top:50%;margin-top:-12px;right:23px;}
.yqs_main04 ul{width:100%;display:block;}
.yqs_main04 ul li{width:100%;height:145px;border-bottom:5px solid #d3deec;background:#031c24;float:left;}
.yqs_main04 ul li:last-child{border:none;}
.yqs_main04_2png{float:right;width:50px;height:85px;margin:30px 17px 0 0;}
.yqs_main04_2{width:550px;height:124px;margin:10px 0 0 10px;color:#fff}
.yqs_main04_2 div{width:416px;float:right;text-align:left;padding-top:10px;overflow:hidden;height:104px;}
.yqs_main04_2 div p:nth-child(1){font-size:1.3em}
.yqs_main04_2 div p:nth-child(2){font-size:0.725em;line-height:1.5em;margin-top:10px;}
.yqs_main04_2 img{float:left;width:125px;height:124px;}
.yqs_main05{position:relative;width:100%;overflow:hidden;}
.yqs_main05_1{position:relative;width:640px;height:39px;background:url('../images/yqsnews3.jpg') no-repeat}
.yqs_main05_1 a{width:24px;height:24px;position:absolute;top:50%;margin-top:-12px;right:23px;}
.yqs_jchd {height:314px;margin: 0 auto;width: 640px;}
.yqs_con01 {height: 314px;overflow: hidden;position: relative;width: 640px;}
.yqs_con01 ul {left: 0;position: absolute;width: 2240px;}
.yqs_con01 ul li {float: left;height: 314px;width: 640px;}
.yqs_con01 ul li img {height: 314px;width: 100%;}
.buttons {bottom: 20px;position: absolute;right: 40px;}
.buttons span {background: rgba(0, 0, 0, 0) url("../images/button01.png") no-repeat scroll 0 0;display: inline-block;float: left;height: 17px;margin-left: 7px;width: 17px;cursor:pointer}
.buttons span.on {background: rgba(0, 0, 0, 0) url("../images/button02.png") no-repeat scroll 0 0;cursor:pointer}
.yqs_main06{width:100%;background:#fff;position:relative;display:block;overflow:hidden;}
.yqs_main06 li{float:left;width:100%;background:#fff;margin-top:10px;height:85px;line-height:85px;}
.yqs_main06 li img{width:316px;height:85px;}
.yqs_main06 li a:nth-child(1) img{float:right;}
.yqs_main06 li a:nth-child(2) img{float:left;}
/*brand*/
.h_main01,.h_main02,.h_main03,.h_main04,.h_main05,.h_main06,.h_main07,.h_main08,.h_main09,.h_main10{position: relative;}
.h_con{position: absolute;top: 0;left: 50%;width: 620px;margin-left: -310px;padding-top: 35px;}
.b_logo{position: absolute;top: 10px;left:0px;}
.b_logo img{width: 153px;}
.b_empty{height: 455px;}
.b_tip{width: 100px;margin: 0 auto;-webkit-animation: upDown 1.2s ease-out infinite;animation: upDown 1.2s ease-out infinite;}
.b_tip img{width: 110px;}
.b_hc_left{float: left;width: 72px;position: relative;}
.b_title_width{width: 72px;}
.b_hc_right{width: 524px;float: left;font-size: 1em;}
.b_rlong_width{width: 375px;}
.b_rsmall_width{width: 188px;}
.b_r_top{margin: 0 auto;text-align: center;}
.b_r_margin{margin-bottom: 26px;}
.b_r_top img{display: block;margin: 0 auto;}
.b_r_bottom{margin-bottom: 20px;}
.b_r_bottom p{text-align: center;color: #fff;font-size: 0.8em;}
.b_r_pleft p{text-align: left;margin: 20px 0;width: 560px;margin: 0 auto;}
.b_r_bottom{margin: 8px auto 27px;text-align: center;width: 620px;}
.b_r_bottom a{font-size: 1em;display: inline-block; color: #fefc9e; margin: 0px 7px; width: 116px;height:52px;line-height: 47px;background: url(../images/b_btn.png) no-repeat;}
.b_bot_list{margin:0 0 0px 4px;}
.b_bot_list span{display: block;float: left;width: 8px;height: 100px;}
.b_bot_list .bot_lspan{background: url(../images/hc_bgleft.png) no-repeat;}
.b_bot_list .bot_rspan{background: url(../images/hc_bgright.png) no-repeat;}
.bot_articl{ padding: 6px 0 0 0;height: 100px;background: url(../images/hc_bg.png) repeat-x;float: left;}
.bot_articl .b_art_title{float: left;margin:24px 4px 0 0;width: 90px;}
.bot_articl .b_art_right{float: left;}
.b_art_right ul li img{width: 82px;}
.h_m02list ul li{ position: relative; width: 82px;height: 82px;background: url(../images/hc_bgs.png) repeat;text-align: center;border-radius: 5px;float: left; margin-right:2px;}
.h_m02list ul li span{display:block;font-size: 0.5em;color: #fff;width: 100%;height: 24px;position: absolute;top: 62px;left: 0;text-align: center;}
.b_bomr{float: left;width: 82px;margin-left: 45px;}
.b_bomr span{display: block;font-size: 0.5em;color: #fff;}
.b_shert{width: 135px;}
.b_rsmall_width02{width: 330px;}
a.b_gou{display: block;margin: 0 auto;width: 201px;height: 53px;background: none;margin-top: 28px;}
a.b_gou img{width: 200px;}
.h_m03width{width: 525px;margin: 0 auto;}
.h_m03list img{float: left;}
.h_bgm4{background: url(../images/mbg04.jpg) no-repeat top center;height: 501px;width:100%;z-index: 1;}
.h_m04list{width: 560px;margin: 15px auto;float: right;}
.h_m04list ul li{float: left;width: 75px;height: 125px;}
.h_m04list ul li img{width: 75px;}
.b_r_bottom .br_bimg{width: 230px;}
.b_r_bottom .br_bimgleft{float: left;margin-right: 47px;}
.b_r_bottom .br_bimgright{float: right;}
.b_r_bottom .br_bimg span{font-size: 0.75em; color: #f2dd42;display: block;text-align: center;}
.b_r_middle p{font-size: 0.68em;width: 505px;margin: 0 auto;}
.h_m05width,.h_m05width img,.br_bimgleft img{width: 200px;}
.b_r_bottom .b_bomr img{margin-bottom: 10px;}
.h_bgm6{height: 365px;}
.h_m07width img{width: 558px;float: right;}
.h_bgm7{height: 406px;overflow: hidden;}
.h_bgm8{height: 450px;overflow: hidden;}
.b_margin{ margin-top: 20px;}
.b_margin img{margin-bottom: 10px;}
.h_r_cbg{background: url(../../common/images/m_h10bg.png) no-repeat;height: 353px;margin:20px auto 0;width: 570px;float: right;}
.b_r_bottom .b_h10_ul01 li{float: left;position: relative;}
.b_ul01_width{width: 570px; height: 110px; margin:0px auto 3px; padding-top: 15px;}
.b_ul01_width li{width: 160px;height: 110px;margin:0 15px;}
.b_ul02_width{width: 570px;margin: 0 auto;}
.b_ul02_width li{width: 140px;height: 120px;}
.b_rsmall_width03{width: 265px;}
.b_tck{position: fixed;top: 50%;left: 50%;background: #220705;border-radius: 5px;z-index: 1001;}
.js_addtck{width:490px;height: 125px; padding:45px 0 50px;margin-left: -272px;margin-top: -121px;text-align: center;}
.js_addtck a{display: block;}
.js_first span,.js_first input{display: inline-block;color: #fefc9e;font-size: 1.2em;}
.js_first input,.js_second input{ width: 175px; background:#d53737;color: #fefc9e;border: 1px solid #ff4242;padding:10px;border-radius:8px;}
.js_first .js_btn,.js_second .js_btn{display: block;margin-top: 28px;}
.js_close{position: absolute;top: 0;right:-65px;}
.js_addcon{width: 350px;height: 176px;margin:-88px 0 0 -175px;text-align: center;}
.js_addcon p{color: #fff;font-size: 1.3em;margin-top:40px;}
.js_addcon span{font-size: 1.3em;}
.b_height{height: 234px;margin-top: -167px;}
.js_addcon .js_first{width: 312px;margin: 0 auto;}
.b_selectmain{display: none;background: #d53737;}
.js_second .b_selectmain{height: 120px;overflow-y: auto;}
.js_second .b_selectmain li{color: #fff;}
.js_second .b_selectmain li:hover{background: #fefc9e;color: #333;}
.b_text{position: relative;width: 172px;height: 60px;}
.b_text .b_select_img{position: absolute;right:17px;top:1px;border-radius: 5px;}
.b_select input{width: 120px;padding: 9px 10px;}
.js_second{width: 490px;margin: 0 auto;}
.b_select{float: left;}
input.btck_text{width: 120px;}
.b_mask{ display: none; background:url(../images/mask.png) repeat;width: 100%;height:100%;position: fixed;top: 0;left: 0;z-index: 1000;}*/
/*0906修改*/
.jsb_nav .footer{padding-top: 30px;}
.b_addpic{background: url(../images/gift_bg.png) no-repeat;width: 564px;height: 187px;float: right;}
.b_addpic img{width: 352px;margin:10px auto 0;}
div.h_m07width{background: url(../images/mh_07bg.png) no-repeat;width: 572px;height: 263px;padding-top: 5px;}
div.h_m07width p{font-size:0.65em;color: #fff;}
.b_ul03_width{width: 380px;margin: 0 auto;text-align: center;}
.b_ul03_width li{margin: 0 10px;}
.b_ul01_width img{width: 160px;}
.b_ul03_width img{width: 170px;}
.h_m09list{width:610px;margin:25px auto 0;}
/*一周年入口*/
.enter_bg{ width: 100%; position: relative;}
.enter_bg img{ display: block;}
.enter_load{ position: absolute; bottom: 255px; left: 50%; margin-left: -132px; width: 265px; height: 75px;}
.enter_nav{ position: absolute; bottom: 0; height: 216px;background: url(../images/i_navbg.png) repeat;width: 100%;text-align: center;}
.enter_nav ul li a img{ display: block;}
.enter_nav ul li{ height: 216px;display: inline-block;}
.load_wrap{ width: 100%; height: 190px; display: none; padding-top: 26px; position: absolute; bottom: 0; left: 0; text-align: center; background: url(../images/mask_bg.png) repeat;}
.load_wrap a{ margin: 0 8px;}
.enter_solgen{ position: absolute; z-index: 20; width: 640px; height: 228px; top: 120px; left: 50%; margin-left: -320px;}
.enter_solgen img{ width:640px; height: 228px; -webkit-animation: animate1 2.5s linear infinite; animation: animate1 2.5s linear infinite; }
@-webkit-keyframes animate1{
	0%{
		-webkit-transform:  scale(1);
	    opacity: 0.8;
	}
	50% {
		-webkit-transform:  scale(0.8);
	    opacity: 0.5;
	}
	100% {
		-webkit-transform:  scale(1);
	    opacity: 0.8;
	}
}
@keyframes animate1{
	0%{
	    transform: scale(1);
	    opacity: 0.8;
	}
	50% {
	    transform: scale(0.8);
	    opacity: 0.5;
	}
	100% {
	    transform: scale(1);
	    opacity: 0.8;
	}
}
/*bm页面新添加0918*/
.b_prize{width: 80%;}
.b_prize_main{background: #2e2c38;padding: 12px 23px 23px 23px;border-radius: 5px;}
.b_prize_main ul{display: -webkit-box;display: -moz-box;display:box;}
.b_prize_main ul li{-webkit-box-flex: 1;-moz-box-flex: 1;box-flex: 1;}
.b_r_bottom dl{text-align: left;color: #fff;width: 93%;margin:0 auto 25px; }
.b_r_bottom dl dt{color: #cbb072;margin: 10px 0;text-shadow: 5px 5px 10px #600f00;}
.b_r_bottom dl dt img{width: 150px;}
.b_r_bottom dl dd{line-height: 30px;font-size: 0.6em;}
.b_r_bottom ul.ulspe{display: -webkit-box;display: -moz-box;display: box;}
.b_r_bottom ul.ulspe li{-webkit-box-flex: 1;-moz-box-flex: 1;-ms-box-flex: 1;-o-box-flex: 1;}




