body{
	width:20rem;
	overflow-x:hidden; 
}
.header{
	width:20rem;
}
#container{     width: 20rem;
    overflow: hidden;
    margin-bottom: 3rem;};
.add-container{margin:0 auto 7.625rem}
.addTitle{padding-top:70px;padding-bottom:2.5rem}
#artTitle{    text-align: left !important;
    font-size: 1.375rem;
    padding-top: 52px;
    padding-bottom: 0.84375rem;
    min-height: 3.71875rem;
    color: #ab9365;
    padding-left: 4.3rem!important;}
#job-info{height:2.0rem;background-color:#323233;color:#989898;line-height:2.0rem;font-size:1.71em;color:#989898;padding-left:0.46875rem}
#job-info-content{padding-left:0.46875rem;}
.job-title{font-size:1.71em;margin-top:0.75rem;}
#function-content,#require-content{font-size:1.429em;color:#989898}
#function-content p,#require-content p{line-height:2.5em}
#job-table thead{    
	font-size: 0.8rem;
    background-color: #ab9365;
    color: #ab9365;
    background: #161616;
    height: 3rem;
    line-height: 3rem;
}
#job-table thead tr td:nth-child(2n){
	background-color: #1A1A1A;
}
#job-table tbody{font-size:1.429em;color:#989898}
#job-table>thead>tr>td,#job-table tbody>tr>td{    
    border-bottom: 1px solid #525253;
    border-top: 0;
    width: 4rem;
    font-size: 0.625rem;
    background: #161616;
    height: 3.3rem;
    padding: 0 0.5rem 0 0.5rem;
}
#job-table tbody>tr>td:nth-child(2n){
	background-color: #1A1A1A;
}
.center{text-align:center}
.right{text-align:right}
.table-hover>tbody>tr:hover{background-color:#323233}
#job-table tbody>tr{cursor:pointer}
#requires p:nth-child(0){font-size: 0.85em}
#job-table{margin-bottom: 65px;}
#job-filter{
    color: #989898;
    font-size: 1.71em;
    margin-bottom: 1rem;
    margin-top: 4rem;
    height: 7rem;
}
#job-filter ul{
    width: 20rem !important;
    position: relative;
    left: 1.3rem;
}
#job-filter span,#job-filter ul{vertical-align: top;}
#job-filter span{display: inline-block;height: 40px;line-height: 40px;}
#job-filter ul{line-height:2.25rem;margin-bottom: 0px;}
#job-filter > ul > li{display: inline-block;float: left;}
#job-filter > ul > li{
    margin-left: 0.3rem;
    width: 5.53125rem;
    height: 2.25rem;
    line-height: 2.25rem;
    border-radius: 1.5625rem;
    text-align: center;
    cursor: pointer;
    vertical-align: top;
    font-size: 0.75rem;
}
.focused{color: #fff;background-color: #ab9365}
.normal{color: #989898;background-color: transparent;}
.part_con{
	width:20rem;
	height:6.875rem;
	position: relative;
    top:4.03125rem;
}
.part_con .logo_img{
	width:5.65625rem;
	height:2.90625rem;
	display: block;
	position:absolute;
	top:50%;
    margin-top:-1.453125rem;
    left:1.3rem;
    background: url(../images/join.png) no-repeat;
    background-size: 100% 100%;
}