{include file="../layouts/pc/header.html"}
		<div class="kv">
			<div class="wrap">
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/logo.png?{$smarty.const.VERSION}" alt="" class="logo" />
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/slogan.png?{$smarty.const.VERSION}" alt="" class="slogan" />
				{fragment var=video code=	index_video size=1}
				<div class="play js_video_play" data-url="{if $video}{$video[0].url}{/if}">
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/play1.png?{$smarty.const.VERSION}" alt="" />
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/play2.png?{$smarty.const.VERSION}" alt="" />
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/play3.png?{$smarty.const.VERSION}" alt="" />
				</div>
			</div>
			<div class="kv_con">
			    <div class="kv_cwap">
			    	<div class="kv_left">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/icon.png?{$smarty.const.VERSION}" alt="" class="icon" />
						<div class="kv_txt">
							<p class="kv_tit">折光</p>
							<p class="k_tit">《折光》是一款画风清新、极度烧脑的光学解谜游戏。游戏共有54个噩梦般的超难关卡，挑战你的大脑极限！</p>
						</div>
					</div>
					<div class="kv_right">
						<div class="kv_code">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/erweima.png?{$smarty.const.VERSION}" alt="" />
						</div>
						<div class="kv_down">
							<a href="javascript:;" class="js_down_ios" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/ios.png?{$smarty.const.VERSION}" alt="" /></a>
							<a href="javascript:;" class="js_down_andriod" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/adr.png?{$smarty.const.VERSION}" alt="" /></a>
							<a href="http://l.taptap.com/CyFoh2NE" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/tap.png?{$smarty.const.VERSION}" alt="" /></a>
						</div>
					</div>
			    </div>
					
			</div>
		</div>
		<div class="content">
			<div class="wrap">
				<div class="con">
					<div class="left_banner">
					{fragment var=index_banner code=banner1 size=5}
						<ul class="swiper-wrapper">
					    {if $index_banner neq ''}
						{foreach $index_banner as $v}
							<li class="swiper-slide">
								<a href="{if $v.url}{$v.url}  target='_blank'{else}javascript:;{/if}"><img src="{$v.thumb}" alt="" /></a>
							</li>
						{/foreach}
						{/if}
						</ul>
						<div class="swiper-pagination"></div>
					</div>
					<div class="right_news">
						<div class="right_con">
							<ul class="top_ul">
								<li class="active">
									<p>最新</p><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/title.png?{$smarty.const.VERSION}" alt="" /></li>
								<li>
									<p>新闻</p><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/title.png?{$smarty.const.VERSION}" alt="" /></li>
								<li>
									<p>攻略</p><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/title.png?{$smarty.const.VERSION}" alt="" /></li>
							</ul>
							<div class="con_news">
								<ul class="active">
								    {article id="492" size=3 var=zx}
									{if $zx neq ''}
										{foreach $zx as $key=>$v}
											{if $key >= 0}
									<li>
										<a href="{$v.linkUrl}" target="_blank">
											<em>【{$v.name}】</em><span>{$v.title}</span><i>{$v.created_at|date_format:"%m/%d"}</i>
										</a>
									</li>
									{/if}
										{/foreach}
									{else}
									<p>暂无数据~</p>
									{/if}
								</ul>
								<ul class="active">
								    {article id="493" size=3 var=xw}
									{if $xw neq ''}
										{foreach $xw as $key=>$v}
											{if $key >= 0}
									<li>
										<a href="{$v.linkUrl}" target="_blank">
											<em>【{$v.name}】</em><span>{$v.title}</span><i>{$v.created_at|date_format:"%m/%d"}</i>
										</a>
									</li>
									{/if}
										{/foreach}
									{else}
									<p>暂无数据~</p>
									{/if}
								</ul>
								<ul class="active">
									{article id="494" size=3 var=gl}
									{if $gl neq ''}
										{foreach $gl as $key=>$v}
											{if $key >= 0}
									<li>
										<a href="{$v.linkUrl}" target="_blank">
											<em>【{$v.name}】</em><span>{$v.title}</span><i>{$v.created_at|date_format:"%m/%d"}</i>
										</a>
									</li>
									{/if}
										{/foreach}
									{else}
									<p>暂无数据~</p>
									{/if}
								</ul>
							</div>
						</div>
					</div>
				</div>
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/wanfa.png?{$smarty.const.VERSION}" alt="" class="wanfa" />
				<div class="bottom_con">
					<div class="bottom_banner">
					    {fragment var=index_banner code=banner2 size=5}
						<ul class="swiper-wrapper">
						{if $index_banner neq ''}
								{foreach $index_banner as $v}
							<li class="swiper-slide">
								<a href="{if $v.url}{$v.url}  target='_blank'{else}javascript:;{/if}"><img src="{$v.thumb}" alt="" /></a>
							</li>
							{/foreach}
							{/if}
						</ul>
					</div>
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>
			</div>
		</div>
{include file="../layouts/pc/bottom.html"}