.public_rule{
	width:180px;
	position:fixed;
	right:10%;
	top:10%;
	z-index:50;
}
.public_rule a{
	display: block;
	width:180px;
	height:72px;
	overflow: hidden;
}
.public_rule a:hover img:nth-child(1){
	display: none;
}
.public_rule a:nth-child(2){
	margin-top:40px;
}
.kv {
	width: 100%;
	height: 847px;
	/*background: url(../images/kv.jpg) no-repeat center;*/
	overflow: hidden;
	position: relative;
}

.kv .logo {
    display: block;
    width: 214px;
    position: absolute;
    left: auto;
    top: 417px;
    left: 524px;
}

.kv .k_bg {
	left:50%;
	transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
	overflow: hidden;
	position: absolute;
	bottom: 36px;
	z-index:10;
}
.kv .play {
	width: 112px;
	height: 136px;
	float: left;
	margin: 59px 0 0 18px;
}

.kv .play .b_play {
	display: block;
	width: 100%;
	height: 111px;
	cursor: pointer;
	animation: vGo 2s linear infinite;
	-webkit-animation: vGo 2s linear infinite;
}

@keyframes vGo {
	0% {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
	}
	50% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	100% {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
	}
}

@-webkit-keyframes vGo {
	0% {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
	}
	50% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	100% {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
	}
}

.kv .play .s_play {
	display: block;
	width: 99px;
	height: 32px;
	margin: 0 auto 0;
}
.kv .download{
	width:395px;
	height:204px;
	float:left;
	margin:32px 0 0 20px;
}
.kv .download .ewm{
	width:201px;
	height:203px;
	/*background:url(../images/d_bg.png) no-repeat center;*/
	overflow: hidden;
	position:relative;
	float:left;
	margin-top:1px; 
}
.kv .download .ewm img{
	display: block;
	width:146px;
	height:146px;
	transform: skew(-7deg,0deg);
	-webkit-transform: skew(-7deg,0deg);
	margin:3px auto 0;
}
.kv .d_list{
	width:200px;
	height:186px;
	float:left;
	margin-left:-10px;
	position:relative;
	z-index:2;
}
.kv .d_list a{
	display: block;
	width:184px;
	height:56px;
}
.kv .d_list a img{
	display: block;
	width:100%;
	height:100%;
}
.kv .d_list a:nth-child(1){
	margin-left:16px;
}
.kv .d_list a:nth-child(2){
	margin: 9px 0 9px 9px;
}
.news{
	width:100%;
	height:541px;
	/*background:url(../images/main.jpg) no-repeat center;*/
	position:relative;
	overflow: hidden;
}
.label{
	display: block;
	margin:42px auto 0;
}
.news_con{
	width:1206px;
	height:361px;
	background:url(../images/n_bg.png) no-repeat center;
	position:relative;
	margin:20px auto 0;
}
.left_banner{
	width:590px;
	height:332px;
	float:left;
	margin:10px 0 0 13px;
	position:relative;
	overflow: hidden;
}
.left_banner ul li a img{
	display: block;
	width:590px;
	height:332px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.left_banner .swiper-pagination .swiper-pagination-bullet{
	width:9px;
	height:9px;
	background-color:#fff;
	opacity: .3;
	border-radius: 0;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	margin:0 8px;
}
.left_banner .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
	width:11px;
	height:11px;
	background-color:#fff;
	opacity: 1;
}
.right_news{
	width:590px;
	height:332px;
	float:left;
	margin-top:10px;
}
.right_news .top_tab{
	width:530px;
	height:92px;
	margin:0 auto;
	position:relative;
	border-bottom:1px solid #f6f1ee;
}
.right_news .top_tab li{
	width:80px;
	height:36px;
	font-size:18px;
	color:#333333;
	text-align: center;
	line-height:36px;
	float:left;
	cursor: pointer;
	margin-top:27px;
}
.right_news .more{
	display: block;
	width:29px;
	height:29px;
	position:relative;
	float:right;
	margin-top:29px;
}
.right_news .more img:nth-child(1){
	display: block;
	width:100%;
	height:100%;
}
.right_news .more img:nth-child(2){
	display: block;
	width:13px;
	height:13px;
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-6.5px;
	margin-left:-6.5px;
	transition:all .5s;
	-webkit-transition:all .5s;
}
.right_news .more:hover img:nth-child(2){
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}
.news_div{
	width:530px;
	overflow: hidden;
	margin:0 auto;
}
.news_div ul{
	display: none;
	margin-top:10px;
}
.news_div ul.active{
	display: block;
}
.news_div ul li{
	width:100%;
	font-size:16px;
	line-height:50px;
}
.news_div ul li a{
	color:#6c6765
}
.news_div ul li a:hover{
	color:#d43a69;
}
.news_div ul li a em{
	display: block;
	float:left;
}
.news_div ul li a span{
	display: block;
	width:370px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float:left;
}
.news_div ul li a i{
	font-size:14px;
	color:#cdc6c3;
	float:right;
	font-style: normal;
}
.last{
	width:100%;
	height:628px;
	background:url(../images/last.jpg) no-repeat center;
	position:relative;
	overflow: hidden;
}
.last .label{
	margin-top:0;
}
.last .laba{
	display: block;
	position:absolute;
	top:37px;
	right:425px;
}
.last .ball{
	display: block;
	position:absolute;
	bottom:24px;
	right:468px;
	z-index:10;
}
.last_banner{
	width:902px;
	height:560px;
	margin:25px auto 0;
	overflow: hidden;
}
.last_banner .swiper-slide>a {
    margin-left: 50%;
    display: inline-block;
    width: 452px;
    text-align: center;
    transform: translate(-165px,0);
    -ms-transform: translate(-165px,0);
    -webkit-transform: translate(-165px,0);
    -o-transform: translate(-165px,0);
    -moz-transform: translate(-165px,0);
}
.last_banner .swiper-slide>a img {
    width: 271px;
    height: 482px;
    margin-left: 150px;
    margin-top: 20px;
    cursor: pointer;
    transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    z-index:5;
    position:relative;
    opacity: .3;
}
.last_banner .swiper-slide>a i {
    display: block;
    width: 291px;
    height: 502px;
	background:url(../images/b_c_bg.png) no-repeat center;
	background-size:100% 100%;
    margin-left: 165px;
    margin-top: 10px;
    cursor: pointer;
    transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    position: absolute;
    left: 0;
    top: 0;
}
.last_banner .swiper-slide.swiper-slide-active>a i{
	background:url(../images/b_bg.png) no-repeat center;
	background-size:100% 100%;
}
.last_banner .swiper-slide.swiper-slide-active>a img{
	opacity: 1;
}
.last_banner .swiper-button-prev{
	width:62px;
	height:56px;
	background:url(../images/prev.png) no-repeat center;
	overflow: hidden;
	left:90px;
	margin-top:-28px;
}
.last_banner .swiper-button-next{
	width:62px;
	height:56px;
	background:url(../images/next.png) no-repeat center;
	overflow: hidden;
	right:90px;
	margin-top:-28px;
}