.kv{
	width:100%;
	height:715px;
	/*background:url(../images/n_kv2.jpg) no-repeat center;*/
	overflow: hidden;
	position:relative;
}
.kv .logo{
	width: 213px;
    position: absolute;
    left: 50%;
    top: 340px;
    margin-left: -106.5px;
}
.n_body{
	position:relative;
	z-index:2;
	background-color:#070834;
}
.n_body .top_ul{
	width:100%;
	height:90px;
	border-bottom:1px solid #222e57;
}
.n_body .top_ul .tab_ul{
	width:1200px;
	height:100%;
	position:relative;
	overflow: hidden;
	margin:0 auto;
}
.noData{
	line-height: 60px;
    color: #fff;
    text-align: center;
    font-size: 24px;
}
.n_body .top_ul .tab_ul li{
	width:130px;
	height:50px;
	line-height:50px;
	text-align: center;
	float:left;
	font-size:24px;
	border-radius: 25px;
	margin-right:55px;
}
.n_body .top_ul .tab_ul li a{
	display: block;
	color:#a7b0cc;
}
.n_body .top_ul .tab_ul li:hover{
	background-color:#fdff9d;
}
.n_body .top_ul .tab_ul li:hover a{
	color:#000c35;
}
.n_body .top_ul .tab_ul li.active{
	background-color:#fdff9d;
}
.n_body .top_ul .tab_ul li.active a{
	color:#000c35;
}
.n_body .top_ul .tab_ul li:nth-child(1){
	margin-left:242px;
}
.n_body .top_ul .tab_ul .back{
	font-size:18px;
	line-height:58px;
	color:#c7cde1;
	float:left;
	position:absolute;
	left:0;
	top:0;
}
.n_body .top_ul .tab_ul .back a{
	color:#c7cde1;
}
.n_body .top_ul .tab_ul .back a:hover{
	text-decoration: underline;
}
.n_body .newslist{
	margin: 0 auto;
    min-height: 500px;
}
.n_body .newslist li{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 108px;
    padding:46px 0;
    border-bottom:1px solid #222e57;
}
.n_body .newslist li .newlist_left{
	float:left;
	width:55px;
}
.n_body .newslist li .newlist_left .newlist_title{
	font-size:36px;
	display: block;
	padding:20px 0 14px 0;
	border-bottom:1px solid #111a3b;
	font-weight:bold;
	color:#717a98;
	text-align: center;
}
.n_body .newslist li .newlist_left .newlist_time{
	display: block;
	font-size:12px;
	color: rgb(108, 120, 158);
	text-align: center;
	padding-top:8px;
}
.n_body .newslist li .newlist_img{
	width:211px;
	height:122px;
	background-color:#f7f7f7;
	float:left;
	margin:0 30px 0 48px;
}
.n_body .newslist li .newlist_img img{
	display: block;
	width:100%;
	height:100%;
}
.n_body .newslist li .newlist_right{
	width:796px;
	float: left;
}
.n_body .newslist li .newlist_right h3{
	font-size: 24px;
	color: #a6abbf;
	font-weight:normal;
	margin-top:5px;
}
.n_body .newslist li .newlist_right p{
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #6f7790;
    line-height:30px;
    margin-top:20px;
}
.n_body .newslist li .l_hover{
	display: block;
	width:35px;
	height:68px;
	float:left;
	margin:30px 0 0 30px;
	visibility: hidden;
}
.n_body .newslist li:hover .l_hover{
	visibility: visible;
}
.n_body .newslist li:hover{
	background-color:#0a1847;
}
.n_body .newslist li:hover .newlist_left span{
	color:#feffb9;
}
.n_body .newslist li:hover .newlist_right h3{
	color:#feffb9;
}
.n_body .newslist li:hover .newlist_right p{
	color:#feffb9;
}
/*详情页样式*/
.d_body .top_ul{
	height:auto;
	padding-bottom:18px;
}
.d_back{
	width:198px;
	height:85px;
	border:1px solid #333d5d;
	text-align: center;
	line-height:85px;
	color: #feffc3;
	float:left;
	font-size:22px;
}
.d_back:hover{
	color:#fff;
}
.d_body .top_ul .d_title{
	float:left;
	margin-top:5px;
	margin-left:83px;
}
.d_body .top_ul h3{
	width:895px;
	font-size:28px;
	color:#fff;
	font-weight:normal;
}
.d_body .top_ul .d_date{
	font-size:14px;
	color: rgb(117, 122, 138);
	margin-top:10px;
}
.detail_body{
	width:100%;
	overflow: hidden;
	margin-top:39px;
}
.float{
	width:249px;
	height:668px;
	background:url(../images/float.png) no-repeat center;
	overflow: hidden;
	float:left;
	margin-left:-52px;
	position:relative;
}
.float .d_float{
	width:154px;
	height:425px;
	position:absolute;
	left:75px;
	top:216px;
}
.float .d_float .c_code{
	width:142px;
	height:142px;
	margin:0 auto ;
	background-color:#fff;
	border-radius: 10px;
	box-shadow: 0 7px 15px rgba(11,2,0,.1);
}
.float .d_float .c_code img{
	display: block;
	width:124px;
	height:124px;
	margin:8px auto 0;
}
.float .d_float .wx{
	width:100%;
	height:21px;
	font-size:18px;
    text-align: center;
    margin-top:22px;
}
.float .d_float .wx img{
	display: block;
	float:left;
	margin:0 10px 0 13px;
}
.float .d_float .wx p{
	float:left;
	color:#a5a9c3;
}
.float .d_float .left_ul{
	width: 144px;
	margin:0 auto;
}
.float .d_float .left_ul li{
	width:100%;
	height:60px;
	line-height:60px;
	position:relative;
	overflow: hidden;
	border-radius: 10px;
	background-color:#1579e9;
}
.float .d_float .left_ul li a{
	display: block;
}
.flaot .d_float .left_ul li:hover{
	background-color:#056bdc;
}
.float .d_float .left_ul li a i{
	display: block;
    width: 26px;
    height: 26px;
    overflow: hidden;
    background: url(../images/xb.png) no-repeat center;
    background-position: 0 0;
    float: left;
    margin: 18px 10px 0 20px;
}
.float .d_float .left_ul li a p{
	font-size:16px;
	color:#fff;
}
.float .d_float .left_ul li:nth-child(1){
    margin-top:28px;
}
.float .d_float .left_ul li:nth-child(2){
    margin-top: 10px;
}
.float .d_float .left_ul li:nth-child(2) a i{
	background-position:0 -69px;
}
.float .d_float .left_ul li:nth-child(3){
    margin-top: 10px;
}
.float .d_float .left_ul li:nth-child(3) a i{
	background-position:0 -138px;
}
.detail_body{
	position:relative;
	z-index:2;
}
.detail_body .d_content{
	width:900px;
	overflow: hidden;
	float:left;
	font-size:16px;
	line-height:48px;
	margin-left:85px;
	color:#848588;
}
.detail_body .d_content img{
	display: block;
	max-width:100%;
}
