address,
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
select,
td,
textarea,
th,
ul {
	margin: 0;
	padding: 0
}

body {
	font-family: "寰蒋闆呴粦"
}

button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label,
select,
textarea {
	font-size: 100%;
	vertical-align: middle
}

dl,
li,
ol,
ul {
	list-style: none
}

a {
	text-decoration: none
}

fieldset,
img {
	border: none
}

img {
	display: inline-block;
	overflow: hidden;
	vertical-align: top
}

address,
em {
	font-style: normal
}

sub,
sup {
	vertical-align: baseline
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

q:before {
	content: ""
}

q:after {
	content: ""
}

button {
	cursor: pointer
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none
}
textarea {
	word-wrap: break-word;
	resize: none
}
.wrap{
	width:1200px;
	height:100%;
	position:relative;
	margin:0 auto;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.clear {
	clear: both
}

.fl {
	float: left
}

.fr {
	float: right
}

* {
	margin: 0;
	padding: 0
}
.chengg{
	width:100%;
	height:1px;
	background:none;
}
.nav{
	width:100%;
	min-width:1200px;
	margin:0 auto;
	height:100px;
	background:rgba(0,0,0,.9);
	position:absolute;
	z-index:11;
}
.nav .icon{
	display: block;
	width:120px;
	height:120px;
	float:left;
	margin:10px 22px 0 0;
	border-radius: 15px;
}
.nav .n_txt{
	float:left;
}
.nav .n_txt p:nth-child(1){
	font-size:24px;
	color:#fff;
	font-weight:bold;
	margin-top:20px;
}
.nav .n_txt p:nth-child(2){
	font-size:16px;
	color:#797778;
	margin-top:10px;
}
.nav .nav_ul{
	float:left;
}
.nav .nav_ul li{
	width:95px;
	height:94px;
	border-bottom:6px solid transparent;
	font-size:22px;
	float:left;
	text-align: center;
	line-height:100px;
	margin-right:45px;
}
.nav .nav_ul li:nth-child(1){
	margin-left:60px;
}
.nav .nav_ul li:nth-child(4){
	margin-right:0;
}
.nav .nav_ul li a{
	color:#999;
	display: block;
}
.nav .nav_ul li.active{
	border-bottom:6px solid #e78085;
}
.nav .nav_ul li.active a{
	color:#df6179;
}
.nav .nav_ul li:hover{
	border-bottom:6px solid #e78085;
}
.nav .nav_ul li:hover a{
	color:#df6179;
}
.nav .s_ul{
	width:222px;
	height:66px;
	float:right;
	margin:17px 0 0 0;
	position:relative;
}
.nav .s_ul li{
	width:66px;
	height:66px;
	background:url(../images/s_nav.png) no-repeat center;
	background-position:0 0;
	overflow: hidden;
	float:left;
	margin-right:11px;
	cursor: pointer;
}
.nav .s_ul li a{
	display: block;
	width:100%;
	height:100%;
}
.nav .s_ul li:nth-child(2){
	background-position:-68px 0;
}
.nav .s_ul li:nth-child(3){
	margin-right:0;
	background-position:-136px 0;
}
.nav .s_ul li:nth-child(1):hover{
	background-position:0 -66px;
}
.nav .s_ul li:nth-child(2):hover{
	background-position:-68px -66px;
}
.nav .s_ul li:nth-child(3):hover{
	background-position:-136px -66px;
}
.nav .s_ul .fl_wx{
	position:absolute;
	width:130px;
	height:130px;
	position:absolute;
	left:-40px;
	top:70px;
	display: none;
}
.qidai{
	width:185px;
	height:386px;
	background:url(../images/alert.png) no-repeat center;
	overflow: hidden;
	position:fixed;
	top:40%;
	right:20px;
	z-index:11;
}
.qidai a{
	display: block;
	width:100%;
	height:90px;
}
.qidai a:nth-child(1){
	margin-top:205px;
}