.kv {
  position: relative;
  width: 100%;
  height:1082px;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
.kv .container {
  position: relative;
  width: 1200px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
}
.kv .container .title_box{
  width:468px;
  height:175px;
  position: relative;
  margin:0 auto;
  top:90px;
}
.kv .container .logo_ico{
    position: relative;
    display: block;
    margin: 0 auto;
    float: left;
}
.kv .container .logo{
    position: relative;
    display: block;
    margin: 0 auto;
    float: right;
    top:20px;
    -webkit-animation: zoomIn 1.3s ease-in-out;
    -moz-animation: zoomIn 1.3s ease-in-out;
    -o-animation: zoomIn 1.3s ease-in-out;
    animation: zoomIn 1.3s ease-in-out;
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
.kv .group {
   width:623px;
  height:106px;
  position: relative;
  margin:0 auto;
  top: 634px;
}
.kv .group .download {
  float: left;
  width:623px;
  height:106px;
  margin:0 auto;
}
.kv .group .download div a{
  display: block;
  width:100%;
  height:100%;
}
.kv .group .download div a:hover{

}
.kv .group .download .ios {
  height: 100px;
  width: 270px;
  background-image: url("../images/btn2.png");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  float: right;
}
.kv .group .download .android {
  height: 100px;
  width: 270px;
  background-image: url("../images/btn1.png");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  float: left;
}
.kv .group:after {
  content: '';
  display: block;
  clear: both;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fly {
  0% {
    transform: translate3d(10px, 10px, 10px);
  }
  100% {
    transform: translate3d(-10px, -10px, -10px);
  }
}
@-webkit-keyframes fly {
  0% {
    transform: translate3d(10px, 10px, 10px);
  }
  100% {
    transform: translate3d(-10px, -10px, -10px);
  }
}
