{include '../layouts/pc/header.html'}
{include '../layouts/pc/header_bar.html'}
<!--内容-->
<div class="i_main list">
    <div class="top_banner top_banner2"></div>
    <div class="content">
        <!--第一部分-->
        <div class="list_news">
            <div class="qrcode">
                <div class="qrcode_list">
                    <a><img src="{$smarty.const.STATIC_DOMAIN}6.0/images/in_qrcode.png?{$smarty.const.VERSION}" class="code_img js_jump_img"/></a>

                <div class="channel_tap_name" style="display: none">
                    <a href="https://www.taptap.com/app/23420" class="stat_tap" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}6.0/images/in_tap.png?{$smarty.const.VERSION}" alt=""/></a>
                </div>
                <div class="channel_name" style="display: none">
                </div>
                <div class="no_channel">
                    <a href="" class="js_down_ios stat_ios" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}6.0/images/in_ios.png?{$smarty.const.VERSION}" alt=""/></a>
                    <a href="" class="js_down_andriod stat_android" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}6.0/images/in_android.png?{$smarty.const.VERSION}" alt=""/></a>
                    <a href="https://www.taptap.com/app/23420" class="stat_tap" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}6.0/images/in_tap.png?{$smarty.const.VERSION}" alt=""/></a>
                    <!--<a href="javascript:alert('敬请期待');"><img src="{$smarty.const.STATIC_DOMAIN}6.0/images/in_tap.png?{$smarty.const.VERSION}" alt=""/></a>-->
                </div>

                <!--{if $channel_name=='t'}-->
                <!--<a href="https://www.taptap.com/app/23420 class="stat_tap" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}6.0/images/in_tap.png?{$smarty.const.VERSION}" alt=""/></a>-->
                <!--{else}-->
                <!--<a href="" class="js_down_ios stat_ios" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}6.0/images/in_ios.png?{$smarty.const.VERSION}" alt=""/></a>-->
                <!--<a href="" class="js_down_andriod stat_android" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}6.0/images/in_android.png?{$smarty.const.VERSION}" alt=""/></a>-->
                <!--<a href="https://www.taptap.com/app/23420" class="stat_tap" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}6.0/images/in_tap.png?{$smarty.const.VERSION}" alt=""/></a>-->
                <!--&lt;!&ndash;<a href="javascript:alert('敬请期待');"><img src="{$smarty.const.STATIC_DOMAIN}6.0/images/in_tap.png?{$smarty.const.VERSION}" alt=""/></a>&ndash;&gt;-->
                <!--{/if}-->
                </div>
            </div>
            <div class="descbox">
                <div class="s3_bottom">
                    <div class="p_con">
                        {foreach key=cid item=v from=$data}
                        <div class="p{$cid+1} p">
                            {if $v.info|@count >= 2}
                            <div class="state">
                                <span class="is_jx" data-id='"l":{$v.info[1]["value"][0]},"t":{$v.info[1]["value"][1]},"r":{$v.info[1]["value"][2]},"b":{$v.info[1]["value"][3]}'></span>
                                <span class="no_jx" data-id='"l":{$v.info[0]["value"][0]},"t":{$v.info[0]["value"][1]},"r":{$v.info[0]["value"][2]},"b":{$v.info[0]["value"][3]}'></span>
                            </div>
                            {/if}
                            <div class="p_name">
                                {if $v.info|@count < 2}
                                <div class="name_1">
                                    {if $v.info!=null}<p class="rw_name"><img src='{$v.info[0].title_img}' alt=""/></p>{/if}
                                    <div class="bottom_jineng">
                                        <div class="jineng">
                                            {foreach key=k item=s from=$v.skill}
                                            {if $s!=null}
                                            {if $k lt 5}
                                            {if $k eq 0}
                                            <span class="c{$k+1} btm"><img  src="{$s.img}" ></span>
                                            {else}
                                            <span class="c{$k+1} gray"><img src="{$s.img}" ></span>
                                            {/if}{/if}{/if}{/foreach}
                                        </div>
                                        <div class="jineng_des">
                                            {foreach key=k item=s from=$v.skill}
                                            {if $s!=null}
                                            {if $k lt 5}
                                            {if $k eq 0}
                                            <span class="o{$k+1} o" style="display:block;"><i>{$s.title}</i>{$s.info}</span>
                                            {else}
                                            <span class="o{$k+1} o"><i>{$s.title}</i>{$s.info}</span>
                                            {/if}{/if}{/if}{/foreach}
                                        </div>
                                    </div>
                                </div>
                                {else}
                                <div class="name_1">
                                    {if $v.info!=null}<p class="rw_name"><img src='{$v.info[1].title_img}' alt=""/></p>{/if}
                                    <div class="top_jineng">
                                        <div class="jineng_des">
                                            {foreach key=k item=s from=$v.skill}
                                            {if $s!=null}
                                            {if $k gt 4 && $k lt 10}
                                            {if $k eq 5}
                                            <span class="o{$k+1} o" style="display:block;"><i>{$s.title}</i>{$s.info}</span>
                                            {else}
                                            <span class="o{$k+1} o"><i>{$s.title}</i>{$s.info}</span>
                                            {/if}{/if}{/if}{/foreach}
                                        </div>
                                        <div class="jineng">
                                            {foreach key=k item=s from=$v.skill}
                                            {if $s!=null}
                                            {if $k gt 4 && $k lt 10}
                                            {if $k eq 5}
                                            <span class="c{$k+1} btm"><img  src="{$s.img}" ></span>
                                            {else}
                                            <span class="c{$k+1} gray"><img src="{$s.img}" ></span>
                                            {/if}{/if}{/if}{/foreach}
                                        </div>
                                    </div>
                                    <div class="jineng_jj"><img src="{$smarty.const.STATIC_DOMAIN}6.0/images/in_jj.png?{$smarty.const.VERSION}" alt=""/></div>
                                    <div class="bottom_jineng">
                                        <div class="jineng">
                                            {foreach key=k item=s from=$v.skill}
                                            {if $s!=null}
                                            {if $k gt 9 && $k lt 15}
                                            {if $k eq 10}
                                            <span class="c{$k+1} btm"><img  src="{$s.img}" ></span>
                                            {else}
                                            <span class="c{$k+1} gray"><img src="{$s.img}" ></span>
                                            {/if}{/if}{/if}{/foreach}
                                        </div>
                                        <div class="jineng_des">
                                            {foreach key=k item=s from=$v.skill}
                                            {if $s!=null}
                                            {if $k gt 9 && $k lt 15}
                                            {if $k eq 10}
                                            <span class="o{$k+1} o" style="display:block;"><i>{$s.title}</i>{$s.info}</span>
                                            {else}
                                            <span class="o{$k+1} o"><i>{$s.title}</i>{$s.info}</span>
                                            {/if}{/if}{/if}{/foreach}
                                        </div>
                                    </div>
                                </div>
                                <div class="name_1 hidden">
                                    {if $v.info!=null}<p class="rw_name"><img src='{$v.info[0].title_img}' alt=""/></p>{/if}
                                    <div class="bottom_jineng">
                                        <div class="jineng">
                                            {foreach key=k item=s from=$v.skill}
                                            {if $s!=null}
                                            {if $k lt 5}
                                            {if $k eq 0}
                                            <span class="c{$k+1} btm"><img  src="{$s.img}" ></span>
                                            {else}
                                            <span class="c{$k+1} gray"><img src="{$s.img}" ></span>
                                            {/if}{/if}{/if}{/foreach}
                                        </div>
                                        <div class="jineng_des">
                                            {foreach key=k item=s from=$v.skill}
                                            {if $s!=null}
                                            {if $k lt 5}
                                            {if $k eq 0}
                                            <span class="o{$k+1} o" style="display:block;"><i>{$s.title}</i>{$s.info}</span>
                                            {else}
                                            <span class="o{$k+1} o"><i>{$s.title}</i>{$s.info}</span>
                                            {/if}{/if}{/if}{/foreach}
                                        </div>
                                    </div>
                                </div>
                                {/if}
                            </div>
                            <div class="p_peo">
                                {if $v.info|@count < 2}
                                <div class="s3_peo">
                                    {if $v.info!=null}<img src="{$v.info[0].img}" class="s3_img1" alt="s_i1">{/if}
                                    {if $v.info!=null}<p class="rw_des"><i>{$v.info[0].info}<a href="{myurl name='article/role'}?wjid={$v.id}" target="_blank">【查看详情】</a></i></p>{/if}
                                </div>
                                {else}
                                <div class="s3_peo">
                                    {if $v.info!=null}<img src="{$v.info[1].img}" class="s3_img1" alt="s_i1">{/if}
                                    {if $v.info!=null}<p class="rw_des"><i>{$v.info[1].info}<a href="{myurl name='article/role'}?wjid={$v.id}" target="_blank">【查看详情】</a></i></p>{/if}
                                </div>
                                <div class="s3_peo hidden">
                                    {if $v.info!=null}<img src="{$v.info[0].img}" class="s3_img1" alt="s_i1">{/if}
                                    {if $v.info!=null}<p class="rw_des"><i>{$v.info[0].info}<a href="{myurl name='article/role'}?wjid={$v.id}" target="_blank">【查看详情】</a></i></p>{/if}
                                </div>
                                {/if}

                            </div>
                        </div>
                        {/foreach}
                    </div>
                    <div class="canvas_box">
                        <canvas id="myCanvas" width="95" height="95"></canvas>
                        <span>攻击</span>
                        <span>生存</span>
                        <span>技能</span>
                        <span>上手</span>
                    </div>
                </div>
                <div class="wj_peo_box">
                    <a href="javascript:" class="wj_pre"></a>
                    <div class="peo_list">
                        <ul>
                            {foreach key=cid item=v from=$data}
                            {if $v.info|@count < 2}
                            {if $cid eq 0}
                            <li class="active li{$cid+1} no_jx" data-index="{$v.id}" data-id='"l":{$v.info[0]["value"][0]},"t":{$v.info[0]["value"][1]},"r":{$v.info[0]["value"][2]},"b":{$v.info[0]["value"][3]}'>
                                <img src="{$v.redirect_url}" alt="{$v.title}" class="item2">
                                <div class="hero_name">{$v.title}</div>
                            </li>
                            {else}
                            <li class="li{$cid+1} no_jx" data-index="{$v.id}" data-id='"l":{$v.info[0]["value"][0]},"t":{$v.info[0]["value"][1]},"r":{$v.info[0]["value"][2]},"b":{$v.info[0]["value"][3]}'>
                                <img src="{$v.redirect_url}" alt="{$v.title}" class="item2">
                                <div class="hero_name">{$v.title}</div>
                            </li>
                            {/if}
                            {else}
                            {if $cid eq 0}
                            <li class="active li{$cid+1}" data-index="{$v.id}" data-id='"l":{$v.info[1]["value"][0]},"t":{$v.info[1]["value"][1]},"r":{$v.info[1]["value"][2]},"b":{$v.info[1]["value"][3]}'>
                                <img src="{$v.redirect_url}" alt="{$v.title}" class="item2">
                                <div class="hero_name">{$v.title}</div>
                            </li>
                            {else}
                            <li class="active li{$cid+1}" data-index="{$v.id}" data-id='"l":{$v.info[1]["value"][0]},"t":{$v.info[1]["value"][1]},"r":{$v.info[1]["value"][2]},"b":{$v.info[1]["value"][3]}'>
                                <img src="{$v.redirect_url}" alt="{$v.title}" class="item2">
                                <div class="hero_name">{$v.title}</div>
                            </li>
                            {/if}
                            {/if}
                            {/foreach}
                        </ul>
                    </div>
                    <a href="javascript:" class="wj_next"></a>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
{include '../layouts/pc/foot.html'}

</html>
