input{
	outline:none;
}
.j_sure{
	width: 324px;
    height: 87px;
    position: absolute;
    left: 50%;
    margin-left: -162px;
    bottom: 0;
    cursor: pointer;
    opacity: .9;
}
.j_sure:hover{
	opacity: 1;
}
.top .fl_wx{
	right:345px;
}
.top .r_wx{
	margin-right:48px;
}
.top .enter {
	display: block;
	width:206px;
	height:62px;
	float:right;
	margin-top:20px;
}
.kv{
	width:100%;
	min-width:1200px;
	height:896px;
	background:url(../images/c_kv.jpg) no-repeat center;
	overflow: hidden;
	position:relative;
}
.play{
	display: block;
	width:97px;
	height:100px;
	position:absolute;
	left: 423px;
    top: 390px;
	animation: vGo 2s linear infinite;
	-webkit-animation: vGo 2s linear infinite;
	cursor: pointer;
}
.play img{
	display: block;
	width:100%;
	height:100%;
}
.tuijian{        
	width: 728px;
    position: absolute;
    bottom: 123px;
    left: 473px;
}
@keyframes vGo{
	0%{transform: scale(1.1);}
	50%{transform: scale(1);}
	100%{transform: scale(1.1);}
}
@-webkit-keyframes vGo{
	0%{transform: scale(1.1);}
	50%{transform: scale(1);}
	100%{transform: scale(1.1);}
}
.download {   
    width: 460px;
    height: 168px;
    position: absolute;
    bottom: 234px;
    right: -5px;
}
.download .btn{
	display: block;
	float:right;
	margin:26px 0 0 0;
	cursor: pointer;
}
.download .btn img{
	display: block;
	width:100%;
}
.download .c_down{
	width:154px;
	height:168px;
	background:url(../images/c_code.png) no-repeat center;
	overflow: hidden;
	float:left;
}
.download .c_down img{
	display: block;
    width: 105px;
    height: 105px;
    margin: 20px auto 0;
    border-radius: 6px;
}
.c_con{
	width:100%;
	height:1076px;
	min-width:1200px;
	background:url(../images/c_con.jpg) no-repeat center;
	overflow: hidden;
	position:relative;
}
.c_con .label{
	display: block;
	margin:51px auto 0;
}
.is_login{
	width:100%;
	text-align: center;
	margin-top:30px;
}
.is_login>p{
	display: none;
	font-size:16px;
	color:#897359;
}
.is_login>p.b_denglu span{
	color:#b68448;
	margin-left:5px;
	cursor: pointer;
}
.is_login>p.active{
	display: block;
}
.is_login>p.a_denglu .zhuxiao{
	color:#897359;
	text-decoration: underline;
	margin-right:32px;
	cursor: pointer;
}
.is_login>p.a_denglu i{
	font-style: normal;
	margin-left:32px;
}
.is_login>p.a_denglu span{
	margin-right:5px;
	color:#b68448;
	margin-left:5px;
}
.c_btn{
	width:796px;
	height:98px;
	margin:50px auto 0;
}
.c_btn .check{
	display: block;
	float:left;
	margin:14px 35px 0 0;
	cursor: pointer;
	transition:all .5s;
	-webkit-transition:all .5s;
}
.c_btn .check:hover {
	margin:9px 35px 0 0;
}
.c_btn .invite{
	display: block;
	float:left;
	cursor: pointer;
	transition:all .5s;
	-webkit-transition:all .5s;
}
.c_btn .invite:hover{
	margin-top:-5px;
}
.c_btn .fuli{
	display: block;
	width:199px;
	height:66px;
	float:left;
	margin:14px 0 0 30px;
	transition:all .5s;
	-webkit-transition:all .5s;
}
.c_btn .fuli:hover {
	margin:9px 0 0 30px;
}
.c_btn .fuli img{
	display: block;
	width:100%;
	height:100%;
}
.tip{
	width:861px;
	height:58px;
	background-color:#201b1a;
	border:1px solid #2b2423;
	margin:26px auto 0;
	border-radius: 30px;
}
.tip p{
	text-align: center;
	line-height:58px;
	color:#9b8264;
}
.tip p span{
	color:#d6c0a5;
}
.main_gift{
	width:100%;
	height:570px;
	position:relative;
	overflow: hidden;
	margin-top:22px;
}
.main_gift .lottery{
	width:725px;
	height:570px;
	background:url(../images/lottery.png) no-repeat center;
	overflow: hidden;
	float:left;
}
.main_gift .lottery ul{
	width:670px;
	height:510px;
	margin:26px 0 0 22px;
}
.main_gift .lottery ul li{
	width:215px;
	height:158px;
	position:relative;
	float:left;
	overflow: hidden;
	margin:12px 0 0 8px;
}
.main_gift .lottery ul li:nth-child(5){
	cursor: pointer;
}
.main_gift .lottery ul li:nth-child(5) img{
	display: block;
	margin:0 auto;
}
.main_gift .lottery ul li:nth-child(5) p{
	font-size:18px;
	color:#ab9595;
	position:absolute;
	bottom:40px;
	right:20px;
}
.main_gift .lottery ul li:nth-child(5) p span{
	color:#c1a185;
	margin:0 6px;
}
.main_gift .lottery ul li .li_img{
	width:100%;
	height:100%;
	overflow: hidden;
	position:absolute;
	left:0;
	top:0;
}
.main_gift .lottery ul li.active .li_img img:nth-child(1){
	display: none;
}
.main_gift .lottery ul li .li_img img{
	display: block;
	width:100%;
	height:100%;
}
.main_gift .lottery ul li .gift_icon{
	display: block;
	width:128px;
	height:128px;
	margin:0 auto;
	position:relative;
	z-index:2;
}
.main_gift .lottery ul li p{
	font-size:18px;
	color:#878685;
	text-align: center;
	position:relative;
	z-index:2;
}
.main_gift .right_rule{
	width:434px;
	height:567px;
	background:url(../images/rule_bg.png) no-repeat center;
	overflow: hidden;
	float:left;
	margin-left:9px;
}
.main_gift .right_rule .rule_ul{
	width:340px;
	height:50px;
	margin:55px auto 0;
}
.main_gift .right_rule .rule_ul li{
	width:158px;
	height:50px;
	float:left;
	font-size:20px;
	color:#ad886d;
	text-align: center;
	line-height:50px;
	border-radius: 25px;
	cursor: pointer;
}
.main_gift .right_rule .rule_ul li.active{
	background-color:#5b3e28;
	color:#ffc89f;
}
.main_gift .right_rule .tab_rule{
	width:340px;
	overflow: hidden;
	margin:0 auto;
}
.main_gift .right_rule .tab_rule>div{
	display: none;
}
.main_gift .right_rule .tab_rule>div.active{
	display: block;
}
.main_gift .right_rule .tab_rule .price_con{
	width:100%;
	height:405px;
	overflow: hidden;
	margin-top:24px;
}
.main_gift .right_rule .tab_rule .price_con li{
	width:100%;
	height:80px;
	border-bottom:1px solid #332c2b;
	font-size:16px;
	color:#8f8580;
	line-height:80px;
}
.main_gift .right_rule .tab_rule .price_con li span{
	margin-left:15px;
	margin-right:20px;
	font-size:14px;
	color:#ad886d;
}
.main_gift .right_rule .tab_rule .price_con li i{
	margin-left:5px;
	font-size:14px;
	color:#ad886d;
	font-style: normal;
}
.main_gift .right_rule .tab_rule .rule_con{
	width: 357px;
	height:382px;
	overflow: auto;
    overflow-x: hidden;
	margin-top:24px;
}
.main_gift .right_rule .tab_rule .rule_con li{
	width:100%;
	font-size:16px;
	color: rgb(143, 133, 128);
	line-height:40px;
}
.main_gift .right_rule .tab_rule .rule_con li em{
	display: block;
	width:25px;
	height:25px;
	background-color:#443b39;
	border-radius: 50%;
	font-size:10px;
	color:#786966;
	float:left;
	text-align: center;
	line-height:25px;
	margin:10px 9px 0 0;
}
.main_gift .right_rule .tab_rule .rule_con li span{
	display: block;
	float:left;
	width:290px;
}
.c_last{
	width:100%;
	height:1448px;
	min-width:1200px;
	background:url(../images/c_last.jpg) no-repeat center;
	overflow: hidden;
	position:relative;
}
.c_last .label{
	display: block;
	margin:0 auto;
}
.c_last .c_title{
	font-size:16px;
	text-align: center;
	color:#897359;
	margin-top:15px;
	display: none;
}
.c_last .c_title.active{
	display: block;
}
.c_last .c_title .c_dl{
	color: #b68448;
    margin:0 5px;
    cursor: pointer;
}
.c_last .c_a_title{
	font-size:16px;
	text-align: center;
	color:#897359;
	margin-top:15px;
	display: none;
}
.c_last .c_a_title.active{
	display: block;
}
.c_last .s_check{
	width:236px;
	height:64px;
	margin:25px auto 0;
	background-color:#201b1a;
	border-radius: 35px;
	border:1px solid #2b2423;
	cursor: pointer;
}
.c_last .s_check img{
	display: block;
	float:left;
	margin:19px 16px 0 38px;
	transition:all .5s;
	-webkit-transition:all .5s;
}
.c_last .s_check p{
	font-size:20px;
	color:#cbae92;
	float:left;
	line-height:64px;
}
.c_last .s_check:hover img{
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}
.c_last .s_rule{
	width:100%;
	height:203px;
	overflow: hidden;
	position:relative;
	margin-top:-5px;
}
.c_last .s_rule img{
	display: block;
	float:left;
	margin-left:143px;
}
.c_last .s_rule .rule_txt{
	float:left;
	margin-left:5px;
}
.c_last .s_rule .rule_txt .rule_title{
	width:44px;
	height:128px;
	background-color:#433b39;
	border-radius: 35px;
	margin-top:49px;
}
.c_last .s_rule .rule_txt .rule_title p{
	font-size:16px;
	color:#9d948f;
	width:18px;
	margin:20px auto 0;
}
.c_last .s_rule .rule_s_txt{
	font-size:16px;
	color: rgb(143, 133, 128);
	float:left;
	margin-left:27px;
}
.c_last .s_rule .rule_s_txt p{
	line-height:36px;
}
.c_last .s_rule .rule_s_txt p:nth-child(1){
	margin-top:40px;
}
.c_biaoge{
	width:1194px;
	height:1050px;
	background:url(../images/qiandao.png) no-repeat center;
	position:relative;
	margin:0 auto;
}
.c_biaoge  .yumao{
	display: block;
	width:535px;
	height:202px;
	position:absolute;
	right:-341px;
	top:-90px;
}
.c_biaoge .biaoge_title{
	font-size:22px;
	color:#887f7d;
	text-align: center;
	margin-top:55px;
}
.c_biaoge .biaoge_title span{
	color:#d4bca0
}
.c_biaoge .biaoge_ul{
	width:1140px;
	margin:20px auto 0;
	overflow: hidden;
}
.c_biaoge .biaoge_ul .biaoge_i{
	display: block;
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	z-index:2;
	cursor: pointer;
}
.c_biaoge .biaoge_ul li{
	width:137px;
	float:left;
	margin-left:6px;
	margin-top:20px;
	cursor: pointer;
	pointer-events: none;
	position:relative;
}
.c_biaoge .biaoge_ul li .qiandao_txt span{
	display: none;
}
.c_biaoge .biaoge_ul li.active .qiandao_txt{
	color:#9b9594;
}
.c_biaoge .biaoge_ul li.active .qiandao_txt span{
	display: inline-block;
}
.c_biaoge .biaoge_ul li.active .gift_li p{
	color:#936a46;
}
.c_biaoge .biaoge_ul li:nth-child(1){
	margin-left:0;
}
.c_biaoge .biaoge_ul li:nth-child(9){
	margin-left:0;
}
.c_biaoge .biaoge_ul li:nth-child(17){
	margin-left:0;
}
.c_biaoge .biaoge_ul li:nth-child(25){
	margin-left:0;
}
.c_biaoge .biaoge_ul li:nth-child(7) .gift_li{
	background:url(../images/ts_bg.png) no-repeat center!important;
}
.c_biaoge .biaoge_ul li:nth-child(15) .gift_li{
	background:url(../images/ts_bg.png) no-repeat center!important;
}
.c_biaoge .biaoge_ul li:nth-child(30) .gift_li{
	background:url(../images/ts_bg.png) no-repeat center!important;
}
.c_biaoge .biaoge_ul li.active .yuan{
	display: block;
}
.c_biaoge .biaoge_ul li .yuan{
	display: none;
	width:27px;
	height:27px;
	position:absolute;
	left:50%;
	margin-left:-13.5px;
	top:-13.5px;
}
.c_biaoge .biaoge_ul li .gift_li{
	width:137px;
	height:171px;
	background:url(../images/gift_bg.png) no-repeat center;
	overflow: hidden;
	position:relative;
}
.c_biaoge .biaoge_ul li .gift_li img{
	display: block;
	width:118px;
	height:118px;
	margin:0 auto;
}
.c_biaoge .biaoge_ul li .gift_li p{
	font-size:16px;
	text-align: center;
	color:#6d635b;
	margin-top:18px;
}
.c_biaoge .biaoge_ul li .qiandao_txt{
	font-size:16px;
	color:#565251;
	text-align: center;
	margin-top:10px;
}
.c_biaoge .biaoge_ul li.on{
	pointer-events: auto;
}
.c_biaoge .biaoge_ul li.on .gift_li{
	width:137px;
	height:171px;
	background:url(../images/gift_h_bg.png) no-repeat center;
	overflow: hidden;
	position:relative;
}
.c_biaoge .biaoge_ul li.on .gift_li p{
	color: #936a46;
}
.c_biaoge .biaoge_ul li.on .qiandao_txt {
    color: #b98153;
}
.c_biaoge .biaoge_ul li.on .qiandao_txt span{
	display: inline-block;
}
.login{
	width:100%;
	height:100%;
	position:fixed;
	background:rgba(0,0,0,.8);
	left:0;
	top:0;
	z-index:20;
	display: none;
}
.login .c_login{
	width:439px;
	height:506px;
	background:url(../images/login.png) no-repeat center;
	overflow: hidden;
	position:relative;
	margin:0 auto;
	top:45%;
	transform: translate(0,-45%);
	-webkit-transform: translate(0,-45%);
}
.close{
	display: block;
	width:52px;
	height:52px;
	position:absolute;
	right:0;
	top:31px;
	cursor: pointer;
}
.login_form{
	width:350px;
	margin:131px auto 0;
	position:relative;
}
.login_form .s_put{
	width:100%;
	height:60px;
	position:relative;
	margin-top:20px;
}
.login_form .s_put .phone{
	width:346px;
	height:56px;
	background-color:#211c1c;
	border:2px solid #3b3332;
	border-radius: 25px;
	text-indent:26px;
	font-size:18px;
	color:#6d6766;
	line-height:60px;
}
.login_form .s_put .t_yzm{
	width:218px;
	height:56px;
	border:2px solid #3b3332;
	background-color:#211c1c;
	border-radius: 25px;
	text-indent:26px;
	font-size:18px;
	color:#6d6766;
	line-height:60px;
	float:left;
}
.login_form .s_put .captcha{
	width:110px;
	height:56px;
	border:2px solid #3b3332;
	float:right;
	border-radius: 25px;
	cursor: pointer;
}
.login_form .s_put .captcha img{
	display: block;
	width:100%;
	height:100%;
	border-radius: 25px;
}
.login_form .s_put .captcha01{
	width:110px;
	height:56px;
	border:2px solid #3b3332;
	float:right;
	border-radius: 25px;
	cursor: pointer;
}
.login_form .s_put .captcha01 img{
	display: block;
	width:100%;
	height:100%;
	border-radius: 25px;
}
.login_form .s_put .yzm{
	width:218px;
	height:56px;
	border:2px solid #3b3332;
	background-color:#211c1c;
	border-radius: 25px;
	text-indent:26px;
	font-size:18px;
	color:#6d6766;
	line-height:60px;
	float:left;
}
.login_form .s_put .g_code{
	width:110px;
	height:56px;
	border:2px solid #3b3332;
	background-color:#4a4242;
	border-radius: 25px;
	font-size:16px;
	color:#9f8f8d;
	line-height:56px;
	float:right;
	text-align: center;
	cursor: pointer;
}
.login_form .btn_login{
	width:324px;
	height:87px;
	cursor: pointer;
	margin:47px auto 0;
	opacity: .9;
}
.login_form .btn_login:hover {
	opacity: 1;
}
.yuyue{
	width:100%;
	height:100%;
	position:fixed;
	background:rgba(0,0,0,.9);
	left:0;
	top:0;
	z-index:20;
	display: none;
}
.c_yuyue{
	width:439px;
	height:506px;
	background:url(../images/yuyue.png) no-repeat center;
	overflow: hidden;
	position:relative;
	margin:0 auto;
	top:45%;
	transform: translate(0,-45%);
	-webkit-transform: translate(0,-45%);
}
.c_yuyue .login_form .y_phone{
	width:346px;
	height:56px;
	background-color:#211c1c;
	border:2px solid #3b3332;
	border-radius: 25px;
	text-indent:26px;
	font-size:18px;
	color:#6d6766;
	line-height:60px;
}
.c_yuyue .login_form .s_put .y_t_yzm{
	width:218px;
	height:56px;
	border:2px solid #3b3332;
	background-color:#211c1c;
	border-radius: 25px;
	text-indent:26px;
	font-size:18px;
	color:#6d6766;
	line-height:60px;
	float:left;
}
.c_yuyue .login_form .s_put .y_yzm{
	width:218px;
	height:56px;
	border:2px solid #3b3332;
	background-color:#211c1c;
	border-radius: 25px;
	text-indent:26px;
	font-size:18px;
	color:#6d6766;
	line-height:60px;
	float:left;
}
.c_yuyue .login_form .s_put .i_code{
	width:110px;
	height:56px;
	border:2px solid #3b3332;
	background-color:#4a4242;
	border-radius: 25px;
	font-size:16px;
	color:#9f8f8d;
	line-height:56px;
	float:right;
	text-align: center;
	cursor: pointer;
}
.login_form .btn_yuyue{
	width:324px;
	height:87px;
	cursor: pointer;
	margin:47px auto 0;
	opacity: .9;
}
.login_form .btn_yuyue:hover{
	opacity: 1;
}
.tc_price{
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	background:rgba(0,0,0,.8);
	z-index:20;
	display: none;
}
.tc_price .t_price{
	width:705px;
	height:713px;
	background:url(../images/price_bg.png) no-repeat center;
	overflow: hidden;
	position:relative;
	margin:0 auto;
	top:45%;
	transform: translate(0,-45%);
	-webkit-transform: translate(0,-45%);
}
.tc_price01{
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	background:rgba(0,0,0,.8);
	z-index:20;
	display: none;
}
.tc_price01 .t_price{
	width:705px;
	height:713px;
	background:url(../images/price_bg.png) no-repeat center;
	overflow: hidden;
	position:relative;
	margin:0 auto;
	top:45%;
	transform: translate(0,-45%);
	-webkit-transform: translate(0,-45%);
}
.price_body{
	width:638px;
	height:352px;
	margin:150px auto 0;
	position:relative;
	overflow: hidden;
}
.price_body .top_title{
	width:636px;
	height:69px;
	border:1px solid #3a3231;
}
.price_body .top_title span{
	display: block;
	float:left;
	font-size:20px;
	color:#b88684;
	line-height:69px;
	text-indent:24px;
}
.price_body .top_title span:nth-child(1){
	width:265px;
	height:100%;
	border-right:1px solid #3a3231;
}
.price_body .top_title span:nth-child(2){
	height:100%;
	width:265px;
	border-right:1px solid #3a3231;
}
.price_body .top_title span:nth-child(3){
	width:103px;
	height:100%;
}
.price_body .huadong{
	width:660px;
	height:281px;
	overflow: auto;
}
.price_body .huadong ul{
	width: 638px;
    border: 1px solid #3a3231;
    overflow: auto;
}
.price_body .huadong ul li{
	width:100%;
	height:69px;
	overflow: hidden;
	position:relative;
	text-indent:18px;
	border-bottom:1px solid #3a3231;
}
.price_body .huadong ul li span{
	display: block;
	float:left;
	font-size:22px;
	color:#939191;
	width:265px;
	height:69px;
	line-height:69px;
	border-right:1px solid #3a3231;
}
.price_body .huadong ul li span:nth-child(2){
	color:#a08e8e;
}
.price_body .huadong ul li span:nth-child(3){
	width:103px;
	height:69px;
}
.price_body .huadong ul li span:nth-child(3) i{
	display: block;
	width:90px;
	height:50px;
	line-height:50px;
	color:#b2a1a1;
	text-align: center;
	background-color:#4a4242;
	border-radius: 25px;
	font-style: normal;
	text-indent:0;
	margin:9px auto 0;
	font-size:18px;
	cursor: pointer;
}
.price_body .huadong01{
	width:660px;
	height:281px;
	overflow: auto;
}
.price_body .huadong01 ul{
	width: 638px;
    border: 1px solid #3a3231;
    overflow: auto;
}
.price_body .huadong01 ul li{
	width:100%;
	height:69px;
	overflow: hidden;
	position:relative;
	text-indent:18px;
	border-bottom:1px solid #3a3231;
}
.price_body .huadong01 ul li span{
	display: block;
	float:left;
	font-size:22px;
	color:#939191;
	width:265px;
	height:69px;
	line-height:69px;
	border-right:1px solid #3a3231;
}
.price_body .huadong01 ul li span:nth-child(2){
	color:#a08e8e;
}
.price_body .huadong01 ul li span:nth-child(3){
	width:103px;
	height:69px;
}
.price_body .huadong01 ul li span:nth-child(3) i{
	display: block;
	width:90px;
	height:50px;
	line-height:50px;
	color:#b2a1a1;
	text-align: center;
	background-color:#4a4242;
	border-radius: 25px;
	font-style: normal;
	text-indent:0;
	margin:9px auto 0;
	font-size:18px;
	cursor: pointer;
}
.tc_price01 .c_sure{
	margin-top:122px;
}
.price_tit{
	width:565px;
	margin:30px auto 0;
	font-size:18px;
	color:#9a8e8e;
	line-height:36px;
}
.dizhi{
	width:324px;
	height:87px;
	margin:22px auto 0;;
	cursor: pointer;
	opacity: .9;
}
.dizhi:hover {
	opacity: 1;
}
.dizhi img{
	display: block;
	width:100%;
	height:100%;
}
.dizhi.active img:nth-child(1){
	display: none;
}
.t_dizhi{
	width:100%;
	height:100%;
	position:fixed;
	background:rgba(0,0,0,.8);
	left:0;
	top:0;
	z-index:20;
	display: none;
}
.t_dizhi .c_dizhi{
	width:598px;
	height:614px;
	background:url(../images/dizhi_bg.png) no-repeat center;
	overflow: hidden;
	position:relative;
	margin:0 auto;
	top:45%;
	transform: translate(0,-45%);
	-webkit-transform: translate(0,-45%);
}
.d_body{
	width:500px;
	overflow: hidden;
	margin:139px auto 0;
}
.d_body .s_put{
	width:100%;
	height:60px;
	margin-top:20px;
	overflow: hidden;
	position:relative;
}
.d_body .s_put input{
	width:238px;
	height:58px;
	background-color:#211c1c;
	border:1px solid #4d4443;
	float:left;
	font-size:22px;
	color:#debdab;
	line-height:60px;
	text-indent:26px;
	border-radius: 30px;
}
.d_body .s_put input.name{
	margin-right:18px;
}
.d_body .p_put{
	width:100px;
	height:60px;
	margin-top:20px;
}
.d_body .p_put .s_phone{
	width:498px;
	height:58px;
	background-color:#211c1c;
	border-radius: 30px;
	border:1px solid #3b3332;
	font-size:22px;
	color:#debdab;
	line-height:60px;
	text-indent:26px;
	border-radius: 30px;
}
.d_body  .s_dizhi{
	width:498px;
	height:146px;
	border:1px solid #3b3332;
	background-color:#211c1c;
	border-radius: 10px;
	margin-top:20px;
	font-size:22px;
	color:#debdab;
	line-height:60px;
	text-indent:26px;
	outline:none;
}
.s_sure{
	width:324px;
	height:87px;
	margin:55px auto 0;
	cursor: pointer;
	opacity: .9;
}
.s_sure:hover{
	opacity: 1;
}
.success{
	width:100%;
	height:100%;
	background:rgba(0,0,0,.8);
	z-index:20;
	position:fixed;
	left:0;
	top:0;
	display: none;
}
.success .c_success{
	width:803px;
	height:734px;
	background:url(../images/success.png) no-repeat center;
	position:relative;
	margin:0 auto;
	top:45%;
	transform: translate(0,-45%);
	-webkit-transform: translate(0,-45%);
}
.success .c_success .close{
	right:38px;
}
.success_body {
	width:664px;
	margin:140px auto 0;	
}
.success_body .success_tit{
	font-size:22px;
	color:#a99f9e;
	text-align: center;
	margin-bottom:33px;
}
.success_code{
	width:662px;
	height:162px;
	border:1px dashed #635351;
	border-radius: 10px;
}
.success_code p{
	width:594px;
	font-size:16px;
	color:#9a8f8e;
	line-height:30px;
	margin:25px auto 0;
}
.success_code a{
	display: block;
	font-size:16px;
	color:#e57b7a;
	text-indent:34px;
}
.success_code i{
	display: block;
	width:136px;
	height:50px;
	background-color:#74060f;
	border-radius: 30px;
	color:#fff;
	line-height:50px;
	font-size:18px;
	text-align: center;
	font-style: normal;
	margin:30px auto 0;
	cursor: pointer;
}
.lbm{
	font-size:20px;
	color:#9a8f8e;
	text-align: center;
	margin-top:20px;
	margin-left:60px;
}
.lbm span{
	display: inline-block;
    width: 196px;
    border-radius: 30px;
    background-color: #211c1c;
    line-height: 60px;
    border: 1px solid #4d4443;
    font-style: normal;
    text-align: center;
    font-size: 22px;
    color: #6d6766;
    margin: 0 15px;
}
.lbm i{
	display: inline-block;
    width: 136px;
    height: 50px;
    background-color: #74060f;
    border-radius: 30px;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    margin: 30px auto 0;
    cursor: pointer;
}
.success_ul{
	width:100%;
	margin-top:22px;
}
.success_ul li{
	width: 115px;
	float:left;
	overflow: hidden;
	position:relative;
	margin-right:40px;
}
.success_ul li:last-child{
	margin-right:0;
}
.success_ul li:first-child{
	margin-left: 125px;
}
.success_ul li img{
	display: block;
    width: 87px;
    height: 87px;
    margin: 0 auto;
}
.success_ul li p{
	font-size:14px;
	color:#706363;
	text-align: center;
	margin-top:15px;
}
.lingqu{
	display: block;
	width:324px;
	height:87px;
	position:absolute;
	left:50%;
	margin-left:-162px;
	bottom:0;
	cursor: pointer;
	opacity: .9;
}
.lingqu:hover{
	opacity: 1;
}
.s_weixin{
	width:158px;
	height:189px;
	background:url(../images/weixin.png) no-repeat center;
	position:absolute;
	right:-100px;
	top:50%;
	margin-top:-150.5px;
}
.s_weixin img{
	display: block;
	width:120px;
	height:120px;
	margin:15px auto 0;
}

.share{
	width:100%;
	height:100%;
	background:rgba(0,0,0,.8);
	z-index:20;
	position:fixed;
	left:0;
	top:0;
	display: none;
}
.share .c_share{
	width:772px;
	height:513px;
	background:url(../images/share.png) no-repeat center;
	position:relative;
	margin:0 auto;
	top:45%;
	transform: translate(0,-45%);
	-webkit-transform: translate(0,-45%);
}
.share .c_share .close{
	right:7px;
}
.share .c_share .share_body{
	width:664px;
	margin:160px auto 0;
}
.share .c_share .share_body .share_p{
	font-size:22px;
	color:#a99f9e;
	margin-bottom:33px;
	text-align: center;
}
.share .c_share .share_body .share_code{
	width:662px;
	height:150px;
	border:1px dashed #635351;
	border-radius: 10px;
}
.share .c_share .share_body .share_code p{
	width:594px;
	font-size:16px;
	color:#9a8f8e;
	line-height:30px;
	margin:25px auto 0;
}
.share .c_share .share_body .share_code a{
	display: block;
	font-size:16px;
	color:#e57b7a;
	text-indent:34px;
}
.s_fuzhi{
	width:324px;
	height:87px;
	margin:55px auto 0;
	cursor: pointer;
	opacity: .9;
}
.s_fuzhi:hover{
	opacity: 1;
}
.congra{
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	background-color:rgba(0,0,0,.8);
	z-index:20;
	display: none;
}
.congra .c_congra{
	width:705px;
	height:687px;
	background:url(../images/congra.png) no-repeat center;
	overflow: hidden;
	position:relative;
	margin: 0 auto;
	top:45%;
	transform: translate(0,-45%);
	-webkit-transform: translate(0,-45%);
}
.congra_con{
	width:565px;
	margin:150px auto 0;
}
.congra_con .c_t{
	font-size:28px;
	color:#b2a1a1;
	text-align: center;
}
.congra_con .jiangpin{
	width:119px;
	overflow: hidden;
	margin:30px auto 0;
}
.congra_con .jiangpin img{
	display: block;
	width:119px;
	height:119px;
}
.congra_con .jiangpin p{
	font-size:18px;
	color:#918282;
	text-align: center;
	margin-top:10px;
}
.congra_con .duihuanma{
	width:390px;
	height:60px;
	margin:20px 0 0 103px;
}
.congra_con .duihuanma span{
	display: block;
	float:left;
	font-size:22px;
	color:#6d6766;
	line-height:60px;
}
.congra_con .duihuanma i{
	display: block;
	float:left;
	width:196px;
	border-radius: 30px;
	background-color:#211c1c;
	line-height:60px;
	border:1px solid #4d4443;
	font-style: normal;
	text-align: center;
	font-size:18px;
	color:#6d6766;
	margin:0 15px;
}
.congra_con .duihuanma span.g_fuzhi{
	width:90px;
	height:50px;
	background-color:#4a4242;
	line-height:50px;
	text-align: center;
	font-size:18px;
	border-radius: 30px;
	margin-top:6px;
	cursor: pointer;
	color:#b2a1a1;
}
.congra_con .t_t{
	font-size:18px;
	color:#9a8e8e;
	line-height:36px;
	margin-top:50px;
}
.congra_con .d_dizhi{
	width:324px;
	height:87px;
	margin:27px auto 0;
	cursor: pointer;
	overflow: hidden;
	opacity: .9
}
.congra_con .d_dizhi:hover {
	opacity: 1;
}
.congra_con .d_dizhi img{
	display: block;
	width:100%;
	height:100%;
}
.congra_con .d_dizhi.active img:nth-child(1){
	display: none;
}
.c_qiandao{
	width:100%;
	height:100%;
	position:fixed;
	background:rgba(0,0,0,.8);
	left:0;
	top:0;
	z-index:20;
	display: none;
}
.c_qiandao .q_body{
	width:500px;
	height:571px;
	background:url(../images/qiandao_bg.png) no-repeat center;
	overflow: hidden;
	position:relative;
	margin:0 auto;
	top:45%;
	transform: translate(0,-45%);
	-webkit-transform: translate(0,-45%);
}
.c_qiandao .q_body .close{
	right:4px;
}
.congra_con .q_jiangpin{
	width:215px;
	overflow: hidden;
	margin:30px auto 0;
}
.congra_con .q_jiangpin p{
	font-size:18px;
	color:#918282;
	text-align: center;
	margin-top:10px;
}
.c_qiandao .congra_con .duihuanma{
	margin: 20px 0 0 15px;
}
.c_qiandao .congra_con{
	width:390px;
}
.c_qiandao .congra_con .q_jiangpin img{
	display: block;
	width:119px;
	height:119px;
	margin:0 auto;
}
.tc_tip{
	width:100%;
	height:100%;
	position:fixed;
	background:rgba(0,0,0,.8);
	z-index:20;
	left:0;
	top:0;
	display: none;
}
.tc_tip .c_tip{
	width:500px;
	height:394px;
	background:url(../images/tip_bg.png) no-repeat center;
	overflow: hidden;
	position:relative;
	margin:0 auto;
	top:45%;
	transform: translate(0,-45%);
	-webkit-transform: translate(0,-45%);
}
.tc_tip .c_tip p{
	font-size:28px;
	color:#b2a1a1;
	text-align: center;
	margin-top:195px;
}
.c_sure{
	width:324px;
	height:87px;
	position:absolute;
	left:50%;
	margin-left:-162px;
	bottom:0;
	cursor: pointer;
	opacity: .9;
}
.c_sure:hover{
	opacity: 1;
}
