{include '../layouts/pc/header.html'}
<div class="cont1">
	<div class="logo-box">
		<img src="{$smarty.const.STATIC_DOMAIN}/images/logo-fzd.png" alt="" class="logo">
		<!--<a class="goHome" href=""><img src="{$smarty.const.STATIC_DOMAIN}/images/goHome.png" alt=""></a>-->
	</div>
</div>
<div class="cont2">
	<div class="cont2-box">
		<div class="word-box">
			<img class="slogan" src="{$smarty.const.STATIC_DOMAIN}/images/slogan.png" alt="">
			<img class="video js_video_play" src="{$smarty.const.STATIC_DOMAIN}/images/video.png" alt="" data-url="{$video[0].content_message}">
			<!--<img class="date" src="{$smarty.const.STATIC_DOMAIN}/images/date.png" alt="">-->
			<img class="date" src="{$smarty.const.STATIC_DOMAIN}/images/date2.png" alt="">
			<div class="yue-box">
				<img class="getCode" src="{$smarty.const.STATIC_DOMAIN}/images/getCode.png">
				<img class="code" src="http://gamerimage.yingxiong.com/qrcode/jump_fzd_pcgw.png">
				<!--<img class="code" src="{$smarty.const.STATIC_DOMAIN}/images/code.png" alt="">-->
				<div class="download">
					<a href="javascript:alert('敬请期待！')" class=""><img src="{$smarty.const.STATIC_DOMAIN}/images/app.png" alt="" ></a>
					<a href="" class="js_down_andriod"><img src="{$smarty.const.STATIC_DOMAIN}/images/Android.png" alt=""></a>
				</div>
				<div class="gift">
					<img src="{$smarty.const.STATIC_DOMAIN}/images/gift.png">
					<p>预约礼包</p>
				</div>
			</div>
			<p class="nowNum">当前预约人数<span>9999</span>人</p>
			<img class="yueBtn" src="{$smarty.const.STATIC_DOMAIN}/images/yueBtn.png" alt="" data-url="{$smarty.const.STATIC_DOMAIN}/images/yuyue_on.png">
		</div>
	</div>
</div>
<div class="cont3">
	<img src="{$smarty.const.STATIC_DOMAIN}/images/title1.png" alt="" class="title">
	<div class="login">
		<img src="{$smarty.const.STATIC_DOMAIN}/images/loginBtn.png">
	</div>
	<div class="logined">
		<p class="phoneNum"><img src="{$smarty.const.STATIC_DOMAIN}/images/personIcon.png" alt=""><span>1234567891234</span></p>
		<div class="yaoCode">我的邀请码<span>123456789</span></div>
		<p class="yaoSuccess">已成功邀请<span></span>位好友</p>
	</div>
	<div class="game">
		<div class="giftMask" id="gift1">
			<div class="giftGroup">
				<!--<img src="{$smarty.const.STATIC_DOMAIN}/images/gift1-1.png">-->
				<span>随机染色剂*3</span>
			</div>
			<div class="giftGroup">
				<!--<img src="{$smarty.const.STATIC_DOMAIN}/images/gift-all-1.png">-->
				<span>初级神兽之魂*5</span>
			</div>
			<div class="giftGroup">
				<!--<img src="{$smarty.const.STATIC_DOMAIN}/images/gift1-3.png">-->
				<span>宠物强化石*3</span>
			</div>
			<div class="giftGroup">
				<!--<img src="{$smarty.const.STATIC_DOMAIN}/images/gift-all.png">-->
				<span>5W银币</span>
			</div>
			<div class="giftBox"></div>
		</div>
		<img class="getGift" id="getGift1" src="{$smarty.const.STATIC_DOMAIN}/images/getGift.png">
		<div class="giftMask" id="gift2">
			<div class="giftGroup">
				<!--<img src="{$smarty.const.STATIC_DOMAIN}/images/gift2-1.png">-->
				<span>随机脸饰包*1</span>
			</div>
			<div class="giftGroup">
				<!--<img src="{$smarty.const.STATIC_DOMAIN}/images/gift-all-1.png">-->
				<span>初级神兽之魂*10</span>
			</div>
			<div class="giftGroup">
				<!--<img src="{$smarty.const.STATIC_DOMAIN}/images/gift1-3.png">-->
				<span>宠物强化石*5</span>
			</div>
			<div class="giftGroup">
				<!--<img src="{$smarty.const.STATIC_DOMAIN}/images/gift-all.png">-->
				<span>10W银币</span>
			</div>
			<div class="giftBox"></div>
		</div>
		<img class="getGift" id="getGift2" src="{$smarty.const.STATIC_DOMAIN}/images/getGift.png">
		<div class="giftMask" id="gift3">
			<div class="giftGroup">
				<!--<img src="{$smarty.const.STATIC_DOMAIN}/images/gift3-1.png" style="height: 27px;margin-top: 3px">-->
				<span>S级侠客碎片*50</span>
			</div>
			<div class="giftGroup">
				<!--<img src="{$smarty.const.STATIC_DOMAIN}/images/gift-all-1.png">-->
				<span>初级神兽之魂*15</span>
			</div>
			<div class="giftGroup">
				<!--<img src="{$smarty.const.STATIC_DOMAIN}/images/gift3-3.png">-->
				<span>藏宝图*3</span>
			</div>
			<div class="giftGroup">
				<!--<img src="{$smarty.const.STATIC_DOMAIN}/images/gift-all.png">-->
				<span>10W银币</span>
			</div>
			<div class="giftBox"></div>
		</div>
		<img class="getGift" id="getGift3" src="{$smarty.const.STATIC_DOMAIN}/images/getGift.png">
		<div class="giftMask" id="gift4">
			<div class="giftGroup">
				<!--<img src="{$smarty.const.STATIC_DOMAIN}/images/gift4-1.png">-->
				<span>随机表情包*1</span>
			</div>
			<div class="giftGroup">
				<!--<img src="{$smarty.const.STATIC_DOMAIN}/images/gift-all-1.png">-->
				<span>初级神丹*2</span>
			</div>
			<div class="giftGroup">
				<!--<img src="{$smarty.const.STATIC_DOMAIN}/images/gift4-3.png">-->
				<span>藏宝图*5</span>
			</div>
			<div class="giftGroup">
				<!--<img src="{$smarty.const.STATIC_DOMAIN}/images/gift-all.png">-->
				<span>15W银币</span>
			</div>
			<div class="giftBox"></div>
		</div>
		<img class="getGift" id="getGift4" src="{$smarty.const.STATIC_DOMAIN}/images/getGift.png">
		<div class="giftMask" id="gift5">
			<div class="giftGroup">
				<!--<img src="{$smarty.const.STATIC_DOMAIN}/images/gift1-1.png">-->
				<span>高级家具礼包*1</span>
			</div>
			<div class="giftGroup">
				<!--<img src="{$smarty.const.STATIC_DOMAIN}/images/gift-all-1.png">-->
				<span>初级神兽之魂*20</span>
			</div>
			<div class="giftGroup">
				<!--<img src="{$smarty.const.STATIC_DOMAIN}/images/gift1-3.png">-->
				<span>豪杰酒包（紫色）*3</span>
			</div>
			<div class="giftGroup">
				<!--<img src="{$smarty.const.STATIC_DOMAIN}/images/gift-all.png">-->
				<span>15W银币</span>
			</div>
			<div class="giftBox"></div>
		</div>
		<img class="getGift" id="getGift5" src="{$smarty.const.STATIC_DOMAIN}/images/getGift.png">
		<div class="gamePlayer"></div>
		<div class="shaizi">
			<p>剩余<span>0</span>次</p>
		</div>
	</div>
	<div class="rule">
		<p>活动规则:</p>
		<p>1.立即<span>完成预约</span>即可获得一次掷骰子的机会.</p>
		<p>2.<span>每日首次登录</span>可额外获得一次掷骰子的机会(每天仅可获得一次)</p>
		<p>3.每<span>成功邀请</span>一位好友可额外获得一次掷骰子的机会</p>
		<p>4.奖励将于<span>公测开启后</span>通过短信形式,发放至预约手机号中</p>
		<img class="share" src="{$smarty.const.STATIC_DOMAIN}/images/share.png" alt="">
	</div>
</div>
<div class="cont6">
	<div class="cont6-container">
		<!--<img src="{$smarty.const.STATIC_DOMAIN}/images/title3.png" alt="" class="title">-->
		<div class="cont6-box" id="cont6-box1">
			<!--<h4>找BUG活动</h4>-->
			<!--<p>100元京东卡</p>-->
			<!--<p>游戏豪华礼包</p>-->
			<!--<span>查看详情</span>-->
		</div>
		<div class="cont6-box" id="cont6-box2">
			<!--<h4>最强职业活动</h4>-->
			<!--<p>定制限量宠物</p>-->
			<!--<span>查看详情</span>-->
		</div>
		<div class="cont6-box" id="cont6-box3">
			<!--<h4>最强第一人</h4>-->
			<!--<p>华为MATE10 PRO</p>-->
			<!--<span>查看详情</span>-->
		</div>
		<div class="cont6-box" id="cont6-box4">
			<!--<h4>问卷调查</h4>-->
			<!--<p>定制抱枕周边</p>-->
			<!--<span>查看详情</span>-->
		</div>
	</div>
</div>
<div class="cont4">
	<img src="{$smarty.const.STATIC_DOMAIN}/images/title2.png" alt="" class="title">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			{foreach $play as $v}
			<div class="swiper-slide">
				<a href="javascript:void(0);"><img class="images" src="{if isset($v.thumb)}{$v.thumb}{else}{/if}" alt=""></a>
			</div>
			{/foreach}
		</div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>
</div>
<div class="cont5">
	<div class="cont5-box">
		<ul>
			<li>
				<img class="noCode js_jump_img" src="{$smarty.const.STATIC_DOMAIN}/images/noCode.png">
				<!--<img src="{$smarty.const.STATIC_DOMAIN}/images/code1.png">-->
				<h4>下载游戏</h4>
				<p>扫描二维码，</p>
				<p>立即下载游戏</p>
			</li>
			<li>
				<img class="noCode" src="{$smarty.const.STATIC_DOMAIN}/images/weicode.png">
				<!--<img src="{$smarty.const.STATIC_DOMAIN}/images/code2.png">-->
				<h4>官方QQ群</h4>
				<p>扫码二维码,加入官方Q群</p>
				<!--<p>官方微信号</p>-->
				<!--<p><a href="">huanxiangwuhu</a></p>-->
			</li>
			<li>
				<img src="{$smarty.const.STATIC_DOMAIN}/images/code3.png">
				<h4>客户服务</h4>
				<p>客户服务电话：</p>
				<p><a href="">4009393333</a></p>
				<h6>BUG反馈，游戏问题</h6>
			</li>
		</ul>
	</div>
</div>
<div class="fixed-right">
	<ul class="right-box">
		<li data-index="1" class="active"><img src="{$smarty.const.STATIC_DOMAIN}/images/li1.png" alt=""><a>预约首页</a></li>
		<li data-index="2"><img src="{$smarty.const.STATIC_DOMAIN}/images/li2.png" alt=""><a>预约奖励</a></li>
		<li data-index="3"><img class="prise" src="{$smarty.const.STATIC_DOMAIN}/images/prise.png" alt=""><a>首测奖励</a></li>
		<li data-index="4"><img src="{$smarty.const.STATIC_DOMAIN}/images/li3.png" alt=""><a>游戏特色</a></li>
	</ul>
	<img src="{$smarty.const.STATIC_DOMAIN}/images/weicode.png" alt="" class="weiCode">
	<!--<img src="{$smarty.const.STATIC_DOMAIN}/images/noCode.png" alt="" class="weiCode">-->
	<p class="weiFamily">扫码加Q群</p>
	<p class="player">玩家Q群</p>
	<p class="playNum">689772061</p>
</div>
<div class="fixed-right-btn"></div>

<div class="mask">
	<div class="cont6-dialog" id="cont6-dialog3">
		<div class="close"></div>
		<h3>最强第一人</h3>
		<h4>活动时间：3月2日至3月16日</h4>
		<p>参与方式：加入官方QQ群（689772061），活动截止后将公布最终结果。</br>
			活动奖励：全服等级第一的玩家将会得到华为mate 10 pro一台。</p>
		<img src="{$smarty.const.STATIC_DOMAIN}/images/cont6-1.PNG" alt="">
	</div>
	<div class="cont6-dialog" id="cont6-dialog4">
		<div class="close"></div>
		<h3>问卷调查活动</h3>
		<h4>活动时间：3月2日至3月16日</h4>
		<p>参与方式：加入官方QQ群（689772061），完成问卷，在问卷中留下联系方式即可参与活动。 </br>
			活动奖励：定制抱枕周边（限量50个，随机抽取)。</p>
	</div>
	<div class="cont6-dialog" id="cont6-dialog2">
		<div class="close"></div>
		<h3>最强职业活动</h3>
		<h4>活动时间：3月2日至3月16日</h4>
		<p>参与方式：加入官方QQ群（689772061），活动截止后将公布最终结果。 </br>
			活动奖励:各职业战力第一的玩家将会在公测时获得绝版定制称号一个。</p>
		<img src="{$smarty.const.STATIC_DOMAIN}/images/cont6-3.PNG" alt="">
	</div>
	<div class="cont6-dialog" id="cont6-dialog1">
		<div class="close"></div>
		<h3>找BUG活动</h3>
		<h4>活动时间：3月2日至3月16日</h4>
		<p> 参与方式：加入官方QQ群（689772061）将反馈提交至管理员即可。</p>
		<div class="join">
			<span>活动奖励：</span>
			一等奖：价值100元京东卡2张</br>
			二等奖：价值50元京东卡8张</br>
			三等奖：价值20元京东卡20张
		</div>
	</div>
	<div class="dialog dialog-success">
		<div class="close"></div>
		<h3>恭喜您，预约成功</h3>
			<p>邀请好友填写邀请码预约</p>
			<p>即可额外获得活动机会</p>
			<h4>您的邀请码为：<span class="yq_num">xxxx</span></h4>
			<div class="join">
				<span>活动方法</span>  将您的邀请码告诉好友，好友预约时填写即可
			</div>
		<a href="javascript:;" class="lj_order"><img src="{$smarty.const.STATIC_DOMAIN}/images/lj_order.png" alt=""></a>
	</div>
	<div class="dialog dialog-yue">
		<div class="close"></div>
		<div class="dialog-main">
			<p class="dialog-title">邀请好友</p>
			<ul class="share-box jiathis_style">
				<li><a class="jiathis_button_qzone"></a></li>
				<li><a class="jiathis_button_tsina"></a></li>
				<li><a href="/site/ajax-share.html" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}/images/weiShare.png" alt=""></a></li>
			</ul>
			<div class="shareCode">
				<img class="myCode" src="{$smarty.const.STATIC_DOMAIN}/images/code.png">
				<p class="yaoTitle">扫描二维码邀请好友</p>
				<p class="myYao">我的邀请码</p>
				<div class="yaoNum">9090900</div>
			</div>
		</div>
	</div>
	<div class="dialog dialog-information">
		<div class="close"></div>
		<div class="dialog-main">
			<p class="dialog-title">登录</p>
			<div class="information-box">
				<p class="err" id="phone-err"><img src="{$smarty.const.STATIC_DOMAIN}/images/err.png">请输入手机号/邮箱/用户名</p>
				<input id="phone" type="text" placeholder="请输入手机号">
				<p class="err" id="img-code-err"><img src="{$smarty.const.STATIC_DOMAIN}/images/err.png">请输入图形验证码</p>
				<div class="img-code-box">
					<input id="img-code" type="text" placeholder="请输入验证码">
					<button id="getMarkBtn1">
						{$captcha_img}
					</button>
					<p class="co_imgtxt">点击图片刷新</p>
				</div>
				<p class="err" id="code-err"><img src="{$smarty.const.STATIC_DOMAIN}/images/err.png">请输入验证码</p>
				<div class="code-box">
					<input id="code" type="text" placeholder="请输入验证码">
					<button id="getMarkBtn">获取验证码</button>
				</div>
				<img class="information-btn" style="width: 164px;height: 58px;" src="{$smarty.const.STATIC_DOMAIN}/images/loginBtn.png" alt="">
			</div>
		</div>
	</div>

	<div class="dialog dialog-type">
		<div class="close"></div>
		<div class="dialog-main">
			<p class="dialog-title">预约信息</p>
			<div class="checkBox" id="type">
				<p class="active" data-index="1">
					<label><i></i></label><span>IOS</span>
				</p>
				<p>
					<label><i></i></label><span>Android</span>
				</p>
			</div>
			<div class="friend-box" data-index="2">
				<span class="friend-word"><i>▪</i>是否有好友邀请？</span>
				<!-- <div class="checkBox" id="friend-checkBox">
					<p class="active" data-index="3">
						<label><i></i></label><span>是</span>
					</p>
					<p data-index="4">
						<label><i></i></label><span>否</span>
					</p>
				</div> -->
				<input id="friend-input" type="text" placeholder="请输入邀请码">
				<img class="friend-btn" src="{$smarty.const.STATIC_DOMAIN}/images/yueBtn.png" alt="">
			</div>
		</div>
	</div>

	<div class="dialog dialog-gift">
		<div class="close"></div>
		<div class="dialog-main">
			<div class="price_txt">
				奖励将于公测开启后<br>通过短信形式<br>将兑换码发放至绑定手机号中
			</div>
			<div class="p_sure"><img src="http://static.dev.yingxiong.com/dream/m/images/click.png" alt=""></div>
		</div>
	</div>
</div>
</body>

{include '../layouts/pc/foot.html'}
</html>
