{include '../../layouts/wap/header_new.html'}
<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}1.0/m/css/news.css?{$smarty.const.VERSION}" />
</head>
<body>
<!--内容-->
<div class="i_main i_main1">
    <div class="list">
        <div class="wrap">
            <!--情报资讯-->
            <div class="banner_news">
                <div class="wrap">
                    <p class="title"><img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/title6.png?{$smarty.const.VERSION}" alt=""></p>
                    <div class="news_box">
                        <div class="hd">
                            <ul data-id="{$id}"> 
                                <li class="{if $id==1908}active{/if}">
                                    <a href="{myurl name='wap/article/list, id=>1908'}">全部</a>
                                </li>
                                <li class="{if $id==1909}active{/if}" >
                                    <a href="{myurl name='wap/article/list, id=>1909'}">新闻</a>
                                </li>
                                <li class="{if $id==1910}active{/if}" >
                                    <a href="{myurl name='wap/article/list, id=>1910'}">公告</a>
                                </li>
                                <li class="{if $id==1911}active{/if}" >
                                    <a href="{myurl name='wap/article/list, id=>1911'}">攻略</a>
                                </li>
                            </ul>
                        </div>
                        <div class="bd">
                            <ul class="news_info">
                                
                                
                            </ul>
                            <a href="javascript:;" class="more_page"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>        
        {include '../../layouts/wap/footer_new.html'}
    <script>
        $(function() {
            $(".header").removeClass("hidden");
        });
        var page = 1; //页数
        var id = $(".news_box ul").attr("data-id");//类型
        function getListFu(){
        $.ajax({
            type:"get",
            url:'{myurl name="commonMethod/ajax-get-list"}',
            data:{
                page:page++,
                id:id,
            },
            success:function(data){
                var data = JSON.parse(data);
                var result = '';
                if(data.status == 0&& data.msg.length>0){
                    for(var i = 0; i < data.msg.length; i++) {
                        result += "<li><a href=" + data.msg[i].wapLinkUrl+"><i class='small_ti'>" +data.msg[i].name+"</i>"+data.msg[i].title+"</a><span>"+data.msg[i].created_at+"</span></li>";
                    }
                    if(data.msg.length<5){
                         $(".i_main1 .news_info").css("height","auto");
                         $(".more_page").hide();
                    }
                    $('.i_main1 .news_info').append(result);
                } else{
                    result += "<li class='noData'>暂无数据~</li>";
                    $(".i_main1 .news_info").css("height","auto");
                         $(".more_page").hide();
                    $('.i_main1 .news_info').append(result);
                    $("more_page").hide();
                }
            },
            error:function(data){
                console.log(data);
            }
        });
    }
    getListFu();
        $(".more_page").click(function(){
            $(".i_main1 .news_info").css("height","auto");
            $(this).hide();
            $(".noData").hide();
        })
    </script>