<!--footer-->
<div class="i-footer">
    <div class="i-fotcon">
        <div class="i-fot-text">
            <div class="i-fot-left i-fot-left1">
                <p>健康游戏忠告：</p>
            </div>
            <div class="i-fot-left">
                <p>抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 </p>
                <p>适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</p>
            </div>
            <div class="i-fot-left i-fot-info"><p>本公司游戏产品适合16岁（含）以上玩家娱乐</p></div>
            <div class="i-fot-center"><p>粤网文〔2018〕7561-2737号</p><p>粤ICP备18069368号-1 </p><p>客服邮箱：customerservice@kurogame.com</p><p>©2018广州库洛科技有限公司 </p></div>
            <a href="javascript:;" class="wwwlogo_img"><img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/wwwlogo_img.png?{$smarty.const.VERSION}" alt=""/></a>
        </div>
    </div>
</div>