<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
	<meta name="format-detection" content="telephone=no">
	<title>{$seo_title}</title>
	<meta name="Keywords" content="{$seo_key}">
	<meta name="Description" content="{$seo_desc}">
	<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}7.0/css/swiper-3.4.2.min.css?{$smarty.const.VERSION}" />
	<link rel="shortcut icon" href="{$global.icon_img}">
	<link rel="stylesheet" href="http://cdnstatic.yingxiong.com/common/css/yx.css?{$smarty.const.VERSION}" />
	<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}7.0/css/public.css?{$smarty.const.VERSION}" />
	<link href="{$smarty.const.STATIC_DOMAIN}7.0/css/swiper-3.4.2.min.css?{$smarty.const.VERSION}" rel="stylesheet">
	<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}7.0/css/cover.css?{$smarty.const.VERSION}" />

<script src="{$smarty.const.STATIC_DOMAIN}7.0/js/jquery-1.11.2.min.js?{$smarty.const.VERSION}"></script>
	<script data-fixed="true">
		if((/iphone|android|mobile/i.test(navigator.userAgent.toLowerCase()))) {
			location.href = "/m"+window.location.pathname+window.location.search;
		}
	</script>
</head>
<body>
<script type="text/javascript" src="//cdnstatic.yingxiong.com/head/js/topbar.js?{$smarty.const.VERSION}"></script>
	<!--内容-->
	<div class="i_main">
		<div class="cont">
			<div class="logo">	</div>
			<!--第一部分-->
				<div class="share_box">
                         <a href="javascript:;" class="weixin"></a>
                         <a href="{if $global.wb_url}{$global.wb_url}{else}javascript:yx_showTips('敬请期待');{/if}" class="weibo" {if $global.wb_url}target="_blank"{else}{/if}></a>
                         <a href="{if $global.tb_url}{$global.tb_url}{else}javascript:yx_showTips('敬请期待');{/if}" class="baidu" {if $global.tb_url}target="_blank"{else}{/if}></a>
                         <img src="{$global.wx_img}" alt="" class="ewm_wx">
					</div>
					<a href="{myurl name='/index'}" class="enter"></a>
			<div class="kv">

				<div class="slogan">
					<div class="videoBtn">
						<a href="javascript:;" data-url="{$cover_video[0].url}" class="js_video_play"><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/play.png?{$smarty.const.VERSION}" class="video_play"></a>
					</div>
				</div>
				<div class="down_box">
					<a href="javascript:;" class="down_az stat_cover_android js_down_andriod"><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/android.png?{$smarty.const.VERSION}"></a>
					<a href="javascript:;" class="down_ios stat_cover_ios js_down_ios"><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/ios.png?{$smarty.const.VERSION}"></a>
					<a href="https://www.taptap.com/app/23420" class="down_tap stat_cover_tap" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}7.0/images/tap.png?{$smarty.const.VERSION}"></a>
					<img src="" alt="" class="ewm js_jump_img">
				</div>
			</div>
			<div class="page_two">
			    <div class="lh2"></div>
			    <div class="wrap">
			    	<div class="title1"></div>
			    	<div class="gift_list">
			    		<ul>
			    			<li>
			    				<img src="{$smarty.const.STATIC_DOMAIN}7.0/images/li1.png?{$smarty.const.VERSION}" alt="">
			    				<div class="info_box">
			    					<p class="txt_info">老用户召回系统</p>
			    					<p class="info2">新服返利盼你回来已久，称号献礼实属“众望所归”</p>
			    					<a href="http://jws.yingxiong.com/info/2018/1016/5603.html" target="_blank"></a>
			    				</div>
			    				<i>	</i>
			    			</li>
			    			<li>
			    				<img src="{$smarty.const.STATIC_DOMAIN}7.0/images/li2.png?{$smarty.const.VERSION}" alt="">
			    				<div class="info_box">
			    				<p class="txt_info">新用户拉新系统</p>
			    				<p class="info2">新人受邀三国壕礼相赠，兄弟征战一起雄霸天下</p>
			    				<a href="http://jws.yingxiong.com/info/2018/1016/5603.html" target="_blank"></a>
			    				</div>
			    				<i>	</i>
			    			</li>
			    			<li>
			    				<img src="{$smarty.const.STATIC_DOMAIN}7.0/images/li3.png?{$smarty.const.VERSION}" alt="">
			    				<div class="info_box">
			    				<p class="txt_info">燃花福利</p>
			    				<p class="info2">忽如一夜春风来，千城万镇礼花开</p>
			    				<a href="http://jws.yingxiong.com/info/2018/1016/5603.html" target="_blank"></a>
			    				</div>
			    				<i>	</i>
			    			</li>
			    			<li>
			    				<img src="{$smarty.const.STATIC_DOMAIN}7.0/images/li4.png?{$smarty.const.VERSION}" alt="">
			    				<div class="info_box">
			    				<p class="txt_info">寻找烟花</p>
			    				<p class="info2">完成任务获礼花，庆典宝箱全民抢</p>
			    				<a href="http://jws.yingxiong.com/info/2018/1016/5603.html" target="_blank"></a>
			    				</div>
			    				<i>	</i>
			    			</li>
			    			<li>
			    				<img src="{$smarty.const.STATIC_DOMAIN}7.0/images/li5.png?{$smarty.const.VERSION}" alt="">
			    				<div class="info_box">
			    				<p class="txt_info">充值送礼</p>
			    				<p class="info2">充值返钻天天有，超值福利等你来</p>
			    				<a href="http://jws.yingxiong.com/info/2018/1016/5603.html" target="_blank"></a>
			    				</div>
			    				<i>	</i>
			    			</li>
			    			<li>
			    				<img src="{$smarty.const.STATIC_DOMAIN}7.0/images/li6.png?{$smarty.const.VERSION}" alt="">
			    				<div class="info_box">
			    				<p class="txt_info">普天同庆</p>
			    				<p class="info2">兄弟齐心燃烟花，诱人红包大放送</p>
			    				<a href="http://jws.yingxiong.com/info/2018/1016/5603.html" target="_blank"></a>
			    				</div>
			    				<i>	</i>
			    			</li>
			    		</ul>
			        </div>
			    </div>
			</div>
			<div class="page3">
			    <div class="wrap">
			    	<div class="title1"></div>
					<div class="h_banner h_banner1">
						{fragment var=banner code=banner_cover size=5}
						<ul class="swiper-wrapper">
						{if $banner neq ''}
						{foreach $banner as $v}
							<li class="swiper-slide">
							<a href="{if $v.url}{$v.url}{else}javascript:;{/if}"><img src="{$v.thumb}" alt=""></a>
							</li>
							{/foreach}
					    {/if}
						</ul>
				    </div>
					<div class="swiper-pagination"></div>
					<div class="wgam_prev s_prev"></div>
					<div class="wgam_next s_next"></div>
					<div class="wgam_prev t_prev"></div>
					<div class="wgam_next t_next"></div>
				</div>
		        <div class="peo2"></div>
		    </div>
	    </div>
	 <div class="float">
	 	<div class="fl_txt">
	 		<a href="{myurl name='p/active'}" target="_blank"></a>
	 	</div>
	 	<label class="q_f_icon show" show=""></label>
	 </div>
	 </div>

	<div class="five">
	<div class="wrap">
		<ul>
			<li>
			    <a href="{if $global.wb_url}{$global.wb_url}{else}javascript:yx_showTips('敬请期待');{/if}" {if $global.wb_url}target="_blank"{else}{/if}>
				<img src="{$global.wb_img}" alt="" class="">
				<div class="five_txt">
					<p>官方微博</p>
					<p>扫描二维码进入微博</p>
					<p>真3D三国动作手游</p>
				</div>
				</a>
			</li>
			<li>
				<img src="{$global.wx_img}" alt="">
				<div class="five_txt">
					<p>微信公众号</p>
					<p>扫描二维码关注官方微信</p>
					<p>官方微信号：<span>极无双</span></p>
				</div>
			</li>
			<li>
			    <a href="{if $global.group_url_one}{$global.group_url_one}{else}javascript:yx_showTips('敬请期待');{/if}" {if $global.group_url_one}target="_blank"{else}{/if}>
				<img src="{$global.group}" alt="">
				<div class="five_txt">
					<p>官方Q群</p>
					<p>扫描加群</p>
					<p>官方Q群：<span>{$global.group_num}</span></p>
				</div>
				</a>
			</li>
		</ul>
	</div>
    </div>
	</body>
	{download}
	{video_play}
		<script type="text/javascript" src="//cdnstatic.yingxiong.com/footer/js/footer_new.js?{$smarty.const.VERSION}"></script>
		<script src="http://cdnstatic.yingxiong.com/common/js/yx.js?{$smarty.const.VERSION}"></script>
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}7.0/js/swiper.min.js?{$smarty.const.VERSION}"></script>
<script>

    //点击隐藏和显示下载悬浮框
		function show_hide_down() {
			$(".q_f_icon").click(function() {
				var state = $(this).attr("show");
				if(state) {
					$(".float").animate({
						"right": "10px"
					}, 200);
					$(this).attr({
						"show": "",
						"class": "show"
					});
				} else {
					$(".float").animate({
						"right": "-320px"
					}, 200);
					$(this).attr({
						"show": "true",
						"class": "hide_float"
					});
				}
			})
		}
$(function (){
	var url_fgw = window.location.href;
    var url_id=window.location.href.split('/part/')[1];
        console.log(url_id);
        if(url_id=="jpcpc.html" || url_id=="ppcpc.html" || url_id=="tycpc.html"){
            $(".page_two,.down_tap,.share_box,.enter").css("display","none");
            $(".five").css("display","none");
            $(".float").css("display","none");
            $(".page3").css("top","208px");
            $(".i_main").css("height","2249px");
            $(".i_main").css("background-size","100% auto");
            $(".i_main").css("background","url(http://cdnstatic.yingxiong.com/ifsg/7.0/images/bg.jpg) no-repeat top");
            $(".down_box a.down_ios").css("top","78px");
            $(".page3").css("height","1040px");
            $(".peo2").css("bottom","-47px");
        }
	pc_cover();
	show_hide_down();
	var mySwiper01 = new Swiper('.h_banner1', {
			effect: "coverflow",
			speed: 1500,
			autoplay: 3500,
			prevButton: ".wgam_prev",
			nextButton: ".wgam_next",
			pagination: '.swiper-pagination',
			paginationClickable: true,
			slidesPerView:2.43,
			loop: true,
			effect: 'coverflow',
			slideToClickedSlide: true,
			simulateTouch: false,
			centeredSlides: true,
			autoplayDisableOnInteraction: false,
			coverflow: {
				rotate: 50,
				stretch: -55,
				depth: 410,
				modifier: 1,
				slideShadows: true
			},
			});
	//导航变化
	var clickNumber =0;
	$(".h_nav").on("click", function(e){
        e.stopPropagation();
        if(clickNumber %2==0){
            $(".d_t_t").addClass("d_t_t_tran");
            $(".d_t_m").addClass("d_t_m_tran");
            $(".d_t_b").addClass("d_t_b_tran");
            $(".header_nav").stop().slideDown();
        }else{
            $(".d_t_t").removeClass("d_t_t_tran");
            $(".d_t_m").removeClass("d_t_m_tran");
            $(".d_t_b").removeClass("d_t_b_tran");
            $(".header_nav").stop().slideUp();
        }
        clickNumber++;
    });
    $(".header_nav li").on("click" , function (){
    	$(this).addClass("active").siblings().removeClass("active");
    });
    $(".last_li a").click(function (){
    	$(".li_mask").stop().fadeIn();
    	$(".wx_code").stop().fadeIn();
    });
    $(".li_close").click(function (){
    	$(".li_mask").stop().fadeOut();
    	$(".wx_code").stop().fadeOut();
    });
    //tap
    var clicknum = 1;
    $("header .h_d").click(function() {
        if(clicknum % 2 !== 0) {
            $(this).siblings(".nav-content1").slideDown();
        } else {
            $(this).siblings(".nav-content1").slideUp();
        }
        clicknum++;
    });
    $(".i_main .share_box a.weixin").hover(function(){
    	$(".ewm_wx").fadeIn(500);
    },function(){
    	$(".ewm_wx").fadeOut(500);
    })
		var clickTap = true;
		$(".close_float").click(function (){
			if(clickTap){
				$(".new_float").addClass("active");
				clickTap = false;
			} else {
				$(".new_float").removeClass("active");
				clickTap = true;
			}
		});


});
</script>
</html>
