body,
html {
    background: #fff;
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
    tap-highlight-color: rgba(255, 0, 0, 0)
}
input[type=button],
input[type=password],
input[type=text] {
    -webkit-appearance: none;
    outline: none;
}
.clear{
    clear:both;
}
*::-webkit-scrollbar {display:none}
.show {
    display: block
}

.hide {
    display: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
a:visited {
    background: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.index1_header {
    width: 100%;
    height:4.36rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: #161616;
    opacity: 0.9;
}
.index1_logo {
    width:3.76rem;
    position:relative;
    float: left;
    margin-top:0.28rem;
    margin-left:0.92rem;
}
.index1_logo img {
    width: 100%;
}
.index1_header .header_txt {
    float: left;
    position:relative;
    margin-left:0.90625rem;
    margin-top:0.96rem;
}
.index1_header .header_txt .h_p_01 {
    line-height: 1.125rem;
    font-size: 1.04rem;
    font-weight: bolder;
    color: #fff;
}
.index1_header .header_txt .h_p_02 {
    line-height: 0.625rem;
    font-size: 0.8rem;
    color:#9F9F9F;
    margin-top: 0.72rem;
}
.index1_header .ent_yy img{
    width:7.92rem;
    float: right;
    display: block;
    margin-right:1.04rem;
    margin-top:0.96rem;
}
.index1_header .download img{
    width: 4.15625rem;
    float: right;
    display: block;
    margin-top: 1.125rem;
}
.main1{
    width:100%;
    min-height:51.72rem;
    padding-top: 3.36rem;
    background: #9F9F9F;
    overflow: hidden;
}
.main{
    width: 100%;
    position: relative;
    height: 53.53125rem;
    background: url(../images/top1.png) no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
.main .logo{
    width: 28.0rem;
    display: inline-block;
    position: absolute;
    top: 1.24rem;
    left:50%;
    margin-left:-14.0rem;
}
.play{
    display: block;
    width: 3.76rem;
    position: absolute;
    left: 50%;
    margin-left: -1.88rem;
    top: 8rem;
    z-index: 10;
}
.play>img{
    width: 3.76rem;
    display: inline-block;
    margin: 0 auto;
    animation: vBig 2s linear infinite;
    -webkit-animation: vBig 2s linear infinite;
}
@keyframes vBig{
    0%{transform: scale(0.9);}
    50%{transform: scale(1);}
    100%{transform: scale(0.9);}
}
@-webkit-keyframes vBig{
    0%{transform: scale(0.9);}
    50%{transform: scale(1);}
    100%{transform: scale(0.9);}
}
.main .yyue{
    width:12.24rem;
    height:3.72rem;
    position: absolute;
    display: block;
    bottom:7.92rem;
    left:50%;
    margin-left:-6.12rem;
    background: url(../images/buttun.png) no-repeat;
    background-size:100% 100%; 
}
.main .peo_num{
    width:100%;
    height:1.84rem;
    line-height:1.84rem;
    text-align: center;
    position: absolute;
    color: #fff;
    font-weight:600; 
    font-size:0.96rem;
    bottom:5.2rem;
}
.main .peo_num span{
    color:#fff960;
    padding:0 0.3rem;
}
/*main2*/
.main2{
    width:100%;
    height:53.84rem;
    background: url(../images/w_03.jpg) no-repeat;
    background-size:100% 100%; 
    position: relative;
    overflow: hidden;
}
.main2 .gift1{
    width:100%;
    height:16.2rem;
    background: url(../images/bg1.png) no-repeat;
    background-size:100% 100%;
    position: relative;
    top:-1rem;
}
.main2 .gf1_info{
    max-width:17.0rem;
    position: absolute;
    line-height: 1.2rem;
    top:4.92rem;
    left:12.0rem;
    font-size:0.64rem;
    color:#000;
    text-align:left;
}
.main2 .gift1 ul{
   width:28.16rem;
   position: absolute;
   left:50%;
   margin-left:-14.08rem;
   bottom:0;
}
.main2 .gift1 ul li{
   width:5.04rem;
   height:8.2rem;
   float: left;
   padding-left: 0.5rem;
   position: relative;
}
.main2 .gift1 ul li p{
   width:5.04rem;
   text-align: center;
   height:1.2rem;
   color: #000;
   font-size: 0.8rem;
}
.main2 .gift1 .money{
    width:4.84rem;
}
.main2 .gift1 .mn_num{
    width: 5.04rem;
    height: 1.56rem;
    position: absolute;
    bottom: 1.1rem;
    background: url(../images/gf_num.png) no-repeat;
    background-size:100% 100%; 
}
.main2 .gift1 .dach{
    width:2.12rem;
    top:0.08rem;
    position: absolute;
}
.main2 .gift1 .mn_num span{
    line-height:1.59rem;
    text-align:left;
    font-weight:500;
    height:1.2rem;
    color: #fbd44b;
    font-size:0.8rem;
    padding-left:2.26rem;
}
.main2 .gift2{
    width:100%;
    height:36.08rem;
    background: url(../images/bg2.png) no-repeat;
    background-size:100% 100%; 
    position: relative;
}
.main2 .gf2_info{
    max-width:17.0rem;
    position: absolute;
    line-height: 1.2rem;
    top:4.92rem;
    left:12.0rem;
    font-size:0.64rem;
    color:#000;
    text-align:left;
}
.main2 .gift2 .log_af,.main2 .gift2 .log_bf{
    width:100%;
    text-align: center;
    height:6.72rem;
    padding-top: 3.2rem;
    position:absolute;
    top:5.04rem;
}
.main2 .gift2 .user_id{
    width:100%;
    text-align: center;
    color: #ad715d;
    font-size: 0.9988rem;
    font-weight: 600;
}
.main2 .gift2 .login img{
    width:12.4rem;
    margin-top: 0.3rem;
    display: inline-block;
}
.main2 .gift2 .log_af .code{
    width:15.52rem;
    height:2rem;
    line-height:2rem;
    padding-left:1rem;
    position: relative;
    margin:0 auto;
    background-color:#cdc9c1;
    color:#815b4e;
    font-size: 1.0624rem;
    border:2px solid #ad715d;
    margin-top:0.5rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: left;
}
.main2 .gift2 .log_af .code span{
    color: #902522;
    padding-left:1rem;
    font-size: 1.4256rem;
    font-weight: bolder;
    display: inline-block;
    line-height: 100%;
}
.main2 .gift2 .log_af .sec_num{
    font-size: 0.625rem;
    padding-top: 0.4rem;
}
.main2 .tanke{
    width:100%;
    position: absolute;
    bottom:0rem;
}
.main2 .yaoq>img{
    width: 12.68rem;
    position: absolute;
    bottom: 0.8rem;
    right: 1rem; 
}
.main2 ul.box{
    width:27.4rem;
    height:8.36rem;
    position: absolute;
    left:50%;
    margin-left:-13.7rem;
}
.main2 ul.box1{
    top:15.04rem;
}
.main2 ul.box2{
    top:23.4rem;
}
.main2 .box li{
    width:6.84rem;
    height:8.36rem;
    float: left;
    margin-left:1.64rem;
    position: relative;
}
.main2 .box li .box_con{
    width:6.84rem;
    height:8.0rem;
    background: url(../images/gf_bg.png) no-repeat;
    background-size:100% 100%; 
}
.main2 .box li .box_con span{
   width:6.84rem;
   line-height: 0.8rem;
   position: absolute;
   top:4.1rem;
   z-index: 2;
   text-align: center;
   color: #fff;
   font-size: 0.56rem;
}
.main2 .box li .box_con p{
    width: 6.84rem;
    line-height: 1rem;
    position: absolute;
    bottom: 1rem;
    z-index: 2;
    text-align: center;
    font-size: 1.24rem;
    color: #FFF000;
    font-weight: 600;
}
.main2 .box2{
    padding-left:9.8rem;
}
.gf_box{
    width:6.0rem;
    position: absolute;
    top:1rem;
    left:50%;
    margin-left:-3rem;
}
.gf_bg{
    width: 7.12rem;
    left: 50%;
    margin-left: -3.56rem;
    top: 0.1rem;
}
.gf_bg3{
    top:-1.6rem;
}
.main2 ul li p{
   width:5.04rem;
   text-align: center;
   height:1.2rem;
   color: #000;
   font-size: 0.8rem;
}
/*main3*/
.main3{
    width:100%;
    height:20.88rem;
    background: url(../images/w_04.jpg) no-repeat;
    background-size:100% 100%; 
    overflow: hidden;
    position: relative;
}
.z_banner{
    width: 24.56rem;
    height: 15.84rem;
    margin-left: 2.76rem;
    overflow: hidden;
    padding-top: 4.52rem;
    position: relative;
}
.z_banner ul{
    width:100%;
    height:13.84rem;
    position:relative;
}
.z_banner ul li{
    width: 24.2rem;
    height: 13.8rem;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    padding: 0.2rem;
    box-sizing: border-box;
    position:relative;
}
.z_banner ul li a{
    display: block;
    width:100%;
    height:100%;
}
.z_banner ul li a img{
    display: block;
    width:24.16rem;
    height: 13.4rem;
}
.swiper-container-horizontal>.swiper-pagination-bullets{
    text-align:center;
    font-size:0;
    position: absolute;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    width:2.8rem;
    height:0.28rem;
    display: inline-block;
    background-color:#AC8F6C;
    opacity: 1;
    border-radius:0;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet-active{
    width:2.8rem;
    height:0.28rem;
    display: inline-block;
    background-color:#895413;
    border-radius:0;
    opacity: 1;
}
.swiper-button-prev,.swiper-button-next{
    width:1.84rem;
    overflow: hidden;
    background-image:none;
    position: absolute;
    top:55%;
}
.swiper-button-prev{
    left:0.4rem;
    animation: animate1 2s linear infinite;
    -webkit-animation: animate1 2s linear infinite;
}
.swiper-button-next{
    right:0.4rem;
    animation: animate2 2s linear infinite;
    -webkit-animation: animate2 2s linear infinite;
}
.swiper-button-prev img{
    transform: rotate(180deg);
}
.swiper-button-prev img{
    display: block;
    width:100%;
    height:100%;
}
.swiper-button-next img{
    display: block;
    width:100%;
    height:100%;
}
/*登录*/
.login_board,.yuyue_board,.invite_board{
    width:100%;
    height:100%;
    z-index:100;
    background: rgba(69,80,85,.9);
    position:fixed;
    top:0;
}
.title{
    width:100%;
    line-height: 4.68rem;
    position: absolute;
    top:2.88rem;
    font-size: 2.7856rem;
    text-align: center;
    font-weight: 600;
    color: #fff;
}
.tl2{
    top:2.238rem;
}
.tl3{
    top:2.38rem;
}
.login_tel,.yyue_con,.invite_con{
    width:29.16rem;
    height:25.4rem;
    display: block;
    position: relative;
    margin: 0 auto;
    top: 20%;
    background: url(../images/tc_bg.png) no-repeat center;
    background-size: 100% 100%;
}
.login_con{
    width: 24.0rem;
    height: 16rem;
    margin: 0 auto;
    position:relative;
}
.login_tel,.yuyue_tel{
    width:29.16rem;
    height:16.76rem;
    position: relative;
    margin:0 auto;
    padding-top:8.52rem;
}
.yuyue_tel input,.login_tel input,.yanzhen_code input{
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #000;
    text-align: left;
    padding-left: 0.8125rem;
    width:23.76rem;
    height:3.0rem;
    border:1px solid #D6BCAB;
    font-size: 1.3688rem;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
}
.yanzhen_code input,.yanzhen input{
    width:15.04rem;
}
.yanzhen_code,.yanzhen,.phone_ent{
    display: inline-block;
    margin-bottom: 0.96rem;
}
.yuyue_tel .gain,.login_tel .gain{
    width:6.4rem;
    height: 3rem;
    line-height: 3rem;
    font-size:0.9936rem;
    right:0;
    border: 2px solid #a5624e;
    text-align: center;
    border-radius: 4px;
    color: #a5624e;
    position: absolute;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.code_img{
    width:6.4rem;
    height: 3rem;
    display: inline-block;
    border-radius: 4px;
    line-height: 1.875rem;
    font-size: 0.8125rem;
    font-weight: 600;
    border: 2px solid #A5624E;
    text-align: center;
    position: absolute;
    right:0;
    color: #F86A05;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.code_img>img{
    width: 6rem;
    height: 3rem;
}
.yuyue_next,.share_next,.login_next{
    width:12.04rem;
    position: absolute;
    left:50%;
    margin-left:-6.02rem;
    display: inline-block;
    bottom: 1.01875rem;
}
.login_next{
    bottom:-0.7rem;
}
.login_next>img,.yuyue_next>img{
    width:12.04rem;
}
input:-ms-input-placeholder {
    color: #A5624E;
    font-size: 1.3688rem;
    opacity: 0.6;
}
input::-webkit-input-placeholder {
    color: #A5624E;
    font-size: 1.3688rem;
    opacity: 0.6;
}
input::-moz-placeholder {
    color: #A5624E;
    font-size: 1.3688rem;
    opacity: 0.6;
}
input:-moz-placeholder {
    color: #A5624E;
    font-size: 1.3688rem;
    opacity: 0.6;
}
/*预约*/
.yyue_con{
    height:22.08rem;
    background: url(../images/tc_bg2.png) no-repeat center;
    background-size: 100% 100%;
}
.yuyue_tel{
    width:27.96rem;
    height:13.76rem;
    padding-top:6.6rem;
}
.rdo{
   font-size: 1.7188rem;
    color:#a5624e;
    font-weight: 600;
}
span.fl{
    margin-left:4.48rem;
}
span.fr{
    margin-right:2.92rem;
}
.inv_hav{
    width: 100%;
    margin-top: 0.6rem;
}
.inv_hav span{
    font-size:1.2788rem;
    color:#a5624e;
    font-weight:700;
    padding-left: 1rem;
}
.inv_hav input{
    width:27.96rem;
    margin-top: 0.6rem;
}
.xitong {
    padding-bottom: 0.6rem;
    width: 100%;
    height: 1.8rem;
    border-bottom: 1px dashed #ccc;
}
.yuyue_form{
    width: 100%;
    height: 13rem;
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.no{
    position: absolute;
    display: inline-block;
    left:17.12rem;
}
.yes{
    position: absolute;
    display: inline-block;
    left:22.4rem;
}
.rdo:before,.rdo3:before{
    content: "";
    width:0.92rem;
    height:0.92rem;
    display: inline-block;
    background:url(../images/rad.png) no-repeat center;
    background-size:100% 100%;
    display: inline-block;
    float:left;
    margin-right: 0.3125rem;
    margin-top: 0.7rem;
}
.rdo.on:before,.rdo3.active:before{
    content: "";
    width:1rem;
    height:1rem;
    display: inline-block;
    background:url(../images/rad_on.png) no-repeat center;
    background-size:100% 100%;
    margin-right:0.3125rem;
    display: inline-block;
    float:left;
    margin-top: 0.7rem;
}
.rdo3:before{
    content: "";
    width: 1rem;
    height:1rem;
    display: inline-block;
    margin-top: 0.4rem;
    margin-right: 0.3rem;
}
.rdo3.active:before{
    content: "";
    width:1rem;
    height:1rem;
    display: inline-block;
    margin-top: 0.4rem;
    margin-right: 0.3rem;
}
.yuyue_next{
    bottom:-1rem;
}
/*邀请*/
.invite_con{
    width:29.16rem;
    height:28.12rem;
    background: url(../images/tcbg3.png) no-repeat center;
    background-size: 100% 100%;
}
.invite_tl{
    width: 8.0rem;
    height:7.92rem;
    border:1px solid #D0B19F;
    background-color: #CDC9C1;
    display: block;
    position: absolute;
    top:10.52rem;
    left:4.96rem;
}
.info{
    width:100%;
    line-height:3.28rem;
    text-align: center;
    font-size: 1.756rem;
    color:#ad715d;
    font-weight: 500;
    position: absolute;
    bottom:5.7rem;
}
.share{
    width:100%;
}
.inv_code{
    width: 10.52rem;
    padding-top: 1.2rem;
    display: block;
    position: absolute;
    top: 10.52rem;
    right: 3.96rem;
}

.inv_code p:nth-of-type(1){
    font-size:1.398rem;
    color: #815b4e;
    margin-bottom:0.1rem;
    text-align: center;
}
.inv_code p.inv_num{
    width:10.52rem;
    height:3.28rem;
    line-height:3.28rem;
    top:3.24rem;
    border:1px dashed #B8B0A5;
    color:#902522;
    font-weight: bolder;
    font-size:1.8756rem; 
    text-align:center;
}
.share{
    height:4.82rem;
    padding-bottom:0.7rem;
    position: absolute;
    bottom:0;
}
.share li:nth-of-type(1){
    margin-left:7.2rem;
}
.share li{
    float:left;
    padding:0.9375rem;
}
.share li img{
    width:2.88rem;
}
.close{
    width: 1.5rem;
    height: 1.5rem;
    background: url(../images/close.png) no-repeat center top;
    background-size: 100% 100%;
    position: absolute;
    top: 0.7rem;
    right: 0.6rem;
    z-index:15;
}
.close1{
    top: 2.9rem;
}
.co_error{
    font-size:0.8rem;
    color:#A5624E;
    display: none;
    line-height: 0.96rem;
}
.login_tel p.err1{
    position: absolute;
    top: 3.1rem;
    left: 1rem;
}
.yuyue_tel p.err3{
    
    margin-left:1rem;
}
.login_tel p.err3{
    position: absolute;
    top: 7.4rem;
    left: 1rem;
}
.login_tel p.err2{
    position: absolute;
    top: 11.6rem;
    left: 1rem;
}
.login_tel p.shuaxin{
    position: absolute;
    width: 6.4rem;
    text-align: center;
    top: 7.3rem;
    right: 0;
    font-size: 0.625rem;
    color: rgba(117,67,44,.5);
}
#video_tc {
    height: 17.125rem !important;
    top: 30% !important;
}
#video_player {
    width: 88% !important;
    height: 17.125rem !important;
}
.prism-player {
    height: 17.125rem !important;
}
#video_close {
    width: 4rem !important;
    height: 4rem !important;
    top: -3rem !important;
    right: -3rem !important;
}
@keyframes animate1 {
  0% {
    transform: scale(1, 1) translate(0, 0);
    -webkit-transform: scale(1, 1) translate(0, 0);
  }
  50% {
    transform: scale(1.05, 1.05) translate(-0.3rem, 0);
    -webkit-transform: scale(1.05, 1.05) translate(-0.3rem, 0);
  }
  100% {
    transform: scale(1, 1) translate(0, 0);
    -webkit-transform: scale(1, 1) translate(0, 0);
  }
}
@-webkit-keyframes animate1 {
  0% {
    transform: scale(1, 1) translate(0, 0);
    -webkit-transform: scale(1, 1) translate(0, 0);
  }
  50% {
    transform: scale(1.05, 1.05) translate(-0.3rem, 0);
    -webkit-transform: scale(1.05, 1.05) translate(-0.3rem, 0);
  }
  100% {
    transform: scale(1, 1) translate(0, 0);
    -webkit-transform: scale(1, 1) translate(0, 0);
  }
}
@keyframes animate2 {
  0% {
    transform: scale(1, 1) translate(0, 0);
    -webkit-transform: scale(1, 1) translate(0, 0);
  }
  50% {
    transform: scale(1.1, 1.1) translate(0.3rem, 0);
    -webkit-transform: scale(1.1, 1.1) translate(0.3rem, 0);
  }
  100% {
    transform: scale(1, 1) translate(0, 0);
    -webkit-transform: scale(1, 1) translate(0, 0);
  }
}
@-webkit-keyframes animate2 {
  0% {
    transform: scale(1, 1) translate(0, 0);
    -webkit-transform: scale(1, 1) translate(0, 0);
  }
  50% {
    transform: scale(1.1, 1.1) translate(0.3rem, 0);
    -webkit-transform: scale(1.1, 1.1) translate(0.3rem, 0);
  }
  100% {
    transform: scale(1, 1) translate(0, 0);
    -webkit-transform: scale(1, 1) translate(0, 0);
  }
}