<div class="foot foot_bottom">
	<div class="content">
		<!--footer-->
		<div class="h_bottom">
			<ul>
				<li>
					<div class="code_bg">
						<img src="{$global.wx_img}" alt="">
					</div>
					<p> 官方微信 </p>
				</li>
				<li>
					<a href="{if $global.wb_url}{$global.wb_url}{else}javascript:;{/if}" {if $global.wb_url}target="_blank"{/if}>
					<div class="code_bg">
						<img src="{$global.wb_img}" alt="">
					</div>
					<p>官方微博</p>
					</a>
				</li>
				<li>
					<a href="{if $global.group_url_one}{$global.group_url_one}{else}javascript:;{/if}" {if $global.group_url_one}target="_blank"{/if}>
					<div class="code_bg">
						<img src="{$global.group}" >
					</div>
					<p>官方Q群</p>
					</a>
				</li>
				<li>
					<a {if $global.tb_url}target="_blank"{/if} href="{if $global.tb_url}{$global.tb_url}{else}javascript:yx_showTips('敬请期待');{/if}">
					<div class="code_bg"></div>
					<p>百度贴吧</p>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>