*{margin: 0;padding: 0;-webkit-tap-highlight-color:rgba(0,0,0,0);}
body {font-family: "微软雅黑";}
.hidden{display:none!important;}
img{width:100%;height:100%;}
a{text-decoration:none;}
li{list-style:none;}
i,em{font-style:normal;}
.fl{float:left;}
.fr{float: right;}
input:focus{outline:none;}
.clearfix {
	clear: both;
}
.clearfix:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0;
}
.chengg{
	width:100%;
	height:1px;
	background:none;
}
.no_auto{
	overflow: hidden;
	width:100%;
	height:100%;
}
.no_auto .co_tips{position:absolute;overflow: hidden;}
input[type=number] { -moz-appearance: textfield; } input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
.wrap{
	width:20rem;
	position:relative;
	margin:0 auto;
	height: 100%;
}
.i_main .ani .ani-item{/*渐隐1*/
	opacity: 0;
	transition: all .8s;
	-webkit-transition: all .8s;
	-moz-transition: all .8s;
	-o-transition: all .8s;
}
.i_main .ani.show-ani .ani-item{/*渐隐2*/
	opacity: 1;
	transform: scale(1,1) translateX(0) translateY(0)!important;
	-ms-transform: scale(1,1) translateX(0) translateY(0)!important;
	-webkit-transform: scale(1,1) translateX(0) translateY(0)!important;
	-moz-transform: scale(1,1) translateX(0) translateY(0)!important;
	-o-transform: scale(1,1) translateX(0) translateY(0)!important;
}
.i_main .ani.show-ani .ani-item.ani-delay
{
	transition-delay: .3s;
	-moz-transition-delay: .3s; /* Firefox 4 */
	-webkit-transition-delay: .3s; /* Safari 和 Chrome */
	-o-transition-delay: .3s; /* Opera */
}
.animated1{
	animation-delay:.5s;
	-webkit-animation-delay:.5s; /* Safari 和 Chrome */
}
.i_main {
	position: relative;
	width: 100%;
	margin: 0 auto;
	margin-top: 3.125rem;
	/*overflow: hidden;*/
}
/*top*/
.kv {
	width: 100%;
	height: 32.15625rem;
	background: url(../images/ca_bg1.jpg) no-repeat center;
	background-size:100% 100%;
	position: relative;
	overflow: hidden;
}
.kv .logo{
	z-index: 12;
	position: relative;
	display: block;
	width: 11.5625rem;
	height: 2.53125rem;
	margin: 0 auto;
	margin-top: 6.0625rem;
}
.kv .gold1{
	z-index: 12;
	position: absolute;
	right: 0;
	top: -.75rem;
	width: 7.09375rem;
	height: 8.90625rem;
}
.kv .gold2{
	z-index: 12;
	position: absolute;
	left:0;
	top: 25rem;
	width: 3.9375rem;
	height: 5.40625rem;
}
.kv .img1{
	z-index:10;
	position:absolute;
	left:0;
	top:-3.125rem;
	width:9.15625rem;
	height:9.21875rem;
}
.kv .img2{
	z-index: 11;
	position: absolute;
	left: 0;
	top: 14.5rem;
	width: 13.4375rem;
	height: 14.21875rem;
}
.kv .img3{
	z-index: 11;
	position: absolute;
	right: 0;
	top: 17.8rem;
	width: 14.0625rem;
	height: 14.84375rem;
}
.kv .img4{
	z-index: 9;
	position: absolute;
	left: 10rem;
	top: 15rem;
	width: 10.40625rem;
	height: 9.25rem;
}
/*介绍*/
.info {
	width: 100%;
	height: 70rem;
	background:#DDCAAC;
	position: relative;
	overflow: hidden;
}
.info .title{
	width: 12.96875rem;
	height: 1.40625rem;
	margin: 0 auto;
	margin-top: 2.5rem;
}
.info .title1{
	width: 14.84375rem;
	height: 1.5rem;
	margin: 0 auto;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}
.info .txt{
	padding: 0 1.5625rem;
	margin-top: 2.125rem;
}
.info .txt p{
	font-size: .75rem;
	color: #4b3819;
	line-height: 1.5rem;
	margin-bottom: 1.5rem;
}
.slider{
	position: relative;
	z-index: 10;
	width: 16.84375rem;
	height: 11.25rem;
	margin:0 auto;
	background: #fff;
}
.slider .swiper-container .swiper-slide>a{
	position: relative;
	/* opacity: .8; */
	margin-left: 50%;
	display: inline-block;
	width: 16.25rem;
	height: 10.625rem;
	margin-top: .3125rem;
	text-align: center;
	transform: translate(-8.125rem,0);
	-webkit-transform: translate(-8.125rem,0);
}
.slider .swiper-container .swiper-slide>a .images{
	width: 16.25rem;
	height: 10.625rem;
}
.slider .swiper-container .swiper-slide p{
	font-size: .75rem;
	font-family: "宋体";
	width: 16.84375rem;
	margin: 0 auto;
	margin-top: .625rem;
	line-height: 1.125rem;
}
.slider .swiper-slide.swiper-slide-next>a {opacity: 1;}
.slider .swiper-pagination {
	left: 50%;
	bottom: -9rem;
	transform: translate(-50%);
	-webkit-transform: translate(-50%);
	color: #B3AA9A;
	font-size: 1.25rem;
	font-style: italic;
}
.slider .swiper-pagination .swiper-pagination-current{
	font-size: 2.5rem;
	font-weight: 600;
	color: #4B3819;
	margin-right: .625rem;
}
.slider .swiper-button-prev2{
	top: inherit;
	bottom: -8.375rem;
	left: 0;
	width: 1rem;
	height: 1.625rem;
	background: url(../images/ca_prev.png) no-repeat center;
	background-size: 100% 100%;
}
.slider .swiper-button-next2{
	top: inherit;
	bottom: -8.375rem;
	right: 0;
	width: 1rem;
	height: 1.625rem;
	background: url(../images/ca_next.png) no-repeat center;
	background-size:100% 100%;
}
/*售卖道具*/
.sale{
	width: 100%;
	height:45.5rem;
	background: #E8DAC8;
	position: relative;
	overflow: hidden;
}
.sale .title{
	width:6.34375rem;
	height:1.96875rem;
	margin:0 auto;
	margin-top:2.3125rem;
}
.sale .sub_tit1{
	width: 17rem;
	font-size: .9375rem;
	color: #90744b;
	text-align: center;
	margin: 0 auto;
	margin-top: 1.125rem;
}
.sale .sub_tit2{
	width: 20rem;
	height: 3.125rem;
	font-size: .75rem;
	color: #4a4133;
	text-align: center;
	margin: 0 auto;
	margin-top: 1.875rem;
	padding-top: 1.25rem;
	border-top: 1px solid #C2B19B;
}
.sale .dj_box{overflow:hidden;}
.sale .dj_img{
	width: 10rem;
	float: left;
	/* margin-right: 1.5625rem; */
	margin-top: 2.5rem;
	text-align: center;
}
/*.sale .dj_img:first-of-type{margin-left:20px;}*/
.sale .dj_img:last-of-type{margin-right:0;}
.sale .dj_img .name{
	display: block;
	margin: 0px 0 0.3125rem 0;
	font-size: .9375rem;
	color: #6e4a14;
	text-align: center;
}
.sale .dj_img img{
	width:6.3125rem;
	height:6.3125rem;
}
.sale .dj_img p{
	font-size:.75rem;
	color:#837867;
	text-align:center;
}
@keyframes vSmall{
	0%{transform: translateY(90px);}
	50%{transform: translateY(0);}
	100%{transform: translateY(90px);}
}
@-webkit-keyframes vSmall{
	0%{transform: translateY(90px);}
	50%{transform: translateY(0);}
	100%{transform: translateY(90px);}
}
@-moz-keyframes vSmall{
	0%{transform: translateY(90px);}
	50%{transform: translateY(0);}
	100%{transform: translateY(90px);}
}
@-o-keyframes vSmall{
	0%{transform: translateY(90px);}
	50%{transform: translateY(0);}
	100%{transform: translateY(90px);}
}

@keyframes scales{0%{transform: scale(1); }50% {transform: scale(0.9);}100% {transform: scale(1);}}
@-webkit-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(0.9);}100% {-webkit-transform: scale(1);}}
@-moz-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(0.9);}100% {-webkit-transform: scale(1);}}
@-o-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(0.9);}100% {-webkit-transform: scale(1);}}
@-ms-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(0.9);}100% {-webkit-transform: scale(1);}}

@-webkit-keyframes start {
	0%,
	30% {
		opacity: 0;
		-webkit-transform: translate(0, -10px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate(0, 8px);
	}
}
@keyframes start {
	0%,
	30% {
		opacity: 0;
		-webkit-transform: translate(0, -10px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate(0, 8px);
	}
}
