@font-size: 32rem;
html,
body {
    background-color: #19120f;
}

.kv {
    width: 100%;
    height: 1065/@font-size;
    background: url(../images/n_kv.jpg) no-repeat center;
    background-size: 100% 100%;
    overflow: hidden;
    position: relative;
}

.n_con {
    width: 100%;
    min-height: 598/@font-size;
    background: url(../images/news_con.jpg) no-repeat center;
    background-size: 100% 100%;
    position: relative;
    .news_body {
        width: 580/@font-size;
        margin: -360/@font-size auto 0;
        .top_ul {
            width: 100%;
            height: 75/@font-size;
            background-color: rgba(32, 25, 23, .7);
            border-bottom: 1px solid #3a3432;
            position: relative;
            ul {
                width: 100%;
                height: 100%;
                position: relative;
                overflow: hidden;
                li {
                    height: 71/@font-size;
                    line-height: 75/@font-size;
                    float: left;
                    font-size: 28/@font-size;
                    margin-right: 70/@font-size;
                    a {
                        color: #9b8c88;
                    }
                    &.active {
                        border-bottom: 4/@font-size solid #f5c556;
                        a {
                            color: #f5c556;
                        }
                    }
                    &:nth-child(1) {
                        margin-left: 104/@font-size;
                    }
                    &:nth-child(4) {
                        margin-right: 0;
                    }
                }
            }
            .back {
                display: block;
                width: 78/@font-size;
                height: 75/@font-size;
                background-color: rgba(255, 255, 255, .05);
                position: absolute;
                left: 0;
                top: 0;
                img {
                    display: block;
                    width: 14/@font-size;
                    height: 26/@font-size;
                    position: absolute;
                    left: 32/@font-size;
                    top: 25/@font-size;
                }
            }
        }
        .n_body {
            width: 100%;
            background-color: #201917;
            overflow: hidden;
            ul {
                width: 517/@font-size;
                margin: 0 auto;
                overflow: hidden;
                li {
                    width: 100%;
                    font-size: 24/@font-size;
                    overflow: hidden;
                    line-height: 74/@font-size;
                    a {
                        display: block;
                        color: #88847b;
                        em {
                            display: block;
                            float: left;
                        }
                        span {
                            display: block;
                            width: 345/@font-size;
                            float: left;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        i {
                            font-style: normal;
                            font-size: 18/@font-size;
                            color: #666;
                            float: right;
                        }
                    }
                    &:nth-child(1) {
                        margin-top: 20/@font-size;
                    }
                }
            }
        }
    }
}


/*新闻详情样式*/

.news_body {
    .detail_title {
        width: 100%;
        overflow: hidden;
        background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(32, 25, 23, 0.5)), to(#201917));
        .d_back {
            display: block;
            width: 78/@font-size;
            height: 75/@font-size;
            background:rgba(255,255,255,.05);
            float: left;
            margin: 27/@font-size 24/@font-size 0 0;
            img {
                display: block;
                width: 14/@font-size;
                height: 26/@font-size;
                margin:25/@font-size auto 0;
            }
        }
        .detail_tit {
            float: left;
            width:440/@font-size;
            margin-top:20/@font-size;
            h3 {
                font-size: 28/@font-size;
                color: #ffd563;
                font-weight: normal;
            }
            p{
                font-size:24/@font-size;
                color:#554a47;
                line-height:50/@font-size;
                margin-top:15/@font-size;
                span{
                    margin-right:1rem;
                }
            }
        }
    }
}
.d_body{
    width:100%;
    overflow: hidden;
    background-color:#201917;
    .detail_con{
        width:527/@font-size;
        margin:0 auto;
        overflow: hidden;
        font-size:22/@font-size;
        color:#b5a29c;
        line-height:48/@font-size;
        p:nth-child(1){
            margin-top:27/@font-size;
        }
        img{
            display: block;
            max-width:100%;
            margin:0 auto;
        }
        img:nth-child(1){
            margin-top:27/@font-size;
        }
    }
}
/*视频列表样式*/
.v_title{
    width:100%;
    text-align: center;
    font-size:28/@font-size;
    color:#ffd563;
    line-height:76/@font-size;
}
.v_body{
    width: 100%;
    background-color: #201917;
    overflow: hidden;
    padding-bottom:40/@font-size;
    ul{
        width: 527/@font-size;
        margin: 0 auto;
        overflow: hidden;
        li{
            width:242/@font-size;
            height:134/@font-size;
            background-color:#554d4b;
            border:5/@font-size solid #706764;
            float:left;
            position:relative;
            margin-top:30/@font-size;
            &:nth-child(even){
                margin-left:20/@font-size;
            }
            img{
                display: block;
                &:nth-child(1){
                    width:100%;
                    height:100%;
                }
                &:nth-child(2){
                    width:59/@font-size;
                    height:59/@font-size;
                    position:absolute;
                    left:50%;
                    margin-left:-29.5/@font-size;
                    top:50%;
                    margin-top:-29.5/@font-size;
                    cursor: pointer;
                }
            }
        }
    }
}
.dropload-down{
    width:500/@font-size;
    height:70/@font-size;
    font-size:22/@font-size;
    color:#676462;
    margin:40/@font-size auto;
    background-color:#1a140f;
    text-align: center;
    line-height:70/@font-size;
    border-radius: 35/@font-size;
}
