html,
body {
  background-color: #19120f;
}
.kv {
  width: 100%;
  height: 33.28125rem;
  background: url(../images/n_kv.jpg) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
}
.n_con {
  width: 100%;
  min-height: 18.6875rem;
  background: url(../images/news_con.jpg) no-repeat center;
  background-size: 100% 100%;
  position: relative;
}
.n_con .news_body {
  width: 18.125rem;
  margin: -11.25rem auto 0;
}
.n_con .news_body .top_ul {
  width: 100%;
  height: 2.34375rem;
  background-color: rgba(32, 25, 23, 0.7);
  border-bottom: 1px solid #3a3432;
  position: relative;
}
.n_con .news_body .top_ul ul {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.n_con .news_body .top_ul ul li {
  height: 2.21875rem;
  line-height: 2.34375rem;
  float: left;
  font-size: 0.875rem;
  margin-right: 2.1875rem;
}
.n_con .news_body .top_ul ul li a {
  color: #9b8c88;
}
.n_con .news_body .top_ul ul li.active {
  border-bottom: 0.125rem solid #f5c556;
}
.n_con .news_body .top_ul ul li.active a {
  color: #f5c556;
}
.n_con .news_body .top_ul ul li:nth-child(1) {
  margin-left: 3.25rem;
}
.n_con .news_body .top_ul ul li:nth-child(4) {
  margin-right: 0;
}
.n_con .news_body .top_ul .back {
  display: block;
  width: 2.4375rem;
  height: 2.34375rem;
  background-color: rgba(255, 255, 255, 0.05);
  position: absolute;
  left: 0;
  top: 0;
}
.n_con .news_body .top_ul .back img {
  display: block;
  width: 0.4375rem;
  height: 0.8125rem;
  position: absolute;
  left: 1rem;
  top: 0.78125rem;
}
.n_con .news_body .n_body {
  width: 100%;
  background-color: #201917;
  overflow: hidden;
}
.n_con .news_body .n_body ul {
  width: 16.15625rem;
  margin: 0 auto;
  overflow: hidden;
}
.n_con .news_body .n_body ul li {
  width: 100%;
  font-size: 0.75rem;
  overflow: hidden;
  line-height: 2.3125rem;
}
.n_con .news_body .n_body ul li a {
  display: block;
  color: #88847b;
}
.n_con .news_body .n_body ul li a em {
  display: block;
  float: left;
}
.n_con .news_body .n_body ul li a span {
  display: block;
  width: 10.78125rem;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.n_con .news_body .n_body ul li a i {
  font-style: normal;
  font-size: 0.5625rem;
  color: #666;
  float: right;
}
.n_con .news_body .n_body ul li:nth-child(1) {
  margin-top: 0.625rem;
}
/*新闻详情样式*/
.news_body .detail_title {
  width: 100%;
  overflow: hidden;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(32, 25, 23, 0.5)), to(#201917));
}
.news_body .detail_title .d_back {
  display: block;
  width: 2.4375rem;
  height: 2.34375rem;
  background: rgba(255, 255, 255, 0.05);
  float: left;
  margin: 0.84375rem 0.75rem 0 0;
}
.news_body .detail_title .d_back img {
  display: block;
  width: 0.4375rem;
  height: 0.8125rem;
  margin: 0.78125rem auto 0;
}
.news_body .detail_title .detail_tit {
  float: left;
  width: 13.75rem;
  margin-top: 0.625rem;
}
.news_body .detail_title .detail_tit h3 {
  font-size: 0.875rem;
  color: #ffd563;
  font-weight: normal;
}
.news_body .detail_title .detail_tit p {
  font-size: 0.75rem;
  color: #554a47;
  line-height: 1.5625rem;
  margin-top: 0.46875rem;
}
.news_body .detail_title .detail_tit p span {
  margin-right: 1rem;
}
.d_body {
  width: 100%;
  overflow: hidden;
  background-color: #201917;
}
.d_body .detail_con {
  width: 16.46875rem;
  margin: 0 auto;
  overflow: hidden;
  font-size: 0.6875rem;
  color: #b5a29c;
  line-height: 1.5rem;
}
.d_body .detail_con p:nth-child(1) {
  margin-top: 0.84375rem;
}
.d_body .detail_con img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.d_body .detail_con img:nth-child(1) {
  margin-top: 0.84375rem;
}
/*视频列表样式*/
.v_title {
  width: 100%;
  text-align: center;
  font-size: 0.875rem;
  color: #ffd563;
  line-height: 2.375rem;
}
.v_body {
  width: 100%;
  background-color: #201917;
  overflow: hidden;
  padding-bottom: 1.25rem;
}
.v_body ul {
  width: 16.46875rem;
  margin: 0 auto;
  overflow: hidden;
}
.v_body ul li {
  width: 7.5625rem;
  height: 4.1875rem;
  background-color: #554d4b;
  border: 0.15625rem solid #706764;
  float: left;
  position: relative;
  margin-top: 0.9375rem;
}
.v_body ul li:nth-child(even) {
  margin-left: 0.625rem;
}
.v_body ul li img {
  display: block;
}
.v_body ul li img:nth-child(1) {
  width: 100%;
  height: 100%;
}
.v_body ul li img:nth-child(2) {
  width: 1.84375rem;
  height: 1.84375rem;
  position: absolute;
  left: 50%;
  margin-left: -0.921875rem;
  top: 50%;
  margin-top: -0.921875rem;
  cursor: pointer;
  z-index:3
}
.v_body ul li i{
	display: block;
	width:100%;
	height:100%;
	position:absolute;
	background-color:rgba(0,0,0,.5);
	left:0;
	top:0;
	z-index:2;
}
.dropload-down {
  width: 15.625rem;
  height: 2.1875rem;
  font-size: 0.6875rem;
  color: #676462;
  margin: 1.25rem auto;
  background-color: #1a140f;
  text-align: center;
  line-height: 2.1875rem;
  border-radius: 1.09375rem;
}
