html,body{
	font-family: "微软雅黑";
}
.head{
	width:100%;
	height:32.1875rem;
	background:url(../images/kv.jpg) no-repeat center;
	background-size:100% 100%;
	position:relative;
}
.head .btn{
	width:13.6875rem;
	height:3.125rem;
	position:absolute;
	bottom:1.28125rem;
	left:50%;
	margin-left:-6.84375rem;
}
.bg01{
	width:100%;
	height:21.03125rem;
	background:url(../images/bg01.jpg) no-repeat center;
	background-size:100% 100%;
	position:relative;
}

.bg01 .play{
	display: block;
	width:4.5625rem;
	height:4.40625rem;
	position:absolute;
	top:13rem;
	left:50%;
	margin-left:-2.28125rem;
	animation: dr 2s linear infinite;
	-webkit-animation: dr 2s linear infinite;
}
@-webkit-keyframes dr{
	0%{transform:scale(0.9)}
	50%{transform: scale(1);}
	100%{transform: scale(0.9);}
}
@keyframes dr{
	0%{transform:scale(0.9)}
	50%{transform: scale(1);}
	100%{transform: scale(0.9);}
}
img{
	display: block;
	width:100%;
	height:100%;
}
.bg02{
	width:100%;
	height:22.875rem;
	position:relative;
}

.bg03{
	width:100%;
	height:18.78125rem;
	position:relative;
	margin-top:-0.03125rem;
}

.bg04{
	width:100%;
	height:19.34375rem;
	position:relative;
}

.bg05{
	width:100%;
	height:22.9375rem;
	position:relative;
}
.bg06{
	width:100%;
	height:9.09375rem;
	background:url(../images/bg06.jpg) no-repeat center;
	background-size:100% 100%;
	position:relative;
}

.bg06 .btn{
	width:13.6875rem;
	height:3.125rem;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-6.84375rem;
}

.footer{
	width:100%;
	height:6.6875rem;
	background-color:#000;
	position:relative;
}

.footer .fp{
	font-size:0.71875rem;
	color:#ccc;
	padding-top:1.59375rem;
	text-align: center;
}

.footer .fp span{
	display: inline-block;
	color:#666;
	margin-left:0.65625rem;
}

.footer .sp{
	font-size:0.5625rem;
	color:#666;
	text-align: center;
	padding-top:0.875rem;
}

.footer .tp{
	font-size:0.5625rem;
	color:#666;
	text-align: center;
	padding-top:0.875rem;
}
.mask {
	display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
    background: url(../common/images/d.png) repeat;
}
#video_tck {
    display: none;
    width: 100%;
    height: 316px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -20% 0 0 -50%;
    z-index: 1000;
}
#player5 {
    width: 80%;
    color: #000;
    position: relative;
    margin: 0 auto;
    z-index: 1000;
}
#close {
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    top: -50px;
    right: -30px;
    background: url(../common/images/c.png) 3px no-repeat;
    cursor: pointer;
    background-size: 50%;
}
