@keyframes vGo {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
@-webkit-keyframes vGo {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
.header {
  width: 100%;
  height: 3.125rem;
  /*background-color: rgba(0, 0, 0, 0.7);*/
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.header .icon {
  display: block;
  width: 3.125rem;
  height: 3.125rem;
  float: left;
  margin: 0.65625rem 0.375rem 0 0.75rem;
}
.header .icon img {
  display: block;
  width: 100%;
  height: 100%;
}
.header .header_txt {
  float: left;
  font-size: 0.875rem;
  color: #fff;
}
.header .header_txt p:nth-child(1) {
  line-height: 1.25rem;
  margin-top: 0.625rem;
}
.header .header_txt p:nth-child(2) {
  color: #a9abb2;
  font-size: 0.6875rem;
  font-weight: normal;
}
.header_a {
	float: right;
	margin-top: .625rem;
	margin-right: 0.78125rem;
	/*background:url(../images/f_wx.png) no-repeat center;*/
	/*background-size:100% 100%;*/
	width: 5.25rem;
	height: 2.125rem;
}
.header_a img{
	display: block;
	width:100%;
	height:100%;
}
.kv {
  width: 100%;
  height: 32.4375rem;
  background: url(../images/kv.jpg) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
}
.kv .logo {
  display: block;
  width: 6.4375rem;
  height: 3.21875rem;
  position: absolute;
  left: 6.875rem;
  top: 3.59375rem;
}
.kv .slogan {
  display: block;
  width: 19rem;
  height: 6.71875rem;
  position: absolute;
  left: 50%;
  margin-left: -9.5rem;
  top: 7.5rem;
}
.kv .play {
  display: block;
  width: 4.1875rem;
  height: 2.90625rem;
  position: absolute;
  top: 14.5rem;
  right: 5.9375rem;
  animation: vGo 2s linear infinite;
  -webkit-animation: vGo 2s linear infinite;
}
.kv .download {
  display: block;
  width:17.96875rem;
  height:3.625rem;
  position: absolute;
  left: 50%;
  margin-left:-8.984375rem;
  bottom: 0.6875rem;
}
.kv .download a{
  width: 8.9375rem;
  height:3.625rem;
  display: block;
}
.kv .download a.download1{
  float: left;
}
.kv .download a.download2{
  float: right;
}
.kv .download:after{
  content: "";
  display: block;
  clear:both;
}
.kv .download img {
  display: block;
  width: 100%;
  height: 100%;
}
.content {
  width: 100%;
  height: 53.65625rem;
  background-color:#f7f6f4;
  overflow: hidden;
  position: relative;
}
.content .top_banner {
  width: 18.1875rem;
  height: 9.375rem;
  position: relative;
  overflow: hidden;
  margin: 1.4375rem auto 0;
  border: 0.15625rem solid #744830;
  border-radius: 0.3125rem;
}
.content .top_banner li a img {
  display: block;
  width: 100%;
  height: 100%;
}
.content .top_banner .swiper-pagination {
  bottom: 0;
}
.content .top_banner .swiper-pagination .swiper-pagination-bullet {
  background-color: #fff;
  opacity: .4;
}
.content .top_banner .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffcd00;
  opacity: 1;
}
.content .news {
  width: 18.46875rem;
  height: 9.75rem;
  border:0.15625rem solid #744830
  overflow: hidden;
  position: relative;
  margin: 0.46875rem auto 0;
}
.content .news .top_ul {
  width: 100%;
  height: 2.125rem;
  margin-left: 0.625rem;
  position: relative;
  overflow: hidden;
}
.content .news .top_ul li {
  width: 3.5625rem;
  height: 1.40625rem;
  float: left;
  font-size: 0.8125rem;
  line-height: 1.40625rem;
  color: #333333;
  text-align: center;
  font-weight: bold;
  margin-top: 0.71875rem;
  margin-right: 1.125rem;
}
.content .news .top_ul li.active {
  background: url(../images/tab.png) no-repeat center;
  background-size: 100% 100%;
  color: #5e311b;
}
.content .news .con_ul {
  width: 17.1875rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.content .news .con_ul ul {
  display: none;
}
.content .news .con_ul ul.active {
  display: block;
}
.content .news .con_ul ul li {
  width: 100%;
  height: 2.625rem;
  border-bottom: 1px dashed #b1a88c;
  line-height: 2.625rem;
  font-size: 0.75rem;
}
.content .news .con_ul ul li a {
  display: block;
  color: #333;
}
.content .news .con_ul ul li a em {
  float: left;
  color: #666666;
  font-size: 0.6875rem;
}
.content .news .con_ul ul li a span {
  display: block;
  width: 11.8125rem;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content .news .con_ul ul li a i {
  display: block;
  float: right;
  font-size: 0.625rem;
  color: #999;
  font-style: normal;
}
.content .lianjie {
  display: block;
  width: 17.25rem;
  height: 1.75rem;
  position: absolute;
  top: 10.46875rem;
  left: 1.3125rem;
  z-index: 1;
}
.content .wanfa {
  display: block;
  width: 8.15625rem;
  height: 3.1875rem;
  margin: 1.5rem auto 0.625rem;
}
.content .bottom_con {
  width: 100%;
  height: 25rem;
  overflow: hidden;
  position: relative;
  margin-top:4rem;
}
.content .bottom_con .swiper-slide.swiper-slide-active > a i {
  display: none;
}
.content .bottom_con .swiper-slide > a {
  margin-left: 50%;
  display: inline-block;
  width: 12.5625rem;
  text-align: center;
  transform: translate(-5.15625rem, 0);
  -ms-transform: translate(-5.15625rem, 0);
  -webkit-transform: translate(-5.15625rem, 0);
  -o-transform: translate(-5.15625rem, 0);
  -moz-transform: translate(-5.15625rem, 0);
}
.content .bottom_con .swiper-slide > a img {
  width: 12.5625rem;
  height: 22.53125rem;
  border: 0.15625rem solid #744830;
  border-radius: 0.625rem;
  margin-left: 5.15625rem;
  cursor: pointer;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
}
.content .bottom_con .swiper-slide > a i {
  width: 12.5625rem;
  height: 22.53125rem;
  border: 0.15625rem solid #744830;
  border-radius: 0.625rem;
  margin-left: 5.15625rem;
  cursor: pointer;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.content .bottom_con .swiper-button-next {
  width: 1.09375rem;
  height: 2.1875rem;
  background: url(../images/nav.png) no-repeat center;
  background-size: 100% 100%;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  overflow: hidden;
}
.content .bottom_con .swiper-button-prev {
  width: 1.09375rem;
  height: 2.1875rem;
  background: url(../images/nav.png) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
}
.content .bottom_con .swiper-pagination1 {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.content .bottom_con .swiper-pagination1 .swiper-pagination-bullet {
  margin: 0 5px;
}
.content .bottom_con .swiper-pagination1 .swiper-pagination-bullet-active {
  background-color: #ffcd00;
}
/*详情页样式*/
.detail_kv {
  width: 100%;
  height: 11.8125rem;
  /*background: url(../images/detail.jpg) no-repeat center;*/
  /*background-size: 100% 100%;*/
  overflow: hidden;
  position: relative;
}
.detail_kv .kv_img{
	display: block;
	width:100%;
}
.detail_kv .back {
  display: block;
  width: 4.625rem;
  height: 1.8125rem;
  position: absolute;
  left: 0.625rem;
  bottom: 0.5625rem;
}
.detail_kv .back img {
  display: block;
  width: 100%;
  height: 100%;
}
.detail_body {
  width: 18.1875rem;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.detail_body .detail_title {
  font-size: 1.125rem;
  color: #333333;
  line-height: 1.5625rem;
  margin-top: 0.625rem;
}
.detail_body .detail_des {
  font-size: 0.625rem;
  color: #999;
  margin-top: 0.625rem;
  padding-bottom: 0.875rem;
  border-bottom: 1px solid #ededed;
}
.detail_body .detail_des .sp {
  margin-right: 1.125rem;
}
.detail_body .detail_nei {
  font-size: 0.75rem;
  color: #666;
  line-height: 1.75rem;
}
.detail_body .detail_nei img {
  display: block;
  max-width: 100%;
  margin: 0.46875rem auto 0;
}
.float_wx{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.8);
	position:fixed;
	left:0;
	top:0;
	z-index:100;
	display: none;
}
.wx_body{
	width:10.625rem;
	height:8.0625rem;
	background-color:#fff;
	position:relative;
	margin:0 auto;
	top:45%;
	transform: translate(0,-45%);
	-webkit-transform: translate(0,-45%);
}
.wx_body img{
	display: block;
	width:5.3125rem;
	height:5.3125rem;
	margin:0 auto;
	padding-top:.78125rem;
}
.wx_body .close{
	display: block;
	width:1.25rem;
	height:1.25rem;
	position:absolute;
	right:-1rem;
	top:0;
}
.wx_body .close span{
	display: block;
	width:2px;
	height:100%;
	position:absolute;
	top:0;
	right:0;
	background-color:#fff;
}
.wx_body .close span:nth-child(1){
	transform: rotate(45deg);
}
.wx_body .close span:nth-child(2){
	transform: rotate(-45deg);
}
.wx_body p{
	font-size:0.625rem;
	text-align: center;
	color:#191919;
}
