@keyframs vGo {
  0% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
}
@-webkit-keyframes vGo {
  0% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
}
.header {
  width: 100%;
  height: 3.125rem;
  background-color: #200901;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
}
.header .icon {
  display: block;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 0.625rem;
  float: left;
  margin: 0.28125rem 0.25rem 0 0.375rem;
}
.header .icon img {
  display: block;
  width: 100%;
  height: 100%;
}
.header .header_txt {
  float: left;
  font-size: 0.8125rem;
  color: #fff;
}
.header .header_txt p:nth-child(1) {
  margin-top: 0.625rem;
}
.header .header_txt p:nth-child(2) {
  font-size: 0.6875rem;
}
.header .enter {
  display: block;
  width: 5.3125rem;
  height: 1.75rem;
  float: right;
  margin: 0.8125rem 1rem 0 0;
}
.header .enter img {
  display: block;
  width: 100%;
  height: 100%;
}
.header .down_list{
    background: rgba(255,255,255,.7);
    width: 6.0625rem;
    position: absolute;
    right: 0.2rem;
    top: 3.1rem;
    border-radius: 8px;
    padding: 0.6rem;
    display: none;
}
.data_time{
    width: 11.75rem;
    height: 2.2125rem;
    background: url(../images/active.png) center top no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 19rem;
    left: 0.8rem;
}
.header .down_list li+li{
  margin-top:0.5rem;
}
.header > a>img{
    margin: 0 auto;
    position: relative;
    width: 6.0625rem;
    height: 2.40625rem;
    margin-bottom: 0.5rem;
}
.header .down_list li a{
    width: 6.0625rem;
    height: 2.40625rem;
    display: block;
    position: relative;
    margin: 0 auto;
}
.header .down_list li a.down_gfbtn{
    background:url(../images/down1.png) no-repeat;
    background-size: 100% 100%;
}
.header .down_list li a.tap{
    background:url(../images/tap2.png) no-repeat;
    background-size: 100% 100%;
}
.header .down_list:before{
    content: "";
    display: block;
    border-width: 0 11px 9px;
    border-style: solid;
    border-color: transparent transparent rgba(255,255,255,.7);
    position: absolute;
    top: -9px;
    left: 50%;
    margin-left: -7px;
}
.kv {
    width: 100%;
    height: 35.8125rem;
    background: url(../images/bg1.jpg) no-repeat center;
    background-size: 100% 100%;
    overflow: hidden;
    position: relative;
}
.kv .k_txt {
  display: block;
  width: 8.5625rem;
  height: 2.4375rem;
  position: absolute;
  right: 2.75rem;
  top: 25.53125rem;
}
.kv .play {
    display: block;
    width: 2.8625rem;
    position: absolute;
    right: 5.1rem;
    bottom:12.8125rem;
    animation: vGo 2s linear infinite;
    -webkit-animation: vGo 2s linear infinite;
}
.kv .play img {
  display: block;
  width: 100%;
  height: 100%;
}
.kv .download {
    width: 12.9375rem;
    position: absolute;
    left: 3.46875rem;
    bottom: 5.2rem;
}
.kv .download a {
  display: block;
  width: 100%;
  height:3.875rem;
  background: url(../images/down_btn.png) no-repeat center;
  background-size: 100% 100%;
  /*transform: skew(0deg, -4deg);
  -webkit-transform: skew(0, -4deg);*/
}
.kv .download a:nth-child(2) {
  width: 12.8125rem;
    height: 3.71875rem;
    position: relative;
    top: -1.2rem;
    display: block;
    background: url(../images/w_tap.png) no-repeat center;
    background-size: 100% 100%;
}
.kv .logo {
    display: block;
    width: 7.125rem;
    /* height: 3.8125rem; */
    position: absolute;
    left: 25%;
    margin-left: -4.0625rem;
    top: 3.75rem;
}
.kv .yuyue_num {
  width: 12.9375rem;
  height: 6.78125rem;
  background: url(../images/yuyue.png) no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  bottom: 3.40625rem;
  left: 3.4375rem;
  display: none;
}
.kv .yuyue_num .btn_yuyue {
  width: 100%;
  height: 3.9375rem;
  position: relative;
}
.kv .yuyue_num .renshu {
  font-size: 1.1875rem;
  color: #fff;
  font-weight: bold;
  -webkit-transform: skew(0deg, -4deg);
  -moz-transform: skew(0deg, -4deg);
  transform: skew(0deg, -4deg);
  margin: 0.6875rem 0 0 1.4375rem;
}
.kv .yuyue_num .renshu span {
  color: #fdf054;
}
.cont2 {
  height: 33.125rem;
  width: 100%;
  background-image: url(../images/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cont2 .new_tl{
    width: 13.03125rem;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 1.3rem;
}
.cont2 .swiper1 {
  position: relative;
  height: 13.0rem;
  width: 17.1875rem;
  margin:0 auto;
  top: 1.5rem;
  overflow: hidden;
}
.cont2 .swiper1 .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.cont2 .swiper1 .swiper-wrapper .swiper-slide {
  position: relative;
}
.cont2 .swiper1 .swiper-wrapper .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
.cont2 .swiper1 .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
}
.cont2 .swiper1 .swiper-wrapper .swiper-slide p {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1.5625rem;
  line-height: 1.5625rem;
  width: 100%;
  font-size: 0.75rem;
  padding-left: 0.625rem;
  color: #a5a5a7;
  font-family: PingFangSC;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.34);
  z-index: 99;
}
.cont2 .swiper-pagination1 {
    text-align: center;
    bottom: 0.8rem;
    position: absolute;
    z-index: 20;
}
.cont2 .swiper-pagination1 .swiper-pagination-bullet {
    width: 0.75rem;
    height: 0.75rem;
    background-color: #fff;
    border: 1px solid #000;
    opacity: 1;
}
.cont2 .swiper-pagination1 .swiper-pagination-bullet.swiper-pagination-bullet-active {    
    width: 1.6875rem;
    border-radius: 0.625rem;
}
.cont2 .news {
    position: relative;
    width: 19rem;
    height: 12.4rem;
    background: url(../images/new_box.png) no-repeat;
    background-size: 100% 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.83125rem;
}
.cont2 .news .news-list {
    height: 1.5625rem;
    padding-left: 0.5rem;
    position: relative;
    top: 0.4rem;
}
.cont2 .news .news-list li {
    width: 2rem;
    height: 1.2825rem;
    display: inline-block;
    line-height: 1.1625rem;
    text-align: center;
    position: relative;
    top: 0rem;
    font-size: 0.725rem;
    font-family: "Microsoft YaHei";
    color: #fff;
    text-stroke: 0.63px #000;
    -webkit-text-stroke: 0.63px #000;
    font-weight: bolder;
}
.cont2 .news .news-list li span{
    width: 1.66875rem;
    height: 0.9625rem;
    display: inline-block;
    background: url(../images/tx1.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: 0.15rem;
}
.cont2 .news .news-list li:nth-child(2) span{
   background: url(../images/tx2.png) no-repeat;
  background-size: 100% 100%;
  top:0.18rem;
}
.cont2 .news .news-list li:nth-child(3) span{
  background: url(../images/tx3.png) no-repeat;
  background-size: 100% 100%;
  top: 0.08rem;
}
.cont2 .news .news-list li:nth-child(4) span{
   background: url(../images/tx4.png) no-repeat;
  background-size: 100% 100%;
  top:0.06rem;
}
.cont2 .news .news-list li:nth-child(5) a span{
    width: 1.66875rem;
    height: 0.9625rem;
    display: inline-block;
    background: url(../images/tx5.png) no-repeat;
    background-size: 100% 100%;
    top:0.06rem;
}
.cont2 .news .news-list li a{
    font-size: 0.725rem;
    font-family: "Microsoft YaHei";
    color: #fff;
    text-stroke: 0.63px #000;
    -webkit-text-stroke: 0.63px #000;
    display: block;
    width: 100%;
    height: 1.1625rem;
    line-height: 1.1625rem;
    position: relative;
    top: 0;
    font-weight: bolder;
}
.cont2 .news .news-list li.active {
    background: url(../images/nav_hov.png) no-repeat;
    background-size: 100% 100%;
    color: #fff;
    text-stroke: 0px #000;
    -webkit-text-stroke: 0px #000;
}
.cont2 .news .news-list a {
    position:absolute;
    top:0.3rem;
    right: 0;
    width: 0.96875rem;
    height: 0.96875rem;
    display: inline-block;
    background-image: url(../images/add.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.cont2 .news .news-info {
    margin-top:1.4rem;
    min-height: 9.54375rem;
    padding: 0 1.4rem 0 1.8rem;
    font-weight: 700;
}
.news-info img{
    width: 80%;
    margin: 1rem auto;
    display: block;
}
.cont2 .news .news-info li.info {
  height: 100%;
  display: none;
}
.cont2 .news .news-info li.info a {
  display: block;
  width: 100%;
  height: 100%;
}
.cont2 .news .news-info li.info h3 {
  font-size: 0.9375rem;
  line-height: 1.71875rem;
  color: #fff;
  font-family: PingFangSC;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cont2 .news .news-info li.info p {
  font-size: 0.6875rem;
  line-height: 1.09375rem;
  color: #7d89a1;
  font-family: PingFangSC;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.cont2 .news .news-info li.info .noData {
    text-align: center;
    font-size: 0.9375rem;
    line-height: 1.71875rem;
    color: #000;
    font-family: PingFangSC;
    padding-top: 21px;
}
.cont2 .news .news-info li.info ul.news-info-list li {
    height: 2rem;
    line-height: 2rem;
    font-size: 0.75rem;
    color: #999;
    font-family: PingFangSC;
    text-align: left;
    border-bottom: 1px solid #999;
}
.cont2 .news .news-info li.info ul.news-info-list li i {   
    float: left;
    display: inline-block;
    color: #666666;
    font-style: normal;
    margin-right: 0.1rem;
}
.cont2 .news .news-info li.info ul.news-info-list li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #999;
}
.cont2 .news .news-info li.info ul.news-info-list li a span:nth-child(2) {
    display: inline-block;
    width: 9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #999;
}
.cont2 .news .news-info li.info ul.news-info-list li a span:last-child {
    font-size: 0.5625rem;
    color: #999;
    float: right;
}
.cont2 .news .news-info li.info ul.news-info-list li span:first-child {
  width: 77%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cont2 .news .news-info li.info ul.news-info-list li span:last-child {
  color: #bbbbbb;
  float: right;
  font-size: 0.6875rem;
}
.cont2 .news .news-info li.info ul.news-info-list li:after {
  content: '';
  display: block;
  clear: both;
}
.cont2 .news .news-info li.active {
  display: block;
}
.content {
  width: 100%;
  height: 37.96875rem;
  background: url(../images/main.jpg) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
}
.content .label {
  display: block;
  width: 13.90625rem;
  height: 2.59375rem;
  margin: 0.5625rem 0 0 2.8125rem;
}
.content .is_login {
  text-align: center;
}
.content .is_login > p {
  display: none;
}
.content .is_login > p.active {
  display: block;
}
.content .is_login .before_denglu {
  font-size: 0.625rem;
  color: #fff;
  margin-top: 0.3125rem;
}
.content .is_login .before_denglu span {
  color: #fad129;
  text-decoration: underline;
  margin: 0 0.15625rem;
}
.content .is_login .after_denglu {
  font-size: 0.625rem;
  text-align: center;
  color: #fff;
}
.content .is_login .after_denglu span {
  color: #fad129;
  text-decoration: underline;
  margin-left: 0.15625rem;
}
.content .is_login .after_denglu span.p_invite {
  margin: 0 0.15625rem;
  text-decoration: none;
}
.content .is_login .after_denglu span.t_number {
  margin: 0 0.15625rem;
  text-decoration: none;
}
.content .is_login .after_denglu i {
  font-style: normal;
}
.content .person {
  display: block;
  width: 11.46875rem;
  height: 17.09375rem;
  position: absolute;
  left: 3.5625rem;
  top: 4.8125rem;
}
.content .lottery {
  width: 100%;
  height: 17.3125rem;
  position: relative;
}
.content .lottery ul {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.content .lottery ul li {
  position: absolute;
  overflow: hidden;
}
.content .lottery ul li.active .li_img img:nth-child(1) {
  display: none;
}
.content .lottery ul li:nth-child(1) .li_img {
  width: 7.6875rem;
  height: 6.78125rem;
  position: relative;
  overflow: hidden;
}
.content .lottery ul li:nth-child(1) .li_img img {
  display: block;
  width: 100%;
  height: 100%;
}
.content .lottery ul li:nth-child(1) .li_txt {
  width: 3.875rem;
  height: 1.78125rem;
  background: url(../images/li_one_txt.png) no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  right: 1.125rem;
  bottom: 0;
}
.content .lottery ul li:nth-child(1) .li_txt p {
  font-size: 0.5rem;
  color: #fff;
  -webkit-transform: skew(0deg, 14deg);
  -moz-transform: skew(0deg, 14deg);
  transform: skew(0deg, 14deg);
  margin: 0.6875rem 0 0 0.6875rem;
}
.content .lottery ul li:nth-child(1) .jp {
  display: block;
  width: 2.09375rem;
  height: 2.71875rem;
  position: absolute;
  left: auto;
  top: 2.25rem;
  left: 3.25rem;
}
.content .lottery ul li:nth-child(2) {
  right: 0;
  top: 0;
}
.content .lottery ul li:nth-child(2) .li_img {
  width: 7.15625rem;
  height: 6.84375rem;
  position: relative;
  overflow: hidden;
}
.content .lottery ul li:nth-child(2) .li_img img {
  display: block;
  width: 100%;
  height: 100%;
}
.content .lottery ul li:nth-child(2) .li_txt {
  width: 4rem;
  height: 1.65625rem;
  background: url(../images/li_two_txt.png) no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  left: 1.0625rem;
  bottom: 0;
}
.content .lottery ul li:nth-child(2) .li_txt p {
  font-size: 0.5rem;
  color: #fff;
  -webkit-transform: skew(0deg, -14deg);
  -moz-transform: skew(0deg, -14deg);
  transform: skew(0deg, -14deg);
  margin: 0.375rem 0 0 0.6875rem;
}
.content .lottery ul li:nth-child(2) .jp {
  display: block;
  width: 2.4375rem;
  height: 2.59375rem;
  position: absolute;
  left: auto;
  top: 2.4375rem;
  left: 2rem;
}
.content .lottery ul li:nth-child(3) {
  top: 6.40625rem;
  left: 0;
}
.content .lottery ul li:nth-child(3) .li_img {
  width: 6.5625rem;
  height: 5.25rem;
  position: relative;
  overflow: hidden;
}
.content .lottery ul li:nth-child(3) .li_img img {
  display: block;
  width: 100%;
  height: 100%;
}
.content .lottery ul li:nth-child(3) .li_txt {
  width: 3.875rem;
  height: 1.375rem;
  background: url(../images/li_three_txt.png) no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  right: 0.3125rem;
  bottom: 0;
}
.content .lottery ul li:nth-child(3) .li_txt p {
  font-size: 0.5rem;
  color: #fff;
  -webkit-transform: skew(0deg, -5deg);
  -moz-transform: skew(0deg, -5deg);
  transform: skew(0deg, -5deg);
  margin: 0.15625rem 0 0 0.625rem;
}
.content .lottery ul li:nth-child(3) .jp {
  display: block;
  width: 2.0625rem;
  height: 2.0625rem;
  position: absolute;
  left: auto;
  top: 1.46875rem;
  left: 2.5rem;
}
.content .lottery ul li:nth-child(4) {
  right: 0;
  top: 6.25rem;
}
.content .lottery ul li:nth-child(4) .li_img {
  width: 6.375rem;
  height: 5.40625rem;
  position: relative;
  overflow: hidden;
}
.content .lottery ul li:nth-child(4) .li_img img {
  display: block;
  width: 100%;
  height: 100%;
}
.content .lottery ul li:nth-child(4) .li_txt {
  width: 4.5rem;
  height: 1.6875rem;
  background: url(../images/li_four_txt.png) no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.content .lottery ul li:nth-child(4) .li_txt p {
  font-size: 0.5rem;
  color: #fff;
  -webkit-transform: skew(0deg, 4deg);
  -moz-transform: skew(0deg, 4deg);
  transform: skew(0deg, 4deg);
  margin: 0.375rem 0 0 0.875rem;
}
.content .lottery ul li:nth-child(4) .jp {
  display: block;
  width: 2.78125rem;
  height: 2.40625rem;
  position: absolute;
  left: auto;
  top: 1.25rem;
  left: 1.875rem;
}
.content .lottery ul li:nth-child(5) {
  left: 0;
  bottom: 0;
}
.content .lottery ul li:nth-child(5) .li_img {
  width: 7.8125rem;
  height: 5.34375rem;
  position: relative;
  overflow: hidden;
}
.content .lottery ul li:nth-child(5) .li_img img {
  display: block;
  width: 100%;
  height: 100%;
}
.content .lottery ul li:nth-child(5) .li_txt {
  width: 3.5625rem;
  height: 2.6875rem;
  background: url(../images/li_five_txt.png) no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  right: 0;
  bottom: 0.5625rem;
}
.content .lottery ul li:nth-child(5) .li_txt p {
  font-size: 0.5rem;
  color: #fff;
  -webkit-transform: skew(20deg, -30deg);
  -moz-transform: skew(20deg, -30deg);
  transform: skew(20deg, -30deg);
  margin: 0.625rem 0 0 0.4375rem;
}
.content .lottery ul li:nth-child(5) .jp {
  display: block;
  width: 2.28125rem;
  height: 2.03125rem;
  position: absolute;
  left: auto;
  top: 1.25rem;
  left: 3rem;
}
.content .lottery ul li:nth-child(6) {
  right: 0;
  bottom: 0;
}
.content .lottery ul li:nth-child(6) .li_img {
  width: 7.8125rem;
  height: 5.1875rem;
  position: relative;
  overflow: hidden;
}
.content .lottery ul li:nth-child(6) .li_img img {
  display: block;
  width: 100%;
  height: 100%;
}
.content .lottery ul li:nth-child(6) .li_txt {
  width: 3.84375rem;
  height: 2.90625rem;
  background: url(../images/li_six_txt.png) no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.content .lottery ul li:nth-child(6) .li_txt p {
  font-size: 0.5rem;
  color: #fff;
  -webkit-transform: skew(-18deg, 30deg);
  -moz-transform: skew(-18deg, 0deg);
  transform: skew(-18deg, 30deg);
  margin: 1rem 0 0 0.625rem;
}
.content .lottery ul li:nth-child(6) .jp {
  display: block;
  width: 2.59375rem;
  height: 2.6875rem;
  position: absolute;
  left: auto;
  top: 0.78125rem;
  left: 2.1875rem;
}
.content .s_btn {
  width: 19.8125rem;
  height: 6.8125rem;
  background: url(../images/s_btn.png) no-repeat center;
  background-size: 100% 100%;
  position: relative;
  margin: -1.0625rem auto 0;
}
.content .s_btn .invite_btn {
  display: block;
  width: 6.9375rem;
  height: 2.625rem;
  float: left;
  margin-top: 2.125rem;
}
.content .s_btn .click_btn {
  width: 5.875rem;
  height: 100%;
  position: relative;
  float: left;
}
.content .s_btn .click_btn p {
  font-size: 0.625rem;
  color: #c7c7c7;
  font-style: italic;
  text-align: center;
  margin-top: 5rem;
}
.content .s_btn .share_btn {
  display: block;
  width: 6.875rem;
  height: 2.65625rem;
  float: right;
  margin-top: 2.25rem;
}
.content .check_gift {
  font-size: 1.125rem;
  text-align: center;
  text-decoration: underline;
  color: #fff;
  margin-top: 0.9375rem;
}
.content .rule {
  width: 18.625rem;
  overflow: hidden;
  margin: 0.375rem auto 0;
}
.content .rule .rule_title {
  display: block;
  width: 3.15625rem;
  height: 0.9375rem;
  margin: 0 auto;
}
.content .rule p {
  width: 100%;
  overflow: hidden;
  font-size: 0.5625rem;
  color: #999;
  line-height: 1rem;
}
.content .rule p i {
  display: block;
  width: 0.625rem;
  height: 0.625rem;
  background-color: #9a0000;
  border-radius: 50%;
  font-size: 0.3125rem;
  text-align: center;
  line-height: 0.625rem;
  font-style: normal;
  color: #c4c4c4;
  float: left;
  margin: 0.25rem 0.1875rem 0 0;
}
.content .rule p span {
  display: block;
  float: left;
  width: 17.75rem;
}
.last {
  width: 100%;
  height: 44.5625rem;
  background: url(../images/bg3.jpg) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
}
.last .label1 {
  display: block;
  width: 13.90625rem;
  height: 2.59375rem;
  margin: 2rem auto 0;
}
.last .swiper-button-prev {
  width: 2.75rem;
  height: 3.625rem;
  background: url(../images/pag.png) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  position: absolute;
  left: 0.3125rem;
  top: 16.25rem;
}
.last .swiper-button-next {
  width: 2.75rem;
  height: 3.625rem;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  background: url(../images/pag.png) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  position: absolute;
  right: 0.3125rem;
  top: 16.25rem;
}
.last .s_play {
  width: 17.8125rem;
  height: 23.4375rem;
  overflow: hidden;
  margin: 1.4rem auto 0;
}
.last .s_play ul li a {
  margin-left: 50%;
  display: inline-block;
  width: 12.8125rem;
  text-align: center;
  transform: translate(-6.25rem, 0);
  -ms-transform: translate(-6.25rem, 0);
  -webkit-transform: translate(-6.25rem, 0);
  -o-transform: translate(-6.25rem, 0);
  -moz-transform: translate(-6.25rem, 0);
}
.last .s_play ul li a img {
  display: block;
  width: 11.03125rem;
  height: 19.125rem;
  margin-left: 6.25rem;
  margin-top: 1.40625rem;
  cursor: pointer;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  position: relative;
  z-index: 2;
}
.last .s_play ul li a span {
  display: block;
  width: 12.8125rem;
  height: 21.96875rem;
  background: url(../images/li_bg.png) no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.last .s_play .swiper-pagination .swiper-pagination-bullet{
  width: 0.75rem;
  height: 0.75rem;
  background-color: #fff;
  border: 1px solid #000;
  opacity: 1;
}
.last .s_play .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 1.6875rem;
  border-radius: 0.625rem;
}
.last .bottom {
  width: 18.75rem;
  height: 6.25rem;
  margin: 6.5625rem auto 0;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  position: relative;
}
.last .bottom li {
  width: 4.21875rem;
  max-height: 6.25rem;
}
.last .bottom li a {
  display: block;
}
.last .bottom li a img {
  display: block;
  width: 100%;
  height: 100%;
}
.last .bottom .f_weixin {
  width: 5.0625rem;
  height: 5.4375rem;
  background: url(../images/weixin_bg.png) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: -5.4375rem;
  display: none;
}
.last .bottom .f_weixin img {
  display: block;
  width: 4.375rem;
  height: 4.375rem;
  margin: 0.3125rem auto 0;
}
.listBg {
  position: relative;
  width: 100%;
  height:12.59375rem;
  background: url("../images/bg4.jpg") no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.news-info {
    position: relative;
    z-index: 9;
    top: -1rem;
}
.news-info2{
  top: -4rem;
}
.news-info .back {
    position: relative;
    width: 4.875rem;
    height: 1.84375rem;
    top: 1.775rem;
    background-image: url(../images/back.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.news-info .back1 {
    position: relative;
    width: 4.875rem;
    height: 1.84375rem;
    top:-7.8rem;
    background-image: url(../images/back2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.news-info .back a{
    display: block;
    width: 4.875rem;
    height: 1.84375rem;
}
.news-info .news-info-box {
  position: relative;
  width: 18rem;
  margin-left: auto;
  margin-right: auto;
}
.list-info .list-title {
  height: 1.5625rem;
  width: 100%;
  margin-top: 1.25rem;
  text-align: center;
}
.list-info .list-title img {
  height: 100%;
}
.list-info .list-article-title li {
    width: 4rem;
    height: 1.5625rem;
    display: inline-block;
    line-height: left;
    font-size: 0.9375rem;
    font-family: "Microsoft YaHei";
    color: #000;
    text-align: center;
}
.list-info .list-article-title li.active a{
   color:  #FF8D27;
 }
.list-info .list-article-title li a {
  font-family: PingFangSC;
  display: block;
  color: #999;
  font-size: 0.8125rem;
}
.list-info .list-article-title li:last-child {
  margin-right: 0;
}
.list-info .list-article-title li.active {
  color: #000;
  font-weight: bold;
}
.list-info .list-article-title li.active a {
  font-weight: bold;
  color: #000;
}
.list-info .list-article {
  min-height: 12rem;
  width: 100%;
  margin:0 auto;
  margin-top: 1rem;
}
.list-info .list-article li {
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 0.75rem;
  color: #666666;
  font-family: PingFangSC;
  text-align: left;
}
.list-info .list-article li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #333333;
}
.list-info .list-article li a i {
    float: left;
    display: inline-block;
    color: #666666;
    font-style: normal;
    margin-right: 0.6rem;
}
.list-info .list-article li span:first-child {
  width:77%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list-info .list-article li span:last-child {
  float: right;
  color: #666666;
  font-size: 0.625rem;
}
.list-info .list-article li span:nth-child(2) {
    display: inline-block;
    width: 10.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #222;
}
.list-info .list-article li span:last-child {
    font-size: 0.5625rem;
    color: #555555;
    float: right;
}
.list-info .list-article li span:first-child {
  width: 77%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list-info .list-article li span:last-child {
  color: #bbbbbb;
  float: right;
  font-size: 0.6875rem;
}
.cont2 .news .news-info li.info ul.news-info-list li:after {
  content: '';
  display: block;
  clear: both;
}
.list-info .list-article li:focus,
.list-info .list-article li:visited,
.list-info .list-article li:active {
  color: #b40808;
}
.list-info .list-article li:focus a,
.list-info .list-article li:visited a,
.list-info .list-article li:active a,
.list-info .list-article li:focus span,
.list-info .list-article li:visited span,
.list-info .list-article li:active span {
  color: #b40808;
}
.list-info .list-article li:after {
  content: '';
  display: block;
  clear: both;
}
.art_til {
    text-align: left;
    border-bottom: 1px solid #ECECEC;
    padding-bottom: 1rem;
    padding-left: 0rem;
    margin-top: 3rem;
}
.art_til h3 {
  margin-top: 0.8rem;
  font-size: 1rem;
  font-weight: 100;
  font-family: PingFangSC;
  color: #333;
}
.art_til p {
  margin-top: .6rem;
  color: #ccc;
  font-size: 0.6875rem;
}
.art_m {
  min-height: 14rem;
  font-size: 0.75rem!important;
  margin: 1rem auto 0;
}
.art_m img{
  max-width:100%;
  display: block;
  margin:0.5rem auto;
}
.art_m p {
  font-family: PingFangSC;
  font-size: 0.75rem!important;
  background: transparent!important;
  color: #666;
  line-height: 1.5rem;
}
.art_m span {
  font-family: PingFangSC;
  font-size: 0.9375rem!important;
  background: transparent!important;
  color: #666;
  line-height: 1.5rem;
}
.detail-time {
  margin-right: 0.8rem;
}
.dropload-down > div {
    display: block;
    font-size: 0.75rem;
    color: rgba(125, 137, 161, 0.5);
    text-align: center;
    border-bottom: none;
    background-color: #F4F4F4;
    border-radius: 50px;
    margin: 0.4rem auto 2rem;
    height: 2.1875rem;
    line-height: 2.1875rem;
}
/*弹窗*/
.yuyue {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 20;
}
.yuyue .c_yuyue {
  width: 19.03125rem;
  height: 16.46875rem;
  background: url(../images/float.png) no-repeat center;
  background-size: 100% 100%;
  position: relative;
  left: 0;
  top: 45%;
  transform: translate(0, -45%);
  -webkit-transform: translate(0, -45%);
}
.yuyue .c_yuyue .close {
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  position: absolute;
  right: 0;
  top: 5.9375rem;
}
.yuyue .c_yuyue .y_main {
  width: 8.0625rem;
  overflow: hidden;
  margin: 6.625rem 0 0 6.4375rem;
}
.yuyue .c_yuyue .y_main .y_title {
  display: block;
  width: 3.375rem;
  height: 0.9375rem;
  margin-left: 2.125rem;
}
.yuyue .c_yuyue .y_main .s_put {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 0.1875rem;
}
.yuyue .c_yuyue .y_main .s_put .p_put {
  width: 7.96875rem;
  height: 1.46875rem;
  background: url(../images/put.png) no-repeat center;
  background-size: 100% 100%;
}
.yuyue .c_yuyue .y_main .s_put .p_put .phone {
  width: 7.25rem;
  height: 1.125rem;
  background: none;
  outline: none;
  border: none;
  font-size: 0.5rem;
  color: #131313;
  line-height: 1.125rem;
  margin-left: 0.375rem;
  margin-top: 0.125rem;
}
.yuyue .c_yuyue .y_main .s_put .o_put {
  width: 7.71875rem;
  height: 1.3125rem;
  background: url(../images/s_bg.png) no-repeat center;
  background-size: 100% 100%;
}
.yuyue .c_yuyue .y_main .s_put .o_put .t_yzm {
  width: 4.6875rem;
  height: 1rem;
  float: left;
  background: none;
  outline: none;
  border: none;
  font-size: 0.5rem;
  color: #131313;
  line-height: 1rem;
  margin-left: 0.1875rem;
  margin-top: 0.125rem;
  text-indent: 0.25rem;
}
.yuyue .c_yuyue .y_main .s_put .o_put .captcha2 {
    width: 2.1875rem;
    height: 0.9375rem;
    float: left;
    margin: 0.1875rem 0 0 0.1875rem;
}
.yuyue .c_yuyue .y_main .s_put .o_put .captcha2 img {
  display: block;
  width: 100%;
  height: 100%;
}
.yuyue .c_yuyue .y_main .s_put .i_put {
  width: 100%;
  height: 1.34375rem;
}
.yuyue .c_yuyue .y_main .s_put .i_put .y_put {
  width: 4.96875rem;
  height: 1.3125rem;
  background: url(../images/m_bg.png) no-repeat center;
  background-size: 100% 100%;
  float: left;
}
.yuyue .c_yuyue .y_main .s_put .i_put .y_put .yzm {
  width: 4.25rem;
  height: 1.125rem;
  background: none;
  outline: none;
  border: none;
  font-size: 0.5rem;
  color: #131313;
  line-height: 1rem;
  margin-left: 0.25rem;
  text-indent: 0.1875rem;
}
.yuyue .c_yuyue .y_main .s_put .i_put .b_put {
  width: 3rem;
  height: 1.28125rem;
  background: url(../images/d_bg.png) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
  float: left;
}
.yuyue .c_yuyue .y_main .s_put .i_put .b_put .g_code {
  width: 2.5rem;
  height: 100%;
  background: none;
  outline: none;
  border: none;
  font-size: 0.5rem;
  color: #fff;
  line-height: 1.28125rem;
  margin-left: 0.28125rem;
  text-align: center;
  vertical-align: top;
}
.yuyue .c_yuyue .y_main .l_yuyue {
  width: 5.25rem;
  height: 1.78125rem;
  position: relative;
  margin: 0.875rem auto 0;
}
.yuyue .c_yuyue .y_main .l_yuyue img {
  display: block;
  width: 100%;
  height: 100%;
}
.yuyue .type_ul {
    width: 88%;
    margin: 0 auto;
    height: 1.5625rem;
}
.yuyue .type_ul .ios_txt{
  width: 1.4375rem;
  height:0.75rem;
  display: inline-block;
  background: url(../images/ios_txt.png);
  background-size: 100% 100%;
}
.yuyue .type_ul .and_txt{
  width: 1.625rem;
  height:0.875rem;
  display: inline-block;
  background: url(../images/az_txt.png);
  background-size: 100% 100%;
}
.yuyue .type_ul li {
    float: left;
    margin: 12px auto 4px;
    cursor: pointer;
}

.yuyue .type_ul li:nth-child(2) {
  margin-left: 1.5rem;
}

.yuyue .type_ul.type_ul1 li:nth-child(2) {
  margin-left: 3.0rem;
}

.yuyue .type_ul li p {
  font-size: 0.6875rem;
  color: #4d311a;
  line-height: 0.75rem;
}

.yuyue .type_ul li.active p {
  color: #f33a48;
}
.yuyue .type_ul li.active p em img:nth-child(1) {
  display: none;
}
.yuyue .type_ul li p em {
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    float: right;
    overflow: hidden;
    margin-left: 0.375rem;
}
.yuyue .type_ul li p em img{
    width: 0.75rem;
    height: 0.75rem;
}
.login {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 20;
}
.login .c_login {
  width: 19.03125rem;
  height: 16.46875rem;
  background: url(../images/float.png) no-repeat center;
  background-size: 100% 100%;
  position: relative;
  left: 0;
  top: 45%;
  transform: translate(0, -45%);
  -webkit-transform: translate(0, -45%);
}
.login .c_login .close {
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  position: absolute;
  right: 0;
  top: 5.9375rem;
}
.login .c_login .l_main {
  width: 8.0625rem;
  overflow: hidden;
  margin: 6.625rem 0 0 6.4375rem;
}
.login .c_login .l_main .y_title {
  display: block;
  width: 3.375rem;
  height: 0.9375rem;
  margin-left: 2.125rem;
}
.login .c_login .l_main .s_put {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 0.1875rem;
}
.login .c_login .l_main .s_put .p_put {
  width: 7.96875rem;
  height: 1.46875rem;
  background: url(../images/put.png) no-repeat center;
  background-size: 100% 100%;
}
.login .c_login .l_main .s_put .p_put .c_phone {
  width: 7.25rem;
  height: 1.125rem;
  background: none;
  outline: none;
  border: none;
  font-size: 0.5rem;
  color: #131313;
  line-height: 1.125rem;
  margin-left: 0.375rem;
  margin-top: 0.125rem;
}
.login .c_login .l_main .s_put .o_put {
  width: 7.71875rem;
  height: 1.3125rem;
  background: url(../images/s_bg.png) no-repeat center;
  background-size: 100% 100%;
}
.login .c_login .l_main .s_put .o_put .c_t_yzm {
  width: 4.6875rem;
  height: 1rem;
  float: left;
  background: none;
  outline: none;
  border: none;
  font-size: 0.5rem;
  color: #131313;
  line-height: 1rem;
  margin-left: 0.1875rem;
  margin-top: 0.125rem;
  text-indent: 0.25rem;
}
.login .c_login .l_main .s_put .o_put .captcha {
  width: 2.1875rem;
  height: 0.9375rem;
  float: left;
  margin: 0.1875rem 0 0 0.1875rem;
}
.login .c_login .l_main .s_put .o_put .captcha img {
  display: block;
  width: 100%;
  height: 100%;
}
.login .c_login .l_main .s_put .i_put {
  width: 100%;
  height: 1.34375rem;
}
.login .c_login .l_main .s_put .i_put .y_put {
  width: 4.96875rem;
  height: 1.3125rem;
  background: url(../images/m_bg.png) no-repeat center;
  background-size: 100% 100%;
  float: left;
}
.login .c_login .l_main .s_put .i_put .y_put .c_yzm {
  width: 4.25rem;
  height: 1.125rem;
  background: none;
  outline: none;
  border: none;
  font-size: 0.5rem;
  color: #131313;
  line-height: 1rem;
  margin-left: 0.25rem;
  text-indent: 0.1875rem;
}
.login .c_login .l_main .s_put .i_put .b_put {
  width: 3rem;
  height: 1.28125rem;
  background: url(../images/d_bg.png) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
  float: left;
}
.login .c_login .l_main .s_put .i_put .b_put .i_code {
  width: 2.5rem;
  height: 100%;
  background: none;
  outline: none;
  border: none;
  font-size: 0.4375rem;
  color: #fff;
  line-height: 1.28125rem;
  margin-left: 0.28125rem;
  text-align: center;
  vertical-align: top;
}
.login .c_login .l_main .l_dl {
  width: 5.25rem;
  height: 1.78125rem;
  position: relative;
  margin: 0.875rem auto 0;
}
.login .c_login .l_main .l_dl img {
  display: block;
  width: 100%;
  height: 100%;
}
.success {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 20;
}
.success .c_success {
  width: 19.03125rem;
  height: 16.46875rem;
  background: url(../images/float.png) no-repeat center;
  background-size: 100% 100%;
  position: relative;
  left: 0;
  top: 45%;
  transform: translate(0, -45%);
  -webkit-transform: translate(0, -45%);
}
.success .c_success .close {
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  position: absolute;
  right: 0;
  top: 5.9375rem;
}
.success .c_success .c_main {
  width: 9.25rem;
  overflow: hidden;
  margin: 6.25rem 0 0 5.90625rem;
}
.success .c_success .c_main .y_title {
  display: block;
  width: 4.1875rem;
  height: 0.9375rem;
  margin-left: 2.3125rem;
}
.success .c_success .c_main .price {
  display: block;
  width: 2.15625rem;
  margin: 0.3125rem auto 0;
}
.success .c_success .c_main .price_title {
  font-size: 0.5rem;
  text-align: center;
  color: #fff;
  margin-top: 0.3125rem;
}
.success .c_success .c_main .g_tip {
  font-size: 0.625rem;
  color: #fff;
  text-align: center;
  margin-top: 0.46875rem;
}
.success .c_success .c_main .p_txt {
  font-size: 0.3125rem;
  color: #91601f;
  line-height: 0.625rem;
}
.success .c_success .c_main .t_dizhi {
  width: 5.25rem;
  height: 1.78125rem;
  margin: 0 auto 0;
  overflow: hidden;
}
.success .c_success .c_main .t_dizhi img {
  display: block;
  width: 100%;
  height: 100%;
}
.success .c_success .c_main .t_dizhi.active img:nth-child(1) {
  display: none;
}
.dizhi {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 20;
}
.dizhi .c_dizhi {
  width: 19.03125rem;
  height: 16.46875rem;
  background: url(../images/float.png) no-repeat center;
  background-size: 100% 100%;
  position: relative;
  left: 0;
  top: 45%;
  transform: translate(0, -45%);
  -webkit-transform: translate(0, -45%);
}
.dizhi .c_dizhi .close {
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  position: absolute;
  right: 0;
  top: 5.9375rem;
}
.dizhi .c_dizhi .d_main {
  width: 8.0625rem;
  overflow: hidden;
  margin: 6.625rem 0 0 6.46875rem;
}
.dizhi .c_dizhi .d_main .y_title {
  display: block;
  width: 3.375rem;
  height: 0.9375rem;
  margin-left: 2.125rem;
}
.dizhi .c_dizhi .d_main .m_put {
  width: 8rem;
  height: 1.375rem;
  background: url(../images/name.png) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
  margin: 0.09375rem auto 0;
}
.dizhi .c_dizhi .d_main .m_put .name {
  width: 7.25rem;
  height: 1.0625rem;
  background: none;
  outline: none;
  border: none;
  font-size: 0.5rem;
  color: #fff;
  line-height: 1.0625rem;
  margin-left: 0.375rem;
  text-indent: 0.3125rem;
}
.dizhi .c_dizhi .d_main .l_put {
  width: 7.71875rem;
  height: 1.25rem;
  background: url(../images/p_bg.png) no-repeat center;
  background-size: 100% 100%;
  position: relative;
  margin: 0.1875rem auto 0;
}
.dizhi .c_dizhi .d_main .l_put .d_phone {
  width: 7.09375rem;
  height: 1.25rem;
  background: none;
  outline: none;
  border: none;
  font-size: 0.5rem;
  color: #fff;
  line-height: 1.25rem;
  margin-left: 0.1875rem;
  text-indent: 0.3125rem;
  vertical-align: top;
}
.dizhi .c_dizhi .d_main .y_put {
  width: 8.03125rem;
  height: 1.25rem;
  background: url(../images/yb_bg.png) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
  margin: 0.1875rem auto 0;
}
.dizhi .c_dizhi .d_main .y_put .youbian {
  width: 7.3125rem;
  height: 1rem;
  background: none;
  outline: none;
  border: none;
  font-size: 0.5rem;
  color: #fff;
  line-height: 1.0625rem;
  margin-left: 0.375rem;
  text-indent: 0.3125rem;
}
.dizhi .c_dizhi .d_main .z_put {
  width: 7.8125rem;
  height: 1.25rem;
  background: url(../images/z_bg.png) no-repeat center;
  background-size: 100% 100%;
  position: relative;
  margin: 0.1875rem auto 0;
}
.dizhi .c_dizhi .d_main .z_put .address {
  width: 7.1875rem;
  height: 1.25rem;
  background: none;
  outline: none;
  border: none;
  font-size: 0.5rem;
  color: #fff;
  line-height: 1.25rem;
  margin-left: 0.375rem;
  text-indent: 0.3125rem;
  vertical-align: top;
}
.dizhi .c_dizhi .d_main .t_sure {
  width: 5.25rem;
  height: 1.78125rem;
  margin: 0.4375rem auto 0;
}
.dizhi .c_dizhi .d_main .t_sure img {
  display: block;
  width: 100%;
  height: 100%;
}
.share {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 20;
}
.share .c_share {
  width: 19.03125rem;
  height: 16.46875rem;
  background: url(../images/float.png) no-repeat center;
  background-size: 100% 100%;
  position: relative;
  left: 0;
  top: 45%;
  transform: translate(0, -45%);
  -webkit-transform: translate(0, -45%);
}
.share .c_share .close {
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  position: absolute;
  right: 0;
  top: 5.9375rem;
}
.share .c_share .share_main {
  width: 11.40625rem;
  overflow: hidden;
  margin: 7rem 0 0 4.875rem;
}
.share .c_share .share_main .y_title {
  width: 3.375rem;
  height: 0.96875rem;
  margin-left: 3.8125rem;
}
.share .c_share .share_main .bshare-custom {
  width: 100%;
  height: 3.5rem;
  overflow: hidden;
  position: relative;
  margin-top: 2.3125rem;
}
.share .c_share .share_main .bshare-custom .bshare-weixin {
  width: 3.25rem;
  height: 3.5rem;
  background: url(../images/weixin.png) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
  padding: 0;
}
.share .c_share .share_main .bshare-custom .bshare-sinaminiblog {
  width: 3.21875rem;
  height: 3.5rem;
  background: url(../images/weibo.png) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
  padding: 0;
  margin: 0 0.4375rem;
}
.share .c_share .share_main .bshare-custom .bshare-qzone {
  width: 3.21875rem;
  height: 3.5rem;
  background: url(../images/qzone.png) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
  padding: 0;
}
.invite_friend {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  display: none;
  z-index: 20;
}
.invite_friend .c_invite {
  width: 19.03125rem;
  height: 16.46875rem;
  background: url(../images/float.png) no-repeat center;
  background-size: 100% 100%;
  position: relative;
  left: 0;
  top: 45%;
  transform: translate(0, -45%);
  -webkit-transform: translate(0, -45%);
}
.invite_friend .c_invite .close {
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  position: absolute;
  right: 0;
  top: 5.9375rem;
}
.invite_friend .c_invite .invite_body {
  width: 8.96875rem;
  overflow: hidden;
  margin: 6.625rem 0 0 6.3125rem;
}
.invite_friend .c_invite .invite_body .y_title {
  display: block;
  width: 3.375rem;
  height: 0.9375rem;
  margin-left: 2.3125rem;
}
.invite_friend .c_invite .invite_body .yqm {
  font-size: 0.5625rem;
  color: #fff;
  margin-top: 1.1875rem;
  margin-bottom: 0.9375rem;
}
.invite_friend .c_invite .invite_body .yqm_txt {
  font-size: 0.5625rem;
  color: #fff;
  line-height: 0.9375rem;
}
.invite_friend .c_invite .invite_body .s_fuzhi {
  width: 5.25rem;
  height: 1.78125rem;
  margin: 1rem 0 0 1.4375rem;
}
.invite_friend .c_invite .invite_body .s_fuzhi img {
  display: block;
  width: 100%;
  height: 100%;
}
.my_price {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  display: none;
}
.my_price .price_con {
  width: 19.03125rem;
  height: 16.46875rem;
  background: url(../images/float.png) no-repeat center;
  background-size: 100% 100%;
  position: relative;
  left: 0;
  top: 45%;
  transform: translate(0, -45%);
  -webkit-transform: translate(0, -45%);
}
.my_price .price_con .close {
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  position: absolute;
  right: 0;
  top: 5.9375rem;
}
.my_price .price_con .price_main {
  width: 5.25rem;
  overflow: hidden;
  margin: 6.625rem 0 0 7.8125rem;
}
.my_price .price_con .price_main .y_title {
  display: block;
  width: 3.34375rem;
  height: 0.9375rem;
  margin-left: 0.8125rem;
  margin-bottom: 0.9375rem;
}
.my_price .price_con .price_main .huadong {
  width: 5.25rem;
  height: 4.0625rem;
  overflow: auto;
}
.my_price .price_con .price_main .huadong ul {
  width: 5.25rem;
  overflow: hidden;
}
.my_price .price_con .price_main .huadong ul li {
  font-size: 0.5625rem;
  color: #fff;
  text-align: center;
  line-height: 0.9375rem;
}
.my_price .price_con .price_main .c_sure {
  width: 5.25rem;
  height: 1.78125rem;
  margin-top: 0.78125rem;
}
.my_price .price_con .price_main .c_sure img {
  display: block;
  width: 100%;
  height: 100%;
}
.tip {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
  display: none;
}
.tip .c_invite {
  width: 19.03125rem;
  height: 16.46875rem;
  background: url(../images/float.png) no-repeat center;
  background-size: 100% 100%;
  position: relative;
  left: 0;
  top: 45%;
  transform: translate(0, -45%);
  -webkit-transform: translate(0, -45%);
}
.tip .c_invite .close {
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  position: absolute;
  right: 0;
  top: 5.9375rem;
}
.tip .c_invite .invite_body {
  width: 8.96875rem;
  overflow: hidden;
  margin: 6.625rem 0 0 6.3125rem;
}
.tip .c_invite .invite_body .y_title {
  display: block;
  width: 1.875rem;
  height: 1rem;
  margin-left: 3.28125rem;
}
.tip .c_invite .invite_body p {
  font-size: 0.625rem;
  color: #fff;
  margin-top: 0.625rem;
  line-height: 0.9375rem;
}
.tip .c_invite .invite_body .p_sure {
  display: block;
  width: 5.25rem;
  height: 1.78125rem;
  margin: 1.5625rem auto 0;
}
