body {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
.hidden{display:none!important;}

/*header*/
header {
	width:20rem;
	height:3.125rem;
	background:rgba(25,25,38,.7);
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
}
header .logo {
	width: 3.15625rem;
	height:3.15625rem;
	display: block;
	margin-left: .75rem;
	margin-top: 0.625rem;
	float: left;
}
header .logo img {
	width: 100%;
	height: 100%;
	vertical-align: top;
}
header .h_text {
	height: 2.1875rem;
	float: left;
	margin-left: .45rem;
	overflow: hidden;
	margin-top: 0.625rem;
}
header .h_text .h_p01 {
	width: 100%;
	color: #EE5314;
	font-size: .875rem;
	font-weight: bold;
}
header .h_text .h_p02 {
	width: 100%;
	color: #fff;
	font-size:.6875rem;
	opacity:.5;
}
.header_a {
	float: right;
	margin-top: .625rem;
	margin-right: 0.78125rem;
	background:url(../images/f_wx.png) no-repeat center;
	background-size:100% 100%;
	width: 5rem;
	height: 1.875rem;
	text-align: center;
	font-size:0.875rem;
	color:#fff;
	line-height:1.875rem;
}
/*首页*/
.i_main {
	position: relative;
	width:20rem;
	margin:0 auto;
	overflow: hidden;
}
.i_main .top{
	position:relative;
	width:20rem;
	height:35.4375rem;
	background: url(../images/topbg.jpg) center top no-repeat;
	background-size:cover;
}
.i_main .top .videoBtn {
	position: absolute;
	z-index: 11;
	top: 8.125rem;
	left: 50%;
	width: 9.71875rem;
	height: 9.5625rem;
	margin-left: -8.15625rem;
}
.i_main .top .videoBtn:before{
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	content:"";
	width: 9.71875rem;
	height: 9.5625rem;
	background:url("../images/play3.png");
	background-size: 100% 100%;
	-webkit-animation: light 3s linear infinite alternate;
	-moz-animation: light 3s linear infinite alternate;
	-ms-animation: light 3s linear infinite alternate;
	animation: light 3s linear infinite alternate;
}
.i_main .top .videoBtn a {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 3.84375rem;
	height: 3.84375rem;
	background: url(../images/play1.png);
	background-size: 100% 100%;
	margin-top: -1.921875rem;
	margin-left: -1.921875rem;
}
.i_main .top .videoBtn a img{
	position: absolute;
	left: 55%;
	top: 53%;
	margin-left: -0.765625rem;
	margin-top: -0.921875rem;
	width: 1.53125rem;
	height: 1.84375rem;
	-webkit-animation: scales 2.5s linear infinite;
	-moz-animation: scales 2.5s linear infinite;
	-ms-animation: scales 2.5s linear infinite;
	animation: scales 2.5s linear infinite;
}
.i_main .top .child{
	position: absolute;
	width: 7.25rem;
	height: 13.125rem;
	left: 50%;
	top: 15.3125rem;
	margin-left: -8.125rem;
	 -webkit-animation: jump 2.5s ease infinite;
	-moz-animation: jump 2.5s ease infinite;
	-ms-animation: jump 2.5s ease infinite;
	 animation: jump 2.5s ease infinite;
}
.i_main .top .child img{
	width:7.25rem;
	height: 13.125rem;
}
.i_main .top .starlight{
	width:7.125rem;
	height:7.65625rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left:2.8125rem;
	margin-top: -12.8125rem;
	-webkit-animation: light 3s linear infinite alternate;
	-moz-animation: light 3s linear infinite alternate;
	-ms-animation: light 3s linear infinite alternate;
	animation: light 3s linear infinite alternate;
}
.i_main .top .starlight img{
	width:7.125rem;
	height:7.65625rem;
}
.i_main .top .download{
	width: 18.25rem;
	height:  3.5rem;
	position: relative;
	top: 30.5rem;
	left: 50%;
	margin-left:-9.125rem;
	z-index: 98;
}
.i_main .top .download a.js_wap_down{
	float: left;
}
.i_main .top .download a.tap{
	float: right;
}
.i_main .top .download a,.i_main .top .download img{
	display:inline-block;
	width: 8.4375rem;
	height: 3.5rem;
}
.i_main .top .download:after{
	content: "";
	display: block;
	clear:both;
}
.i_main .banner_news{
	position: relative;
	width:20rem;
	height:42.34375rem;
	background: url(../images/conbg.jpg) center top no-repeat;
	background-size: cover;
}
.i_main .banner_news>.one{
	position: relative;
	top: 2rem;
	width: 18.53125rem;
	margin: 0 auto;
	overflow: hidden;
}
.i_main .banner_news .banner{
	width: 18.53125rem;
	height:9.375rem;
}
.i_main .banner_news .banner .swiper-container:before{
	display: inline-block;
	position: absolute;
	z-index: 9;
	content: "";
	width: 18.53125rem;
	height:9.375rem;
	background: url(../images/bannerbg.png);
	background-size: 100% 100%;
}
.i_main .banner_news .banner .swiper-container{height:100%;}
.i_main .banner_news .banner .swiper-container-horizontal>.swiper-pagination-bullets,
.i_main .banner_news .banner .swiper-pagination-custom, .swiper-pagination-fraction{
	width: auto;
	right: 1.2rem;
	bottom:.3125rem;
	left: inherit;
}
.i_main .banner_news .banner .swiper-pagination-bullet {
	width: .5rem;
	height: .5rem;
	margin: .1875rem;
	background:url("../images/bullet.png");
	background-size:100% 100%;
	opacity: 1;
}
.i_main .banner_news .banner .swiper-pagination-bullet-active {
	position: relative;
	width: .5rem;
	height: .5rem;
	background:url("../images/bullet1.png");
	background-size:100% 100%;
}
.i_main .banner_news .banner .swiper-slide img,.i_main .banner_news .banner .swiper-slide a{
	display:inline-block;
	width:100%;height:100%;
}

.i_main .banner_news .news_box{
	position:relative;
	width: 18.53125rem;
	height:10.25rem;
	background:url("../images/newsbg1.png");
	background-size: 100% 100%;
}
.i_main .banner_news .news_box .hd {
	position: relative;
	width: 100%;
	z-index: 2;
}
.i_main .banner_news .news_box .hd ul {
	padding: .9375rem .625rem 0 .625rem;
	height: 1.375rem;
}
.i_main .banner_news .news_box .hd li {
	float: left;
	width: 3.125rem;
	height: 1.34375rem;
	line-height: 1.5rem;
	font-size: .8125rem;
	font-weight: 600;
	text-align: center;
	margin-right: 1.5rem;
}
.i_main .banner_news .news_box .hd li.on {
	background:url("../images/newsbg.png");
	background-size: 100% 100%;
}
.i_main .banner_news .news_box .hd li a {
	color: #333;
	cursor: pointer;
	width: 100%;
	height: 100%;
}
.i_main .banner_news .news_box .hd li.on a {color: #fff;}
.i_main .banner_news .news_box .bd li a:hover{color: #EE5314;}
.i_main .banner_news .news_box .bd li a:hover i{color:#666;}
.i_main .banner_news .news_box .bd {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 7.6875rem;
	overflow: hidden;
}
.i_main .banner_news .news_box .bd ul {
	display: block;
	padding: 0 .625rem;
	overflow: hidden;
}
.i_main .banner_news .news_box .bd li {
	width: 100%;
	display: block;
	height:2.5rem;
	line-height: 2.5rem;
	font-size: .75rem;
	border-bottom: 1px dashed #B1B1B0;
}
.i_main .banner_news .news_box .bd .news_info li:last-child{border-bottom:none;}
.i_main .banner_news .news_box .bd li a {
	display: block;
	position: relative;
	color: #333;
	width: 80%;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.i_main .banner_news .news_box .bd li a i{
	font-style:normal;
	font-size:.75rem;
	color:#666;
}
.i_main .banner_news .news_box .bd span {
	float: right;
	font-size: .6875rem;
	color: #999;
}

.i_main .banner_news>.two{
	position: relative;
	top: 4rem;
	width:20rem;
	margin: 0 auto;
}
.i_main .banner_news>.two .title{
	text-align:center;
	margin-bottom:1.2rem;
}
.i_main .banner_news>.two .title img{
	width:9.65625rem;
	height:2.5rem;
}
.slider,.slider .swiper-container{
	position: relative;
	height:10rem;
}
.slider .swiper-container .swiper-slide>a{
	margin-left: 50%;
	display: inline-block;
	width: 16.90625rem;
	height:10rem;
	text-align:center;
	transform: translate(-8.453125rem,0);
	-ms-transform:translate(-8.453125rem,0);
	-webkit-transform: translate(-8.453125rem,0);
	-o-transform: translate(-8.453125rem,0);
	-moz-transform: translate(-8.453125rem,0);
}
.slider .swiper-container .swiper-slide>a:before {
	display: inline-block;
	position: absolute;
	z-index: 10;
	content: "";
	width: 16.90625rem;
	height:10rem;
	background: url(../images/sliderbg.png);
	background-size: 100% 100%;
}
.slider .swiper-container .swiper-slide>a .images{
	width: 16.83rem;
	height: 10rem;
	margin-left: 8.415rem;
	cursor: pointer;
	transform: translate(-50%,0);
	-ms-transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
	-o-transform: translate(-50%,0);
	-moz-transform: translate(-50%,0)
}
.slider .swiper-container-3d .swiper-slide-shadow-bottom,.slider .swiper-container-3d .swiper-slide-shadow-left,
.slider .swiper-container-3d .swiper-slide-shadow-right, .slider .swiper-container-3d .swiper-slide-shadow-top {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 10;
}
.slider .swiper-button-prev{
	left:.125rem;
	margin-top: -.84375rem;
	width:.9375rem;
	height:1.96875rem;
	background: url(../images/prev.png) no-repeat;
	background-size: 100%;
}
.slider .swiper-button-prev:hover{
	background: url(../images/prev-1.png) no-repeat;
	background-size: 100%;
}
.slider .swiper-button-next {
	right:.125rem;
	margin-top: -.84375rem;
	width:.9375rem;
	height:1.96875rem;
	background: url(../images/next.png) no-repeat;
	background-size: 100%;
}
.slider .swiper-button-next:hover{
	background: url(../images/next-1.png) no-repeat;
	background-size: 100%;
}
.slider .swiper-pagination{
	bottom:-1.5rem;
	left:50%;
	transform:translate(-50%);
	-ms-transform:translate(-50%);	/* IE 9 */
	-moz-transform:translate(-50%); 	/* Firefox */
	-webkit-transform:translate(-50%); /* Safari 和 Chrome */
	-o-transform:translate(-50%); 	/* Opera */
}
.slider .swiper-pagination-bullet {
	width: .5rem;
	height: .5rem;
	margin: .1875rem;
	background:url("../images/bullet.png");
	background-size:100% 100%;
	opacity: 1;
}
.slider .swiper-pagination-bullet-active {
	position: relative;
	width: .5rem;
	height: .5rem;
	background:url("../images/bullet1.png");
	background-size:100% 100%;
}

/*游戏资讯详情页面*/
.i_main .list{
	height: auto;
	background-color: #FFF;
}
.i_main .list .list_banner,.i_main .list .list_banner img{
	width:20rem;
	height:11.84375rem;
}
.i_main .list .detailbox{
    position: relative;
	padding:.9375rem;
	margin:0 auto;
}
.i_main .list .detailbox .article_title{
    padding-bottom: .9375rem;
    border-bottom: 1px solid #F5F5F5;
}
.i_main .list .detailbox .article_title>h3{
	font-size:1.125rem;
	color: #333;
}
.i_main .list .detailbox .article_title>span{
	font-size:.625rem;
	color: #999;
}
.i_main .list .detailbox .article_title>span>span:nth-of-type(1){margin-right:1.25rem;}
.i_main .list .detailbox .content{min-height: 18rem;}
.i_main .list .detailbox .content p {
	font-size: .75rem;
	color: #666;
	line-height: 1.875rem;
	word-break: break-all;
}
.i_main .list .detailbox .content img {
    display: block;
    max-width:18.125rem;
    margin: 1.25rem auto;
}


@keyframes scales{0%{transform: scale(1); }50% {transform: scale(1.15);}100% {transform: scale(1);}}
@-webkit-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(1.15);}100% {-webkit-transform: scale(1);}}
@-moz-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(1.15);}100% {-webkit-transform: scale(1);}}
@-o-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(1.15);}100% {-webkit-transform: scale(1);}}
@-ms-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(1.15);}100% {-webkit-transform: scale(1);}}

@-webkit-keyframes light{
	0%{
		opacity: 1;
	}
	25%{
		opacity: .8;
	}
	50%{
		opacity: .6;
	}
	75%{
		opacity: .4;
	}
	100%{
		opacity:.2;
	}
}
@keyframes light{
	0%{
		opacity: 1;
	}
	25%{
		opacity: .8;
	}
	50%{
		opacity: .6;
	}
	75%{
		opacity: .4;
	}
	100%{
		opacity:.2;
	}
}
@-moz-keyframes light{
	0%{
		opacity: 1;
	}
	25%{
		opacity: .8;
	}
	50%{
		opacity: .6;
	}
	75%{
		opacity: .4;
	}
	100%{
		opacity:.2;
	}
}
@-o-keyframes light{
	0%{
		opacity: 1;
	}
	25%{
		opacity: .8;
	}
	50%{
		opacity: .6;
	}
	75%{
		opacity: .4;
	}
	100%{
		opacity:.2;
	}
}
@-ms-keyframes light{
	0%{
		opacity: 1;
	}
	25%{
		opacity: .8;
	}
	50%{
		opacity: .6;
	}
	75%{
		opacity: .4;
	}
	100%{
		opacity:.2;
	}
}

@-webkit-keyframes jump{
	0%{
		top: 15.3125rem;
	}
	50%{
		top: 15rem;
	}
	100%{
		top:15.3125rem;
	}
}
@keyframes jump{
	0%{
		top: 15.3125rem;
	}
	50%{
		top: 15rem;
	}
	100%{
		top:15.3125rem;
	}
}
@-moz-keyframes jump{
	0%{
		top: 15.3125rem;
	}
	50%{
		top: 15rem;
	}
	100%{
		top:15.3125rem;
	}
}
@-o-keyframes jump{
	0%{
		top: 15.3125rem;
	}
	50%{
		top: 15rem;
	}
	100%{
		top:15.3125rem;
	}
}
@-ms-keyframes jump{
	0%{
		top: 15.3125rem;
	}
	50%{
		top: 15rem;
	}
	100%{
		top:15.3125rem;
	}
}
.float_wx{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.8);
	position:fixed;
	left:0;
	top:0;
	z-index:100;
	display: none;
}
.wx_body{
	width:10.625rem;
	height:8.0625rem;
	background-color:#fff;
	position:relative;
	margin:0 auto;
	top:45%;
	transform: translate(0,-45%);
	-webkit-transform: translate(0,-45%);
}
.wx_body img{
	display: block;
	width:5.3125rem;
	height:5.3125rem;
	margin:0 auto;
	padding-top:.78125rem;
}
.wx_body .close{
	display: block;
	width:1.25rem;
	height:1.25rem;
	position:absolute;
	right:-1rem;
	top:0;
}
.wx_body .close span{
	display: block;
	width:2px;
	height:100%;
	position:absolute;
	top:0;
	right:0;
	background-color:#fff;
}
.wx_body .close span:nth-child(1){
	transform: rotate(45deg);
}
.wx_body .close span:nth-child(2){
	transform: rotate(-45deg);
}
.wx_body p{
	font-size:0.625rem;
	text-align: center;
	color:#191919;
}
