{include '../../layouts/wap/header.html'}
    <div class="listBg fade">
        <img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/logo.png?{$smarty.const.VERSION}" alt="" class="logo">
    </div>
    <div class="news-info fade">
        <div class="news-info-box">
            <div class="list-info">
                <div class="back"><a href="{myurl name='/wap/site/index'}"></a></div>
                <ul class="list-article-title" data-id="{$id}">
                    <li class="{if $id eq 528}active{else} {/if}"><a href="{myurl name='wap/article/list, id=>528'}">综合</a></li>
                    <li class="{if $id eq 529}active{else} {/if}"><a href="{myurl name='wap/article/list, id=>529'}">新闻</a></li>
                    <li class="{if $id eq 530}active{else} {/if}"><a href="{myurl name='wap/article/list, id=>530'}">公告</a></li>
                    <li class="{if $id eq 531}active{else} {/if}"><a href="{myurl name='wap/article/list, id=>531'}">活动</a></li>
                </ul>
                <ul class="list-article">
                </ul>
                <div class="dropload-down">
                    <div class="dropload-noData">上拉加载更多信息...</div>
                </div>
            </div>
        </div>
    </div>
{include '../../layouts/wap/footer.html'}