<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>《明日决胜！》 - 超Q萌MMORPG冒险手游</title>
		<meta name="keywords" content="{$seo_key}" />
		<meta name="description" content="{$seo_desc}" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
		 <link rel="stylesheet" href="http://cdnstatic.yingxiong.com/common/css/yx.css?{$smarty.const.VERSION}" />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}fwy/share1/css/swiper.min.css?{$smarty.const.VERSION}" />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}fwy/share1/css/index.css?{$smarty.const.VERSION}" />
		<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}fwy/share1/js/jquery-1.11.2.min.js?{$smarty.const.VERSION}"></script>
		<script>
			(function(doc, win) {
				var docEl = doc.documentElement,
					// 手机旋转事件,大部分手机浏览器都支持 onorientationchange 如果不支持，可以使用原始的 resize
					resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
					recalc = function() {
						//clientWidth: 获取对象可见内容的宽度，不包括滚动条，不包括边框
						var clientWidth = docEl.clientWidth;
						if(!clientWidth) return;
						docEl.style.fontSize = 16 * (clientWidth / 320) + 'px';
					};

				recalc();
				//判断是否支持监听事件 ，不支持则停止
				if(!doc.addEventListener) return;
				//注册翻转事件
				win.addEventListener(resizeEvt, recalc, false);
			})(document, window);
		</script>
		<script>
			var _hmt = _hmt || [];
			(function() {
			  var hm = document.createElement("script");
			  hm.src = "https://hm.baidu.com/hm.js?6a24f350213dbdf5cd8ff59cf4c612f2";
			  var s = document.getElementsByTagName("script")[0]; 
			  s.parentNode.insertBefore(hm, s);
			})();
        </script>
	<script>
	   //push 手动上报方法，event 事件触发方法 ，ready js加载完成回调 
	   //push 参数，name：页面名称，behavior 行为 
	   //event 参数，event：事件名称，args 拓展参数 
	   var HLog={ push:function(name,behavior){},setUser:function(){},event:function(event,args){},ready:function(){} };
	   HLog.config={
	       "senseHash":0, //hash锚点是否进入url统计
	       "senseQuery":0, //url参数是否进入url统计
	       "ignoreParams":[] //开启url参数上报时，可忽略部分参数拼接上报；
	   };
	   (function() {
	      var hl = document.createElement("script");
	      hl.src = "http://spro.yingxiong.com/datastat/jsapi/jssdk/appid/75/client/1/filter/stat.js";
	      hl.async = "async";
	      var s = document.getElementsByTagName("script")[0];
	      HLog.ready = function(){
	        HLog.push('reflash')
	      };
	      s.parentNode.insertBefore(hl, s);
	   })();
	</script>

    </script>
	</head>
	<body>
			<div class="page_one" data-icon="{$share_icon}" data-title="{$share_title}" data-desc="{$share_desc}">
			    <div class="h5_wx" style="display: none;">{$is_warrant}</div>
                <div class="h5_data" style="display: none;">{$h5data}</div>
                <div class="header">
                	<a href="http://mrjs.zhengyuetech.com/m/" class="icon"><img src="{$smarty.const.STATIC_DOMAIN}fwy/share1/images/icon.png?{$smarty.const.VERSION}" alt=""></a>
					<div class="h_text">
						<p class="h_p01">明日决胜！</p>
						<p class="h_p02">超Q萌MMO RPG冒险手游 </p>
					</div>
					<div class="send">
						<h2>9.7分</h2>
						<span><i></i>918万次下载</span>
					</div>
					<ul class="down_list">
    		    	    <li class="label1">MMORPG </li>
    		    	    <li class="label2">超Q萌画风</li>
    		    	    <li class="label3">自由世界探索</li>
    		    	    <li class="label4">自定义家园</li>
    		    	</ul>
                </div>
                <div class="h_banner h_banner1">
					<ul class="swiper-wrapper">
						<li class="swiper-slide">
						<img src="{$smarty.const.STATIC_DOMAIN}fwy/share1/images/1.png?{$smarty.const.VERSION}" alt="">
						</li>
						<li class="swiper-slide">
							<img src="{$smarty.const.STATIC_DOMAIN}fwy/share1/images/2.png?{$smarty.const.VERSION}" alt="">
						</li>
						<li class="swiper-slide">
							<img src="{$smarty.const.STATIC_DOMAIN}fwy/share1/images/3.png?{$smarty.const.VERSION}" alt="">
						</li>
						<li class="swiper-slide">
							<img src="{$smarty.const.STATIC_DOMAIN}fwy/share1/images/4.png?{$smarty.const.VERSION}" alt="">
						</li>
						<li class="swiper-slide">
							<img src="{$smarty.const.STATIC_DOMAIN}fwy/share1/images/5.png?{$smarty.const.VERSION}" alt="">
						</li>
						<li class="swiper-slide">
						<img src="{$smarty.const.STATIC_DOMAIN}fwy/share1/images/1.png?{$smarty.const.VERSION}" alt="">
						</li>
						<li class="swiper-slide">
							<img src="{$smarty.const.STATIC_DOMAIN}fwy/share1/images/2.png?{$smarty.const.VERSION}" alt="">
						</li>
						<li class="swiper-slide">
							<img src="{$smarty.const.STATIC_DOMAIN}fwy/share1/images/3.png?{$smarty.const.VERSION}" alt="">
						</li>
						<li class="swiper-slide">
							<img src="{$smarty.const.STATIC_DOMAIN}fwy/share1/images/4.png?{$smarty.const.VERSION}" alt="">
						</li>
						<li class="swiper-slide">
							<img src="{$smarty.const.STATIC_DOMAIN}fwy/share1/images/5.png?{$smarty.const.VERSION}" alt="">
						</li>
					</ul>
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
				<div class="h_banner h_banner2">
					<ul class="swiper-wrapper">
						<li class="swiper-slide">
						<img src="{$smarty.const.STATIC_DOMAIN}fwy/share1/images/1.png?{$smarty.const.VERSION}" alt="">
						</li>
						<li class="swiper-slide">
							<img src="{$smarty.const.STATIC_DOMAIN}fwy/share1/images/2.png?{$smarty.const.VERSION}" alt="">
						</li>
						<li class="swiper-slide">
							<img src="{$smarty.const.STATIC_DOMAIN}fwy/share1/images/3.png?{$smarty.const.VERSION}" alt="">
						</li>
						<li class="swiper-slide">
							<img src="{$smarty.const.STATIC_DOMAIN}fwy/share1/images/4.png?{$smarty.const.VERSION}" alt="">
						</li>
						<li class="swiper-slide">
							<img src="{$smarty.const.STATIC_DOMAIN}fwy/share1/images/5.png?{$smarty.const.VERSION}" alt="">
						</li>
						<li class="swiper-slide">
						<img src="{$smarty.const.STATIC_DOMAIN}fwy/share1/images/1.png?{$smarty.const.VERSION}" alt="">
						</li>
						<li class="swiper-slide">
							<img src="{$smarty.const.STATIC_DOMAIN}fwy/share1/images/2.png?{$smarty.const.VERSION}" alt="">
						</li>
						<li class="swiper-slide">
							<img src="{$smarty.const.STATIC_DOMAIN}fwy/share1/images/3.png?{$smarty.const.VERSION}" alt="">
						</li>
						<li class="swiper-slide">
							<img src="{$smarty.const.STATIC_DOMAIN}fwy/share1/images/4.png?{$smarty.const.VERSION}" alt="">
						</li>
						<li class="swiper-slide">
							<img src="{$smarty.const.STATIC_DOMAIN}fwy/share1/images/5.png?{$smarty.const.VERSION}" alt="">
						</li>
					</ul>
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
				<div class="gane_ts">
					<h3>【游戏特色】</h3>
					<p>开放世界，“萌”友探险！《明日决胜！》是一款大型多人在线角色扮演手游，Q萌画风、奇趣地图、活泼宠物、温馨家园……为你打造走遍天涯海角的萌动世界，满足你一切自由探索，为爱冒险的浪漫旅程！</p>
				</div>
				<div class="ad_box">
					<a href="javascript:yx_showTips('敬请期待');"></a>
				</div>
			</div>
	</body>
	<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}fwy/share1/js/swiper.min.js?{$smarty.const.VERSION}"></script>
	 <script src="http://cdnstatic.yingxiong.com/common/js/yx.js?{$smarty.const.VERSION}"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        document.write('<script src="http://game.zhengyuetech.com/common/h5wx/h5wxjs.php?url=' +encodeURIComponent(location.href)+'"><\/script>');
    </script>
	<script type="text/javascript">
	    $(function() {
        	var url = window.location.href;
			var  url_id=window.location.href.split('share/')[1];
			var name=window.location.href.split('fwy/')[1];
			console.log(url_id);
			var mySwiper01 = new Swiper('.h_banner1', {
				loop: true,
				autoplay: 3300,
				slideToClickedSlide: true,
				autoplayDisableOnInteraction: false,
				prevButton: '.swiper-button-prev',
                nextButton: '.swiper-button-next',
                paginationClickable: true,
				effect: 'coverflow',
				slidesPerView: 1.7,
				centeredSlides: true,
				coverflow: {
					rotate: 50,
					stretch: 10,
					depth: 100,
					modifier: 1,
					slideShadows: true
				},
				observer: true,
				observeParents: true,
			});
			var mySwiper01 = new Swiper('.h_banner2', {
				loop: true,
				autoplay: 3300,
				slideToClickedSlide: true,
				autoplayDisableOnInteraction: false,
				prevButton: '.swiper-button-prev',
                nextButton: '.swiper-button-next',
                paginationClickable: true,
				effect: 'coverflow',
				slidesPerView:2,
				centeredSlides: true,
				coverflow: {
					rotate: 50,
					stretch: -40,
					depth: 600,
					modifier: 1,
					slideShadows: true
				},
				observer: true,
				observeParents: true,
			});
			var share_icon=$(".page_one").attr("data-icon");
        var share_title=$(".page_one").attr("data-title");
        var share_desc=$(".page_one").attr("data-desc");
        // initForm();
        var share = {
            imgUrl      : "http:"+share_icon,
            shareTitle  : share_title,
            descContent : share_desc,
            lineLink    : 'http://h5.yingxiong.com/index/fwy/share1.html'
        };
        wx.config({
            debug     : false,
            appId     : wx_conf.appId,
            timestamp : wx_conf.timestamp,
            nonceStr  : wx_conf.nonceStr,
            signature : wx_conf.signature,
            jsApiList : [
                'onMenuShareTimeline',
                'onMenuShareAppMessage',
                'chooseImage',
                'previewImage',
                'uploadImage',
                'downloadImage'
            ]
        });
        wx.ready(function(){
            wx.onMenuShareAppMessage({
                title   : share.shareTitle,
                desc    : share.descContent,
                link    : share.lineLink,
                imgUrl  : share.imgUrl,
                success : function() {

                }
            });
            wx.onMenuShareTimeline({
                title   : share.shareTitle,
                desc    : share.descContent,
                link    : share.lineLink,
                imgUrl  : share.imgUrl,
                success : function() {

                }
            });

            wx.onMenuShareQQ({
                title: share.shareTitle,
                desc: share.descContent,
                link: share.lineLink,
                imgUrl: share.imgUrl,
                success : function() {

                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
        })
		if(url_id==1 || url_id=="1.html"){
			$(".ad_box a").attr("href","http://cdn.daw.so/mrjs/mrjs-mk28-P80098A-0907.apk");
		}else if(url_id==2 || url_id=="2.html"){
			$(".ad_box a").attr("href","http://cdn.daw.so/mrjs/mrjs-mk29-P80099A-0907.apk");
		}else if(url_id==3 || url_id=="3.html"){
			$(".ad_box a").attr("href","http://cdn.daw.so/mrjs/mrjs-mk30-P80100A-0907.apk");
		}
		else if(url_id==4 || url_id=="4.html"){
			$(".ad_box a").attr("href","http://cdn.daw.so/mrjs/mrjs-mk34-P80104A-0907.apk");
		}
		else if(url_id==5 || url_id=="5.html"){
			$(".ad_box a").attr("href","http://cdn.daw.so/mrjs/mrjs-mk35-P80105A-0907.apk");
		}
		else if(url_id==6 || url_id=="6.html"){
			$(".ad_box a").attr("href","http://cdn.daw.so/mrjs/mrjs-mk36-P80106A-0907.apk");
		}
		else if(url_id==7 || url_id=="7.html"){
			$(".ad_box a").attr("href","http://cdn.daw.so/mrjs/mrjs-mk37-P80107A-0907.apk");
		}
		else if(url_id==8 || url_id=="8.html"){
			$(".ad_box a").attr("href","http://cdn.daw.so/mrjs/mrjs-mk38-P80108A-0907.apk");
		}
		else if(url_id==9 || url_id=="9.html"){
			$(".ad_box a").attr("href","http://cdn.daw.so/mrjs/mrjs-mk39-P80109A-0907.apk");
		}
		else if(url_id==10 || url_id=="10.html"){
			$(".ad_box a").attr("href","http://cdn.daw.so/mrjs/mrjs-mk40-P80110A-0907.apk");
		}
		else if(url_id==11 || url_id=="11.html"){
			$(".ad_box a").attr("href","http://cdn.daw.so/mrjs/mrjs-mk41-P80111A-0907.apk");
		}
		else if(url_id==12 || url_id=="12.html"){
			$(".ad_box a").attr("href","http://cdn.daw.so/mrjs/mrjs-mk42-P80112A-0907.apk");
		}
		else if(url_id==13 || url_id=="13.html"){
			$(".ad_box a").attr("href","http://cdn.daw.so/mrjs/mrjs-mk43-P80113A-0907.apk");
		}
		else if(url_id==14 || url_id=="14.html"){
			$(".ad_box a").attr("href","http://cdn.daw.so/mrjs/mrjs-mk54-P80124A-0907.apk");
		}
		else if(url_id==15 || url_id=="15.html"){
			$(".ad_box a").attr("href","http://cdn.daw.so/mrjs/mrjs-mk55-P80125A-0907.apk");
		}
		else if(url_id==16 || url_id=="16.html"){
			$(".ad_box a").attr("href","http://cdn.daw.so/mrjs/mrjs-mk56-P80126A-0907.apk");
		}
		else if(url_id==17 || url_id=="17.html"){
			$(".ad_box a").attr("href","http://cdn.daw.so/mrjs/mrjs-mk57-P80127A-0907.apk");
		}
		else if(url_id==18 || url_id=="18.html"){
			$(".ad_box a").attr("href","http://cdn.daw.so/mrjs/mrjs-mk58-P80128A-0907.apk");
		}else if (name == 'share.html') {
            $(".ad_box a").attr("href","http://uri6.com/tkio/jEjmama?imei=[[_DYIMEI_]]&mac=[[_DYMAC_]]&dyaname=[[_DYANAME_]] ");
		}else{
			window.location.href="http://h5.zhengyuetech.com/index/fwy/share.html";
		}
	});
	</script>
</html>