body{
	background-color:#FFFEEC;
}
#Hero-bar{
	font-size:0;
}
.kv{
	width:100%;
	height:10.56rem;
	background:url(../images/kv.jpg) no-repeat center;
	background-size:100% 100%;
	position:relative;
	overflow: hidden;
}
.logo{
	display: block;
	width: 2.05rem;
	height: 0.82rem;
	position: absolute;
	top: 1.7rem;
	left: 1.65rem;
}
.slogan{
	display: block;
	width:6.24rem;
	height:3.8rem;
	position:absolute;
	top:2.8rem;
	left:0;
}
.play{
	display: block;
	width: 1.23rem;
	height: 1.31rem;
	position: absolute;
	top: 6.6rem;
	left: .5rem;
	animation: vGo 2s linear infinite;
	-webkit-animation: vGo 2s linear infinite;
}
@keyframes vGo{
	0%{transform: scale(0.9);}
	50%{transform: scale(1);}
	100%{transform: scale(1);}
}
@-webkit-keyframes vGo{
	0%{transform: scale(0.9);}
	50%{transform: scale(1);}
	100%{transform: scale(1);}
}
.dati{
	display: none;
	width:1.56rem;
	height:1.98rem;
	position:fixed;
	right:0;
	bottom:30%;
	z-index:99;
}
.download,.tap,.haoyou{
	width: 1.91rem;
	height: 0.82rem;
	position: absolute;
	overflow: hidden;
	left: 50%;
	bottom: 0.59rem;
	margin-left: -0.955rem;
}
.tap{
	left:0.2rem;
	margin:0;
}
.haoyou{
	left:inherit;
	right:0.2rem;
	margin:0;
}
.download a,.order a,.tap a,.haoyou a{
	display: block;
	width:100%;
	height:100%;
}
.download a img,.order a img,.tap a img,.haoyou a img{
	display: block;
	width:100%;
	height:100%;
}
.download.active a img:nth-child(1){
	display: none;
}
.order{
	width: 2.79rem;
	height: 1.09rem;
	position: absolute;
	overflow: hidden;
	right: .3rem;
	bottom: 0.59rem;
	display: none;
}
.list{
	width:100%;
	height:9.9rem;
	background:url(../images/n_bg.jpg) no-repeat center;
	background-size:100% 100%;
	position:relative;
	overflow: hidden;
}
.main{
	width:5.8rem;
	height:100%;
	position:relative;
	margin:0 auto;
	font-size:0;
}
.z_banner{
	width:100%;
	height:3.08rem;
	overflow: hidden;
	position:relative;
}
.z_banner ul{
	width:100%;
	height:3.08rem;
	position:relative;
}
.z_banner ul li{
	width:100%;
	height:3.08rem;
	overflow: hidden;
	position:relative;
}
.z_banner ul li a{
	display: block;
	width:100%;
	height:100%;
}
.z_banner ul li a img{
	display: block;
	width:100%;
	height:100%;
}
.z_banner ul li p{
	width:100%;
	height:0.45rem;
	background:url(../images/t_bg.png) no-repeat center;
	background-size:100% 100%;
	overflow: hidden;
	position:relative;
	bottom:0.45rem;
	font-size:0.2rem;
	color:#dddcd1;
	line-height:0.45rem;
	text-indent:0.15rem;
}
.swiper-pagination{
	text-align: right;
	font-size:0;
}
.swiper-pagination-bullet{
	width:0.1rem;
	height:0.1rem;
	background-color:#899696;
	border-radius: 50%;
	opacity: 1;
}
.swiper-pagination-bullet-active{
	width:0.23rem;
	height:0.1rem;
	background-color:#f0690c;
	border-radius: 5px;
}
.news_list{
	width:100%;
	height:4.85rem;
	background-color:#fff;
	position:relative;
	overflow: hidden;
}
.title{
	width:5.35rem;
	height:0.8rem;
	border-bottom:1px solid #dcdcdc;
	font-size:0;
	margin:0 auto;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}
.title li{
	width:1.05rem;
	height:0.4rem;
	font-size:0.26rem;
	color:#000;
	transition: all 0.5s;
	line-height:0.4rem;
	margin-top:0.22rem;
	text-align: center;
}
.title li.active{
	color:#fff;
	background-color:#ec6202;
	border-radius: 0.2rem;
}
.m_news{
	width:5.35rem;
	height:3rem;
	position:relative;
	margin:0.12rem auto 0;
	overflow: hidden;
}
.m_news ul{
	display: none;
}
.m_news ul.active{
	display: block;
}
.m_news ul li{
	width:100%;
	height:0.6rem;
	position:relative;
	font-size:0.22rem;
	line-height:0.6rem;
}
.m_news ul li a{
	display: block;
	width:4.2rem;
	color:#333;
	float:left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.m_news ul li i{
	display: block;
	font-style: normal;
	float:right;
	font-size:0.16rem;
	color:#999;
}
.more{
	display: block;
	width:1.8rem;
	height:0.4rem;
	border:1px dashed #fdc457;
	border-radius: 0.2rem;
	margin:0 auto;
	font-size:0.2rem;
	line-height:0.4rem;
	text-indent:0.35rem;
	color:#ec6b2b;
	position:relative;
}
.more img{
	display: block;
	width:0.18rem;
	height:0.18rem;
	position:absolute;
	top:0.12rem;
	right:0.4rem;
}
.kun,.forum{
	float:left;
	width:2.9rem;
	height:1.98rem;
	overflow: hidden;
	position:relative;
}
.kun a,.forum a{
	display: block;
	width:100%;
	height:100%;
}
.kun a img,.forum a img{
	display: block;
	width:100%;
	height:100%;
}
.forum{
	float:right;
}
.game_tj{
	width:100%;
	height:8.36rem;
	position:relative;
	overflow: hidden;
}
.game_tj .game_title{
	display: block;
	width:1.51rem;
	height:.43rem;
	margin:0.4rem 0 0.3rem 0;
}
.game_tj .game_con{
	width:100%;
	height:7.25rem;
	position:relative;
}
.game_tj .game_con .game_con_ul{
	width:100%;
	height:1.65rem;
	background-color:#fff;
}
.game_tj .game_con .game_con_ul li{
	width:1.05rem;
	height:0.4rem;
	float:left;
	font-size:0.26rem;
	color:#444;
	border-radius: 0.2rem;
	text-align: center;
	line-height:0.4rem;
	border:1px solid #fff2e2;
	margin-top:0.26rem;
	margin-right:0.88rem;
}
.game_tj .game_con .game_con_ul li:nth-child(1){
	margin-left:0.26rem;
}
.game_tj .game_con .game_con_ul li:nth-child(4){
	margin-left:0.26rem;
}
.game_tj .game_con .game_con_ul li:nth-child(3){
	margin-right:0;
}
.game_tj .game_con .game_con_ul li:nth-child(6){
	margin-right:0;
}
.game_tj .game_con .game_con_ul li.active{
	background-color:#f26c10;
	color:#fff;
}
.game_tj .game_con .game_body{
	width:5.8rem;
	height:5.59rem;
	background:url(../images/hd_bg.jpg) no-repeat center;
	background-size:100% 100%;
	overflow: hidden;
	position:relative;
}
.game_tj .game_con .game_body .game_ul{
	display: none;
	width:100%;
	height:5.4rem;
	overflow: auto;
	position:relative;
}
.game_tj .game_con .game_body .game_ul li{
	width:1rem;
	height:1rem;
	background:url(../images/li_bg.png) no-repeat center;
	background-size:100% 100%;
	overflow: hidden;
	float:left;
	margin-left:0.32rem;
	margin-top:0.4rem;
}
.game_tj .game_con .game_body ul li img{
	display: block;
	width:100%;
	height:100%;
}
.game_tj .game_con .game_body ul li.active{
	background:url(../images/li_active.png) no-repeat center;
	background-size:100% 100%;
}
.game_tj .game_con .game_body .game_ul.active{
	display: block;
}
.game_tj .game_con .game_body .game_ul::-webkit-scrollbar{
   width:0.08rem;
} 
.game_tj .game_con .game_body .game_ul::-webkit-scrollbar-thumb{
   -webkit-border-radius:4px;
   border-radius:4px;
   background:#eb7a39; /* 滚条内嵌颜色 */
}
.tc_banner{
	width:100%;
	height:100%;
	position:fixed;
	background-color:rgba(0,0,0,.8);
	position:fixed;
	z-index:9999999;
	left:0;
	top:0;
	display: none;
}
.tc_banner .tc_main{
	width:5.63rem;
	height:5.77rem;
	background:url(../images/float.png) no-repeat center;
	background-size:100% 100%;
	position:relative;
	margin:0 auto;
	top:45%;
	transform: translate(0,-45%);
	-webkit-transform: translate(0,-45%);
}
.tc_banner .tc_main .f_close{
	display: block;
	width:0.74rem;
	height:0.74rem;
	position:absolute;
	right:-0.3rem;
	top:-0.3rem;
}
.tc_banner .tc_main .f_close img{
	display: block;
	width:100%;
	height:100%;
}
.tc_banner .tc_main .tc_swiper{
	width:4.96rem;
	height:100%;
	overflow: hidden;
	position:relative;
	margin:0 auto;
	display: none;
}
.tc_banner .tc_main .tc_swiper.active{
	display: block;
}
.tc_banner .tc_main .tc_swiper li{
	width:100%;
	height:100%;
	position:relative;
	overflow: hidden;
}
.tc_banner .tc_main .tc_swiper li .f_img{
	width:1.4rem;
	height:1.4rem;
	background:url(../images/li_active.png) no-repeat center;
	background-size:100% 100%;
	overflow: hidden;
	margin:0.42rem auto 0;
}
.tc_banner .tc_main .tc_swiper li .f_img img{
	display: block;
	width:100%;
	height:100%;
}
.tc_banner .tc_main .tc_swiper li .f_title{
	font-size:0.4rem;
	color:#4d3427;
	text-align: center;
	font-weight:bold;
	margin-top:0.1rem;
	padding-bottom:0.25rem;
	border-bottom:1px dashed #d2d2d2;
}
.tc_banner .tc_main .tc_swiper li .li_info{
	width:100%;
	height:3.05rem;
	position:relative;
	overflow: hidden;
}
.tc_banner .tc_main .tc_swiper li .li_info .list_dash{
	width:100%;
	overflow: hidden;
	position:relative;
	margin-top:0.32rem;
}
.tc_banner .tc_main .tc_swiper li .li_info .list_dash i{
	display: block;
	width:1.1rem;
	height:0.36rem;
	background-color:#ff9804;
	line-height:0.36rem;
	text-align: center;
	font-size:0.22rem;
	color:#fff;
	font-style: normal;
	border-radius: 0.2rem;
	float:left;
	margin-right:0.18rem;
}
.tc_banner .tc_main .tc_swiper li .li_info .list_dash span{
	display: block;
	width:3.6rem;
	overflow: hidden;
	float:left;
	font-size:0.22rem;
	color:#333;
	line-height:0.34rem;
}
.tc_banner .tc_main .tc_swiper li .li_info .list_dash span.first_span img{
	display: block;
	width:0.32rem;
	height:0.32rem;
	margin-right:0.1rem;
	float:left;
}
.tc_banner .tc_main .tc_swiper li .li_info .list_dash span .img_get{
	width:0.6rem;
	height:0.6rem;
	background:url(../images/li_bg.png) no-repeat center;
	background-size:100% 100%;
	overflow: hidden;
	position:relative;
	float:left;
	margin-right:0.3rem;
}
.tc_banner .tc_main .tc_swiper li .li_info .list_dash span .img_get img{
	display: block;
	width:100%;
	height:100%;
}
.tc_banner .tc_main .tc_swiper li .li_info .list_dash .jia{
	display: block;
	width:0.13rem;
	height:0.13rem;
	position:absolute;
	left:0;
	top:0;
}
.tc_banner .tc_main .tc_swiper li .li_info .list_dash .jia.jia1{
	left:1.99rem;
	top:0.24rem;
}
.tc_banner .tc_main .tc_swiper li .li_info .list_dash .jia.jia2{
	left:2.87rem;
	top:0.24rem;
}
.tc_banner .tc_main .tc_swiper li .li_info .list_dash .jia.jia3{
	left:3.77rem;
	top:0.24rem;
}
.tc_banner .tc_main .tc_swiper .p_prev{
	width:0.18rem;
	height:0.45rem;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	background:url(../images/n_nav_h.png) no-repeat center;
	background-size:100% 100%;
	overflow: hidden;
	position:absolute;
	left:0;
	top:0.9rem;
	z-index:2;
}
.tc_banner .tc_main .tc_swiper .p_next{
	width:0.18rem;
	height:0.45rem;
	/*transform: rotate(180deg);*/
	/*-webkit-transform: rotate(180deg);*/
	background:url(../images/n_nav_h.png) no-repeat center;
	background-size:100% 100%;
	overflow: hidden;
	position:absolute;
	right:0;
	top:0.9rem;
	z-index:2;
}
.tc_banner .tc_main .tc_swiper .p_next.swiper-button-disabled{
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	background:url(../images/n_nav.png) no-repeat center;
	background-size:100% 100%;
}
.tc_banner .tc_main .tc_swiper .p_prev.swiper-button-disabled{
	transform: rotate(0);
	-webkit-transform: rotate(0);
	background:url(../images/n_nav.png) no-repeat center;
	background-size:100% 100%;
}
.show_pic{
	width:5.8rem;
	height:4.08rem;
	position:relative;
	overflow: hidden;
	margin:0 auto;
}
.top_tit{
	width:100%;
	height:1.13rem;
}
.top_tit h3{
	font-size:0.265rem;
	color:#333;
	padding:.6rem 0 0 .06rem;
}
.top_tit h3 img{
	display: block;
	float:left;
	width:0.4rem;
	height:0.35rem;
	margin-right:0.05rem;
}
.t_banner{
	width:100%;
	height:2.96rem;
	position:relative;
	overflow: hidden;
}
.t_banner ul{
	width:100%;
	height:100%;
	position:relative;
}
.t_banner ul li{
	width:100%;
	height:100%;
	position:relative;
}
.t_banner ul li a{
	display: block;
	width:100%;
	height:100%;
}
.t_banner ul li a img{
	display: block;
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}
.t_banner ul li p{
	font-size:0.22rem;
	color:#fff;
	text-shadow: 0 2px 0 #000;
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	font-weight:bold;
	line-height:0.54rem;
	text-indent:0.16rem;
}
.t_banner ul li p span{
	float:right;
	font-weight:normal;
	font-size:0.16rem;
	margin-right:0.23rem;
}
.swiper-pagination1{
	width:100%;
	font-size:0;
}
.swiper-button-prev,.swiper-button-next{
	width:0.22rem;
	height:0.54rem;
	overflow: hidden;
	background:none;
}
.swiper-button-prev img{
	display: block;
	width:100%;
	height:100%;
}
.swiper-button-next img{
	display: block;
	width:100%;
	height:100%;
}
.swiper-button-next img:nth-child(1){
	transform: rotate(180deg);
}
.swiper-button-prev img:nth-child(2){
	transform: rotate(180deg);
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
	opacity: 1;
}
.swiper-button-prev.swiper-button-disabled img:nth-child(1){
	display: none;
}
.swiper-button-next.swiper-button-disabled img:nth-child(1){
	display: none;
}
.swiper-pagination1 .swiper-pagination-bullet{
	width: 0.1rem;
    height: 0.1rem;
    background-color: #899696;
    border-radius: 50%;
    opacity: 1;
}
.swiper-pagination1{
	position: absolute;
    text-align: center;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 10;
}
.swiper-pagination1 .swiper-pagination-bullet-active{
	width: 0.23rem;
    height: 0.1rem;
    background-color: #f0690c;
    border-radius: 5px;
}
.information{
    width: 100%;
    height: 4.8rem;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 0.1rem;
}
.information .top_tit{
	top: 0.55rem;
    position: relative;
    left: 0.3rem;
}
.information .top_tit img{
	display: block;
	width:auto;
	height:.39rem;
}
.tab_con{
	width:100%;
	height:4.55rem;
	position:relative;
	overflow: hidden;
	background-color:#fff;
}
.information .tab_con{
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    top: -0.4rem;
}
.information .tab_con a{
	width:100%;
	display: block;
}
.information .tab_con img{
	width:100%;
	height:auto;
}
.tab_con .tab_ul{
	width:5.33rem;
	height:0.89rem;
	position:relative;
	margin:0 auto;
	border-bottom:1px solid #dcdcdc;
}
.tab_con .tab_ul li{
	width:1.05rem;
	height:0.4rem;
	font-size:0.26rem;
	color:#070707;
	position:relative;
	overflow: hidden;
	float:left;
	border-radius: 0.2rem;
	text-align: center;
	line-height:0.4rem;
	margin-top:0.3rem;
}
.tab_con .tab_ul li.active{
	background-color:#f57117;
	color:#fff;
}
.content{
	width:5.35rem;
	height:2.6rem;
	overflow: hidden;
	position:relative;
	margin:0 auto;
}
.content ul{
	display: none;
	margin-top:0.2rem;
}
.content ul.active{
	display: block;
}
.content ul li{
	width:100%;
	height:0.6rem;
	line-height:0.6rem;
	position:relative;
	font-size:0.22rem;
}
.content ul li a{
	display: block;
	width:4.15rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color:#333;
	float:left;
	font-size:0.22rem;
}
.content ul li i{
	font-size:0.16rem;
	color:#999;
	float:right;
	font-style: normal;
}
.tab_con .more{
	margin:0.22rem auto 0;
}
.special{
    width: 100%;
    height: 5.8rem;
    position: relative;
    overflow: hidden;
}
.special .top_tit{
	width:5.8rem;
	height:1.02rem;
	margin:0 auto;
	position:relative;
}
.special .top_tit h3{
	position:absolute;
	top:0.55rem;
	left:0.06rem;
	padding:0;
}
.s_banner{
	width:100%;
	height:4.40rem;
	position:relative;
	overflow: hidden;
	font-size:0;
	margin-top:0.08rem;
}
.s_banner li{
	width:100%;
	height:4.46rem;
	position:relative;
	overflow: hidden;
}
.s_banner li a{
	display: block;
	width:100%;
	height:100%;
}
.s_banner li a img{
	display: block;
	width:100%;
	height:100%;
}
.swiper-pagination2{
	width:100%;
	font-size:0;
	position: absolute;
    text-align: center;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 10;
}
.zhuanqu{
	width:5.8rem;
	height:4.65rem;
	position:relative;
	margin:0 auto;
	overflow: hidden;
}
.zhuanqu .top_tit{
	height:1.05rem;
}
.zhuanqu .top_tit img{
	width:0.3rem;
	height:0.38rem;
}
.zhuanqu .top_tit h3{
	padding:0.57rem 0 0 0.06rem;
}
.e_banner{
	width:100%;
	height:2.7rem;
	position:relative;
	overflow: hidden;
}
.e_banner ul li{
	width:100%;
	height:2.7rem;
	position:relative;
	overflow: hidden;
}
.e_banner ul li a{
	display: block;
	width:100%;
	height:100%;
}
.e_banner ul li a img{
	display: block;
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}
.e_banner ul li p{
	width:100%;
	height:0.45rem;
	background:url(../images/t_bg.png) no-repeat center;
	background-size:100% 100%;
	position:absolute;
	left:0;
	bottom:0;
	font-size:0.2rem;
	color:#fff;
	line-height:0.45rem;
	text-indent:0.1rem;
}
.swiper-pagination3{
	width: 100%;
    font-size: 0;
    position: absolute;
    text-align: right;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 10;
}
.zhuanqu .c_more{
	width:100%;
	height:0.9rem;
	background-color:#fff;
	position:relative;
	overflow: hidden;
}
.zhuanqu .c_more .more{
	margin-top:0.2rem;
}
.c_footer{
	width:100%;
	height:9.3rem;
	background-color:#222;
}
.c_footer ul{
	width:6rem;
	height:100%;
	overflow: hidden;
	position:relative;
	margin:0 auto;
}
.c_footer ul li{
	width:100%;
	height:2.27rem;
	border-bottom:1px solid #393939;
}
.c_footer ul li .c_li{
	width:100%;
	height:1.42rem;
	padding-top:0.42rem;
	font-size:0;
	position:relative;
}
.l_code{
	width:1.42rem;
	height:1.42rem;
	background:url(../../images/l_code.png) no-repeat center;
	background-size:100% 100%;
	position:relative;
	overflow: hidden;
	margin-left:0.05rem;
	float:left;
}
.l_code img{
	display: block;
	width:1.32rem;
	height:1.32rem;
	margin:0.05rem auto 0;
}
.c_footer_p{
	height:100%;
	float:left;
	font-size:0;
	margin-left:0.15rem;
	position:relative;
}
.c_footer_p p{
	font-size:0.2rem;
	color:#b1ab9b;
	width:4.1rem;
}
.c_footer_p p.f_p{
	font-size:0.26rem;
	color:#f99d34;
}
.c_footer_p p.s_p{
	margin-top:0.1rem;
}
.c_footer_p p.t_p{
	position:absolute;
	bottom:0;
	left:0;
}
.c_footer_p p span{
	color:#f99d34;
}
.c_footer li:nth-child(4){
	border-bottom:none;
}
.c_footer li:nth-child(4) .l_code{
	background:none;
}
.c_footer li:nth-child(4) .l_code img{
	width:1.4rem;
	height:1.4rem;
}
.login {
	width: 5.62rem;
	height: 6.63rem;
	background: url("../images/login.png") no-repeat center top;
	background-size: 100% 100%;
	position: fixed;
	top: 1.28rem;
	left: 50%;
	z-index: 99999;
	margin-left: -2.81rem;
	display: none
}

.login h3 {
	position: absolute;
	top: 3rem;
	font-size: 0.21rem;
	font-weight: normal;
	color: #666;
	width: 4.85rem;
	margin-left: 0.36rem;
	line-height: 0.32rem
}

.login .tel {
	width: 4.85rem;
	height: 0.64rem;
	text-indent: 0.32rem;
	font-size: 0.25rem;
	color: #000;
	position: absolute;
	top: 4.1rem;
	left: 0.36rem;
	border: 1px solid #dadada;
	background-color: #f8f8f8
}
.login .email{
	width: 4.85rem;
	height: 0.64rem;
	text-indent: 0.32rem;
	font-size: 0.25rem;
	color: #000;
	position: absolute;
	top: 4.35rem;
	left: 0.36rem;
	border: 1px solid #dadada;
	background-color: #f8f8f8
}
.login .login_p{
	font-size:0.21rem;
	color:#666;
	margin-left: 0.36rem;
	position:absolute;
	top: 5.18rem;
} 
.tel:-ms-input-placeholder {
	color: #ccc
}

.tel::-webkit-input-placeholder {
	color: #ccc
}

.tel::-moz-placeholder {
	color: #ccc
}

.tel:-moz-placeholder {
	color: #ccc
}
.email:-ms-input-placeholder {
	color: #ccc
}

.email::-webkit-input-placeholder {
	color: #ccc
}

.email::-moz-placeholder {
	color: #ccc
}

.email:-moz-placeholder {
	color: #ccc
}
.login .code {
	width: 3.12rem;
	height: 0.78rem;
	text-indent: 0.32rem;
	font-size: 0.25rem;
	color: #000;
	position: absolute;
	top: 4.4rem;
	left: 0.36rem;
	border: 1px solid #dadada;
	background-color: #f8f8f8
}

.code:-ms-input-placeholder {
	color: #ccc
}

.code::-webkit-input-placeholder {
	color: #ccc
}

.code::-moz-placeholder {
	color: #ccc
}

.code:-moz-placeholder {
	color: #ccc
}

button {
	border: 0;
	outline: 0
}

.login .btn {
	width: 1.62rem;
	height: 0.8rem;
	background-color: #a18683;
	color: #fff;
	text-align: center;
	line-height: .8rem;
	position: absolute;
	top: 4.4rem;
	right: 0.38rem
}

.login .lgyy {
	display: block;
	width: 4.85rem;
	height: 0.8rem;
	background-color: #f3a100;
	color: #fff;
	font-size: 0.44rem;
	text-align: center;
	line-height: 0.8rem;
	position: absolute;
	left: 0.36rem;
	bottom: 0.56rem
}

.login .close {
	width: 0.61rem;
	height: 0.61rem;
	background: url("../images/close.png") no-repeat center top;
	background-size: 100% 100%;
	position: absolute;
	top: 1.4rem;
	right: 0.16rem
}

.login .ios {
	position: absolute;
	top: 2.97rem;
	left: 0.32rem
}

.login .ios span {
	color: #505050;
	font-size: 0.32rem;
	padding-left: 0.1rem
}

.login .android {
	position: absolute;
	top: 3.52rem;
	left: 2.56rem
}

.login .android span {
	color: #505050;
	font-size: 0.32rem;
	padding-left: 0.1rem
}

.mask {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	display: none;
	background: url("../images/d.png") repeat
}

/*油菜花模块*/
.ych .hidden{display:none!important;}
.ych img{
	width:100%;
	height:100%;
}
.ych{
	width: 5.8rem;
	height: 9.2rem;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}
.ych .top_tit h3 a{
	color: #333;
}
.ych .tab_con {height: 8rem;}
.ych .tab_con .tab_ul li{margin-right:.9rem;}
.ych .tab_con .tab_ul li:last-of-type{margin-right:0;}
.ych .more img {
	width: 0.18rem!important;
	height: 0.18rem!important;
}

.sel_box ul li{
	width: 2.8rem;
	float: left;
	margin-top: 0.2rem;
	box-shadow: 0.03rem 0.03rem 0.05rem #ddd;
}
.sel_box ul li .list_img{
	width: 2.8rem;
	height: 2.12rem;
	overflow: hidden;
	position: relative;
}
.sel_box ul li .list_img img{
	height: auto!important;
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
	-webkit-transform: translate(0,-50%);
}
.sel_box ul li .list_img i{
	width:100%;
	height:100%;
	display: block;
	background-color: rgba(0,0,0,.6);
	position: absolute;
	top:0;
	left:0;
}
.sel_box ul li .video_p{
	width: 0.77rem;
	height: 0.75rem;
	background: url(../images/list_play.png) no-repeat center;
	background-size: 100% 100%;
	display: block;
	position: absolute;
	left:50%;
	top: 50%;
	margin-top:-0.375rem;
	margin-left:-0.385rem;
	z-index:3;
}
.sel_box .list_info{
	width:100%;
	height:0.65rem;
	background-color: #fff;
	position: relative;
}
.sel_box .list_info .info_tl{
	margin-left: 0.096rem;
	width: 1.92rem;
	height:100%;
}
.sel_box .list_info .info_tl p:nth-child(1){
	color: #5f5f5f;
	font-size:0.24rem;
	width:100%;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 0.32rem;
	min-height:0.32rem;
}
.sel_box .list_info .info_tl p:nth-child(2){
	color: #ff7800;
	font-size: 0.2rem;
	padding-left: 0.288rem;
	display:block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 0.288rem;
	position: relative;
	min-height:0.288rem;
}
.sel_box .list_info .info_tl p:nth-child(2) i{
	width: 0.14rem;
	height: 0.16rem;
	background: url(../images/peo1.png) no-repeat center;
	background-size: 100% 100%;
	display: block;
	position: absolute;
	left: 0.064rem;
	top: 0.064rem;
}
.sel_box .info_hot{
	width: 0.64rem;
	height: 0.48rem;
	position: absolute;
	right: 0;
	top: 0.096rem;
}
.sel_box .info_hot i{
	width: 0.22rem;
	height: 0.25rem;
	background: url(../images/fire.png) no-repeat center;
	background-size: 100% 100%;
	display: block;
	position: absolute;
	left:50%;
	margin-left:-0.11rem;
}
.sel_box .info_hot span{
	display: block;
	width:100%;
	text-align: center;
	font-size:0.15rem;
	color: #ec4646;
	position: absolute;
	bottom:0;
}
/*ych-part-video*/
.sel_box1{
	overflow: hidden;
	padding-bottom: 0.16rem;
	height: 6.1rem;
}
.sel_box1 li{
	float: left;
}
.sel_box1 li:nth-child(2n){
	float: right;
}

/*弹窗*/
.co_tips img{
	width:100%;
	height:100%;
}
.co_tips.hidden,.co_tips .hidden{display:none!important;}
.co_tips {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.9);
	position: fixed;
	z-index: 9999999;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.co_tips .scroll {
	height: 100%;
	overflow-y: auto;
}
.co_tips .close{
	z-index: 100;
	position: absolute;
	right: 0.16rem;
	top: 0.32rem;
	width: 0.56rem;
	height: 0.56rem;
}
.co_tips .detail_btn{
	display: block;
	font-size: 0.384rem;
	width: 96%;
	margin: 0 auto;
	height: 0.96rem;
	margin-top: .2rem;
	background: #bf5e35;
	color: #fff;
	text-align: center;
	line-height: 0.96rem;
}
.w_imgbox{
	position: relative;
	width: 5.96rem;
	margin: 0.64rem auto;
}
.w_imgbox .big_img{
	position: relative;
	width: 5.96rem;
	height: 7.39rem;
	margin-bottom: 0.096rem;
	background: url(../images/big_imgbg.png);
	background-size: 100% 100%;
}
.w_imgbox .big_img>div{
	width: 5.65rem;
	height: 5.25rem;
	margin: 0 auto;
	position: relative;
	top: 1.984rem;
}
.w_imgbox .big_img img{
	position: absolute;
	width: auto;
	height: auto;
	max-width: 90%;
	max-height: 90%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.w_imgbox .w_swiper_box{
	position:relative;
	width:5.96rem;
	height:2.19rem;
	margin-bottom: 0.096rem;
	background: url(../images/sm_imgbg.png);
	background-size: 100% 100%;
}
.w_imgbox .w_swiper_box #swiper3{
	position:absolute;
	left:50%;
	top:50%;
	width: 4.74rem;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
}
.w_imgbox .w_swiper_box .swiper-button-prev3{
	position:absolute;
	top:50%;
	left:0.2rem;
	width: 0.17rem;
	height: 0.36rem;
	transform:translate(0,-50%);
	-webkit-transform:translate(0,-50%);
	background: url("../images/w_prev.png") no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
}
.w_imgbox .w_swiper_box .swiper-button-next3{
	position:absolute;
	top:50%;
	right:0.2rem;
	width: 0.17rem;
	height: 0.36rem;
	transform:translate(0,-50%);
	-webkit-transform:translate(0,-50%);
	background: url("../images/w_next.png") no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
}
.w_imgbox .w_swiper_box .w_sm_gun{
	width: 1.32rem;
	height: 1.17rem;
	border:2px solid transparent;
	position: relative;
	cursor: pointer;
}
.w_imgbox .w_swiper_box .swiper-slide.active .w_sm_gun{
	border:2px solid #ff9000;
}
.w_imgbox .w_swiper_box .swiper-slide .w_sm_gun>img{
	display: inline-block;
	width:100%;
}
.w_imgbox .txt_info{
	position: relative;
	width: 5.96rem;
	height: 2.19rem;
	background: url(../images/txt_imgbg.png);
	background-size: 100% 100%;
}
.w_imgbox .txt_info .list_info{
	position: relative;
	width: 5.44rem;
	height: 1.55rem;
	margin: 0 auto;
	top: 0.32rem;
}
.w_imgbox .txt_info .list_info .top{
	width:100%;
	height:0.64rem;
}
.w_imgbox .txt_info .list_info .desc{
	width: 100%;
	font-size: 0.22rem;
	color: #707070;
	height: 0.96rem;
	line-height: 0.32rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.w_imgbox .txt_info .list_info .info_tl{
	width: 2.816rem;
	height: 0.64rem;
	line-height: 0.32rem;
	float: left;
}
.w_imgbox .txt_info .list_info .info_tl p{
	color: #707070;
	font-size: 0.24rem;
	width: 100%;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 0.288rem;
}
.w_imgbox .txt_info .list_info .info_tl p>span{
	color:#0C0C0B;
}
.w_imgbox .txt_info .info_hot{
	position: relative;
	float: left;
	width: 0.59rem;
	height: 0.48rem;
	margin-top: 0.096rem;
}
.w_imgbox .txt_info .info_hot i{
	width: 0.22rem;
	height: 0.25rem;
	background: url(../images/fire.png) no-repeat center;
	background-size: 100% 100%;
	display: block;
	position: absolute;
	left:50%;
	margin-left:-0.11rem;
}
.w_imgbox .txt_info .info_hot span{
	display: block;
	width:100%;
	text-align: center;
	font-size:0.15rem;
	color: #ec4646;
	position: absolute;
	bottom:0;
}
.w_imgbox .txt_info .good{
	float:right;
	width: 2rem;
	height: 0.44rem;
	margin-top: 0.096rem;
	background: url(../images/good_btn.png) no-repeat center;
	background-size: 100% 100%;
}
.w_imgbox .tips_video{
	position: relative;
	width: 5.96rem;
	height: 5.96rem;
	margin-bottom: 0.096rem;
	background: url(../images/big_imgbg1.png);
	background-size: 100% 100%;
}
.w_imgbox .tips_video>div{
	position: relative;
	width: 5.65rem;
	height: 3.83rem;
	margin: 0 auto;
	top: 1.984rem;
}
.w_imgbox .tips_video i {
	width:100%;
	height: 100%;
	display: block;
	background-color: rgba(0,0,0,.6);
	position: absolute;
	top: 0;
	left: 0;
}
.w_imgbox .tips_video .video_p {
	width: 1.07rem;
	height: 1.04rem;
	background: url(../images/list_play.png) no-repeat center;
	background-size: 100% 100%;
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -0.52rem;
	margin-left: -0.535rem;
	z-index: 3;
}

/*特色查看大图弹框*/
.b_img{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.9);
	position:fixed;
	left:0;
	top:0;
	z-index:99999;
	display: none;
}
.b_img .scroll{
	height: 100%;
	overflow-y: auto;
}
.b_img .swiper-container {
	width: 5.76rem;
	position: relative;
	top: 50%;
	margin-bottom: 0.48rem;
	transform: translate(0,-50%);
	-webkit-transform: translate(0,-50%);
}
.b_img .swiper-container.active{
	transform: none;
	-webkit-transform: none;
	top: 2rem;
}
.b_img .b_cimg {
	width: 5.76rem;
	position: relative;
	margin: 0 auto;
	/*margin-top: 1rem;*/
	/*top: 55%;*/
	/*border: 3px solid #ff9000;*/
	/*transform: translate(0,-50%);*/
	/*-webkit-transform: translate(0,-50%);*/
}
.b_img .close {
	display: none;
	width: 0.66rem;
	height: 0.66rem;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}
.b_img .b_cimg .z_img{
	display: block;
	max-width: 100%;
	margin: 0 auto;
}


.yx_tips_txt{
	position: absolute;
	width:115px;
	height: 48px;
	line-height: 48px;
	border-radius: 10px;
	background: #fff;
	text-align: center;
	left: 50%;
	margin-left: -49px;
	top: 50%;
	margin-top: -24px;
	color: #666;
	font-size:0.24rem;
}