{include '../layouts/pc/header.html'}
<!--内容-->
<div class="i_main">
	{include '../layouts/pc/top.html'}
	<div class="list list1">
		<div class="top_img"></div>
		<div class="nav_bar">
			<div class="wrap">
				<ul>
					<a href="/p/about.html"><li><i></i><span>基金会介绍</span></li></a>
					<a href="/p/structure.html"><li class="active"><i></i><span>组织架构</span></li></a>
					<a href="/p/rules.html"><li><i></i><span>规章制度</span></li></a>
					<a href="/p/contact.html"><li><i></i><span>联系我们</span></li></a>
				</ul>
			</div>
		</div>
		<div class="structure">
			<div class="wrap">
				<h3 class="h3">组织架构</h3>
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/structure.png?{$smarty.const.VERSION}" alt=""/>
			</div>
		</div>

		<!--footer-->
		{include '../layouts/pc/bottom.html'}
	</div>
</div>
{include '../layouts/pc/footer.html'}
