{include file="../layouts/pc/news_header.html"}
<div class="d_body n_body">
	<div class="top_ul">
		<div class="tab_ul">
			<a href="{myurl name='article/list, id=>709'}" class="d_back">< 返回列表</a>
			<div class="d_title">
				<h3>{$content.title}</h3>
				<p class="d_date">{$content.created_at_formate} 官方录入</p>
			</div>
		</div>
	</div>
</div>
<div class="detail_body">
	<div class="wrap">
		<div class="float">
			<div class="d_float">
				<div class="c_code">
					<div class="chengg"></div>
					<img src="" alt="" class="js_jump_img" />
				</div>
				<p class="wx">扫描下载游戏</p>
				<ul class="left_ul">
					<li>
						<a href="javascript:yx_showTips('敬请期待');" class="js_down_andriod stat_android">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/f_down.png?{$smarty.const.VERSION}" alt="" />
						</a>
					</li>
					<li>
						<a href="javascript:yx_showTips('敬请期待');" class="js_down_ios stat_ios" target="_blank">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/f_yuyue.png?{$smarty.const.VERSION}" alt="" />
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="d_content">
			{$content.body}
		</div>
	</div>
</div>
{include file="../layouts/pc/footer.html"}
</body>

</html>