@keyframes vGo {
	0% {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
	}
	50% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	100% {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
	}
}

@-webkit-keyframes vGo {
	0% {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
	}
	50% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	100% {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
	}
}

.header {
	width: 100%;
	height: 3.125rem;
	background-color: rgba(0, 0, 0, 0.9);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 20;
}

.header .icon {
	display: block;
	width: 3.75rem;
	height: 3.75rem;
	float: left;
	margin: 0.59375rem 0.625rem 0 0.625rem;
}

.header .icon img {
	display: block;
	width: 100%;
	height: 100%;
}

.header .header_txt {
	float: left;
	font-size: 1rem;
	color: #fff;
}

.header .header_txt p:nth-child(1) {
	margin-top: 0.6875rem;
}

.header .header_txt p:nth-child(2) {
	font-size: 0.5625rem;
	color: #b3947d;
}

.header .yuyue {
	display: block;
	width: 7.21875rem;
	height: 2.1875rem;
	float: right;
	margin: 0.46875rem 0.625rem 0 0.46875rem;
}

.kv {
	width: 100%;
	height: 34.21875rem;
	background: url(../images/kv.jpg) no-repeat center;
	background-size: 100% 100%;
	position: relative;
	overflow: hidden;
}

.kv .logo {
	display: block;
	width: 8.3125rem;
	height: 4.3125rem;
	position: absolute;
	left: 50%;
	margin-left: -4.15625rem;
	top: 3.8125rem;
}

.kv .slogan {
	display: block;
	width: 15.6875rem;
	height: 6.40625rem;
	position: absolute;
	left: 50%;
	margin-left: -7.84375rem;
	top: 8.4375rem;
}

.kv .play {
	display: block;
	width: 3.4375rem;
	height: 3.1875rem;
	position: absolute;
	left: 50%;
	margin-left: -1.71875rem;
	bottom: 15.84375rem;
	animation: vGo 2s linear infinite;
	-webkit-animation: vGo 2s linear infinite;
}

.kv .play img {
	display: block;
	width: 100%;
	height: 100%;
}

.kv .weibo {
	display: block;
	width: 3.15625rem;
	height: 2.5rem;
	position: absolute;
	top: 28.4375rem;
	left: 1.3125rem;
}

.kv .weibo img {
	display: block;
	width: 100%;
	height: 100%;
}

.kv .qzone {
	display: block;
	width: 3.15625rem;
	height: 2.5rem;
	position: absolute;
	top: 28.4375rem;
	right: 1.3125rem;
}

.kv .qzone img {
	display: block;
	width: 100%;
	height: 100%;
}

.kv .btn {
	display: block;
	width: 9.4375rem;
	height: 3.15625rem;
	position: absolute;
	left: 0.6875rem;
	bottom: 2.9375rem;
}
.steam{
	display: block;
	width: 8.5rem;
	height: 3.15625rem;
	position: absolute;
	right: 0.6875rem;
	bottom: 2.9375rem;
}
.steam img{
	display: block;
	width:100%;
	height:100%;
}
.second {
	width: 100%;
	height: 42.0625rem;
	background: url(../images/second.jpg) no-repeat center;
	background-size:100% 100%;
	position: relative;
	overflow: hidden;
}
.second .title{
	display: block;
	margin:2.5rem auto 0;
	width:5.96875rem;
	height:2.5rem;
}
.second .s_banner{
	width:18.4375rem;
	height:11.3125rem;
	position:relative;
	overflow: hidden;
	margin:2.1875rem auto 0;
}
.second .s_banner .m_banner{
	width:100%;
	height:10.375rem;
	position:relative;
	overflow: hidden;
}
.second .s_banner .m_banner li a img{
	display: block;
	width:18.4375rem;
	height:10.375rem;
}
.second .s_banner .swiper-pagination1{
	width:100%;
	position:absolute;
	text-align: center;
	bottom:0;
}
.second .s_banner .swiper-pagination1 .swiper-pagination-bullet{
	width:0.28125rem;
	height:0.28125rem;
	background:#fff;
	opacity: .3;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	margin:0 0.25rem;
	border-radius: 0;
}
.second .s_banner .swiper-pagination1 .swiper-pagination-bullet.swiper-pagination-bullet-active{
	width:0.34375rem;
	height:0.34375rem;
	opacity:1;
}
.m_news{
	width:18.4375rem;
	overflow: hidden;
	position:relative;
	margin:1.71875rem auto 0;
}
.tit_ul{
	width:100%;
	height:1.5rem;
	position:relative;
	display: flex;
	display: -webkit-flex;
	justify-content: space-around;
}
.tit_ul li{
	width:2.875rem;
	height:1.5rem;
	font-size:0.6875rem;
	color:#ece7cb;
	text-align: center;
	line-height:1.5rem;
}
.tit_ul li.active{
	background:url(../images/lia.png) no-repeat center;
	background-size:100% 100%;
	color:#f2ce8b;
}
.news_div{
	width:100%;
	overflow: hidden;
	position:relative;
}
.news_div>ul{
	display: none;
}
.news_div>ul.active{
	display: block;
}
.news_div ul li{
	width:100%;
	overflow: hidden;
	line-height:2.1875rem;
	font-size:0.6875rem;
}
.news_div ul li a{
	color:#929292;
}
.news_div ul li a em{
	display: block;
	float:left;
}
.news_div ul li a span{
	display: block;
	width:12.96875rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float:left;
}
.news_div ul li:nth-child(1){
	margin-top:0.5rem;
}
.news_div ul li a i{
	font-style: normal;
	float:right;
	display: block;
	font-size:0.675rem;
	color:#4b4b4b;
}
.more{
	display: block;
	width:18.125rem;
	height:2.8125rem;
	background-color:#082c51;
	border-radius: 1.5rem;
	margin:1.4375rem auto 0;
	line-height:2.8125rem;
	color:#8699ac;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
}
.more img{
	display: block;
	width:0.96875rem;
	height:0.96875rem;
	margin:0.95rem 0 0 0.4rem;
}
.main {
	width: 100%;
	height: 43rem;
	background: url(../images/main.jpg) no-repeat center;
	background-size: 100% 100%;
	overflow: hidden;
	position: relative;
}

.main .label {
	display: block;
	width: 16.59375rem;
	height: 2.71875rem;
	position: relative;
	margin: 2.46875rem auto 0;
}

.main .c_main {
	width: 18.75rem;
	height: 30.9375rem;
	background: url(../images/c_bg.png) no-repeat center;
	background-size: 100% 100%;
	overflow: hidden;
	position: relative;
	margin: 2.6875rem auto 0;
}

.main .c_main .c_txt {
	width: 13.5rem;
	/* overflow: hidden; */
	margin: 1.40625rem 0 0 3.75rem;
	font-size: 0.6875rem;
	color: #f9e4bd;
	line-height: 1.875rem;
	z-index: 6;
}

.main .c_main .banner {
	width: 17.09375rem;
	height: 17.9375rem;
	position: relative;
	margin: 0 auto;
	/* overflow: hidden; */
	z-index: 13;
}

.main .c_main .banner .title {
	display: block;
	width: 1.75rem;
	height: 1.90625rem;
	position: absolute;
	left: 2.9375rem;
	top: 2.8125rem;
}

.main .c_main .banner .person {
	display: block;
	width: 15.09375rem;
	height: 17.90625rem;
	position: absolute;
	top: -2.4rem;
	right: -1.78125rem;
	z-index: 17;
}

.main .c_main .banner .swiper-container {
	width: 17.09375rem;
	overflow: hidden;
	position: relative;
	margin-top: 5.8125rem;
	z-index: 32;
}

.main .c_main .banner .swiper-container ul li a img {
	display: block;
	width: 17.09375rem;
	height: 9.9375rem;
}

.main .c_main .banner .swiper-button-prev {
	width: 0.6875rem;
	height: 1.34375rem;
	background: url(../images/lr.png) no-repeat center;
	background-size: 100% 100%;
	overflow: hidden;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	position: absolute;
	left: 2rem;
	top: 17.9875rem;
	opacity: 1;
	z-index: 11;
}

.main .c_main .banner .swiper-button-next {
	width: 0.6875rem;
	height: 1.34375rem;
	background: url(../images/lr.png) no-repeat center;
	background-size: 100% 100%;
	overflow: hidden;
	position: absolute;
	right: 2rem;
	top: 17.9875rem;
	opacity: 1;
	z-index: 11;
}

.main .c_main .banner .swiper-pagination {
	width: 100%;
	text-align: center;
	bottom: 0rem;
}

.main .c_main .banner .swiper-pagination .swiper-pagination-bullet {
	width: 0.4375rem;
	height: 0.4375rem;
	background: url(../images/pag.png) no-repeat center;
	background-size: 100% 100%;
	overflow: hidden;
	opacity: 1;
	margin: 0 0.15625rem;
}

.main .c_main .banner .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: url(../images/pag_h.png) no-repeat center;
	background-size: 100% 100%;
}

.last {
	width: 100%;
	height: 44.25rem;
	background: url(../images/last.jpg) no-repeat center;
	background-size: 100% 100%;
	overflow: hidden;
	position: relative;
}

.last .label {
	display: block;
	width: 11.71875rem;
	height: 2.71875rem;
	margin: 3.1875rem auto 0;
}

.last .last_main {
	width: 21.875rem;
	height: 35.09375rem;
	background: url(../images/l_bg.png) no-repeat center;
	background-size: 100% 100%;
	position: relative;
	margin-top: 0.78125rem;
}

.last .last_main p {
	width: 15.78125rem;
	overflow: hidden;
	/* margin: 0 auto; */
	font-size: 0.6875rem;
	color: #f9e4bd;
	line-height: 1.8125rem;
	margin-top: 11rem;
	margin-left: 2.5rem;
}

.last .last_main span {
	width: 15.78125rem;
	overflow: hidden;
	margin: 0 auto;
	display: block;
	font-size: 0.6875rem;
	color: #f9e4bd;
	margin-top: 2.15625rem;
}

.login {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 50;
	display: none;
}

.login .c_login {
	width: 14.78125rem;
	height: 18.375rem;
	background: url(../images/login.png) no-repeat center;
	background-size: 100% 100%;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	top: 45%;
	transform: translate(0, -45%);
	-webkit-transform: translate(0, -45%);
}

.login .c_login .close {
	display: block;
	width: 0.84375rem;
	height: 0.84375rem;
	position: absolute;
	right: 0.40625rem;
	top: 0.25rem;
}

.login .c_login .login_main {
	width: 11rem;
	overflow: hidden;
	margin: 4.40625rem auto 0;
}

.login .c_login .login_main.active {
	margin: 3.40625rem auto 0;
}

.login .c_login .login_main.active .put_email {
	display: block;
}

.login .c_login .login_main .put_email {
	display: none;
}

.login .c_login .login_main .s_put {
	width: 100%;
	height: 1.875rem;
	position: relative;
	margin-top: 0.625rem;
}

.login .c_login .login_main .s_put .email {
	width: 10.90625rem;
	height: 1.8125rem;
	background-color: #ead5ad;
	color: #573f3e;
	line-height: 1.875rem;
	border: 1px solid #d0b88c;
	font-size: 0.625rem;
	text-indent: 0.8125rem;
	outline: none;
}

.login .c_login .login_main .s_put .phone {
	width: 10.90625rem;
	height: 1.8125rem;
	background-color: #ead5ad;
	color: #573f3e;
	line-height: 1.875rem;
	border: 1px solid #d0b88c;
	font-size: 0.625rem;
	text-indent: 0.8125rem;
	outline: none;
}

.login .c_login .login_main .s_put .t_yzm {
	width: 6.84375rem;
	height: 1.8125rem;
	border: 1px solid #d0b88c;
	background-color: #ead5ad;
	color: #573f3e;
	line-height: 1.875rem;
	font-size: 0.625rem;
	text-indent: 0.8125rem;
	outline: none;
	float: left;
}

.login .c_login .login_main .s_put .captcha {
	width: 3.70875rem;
	height: 1.8125rem;
	border: 1px solid #d0b88c;
	background-color: #fff6e6;
	float: right;
}

.login .c_login .login_main .s_put .captcha img {
	display: block;
	width: 3.43125rem;
	height: 1.53125rem;
	margin: 0.125rem auto 0;
}

.login .c_login .login_main .s_put .yzm {
	width: 6.84375rem;
	height: 1.8125rem;
	border: 1px solid #d0b88c;
	background-color: #ead5ad;
	color: #573f3e;
	line-height: 1.875rem;
	font-size: 0.625rem;
	text-indent: 0.8125rem;
	outline: none;
	float: left;
}

.login .c_login .login_main .s_put .g_code {
	width: 3.86875rem;
	height: 1.9125rem;
	border: 1px solid #d0b88c;
	background-color: #936b48;
	float: right;
	font-size: 0.625rem;
	color: #fff;
	text-align: center;
	line-height: 1.875rem;
	outline: none;
	-webkit-appearance: none;
	border-radius: 0;
}

.login .c_login .login_main .c_btn {
	display: block;
	width: 8.3125rem;
	height: 2.5rem;
	margin: 0.8rem auto 0;
}

.login .c_login .login_main.active .c_btn {
	margin: 1.5625rem auto 0;
}

.share_box {
	width: 100%;
	height: 11.90625rem;
	background-color: #222222;
	position: relative;
}

.share_box ul {
	width: 6.3rem;
	position: relative;
	float: left;
	margin-top: 1.2rem;
}

.share_box .weixin_box {
	width: 7.375rem;
	height: 9.125rem;
	background: url("../images/gzh_bg.png") no-repeat;
	background-size: cover;
	display: block;
	float: left;
	position: relative;
	margin-top: 1.5rem;
}

.share_box .weixin_box img {
	display: block;
	width: 6.6875rem;
	margin: 0 auto;
	position: relative;
	top: 0.225rem;
}

.share_box ul li {
	margin: 0 auto;
	width: 100%;
}

.share_box ul li:nth-child(1) {
	margin-bottom: 0.8rem;
}

.share_box ul li a {
	width: 100%;
	display: block;
}

.share_box ul li a img {
	width: 2.75rem;
	display: block;
	margin: 0 auto;
}

.share_box ul li a p {
	width: 100%;
	text-align: center;
	line-height: 1.8rem;
	color: #a4948c;
	font-size: 0.625rem;
}
/*列表页*/
.news_kv{
	width:100%;
	height:25.34375rem;
	background:url(../images/n_bg.jpg) no-repeat center;
	background-size:100% 100%;
	position:relative;
	overflow: hidden;
}
.news_body{
	width:100%;
	min-height:24.84375rem;
	background:url(../images/news.jpg) no-repeat center top;
	background-size:100% 24.84375rem;
	background-color:#021224;
	position:relative;
	overflow: hidden;
}
.title1{
	display: block;
	width:5.96875rem;
	height:2.5rem;
	margin:1.25rem auto 0;
}
.top_ul{
	width:18.75rem;
	height:1.5rem;
	margin:1.40625rem auto 0;
	display: flex;
	display: -webkit-flex;
	justify-content: space-around;
}
.top_ul li{
	width:2.875rem;
	height:1.5rem;
	text-align: center;
	line-height:1.5rem;
	font-size:0.6875rem;
	position:relative;
}
.top_ul li a {
	display: block;
	width:100%;
	height:100%;
	color:#ece7cb;
}
.top_ul li.active{
	background:url(../images/lia.png) no-repeat center;
	background-size:100% 100%;
}
.top_ul li.active a{
	color:#f2ce8b;
}
.news_ul{
	width:18.75rem;
	margin:0 auto 0;
	position:relative;
	overflow: hidden;
}
.news_ul li{
	width:100%;
	line-height:2.1875rem;
	font-size:0.6875rem;
	overflow: hidden;
}
.news_ul li a{
	display: block;
	color:#929292;
}
.news_ul li a i{
	display: block;
	float:right;
	font-size:0.625rem;
	color:#4b4b4b;
	font-style: normal;
}
.news_ul li a em{
	display: block;
	float:left;
}
.news_ul li a span{
	display: block;
	width:12.8125rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float:left;
}
.news_ul li:nth-child(1){
	margin-top:0.3125rem;
}
.dropload-down{
	width:18.125rem;
	height:2.8125rem;
	background-color:#082c51;
	border-radius: 1.5rem;
	margin:1.4375rem auto 1.4375rem;
	font-size:0.875rem;
	color:#8699ac;
	text-align: center;
	line-height:2.8125rem;
}
/*详情页面*/
.detail_title{
	width:18.125rem;
	margin:0 auto 0;
	overflow: hidden;
	position:relative;
	border-bottom:0.01325rem solid #353535;
}
.back_list{
	display: block;
	width:1.75rem;
	height:1.75rem;
	float:left;
	border:0.0625rem solid #1a2631;
	margin:1.875rem 0.8125rem 0 0;
}
.back_list img{
	display: block;
	width:0.5rem;
	height:0.71875rem;
	margin:0.5rem auto 0;
}
.b_back{
	display: block;
	width:1.75rem;
	height:1.75rem;
	float:left;
	border:0.0625rem solid #1a2631;
	position:absolute;
	left:2rem;
	top:1.2rem;
}
.b_back img{
	display: block;
	width:0.5rem;
	height:0.71875rem;
	margin:0.5rem auto 0;
}
.detail_tit{
	float:left;
	width:15.3125rem;
}
.detail_tit h3{
	font-size:0.875rem;
	color:#b8b8b8;
	font-weight:normal;
	line-height:1.25rem;
	margin-top:1.5rem;
}
.detail_tit p{
	font-size:0.6875rem;
	color:#626262;
	margin-top:0.8125rem;
	margin-bottom:0.9375rem;
}
.detail_con{
	width:18.125rem;
	margin:0 auto 0;
	font-size:0.6875rem;
	color:#a5a5a5;
	line-height:1.625rem;
	margin-top:1rem;
	margin-bottom:2rem;
}
.detail_con img{
	display: block;
	max-width:100%;
}
.b_list{
	display: block;
	width:18.125rem;
	height:2.8125rem;
	border-radius: 1.5rem;
	background-color:#082c51;
	text-align: center;
	font-size:0.875rem;
	line-height:2.8125rem;
	margin:0.3rem auto 1rem;
	color:#6884a0;
}
