html,body{
	background-color:#eeecf0;
	overflow-x: hidden;
}
.n_banner{
	width:100%;
	height:513px;
	position:relative;
	overflow: hidden;
	margin:0 auto;
}
.n_banner .z_banner{
	width:1920px;
	min-width:1280px;
	height:513px;
	overflow: hidden;
	position:relative;
	margin:0 auto;
}
.n_banner .z_banner li a{
	display: block;
	width:100%;
	height:100%;
}
.n_banner .z_banner li a img{
	display: block;
	width:100%;
	height:100%;
}
.swiper-pagination-bullet{
	width:12px;
	height:12px;
	background-color:#feefda;
}
.main{
	width:100%;
	/*overflow: hidden;*/
	position:relative;
	background-color:#eeecf0;
}
.main .top_tab{
	width:100%;
	height:158px;
	background:url(../images/list.png) no-repeat center;
	position:relative;
	border-bottom:1px solid #e1e0e2;
}
.n_wrap{
	width:980px;
	position:relative;
	float:left;
}
.main .top_tab h3{
	font-size:28px;
	font-weight:normal;
	color:#59587d;
	text-align: center;
	line-height:66px;
	margin-top:26px;
}
.btop_ul{
	width:100%;
	height:37px;
	position:relative;
	overflow: hidden;
	margin-left:206px;
}
.btop_ul li{
	width:87px;
	height:37px;
	text-align: center;
	line-height:37px;
	float:left;
	margin-right:33px;
	font-size:16px;
}
.btop_ul li a{
	display: block;
	color:#9493a4;
}
.btop_ul li:hover{
	font-size:18px;
	background-color:#382484;
	border-radius: 25px;
}
.btop_ul li:hover a{
	color:#d7ceef;
}
.btop_ul li.active{
	font-size:18px;
	background-color:#f57117;
	border-radius: 25px;
}
.btop_ul li.active a{
	color:#fff;
}
.main_ul{
	width:100%;
	overflow: hidden;
	position:relative;
}
.main_ul li{
	width:100%;
	height:215px;
	position:relative;
	border-bottom:1px solid #e5e3e7;
}
.main_ul li a{
	width:100%;
	height:100%;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.main_ul li:hover{
	background-color:#fff;
}
.main_ul li .left_img{
	width:158px;
	height:93px;
	background-color:#fff;
	border-radius: 5px;
	margin:62px 0 0 40px;
}
.main_ul li .left_img img{
	display: block;
	width:100%;
	height:100%;
}
.main_ul li .right_news{
	width:744px;
	margin:70px 170px 0 38px;
}
.main_ul li .right_fp{
	font-size:18px;
	color:#333333;
}
.main_ul li .right_fp span{
	width:580px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight:bold;
}
.main_ul li .right_fp i{
	font-style: normal;
	float:right;
	margin-right:40px;
	color:#999999;
	font-size:14px;
}
.main_ul li .right_des{
	width:520px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	font-size:14px;
	color:#999;
	line-height:18px;
	margin-top:20px;
}
.right_con{
	width:241px;
	float:right;
	position:absolute;
	right:24px;
	top:-135px;
	z-index:11;
}
.right_xf{
	width:100%;
	height:787px;
	background:url(../images/xf.png) no-repeat center;
	overflow: hidden;
	position:relative;
}
.right_xf .right_erweima{
	width:153px;
	height:185px;
	background:url(../images/n_wx.png) no-repeat center;
	overflow: hidden;
	position:relative;
	margin:112px auto 0;
}
.right_xf .right_erweima img{
	display: block;
	width:143px;
	height:143px;
	margin:5px auto 0;
}
.right_xf ul{
	width:157px;
	margin:0 auto;
	overflow: hidden;
	position:relative;
}
.right_xf ul li{
	width:157px;
	height:53px;
	background:url(../images/r_nav.png) no-repeat center;
	overflow: hidden;
	margin-top:5px;
}
.right_xf ul li:nth-child(1){
	margin-top:23px;
}
.right_xf ul li:hover{
	background:url(../images/r_nav_h.png) no-repeat center;
}
.right_xf ul li a{
	display: block;
	width:100%;
	height:100%;
}
.right_xf ul li a img{
	display: block;
	width:23px;
	height:23px;
	margin:11px 16px 0 20px;
	float:left;
}
.right_xf ul li a p{
	font-size:16px;
	color:#af8fef;
	margin-top:10px;
	float:left;
}
.tj{
	display: block;
	width:200px;
	height:115px;
	margin:15px 0 0 25px;
}
.tj img{
	display: block;
	width:100%;
	height:100%;
}
.page{
	width:300px;
	position:relative;
	margin:60px auto 0;
}
.page li{
	display: none;
	float:left;
	width:101px;
	height:40px;
	overflow: hidden;
	text-align: center;
	font-size:18px;
	line-height:40px;
	border:1px solid #d8d7da;
	color:#999999;
	border-radius: 20px;
}
.page li.prev{
	display: block;
	margin-right:80px;
}
.page li.next{
	display: block;
}
.page li a{
	display: block;
	color:#999999;
}
.page li.active{
	background:url(../images/page.png) no-repeat center;
	color:#fff;
}
.page li.active a{
	color:#fff;
}
/*详情页样式*/
.main .top_tab1{
	width:100%;
	height:158px;
	background-color:#f1f0f3;
	position:relative;
	border-bottom:1px solid #e1e0e2;
}
.detail_title{
	width:100%;
	height:158px;
	position:relative;
}
.back{
	display: block;
	width:42px;
	height:42px;
	border:1px solid #d9d8da;
	position:absolute;
	top:51px;
	left:40px;
}
.back img{
	display: block;
	width:13px;
	height:22px;
	margin:10px auto 0;
}
.detail_title .detail_h{
	font-size:28px;
	color:#333333;
	line-height:46px;
	padding-top:37px;
	text-align: center;
}
.detail_title .detail_s{
	width:100%;
	font-size:16px;
	color:#999999;
	text-align: center;
	line-height:32px;
	margin-top:16px;
	overflow: hidden;
}
.detail_title .detail_s span{
	margin-right:12px;
}
.detail_title .detail_s span.detail_date{
	margin-right:17px;
}
.jiathis_style_32x32{
	float:left;
}
.jiathis_style_32x32 i{
	font-size:14px;
	color:#292625;
	float:left;
	font-style: normal;
}
.main_con{
	width:900px;
	margin:0 auto;
	font-size:16px;
	color:#333;
	text-align: left;
	line-height:36px;
}
.main_content{
	width:100%;
	min-height:640px;
	overflow: hidden;
	position:relative;
	margin-bottom:147px;
}
.chengg{
	width:100%;
	height:50px;
	background:none;
}
.main_con p{
	font-size:16px;
	color:#333;
}
.main_con img{
	display: block;
	max-width:80%;
	margin:0 auto;
}
.back_top{
	width:258px;
	height:56px;
	background:url(../images/back_top.png) no-repeat center;
	position:relative;
	margin:100px auto;
	font-size:18px;
	color:#fff;
	text-align: center;
	line-height:56px;
	cursor: pointer;
}
