{include file="../../layouts/wap/header_top.html"}
<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}1.0/m/css/list_inf.css?{$smarty.const.VERSION}" />
<section class="lf_banner"></section>
<section class="lf_content p_re">
	<section class="if_c_title">
		<h1>{$title}</h1>
		<span>{$created_at|date_format:"%Y-%m-%d"}</span>
	</section>
	<section class="if_c_text">
		{$body}
	</section>
	<img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/i_line1.png?{$smarty.const.VERSION}">
</section>
<section>
	<div class="login">
		<div class="login_m">
			<div class="chengg"></div>
			<div class="l_input">
				<input type="tel" placeholder="请输入手机号" class="h_phone" />
				<img class="l_close" src="{$smarty.const.STATIC_DOMAIN}1.0/images/l_close.png?{$smarty.const.VERSION}" alt="" />
			</div>
			<div class="f_code">
				<input class="s_code" type="text" placeholder="请输入验证码" />
				<input type="button" class="e_code" value="发送验证码" />
			</div>
			<a class="s_tj" href="javascript:;">确认提交</a>
			<p class="c_t">预约成功后我们会在第一时间通知您，更多精彩游戏与奖励等着您！</p>
			<span class="lo_close"><img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/lo_close.png?{$smarty.const.VERSION}" alt="" /></span>
		</div>
	</div>
	<div class="login_tc">
		<div class="login_n">
			<img src="../images/lo_close.png?{$smarty.const.VERSION}" alt="" class="tc_close t_close" />
			<p><img src="../images/smile.png?{$smarty.const.VERSION}" alt="" /><span>恭喜您预约成功!</span></p>
			<div class="tc_txt">我们将在游戏开启前通过手机给您传递时间信息及专属礼包!</div>
			<div class="make_sure t_close">确定</div>
		</div>
	</div>
</section>
{include file="../../layouts/wap/footer.html"}
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/m/js/list_inf.js?{$smarty.const.VERSION}"></script>
{download}