.kv .play{
	width:133px;
	height:217px;
	position:absolute;
	bottom:180px;
	right:137px;
}
.kv .play img:nth-child(1){
	display: block;
	width:133px;
	height:133px;
	animation: vGo 5s linear infinite;
	-webkit-animation: vGo 5s linear infinite;
}
.kv .play img:nth-child(2){
	display: block;
	width:133px;
	height:90px;
	margin-top:-8px;
}
.kv .play img:nth-child(3){
	display: block;
	width:45px;
	height:51px;
	position:absolute;
	top:35px;
	right:38px;
	cursor: pointer;
	left:46px;
	top:46px;
}
@keyframes vGo{
	0%{transform: rotate(0);}
	100%{transform: rotate(360deg);}
}
@-webkit-keyframes vGo{
	0%{transform: rotate(0);}
	100%{transform: rotate(360deg);}
}
.four_p{
    display: none;
    position: relative;
    top: 230px;
    font-size: 18px;
    color: #fff;
    text-align: center;
}
.four_p span{
    color: #ffab08;
}
.c_xianshi .yueGiftBox{
    position: absolute;
    width: 80px;
    height: 70px;
    top: 0;
}
.c_xianshi .giftDialog {
  display: none;
  position: absolute;
    top:0;
  width: 309px;
  height: 202px;
  background-image: url("../images/c_giftDialog.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 9;
}
.c_xianshi .giftDialog ul {
  position: relative;
  top: 10px;
  padding: 0 3px;
  margin-left: auto;
  margin-right: auto;
}
.c_xianshi .giftDialog ul:after{
      content: '';
  display: block;
  clear: both;
}
.c_xianshi .giftDialog ul li {
    float: left;
    width: 50%;
  height: 50px;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  color: #b06412;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.c_xianshi .giftDialog ul li img {
  float: left;
  height: 40px;
}
.c_xianshi .giftDialog ul li:after {
  content: '';
  display: block;
  clear: both;
}
.c_xianshi .giftDialog .noReach {
  position: relative;
  width: 160px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: #a4a4a4;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #787878;
  border-radius: 10px;
}
.c_xianshi .giftDialog .get{
  display: none;
  position: relative;
  width: 160px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: #ffab08;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #9b5b00;
  border-radius: 10px;
  cursor: pointer;
}
.c_xianshi .giftDialog .getSuccess {
  display: none;
  position: relative;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  background-color: #f4e5c5;
  padding: 5px 0;
}
.c_xianshi .giftDialog .getSuccess h4 {
  text-align: center;
  font-size: 20px;
  color: #c77f03;
}
.c_xianshi .giftDialog .getSuccess p {
  font-size: 14px;
  text-align: center;
  color: #717171
}
.c_xianshi .giftDialog{
    top: -200px;
    left: -120px;
}
.c_xianshi .yueGiftBox2{
    left: 137px;
}
.c_xianshi .yueGiftBox3{
    left: 265px;
}
.c_xianshi .yueGiftBox4{
    right: 140px;
}
.c_xianshi .yueGiftBox5{
    right: 0;
}
.haoyou .zhaohu li .yaoGiftBox{
    display: none;
    position: absolute;
    top: -160px;
    left: -50px;
    width:314px;
    height:181px;
    padding: 0 3px;
    background-image: url("../images/li_tc.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.haoyou .zhaohu li .li_tc li {
    float: left;
    width: 50%;
    padding: 3px 8px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    height: 80px;
    font-size: 12px;
    line-height: 70px;
    text-align: center;
    color: #0b6abd;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.haoyou .zhaohu li .li_tc:after{
    content: '';
    display: block;
    clear: both;
}
.haoyou .zhaohu li .li_tc li:after{
    content: '';
    display: block;
    clear: both;
}
.haoyou .zhaohu li .li_tc li img {
    position: relative;
    float: left;
    margin-left: 5px;
    margin-top: 10px;
    height: 40px;
    width: 40px;
}
.haoyou .zhaohu li p {
    height: 30px;
    line-height: 30px;
    width: 98%;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    background-color: #d9ebf8;
    font-size: 16px;
    text-align: center;
    color: #6684b1;
}
.page_four .t_yuan {
    width: 626px;
    height: 626px;
    background: url(../images/c_turntableBox.png) no-repeat center;
    position: absolute;
    left: 55px;
    top: 235px;
}
.page_four .t_yuan #rotate{
    width: 441px;
    height: 440px;
    position: absolute;
    left: 91px;
    top: 92px;
    background: url(../images/c_turntable.png) no-repeat center;
    background-size:100% 100%;
}
.page_four .t_yuan .pointer {
    position: relative;
    top: 10rem;
    width: 184px;
    height: 243px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/c_pointer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.page_four .t_yuan .pointer p {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 45px;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-shadow: 0px 2px 0px rgba(214, 68, 124, 0.004);
}
.page_four .t_yuan .pointer p .chance {
    color: #ffde00;
}
div.mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
}
div.mask div.dialog {
    position: relative;
    width: 583px;
    height: 527px;
    top: 45%;
    transform: translate(0,-45%);
    -webkit-transform: translate(0,-45%);
    background-image: url("../images/dialog.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin:0 auto;
}
div.mask div.dialog .close {
    position: absolute;
    top: 27px;
    right: 30px;
    width: 51px;
    height: 51px;
    cursor: pointer;
    background-image: url("../images/close.png");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
}
div.mask div.dialog .success_close {
    position: absolute;
    top: 27px;
    right: 30px;
    width: 51px;
    height: 51px;
    cursor: pointer;
    background-image: url("../images/close.png");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
}
.s_close{
	position: absolute;
    top: 27px;
    right: 30px;
    width: 51px;
    height: 51px;
    cursor: pointer;
    background-image: url("../images/close.png");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
}
.s_close:hover{
	transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}
.queren_close,.delete_close{
	position: absolute;
    top: 27px;
    right: 30px;
    width: 51px;
    height: 51px;
    cursor: pointer;
    background-image: url("../images/close.png");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
}
.queren_close:hover{
	transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}
.delete_close:hover{
	transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}
div.mask div.dialog .close:hover {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}
div.mask div.dialog.dialog-success {
    position: relative;
    width: 583px;
    height: 527px;
    background-image: url("../images/dialog.png");
    background-repeat: no-repeat;
    display: none;
}
div.mask div.dialog.dialog-success h3 {
    width: 100%;
    text-align: center;
    color: #4e51b0;
    font-size: 40px;
    line-height: 68px;
    margin-top: 36px;
    margin-bottom:10px;
}
div.mask div.dialog.dialog-success h4 {
    color: #4e51b0;
    width: 537px;
    text-align: center;
    font-family: "Microsoft YaHei";
    font-size: 28px;
    margin:34px auto 0;
    font-weight:normal;
	padding-bottom:27px;
	border-bottom:1px solid #c3c6dd;
}
div.mask div.dialog.dialog-success h4 i{
	display: inline-block;
	width:99px;
	height:33px;
	background-color:#4e51b0;
	text-align: center;
	font-style: normal;
	font-size:22px;
	color:#fff;
	font-weight:bold;
	line-height:33px;
	border-radius: 25px;
	margin-left:25px;
	cursor: pointer;
}
div.mask div.dialog.dialog-success p {
    color: #454b70;
    width:100%;
    text-align: center;
    font-family: "Microsoft YaHei";
    font-size: 20px;
    line-height: 28px;
}
div.mask div.dialog.dialog-success .success_tit{
	width:auto;
	text-align: center;
	font-size:20px;
	color:#454b70;
	line-height:30px;
	margin-left:22px;
}
div.mask div.dialog.dialog-success .success_tit.success_tit1{
	margin-top:25px;
	margin-left:0px;
}
div.mask div.dialog.dialog-success .lj_order{
	width:221px;
	height:54px;
	background-color:#4e51b0;
	font-size:32px;
	font-weight:bold;
	text-align: center;
	line-height:50px;
	margin:0 auto;
	color:#fff;
	border-radius: 25px;
	margin-top:22px;
	cursor: pointer;
}
div.mask div.dialog .dialog-main .yjlq{
	display: block;
	margin:15px auto 0;
}
div.mask div.dialog .dialog-main .dialog-title {
    font-size: 40px;
    color: #4e51b0;
    font-family: "Microsoft YaHei";
	font-weight:bold;
	line-height:90px;
}
div.mask div.dialog .dialog-main:after {
    content: '';
    display: block;
    clear: both;
}
div.mask .dialog-gift {
    display: none;
}
div.mask .dialog-gift .dialog-main .price_txt {
    font-size: 30px;
    color: #fff;
    line-height: 60px;
}
div.mask .dialog-gift .dialog-main .p_sure {
    margin-top: 50px;
    cursor: pointer;
}
div.mask .dialog-yue {
    display: none;
}
div.mask .dialog-yue .dialog-main .share-box {
    float: left;
    margin-left:110px;
    margin-top: 150px;
    margin-right:35px;
}
div.mask .dialog-yue .dialog-main .share-box a {
    position: relative;
    width: 56px;
    height: 56px;
    float: left;
    margin-right: 8px;
    padding-left:0;
}
.bshare-weixin-1{
	width: 56px;
    height: 56px;
	background:url(../images/weiShare.png) no-repeat center;
	background-color:#3eb134;
	display: block;
	position:absolute;
	left:45px;
	top:240px;
	border-radius: 50%;
}
.bshare-weixin-1:hover{
	opacity: .75;
}
div.mask .dialog-yue .dialog-main .share-box a.bshare-sinaminiblog{
	background:url(../images/weiboShare.png) no-repeat center;
	background-color:#e02830;
	border-radius: 50%;
}
div.mask .dialog-yue .dialog-main .share-box a.bshare-qzone{
	background:url(../images/qqShare.png) no-repeat center;
	background-color:#efcf3c;
	border-radius: 50%;
}
div.mask .dialog-yue .dialog-main .share-box li a.jiathis_button_qzone .jiathis_txt.jtico.jtico_qzone {
    padding-left: 0!important;
    width: 100%!important;
    height: 100%!important;
    background-image: url("../images/qqShare.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
div.mask .dialog-yue .dialog-main .share-box li a.jiathis_button_tsina .jiathis_txt.jtico.jtico_tsina {
    padding-left: 0!important;
    width: 100%!important;
    height: 100%!important;
    background-image: url("../images/weiboShare.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
div.mask .dialog-yue .dialog-main .shareCode {
    float: left;
    padding-left: 40px;
    width: 175px;
    border-left: 1px dashed #5a5f90;
    margin-top: 20px;
}
div.mask .dialog-yue .dialog-main .shareCode .myCode {
    width: 100%;
}
div.mask .dialog-yue .dialog-main .shareCode .yaoTitle,
div.mask .dialog-yue .dialog-main .shareCode .myYao {
    font-size: 19px;
    color: #4e51b0;
    font-family: "Microsoft YaHei";
}
div.mask .dialog-yue .dialog-main .shareCode .myYao {
    margin-top: 15px;
    margin-bottom: 10px;
}
div.mask .dialog-yue .dialog-main .shareCode .yaoNum {
    width: 100%;
    height: 38px;
    line-height: 38px;
    font-size: 26px;
    color: #4e51b0;
    border: 1px dashed #fff;
}
div.mask .dialog-information {
    display: none;
}
div.mask .dialog-information .dialog-main .information-box {
    width: 310px;
    margin-left: auto;
    margin-right: auto;
}
div.mask .dialog-information .dialog-main .information-box .img-code-box {
    position: relative;
}
div.mask .dialog-information .dialog-main .information-box input {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 35px;
    line-height: 48px;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    border: 1px solid #e5e5e5;
}
div.mask .dialog-information .dialog-main .information-box input#phone {
    background-image: url("../images/input_person.png");
    background-repeat: no-repeat;
    background-position: 10px center;
}
div.mask .dialog-information .dialog-main .information-box input#img-code,
div.mask .dialog-information .dialog-main .information-box input#code {
    width: 202px;
    background-image: url("../images/input-password.png");
    background-repeat: no-repeat;
    background-position: 10px center;
}
div.mask .dialog-information .dialog-main .information-box #getMarkBtn,
div.mask .dialog-information .dialog-main .information-box #getMarkBtn1 {
    width: 108px;
    height: 48px;
    float: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition: all .2s;
    -webkit-transition: all .2s;
    background-color: #fff;
    border: none;
    cursor: pointer;
}
div.mask .dialog-information .dialog-main .information-box #getMarkBtn {
    font-size: 14px;
    background-color: #327aef;
    font-family: "Microsoft YaHei";
    color: #fff;
}
div.mask .dialog-information .dialog-main .information-box .co_imgtxt {
    position: absolute;
    bottom: -17px;
    right: 0;
    font-size: 12px;
    color: #4e51b0;
}
div.mask .dialog-information .dialog-main .dialog-title{
	margin-top:42px;
}
div.mask .dialog-information .dialog-main .information-box p.err {
    visibility: hidden;
    margin-top: 10px;
    text-align: left;
    font-size: 12px;
    color: #ec1212;
    line-height: 20px;
}
div.mask .dialog-information .dialog-main .information-box p.err img {
    position: relative;
    top: 2px;
}
div.mask .dialog-information .dialog-main .information-box .information-btn {
    width: 190px;
    height: 55px;
    margin-top: 30px;
    cursor: pointer;
}
div.mask .dialog-type .dialog-main .dialog-title{
	margin-top:42px;
}
div.mask .dialog-type {
    display: none;
}
div.mask .dialog-type .checkBox {
    margin-top: 50px;
}
div.mask .dialog-type .checkBox p {
    display: inline-block;
    cursor: pointer;
}
div.mask .dialog-type .checkBox p label {
    display: inline-block;
    cursor: pointer;
    width: 26px;
    height: 26px;
    margin: 0 10px 0 0;
    position: relative;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid #4e51b0;
}
div.mask .dialog-type .checkBox p label i {
    width: 10px;
    height: 10px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 14px;
    background: #4e51b0;
}
div.mask .dialog-type .checkBox p span {
    display: inline-block;
    position: relative;
    font-size: 16px;
    top: -6px;
    color: #4e51b0;
}
div.mask .dialog-type .checkBox p.active label {
    border: 2px solid #fcd20a;
}
div.mask .dialog-type .checkBox p.active span {
    color: #fcd20a;
}
div.mask .dialog-type .checkBox p:nth-child(1) {
    margin-right: 20px;
}
div.mask .dialog-type .friend-box {
    width: 310px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding-top: 30px;
    border-top: 1px dashed #a0a2b5;
    text-align: center;
}
div.mask .dialog-type .friend-box span.friend-word {
    float: left;
    font-size: 24px;
    color: #4e51b0;
}
div.mask .dialog-type .checkBox p.active label i{
	background: #fcd20a;
}
div.mask .dialog-type .friend-box span.friend-word i {
    font-size: 20px;
    margin-right: 5px;
    font-style: normal;
}
div.mask .dialog-type .friend-box #friend-checkBox {
    float: right;
    margin-top: 10px;
}
div.mask .dialog-type .friend-box #friend-checkBox p label {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}
div.mask .dialog-type .friend-box #friend-checkBox p label i {
    width: 8px;
    height: 8px;
}
div.mask .dialog-type .friend-box #friend-checkBox p:nth-child(1) {
    margin-right: 5px;
}
div.mask .dialog-type .friend-box input {
    margin-top: 20px;
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 35px;
    line-height: 48px;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}
div.mask .dialog-type .friend-box .friend-btn {
    margin-top: 40px;
    width: 190px;
    height: 55px;
    cursor: pointer;
}
div.mask .dialog-type .friend-box:after {
    content: '';
    display: block;
    clear: both;
}
div.mask .dialog.dialog-prise{
    display: none;
    width: 546px;
    height: 720px;
	overflow: hidden;
    background-image: url("../images/dialog.png");
    background-size:100% 100%;
}
div.mask .dialog.dialog-prise .dialog-main{
    width: 530px;
    height: 690px;
	margin:0 auto;
}
div.mask .dialog.dialog-prise .table_ul{
	width:518px;
	margin: 0 16px 0 16px;
	border-collapse: collapse;
}
div.mask .dialog.dialog-prise .table_ul12 li:nth-child(1) span{
	font-size:20px;
	font-weight:bold;
}
div.mask .dialog.dialog-prise .table_ul li{
	height:50px;
	border-bottom: 1px dashed #fff;
	text-align: center;
}
div.mask .dialog.dialog-prise .table_ul li span{
	display: block;
	width:259px;
	float:left;
	text-align: center;
	font-size:14px;
	color:#4e51b0;
	line-height:50px;
}
div.mask .dialog.dialog-prise .huadong{
	width:550px;
	height:530px;
	margin:0 auto;
	position:relative;
	overflow: auto;
	overflow-x: hidden;
}
div.mask .dialog.dialog-prise .dialog-main .tabPage{
    margin: 10px 0;
}
div.mask .dialog.dialog-prise .dialog-main .tabPage span{
    color: #fff
}
div.mask .dialog.dialog-prise .dialog-main .tabPage span:first-child{
    margin-right: 20px;
}
div.mask .dialog.dialog-prise .close{
    top: 20px;
    right: 37px;
    z-index:1;
}

div.mask .dialog.dialog-prise p {
    color: #4e51b0;
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
}
div.mask .dialog.dialog-prise h4 {
    color: #4e51b0;
    font-size: 28px;
    text-align: center;
}
div.mask .dialog.dialog-prise .allIn{
	cursor: pointer;
}
div.mask .dialog.dialog-prise table {
    overflow-y: auto;
    margin:10px 16px 0 16px;
    border-collapse: collapse;
    text-align: center;
}
div.mask .dialog.dialog-prise thead {
    border-bottom: 1px solid #fff;
}
div.mask .dialog.dialog-prise thead tr th {
    color: #4e51b0;
    font-size: 22px;
    margin-top: 32px;
    text-align: center;
}
div.mask .dialog.dialog-prise thead tr th:last-child {
    width: 20%;
}
div.mask .dialog.dialog-prise thead tr th:first-child {
    width: 20%;
}
div.mask .dialog.dialog-prise tbody tr {
    height: 50px;
    border-bottom: 1px dashed #fff;
}
div.mask .dialog.dialog-prise tbody tr td:nth-child(1) {
    color: #4e51b0;
    font-size: 14px;
}
div.mask .dialog.dialog-prise tbody tr td:nth-child(2) {
    color: #4e51b0;
    font-size: 14px;
}
div.mask .dialog.dialog-prise tbody tr td:nth-child(3) {
    color: #7279b6;
    font-size: 14px;
    text-align: center;
}
div.mask .dialog.dialog-materialGift{
    display: none;
}
div.mask .dialog.dialog-materialGift h4 {
    margin-top: 75px;
    font-size: 34px;
    color: #4e51b0;
    text-align: center;
}
div.mask .dialog.dialog-materialGift .giftImage {
    width: 98px;
    height: 99px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
div.mask .dialog.dialog-materialGift span{
    margin-top: 7px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: bold;
    color: #4e51b0;
}
div.mask .dialog.dialog-materialGift p {
    margin-top: 25px;
    font-size: 20px;
    color: #4e51b0;
}
div.mask .dialog.dialog-materialGift .clickBtn {
    width: 202px;
    height: 67px;
    margin-top: 30px;
    cursor: pointer;
}
div.mask .dialog.dialog-nullGift{
    display: none;
}
div.mask .dialog.dialog-nullGift h4 {
    margin-top: 38px;
    font-size: 34px;
    color: #4e51b0;
    text-align: center;
}
div.mask .dialog.dialog-nullGift .giftImage {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
div.mask .dialog.dialog-nullGift span {
    margin-top: 7px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: bold;
    color: #4e51b0;
}
div.mask .dialog.dialog-nullGift input {
    width: 310px;
    height: 48px;
    background: url('../images/s_put.png') no-repeat center;
    background-size: 100% 100%;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
    font-size: 12px;
    color: #000;
    text-indent: 32px;
    border: none;
}
div.mask .dialog.dialog-nullGift p {
    margin-top: 10px;
    color: #4e51b0;
    font-size: 16px;
}
div.mask .dialog.dialog-nullGift .clickBtn {
	display: block;
    width: 202px;
    height: 67px;
    margin: 32px auto 0;
    cursor: pointer;
}
div.mask div.dialog.queren{
	width:496px;
	height:379px;
	background-size:100% 100%;
	display: none;
}
div.mask div.dialog.queren p{
	font-size:32px;
	line-height:40px;
	color:#4e51b0;
	text-align: center;
	font-weight:bold;
}
div.mask div.dialog.queren p.queren_p{
	margin-top:100px;
}
div.mask div.dialog.queren .queren_btn{
	width:358px;
	height:46px;
	overflow: hidden;
	margin:35px auto 0;
}
div.mask div.dialog.queren .queren_btn span{
	display: block;
	width:176px;
	height:46px;
	float:left;
	font-size:28px;
	background-color:#4e51b0;
	color:#fff;
	text-align: center;
	line-height:46px;
	border-radius: 25px;
	font-weight:bold;
	cursor: pointer;
}
div.mask div.dialog.queren .queren_btn span:nth-child(2){
	color:#ffd83b;
	float:right;
}
div.mask div.dialog.delete{
	width:496px;
	height:379px;
	background-size:100% 100%;
	display: none;
}
div.mask div.dialog.delete p.delete_p{
	font-size:20px;
	margin-top:90px;
	margin-bottom:20px;
}
div.mask div.dialog.delete p{
	font-size:32px;
	color:#4e51b0;
	text-align: center;
	font-weight:bold;
}
div.mask div.dialog.delete .delete_span{
	width:358px;
	overflow: hidden;
	margin:50px auto 0;
}
div.mask div.dialog.delete .delete_span>div{
	width:176px;
	float:left;
	color:#fff;
}
div.mask div.dialog.delete .delete_span>div span{
	display: block;
	width:176px;
	height:46px;
	background-color:#4e51b0;
	border-radius: 25px;
	font-size:26px;
	line-height:46px;
	font-weight:bold;
	cursor: pointer;
	margin-bottom:10px;
}
div.mask div.dialog.delete .delete_span>div i{
	font-style: normal;
	color:#4e51b0;
}
div.mask div.dialog.delete .delete_span>div:nth-child(2){
	color:#ffd83b;
	float:right;
}
div.mask div.dialog.f_fail{
	height: 454px;
	background-size:100% 100%;
	display: none;
}
div.mask div.dialog.f_fail p{
	width:90%;
	text-align: left;
	color:#454b70;
	font-size:22px;
	margin:0 auto;
	line-height:40px;
}
div.mask div.dialog.f_fail .fail_p{
	margin:50px auto;
}
div.mask div.dialog.f_success{
	height:410px;
	background-size:100% 100%;
	display: none;
}
div.mask div.dialog.f_success p{
	width:90%;
	text-align: left;
	color:#454b70;
	font-size:22px;
	margin:0 auto;
	line-height:40px;
	text-align: center;
}
div.mask div.dialog.f_success p.f_success_p{
	margin-top:100px;
}
.share-body {
    position: relative;
    margin-top: 40px;
    height: 763px;
    width: 1023px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/weichart.png");
    background-repeat: no-repeat;
    background-position: -4px -4px;
}
.share-body .share_code {
    position: absolute;
    left: 126px;
    bottom: 238px;
    width: 170px;
    height: 170px;
    z-index: 99;
}
.share-body .share_code img {
    width: 100%;
    height: 100%;
}
.last_page,.next_page{
	font-size:20px;
	color:#fff;
	margin:0 5px;
	text-align: center;
	cursor: pointer;
}
