body,html{
	background-color:#f6f6f6;
}
.kv{
	width:100%;
	height:950px;
	background:url(../images/n_kv2.jpg) no-repeat center;
	position:relative;
	overflow: hidden;
}
.kv .logo{
	display: block;
	position:absolute;
	left:42px;
	top:31px;
}
.kv .slogan{
	width:713px;
	position: absolute;
	top:519px;
	left:50%;
	margin-left:-356.5px;
}
.kv .anz_url{
    width: 248px;
    height: 66px;
    position: absolute;
    margin-left: -124px;
    left: 50%;
    top: 695px;
}
.kv .anz_url img{
	width:100%;
}
.kv .enter{
	display: block;
	width:184px;
	height:63px;
	position:absolute;
	right:56px;
	top:34px;
}
.kv .enter:hover{
	opacity: .9;
}
/*有二维码*/
/*.kv .download{
	width:509px;
	height:132px;
	background:url(../images/down_bg.png) no-repeat center;
	position:absolute;
	left:50%;
	margin-left:-254.5px;
	bottom:158px;
}*/
.kv .download{
    width: 390px;
    height: 132px;
    background: #fff;
    position: absolute;
    left: 50%;
    margin-left: -185px;
    bottom: 158px;
    border: 4px solid #B04745;
    border-radius: 90px;
}
.kv .download .download_p{
	width:20px;
	font-size:14px;
	color:#7b86ba;
	line-height:14px;
	margin:18px 0 0 46px;
	float:left;
	display: none;
}
.kv .download .erweima{
	display: block;
	width:93px;
	height:93px;
	float:left;
	margin:20px 0 0 10px;
	display: none;
}
.kv .download .ios_and{
	width:131px;
	height:97px;
	float:left;
	/*margin:20px 0 0 5px;*/
	margin:7px 0px 0 44px;
}
.kv .download .ios_and :nth-child(3){
     margin-left: 5px;
}
.kv .download .ios_and a{
	display: block;
}
.kv .download .ios_and a:hover{
	opacity: .9;
}
.kv .download .ios_and a:nth-child(1){
	margin:0 0 3px 6px;
}
.kv .download .lgyy{
	display: block;
	float:right;
	cursor: pointer;
	/*margin:20px 35px 0 0;*/
	margin:20px 49px 0 0;
}
.kv .download .lgyy:hover{
	opacity: .9;
}
.kv .nav_down{
	width:100%;
	height:145px;
	position:absolute;
	left:0;
	bottom:0;
}
.kv .nav_down .nav_left{
	width:634px;
	height:99px;
	background:url(../images/c_nav.png) no-repeat center;
	position:relative;
	overflow: hidden;
	float:left;
	margin:18px 0 0 143px;
}
.kv .nav_down .nav_left .nav_left_p{
	font-size:18px;
	color:#f9c704;
	line-height:99px;
	float:left;
	margin-left:48px;
	margin-right:16px;
}
.kv .nav_down .nav_left ul{
	float: left;
    position: relative;
    overflow: hidden;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    margin-top: 15px;
}
.kv .nav_down .nav_left ul li{
	text-align: center;
    color: #fff;
    margin-right: 50px;
}
.kv .nav_down .nav_left ul li img{
	display: block;
    margin: 0 auto;
    min-height: 43px;
}
.kv .nav_down .nav_left ul li p{
	margin-top: 5px;
    font-size: 12px;
}
.kv .nav_down .isLogin{
	float:left;
}
.kv .nav_down .isLogin>div{
	display: none;
}
.kv .nav_down .isLogin>div.active{
	display: block;
}
.kv .nav_down .isLogin .before_denglu{
	width:240px;
	height:79px;
	margin:15px 0 0 46px;
	cursor: pointer;
}
.kv .nav_down .isLogin .before_denglu p{
	font-size:16px;
	color:#f9c704;
	text-align: center;
}
.kv .nav_down .isLogin .after_denglu .welcome{
	font-size:16px;
	color:#f9c704;
	text-align: center;
	margin-top:10px;
}
.kv .nav_down .isLogin .after_denglu .welcome i{
	font-style: normal;
}
.kv .nav_down .isLogin .after_denglu .welcome .zhuxiao{
	margin-left:8px;
	text-decoration: underline;
	cursor: pointer;
}
.kv .nav_down .isLogin .after_denglu .div_img{
	width:266px;
	height:79px;
	background:url(../images/c_code.png) no-repeat center;
	margin:5px 0 0 21px;
}
.kv .nav_down .isLogin .after_denglu .div_img p{
	line-height:84px;
	color:#354173;
	float:left;
	font-weight:bold;
	margin-left:78px;
	font-size:12px;
}
.kv .nav_down .isLogin .after_denglu .div_img .fuzhi{
	width:52px;
	height:56px;
	float:right;
	margin-top:13px;
	cursor: pointer;
}
.second{
	width:100%;
	height:934px;
	background:url(../images/two2.jpg) no-repeat center;
	position:relative;
	overflow: hidden;
}
.second .qun{
	display: block;
	width:274px;
	height:88px;
	position:absolute;
	left:50%;
	margin-left:-137px;
	bottom:70px;
}
.second .qun:hover{
	opacity: .9;
}
.second .xuanfu{
	width:155px;
	height:211px;
	background:url(../images/xuanfu.png) no-repeat center;
	position:absolute;
	right:175px;
	top:162px;
}
.second .xuanfu .q_qun{
	display: block;
	width:131px;
	height:131px;
	margin:6px 0 0 17px;
}
.second .xuanfu .first_p{
	font-size:12px;
	color:#0F5DAA;
	margin-left:26px;
}
.second .xuanfu .second_p{
	font-size:20px;
	color:#0F5DAA;
	font-weight:bold;
	margin-left:26px;
	margin-top:-2px;
}
.second .xuanfu .third_p{
	font-size:18px;
	color:#0F5DAA;
	font-weight:bold;
	margin-left:26px;
	margin-top:-5px;
}
.last{
	width:100%;
	height:1145px;
	background:url(../images/last.jpg) no-repeat center;
	position:relative;
	overflow: hidden;
}
.last .mu{
	display: block;
	width:219px;
	height:192px;
	position:absolute;
	left:-120px;
	bottom:336px;
}
.banner{
	width:847px;
	height:481px;
	background:url(../images/tu.png) no-repeat center;
	position:absolute;
	left:60px;
	top:268px; 
}
.banner .c_banner{
	width:762px;
	height:428px;
	margin:26px 0 0 40px;
	overflow: hidden;
}
.banner .c_banner ul li img{
	display: block;
	width:762px;
	height:428px;
}
.banner .c_banner .swiper-button-prev{
	width: 46px;
    height: 46px;
    background: url(../images/n_left.png) no-repeat center;
    opacity: 1;
    left:0;
}
.banner .c_banner .swiper-button-next{
	width: 46px;
    height: 46px;
    background: url(../images/n_right.png) no-repeat center;
    opacity: 1;
    right:0;
}
.last .db_footer{
	width:1080px;
	height:243px;
	position:absolute;
	left:60px;
	bottom:0;
}
.last .db_footer ul{
	width:100%;
	height:100%;
	overflow: hidden;
	padding-top: 50px;
}
.last .db_footer ul li{
	width:335px;
	float: left;
    font-family: "Microsoft YaHei";
}
.last .db_footer ul li img{
	float: left;
    margin-right: 20px;
}
.last .db_footer ul li img.noCode {
    width: 133px;
    height: 133px;
    border: 1px solid #989db3;
    padding: 5px;
    box-sizing: border-box;
}
.last .db_footer ul li .bottom_txt {
    float: left;
    width: 180px;
}
.last .db_footer ul li:after {
    content: '';
    display: block;
    clear: both;
}
.last .db_footer ul li h4 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 22px;
    color: #fff;
}
.last .db_footer ul li p {
    font-size: 15px;
    line-height: 20px;
    color: #bdc6ea;
    white-space: nowrap;
}
.last .db_footer ul li a {
    font-size: 12px;
    color: #59aefb;
}
.last .db_footer ul li:nth-child(3) .bottom_txt h4 {
    margin-bottom: 5px;
}
.login{
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:20;
	background-color:rgba(0,0,0,.8);
	display: none;
}
.login .c_login{
	width:681px;
	height:563px;
	background:url(../images/login.png) no-repeat center;
	position:relative;
	top:45%;
	margin:0 auto;
	transform: translate(0,-45%);
	-webkit-transform: translate(0,-45%);
}
.close{
	display: block;
	position:absolute;
	right:0;
	top:87px;
	transition:all .5s;
	-webkit-transition: all .5s;
	cursor: pointer;
}
.close:hover{
	transform: rotate(0deg);
	-webkit-transform: rotate(360deg);
}
.login .c_login .login_body{
	width:310px;
	overflow: hidden;
	margin:155px auto 0;
}
.login .c_login .login_body .login_title{
	font-size:30px;
	color:#fff;
	text-align: center;
}
.login .c_login .login_body .s_put{
	width:100%;
	overflow: hidden;
	position:relative;
	margin-top:5px;
}
.login .c_login .login_body .s_put.p_put{
	margin-top:30px;
}
.login .c_login .login_body .s_put i{
	font-size:12px;
	color:#ec1212;
	line-height:20px;
	display: block;
	overflow: hidden;
	margin-bottom:3px;
	visibility: hidden;
}
.login .c_login .login_body .s_put i.active{
	visibility: visible;
}
.login .c_login .login_body .s_put i img{
	display: block;
	float:left;
	margin:3px 4px 0 0;
}
.login .c_login .login_body .s_put i p{
	float:left;
	font-style:normal;
}
.login .c_login .login_body .s_put input{
	width:200px;
	height:46px;
	display: block;
	font-size:14px;
	color:#333;
	text-indent:35px;
	line-height:48px;
	border:1px solid #e5e5e5;
	float:left;
	background-color:#fff;
	outline:none;
}
.login .c_login .login_body .s_put input.phone{
	width:100%;
}
.login .c_login .login_body .s_put input.g_code{
	width:108px;
	height:48px;
	float:left;
	background-color:#327aef;
	color:#fff;
	line-height:48px;
	text-align: center;
	text-indent:0;
	border:none;
	cursor: pointer;
}
.login .c_login .login_body .s_put .captcha{
	width:106px;
	height:46px;
	font-size:14px;
	color: #F15F03;
    background-color: #fff;
    text-align: center;
    line-height: 48px;
    border:1px solid #e5e5e5;
    float:left;
    cursor: pointer;
}
.login .c_login .login_body .s_put .captcha img{
	display: block;
	width:100%;
	height:100%;
}
.login .c_login .login_body .n_btn{
	display: block;
	margin:30px auto 0;
	cursor: pointer;
}
.login .c_login .login_body .n_btn:hover{
	opacity: .9
}
.yuyue{
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:20;
	background-color:rgba(0,0,0,.8);
	display: none;
}
.yuyue .c_yuyue{
	width:681px;
	height:563px;
	background:url(../images/login.png) no-repeat center;
	position:relative;
	top:45%;
	margin:0 auto;
	transform: translate(0,-45%);
	-webkit-transform: translate(0,-45%);
}
.yuyue .c_yuyue .yuyue_body{
	width:313px;
	overflow: hidden;
	margin:300px auto 0;
}
.yuyue .c_yuyue .yuyue_body p{
    font-size: 21px;
    color: #fff;
    line-height: 33px;
    cursor: pointer;
    /* width: 100%; */
    text-align: center;
    margin-top: 29px;
}
.yuyue .c_yuyue .yuyue_body ul{
    width: 52%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: flex;
    display: -webkit-flex;
	justify-content: space-between;
}
.yuyue .c_yuyue .yuyue_body ul li{
float: left;
    font-size: 30px;
    color: #fff;
    line-height: 33px;
    cursor: pointer;
    /*width: 100%;*/
    text-align: center;
}
.yuyue .c_yuyue .yuyue_body ul li.active i img:nth-child(1){
	display: none;
}
.yuyue .c_yuyue .yuyue_body ul li i{
	display: block;
	width:33px;
	height:33px;
	float:left;
	overflow: hidden;
	margin-right:10px;
}
.yuyue .c_yuyue .yuyue_body .n_yuyue{
	display: block;
	margin:42px auto 0;
	cursor: pointer;
}
.yuyue .c_yuyue .yuyue_body .n_yuyue:hover{
	opacity: .9;
}
.success{
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:20;
	background-color:rgba(0,0,0,.8);
	display: none;
}
.success .c_success{
	width:681px;
	height:494px;
	background:url(../images/success.png) no-repeat center;
	position:relative;
	top:45%;
	margin:0 auto;
	transform: translate(0,-45%);
	-webkit-transform: translate(0,-45%);
}
.success .c_success .success_body{
	width:308px;
	overflow: hidden;
	margin:165px 0 0 170px;
}
.success .c_success .success_body .success_title{
	font-size:30px;
	color:#fff;
	font-weight:bold;
	text-align: center;
}
.success .c_success .success_body .dhm_p{
	font-size:22px;
	color:#fdea21;
	text-shadow: 0px 3px 20px #373b5c;
	text-align: center;
	margin-top:60px;
	font-weight:bold;
}
.success .c_success .success_body .after_denglu{
	width: 266px;
    height: 79px;
    background: url(../images/c_code.png) no-repeat center;
    margin: 0px 0 0 21px;
}
.success .c_success .success_body .after_denglu p{
    line-height: 84px;
    color: #354173;
    float: left;
    font-weight: bold;
    margin-left: 78px;
    font-size:13px;
}
.success .c_success .success_body .after_denglu i{
	width: 52px;
    height: 56px;
    float: right;
    margin-top: 13px;
    cursor: pointer;
}
.success .c_success .success_body .ceshi{
	display: block;
	width:234px;
	height:67px;
	margin:28px auto 0;
}
.success .c_success .success_body .ceshi:hover{
	opacity: .9;
}
.db_footer2{
    width: 100%;
    height: 169px;
    background-color: #313131;
    position: relative;
    z-index: 20;
    overflow: hidden;
}
.copyright {
    margin:41px auto;
    width:1123px;
    color: #666666;
    text-align: center;
    font-size: 14px;
    position: relative;
    color: #ccc;
}
.copyright .zy_logo{
   width:190px;
   height:49px;
   display: block;
   position: absolute;
   top:50%;
   margin-top:-21px;
   left:32px;
   background: url(../images/logo2.png) no-repeat;
   background-size: 100% 100%;
}
.copyright p{
    line-height: 30px;
    text-align: left;
    padding-left:291px;
    color: #666;
}
.copyright p:nth-child(3){
	color: #999;
}
.copyright p i{
	color: #666 !important;
	font-style: normal;
}
.copyright p a{
	color: #ccc !important;
    margin: 0 20px;
}
.copyright p a:nth-child(1){
	margin-left:0;
}
.yx_tips_txt{
    position: absolute;
    width: 198px !important;
    height:auto;
    padding:18px auto;
    line-height: 25px;
    border-radius: 10px;
    background: #fff;
    text-align: center;
    left: 50%;
    margin-left:-20px !important;
    top: 50%;
    margin-top: -24px;
    color: #666;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
}
.float{
	width:213px;
	height:470px;
	background:url(../images/float2.png) no-repeat center;
	position:fixed;
	left:25px;
	top:50%;
	margin-top:-235px;
	z-index:20;
	transition:all .5s;
	-webkit-transition:all .5s;
}
.float .op_close{
    display: block;
    width: 18px;
    height: 24px;
    overflow: hidden;
    position: absolute;
    right: 9px;
    top: 250px;
    z-index: 10;
    cursor: pointer;
}
.float .op_close.active img:nth-child(1){
	display: none;
}
.float .ren{
	display: block;
	width:241px;
	height:182px;
	position:absolute;
	left:-72px;
	top:-103px;
}
.float .c_con{
    width: 178px;
    height: 278px;
    margin-left: 7px;
    position: relative;
    top: 121px;
}
.float .c_con .c_con_txt{
	width:100%;
	height:66px;
}
.float .c_con a{
	width:100%;
	display: block;
	position: relative;
	margin:0 auto;
	margin-bottom:2px;
}
.float .c_con a img{
	width:150px;
	display: block;
	margin:0 auto;
}
.float .c_con a:hover{
	opacity: .9;
}
.float .middle_code{
    width: 100%;
    height: 112px;
    position: absolute;
    bottom: -17px;
}
.float .middle_code .sys{
    display: block;
    float: left;
    margin: 0px 0px 0 19px;
}
.float .middle_code .e_code{
    width: 99px;
    height: 99px;
    float: left;
    position: relative;
    margin-left: 5px;
    top: 0;
}
.float .middle_code .e_code img{
    display: block;
    width: 100%;
    height: 100%;
}
.float .middle_code .e_code i{
	width:109px;
	height:17px;
	background:url(../images/line_sys.png) no-repeat center;
	background-size:100% 100%;
	position:absolute;
	top:0px;
	left:-5px;
	animation: cGo 2s linear infinite;
	-webkit-animation: cGo 2s linear infinite;
}
@keyframes cGo{
	0%{transform: translateY(0);}
	50%{transform: translateY(90px);}
	100%{transform: translateY(0);}
}
@-webkit-keyframes cGo{
	0%{transform: translateY(0);}
	50%{transform: translateY(90px);}
	100%{transform: translateY(0);}
}
.back{
    width: 55px;
    height: 34px;
    display: block;
    position: absolute;
    bottom: 16px;
    left: 50%;
    margin-left: -40.5px;
}