        <div class="top">
	    	<div class="top_content">
	    		<a href="/index" class="icon_big"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/logo.png?{$smarty.const.VERSION}" alt="" class=" lf"></a>
				<div class="i_nav">
					<ul>
						<li>
							<a href="{myurl name='site/index'}"  class="{if isset($smarty.get.id)}{else}on{/if}"  target="_blank">首 页</a>
						</li>
						<li>
							<a href="{myurl name='article/list, id=>464'}"  class="{if isset($smarty.get.id)}on{else}{/if}"  target="_blank">资讯</a>
						</li>
						<li>
							<a href="https://webim.yingxiong.com/chat/ting/159.html" target="_blank">客服</a>
						</li>
						<li>
							<a href="http://bbs.yingxiong.com/t/pc/27" target="_blank">社区</a>
						</li>
					</ul>
				</div>
				<div class="i_share clearfix">
                    <a href="javascript:;" class="i_share_wx" title="微信"></a>
					<a href="{$global.wb_url}" class="i_share_wb" title="微博" target="_blank"></a>
					<a href="{$global.tb_url}" class="i_share_bd" title="百度"  target="_blank"></a>
					 <div class="i_share_weixin">
                        <img src="{$global.wx_img}" alt="微信ewm">
                    </div>
				</div>
	    	</div>
	    </div>