*{ padding: 0; margin: 0;}
@font-face
{
    font-family: myFirstFont;
    src: url('cc.TTF');
}
ul{ list-style: none; list-style-type: none;}
a img{ border: 0;}
img{ display: block;}
a{ text-decoration: none; color:#fff;outline-style: none;}
body{ font:24px myFirstFont,"微软雅黑", "Arial Narrow", HELVETICA; color: #fff; text-align: center;}
.body_bg{background:url(../images/bg_con.jpg) repeat-y top center;}
.wrap{ max-width: 640px; position: relative; margin: 0 auto;}
.task{ width: 100%; height: 100%; background: rgba(0,0,0,.5); z-index: 98; position: fixed; display: none;}/*hcc——2015/4/27修改 */
.bg{ width: 100%;position: absolute; top: 0; left: 0;}
.logo{ position: absolute; top: 0px; width: 70%; left: 50%; margin-left: -35%;}
.gift{ position: absolute; top: 820px; width: 81%; left: 50%; margin-left: -40.5%;}
.gift input{ font-size: 1.2em; color: #fff; width: 33%;  padding: 0 1%; border: 0; outline-style: none; position: absolute; height: 55%; left: 49%; top: 19%; background: transparent;}
.gift a{ display: block; width:8%; padding: 4.3% 0; position: absolute; right: 4.5%; top: 17%;}
.mjzq{ position: absolute; top: 917px; width: 75%; left: 50%; margin-left: -40.5%; padding: 12% 0;}
.mjzq .c_enter1{ position: absolute; left: 0; top: 25px;}
.mjzq .c_enter2{  position: absolute; right: 0; top: 0;}
/*hcc——2015/4/27修改 开始*/
.game_video{ z-index: 99; position: absolute; top: 1160px; width: 520px;  height: 280px;left: 50%; margin-left: -260px;  background: url(../images/videos.png) no-repeat;}
.game_video .video{ position: absolute; width: 520px; height: 280px; top: 0; left:0; overflow: hidden;}
.game_video .video img{ position: absolute; top: 0; left: 0; width: 520px; height: 280px; z-index: 102;}
.game_video .video video{ position: absolute; left: 5px; top: 5px; z-index: 101; display: none;}
.game_video span{ cursor: pointer; width: 73px; height: 72px; position: absolute; left: 50%; margin-left: -36px; top: 50%; margin-top: -36px; z-index: 103;}
/*修改结束*/
.jmjt{ position: absolute; top: 1567px; width: 518px; left: 50%; margin-left: -40.35%; height: 453px; background: url(../wapimages/jmjt_bg.png) no-repeat;}
.jmjt .turn_l{ position: absolute; left: -12%; top: 42%; cursor: pointer;}
.jmjt .turn_r{ position: absolute; right: -11.5%; top: 42%; cursor: pointer;}
.jmjt .con{ width: 508px; height: 443px; position: absolute; top: 5px; left: 5px; overflow: hidden; border-radius: 15px;}
.jmjt .con .content{ width: 1279px; top:0; left: 0; position: absolute;}
.jmjt .con .content ul li{ width: 254px;}
.jmjt .con ul li{ float: left; margin-right: 2px;}
.news{ position: absolute; top: 2145px; width: 81%; margin-left: -40.5%; left: 50%;}
.news .new_info{ position: absolute; width: 94%; position: absolute; top: 5%; left: 3%;}
.new_info ul li{ font-size: 0.9em; background: url(../wapimages/text_bg.png) no-repeat; height: 55px; line-height: 55px; margin-bottom: 0.5%; position: relative;}
.new_info ul li a{ position: absolute; left: 0px; display: block; width: 80%; text-overflow:ellipsis; white-space:nowrap;overflow:hidden;text-align:left;padding-left: 10px;}
.new_info ul li span{ position: absolute; right: 0px; display: block; width: 15%; }
.new_info .info{ float: left; width: 50%;}
.new_wrap{ width: 200%;}
.bot_btn{ width: 100%; position: absolute; bottom: 5%;}
.bot_btn span{ font-size: 1em; width: 40%; text-align: center; display: inline-block;}
.bot_btn span a{ color: #f7a8f8; cursor: pointer;}
.load{ position: fixed; width: 100%;  bottom: 0;  max-width: 640px; z-index: 99;}
.load p{ height: 88px; width: 100%;}
.load p a:first-child{ float: left;}
.load p a:last-child{ float: left;}
/*添加列表内容页*/
.logo01{top:130px;}
.gift01{top:945px}
.top{position: absolute;width: 92%;padding:3% 4%;}
.top_peo{float: left;margin-right: 2%;}
.top_title{float: left;font-size: 1em;padding-top:1.8%;}
.top_title h3{font-weight: normal;font-size: 1.2em;}
.top_title p{color: #f7b5ff;padding-top:1.5%;font-size: 1em;font-weight: 600px;}
.top_btn{float: right;padding-top:2%;}
.sub_main{ width: 100%;position: absolute;top:1050px;text-align: left;}
.sub_nav{ width: 100%; padding-bottom: 40px;}
.sub_nav ul li{ float:left;}
.sub_content{clear: both;background: url(../images/con_bg.jpg) repeat-y;padding-top:20px;}
.sub_info{ padding-bottom: 230px;}
.sub_info ul li{ width: 94%; height: 50px; padding: 0 3%; line-height: 50px; margin: 20px 0; font-size: 1em; text-align: left;}
.sub_info ul li a{ display: block; color: #FFFFFF; width: 65%;  float: left; text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.sub_info ul li span{ float: right; height: 50px; display: block; }
.turn_top{width: 28%;position:absolute;bottom:250;height: 37px;left: 50%;margin-left:-14% ;}
.sub_bottom{ padding: 10px 0; width: 100%; max-width: 640px; background: #71bbfc; position: fixed; bottom: 0;}
.sub_bottom a{ float: left; margin: 0 16px; display: inline-block;}
.sub_info h2{ font-weight: normal; text-align: center; margin-bottom: 20px; font-size: 1.2em; padding: 0 20px; text-align: left; text-indent: 1em;}
.sub_info p.time{ text-align: left; font-size: 1em; color: #cb6ee0; margin-bottom: 20px; padding-left: 5%;}
.sub_infors{ padding: 0 5%; font-size: 1em;margin-bottom:200px;}
.sub_infors p{ text-indent: 2em; margin-bottom: 20px; line-height: 1.5em;color: #fff;}
.sub_t{ width: 543px; height: 69px; line-height: 69px; border-right: 1px solid #fff; padding-left: 30px; font-size: 1.5em; background: #b704e4;}
.sub_t a{ color: #fff;}

