<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全民枪战_官方网站_CA新一代枪战选择</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content=" initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no">
    <!--<link href="http://cdnstatic.yingxiong.com/footer/css/style.css" rel="stylesheet" />-->
    <link href="{$smarty.const.STATIC_DOMAIN}ca/download1127/css/index.css" rel="stylesheet" />
    <script src="{$smarty.const.STATIC_DOMAIN}ca/download1127/js/jquery-1.11.2.min.js"></script>
    <script>
        (function (doc, win) {
            var docEl = doc.documentElement,
            // 手机旋转事件,大部分手机浏览器都支持 onorientationchange 如果不支持，可以使用原始的 resize
                    resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                    recalc = function () {
                        //clientWidth: 获取对象可见内容的宽度，不包括滚动条，不包括边框
                        var clientWidth = docEl.clientWidth;
                        if (!clientWidth) return;
                        docEl.style.fontSize = 16*(clientWidth / 320) + 'px';
                    };

            recalc();
            //判断是否支持监听事件 ，不支持则停止
            if (!doc.addEventListener) return;
            //注册翻转事件
            win.addEventListener(resizeEvt, recalc, false);
        })(document, window);
    </script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?f183afb4e7ff5b06386ab52608aecea5";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    {csrf}
</head>
<body>
<section class="bg cabg" data-id="{$id}" data-icon="{$share_icon}" data-title="{$share_title}" data-desc="{$share_desc}">
    <div class="con animated1 fadeInUp">
        <div class="h5_data" style="display: none;">{$h5data}</div>
        <p class="txt1">由百度云游戏提供技术 </p>
        <a class="yy_btn" href="javascript:;"><img src="{$smarty.const.STATIC_DOMAIN}ca/download1127/images/btn.png" alt=""/></a>
        <p class="txt2">仅限安卓用户</p>
    </div>
</section>

<footer id="Hero-bar" style="display:none">
    <div class="f_t">
        <ul>
            <li style="visibility: hidden;"><a href="javascript:alert('敬请期待!')" id="kefu">客服中心</a></li>
            <li><a href="//bbs.yingxiong.com/T/M/31" id="community">游戏社区</a></li>
        </ul>
    </div>
    <p class="f_txt">版权所有：北京卓越晨星科技有限公司</p>
    <p class="f_txt">京ICP备15026730号-2</p>
    <p class="f_txt">COPY RIGHT   @2015-2018  ALL RIGHTS RESERVED</p>
    <p class="f_txt" style="margin-bottom:10px;">联系方式：010-50948585</p>
    <p class="f_link"><a href="//sq.ccm.gov.cn/ccnt/sczr/service/business/emark/toDetail/4f6d0e4a76ec4ec1baa5b91e75404393">《网络文化经营许可证》 京网文[2015]0629-259号</a></p>
</footer>
</body>
<script>
    h5_data=$(".h5_data").html();
    $(".yy_btn").click(function(){
        var u = navigator.userAgent,
                app = navigator.appVersion;
        var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //g
        var isIOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
        var url = window.location.href;

        if(isIOS) {
            HLog.event('ca_qia_iosdown');
//            $(".yy_btn").attr("href", "http://downurl.yingxiong.com/url/qmqz_qiah5.html");
            location.href="http://downurl.yingxiong.com/url/qmqz_qiah5.html";
        }else if(isAndroid){
            HLog.event('ca_qia_anddown');
//            $(".yy_btn").attr("href", "http://cdn.yingxiong.com/qmqz/qmqz_weiduan.apk");
            location.href="http://cdn.yingxiong.com/qmqz/qmqz_weiduan.apk";
        }
    });
</script>
<!--微信分享-->
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    document.write('<script src="http://game.yingxiong.com/common/h5wx/h5wxjs.php?url=' + encodeURIComponent(location.href) + '"><\/script>');
</script>
<script type="text/javascript">
    $(function() {
        // 分享接口
        var share_icon = $(".cabg").attr("data-icon");
        var share_title = $(".cabg").attr("data-title");
        var share_desc = $(".cabg").attr("data-desc");
        var share = {
            imgUrl: "http:" + share_icon,
            shareTitle: share_title,
            descContent: share_desc,
            lineLink: 'http://h5.yingxiong.com/index/ca/qia.html'
        };
        wx.config({
            debug: false,
            appId: wx_conf.appId,
            timestamp: wx_conf.timestamp,
            nonceStr: wx_conf.nonceStr,
            signature: wx_conf.signature,
            jsApiList: [
                'onMenuShareTimeline',
                'onMenuShareAppMessage',
                'chooseImage',
                'previewImage',
                'uploadImage',
                'downloadImage'
            ]
        });
        wx.ready(function() {
            wx.onMenuShareAppMessage({
                title: share.shareTitle,
                desc: share.descContent,
                link: share.lineLink,
                imgUrl: share.imgUrl,
                success: function() {

                }
            });
            wx.onMenuShareTimeline({
                title: share.shareTitle,
                desc: share.descContent,
                link: share.lineLink,
                imgUrl: share.imgUrl,
                success: function() {

                }
            });

            wx.onMenuShareQQ({
                title: share.shareTitle,
                desc: share.descContent,
                link: share.lineLink,
                imgUrl: share.imgUrl,
                success: function() {

                },
                cancel: function() {
                    // 用户取消分享后执行的回调函数
                }
            });
        });
    });
</script>
</html>