.chengg{
	width:100%;
	height:1px;
	background:none;
}
header {
	width: 100%;
	height: 3.125rem;
	background-color: rgba(0, 0, 0, .9);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
}

.icon {
	display: block;
	float: left;
	width: 3.1875rem;
	height: 3.1875rem;
	margin: 0.625rem 0.375rem 0 0.5625rem;
}

.header_txt {
	float: left;
}

.header_txt p:nth-child(1) {
	font-size: 0.875rem;
	color: #fff;
	margin-top: .7rem;
}

.header_txt p:nth-child(2) {
	font-size: 0.5rem;
	color: #999;
	margin-top: .2rem;
}

header a {
	display: block;
	width: 5.65625rem;
	height: 2rem;
	background-color: #ffd01a;
	border-radius: 0.15626rem;
	float: right;
	margin: 0.5rem 2.125rem 0 0;
	font-size: 0.9375rem;
	color: #000;
	line-height: 2rem;
	text-align: center;
}

.kv {
	width: 100%;
	height: 34.40625rem;
	background: url(../images/p_kv.jpg) no-repeat center;
	background-size: 100% 100%;
	position: relative;
	overflow: hidden;
	margin-top: -3rem;
}
.kv img{
	display: block;
	width:100%;
	height:100%;
}
.play {
	display: block;
	width: 2.53125rem;
	height: 2.3125rem;
	position: absolute;
	top: 13.59375rem;
	right: 4.6875rem;
	animation: vGo 2s linear infinite;
	-webkit-animation: vGo 2s linear infinite;
}

@keyframes vGo {
	0% {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
	}
	50% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	100% {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
	}
}

@-webkit-keyframes vGo {
	0% {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
	}
	50% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	100% {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
	}
}
.p_down{
	display: block;
	width:15.5625rem;
	height:3.25rem;
	position:absolute;
	left:50%;
	bottom:0.5rem;
	margin-left:-7.78125rem;
}
.content{
	width:100%;
	height:36.3125rem;
	background:url(../images/p_con.jpg) no-repeat center;
	background-size:100% 100%;
	position:relative;
	overflow: hidden;
}
.label{
	display: block;
	width:5.5rem;
	height:1.15625rem;
	margin:2rem auto 0;
}
.t_play{
	width:17.28125rem;
	height:29.96875rem;
	background:url(../images/p_bg.png) no-repeat center;
	background-size:100% 100%;
	position:relative;
	margin:0 auto 0;
}
.t_play .swiper-container{
	width:14.90625rem;
	height:27.59375rem;
	margin:1.1875rem auto 0;
	overflow: hidden;
}
.t_play .swiper-container li img{
	display: block;
	width:100%;
	height:100%;
}
.t_play .swiper-pagination{
	text-align: center;
	width:100%;
	bottom:-0.625rem;
}
.t_play .swiper-pagination .swiper-pagination-bullet{
	margin:0 5px;
	opacity: 1;
	width:0.5rem;
	height:0.5rem;
	background:url(../images/pag.png) no-repeat center;
	background-size:100% 100%;
}
.t_play .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
	background:url(../images/pag_h.png) no-repeat center;
}
.t_play .swiper-button-prev{
	width:1.1875rem;
	height:2.03125rem;
	background:url(../images/prev.png) no-repeat center;
	background-size:100% 100%;
	left:-0.6rem;
}
.t_play .swiper-button-next{
	width:1.1875rem;
	height:2.03125rem;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	background:url(../images/prev.png) no-repeat center;
	background-size:100% 100%;
	right:-0.6rem;
	margin-top:-.9rem;
}
.w_footer {
	width:100%;
	height:13.375rem;
	border-top:1px solid #000;
	background-color:#1b1b1b;
	font-size:0;
}
.f_logo{
	display: block;
	width:17.78125rem;
	height:1.65625rem;
	position:relative;
	margin:0 auto;
	padding:1.4375rem 0 1.25rem 0;
	border-bottom:1px solid #464646;	
}
.f_p1{
	width:100%;
	height:1.40625rem;
	position:relative;
	overflow: hidden;
	text-align: center;
	margin:1rem 0 0.5rem 0;
}
.f_p1 p{
	font-size:0.625rem;
	color:#c8c8c8;
	line-height:1.40625rem;
}
.f_p1 p img{
	display: inline-block;
	width:1.40625rem;
	height:1.40625rem;
	margin-right:0.5rem;
}
.f_p1 p span{
	margin:0 0.5rem 0 0.3125rem;
}
.w_footer p{
	font-size:0.625rem;
	color:#aaa;
	text-align: center;
	line-height:1.1875rem;
}