
.header{
	width:100%;
	overflow: hidden;
	position: relative;

}
.h_bg{
	width:100%;
	height:3.125rem;
	background-color: #000;
	opacity: 0.9;
	position: fixed;
	left:0;
	top:0;
	z-index: 999999;
}
.h_con{
	width:100%;
	height: 3.4375rem;
	position: fixed;
	left:0;
	top:0;
	z-index:2;
	box-sizing:border-box;
	padding: 0 0.625rem;
	display: flex;
	display: -webkit-box;
	z-index: 999999;
}
.h_logo{
	width:3.125rem;
	height:3.125rem;
	margin-top: 0.3125rem;
	border-radius: 3px;
}
.h_logo img{
	display: block;
	width:100%;
	height:100%;
}
.h_name{
	width:7.5rem;
	height:100%;
	box-sizing:border-box;
	padding:0.5625rem 0 0.5625rem 0.3125rem;
}
/****lx***/
.top .top-btn {
	margin: 0.725rem 0 0 0.6rem;
	height: 1.6875rem;
	width: 1.6875rem;
	background-image: url("../images/lx_close.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.js_down_wap_btn{
	display: block;
	width:13.8125rem;
	height:2.84375rem;
	position: absolute;
	left:50%;
	/*display: none;*/
	margin-left:-6.90625rem;
	top:30.6rem;
	background: url("../images/yy_btn2.png") no-repeat;
	background-size: 100% 100%;
}
.top .top-btn.lx_close {
	background-image: url("../images/lx_open.png");
}
.top .top-list {
	display: none;
	position: absolute;
	top: 3.125rem;
	right: 0;
	width: 5.9375rem;
}
.top .top-list li {
	height: 2.8125rem;
	width: 100%;
	text-align: center;
	line-height: 2.8125rem;
	background-color: #181602;
	border-bottom: 1px solid #34342d;
}
.top .top-list li a {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 0.8rem;
	color: #fff;
}
.top .top-list li:last-child {
	border-bottom: none;
}
.top .top-list li.active a {
	color: #ffd01a;
}
/***lx****/
.h_name h3{
	font-weight: normal;
	font-size:1rem;
	color:#fff;
	letter-spacing: 1px;
	line-height: 1.3125rem;
}
.h_name p{
	font-size:0.625rem;
	color:#999999;
	line-height: 1rem;
}
.h_order{
	display: block;
	width:5.5rem;
	height: 1.875rem;
	background-color: #ffd01a;
	border-radius: 4px;
	margin-top: 0.625rem;
	line-height: 1.875rem;
	text-align: center;
	font-size: 1rem;
	font-weight: 700;
	color:#000000;
	letter-spacing: 0.5px;
	vertical-align: middle;
	border:0;
}
.wp_con{
	height: 88rem;
	width:100%;
	overflow: hidden;
	position: relative;
	background-image: url("../images/lx_wap.png");
	background-size: cover;
	background-position: 0 0;
}
.wp_bg{
	width:100%;
	display: block;
	border:0;
}
.wp_swiper{
    width: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 4rem;
    z-index: 9;
}
.swiper-slide img{
	width:100%;
}
.wp_mask{
    width: 100%;
    position: absolute;
    right: 0;
    top: 15.3rem;
    z-index: 10;
}
.wp_play{
	width: 3.5rem;
    position: absolute;
    left: 3rem;
    top: 12.8rem;
    z-index: 10;
    animation:myMove 1.5s alternate infinite;
    -webkit-transform:scale(0.8,0.8);
    transform:scale(0.8,0.8);
}
@keyframes myMove{
	from {
		-webkit-transform:scale(0.8,0.8);
		transform:scale(0.8,0.8);
	}
	to {
		-webkit-transform:scale(1,1);
		transform:scale(1,1);
	}
}
@keyframes myfirst{
		from {
			background: url(../images/7.png) no-repeat center center;
			background-size: 1.6875rem 1.28125rem;
		}
		to {
			background: url(../images/11.png) no-repeat center center;
			background-size: 1.6875rem 1.28125rem;
		}
	}
@keyframes myfirst1{
		from {
			background: url(../images/12.png) no-repeat center center;
			background-size: 1.6875rem 1.28125rem;
		}
		to {
			background: url(../images/8.png) no-repeat center center;
			background-size: 1.6875rem 1.28125rem;
		}
	}



/*540 300*/
.swiperBox{
	width: 19.125rem;
	height: 10.15625rem;
	position: absolute;
	left: 0.4375rem;;
	top:50.5rem;
	background-image: url("../images/swiperBg.png");
	background-size: cover;
	background-position: top center;
}
.swiperBox .title{
	position: absolute;
	top: -1.6rem;
	left: 7.1875rem;
	height: 1.15625rem;
	width: 5.5rem;
	background-image: url("../images/lx_title.png");
	background-size: cover;
	background-position: center center;
}
.wp_swiper_b{
	width: 17.5rem;
	height: 9.9375rem;
	margin-top: 0.5rem;
	z-index: 9;
	margin-left: auto;
	margin-right: auto;
	border:5px solid #fff;
	box-sizing:border-box;
	box-shadow: 0px 0px 0.625rem #000;
}
.swiper-button-prev{
	background-image: url('../images/left.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 1.34375rem;
	width: 0.8125rem;
	z-index: 999;
	left: -0.1rem;
}
.swiper-button-next{
	background-image: url('../images/right.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 1.34375rem;
	width: 0.8125rem;
	z-index: 999;
	right: -0.1rem;
}
.swiperBox .swiper-pagination {
  margin-top: 0;
  margin-left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  text-align: center;
  bottom:-2.2rem;
}
.swiperBox .swiper-pagination .swiper-pagination-bullet {
  width:0.625rem;
  height:0.625rem;
  margin: 0 0.4rem;
  border-radius: 0;
  background: url(../images/o_01.png) no-repeat;
  background-size: 100% 100%;
  opacity: 1;
}
.swiperBox .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width:0.625rem;
  height:0.625rem;
  background: url(../images/o_02.png) no-repeat;
  background-size: 100% 100%;
  border-radius: 0;
}
.wp_txt{
	width:15.5rem;
	height:23.53125rem;
	margin:0 auto;
	position:absolute;
	overflow: hidden;
	left:50%;
	margin-left:-7.75rem;
	top:63.5rem;
}
.wp_txt .wp_bwh{
	display: block;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
.wp_txt .code{
	width:4.6875rem;
	height:5.71875rem;
	background:url(../images/code_bg.png) no-repeat center;
	background-size:100% 100%;
	position:absolute;
	top:7.5rem;
	left:1.46875rem;
	font-size:0;
}
.wp_txt .code img{
	display: block;
	width:4.28125rem;
	height:4.28125rem;
	margin:0 auto;
	padding-top:0.15625rem;
}
.wp_txt .code p{
	font-size:0.5625rem;
	color:#000;
	text-align: center;
	margin-top:0.15625rem;
}
.wp_right{
	position:absolute;
	top:7.5625rem;
	left:6.5rem;
	font-size:0;
}
.wp_right p{
	font-size:0.6875rem;
	color:#fff;
	margin-top:0.625rem;
}
.wp_right p:first-child{
	margin-top:0;
}
.wp_right p.wp_p{
	color:#f8e19d;
}
.wp_down{
	width:11.71875rem;;
	position:absolute;
	bottom:2.34375rem;
	left:1.875rem;
	font-size:0;
}
.wp_down p{
	display: block;
	font-size:0.6875rem;
	width:100%;
	text-align: left;
	color:#796838;
}
.wp_down p span{
	display: inline-block;
	min-width:2.96875rem;
	text-align: right;
	margin-right:.5rem;
}
.wp_down p a{
	color:#a81c2a;
	text-decoration: underline;
}
.wp_down p:nth-child(2){
	margin:0.625rem 0;
}
.wp_down p a img {
	display: inline-block;
	width:3.96875rem;
	height:1.5625rem;
	margin-left:0.3125rem;
}
.wp_down p em{
	color:#000;
}
/*order_betro*/
.order_betro{
	width:100%;
	height:100%;
	position: fixed;
	left:0;
	top:0;
	background: #000;
	opacity: 0.9;
	z-index: 99999999;
	display: none;
}
.order_b_bg,.order_b_bg2{
	width:94%;
	position: fixed;
	z-index: 99999999;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
	display: none;
}
.order_b_ibg{
	width:100%;
}
.order_b_ibg2{
    width: 100%;
    position: relative;
}
.order_b_close{
	width: 1.375rem;
    position: absolute;
    right: 0.5rem;
    top: 4rem;
}
.order_b_form{
    position: absolute;
    left: 2.625rem;
    top: 7rem;
}
.order_b_form2{
    position: absolute;
	left: 3rem;
	top: 7rem;
    width: 14rem;
    height: 11.75rem;
}
.order_b_form>p{
	line-height:2rem;
	width:100%;
	text-align: center; 
	font-size:0.8135rem;
	color:#999999;
	border-bottom: 0.01rem solid #787875;
}
.order_b_close2{
    width: 1.375rem;
    height: 1.125rem;
    display: block;
    position: absolute;
    top: 3.2rem;
    right: 0rem;
	background-image: url("../images/close.png");
	background-size: cover;
	background-position: center;
}
.order_b_form2>p{
    line-height: 1.2rem;
    width: 95%;
    text-align: left;
    font-size: 0.7rem;
    color: #999999;
    margin-left: 0.9rem;
    position: relative;
}
.order_b_form2>p i{
    position: relative;
    display: block;
    width: 0.28625rem;
    height: 0.32875rem;
    background: url(../images/sanjiao.png) no-repeat;
    background-size: 100% 100%;
    top: 0.7rem;
    margin-left: -0.8rem;
}
.order_b_f_input{
    display: -webkit-box;
    border: 1px solid #9918fd;
    margin-top: 1rem;
    width: 9.3125rem;
}
.order_b_f_input2{
	width:100%;
    padding-bottom: 1rem;
    border-bottom: 1px solid #333333;
}
.order_b_f_input>div:nth-of-type(1){
    width: 100%;
}
.order_b_f_input>div:nth-of-type(1) input{
    width: 100%;
    height: 2.3rem;
    display: block;
    border: 0;
    outline: none;
    padding-left: 0.3rem;
    letter-spacing: 0.5px;
    font-size: 1rem;
}
.order_b_f_input2 input{
    width: 13.375rem;
    height: 2.5rem;
    display: block;
    border: 1px solid #9918fd;
    outline: none;
    padding-left: 0.6rem;
    letter-spacing: 0.5px;
    font-size: 1rem;
    margin-bottom: 0.625rem;
}
.order_b_f_input2 .email_yy{
	width:14rem;
	height:2.84375rem;
	position: relative;
	display: block;
}
.order_b_f_input2 .email_yy>img{
	width:14rem;
}
.order_b_f_input>div:nth-of-type(2){
	width:5rem;
	height:2.375rem;
	position: relative;
	z-index: 99999999;
}
.order_b_f_input>div:nth-of-type(2):after{
	content: "";
    position: absolute;
    width: 5rem;
    height: 2.375rem;
    background-color: #ffe81c;
    transform: rotateZ(-6deg);
    z-index: 55;
    left: 0;
    top: 0;
	z-index: 999999999;
}
.order_b_f_input>div:nth-of-type(2) button{
	width:100%;
	height:100%;
	outline: none;
	border:0;
	background-color: #9918fd;
	position: relative;
	z-index: 99999999999;
}
.order_b_f_input>div:nth-of-type(2) button img{
	width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: inherit;
}
.video{
	width:80%;
	height: 9rem;
	position: fixed;
	left:10%;
	top:50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	z-index: 99999999;
	background-color: #fff;
	display: none;
}
.video_close{
	width:1.4rem;
	height:1.4rem;
	position: absolute;
	right:-0.7rem;
	top:-0.7rem;
	z-index: 99999998;
}
.video_close img{
	width:100%;
}
.video_box{
	width:100%;
	height:100%;
	background-color: #fff;
}
.mask {
    display: none;
    width: 100%;
    height: 100%;
    background: url(../images/mask.png) repeat;
    position: fixed;
    margin: 0 auto;
    top: 0;
    left: 0;
	z-index: 999999;
}
.tck_yue {
    display: none;
    width: 100%;
    height: 7.08rem;
    position: fixed;
    top: 20%;
    left: 0;
    background: #fce947;
    color: #000;
   
    font-size: 0.95rem;
    z-index: 1000000;
}
.tck_yue .close {
    width: 1.76rem;
    height: 1.76rem;
    background: url(../images/close.jpg) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.tck_yue img {
    width: 5.32rem;
    height: 5.32rem;
    margin: 0.88rem 0.88rem 0 1rem;
}
.fl {
    float: left;
}
.tck_yue .text {
    width: 63%;
    margin-top: 0.72rem;
}
.fr {
    float: right;
}
#video_tck{ display: none; width: 100%;height: 316px;position: fixed; top: 50%; left: 50%;margin: -20% 0 0 -50%;z-index: 100000;}
#close {width: 60px;height: 60px; display: block; position: absolute; top: -30px; right:-30px; background: url(../../common/images/v_close.png) 3px no-repeat;cursor: pointer; background-size:50%;}
#player5{ width:80%;color:#000; position: relative;margin: 0 auto;z-index: 1000;}
#player5 video{width: 90%;}
.w_footer {
	width:100%;
	height:13.375rem;
	border-top:1px solid #000;
	background-color:#1b1b1b;
	font-size:0;
}
.f_logo{
	display: block;
	width:17.78125rem;
	height:1.65625rem;
	position:relative;
	margin:0 auto;
	padding:1.4375rem 0 1.25rem 0;
	border-bottom:1px solid #464646;	
}
.f_p1{
	width:100%;
	height:1.40625rem;
	position:relative;
	overflow: hidden;
	text-align: center;
	margin:1rem 0 0.5rem 0;
}
.f_p1 p{
	font-size:0.625rem;
	color:#c8c8c8;
	line-height:1.40625rem;
}
.f_p1 p img{
	display: inline-block;
	width:1.40625rem;
	height:1.40625rem;
	margin-right:0.5rem;
}
.f_p1 p span{
	margin:0 0.5rem 0 0.3125rem;
}
.w_footer p{
	font-size:0.625rem;
	color:#aaa;
	text-align: center;
	line-height:1.1875rem;
}
.tap{
    width: 5.375rem;
    height: 8.34375rem;
    display: block;
    position: fixed;
    background: url(../images/tap.png) no-repeat;
    background-size: 100% 100%;
    z-index: 15;
    top: 34%;
    right: 0.50625rem;
}
.tap .tap_btn{
    position: absolute;
    width: 4.1875rem;
    height: 1.5625rem;
    display: block;
    left: 0.75rem;
    top: 6.09375rem;
}