@keyframes vGo {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes vGo {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.kv {
  width: 100%;
  height: 998px;
  background: url(../images/c_kv.png) no-repeat center;
  overflow: hidden;
  position: relative;
}
.kv .logo {
    width: 200px;
    height: 122px;
    position: absolute;
    left: 129px;
    top: 5px;
    z-index: 13;
}
.kv .logo img{
  width:207px;
}
.kv .enter {
  display: block;
  width: 176px;
  height: 46px;
  position: absolute;
  z-index: 99;
  right: 71px;
  top: 37px;
  filter: alpha(opacity=80);
  -moz-opacity: 0.80;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}
.kv .enter:hover {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
.kv .play {
  background-image: url("../images/play.png");
  background-size: cover;
  background-repeat: no-repeat;
  animation: vGo 2s linear infinite;
  -webkit-animation: vGo 2s linear infinite;
  width: 148px;
  height: 147px;
  position: absolute;
  bottom: 480px;
  left: 50%;
  margin-left: 0;
  cursor: pointer;
  z-index: 15;
}
.kv .c_yy {
    width: 335px;
    height: 98px;
    position: absolute;
    bottom: 143px;
    left: 462px;
    cursor: pointer;
    z-index: 18;
}
.kv .c_yy a{
   width: 100%;
   height: 100%;
  display: block;
}
.kv .kv_video {
  width: 1920px;
  height: 960px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -960px;
  object-fit: cover;
  z-index: 11;
}
.kv .video_bg{
    width: 1920px;
    height: 965px;
    position: absolute;
    background: url(../images/video_bg.png) no-repeat center;
    bottom: 37px;
    z-index: 11;
    left: 50%;
    margin-left: -960px;
}
.d_bg {
  width: 100%;
  height: 2024px;
  background: url(../images/cc_bg.jpg) no-repeat center;
  overflow: hidden;
  position: relative;
  /*margin-top: -398px;*/
}
.d_bg .f_gift {
  width: 100%;
  height: 1280px;
  position: relative;
}
.d_bg .f_gift .yueBox {
    text-align: center;
    margin-top: 310px;
    height: 32px;
    line-height: 32px;
    width: 255px;
    margin-left: auto;
    margin-right: auto;
    background-color: #8164f3;
    border-radius: 20px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    display: none;
}
.d_bg .f_gift .yueBox .yueNum {
  color: #ffde00;
  margin: 0 5px;
}
.d_bg .f_gift .giftList {
    width: 416px;
    height: 179px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 323px;
    background-image: url(../images/giftList.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.d_bg .f_gift .yue-list {
    position: relative;
    width: 812px;
    height: 269px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 89px;
    background-image: url(../images/gift.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.d_bg .f_gift .yue-list .canjia {
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  cursor: pointer;
}
.d_bg .f_gift .yue-list .join {
  position: absolute;
  width: 220px;
  height: 250px;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  cursor: pointer;
}
.d_bg .f_gift .yue-list .join a {
  display: block;
  width: 100%;
  height: 100%;
}
.d_bg .f_gift .yue-list .join .join-tip {
  display: none;
  position: absolute;
  top: -180px;
  left: -65px;
  width: 337px;
  height: 182px;
  background-image: url("../images/t_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .5s;
  -moz-transition: all .5s; /* Firefox 4 */
  -webkit-transition: all .5s; /* Safari ºÍ Chrome */
  -o-transition: all .5s; /* Opera */
}
.d_bg .f_gift .yue-list .join .join-tip:hover{
  display: none;
}
.d_bg .f_gift .yue-list .join:hover .join-tip{
  display: block;
}
.d_bg .f_gift .yue-list .join .join-tip h3 {
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  font-weight: normal;
  color: #fff;
}
.d_bg .f_gift .yue-list .join .join-tip p {
  float: left;
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  margin: 5px 10px 0 16px;
  text-align: left;
}
.d_bg .f_gift .yue-list .shop {
  position: absolute;
  left: 0;
  top: 0;
  width: 220px;
  height: 250px;
  cursor: pointer;
}
.d_bg .f_gift .yue-list .shop .shop-tip {
  display: none;
  position: absolute;
  top: -180px;
  left: -65px;
  width: 337px;
  height: 182px;
  background-image: url("../images/t_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .5s;
  -moz-transition: all .5s; /* Firefox 4 */
  -webkit-transition: all .5s; /* Safari ºÍ Chrome */
  -o-transition: all .5s; /* Opera */
}
.d_bg .f_gift .yue-list .shop:hover .shop-tip{
  display: block;
}
.d_bg .f_gift .yue-list .shop .shop-tip h3 {
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  font-weight: normal;
  color: #fff;
}
.d_bg .f_gift .yue-list .shop .shop-tip .f_l_txt {
  width: 332px;
  height: 186px;
  position: absolute;
  top: 33px;
  left: 2px;
}
.d_bg .f_gift .yue-list .shop .shop-tip .f_l_txt p {
  width: 170px;
  float: left;
  font-size: 14px;
  color: #fff;
  line-height: 28px;
  margin: 0 0 0 16px;
  text-align: left;
}
.d_bg .f_gift .yue-list .shop .shop-tip .f_l_txt img {
  display: block;
  width: 110px;
  height: 110px;
  float: left;
  margin-top: 5px;
}
.d_bg .f_gift .yue-list .shop .shop-tip p {
  font-size: 14px;
  color: #fff;
  line-height: 60px;
  text-align: center;
}
.d_bg .f_gift .yue-list .shop .shop-tip .jkp {
  text-align: left;
  line-height: 28px;
  margin: 30px 0 0 16px;
}
.d_bg .f_gift .yue-list .shop .shop-tip a {
  display: block;
  width: 131px;
  margin: 13px auto 0;
}
.d_bg .f_gift .yue-list .shop .shop-tip a img {
  display: block;
  width: 100%;
  height: 100%;
}
.d_bg .f_gift .yue-list .money {
  position: absolute;
  right: 0;
  top: 0;
  width: 220px;
  height: 250px;
  cursor: pointer;
}
.d_bg .f_gift .yue-list .money:hover .money-tip{
  display: block;
}
.d_bg .f_gift .yue-list .money .money-tip {
  display: none;
  position: absolute;
  top: -180px;
  left: -50px;
  width: 337px;
  height: 182px;
  background-image: url("../images/t_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .5s;
  -moz-transition: all .5s; /* Firefox 4 */
  -webkit-transition: all .5s; /* Safari ºÍ Chrome */
  -o-transition: all .5s; /* Opera */
}
.d_bg .f_gift .yue-list .money .money-tip h3 {
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  font-weight: normal;
  color: #fff;
}
.d_bg .f_gift .yue-list .money .money-tip .f_l_txt {
  width: 332px;
  height: 126px;
  position: absolute;
  top: 35px;
  left: 2px;
}
.d_bg .f_gift .yue-list .money .money-tip .f_l_txt p {
  width: 187px;
  float: left;
  font-size: 13px;
  color: #fff;
  line-height: 23px;
  margin: 0 0 0 16px;
  text-align: left;
}
.d_bg .f_gift .yue-list .money .money-tip .f_l_txt img {
  display: block;
  width: 110px;
  height: 110px;
  float: left;
  margin-top: 5px;
}
.d_bg .f_gift .yue-list .money .money-tip p {
  font-size: 14px;
  color: #fff;
  line-height: 60px;
  text-align: center;
}
.d_bg .f_gift .yue-list .money .money-tip .jkp {
  text-align: left;
  line-height: 24px;
  margin: 30px 0 0 16px;
}
.d_bg .f_gift .yue-list .money .money-tip a {
  display: block;
  width: 131px;
  margin: 13px auto 0;
}
.d_bg .f_gift .yue-list .money .money-tip a img {
  display: block;
  width: 100%;
  height: 100%;
}
.d_bg .f_gift .label {
  width: 424px;
  height: 84px;
  margin: 46px auto 0;
}
.d_bg .f_gift .m_gift {
  width: 1047px;
  height: 702px;
  background: url(../images/gift_bg.png) no-repeat center;
  margin: 13px auto 0;
  position: relative;
}
.d_bg .f_gift .m_gift .gift1 {
  width: 213px;
  height: 216px;
  position: absolute;
  left: 427px;
  top: 0px;
  transition: all .5s;
  -webkit-transition: all .5s;
  z-index: 10;
}
.d_bg .f_gift .m_gift .gift1:hover {
  top: -20px;
}
.d_bg .f_gift .m_gift .gift2 {
  width: 249px;
  height: 261px;
  position: absolute;
  left: 69px;
  top: 182px;
  transition: all .5s;
  -webkit-transition: all .5s;
  z-index: 10;
}
.d_bg .f_gift .m_gift .gift2:hover {
  top: 162px;
}
.d_bg .f_gift .m_gift .gift3 {
  width: 212px;
  height: 179px;
  position: absolute;
  right: 412px;
  bottom: 118px;
  transition: all .5s;
  -webkit-transition: all .5s;
  z-index: 10;
}
.d_bg .f_gift .m_gift .gift3:hover {
  bottom: 138px;
}
.d_bg .f_gift .m_gift .gift4 {
  width: 142px;
  height: 145px;
  position: absolute;
  right: 128px;
  top: 214px;
  transition: all .5s;
  -webkit-transition: all .5s;
  z-index: 10;
}
.d_bg .f_gift .m_gift .gift4:hover {
  top: 194px;
}
.d_bg .f_gift .m_gift .tab_i {
  width: 100%;
  height: 100%;
  position: relative;
}
.d_bg .f_gift .m_gift .tab_i li {
  width: 85px;
  height: 17px;
  position: absolute;
  cursor: pointer;
}
.d_bg .f_gift .m_gift .tab_i li:nth-child(1) {
  left: 487px;
  top: 342px;
}
.d_bg .f_gift .m_gift .tab_i li:nth-child(2) {
  left: 158px;
  bottom: 226px;
}
.d_bg .f_gift .m_gift .tab_i li:nth-child(3) {
  right: 154px;
  bottom: 231px;
}
.d_bg .f_gift .m_gift .tab_i li:nth-child(4) {
  left: 498px;
  bottom: 16px;
}
.d_bg .f_gift .m_gift .t_con {
  width: 352px;
  height: 238px;
  background: url(../images/t_bg.png) no-repeat center;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -171px;
  z-index: 10;
  top: 213px;
  display: none;
}
.d_bg .f_gift .m_gift .t_con.active {
  display: block;
}
.d_bg .f_gift .m_gift .t_con ul {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.d_bg .f_gift .m_gift .t_con ul li {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: none;
}
.d_bg .f_gift .m_gift .t_con ul li.active {
  display: block;
}
.d_bg .f_gift .m_gift .t_con ul li h3 {
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  font-weight: normal;
  color: #fff;
}
.d_bg .f_gift .m_gift .t_con ul li .f_l_txt {
  width: 332px;
  height: 186px;
  position: absolute;
  top: 33px;
  left: 2px;
}
.d_bg .f_gift .m_gift .t_con ul li .f_l_txt p {
  width: 170px;
  float: left;
  font-size: 14px;
  color: #fff;
  line-height: 28px;
  margin: 22px 0 0 16px;
  text-align: left;
}
.d_bg .f_gift .m_gift .t_con ul li .f_l_txt img {
  display: block;
  width: 135px;
  height: 135px;
  float: left;
  margin-top: 22px;
}
.d_bg .f_gift .m_gift .t_con ul li p {
  font-size: 14px;
  color: #fff;
  line-height: 60px;
  text-align: center;
}
.d_bg .f_gift .m_gift .t_con ul li .jkp {
  text-align: left;
  line-height: 28px;
  margin: 30px 0 0 16px;
}
.d_bg .f_gift .m_gift .t_con ul li a {
  display: block;
  width: 131px;
  margin: 13px auto 0;
}
.d_bg .f_gift .m_gift .t_con ul li a img {
  display: block;
  width: 100%;
  height: 100%;
}
.d_bg .f_gift .btn1 {    
    width: 240px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 43px;
    cursor: pointer;
}
.d_bg .f_gift .btn1 a{
    width:100%;
    height:100%;
    display: block;
}
.d_bg .t_play {
  width: 100%;
  height: 885px;
  position: relative;
  overflow: hidden;
}
.d_bg .t_play .label1 {
  width: 424px;
  height: 103px;
  position: relative;
  margin: 69px auto 0;
}
.d_bg .t_play .d_galleryBox {
  position: relative;
  margin-top: 100px;
}
.d_bg .t_play .d_galleryBox .swiper-button-next {
  right: 90px;
  width: 59px;
  height: 59px;
  background: url(../images/nav.png) no-repeat center;
  overflow: hidden;
}
.d_bg .t_play .d_galleryBox .swiper-button-prev {
  left: 90px;
  width: 59px;
  height: 59px;
  background: url(../images/nav.png) no-repeat center;
  overflow: hidden;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.d_bg .t_play .d_galleryBox .swiper-pagination {
  margin-top: 35px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.d_bg .t_play .d_galleryBox .swiper-pagination .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  margin-left: 10px;
  background-color: #edeeff;
  opacity: 1;
}
.d_bg .t_play .d_galleryBox .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #edd433;
}
.d_bg .t_play .d_gallery {
  width: 967px;
  height: 460px;
  position: relative;
  margin: 46px auto 0;
  overflow: hidden;
}
.d_bg .t_play .d_gallery li a {
  margin-left: 50%;
  display: inline-block;
  width: 815px;
  text-align: center;
  transform: translate(-400px, 0);
  -ms-transform: translate(-400px, 0);
  -webkit-transform: translate(-400px, 0);
  -o-transform: translate(-400px, 0);
  -moz-transform: translate(-400px, 0);
  box-shadow: 0 0 15px #000;
}
.d_bg .t_play .d_gallery li a img {
  display: block;
  width: 815px;
  height: 460px;
  border: 7px solid #482EB5;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.d_bg .r_qudao {
  width: 100%;
  height: 173px;
  position: relative;
  overflow: hidden;
}
.op .r_nav {
  right: 50px!important;
}
.r_nav {
  width: 178px;
  height: 689px;
  background: url(../images/news_nav.png) no-repeat center;
  position: fixed;
  right: -165px;
  top: 9%;
  z-index: 10;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}
.r_nav .float_btn {
  display: block;
  width: 56px;
  height: 117px;
  position: absolute;
  left: -40px;
  top: 134px;
  cursor: pointer;
}
.r_nav .nav_ul {
  width: 150px;
  overflow: hidden;
  position: relative;
  margin: 83px auto 0;
}
.r_nav .nav_ul li {
  width: 100%;
  height: 30px;
  position: relative;
  overflow: hidden;
  font-size: 16px;
  line-height: 30px;
  margin-top: 12px;
  transition: all .5s;
  -webkit-transition: all .5s;
}
.r_nav .nav_ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
.r_nav .nav_ul li a .f_bg {
  display: none;
  width: 150px;
  height: 34px;
  position: absolute;
  left: 0;
  top: 2px;
}
.r_nav .nav_ul li a .li_con {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.r_nav .nav_ul li a .li_con img {
  display: block;
  width: 38px;
  height: 38px;
  float: left;
  margin: 0 8px 0 23px;
}
.r_nav .nav_ul li a .li_con p {
  width: 100%;
  line-height: 20px;
  color: #fff;
  float: left;
  text-align: center;
}
.r_nav .nav_ul li.active .f_bg {
  display: block;
}
.r_nav .nav_ul li.active .li_con p {
  color: #ffde00;
}
.r_nav .nav_ul li:hover .f_bg {
  display: block;
}
.r_nav .nav_ul li:hover .li_con p {
  color: #ffde00;
}
.r_nav .f_download {
  width: 125px;
  overflow: hidden;
  position: relative;
  margin: 7px auto 0;
}
.r_nav .f_download a {
  display: block;
  width: 100%;
  height: 37px;
  margin-top: 6px;
  text-align: center;
}
.r_nav .x_code {
    width: 115px;
    overflow: hidden;
    position: relative;
    margin: 4px auto 0;
}
.r_nav .x_code .code_img {
    width: 115px;
    height: 115px;
    background: url(../images/erweima.png) no-repeat center;
    margin: 0 auto;
}
.r_nav .x_code .code_img img {
    display: block;
    width: 115px;
    height: 115px;
    margin: 0 auto;
    padding-top: 1px;
}
.r_nav .x_code p {
  font-size: 12px;
  text-align: center;
  color: #fff;
  margin-top: 10px;
}
.r_nav .fw {
  width: 105px;
  overflow: hidden;
  position: relative;
  margin:26px auto 0;
}
.r_nav .fw a {
  display: block;
  width: 46px;
  height: 67px;
  float: left;
}
.r_nav .fw a:nth-child(2) {
  margin-left: 11px;
}
.r_nav .back {
    width: 78%;
    height: 55px;
    position: relative;
    margin:0 1px 0 22px;
    cursor: pointer;
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}
.r_nav .back img{
    display: block;
    width: 51px;
    position: relative;
    margin: 0 auto;
    top: 17px;
}
.r_nav .back img:nth-child(1){
  display: none;
}
.r_nav .back:hover img:nth-child(1){
  display: block;
}
.r_nav .back:hover img:nth-child(2){
  display: none;
}
.r_nav .xf_code {
  width: 148px;
  height: 156px;
  background: url(../images/xf.png) no-repeat center;
  position: absolute;
  overflow: hidden;
  bottom: 20px;
  left: -115px;
  display: none;
}
.r_nav .xf_code .xf_img {
  width: 102px;
  height: 102px;
  background: url(../images/erweima.png) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  margin: 10px 0 0 20px;
}
.r_nav .xf_code .xf_img img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding-top: 1px;
}
.r_nav .xf_code p {
    width: 125px;
    text-align: center;
    font-size: 11px;
    margin: 0 auto;
    color: #fff;
    line-height: 23px;
    height: 23px;
}
.yuyue1 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  display: none;
}
.yuyue1 .yy_con {
  width: 552px;
  height: 436px;
  background: url(../images/tc_bg.png) no-repeat center;
  background-size: 100% 100%;
  position: relative;
  margin: 0 auto;
  top: 45%;
  transform: translate(0, -45%);
  -webkit-transform: translate(0, -45%);
}
.yuyue1 .yy_con .nv {
  display: block;
  width: 454px;
  height: 530px;
  position: absolute;
  left: -305px;
  top: -88px;
}
.yuyue1 .yy_con .c_close {
    display: block;
    width: 33px;
    height: 33px;
    position: absolute;
    right: 2px;
    top: 2px;
    cursor: pointer;
}
.yuyue1 .con_yy {
    width: 320px;
    height: 325px;
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -160px;
}
.yuyue1 .con_yy h2{
    text-align: center;
    line-height: 43px;
    font-size: 28px;
    color: #FFCC00;
    top: 14px;
    position: relative;
}
.yuyue1 .con_yy .type_select {
  width: 100%;
  height: 24px;
  overflow: hidden;
  position: relative;
  display: none;
}
.yuyue1 .con_yy .type_select li {
  cursor: pointer;
  color: #fff;
  height: 24px;
  line-height: 24px;
}
.yuyue1 .con_yy .type_select li.active{
  color:#F9D32C;
}
.yuyue1 .con_yy .type_select li:nth-child(1) {
  width: 104px;
  height: 24px;
  float: left;
}
.yuyue1 .con_yy .type_select li i{
    display: inline-block;
    float: left;
    width: 24px;
    height: 23px;
    background: url(../images/yuan.png) no-repeat;
    background-size: 100% 100%;
    margin-right: 15px;
}
.yuyue1 .con_yy .type_select li.active i{
    background:url(../images/yuan_h.png) no-repeat;
    background-size:100% 100%;
}
.yuyue1 .con_yy .type_select li:nth-child(2) {
  width: 147px;
  height: 24px;
  float: right;
}
.yuyue1 .con_yy .type_select li.active img:nth-child(1) {
  display: none;
}
.yuyue1 .con_yy .s_phone {
  width: 318px;
  height: 49px;
  background: #fff no-repeat center;
  overflow: hidden;
  position: relative;
  margin: 7px auto 0;
}
.yuyue1 .con_yy .s_phone .phone {
  width: 318px;
  height: 49px;
  line-height: 49px;
  font-size: 18px;
  color: #b2b0d7;
  text-indent: 17px;
}
.yuyue1 .con_yy .s_put {
  width: 318px;
  height: 49px;
  background: #fff no-repeat center;
  overflow: hidden;
  position: relative;
  margin: 19px auto 0;
}
.yuyue1 .con_yy .s_put .t_yzm {
  width: 196px;
  height: 49px;
  position: relative;
  float: left;
  font-size: 18px;
  line-height: 49px;
  text-indent: 17px;
}
.yuyue1 .con_yy .s_put .captcha {
  width: 120px;
  height: 49px;
  float: right;
  font-size: 18px;
  line-height: 49px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.yuyue1 .con_yy .s_put .captcha img {
  display: block;
  width: 118px;
  height: 46px;
  margin-top: 1px;
  border-bottom-right-radius: 11px;
  border-top-right-radius: 11px;
}
.yuyue1 .con_yy .s_put .i_code {
  width: 196px;
  height: 49px;
  position: relative;
  float: left;
  font-size: 18px;
  line-height: 49px;
  text-indent: 17px;
}
.yuyue1 .con_yy .s_put .g_code {
  width: 120px;
  height: 49px;
  float: right;
  font-size: 18px;
  line-height: 49px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: #604dee;
}
.yuyue1 .con_yy .submit {
  width: 168px;
  height: 61px;
  position: relative;
  margin: 22px auto 0;
  cursor: pointer;
}
.e_mail {
  width: 318px;
  height: 49px;
  background: #fff no-repeat center;
  overflow: hidden;
  position: relative;
  margin: 26px auto 0;
}
.e_mail .mail {
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 49px;
  text-indent: 17px;
}
.t_p {
  font-size: 11px;
  color: #fff;
  white-space: nowrap;
  text-indent: -12px;
  line-height: 34px;
}
.t_p span {
  color: #ffb300;
}
.s_and li .chuxian {
  display: block;
}
