.hidden{display:none;}
@keyframes vGo {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes vGo {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.kv {
  width: 100%;
  height: 1067px;
  background-image: url(../images/kv.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  overflow: hidden;
  position: relative;
  margin-top: -17px;
}
.kv .logo {
    width: 200px;
    height: 122px;
    position: absolute;
    left: 129px;
    top: 5px;
}
.kv .slogan {
  width: 728px;
  height: 240px;
  position: absolute;
  bottom: 278px;
  right: 190px;
}
.kv .slogan img {
  display: block;
  position: absolute;
}
.kv .play {
    width: 148px;
    height: 147px;
    top: 364px;
    right: 466px;
    z-index: 1;
    animation: vGo 2s linear infinite;
    -webkit-animation: vGo 2s linear infinite;
    cursor: pointer;
    z-index: 18;
    position: absolute;
}
.content {
  width: 100%;
  height: 1415px;
  position: relative;
  background-image: url("../images/bg.jpg");
  background-position: top center;
}
.content .wrap {
  margin-top: 60px;
}
.content .t_body {
  width: 100%;
  height: 100%;
  margin-top: -271px;
  position: relative;
}
.content .t_body .left_banner {
    width: 502px;
    height: 360px;
    overflow: hidden;
    position: relative;
    float: left;
    margin-right: 8px;
}
.content .t_body .left_banner li a {
  display: block;
  width: 100%;
  height: 100%;
}
.content .t_body .left_banner .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    background: url(../images/sl_btn.png) no-repeat;
    background-size: 100% 100%;
    border-radius: 0;
    opacity: 1;
    margin-right: 0.21875rem;
    position: relative;
    top: 10px;
}
.content .t_body .left_banner .swiper-pagination-bullets{
    width: 100%;
    position: relative;
    top: -39px;
    height: 39px;
    background-color: rgba(135, 134, 255, 0.8);
}
.content .t_body .left_banner .swiper-pagination-bullet-active{
  background:url(../images/sl_on.png) no-repeat;
    background-size: 100% 100%;
}
.content .t_body .left_banner li a img {
    display: block;
    width: 502px;
    height: 360px;
}
.content .t_body .right_news {
    width: 690px;
    height: 360px;
    background-color: #fff;
    float: right;
}
.content .t_body .right_news .right_c {
  width: 633px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
.content .t_body .right_news .right_c .r_ul {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #d0ccef;
}
.content .t_body .right_news .right_c .r_ul li {
  width: 117px;
  height: 59px;
  font-size: 18px;
  color: #8669ff;
  text-align: center;
  line-height: 60px;
  float: left;
  margin-right: 5px;
  cursor: pointer;
  position: relative;
  font-weight: bolder;
}
.content .t_body .right_news .right_c .r_ul li.active {
  font-weight: bold;
  color: #ffa800;
  border-bottom: 3px solid #ffa800;
}
.content .t_body .right_news .right_c .r_ul li:hover {
  font-weight: bold;
  color: #ffa800;
  border-bottom: 3px solid #ffa800;
}
.content .t_body .right_news .right_c .r_ul .more {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 14px;
  border: 1px solid #8669ff;
}
.content .t_body .right_news .right_c .r_ul .more img{
    position: absolute;
    width: 18px;
    top: 50%;
    left: 50%;
    margin-left: -9px;
    margin-top: -9px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.content .t_body .right_news .right_c .r_ul .more img:hover {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}
.content .t_body .right_news .right_c .l_news {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.content .t_body .right_news .right_c .l_news .z_title {
  width: 100%;
  height: 50px;
  background-color: #eae9f7;
  text-align: center;
  line-height: 50px;
  margin: 14px 0 12px 0;
  font-size: 22px;
  font-weight: bold;
}
.content .t_body .right_news .right_c .l_news .z_title a {
  color: #8669ff;
}
.content .t_body .right_news .right_c .l_news .z_title a:hover {
  color: #ffa800;
}
.content .t_body .right_news .right_c .l_news ul {
  display: none;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.content .t_body .right_news .right_c .l_news ul.active {
  display: block;
}
.content .t_body .right_news .right_c .l_news ul li {
  width: 100%;
  height: 36px;
  font-size: 16px;
  line-height: 36px;
  position: relative;
}
.content .t_body .right_news .right_c .l_news ul li em {
  font-style: normal;
  display: block;
  width: 38px;
  height: 26px;
  background-color: #8786ff;
  color: #fff;
  line-height: 26px;
  text-align: center;
  float: left;
  margin-top: 5px;
  font-size: 14px;
}
.content .t_body .right_news .right_c .l_news ul li em.xw {
  background-color: #4dadff;
}
.content .t_body .right_news .right_c .l_news ul li em.hd {
  background-color: #ffae00;
}
.content .t_body .right_news .right_c .l_news ul li span {
  color: #8669ff;
  display: block;
  width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  margin-left: 14px;
}
.content .t_body .right_news .right_c .l_news ul li i {
  font-style: normal;
  color: #8669ff;
  font-size: 14px;
  float: right;
}
/*.content .t_body .right_news .right_c .l_news ul li:hover em {
  background-color: #ffa800;
}*/
.content .t_body .right_news .right_c .l_news ul li:hover span {
  color: #ffa800;
}
/*.content .t_body .right_news .right_c .l_news ul li:nth-child(1) span {
  color: #ffa800;
}*/
.content .t_body .s_game {
  width: 1235px;
  height: 547px;
  margin: 30px auto 0;
  padding-top: 100px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
  background-image: url("../images/game_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.content .t_body .s_game .s_game_title {
  position: absolute;
  top: 30px;
  left: -20px;
  width: 666px;
  height: 70px;
  background-image: url("../images/topBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 23px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.content .t_body .s_game .s_game_title li {
  width: 180px;
  float: left;
  font-size: 24px;
  line-height: 67px;
  text-align: center;
  color: #fff;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}
.content .t_body .s_game .s_game_title li.active {
  color: #ffd200;
  border-color: #ffd200;
}
.content .t_body .s_game .s_game_title li:hover {
  color: #ffd200;
  border-color: #ffd200;
}
.content .t_body .s_game .s_game_title a {
    float: left;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    border: 1px solid #fff;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
}
.content .t_body .s_game .s_game_title a img{
    position: absolute;
    width: 18px;
    top: 50%;
    left: 50%;
    margin-left: -9px;
    margin-top: -9px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.content .t_body .s_game .s_game_title a img:hover {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}
.content .t_body .s_game .s_game_title:after {
  content: '';
  display: block;
  clear: both;
}
.content .t_body .s_game .s_game_list {
  display: none;
  width: 890px;
}
.content .t_body .s_game .s_game_list li {
  position: relative;
  float: left;
  width: 290px;
  height: 175px;
  margin-right: 10px;
  margin-top: 10px;
}
.content .t_body .s_game .s_game_list li img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.content .t_body .s_game .s_game_list li p {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-indent: 10px;
  font-size: 16px;
  color: #fff;
  background-color: rgba(135, 134, 255, 0.8);
}
.content .t_body .s_game .s_game_list li:nth-child(3n) {
  margin-right: 0;
}
.content .t_body .s_game .s_game_list1 {
  display: block;
}
.content .t_body .s_game .g_title {
  font-size: 28px;
  color: #374471;
  line-height: 60px;
  margin-left: 14px;
}
.content .t_body .s_game .g_title span {
  font-size: 12px;
  margin-left: 11px;
  vertical-align: middle;
}
.content .t_body .s_game .t_game {
  width: 1155px;
  height: 485px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.content .t_body .s_game .t_game li {
  width: 100%;
  height: 485px;
  position: relative;
}
.content .t_body .s_game .t_game li a {
  display: block;
  width: 100%;
  height: 100%;
}
.content .t_body .s_game .t_game li a img {
  display: block;
  width: 1155px;
  height: 485px;
}
.content .t_body .s_game .swiper-pagination {
  width: 100%;
  margin-top: 15px;
}
.content .t_body .s_game .swiper-pagination .swiper-pagination-bullet {
  width: 79px;
  height: 11px;
  background-color: #2f4099;
  border-radius: 0;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  margin: 0 10px;
}
.content .t_body .s_game .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ff9000;
}
.slider2:after {
  content: '';
  display: block;
  clear: both;
}
.slider2 {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1235px;
  height: 400px;
  margin-top: 15px;
}
.slider2 .img-list {
  position: absolute;
  left: 0;
  top: 0;
  width: 810px;
  height: 100%;
}
.slider2 .img-list .cont-box {
  display: none;
  height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.slider2 .img-list .cont-box .li {
  position: absolute;
}
.slider2 .img-list .cont-box .pic {
  width: 450px;
  height: 256px;
  position: absolute;
  right: -300px;
  top: 120px;
}
.slider2 .img-list .cont-box1 {
  background-image: url("../images/pic1.png");
}
.slider2 .img-list .cont-box1 .li {
  left: -1000px;
  top: -70px;
}
.slider2 .img-list .cont-box2 {
  background-image: url("../images/pic2.png");
}
.slider2 .img-list .cont-box2 .li {
  left: -1000px;
  top: -70px;
}
.slider2 .img-list .cont-box3 {
  background-image: url("../images/pic3.png");
}
.slider2 .img-list .cont-box3 .li {
  left: -1000px;
  top: -70px;
}
.slider2 .img-list .cont-box4 {
  background-image: url("../images/pic4.png");
}
.slider2 .img-list .cont-box4 .li {
  left: -1000px;
  top: -56px;
}
.slider2 .img-list .cont-box5 {
  background-image: url("../images/pic5.png");
}
.slider2 .img-list .cont-box5 .li {
  left: -1000px;
  top: -35px;
}
.slider2 .img-list:after {
  content: '';
  display: block;
  clear: both;
}
.slider2 .tab-list {
  position: relative;
  float: right;
  height: 100%;
  z-index: 9;
}
.slider2 .tab-list li {
  position: relative;
  float: left;
  height: 100%;
  width: 86px;
  margin-right: 6px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.slider2 .tab-list li:nth-child(1) {
  background-image: url("../images/li1.png");
}
.slider2 .tab-list li:nth-child(2) {
  background-image: url("../images/li2.png");
}
.slider2 .tab-list li:nth-child(3) {
  background-image: url("../images/li3.png");
}
.slider2 .tab-list li:nth-child(4) {
  background-image: url("../images/li4.png");
}
.slider2 .tab-list li:nth-child(5) {
  background-image: url("../images/li5.png");
  margin-right: 0;
}
.slider2 .tab-list:after {
  content: '';
  display: block;
  clear: both;
}

.ss_pic{
  width:100%;
  height:400px;
  /*overflow: hidden;*/
}
.ss_pic li{
  width:86px;
  height:100%;
  float:left;
  /*overflow: hidden;*/
  margin-right:10px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  position: relative;
}
.ss_pic li p.top{
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  content: "";
  width:86px;
  height:400px;
  margin-top: -7.5px;
  z-index: 17;
}
.ss_pic li:last-child{
  margin-right:0;
}
.ss_pic li.active{width:814px;}
.ss_pic li.active>img:first-child{
  display: none;
}
.ss_pic li>img{
    cursor: pointer;
    z-index: 109;
    position: relative;
  }
.ss_pic li>p.img{
    cursor: pointer;
    width: 86px;
    height: 400px;
    position: absolute;
    top: 0;
    z-index: 110;
}
.ss_pic li .big{position:relative;}
.ss_pic li .big .li{
  position: absolute;
  left: -1000px;
  top: -70px;
}
.ss_pic li .big2 .li{
  /*left: -100px;*/
}
.ss_pic li .big3 .li{
  /*left: -150px;*/
}
.ss_pic li .big4 .li{
  /*left: -210px;*/
  top:-56px;
}
.ss_pic li .big5 .li{
  /*left: -130px;*/
  top:-35px;
}
.ss_pic li .big .pic{
  width: 450px;
  height: 256px;
  position: absolute;
  right: -155px;
  top: 120px;
}
.ss_pic li .big1{
  width:814px;
  height:400px;
  background: url("../images/pic1.png");
  background-size:100% 100%;
}
.ss_pic li .big2{
  width:814px;
  height:400px;
  background: url("../images/pic2.png");
  background-size:100% 100%;
}
.ss_pic li .big3{
  width:814px;
  height:400px;
  background: url("../images/pic3.png");
  background-size:100% 100%;
}
.ss_pic li .big4{
  width:814px;
  height:400px;
  background: url("../images/pic4.png");
  background-size:100% 100%;
}
.ss_pic li .big5{
  width:814px;
  height:400px;
  background: url("../images/pic5.png");
  background-size:100% 100%;
}
.ss_pic li .big1 .li{
  left: -340px;
}
.ss_pic li .big1 .pic{
  right: 40px;
}
.r_qudao {
  position: relative;
  width: 100%;
  height: 170px;
  background-color: #7F7CF0;
}
.r_qudao ul {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.r_qudao ul li {
  float: left;
}
.r_qudao ul li .bg_img {
  width: 135px;
  height: 135px;
  border: 1px solid #a29eb8;
  float: left;
  margin-top: 22px;
}
.r_qudao ul li .bg_img img {
  display: block;
  width: 124px;
  height: 124px;
  margin: 4px auto 0;
}
.r_qudao ul li .bg_txt {
  float: left;
  margin: 35px 0 0 20px;
}
.r_qudao ul li .bg_txt .b_title {
  font-size: 22px;
  color: #fff;
  font-weight: bold;
}
.r_qudao ul li .bg_txt p {
  font-size: 14px;
  color: #bdc6ea;
  line-height: 22px;
}
.r_qudao ul li .bg_txt p.first_p {
  margin-top: 10px;
}
.r_qudao ul li .bg_txt .f_l_p {
  color: #bdc6ea;
}
.r_qudao ul li .bg_txt div {
  color: #DEC96E;
}
.r_qudao ul li .bg_txt div a {
  color: #DEC96E;
}
.r_qudao ul li:nth-child(1) {
  margin-left: 118px;
}
.r_qudao ul li:nth-child(2) {
  margin-left: 95px;
}
.r_qudao ul li:nth-child(3) {
  margin-left: 20px;
}
.op .r_nav {
  right: 50px!important;
}
.r_nav {
  width: 178px;
  height: 727px;
  background: url(../images/float.png) no-repeat center;
  position: fixed;
  right: -165px;
  top:8%;
  z-index: 20;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}
.r_nav .float_btn {
  display: block;
  width: 56px;
  height: 117px;
  position: absolute;
  left: -40px;
  top: 134px;
  cursor: pointer;
}
.r_nav .nav_ul {
  width: 150px;
  overflow: hidden;
  position: relative;
  margin: 89px auto 0;
}
.r_nav .nav_ul li {
  width: 100%;
  height: 29px;
  position: relative;
  overflow: hidden;
  font-size: 16px;
  line-height: 29px;
  margin-top: 12px;
  transition: all .5s;
  -webkit-transition: all .5s;
}
.r_nav .nav_ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
.r_nav .nav_ul li a .f_bg {
  display: none;
  width: 150px;
  height: 34px;
  position: absolute;
  left: 0;
  top: 2px;
}
.r_nav .nav_ul li a .li_con {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.r_nav .nav_ul li a .li_con img {
  display: block;
  width: 38px;
  height: 38px;
  float: left;
  margin: 0 8px 0 23px;
}
.r_nav .nav_ul li a .li_con p {
  width: 100%;
  line-height: 20px;
  color: #fff;
  float: left;
  text-align: center;
}
.r_nav .nav_ul li.active .f_bg {
  display: block;
}
.r_nav .nav_ul li.active .li_con p {
  color: #ffde00;
}
.r_nav .nav_ul li:hover .f_bg {
  display: block;
}
.r_nav .nav_ul li:hover .li_con p {
  color: #ffde00;
}
.r_nav .f_download {
  width: 125px;
  overflow: hidden;
  position: relative;
  margin: 0px auto 0;
  text-align: center;
}
.r_nav .f_download a {
  display: block;
  width: 100%;
  height: 37px;
  margin-top: 8px;
}
.r_nav .x_code {
    width: 115px;
    overflow: hidden;
    position: relative;
    margin: 8px auto 0;
}
.r_nav .x_code .code_img {
    width: 115px;
    height: 115px;
    background: url(../images/erweima.png) no-repeat center;
    margin: 0 auto;
}
.r_nav .x_code .code_img img {
    display: block;
    width: 115px;
    height: 115px;
    margin: 0 auto;
    padding-top: 1px;
}
.r_nav .x_code p {
  font-size: 12px;
  text-align: center;
  color: #fff;
  margin-top: 4px;
}
.r_nav .fw {
  width: 105px;
  overflow: hidden;
  position: relative;
  margin: 23px auto 0;
}
.r_nav .fw a {
  display: block;
  width: 46px;
  height: 67px;
  float: left;
}
.r_nav .fw a:nth-child(2) {
  margin-left: 11px;
}
.r_nav .back {
    width: 80%;
    height: 53px;
    position: relative;
    margin: 0 2px 0 21px;
    cursor: pointer;
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}
.r_nav .back img{
    display: block;
    width: 51px;
    position: relative;
    margin: 0 auto;
    top:19px;
}
.r_nav .back img:nth-child(1){
  display: none;
}
.r_nav .back:hover img:nth-child(1){
  display: block;
}
.r_nav .back:hover img:nth-child(2){
  display: none;
}
.r_nav .xf_code {
  width: 148px;
  height: 154px;
  background: url(../images/xf.png) no-repeat center;
  position: absolute;
  overflow: hidden;
  bottom: 21px;
  left: -115px;
  display: none;
}
.r_nav .xf_code .xf_img {
  width: 102px;
  height: 102px;
  /*background: url(../images/erweima.png) no-repeat center;*/
  /*background-size: 100% 100%;*/
  overflow: hidden;
  margin: 10px 0 0 20px;
}
.r_nav .xf_code .xf_img img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding-top: 1px;
}
.r_nav .xf_code p {
  font-size: 12px;
  color: #fff;
  margin: 2px 0 0 20px;
}

/*预约·弹窗*/
.yuyue1 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  display: none;
}
.yuyue1 .yy_con {
  width: 552px;
  height: 445px;
  background: url(../images/tc_bg.png) no-repeat center;
  background-size: 100% 100%;
  position: relative;
  margin: 0 auto;
  top: 45%;
  transform: translate(0, -45%);
  -webkit-transform: translate(0, -45%);
}
.yuyue1 .yy_con .nv {
  display: block;
  width: 454px;
  height: 530px;
  position: absolute;
  left: -305px;
  top: -88px;
}
.yuyue1 .yy_con .c_close {
    display: block;
    width: 33px;
    height: 33px;
    position: absolute;
    right: 2px;
    top: 2px;
    cursor: pointer;
}
.yuyue1 .con_yy {
    width: 320px;
    height: 325px;
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -160px;
}
.yuyue1 .con_yy h2{
    text-align: center;
    line-height: 43px;
    font-size: 28px;
    color: #FFCC00;
    top: 14px;
    position: relative;
}
.yuyue1 .con_yy .type_select {
  width: 100%;
  height: 24px;
  overflow: hidden;
  position: relative;
  display: none;
}
.yuyue1 .con_yy .type_select li {
  cursor: pointer;
  color: #fff;
  height: 24px;
  line-height: 24px;
}
.yuyue1 .con_yy .type_select li.active{
  color:#F9D32C;
}
.yuyue1 .con_yy .type_select li:nth-child(1) {
  width: 104px;
  height: 24px;
  float: left;
}
.yuyue1 .con_yy .type_select li i{
    display: inline-block;
    float: left;
    width: 24px;
    height: 23px;
    background: url(../images/yuan.png) no-repeat;
    background-size: 100% 100%;
    margin-right: 15px;
}
.yuyue1 .con_yy .type_select li.active i{
    background:url(../images/yuan_h.png) no-repeat;
    background-size:100% 100%;
}
.yuyue1 .con_yy .type_select li:nth-child(2) {
  width: 147px;
  height: 24px;
  float: right;
}
.yuyue1 .con_yy .type_select li.active img:nth-child(1) {
  display: none;
}
.yuyue1 .con_yy .s_phone {
  width: 318px;
  height: 49px;
  background: #fff no-repeat center;
  overflow: hidden;
  position: relative;
  margin: 7px auto 0;
}
.yuyue1 .con_yy .s_phone .phone {
  width: 318px;
  height: 49px;
  line-height: 49px;
  font-size: 18px;
  color: #b2b0d7;
  text-indent: 17px;
}
.yuyue1 .con_yy .s_put {
  width: 318px;
  height: 49px;
  background: #fff no-repeat center;
  overflow: hidden;
  position: relative;
  margin: 19px auto 0;
}
.yuyue1 .con_yy .s_put .t_yzm {
  width: 196px;
  height: 49px;
  position: relative;
  float: left;
  font-size: 18px;
  line-height: 49px;
  text-indent: 17px;
}
.yuyue1 .con_yy .s_put .captcha {
  width: 120px;
  height: 49px;
  float: right;
  font-size: 18px;
  line-height: 49px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.yuyue1 .con_yy .s_put .captcha img {
  display: block;
  width: 118px;
  height: 46px;
  margin-top: 1px;
  border-bottom-right-radius: 11px;
  border-top-right-radius: 11px;
}
.yuyue1 .con_yy .s_put .i_code {
  width: 196px;
  height: 49px;
  position: relative;
  float: left;
  font-size: 18px;
  line-height: 49px;
  text-indent: 17px;
}
.yuyue1 .con_yy .s_put .g_code {
  width: 120px;
  height: 49px;
  float: right;
  font-size: 18px;
  line-height: 49px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: #604dee;
}
.yuyue1 .con_yy .submit {
  width: 168px;
  height: 61px;
  position: relative;
  margin: 22px auto 0;
  cursor: pointer;
}
.e_mail {
  width: 318px;
  height: 49px;
  background: #fff no-repeat center;
  overflow: hidden;
  position: relative;
  margin: 26px auto 0;
}
.e_mail .mail {
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 49px;
  text-indent: 17px;
}
.t_p {
  font-size: 11px;
  color: #fff;
  white-space: nowrap;
  text-indent: -12px;
  line-height: 34px;
}
.t_p span {
  color: #ffb300;
}
.s_and li .chuxian {
  display: block;
}
