html,
body {
  background-color: #eeecf9;
}
.main_con {
  width: 100%;
  height: 600px;
  background: url(../images/news.jpg) no-repeat center;
  position: relative;
  overflow: hidden;
  margin-top: -17px;
}
.main_con .logo {
  width: 308px;
  height: 173px;
  position: absolute;
  top: 20px;
  left: 140px;
}
.c_main {
  width: 100%;
  position: relative;
}
.c_main .main_news {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: -196px;
}
.c_main .main_news .left_nav {
  width: 300px;
  height: 100%;
  float: left;
  margin-left: 4px;
}
.c_main .main_news .left_nav .backHome {
  display: block;
  width: 317px;
  height: 128px;
  margin-left: -4px;
  background-image: url("../images/backHome.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}
.c_main .main_news .left_nav .n_download {
  margin-top: -13px;
  width: 300px;
  height: 350px;
  background: url(../images/n_code.jpg) no-repeat center;
  overflow: hidden;
  position: relative;
}
.c_main .main_news .left_nav .n_download .n_code {
  width: 175px;
  height: 175px;
  background: url(../images/n_code.jpg) no-repeat center;
  overflow: hidden;
  margin: 105px auto 0;
}
.c_main .main_news .left_nav .n_download .n_code img {
  display: block;
  width: 171px;
  height: 171px;
  margin: 0 auto;
  padding-top: 2px;
}
.c_main .main_news .left_nav .n_download ul {
  width: 175px;
  height: 50px;
  position: relative;
  margin: 7px auto 0;
}
.c_main .main_news .left_nav .n_download ul li {
  width: 50px;
  height: 50px;
  float: left;
}
.c_main .main_news .left_nav .n_download ul li a {
  display: block;
}
.c_main .main_news .left_nav .n_download ul li:nth-child(2) {
  margin: 0 10px;
}
.c_main .main_news .left_nav .l_nav {
  width: 318px;
  height: 221px;
  background-image: url("../images/l_nav_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
  margin-top: 8px;
  margin-left: -5px;
}
.c_main .main_news .left_nav .l_nav ul {
  width: 100%;
  height: 100%;
}
.c_main .main_news .left_nav .l_nav ul li {
  width: 150px;
  height: 50px;
  margin: 0 auto;
  position: relative;
  line-height: 50px;
}
.c_main .main_news .left_nav .l_nav ul li a {
  display: block;
}
.c_main .main_news .left_nav .l_nav ul li a img {
  display: block;
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
}
.c_main .main_news .left_nav .l_nav ul li a p {
  font-size: 21px;
  color: #fff;
  text-align: center;
  font-family: "Microsoft YaHei";
  font-weight: bold;
}
.c_main .main_news .left_nav .l_nav ul li:nth-child(2) {
  margin: 24px auto 24px;
}
.c_main .main_news .left_nav .l_nav ul li:nth-child(1) {
  margin-top: 8px;
}
.c_main .main_news .left_nav .l_nav ul li.active a p {
  color: #e1df22;
}
.c_main .main_news .left_nav .l_nav ul li:hover a p {
  color: #e1df22;
}
.c_main .main_news .left_nav .tu {
  display: block;
  width: 300px;
  height: 326px;
}
.c_main .main_news .right_news {
  width: 886px;
  height: 905px;
  background-color: #fff;
  float: left;
  margin-left: 9px;
}
.c_main .main_news .right_news .top_title {
  width: 100%;
  height: 105px;
  position: relative;
  line-height: 105px;
}
.c_main .main_news .right_news .top_title h3 {
  font-size: 30px;
  color: #766fac;
  float: left;
  font-weight: normal;
  margin-left: 42px;
}
.c_main .main_news .right_news .top_title p {
  font-size: 12px;
  color: #766fac;
  float: right;
  margin-right: 34px;
}
.c_main .main_news .right_news .top_title p a {
  color: #766fac;
}
.c_main .main_news .right_news .top_title p a:hover {
  text-decoration: underline;
}
.c_main .main_news .right_news .tab_ul {
  width: 100%;
  height: 37px;
}
.c_main .main_news .right_news .tab_ul li {
  width: 20%;
  height: 35px;
  position: relative;
  font-size: 23px;
  line-height: 32px;
  text-align: center;
  float: left;
  margin-left: 3%;
}
.c_main .main_news .right_news .tab_ul li a {
  display: block;
  color: #766fac;
  font-weight: bold;
}
.c_main .main_news .right_news .tab_ul li.active {
  border-bottom: 2px solid #f6a800;
}
.c_main .main_news .right_news .tab_ul li.active a {
  color: #f6a800;
}
.c_main .main_news .right_news .tab_ul li:hover {
  border-bottom: 2px solid #f6a800;
}
.c_main .main_news .right_news .tab_ul li:hover a {
  color: #f6a800;
}
.c_main .main_news .right_news .con_news {
  width: 830px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.c_main .main_news .right_news .con_news .con_ul {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.c_main .main_news .right_news .con_news .con_ul li {
  width: 100%;
  height: 150px;
  line-height: 100px;
  border-bottom: 1px solid #ebebeb;
  font-size: 16px;
}
.c_main .main_news .right_news .con_news .con_ul li a {
  display: block;
  color: #5b5b5b;
}
.c_main .main_news .right_news .con_news .con_ul li a i {
  font-style: normal;
  display: block;
  float: left;
  color: #fff;
  background: #8786ff;
  height: 30px;
  margin-top: 38px;
  line-height: 30px;
  padding: 0 5px;
  margin-right: 20px;
}
.c_main .main_news .right_news .con_news .con_ul li a i.xw {
  background-color: #4dadff;
}
.c_main .main_news .right_news .con_news .con_ul li a i.hd {
  background-color: #ffae00;
}
.c_main .main_news .right_news .con_news .con_ul li a span {
  display: block;
  float: left;
  width: 680px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.c_main .main_news .right_news .con_news .con_ul li a span p {
  margin-top: -30px;
  line-height: 20px;
  font-size: 14px;
}
.c_main .main_news .right_news .con_news .con_ul li a em {
  font-style: normal;
  font-size: 12px;
  color: #a2a2a2;
}
.c_main .main_news .right_news .con_news .con_ul li:hover a {
  color: #f6a800;
}
/*详情页样式*/
.detail_right {
  width: 886px;
  background-color: #fff;
  float: left;
  margin-left: 9px;
}
.detail_right .top_title {
  width: 100%;
  height: 105px;
  position: relative;
  line-height: 105px;
}
.detail_right .top_title h3 {
  font-size: 30px;
  color: #766fac;
  float: left;
  font-weight: normal;
  margin-left: 42px;
}
.detail_right .top_title p {
  font-size: 12px;
  color: #766fac;
  float: right;
  margin-right: 34px;
}
.detail_right .top_title p a {
  color: #766fac;
}
.detail_right .top_title p a:hover {
  text-decoration: underline;
}
.m_detail {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.m_detail .m_title {
  width: 100%;
  height: 133px;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 55px;
}
.m_detail .m_title h3 {
  font-weight: normal;
  font-size: 31px;
  color: #8669ff;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 100px;
}
.m_detail .m_title p {
  font-size: 15.6px;
  color: #b8bcfe;
  text-align: center;
}
.m_detail .m_body {
  width: 820px;
  min-height: 610px;
  position: relative;
  margin: 0 auto;
  font-size: 14px;
  color: #5b5b5b;
  line-height: 26px;
}
.m_detail .m_body img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
/*分页样式*/
.page {
  width: 100%;
  height: 20px;
  position: relative;
  text-align: center;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  margin-top: 75px;
}
.page li.first {
  display: none;
}
.page li.last {
  display: none;
}
.page li {
  font-size: 12px;
  color: #949494;
  border: 1px solid #766fac;
  padding: 0 5px;
  line-height: 20px;
  margin: 0 10px;
}
.page li a {
  color: #434a81;
  display: block;
}
.page li.first {
  width: 72px;
  height: 27px;
  font-size: 12px;
  margin: 0;
}
.page li.last {
  width: 72px;
  height: 27px;
  font-size: 12px;
  margin: 0;
}
.yuyue1 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  display: none;
}
.yuyue1 .yy_con {
  width: 552px;
  height: 436px;
  background: url(../images/tc_bg.png) no-repeat center;
  background-size: 100% 100%;
  position: relative;
  margin: 0 auto;
  top: 45%;
  transform: translate(0, -45%);
  -webkit-transform: translate(0, -45%);
}
.yuyue1 .yy_con .nv {
  display: block;
  width: 454px;
  height: 530px;
  position: absolute;
  left: -305px;
  top: -88px;
}
.yuyue1 .yy_con .c_close {
    display: block;
    width: 33px;
    height: 33px;
    position: absolute;
    right: 2px;
    top: 2px;
    cursor: pointer;
}
.yuyue1 .con_yy {
    width: 320px;
    height: 325px;
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -160px;
}
.yuyue1 .con_yy h2{
    text-align: center;
    line-height: 43px;
    font-size: 28px;
    color: #FFCC00;
    top: 14px;
    position: relative;
}
.yuyue1 .con_yy .type_select {
  width: 100%;
  height: 24px;
  overflow: hidden;
  position: relative;
  display: none;
}
.yuyue1 .con_yy .type_select li {
  cursor: pointer;
  color: #fff;
  height: 24px;
  line-height: 24px;
}
.yuyue1 .con_yy .type_select li.active{
  color:#F9D32C;
}
.yuyue1 .con_yy .type_select li:nth-child(1) {
  width: 104px;
  height: 24px;
  float: left;
}
.yuyue1 .con_yy .type_select li i{
    display: inline-block;
    float: left;
    width: 24px;
    height: 23px;
    background: url(../images/yuan.png) no-repeat;
    background-size: 100% 100%;
    margin-right: 15px;
}
.yuyue1 .con_yy .type_select li.active i{
    background:url(../images/yuan_h.png) no-repeat;
    background-size:100% 100%;
}
.yuyue1 .con_yy .type_select li:nth-child(2) {
  width: 147px;
  height: 24px;
  float: right;
}
.yuyue1 .con_yy .type_select li.active img:nth-child(1) {
  display: none;
}
.yuyue1 .con_yy .s_phone {
  width: 318px;
  height: 49px;
  background: #fff no-repeat center;
  overflow: hidden;
  position: relative;
  margin: 7px auto 0;
}
.yuyue1 .con_yy .s_phone .phone {
  width: 318px;
  height: 49px;
  line-height: 49px;
  font-size: 18px;
  color: #b2b0d7;
  text-indent: 17px;
}
.yuyue1 .con_yy .s_put {
  width: 318px;
  height: 49px;
  background: #fff no-repeat center;
  overflow: hidden;
  position: relative;
  margin: 19px auto 0;
}
.yuyue1 .con_yy .s_put .t_yzm {
  width: 196px;
  height: 49px;
  position: relative;
  float: left;
  font-size: 18px;
  line-height: 49px;
  text-indent: 17px;
}
.yuyue1 .con_yy .s_put .captcha {
  width: 120px;
  height: 49px;
  float: right;
  font-size: 18px;
  line-height: 49px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.yuyue1 .con_yy .s_put .captcha img {
  display: block;
  width: 118px;
  height: 46px;
  margin-top: 1px;
  border-bottom-right-radius: 11px;
  border-top-right-radius: 11px;
}
.yuyue1 .con_yy .s_put .i_code {
  width: 196px;
  height: 49px;
  position: relative;
  float: left;
  font-size: 18px;
  line-height: 49px;
  text-indent: 17px;
}
.yuyue1 .con_yy .s_put .g_code {
  width: 120px;
  height: 49px;
  float: right;
  font-size: 18px;
  line-height: 49px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: #604dee;
}
.yuyue1 .con_yy .submit {
  width: 168px;
  height: 61px;
  position: relative;
  margin: 22px auto 0;
  cursor: pointer;
}
.e_mail {
  width: 318px;
  height: 49px;
  background: #fff no-repeat center;
  overflow: hidden;
  position: relative;
  margin: 26px auto 0;
}
.e_mail .mail {
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 49px;
  text-indent: 17px;
}
.t_p {
  font-size: 11px;
  color: #fff;
  white-space: nowrap;
  text-indent: -12px;
  line-height: 34px;
}
.t_p span {
  color: #ffb300;
}
.s_and li .chuxian {
  display: block;
}
