{include '../../layouts/wap/header.html'}
    <div class="listBg fade">
    </div>
    <div class="news-info fade news-info2">
        <div class="news-info-box">
            <div class="back back2">
                 {if $content.category_id==620}
                <a href="{myurl name='wap/article/list, id=>620'}"></a>
                {else if $content.category_id==621}
                <a href="{myurl name='wap/article/list, id=>621'}"></a>
                {else if $content.category_id==622}
                <a href="{myurl name='wap/article/list, id=>622'}"></a>
                {/if}
            </div>
            <div class="art_til">
                <h3>{$content.title}</h3>
                <p>发布时间：<span class="detail-time">{$content.created_at|date_format:"%m/%d"}</span><span>作者：官方</span></p>
            </div>
            <div class="art_m">
                {$content.body}
            </div>
        </div>
    </div>
{include '../../layouts/wap/footer.html'}