<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>全民枪战2枪神之路 传奇开启</title>
		<meta name="keywords" content="全民枪战官网,全民枪战下载,全民创造,全民枪战2,CA,枪战2,古墓丽影,古墓,源起之战,全民枪战礼包,FPS手游,枪战手游,竞技手游,射击手游,枪战游戏,FPS,钻石,射击游戏,电影,福利" />
		<meta name="description" content="《全民枪战2》是英雄互娱研发的全球首款FPS+UGC竞技手游。全民枪战携手电影《古墓丽影：源起之战》助力新版本，影游联动打造更强福利！百人同局策略求生，跳伞？飙车？捡枪对决！最专业的枪战操作，最熟悉的射击体验，最上瘾的吃鸡手游！百里挑一，看谁能活到最后？2018必玩，来《全民枪战2》与亿万枪友同服跳伞，一起组队吃鸡！超多超值福利活动上线！还等什么？赶快喊着兄弟好友一起尽情酣战！" />
		{csrf}
		<link rel="shortcut icon" href="{$global.icon_img}?{$smarty.const.VERSION}"/>
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}raider/css/swiper.3.1.7.min.css?{$smarty.const.VERSION}" />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}raider/css/public.css?{$smarty.const.VERSION}" />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}raider/css/active.css?{$smarty.const.VERSION}"/>
		<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}raider/js/jquery-1.7.1.min.js?{$smarty.const.VERSION}"></script>
		<script data-fixed="true">
			if((/iphone|android|mobile/i.test(navigator.userAgent.toLowerCase()))) {
	            location.href = "/m" + window.location.pathname + window.location.search;
	        }
	    </script>
	    <script>
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "//hm.baidu.com/hm.js?4197a56f5c9a0de486bea7deb10092a6";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s);
		})();
	    </script>
	</head>
	<body>
		<script type="text/javascript" src="//cdnstatic.yingxiong.com/head/js/topbar.js?{$smarty.const.VERSION}" ></script>