<!DOCTYPE html>
<html>

	<head>		
		<title>{$seo_title}</title>
		<meta charset="utf-8">
		<meta name="keywords" content="{$seo_key}" />
		<meta name="description" content="{$seo_desc}" />
		<link rel="stylesheet" type="text/css" href="{$smarty.const.STATIC_DOMAIN}7.0/css/reset.css?{$smarty.const.VERSION}">
		<link rel="stylesheet" type="text/css" href="{$smarty.const.STATIC_DOMAIN}7.0/css/move.css?{$smarty.const.VERSION}">
		<link rel="stylesheet" type="text/css" href="{$smarty.const.STATIC_DOMAIN}7.0/css/style.css?{$smarty.const.VERSION}">
		<link rel="shortcut icon" href="{$global.icon_img}?{$smarty.const.VERSION}">
		<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}7.0/js/jquery-1.7.1.min.js?{$smarty.const.VERSION}"></script>
		{csrf}
		<script data-fixed="true">
			if((/iphone|android|mobile/i.test(navigator.userAgent.toLowerCase()))) {
				location.href = "/m"+window.location.pathname+window.location.search;
			}
		</script>
	</head>

	<body>
		<!--[if IE 8]>
		    <div class="q_ie8_title">您的浏览器版本过低，为了更好的浏览体验，建议您戳<a href="https://support.microsoft.com/zh-cn/help/17621/internet-explorer-downloads" target="_blank">这里</a>升级版本</div>                  
		<![endif]-->
		<script type="text/javascript" src="http://cdnstatic.yingxiong.com/head/js/topbar.js?{$smarty.const.VERSION}"></script>
		<div class="q_float">
			<img class="q_f_mark js_jump_img" src="{$global.logo_img}" />
			<div class="channel_tap_name" style="display: none;">
				<a class="q_ios js_down_ios stat_ios" href="javascript:" target="_blank"></a>
				<a class="q_az js_down_andriod stat_android" href="" target="_blank"></a>
			</div>
			<div class="channel_name" style="display: none">
				<a class="q_az js_down_andriod stat_android" href="javascript:" target="_blank"></a>
				<a class="q_tap stat_tap" href="https://www.taptap.com/app/34763" target="_blank "></a>
				<a class="q_haoyou stat_hy" href="http://www.3839.com/a/87894.htm" target="_blank "></a>

			</div>
			<div class="no_channel " >
				<a class="q_ios js_down_ios stat_ios" href="javascript:" target="_blank"></a>
				<a class="q_az js_down_andriod stat_android" href="javascript:" target="_blank"></a>
				<a class="q_tap stat_tap" href="https://www.taptap.com/app/34763" target="_blank "></a>
				<a class="q_haoyou stat_hy" href="http://www.3839.com/a/87894.htm" target="_blank "></a>
			</div>



			<!--{if $channel_name=='t'}
			<img class="q_f_mark js_jump_img" src="http://gamerimage.yingxiong.com/qrcode/jump_qmqz_t.png" />
			{else}
			<img class="q_f_mark js_jump_img" src="{$smarty.const.STATIC_DOMAIN}7.0/images/q_down_mark1.png?{$smarty.const.VERSION}" />
			{/if}
			<a class="q_ios js_down_ios stat_ios" href="javascript:" target="_blank"></a>

			{if $channel_name=='t'}
			<a class="q_az" href="http://downurl.yingxiong.com/android/qmqz_t.html" target="_blank"></a>
			{else}
			<a class="q_az js_down_andriod" href="javascript:" target="_blank"></a>
			{/if}
			&lt;!&ndash;&lt;!&ndash;<a class="q_tap stat_tap" href="http://l.taptap.com/fUC3ttRc" target="_blank "></a>&ndash;&gt;]&ndash;&gt;
			{if $channel_name!=='t'}
			<a class="q_tap stat_tap" href="javascript:alert('敬请期待')" target="_blank "></a>
			<a class="q_haoyou stat_hy" href="http://www.3839.com/a/87894.htm" target="_blank "></a>
			{/if}-->
			<img class="q_f_lp" src="{$smarty.const.STATIC_DOMAIN}7.0/images/q_ak.png?{$smarty.const.VERSION}" />
			<a class="q_lq" href="https://www.jiyoushe.cn/game/gamePlay.html?gid=274908" target="_blank "></a>
			<label class="q_f_icon show"></label>
		</div>
		<div class="q_top">
			<div class="top_container">
				<img class="top_logo" src="{$global.logo_img}">
				<div class="top_tit">
					<h1>{$global.title}</h1>
					<p>{$global.sub_title}</p>
				</div>
				<ul class="top_nav">
					<li>
						<a href="/site/index.html" target="_blank">
							首页
							<label></label>
						</a>
					</li>
					<li>
						<a href="{myurl name='article/list, id=>319'}" target="_blank">
							新闻资讯
							<label></label>
						</a>
					</li>
					<li>
						<a href="javascript:">
							CA档案馆
							<label></label>
						</a>
					</li>
					<li>
						<a href="javascript:" onclick="alert('敬请期待')">
							赛事专区
							<label></label>
						</a>
					</li>
					<li>
						<a href="{myurl name='video/list, id=>329'}" target="_blank">
							视频中心
							<label></label>
						</a>
					</li>
					<li>
						<a href="http://bbs.yingxiong.com/Index/index?fid=1&click_type=27" target="_blank">
							玩家社区
							<label></label>
						</a>
					</li>
					<ul class="top_hide_nav">
						<li>
							<a href="{myurl name='article/list, id=>320'}" target="_blank">新闻</a>
							<a href="{myurl name='article/list, id=>321'}" target="_blank">公告</a>
							<a href="{myurl name='article/list, id=>322'}" target="_blank">活动</a>
							<a href="{myurl name='article/list, id=>323'}" target="_blank">攻略</a>
						</li>
						<li>
							<a href="http://ca.yingxiong.com/data/act_151118.html" target="_blank">军火库</a>
							<a href="{myurl name="image/list,id=>354"}" target="_blank">版本纪念馆</a>
							<a href="http://ca.yingxiong.com/topic/role" target="_blank">角色档案</a>
							<a href="javascript:" onclick="alert('敬请期待')">创造乐园</a>
						</li>
						<li>
							<a href="javascript:" onclick="alert('敬请期待')">赛事活动</a>
							<a href="javascript:" onclick="alert('敬请期待')">枪神殿堂</a>
						</li>
						<li class="top_nav_last">
							<a href="{myurl name='article/list, id=>324'}" target="_blank">攻略中心</a>
						</li>
					</ul>
				</ul>
				<div class="top_talk">
					<a class="top_wx" href="javascript:">
						<div class="wx_mark">
							<img src="{$global.wx_img}">
							<p>扫描关注官方微信</p>
						</div>
					</a>
					<a class="top_qq" href="{$global.wb_url}" target="_blank"></a>
					<a class="top_tb" href="{$global.tb_url}" target="_blank"></a>
				</div>
			</div>
		</div>