{include '../../layouts/wap/header_new.html'}
<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}1.0/m/css/index.css?{$smarty.const.VERSION}" />
</head>
<body>
<div class="i_main">
    <a href="/m/index.html" class="role_inter"></a>
    <img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/rolebg1.jpg?{$smarty.const.VERSION}" class="role_img role_img1"/>
    <img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/rolebg2.jpg?{$smarty.const.VERSION}" class="role_img role_img2"/>
    <img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/rolebg3.jpg?{$smarty.const.VERSION}" class="role_img role_img3"/>

    {include '../../layouts/wap/bottom.html'}
</div>
</body>
</html>
       