{include '../../layouts/wap/header.html'}
<!--内容-->
<div class="i_main">
    <!--第一部分-->
    <div class="top">
        <!--kv_video-->
        {fragment var=video code=index_video size=1}
        <div class="videoBtn"><a href="{if $video}javascript:;{else}javascript:yx_showTips('敬请期待');{/if}" class="{if $video}js_video_play{else}{/if}" data-url="{if $video}{$video[0].url}{/if}">
        </a></div>
        <!--ball-->
        <a class="ball" href="/wap/yy/index.html"><img src="{$smarty.const.STATIC_DOMAIN}2.0/m/images/ball.png?{$smarty.const.VERSION}"/></a>
    </div>
    <!--第二部分-->
    <div class="banner_news">
        <div class="banner">
            <div class="swiper-container swiper-container1">
                <div class="swiper-wrapper">
                    {fragment var=banner_news code=banner_news size=5}
                    {if $banner_news neq ''}
                    {foreach $banner_news as $v}
                    <div class="swiper-slide">
                        <a href="{if $v.url}{$v.url}{else}javascript:;{/if}"><img class="images" src="{$v.thumb}" alt=""></a>
                    </div>
                    {/foreach}
                    {/if}
                </div>
            </div>
            <div class="swiper-pagination swiper-pagination1"></div>
        </div>
        <div class="title"><img src="{$smarty.const.STATIC_DOMAIN}2.0/m/images/news_tit.png?{$smarty.const.VERSION}" alt=""/></div>
        <div class="news_box">
            <div class="hd">
                <ul>
                    <li class="on">
                        <a>新闻公告</a>
                    </li>
                    <li>
                        <a>热辣活动</a>
                    </li>
                    <li>
                        <a>球场指南</a>
                    </li>
                </ul>
            </div>
            <div class="bd">
                <ul class="news_info">
                    {article id="705" size=4 var=xwgg}
                    {if $xwgg neq ''}
                    {foreach $xwgg as $key=>$v}
                    {if $key >= 0}
                    <li>
                        <a href="{$v.wapLinkUrl}"><i class="small_ti">[{$v.name}]</i>{$v.title}</a>
                        <span>{$v.created_at|date_format:"%m/%d"}</span>
                    </li>
                    {/if}
                    {/foreach}
                    {else}
                    <p class="noData" style="line-height: 8rem;color: #DB9612;text-align: center;font-size: .9375rem;">暂无数据...</p>
                    {/if}
                </ul>
                <ul class="news_info hidden">
                    {article id="703" size=4 var=rlhd}
                    {if $rlhd neq ''}
                    {foreach $rlhd as $key=>$v}
                    {if $key >= 0}
                    <li>
                        <a href="{$v.wapLinkUrl}"><i class="small_ti">[{$v.name}]</i>{$v.title}</a>
                        <span>{$v.created_at|date_format:"%m/%d"}</span>
                    </li>
                    {/if}
                    {/foreach}
                    {else}
                    <p class="noData" style="line-height: 8rem;color: #DB9612;text-align: center;font-size: .9375rem;">暂无数据...</p>
                    {/if}
                </ul>
                <ul class="news_info hidden">
                    {article id="702" size=4 var=qczn}
                    {if $qczn neq ''}
                    {foreach $qczn as $key=>$v}
                    {if $key >= 0}
                    <li>
                        <a href="{$v.wapLinkUrl}"><i class="small_ti">[{$v.name}]</i>{$v.title}</a>
                        <span>{$v.created_at|date_format:"%m/%d"}</span>
                    </li>
                    {/if}
                    {/foreach}
                    {else}
                    <p class="noData" style="line-height: 8rem;color: #DB9612;text-align: center;font-size: .9375rem;">暂无数据...</p>
                    {/if}
                </ul>
            </div>
            <a href="{myurl name='wap/list, id=>705'}" class="more"></a>
        </div>
    </div>
    <!--第三部分-->
    <div class="ts_play">
        <div class="ea_box">
            <div class="title"><img src="{$smarty.const.STATIC_DOMAIN}2.0/m/images/ea_tit.png?{$smarty.const.VERSION}" alt=""/></div>
        </div>
        <div class="slider">
            <div class="title"><img src="{$smarty.const.STATIC_DOMAIN}2.0/m/images/ts_tit.png?{$smarty.const.VERSION}" alt=""/></div>
            <div class="swiper-container swiper-container2">
                <div class="swiper-wrapper">
                    {fragment var=banner_ts code=banner_ts size=50}
                    {if $banner_ts neq ''}
                    {foreach $banner_ts as $v}
                    <div class="swiper-slide">
                        <a href="{if $v.url}{$v.url}{else}javascript:;{/if}"><img class="images" src="{$v.thumb}" alt=""></a>
                    </div>
                    {/foreach}
                    {/if}
                </div>
            </div>
            <div class="swiper-pagination swiper-pagination2"></div>
        </div>
    </div>
    <!--第四部分-->
    <div class="pvp_box">
        <div class="pvp1">
            <div class="title"><img src="{$smarty.const.STATIC_DOMAIN}2.0/m/images/pvp1_tit.png?{$smarty.const.VERSION}" alt=""/></div>
            <div class="w_imgbox">
                <div class="big_img js_video_play" data-url="">
                    <div>
                        <img class="images" src="" alt="">
                    </div>
                </div>
                <div class="w_swiper_box">
                    <div class="swiper-container" id="swiper3">
                        <div class="swiper-wrapper">
                            {fragment var=pvp_video code=pvp_video size=100}
                            {if $pvp_video neq ''}
                            {foreach key=cid item=v from=$pvp_video}
                            <div class="swiper-slide {if $cid eq 0}active{/if}" data-url="{$v.url}">
                                <div class="w_sm_gun">
                                    <img src="{$v.thumb}">
                                </div>
                            </div>
                            {/foreach}
                            {/if}
                        </div>
                    </div>
                    <div class="swiper-button-prev3"></div>
                    <div class="swiper-button-next3"></div>
                </div>
            </div>
        </div>
        <div class="pvp2">
            <div class="title"><img src="{$smarty.const.STATIC_DOMAIN}2.0/m/images/pvp2_tit.png?{$smarty.const.VERSION}" alt=""/></div>
            <div class="wj_banner">
                <div class="swiper-container swiper-container4">
                    <div class="swiper-wrapper">
                        {fragment var=pvp_player code=pvp_player size=100}
                        {if $pvp_player neq ''}
                        {foreach key=cid item=v from=$pvp_player}
                        <div class="swiper-slide">
                            <a><img class="images" src="{$v.thumb}" alt=""></a>
                            <div class="info">
                                <h3>{$v.title} </h3>
                                <p>{$v.summary}</p>
                            </div>
                        </div>
                        {/foreach}
                        {/if}
                    </div>
                </div>
                <div class="swiper-button-prev swiper-button-prev4"></div>
                <div class="swiper-button-next swiper-button-next4"></div>
            </div>
        </div>
        <div class="pvp3">
            <div class="swiper-container swiper-container5">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="left">
                            {article id="700" size=30 var=nbadlm}
                            {if $nbadlm neq ''}
                            {foreach $nbadlm as $key=>$v}
                            {if $key >= 0 && $key < 5}
                             <span class="lm lm{$key+1} {if $key eq 0}active{/if}">
                                <i></i><img src="{$v.thumb}"/>
                                <b class="txt">{$v.summary}</b>
                            </span>
                            {/if}
                            {/foreach}
                            {/if}
                        </div>
                        <div class="right">
                            {article id="700" size=30 var=nbadlm}
                            {if $nbadlm neq ''}
                            {foreach $nbadlm as $key=>$v}
                            {if $key >= 5 && $key < 10}
                             <span class="lm lm{$key+1}">
                                <i></i><img src="{$v.thumb}"/>
                                <b class="txt">{$v.summary}</b>
                            </span>
                            {/if}
                            {/foreach}
                            {/if}
                        </div>
                        <div class="middle">
                            <div class="lm_big_img">
                                <img src="" alt=""/>
                            </div>
                            <div class="desc">
                                简介：</br>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="left">
                            {article id="700" size=30 var=nbadlm}
                            {if $nbadlm neq ''}
                            {foreach $nbadlm as $key=>$v}
                            {if $key >= 10 && $key < 15}
                             <span class="lm lm{$key-9} {if $key eq 10}active{/if}">
                                <i></i><img src="{$v.thumb}"/>
                                <b class="txt">{$v.summary}</b>
                            </span>
                            {/if}
                            {/foreach}
                            {/if}
                        </div>
                        <div class="right">
                            {article id="700" size=30 var=nbadlm}
                            {if $nbadlm neq ''}
                            {foreach $nbadlm as $key=>$v}
                            {if $key >= 15 && $key < 20}
                             <span class="lm lm{$key-9}">
                                <i></i><img src="{$v.thumb}"/>
                                <b class="txt">{$v.summary}</b>
                            </span>
                            {/if}
                            {/foreach}
                            {/if}
                        </div>
                        <div class="middle">
                            <div class="lm_big_img">
                                <img src="" alt=""/>
                            </div>
                            <div class="desc">
                                简介：</br>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="left">
                            {article id="700" size=30 var=nbadlm}
                            {if $nbadlm neq ''}
                            {foreach $nbadlm as $key=>$v}
                            {if $key >= 20 && $key < 25}
                             <span class="lm lm{$key-19} {if $key eq 20}active{/if}">
                                <i></i><img src="{$v.thumb}"/>
                                <b class="txt">{$v.summary}</b>
                            </span>
                            {/if}
                            {/foreach}
                            {/if}
                        </div>
                        <div class="right">
                            {article id="700" size=30 var=nbadlm}
                            {if $nbadlm neq ''}
                            {foreach $nbadlm as $key=>$v}
                            {if $key >= 25 && $key < 30}
                             <span class="lm lm{$key-19}">
                                <i></i><img src="{$v.thumb}"/>
                                <b class="txt">{$v.summary}</b>
                            </span>
                            {/if}
                            {/foreach}
                            {/if}
                        </div>
                        <div class="middle">
                            <div class="lm_big_img">
                                <img src="" alt=""/>
                            </div>
                            <div class="desc">
                                简介：</br>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination swiper-pagination5"></div>
            </div>
            <div class="en_txt">EA SPORTS, and the EA SPORTS logo are trademarks of Electronic Arts Inc.</div>
        </div>
        <!--底部-->
        <div class="foot">
            <div>
                <img src="{$global.wx_img}" alt=""/>
                <span>微信公众号</span>
            </div>
            <div>
                <a href="{if $global.wb_url}{$global.wb_url}{else}javascript:yx_showTips('敬请期待');{/if}">
                    <img src="{$smarty.const.STATIC_DOMAIN}2.0/m/images/wb_img.png?{$smarty.const.VERSION}" alt=""/>
                    <span>官方微博</span>
                </a>
            </div>
            <div>
                <a href="{if $global.group_url_one}{$global.group_url_one}{else}javascript:yx_showTips('敬请期待');{/if}">
                    <img src="{$smarty.const.STATIC_DOMAIN}2.0/m/images/qq_img.png?{$smarty.const.VERSION}" alt=""/>
                    <span>官方QQ群</span>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
{include '../../layouts/wap/foot.html'}