.hide{
  display: none;
}
.container {
  background: url(../images/bg11.jpg) no-repeat;
  background-size:100% 100%;
}
.top_content a {
    display: block;
    width: 4rem;
    float: right;
    top: 0.7rem;
    margin-right: 0rem;
    margin-top: 0;
    position: absolute;
    right: 4.7rem;
}
.top_content a.top_down{
    top: 0.7rem;
    right: 0.37rem;
}
.container .kv_video {
    width: 20rem;
    height: 29.625rem;
    position: absolute;
    left: 50%;
    top: -1.2rem;
    margin-left: -10rem;
    object-fit: cover;
}
.game_enter{
  display: block;
  width: 20.3%;
  position: absolute;
  top: 1rem;
  right: 5%;
}
.game_enter>img{
  display: block;
  width: 100%;
}
.slogan_rw{
    display: block;
    width: 90%;
    position: absolute;
    top: 17.5rem;
    left: 50%;
    margin-left: -44%;
}
.container .yy_btn {
    top: 24.2rem;
}
.cov_02 {
  width: 100%;
  height:42.5rem;
  overflow: hidden;
  position: relative;
  background: url(../images/bg12.jpg) no-repeat;
  background-size:100% 100%;
  background-position: center 0;
}
.cov_02 .cov02_main{
    width: 100%;
    height:22.24375rem;
    position: relative;
    background-position: center 0;
}
.cov_02 .cov02_main ul{
    position: absolute;
    top: 13.2rem;
    left: 3.37rem;
}
.cov_02 .cov02_main ul li{
  width:3.65625rem;
  height:5.28125rem;
  float: left;
  position: relative;
}
.cov_02 .cov02_main ul li+li{
  margin-left:1rem;
}
.cov_02 .cov02_main ul li img{
  position: absolute;
  width:2.625rem;
  left:50%;
  margin-left:-1.025rem;
  top:0.5rem;
}
.cov_02 .cov02_main ul li:nth-child(2) img{
    margin-left: -1rem;
    top: 0.7rem;
}
.cov_02 .cov02_main ul li:nth-child(3) img{
  top:0.9rem;
}
.cov_02 .cov02_main ul li p{
    width: 100%;
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: 0.6875rem;
    color: #fff;
    position: absolute;
    bottom: 0rem;
    text-align: center;
    margin-left: 0.1rem;
    background: #5646B9;
    border-radius: 0 0 6px 6px;
}
.cov_02 .cov02_main a.yy2_btn{    
    display: block;
    width: 7.375rem;
    height: 2.28125rem;
    position: absolute;
    margin: 0 auto;
    top: 20rem;
    left: 50%;
    margin-left: -3.6875rem;
    z-index: 11;
}
.cov_02 .cov02_main a.yy2_btn img{
  width:100%;
}
.cov_02 .cov02_main p.yy_num{
    width: 8.0rem;
    height: 0.96875rem;
    line-height: 0.96875rem;
    font-size: 0.6875rem;
    color: #fff;
    position: relative;
    background-color: #8164F3;
    border-radius: 25px;
    text-align: center;
    top: 12.4rem;
    left: 50%;
    margin-left: -4rem;
    display: none;
}
.cov_02 .cov02_main p.yy_num span{
    color: #FFDE00;
}
.cov_02 .title4 {
    width: 57.8125%;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 1rem;
    left: 50%;
    margin-left: -28.90625%;
}
/*.yyue_bg{
  width: 100%;
  height:3.0625rem;
  position: fixed;
  background: url(../images/yuyue_btn.png) no-repeat;
  background-size:100% 100%;
  background-position: center 0;
	z-index:15;
	bottom:0;
	display: none;
}
.yyue_bg a.yyue_btn{
    width: 46.604%;
    height: 3.0625rem;
    position: relative;
    margin: 0 auto;
    display: block;
}*/
.sec_03{
  width: 100%;
  height:19.1875rem;
  position: relative;
  background: url(../images/bg13.jpg) no-repeat;
  background-size:100% 100%;
  background-position: center 0;
  padding-bottom: 1.5rem;
}
.sec_03 .gameBanner2{
    width: 19.18rem;
    height: 14.8125rem;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    top: 5.8rem;
}
.sec_03 .swiper-container{
    width: 18.125rem;
    height: 14.8125rem;
    position: relative;
}
.sec_03 .gameBanner2 .swiper-wrapper {
    width: 100%;
    height:10.8125rem;
}
.sec_03 .gameBanner2 .swiper-slide {
    position: relative;
    height:11.6725rem;
}
.sec_03 .gameBanner2 .swiper-slide a {
    display: block;
    width: 100%;
    height:100%;
    margin-top: 0.08rem;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.6);
}
.sec_03 .gameBanner2 .swiper-slide img {
    width: 100%;
    height:100%;
    box-sizing: border-box;
    display: block;
}
.sec_03 .gameBanner2 .swiper-button-prev{
    width:0.84375rem;
    height:1.25rem;
    background:url(../images/prev_btn.png) no-repeat;
    background-size: 100% 100%;
    top:45%;
}
.sec_03 .gameBanner2 .swiper-button-next{
    width:0.84375rem;
    height:1.25rem;
    background:url(../images/next_btn.png) no-repeat;
    background-size: 100% 100%;
    top:45%;
}
.sec_03 .gameBanner2 .swiper-pagination-bullet{
  width:0.625rem;
  height:0.625rem;
  background:url(../images/sl_btn.png) no-repeat;
    background-size: 100% 100%;
  border-radius: 0;
  opacity: 1;
  margin-right: 0.21875rem;
}
.sec_03 .gameBanner2 .swiper-pagination-bullets{
    width: 100%;
    position: relative;
    bottom:-1.9275rem;
}
.sec_03 .gameBanner2 .swiper-pagination-bullet-active{
  background:url(../images/sl_on.png) no-repeat;
    background-size: 100% 100%;
}
.content.content3{
    width: 100%;
    height: 42rem;
    position: relative;
}
.cont6-con{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    /*z-index: 990;*/
}
.cont6-box{
  position: absolute;
  width:4.0625rem;
  height:3.59375rem;
  cursor: pointer;
  z-index:11;
}
.cont6-box img{
  width:3.8125rem;
  position: absolute;
  bottom: 0;
  left:50%;
  margin-left:-1.90625rem;
}
#cont6-box1 {
    width: 6.8rem;
    height: 7.7rem;
    position: absolute;
    top: 25rem;
    left: 1.5rem;
}
#cont6-box2 {
    width: 7.5rem;
    height: 8.9rem;
    position: absolute;
    top: 30.6rem;
    left: 6.3rem;
}
#cont6-dialog4 a{
    width: 5rem;
    height: 1.71875rem;
    position: absolute;
    left: 50%;
    margin-left: -2.5rem;
    top: 8.5rem;
}
#cont6-dialog4 a img{
  width:5rem;
}
#cont6-box3{
    width: 6.5rem;
    height: 7.7rem;
    position: absolute;
    top: 25rem;
    right: 1.4rem;
}
#cont6-box3 p{
    padding-top: 5.2rem;
    padding-left: 1.8rem;
}
#cont6-box4 p{
    padding-top: 4.9rem;
    padding-left: 1.8rem;
}
#cont6-box4 {
    width: 6.5rem;
    height: 7rem;
    position: absolute;
    top: 15.8rem;
    left: 6.9rem;
}

.cont6-container{
   	position: relative;
}
.cont6-container .cont6-dialog{
    height: 9.34375rem;
    width: 14.40625rem;
    background: url(../images/tc_bg.png) no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    top: 21.5rem;
    z-index: 13;
    left: 50%;
    margin-left: -7.203125rem;
}
.cont6-container #cont6-dialog4{
  height:10.3rem;
}
.cont6-container .cont6-dialog:nth-child(4) p{
	line-height:1.125rem;
}
.cont6-container .cont6-dialog .w_tc{
	display: block;
	width:14.40625rem;
	height:7.15625rem;
	position:absolute;
	left:50%;
	margin-left:-5.515625rem;
	top:30%;
}
.cont6-container .cont6-dialog h3 {
    color: #fff;
    font-weight: bold;
    font-family: "Microsoft YaHei";
    font-size: 0.96rem;
    line-height: 1.9rem;
    text-align: center;
    margin-bottom: 0.7rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 0.15rem;
}
.cont6-container #cont6-dialog2 h3 {
    width: 18.2rem;
}
.cont6-container #cont6-dialog3 h3 {
    width: 12.8rem;
}
/*.cont6-container #cont6-dialog3{
    height: 10rem;
    right: 0;
    top: -4.8rem;
}*/
/*.cont6-container #cont6-dialog4{
    width: 14rem;
    height: 9.5rem;
    top: 2rem;
    left: 3rem;
}*/
.cont6-container .cont6-dialog p {
    color: #fff;
    font-family: "Microsoft YaHei";
    font-size: 0.75rem;
    text-align: left;
    line-height: 1rem;
    padding-top: 1rem;
}
.cont6-container .cont6-dialog img {
  width: 100%;
}

.cont6-container #cont6-dialog1>p{
    width: 8.2rem;
    float: left;
    position: relative;
    padding-left: 0.6rem;
    padding-top: 8px;
    font-size: 0.7rem;
    top: 0.5rem;
}
.cont6-container #cont6-dialog3>p{
    width: 8rem;
    float: left;
    position: relative;
    padding-left: 0.6rem;
    padding-top: 0;
    font-size: 0.7rem;
    top:0.7rem;
}
.cont6-container #cont6-dialog3>img{
    display: block;
    width: 4.5rem;
    float: right;
    position: relative;
    top: 1.4rem;
    left: -0.6rem;
}
.cont6-container #cont6-dialog1>img{
    display: block;
    width: 4.5rem;
    float: right;
    position: relative;
    top: 1rem;
    left: -0.6rem;
}
.cont6-container #cont6-dialog4 h3{
    width: 13.8rem;
}
.cont6-container #cont6-dialog4 p{
    padding: 0 0.6rem;
    padding-top: 0.3rem;
}
.cont6-container #cont6-dialog4 a.join_activity {
    width: 39%;
    display: block;
    margin-left: -18%;
    bottom: .5rem;
    position: absolute;
    left: 50%;
}
.cont6-container #cont6-dialog4 a.join_activity img {
  width: 100%;
}

