/******/
.news-list{
  background-color: #DFD7FF;
}
.news-info-list li{
  border-bottom:1px solid #DFDFFF;
}
.cont2 .news .news-info li.info ul.news-info-list li{
    height: 2rem;
    line-height: 2rem;
}
.new_top{
    margin-top: 4.5rem;
    width: 100%;
    position: relative;
    margin-bottom: 1rem;
}
.new_top a{
    width: 3.34375rem;
    position:absolute;
    z-index:10;
    left:0.4375rem;
}
.new_top a img{
    width:3.34375rem;
}
.new_top h2{
  color: #8669ff;
  text-align: center;
  font-size:1.125rem;
  line-height: 1.125rem;
  position: relative; 
}
.ck_more{
  width:8.25rem;
  height:2.1875rem;
  position: absolute;
  bottom:1rem;
  left:50%;
  display: block;
  margin-left:-4.125rem;
}
.ck_more img{
  width:8.25rem;
}
.del_03{
    width: 100%;
    height: auto;
    margin-top: 2.96875rem;
    padding-bottom: 1rem;
    background-color: #fff;
    min-height: 23rem;
    padding-top: 1rem;
}
.del_03 h2.title{
    width: 14rem;
    position: absolute;
    left: 50%;
    margin-left: -5.5rem;
}
.del_03 p.creat_date{       
    width: 100%;
    color: #C9CCFE;
    font-size: 0.7rem;
    text-align: center;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #C9CCFE;
    margin-bottom: 1rem;

}
.del_03 .new_top {
    margin-top: 0.5rem;
    margin-bottom: 3.2rem;
    line-height: 2rem;
}
.del_03 .news_zenwen p{
    width: 88.8%;
    color: #6B6B6B;
    margin: 0 auto;
    line-height: 1.3rem;
    font-size: 0.75rem;
    padding-bottom: 0.8rem;
}
.del_03 .news_zenwen img{
	display: block;
	max-width:100%;
	margin:0 auto;
}
.sec_02 .cont2{
  padding-top:0;
}
.sec_02 .cont2_new{
    padding-bottom: 1.56rem;
    min-height: 20rem;
}
.cont2 .news{
    width: 100%;
}
.cont2 .news .news-list li{
  width:20.7%;
}
.cont2 .news .news-list {
     border-bottom: 1px solid #D0CCEF;
     margin-bottom: 1rem;
}