*{margin: 0;padding: 0;-webkit-tap-highlight-color: rgba(0,0,0,0);}
body,ul,ol,dl,dt,dd,form,h1,h2,h3,h4,p,img,section,header,ruby,rb,rt,i,b,input,footer{margin:0;padding:0;font-style:normal}
html,body{font-family: "微软雅黑";}
h1,h2{font:"microsoft yahei",simsun,Tahoma,sans-serif;}
i{display:block;font-style:normal}
li{list-style:none}
a{text-decoration:none;outline:none;}
a:hover{outline:none;}
img{border:0;}
.o_h{overflow:hidden}
.clear{clear:both}
.clear:after{content:" ";clear:both;line-height:0;height:0}
.cover50,.cover90{width:100%;height:100%;position:absolute;left:0;top:0;opacity:.5;z-index:98}
.cover90{opacity:.9}
.show{display: block;}
.hide{display: none;}
.fl{float: left;}
.fr{float: right;}
.images{display: block;width: 100%;}
input[type=button],input[type=text]{
	-webkit-appearance:none;
	outline:none
}
input[type="text"], input[type="email"], input[type="search"],input[type="tel"], input[type="password"] {
        -webkit-appearance: caret;
        -moz-appearance: caret; /* mobile firefox too! */
}
.index_color{background: #000;}
.con{width: 100%;position: relative;}
.top_box{width: 100%;height:3.1875rem;background:url(../images/m_topbg.jpg) no-repeat; background-size:100% 100%;}
.t_logo{display: block;width: 2.65625rem;height: 2.65625rem;float: left;margin:0.3rem 0.375rem 0 0.90625rem;}
.t_til{color: #ddc5a4;float: left;font-size: 0.625rem;}
.t_til h3{font-size: 0.9375rem;margin: 0.6rem 0 0 0;}
.t_download{display: block;float: right;width: 6.0625rem;height: 1.84375rem;margin-right: 0.90625rem;margin-top: 0.84375rem;}
.banner_box{width:100%;height: 18.5625rem;background: url(../images/banner.jpg) no-repeat; background-size: 100% 100%;}
.images_box{position:relative;background:#fff;width:100%;z-index: 30;}
.roll_ul{ position:relative; overflow:hidden; margin:0 auto;}
.roll_ul .hd{width:96%;position:absolute;left:0;bottom:0.3125rem;text-align:right;z-index:1}
.roll_ul .hd li{display:inline-block;width:1.3125rem;height:0.8125rem;line-height:0.8125rem;text-align: center; background:url(../images/m_circle.jpg) no-repeat; background-size:100%; margin:0 0.0625rem;font-size:0.375rem;color: #727272;}
.roll_ul .hd li.on{background:url(../images/m_circleon.jpg) no-repeat;background-size: 100%;color: #fff;}
.roll_ul .bd{ position:relative; z-index:0;}
.roll_ul .bd li{ position:relative; text-align:center;width: 20rem;height: 9.375rem;}
.roll_ul .bd li img{width: 100%;vertical-align:top;width: 20rem;height: 9.375rem;}
.roll_ul .bd li a{ -webkit-tap-highlight-color:rgba(0,0,0,0);}
.news_box{ width: 100%; position: relative;background: url(../images/new_bg.jpg) no-repeat;height: 13.96875rem;background-size: 100% 100%;}
.n_title{ width: 100%;border-bottom: 0.0625rem solid #424242;padding-top: 1.125rem;}
.n_title ul{ float: left;width: 66%; color: #43617b;margin-left: 3%;}
.n_title ul li{ float: left; text-align: center;width: 14%;height: 1.25rem;font-size:0.75rem;margin-right: 0.875rem;}
.n_title ul li:last-child{margin-right: 0;}
.n_title ul li a{ display: block;}
.list_box,.artical{width: 94%;margin: 0 auto;}
.list_box .n_title ul li a{color:#545353;}
.n_title ul li.on a{ color: #cc2a2a;border-bottom: 0.0625rem solid #cc2a2a;height: 1.25rem}
.n_title a.new_more{ float: right;display: block; width: 0.96875rem; height: 0.96875rem;margin-right: 3%;background: url(../images/m_more.png) no-repeat right center;background-size: 100% 100%;}
.n_informain{margin: 0 auto;padding: 0.5rem 0;}
.news_box .n_informain{width: 94%;}
.list_box .n_informain{width: 100%;}
.n_infor{width: 100%;}
.news_box .n_infor{height:11rem;}
.n_infor li{text-align: left; font-size: 0.56rem;width: 98%;height: 2.1875rem;line-height:2.1875rem;}
.n_infor li i{display: block; position:relative;top: 0.75rem;float: left;width: 0.71875rem;height: 0.75rem;background: url(../images/li_ico.png) no-repeat left center;background-size: 100% 100%;}
.n_infor li a{display: block;float: left;width:70%;overflow: hidden;text-overflow: ellipsis;word-wrap: normal;}
.n_infor li span{display: block;float: right;}
.news_box .n_infor li{color: #fff;}
.news_box .n_title ul li a{color: #cbcbcb;}
.n_infor li.on{background: url(../images/m_lion.png) no-repeat left center;}
.news_box .n_infor li a{color: #fff;}
.til_img{display: block;width: 100%;height: 1.03125rem;margin: 0.8125rem 0;}
.game_jt .til_img{background: url(../images/game_jt.png) no-repeat; background-size: 100% 100%;}
.jt_box{width: 100%;}
.jt_box a,.jt_box a img{display: block;width: 9.21875rem;height: 5.6875rem;}
.jt_box a{float: left;margin-left: 0.53125rem;margin-bottom: 0.5rem;}
.friend .til_img{background: url(../images/friend_til.png) no-repeat; background-size: 100% 100%;}
.m4_imgbox{width:100%; height: 2.40625rem; margin: 0 auto;position: relative;overflow: hidden;}
.m4_imgbox ul{position: absolute;top:0;left: 0;height:2.40625rem;width:500%;}
.m4_imgbox ul li{width: 5.5625rem;height: 2.40625rem;float: left;margin-right: 0.5rem;}
.m4_imgbox ul li a{display: block;}
.m4_imgbox ul li img{display: block;width: 5.5625rem;height: 2.40625rem;}
.msg_box{width: 100%;height: 1.03125rem;margin-top: 1rem}
.msg_box a{display: inline-block;width: 20%; height: 1rem;line-height: 1rem;color: #fff;text-align: center;margin-left: 3.333333%;}
.msg_box a i{display: inline-block;margin-right: 3%}
.msg_box a span{display: inline-block;background: #515151;height: 1rem;line-height: 1rem;width: 2.65625rem;font-size: 0.4375rem;position: relative;top:-0.333rem;border-radius: 0.15625rem}
.ico_01 i{width: 1.21875rem;height: 1rem;background: url(../images/ico_wx.png) no-repeat;background-size: 100% 100%;}
.ico_02 i{width: 1.15625rem;height: 0.9375rem;background: url(../images/ico_sina.png) no-repeat;background-size: 100% 100%;}
.ico_03 i{width: 0.875rem;height: 0.96875rem;background: url(../images/ico_qq.png) no-repeat;background-size: 100% 100%;}
.ico_04 i{width: 0.9375rem;height: 0.9375rem;background: url(../images/ico_bd.png) no-repeat;background-size: 100% 100%;}
.list_box .n_informain ul li{border-bottom: 1px solid #b5b5b5;}
.list_box{padding-bottom:2rem;}
.list_more{position: fixed;left:0;bottom:0;width: 100%;text-align: center;background: #d6d6d6;color: #000;height: 55px;line-height: 55px;display: block;font-size: 0.65rem;}
footer{position: relative;background: #000; text-align: center;z-index: 98;padding: 1rem 0;}
footer p{color: #7c7c7c;font-size:0.65rem;}
footer p span{margin: 0 0.3rem;}
.list_box .n_infor li a{color: #000}
/*视频*/
#mask{display: none; width: 100%; height: 100%;background: url(../images/mask.png) repeat; position: fixed; margin: 0 auto; top: 0;left: 0; z-index:100;}
#video_tck{ display: none; width: 100%;height: 316px;position: fixed; top: 50%; left: 50%;margin: -20% 0 0 -50%;z-index: 1000;}
#close {width: 60px;height: 60px; display: block; position: absolute; top: -30px; right:-30px; background: url(../images/close.png) 3px no-repeat;cursor: pointer; background-size:50%;}
.none {line-height: 0;font-size: 0;margin: 0;padding: 0;}
.both {clear: both;}
#player5{ width:80%;color:#000; position: relative;margin: 0 auto;z-index: 1000;}
#player5 video{width: 90%;}
.wclose{ position: absolute; top: 0; left: 18%;}
.artical .act_title{width: 100%;margin: 0 auto 10px; color: #1c1927;text-align: center;border-bottom: 1px solid #000;padding-bottom: 0.625rem;padding-top: 0.6rem;}
.act_title h2{ font-size: 0.875rem;margin-bottom: 0.3rem; }
.act_title p{ text-align: center; font-size: 0.5625rem;}
.act_detail{color: #3b3a3a;font-size: 0.75rem;width: 100%;margin: 0 auto;padding-top: 0.4rem;}
.act_detail p{line-height: 1rem;text-indent: 2em;}
.act_detail img{margin: 0.625rem auto;display: block;width: 100%;}
