<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>《创造与魔法》做自己喜欢的事  分享赢豪礼！</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
		<meta name="keywords" content="创造与魔法,创造,魔法,马戏之王,创造与魔法官方网站,创造与魔法预约,创造与魔法手游,创造与魔法沙盒手游,高自由度" />
		<meta name="description" content="《创造与魔法》与电影《马戏之王》、饿了么、爱奇艺强强合作，免费抽奖啦！电影票、现金礼包一起瓜分，还有极品珍稀独角兽！分享给你，相信你运气会很好哦！" /> {csrf}
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}lottery/m/css/public.css?{$smarty.const.VERSION}" />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}lottery/m/css/index.css?{$smarty.const.VERSION}" />
		<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}lottery/m/js/jquery-1.11.2.min.js?{$smarty.const.VERSION}"></script>
		<script type="text/javascript">
			(function(win, doc) {
				if(!win.addEventListener) return;
				var html = document.documentElement;

				function setFont(cb) {
					var w = html.clientWidth,
						h = html.clientHeight;
					html.style.fontSize = w > h ? w / 1136 * 100 + "px" : w / 640 * 100 + "px";
					if(cb && typeof(cb) == "function") {
						cb()
					}
				}
				doc.addEventListener('DOMContentLoaded', setFont, false);
				win.addEventListener('resize', setFont, false);
				win.addEventListener('load', setFont, false);
			})(window, document);
		</script>
		<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?cd3c5f317e3f5ced9e323d594c3eb7b3";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>
	</head>

	<body>
		<header>
			<div class="header">
				<a href="javascript:;" class="nav"><img src="{$global.logo_img}" alt="" /></a>
				<div class="n_txt">
					<p>{$global.title}</p>
					<p class="n_p">{$global.sub_title}</p>
				</div>
				<a href="{myurl name='site/cover'}" class="enter"><img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/enter.png?{$smarty.const.VERSION}" alt="" /></a>
			</div>
		</header>
		<section>
			<div class="kv">
				<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/play.png" alt="" class="play js_video_play" data-url="http://video.yingxiong.com/hd/eec9a212d3354158acd0cbba227bd204.mp4"/>
				<div class="download">
					<a href="javascript:;" class="js_wap_down stat_down"><img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/download.png?{$smarty.const.VERSION}" alt="" /></a>
					<a href="javascript:;" class="dream"><img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/mx.png?{$smarty.const.VERSION}" alt="" /></a>
				</div>
			</div>
		</section>
		<section>
			<div class="banner">
				<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/title.png?{$smarty.const.VERSION}" alt="" class="label" />
				<div class="title">
					<p>活动时间：2月1日-2月7日</p>
					<p class="s_p">珍稀独角兽、《马戏之王》电影票、饿了么现金礼包</p>
					<p>丰富奖品触手可及！</p>
				</div>
				<div class="denglu">
					<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/login.png?{$smarty.const.VERSION}" alt="" class="login" />
					<div class="a_login">
						欢迎您，<span></span><i class="zhuxiao">[注销]</i>
					</div>
				</div>
				<div class="price">
					<div class="c_price" id="lottery">
						<ul>
							<li class="lottery-unit lottery-unit-0">
								<div class="c_li">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/w.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/pic01.png?{$smarty.const.VERSION}" alt="" class="c_pic" />
								<p>饿了么专属红包*1</p>
							</li>
							<li class="lottery-unit lottery-unit-1">
								<div class="c_li">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/w.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/pic02.png?{$smarty.const.VERSION}" alt="" class="c_pic" />
								<p>《马戏之王》电影票*1</p>
							</li>
							<li class="lottery-unit lottery-unit-2">
								<div class="c_li">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/w.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/pic03.png?{$smarty.const.VERSION}" alt="" class="c_pic" />
								<p>独角兽*1</p>
							</li>
							<li class="lottery-unit lottery-unit-7">
								<div class="c_li">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/w.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/pic04.png?{$smarty.const.VERSION}" alt="" class="c_pic" />
								<p>银矿*10</p>
							</li>
							<li class="lottery-unit lottery-unit-3">
								<div class="c_li">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/w.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/pic05.png?{$smarty.const.VERSION}" alt="" class="c_pic" />
								<p>烤牛排*30</p>
							</li>
							<li class="lottery-unit lottery-unit-6">
								<div class="c_li">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/w.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/pic6.png?{$smarty.const.VERSION}" alt="" class="c_pic" />
								<p>谢谢参与</p>
							</li>
							<li class="lottery-unit lottery-unit-5">
								<div class="c_li">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/w.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/pic07.png?{$smarty.const.VERSION}" alt="" class="c_pic" />
								<p>红菇大虾*5</p>
							</li>
							<li class="lottery-unit lottery-unit-4">
								<div class="c_li">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/w.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/pic08.png?{$smarty.const.VERSION}" alt="" class="c_pic" />
								<p>爱奇艺会员折扣卷*1</p>
							</li>
							<li class="last_li">
								<div class="last_pic">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/btn.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/btn_h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<p class="c_p">开始抽奖</p>
								<p class="c_p1">还剩<span>0</span>次机会</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="c_btn">
					<a href="javascript:;" class="my_price">我的奖品</a>
					<a href="http://sm.yingxiong.com/m/info/2018/0131/3225.html">福利领取指南</a>
				</div>
				<div class="price_name">
					<p class="c_title">中奖名单</p>
					<div class="price_txt">
						<div class="price_con">
							<ul>

							</ul>
						</div>	
					</div>
				</div>
				<div class="rules">
					<p class="c_title">活动规则</p>
					<ul>
						<li><i></i>
							<p>每日首次登录赠送1次参与机会；</p>
						</li>
						<li><i></i>
							<p>分享页面邀请好友参加活动即可获得1次参与机会,每日最多可获得2次参与机会； </p>
						</li>
						<li><i></i>
							<p>电影票、爱奇艺、饿了么电子券请到指定平台兑换,游戏礼包需进入游戏兑换,详细兑换方式请查看“福利领取指南”; </p>
						</li>
						<li><i></i>
							<p>请妥善保管您的兑换码,如若丢失不予补发；</p>
						</li>
						<li><i></i>
							<p>每种兑换码只可使用一次,不可重复兑换；</p>
						</li>
					</ul>
				</div>
				<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/egg.png?{$smarty.const.VERSION}" alt="" class="egg" />
				<div class="qp"><img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/qp.png?{$smarty.const.VERSION}" alt="" /></div>
			</div>
		</section>
		<section>
			<div class="film">
				<div class="c_film">
					<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/close.png?{$smarty.const.VERSION}" class="close" />
					<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/pic.png?{$smarty.const.VERSION}" alt="" class="film_pic" />
					<div class="film_p">
						<p class="film_t">影片简介</p>
						<p class="film_con">《马戏之王》将励志故事与马戏团表演相结合,凭借动人歌舞与缤纷的色彩,为寒冷的冬季增添了一丝火热气息,在春节来临之际,契合合家欢的氛围。影片由二十世纪福斯公司出品,博纳影业集团投资,迈克尔·格雷西执导,“狼叔”休·杰克曼、扎克·埃夫隆、奖最佳女主角米歇尔·威廉歇尔·威廉姆斯、丽贝卡、弗格森、赞达亚出演，将于2月1日在内地上映。 </p>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="congra">
				<div class="gongxi">
					<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/close.png?{$smarty.const.VERSION}" alt="" class="close" />
					<p class="jiangpin">获得：<span></span></p>
					<div class="m_bg" id="tc7_copyText0">
						<a href="javascript:;"></a>
					</div>
					<p class="m_txt">爱玩创魔的小伙伴，都有好运气！</p>
					<div class="copy" id="tc7_copyBtn0" data-clipboard-action="copy" data-clipboard-target="#tc7_copyText0">
						<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/copy.png?{$smarty.const.VERSION}" alt="" />
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="congra1">
				<div class="gongxi1">
					<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/close.png?{$smarty.const.VERSION}" alt="" class="close" />
					<p>谢谢参与</p>
				</div>
			</div>
		</section>
		<section>
			<div class="share">
				<div class="m_share">
					<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/close.png?{$smarty.const.VERSION}" class="close" alt="" />
					<p class="indent">您还没有参与机会，邀请好友获得更多机会！</p>
					<ul class="jiathis_style_32x32">
						<li>
							<a class="jiathis_button_weixin">
								<!--<label>微信</label>-->
							</a>
						</li>
						<li>
							<a class="jiathis_button_tsina">
								<!--<label>新浪微博</label>-->
							</a>
						</li>
						<li>
							<a class="jiathis_button_qzone">
								<!--<label>QQ空间</label>-->
							</a>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section>
			<div class="tc_login">
				<div class="z_login">
					<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/close.png?{$smarty.const.VERSION}" class="close" />
					<div class="c_put">
						<div class="f_put">
							<input type="tel" placeholder="请输入手机号" class="phone" />
						</div>
						<div class="s_put">
							<div class="b_put">
								<input type="text" placeholder="请输入验证码" class="code" />
							</div>
							<div class="tupian">
								{$captcha_img}
							</div>
						</div>
						<div class="t_put">
							<div class="b_put">
								<input type="text" placeholder="请输入验证码" class="i_code" />
							</div>
							<div class="d_put">
								<input type="button" value="获取验证码" class="g_code" />
							</div>
						</div>
						<div class="c_dl">
							<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/c_dl.png?{$smarty.const.VERSION}" alt="" />
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="check">
				<div class="check_price">
					<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/close.png?{$smarty.const.VERSION}" alt="" class="close" />
					<div class="price_title">
						<span>奖励名称</span>
						<span>兑换码</span>
					</div>
					<div class="box">
						<ul class="check_ul">
							
						</ul>
					</div>	
				</div>
			</div>
		</section>
	</body>
	{download} {video_play}
	<script type="text/javascript" src="//cdnstatic.yingxiong.com/footer/js/footer.js"></script>
	<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=" charset="utf-8"></script>
	<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}lottery/m/js/clipboard.min.js"></script>
	<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}lottery/m/js/index.js?{$smarty.const.VERSION}"></script>
	
</html>