<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>《创造与魔法》国庆七天乐，分享赢黑龙！</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
		<meta name="keywords" content="创造与魔法、创造、魔法、国庆、创造与魔法周边、创造与魔法礼包、创造与魔法福利、创造与魔法手游、沙盒、创造与魔法国庆节">
    	<meta name="description" content="《创造与魔法》国庆七天乐，越玩越开心！分享给你，一起拿黑龙礼包、合作款拉杆箱，创魔限量周边吧！">
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}lottery_new/m/css/public.css?{$smarty.const.VERSION}" />{csrf}
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}lottery_new/m/css/index.css?{$smarty.const.VERSION}" />
		<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/js/jquery-1.11.2.min.js?{$smarty.const.VERSION}"></script>
		<script type="text/javascript">
			(function(win, doc) {
				if(!win.addEventListener) return;
				var html = document.documentElement;

				function setFont(cb) {
					var w = html.clientWidth,
						h = html.clientHeight;
					html.style.fontSize = w > h ? w / 1136 * 100 + "px" : w / 640 * 100 + "px";
					if(cb && typeof(cb) == "function") {
						cb()
					}
				}
				doc.addEventListener('DOMContentLoaded', setFont, false);
				win.addEventListener('resize', setFont, false);
				win.addEventListener('load', setFont, false);
			})(window, document);
		</script>
		<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?cd3c5f317e3f5ced9e323d594c3eb7b3";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>
	</head>

	<body>
		<header>
			<div class="header">
				<a href="/m/index" class="nav"><img src="{$global.logo_img}" alt="" /></a>
				<div class="n_txt">
					<p>{$global.title}</p>
					<p class="n_p">{$global.sub_title}</p>
				</div>
				<a href="/m/index" class="enter"><img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/enter.png?{$smarty.const.VERSION}" alt="" /></a>
			</div>
		</header>
		<section>
			<div class="kv">
				<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/play.png?{$smarty.const.VERSION}" alt="" class="play js_video_play" data-url="http://video.yingxiong.com/hd/eec9a212d3354158acd0cbba227bd204.mp4" />
				<div class="download">
					<a href="javascript:;" class="js_wap_down stat_down"><img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/download.png?{$smarty.const.VERSION}" alt="" /></a>
					<a href="http://v.douyin.com/d9E1bM/" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/dy.png?{$smarty.const.VERSION}" alt="" /></a>
				</div>
			</div>
		</section>
		<section>
			<div class="banner">
				<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/title.png?{$smarty.const.VERSION}" alt="" class="label" />
				<div class="title">
					<p>活动时间：10月1日-10月7日</p>
					<p class="s_p">珍稀黑蚀龙、CONWOOD合作款旅行箱、创魔限量 周边……国庆七天乐，越玩越开心！ </p>
				</div>
				<div class="denglu">
					<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/login.png?{$smarty.const.VERSION}" alt="" class="login" />
					<div class="a_login">
						欢迎您<span></span><i class="zhuxiao">[注销]</i>
					</div>
				</div>
				<div class="price">
					<div class="c_price" id="lottery">
						<ul>
							<li class="lottery-unit lottery-unit-0">
								<div class="c_li">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/w.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/pic01.png?{$smarty.const.VERSION}" alt="" class="c_pic" />
								<p>蒸汽石*20</p>
							</li>
							<li class="lottery-unit lottery-unit-1">
								<div class="c_li">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/w.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/pic02.png?{$smarty.const.VERSION}" alt="" class="c_pic" />
								<p>巧克力蛋糕*5</p>
							</li>
							<li class="lottery-unit lottery-unit-2">
								<div class="c_li">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/w.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/pic03.png?{$smarty.const.VERSION}" alt="" class="c_pic" />
								<p>限量款玩偶1个*1</p>
							</li>
							<li class="lottery-unit lottery-unit-7">
								<div class="c_li">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/w.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/pic04.png?{$smarty.const.VERSION}" alt="" class="c_pic" />
								<p>限量款贴纸*1</p>
							</li>
							<li class="lottery-unit lottery-unit-3">
								<div class="c_li">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/w.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/pic05.png?{$smarty.const.VERSION}" alt="" class="c_pic" />
								<p>CONWOOD合作箱包*1</p>
							</li>
							<li class="lottery-unit lottery-unit-6">
								<div class="c_li">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/w.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/pic6.png?{$smarty.const.VERSION}" alt="" class="c_pic" />
								<p>谢谢参与</p>
							</li>
							<li class="lottery-unit lottery-unit-5">
								<div class="c_li">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/w.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/pic07.png?{$smarty.const.VERSION}" alt="" class="c_pic" />
								<p>限量款笔记本*1</p>
							</li>
							<li class="lottery-unit lottery-unit-4">
								<div class="c_li">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/w.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/pic08.png?{$smarty.const.VERSION}" alt="" class="c_pic" />
								<p>黑蚀龙*1</p>
							</li>
							<li class="last_li">
								<div class="last_pic">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/btn.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/btn_h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<p class="c_p">开始抽奖</p>
								<p class="c_p1">还剩<span>0</span>次机会</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="c_btn">
					<a href="javascript:;">我的奖品</a>
					<!--<a href="javascript:;">福利领取指南</a>-->
				</div>
				<div class="price_name">
					<p class="c_title">中奖名单</p>
					<div class="price_txt">
						<div class="price_con">
							<ul>
								
							</ul>
						</div>
					</div>
				</div>
				<div class="rules">
					<p class="c_title">活动规则</p>
					<ul>
						<li><i></i>
							<p>每日首次登录赠送1次参与机会；</p>
						</li>
						<li><i></i>
							<p>分享页面邀请好友参加活动即可获得1次参与机会，每日最多可获得3次参与机会； </p>
						</li>
						<li><i></i>
							<p>实物奖品，只有一次填写地址的机会。请在中奖页面，认真填写你的收货地址，收件人与手机号码，如因填写错误影响收货，将不予补发； </p>
						</li>
						<li><i></i>
							<p>请妥善保管您的兑换码，如若丢失不予补发;</p>
						</li>
						<li>&nbsp;&nbsp;&nbsp;【礼包码兑换规则】</li>
						<li><i></i>
							<p>在活动页面中复制兑换码，下载并打开《创造与魔法》游戏，进入游戏界面：点击功能菜单-设置，在设置界面中输入兑换码，点击“兑换礼包”即可，游戏内同类奖品，每个账号只可兑换一次。</p>
						</li>
					</ul>
				</div>
				<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/egg.png?{$smarty.const.VERSION}" alt="" class="egg" />
				<div class="qp"><img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/qp.png?{$smarty.const.VERSION}" alt="" /></div>
			</div>
		</section>
		<div class="qp2"><img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/qp2.png?{$smarty.const.VERSION}" alt="" /></div>
		<!--奖品弹框-->
		<section>
			<div class="congra">
				<div class="gongxi">
					<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/close.png?{$smarty.const.VERSION}" alt="" class="close" />
					<p class="jiangpin">获得：<span></span></p>
					<div class="m_bg" id="tc7_copyText0">
						
					</div>
					<p class="m_txt">爱玩创魔的小伙伴，都有好运气！</p>
					<div class="copy" id="tc7_copyBtn0" data-clipboard-action="copy" data-clipboard-target="#tc7_copyText0">
						<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/copy.png?{$smarty.const.VERSION}" alt="" />
					</div>
				</div>
			</div>
		</section>
		<!--谢谢参与弹框-->
		<section>
			<div class="congra1">
				<div class="gongxi1">
					<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/close.png?{$smarty.const.VERSION}" alt="" class="close" />
					<p>谢谢参与</p>
				</div>
			</div>
		</section>
		<!--分享弹框-->
		<section>
			<div class="share">
				<div class="m_share">
					<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/close.png?{$smarty.const.VERSION}" class="close" alt="" />
					<p class="indent">您还没有参与机会，邀请好友获得更多机会！</p>
					<div class="bshare-custom co_shareicon">
						<a title="分享到微信" class="bshare-weixin co_wx"></a>
						<a title="分享到新浪微博" class="bshare-sinaminiblog co_wb"></a>
						<a title="分享到QQ空间" class="bshare-qzone co_qq"></a>
					</div>
					<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=f8a4a53f-438a-4ffa-939f-7f313a7e2b05&amp;pophcol=2&amp;lang=zh"></script>
					<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
				</div>
			</div>
		</section>
		<!--登陆-->
		<section>
			<div class="tc_login">
				<div class="z_login">
					<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/close.png?{$smarty.const.VERSION}" class="close" />
					<div class="c_put">
						<div class="f_put">
							<input type="tel" placeholder="请输入手机号" class="phone" />
						</div>
						<div class="s_put">
							<div class="b_put">
								<input type="text" placeholder="请输入验证码" class="code" />
							</div>
							<div class="tupian">
								<img src="" alt="" class="capture" />
								<p>点击刷新</p>
							</div>
						</div>
						<div class="t_put">
							<div class="b_put">
								<input type="text" placeholder="请输入验证码" class="i_code" />
							</div>
							<div class="d_put">
								<input type="button" value="获取验证码" class="g_code" />
							</div>
						</div>
						<div class="c_dl">
							<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/c_dl.png?{$smarty.const.VERSION}" alt="" />
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--中奖记录弹框-->
		<section>
			<div class="check">
				<div class="check_price">
					<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/close.png?{$smarty.const.VERSION}" alt="" class="close" />
					<div class="price_title">
						<span>奖励名称</span>
						<span>兑换码</span>
					</div>
					<div class="box">
						<ul class="check_ul">
							
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!--地址弹框-->
		<section>
		    <div class="address_bord">
			<div class="address_box">
			    <img src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/images/close.png?{$smarty.const.VERSION}" class="close" />
			    <p class="gift_name">获得：<span></span></p>
			    <div class="add_inp">
			    	<p><i>*</i><input type="text" placeholder="收件人姓名" class="name_input" value="" class="term_btn"></p>
    				<p><i>*</i><input type="text" placeholder="收件人手机" class="phone_num"  onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))"></p>
    				<div class="textarea">
    					<i>*</i><textarea type="text" placeholder="详细收货地址..." class="address" cols="20" rows="5"></textarea>
    				</div>
    				
			    </div>
				<p class="info">实物奖品，只有一次填写地址的机会。请认真填写你的收货地址，收件人与手机号码，如因填写错误影响收货，将不予补发。</p>
				<a href="javascript:;" class="ad_sure"></a>
			</div>
			</div>
		</section>

	</body>
	{download} {video_play}
	<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/js/clipboard.min.js"></script>
	<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}lottery_new/m/js/index.js?{$smarty.const.VERSION}"></script>
	<script type="text/javascript">
		function autoScroll(obj) {
			var length = $(obj).find("li").length;
			if(length > 5) {
				$(obj).find("ul").animate({
					marginTop: "-0.54rem"
				}, 1000, function() {
					$(this).css({
						marginTop: "0px"
					}).find("li:first").appendTo(this);
				})
			}
		}
		$(window).scroll(function() {
			var scroHei = $(window).scrollTop(); //滚动的高度
			if(scroHei > 200) {
				$(".qp2").fadeIn();
			} else {
				$(".qp2").fadeOut();
			}
		});
		$(function() {
			var scroll = setInterval('autoScroll(".price_txt")', 1000);
			new Clipboard('#tc7_copyBtn0');
			$("#tc7_copyBtn0").click(function() {
				alert("已复制");
			});
		});
	</script>

</html>