<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{$seo_title}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
		<meta name="format-detection" content="telephone=no">
		<!-- 关键词及描述 -->
		<meta name="keywords" content="{$seo_key}">
    	<meta name="description" content="{$seo_desc}">
		<link rel="shortcut icon" href="{$smarty.const.STATIC_DOMAIN}4.0/m/images/favicon.ico?{$smarty.const.VERSION}" />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}4.0/m/common/css/common.min.css?{$smarty.const.VERSION}" />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}4.0/m/css/cover.css?{$smarty.const.VERSION}" />
		<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}4.0/m/common/js/jquery-1.11.3.min.js?{$smarty.const.VERSION}"></script>
		<script data-fixed="true">
			if((/iphone|android|mobile/i.test(navigator.userAgent.toLowerCase()))) {
//				location.href = "/m"+window.location.pathname+window.location.search;
			}else{
				var href=window.location.pathname+window.location.search;
				console.log(href);
				if(href.substr(0,4)=="/wap"){
					location.href=href.substr(4);
				}
			}
		</script>


		<script type="text/javascript">
			document.addEventListener('plusready', function() {
				//console.log("所有plus api都应该在此事件发生后调用，否则会出现plus is undefined。"

			});
		</script>
		<script>
        	(function (doc, win) {
        	    var docEl = doc.documentElement,
        	    // 手机旋转事件,大部分手机浏览器都支持 onorientationchange 如果不支持，可以使用原始的 resize
        	            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        	            recalc = function () {
        	                //clientWidth: 获取对象可见内容的宽度，不包括滚动条，不包括边框
        	                var clientWidth = docEl.clientWidth;
        	                if (!clientWidth) return;
        	                docEl.style.fontSize = 16*(clientWidth / 320) + 'px';
        	            };

        	    recalc();
        	    //判断是否支持监听事件 ，不支持则停止
        	    if (!doc.addEventListener) return;
        	    //注册翻转事件
        	    win.addEventListener(resizeEvt, recalc, false);
        	})(document, window);
    	</script>
    	<script>
        	var _hmt = _hmt || [];
        	(function() {
        	    var hm = document.createElement("script");
        	    hm.src = "https://hm.baidu.com/hm.js?cd3c5f317e3f5ced9e323d594c3eb7b3";
        	    var s = document.getElementsByTagName("script")[0];
        	    s.parentNode.insertBefore(hm, s);
        	})();
    	</script>
    	{csrf}
	</head>

	<body>
		<header class="index1_header">
			<a href="/m/index.html" class="index1_logo"><img src="{$global.logo_img}" alt=""></a>
			<div class="header_txt">
				<p class="h_p_01">{$global.title}</p>
				<p class="h_p_02">{$global.sub_title}</p>
			</div>
				<a href="javascript:;" class="ent_cov js_wap_down stat_down">
				<img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/download02.png?{$smarty.const.VERSION}" alt="">
			</a>
			<a href="/m/index.html" class="download" target="_blank">
				<img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/ent_cov.png?{$smarty.const.VERSION}" alt="">
			</a>
		</header>
		<section class="mask">
			<div class="login2">
		        <h3>亲爱的小伙伴，请您填写信息进行预约</h3>
		        <form action="javascript:;" onsubmit="false">
		            <input class="tel2 js-phone" type="number" placeholder="输入手机号码" />
		            <a class="lgyy js-yuyue" href="javascript:;">立即预约</a>
		            <span class="close"></span>
		        </form>
		    </div>
		</section>
		<section class="main1">
			<div class="main">
				<img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/ymao1.png?{$smarty.const.VERSION}" alt="" class="yumao">
				<img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/slogan2.png?{$smarty.const.VERSION}" title="" alt=""  class="slogin"/>
				<a class="yuyue" href="javascript:;"></a>
			</div>
		</section>
		<section class="main2">
			<div class="title title01">
				<img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/tl01.png?{$smarty.const.VERSION}" alt="">
			</div>
			<p class="data">活动时间：2月3日23:59结束</p>
			<a href="javascript:;" class="look">查看活动详情</a>
			<div class="yyjl">
				<ul class="co_progress"  data-num="0">
					<li class="co_step co_step4">
						<div class="gift_page gift_page01">
					    	<ul class="lp_img">
					    		<li><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_show19.png?{$smarty.const.VERSION}" alt=""></li>
					    		<li><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_show20.png?{$smarty.const.VERSION}" alt=""></li>
					    		<li><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_show21.png?{$smarty.const.VERSION}" alt=""></li>
					    	</ul>
							<ul class="lp lp1">
								<li>大篝火*5</li>
								<li>火附魔石*3</li>
								<li>小厨物语时装*1</li>                      
							</ul>
					    </div>
						<div class="yuyue_num fl">
						    <p>100万</p>
							<span>探险家人数突破</span>
						</div>
						<div class="gift fr">
						    <a href="javascript:;" class="jiangli">
						    	<i></i>
								<span>预约奖励</span>
						    </a>
						</div>
					</li>
					<li class="co_step co_step3">
						<div class="gift_page gift_page02">
					    	<ul class="lp_img">
					    		<li><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_show16.png?{$smarty.const.VERSION}" alt=""></li>
					    		<li><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_show17.png?{$smarty.const.VERSION}" alt=""></li>
					    		<li><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_show18.png?{$smarty.const.VERSION}" alt=""></li>
					    	</ul>
							<ul class="lp lp2">
								<li>文艺虾*20</li>
								<li>北秋物语*20</li>
								<li>特制棒棒糖*20</li>                      
							</ul>
					    </div>
						<div class="yuyue_num fr">
						    <p>50万</p>
							<span>探险家人数突破</span>
						</div>
						<div class="gift fl">
							<a href="javascript:;" class="jiangli">
								<span>预约奖励</span>
						    	<i></i>
						    </a>
						</div>
					</li>
					<li class="co_step co_step2">
						<div class="gift_page gift_page03">
					    	<ul class="lp_img">
					    		<li><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_show13.png?{$smarty.const.VERSION}" alt=""></li>
					    		<li><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_show14.png?{$smarty.const.VERSION}" alt=""></li>
					    		<li><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_show15.png?{$smarty.const.VERSION}" alt=""></li>
					    	</ul>
							<ul class="lp lp3">
								<li>魔晶*20</li>
								<li>皮革*20</li>
								<li>铁锭*20</li>                      
							</ul>
						</div>
						<div class="yuyue_num fl">
						    <p>30万</p>
							<span>探险家人数突破</span>
						</div>
						<div class="gift fr">
						    <a href="javascript:;" class="jiangli">
						    	<i></i>
								<span>预约奖励</span>
						    </a>
						</div>
					</li>
					<li class="co_step co_step1 active active-1">
						<div class="gift_page gift_page04">
					    	<ul class="lp_img">
					    		<li><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_show1.png?{$smarty.const.VERSION}" alt=""></li>
					    		<li><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_show2.png?{$smarty.const.VERSION}" alt=""></li>
					    		<li><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_show3.png?{$smarty.const.VERSION}" alt=""></li>
					    	</ul>
							<ul class="lp lp4">
								<li>龙虾小丸子*20</li>
								<li>红菇大虾包*20</li>
								<li>红烧带鱼*20</li>                      
							</ul>
					    </div>
						<div class="yuyue_num fr">
						    <p>10万</p>
							<span>探险家人数突破</span>
						</div>
						<div class="gift fl">
							<a href="javascript:;" class="jiangli">
								<span>预约奖励</span>
						    	<i></i>
						    </a>
						</div>
					</li>
				</ul>
			</div>
		</section>
		<section class="main3">
			<div class="title title02">
				<img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/tl02.png?{$smarty.const.VERSION}" alt="">
			</div>
			<p class="data">活动时间：2月3日23:59结束</p>
			<div class="log_pre">
				<a class="login" href="javascript:;"><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/login_bar1.png?{$smarty.const.VERSION}" alt=""></a>
				<p class="wel">欢迎您 , 请先登录</p>
			</div>
			<div class="log_aft hide"  data-url="">
				<p class="log_peo"><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/peo.png?{$smarty.const.VERSION}" alt="">小小木马</p>
				<div class="code">我的邀请码  <span>123456</span></div>
				<p class="sec_num">已成功邀请<span>123456</span> 位好友</p>
			</div>	
			<ul class="invite">
				<li>
					<div class="fl int">
						<div class="in_lf" >
						邀请<p>1</p>人
						</div>
					</div>
					<div class="fr gift_con">
					    <ul class="lp_img">
					    	<li><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_show4.png?{$smarty.const.VERSION}" alt=""></li>
					    	<li><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_show5.png?{$smarty.const.VERSION}" alt=""></li>
					    	<li><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_show6.png?{$smarty.const.VERSION}" alt=""></li>
					    </ul>
						<ul class="lp">
							<li>铁锭*20</li>
							<li>烤牛排*50</li>
							<li>草莓*50</li>                      
						</ul>
					</div>
				</li>
				 <li>
					<div class="fl int">
						<div class="in_lf" >
						邀请<p>3</p>人
						</div>
					</div>
					<div class="fr gift_con">
						<ul class="lp_img">
					    	<li><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_show7.png?{$smarty.const.VERSION}" alt=""></li>
					    	<li><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_show8.png?{$smarty.const.VERSION}" alt=""></li>
					    	<li><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_show9.png?{$smarty.const.VERSION}" alt=""></li>
					    </ul>
						<ul class="lp">
							<li>银锭*20</li>
							<li>牛奶*50</li>
							<li>章鱼*10</li>                      
						</ul>
					</div>
				</li>
				<li>
					<div class="fl int">
						<div class="in_lf" >
						邀请<p>5</p>人
						</div>
					</div>
					<div class="fr gift_con">
						<ul class="lp_img">
					    	<li><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_show10.png?{$smarty.const.VERSION}" alt=""></li>
					    	<li><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_show11.png?{$smarty.const.VERSION}" alt=""></li>
					    	<li><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_show12.png?{$smarty.const.VERSION}" alt=""></li>
					    </ul>
						<ul class="lp lp3">
							<li>金锭*20</li>
							<li>牛筋*10</li>
							<li class="sweet" >甜蜜童话武器皮肤*1</li>                      
						</ul>
					</div>
				</li> 
			</ul>
			<div class="bird">
				<img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/bloo2.png?{$smarty.const.VERSION}" alt="" class="bloo">
				<img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/bird.png?{$smarty.const.VERSION}" alt="" class="bird_sm">
				<a class="share_oth" href="javascript:;"></a>
			</div>
		</section>
		<section class="main4">
			<div class="title title03">
				<img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/tl03.png?{$smarty.const.VERSION}" alt="">
			</div>
			<p class="data">活动时间：2月3日23:59结束</p>
			<div class="log_pre">
				<p class="wel2">登录后才能分享哦，快去登录吧~</p>
			</div>
			<div class="log_aft log_af2 hide">
				<div class="code code2">我的邀请码  <span>123456</span></div>
				<p class="sec_num">已成功邀请<span>123456</span> 位好友</p>
			</div>
			<ul class="invite">
				<li>
					<div class="fl int">
						<div class="in_lf" >
						邀请<p>10</p>人
						</div>
					</div>
					<div class="fr gift_con">
					    <ul class="lp_img">
					    	<li><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_show10.png?{$smarty.const.VERSION}" alt=""></li>
					    	<li><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_show13.png?{$smarty.const.VERSION}" alt=""></li>
					    	<li><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_show22.png?{$smarty.const.VERSION}" alt=""></li>
					    </ul>
						<ul class="lp">
							<li>金锭*50</li>
							<li class="mar">魔晶*50</li>
							<li>水晶图纸一套</li>                      
						</ul>
					</div>
				</li>
				 <li>
					<div class="fl int">
						<div class="in_lf" >
						邀请<p>30</p>人
						</div>
					</div>
					<div class="fr gift_con">
						<ul class="lp_img">
					    	<li><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_show23.png?{$smarty.const.VERSION}" alt=""></li>
					    	<li><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_show13.png?{$smarty.const.VERSION}" alt=""></li>
					    	<li><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_show24.png?{$smarty.const.VERSION}" alt=""></li>
					    </ul>
						<ul class="lp">
							<li>水晶*30</li>
							<li class="mar">魔晶*100</li>
							<li>史诗水晶弓*1</li>                      
						</ul>
					</div>
				</li>
				<li>
					<div class="fl int">
						<div class="in_lf" >
						邀请<p>50</p>人
						</div>
					</div>
					<div class="fr gift_con">
						<ul class="lp_img">
					    	<li><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_show23.png?{$smarty.const.VERSION}" alt=""></li>
					    	<li><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_show25.png?{$smarty.const.VERSION}" alt=""></li>
					    	<li><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_show26.png?{$smarty.const.VERSION}" alt=""></li>
					    </ul>
						<ul class="lp lp3">
							<li>水晶*50</li>
							<li>粉色荧光剂*20</li>
							<li>蓝陆行鸟*1</li>                      
						</ul>
					</div>
				</li> 
				<li>
					<div class="fl int">
						<div class="in_lf" >
						邀请<p>100</p>人
						</div>
					</div>
					<div class="fr gift_con">
						<ul class="lp_img">
					    	<li><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_show27.png?{$smarty.const.VERSION}" alt=""></li>
					    	<li><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_show25.png?{$smarty.const.VERSION}" alt=""></li>
					    	<li><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/mianju.png?{$smarty.const.VERSION}" alt="期待" style="width:2.7rem"></li>
					    </ul>
						<ul class="lp lp3">
							<li>黑曜石*30</li>
							<li>粉色荧光剂*30</li>
							<li>神秘面具*1</li>                      
						</ul>
					</div>
				</li> 
			</ul>
			<div class="peo">
				<img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/kulou.png?{$smarty.const.VERSION}" alt="" class="kulou">
				<img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/bloo.png?{$smarty.const.VERSION}" alt="" class="bloo">
				<a class="share_oth" href="javascript:;"></a>
			</div>
		</section>
		<section class="main5">
		    <div class="main5_con">
		    	<img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/tl04.png?{$smarty.const.VERSION}" alt="" class="title05">
		    	<div class="main5_info">
		    		<p><b>1</b><span>成功预约或登录，可获得个人专属邀请码。</span></p>
		    		<p><b>2</b><span>好友参加预约活动时，在预约界面输入您的邀请码，并点击预约，即为邀请成功。</span></p>
		    		<p><b>3</b><span>活动后台将自动为您记录邀请人数，并在活动结束后根据最终邀请人数给您发放福利礼包。同类福利礼包，一个账号仅可激活一次。</span></p>
		    		<p><b>4</b><span>活动结束后，福利礼包将根据后台最终邀请人数为准，同时好友邀请和社交达人活动礼包可同时享用。</span></p>
		    		<p><b>5</b><span>每个手机号对应一个邀请码，活动结束后，福利礼包将以短信形式发送到对应手机号上，请确保手机号码无误。</span></p>
		    		<p><b>6</b><span>如您对活动细则有不清楚的地方，可前往官方公众号（创造与魔法手游-czymf666）留言咨询。</span></p>
		    	</div>
				
		    </div>
			
		</section>
		<!-- 登录 -->
		<div class="login_board">
			<div class="login_con">
				<div class="login_tel">
					<img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/login_tl.png?{$smarty.const.VERSION}" alt="" class="login_info">
					<a href="javascript:;" class="close"></a>
					<input type="number" class="tel" id="login_code1" placeholder="请输入您的手机号码">
					<a href="javascript:;" class="resect"><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/reset.png?{$smarty.const.VERSION}" alt=""></a>
					<p class="co_error err1">手机号码错误</p>
					<p class="yanzhen_code">
						<input type="text" class="codimg" id="check_code2" placeholder="请输入图片验证码">
						<a href="javascript:;" class="code_img">{$captcha_img}</a>
					<p class="co_error err3">图片验证码错误</p>
					<p class="shuaxin">点击图片刷新</p>
					</p>
					<p class="yanzhen">
						<input type="number" class="check_code" id="check_code1" placeholder="请输入验证码">
					</p>
					<p class="co_error err2">短信验证码错误</p>
					<a href="javascript:;" class="gain gain1">获取验证码</a></p>
					<a href="javascript:;" class="login_next"><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_btn2.png?{$smarty.const.VERSION}" alt=""></a>
				</div>
			</div>
		</div>
		<!-- 活动详情 -->
		<div class="active_board">
			<div class="active_con">
				<div class="act">
					<img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/active.png?{$smarty.const.VERSION}" alt="" class="active_info">
					<a href="javascript:;" class="close"></a>
					<p>1.点击【预约】按钮后，填写手机号及验证码，即可参加《创造与魔法》福利预约活动，当总计预约人数达到目标数量，将自动解锁相应档位福利！</p>
					<p>2.参与本次预约活动的探险家，将优先获得《创造与魔法》一手福利与公测咨询</p>
					<p>3.预约福利将在游戏公测后，通过全员邮件发放。不限新服老服，在公测开启7天内，所有登录《创造与魔法》的探险家，都将获得本次活动福利！</p>
					<p>4.本次预约活动截止时间为：2月3日23:59，具体时间以官网信息为准。</p>
					<p>5.如您对活动细则有不清楚的地方，可前往官方公众号（创造与魔法手游-czymf666）留言咨询。</p>
				</div>
			</div>
		</div>
		<!-- 预约信息 -->
		<div class="yuyue_board">
			<div class="yy_t">
				<div class="yuyue_tel">
					<img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/yuyue_info.png?{$smarty.const.VERSION}" alt="" class="yuyue_info">
					<a href="javascript:;" class="close"></a>
					<p class="log_succ">欢迎您，<span>user</span></p>
					<form action="" class="yuyue_form">
						<div class="xitong">
							<span class="rdo on fl" data-id="1">iOS</span>
							<span class="rdo fr" data-id="2"> Android</span>
						</div>
						<p class="inv_hav" >
							<span>是否有好友邀请？</span>
							<span class="rdo3">否</span>
							<span class="rdo3 active">是</span>
							<input type="number" class="inv" id="invite_code" placeholder="请输入邀请码">
							<p class="co_error err3">验证码错误</p>
						</p>
						<a href="javascript:;" class="yuyue_next"><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/co_btn4.png?{$smarty.const.VERSION}" alt=""></a>
					</form>
				</div>
			</div>
		</div>
		<!-- 邀请好友 -->
		<div class="invite_board">
			<div class="invite_con">
				<div class="inv_con">
					<img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/invite.png?{$smarty.const.VERSION}" alt="" class="invite_tl">
					<a href="javascript:;" class="close"></a>
					<ul class="inv_code">
						<li class="fl">
							<img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/two_code.jpg?{$smarty.const.VERSION}" alt="">
							<p>扫描二维码邀请好友</p>
						</li>
						<li class="fr">
							<p>我的邀请码</p>
							<p class="inv_num">	123456</p>
						</li>
					</ul>
					<ul class="share">
						<li><a href="javascript:sharefn(event,0)" class="co_wx" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/33.png?{$smarty.const.VERSION}" alt=""></a></li>
						<li><a href="javascript:sharefn(event,1);" class="co_qq"><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/22.png?{$smarty.const.VERSION}" alt=""></a></li>
						<li><a href="javascript:sharefn(event,2);" class="co_wb"><img src="{$smarty.const.STATIC_DOMAIN}4.0/m/images/11.png?{$smarty.const.VERSION}" alt=""></a></li>
					</ul>
				</div>
			</div>
		</div>
		
	</body>
	{download}
	<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js?<?= VERSION;?>#style=-1"></script>
	<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}4.0/m/common/js/jquery.fittext.js?{$smarty.const.VERSION}"></script>
	<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}4.0/m/js/cover.js?{$smarty.const.VERSION}"></script>
	<script type="text/javascript" src="//cdnstatic.yingxiong.com/footer/js/footer.js?{$smarty.const.VERSION}"></script>
	<script type="text/javascript">
		$(function() {
			$('html').fitText(2);
		});
		//分享
		function sharefn(e,i){
			var url=$(".log_aft").attr("data-url");
			var arr=['weixin','sinaminiblog','qzone'];
			bShare.addEntry({
				title: "创造与魔法官方网站",
				url: url,
				summary: "每一个梦想 都将在这里实现",//分享的文本摘要，默认为页面Meta标签中description的内容或者用户高亮的内容
				pic: "http://static.dev.yingxiong.com/czymf/4.0/images/nav_top_bg.png"   //指定分享的图片的链接，目前支持新浪微博，QQ空间，搜狐微博，网易微博，人人网， 嘀咕，腾讯微博和做啥。
			});
			bShare.share(e, arr[i]);
		}
	</script>
</html>



