

html,
body {
	overflow-x: hidden;
}

input {
	border: 0;
	outline: 0;
}
.lf{
	float: left;
}
.rt{
	float: right;
}
.top{
	width: 100%;
	height: 79px;
	min-width: 1200px;
	/*position: fixed;*/
	background: url(../images/top.png) no-repeat center;
	z-index:15;
}
.top .top_content{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.top .top_content .icon_big{
    position: absolute;
    left:0;
    top:15px;
	width: 102px;
	height: 102px;
    z-index: 15;
}
.top .top_content .i_top_title {
	float: left;
	margin-left: 115px;
}

.top .top_content .i_top_title h3 {
	margin-top: 15px;
	color: #fff;
	font-weight: 400;
	font-size: 22px;
}

.top .top_content .i_top_title p {
	margin-top: 5px;
	color: #999999;
	font-size: 16px;

}
.top .top_content .i_nav {
	float: left;
	margin-left: 20px;
}

.top .top_content .i_nav ul {
	overflow: hidden;
	height: 59px;
	margin-top:20px;
	margin-left:170px;
}
.top .top_content .i_nav ul li {
	float: left;
	margin: 0 39px;
	height: 59px;
}
.top .top_content .i_nav ul li a {
	display: block;
	width: 105px;
	height: 49px;
	color: #fff;
	text-align: center;
	font-weight: 400;
	font-size: 20px;
	line-height: 49px;
}
.top .top_content .i_nav ul li a.on,.top .top_content .i_nav ul li a:hover {
	background: url(../images/nav_hover.png) no-repeat; 
	background-size:100% 100%; 
	color: #000;
	font-weight: 700;
}
.top .top_content .i_share {
	position: relative;
	float: right;
}
.top .top_content .i_share .i_share_weixin {
    position: absolute;
    bottom: -148px;
    left: -44px;
    width: 147px;
    height: 10pc;
    z-index: 15;
    display: none;
}

.top .top_content .i_share_weixin img {
	display: block;
	width: 100%;
	height: 100%;
}
.top .top_content .i_share a {
	float: left;
	display: block;
	margin: 22px 17px;
	width: 37px;
	height: 37px;
	vertical-align: middle;
}
.top .top_content .i_share a.i_share_wx {
	background-image: url(../images/weinxin.png);
}
.top .top_content .i_share a.i_share_wb,.i_share a.i_share_wx {
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.top .top_content .i_share a.i_share_wb {
	background-image: url(../images/wb.png);
}
.top .top_content .i_share a.i_share_bd{
	background-image: url(../images/bd.png);
}
.top .top_content .i_share a.i_share_bd{
	background-image: url(../images/bd.png) no-repeat;
	background-size: 100% 100%;
}
.top .top_content .i_share a.i_share_wx:hover {
	background: url(../images/weinxin_on.png) no-repeat;
	background-size: 100% 100%;
}
.top .top_content .i_share a.i_share_wb:hover {
	background: url(../images/wb_on.png) no-repeat;
	background-size: 100% 100%;
}

.top .top_content .i_share a.i_share_bd:hover {
	background: url(../images/bd_on.png) no-repeat;
	background-size: 100% 100%;
}
.main {
	width: 100%;
	height: 1712px;
	min-width: 1200px;
	position: relative;
	background: url(../images/main3.jpg) no-repeat center;
	overflow: hidden;
}
.main .zz_ceng{
	width:1816px;
	position: absolute;
	top:155px;
	left:50%;
	margin-left:-870px;
	z-index: 10;
}
.main .main_content {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.main .main_content .wp_logo {
	display: block;
	position: absolute;
	width: 353px;
	height: 132px;
	left: 0;
	top: 56px;
}

.main .wp_star {
	display: inline-block;
	width: 1817px;
	height: 1578px;
	position: absolute;
	left: 93px;
	top: 101px;
	z-index: 10;
}

.main .main_content .wp_banner {
	width: 1546px;
	height: 1007px;
	background: url(../images/slogain1.png) no-repeat center;
	/*background-size:100% 100%;*/
	position: absolute;
	left: -231px;
	top: 30px;
}

.main .main_content .video-w {
    width: 364px;
    height: 171px;
    background: url(../images/right-order.png) no-repeat;
    position: absolute;
    top: 570px;
    left: 2px;
    cursor: pointer;
}

/*@-webkit-keyframes dq {
	0% {
		transform: scale(0.9);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.9);
	}
}

@keyframes dq {
	0% {
		transform: scale(0.9);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.9);
	}
}*/

.tck_yue {
	display: none;
	width: 536px;
	height: 140px;
	border: 3px solid #000;
	border-radius: 2px;
	position: absolute;
	top: 630px;
	left: 788px;
	background: #fce947;
	color: #000;
	font-size: 20px;
	z-index: 101;
}

.tck_yue .close {
	width: 34px;
	height: 34px;
	background: url(../common/images/close.jpg) no-repeat;
	position: absolute;
	top: 0;
	right: 0;
}

.tck_yue img {
	width: 106px;
	height: 106px;
	margin: 18px 13px 0;
}

.tck_yue .text {
	width: 74%;
	margin-top: 18px;
}
@keyframes vGo{
	0%{transform: scale(0.9);}
	50%{transform: scale(1);}
	100%{transform: scale(0.9);}
}
@-webkit-keyframes vGo{
	0%{transform: scale(0.9);}
	50%{transform: scale(1);}
	100%{transform: scale(0.9);}
}
.main .main_content .play {
	position: absolute;
	top: 520px;
	left: 530px;
	z-index: 100;
	cursor: pointer;
	animation: vGo 2s linear infinite;
	-webkit-animation: vGo 2s linear infinite;
}
.main .main_content .txt_bg {
	width: 490px;
	height: 216px;
	background: url(../images/txt_bg.png) no-repeat center;
	background-size: 100% 100%;
	position: absolute;
	top: 604px;
	z-index: 99;
}

.main .main_content .txt_bg .code{
	float: left;
	width: 164px;
	height: 156px;
	margin-top: 31px;
	margin-left: 73px;
	padding: 15px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	background-image: url("../images/code_bg.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.main .main_content .txt_bg .code img{
	width: 100%;
	height: 100%;
}
.main .main_content .txt_bg .downBox{
	float: right;
	margin-right: 55px;
	margin-top: 30px;
}
.main .main_content .txt_bg:after{
	content: '';
	display: block;
	clear: both;
}
.main .main_content .txt_bg .downBox .ios{
	position: relative;
	left: 5px;
	display: block;
	margin-bottom: 23px;
	cursor: pointer;
}
.main .main_content .txt_bg .downBox .andr{
	cursor: pointer;
}
.main .main_content .txt_bg p span {
	color: #ffe81c;
}

.main .main_content .txt_bg .radio {
	width: 140px;
	height: 28px;
	margin-left: 55px;
	margin-top: 85px;
	display: inline-block;
	background-image: url(../images/input02.png);
	background-repeat: no-repeat;
	background-position: -170px 0;
	cursor: pointer;
}

.main .main_content .txt_bg .radio span {
	color: #bababa;
	font-size: 23px;
	display: inline-block;
	margin-left: 22px;
	line-height: 28px;
}

.main .main_content .txt_bg .radio .txt_col {
	color: #ffe81c;
}

.main .main_content .txt_bg .radio.on {
	background-position: 0 0;
	color: #ffe81c;
}

.main .main_content .txt_bg .radio .radio01 {
	opacity: 0;
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

.main .main_content .txt_bg .tel_bg {
	width: 360px;
	height: 44px;
	background-color: #9918fd;
	margin-left: 57px;
	margin-top: 22px;
	position: relative;
}

.main .main_content .txt_bg .tel_bg .tel_p {
	width: 237px;
	height: 40px;
	background-color: #fff;
	margin: 2px 0 0 2px;
	font-size: 17px;
	text-indent: 15px;
}

.main .main_content .txt_bg .tel_bg i {
	width: 123px;
	height: 44px;
	font-size: 22px;
	color: #fff;
	font-style: italic;
	font-weight: bold;
	position: absolute;
	cursor: pointer;
	line-height: 44px;
	background-color: #9918fd;
	text-align: center;
	animation: dg 1s linear infinite;
	-webkit-animation: dg 1s linear infinite;
}


/*.main .main_content .txt_bg .tel_bg i:hover{
	background-color:#000;
}*/

@keyframes dg {
	0% {
		background-color: #000;
	}
	33.3% {
		background-color: #000;
	}
	66.6% {
		background-color: #9918fd;
	}
	100% {
		background-color: #000;
	}
}

@-webkit-keyframes dg {
	0% {
		background-color: #000;
	}
	33.3% {
		background-color: #000;
	}
	66.6% {
		background-color: #9918fd;
	}
	100% {
		background-color: #000;
	}
}
.main .main_content .news_box{
	width: 696px;
	height: 209px;
	position: absolute;
	top: 604px;
	left: 502px;
	z-index: 10;
	background: url(../images/new.png) no-repeat;
	background-size:100% 100%; 
}
.art-news {
	overflow: hidden;
	margin-right: 30px;
	width: 580px;
	height: 205px;
	padding-left:63px;
}

.art-banner img {
	width: 100%;
}

.swiper-pagination-bullet {
	width: .6rem!important;
	height: .6rem!important;
	background: #fff!important;
	opacity: .4;
}

.news-nav {
	position: relative;
	height: 66px;
	border-bottom: 1px dashed #B1ADA7;
}

.news-nav li {
	float: left;
	margin: 12px 0; 
	width: 78px;
	height: 41px;
	color: #000;
	text-align: center;
	font-size: 20px;
	line-height: 41px;
	cursor: pointer;
}
.news-nav li+li {
	margin-left: 20px;
}
.news-nav li a{
	display: block;
}
.news-nav li.curr,.news-nav li:hover {
	background: url(../images/tl_hover.png) no-repeat;
	background-size:100% 100%; 
	color: #000;
	font-weight: 600;
}

.text_tab_more {
	position: absolute;
    top: 9px;
    right: 13px;
    overflow: hidden;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.text_tab_more a {
	display: block;
	width: 20px;
	height: 20px;
}
.text_tab_more a.more {
	background: url(../images/more.png) no-repeat center;
}
.tab-cont{
	width: 589px;
    height: auto;
    position: relative;
    top: -5px;
}
.tab-cont ul li{
    font-size: 17px;
    margin-top: 16px;
    transition: all 1.5s ease;
}
.tab-cont ul li i{
    color: #999;
    font-style: normal;
    display: inline-block;
    margin-right: 4px;
    vertical-align: top;
}
.tab-cont ul li a{
    color: #333;
    display: inline-block;
    width: 435px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tab-cont ul p{
	font-size: 17px;
    margin-top: 16px;
    transition: all 1.5s ease;
    line-height: 46px;
    text-align: center;
}
.player-left .tab-cont ul li a{
    width: 480px;
}
.tab-cont ul li:hover a,.tab-cont ul li:hover span,.tab-cont ul li:hover i{
    color: #9000FF;
}
.tab-cont ul li span{
    color: #999;
    display: inline-block;
    width: 60px;
    text-align: right
}
.main .main_content .tck {
	width: 160px;
	height: 218px;
	position: absolute;
	top: 833px;
	left: 23px;
	z-index: 10;
}
.main .main_content .tck a {
	display: inline-block;
}

.main .main_content .tck a:nth-child(2) {
	margin: 0 30px;
}

.main .main_content .tck .erweima {
	width: 147px;
	height: 160px;
	display: inline-block;
	position: absolute;
	left: 50%;
	margin-left: -55.5px;
	top: 59px;
	display: none;
}

.con_txt {
	position: absolute;
	top: 833px;
	left: 165px;
	z-index: 15;
}

.con_txt p {
	font-size: 14px;
	color: #3f3f3f;
}

.con_txt p:nth-child(2) {
	margin-top: 10px;
}

.con_txt p em {
	color: #ad222c;
}

.con_txt p a img {
	vertical-align: text-bottom;
	margin-left: 5px;
}

.con_txt p a {
	color: #ad222c;
}

.main .main_content .main_banner {
	width: 1155px;
	position: absolute;
	left: 352px;
	top: 31px;
}

.main .main_content .main_banner #banner_second {
	top: -9px;
}

.main .main_content .main_banner #banner_third {
	top: -50px;
}

.main .main_content .main_banner .swiper-pagination {
	width: 117px;
	height: 20px;
	/*z-index:99;*/
	position: absolute;
	bottom: 345px;
	left: 113px;
}

.main .main_content .main_banner .jdt {
	display: inline-block;
	position: absolute;
	left: 0;
	top: 879px;
}

.main .main_content .main_banner .swiper-pagination .swiper-pagination-bullet {
	z-index: 99;
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url(../images/jt01.png) no-repeat center;
	margin: 0 9px;
}
.main .main_content .main_banner .swiper-pagination .swiper-pagination-bullet-active {
	background: url(../images/jt02.png) no-repeat center;
}

.main .swiper-button-prev {
	width: 60px;
	height: 41px;
	background: url(../images/left.png) no-repeat center;
	z-index: 9999;
	position: absolute;
	left: 40px;
	top: 584px;
	animation: db 2s linear infinite;
	-webkit-animation: db 2s linear infinite;
}

/*@keyframes db {
	0% {
		transform: scale(1.1);
	}
	50% {
		transform: scale(1.4);
	}
	100% {
		transform: scale(1.1);
	}
}

@-webkit-keyframes db {
	0% {
		transform: scale(1.1);
	}
	50% {
		transform: scale(1.4);
	}
	100% {
		transform: scale(1.1);
	}
}*/

.main .swiper-button-next {
	width: 60px;
	height: 41px;
	background: url(../images/right.png) no-repeat center;
	z-index: 9999;
	position: absolute;
	right: 40px;
	top: 332px;
}
/*@keyframes dw {*/
	/*0% {*/
		/*transform: scale(1.1);*/
	/*}*/
	/*50% {*/
		/*transform: scale(1.4);*/
	/*}*/
	/*100% {*/
		/*transform: scale(1.1);*/
	/*}*/
/*}*/

/*@-webkit-keyframes dw {*/
	/*0% {*/
		/*transform: scale(1.1);*/
	/*}*/
	/*50% {*/
		/*transform: scale(1.4);*/
	/*}*/
	/*100% {*/
		/*transform: scale(1.1);*/
	/*}*/
/*}*/
.main .main_content .renwu {
	width: 245px;
	height: 733px;
	position: absolute;
	bottom: -25px;
	left: -76px;
}

.main .main_content .banner_ng {
	width: 900px;
	height: 514px;
	background: url(../images/nbanner_bg.png) no-repeat center;
	background-size: 100% 100%;
	position: absolute;
	bottom: 120px;
	left: 50%;
	margin-left:-450px;
}

.main .main_content .banner_ng .banner_vg {
	width: 743px;
	height: 420px;
	position: absolute;
	top: 72px;
	left: 50%;
	margin-left: -382.5px;
	border: 10px solid #fff;
	overflow: hidden;
	box-shadow: 0 0 15px #000;
	-webkit-box-shadow: 0 0 15px #000;
}


/*.main .main_content .banner_ng .banner_vg .swiper-slide a{
	display: inline-block;
	width:100%;
	height:100%;
}*/

.main .main_content .banner_ng .banner_vg .swiper-slide img {
	display: inline-block;
	width: 743px;
	height: 420px;
}

.main .main_content .banner_ng .swiper-button-last {
	width: 48px;
	height: 81px;
	cursor: pointer;
	background: url(../images/next.png) no-repeat center;
	position: absolute;
	right: -75px;
	top: 50%;
	margin-top: -60.5px;
	z-index: 9999;
}

.main .main_content .banner_ng .swiper-button-xia {
	width: 48px;
	height: 81px;
	cursor: pointer;
	background: url(../images/last.png) no-repeat center;
	position: absolute;
	left: -75px;
	top: 50%;
	margin-top: -60.5px;
	z-index: 9999;
}

/*@-webkit-keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}*/
/*公用底部*/
.i-footer {
    width: 100%;
    height: 140px;
    background: #1B1B1B;
    clear: both;
}
.i-footer .i-fotcon {
    width: 1200px;
    height: 140px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}
.i-footer .i-fotcon .i-fot-logo {
    width: 660px;
    height: 110px;
    margin-top: 15px;
    float: left;
    border-right: 1px solid #666666;
    display: block;
    overflow: hidden;
}
.i-footer .i-fotcon .i-fot-logo img {
    display: block;
    float: left;
    width: 137px;
    height: 50px;
    margin:32px 25px 0 0;
}
.i-footer .i-fotcon .i-fot-text {
    float: left;
    display: block;
    margin-top: 30px;
    padding-left: 60px;
}
.i-footer .i-fotcon .i-fot-text p {
    font-size: 12px;
    line-height: 1.6;
    color: #C5C5C5;
    text-align: left;
}
.i-footer .i-fotcon .i-fot-text p a {
    display: inline-block;
    /* width: 15px; */
    /* height: 15px; */
    vertical-align: middle;
    margin: 0 3px;
    color: #C5C5C5;
}
/*新闻*/
.new_main{
	width: 100%;
	height: 1060px;
	min-width: 1200px;
	position: relative;
	background: url(../images/main4.jpg) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}
.new_main .zz_ceng{
	width: 100%;
    position: absolute;
    left: 0;
    top: 10px;
    height: 1089px;
}
.new_main .main_content {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.new_main .main_content img.news_images{
	top: -11px;
    position: absolute;
	transform-origin: top center;
	-webkit-transform-origin: top center;
	-moz-transform-origin: top center;
    animation: swing 2s linear;
    -webkit-animation: swing 2s linear;
    -moz-animation: swing 2s linear;
}
.news-list{
	position: relative;
}
.new_main .lis,.new_main .lis2{
	width: 1442px;
    height: 961px;
    position: absolute;
    top: 65px;
    left: -239px;
    background: url(../images/new_box.png) no-repeat;
    background-size: 100% 100%;
}
.news-bg{
	position: relative;
    top: 53px;
}
.news-bg .news-list{
    padding-left:236px;
}
.min-menu{
	position: absolute;
    right: 10px;
    top: 35px;
    font-size: 16px;
    color:#777777;
}
.min-menu a{
    display: inline-block;
    color:#777777;
    padding-left: 10px;
    z-index:20;
}
.min-menu a:hover{
    display: inline-block;
    color:#000;
    padding-left: 10px;
    z-index:20;
    font-weight: 500;
}
.news-bg .news-list ul.news-nav li{
	width:94px;
	height:45px;
	margin-right: 10px;
}
.news-bg .news-list ul.news-nav li a{
	color: #000;
}
.new_main .news-nav {
    width: 621px;
    position: relative;
    height: 66px;
    z-index: 10;
    border-bottom:none;
}
.news-li-1{
	padding-left: 530px;
    margin-top: 10px;
    width: 846px;
}
.lis ul.news-li-1 li{
    font-size: 17px;
    height: 79px;
    line-height: 79px;
    border-bottom: 1px dashed #999;
}
.lis ul.news-li-1 li i{
    color: #999;
    font-style: normal;
    display: inline-block;
    margin-right: 4px;
    vertical-align: top;
}
.lis ul.news-li-1 li a{
    color: #333;
    display: inline-block;
    width: 740px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.lis ul.news-li-1 li:hover a,.lis ul.news-li-1 li:hover span,.lis ul.news-li-1 li:hover i{
    color: #9000FF;
}
.lis ul.news-li-1 li span{
    color: #999;
    line-height: 50px;
    display: inline-block;
    text-align: right;
    position: absolute;
    padding-top: 29px;
}
.lis>p{
	text-align: center;
    line-height: 64px;
    padding-top: 20px;
}
.lis2{
	position:relative;
}
.new_detail{
	padding-left: 522px;
    margin-top: 24px;
    width: 806px;
}
.new_detail h4{
	text-align: center;
	height:82px;
	line-height:82px;
	font-size: 30px;
	font-weight: 500;
}
.new_detail p.creat_info{
	text-align:center;
	line-height: 40px;
	border-bottom: 1px dashed #999;
	color: #999;
	font-size:16px;
    margin-bottom: 25px;
}
.new_detail p span{
	text-align:left;
	line-height: 40px;
	color: #999;
	font-size:16px;
	margin-right:20px;
}
p.new_info{
	text-align:left;
	line-height: 42px;
	color: #666;
	font-size:18px;
}
.new_detail img{
	display: block;
    margin: 0 auto;
}
.new_detail img.zzc2{
	display: block;
    margin: 0 auto;
    position: absolute;
    bottom: 166px;
    left: 411px;
}
img.zzc2{
	display: block;
    margin: 0 auto;
    position: absolute;
    bottom: 166px;
    left: 411px;
}
.news_content{
	width:100%;
	height:632px;
	overflow-y:auto; 
}
.news_content::-webkit-scrollbar-track-piece{  
    position: absolute;
    top:0px;
    left:-20px;
    background-color: #E5E5E5; 
    -moz-border-radius: 0.15625rem;  
    border-radius: 0.15625rem; 
    min-height: 1.8125rem;   
} 
.news_content::-webkit-scrollbar {  
    width: 5px;  
    height: 16px;  
    -webkit-border-radius: 4px;  
    -moz-border-radius: 4px;  
    border-radius: 4px;  
}  
.news_content::-webkit-scrollbar-thumb {  
    background-color:#999999;  
    background-clip: padding-box;  
    -webkit-border-radius: 4px;   
    -moz-border-radius:  4px;  
    border-radius:  4px;  
    min-height:  4px;  
}
.return_list{
	width: 131px;
    height: 41px;
    color: #000;
    font-weight: 600;
    text-align: center;
    font-size: 20px;
    line-height: 38px;
    position: absolute;
    top: 30px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    background: url(../images/return.png) no-repeat;
    background-size: 100% 100% ;
}
.page {
    height: 33px;
    margin: 45px auto;
    text-align: center;
    margin-left: 293px;
}
.page li{
    display: inline-block;
}
.page li{
    line-height: 33px;
    font-size: 14px;
    border: 1px solid #e5e5e5;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    margin: 0px 3px;
    padding: 0 13px;
}
.page li a,.page li span{
     color: #999999;
}
.page li:hover{
    background: #000;
}
.page li:hover a{
    color: #fff;
}
.page li:first-child ,.page li:last-child{
    background: none;
    border: none;
    margin: 0px 10px;
}
.page li:first-child:hover a,.page li:last-child:hover a{
    color: #000;
}
.page li span:first-child:hover,.page li span:last-child:hover{
    color: #000;
}
.page li.active {
    background: #000;
}
.page li.active a{
    color: #fff;
}
/*弹窗*/
.tips{
	width: 100%;
	height:100%;
	background: rgba(0,0,0,.9);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999999;
	display: none;
}
.tips .content{
	width: 644px;
	height: 756px;
	position: relative;
    top: 45%;
    /*left: 47%;*/
	/*margin: -230px 0 0 -299px;*/
	margin-left: auto;
	margin-right: auto;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	background: url(../images/mall.png) no-repeat;
	background-size: 100% 100%;
}
.tips .content .tips-from{
	position: relative;
	top: 260px;
	left: 45px;
}
.tips .content .close{
	position: absolute;
	width: 44px;
	height: 36px;
	right: 10px;
	top: 140px;
	transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-webkit-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	cursor: pointer;
}
.tips .content .info{
    width: 100%;
	margin-top: 30px;
    text-align: left;
    line-height: 34px;
    padding: 20px 0 10px 0;
    border-top: 1px solid #787875;
    color: #999999;
    font-size: 14px;
}
.tips .content .close:hover {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
}
.tips .content>div{
    position: relative;
    width: 468px;
    height: 284px;
    top: 182px;
    margin: 10px 0 8px 87px;
}
.tips .content>div input{
    width: 438px;
    height: 74px;
    text-indent: 15px;
    font-size: 30px;
    color: #333;
    outline: none;
    line-height: 74px;
	border: 2px solid #9918fd;
	margin-bottom: 20px;
}
.tips .content>div input.phone{
}
.tips .content>div input::-webkit-input-placeholder {
	font-size:30px;
	color:#999;
}
.tips .content>div .getcode{
    width: 442px;
    height: 91px;
    cursor: pointer;
}
.error{
    font-size: 17px;
    color: #fff;
    width: 100%;
    text-align: left;
    position: absolute;
    bottom: 33px;
    display: none;
}
.error1{
	bottom: 186px;
}
.error2{
	bottom: 88px;
}

.tap{
    width: 172px;
    height: 267px;
    display: block;
    position: fixed;
    background: url(../images/tap.png) no-repeat;
    background-size: 100% 100%;
    z-index: 15;
    top: 34%;
    right: 29px;
}
.tap .tap_btn{
    position: absolute;
    width: 134px;
    height: 50px;
    display: block;
    left: 24px;
    top: 195px;
}

@-webkit-keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 9deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -6deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 3deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
@-moz-keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 9deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -6deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 3deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 9deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -6deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 3deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
