.i_main {
	position: relative;
	width: 100%;
	min-width: 1200px;
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;
}
/*top*/
.top {
	width: 100%;
	height: 1003px;
	background: url(../images/n_bg1.jpg) no-repeat center;
	background-size:cover;
	overflow: hidden;
	position: relative;
}
.top .wrap{z-index:12;}
.top .slogan{
	z-index: 12;
	position: absolute;
	left: -40px;
	top: 680px;
	width: 822px;
	height: 265px;
}
.top .videobtn{
	display: block;
	width: 171px;
	height: 157px;
	position: absolute;
	left: 50%;
	top: 480px;
	margin-left: 200px;
	background: url(../images/n_play.png);
	animation: vd 2s linear infinite;
	-webkit-animation: vd 2s linear infinite;
}
.top .videobtn a{
	display:block;
	width: 171px;
	height: 157px;
}
@keyframes vd {
	0% {
		transform: scale(0.9);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.9);
	}
}
@-webkit-keyframes vd {
	0% {
		transform: scale(0.9);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.9);
	}
}
.top .download{
	z-index: 12;
	width: 439px;
	height: 260px;
	position: absolute;
	right: -25px;
	bottom: 130px;
	background: url(../images/n_downloadbg.png);
}
.top .download .con{
	width: 366px;
	height: 177px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -183px;
	margin-top: -80.5px;
}
.top .download .code{
	position: relative;
	float:left;
	width: 167px;
	height: 177px;
	background: url(../images/n_code_bg.png);
}
.top .download .code img{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 128px;
	height: 128px;
	margin: -64px 0 0 -64px;
}
.top .download .code i {
	display: block;
	width: 108px;
	height: 15px;
	background: url(../images/i_light.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -54px;
	animation: vSmall 4s linear infinite;
	-webkit-animation: vSmall 4s linear infinite;
	-moz-animation: vSmall 4s linear infinite;
	-o-animation: vSmall 4s linear infinite;
}
.top .download .btn{
	float: left;
	margin-left: 22px;
	margin-top: 5px;
}
.top .download .btn a{
	display: block;
	width: 175px;
	height: 64px;
	margin-bottom:15px;
}
.top .video{
	width: 1920px;
	height: 100%;
	position: absolute;
	left: 50%;
	margin-left: -960px;
	object-fit: cover;
	z-index: 10;
	top: 0;
}
/*新闻*/
.i_main .banner_news{
	width: 100%;
	height: 659px;
	background: url(../images/n_bg2.jpg) no-repeat center;
	background-size:cover;
	overflow: hidden;
	position: relative;
}
.i_main .banner_news .title{
	width: 127px;
	height: 47px;
	margin: 0 auto;
}
.i_main .banner_news .banner_news_box{
	position: relative;
	width: 1187px;
	height: 470px;
	background: url(../images/n_news_bg.png);
}
.i_main .banner_news .banner{
	position: relative;
	margin-left: 65px;
	margin-top: 90px;
	width: 482px;
	height: 300px;
	float: left;
}
.i_main .banner_news .banner .swiper-container{
	width: 470px;
	height: 266px;
	border: 6px solid #FFE800;
}
.i_main .banner_news .banner .swiper-pagination{
	width: auto;
	bottom: 0;
	left: 50%;
	transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
}
.i_main .banner_news .banner .swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	margin: 0 3px;
	opacity: 1;
	border-radius:0;
	background:url("../images/n_bullet1.png");
	background-size:100% 100%;
}
.i_main .banner_news .banner .swiper-pagination-bullet-active {
	position: relative;
	width: 10px;
	height: 10px;
	background:url("../images/n_bullet2.png");
	background-size:100% 100%;
}
.i_main .banner_news .banner .swiper-slide img,.i_main .banner_news .banner .swiper-slide a{
	display:inline-block;
	width:100%;height:100%;
}
.i_main .banner_news .more{
	position: absolute;
	right: 23px;
	top: 50px;
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../images/n_more.png);
	background-size: 100% 100%;
	transition: all .5s;
	-webkit-transition: all .5s;
}
.i_main .banner_news .more:hover{
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}
.news_box{
	position: relative;
	width: 515px;
	margin:100px auto 0 40px;
	float: left;
}
.news_box .hd {
	overflow: hidden;
	border-bottom: 1px dashed #B2B2B2;
	padding-bottom: 10px;
	margin-bottom: 5px;
}
.news_box .hd li {
	position: relative;
	float: left;
	padding: 0 19px;
	height: 39px;
	line-height: 35px;
	margin-right: 20px;
	font-size: 20px;
	text-align: center;
}
.news_box .hd li a {
	color: #222;
	cursor: pointer;
	width: 100%;
	height: 100%;
	display: block;
}
.news_box .hd li.on {
	background:url("../images/n_nav_bg2.png");
	background-size:100% 100%;
}
.news_box .hd li:last-of-type{margin-right:0;}
.news_box .bd {
	overflow:hidden;
}
.news_box .bd ul {
	display: block;
	overflow: hidden;
}
.news_box .bd li {
	position: relative;
	width: 100%;
	display: block;
	height: 40px;
	line-height: 40px;
	font-size: 17px;
}
.news_box .bd li:last-of-type:after{display:none;}
.news_box .bd li a {
	display: block;
	position: relative;
	color: #222;
	width: 80%;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.news_box .bd li a:hover,.news_box .bd li:hover span,.news_box .bd li a:hover i{color: #9000FF;}
.news_box .bd li i{
	font-style: normal;
	color: #666;
}
.news_box .bd span {
	float: right;
	font-size: 16px;
	color: #666;
}
.i_main .banner_news .peo1{
	position: absolute;
	right: -105px;
	bottom: 0;
	width: 188px;
	height: 174px;
}
/*御史世界*/
.i_main .ts_play{
	width: 100%;
	height: 672px;
	background: url(../images/n_bg3.jpg) no-repeat center;
	background-size:cover;
	overflow: hidden;
	position: relative;
}
.i_main .ts_play .title{
	width: 136px;
	height: 44px;
	margin: 0 auto;
}
.i_main .ts_play .banner{
	position: relative;
	width: 900px;
	height: 521px;
	margin:0 auto;
	background:url("../images/n_tsbg.png");
}
.i_main .ts_play .banner .swiper-container{
	width: 806px;
	height: 445px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -402px;
	margin-top: -222.5px;
}
.i_main .ts_play .banner .swiper-slide img,.i_main .ts_play .banner .swiper-slide a{
	display:inline-block;
	width:100%;height:100%;
}
.i_main .ts_play .swiper-button-prev2{
	top: 130px;
	left: -110px;
	width: 48px;
	height: 81px;
	margin: 0;
	background: url(../images/n_prev2.png);
}
.i_main .ts_play .swiper-button-next2{
	top: 130px;
	right: -110px;
	width: 48px;
	height: 81px;
	margin: 0;
	background: url(../images/n_next2.png);
}
/*御史小队*/
.i_main .ys_team{
	width: 100%;
	height: 807px;
	background: url(../images/n_bg4.jpg) no-repeat center;
	background-size:cover;
	overflow: hidden;
	position: relative;
}
.i_main .ys_team .title{
	width: 145px;
	height: 49px;
	margin: 0 auto;
}
.i_main .s3_bottom {
	position:relative;
	width: 1220px;
	height: 661px;
	background: url(../images/n_ysbg.png) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}
.i_main .s3_bottom .s3_peo_head {
	width: 1100px;
	height: 100px;
	margin: 0 auto;
	margin-top: 60px;
}
.i_main .s3_bottom .s3_peo_head span{
	position:relative;
	display: block;
	float: left;
	width: 80px;
	height: 80px;
	margin-right:27px;
	cursor: pointer;
	background:#FFE800;
	border-radius:100%;
}
.i_main .s3_bottom .s3_peo_head span img{
	width: 130px;
	height: 130px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -55px;
	margin-left: -65px;
}
.i_main .s3_bottom .s3_peo_head .on {background:#9000FF;}
.i_main .s3_bottom .s3_peo_head .on:after{
	position:absolute;
	left: 50%;
	bottom: -15px;
	display: inline-block;
	content: "";
	width: 25px;
	height: 7px;
	margin: 0 0 0 -12.5px;
	background:url("../images/n_yspoint.png");
}

.i_main .s3_bottom .p_con{
	width: 1100px;
	height: 470px;
	margin: 0 auto;
}
.i_main .s3_bottom .p_name{
	width: 300px;
	margin-top: 60px;
	float:left;
}
.i_main .s3_bottom .p_name .jn_tit{
	width:271px;
	height:19px;
	margin:0 auto;
	margin-bottom:20px;
}
.i_main .s3_bottom .jineng{overflow:hidden;}
.i_main .s3_bottom .jineng span{
	position: relative;
	float: left;
	display: block;
	margin-left: 55px;
	margin-bottom: 15px;
	width: 70px;
	height: 100px;
	cursor: pointer;
}
.i_main .s3_bottom .jineng span:hover i{
	color:#9000ff;
}
.i_main .s3_bottom .jineng span img{
	width: 70px;
	height: 70px;
}
.i_main .s3_bottom .jineng span.gray img{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}
.i_main .s3_bottom .jineng span i{
	display: block;
	font-size: 16px;
	font-weight: 600;
	color: #3c4652;
	font-family: "宋体";
	text-align: center;
	margin-top: 5px;
}
.i_main .s3_bottom .jineng_des>span {
	display: block;
	width: 278px;
	padding: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #3c4652;
	font-family: "宋体";
	font-weight: 600;
	border: 1px solid #9F90A1;
}

.i_main .s3_bottom .p_peo {
	position: relative;
	width: 780px;
	height: 450px;
	float: left;
}
.i_main .s3_bottom .s3_peo {
	position: absolute;
	left: 0px;
	top: -48px;
	width: 500px;
	height: 500px;
}
.i_main .s3_bottom .p_peo .p_peoinfo{
	position: absolute;
	left: 375px;
	top: -5px;
}
.i_main .s3_bottom .p_peo .p_peoinfo .p_peoname{
	position:relative;
	display: inline-block;
	padding: 0 46px;
	height: 67px;
	line-height: 64px;
	margin:10px 0 0 10px;
	font-size: 26px;
	font-weight: 600;
	color: #000;
	text-align: center;
	background: url(../images/n_nav_bg3.png);
	background-size: 100% 100%;
}
.i_main .s3_bottom .p_peo .p_peoinfo .p_video{
	position: absolute;
	right: -70px;
	top: 0;
	display: block;
	width: 58px;
	height: 55px;
	background: url(../images/n_play2.png);
	background-size: 100% 100%;
}
.i_main .s3_bottom .p_peo .p_peoinfo .peo_txt{
	padding: 0 0 0 25px;
	width: 396px;
	height: 372px;
	margin-top: 8px;
	overflow: hidden;
	background: url(../images/n_ystxtbg.png);
	background-size: 100% 100%;
}
.i_main .s3_bottom .p_peo .p_peoinfo .peo_txt h3{
	font-size: 26px;
	color: #9000ff;
	margin: 25px 0 15px 0;
}
.i_main .s3_bottom .p_peo .p_peoinfo .peo_txt h4{
	width: 230px;
	font-size: 20px;
	color: #3d3d3d;
	margin-bottom:15px;
}
.i_main .s3_bottom .p_peo .p_peoinfo .peo_txt p{
	width: 365px;
	font-size: 18px;
	color: #3d3d3d;
	line-height: 28px;
}
/*神兽契约*/
.i_main .ss_deed{
	width: 100%;
	height: 757px;
	background: url(../images/n_bg5.jpg) no-repeat center;
	background-size:cover;
	overflow: hidden;
	position: relative;
}
.i_main .ss_deed .title{
	width: 140px;
	height: 41px;
	margin: 0 auto;
}




.i_main .s3_bottom1 {
	position:relative;
	width: 1214px;
	height: 600px;
	background: url(../images/n_ssbg.png) no-repeat;
	background-size: 100% 100%;
	/*overflow: hidden;*/
}
.i_main .s3_bottom1 .s3_peo_head {
	width: 304px;
	height: 485px;
	margin: 40px 30px 0 auto;
	float: right;
}
.i_main .s3_bottom1 .s3_peo_head span{
	overflow: hidden;
	position: relative;
	display: block;
	float: left;
	width: 86px;
	height: 86px;
	margin-right: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	background: #fff;
	border: 1px solid #BEB6C0;
}
.i_main .s3_bottom1 .s3_peo_head span:nth-of-type(1),.i_main .s3_bottom1 .s3_peo_head span:nth-of-type(12){margin-left:108px;}
.i_main .s3_bottom1 .s3_peo_head span:nth-of-type(2),.i_main .s3_bottom1 .s3_peo_head span:nth-of-type(13),.i_main .s3_bottom1 .s3_peo_head span:nth-of-type(5),.i_main .s3_bottom1 .s3_peo_head span:nth-of-type(8),.i_main .s3_bottom1 .s3_peo_head span:nth-of-type(11){margin-right:0;}
.i_main .s3_bottom1 .s3_peo_head span img{
	width: 170px;
	height: 170px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -45px;
	margin-left: -85px;
}
.i_main .s3_bottom1 .s3_peo_head .on {background:#9000FF;}
.i_main .s3_bottom1 .s3_peo_head .on:after{
	position:absolute;
	left: 50%;
	bottom: -15px;
	display: inline-block;
	content: "";
	width: 25px;
	height: 7px;
	margin: 0 0 0 -12.5px;
	background:url("../images/n_yspoint.png");
}

.i_main .s3_bottom1 .p_con{
	width: 850px;
	margin: 0 auto;
	float: left;
}
.i_main .s3_bottom1 .p_peo {
	position: relative;
	width: 850px;
	height: 580px;
	float: left;
}
.i_main .s3_bottom1 .s3_peo {
	position: absolute;
	left: -130px;
	top: -20px;
	width: 600px;
	height: 600px;
}
.i_main .s3_bottom1 .p_peo .p_peoinfo{
	position: absolute;
	left: 450px;
	top: 120px;
}
.i_main .s3_bottom1 .p_peo .p_peoinfo .p_peoname{
	position:relative;
	display: inline-block;
	padding: 0 33px;
	height: 67px;
	line-height: 64px;
	font-size: 26px;
	font-weight: 600;
	color: #402245;
	text-align: center;
	background: url(../images/n_nav_bg3.png);
	background-size: 100% 100%;
}
.i_main .s3_bottom1 .p_peo .p_peoinfo .p_video{
	position: absolute;
	right: -70px;
	top: 0;
	display: block;
	width: 58px;
	height: 55px;
	background: url(../images/n_play2.png);
	background-size: 100% 100%;
}
.i_main .s3_bottom1 .p_peo .p_peoinfo .peo_txt{
	padding: 0 0 0 5px;
	width: 395px;
	height: 372px;
	margin-top: 25px;
	overflow: hidden;
	/*background: url(../images/n_ystxtbg.png);*/
	/*background-size: 100% 100%;*/
}
/*.i_main .s3_bottom1 .p_peo .p_peoinfo .peo_txt h3{*/
	/*font-size: 26px;*/
	/*color: #9000ff;*/
	/*margin: 25px 0 15px 0;*/
/*}*/
/*.i_main .s3_bottom1 .p_peo .p_peoinfo .peo_txt h4{*/
	/*width: 230px;*/
	/*font-size: 20px;*/
	/*color: #3d3d3d;*/
	/*margin-bottom:15px;*/
/*}*/
.i_main .s3_bottom1 .p_peo .p_peoinfo .peo_txt p{
	width: 365px;
	font-size: 18px;
	color: #010101;
	line-height: 28px;
}
.i_main .s3_bottom1 .p_peo .p_peoinfo .peo_txt p:last-of-type{margin-top:30px;}
/*捉妖攻略*/
.i_main .zy_strategy{
	width: 100%;
	height: 624px;
	background: url(../images/n_bg6.jpg) no-repeat center;
	background-size:cover;
	overflow: hidden;
	position: relative;
}
.i_main .zy_strategy .title{
	width: 143px;
	height: 45px;
	margin: 0 auto;
	margin-top:40px;
}
.i_main .zy_strategy .zy_img{
	display: block;
	width: 1540px;
	height: 497px;
	margin-top: 40px;
}
/*同人区*/
.i_main .tr_city{
	width: 100%;
	height: 662px;
	background: url(../images/n_bg7.jpg) no-repeat center;
	background-size:cover;
	overflow: hidden;
	position: relative;
}
.i_main .tr_city .title{
	width: 113px;
	height: 45px;
	margin: 0 auto;
	margin-top:40px;
}
.i_main .tr_city .banner{
	position: relative;
	margin-top: 30px;
	width: 324px;
	height: 454px;
	float: left;
}
.i_main .tr_city .banner .swiper-container{
	/*width: 320px;*/
	/*height: 450px;*/
	/*border: 2px solid #402245;*/
}
.i_main .tr_city .banner .swiper-pagination{
	width: auto;
	bottom: -32px;
	right: 0;
}
.i_main .tr_city .banner .swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	margin: 0 1px;
	opacity: 1;
	border-radius:0;
	background:url("../images/n_bullet3.png");
	background-size:100% 100%;
}
.i_main .tr_city .banner .swiper-pagination-bullet-active {
	position: relative;
	width: 10px;
	height: 10px;
	background:url("../images/n_bullet4.png");
	background-size:100% 100%;
}
.i_main .tr_city .banner .swiper-slide a{
	display:block;
	width: 320px;
	height: 450px;
	border: 2px solid #402245;
}
.i_main .tr_city .banner .swiper-slide p{
	font-size: 20px;
	font-weight: 600;
	color: #402245;
	margin-top: 10px;
}
.i_main .tr_city .tr_zp{
	float: left;
	margin-left: 70px;
	margin-top: 30px;
}
.i_main .tr_city .tr_zp h3{
	position:relative;
	font-size: 26px;
	color: #402245;
	margin-bottom: 15px;
}
.i_main .tr_city .tr_zp h3 .more1 {
	position: absolute;
	right: 0;
	top: 8px;
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../images/n_more1.png);
	background-size: 100% 100%;
}
.i_main .tr_city .tr_zp .slide .slide_img{
	float:left;
	width: 244px;
	margin-right:35px;
}
.i_main .tr_city .tr_zp .slide .slide_img a{
	display:block;
	width: 240px;
	height: 340px;
	border: 2px solid #402245;
}
.i_main .tr_city .tr_zp .slide .slide_img:last-of-type{margin-right:0;}
.i_main .tr_city .tr_zp .slide .slide_img .mark{
	margin-top: 10px;
	font-size: 22px;
	color: #402245;
}
.i_main .tr_city .tr_zp .slide .slide_img .name{
	font-size:16px;
	color:#402245;
}
/*御妹后援会*/
.i_main .ym_support{
	width: 100%;
	height: 476px;
	background: url(../images/n_bg8.jpg) no-repeat center;
	background-size:cover;
	overflow: hidden;
	position: relative;
}
.i_main .ym_support .title{
	width: 175px;
	height: 45px;
	margin: 0 auto;
	margin-top:40px;
}
.i_main .ym_support .ym_box{
	float: left;
	width: 100%;
	margin-top: 110px;
}
.i_main .ym_support .ym_img{
	position: relative;
	float: left;
	margin-right: 20px;
	width: 222px;
	height: 146px;
	background: url(../images/n_ymbg.png);
}
.i_main .ym_support .ym_img:last-of-type{margin-right:0;}
.i_main .ym_support .ym_img .head{
	position: absolute;
	left: 50%;
	top: -70px;
	width: 133px;
	height: 133px;
	margin-left: -66.5px;
	overflow: hidden;
	border-radius: 100%;
	background: url(../images/n_headbg.png);
}
.i_main .ym_support .ym_img .head img{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 128px;
	height: 128px;
	margin-left: -65px;
	margin-top: -65px;
	border-radius: 100%;
}
.i_main .ym_support .ym_img .name{
	position: absolute;
	left: 50%;
	width: 222px;
	top: 68px;
	margin-left: -111px;
	font-size: 22px;
	color: #fff;
	font-weight: 600;
	text-align: center;
}
.i_main .ym_support .ym_img .tag{
	position: absolute;
	left: 50%;
	bottom: 1px;
	width: 128px;
	height: 46px;
	line-height: 46px;
	margin-left: -64px;
	font-size: 20px;
	font-weight: 600;
	color: #000;
	text-align: center;
	background: url(../images/n_ymbg1.png);
}
.i_main .ym_support .more3{
	display:block;
	width:108px;
	height:43px;
	margin:0 auto;
	margin-top:40px;
	background:url("../images/n_more2.png");
}