.second{
	width:100%;
	height:1041px;
	min-width:1200px;
	background:url(../images/d_kv.jpg) no-repeat center;
	position:relative;

}
.second .c_int{
	width:989px;
	height:319px;
	background:url(../images/c_int.png) no-repeat center;
	position:relative;
	margin:-124px auto 0;
}
.second .c_int a{
	display: block;
	width:300px;
	height:229px;
	margin-top:50px;
	float:left;
}
.second .c_int a:nth-child(1){
	margin-left:45px;
}
.second .label{
	display: block;
	margin:33px auto 0;
}
.second .d_main{
	width:100%;
	overflow: hidden;
	position:relative;
}
.second .d_main .left_main{
	float:left;
	overflow: hidden;
	margin:58px 0 0 203px;
}
.second .d_main .left_main .left_p{
	font-size:18px;
	color:#bd9a6b;
	line-height:24px;
	margin-left:30px;
}
.second .d_main .left_main .left_p span{
	color:#ffeed7;
	margin-right:18px;
}
.second .d_main .left_main .b_invite{
	width:244px;
	overflow: hidden;
	position:relative;
	margin-top:20px;
	margin-left:20px;
}
.second .d_main .left_main .b_invite li{
	float:left;
	width:103px;
	overflow: hidden;
	text-align: center;
	font-size:16px;
	color:#909090;
}
.second .d_main .left_main .b_invite li.active .y_img img:nth-child(1){
	display: none;
}
.second .d_main .left_main .b_invite li.active{
	color:#f5b67c;
}
.second .d_main .left_main .b_invite li:nth-child(2){
	float:right;
}
.second .d_main .left_main .b_invite li .y_img{
	width:103px;
	height:100px;
	overflow: hidden;
}
.second .d_main .left_main .b_invite li .y_img img{
	display: block;
}
.second .d_main .left_main .get_invite{
	width:276px;
	height:92px;
	overflow: hidden;
	position:relative;
	margin:25px 0 0 5px;
	cursor: pointer;
}
.second .d_main .left_main .get_invite:hover img:nth-child(1){
	display: none;
}
.second .d_main .middle_xian{
	display: block;
	float:left;
	margin:60px 0 0 55px;
}
.second .d_main .right_gift{
	width:408px;
	float:left;
	overflow: hidden;
	margin:58px 0 0 50px;
}
.second .d_main .right_gift>img{
	display: block;
}
.second .d_main .right_gift .join{
	width:276px;
	height:92px;
	overflow: hidden;
	cursor: pointer;
	margin:0px 0 0 65px;
}
.second .d_main .right_gift .join:hover img:nth-child(1){
	display: none;
}
.second .rule{
	margin:45px 0 0 150px;
}
.second .rule p{
	width:100%;
	overflow: hidden;
	font-size:14px;
	color:#6c4e3d;
	margin-top:5px;
}
.second .rule img{
	margin-bottom:12px;
}
.second .rule p i{
	display: block;
	width:19px;
	height:19px;
	background-color:#725124;
	border-radius: 50%;
	font-size:12px;
	color:#fff;
	text-align: center;
	line-height:19px;
	float:left;
	font-style: normal;
	text-decoration: none;
}
.second .rule p span{
	display: block;
	float:left;
	line-height:20px;
	margin-left:5px;
}
.third{
	width:100%;
	height:610px;
	min-width:1200px;
	background:url(../images/c_third.jpg) no-repeat center;
	position:relative;
	/*overflow: hidden;*/
	z-index:1;
}
.third .label{
	display: block;
	margin:48px auto 0;
}
.third .t_price{
	width:100%;
	height:153px;
	margin:74px 0 0 30px;
}
.third .t_price .c_present{
	display: block;
	float:left;
}
.third .t_price .lingqu{
	width:138px;
	height:136px;
	overflow: hidden;
	float:left;
	cursor: pointer;
	margin:6px 0 0 30px;
}
.third .t_price .lingqu:hover img:nth-child(1){
	display: none;
}
.third .invite_friend{
	width:710px;
	overflow: hidden;
	position:relative;
}
.third .invite_friend .l_invite{
	display: block;
	width:276px;
	height:92px;
	float:left;
	overflow: hidden;
	margin:64px 0 0 112px;
	cursor: pointer;
}
.third .invite_friend .l_invite:hover img:nth-child(1){
	display: none;
}
.third .invite_friend ul{
	height:100%;
	position:relative;
	overflow: hidden;
	margin-left:30px;
	float:left;
}
.third .invite_friend ul li{
	float:left;
}
.third .invite_friend ul li .ball_img{
	width:79px;
	height:79px;
	overflow: hidden;
	margin-top:56px;
}
.third .invite_friend ul li p{
	text-align: center;
}
.third .invite_friend ul li:nth-child(2){
	margin-left:30px;
}
.third .c_bd{
	display: block;
	position:absolute;
	top:87px;
	right:-18px;
}