{include file="../layouts/pc/new_top.html"}
	</head>


<body class="op">
	{csrf}
	<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}3.0/css/swiper-3.4.0.min.css?{$smarty.const.VERSION}" />
	<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}3.0/css/index.css?{$smarty.const.VERSION}" />
	<script type="text/javascript" src="//cdnstatic.yingxiong.com/head/js/topbar.js?{$smarty.const.VERSION}"></script>
	<div class="kv">
		<div class="nav">
			<div class="wrap">
				<ul class="nav_list">
					<li class="active">
						<a href="{myurl name=" site/index "}">官网首页</a>
					</li>
					<li>
						<a href="{myurl name='article/index,type=>remen,page=>1'}">新闻资讯</a>
					</li>
					<li>
						<a href="{myurl name='video/index,type=>zxsp,page=>1'}">视频中心</a>
					</li>
					<li class="nav_logo">
						<a href="javascript:;"><img src="{$smarty.const.STATIC_DOMAIN}3.0/images/nav_middle.png?{$smarty.const.VERSION}" alt="" /></a>
					</li>
					<li>
						<a href="{myurl name='article/index,type=>xsgl,page=>1'}">游戏攻略</a>
					</li>
					<li>
						<a href="javascript:alert('敬请期待！')">生涯数据</a>
					</li>
					<li id="i_gfqd">
						<a href="javascript:;">官方渠道</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="topNav" class="i_h_ginf">
			<div>
				<ul>
				<li class="no_margin_left">
										<a href="http://bbs.yingxiong.com/t/pc/15.html" target="_blank">
						<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/c_gflt.png?{$smarty.const.VERSION}">
								<span>
                                官方论坛
                            </span>
					</a>
									</li>
				<li>
										<a href="{$global.tb_url}" target="_blank">
						<img src="{$global.tb_img}">
							<span>
							百度贴吧
							</span>
					</a>
									</li>
				<li>
										<a href="{$global.wb_url}" target="_blank">
						<div>
							<img src="{$global.wb_img}">
						</div>
							<span>
							官方微博
							</span>
					</a>
									</li>
				<li class="no_margin_right no_border">
										<div>
						<img src="{$global.wx_img}">

					</div>
						<span>
						公众号
						</span>
									</li>
								<li class="no_margin_right no_border c_qq">
					<div>
						<img src="{$global.group}">
					</div>
							<span>
                            官方Q群
                            </span>
					<div class="i_h_qq">
							<span>
								官方Q群
							</span>
							<span>
								{$global.group_num}
							</span>
							<span>
								<a target="_blank" href="https://jq.qq.com/?_wv=1027&k=5wubniS">点击加入</a>
							</span>
					</div>
				</li>
												<li class="no_margin_right no_border">
					<div class="bordern" style="border:none;">
						<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/c_kf.png?{$smarty.const.VERSION}">
					</div>
								<span>
								客服服务
								</span>
					<div class="i_h_qq bordern" style="border:none;">
								<span>
									客服服务电话:
								</span>
								<span style="color:#fff;">
									4009393333
								</span>
								<span>
									BUG反馈，游戏问题
								</span>
					</div>
				</li>
								</ul>
			</div>
		</div>
		<div class="wrap wrap_new">
			<div class="video_play">
				<img class="video_i" src="{$smarty.const.STATIC_DOMAIN}3.0/images/video.png?{$smarty.const.VERSION}" alt="" />
				<img class="video_o js_video_play" data-url="{$video.media_url}" src="{$smarty.const.STATIC_DOMAIN}3.0/images/video_play.png?{$smarty.const.VERSION}" alt="" />
			</div>
			<div class="download">
				<div class="code">
					<img class="js_jump_img" src="{$smarty.const.STATIC_DOMAIN}3.0/images/code.png?{$smarty.const.VERSION}" alt="" />
				</div>
				<!--<a target="_blank" href="http://l.taptap.com/JsV6KczC" class="c_tap stat_tap">-->
					<!--<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/c_tap.png" alt="" />-->
				<!--</a>-->
				<div class="channel_tap_name" style="display: none">
					<a target="_blank" href="http://l.taptap.com/JsV6KczC" class="c_tap js_down_andriod stat_android">
						<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/cc_tap.jpg" alt="" />
					</a>
				</div>
				<div class="channel_name" style="display: none">
				</div>
				<div class="no_channel">
					<a target="_blank" href="http://l.taptap.com/JsV6KczC" class="c_tap stat_tap stat_tap">
						<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/c_tap.png" alt="" />
					</a>
					<div class="d_download">
						<a target="_blank" href="javascript:;" class="js_down_ios stat_ios">
							<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/c_ios.png?{$smarty.const.VERSION}" alt="" />
						</a>
						<a target="_blank" href="javascript:;" class="js_down_andriod stat_android">
							<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/c_and.png?{$smarty.const.VERSION}" alt="" />
						</a>
						<a target="_blank" href="http://www.3839.com/a/87236.htm"  class="haoyou stat_hy">
							<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/haoyou.png" alt="" />
						</a>
					</div>
				</div>

				<!--{if $channel_name=='t'}-->
				<!--<a target="_blank" href="http://l.taptap.com/JsV6KczC" class="c_tap stat_tap">-->
					<!--<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/c_tap.png" alt="" />-->
				<!--</a>-->
				<!--{else}-->
				<!--<a target="_blank" href="http://l.taptap.com/JsV6KczC" class="c_tap stat_tap">-->
					<!--<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/c_tap.png" alt="" />-->
				<!--</a>-->
				<!--<div class="d_download">-->
					<!--<a target="_blank" href="javascript:;" class="js_down_ios stat_ios">-->
						<!--<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/c_ios.png?{$smarty.const.VERSION}" alt="" />-->
					<!--</a>-->
					<!--<a target="_blank" href="javascript:;" class="js_down_andriod stat_android">-->
						<!--<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/c_and.png?{$smarty.const.VERSION}" alt="" />-->
					<!--</a>-->
					<!--<a target="_blank" href="http://www.3839.com/a/87236.htm"  class="haoyou stat_hy">-->
						<!--<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/haoyou.png" alt="" />-->
					<!--</a>-->
				<!--</div>-->
				<!--{/if}-->
				<div class="gift">
					<a target="_blank" href="javascript:;">
						<img class="imgBig" src="{$smarty.const.STATIC_DOMAIN}3.0/images/gift.png?{$smarty.const.VERSION}" alt="" />
					</a>
					<p>游戏礼包</p>
				</div>
			</div>
			<div class="down_r">
				<a href="#page02">
					<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/down.png?{$smarty.const.VERSION}" alt="" />
				</a>
			</div>
		</div>
	</div>
	<div class="c_login">
				<div class="login_con">
					<i class="c_close"></i>
					<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/person.png?{$smarty.const.VERSION}" alt="" class="person"/>
					<p class="login_tit">官网独家福利礼包</p>
					<div class="login_put">
						<div class="s_put active">
							<input type="tel" placeholder="请输入手机号" class="phone" />
						</div>
						<div class="s_put">
							<input type="text" placeholder="请输入验证码" class="t_yzm" />
							<div class="captcha">
								{if isset($captcha_img)}
									{$captcha_img }
								{/if}
							</div>
						</div>
						<div class="s_put">
							<input type="text" placeholder="请输入验证码" class="yzm" />
							<input type="button" value="获取验证码" class="g_code" />
						</div>
						<div class="lglq">
							<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/lglq.png?{$smarty.const.VERSION}" alt="" />
						</div>
						<p class="p_titi">1.适用于<span>安卓正式服</span></p>
						<p class="p_titi">2.不与其他渠道礼包码叠加</p>
					</div>
				</div>
			</div>
			<div class="p_login">
				<div class="login_con">
					<i class="c_close"></i>
					<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/person.png?{$smarty.const.VERSION}" alt="" class="person"/>
					<p class="login_tit">官网独家福利礼包</p>
					<div class="login_put">
						<p class="login_pt">礼包兑换码</p>
						<div class="p_put">
							<div class="price_txt" id="tc7_copyText0"></div>
							<div class="fuzhi" id="tc7_copyBtn0" data-clipboard-action="copy" data-clipboard-target="#tc7_copyText0">复制</div>
						</div>
						<div class="jiangli"><p>胜利经验卡*10、胜利金币卡*3、符尘*20</p></div>
						<div class="clear"></div>
						<div class="jiangli jiangli1"><p>领取方式：</p><p>进入游戏-点击左上角指挥官头像-军需补给 -输入礼包码兑换礼包</p></div>
					</div>
				</div>
			</div>
	<div class="load_tips hidden">
		<div class="content">
			<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/tipsbg01.png?{$smarty.const.VERSION}" alt="">
			<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/loadtips_close.png?{$smarty.const.VERSION}" alt="" class="loadtips_close">
			<div>
				<div class="btn btn-1">
					<span class="ios"></span>
					<span class="ad"></span>
				</div>
				<div class="load_div hidden">
					<p><img src="{$smarty.const.STATIC_DOMAIN}3.0/images/code_news.png?{$smarty.const.VERSION}" class="js_jump_img"></p>
					<!--<h4>预约成功后我们会联系您领取【赤潮全球开服礼包】,更有机会获得精美游戏周边、稀有兵种皮肤等超多奖励!</h4>-->
				</div>
				<div class="order_div">
					<input type="text" placeholder="请输入您的手机号码" class="load_tel">
					<div class="float_code">
						<input type="text" placeholder="请输入验证码" class="codenum">
						<button class="sendcode">发送验证码</button>
					</div>
					<button class="orderbtn">确认提交</button>
					<h4>预约成功后我们会联系您领取【赤潮全球开服礼包】,更有机会获得精美游戏周边、稀有兵种皮肤等超多奖励!</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="float">
		<img class="i_close" src="{$smarty.const.STATIC_DOMAIN}3.0/images/i_close1.png?{$smarty.const.VERSION}" alt="" />
		<p>下载游戏</p>
		<div class="float_code">
			<img class="js_jump_img" src="{$smarty.const.STATIC_DOMAIN}3.0/images/code_news.png?{$smarty.const.VERSION}" alt="" />
		</div>
		<div class="float_down">
			<a target="_blank" class="js_down_ios stat_ios" href="javascript:;">
				<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/ios_d.png?{$smarty.const.VERSION}" />
			</a>
			<a target="_blank" class="js_down_andriod stat_android" href="javascript:;">
				<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/andriod.png?{$smarty.const.VERSION}" alt="" />
			</a>
			<!--<a href="http://l.taptap.com/JsV6KczC" target="_blank">-->
				<!--<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/tap.png?{$smarty.const.VERSION}" alt="" />-->
			<!--</a>-->
			<a href="http://l.taptap.com/JsV6KczC" target="_blank" class="stat_tap">
				<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/tap.png?{$smarty.const.VERSION}" alt="" />
			</a>
			<a href="http://www.3839.com/a/87236.htm" class="stat_hy" target="_blank" >
				<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/tap_c.png" alt="" />
			</a>
		</div>
		<a href="javascript:alert('敬请期待');" class="game_alert">
			<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/game.png?{$smarty.const.VERSION}" alt="" />
		</a>
	</div>
	<div class="news" id="page02">
		<div class="wrap">
			<div class="title"><img src="{$smarty.const.STATIC_DOMAIN}3.0/images/title.png?{$smarty.const.VERSION}" alt="" /></div>
			<div class="n_body">
				<div class="c_banner fl">
					<ul class="c_ul swiper-wrapper">
						{foreach $banner as $v}
						<li class="swiper-slide">
							<a target="_blank" href="{$v.url}">
								<img src="{$v.thumb}" alt="" />
								<p><span>{$v.title}</span></p>
							</a>
						</li>
						{/foreach}
					</ul>
					<div class="swiper-pagination"></div>
				</div>
				<div class="n_news fl">
					<ul class="tit_ul">
						<li class="active">热门</li>
						<li>新闻</li>
						<li>公告</li>
						<li>媒体</li>
						<li>活动</li>
						<a class="check_more" target="_blank" href="{myurl name='article/index,type=>remen,page=>1'}">
							<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/more_c.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/more_s.png?{$smarty.const.VERSION}" alt="" />
						</a>
					</ul>
					<div class="tab_news">
						<div class="txt_ul active">
							{foreach $remen as $key=>$z} {if $key eq 0}
							<p>
								<a target="_blank" href="{$z.linkUrl}">{$z.title}</a>
							</p>
							{/if} {/foreach}
							<ul>
								{foreach $remen as $key=>$z} {if $key neq 0}
								<li>
									<a target="_blank" href="{$z.linkUrl}">{$z.title}</a><em>{$z.created_at|date_format:"%m/%d"}</em>
								</li>
								{/if} {/foreach}
							</ul>
						</div>
						<div class="txt_ul">
							{foreach $xinwen as $key=>$z} {if $key eq 0}
							<p>
								<a target="_blank" href="{$z.linkUrl}">{$z.title}</a>
							</p>
							{/if} {/foreach}
							<ul>
								{foreach $xinwen as $key=>$z} {if $key neq 0}
								<li>
									<a target="_blank" href="{$z.linkUrl}">{$z.title}</a><em>{$z.created_at|date_format:"%m/%d"}</em>
								</li>
								{/if} {/foreach}
							</ul>
						</div>
						<div class="txt_ul">
							{foreach $gonggao as $key=>$z} {if $key eq 0}
							<p>
								<a target="_blank" href="{$z.linkUrl}">{$z.title}</a>
							</p>
							{/if} {/foreach}
							<ul>
								{foreach $gonggao as $key=>$z} {if $key neq 0}
								<li>
									<a target="_blank" href="{$z.linkUrl}">{$z.title}</a><em>{$z.created_at|date_format:"%m/%d"}</em>
								</li>
								{/if} {/foreach}
							</ul>
						</div>
						<div class="txt_ul">
							{foreach $meiti as $key=>$z} {if $key eq 0}
							<p>
								<a target="_blank" href="{$z.linkUrl}">{$z.title}</a>
							</p>
							{/if} {/foreach}
							<ul>
								{foreach $meiti as $key=>$z} {if $key neq 0}
								<li>
									<a target="_blank" href="{$z.linkUrl}">{$z.title}</a><em>{$z.created_at|date_format:"%m/%d"}</em>
								</li>
								{/if} {/foreach}
							</ul>
						</div>
						<div class="txt_ul">
							{if $huodong}
								{foreach $huodong as $key=>$z} 
									{if $key eq 0}
									<p>
										<a target="_blank" href="{$z.linkUrl}">{$z.title}</a>
									</p>
									{/if} 
								{/foreach}
								<ul>
								{foreach $huodong as $key=>$z} 
									{if $key neq 0}
										<li>
											<a target="_blank" href="{$z.linkUrl}">{$z.title}</a><em>{$z.created_at|date_format:"%m/%d"}</em>
										</li>
									{/if} 
								{/foreach}
							{else}
								<p style="text-align: center;color:#ccc;">暂无数据</p>
							{/if}
							</ul>
						</div>
					</div>
				</div>
				<div class="c_top">
					<div class="top_t"><img src="{$smarty.const.STATIC_DOMAIN}3.0/images/top_t.png?{$smarty.const.VERSION}" alt="" /></div>
					<ul class="top_ul">
						<li>战区</li>
						<li>排名</li>
						<li>战力</li>
					</ul>
					<ul class="s_top_ul">
						{foreach $qqzl as $key=>$v}
						<li>
							<img class="fl" src="{$v.thumb}" alt="" />
							<em class="fl">{$v.title}</em>
							<i class="fl">{$key+1}</i>
							<span class="fl">{$v.sort}</span>
						</li>
						{/foreach}
					</ul>
				</div>
			</div>
			<div class="c_pic">
				<ul>
					<li>
						<a target="_blank" href="javascript:alert('敬请期待！')"><img src="{$smarty.const.STATIC_DOMAIN}3.0/images/pic01.png?{$smarty.const.VERSION}" alt="" /></a>
					</li>
					<li>
						<a target="_blank" href="/info/xsgl/list_1.html"><img src="{$smarty.const.STATIC_DOMAIN}3.0/images/pic02.png?{$smarty.const.VERSION}" alt="" /></a>
					</li>
					<li>
						<a target="_blank" href="/info/jjgl/list_1.html"><img src="{$smarty.const.STATIC_DOMAIN}3.0/images/pic03.png?{$smarty.const.VERSION}" alt="" /></a>
					</li>
					<li>
						<a target="_blank" href="javascript:alert('敬请期待！')"><img src="{$smarty.const.STATIC_DOMAIN}3.0/images/pic04.png?{$smarty.const.VERSION}" alt="" /></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="p_banner">
		<div class="c_wrap">
			<div class="t_title"><img src="{$smarty.const.STATIC_DOMAIN}3.0/images/t_title.png?{$smarty.const.VERSION}" alt="" /></div>
			<ul class="t_ul"></ul>
			<div class="tab_pic">
				<div class="swiper-wrapper">
					<div class="tab_txt swiper-slide">
						<img class="m_pic" src="{$smarty.const.STATIC_DOMAIN}3.0/images/tab_pic01.png?{$smarty.const.VERSION}" alt="" />
						<img class="p_title" src="{$smarty.const.STATIC_DOMAIN}3.0/images/c_title01.png?{$smarty.const.VERSION}" alt="" />
						<div class="p_txt">
							<p>人族的种族文明发展具有周期性，他们通过对上一纪史前遗迹的挖掘来加速第四纪文明的发展。如今，人族已经有能力建立行星要塞和星河方舟，但它能否成为“赤潮”，逃脱被Cetus巨鲸文明吞食的命运，一切还是未知数。</p>
							<a href="javascript:alert('敬请期待！')">查看更多 >>></a>
						</div>
					</div>
					<div class="tab_txt swiper-slide">
						<img class="m_pic" src="{$smarty.const.STATIC_DOMAIN}3.0/images/tab_pic02.png?{$smarty.const.VERSION}" alt="" />
						<img class="p_title" src="{$smarty.const.STATIC_DOMAIN}3.0/images/c_title02.png?{$smarty.const.VERSION}" alt="" />
						<div class="p_txt">
							<p>神族发源于深海，是统治西佛星系的强大文明，晶核是他们的生命之源。但一场小行星带来的灾难污染了神族的晶核，让他们丧失了孕育生命的能力。这是一个注定灭绝的种族，他们在漫长的星际旅行中寻找延续神族历史的新希望。</p>
							<a href="javascript:alert('敬请期待！')">查看更多 >>></a>
						</div>
					</div>
					<div class="tab_txt swiper-slide">
						<img class="m_pic" src="{$smarty.const.STATIC_DOMAIN}3.0/images/tab_pic03.png?{$smarty.const.VERSION}" alt="" />
						<img class="p_title" src="{$smarty.const.STATIC_DOMAIN}3.0/images/c_title03.png?{$smarty.const.VERSION}" alt="" />
						<div class="p_txt">
							<p>妖族是一种可以汲取灵蕴令自身快速成长和进化的种族。人族在战争中试图制造“战争兽”，却意外让妖族在这个宇宙中诞生了。妖族艰难地取得了独立，但它的成长速度已经远远超越了这个宇宙中的任何一个原生种。</p>
							<a href="javascript:alert('敬请期待！')">查看更多 >>></a>
						</div>
					</div>
				</div>
				<div class="p_left"></div>
				<div class="p_right"></div>
			</div>
		</div>
	</div>
	<div class="c_list">
		<div class="wrap">
			<div class="new_hand">
				<div class="h_title"><img src="{$smarty.const.STATIC_DOMAIN}3.0/images/new_hand.png?{$smarty.const.VERSION}" alt="" /></div>
				<div class="new_txt">
					<ul class="new_tab">
						<li class="active">入门攻略</li>
						<li>进阶攻略</li>
						<li>FAQ问答</li>
						<li>同人故事</li>
						<a class="check_more" target="_blank" href="{myurl name='article/index,type=>xsgl,page=>1'}">
							<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/more_c.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/more_s.png?{$smarty.const.VERSION}" alt="" />
						</a>
					</ul>
					<div class="show_pic">
						{foreach $tjgl as $v}
							<a target="_blank" href="{$v.linkUrl}"><img src="{$v.thumb}" alt="" /></a>
						{/foreach}
					</div>
					<div class="n_list">
						<ul class="n_content active">
							{foreach $xsgl as $v}
							<li>
								<a target="_blank" href="{$v.linkUrl}"><span>[{$v.categoryName}]</span>{$v.title}</a><em>{$v.created_at|date_format:"%m/%d"}</em>
							</li>
							{/foreach}
						</ul>
						<ul class="n_content">
							{foreach $jjgl as $v}
							<li>
								<a target="_blank" href="{$v.linkUrl}"><span>[{$v.categoryName}]</span>{$v.title}</a><em>{$v.created_at|date_format:"%m/%d"}</em>
							</li>
							{/foreach}
						</ul>
						<ul class="n_content">
							{foreach $FAQ as $v}
							<li>
								<a target="_blank" href="{$v.linkUrl}"><span>[{$v.categoryName}]</span>{$v.title}</a><em>{$v.created_at|date_format:"%m/%d"}</em>
							</li>
							{/foreach}
						</ul>
						<ul class="n_content">
							{foreach $trgs as $v}
							<li>
								<a target="_blank" href="{$v.linkUrl}"><span>[{$v.categoryName}]</span>{$v.title}</a><em>{$v.created_at|date_format:"%m/%d"}</em>
							</li>
							{/foreach}
						</ul>
					</div>
				</div>
			</div>
			<div class="video_list">
				<div class="v_title"><img src="{$smarty.const.STATIC_DOMAIN}3.0/images/v_title.png?{$smarty.const.VERSION}" alt="" /></div>
				<div class="v_list">
					<ul class="v_tab">
						<li class="active">最新视频</li>
						<li>官方视频</li>
						<li>玩家视频</li>
						<a class="check_more" target="_blank" href="{myurl name='video/index,type=>zxsp,page=>1'}">
							<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/more_c.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/more_s.png?{$smarty.const.VERSION}" alt="" />
						</a>
					</ul>
					<div class="c_tab">
						<ul class="c_con active">
							{foreach $video_new as $v}
							<li>
								<a href="javascript:;">
									<div class="c_hov js_video_play" data-url="{$v.content_message}">
										<img class="v_bg" src="{$v.thumb}" alt="" />
										<img class="v_play" src="{$smarty.const.STATIC_DOMAIN}3.0/images/v_play.png" alt=""/>
										<div class="c_bottom"></div>
									</div>
								</a>
								<p>{$v.title}</p>
							</li>
							{/foreach}
						</ul>
						<ul class="c_con">
							{foreach $video_off as $v}
							<li>
								<a href="javascript:;">
									<div class="c_hov js_video_play">
										<img class="v_bg" src="{$v.thumb}" alt="" />
										<img class="v_play" src="{$smarty.const.STATIC_DOMAIN}3.0/images/v_play.png" alt="" data-url="{$v.content_message}" />
										<div class="c_bottom"></div>
									</div>
								</a>
								<p>{$v.title}</p>
							</li>
							{/foreach}
						</ul>
						<ul class="c_con">
							{foreach $video_player as $v}
							<li>
								<a href="javascript:;">
									<div class="c_hov js_video_play">
										<img class="v_bg" src="{$v.thumb}" alt="" />
										<img class="v_play" src="{$smarty.const.STATIC_DOMAIN}3.0/images/v_play.png" alt="" data-url="{$v.content_message}" />
										<div class="c_bottom"></div>
									</div>
								</a>
								<p>{$v.title}</p>
							</li>
							{/foreach}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="h_scholl">
		<div class="s_wrap">
			<div class="s_title"><img src="{$smarty.const.STATIC_DOMAIN}3.0/images/s_title.png?{$smarty.const.VERSION}" alt="" /></div>
			<div class="s_ans">
				<ul class="s_ul swiper-wrapper">
					<li class="swiper-slide">
						<div class="l_p">
							<div class="l_t">什么是赤潮？</div>
							<p>《战争艺术·赤潮》是一款快节奏的全球同服团队实时竞技游戏。你可以从人、神、妖三个种族中挑选兵种组成你的部队，在战斗中，运用巧妙的出兵策略和强大的指挥官技能，打爆敌方基地取得胜利。</p>
							<a href="javascript:alert('敬请期待！');">查看更多>>></a>
						</div>
						<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/l_pic02.png?{$smarty.const.VERSION}" alt="" />
					</li>
					<li class="swiper-slide">
						<div class="l_p">
							<div class="l_t">如何加入战斗？</div>
							<p>进入战场只需要三步：搭配部队、排兵布阵、摧毁敌方基地。选定一个种族，配置您的专属部队，进入战场观察局势实时出兵，最终打爆敌方基地获取胜利吧！</p>
							<a href="javascript:alert('敬请期待！');">查看更多>>></a>
						</div>
						<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/l_pic03.png?{$smarty.const.VERSION}" alt="" />
					</li>
					<li class="swiper-slide">
						<div class="l_p">
							<div class="l_t">指挥官如何成长？</div>
							<p>赤潮需要长线收集的元素为兵种和符文，上百种兵种与几十种符文的自由组合，可以帮助您在战场上更灵活地应对千变万化的战斗。</p>
							<a href="javascript:alert('敬请期待！');">查看更多>>></a>
						</div>
						<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/l_pic04.png?{$smarty.const.VERSION}" alt="" />
					</li>
					<li class="swiper-slide">
						<div class="l_p">
							<div class="l_t">如何成为指挥官？</div>
							<p>《战争艺术：赤潮》iOS版现已全球公测，进入App Store搜索“战争艺术赤潮”并下载，即刻成为一名赤潮指挥官加入我们吧！</p>
							<a href="javascript:alert('敬请期待！');">查看更多>>></a>
						</div>
						<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/l_pic05.png?{$smarty.const.VERSION}" alt="" />
					</li>
				</ul>
				<div class="l_ul"></div>
				<div class="l_left"></div>
				<div class="l_right"></div>
			</div>
		</div>
	</div>
	<div class="f_footer">
		<div class="wrap">
			<ul class="f_ul">
				<li class="li_hov">
					<a target="_blank" href="http://bbs.yingxiong.com/t/pc/15.html">
						<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/l_weixin.png?{$smarty.const.VERSION}" alt="" />
						<p>官方论坛</p>
					</a>
				</li>
				<li class="li_hov">
					<a target="_blank" href="{$global.tb_url}">
						<img src="{$global.tb_img}" alt="" />
						<p>百度贴吧</p>
					</a>
				</li>
				<li class="li_hov">
					<a target="_blank" href="{$global.wb_url}">
						<img src="{$global.wb_img}" alt="" />
						<p>官方微博</p>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="{$global.wx_img}" alt="" />
						<p>公众号</p>
					</a>
				</li>
				<li class="f_li">
					<div class="li_f">
						<img src="{$global.group}" alt="" />
						<p>官方Q群</p>
					</div>
					<div class="li_r">
						<p>官方Q群</p>
						<p>{$global.group_num}</p>
						<a target="_blank" href="https://jq.qq.com/?_wv=1027&k=5wubniS">点击加入</a>
					</div>
				</li>
				<li class="l_li">
					<div class="l_r">
						<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/l_kf.png?{$smarty.const.VERSION}" alt="" />
						<p>客户服务</p>
					</div>
					<div class="l_l">
						<p>客户服务电话：</p>
						<p>4009393333</p>
						<p>BUG反馈，游戏问题</p>
					</div>
				</li>
			</ul>
			<a class="userment" href="/site/protocol.html" target="_blank">点击查看用户协议 ></a>
		</div>
	</div>
	<div class="p_media">
		<div class="wrap">
			<div class="m_title"><img src="{$smarty.const.STATIC_DOMAIN}3.0/images/p_media.png?{$smarty.const.VERSION}" alt="" /></div>
			<ul>
				{foreach $hzmt as $v}
				<li>
					<a target="_blank" href="{$v.url}"><img src="{$v.thumb}" alt="{$v.title}" /></a>
				</li>
				{/foreach}
			</ul>
		</div>
	</div>
	<script type="text/javascript" src="//cdnstatic.yingxiong.com/footer/js/footer_new.js?{$smarty.const.VERSION}"></script>
</body>
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}3.0/js/swiper-3.4.0.min.js?{$smarty.const.VERSION}"></script>
<script src="http://cdnstatic.yingxiong.com/common/js/yx.js?{$smarty.const.VERSION}"></script>
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}3.0/js/clipboard.min.js"></script>
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}3.0/js/public.js?{$smarty.const.VERSION}"></script>
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}3.0/js/n_index.js?{$smarty.const.VERSION}"></script>
{download} {video_play}
<script type="text/javascript">
	var order_url = '/commonMethod/yuyue';
	var send_url ='/commonMethod/get-verify';
	var device_type="ios";
	$(function() {
		function topHeight(){
			var height = $(document.body).height();
			var n_height = $(".download").height();
			var i_height = $(".video_play").height();
			$(".download").css({
				"top": height - 500 + "px"
			});
			$(".video_play").css({
				"top": height - 780 + "px"
			})
		};
		topHeight();
		$(".i_close").click(function() {
			$('body').toggleClass('op');
			var img = $(this).attr("src");
			if(this.src.search("i_close.png") != -1) {
				this.src = "{$smarty.const.STATIC_DOMAIN}3.0/images/i_close1.png?{$smarty.const.VERSION}";
			} else {
				this.src = "{$smarty.const.STATIC_DOMAIN}3.0/images/i_close.png?{$smarty.const.VERSION}";
			}
		});
		var mySwiper = new Swiper('.tab_pic', {
			loop:true,
			effect: 'fade',
			fade: {
				crossFade: true,
			},
			nextButton: '.p_right',
			prevButton: '.p_left',
			simulateTouch: false,
			pagination: '.t_ul',
			paginationClickable: true,
			autoplayDisableOnInteraction: false,
			paginationBulletRender: function(swiper, index, className) {
				var font = ["人族", "神族", "妖族"];
				var img = ["{$smarty.const.STATIC_DOMAIN}3.0/images/p_pic01.png?{$smarty.const.VERSION}", "{$smarty.const.STATIC_DOMAIN}3.0/images/p_pic02.png?{$smarty.const.VERSION}", "{$smarty.const.STATIC_DOMAIN}3.0/images/p_pic03.png?{$smarty.const.VERSION}"];
				return '<li class="' + className + '">' +
					'<img src="' + img[index] + '" />' +
					'<em> ' + font[index] + ' </em>' +
					'</li>';
			}
		});
	})
</script>

</html>