body,html{font-family: "HelveticaNeue";}
* {
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-appearance: none;
}
.hidden{
	display:none;
}
input[type=number] {
	-moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.wrap{
	width: 100%;
	height:1038px;
	position: relative;
	min-width: 1200px;
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;
	background: url(../images/bg2.jpg) center top no-repeat;
}
.wrap>.wrap_con{
	width: 1200px;
	height:1038px;
	margin: 0 auto;
	position: relative;
}
.wrap>.wrap_con .logo{
	width:183px;
	position: absolute;
	top:38px;
	left:18px;
}
.wrap>.wrap_con .tlt{
	width:834px;
	position: absolute;
	top:170px;
	left:50%;
	margin-left:-417px;
}
.wrap>.wrap_con .act_data{
 	width:560px;
 	height:42px;
 	line-height: 42px;
 	position: absolute;
 	top:78px;
 	left:50%;
 	margin-left:-280px;
 	color: #fff;
 	font-size:24px;
 	font-weight:500;
 	text-align: center;
 	background: url(../images/data.png) no-repeat;
 	background-size: 100% 100%;
 	-webkit-animation: zoomIn 1s;
	-moz-animation: zoomIn 1s;
	-o-animation: zoomIn 1s;
	animation: zoomIn 1s;
}
.wrap>.wrap_con .time{
 	color: #2BC54C;
 	height:42px;
 	line-height: 42px;
 	font-size:24px;
 	font-weight:bolder;
 	padding:0 10px; 
}
.wrap>.wrap_con .btn{
	position: relative;
	z-index: 11;
	top: 365px;
	left: 50%;
	width: 554px;
	height: 108px;
	margin-left: -277px;
	z-index:6;
}
.wrap>.wrap_con .btn .order_btn{
	z-index: 11;
	position: absolute;
	width: 268px;
	height: 108px;
	top: 0;
	left:0;
	background: url(../images/btn_lf.png) no-repeat;
	background-size: 100% 100%;
	outline: none;
	border: none;
	cursor:pointer;
	transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}
.wrap>.wrap_con .btn .order_btn:hover{
	left:-70px;
}
.wrap>.wrap_con .btn .load_btn{
	z-index: 11;
	position: absolute;
	width: 268px;
	height: 108px;
	top: 0;
	right: 0;
	background: url(../images/btn_rt.png) no-repeat;
	background-size: 100% 100%;
	outline: none;
	border: none;
	cursor:pointer;
	transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}
.wrap>.wrap_con .btn .load_btn:hover{
	right:-70px;
}
.wrap>.wrap_con .btn button.shake{
	-webkit-animation: icon-bounce 3s infinite;
	-moz-animation: icon-bounce 3s infinite;
	-o-animation: icon-bounce 3s infinite;
	animation: icon-bounce 3s infinite;
}
.wrap .apl01{
	width:310px;
	position: absolute;
	top:222px;
	left:0px;
	animation: animate1 2s linear infinite alternate;
    -webkit-animation: animate1 2s linear infinite alternate;
}
.wrap .apl02{
	width:451px;
	position: absolute;
	top:-18px;
	right:0px;
	animation: animate2 2s linear infinite alternate;
    -webkit-animation: animate2 2s linear infinite alternate;
    -moz-animation: animate2 2s linear infinite alternate;
}
.wrap .peo_box{
	width:1200px;
	height:553px;
	position: absolute;
	bottom:0px;
}
.wrap .peo_box .hot{
	width: 1330px;
    height: 510px;
    position: absolute;
    bottom: 0;
    left: -69px;
}
.wrap .peo_box .huodian{
	width: 959px;
    height: 481px;
    position: absolute;
    bottom: 153px;
    left: 98px;
}
.wrap .peo_box .open_hot{
	width: 416px;
    position: absolute;
    bottom: -1px;
    right: -119px;
    z-index: 4;
}
.wrap .buttle1{
	width: 642px;
    position: absolute;
    top: 394px;
    left: 191px;
    z-index:5;
}
.wrap .buttle2{
	width: 543px;
    position: absolute;
    top: 205px;
    right: 147px;
    z-index:5;
}
.wrap .buttle1,.wrap .buttle2,.open_hot{
	animation: fadeIn 1s linear infinite alternate;
    -webkit-animation: fadeIn 1s linear infinite alternate;
}
.open_hot{
	opacity:0;
	animation-delay:1s;
	-webkit-animation-delay:1s;
}
.hot,.huodian{
	animation: fadeIn 2s linear infinite alternate;
    -webkit-animation: fadeIn 2s linear infinite alternate;
}
.wrap .peo_box .peo1{
	width:379px;
	position: absolute;
	bottom:0;
	left:0;
}
.wrap .peo_box .peo2{
	width:777px;
	position: absolute;
	bottom:0;
	left:178px;
	z-index:3;
}
.wrap .peo_box .peo3{
	width:268px;
	position: absolute;
	bottom:0;
	right:211px;
	z-index:2;
}
.wrap .peo_box .peo4{
	width:334px;
	position: absolute;
	bottom:0;
	right:0;
}
.wrap .bott{
	width: 1920px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
}
.tips{
	width: 100%;
	height:1038px;
	background: rgba(0,0,0,.9);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999999;
}
.tips .content{
	width: 620px;
	height: 484px;
	position: relative;
	top: 50%;
	left: 44%;
	margin: -310px 0 0 -242px;
	background: url(../images/yuyue.png) no-repeat;
	background-size: 100% 100%;
}
.tips .content .tc_tl{
	position: absolute;
    width: 287px;
    right: 94px;
    top: 36px;
}
.tips .content .close{
	position: absolute;
	width: 44px;
	height: 36px;
	right: 10px;
	top: 110px;
	transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-webkit-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	cursor: pointer;
}
.tips .content .info{
	width:100%;
	text-align: center;
	line-height:108px;
	height:108px;
	border-bottom: 1px solid #787875;
	color:#787875;
	font-size: 24px;
}
.tips .content .close:hover {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
}
.tips .content>div{
	position: relative;
    width: 448px;
    height: 284px;
    top: 182px;
    margin: 10px 0 10px 107px;
}
.tips .content>div input.tel{
	width: 271px;
	height: 66px;
	text-indent: 15px;
	position: absolute;
	top: 146px;
	left: 0px;
	font-size: 30px;
	color: #333;
	outline: none;
	border: 1px solid #FFE220;
}
.tips .content>div input::-webkit-input-placeholder {
	font-size:30px;
	color:#999;
}
.tips .content>div .getcode{
	width: 170px;
	height: 68px;
	position: absolute;
	top: 145px;
	right: 5px;
	cursor: pointer;
	background: url(../images/yuyue_btn.png);
	background-size: 100% 100%;
}
.error{
	font-size: 20px;
    color: red;
    width: 100%;
    text-align: left;
    position: absolute;
    bottom: 29px;
}
.animated {
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	animation-fill-mode: both
}
@keyframes animate2 {
  from {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
  }
  to {
    transform: translate(40px, -5px);
    -webkit-transform: translate(40px, -5px);
  }
}
@-webkit-keyframes animate2 {
  from {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
  }
  to {
    transform: translate(40px, -5px);
    -webkit-transform: translate(40px, -5px);
  }
}
@-moz-keyframes animate2 {
  from {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
  }
  to {
    transform: translate(40px, -5px);
    -webkit-transform: translate(40px, -5px);
  }
}
@keyframes animate1 {
  from {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
  }
  to {
    transform: translate(-20px, -40px);
    -webkit-transform: translate(-20px, -40px);
  }
}
@-webkit-keyframes animate1 {
  from {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
  }
  to {
    transform: translate(-20px, -40px);
    -webkit-transform: translate(-20px, -40px);
  }
@-moz-keyframes animate1 {
  from {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
  }
  to {
    transform: translate(-20px, -40px);
    -webkit-transform: translate(-20px, -40px);
  }
}


/* animation */
@keyframes icon-bounce {
	0%, 20% {
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	5% {
		-moz-transform: rotate(15deg);
		-ms-transform: rotate(15deg);
		-webkit-transform: rotate(15deg);
		transform: rotate(15deg);
	}

	10% {
		-moz-transform: rotate(-15deg);
		-ms-transform: rotate(-15deg);
		-webkit-transform: rotate(-15deg);
		transform: rotate(-15deg);
	}

	15% {
		-moz-transform: rotate(5deg);
		-ms-transform: rotate(5deg);
		-webkit-transform: rotate(5deg);
		transform: rotate(5deg);
	}

	17% {
		-moz-transform: rotate(-5deg);
		-ms-transform: rotate(-5deg);
		-webkit-transform: rotate(-5deg);
		transform: rotate(-5deg);
	}
}
@-webkit-keyframes icon-bounce {
	0%, 20% {
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	5% {
		-moz-transform: rotate(15deg);
		-ms-transform: rotate(15deg);
		-webkit-transform: rotate(15deg);
		transform: rotate(15deg);
	}

	10% {
		-moz-transform: rotate(-15deg);
		-ms-transform: rotate(-15deg);
		-webkit-transform: rotate(-15deg);
		transform: rotate(-15deg);
	}

	15% {
		-moz-transform: rotate(5deg);
		-ms-transform: rotate(5deg);
		-webkit-transform: rotate(5deg);
		transform: rotate(5deg);
	}

	17% {
		-moz-transform: rotate(-5deg);
		-ms-transform: rotate(-5deg);
		-webkit-transform: rotate(-5deg);
		transform: rotate(-5deg);
	}
}
@-moz-keyframes icon-bounce {
	0%, 20% {
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	5% {
		-moz-transform: rotate(15deg);
		-ms-transform: rotate(15deg);
		-webkit-transform: rotate(15deg);
		transform: rotate(15deg);
	}

	10% {
		-moz-transform: rotate(-15deg);
		-ms-transform: rotate(-15deg);
		-webkit-transform: rotate(-15deg);
		transform: rotate(-15deg);
	}

	15% {
		-moz-transform: rotate(5deg);
		-ms-transform: rotate(5deg);
		-webkit-transform: rotate(5deg);
		transform: rotate(5deg);
	}

	17% {
		-moz-transform: rotate(-5deg);
		-ms-transform: rotate(-5deg);
		-webkit-transform: rotate(-5deg);
		transform: rotate(-5deg);
	}
}
@-o-keyframes icon-bounce {
	0%, 20% {
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	5% {
		-moz-transform: rotate(15deg);
		-ms-transform: rotate(15deg);
		-webkit-transform: rotate(15deg);
		transform: rotate(15deg);
	}

	10% {
		-moz-transform: rotate(-15deg);
		-ms-transform: rotate(-15deg);
		-webkit-transform: rotate(-15deg);
		transform: rotate(-15deg);
	}

	15% {
		-moz-transform: rotate(5deg);
		-ms-transform: rotate(5deg);
		-webkit-transform: rotate(5deg);
		transform: rotate(5deg);
	}

	17% {
		-moz-transform: rotate(-5deg);
		-ms-transform: rotate(-5deg);
		-webkit-transform: rotate(-5deg);
		transform: rotate(-5deg);
	}
}
