@keyframes vGo {
  0% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
}
@-webkit-keyframes vGo {
  0% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
}
.kv {
  width: 100%;
  height: 32.15625rem;
  background: url(../images/c_kv.jpg) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
}
.kv .logo {
  display: block;
  width: 6.875rem;
  height: 2.53125rem;
  position: absolute;
  left: 0.6875rem;
  top: 0.65625rem;
}
.kv .c_enter {
  display: block;
  width: 5.3125rem;
  height: 2.4375rem;
  position: absolute;
  top: 1.09375rem;
  right: 0.21875rem;
}
.kv .c_enter img {
  display: block;
  width: 100%;
  height: 100%;
}
.kv .slogan {
  display: block;
  width: 20rem;
  height: 8.15625rem;
  position: absolute;
  left: 0;
  top: 3.4375rem;
}
.kv .play {
  display: block;
  width: 3.9375rem;
  height: 4.09375rem;
  position: absolute;
  left: 8rem;
  top: 10.40625rem;
  animation: vGo 2s linear infinite;
  -webkit-animation: vGo 2s linear infinite;
}
.kv .play img {
  display: block;
  width: 100%;
  height: 100%;
}
.kv .djs {
  width: 13.90625rem;
  height: 3.5rem;
  background: url(../images/djs.png) no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  top: 15.09375rem;
  left: 3.375rem;
}
.kv .djs p:nth-child(1) {
  font-size: 1.5625rem;
  font-weight: bold;
  color: #d60709;
  position: absolute;
  right: 6.5625rem;
  top: 0.125rem;
  text-shadow: -4px -2px 2px #32313A;
  -webkit-text-shadow: -3px -3px 2px #424151;
  -moz-text-shadow: -3px -3px 2px #424151;
  transform: skew(0deg, -5deg);
  -webkit-transform: skew(0, -5deg);
}
.kv .djs p:nth-child(2) {
  font-size: 1.5625rem;
  font-weight: bold;
  color: #d60709;
  position: absolute;
  right: 3.125rem;
  top: -0.25rem;
  text-shadow: -4px -2px 2px #32313A;
  -webkit-text-shadow: -3px -3px 2px #424151;
  -moz-text-shadow: -3px -3px 2px #424151;
  transform: skew(0deg, -5deg);
  -webkit-transform: skew(0, -5deg);
}
.kv .active1 {
  display: block;
  width: 11.5rem;
  height: 8.5625rem;
  position: absolute;
  bottom: 5.90625rem;
  left: 6.5625rem;
}
.kv .active2 {
  display: block;
  width: 10.875rem;
  height: 8.5rem;
  position: absolute;
  left: 0;
  bottom: 1.1875rem;
}
.kv .active3 {
  display: block;
  width: 11.5rem;
  height: 8.5625rem;
  position: absolute;
  right: 0.5rem;
  bottom: -1.46875rem;
}
.content {
  width: 100%;
  height: 45.28125rem;
  background: url(../images/content.jpg) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
}
.content .label {
  display: block;
  width: 18.5rem;
  height: 3.8125rem;
  position: relative;
  margin: 2.28125rem auto 0;
}
.content .isLogin {
  width: 17.1875rem;
  height: 1.5625rem;
  border-radius: 0.625rem;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  margin: 3.0625rem auto 0;
}
.content .isLogin > p {
  display: none;
  font-size: 0.75rem;
  color: #fff;
  line-height: 1.5625rem;
  text-align: center;
}
.content .isLogin > p.active {
  display: block;
}
.content .isLogin > p span {
  color: #c10c0f;
}
.content .isLogin > p i {
  font-style: normal;
  text-decoration: underline;
  margin-left: 0.15625rem;
}
.content .c_number {
  width: 17.15625rem;
  height: 3rem;
  background: url(../images/c_number.png) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
  margin: 1.5625rem 0 0 1.5625rem;
}
.content .c_number p {
  width: 13.375rem;
  height: 3rem;
  font-size: 2.0625rem;
  font-weight: bold;
  color: #ffa618;
  line-height: 3rem;
  text-indent: 0.375rem;
  text-align: center;
  margin-right: 0.15625rem;
}
.content .c_share {
  display: block;
  width: 10.34375rem;
  height: 3.25rem;
  margin: 1.875rem 0 0 4.6875rem;
}
.content .check_gift {
  text-align: center;
  font-size: 0.6875rem;
  color: #c10c0f;
  margin-top: 1.1875rem;
}
.content .check_gift img {
  display: inline-block;
  width: 0.6875rem;
  height: 0.6875rem;
  margin: 0.125rem 0.1875rem 0 0;
}
.content .rule {
  width: 18.0625rem;
  height: 17.3125rem;
  background: url(../images/c_txt.png) no-repeat center;
  background-size: 100% 100%;
  margin: 2.1875rem auto 0;
}
.content .rule ul {
  width: 16.0625rem;
  margin: 2.375rem auto 0;
  overflow: hidden;
}
.content .rule ul li {
  width: 100%;
  overflow: hidden;
  font-size: 0.6875rem;
  color: #858fa0;
  line-height: 1.1875rem;
  margin-top: 0.4375rem;
}
.content .rule ul li img {
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  float: left;
  margin: 0 0.5rem 0 0;
}
.content .rule ul li span {
  display: block;
  width: 14.375rem;
  float: left;
}
.content .rule ul li span i {
  font-style: normal;
  color: #b6090c;
  font-weight: bold;
}
.content .car {
  display: block;
  width: 7.5rem;
  height: 7.3125rem;
  position: absolute;
  right: 0;
  bottom: -1.625rem;
}
.last {
  width: 100%;
  height: 26.40625rem;
  overflow: hidden;
  position: relative;
}
.last .banner {
  width: 100%;
  height: 11.25rem;
  position: relative;
  overflow: hidden;
}
.last .banner li a img {
  display: block;
  width: 100%;
  height: 11.25rem;
}
.last .banner .swiper-pagination .swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
  background: url(../images/pag.png) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  border-radius: 0;
  opacity: 1;
}
.last .banner .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: url(../images/pag_h.png) no-repeat center;
  background-size: 100% 100%;
}
.last .c_qudao {
  width: 100%;
  height: 15.15625rem;
  background: url(../images/c_last.jpg) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
}
.last .c_qudao .c_q_main {
  width: 16.75rem;
  overflow: hidden;
  margin: 2.65625rem auto 0;
}
.last .c_qudao .c_q_main .left_qudao {
  width: 3.125rem;
  position: relative;
  float: left;
}
.last .c_qudao .c_q_main .left_qudao a {
  display: block;
  width: 3.125rem;
  overflow: hidden;
}
.last .c_qudao .c_q_main .left_qudao a img {
  display: block;
  width: 100%;
  height: 3.125rem;
}
.last .c_qudao .c_q_main .left_qudao a p {
  font-size: 0.625rem;
  color: #aaa;
  text-align: center;
  margin-top: 0.3125rem;
}
.last .c_qudao .c_q_main .left_qudao a:nth-child(2) {
  margin-top: 1.25rem;
}
.last .c_qudao .c_q_main .center_qudao {
  width: 7.25rem;
  height: 8.40625rem;
  background: url(../images/c_w_bg.png) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  float: left;
  margin: 0.5rem 0rem 0 1.25rem;
}
.last .c_qudao .c_q_main .center_qudao img {
  display: block;
  width: 4.71875rem;
  height: 4.71875rem;
  margin: 1.125rem auto 0;
}
.last .c_qudao .c_q_main .right_qudao {
  width: 3.90625rem;
  overflow: hidden;
  float: right;
}
.last .c_qudao .c_q_main .right_qudao a {
  display: block;
  width: 100%;
  overflow: hidden;
}
.last .c_qudao .c_q_main .right_qudao a img {
  display: block;
  width: 3.125rem;
  height: 3.125rem;
  margin: 0 auto;
}
.last .c_qudao .c_q_main .right_qudao a p {
  font-size: 0.625rem;
  color: #aaa;
  text-align: center;
  margin-top: 0.3125rem;
}
.last .c_qudao .c_q_main .right_qudao a:nth-child(2) {
  margin-top: 1.25rem;
}
.login {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
.login .c_login {
  width: 19.09375rem;
  height: 20.84375rem;
  background: url(../images/c_login.png) no-repeat center;
  background-size: 100% 100%;
  position: relative;
  top: 45%;
  transform: translate(0, -45%);
  -webkit-transform: translate(0, -45%);
  margin: 0 auto;
}
.login .c_login .close {
  display: block;
  width: 1.96875rem;
  height: 1.8125rem;
  position: absolute;
  right: 0.1875rem;
  top: 3.4375rem;
}
.login .c_login .login_body {
  width: 14.0625rem;
  overflow: hidden;
  margin: 6.75rem 0 0 3rem;
}
.login .c_login .login_body .s_put {
  width: 100%;
  height: 2.4375rem;
  overflow: hidden;
  margin-top: 0.5625rem;
}
.login .c_login .login_body .s_put .phone {
  width: 100%;
  height: 100%;
  background: url(../images/s_bg.png) no-repeat center;
  background-size: 100% 100%;
  border: none;
  outline: none;
  font-size: 0.75rem;
  color: #666666;
  line-height: 2.4375rem;
  text-indent: 0.8125rem;
}
.login .c_login .login_body .s_put .t_yzm {
  width: 8.4375rem;
  height: 2.4375rem;
  background: url(../images/s_bg.png) no-repeat center;
  background-size: 100% 100%;
  border: none;
  outline: none;
  font-size: 0.75rem;
  color: #666666;
  line-height: 2.4375rem;
  text-indent: 0.8125rem;
  float: left;
}
.login .c_login .login_body .s_put .captcha {
  width: 5rem;
  height: 2.4375rem;
  background: url(../images/y_bg.png) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  float: right;
}
.login .c_login .login_body .s_put .captcha img {
  display: block;
  width: 4.3125rem;
  height: 2.3125rem;
  margin: 0.0625rem auto 0;
}
.login .c_login .login_body .s_put .yzm {
  width: 8.4375rem;
  height: 2.4375rem;
  background: url(../images/s_bg.png) no-repeat center;
  background-size: 100% 100%;
  border: none;
  outline: none;
  font-size: 0.75rem;
  color: #666666;
  line-height: 2.4375rem;
  text-indent: 0.8125rem;
  float: left;
}
.login .c_login .login_body .s_put .g_code {
  width: 5rem;
  height: 2.4375rem;
  background: url(../images/g_bg.png) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  float: right;
  border: none;
  outline: none;
  font-size: 0.6875rem;
  color: #a80609;
  font-weight: bold;
  text-align: center;
  line-height: 2.4375rem;
}
.login .c_login .login_body .lingqu {
  display: block;
  width: 8.78125rem;
  height: 2.625rem;
  margin: 0.875rem 0 0 2.59375rem;
}
.login .c_login .login_body .lingqu img {
  display: block;
  width: 100%;
  height: 100%;
}
.share {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  display: none;
}
.share .s_share {
  width: 19.09375rem;
  height: 20.84375rem;
  background: url(../images/share_bg.png) no-repeat center;
  background-size: 100% 100%;
  margin: 0 auto;
  position: relative;
  top: 45%;
  transform: translate(0, -45%);
  -webkit-transform: translate(0, -45%);
}
.share .s_share .close {
  display: block;
  width: 1.96875rem;
  height: 1.8125rem;
  position: absolute;
  right: 0.1875rem;
  top: 3.4375rem;
}
.share .s_share .share_body {
  width: 14.6875rem;
  overflow: hidden;
  margin: 8.375rem 0 0 2.65625rem;
}
.share .s_share .share_body .share_title {
  display: block;
  width: 9.65625rem;
  height: 1.0625rem;
  margin: 0 auto;
}
.share .s_share .share_body .share_p {
  font-size: 0.6875rem;
  color: #a2a4a6;
  text-align: center;
  margin: 0.8125rem 0 1.5rem 0;
}
.share .s_share .share_body .bshare-custom {
  width: 14.6875rem;
  height: 5.6875rem;
  background: url(../images/c_share_bg.png) no-repeat center;
  background-size: 100% 100%;
  position: relative;
  overflow: hidden;
}
.share .s_share .share_body .bshare-custom .bshare-weixin {
  display: block;
  width: 1.875rem;
  height: 2.6875rem;
  background: url(../images/c_weixin.png) no-repeat center;
  background-size: 100% 100%;
  float: left;
  padding-left: 0;
  margin: 1.46875rem 2.25rem 0 2.03125rem;
}
.share .s_share .share_body .bshare-custom .bshare-sinaminiblog {
  display: block;
  width: 2.5rem;
  height: 2.6875rem;
  background: url(../images/c_weibo.png) no-repeat center;
  background-size: 100% 100%;
  float: left;
  padding-left: 0;
  margin: 1.46875rem 2.03125rem 0 0;
}
.share .s_share .share_body .bshare-custom .bshare-qzone {
  display: block;
  width: 2.21875rem;
  height: 2.71875rem;
  background: url(../images/c_qzone.png) no-repeat center;
  background-size: 100% 100%;
  float: left;
  padding-left: 0;
  margin: 1.46875rem 0 0 0;
}
.congra {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999999999;
  display: none;
}
.congra .close {
  display: block;
  width: 1.96875rem;
  height: 1.8125rem;
  position: absolute;
  right: 0.1875rem;
  top: 3.4375rem;
}
.congra .c_congra {
  width: 19.09375rem;
  height: 20.84375rem;
  background: url(../images/c_congra.png) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  top: 45%;
  transform: translate(0, -45%);
  -webkit-transform: translate(0, -45%);
}
.congra .c_congra .congra_body {
  width: 14.0625rem;
  overflow: hidden;
  margin: 7.96875rem 0 0 2.96875rem;
}
.congra .c_congra .congra_body .congra_title {
  font-size: 0.9375rem;
  color: #999999;
  text-align: center;
  margin-bottom: 1.09375rem;
}
.congra .c_congra .congra_body .gift_bg {
  width: 4rem;
  margin: 0 auto;
  overflow: hidden;
}
.congra .c_congra .congra_body .gift_bg .icon_bg {
  width: 4rem;
  height: 4.03125rem;
  background: url(../images/gift_bg.png) no-repeat center;
  background-size: 100% 100%;
  margin: 0 auto;
}
.congra .c_congra .congra_body .gift_bg .icon_bg img {
  display: block;
  width: 2.34375rem;
  height: 1.75rem;
  margin: 1rem auto 0;
}
.congra .c_congra .congra_body .gift_bg p {
  font-size: 0.5625rem;
  color: #fff;
  text-align: center;
  margin-top: 0.3125rem;
}
.congra .c_congra .congra_body .dhm {
  width: 100%;
  height: 2.25rem;
  overflow: hidden;
  margin-top: 1.40625rem;
}
.congra .c_congra .congra_body .dhm .c_dhm {
  width: 10rem;
  height: 100%;
  background: url(../images/dhm_bg.png) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  float: left;
  font-size: 0.75rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 2.25rem;
}
.congra .c_congra .congra_body .dhm .fuzhi {
  width: 3.78125rem;
  height: 2.25rem;
  background: url(../images/fuzhi.png) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  float: left;
  margin-left: 0.25rem;
}
.congra .c_congra .congra_body .dhm .fuzhi img {
  display: block;
  width: 100%;
  height: 100%;
}
.my_price {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  display: none;
}
.my_price .close {
  display: block;
  width: 1.96875rem;
  height: 1.8125rem;
  position: absolute;
  right: 0.1875rem;
  top: 3.4375rem;
}
.my_price .c_my_price {
  width: 19.09375rem;
  height: 20.84375rem;
  background: url(../images/my_price.png) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  top: 45%;
  transform: translate(0, -45%);
  -webkit-transform: translate(0, -45%);
}
.my_price .c_my_price .price_body {
  width: 15.3125rem;
  overflow: hidden;
  margin: 7.59375rem 0 0 2.34375rem;
}
.my_price .c_my_price .price_body .top_title {
  width: 15.25rem;
  height: 1.8125rem;
  border: 1px solid #434852;
  line-height: 1.8125rem;
  font-size: 0.75rem;
  text-align: center;
  color: #c10c0f;
  background-color: rgba(18, 20, 21, 0.8);
}
.my_price .c_my_price .price_body .top_title span {
  display: block;
  width: 9.0625rem;
  height: 1.8125rem;
  float: left;
  border-right: 1px solid #434852;
}
.my_price .c_my_price .price_body .top_title span:nth-child(2) {
  width: 6.09375rem;
  border-right: none;
}
.my_price .c_my_price .price_body .huadong {
  width: 15.3125rem;
  height: 9.21875rem;
  overflow: auto;
}
.my_price .c_my_price .price_body .huadong ul {
  width: 15.25rem;
  border: 1px solid #434852;
  overflow: auto;
}
.my_price .c_my_price .price_body .huadong ul li {
  width: 15.25rem;
  height: 1.84375rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  border-bottom: 1px solid #434852;
  color: #aaa;
  font-size: 0.625rem;
  line-height: 1.84375rem;
}
.my_price .c_my_price .price_body .huadong ul li span {
  display: block;
  width: 9.0625rem;
  height: 1.8125rem;
  float: left;
  border-right: 1px solid #434852;
}
.my_price .c_my_price .price_body .huadong ul li span:nth-child(2) {
  width: 6.09375rem;
  border-right: none;
}
.my_price .c_my_price .price_body .tip {
  font-size: 0.5625rem;
  color: #666;
  text-align: center;
  margin-top: 0.46875rem;
}
