{include '../../layouts/wap/header.html'}
		<section>
			<div class="detail_kv">
				<a href="javascript:;" class="back"><img src="images/back.png" alt="" /></a>
			</div>
		</section>
		<section>
			<div class="detail_body">
				<div class="detail_title">
					{$content.title}
				</div>
				<div class="detail_des">
					<p>来源：<span class="sp">英雄互娱</span>时间：<span>{$content.created_at|date_format:"%m/%d"}</span></p>
				</div>
				<div class="detail_nei">
					{$content.body}
				</div>
			</div>
		</section>
{include '../../layouts/wap/bottom.html'}