.header{
    width:100%;
    overflow: hidden;
    position: relative;

}
.h_bg{
    width:100%;
    height:3.125rem;
    background-color: #000;
    opacity: 0.9;
    position: fixed;
    left:0;
    top:0;
    z-index: 999999;
}
.h_con{
    width:100%;
    height: 3.4375rem;
    position: fixed;
    left:0;
    top:0;
    z-index:2;
    box-sizing:border-box;
    padding: 0 0.625rem;
    display: flex;
    display: -webket-box;
    z-index: 999999;
    overflow: hidden;
}
.h_logo{
    width:3.125rem;
    height:3.125rem;
    margin-top: 0.3125rem;
    border-radius: 3px;
}
.h_logo img{
    display: block;
    width:100%;
    height:100%;
}
.h_name{
    width:10.125rem;
    height:100%;
    box-sizing:border-box;
    padding:0.5625rem 0 0.5625rem 0.3125rem;
}
.h_name h3{
    font-weight: normal;
    font-size:1rem;
    color:#fff;
    letter-spacing: 1px;
    line-height: 1.3125rem;
}
.h_name p{
    font-size:0.625rem;
    color:#999999;
    line-height: 1rem;
}
.h_order{
    width:5.5rem;
    height:1.875rem;
    background-color: #ffd01a;
    border-radius: 4px;
    margin-top: 0.625rem;
    line-height: 1.875rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    color:#000000;
    letter-spacing: 0.5px;
    vertical-align: middle;
    border:0;
}
.wp_con{
    width:100%;
    overflow: hidden;
    position: relative;
}
.wp_bg{
    width:100%;
    display: block;
    border:0;
}
.wp_swiper{
    width:100%;
    overflow: hidden;
    position: absolute;
    left:0;
    top:0;
    z-index: 999;
}
.swiper-slide img{
    width:100%;
}
.wp_mask{
    width: 100%;
    position: absolute;
    right: 0;
    top: 15.3rem;
    z-index: 1000;
}
.wp_play{
    width: 3.5rem;
    position: absolute;
    left: 3rem;
    top: 12.8rem;
    z-index: 99999;
    animation:myMove 1.5s alternate infinite;
    -webkit-transform:scale(0.8,0.8);
    transform:scale(0.8,0.8);
}
@keyframes myMove{
    from {
        -webkit-transform:scale(0.8,0.8);
        transform:scale(0.8,0.8);
    }
    to {
        -webkit-transform:scale(1,1);
        transform:scale(1,1);
    }
}
.wp_swiper .swiper-button-prev{
    animation:myfirst 3s  infinite;
    background: url(../images/7.png) no-repeat center center;
    background-size: 1.6875rem 1.28125rem;
    width: 1.6875rem;
    height: 1.6875rem;
    top:60%;
}
.wp_swiper .swiper-button-next{
    background-size: 1.6875rem 1.28125rem;
    width: 1.6875rem;
    height: 1.6875rem;
    top:40%;
    animation:myfirst1 3s  infinite;
}
@keyframes myfirst{
    from {
        background: url(../images/7.png) no-repeat center center;
        background-size: 1.6875rem 1.28125rem;
    }
    to {
        background: url(../images/11.png) no-repeat center center;
        background-size: 1.6875rem 1.28125rem;
    }
}
@keyframes myfirst1{
    from {
        background: url(../images/12.png) no-repeat center center;
        background-size: 1.6875rem 1.28125rem;
    }
    to {
        background: url(../images/8.png) no-repeat center center;
        background-size: 1.6875rem 1.28125rem;
    }
}



/*540 300*/
.wp_swiper_b{
    width: 88%;
    overflow: hidden;
    position: absolute;
    left: 6%;
    top: 31.75rem;
    z-index: 999;
    border:5px solid #fff;
    box-sizing:border-box;
    box-shadow: 0px 0px 0.625rem #000;
}
.b_button_prev{
    background: url(../images/left.png) no-repeat ;
    background-size: 1rem ;
    left:-1.3rem;
}
.b_button_next{
    background: url(../images/right.png) no-repeat;
    background-size: 1rem ;
    right:-1.3rem;
}
.wp_swiper_b .swiper-button-next,.wp_swiper_b .swiper-button-prev{
    height:1.7rem;
    width:1rem;
}
.b_visible_prev{
    position: absolute;
    background: url(../images/left.png) no-repeat ;
    background-size: 1rem ;
    left:0.15rem;
    height:1.7rem;
    width:1rem;
    bottom:30.625rem;
    z-index: 999;
}
.b_visible_next{
    position: absolute;
    background: url(../images/right.png) no-repeat;
    background-size: 1rem;
    right: 0.15rem;
    height: 1.7rem;
    width: 1rem;
    bottom: 30.625rem;
    z-index: 999;
}
.swiper-button-next, .swiper-button-prev {
    margin-top: 38px !important;
}
.wp_txt{
    width:15.5rem;
    height:23.53125rem;
    margin:0 auto;
    position:absolute;
    overflow: hidden;
    left:50%;
    margin-left:-7.75rem;
    top:42.875rem;
}
.wp_txt .wp_bwh{
    display: block;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}
.wp_txt .code{
    width:4.6875rem;
    height:5.71875rem;
    background:url(../images/code_bg.png) no-repeat center;
    background-size:100% 100%;
    position:absolute;
    top:7.5rem;
    left:1.46875rem;
    font-size:0;
}
.wp_txt .code img{
    display: block;
    width:4.28125rem;
    height:4.28125rem;
    margin:0 auto;
    padding-top:0.15625rem;
}
.wp_txt .code p{
    font-size:0.5625rem;
    color:#000;
    text-align: center;
    margin-top:0.15625rem;
}
.wp_right{
    position:absolute;
    top:7.5625rem;
    left:6.5rem;
    font-size:0;
}
.wp_right p{
    font-size:0.6875rem;
    color:#fff;
    margin-top:0.625rem;
}
.wp_right p:first-child{
    margin-top:0;
}
.wp_right p.wp_p{
    color:#f8e19d;
}
.wp_down{
    width:11.71875rem;;
    position:absolute;
    bottom:2.34375rem;
    left:1.875rem;
    font-size:0;
}
.wp_down p{
    display: block;
    font-size:0.6875rem;
    width:100%;
    text-align: left;
    color:#796838;
}
.wp_down p span{
    display: inline-block;
    min-width:2.96875rem;
    text-align: right;
    margin-right:.5rem;
}
.wp_down p a{
    color:#a81c2a;
    text-decoration: underline;
}
.wp_down p:nth-child(2){
    margin:0.625rem 0;
}
.wp_down p a img {
    display: inline-block;
    width:3.96875rem;
    height:1.5625rem;
    margin-left:0.3125rem;
}
.wp_down p em{
    color:#000;
}
/*order_betro*/
.order_betro{
    width:100%;
    height:100%;
    position: fixed;
    left:0;
    top:0;
    background: #000;
    opacity: 0.9;
    z-index: 99999999;
    display: none;
}
.order_b_bg{
    width:94%;
    position: fixed;
    z-index: 99999999;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    display: none;
}
.order_b_ibg{
    width:100%;
}
.order_b_close{
    width: 1.375rem;
    position: absolute;
    right: 0.5rem;
    top: 4rem;
}
.order_b_form{

    position: absolute;
    left: 2.625rem;
    top: 8.4375rem;

}
.order_b_form>p{
    line-height:1.25rem;
    width:100%;
    text-align: center;
    font-size:0.8135rem;
    color:#999999;
}
.order_b_f_input{
    display: flex;
    display: -webkit-box;
    border:1px solid #9918fd;
    margin-top: 1.5rem;
    width:13.8125rem;
}
.order_b_f_input>div:nth-of-type(1){
    width: 8.8125rem;
    height: 2.375rem;
    position: relative;
    z-index: 9999999999;
}
.order_b_f_input>div:nth-of-type(1) input{
    width:100%;
    height:100%;
    display: block;
    border:0;
    outline: none;
    letter-spacing: 0.5px;
    font-size: 1rem;
}
.order_b_f_input>div:nth-of-type(2){
    width:5rem;
    height:2.375rem;
    position: relative;
    z-index: 99999999;
}
.order_b_f_input>div:nth-of-type(2):after{
    content: "";
    position: absolute;
    width: 5rem;
    height: 2.375rem;
    background-color: #ffe81c;
    transform: rotateZ(-6deg);
    z-index: 55;
    left: 0;
    top: 0;
    z-index: 999999999;
}
.order_b_f_input>div:nth-of-type(2) button{
    width:100%;
    height:100%;
    outline: none;
    border:0;
    background-color: #9918fd;
    position: relative;
    z-index: 99999999999;
}
.order_b_f_input>div:nth-of-type(2) button img{
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: inherit;
}

.video{
    width:80%;
    height: 9rem;
    position: fixed;
    left:10%;
    top:50%;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    z-index: 99999999;
    background-color: #fff;
    display: none;
}
.video_close{
    width:1.4rem;
    height:1.4rem;
    position: absolute;
    right:-0.7rem;
    top:-0.7rem;
    z-index: 99999998;
}
.video_close img{
    width:100%;
}
.video_box{
    width:100%;
    height:100%;
    background-color: #fff;
}
.mask {
    display: none;
    width: 100%;
    height: 100%;
    background: url(../images/mask.png) repeat;
    position: fixed;
    margin: 0 auto;
    top: 0;
    left: 0;
    z-index: 999999;
}
.tck_yue {
    display: none;
    width: 100%;
    height: 7.08rem;
    position: fixed;
    top: 20%;
    left: 0;
    background: #fce947;
    color: #000;

    font-size: 0.95rem;
    z-index: 1000000;
}
.tck_yue .close {
    width: 1.76rem;
    height: 1.76rem;
    background: url(../images/close.jpg) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.tck_yue img {
    width: 5.32rem;
    height: 5.32rem;
    margin: 0.88rem 0.88rem 0 1rem;
}
.fl {
    float: left;
}
.tck_yue .text {
    width: 63%;
    margin-top: 0.72rem;
}
.fr {
    float: right;
}
#video_tck{ display: none; width: 100%;height: 316px;position: fixed; top: 50%; left: 50%;margin: -20% 0 0 -50%;z-index: 100000;}
#close {width: 60px;height: 60px; display: block; position: absolute; top: -30px; right:-30px; background: url(../../common/images/v_close.png) 3px no-repeat;cursor: pointer; background-size:50%;}
#player5{ width:80%;color:#000; position: relative;margin: 0 auto;z-index: 1000;}
#player5 video{width: 90%;}
.w_footer {
    width:100%;
    height:13.375rem;
    border-top:1px solid #00;
    background-color:#1b1b1b;
    font-size:0;
}
.f_logo{
    display: block;
    width:17.78125rem;
    height:1.65625rem;
    position:relative;
    margin:0 auto;
    padding:1.4375rem 0 1.25rem 0;
    border-bottom:1px solid #464646;
}
.f_p1{
    width:100%;
    height:1.40625rem;
    position:relative;
    overflow: hidden;
    text-align: center;
    margin:1rem 0 0.5rem 0;
}
.f_p1 p{
    font-size:0.625rem;
    color:#c8c8c8;
    line-height:1.40625rem;
}
.f_p1 p img{
    display: inline-block;
    width:1.40625rem;
    height:1.40625rem;
    margin-right:0.5rem;
}
.f_p1 p span{
    margin:0 0.5rem 0 0.3125rem;
}
.w_footer p{
    font-size:0.625rem;
    color:#aaa;
    text-align: center;
    line-height:1.1875rem;
}