.kv {
    width: 100%;
    height: 905px;
    margin:0 auto;
    max-width: 1920px;
    min-width: 1200px;
    background: url(../images/kv1.jpg) no-repeat center;
    position: relative;
    overflow: hidden;

}

.kv .video {
	width: 1920px;
	height: 100%;
	position: absolute;
	left: 50%;
	margin-left: -960px;
	object-fit: cover;
	z-index: 11;
}
.kv .wrap {
	position: relative;
	z-index: 12;
}
.kv .slogan{
	position: absolute;
	left: 60px;
	top: 56px;
	width: 270px;
	height: 689px;
	background: url(../images/i_slogan.png);
	background-size: 100% 100%;
}
.kv .play{
	z-index:12;
	display: block;
	width: 159px;
	height: 112px;
	position: absolute;
	left: 145px;
	top: 415px;
	background: url(../images/i_play.png);
	animation: scales 2s linear infinite;
	-webkit-animation: scales 2s linear infinite;
}
.kv .video.video1 {
	display: none;
}

.logo {
    z-index: 12;
    display: block;
    width: 131px;
    height: 131px;
    position: absolute;
    left: 35px;
    top: 30px;
}

.kv .play {
    display: block;
    width: 159px;
    height: 112px;
    position: absolute;
    left: 140px;
    top: 414px;
}

.kv .btn {
    display: block;
    width: 220px;
    height: 65px;
    cursor: pointer;
    position: absolute;
    left: 24px;
    bottom: 75px;
    background: url(../images/yy_btn3.png) no-repeat;
}

.kv .btn1 {
	display: none;
	width: 110px;
	height: 110px;
	cursor: pointer;
	position: absolute;
	left: 301px;
	top: 555px;
}

.kv .btn:hover,
.kv .btn1:hover {
	opacity: .9;
}

.kv .mr_gift {
	display: none;
}

.kv .nav_tab {
	width: 700px;
	height: 53px;
	position: absolute;
	left: 790px;
	top: 26px;
}

.kv .nav_tab .isLogin {
	font-size: 16px;
	color: #333;
	line-height: 37px;
	float: left;
}

.kv .nav_tab .isLogin>p {
	display: none;
}

.kv .nav_tab .isLogin>p.active {
	display: block;
}

.kv .nav_tab .n_dl .dl {
	text-decoration: underline;
	cursor: pointer;
	color:#005eac;
}

.kv .nav_tab .n_dl i {
	font-style: normal;
	text-decoration: underline;
	cursor: pointer;
	margin-left: 5px;
	color:#005eac;
}

.kv .nav_tab ul {
	width: 131px;
	height: 39px;
	float: left;
	margin-left: 20px;
}

.kv .nav_tab ul li {
	width: 40px;
	height: 39px;
	background: url(../images/nav.png) no-repeat center;
	background-position: 0 0;
	overflow: hidden;
	float: left;
	transition:all .5s;
	-webkit-transition:all .5s;
}
.kv .nav_tab ul li:hover{
	margin-top:-5px;
}
.kv .nav_tab ul li:nth-child(2) {
	background-position: -46px 0;
	margin-left:3px;
	margin-right:3px;
}

.kv .nav_tab ul li:nth-child(3) {
	background-position: -91px 0;
}

.kv .nav_tab ul li a {
	display: block;
	width: 100%;
	height: 100%;
}

.kv .nav_tab ul .fl_wx {
	width: 102px;
	height: 110px;
	background: url(../images/c_bg.png) no-repeat center;
	position: absolute;
	left: 243px;
	top: 43px;
	display: none;
}

.kv .nav_tab ul .fl_wx img {
	display: block;
	width: 90px;
	height: 90px;
	margin: 15px auto 0;
}

.kv .nav_tab .enter {
	display: block;
	float: left;
	margin-left: 20px;
}

.kv .mouse {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -19.5px;
	top: 630px;
	z-index: 20;
	animation: imgDown 2s linear infinite;
	-webkit-animation: imgDown 2s linear infinite;
}

@keyframes imgDown {
	0% {
		transform: translate(0, -10px);
		-webkit-transform: translate(0, -10px);
	}
	50% {
		transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
	}
	100% {
		transform: translate(0, -10px);
		-webkit-transform: translate(0, -10px);
	}
}

@-webkit-keyframes imgDown {
	0% {
		transform: translate(0, -10px);
		-webkit-transform: translate(0, -10px);
	}
	50% {
		transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
	}
	100% {
		transform: translate(0, -10px);
		-webkit-transform: translate(0, -10px);
	}
}

.downBg {
    width: 1207px;
    height: 204px;
    background: url(../images/down_bg.png) no-repeat center;
    position: fixed;
    bottom: -3px;
    left: 50%;
    margin-left: -603.5px;
    z-index: 20;
    transition: all 1s;
    -webkit-transition: all 1s;
}
.downBg.active{
	bottom:-300px;
}
.downBg .left_yuyue {
	float: left;
	width: 187px;
	overflow: hidden;
	margin:69px 34px 0 62px;
}

.downBg .left_yuyue img {
	display: block;
	cursor: pointer;
}

.downBg .left_yuyue p {
	font-size: 14px;
	color: #3a3a3a;
	font-weight: bold;
	text-align: center;
	margin-top: 5px;
}

.downBg .left_yuyue p span {
	color: #cd0000;
}

.downBg .middle_img {
	display: block;
	float: left;
	margin:57px 39px 0 0;
}

.downBg .right_mess {
	width: 390px;
	/*overflow: hidden;*/
	float: left;
	position: relative;
}

.downBg .right_mess .r_hongbao {
	float: left;
	width: 188px;
	margin-top:68px;
}

.downBg .right_mess .r_hongbao img {
	display: block;
	float: left;
}

.downBg .right_mess .r_hongbao p {
	font-size: 16px;
	color: #3a3a3a;
	line-height: 20px;
	float: left;
	font-weight: bold;
	margin: 4px 0 0 8px;
}

.downBg .right_mess .r_hongbao p span {
	color: #cd0000;
}

.downBg .right_mess .r_hongbao .hongbao_p {
	font-size: 12px;
	color: #bc9985;
	margin-top: 10px;
}

.downBg .right_mess ul {
	float: left;
	width: 198px;
	height: 72px;
	margin-top: 57px;
	position: relative;
}

.downBg .right_mess ul li {
	width: 51px;
	float: left;
	margin-left: 14px;
	cursor: pointer;
}

.downBg .right_mess ul li img {
	display: block;
	margin: 0 auto 0;
	transition:all .5s;
	-webkit-transition:all .5s;
}
.downBg .right_mess ul li:hover img{
	transform: translate(0,-5px);
	-webkit-transform: translate(0,-5px);
}
.downBg .right_mess ul li p {
	font-size: 12px;
	color: #993b1a;
	text-align: center;
	margin-top: 8px;
}

.downBg .right_mess .d_float {
	width: 91px;
	height: 97px;
	background: url(../images/d_fl.png) no-repeat center;
	position: absolute;
	left: -6px;
	top: -104px;
	display: none;
}

.downBg .right_mess .d_float img {
	display: block;
	width: 86px;
	height: 86px;
	margin: 2px auto 0;
}

.downBg .ob_close {
    width: 47px;
    height: 47px;
    background: url(../images/b_close.png) no-repeat center;
    position: absolute;
    right: 60px;
    top: 1px;
    cursor: pointer;
    z-index: 13;
}

.downBg .ob_close img {
	display: block;
	margin: 20px auto 0;
	transition: all .5s;
	-webkit-transition: all .5s;
}

.downBg .ob_close:hover img {
	margin-top: 25px;
}

.rightBg {
	width: 346px;
	height: 209px;
	background: url(../images/d_bg.png) no-repeat center;
	position: fixed;
	right: 0;
	bottom: -250px;
	z-index: 21;
	transition:all 1s;
	-webkit-transition:all 1s;
}
.rightBg.active{
	bottom:3px;
}
.rightBg .ob_open {
	width: 47px;
	height: 47px;
	background: url(../images/b_close.png) no-repeat center;
	position: absolute;
	right: 61px;
	top: 6px;
	cursor: pointer;
}

.rightBg .ob_open img {
	display: block;
	margin: 0 auto 0;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	margin: 16px auto 0;
	transition: all .5s;
	-webkit-transition: all .5s;
}

.rightBg .ob_open:hover img {
	margin-top: 10px;
}

.rightBg .yy_gift {
	display: block;
	margin: 64px auto 0;
}

.rightBg p {
	font-size: 16px;
	color: #3a3a3a;
	text-align: center;
	font-weight: bold;
	margin-top: 5px;
}

.rightBg p span {
	color: #cd0000;
}

.second {
	width: 100%;
	height: 1092px;
	background: url(../images/n_second.png) no-repeat center;
	position: relative;
	z-index: 11;
	margin-top: -90px;
}

.sanjiao1 {
	display: block;
	width: 113px;
	height: 113px;
	position: absolute;
	left: 50%;
	margin-left: -56.5px;
	top: -53px;
}

.second .yy_number {
	width: 844px;
	height: 150px;
	margin: 155px 0 0 176px;
	background: url(../images/number_bg.png) no-repeat center;
	position: relative;
	overflow: hidden;
}

.second .yy_number ul {
	width: 576px;
	height: 106px;
	position: relative;
 	margin: 6px 0 0 129px;
}

.second .yy_number ul li {
	width: 78px;
	height: 100%;
	float: left;
	font-size: 70px;
	line-height: 106px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	margin-left: 5px;
}

.second .yy_number ul li:nth-child(1) {
	margin-left: 0;
}

.second .label {
	display: block;
	width: 591px;
	height: 43px;
	margin: 11px auto 0;
}

.second .gift {
	display: block;
	width: 635px;
	height: 139px;
	margin: 16px auto 0;
}

.second .my_gift {
	width: 226px;
	height: 48px;
	background: url(../images/mycode.png) no-repeat center;
	margin: 32px auto 0;
	cursor: pointer;
}

.second .my_gift:hover {
	opacity: .9;
}

.second .label6 {
	display: block;
	margin: 24px 0 0 222px;
}

.second .my_gift p {
	font-size: 24px;
	color: #6d3232;
	text-align: center;
	line-height: 48px;
	text-shadow: 0 2px 3px #e4c36a;
}

.second .label1 {
	display: block;
	width: 591px;
	height: 43px;
	margin: 52px auto 0;
}

.second .gift_c {
	display: block;
	width: 1033px;
	height: 246px;
	margin: 6px 0 0 76px;
}

.second .yuyue {
	width: 226px;
	height: 53px;
	background: url(../images/mycode.png) no-repeat center;
	margin: 0 auto 0;
	cursor: pointer;
}

.second .yuyue .yuyue_p {
	width: 225px;
	height: 53px;
	background: url(../images/yuyue_p.png) no-repeat center;
}

.second .yuyue .yuyue_q {
	width: 225px;
	height: 53px;
	background: url(../images/yuyue_q.png) no-repeat center;
	font-size: 16px;
	color: #ffe19b;
	text-align: center;
	line-height: 53px;
}

.second .yuyue>p {
	display: none;
}

.second .yuyue>p.active {
	display: block;
}

.second .yuyue:hover {
	opacity: .9;
}


/*首页新闻*/

.banner_news .hidden {
	display: none!important;
}

.banner_news {
	width: 100%;
	height: 724px;
	overflow: hidden;
	background: url(../images/newsbg.jpg) no-repeat center;
	position: relative;
	z-index: 11;
}

.banner_news .title {
	width: 825px;
	height: 45px;
	margin: 0 auto;
	margin-top: 100px;
}

.banner_news .banner {
	float: left;
	width: 622px;
	height: 330px;
	margin-top: 107px;
}

.banner_news .banner .swiper-container {
	height: 100%;
}

.banner_news .banner .swiper-container-horizontal>.swiper-pagination-bullets {
	width: auto;
	right: 15px;
	bottom: 15px;
	left: inherit;
}

.banner_news .banner .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	margin: 0 8px;
	opacity: 1;
	border-radius: 0;
	background: url("../images/l_bullet4.png");
	background-size: 100% 100%;
}

.banner_news .banner .swiper-pagination-bullet-active {
	position: relative;
	width: 54px;
	height: 12px;
	background: url("../images/l_bullet3.png");
	background-size: 100% 100%;
}

.banner_news .banner .swiper-slide img,
.banner_news .banner .swiper-slide a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.news_box {
	position: relative;
	width: 520px;
	margin: 107px auto 0 20px;
	float: left;
}

.news_box .more {
	position: absolute;
	right: 0;
	top: 5px;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/l_more.png);
	background-size: 100% 100%;
	transition: all .5s;
	-webkit-transition: all .5s;
}

.news_box .more:hover {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}

.news_box .hd {
	overflow: hidden;
	border-bottom: 1px solid #B0A588;
}

.news_box .hd li {
	position: relative;
	float: left;
	width: 60px;
	height: 30px;
	line-height: 20px;
	margin-right: 50px;
	font-size: 22px;
	text-align: center;
}

.news_box .hd li.on:after {
	display: inline-block;
	content: "";
	width: 70px;
	height: 2.5px;
	background: #857344;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -35px;
}

.news_box .hd li a {
	color: #857344;
	cursor: pointer;
	width: 100%;
	height: 100%;
}

.news_box .bd {
	overflow: hidden;
}

.news_box .bd ul {
	display: block;
	overflow: hidden;
}

.news_box .bd li {
	position: relative;
	width: 100%;
	display: block;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
}

.news_box .bd li:after {
	position: absolute;
	left: 0;
	bottom: 0;
	display: inline-block;
	content: "";
	width: 520px;
	height: 4px;
	background: url(../images/l_line2.png);
	background-size: 100% 100%;
}

.news_box .bd li:last-of-type:after {
	display: none;
}

.news_box .bd li a {
	display: block;
	position: relative;
	color: #857344;
	width: 80%;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.news_box .bd li a:hover,
.news_box .bd li:hover span,
.news_box .bd h2 a:hover {
	color: #e6c367;
}

.news_box .bd li i {
	font-style: normal;
}

.news_box .bd span {
	float: right;
	font-size: 14px;
	color: #857344;
}

.news_box .bd h2 {
	position: relative;
	height: 55px;
	line-height: 55px;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
}

.news_box .bd h2 a {
	display: block;
	color: #857344;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.news_box .bd h2:after {
	position: absolute;
	left: 0;
	bottom: 0;
	display: inline-block;
	content: "";
	width: 520px;
	height: 2px;
	background: url(../images/l_line1.png);
	background-size: 100% 100%;
}

.news_box .bd h2 i {
	display: inline-block;
	float: left;
	width: 72px;
	height: 32px;
	margin-right: 15px;
	margin-top: 12px;
	background: url(../images/l_tj.png);
	background-position: 0 0;
}

.news_box .bd h2 a:hover i {
	background: url(../images/l_tj.png);
	background-position: 0 -96px;
}


/*新闻list页面*/

.list {
	position: relative;
	min-width: 1200px;
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;
	background: #fff;
}

.list .wrap {
	overflow: hidden;
}

.list .top_img {
	position: absolute;
	top: 0;
	width: 1920px;
	height: 440px;
	margin: 0 auto;
}

.list .top_img img {
	width: 100%;
	height: 100%;
}

.list .go_index {
	position: absolute;
	right: 40px;
	top: 20px;
	display: block;
	width: 104px;
	height: 33px;
	background: url("../images/l_goindex.png");
	background-size: 100% 100%;
}

.list .list_news {
	margin-top: 300px;
	overflow: hidden;
	min-height: 700px;
}

.list .l_guide,
.list .l_guide a {
	text-align: right;
	font-size: 12px;
	color: #333333;
}

.list .l_guide a:hover {
	color: #e6c367;
}

.list .go_back {
	position: relative;
	top: 0;
	display: block;
	float: right;
	width: 81px;
	height: 16px;
	margin-top: 30px;
	background: url("../images/l_back.png");
	background-size: 100% 100%;
	transition: all .5s;
	-webkit-transition: all .5s;
}

.list .go_back:hover {
	top: -5px;
}

.list .float {
	float: left;
	width: 195px;
	height: 430px;
	background: url(../images/float.png) no-repeat center;
	overflow: hidden;
	position: static;
	right: 46px;
	top: 50%;
	margin-top: 27px;
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	z-index: 20;
	transition: all .5s;
	-webkit-transition: all .5s;
}

.list .float .op_close,
.list .float .back {
	display: none;
}

.list .news_box {
	position: relative;
	width: 756px;
	margin: 50px auto 0 60px;
	float: left;
}

.list .news_box .hd li {
	width: 189px;
	height: 40px;
	line-height: 30px;
	margin-right: 0;
}

.list .news_box .hd li.on:after {
	background: #e0c784;
}

.list .news_box .hd li a {
	color: #e6c367;
}

.list .news_box .hd {
	border-bottom: 1px solid #F2E1B3;
}

.list .news_box .bd h2 {
	position: relative;
	height: 65px;
	line-height: 65px;
	font-size: 20px;
	font-weight: 600;
	color: #e6c367;
	border-bottom: 1px solid #F2E1B3;
}

.list .news_box .bd h2:after {
	display: none;
}

.list .news_box .bd h2 i {
	margin-top: 16px;
}

.list .news_box .bd li {
	font-size: 18px;
	height: 70px;
	line-height: 70px;
}

.list .news_box .bd li:last-of-type {
	border-bottom: 1px solid #7F7F7F;
}

.list .news_box .bd li:after {
	width: 756px;
	height: 1px;
	background: url(../images/l_line3.png);
	background-size: 100% 100%;
}

.list .news_box .bd li a {
	color: #666;
}

.list .news_box .bd li a:hover,
.list .news_box .bd li:hover span {
	color: #e6c367;
}

.list .news_box .bd span {
	float: right;
	font-size: 18px;
	color: #666;
}

.list .news_box .page {
	text-align: center;
	margin: 40px 0;
}

.list .news_box .page li {
	font-size: 14px;
	display: inline-block;
	width: auto;
	height: 19px;
	line-height: 19px;
	background: none;
	min-width: inherit;
	border-bottom: none!important;
}

.list .news_box .page li span {
	font-size: 14px;
	float: none;
}

.list .news_box .page li a {
	float: none;
	overflow: inherit;
	width: auto;
}

.list .news_box .page li:after {
	display: none;
}


/*新闻详情*/

.list .detailbox {
	position: relative;
	width: 756px;
	margin: 30px auto 0 60px;
	float: left;
}

.list .detailbox .article_title {
	margin-bottom: .7rem;
	padding-bottom: 1rem;
	border-bottom: 1px dashed #DBD7C9;
	text-align: center;
}

.list .detailbox .article_title>h3 {
	font-weight: 100;
	font-size: 24px;
	font-weight: 600;
	color: #e6c367;
}

.list .detailbox .article_title>span {
	display: inline-block;
	font-size: 14px;
	color: #999;
	margin-top: 10px;
}

.list .detailbox .article_title>span>span:nth-of-type(1) {
	margin-right: 20px;
}

.list .detailbox .content {
	min-height: 700px;
}

.list .detailbox .content p {
	font-size: 14px;
	color: #333;
	line-height: 1.5rem;
	word-break: break-all;
}

.list .detailbox .content img {
	display: block;
	max-width: 460px;
	margin: 20px auto;
}

.show_girl {
	width: 100%;
	height: 949px;
	background: url(../images/third.jpg) no-repeat center;
	position: relative;
	z-index: 11;
}

.show_girl .label2 {
	display: block;
	width: 1062px;
	height: 77px;
	margin: 75px auto 0;
}

.show_girl .b_tab {
	width: 901px;
	height: 776px;
	position: relative;
	float: left;
	margin: 21px 0 0 -152px;
}

.show_girl .b_tab li {
	width: 100%;
	height: 100%;
	display: none;
}

.show_girl .b_tab li.active {
	display: block;
}

.show_girl .z_tab {
	width: 785px;
	height: 782px;
	background: url(../images/right_img.png) no-repeat center;
	position: absolute;
	right: -94px;
	top: 185px;
}

.show_girl .z_tab ul {
	width: 584px;
	height: 584px;
	position: relative;
	margin: 93px 0 0 100px;
}

.show_girl .z_tab ul li {
	width: 182px;
	height: 182px;
	position: absolute;
	overflow: hidden;
}

.show_girl .z_tab ul li i {
	display: block;
	width: 120px;
	height: 120px;
	transform: rotate(45deg);
	position: absolute;
	left: 31px;
	top: 31px;
	cursor: pointer;
}

.show_girl .z_tab ul li img {
	transition: all .5s;
	-webkit-transition: all .5s;
}

.show_girl .z_tab ul li img.active {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
}

.show_girl .z_tab ul li:nth-child(1) {
	left: 202px;
	top: 0;
}

.show_girl .z_tab ul li:nth-child(2) {
	left: 100px;
	top: 102px;
}

.show_girl .z_tab ul li:nth-child(3) {
	right: 98px;
	top: 102px;
}

.show_girl .z_tab ul li:nth-child(4) {
	left: 0px;
	top: 203px;
}

.show_girl .z_tab ul li:nth-child(5) {
	left: 202px;
	top: 203px;
}

.show_girl .z_tab ul li:nth-child(6) {
	right: 0px;
	top: 203px;
}

.show_girl .z_tab ul li:nth-child(7) {
	left: 100px;
	bottom: 100px;
}

.show_girl .z_tab ul li:nth-child(8) {
	right: 98px;
	bottom: 100px;
}

.show_girl .z_tab ul li:nth-child(9) {
	left: 202px;
	bottom: 0;
}

.old_friend {
	width: 100%;
	height: 870px;
	background: url(../images/old.jpg) no-repeat center;
	position: relative;
	z-index: 11;
}

.old_friend .label3 {
	display: block;
	margin: 74px auto 0;
}

.old_friend .o_chenghao {
	display: block;
	margin: 72px auto 0;
}

.old_friend .c_lq {
	display: block;
	margin: 58px auto 0;
	cursor: pointer;
}
.old_friend .c_lq:hover {
	opacity: .9;
}
.last {
	width: 100%;
	height: 1228px;
	min-width: 1200px;
	background: url(../images/last.jpg) no-repeat center;
	background-size: 100% 100%;
	position: relative;
	z-index: 11;
}

.last .label4 {
	display: block;
	margin: 79px auto 0;
}

.last .tab_img {
	width: 100%;
	position: relative;
	margin: 87px 0 0 12px;
}

.last .tab_img .tab_ul {
	width: 405px;
	position: relative;
	float: left;
}

.last .tab_img .tab_ul li {
	width: 100%;
	height: 99px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	transition: all .5s;
	-webkit-transition: all .5s;
}

.last .tab_img .tab_ul li.active {
	margin-left: -36px;
}

.last .tab_img .tab_ul li img {
	display: block;
	width: 100%;
	height: 100%;
}

.last .tab_img .tab_right {
	width: 865px;
	height: 497px;
	background: url(../images/img_bg.png) no-repeat center;
	overflow: hidden;
	position: relative;
	float: left;
	margin: 26px 0 0 -86px;
}

.last .tab_img .tab_right li {
	display: none;
	width: 845px;
	height: 475px;
	position: relative;
	margin: 11px 0 0 10px;
}

.last .tab_img .tab_right li img {
	display: block;
	width: 100%;
	height: 100%;
}

.last .tab_img .tab_right li.active {
	display: block;
}

.last .tab_img .page {
	width: 187px;
	height: 17px;
	margin: 46px 0 0 498px
}

.last .tab_img .page li {
	width: 17px;
	height: 17px;
	overflow: hidden;
	float: left;
	margin-left: 25px;
	cursor: pointer;
}

.last .tab_img .page li.active img:nth-child(1) {
	display: none;
}

.last .tab_img .page li:nth-child(1) {
	margin-left: 0;
}

.last .c_media {
	width: 100%;
	height: 126px;
	float: left;
	margin: 109px 0 0 0px;
}

.last .c_media ul {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.last .c_media ul li {
	width: 166px;
	height: 126px;
	float: left;
}

.last .c_media ul .ge {
	display: block;
	float: left;
	margin: 20px 64px 0;
}

.last .c_media ul li:nth-child(1) {
	background: url(../images/wx.png) no-repeat center;
	margin-left: 215px;
}

.last .c_media ul li:nth-child(1) .erweima {
	display: block;
	width: 110px;
	height: 110px;
	margin: 8px 0 0 48px;
}

.last .c_media ul li:nth-child(1) .erweima img {
	display: block;
	width: 100%;
	height: 100%;
}

.last .c_media ul li:nth-child(3) {
	width: 167px;
	background: url(../images/wb.png) no-repeat center;
}

.last .c_media ul li:nth-child(5) {
	background: url(../images/qq.png) no-repeat center;
}

.last .c_media ul li a {
	display: block;
	width: 100%;
	height: 100%;
}
.chenghao {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, .8);
	left: 0;
	top: 0;
	z-index: 20;
	display: none;
}

.chenghao .c_chenghao {
	width: 959px;
	height: 554px;
	background: url(../images/tc.png) no-repeat center;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	top: 45%;
	transform: translate(0, -45%);
	-webkit-transform: translate(0, -45%);
}

.chenghao .c_chenghao .chenghao_body {
	width: 100%;
	position: relative;
	overflow: hidden;
	margin: 73px auto 0;
}

.chenghao .c_chenghao .chenghao_body .chenghao_title {
	margin:0 auto 0;
}
.chenghao .c_chenghao .chenghao_body .chenghao_ul{
	width: 550px;
	overflow: hidden;
	position:relative;
	margin:68px auto 0;
}
.chenghao .c_chenghao .chenghao_body .chenghao_ul li{
	width: 260px;
	height: 150px;
	overflow: hidden;
	position:relative;
	float:left;
	cursor: pointer;
}
.chenghao .c_chenghao .chenghao_body .chenghao_ul li .li_bg{
	width: 240px;
	height: 130px;
	border:10px solid transparent;
}
.chenghao .c_chenghao .chenghao_body .chenghao_ul li .li_bg img:nth-child(1){
	display: block;
	width: 348px;
	height: 143px;
	margin-top: -7px;
	margin-left: -54px;
}
.chenghao .c_chenghao .chenghao_body .chenghao_ul li .li_bg img:nth-child(2){
	display: none;
	width:29px;
	height:26px;
	position:absolute;
	right: -1px;
    bottom: 7px;
}
.chenghao .c_chenghao .chenghao_body .chenghao_ul li p{
	font-size:12px;
	color:#4c2d21;
	text-align: center;
	margin-top:12px;
}
.chenghao .c_chenghao .chenghao_body .chenghao_ul li.active .li_bg{
	border:10px solid #ddb864;
}
.chenghao .c_chenghao .chenghao_body .chenghao_ul li.active .li_bg img:nth-child(2){
	display: block;
}
.chenghao .c_chenghao .chenghao_body .chenghao_ul li:nth-child(2){
	margin-left:25px;
}
.chenghao .c_chenghao .chenghao_body .list_btn{
	width:225px;
	height:53px;
	margin:42px auto 0;
	cursor: pointer;
}
.chenghao .c_chenghao .chenghao_body .list_btn:hover{
	opacity: .9;
}
.sure_lingqu {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, .8);
	left: 0;
	top: 0;
	z-index: 20;
	display: none;
}

.sure_lingqu .c_sure {
	width: 959px;
	height: 554px;
	background: url(../images/tc.png) no-repeat center;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	top: 45%;
	transform: translate(0, -45%);
	-webkit-transform: translate(0, -45%);
}

.sure_lingqu .c_sure .sure_body {
	width: 100%;
	position: relative;
	overflow: hidden;
	margin: 74px auto 0;
}

.sure_lingqu .c_sure .sure_body .biaoti {
	margin:0 auto 0;
}

.sure_lingqu .c_sure .sure_body .tt_code {
	width:572px;
	height:53px;
	background-color:#fff;
	border-radius: 5px;
	font-size: 20px;
	color: #131313;
	text-align: center;
	line-height: 53px;
	margin: 80px auto 0;
}

.sure_lingqu .c_sure .sure_body .tt_code span {
	color: #a4a4a4;
}
.sure_lingqu .c_sure .sure_body .sure_tip{
	font-size:14px;
	color:#b4a495;
	line-height:20px;
	margin:20px 0 0 200px;
}
.sure_lingqu .c_sure .sure_body .sure_title span {
	color: #c47325;
}

.sure_lingqu .c_sure .sure_body .intrduce {
	width: 100%;
	height: 134px;
	margin-top: 20px;
}

.sure_lingqu .c_sure .sure_body .intrduce .link {
	display: block;
	width: 134px;
	height: 134px;
	float: left;
	margin: 0 28px 0 40px;
}

.sure_lingqu .c_sure .sure_body .intrduce .right_txt {
	width: 210px;
	height: 100%;
	float: left;
}

.sure_lingqu .c_sure .sure_body .intrduce .right_txt p {
	font-size: 18px;
	color: #522e03;
	text-align: center;
}

.sure_lingqu .c_sure .sure_body .intrduce .right_txt p:nth-child(1) {
	margin-top: 16px;
	font-size: 18px;
}

.sure_lingqu .c_sure .sure_body .intrduce .right_txt p:nth-child(2) {
	margin-top: 25px;
}

.sure_lingqu .c_sure .sure_body .queding {
	display: block;
	width: 225px;
	height: 53px;
	margin: 70px auto 0;
	cursor: pointer;
}

.sure_lingqu .c_sure .sure_body .queding:hover {
	opacity: .9;
}

.l_success {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, .8);
	left: 0;
	top: 0;
	z-index: 20;
	display: none;
}

.l_success .c_l_success {
	width: 959px;
	height: 554px;
	background: url(../images/tc.png) no-repeat center;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	top: 45%;
	transform: translate(0, -45%);
	-webkit-transform: translate(0, -45%);
}

.l_success .c_l_success .lq_body {
	width: 879px;
	overflow: hidden;
	margin: 74px auto 0;
}

.l_success .c_l_success .lq_body .body_title {
	margin:0 auto 0;
}

.l_success .c_l_success .lq_body .tip {
	font-size: 24px;
	color: #674c2e;
	font-weight: bold;
	text-align: center;
	margin-top: 60px;
}
.l_success .c_l_success .lq_body .l_icon{
	display: block;
	margin:58px auto 0;
}
.l_success .c_l_success .lq_body .cg_tip{
	width:100%;
	overflow: hidden;
	position:relative;
	margin-top:25px;
}
.l_success .c_l_success .lq_body .cg_tip img{
	display: block;
	width:73px;
	height:73px;
	float:left;
	margin:0 12px 0 230px;
}
.l_success .c_l_success .lq_body .cg_tip p{
	font-size:14px;
	color:#4c2d21;
	line-height:24px;
	margin-top:10px;
}
.l_success .c_l_success .lq_body .s_queding {
	display: block;
	width: 225px;
	height: 53px;
	margin: 40px auto 0;
	cursor: pointer;
}

.l_success .c_l_success .lq_body .s_queding:hover {
	opacity: .9;
}

.float {
	width: 197px;
	height: 605px;
	background: url(../images/float.png) no-repeat center;
	overflow: hidden;
	position: fixed;
	right: 46px;
	top: 50%;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	z-index: 20;
	transition: all .5s;
	-webkit-transition: all .5s;
}

.float.active {
	right: -175px;
}

.float .c_float {
	width: 122px;
	overflow: hidden;
	margin: 66px 0 0 46px;
}

.float .c_float .ios {
	display: block;
	width: 119px;
	height: 34px;
	margin-top: 5px;
}

.float .c_float .and {
	display: block;
	width: 119px;
	height: 34px;
	margin-top: 5px;
}

.float .c_float .tap {
	display: block;
	width: 119px;
	height: 34px;
	margin-top: 5px;
}

.float .c_float a:hover {
	opacity: .9;
}

.float .c_float .f_code {
	display: block;
	width: 122px;
	height: 122px;
	margin: 28px auto 0;
}

.float .c_float .f_code img:nth-child(1) {
	display: block;
	width: 100%;
	height: 100%;
}

.float .c_float .f_code img:nth-child(2) {
	display: block;
	width: 128px;
	height: 17px;
	margin-left: -3px;
	animation: cDown 2s linear infinite;
	-webkit-animation: cDown 2s linear infinite;
}

@keyframes cDown {
	0% {
		transform: translate(0, -122px);
		-webkit-transform: translate(0, -122px);
	}
	50% {
		transform: translate(0, -10px);
		-webkit-transform: translate(0, -10px);
	}
	100% {
		transform: translate(0, -122px);
		-webkit-transform: translate(0, -122px);
	}
}
@-webkit-keyframes cDown{
	0% {
		transform: translate(0, -122px);
		-webkit-transform: translate(0, -122px);
	}
	50% {
		transform: translate(0, -10px);
		-webkit-transform: translate(0, -10px);
	}
	100% {
		transform: translate(0, -122px);
		-webkit-transform: translate(0, -122px);
	}
}
.float .c_float .f_title {
	font-size: 16px;
	color: #846444;
	text-align: center;
	margin-top: 13px;
}

.float .c_float .f_title span {
	font-size: 16px;
	font-weight:bold;
}

.float .c_float .f_title2 {
	font-size: 12px;
	color: #333333;
	text-align: center;
	margin-top: 3px;
}

.float .c_float .back {
	width:30px;
	height:23px;
	margin: 137px auto 0;
	cursor: pointer;
}

.float.active .c_float .op_close img {
	transform: rotate(0);
	-webkit-transform: rotate(0);
}

.float .c_float .op_close {
	width: 16px;
	height: 49px;
	position: absolute;
	left: 0;
	top: 78px;
	cursor: pointer;
}

.float .c_float .op_close img {
	display: block;
	margin: 18px 0 0 6px;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transition: all .5s;
	-webkit-transition: all .5s;
}

.left_select>ul {
	display: none;
}

.left_select>ul.active {
	display: block;
}

.left_select .swiper-pagination {
	width: 37px;
	height: 333px;
	background: url(../images/nation.png) no-repeat center;
	position: fixed;
	left: 62px;
	top: 50%;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	z-index: 11;
}

.left_select .swiper-pagination.swiper-pagination1 {
	background: url(../images/nation1.png) no-repeat center;
}

.left_select .swiper-pagination .swiper-pagination-bullet {
	display: block;
	width: 135px;
	height: 25px;
	background: none;
	opacity: 1;
	margin-top: 72px;
	cursor: pointer;
}

.left_select .swiper-pagination .swiper-pagination-bullet .pag_img {
	width: 37px;
	height: 37px;
	float: left;
	overflow: hidden;
	margin-top: 4px;
}

.left_select .swiper-pagination .swiper-pagination-bullet .pag_p {
	font-size: 18px;
	color: rgba(70,60,49,.5);
	line-height: 40px;
	float: left;
	margin-left: 8px;
}

.left_select .swiper-pagination.swiper-pagination1 .swiper-pagination-bullet .pag_p {
	font-size: 16px;
	color: #fff;
	line-height: 25px;
	float: left;
	margin-left: 8px;
}

.left_select .swiper-pagination .swiper-pagination-bullet:nth-child(1) {
	margin-top: 0;
}

.left_select .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active .pag_img img:nth-child(1) {
	display: none;
}
.left_select .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active .pag_p{
	color:#463c31;
}
/*
.left_select .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active .pag_p {
	display: block;
}*/

/*.left_select .swiper-pagination .swiper-pagination-bullet:nth-child(3) .pag_p {
	color: #6e3e2e;
}

.left_select .swiper-pagination.swiper-pagination1 .swiper-pagination-bullet:nth-child(3) .pag_p {
	color: #edcf6b;
	display: block;
}

.left_select .swiper-pagination.swiper-pagination1 .swiper-pagination-bullet:nth-child(3) {
	display: block;
}

.left_select .swiper-pagination .swiper-pagination-bullet:nth-child(3) .pag_p {
	display: block;
}

.left_select .swiper-pagination .swiper-pagination-bullet:nth-child(3) .pag_img {
	width: 23px;
	height: 23px;
	margin-left: -1px;
}

.left_select .swiper-pagination .swiper-pagination-bullet:nth-child(3) .pag_img img:nth-child(1) {
	display: none;
}

.left_select .swiper-pagination .swiper-pagination-bullet:nth-child(3) .pag_img img:nth-child(2) {
	display: none;
}*/

.tc_img {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .8);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 20;
	display: none;
}

.tc_img .tc_main {
	width: 1200px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	top: 45%;
	transform: translate(0, -45%);
	-webkit-transform: translate(0, -45%);
}

.tc_img .tc_main .big_img {
	display: block;
	max-width: 100%;
	max-height: 700px;
	margin: 0 auto;
}

.tc_img .tc_main .c_close,
.tc_img .tc_main .c_close1 {
	display: block;
	width: 36px;
	height: 38px;
	background: url(../images/close.png) no-repeat center;
	position: absolute;
	top: 0;
	right: 150px;
	cursor: pointer;
	transition: all .5s;
	-webkit-transition: all .5s;
}

.tc_img .tc_main .c_close1 {
	background: url(../images/close1.png) no-repeat center;
}

.c_close:hover {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}

.yx_tips_txt {
	position: absolute;
	width: 198px !important;
	height: auto;
	padding: 18px auto;
	line-height: 25px;
	border-radius: 10px;
	background: #fff;
	text-align: center;
	left: 50%;
	margin-left: -99px !important;
	top: 50%;
	margin-top: -24px;
	color: #666;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
}