*{margin:0;padding:0;}
i{font-style:normal;}
img{
	width:100%;
	height:100%;
}
.kv .nav_tab .isLogin {
	font-size: 16px;
	color: #333;
	line-height: 37px;
	float: left;
}

.kv .nav_tab .isLogin>p {
	display: none;
}

.kv .nav_tab .isLogin>p.active {
	display: block;
}

.kv .nav_tab .n_dl .dl {
	text-decoration: underline;
	cursor: pointer;
	color:#005eac;
}

.kv .nav_tab .n_dl i {
	font-style: normal;
	text-decoration: underline;
	cursor: pointer;
	margin-left: 5px;
	color:#005eac;
}
.hidden{display:none!important;}
.i_main .ani .ani-item{/*渐隐1*/
	opacity: 0;
	transition: all .8s;
	-webkit-transition: all .8s;
	-moz-transition: all .8s;
	-o-transition: all .8s;
}
.i_main .ani.show-ani .ani-item{/*渐隐2*/
	opacity: 1;
	transform: scale(1,1) translateX(0) translateY(0)!important;
	-ms-transform: scale(1,1) translateX(0) translateY(0)!important;
	-webkit-transform: scale(1,1) translateX(0) translateY(0)!important;
	-moz-transform: scale(1,1) translateX(0) translateY(0)!important;
	-o-transform: scale(1,1) translateX(0) translateY(0)!important;
}
.i_main .ani.show-ani .ani-item.ani-delay
{
	transition-delay: .3s;
	-moz-transition-delay: .3s; /* Firefox 4 */
	-webkit-transition-delay: .3s; /* Safari 和 Chrome */
	-o-transition-delay: .3s; /* Opera */
}
.i_main {
	position: relative;
	width: 100%;
	/*height: 5276px;*/
	min-width: 1200px;
	max-width: 1920px;
	margin: 0 auto;
	/*overflow: hidden;*/
}
.banner_news:before,.zy_box:before,.video_box:before,.player_box:before{
	position:absolute;
	left:50%;
	top:-40px;
	display:inline-block;
	content:"";
	width:80px;
	height:80px;
	margin-left: -40px;
	background: url(../images/i_jb.png) no-repeat center;
}
.kv {
	width: 100%;
	height: 905px;
	min-width:1200px;
	background: url(../images/i_bg11.jpg) no-repeat center;
	position: relative;
	overflow: hidden;
}
.kv:after{
	z-index:15;
	display:inline-block;
	content:"";
	position:absolute;
	left: 0;
	bottom:0;
	width: 100%;
	height:2px;
	background: url(../images/i_black.png) no-repeat center;
	background-size:100% 100%;
}
.kv .video{
	width: 1920px;
	height: 100%;
	position: absolute;
	left:50%;
	margin-left: -960px;
	object-fit: cover;
	z-index: 11;
	display: none;
}
.kv .video.video1{
	display: none;
}
.kv .logo {
	z-index:12;
	display: block;
	width:131px;
	height:131px;
	position: absolute;
	left: 35px;
	top: 30px;
}
.kv .slogan{
	position: absolute;
	left: 60px;
	top: 56px;
	width: 270px;
	height: 689px;
	background: url(../images/i_slogan.png);
	background-size: 100% 100%;
}
.kv .play{
	z-index:12;
	display: block;
	width: 159px;
	height: 112px;
	position: absolute;
	left: 145px;
	top: 415px;
	background: url(../images/i_play.png);
	animation: scales 2s linear infinite;
	-webkit-animation: scales 2s linear infinite;
}
.kv .download{
	z-index:12;
	width: 226px;
	position: absolute;
	left:50%;
	top: 540px;
	margin-left: -113px;
}
.kv .index_yy{
	display: block;
    width: 220px;
    height: 65px;
    cursor: pointer;
    position: absolute;
    left: 24px;
    bottom: 75px;
    background: url(../images/yy_btn3.png) no-repeat;
}
.kv .download .code{
	position: relative;
	float:left;
	width: 106px;
	height: 106px;
}
.kv .download .code i {
	display: block;
	width: 108px;
	height: 15px;
	background: url(../images/i_light.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -54px;
	animation: vSmall 4s linear infinite;
	-webkit-animation: vSmall 4s linear infinite;
	-moz-animation: vSmall 4s linear infinite;
	-o-animation: vSmall 4s linear infinite;
}
.kv .download .btn{
	float:left;
	margin-left: 10px;
}
.kv .download .btn a{
	display:block;
	width:109px;
	height:31px;
	margin-bottom: 6px
}
.kv .download p{
	font-size:12px;
	font-weight:600;
	color:#462518;
	text-align:center;
}
.kv .nav_tab{
    z-index: 12;
    height: 53px;
    width: 500px;
    position: absolute;
    left: 915px;
    top: 30px;
}
.kv .nav_tab .n_dl .dl{
	text-decoration: underline;
	cursor: pointer;
}
.kv .nav_tab .n_dl i{
	font-style: normal;
	text-decoration: underline;
	cursor: pointer;
	margin-left:5px;
}
.kv .nav_tab ul{
	width:165px;
	height:53px;
	float:left;
	margin-left:25px;
}
.kv .nav_tab ul li{
	width:45px;
	height:45px;
	background:url(../images/i_nav.png) no-repeat center;
	background-position:-5px 0;
	overflow: hidden;
	float:left;
}
.kv .nav_tab ul li:nth-child(2){
	background-position:-60px 0;
}
.kv .nav_tab ul li:nth-child(3){
	background-position:-115px 0;
}
.kv .nav_tab ul li a{
	display: block;
	width:100%;
	height:100%;
}
.kv .nav_tab ul .fl_wx{
	width:102px;
	height:110px;
	background:url(../images/i_qrbg.png) no-repeat center;
	position:absolute;
	left:-3px;
	top:56px;
	display: none;
}
.kv .nav_tab ul .fl_wx img{
	display: block;
	width:90px;
	height:90px;
	margin:15px auto 0;
}
/*首页新闻*/
.banner_news{
	width: 100%;
	height: 762px;
	/*overflow: hidden;*/
	background: url(../images/i_bg2.jpg) no-repeat center;
	position: relative;
	z-index: 11;
}
.banner_news .title{
	width: 369px;
	height: 104px;
	margin:50px 0 0 -175px;
}
.banner_news .banner{
	position:relative;
	float: left;
	width: 598px;
	height: 340px;
	margin-top: 35px;
	background:url("../images/i_bannerbg.png");
	transform: translateY(100px);
	-ms-transform: translateY(100px);
	-webkit-transform: translateY(100px);
	-moz-transform: translateY(100px);
	-o-transform: translateY(100px);
}
.banner_news .banner .swiper-container{
	width: 589px;
	height: 330px;
	left: 5px;
	top: 10px;
}
.banner_news .banner .swiper-pagination{
	width: auto;
	right: 15px;
	bottom:-40px;
	left: 50%;
	transform:translate(-50%,0);
	-webkit-transform:translate(-50%,0);
}
.banner_news .banner .swiper-pagination-bullet {
	width: 21px;
	height: 21px;
	margin: 0 8px;
	opacity: 1;
	border-radius:0;
	background:url("../images/i_bullet1.png");
	background-size:100% 100%;
}
.banner_news .banner .swiper-pagination-bullet-active {
	position: relative;
	width: 21px;
	height: 21px;
	background:url("../images/i_bullet2.png");
	background-size:100% 100%;
}
.banner_news .banner .swiper-slide img,.banner_news .banner .swiper-slide a{
	display:inline-block;
	width:100%;height:100%;
}
.news_box{
	position: relative;
	width: 522px;
	margin: 55px auto 0 40px;
	float: left;
	transform: translateY(100px);
	-ms-transform: translateY(100px);
	-webkit-transform: translateY(100px);
	-moz-transform: translateY(100px);
	-o-transform: translateY(100px);
}
.news_box .more{
	position: absolute;
	right: 0;
	top: 2px;
	display: inline-block;
	width: 19px;
	height: 19px;
	background: url(../images/i_more.png);
	background-size: 100% 100%;
	transition: all .5s;
	-webkit-transition: all .5s;
}
.news_box .more:hover{
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}
.news_box .hd {
	overflow: hidden;
	border-bottom: 1px solid #B0A588;
}
.news_box .hd li {
	position: relative;
	float: left;
	width: 60px;
	height: 30px;
	line-height: 20px;
	margin-right: 20px;
	font-size: 20px;
	text-align: center;
}
.news_box .hd li.on:after{
	display: inline-block;
	content: "";
	width: 60px;
	height: 2.5px;
	background: #857344;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -30px;
}
.news_box .hd li a {
	color: #524a42;
	cursor: pointer;
	width: 100%;
	height: 100%;
	display: block;
}
.news_box .hd li.on a{
	font-weight:600;
}
.news_box .hd li:last-of-type{margin-right:0;}
.news_box .bd {
	overflow:hidden;
}
.news_box .bd ul {
	display: block;
	overflow: hidden;
}
.news_box .bd li {
	position: relative;
	width: 100%;
	display: block;
	height: 38px;
	line-height: 38px;
	font-size: 14px;
	border-bottom: 1px dashed #B9B6AC;
}
.news_box .bd li:last-of-type:after{display:none;}
.news_box .bd li a {
	display: block;
	position: relative;
	color: #3e352d;
	width: 80%;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.news_box .bd li a:hover,.news_box .bd li:hover span{    color: #C04835;}
.news_box .bd li i{font-style:normal;}
.news_box .bd span {
	float: right;
	font-size: 14px;
	color: #b1a387;
}
.news_box .bd h2{
	position: relative;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
}
.news_box .bd h2 a{
	display:block;
	color: #fff9e8;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.news_box .bd h2 i{
	display: inline-block;
	float: left;
	width: 65px;
	height: 35px;
	margin-right: -6px;
	margin-top: 12px;
	background: url(../images/i_tj.png);
	background-position: 0 0;
}
.news_box .bd h2 b{
	display: inline-block;
	float: left;
	width: 462px;
	height: 35px;
	line-height: 35px;
	margin-top: 12px;
	text-indent: 20px;
	font-size: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: url(../images/i_tjbg.png);
	background-position: 0 0;
}
/*首页职业介绍*/
.zy_box{
	width: 100%;
	height: 945px;
	/*overflow: hidden;*/
	background: url(../images/i_bg3.jpg) no-repeat center;
	position: relative;
	z-index: 11;
}
.zy_box .wrap>.title{
	float:right;
	width: 368px;
	height: 105px;
	margin:50px -175px 0 0;
}
.zy_box .left{
    position: relative;
    float: left;
    width: 760px;
    height: 770px;
    margin: 75px 0 0 50px;
    background: url(../images/i_zybg22.png);
    z-index: 10;
}
.zy_box .left>i{   
	position:absolute;
    width: 760px;
    height: 770px;
    top:0;
    display: block;
	background: url(../images/i_zybg22.png);
	z-index: 9;
}
.zy_box .left .sm_img{
    position: relative;
    z-index: 15;
}
.zy_box .left .sm_img span{
	position:absolute;
	display:inline-block;
	width:90px;
	height:90px;
	text-align:center;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	cursor:pointer;
}
.zy_box .left .big_img span video{
    height: 783px;
    position: relative;
    left: -132px;
}
.zy_box .left .sm_img span i{
	position:relative;
	z-index:5;
	display:inline-block;
	width:75px;
	height:75px;
	overflow: hidden;
	border-radius:75px;
	border:2px solid #544A3E;
	background:#7F7F7F;
}
.zy_box .left .sm_img span.active{
	-webkit-filter: none;
	-moz-filter: none;
	-ms-filter: none;
	-o-filter:none;
	filter:none;
	transform:scale(1.1);
	-webkit-transform:scale(1.1);
}
.zy_box .left .sm_img span.active:before{
	display: inline-block;
	position: absolute;
	z-index: 4;
	left: 0px;
	top: -6px;
	content: "";
	width: 90px;
	height: 90px;
	background: url(../images/i_smbg.png);
}
.zy_box .left .sm_img span.sm1{
	left: 31px;
	top: 144px;
}
.zy_box .left .sm_img span.sm2{
	top: 242px;
	left: -20px;
}
.zy_box .left .sm_img span.sm3{
	top: 351px;
	left: -38px;
}
.zy_box .left .sm_img span.sm4{
	top: 460px;
	left: -20px;
}
.zy_box .left .sm_img span.sm5{
	top: 555px;
	left: 35px;
}
.zy_box .left .sm_img span img{
	width:75px;
	height:75px;
}
.zy_box .left .big_img{
    width: 700px;
    height: 714px;
    margin-left: 60px;
    margin-top: 27px;
    z-index: 1;
}
.zy_box .left .big_img span{
	width: 700px;
	height: 714px;
	display:inline-block;
	-webkit-animation: fadeIn 500ms ease-in-out;
	-o-animation: fadeIn 500ms ease-in-out;
	-ms-animation: fadeIn 500ms ease-in-out;
	animation: fadeIn 500ms ease-in-out
}
.zy_box .right{
    float: left;
    width: 390px;
    margin-top: 20px;
    z-index: 13;
    position: relative;
}
.zy_box .right .rw_info h3 i{
	font-size: 21px;
	color: rgba(85,53,44,.8);
	font-weight: 600;
	position: relative;
	top: 5px;
}
.zy_box .right .rw_info h3 span{
	font-family: "方正清刻本悦宋简体";
	font-size: 100px;
	font-weight: 100;
	color: #4E3329;
}
.zy_box .right .rw_info p{
	font-size:16px;
	color:rgba(87,54,44,.8);
	margin-top: 10px;
}
.zy_box .right .line{
	width:375px;
	height:1px;
	margin: 20px auto;
	background:url("../images/i_line.png");
}
.zy_box .right .x_info .type{
	width: 100%;
	height: 45px;
	overflow: hidden;
}
.zy_box .right .x_info .type span{
	position:relative;
	display:inline-block;
	float:left;
	width:124px;
	height:38px;
	line-height:38px;
	font-size:16px;
	color:#463c31;
	text-align:center;
	background:#DAC9A5;
	cursor:pointer;
}
.zy_box .right .x_info .type span:first-of-type{margin-left:9px;}
.zy_box .right .x_info .type span.active.active{
	background:#D3BE90;
}
.zy_box .right .x_info .type span.active:before{
	display: inline-block;
	content: "";
	width: 16px;
	height: 7px;
	position: absolute;
	left: 50%;
	bottom: -7px;
	margin-left: -8px;
	background: url(../images/i_point.png);
}
.zy_box .right .x_info .type_txt{margin-top:20px;}
.zy_box .right .x_info .type_txt p{
	height: 63px;
	font-size:16px;
	color:#937d65;
}
.zy_box .right .cz_info{
	width:378px;
	height:58px;
	font-size:18px;
	color:#463c31;
	line-height:58px;
	margin:0 auto;
	margin-top:25px;
	text-indent: 35px;
	background: url(../images/i_czbg.png);
}
.zy_box .right .cz_info span{
	position: relative;
	top: 2px;
	display: inline-block;
	width: 20px;
	height: 19px;
	margin-right: 3px;
	background: url(../images/i_star1.png);
}
.zy_box .right .cz_info span.active{background: url(../images/i_star2.png);}
.zy_box .right .jn_info .title{
	width:348px;
	height:19px;
	margin:0 auto;
	margin-top:30px;
}
.zy_box .right .jn_info .jn_box{
	float: left;
	width: 100%;
	margin-top: 25px;
}
.zy_box .right .jn_info .jn_img{
	position:relative;
	float:left;
	margin-right:15px;
}
.zy_box .right .jn_info .jn_img span{
	position:relative;
	display:inline-block;
	width:80px;
	height:80px;
	cursor:pointer;
}
.zy_box .right .jn_info .jn_img .sub{
	display:none;
	position: absolute;
	top: -90px;
	left: 50%;
	margin-left: -121px;
	width: 242px;
	height: 84px;
	background: url(../images/i_jnbg2.png);
}
.zy_box .right .jn_info .jn_img .sub i{
	font-size: 14px;
	color: #937d65;
	position: absolute;
	left: 50%;
	top: 45%;
	width: 220px;
	margin-left: -110px;
	transform: translate(0,-50%);
	-webkit-transform: translate(0,-50%);
}
/*视频页面*/
.video_box{
	width: 100%;
	height: 847px;
	/*overflow: hidden;*/
	background: url(../images/i_bg4.jpg) no-repeat center;
	position: relative;
	z-index: 11;
}
.video_box:before{
	position: absolute;
	left: 50%;
	top: 50%;
	display: inline-block;
	content: "";
	width: 1481px;
	height: 201px;
	margin-left: -740.5px;
	margin-top: -50px;
	background: url(../images/i_vibg3.png);
}
.video_box .wrap>.title{
	width: 368px;
	height: 105px;
	margin:50px 0 0 -175px;
}
.video_box .video_con{
	transform: translateY(100px);
	-ms-transform: translateY(100px);
	-webkit-transform: translateY(100px);
	-moz-transform: translateY(100px);
	-o-transform: translateY(100px);
}
.video_box .video_type{
	margin-top:20px;
	text-align:center;
}
.video_box .video_type span{
	display: inline-block;
	position: relative;
	font-size: 20px;
	width: 270px;
	height: 40px;
	color: rgba(131,92,44,.7);
	cursor:pointer;
}
.video_box .video_type span.active{color:rgba(131,92,44,1);}
.video_box .video_type span.active:after{
	position:absolute;
	left:50%;
	bottom:0;
	display:inline-block;
	content:"";
	width:115px;
	height:5px;
	margin-left:-57.5px;
	background:url("../images/i_line2.png");
}
.video_box .video_info {
	overflow: hidden;
	width: 1040px;
	margin: 0 auto;
	height: 500px;
}
.video_box .video_info .img_box{
	position: relative;
	float: left;
	width: 299px;
	height: 171px;
	margin-right: 70px;
	margin-top: 55px;
	cursor:pointer;
	background: url(../images/i_vibg.png);
}
.video_box .video_info .img_box:hover .zz{
	background: rgba(0,0,0,0);
}
.video_box .video_info .img_box:nth-of-type(3n){margin-right:0;}
.video_box .video_info .img_box:before{
	display:inline-block;
	content:"";
	position:absolute;
	z-index: 5;
	left:50%;
	top:50%;
	width:294px;
	height:166px;
	margin:-83px 0 0 -147px;
	background:url("../images/i_vibg1.png");
}
.video_box .video_info .img_box span{
	display: block;
	overflow: hidden;
	position: absolute;
	z-index: 4;
	left: 50%;
	top: 50%;
	width: 294px;
	height: 164px;
	margin: -82px 0 0 -147px;
}
.video_box .video_info .img_box span img{
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}
.video_box .video_info .img_box:hover img{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.video_box .video_info .img_box .desc{
	z-index: 7;
	position: absolute;
	right: -15px;
	bottom: -10px;
	width: 190px;
	height: 35px;
	line-height: 35px;
	font-size: 15px;
	color: #fff;
	text-align: center;
	background: url(../images/i_vibg2.png);
}
.video_box .video_info .img_box .zz{
	z-index:6;
	position: absolute;
	left:50%;
	top:50%;
	width:294px;
	height:166px;
	margin:-83px 0 0 -147px;
	background:rgba(0,0,0,.35);
}
.video_box .video_info .img_box .play{
	z-index:8;
	position: absolute;
	left:50%;
	top:50%;
	width:64px;
	height:64px;
	margin:-32px 0 0 -32px;
	background: url(../images/i_viplay.png);
}
.video_box .video_info .img_box .pause{background: url(../images/i_vipause.png);}
/*玩家互动*/
.player_box{
	width: 100%;
	height: 1304px;
	/*overflow: hidden;*/
	background: url(../images/i_bg5.jpg) no-repeat center;
	position: relative;
	z-index: 11;
}
.player_box .wrap>.title{
	float:right;
	width: 366px;
	height: 105px;
	margin:50px -175px 0 0 ;
}
.player_box .pl_con {
	position: relative;
	margin-top: 210px;
	width: 1004px;
	height: 577px;
	margin-left: 100px;
	background: url(../images/i_plbg2.png);
	transform: translateY(100px);
	-ms-transform: translateY(100px);
	-webkit-transform: translateY(100px);
	-moz-transform: translateY(100px);
	-o-transform: translateY(100px);
}
.player_box .play_type{
	position: absolute;
	width: 247px;
	height: 330px;
	top: 50%;
	left: -123.5px;
	margin-top: -165px;
	text-align: center;
}
.player_box .play_type span{
	display: block;
	position: relative;
	font-size: 26px;
	font-family: "方正清刻本悦宋简体";
	width: 247px;
	height: 90px;
	line-height: 90px;
	margin-bottom: 20px;
	color: #635538;
	cursor: pointer;
	background: url(../images/i_plbg1.png);
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
}
.player_box .play_type span.active{margin-left:-20px;}
.player_box .pl_info{
	width:100%;
	height:100%;
}
.player_box .pl_info>div{
	position: absolute;
	top: 50px;
	left: 170px;
}
.player_box .pl_info .ry{
	width:788px;
	height:481px;
	background: url(../images/i_plbg3.png);
}
.player_box .pl_info .ry .ry_head{
	position: relative;
	width: 740px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 10px;
	padding-bottom: 5px;
}
.player_box .pl_info .ry .ry_head:after{
	position:absolute;
	left:50%;
	bottom:0;
	display:inline-block;
	content:"";
	width:740px;
	height:4px;
	margin-left:-370px;
	background: url(../images/i_line3.png);
}
.player_box .pl_info .ry .ry_head img{
	width:82px;
	height:82px;
}
.player_box .pl_info .ry .ry_head span{
	position:relative;
	float:left;
	display:inline-block;
	line-height: 82px;
	font-size:24px;
	font-weight:600;
	color:#835c2c;
	text-align:center;
}
.player_box .pl_info .ry .ry_head span:first-of-type{width:150px;line-height: normal;}
.player_box .pl_info .ry .ry_head span:nth-of-type(2){width:170px;}
.player_box .pl_info .ry .ry_head span:nth-of-type(3){width:280px;}
.player_box .pl_info .ry .ry_head span:nth-of-type(4){width:140px;}
.player_box .pl_info .ry .ry_head span:nth-of-type(4):after{display:none;}
.player_box .pl_info .ry .ry_head span:after{
	position:absolute;
	right:0;
	top:50%;
	display:inline-block;
	content:"";
	width:1px;
	height:23px;
	margin-top:-11.5px;
	background: url(../images/i_line4.png);
}
.player_box .pl_info .ry .ry_body{
	position: relative;
	width: 760px;
	margin: 0 auto;
	overflow: auto;
	height: 360px;
	margin-right: 5px;
}
.player_box .pl_info .ry .ry_body .ry_tr{overflow:hidden;height:60px;line-height:60px;}
.player_box .pl_info .ry .ry_tr span{
	position: relative;
	float: left;
	display: inline-block;
	height: 60px;
	color: #835c2c;
	text-align: center;
}
.player_box .pl_info .ry .ry_tr span:after{
	display: inline-block;
	position: absolute;
	right: 0;
	top: 50%;
	content: "";
	width: 1px;
	height: 60px;
	margin-top: -30px;
	border-left: 1px dashed #CDB9A3;
}
.player_box .pl_info .ry .ry_tr:last-of-type span{overflow:hidden;}
.player_box .pl_info .ry .ry_tr span:last-of-type:after{display:none;}
.player_box .pl_info .ry .ry_tr span:first-of-type{width:150px;}
.player_box .pl_info .ry .ry_tr span:first-of-type i{
	position: absolute;
	left: 50%;
	top: 50%;
	display: inline-block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	margin: -16px 0 0 -16px;
	font-size: 20px;
	color: #fff;
	background: url(../images/i_point2.png);
}
.player_box .pl_info .ry .ry_tr span:first-of-type i.active{background: url(../images/i_point1.png);}
.player_box .pl_info .ry .ry_tr span:nth-of-type(2){width:170px;}
.player_box .pl_info .ry .ry_tr span:nth-of-type(2) img{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 46px;
	height: 46px;
	margin: -23px 0 0 -23px;
	border: 2px solid #8A6338;
	border-radius: 50px;
}
.player_box .pl_info .ry .ry_tr span:nth-of-type(3){font-size:20px;color:#8a6338;width:280px;}
.player_box .pl_info .ry .ry_tr span:nth-of-type(4){font-size:20px;color:#8a6338;width:140px;}
.player_box .pl_info .topic{
	width:788px;
	height:481px;
	background: url(../images/i_plbg3.png);
}
.player_box .pl_info .topic .banner{
	position:relative;
	width: 728px;
	/*height: 340px;*/
	margin:0 auto;
	margin-top: 35px;
}
.player_box .pl_info .topic .banner .swiper-container{
	width: 566px;
	/*height: 245px;*/
}
.player_box .pl_info .topic .banner .swiper-slide h3{
	margin-bottom: 20px;
	font-size:24px;
	color:#835c2c;
	text-align:center;
}
.player_box .pl_info .topic .banner .swiper-slide .title{
	margin:20px 0 10px 0;
	font-size:18px;
	color:#835c2c;
	font-weight:600;
}
.player_box .pl_info .topic .banner .swiper-slide .sub_title{
	font-size:14px;
	color:#835c2c;
}
.player_box .pl_info .topic .banner .swiper-button-prev3{
	width: 60px;
	height: 55px;
	top: 155px;
	margin-top: 0;
	background: url(../images/i_plprev.png);
}
.player_box .pl_info .topic .banner .swiper-button-next3{
	width:60px;
	height:55px;
	top: 155px;
	margin-top: 0;
	background:url("../images/i_plnext.png");
}
.player_box .pl_info .topic .swiper-slide a{
	position:relative;
	display:block;
	width:566px;
	height:245px;
}
.player_box .pl_info .topic .swiper-slide a .go_btn{
	position: absolute;
	left: 50%;
	top: 50%;
	display: block;
	width: 152px;
	height: 40px;
	line-height: 40px;
	margin: -20px 0 0 -76px;
	font-size: 18px;
	color: #fff;
	text-align: center;
	border: 2px solid #fff;
}
.player_box .pl_info .topic .swiper-slide a.active:before{
	position:absolute;
	left: 0;
	top:0;
	display:inline-block;
	content:"";
	width:100%;
	height:100%;
	background:rgba(0,0,0,.8);
}
.player_box .pl_info .girl{
	width:966px;
	height:508px;
}
/*foot*/
.i_main .footer_bottom{
	width: 100%;
	height: 449px;
	/*overflow: hidden;*/
	background: url(../images/i_bg5_1.jpg) no-repeat center;
	position: relative;
	z-index: 11;
}
.i_main .c_media{
	width: 100%;
	height: 126px;
	margin: 160px 0 0 0px;
}
.i_main .c_media ul{
	width:100%;
	height:100%;
	overflow: hidden;
}
.i_main .c_media ul li{
	position:relative;
	width:166px;
	height:126px;
	float:left;
}
.i_main .c_media ul li a{
	display:block;
	width:166px;
	height:126px;
}
.i_main .c_media ul li:after{
	position: absolute;
	right: -80px;
	top: 50%;
	display: inline-block;
	content: "";
	width: 14px;
	height: 84px;
	margin-top: -42px;
	background: url(../images/i_footbg.png) no-repeat center;
}
.i_main .c_media ul li:last-of-type:after{display:none;}
.i_main .c_media ul li:nth-child(1){
	background:url(../images/i_wx.png) no-repeat center;
	margin-left:142px;
}
.i_main .c_media ul li:nth-child(1) .erweima{
	display: block;
	width: 100px;
	height: 100px;
	margin: 12px 0 0 53px;
}
.i_main .c_media ul li:nth-child(1) .erweima img{
	display: block;
	width:100%;
	height:100%;
}
.i_main .c_media ul li:nth-child(2){
	background:url(../images/i_wb.png) no-repeat center;
	margin-left:156px;
}
.i_main .c_media ul li:nth-child(3){
	background:url(../images/i_qq.png) no-repeat center;
	margin-left:135px;
}
.player_box .c_media ul li a{
	display: block;
	width:100%;
	height:100%;
}
/*悬浮窗*/
.float{
	width: 200px;
	overflow: hidden;
	position:fixed;
	right:46px;
	top:55%;
	transform: translate(0,-50%);
	-webkit-transform: translate(0,-50%);
	z-index:20;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
}
.float.active{
	right:-183px;
}
.float .c_float{
	width:181px;
	height:605px;
	background:url(../images/i_float.png) no-repeat center;
	overflow: hidden;
	margin: 0 0 0 17px;
}
.float .c_float a{
	display: block;
	width: 127px;
	height: 56px;
	margin: 0 auto;
	margin-top: 25px;
}
.float .c_float a:hover{
	opacity: .9;
}
.float .c_float .f_code{
	position:relative;
	display: block;
	width: 112px;
	height: 112px;
	margin: 60px auto 0;
}
.float .c_float .f_code i {
	display: block;
	width: 108px;
	height: 15px;
	background: url(../images/i_light.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 50%;
	top: 5px;
	margin-left: -54px;
	animation: vSmall 4s linear infinite;
	-webkit-animation: vSmall 4s linear infinite;
	-moz-animation: vSmall 4s linear infinite;
	-o-animation: vSmall 4s linear infinite;
}
.float .c_float .f_title{
	font-size: 14px;
	color: #846444;
	text-align: center;
	margin-top: 10px;
}
.float .c_float .f_title span{
	font-weight:600;
}
.float .c_float .f_title2{
	font-size: 12px;
	color: #333333;
	text-align: center;
	margin-top: 3px;
}
.float .c_float .back{
	position: absolute;
	display: block;
	width: 29px;
	height: 23px;
	left: 50%;
	bottom: 70px;
	margin-left: -8px;
	background: url(../images/i_top.png);
	cursor: pointer;
}
.float.active .c_float .op_close img{
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
.float .c_float .op_close{
	width:17px;
	height:49px;
	position:absolute;
	left:0;
	top:135px;
	cursor: pointer;
	background:url("../images/i_sj1.png");
}
.float .c_float .op_close img{
	width: 7px;
	height: 12px;
	display: block;
	margin: 18px 0 0 8px;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
}
/*左侧弹窗*/
.left_select {
	position: fixed;
	left: 0;
	top: 50%;
	/*width: 170px;*/
	height: 532px;
	z-index: 100;
	/*background: url(../images/i_navbg.png) no-repeat center;*/
	transform: translate(0,-50%);
	-webkit-transform: translate(0,-50%);
}
.left_select .swiper-pagination{
	width: 2px;
	height: 345px;
	background: url(../images/i_nation1.png) no-repeat center;
	position: absolute;
	left: 25px;
	top: 50%;
	margin-top: -170px;
}
.left_select .swiper-pagination .swiper-pagination-bullet{
	display: block;
	width:190px;
	height:37px;
	background:none;
	opacity: 1;
	margin-left: -18px;
	cursor: pointer;
}
.left_select .swiper-pagination .swiper-pagination-bullet .pag_img{
	width:37px;
	height:37px;
	float:left;
	overflow: hidden;
}
.left_select .swiper-pagination .swiper-pagination-bullet .pag_img img:nth-child(1){
	width:30px;
	height:30px;
}
.left_select .swiper-pagination .swiper-pagination-bullet .pag_img img:nth-child(2){
	display:none;
}
.left_select .swiper-pagination .swiper-pagination-bullet .pag_p{
	font-family: "方正清刻本悦宋简体";
	font-size: 20px;
	font-weight: 600;
	color: #5d5145;
	line-height: 37px;
	float: left;
}
.left_select .swiper-pagination .swiper-pagination-bullet:nth-child(1){margin-top: -48px;}
.left_select .swiper-pagination .swiper-pagination-bullet:nth-child(2){margin-top: 64px;}
.left_select .swiper-pagination .swiper-pagination-bullet:nth-child(3){margin-top: 64px;}
.left_select .swiper-pagination .swiper-pagination-bullet:nth-child(4){margin-top: 64px;}
.left_select .swiper-pagination .swiper-pagination-bullet:nth-child(5){margin-top: 64px;}
.left_select .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active .pag_img img:nth-child(1){
	display: none;
}
.left_select .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active .pag_img img:nth-child(2){
	display: block;
}
.left_select .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active .pag_p{
	display: block;
	color: #463c31;
	font-size: 27px;
}

.left_select .swiper-pagination .swiper-pagination-bullet:nth-of-type(1) .pag_p{
	width: 100px;
	height: 35px;
	background: url(../images/i_navtxt1.png) no-repeat center;
	background-position: -40px -3px;
}
.left_select .swiper-pagination .swiper-pagination-bullet:nth-of-type(2) .pag_p{
	width: 100px;
	height: 35px;
	background: url(../images/i_navtxt1.png) no-repeat center;
	background-position: -40px -102px;
}
.left_select .swiper-pagination .swiper-pagination-bullet:nth-of-type(3) .pag_p{
	width: 100px;
	height: 35px;
	background: url(../images/i_navtxt1.png) no-repeat center;
	background-position: -38px -200px;
}
.left_select .swiper-pagination .swiper-pagination-bullet:nth-of-type(4) .pag_p{
	width: 100px;
	height: 35px;
	background: url(../images/i_navtxt1.png) no-repeat center;
	background-position: -38px -302px;
}
.left_select .swiper-pagination .swiper-pagination-bullet:nth-of-type(5) .pag_p{
	width: 100px;
	height: 35px;
	background: url(../images/i_navtxt1.png) no-repeat center;
	background-position: -38px -403px;
}


.left_select .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:nth-of-type(1) .pag_p{
	width: 130px;
	height: 35px;
	background: url(../images/i_navtxt2.png) no-repeat center;
	background-position: -40px 0px;
}
.left_select .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:nth-of-type(2) .pag_p{
	width: 130px;
	height: 35px;
	background: url(../images/i_navtxt2.png) no-repeat center;
	background-position: -40px -99px;
}
.left_select .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:nth-of-type(3) .pag_p{
	width: 130px;
	height: 35px;
	background: url(../images/i_navtxt2.png) no-repeat center;
	background-position: -38px -197px;
}
.left_select .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:nth-of-type(4) .pag_p{
	width: 130px;
	height: 35px;
	background: url(../images/i_navtxt2.png) no-repeat center;
	background-position: -38px -299px;
}
.left_select .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:nth-of-type(5) .pag_p{
	width: 130px;
	height: 35px;
	background: url(../images/i_navtxt2.png) no-repeat center;
	background-position: -38px -400px;
}

/*特色查看大图弹框*/
.b_img{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.9);
	position:fixed;
	left:0;
	top:0;
	z-index:9999;
	display: none;
}
.b_img .swiper-container{
	top: 50%;
	transform: translate(0,-50%);
	-webkit-transform: translate(0,-50%);
	width: 800px;
	margin: 0 auto 0;
	position: relative;
}
/*.b_img .b_cimg>.swiper-slide{*/
	/*width:1000px!important;*/
	/*opacity:0!important;*/
/*}*/
/*.b_img .b_cimg>.swiper-slide-active{*/
	/*opacity:1!important;*/
/*}*/
.b_img .i_close {
	z-index: 100;
	display: block;
	width: 36px;
	height: 38px;
	position: absolute;
	right: 0;
	top: 0;
	cursor:pointer;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
}
.b_img .i_close:hover{
	transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
	-o-transform:rotate(360deg);
}
.b_img .b_cimg .z_img{
	display: block;
	max-width: 100%;
	margin: 0 auto;
	width:auto;
	height:auto;
}
.b_img .swiper-button-prev{
	background:url("../images/i_prev1.png");
	background-size:100% 100%;
}
.b_img .swiper-button-next{
	background:url("../images/i_next1.png");
	background-size:100% 100%;
}
/*新闻list页面*/
.list{
	position: relative;
	min-width: 1200px;
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;
	background: #F8F6F0;
}
.list .wrap{overflow: hidden;}
.list .top_img{
	width: 1920px;
	height: 400px;
	margin: 0 auto;
}
.list .top_img .logo{
	display: block;
	width:131px;
	height:126px;
	position: absolute;
	left: 35px;
	top: 30px;
}
.list .list_news{
	overflow: hidden;
}
.list .float {
	width: 181px;
	float: left;
	position: static;
	margin-top: 27px;
	transform: translate(0,0);
	-webkit-transform: translate(0,0);
}
.list .float .c_float {margin: 0;}
.list .float .op_close,.list .float .back{display:none;}
.list .float .c_float .btn{margin-top: 70px;}
.list .float .c_float a {
	display: block;
	width: 118px;
	height: 35px;
	margin-bottom: 6px;
	margin-top: 0;
}
.list .float .c_float .f_code {
	display: block;
	width: 122px;
	height: 122px;
	margin: 25px auto 0;
}
.list .float .c_float .f_title {font-size: 16px;}
.list .news_box {
	position: relative;
	width: 828px;
	margin: 65px auto 0 85px;
	float: left;
	transform: none;
}
.list .news_box .hd li {
	width: 108px;
	height: 40px;
	line-height: 30px;
	margin-right: 0;
	font-size: 16px;
}
.list .news_box .hd li.on:after {
	display: inline-block;
	content: "";
	width: 108px;
	height: 2px;
	background: #8A6338;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -54px;
}
.list .news_box .hd li a {
	font-weight: 100;
	color: #7f7f7f;
}
.list .news_box .hd li.on a{color:#8a6338;}
.list .news_box .hd {
	border-bottom: none;
	width: 540px;
	margin: 0 auto;
	margin-bottom: 25px;
}
.list .news_box .bd li {
	font-size: 20px;
	height: 106px;
	line-height: inherit;
	border-bottom: 1px solid #E1E1E1;
}
.list .news_box .bd li:after {display:none;}
.list .news_box .bd li a {
	width: 100%;
	color: #858585;
	margin-top: 20px;
}
.list .news_box .bd li a .con{
	float: left;
	width: 70%;
	margin-left: 25px;
}
.list .news_box .bd li a .con span{
	display:block;
	font-size:20px;
	float:none;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.list .news_box .bd li a .con span.sub{
	margin-top: 10px;
	color:#BBBBBB;
	font-size:16px;
}
.list .news_box .bd li:hover span{color: #8a6338;}
.list .news_box .bd span{
	float: right;
	font-size: 14px;
	color: #9C9B9B;
}
.list .news_box .bd li i {
	float: left;
	font-size: 17px;
	font-style: normal;
	display: inline-block;
	width: 70px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	background: #8A6338;
	border-radius: 30px;
}
.list .news_box .page {
	text-align: center;
	margin: 40px 0;
}
.list .news_box .page li{
	font-size: 14px;
	display: inline-block;
	width: auto;
	height: 19px;
	line-height: 19px;
	background: none;
	min-width: inherit;
	border-bottom: none!important;
	cursor:pointer;
}
.list .news_box .page li span{
	font-size: 14px;
	float: none;
}
.list .news_box .page li a{
	float: none;
	overflow: inherit;
	width: auto;
}
.list .news_box .page li:after{
	display:none;
}
/*新闻详情*/
.list .detailbox{
	position: relative;
	width: 828px;
	margin: 65px auto 0 85px;
	float: left;
}
.list .detailbox .article_title{
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #D6D6D6;
	text-align:center;
}
.list .detailbox .article_title>h3{
	font-size: 24px;
	font-weight: 600;
	color: #8a6338;
}
.list .detailbox .article_title>span{
	display:inline-block;
	font-size:14px;
	color: #a9a9a9;
	margin-top:10px;
}
.list .detailbox .article_title>span>span:nth-of-type(1){margin-right:20px;}
.list .detailbox .content{min-height: 500px;}
.list .detailbox .content p {
	font-size: 16px;
	color: #8a8a8a;
	line-height: 25px;
	word-break: break-all;
}
.list .detailbox .content img {
	display: block;
	max-width:460px;
	margin: 20px auto;
}
.list .wrap1{
	width: 1200px;
	position: absolute;
	top:30px;
	left: 50%;
	margin-left: -600px;
}
.list .nav_ul{
	width: 300px;
	overflow: hidden;
	float: right;
}
.list .nav_ul li{
	position: relative;
	width: 95px;
	height: 50px;
	font-size: 20px;
	float: left;
	text-align: center;
	margin-right: 45px;
}
.list .nav_ul li:after{
	position: absolute;
	right: -22px;
	top: 50%;
	display: inline-block;
	content: "";
	width: 5px;
	height: 5px;
	margin-top: -12.5px;
	border-radius: 5px;
	background: #fff;
}
.list .nav_ul li:last-of-type:after{display:none;}
.list .nav_ul li a{
	color:rgba(255,255,255,.5);
	display: block;
}
.list .nav_ul li a i{
	display: block;
	font-size: 12px;
}
.list .nav_ul li.active a{
	color:rgba(255,255,255,1);
}
.list .nav_ul li:hover a{
	color:rgba(255,255,255,1);
}

@keyframes vSmall{
	0%{transform: translateY(90px);}
	50%{transform: translateY(0);}
	100%{transform: translateY(90px);}
}
@-webkit-keyframes vSmall{
	0%{transform: translateY(90px);}
	50%{transform: translateY(0);}
	100%{transform: translateY(90px);}
}
@-moz-keyframes vSmall{
	0%{transform: translateY(90px);}
	50%{transform: translateY(0);}
	100%{transform: translateY(90px);}
}
@-o-keyframes vSmall{
	0%{transform: translateY(90px);}
	50%{transform: translateY(0);}
	100%{transform: translateY(90px);}
}

/*@-webkit-keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translate3d(0, 100px, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@-moz-keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translate3d(0, 100px, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@-ms-keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translate3d(0, 100px, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@-o-keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translate3d(0, 100px, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translate3d(0, 100px, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}*/

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes scales{0%{transform: scale(1); }50% {transform: scale(0.9);}100% {transform: scale(1);}}
@-webkit-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(0.9);}100% {-webkit-transform: scale(1);}}
@-moz-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(0.9);}100% {-webkit-transform: scale(1);}}
@-o-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(0.9);}100% {-webkit-transform: scale(1);}}
@-ms-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(0.9);}100% {-webkit-transform: scale(1);}}