<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>{$seo_title}</title>
    <meta name="Keywords" content="{$seo_key}">
    <meta name="Description" content="{$seo_desc}">
    <link rel="shortcut icon" href="{$smarty.const.STATIC_DOMAIN}6.0/images/favicon.ico?{$smarty.const.VERSION}" />
    <link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}6.0/m/css/public.css?{$smarty.const.VERSION}" />
    <link href="{$smarty.const.STATIC_DOMAIN}6.0/m/css/swiper-3.4.2.min.css?{$smarty.const.VERSION}" rel="stylesheet">
    <link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}6.0/m/css/x-cover.css?{$smarty.const.VERSION}" />
    <script src="{$smarty.const.STATIC_DOMAIN}6.0/m/js/jquery-1.11.2.min.js?{$smarty.const.VERSION}"></script>
    <script>
        (function (doc, win) {
            var docEl = doc.documentElement,
            // 手机旋转事件,大部分手机浏览器都支持 onorientationchange 如果不支持，可以使用原始的 resize
                    resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                    recalc = function () {
                        //clientWidth: 获取对象可见内容的宽度，不包括滚动条，不包括边框
                        var clientWidth = docEl.clientWidth;
                        if (!clientWidth) return;
                        docEl.style.fontSize = 16*(clientWidth / 320) + 'px';
                    };

            recalc();
            //判断是否支持监听事件 ，不支持则停止
            if (!doc.addEventListener) return;
            //注册翻转事件
            win.addEventListener(resizeEvt, recalc, false);

        })(document, window);
    </script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?ad567e4b9746e4c328221ee5aa0aa602";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
        <script>
   //push 手动上报方法，event 事件触发方法 ，ready js加载完成回调 
   //push 参数，name：页面名称，behavior 行为 
   //event 参数，event：事件名称，args 拓展参数 
   var HLog={ 
    push: function(name,behavior){},
    setUser:function(){},
    event:function(event,args){},
    ready:function(){}
    };
   HLog.config={
       "senseHash":0, //hash锚点是否进入url统计
       "senseQuery":0, //url参数是否进入url统计
       "ignoreParams":[] //开启url参数上报时，可忽略部分参数拼接上报；
   };
   (function() {
      var hl = document.createElement("script");
      hl.src = "http://spro.yingxiong.com/datastat/jsapi/jssdk/appid/47/client/1/filter/stat.js";
      hl.async = "async";
      var s = document.getElementsByTagName("script")[0];
      HLog.ready = function(){
        HLog.push('reflash')
      };
      s.parentNode.insertBefore(hl, s);
   })();
</script>
</head>
<body>
<!--header-->
<header class="header">
    <a href="" class="logo"><img src="{$global.logo_img}" alt=""></a>
    <div class="h_text">
        <p class="h_p01">{$global.title}</p>
        <p class="h_p02">{$global.sub_title}</p>
    </div>
    <a href="javascript:;" class="h_loadGame"><img src="{$smarty.const.STATIC_DOMAIN}6.0/m/images/wrap_loadGame.png?{$smarty.const.VERSION}" alt=""></a>
    <a href="/m/index" class="h_gohome"><img src="{$smarty.const.STATIC_DOMAIN}6.0/m/images/wrap_gohome.png?{$smarty.const.VERSION}" alt=""></a>
</header>

<!--内容-->
<div class="i_main">
    <div>
        <!--第一部分-->
        <div class="logo"><img src="{$smarty.const.STATIC_DOMAIN}6.0/m/images/x-big-logo.png?{$smarty.const.VERSION}" alt=""/></div>
        <div class="slogan"><img src="{$smarty.const.STATIC_DOMAIN}6.0/m/images/x-slogan.png?{$smarty.const.VERSION}" alt=""/></div>
        <div class="videoBtn">
            <a target="_blank" href="javascript:;"><img src="{$smarty.const.STATIC_DOMAIN}6.0/m/images/x-video.png?{$smarty.const.VERSION}" class="js_video_play" data-url="{$cover_video[0].url}"></a>
        </div>
        <div class="down"></div>
        <div class="img-box">
            <ul class="img-box-left">
                <li data-index="1" class="active"><span></span></li>
                <li data-index="2"><span></span></li>
                <li data-index="3"><span></span></li>
                <li data-index="4"><span></span></li>
                <li data-index="5"><span></span></li>
                <li data-index="6"><span></span></li>
                <li><span></span></li>
            </ul>
            <div class="img-box-right">
                <img data-index="1" src="{$smarty.const.STATIC_DOMAIN}6.0/m/images/x-cont1.png?{$smarty.const.VERSION}" alt="">
                <img data-index="2" class="hidden" src="{$smarty.const.STATIC_DOMAIN}6.0/m/images/x-cont2.png?{$smarty.const.VERSION}" alt="">
                <img data-index="3" class="hidden" src="{$smarty.const.STATIC_DOMAIN}6.0/m/images/x-cont3.png?{$smarty.const.VERSION}" alt="">
                <img data-index="4" class="hidden" src="{$smarty.const.STATIC_DOMAIN}6.0/m/images/x-cont4.png?{$smarty.const.VERSION}" alt="">
                <img data-index="5" class="hidden" src="{$smarty.const.STATIC_DOMAIN}6.0/m/images/x-cont5.png?{$smarty.const.VERSION}" alt="">
                <img data-index="6" class="hidden" src="{$smarty.const.STATIC_DOMAIN}6.0/m/images/x-cont6.png?{$smarty.const.VERSION}" alt="">
                <a href="/m/index"><img src="{$smarty.const.STATIC_DOMAIN}6.0/m/images/x-go-guanwang.png?{$smarty.const.VERSION}" class="go"></a>
            </div>
        </div>
        <div class="happy">
            <img src="{$smarty.const.STATIC_DOMAIN}6.0/m/images/x-happy.png?{$smarty.const.VERSION}" alt="">
        </div>
    </div>
</div>
<!--弹框-->
<div class="tips hidden">
    <div class="tips-img">
        <ul>
            <li><a href="javascript:;" class="js_wap_down stat_down" target="_blank"></a></li>
            <li><a href="https://www.taptap.com/app/23420" class="tap stat_tap" target="_blank"></a></li>
        </ul>
        <div class="close"></div>
    </div>
</div>
</body>
{download}
{video_play}
<script src="{$smarty.const.STATIC_DOMAIN}6.0/m/js/swiper-3.4.2.min.js?{$smarty.const.VERSION}" type="text/javascript"></script>
<script>
    $('.h_loadGame').click(function () {
        $('.tips').slideDown();
    })
    $('.tips').find('.close').click(function () {
        $('.tips').slideUp();
    })
    $('.img-box-left').find('li').click(function () {
        var index =$(this).attr('data-index');
        if(index){
            $('.img-box-left').find('li').removeClass('active');
            $(this).addClass('active');
            $('.img-box-right').find('img').hide();
            $('.img-box-right').find('img[data-index='+index+']').show();
        }
    })
</script>
</html>