
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="{$seo_key}" />
    <meta name="description" content="{$seo_desc}" />
    {csrf}
    <title>{$seo_title}</title>
    <link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}7.0/m/css/swiper-3.4.2.min.css?{$smarty.const.VERSION}" />
    <link rel="stylesheet" href="http://cdnstatic.yingxiong.com/common/css/yx.css?{$smarty.const.VERSION}" />
    <link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}7.0/m/css/public.css?{$smarty.const.VERSION}" />
    <link href="{$smarty.const.STATIC_DOMAIN}7.0/m/css/swiper-3.4.2.min.css?{$smarty.const.VERSION}" rel="stylesheet">
    <link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}7.0/m/css/cover.css?{$smarty.const.VERSION}" />

<script src="{$smarty.const.STATIC_DOMAIN}7.0/m/js/jquery-1.11.2.min.js?{$smarty.const.VERSION}"></script>
    <script>
        (function (doc, win) {
            var docEl = doc.documentElement,
            // 手机旋转事件,大部分手机浏览器都支持 onorientationchange 如果不支持，可以使用原始的 resize
                    resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                    recalc = function () {
                        //clientWidth: 获取对象可见内容的宽度，不包括滚动条，不包括边框
                        var clientWidth = docEl.clientWidth;
                        if (!clientWidth) return;
                        docEl.style.fontSize = 16*(clientWidth / 320) + 'px';
                    };

            recalc();
            //判断是否支持监听事件 ，不支持则停止
            if (!doc.addEventListener) return;
            //注册翻转事件
            win.addEventListener(resizeEvt, recalc, false);

        })(document, window);
    </script>
</head>
<body>
    <!--header-->
    <header class="header">
        <a href="{myurl name='wap/site/index'}" class="logo"><img src="{$global.logo_img}" alt=""></a>
        <div class="h_text">
            <p class="h_p01">{$global.title}</p>
            <p class="h_p02">{$global.sub_title}</p>
        </div>
        <div class="h_nav">
            <span class="d_t_t"></span>
            <span class="d_t_m"></span>
            <span class="d_t_b"></span>
        </div>
        <a href="{myurl name='wap/site/index'}" class="h_loadGame"><img src="{$smarty.const.STATIC_DOMAIN}7.0/m/images/enter.png?{$smarty.const.VERSION}" alt=""></a>
        <ul class="header_nav">
            <li>
                <a href="{myurl name='wap/site/index'}">首页</a>
            </li>
            <li>
                <a href="{myurl name='wap/article/list,type=>zx,page=>1'}">游戏资讯</a>
            </li>
            <li>
                <a href="{myurl name='wap/article/role'}">武将介绍</a>
            </li>
            <li>
                <a href="{myurl name='wap/article/hero-list'}">将军殿</a>
            </li>
            <li>
                <a href="{if $global.group_url_one}{$global.group_url_one}{else}javascript:yx_showTips('敬请期待');{/if}">QQ群</a>
            </li>
            <li class="last_li">
                <a href="javascript:;">公众号</a>
                <div class="li_mask"></div>
                <div class="wx_code">
                    <img class="li_close" src="//cdnstatic.yingxiong.com/ifsg/6.0/m/images/c.png?1.0.14" alt="">
                    <img class="li_ewm" src="{$global.wx_img}" alt="">
                </div>
            </li>
            <li>
                <a href="{myurl name='wap/site/mrt'}">名人堂</a>
            </li>
        </ul>
    </header>
    <!--内容-->
    <div class="i_main">
        <div>
            <!--第一部分-->
            <div class="kv">
                <div class="slogan">
                    <div class="videoBtn">
                        <a href="javascript:;" class="js_video_play" data-url="{$cover_video[0].url}"><img src="{$smarty.const.STATIC_DOMAIN}7.0/m/images/play.png?{$smarty.const.VERSION}" class="video_play"></a>
                    </div>
                </div>
                <a href="javascript:;" class="down_btn js_wap_down stat_cover_down"></a>
                <div class="line"></div>
            </div>
            <div class="page_two">
                
                <div class="lh1"></div>
                <div class="lh2"></div>
                <div class="float">
                    <a href="{myurl name='m/p/active'}" target="_blank"></a>
                    <div class="fl_txt">
                        <i></i>
                    </div>
                </div>
                <div class="title1"></div>      
                <div class="gift_list">
                    <ul>
                        <li>
                            <img src="{$smarty.const.STATIC_DOMAIN}7.0/m/images/li1.png?{$smarty.const.VERSION}" alt="">
                            <p class="txt_info">老用户召回系统</p>
                            <p class="info2">新服返利盼你回来已久，称号献礼实属“众望所归”</p>
                            <a href="http://jws.yingxiong.com/info/2018/1016/5603.html" target="_blank"></a>
                            <i> </i>
                        </li>
                        <li>
                            <img src="{$smarty.const.STATIC_DOMAIN}7.0/m/images/li2.png?{$smarty.const.VERSION}" alt="">
                            <p class="txt_info">新用户拉新系统</p>
                            <p class="info2">新人受邀三国壕礼相赠，兄弟征战一起雄霸天下</p>
                            <a href="http://jws.yingxiong.com/info/2018/1016/5603.html" target="_blank"></a>
                            <i> </i>
                        </li>
                        <li>
                            <img src="{$smarty.const.STATIC_DOMAIN}7.0/m/images/li3.png?{$smarty.const.VERSION}" alt="">
                            <p class="txt_info">燃花福利</p>
                            <p class="info2">忽如一夜春风来，千城万镇礼花开</p>
                            <a href="http://jws.yingxiong.com/info/2018/1016/5603.html" target="_blank"></a>
                            <i> </i>
                        </li>
                        <li>
                            <img src="{$smarty.const.STATIC_DOMAIN}7.0/m/images/li4.png?{$smarty.const.VERSION}" alt="">
                            <p class="txt_info">寻找烟花</p>
                            <p class="info2">完成任务获礼花，庆典宝箱全民抢</p>
                            <a href="http://jws.yingxiong.com/info/2018/1016/5603.html" target="_blank"></a>
                            <i> </i>
                        </li>
                        <li>
                            <img src="{$smarty.const.STATIC_DOMAIN}7.0/m/images/li5.png?{$smarty.const.VERSION}" alt="">
                            <p class="txt_info">充值送礼</p>
                            <p class="info2">充值返钻天天有，超值福利等你来</p>
                            <a href="http://jws.yingxiong.com/info/2018/1016/5603.html" target="_blank"></a>
                            <i> </i>
                        </li>
                        <li>
                            <img src="{$smarty.const.STATIC_DOMAIN}7.0/m/images/li6.png?{$smarty.const.VERSION}" alt="">
                            <p class="txt_info">普天同庆</p>
                            <p class="info2">兄弟齐心燃烟花，诱人红包大放送</p>
                           <a href="http://jws.yingxiong.com/info/2018/1016/5603.html" target="_blank"></a>
                            <i> </i>
                        </li>
                    </ul>
                </div>
                <div class="page3">
                    <div class="title1"></div>  
                    <div class="h_banner h_banner1">
                    {fragment var=banner code=banner_cover size=5}
                    <ul class="swiper-wrapper">
                    {if $banner neq ''}
                        {foreach $banner as $v}
                        <li class="swiper-slide">
                        <a href="{if $v.url}{$v.url}{else}javascript:;{/if}"><img src="{$v.thumb}" alt=""></a>
                        </li>
                        {/foreach}
                        {/if}
                    </ul>
                </div>
                
                    <div class="swiper-pagination"></div>
                </div>
            <!--第二部分-->
            </div>
        </div>
    </div>
    <script type="text/javascript" src="//cdnstatic.yingxiong.com/footer/js/footer.js?{$smarty.const.VERSION}"></script>
</body>
{download}
{video_play}
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}7.0/m/js/swiper.min.js?{$smarty.const.VERSION}"></script>
<script src="http://cdnstatic.yingxiong.com/common/js/yx.js?{$smarty.const.VERSION}"></script>
<script>
$(function (){
    wap_cover();
    var mySwiper01 = new Swiper('.h_banner1', {
                loop: true,
                // autoplay: 3500,
                slideToClickedSlide: true,
                paginationClickable: true,
                pagination : '.swiper-pagination',
                autoplayDisableOnInteraction: false,
                paginationClickable: true,
                effect: 'coverflow',
                slidesPerView: 1.5,
                centeredSlides: true,
                coverflow: {
                    rotate: 50,
                    stretch: 60,
                    depth: 100,
                    modifier: 1,
                    slideShadows: true
                },
            });
    //导航变化
    var clickNumber =0;
    $(".h_nav").on("click", function(e){
        e.stopPropagation();
        if(clickNumber %2==0){
            $(".d_t_t").addClass("d_t_t_tran");
            $(".d_t_m").addClass("d_t_m_tran");
            $(".d_t_b").addClass("d_t_b_tran");
            $(".header_nav").stop().slideDown();
        }else{
            $(".d_t_t").removeClass("d_t_t_tran");
            $(".d_t_m").removeClass("d_t_m_tran");
            $(".d_t_b").removeClass("d_t_b_tran");
            $(".header_nav").stop().slideUp();
        }
        clickNumber++;
    });
    $(".header_nav li").on("click" , function (){
        $(this).addClass("active").siblings().removeClass("active");
    });
    $(".last_li a").click(function (){
        $(".li_mask").stop().fadeIn();
        $(".wx_code").stop().fadeIn();
    });
    $(".li_close").click(function (){
        $(".li_mask").stop().fadeOut();
        $(".wx_code").stop().fadeOut();
    });
    //tap
    var clicknum = 1;
    $("header .h_d").click(function() {
        if(clicknum % 2 !== 0) {
            $(this).siblings(".nav-content1").slideDown();
        } else {
            $(this).siblings(".nav-content1").slideUp();
        }
        clicknum++;
    });
    $(".gift_list ul li").click(function(){
        $(this).addClass("active").siblings().removeClass("active");
    })
});
</script>
</html>