.main_md {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	height: auto;
	margin-top: 43px;
}

.main_md .qbmd {
	width: 210px;
	height: 75px;
	margin-left: 535px;
	background:url(../images/qbmd.png) no-repeat center top;
	background-size:100% 100%;
	color:#fff;
	font-size:23px;
	text-align: center;
	line-height:60px;
}

.main_container {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	margin-top: 38px;
	margin-bottom:70px;
}
.clear{
	clear:both;
}
.main_container dl{
	position: relative;
    width: 372px;
    height: 100%;
    overflow: hidden;
    float: left;
    margin: 8px 14px;
}
.main_container .dl_ma{
	margin:0 24px;
	margin-top:25px;
}
.main_container dl dd{
	background-color:#f5f6f3;
	opacity: 0.9;
	height:80px;
	width:372px;
}
.main_container dl dt{
	width: 372px;
    height: 223px;
}
.main_container dl dd p{
	text-align: center;
	color:#000;
	font-size:18px;
	padding-top:11px;
}

.main_container dl dd .second_p{
	font-size:14px;
	padding-top:11px;
}
.main_container dl dt img{
	display: block;
    width: 372px;
    height: 223px;
    /*margin: 5px auto 0;*/
}
.main_container dl span{
	position: absolute;
    width: 372px;
    height: 223px;
    background-color: rgb(235, 0, 59);
    opacity: 0;
    font-size: 23px;
    cursor: pointer;
    left: 0;
    top: 0;
}

.main_container dl span i{
	color:#fff;
	text-align: center;
	border:1px solid #fff;
	border-radius: 20px;
	/*width: 253px;*/
 	/*height: 38px;*/
 	min-width:330px;
 	min-height:38px;
	display: inline-block;
	margin-left:150px;
	margin-top:90px;
	line-height:38px;
}

.tck_small{
	width: 100%;
    height: 100%;
    background: url(../images/d.png);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
}
.tck_small .big_banner_bg{
	position:relative;
	width:1260px;
	height:604px;
	left:50%;
	top:50%;
	margin-left:-630px;
	margin-top:-302px;
}
.tck_small .big_banner{
	position:relative;
	width:1080px;
	height:604px;
	left:50%;
	margin-left:-540px;
	overflow: hidden;
}
.tck_small .big_banner .close_banner{
	width:80px;
	height:80px;
	cursor: pointer;
	position:absolute;
	background:url(../images/banner_close.jpg) no-repeat center;
	background-size:100% 100%;
	top:0;
	right:0;
	z-index:100;
}
.tck_small .big_banner .swiper-slide{
	width:1080px;
	height:604px;
}
.tck_small .swiper-button-prev{
	position:absolute;
	width:34px;
	height:69px;
	background:url(../images/left.png) center top;
	background-size:100% 100%;
	left:0px;
}
.tck_small .swiper-button-next{
	position:absolute;
	width:34px;
	height:69px;
	background:url(../images/right.png) center top;
	background-size:100% 100%;
	right:0px;
}
.tck_small .big_banner .swiper-slide img{
	width:1080px;
	height:604px;
	display: block;
}


#dropdown{
	position:absolute;
	font-size:14px;
	color:#000;
	width:280px;
	height:32px;
	right:45px;
	top:20px;
	z-index:99;
}
#dropdown .input_k{
	width:191px;
	height:30px;
	display: inline-block;
	background-color:#dcdcdc;
	border:1px solid #dcdcdc;
}
#dropdown ul{
	width:190px;
	border:1px solid #dcdcdc;
	border-top:none;
	background-color:#fff;
	margin-left:35px;
	display: none;
}
#dropdown ul li{
	height:24px;
	text-indent:7px;
	line-height:24px;
}

#dropdown ul li:hover{
	background-color:#f1f1f1;
}
#dropdown em{
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
	padding-left:5px;
}

#dropdown .input_select{
	outline:0;
	border:0;
	width:159px;
	height:30px;
	text-align: center;
	color:#d1d1d1;
}

#dropdown .input_k .xlk{
	display: inline-block;
	width:18px;
	height:9px;
	background:url(../images/search.png) no-repeat center center;
	cursor: pointer;
	padding-left:5px;
}
#dropdown .input_k .xuanzhuan{
	transform: rotate(180deg);
}
