.hand-VR-content p .VR-padding{
   width: 56px !important;
}

.box1-txt p{
	font-size: 18px;
	color:#1c1c1c;
	text-align: right;
	line-height: 26px;
}
.box1-content-right .appStore,.box1-content-right .androidStore{
	display:block;
	margin-top: 15px;
	text-align: right;
}
