{include '../../layouts/wap/header.html'}
{include '../../layouts/wap/top.html'}
<div class="i_main">
	<div class="list">
		<div class="top_img"></div>
		<div class="detailbox">
			<div class="article_title">
				<a href="{myurl name='wap/list, id=>1975'}" class="go_list"></a>
				<h3>{$content.title}</h3>
				<span><span>发布时间：{$content.created_at|date_format:"%m/%d"}</span><span>作者：官方</span></span>
			</div>
			<div class="content">
				{$content.body}
			</div>
		</div>
	</div>
	<!--footer-->
	{include '../../layouts/wap/bottom.html'}
</div>
{include '../../layouts/wap/footer.html'}
