{include '../../layouts/wap/header.html'}
{include '../../layouts/wap/top.html'}
<div class="i_main">
    <div class="list">
        <div class="top_img"></div>
        <div class="news_box">
            <div class="title">公益资讯</div>
            <div class="bd">
                <ul class="news_info" data-id="{$id}">

                </ul>
                <div class="dropload-down">
                    <div class="dropload-noData">上滑加载更多...</div>
                </div>
            </div>
        </div>
    </div>
    <!--footer-->
    {include '../../layouts/wap/bottom.html'}
</div>
{include '../../layouts/wap/footer.html'}
<script type="text/javascript">
    var isScroll = 1;//是否可以滚动
    var page = 1; //页数
    var id = $(".news_box ul").attr("data-id");//类型
    var ajaxUrl = '/commonMethod/ajax-get-list';
    getListFu();
    window.onscroll=function(){
        var winH = window.innerHeight; //屏幕高度
        var allH = document.body.scrollHeight; //总高度
        var topH = window.pageYOffset; //滚动高度
        if((allH - (winH
                + topH)<10) && isScroll == 1){
            isScroll = 0;
            $(".dropload-noData").html("数据加载中...")
            getListFu();
        }
    }
    function getListFu(){
        $.ajax({
            type:"get",
            url:ajaxUrl,
            data:{
                page:page++,
                id:id,
            },
            success:function(data){
                var data = JSON.parse(data);
                if(data.status == 0&& data.msg.length>0){
//					if(page===1){
//						$('.news_list').empty();
//					}
                    var result = '';
                    for(var i = 0; i < data.msg.length; i++) {
                        result += "<li><a href=" + data.msg[i].wapLinkUrl+">"+data.msg[i].title+"</a><span>"+data.msg[i].created_at+"</span></li>";
                    }
                    $('.news_info').append(result);
                    $(".dropload-noData").html("上滑加载更多<i></i>");
                    isScroll = 1;
                } else{
                    $(".dropload-noData").html("没有更多信息了");
                }
            },
            error:function(data){
                console.log(data);
            }
        });
    }
</script>
