<div class="nav">
	<div class="wrap">
		<ul class="nav_ul">
			<div class="nav_div">
				<img src="{$global.logo_img}" alt="" />
				<p>
					<span>{$global.title}</span>
					<span>{$global.sub_title}</span>
				</p>
			</div>
			<li class="first_li {if $style=='index'}active{/if}">
				<a href="{myurl name='site/index'}" {if $style=='article'}target="_blank"{/if}>首页</a>
			</li>
			<li class="{if $style=='article'}active{/if}">
				<a href="{myurl name='article/list, id=>431'}" {if $style=='index'}target="_blank"{/if}>新闻</a>
			</li>
			<li>
				<a href="javascript:yx_showTips('敬请期待！');">视频</a>
			</li>
			<li>
				<a href="javascript:yx_showTips('敬请期待！');">资料库</a>
			</li>
			<li class="last_li">
				<a href="http://kf.yingxiong.com/Index/selfService?gid=150" target="_blank">客服</a>
			</li>
			<!--<div class="kf_phone">4009393333</div>-->
			<div class="right_nav">
				<a href="javascript:;" target="_blank">
					<img src="{$smarty.const.STATIC_DOMAIN}images/weixin.png?{$smarty.const.VERSION}" alt="" />
					<img src="{$smarty.const.STATIC_DOMAIN}images/weixin_h.png?{$smarty.const.VERSION}" alt="" />
				</a>
				<a href="{$global.wb_url}" target="_blank">
					<img src="{$smarty.const.STATIC_DOMAIN}images/weibo.png?{$smarty.const.VERSION}" alt="" />
					<img src="{$smarty.const.STATIC_DOMAIN}images/weibo_h.png?{$smarty.const.VERSION}" alt="" />
				</a>
				<a href="{$global.tb_url}" target="_blank">
					<img src="{$smarty.const.STATIC_DOMAIN}images/baidu.png?{$smarty.const.VERSION}" alt="" />
					<img src="{$smarty.const.STATIC_DOMAIN}images/baidu_h.png?{$smarty.const.VERSION}" alt="" />
				</a>
				<img src="{$global.wx_img}" alt="" class="t_erweima"/>
			</div>
		</ul>
	</div>
</div>