/*快速注册*/
.m3_con{text-align: left;width: 427px;margin: 0 auto;}
.m3_con ul li{height: 44px;line-height: 44px;margin-bottom: 10px;}
.m3_con ul li span{ margin-right: 10px; border: 1px solid #a36436;width: 288px; height: 42px; background: #6d4324;display: block;float: left;}
.m3_con ul li span input{ border: none; outline: none; background: none;padding:11px 20px; width: 246px; position: relative;top: -2px;color: #fff;}
.m3_con ul li span.special{width: 200px;height: 42px;}
.m3_con ul li span.special input{width: 158px;}
input::-webkit-input-placeholder {color: #fff !important;}
input:-moz-placeholder {color: #fff !important;}
input::-moz-placeholder {color: #fff !important;}
input:-ms-input-placeholder {color: #fff !important;}
.m3_con ul li a,.m6_about a{float: left;text-shadow: #fff 2px 2px 2px,#fff -2px -2px 2px; color: #341f0d;font-weight: bold; font-size: 1em; display: block;background: url(../../images/btn_bg.jpg) no-repeat; width: 127px;height: 44px;line-height: 39px;text-align: center;}
.stage-logo {
	-webkit-animation: pulseIn .3s .4s ease-out both;
	-moz-animation: pulseIn .3s .4s ease-out both;
	-ms-animation: pulseIn .3s .4s ease-out both;
	animation: pulseIn .3s .4s ease-out both
}
@-webkit-keyframes pulseIn {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		-webkit-transform: scale3d(2.6, 2.6, 2.6)
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		-webkit-transform: scale3d(1, 1, 1)
	}
}
@-moz-keyframes pulseIn {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		-moz-transform: scale3d(2.6, 2.6, 2.6)
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		-moz-transform: scale3d(1, 1, 1)
	}
}
@-o-keyframes pulseIn {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		-o-transform: scale3d(2.6, 2.6, 2.6)
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		-o-transform: scale3d(1, 1, 1)
	}
}
@-ms-keyframes pulseIn {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		-ms-transform: scale3d(2.6, 2.6, 2.6)
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		-ms-transform: scale3d(1, 1, 1)
	}
}
@keyframes pulseIn {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		transform: scale3d(2.6, 2.6, 2.6)
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		transform: scale3d(1, 1, 1)
	}
}

.stage-logo-bg {
	-webkit-animation: pulseInOut 1s .7s ease-out both;
	-moz-animation: pulseInOut 1s .7s ease-out both;
	-ms-animation: pulseInOut 1s .7s ease-out both;
	animation: pulseInOut 1s .7s ease-out both
}
@-webkit-keyframes pulseInOut {
	0% {
		opacity: 0;
		filter: alpha(opacity=0)
	}
	10% {
		opacity: 1;
		filter: alpha(opacity=100)
	}
	90% {
		-webkit-transform: scale3d(2.5, 2.5, 2.5)
	}
	100% {
		opacity: 0;
		filter: alpha(opacity=0)
	}
}
@-moz-keyframes pulseInOut {
	0% {
		opacity: 0;
		filter: alpha(opacity=0)
	}
	10% {
		opacity: 1;
		filter: alpha(opacity=100)
	}
	90% {
		-moz-transform: scale3d(2.5, 2.5, 2.5)
	}
	100% {
		opacity: 0;
		filter: alpha(opacity=0)
	}
}
@-o-keyframes pulseInOut {
	0% {
		opacity: 0;
		filter: alpha(opacity=0)
	}
	10% {
		opacity: 1;
		filter: alpha(opacity=100)
	}
	90% {
		-o-transform: scale3d(2.5, 2.5, 2.5)
	}
	100% {
		opacity: 0;
		filter: alpha(opacity=0)
	}
}
@-ms-keyframes pulseInOut {
	0% {
		opacity: 0;
		filter: alpha(opacity=0)
	}
	10% {
		opacity: 1;
		filter: alpha(opacity=100)
	}
	90% {
		-ms-transform: scale3d(2.5, 2.5, 2.5)
	}
	100% {
		opacity: 0;
		filter: alpha(opacity=0)
	}
}
@keyframes pulseInOut {
	0% {
		opacity: 0;
		filter: alpha(opacity=0)
	}
	10% {
		opacity: 1;
		filter: alpha(opacity=100)
	}
	90% {
		transform: scale3d(2.5, 2.5, 2.5)
	}
	100% {
		opacity: 0;
		filter: alpha(opacity=0)
	}
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}
@-webkit-keyframes lightSpeedIn {
	0% {
		-webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
		transform: translate3d(100%, 0, 0) skewX(-30deg);
		opacity: 0
	}
	60% {
		-webkit-transform: skewX(20deg);
		transform: skewX(20deg);
		opacity: 1
	}
	80% {
		-webkit-transform: skewX(-5deg);
		transform: skewX(-5deg);
		opacity: 1
	}
	100% {
		-webkit-transform: none;
		transform: none;
		opacity: 1
	}
}
@-moz-keyframes lightSpeedIn {
	0% {
		-webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
		transform: translate3d(100%, 0, 0) skewX(-30deg);
		opacity: 0
	}
	60% {
		-webkit-transform: skewX(20deg);
		transform: skewX(20deg);
		opacity: 1
	}
	80% {
		-webkit-transform: skewX(-5deg);
		transform: skewX(-5deg);
		opacity: 1
	}
	100% {
		-webkit-transform: none;
		transform: none;
		opacity: 1
	}
}
@-o-keyframes lightSpeedIn {
	0% {
		-webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
		transform: translate3d(100%, 0, 0) skewX(-30deg);
		opacity: 0
	}
	60% {
		-webkit-transform: skewX(20deg);
		transform: skewX(20deg);
		opacity: 1
	}
	80% {
		-webkit-transform: skewX(-5deg);
		transform: skewX(-5deg);
		opacity: 1
	}
	100% {
		-webkit-transform: none;
		transform: none;
		opacity: 1
	}
}
@-ms-keyframes lightSpeedIn {
	0% {
		-webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
		transform: translate3d(100%, 0, 0) skewX(-30deg);
		opacity: 0
	}
	60% {
		-webkit-transform: skewX(20deg);
		transform: skewX(20deg);
		opacity: 1
	}
	80% {
		-webkit-transform: skewX(-5deg);
		transform: skewX(-5deg);
		opacity: 1
	}
	100% {
		-webkit-transform: none;
		transform: none;
		opacity: 1
	}
}
@keyframes lightSpeedIn {
	0% {
		-webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
		transform: translate3d(100%, 0, 0) skewX(-30deg);
		opacity: 0
	}
	60% {
		-webkit-transform: skewX(20deg);
		transform: skewX(20deg);
		opacity: 1
	}
	80% {
		-webkit-transform: skewX(-5deg);
		transform: skewX(-5deg);
		opacity: 1
	}
	100% {
		-webkit-transform: none;
		transform: none;
		opacity: 1
	}
}
.lightSpeedIn {
	-webkit-animation-name: lightSpeedIn;
	animation-name: lightSpeedIn;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out
}
.lightSpeedIntwo {
	-webkit-animation-name: lightSpeedIntwo;
	animation-name: lightSpeedIntwo;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out
}
@-webkit-keyframes lightSpeedIntwo {
	0% {
		-webkit-transform: translate3d(-100%, 0, 0) skewX(-30deg);
		transform: translate3d(-100%, 0, 0) skewX(-30deg);
		opacity: 0
	}
	60% {
		-webkit-transform: skewX(20deg);
		transform: skewX(20deg);
		opacity: 1
	}
	80% {
		-webkit-transform: skewX(-5deg);
		transform: skewX(-5deg);
		opacity: 1
	}
	100% {
		-webkit-transform: none;
		transform: none;
		opacity: 1
	}
}
@-moz-keyframes lightSpeedIntwo {
	0% {
		-webkit-transform: translate3d(-100%, 0, 0) skewX(-30deg);
		transform: translate3d(-100%, 0, 0) skewX(-30deg);
		opacity: 0
	}
	60% {
		-webkit-transform: skewX(20deg);
		transform: skewX(20deg);
		opacity: 1
	}
	80% {
		-webkit-transform: skewX(-5deg);
		transform: skewX(-5deg);
		opacity: 1
	}
	100% {
		-webkit-transform: none;
		transform: none;
		opacity: 1
	}
}
@-ms-keyframes lightSpeedIntwo {
	0% {
		-webkit-transform: translate3d(-100%, 0, 0) skewX(-30deg);
		transform: translate3d(-100%, 0, 0) skewX(-30deg);
		opacity: 0
	}
	60% {
		-webkit-transform: skewX(20deg);
		transform: skewX(20deg);
		opacity: 1
	}
	80% {
		-webkit-transform: skewX(-5deg);
		transform: skewX(-5deg);
		opacity: 1
	}
	100% {
		-webkit-transform: none;
		transform: none;
		opacity: 1
	}
}
@-o-keyframes lightSpeedIntwo {
	0% {
		-webkit-transform: translate3d(-100%, 0, 0) skewX(-30deg);
		transform: translate3d(-100%, 0, 0) skewX(-30deg);
		opacity: 0
	}
	60% {
		-webkit-transform: skewX(20deg);
		transform: skewX(20deg);
		opacity: 1
	}
	80% {
		-webkit-transform: skewX(-5deg);
		transform: skewX(-5deg);
		opacity: 1
	}
	100% {
		-webkit-transform: none;
		transform: none;
		opacity: 1
	}
}
@keyframes lightSpeedIntwo {
	0% {
		-webkit-transform: translate3d(-100%, 0, 0) skewX(-30deg);
		transform: translate3d(-100%, 0, 0) skewX(-30deg);
		opacity: 0
	}
	60% {
		-webkit-transform: skewX(20deg);
		transform: skewX(20deg);
		opacity: 1
	}
	80% {
		-webkit-transform: skewX(-5deg);
		transform: skewX(-5deg);
		opacity: 1
	}
	100% {
		-webkit-transform: none;
		transform: none;
		opacity: 1
	}
}
.play_btn a{
	animation: play_video 2s ease-in infinite;
	-webkit-animation: play_video 2s ease-in infinite;
	-moz-animation: play_video 2s ease-in infinite;
	-o-animation: play_video 2s ease-in infinite;
}
@keyframes play_video{
	0%,100%{
		-webkit-transform: scale(1);
	}
	50%{
		-webkit-transform: scale(1.1);
	}
}
@-webkit-keyframes play_video{
	0%,100%{
		-webkit-transform: scale(1);
	}
	50%{
		-webkit-transform: scale(1.1);
	}
}
@-moz-keyframes play_video{
	0%,100%{
		-webkit-transform: scale(1);
	}
	50%{
		-webkit-transform: scale(1.1);
	}
}
@-ms-keyframes play_video{
	0%,100%{
		-webkit-transform: scale(1);
	}
	50%{
		-webkit-transform: scale(1.1);
	}
}
@-o-keyframes play_video{
	0%,100%{
		-webkit-transform: scale(1);
	}
	50%{
		-webkit-transform: scale(1.1);
	}
}