<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>全民枪战2枪神之路 传奇开启</title>
		<meta name="keywords" content="全民枪战官网,全民枪战下载,全民创造,全民枪战2,CA,枪战2,古墓丽影,古墓,源起之战,全民枪战礼包,FPS手游,枪战手游,竞技手游,射击手游,枪战游戏,FPS,钻石,射击游戏,电影,福利" />
		<meta name="description" content="《全民枪战2》是英雄互娱研发的全球首款FPS+UGC竞技手游。全民枪战携手电影《古墓丽影：源起之战》助力新版本，影游联动打造更强福利！百人同局策略求生，跳伞？飙车？捡枪对决！最专业的枪战操作，最熟悉的射击体验，最上瘾的吃鸡手游！百里挑一，看谁能活到最后？2018必玩，来《全民枪战2》与亿万枪友同服跳伞，一起组队吃鸡！超多超值福利活动上线！还等什么？赶快喊着兄弟好友一起尽情酣战！" />
		{csrf}
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}raider/m/css/swiper.3.1.7.min.css?{$smarty.const.VERSION}" />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}raider/m/css/common.css?{$smarty.const.VERSION}" />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}raider/m/css/index.css?{$smarty.const.VERSION}" />
		<script>
			(function(doc, win) {
				var docEl = doc.documentElement,
					// 手机旋转事件,大部分手机浏览器都支持 onorientationchange 如果不支持，可以使用原始的 resize
					resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
					recalc = function() {
						//clientWidth: 获取对象可见内容的宽度，不包括滚动条，不包括边框
						var clientWidth = docEl.clientWidth;
						if(!clientWidth) return;
						docEl.style.fontSize = 16 * (clientWidth / 320) + 'px';
					};

				recalc();
				//判断是否支持监听事件 ，不支持则停止
				if(!doc.addEventListener) return;
				//注册翻转事件
				win.addEventListener(resizeEvt, recalc, false);
			})(document, window);
		</script>
		<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "//hm.baidu.com/hm.js?4197a56f5c9a0de486bea7deb10092a6";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>

		<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}raider/m/js/jquery-1.11.2.min.js?{$smarty.const.VERSION}"></script>
	</head>

	<body>
		<header>
			<div class="header">
				<a href="javascript:;" class="nav"><img src="{$global.logo_img}" alt="" /></a>
				<div class="n_txt">
					<p>{$global.title}</p>
					<p>{$global.sub_title}</p>
				</div>
				<a href="{myurl name='wap/site/index'}" class="enter"><img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/enter.png?{$smarty.const.VERSION}" alt="" /></a>
			</div>
		</header>
		<section>
			<div class="kv">
				<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/play.png?{$smarty.const.VERSION}" alt="" class="play js_video_play" data-url="//video.yingxiong.com/hd/38708b8b4e084279b3c391d353b64c67.mp4"/>
				<a href="http://downurl.yingxiong.com/url/qmqz_gmly.html" class="download"><img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/download.png?{$smarty.const.VERSION}" alt="" /></a>
			</div>
		</section>
		<section>
			<div class="banner">
				<div class="chengg"></div>
				<div class="zh">
					<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/zh.png?{$smarty.const.VERSION}" alt="" />
					<p>查看我的奖励</p>
				</div>
				<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/gm.png?{$smarty.const.VERSION}" alt="" class="gm" />
				<div class="banner_txt">
					<div class="con_banner">
						<i>></i>
						<p><span>电影《古墓丽影：源起之战》定制神秘猎弓</span><br />全民枪战联手电影《古墓丽影：源起之战》打造1:1超高还原定制猎弓，作为电影女主角劳拉的主武器之一，它拥有经典的外观、超高的射速与超强的威力。神秘猎弓将于3月16日开启预售，<em>参与召唤神秘猎弓活动领取“神秘猎弓预售基金”。</em></p>
						<div class="clear"></div>
						<div class="second_txt"><i>></i>
							<p><span>活动规则</span></p>
						</div>
						<div class="clear"></div>
						<div class="txt_banner"><b>01</b>
							<p>活动时间：3月16日-3月20日</p>
						</div>
						<div class="clear"></div>
						<div class="txt_banner"><b>02</b>
							<p>点击【我要召唤】按钮输入手机号，即可获得预售基金，预售基金分为21/51/101/3001四个额度，基金额度随机发放。</p>
						</div>
						<div class="clear"></div>
						<div class="txt_banner"><b>03</b>
							<p>每天20:30-21:30点放出10000个预售基金，未领到福利的小伙伴可以次日再来领取。</p>
						</div>
						<div class="clear"></div>
						<div class="txt_banner"><b>04</b>
							<p>每个账号只可领取一次福利，福利需进入游戏中兑换，单个账号只可兑换一次。</p>
						</div>
						<div class="clear"></div>
						<div class="second_txt">
							<i>></i>
							<p><span>神秘猎弓预售基金</span></p>
							<div class="clear"></div>
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/damond.png?{$smarty.const.VERSION}" alt="" />
							<div class="right_txt">
								<p>随机钻石X1</p><br />
								<p>剩余数量：<em>{$jewel_num}</em>个</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="main">
				<div class="chengg"></div>
				<div class="denglu">
					<p class="time">活动时间：3月16日-3月27日</p>
					<div class="before_denglu">
						<p>欢迎您，请<span class="d_btn">【登录】</span></p>
					</div>
					<div class="after_denglu active">
						欢迎您，<span class="d_phone"></span>剩余<span class="d_cishu"></span>次翻牌机会
					</div>
				</div>
				<div class="price_banner">
					<div class="banner_price">
						<ul class="swiper-wrapper">
							<li class="swiper-slide"><img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/a.png?{$smarty.const.VERSION}" alt="" /></li>
							<li class="swiper-slide"><img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/b.png?{$smarty.const.VERSION}" alt="" /></li>
							<li class="swiper-slide"><img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/c.png?{$smarty.const.VERSION}" alt="" /></li>
							<li class="swiper-slide"><img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/d.png?{$smarty.const.VERSION}" alt="" /></li>
							<li class="swiper-slide"><img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/e.png?{$smarty.const.VERSION}" alt="" /></li>
							<li class="swiper-slide"><img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/f.png?{$smarty.const.VERSION}" alt="" /></li>
						</ul>
					</div>
					<div class="swiper-button-next">
						<div class="button_img">
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/right_h.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/left.png?{$smarty.const.VERSION}" alt="" />
						</div>
					</div>
					<div class="swiper-button-prev">
						<div class="button_img">
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/right_h.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/left.png?{$smarty.const.VERSION}" alt="" />
						</div>
					</div>
				</div>
				<div class="lb_price">
					<div class="price_ul">
						<ul>
							
						</ul>
					</div>
				</div>
				<div class="card">
					<ul>
						<li data-number="1">
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/pai4.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/card1.png?{$smarty.const.VERSION}" alt="" />
						</li>
						<li data-number="2">
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/pai3.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/card2.png?{$smarty.const.VERSION}" alt="" />
						</li>
						<li data-number="3">
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/pai5.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/card3.png?{$smarty.const.VERSION}" alt="" />
						</li>
						<li data-number="4">
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/pai3.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/card7.png?{$smarty.const.VERSION}" alt="" />
						</li>
						<li data-number="5">
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/pai2.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/card4.png?{$smarty.const.VERSION}" alt="" />
						</li>
						<li data-number="6">
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/pai1.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/card5.png?{$smarty.const.VERSION}" alt="" />
						</li>
						<li data-number="7">
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/pai5.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/card10.png?{$smarty.const.VERSION}" alt="" />
						</li>				
						<li data-number="8">
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/pai1.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/card9.png?{$smarty.const.VERSION}" alt="" />
						</li>
						<li data-number="9">
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/pai4.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/card8.png?{$smarty.const.VERSION}" alt="" />
						</li>
						
						<li data-number="10">
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/pai2.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/card6.png?{$smarty.const.VERSION}" alt="" />
						</li>
					</ul>
				</div>
				<div class="h_btn">
					<div class="b_btn">
						<span class="more_p">
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/btn_h.png?{$smarty.const.VERSION}" alt="" />
						</span>
						<p>获得更多翻牌机会</p>
					</div>
					<div class="b_btn a_btn">
						<span>
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/s_btn_h.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/s_btn.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/check.png?{$smarty.const.VERSION}" alt="" />
						</span>
						<p class="s_cishu">剩余<em></em>次</p>
					</div>
				</div>
				<div class="huodong">
					<div class="second_txt">
						<i>></i>
						<p><span>活动规则</span></p>
					</div>
					<div class="clear"></div>
					<div class="txt_banner"><b>01</b>
						<p>活动时间：3月16日-3月27日</p>
					</div>
					<div class="clear"></div>
					<div class="txt_banner"><b>02</b>
						<p>每天登录即可获得3次翻牌机会。</p>
					</div>
					<div class="clear"></div>
					<div class="txt_banner"><b>03</b>
						<p>请好友登录并参加本活动即可获得1次翻牌机会，每天最多可获得2次翻牌机会。</p>
					</div>
					<div class="clear"></div>
					<div class="txt_banner"><b>04</b>
						<p>每天单个账号最多可获得5次翻牌机会。</p>
					</div>
					<div class="clear"></div>
					<div class="txt_banner"><b>05</b>
						<p>成功找出相同5组图案，即可“开启我的奖励”获得神秘奖品。</p>
					</div>
					<div class="clear"></div>
					<div class="txt_banner"><b>06</b>
						<p>每个账号“开启我的奖励”次数最多3次。</p>
					</div>
					<div class="clear"></div>
					<div class="txt_banner"><b>07</b>
						<p>详细奖品兑换规则请查看，
							<a href="http://ca.yingxiong.com/m/info/2018/0315/3346.html">奖品兑换规则</a>
						</p>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="last">
				<div class="main_last">
					<div class="second_txt">
						<i>></i>
						<p><span>晒图活动</span></p>
					</div>
					<div class="t_banner">
						<div class="d_banner">
							<ul class="swiper-wrapper">
								{foreach $img as $v}
									<li class="swiper-slide">
										<img src="{$v.thumb}" alt="" />
										<p>{$v.title}</p>
									</li>
								{/foreach}
							</ul>
						</div>
						<div class="swiper-button-next1">
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/right_h.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/left.png?{$smarty.const.VERSION}" alt="" />
						</div>
						<p class="huadong">左右滑动试试</p>
						<div class="swiper-button-prev1">
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/right_h.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/left.png?{$smarty.const.VERSION}" alt="" />
						</div>
					</div>
					<div class="last_txt">
						<div class="second_txt">
							<i>></i>
							<p><span>活动规则</span></p>
						</div>
						<div class="txt_banner"><b>01</b>
							<p>活动时间：3月16日-3月31日</p>
						</div>
						<div class="clear"></div>
						<div class="txt_banner"><b>02</b>
							<p>拍摄或截图在活动二【幸运召唤】中所获得福利，并在图中附上一句最想和CA说的一句话，发送至<br />
								<a href="javascript:;">shujia@yingxiong.com</a>邮箱，即有机会获得专属礼包。</p>
						</div>
						<div class="clear"></div>
						<div class="txt_banner"><b>03</b>
							<p>在符合标准的晒奖照片中，随机挑选10名枪友送出500枚钻石奖励。</p>
						</div>
						<div class="clear"></div>
						<div class="txt_banner"><b>04</b>
							<p>活动结束后7个工作日，奖品会发送到投稿邮箱，请各位参加活动的枪友注意查收。</p>
						</div>
						<div class="clear"></div>
					</div>
					<div class="last_btn">
						<a href="http://ca.yingxiong.com/m/info/2018/0315/3346.html" class="bd"><img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/bd.png?{$smarty.const.VERSION}" alt="" /></a>
						<div class="last_img">
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/damond.png?{$smarty.const.VERSION}" alt="" />
							<p>
								<span>获奖奖品</span>
								<span>钻石X500</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			{if isset($smarty.get.code)}
			<div class="login" data-type="{$smarty.get.code}">
				{else}
				<div class="login" data-type="">
				{/if}
				<div class="l_login">
					<i class="c_close"></i>
					<div class="l_con">
						<div class="s_put t_put">
							<div class="put_yzm">
								<div class="put_img">
									<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/p.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/p_h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<input type="tel" placeholder="请输入手机号" class="phone" />
							</div>
						</div>
						<div class="s_put">
							<div class="put_yzm">
								<div class="put_img">
									<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/p.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/p_h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<input type="text" placeholder="请输入图形验证码" class="t_yzm" />
							</div>
							<div class="captcha">
								{$captcha_img}
							</div>
						</div>
						<div class="s_put">
							<div class="put_yzm">
								<div class="put_img">
									<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/p.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/p_h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<input type="tel" placeholder="请输入验证码" class="yzm" />
							</div>
							<input type="button" value="获取验证码" class="g_code" />
						</div>
						<div class="dl">
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/dl.png?{$smarty.const.VERSION}" alt="" />
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="price">
				<div class="my_price">
					<i class="c_close"></i>
					<div class="big_box">
						<div class="price_title">
							<span>名称</span>
							<span>兑换码</span>
						</div>
						<div class="box">
							<ul>
								
							</ul>
						</div>
						<p class="ca">*长按兑换码复制到手机</p>
					</div>		
					<div class="txt_bg">
						<p>获得游戏实物周边的小伙伴，记得留下你的收件地址哦！虚拟道具需要下载官方游戏，并在公测开启之后方可兑换使用。</p>
					</div>
					<div class="t_address">
						<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/address.png?{$smarty.const.VERSION}" alt="" />
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="congra">
				<div class="congra_con">
					<i class="c_close"></i>
					<div class="gongxi">
						<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/aa.png?{$smarty.const.VERSION}" alt="" class="pic"/>
						<div class="bg_price">
							<p>兑换码<span class="dhm" id="tc11_copyTextz"></span></p>
							<i id="tc11_copyBtnz" data-clipboard-action="copy" data-clipboard-target="#tc11_copyTextz"></i>
						</div>
						<p class="changan">*长按兑换码复制到手机</p>
						<div class="txt_bg">
							<p>获得游戏实物周边的小伙伴，记得留下你的收件地址哦！虚拟道具需要下载官方游戏，并在公测开启之后方可兑换使用。</p>
						</div>
					</div>
					<div class="t_address">
						<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/address.png?{$smarty.const.VERSION}" alt="" />
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="dizhi">
				<div class="dizhi_con">
					<i class="c_close"></i>
					<div class="address_con">
						<div class="a_put">
							<div class="b_put">
								<div class="a_img">
									<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/a_img.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/a_img_h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<input type="text" placeholder="收件人姓名" class="name" />
							</div>
							<div class="b_put">
								<div class="a_img">
									<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/a_img.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/a_img_h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<input type="text" placeholder="收件人邮编" class="postcode" />
							</div>
						</div>
						<div class="a_put">
							<div class="c_put">
								<div class="a_img">
									<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/b_img_h.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/bimg.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<input type="tel" placeholder="收件人电话" class="s_phone" />
							</div>
						</div>
						<div class="a_put">
							<div class="d_put">
								<div class="a_img">
									<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/dz.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/dz_h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<textarea class="s_address" placeholder="收件人详细地址"></textarea>
							</div>
						</div>
						<div class="sure_add">
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/sure_add.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/xgdz.png?{$smarty.const.VERSION}" alt="" />
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="invite">
				<div class="invite_py">
					<i class="c_close"></i>
					<div class="invite_con">
						<p class="pt">分享您的链接，发送给好友，<br />获得更多参加活动机会！</p>
						<div class="yqm">您的邀请码：<span>123456</span></div>
						<div class="yaoqing">
							<div class="yaoqing_p">
								<p>点击复制您的专属链接，发送给好友，可获得更多抽奖机会</p>
								<p>链接地址：</p>
								<span id="tc10_copyTextz"></span>
							</div>				
						</div>
						<!-- JiaThis Button BEGIN -->
						<div class="jiathis_style_32x32">
							<a class="jiathis_button_weixin"></a>
							<a class="jiathis_button_tsina"></a>
							<a class="jiathis_button_qzone"></a>
						</div>
						<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
						<!-- JiaThis Button END -->
					</div>
					<div class="fuzhi_lj" id="tc10_copyBtnz" data-clipboard-action="copy" data-clipboard-target="#tc10_copyTextz">
						<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/fuzhi.png?{$smarty.const.VERSION}" alt="" />
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="f_price">
				<div class="con_price">
					<i class="c_close"></i>
					<div class="gongxi">
						<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/damond.png?{$smarty.const.VERSION}" alt="" />
						<p class="wenan">恭喜您获得<span></span></p>
						<div class="bg_price">
							<p>兑换码<span class="c_erweima" id="tc9_copyTextz"></span></p>
							<i class="f_fuzhi" id="tc9_copyBtnz" data-clipboard-action="copy" data-clipboard-target="#tc9_copyTextz"></i>
						</div>
						<p class="changan">*长按兑换码复制到手机</p>
					</div>
					<div class="p_address p_sure">
						<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/s.png?{$smarty.const.VERSION}" alt="" />
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="message">
				<div class="message_con">
					<i class="c_close"></i>
					<div class="c_message">
						
					</div>
					<div class="queding p_sure">
						<img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/s.png?{$smarty.const.VERSION}" alt="" />
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="canjia">
				<div class="c_canjia">
					<i class="c_close"></i>
					<div class="c_message">您仅剩下一次翻牌机会哦，确定继续吗？</div>
					<div class="make_sure">
						<span class="s_queding"><img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/k_sure.png?{$smarty.const.VERSION}" alt="" /></span>
						<span class="s_quxiao"><img src="{$smarty.const.STATIC_DOMAIN}raider/m/images/l_sure.png?{$smarty.const.VERSION}" alt="" /></span>
					</div>
				</div>
			</div>
		</section>
		<script type="text/javascript" src="//cdnstatic.yingxiong.com/footer/js/footer.js?{$smarty.const.VERSION}"></script>
	</body>
	{download}
	{video_play}
	<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}raider/m/js/swiper.3.1.7.min.js?{$smarty.const.VERSION}"></script>
	<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}raider/m/js/clipboard.min.js"></script>
	<script type="text/javascript">
		var imgSrc = "{$smarty.const.STATIC_DOMAIN}raider/m/images/";
	</script>
	<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}raider/m/js/index.js?{$smarty.const.VERSION}"></script>
	
</html>