<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>《全民枪战2》扫射开学综合症，分享赢新学期大礼！</title>
		<meta name="keywords" content="全民枪战2,枪战2,全民枪战,钻石,混沌恶魔,武器碎片,温莎,新学期活动" />
		<meta name="description" content="全民枪战携手温莎KTV豪送开学大礼啦！永久混沌恶魔武器、价值¥300-温莎KTV房费抵用券、开学钻石大礼包每天任性抽！扫射开学综合症，分享赢新学期大礼！" />
		{csrf}
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}lottery/m/css/public.css?{$smarty.const.VERSION}" />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}lottery/m/css/index.css?{$smarty.const.VERSION}" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui,viewport-fit=cover">
		<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}lottery/m/js/jquery-1.11.2.min.js?{$smarty.const.VERSION}"></script>
		<script>
			(function(doc, win) {
				var docEl = doc.documentElement,
					// 手机旋转事件,大部分手机浏览器都支持 onorientationchange 如果不支持，可以使用原始的 resize
					resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
					recalc = function() {
						//clientWidth: 获取对象可见内容的宽度，不包括滚动条，不包括边框
						var clientWidth = docEl.clientWidth;
						if(!clientWidth) return;
						docEl.style.fontSize = 16 * (clientWidth / 320) + 'px';
					};

				recalc();
				//判断是否支持监听事件 ，不支持则停止
				if(!doc.addEventListener) return;
				//注册翻转事件
				win.addEventListener(resizeEvt, recalc, false);
			})(document, window);
		</script>
		<script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?4197a56f5c9a0de486bea7deb10092a6";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
		</script>
	</head>

	<body>
		<header>
			<div class="header">
				<a href="javascript:;" class="n_logo"><img src="{$global.logo_img}" alt="" /></a>
				<div class="t_txt">
					<p>{$global.title}</p>
					<p>{$global.sub_title}</p>
				</div>
				<a href="{myurl name='site/index'}" class="enter"><img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/enter.png?{$smarty.const.VERSION}" alt="" /></a>
			</div>
		</header>
		<section>
			<div class="kv">
				<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/play.png?{$smarty.const.VERSION}" alt="" class="play js_video_play" data-url="//video.yingxiong.com/hd/38708b8b4e084279b3c391d353b64c67.mp4" />
				<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/slogan.png?{$smarty.const.VERSION}" alt="" class="slogan" />
				<a href="http://downurl.yingxiong.com/url/qmqz_wshz.html" class="download"><img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/download.png?{$smarty.const.VERSION}" alt="" /></a>
			</div>
		</section>
		<section>
			<div class="main">
				<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/label.png?{$smarty.const.VERSION}" alt="" class="label" />
				<p class="c_tit">活动时间：3月5日-3月11日</p>
				<div class="t_tit">
					<div class="b_denglu active">
						欢迎您，请<span>【登录】</span>
					</div>
					<div class="a_denglu">
						欢迎您，<i>15829046113</i><span>[注销]</span>
					</div>
				</div>
				<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/share.png?{$smarty.const.VERSION}" alt="" class="share" />
				<div class="price">
					<div id="lottery">
						<ul>
							<li class="lottery-unit lottery-unit-0">
								<div class="c_li">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/p.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/p_h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/icon1.png?{$smarty.const.VERSION}" alt="" class="icon" />
								<p>邪恶骑士碎片礼包</p>
							</li>
							<li class="lottery-unit lottery-unit-1">
								<div class="c_li">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/p.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/p_h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/icon2.png?{$smarty.const.VERSION}" alt="" class="icon" />
								<p>开学钻石大礼包</p>
							</li>
							<li class="lottery-unit lottery-unit-2">
								<div class="c_li">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/p.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/p_h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/icon3.png?{$smarty.const.VERSION}" alt="" class="icon" />
								<p>永久混沌恶魔</p>
							</li>
							<li class="lottery-unit lottery-unit-7">
								<div class="c_li">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/p.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/p_h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/icon4.png?{$smarty.const.VERSION}" alt="" class="icon" />
								<p>温莎300元房费券</p>
							</li>
							<li class="lottery-unit lottery-unit-3">
								<div class="c_li">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/p.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/p_h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/icon5.png?{$smarty.const.VERSION}" alt="" class="icon" />
								<p>小恐龙限时礼包</p>
							</li>
							<li class="lottery-unit lottery-unit-6">
								<div class="c_li">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/p.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/p_h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/icon6.png?{$smarty.const.VERSION}" alt="" class="icon" />
								<p>开学乐享礼包</p>
							</li>
							<li class="lottery-unit lottery-unit-5">
								<div class="c_li">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/p.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/p_h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/icon7.png?{$smarty.const.VERSION}" alt="" class="icon" />
								<p></p>
							</li>
							<li class="lottery-unit lottery-unit-4">
								<div class="c_li">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/p.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/p_h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/icon8.png?{$smarty.const.VERSION}" alt="" class="icon" />
								<p>黑骑士碎片礼包</p>
							</li>
							<li class="last_li">
								<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/btn_bg.png?{$smarty.const.VERSION}" alt="" class="btn_bg" />
								<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/c_price.png?{$smarty.const.VERSION}" alt="" class="icon" />
								<p class="chance">剩余<span>0</span>次抽奖机会</p>
							</li>
						</ul>
					</div>					
					<div class="tc">
						<div class="c_my"></div>
						<div class="c_fl"></div>
						<a href="http://ca.yingxiong.com/m/info/2018/0228/3288.html" class="l_fl"></a>
					</div>
					<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/gif.png" alt="" class="gif" />
				</div>
				<div class="c_rule">
					<div class="price_bg">
						<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/mingdan.png?{$smarty.const.VERSION}" alt="" class="c_label" />
						<div class="price_ul">
							<ul>
								
							</ul>
						</div>
					</div>
					<div class="rule_bg">
						<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/hd.png?{$smarty.const.VERSION}" alt="" class="hd" />
						<ul class="rule_ul">
							<li>
								<i>1</i>
								<p>每天首次登录赠送1次参与机会。</p>
							</li>
							<li>
								<i>2</i>
								<p>分享页面邀请好友参加活动,即可获得1次参与机会,单日每个账号最多参与2次。</p>
							</li>
							<li>
								<i>3</i>
								<p>温莎代金券请到指定平台兑换,游戏礼包需进入游戏兑换,详细兑换方式请查看
									<a href="http://ca.yingxiong.com/m/info/2018/0228/3288.html">“福利领取指南”</a>。</p>
							</li>
							<li>
								<i>4</i>
								<p>请妥善保管您的兑换码,如若丢失不予补发。</p>
							</li>
							<li>
								<i>5</i>
								<p>每种兑换码在游戏内只可使用一次,不可重复兑换。</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="c_share">
				<div class="share_bg">
					<i class="c_close"></i>
					<p class="share_pp">邀请好友</p>
					<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/pic.png?{$smarty.const.VERSION}" alt="" class="pic" />
					<p class="share_p">通过以下方式邀请好友</p>
					<!-- JiaThis Button BEGIN -->
					<div class="jiathis_style_32x32">
						<a class="jiathis_button_weixin" data-id="2"></a>
						<a class="jiathis_button_tsina" data-id="3"></a>
						<a class="jiathis_button_qzone" data-id="4"></a>
					</div>
					<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
					<!-- JiaThis Button END -->
				</div>
			</div>
		</section>
		<section>
			<div class="tc_price">
				<div class="p_content">
					<i class="c_close"></i>
					<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/pic.png?{$smarty.const.VERSION}" alt="" class="pic" />
					<div class="c_content">
						<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/dragon.png?{$smarty.const.VERSION}" alt="" class="dragon" />
						<div class="c_txt">
							<p>恭喜您获得</p>
							<p class="g_name"></p>
						</div>
						<div class="clear"></div>
						<div class="dhm" id="tc7_copyTextz">
							
						</div>
						<div class="fuzhi" id="tc7_copyBtnz" data-clipboard-action="copy" data-clipboard-target="#tc7_copyTextz">
							复制兑换码
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="tc_fl">
				<div class="fl_content">
					<i class="c_close"></i>
					<div class="fl_fz">
						<ul class="fl_ul">
							<li>
								<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/icon3.png?{$smarty.const.VERSION}" alt="" class="s_dragon" />
								<div class="fl_txt">
									<p>永久混沌恶魔</p>
									<p>混沌恶魔（永久）</p>
								</div>
							</li>
							<li>
								<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/icon4.png?{$smarty.const.VERSION}" alt="" class="s_dragon" />
								<div class="fl_txt">
									<p>温莎300元房费券</p>
									<p>温莎300元房费券</p>
								</div>
							</li>
							<li>
								<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/icon2.png?{$smarty.const.VERSION}" alt="" class="s_dragon" />
								<div class="fl_txt">
									<p>开学钻石大礼包</p>
									<p>100钻石，火花AUG（15天），战斧（7天），战地护士包（15天）</p>
								</div>
							</li>
							<li>
								<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/icon8.png?{$smarty.const.VERSION}" alt="" class="s_dragon" />
								<div class="fl_txt">
									<p>黑骑碎片礼包</p>
									<p>樱花TAR-21（7天），格洛克18（7天），生化手雷（7天），汤姆逊碎片（2个），黑暗骑士碎片（1个）</p>
								</div>
							</li>
							<li>
								<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/s_dragon.png?{$smarty.const.VERSION}" alt="" class="s_dragon" />
								<div class="fl_txt">
									<p>小恐龙限时礼包</p>
									<p>黑暗骑士（3天）+小恐龙背包（3天）+10钻石</p>
								</div>
							</li>
							<li>
								<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/icon1.png?{$smarty.const.VERSION}" alt="" class="s_dragon" />
								<div class="fl_txt">
									<p>邪恶骑士碎片礼包</p>
									<p>炼狱M14（5天），邪恶骑士碎片*1、步枪弹匣（7天）、进击卡*5</p>
								</div>
							</li>
							<li>
								<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/icon6.png?{$smarty.const.VERSION}" alt="" class="s_dragon" />
								<div class="fl_txt">
									<p>开学乐享礼包</p>
									<p>战狼Ⅱ-HK416（7天）、STI战术型（5天）、闪光手雷（5天）、沉默杀手面具（5天）、进击卡*5</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="t_login">
				<div class="tc_login">
					<i class="c_close"></i>
					<div class="login_con">
						<input type="tel" placeholder="输入手机号码" class="phone"/>
						<div class="s_put">
							<input type="text" class="t_yzm" placeholder="输入图形验证码"/>
							<div class="captcha">
								{$captcha_img}
							</div>
						</div>
						<div class="s_put">
							<input type="tel" placeholder="输入手机验证码" class="yzm" />
							<input type="text" value="获取验证码" class="g_code" readonly="readonly"/>
						</div>
						<div class="sure">
							确认登录
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="jilu">
				<div class="tc_jilu">
					<i class="c_close"></i>
					<img src="{$smarty.const.STATIC_DOMAIN}lottery/m/images/pic.png?{$smarty.const.VERSION}" alt="" class="pic" />
					<div class="price_title">
						<span>奖品名称</span>
						<span>兑换码</span>
					</div>
					<div class="box">
						<ul>
							
						</ul>
					</div>
					<p class="jilu_p">温馨提示：兑换码请长按复制</p>
				</div>
			</div>
		</section>
		<section>
			<div class="thank">
				<div class="xxcy">
					<i class="c_close"></i>
					<p>谢谢参与！</p>
				</div>
			</div>
		</section>
		<script type="text/javascript" src="//cdnstatic.yingxiong.com/footer/js/footer.js?{$smarty.const.VERSION}"></script>
	</body>
	{download}
	{video_play}
	<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}lottery/m/js/clipboard.min.js"></script>
	<script type="text/javascript">
		var alt = "{$smarty.const.STATIC_DOMAIN}";
	</script>
	<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}lottery/m/js/index.js?{$smarty.const.VERSION}"></script>
	<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script>
        document.write('<script src="http://game.yingxiong.com/common/cawx/cawxjs.php?url=' +encodeURIComponent(location.href)+'"><\/script>');
	</script>
	<script type="text/javascript">
        $(function(){
            var share = {
                imgUrl      : 'http://cdnstatic.yingxiong.com/qmqz/lottery/m/images/share_icon.png',
                title  :'新学期福利抢！抢！抢！！',
                desc : '永久恶魔、骑士碎片、K歌专享券限时开抢！',
                link    : wx_conf.url,
            };
            wx.config({
                debug     : false,
                appId     : wx_conf.appId,
                timestamp : wx_conf.timestamp,
                nonceStr  : wx_conf.nonceStr,
                signature : wx_conf.signature,
                jsApiList : [
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage',
                    'onMenuShareQQ',
                    'chooseImage',
                    'previewImage',
                    'uploadImage',
                    'downloadImage'
                ]
            });
            wx.ready(function () {
                wx.onMenuShareAppMessage(share);//分享给好友
                wx.onMenuShareTimeline(share);//分享到朋友圈
                wx.onMenuShareQQ(share);//分享给手机QQ
            });
        });
	</script>
	<script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/qzact/common/share/share.js"></script>
	<script type="text/javascript">
        setShareInfo({
            title:          '新学期福利抢！抢！抢！！',
            summary:        '永久恶魔、骑士碎片、K歌专享券限时开抢！',
            pic:            'http://cdnstatic.yingxiong.com/qmqz/lottery/m/images/share_icon.png',
            url:            'http://ca.yingxiong.com/m/lottery.html',
        });
	</script>
</html>