{video_play}
<script src="http://cdnstatic.yingxiong.com/common/js/yx.js?{$smarty.const.VERSION}"></script>
<script>
	var clickNumber2 = 0;
	var clickNumber = 0;
	$('.top-down').click(function() {
		if(clickNumber2 % 2 == 0) {
			$('.down_list').slideDown(500);
			$('.top-list').slideUp(500);
			$(".header_nav").stop().slideUp();
			$(".d_t_t").removeClass("d_t_t_tran");
			$(".d_t_m").removeClass("d_t_m_tran");
			$(".d_t_b").removeClass("d_t_b_tran");
			clickNumber = 0;
		} else {
			$('.down_list').slideUp(500);
		}
		clickNumber2++;
	})
	$(".h_nav,.h_nav2").on("click", function(e) {
		e.stopPropagation();
		if(clickNumber % 2 == 0) {
			$(".d_t_t").addClass("d_t_t_tran");
			$(".d_t_m").addClass("d_t_m_tran");
			$(".d_t_b").addClass("d_t_b_tran");
			$(".header_nav").stop().slideDown();
			$('.down_list').slideUp(500);
			clickNumber2 = 0;
		} else {
			$(".d_t_t").removeClass("d_t_t_tran");
			$(".d_t_m").removeClass("d_t_m_tran");
			$(".d_t_b").removeClass("d_t_b_tran");
			$(".header_nav").stop().slideUp();
			$('.down_list').slideUp(500);
			clickNumber2 = 0;
		}
		clickNumber++;
	});
	$(".header_nav li,.header_nav").click(function() {
		$(".d_t_t").removeClass("d_t_t_tran");
		$(".d_t_m").removeClass("d_t_m_tran");
		$(".d_t_b").removeClass("d_t_b_tran");
		$(".header_nav").stop().slideUp();
		clickNumber = 0;
		clickNumber2 = 0;
		$('.down_list').slideUp(500);
	})
</script>

</html>