.i_main {
	position: relative;
	width: 100%;
	min-width: 1200px;
	max-width: 1920px;
	margin: 0 auto;
	/*overflow: hidden;*/
}
/*top*/
.top {
	width: 100%;
	/*height:910px;*/
	overflow: hidden;
	position: relative;
}
.top .banner{
	width: 100%;
	/*height:910px;*/
}
.top .banner .swiper-container{
	width: 100%;
	/*height:910px;*/
	margin: 0;
}
.top .banner .swiper-pagination{
	bottom: 80px;
}
.top .banner .swiper-pagination-bullet {
	width:14px;
	height:14px;
	background:rgba(255,255,255,.5);
	opacity: 1;
}
.top .banner .swiper-pagination-bullet-active {
	position: relative;
	background:#fff;
}
.top .banner .swiper-slide a{
	display:inline-block;
	width:100%;
	height:100%;
	background-position: center top;
	background-repeat: no-repeat;
}
/*新闻*/
.i_main .banner_news{
	width: 100%;
	/*height: 630px;*/
	overflow: hidden;
	position: relative;
}
.i_main .banner_news .banner{
	position:relative;
	width:50%;
	/*height: 630px;*/
	float:left;
}
.i_main .banner_news .banner .title{
	position: absolute;
	top: 30px;
	left: 32px;
	font-size: 24px;
	color: #404040;
}
.i_main .banner_news .banner .swiper-container{
	width: 100%;
	/*height: 540px;*/
	margin-top:90px;
}
.i_main .banner_news .banner .swiper-pagination{
	width: 200px;
	right: 0;
	left: initial;
	top: 30px;
	bottom: initial;
	color: #ccc;
	font-size: 16px;
}
.i_main .banner_news .banner .swiper-pagination .swiper-pagination-current{
	font-size: 24px;
	font-weight: 600;
	color: #666;
}
.i_main .banner_news .banner .swiper-button-prev2{
	top:35px;
	left: initial;
	right: 170px;
	width: 14px;
	height: 24px;
	margin-top: 0;
	background: url(../images/prev.png);
}
.i_main .banner_news .banner .swiper-button-next2{
	top: 35px;
	left: initial;
	right: 30px;
	width: 14px;
	height: 24px;
	margin-top: 0;
	background: url(../images/next.png);
}
.i_main .banner_news .banner .swiper-slide img,.i_main .banner_news .banner .swiper-slide a{
	display:inline-block;
	width:100%;
	height:100%;
}
.i_main .banner_news .banner .swiper-slide .info{
	position: absolute;
	bottom: 0;
	width:960px;
	height: 118px;
	background: url(../images/banner_txtbg.png);
}
.i_main .banner_news .banner .swiper-slide .info span{
	display: block;
	width: 900px;
	height: 31px;
	line-height: 31px;
	margin-top: 60px;
	text-indent: 30px;
	color: #ccc;
	font-size: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.news_box{
	position: relative;
	width: 50%;
	height: 540px;
	margin-top: 90px;
	float: right;
}
.news_box .bd {
	width:90%;
	height: 100%;
	margin-left:5%;
	overflow:hidden;
}
.news_box .bd ul {
	display: block;
	overflow: hidden;
	height: 100%;
}
.news_box .bd li {
	position: relative;
	width: 100%;
	height: 30%;
	display: block;
	font-size: 18px;
}
.news_box .bd li:last-of-type:after{display:none;}
.news_box .bd li a {
	display: block;
	position: relative;
	color: #222;
	width: 100%;
	height: 90px;
	float: left;
	/*margin-bottom: 74px;*/
}
.news_box .bd li a>.title{
	display: block;
	margin-bottom: 10px;
	width: 80%;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.news_box .bd li a>i{
	display:block;
	width: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	font-size:16px;
	color:#999;
}
.news_box .bd li a:hover .title,.news_box .bd li a:hover .sub_title{color: #CAB997;}
.news_box .bd li a:hover .time{
	background:#CAB997;
}
.news_box .bd .time {
	display: block;
	width: 90px;
	height: 90px;
	font-size: 60px;
	color: #fff;
	float: right;
	background: #EFE4CF;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
}
.news_box .bd .time em{
	display: block;
	height: 65px;
	line-height: 65px;
}
.news_box .bd .time b{
	display:block;
	font-size: 16px;
	font-weight:100;
	color: #fff;
}
.news_box .more{
	position: absolute;
	right: 5%;
	bottom: 3.5%;
	display: inline-block;
	width: 124px;
	height: 31px;
	background: url(../images/more.png);
	background-size: 100% 100%;
}
/*公益图集*/
.i_main .img_box{
	width: 100%;
	/*height: 540px;*/
	overflow: hidden;
	position: relative;
}
.i_main .img_box .img_list{
	position:relative;
	width:50%;
	/*height: 540px;*/
	float:left;
}
.i_main .img_box .img_list ul li {
	position: relative;
	background-color: rgba(255,255,255,0.25);
	float: left;
	width:50%;
	/*height:270px;*/
	overflow: hidden;
}
.i_main .img_box .img_list ul li:nth-of-type(2){clear: both;}
.i_main .img_box .img_list ul li .thumb {
	position: relative;
	line-height: 1;
	text-align: center;
	overflow: hidden;
	-webkit-transition: 0.15s all linear;
	transition: 0.15s all linear;
	color: #FFF;
    height: 100%;
	/*-webkit-box-shadow: 0 0 2px rgba(255,255,255,0.15);*/
	/*box-shadow: 0 0 2px rgba(255,255,255,0.15);*/
	/*padding-top: 56.754%;*/
}
.i_main .img_box .img_list ul li .thumb a {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.i_main .img_box .img_list ul li .thumb img {
	width: 100%;
	height: 100%;
	display: block;
}
.i_main .img_box .img_list ul li .gallery div {
	position: absolute;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	opacity: 0
}
.i_main .img_box .img_list ul li .gallery .gallery-ico {
	top: 50%;
	left: 50%;
	height: 73px;
	width: 73px;
	margin: -36.5px 0 0 -36.5px;
	-webkit-transform: scale(2, 2);
	transform: scale(2, 2);
	z-index: 20;
	background:#C6A563;
	border-radius:73px;
}
.i_main .img_box .img_list ul li .gallery .gallery-ico i {
	position:absolute;
	left:50%;
	top:50%;
	display:inline-block;
	width:19px;
	height:19px;
	margin:-9.5px 0 0 -9.5px;
	background:url("../images/icon1.png");
}
.i_main .img_box .img_list ul li .gallery .gallery-mask {
	left: 0;
	top: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
	background-color:rgba(6,5,3,.4);
	z-index: 10;
}
.i_main .img_box .img_list ul li:hover .gallery .gallery-ico {
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
	opacity: 0.99
}
.i_main .img_box .img_list ul li:hover .gallery .gallery-mask {
	opacity: 1;
}
.i_main .img_box .img_list ul li .meta {
	position: absolute;
	padding: 10px;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/*background-color: rgba(0, 0, 0, 0.5);*/
	color: #FFF;
	left: 0;
	bottom: 0;
	z-index: 30;
	-webkit-transform: translateY(60px);
	transform: translateY(60px);
	-webkit-transition: -webkit-transform 0.2s cubic-bezier(0.33, 0, 0.2, 1);
	transition: transform 0.2s cubic-bezier(0.33, 0, 0.2, 1)
}
.i_main .img_box .img_list ul li:hover .meta {
	-webkit-transform: translateY(30px);
	transform: translateY(30px);
	bottom:25%;
}
.i_main .img_box .img_list ul li .title a {
	display: block;
	font-size:18px;
	color: #FFF;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align:center;
}
.i_main .img_box .img_list .img_more{
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	height: 270px;
	background: #fff;
}
.i_main .img_box .img_list .img_more a{
	position: absolute;
	top: 50%;
	display: block;
	width: 80%;
	margin-left: 10%;
	transform:translate(0,-50%);
	-webkit-transform:translate(0,-50%);
}
.i_main .img_box .img_list .img_more a:after{
	display: inline-block;
	content: "";
	width: 57px;
	height: 49px;
	position: absolute;
	right: 0;
	top: 10px;
	background: url(../images/icon3.png);
}
.i_main .img_box .img_list .img_more .title{
	display: block;
	width: 150px;
	font-size: 36px;
	color: #040301;
	text-align: center;
}
.i_main .img_box .img_list .img_more .title i{
	display:block;
	font-size:14px;
	color:#999;
	text-align:center;
}
.i_main .img_box .img_list .img_more .more{
	display: block;
	width: 152px;
	height: 55px;
	line-height: 55px;
	margin-top: 30px;
	font-size: 18px;
	text-align: center;
	color: #c6a563;
	border-radius: 27.5px;
	border: 2px solid #C6A563;
}
.i_main .img_box .img_tj{
	position: relative;
	width: 50%;
	/*height: 540px;*/
	float: right;
}
/*公益信息与视频*/
.i_main .video_box{
	width: 100%;
	height: 540px;
	overflow: hidden;
	position: relative;
}
.i_main .video_box .video_list{
	position:relative;
	width:50%;
	height: 540px;
	float:right;
}
.i_main .video_box .video_list ul li {
	position: relative;
	background-color: rgba(255,255,255,0.25);
	float: left;
	width:50%;
	height:270px;
	overflow: hidden;
}
.i_main .video_box .video_list ul li:nth-of-type(1){margin-left:50%;}
.i_main .video_box .video_list ul li .thumb {
	position: relative;
	line-height: 1;
	text-align: center;
	overflow: hidden;
	-webkit-transition: 0.15s all linear;
	transition: 0.15s all linear;
	color: #FFF;
	/*-webkit-box-shadow: 0 0 2px rgba(255,255,255,0.15);*/
	/*box-shadow: 0 0 2px rgba(255,255,255,0.15);*/
	/*padding-top: 56.754%;*/
    height: 100%;
}
.i_main .video_box .video_list ul li .thumb a {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.i_main .video_box .video_list ul li .thumb img {
	width: 100%;
	height: 100%;
	display: block;
}
.i_main .video_box .video_list ul li .gallery div {
	position: absolute;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	opacity: 0
}
.i_main .video_box .video_list ul li .gallery .gallery-ico {
	top: 50%;
	left: 50%;
	height: 73px;
	width: 73px;
	margin: -36.5px 0 0 -36.5px;
	-webkit-transform: scale(2, 2);
	transform: scale(2, 2);
	z-index: 20;
	background:#C6A563;
	border-radius:73px;
}
.i_main .video_box .video_list ul li .gallery .gallery-ico i {
	position:absolute;
	left:50%;
	top:50%;
	display:inline-block;
	width:26px;
	height:29px;
	margin:-14.5px 0 0 -13px;
	background:url("../images/icon5.png");
}
.i_main .video_box .video_list ul li .gallery .gallery-mask {
	left: 0;
	top: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
	background-color:rgba(6,5,3,.4);
	z-index: 10;
}
.i_main .video_box .video_list ul li:hover .gallery .gallery-ico {
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
	opacity: 0.99
}
.i_main .video_box .video_list ul li:hover .gallery .gallery-mask {
	opacity: 1;
}
.i_main .video_box .video_list ul li .meta {
	position: absolute;
	padding: 10px;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/*background-color: rgba(0, 0, 0, 0.5);*/
	color: #FFF;
	left: 0;
	bottom: 0;
	z-index: 30;
	-webkit-transform: translateY(60px);
	transform: translateY(60px);
	-webkit-transition: -webkit-transform 0.2s cubic-bezier(0.33, 0, 0.2, 1);
	transition: transform 0.2s cubic-bezier(0.33, 0, 0.2, 1)
}
.i_main .video_box .video_list ul li:hover .meta {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    bottom:25%;
	/*-webkit-transform: translateY(0px);*/
	/*transform: translateY(0px);*/
	/*bottom:50px;*/
}
.i_main .video_box .video_list ul li .title a {
	display: block;
	font-size:18px;
	color: #FFF;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align:center;
}
.i_main .video_box .video_list .img_more{
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 270px;
	background: #C6A563;
}
.i_main .video_box .video_list .img_more a{
	position: absolute;
	top: 50%;
	display: block;
	width: 80%;
	margin-left: 10%;
	transform:translate(0,-50%);
	-webkit-transform:translate(0,-50%);
}
.i_main .video_box .video_list .img_more a:after{
	display: inline-block;
	content: "";
	width: 56px;
	height: 47px;
	position: absolute;
	right: 0;
	top: 10px;
	background: url(../images/icon4.png);
}
.i_main .video_box .video_list .img_more .title{
	display: block;
	width: 150px;
	font-size: 36px;
	color: #fff;
	text-align: center;
}
.i_main .video_box .video_list .img_more .title i{
	display:block;
	font-size:14px;
	color:#e6d0a4;
	text-align:center;
}
.i_main .video_box .video_list .img_more .more{
	display: block;
	width: 152px;
	height: 55px;
	line-height: 55px;
	margin-top: 30px;
	font-size: 18px;
	text-align: center;
	color: #fff;
	border-radius: 27.5px;
	border: 2px solid rgba(255,255,255,.3);
}
.i_main .video_box .info{
	position:relative;
	width:50%;
	height: 100%;
	float:left;
}
.i_main .video_box .info .webturn{
	float: left;
	width:50%;
    height: 100%;
	background:#040301;
}
.i_main .video_box .info .webturn .gn_info{
	position: relative;
	width: 50%;
    height: 50%;
	float: left;
	text-align: center;
}
.i_main .video_box .info .webturn .gn_info>a{
	display:block;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	cursor:pointer;
}
.i_main .video_box .info .webturn .round{
	position:relative;
	display:block;
	width:41px;
	height:41px;
	margin:0 auto;
}
.i_main .video_box .info .webturn .round img{
	-webkit-transition: all 0.3s linear 0s;
	-moz-transition: all 0.3s linear 0s;
	-o-transition: all 0.3s linear 0s;
	-ms-transition: all 0.3s linear 0s;
	transition: all 0.3s linear 0s;
}
.i_main .video_box .info .webturn .gn_info:hover .round img {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
	-webkit-transition: all 0.4s linear 0.05s;
	-moz-transition: all 0.4s linear 0.05s;
	-o-transition: all 0.4s linear 0.05s;
	-ms-transition: all 0.4s linear 0.05s;
	transition: all 0.4s linear 0.05s;
}
.i_main .video_box .info .webturn h3{
	margin-top:15px;
	font-size: 18px;
	color: #999;
}
.i_main .video_box .info .addr{
	float: left;
	width:50%;
	height:100%;
	background:#fff;
}
.i_main .video_box .info .addr .link-li-box {
	position: relative;
	width: 80%;
	margin-left: 10%;
	margin-bottom: 10%;
	overflow: hidden;
}
.i_main .video_box .info .addr .link-li-box1{margin-top:20%;}
.i_main .video_box .info .addr .link-li-box .link-li-box-img,.i_main .video_box .info .addr .link-li-box .link-li-h3,
.i_main .video_box .info .addr .link-li-box .link-li-p{
	position:relative;
	z-index: 2;
}
.i_main .video_box .info .addr .link-li-box-img {
	position:relative;
	float: left;
	display: block;
	width: 56px;
	height: 56px;
	margin:0 20px 0 0;
	background:#F6ECD8;
	border-radius:56px;
}
.i_main .video_box .info .addr .link-li-box-img i{
	position:absolute;
	left:50%;
	top:50%;
	width:22px;
	height:22px;
	margin:-11px 0 0 -11px;
}
.i_main .video_box .info .addr .link-li-box1 .link-li-box-img i{
	background:url("../images/icon10.png");
}
.i_main .video_box .info .addr .link-li-box2 .link-li-box-img i{
	background:url("../images/icon11.png");
}
.i_main .video_box .info .addr .link-li-box3 .link-li-box-img i{
	background:url("../images/icon12.png");
}
.i_main .video_box .info .addr .link-li-box .link-li-info{
	float:left;
}
.i_main .video_box .info .addr .link-li-box .link-li-h3 {
	font-size: 16px;
	color: #333;
	font-weight: inherit;
	margin: 0 0 10px 0;
}
.i_main .video_box .info .addr .link-li-box .link-li-p {
	font-size: 18px;
	color: #333;
	margin-bottom:10px;
}
.i_main .video_box .info .addr .link-li-box2 .link-li-p,.i_main .video_box .info .addr .link-li-box3 .link-li-p {
	font-size: 22px;
	font-weight: 600;
}
/*重要事件表*/
.list .top_img{
	width:100%;
	height:396px;
	background:url("../images/banner_top.jpg") no-repeat center top;
}
.time_box .timezone{margin-bottom:100px;}
.time_box .h3{
	font-size: 36px;
	font-weight: 500;
	color: #040404;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 55px;
}
.timezone,.timezone .time{
	position: relative;
	overflow: hidden;
}
.timezone .time:after{
	display: inline-block;
	content: "";
	width: 10px;
	height:100%;
	background: #F2ECDF;
	border-radius: 4px;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -5px;
}
.timezone>div:first-of-type:after{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.timezone>div:last-of-type:after{
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.timezone .time:after{
	border-radius:0;
}
.timezone .time:before{
	display: inline-block;
	content: "";
	position: absolute;
	z-index:3;
	left: 50%;
	margin-left: -13px;
	margin-top: 20px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border: 4px solid rgba(255,255,255,0.5);
	background: #C9AA6B;
}
.timezone .time h2{
	width: 250px;
	margin-left: 330px;
	margin-top: 10px;
	float: left;
	color: #b39559;
	font-size: 30px;
	text-align: right;
	cursor: pointer;
}
.timezone .time:nth-of-type(2n) h2{
	margin-left: 0;
	width: 250px;
	text-align: left;
	float: right;
	margin-right: 310px;
}
.timezone .time div{
	float: left;
	width: 470px;
	/*height: 350px;*/
	margin-left: 60px;
	z-index: 2;
	overflow: hidden;
	cursor: pointer;
}
.timezone .time:nth-of-type(2n) div{
	text-align: right;
	margin-left: 0;
	float: right;
	margin-right: 60px;
}
.timezone .time div p{
	font-size: 16px;
	color: #666;
	line-height: 30px;
}
.timezone .time div img{
	max-width: 434px;
	max-height: 245px;
	margin: 20px 0;
}
/*新闻list页面*/
.list .news{
	width: 1200px;
	margin: 0 auto;
	margin-top: 125px;
}
.list .news .tab_box .tab_main ul{overflow:hidden;}
.list .news .tab_box .tab_main ul li{
	width: 1200px;
	height: 93px;
	margin-bottom: 60px;
	padding-bottom: 60px;
	border-bottom: 1px solid #EDEDED;
}
.list .news .tab_box .tab_main ul li .img{
	position: relative;
	float: left;
	display: inline-block;
	width: 158px;
	height: 93px;
	background: #E2D7CA;
	overflow: hidden;
}
.list .news .tab_box .tab_main ul li .fl_info{
	display: block;
	float: left;
	width: 570px;
	height: 93px;
	margin-left: 40px;
}
.list .news .tab_box .tab_main ul li .fl_info .fl_tit{
	display: block;
	margin-top: 5px;
	height: 22px;
	line-height: 22px;
	overflow: hidden;
	font-size: 18px;
	color: #333;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.list .news .tab_box .tab_main ul li .fl_info .fl_subtit{
	display: block;
	font-size: 16px;
	font-weight: initial;
	color: #999;
	height: 50px;
	line-height: 24px;
	margin-top: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.list .news .tab_box .tab_main ul li a{
	display: block;
	float: left;
	color: #6f5f48;
	width: 100%;
	overflow: hidden;
}
.list .news .tab_box .tab_main ul li a .time{
	font-size: 16px;
	color: #999;
	float: left;
	margin-left: 45px;
}
.list .news .tab_box .tab_main ul li a:hover .fl_tit{
	color:#c6a563;
}
.list .news .tab_box .tab_main ul li a:hover .fl_subtit,.list .news .tab_box .tab_main ul li a:hover .time{
	color:#333;
}
/*新闻详情*/
.list .detailbox{
	position: relative;
	height: auto;
	min-height:500px;
}
.list .go_list{
	position: absolute;
	left: 0;
	top:90px;
	width:44px;
	height:44px;
	background: url(../images/go_list.png);
	background-size: 100% 100%;
}
.list .detailbox .article_title{
	margin-bottom: 40px;
	padding: 80px 0 40px 0;
	border-bottom: 1px solid #E2E2E2;
}
.list .detailbox .article_title>h3{
	width: 1100px;
	margin-left: 90px;
	font-weight: 500;
	font-size: 30px;
	color: #333;
}
.list .detailbox .article_title>span{
	display: inline-block;
	font-size: 16px;
	color: #999;
	margin-top: 10px;
	width: 1100px;
	margin-left: 90px;
}
.list .detailbox .article_title>span>span:nth-of-type(1){margin-right:1.25rem;}
.list .detailbox .content{
	width: 1200px;
	padding-bottom: 50px;
}
.list .detailbox .content p {
	font-size: 16px;
	color: #333;
	line-height: 40px;
	word-break: break-all;
}
.list .detailbox .content img {
	display: block;
	max-width: 500px;
	margin: 20px auto;
	width: auto!important;
	height: auto!important;
}
/*公益图集*/
.list .img_box {
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}
.list .img_box .img_list {
	position: relative;
	width: 100%;
	height: auto;
	float: none;
}
.list .img_box .img_list>ul{overflow:hidden;}
.list .img_box .img_list ul li {
	width: 25%;
}
.list .img_box .img_list ul li:nth-of-type(2) {
	clear: initial;
}
/*公益视频*/
.i_main .video_box {
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}
.list .video_box .video_list {
	position: relative;
	width: 100%;
	height: auto;
	float: none;
}
.list .video_box .video_list ul{overflow:hidden;}
.list .video_box .video_list ul li {
	width: 25%;
}
.list .video_box .video_list ul li:nth-of-type(1) {
	margin-left:0;
}
.list .page {
	text-align: center;
	margin:100px 0;
}
.list .page li{
	float: none!important;
	font-size: 18px;
	display: inline-block;
	width: 100px!important;
	height: 19px!important;
	line-height: 19px;
	margin: 0!important;
	padding: 0!important;
	border-bottom: none!important;
	cursor: pointer;
	color: #666;
}
.list .page li span{
	font-size: 18px;
	float: none;
	color:#666;
}
.list .page li a{
	float: none!important;
	overflow: inherit!important;
	width: auto!important;
	color: #666;
}
.list .page li.active a{color:#C6A563!important;}

/*慈善项目*/
.list1 .top_img {
	width: 100%;
	height: 396px;
	background: url(../images/banner_top1.jpg) no-repeat center top;
}
.charity .h3 {
	font-size: 36px;
	font-weight: 500;
	color: #040404;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 55px;
}
.charity .charity_con{
	min-height: 1000px;
	margin-bottom: 40px;
	background: #ECE8E7;
}
.charity .charity_box{overflow:hidden;}
.charity .ch_left{
	width:600px;
	height:337px;
	float:left;
}
.charity .charity_box:nth-of-type(2n) .ch_left{
	float:right;
}
.charity .ch_right{
	position:relative;
	width:600px;
	height:337px;
	float:left;
}
.charity .charity_box:nth-of-type(2n) .ch_right{
	float:right;
}
.charity .ch_right:after{
	position: absolute;
	left: -10px;
	top: 50%;
	display: inline-block;
	content: "";
	width: 10px;
	height: 12px;
	margin-top: -6px;
	background: url(../images/icon13.png);
}
.charity .charity_box:nth-of-type(2n) .ch_right:after{
	left: inherit;
	right:-10px;
	transform:rotate(-180deg);
	-webkit-transform:rotate(-180deg);
	background: url(../images/icon13.png);
}
.charity .ch_right h4{
	width: 500px;
	font-size: 30px;
	font-weight: 500;
	color:#040404;
	margin:40px 0 40px 60px;
}
.charity .ch_right p{
	width: 500px;
	font-size: 16px;
	color: #040404;
	line-height: 35px;
	margin: 0 0 0 60px;
}

/*基本信息*/
.information .h3 {
	font-size: 36px;
	font-weight: 500;
	color: #040404;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 55px;
}
.information .info_box{
	margin-bottom: 100px;
	overflow: hidden;
}
.information .info_left{
	width:600px;
	/*float:left;*/
	margin:0 auto;
}
.information .info_right{
	width:600px;
	float:left;
	display:none;
}
.information .info_left p{
	font-size: 18px;
	color: #040404;
	margin-top: 25px;
}
.information .info_left p i{
	display: inline-block;
	width: 100px;
	color: #8d7138;
	text-align: right;
	margin-right: 20px;
}
.information .info_right .info_img{
	width:267px;
	height:168px;
	float:left;
	margin-bottom:25px;
	margin-left: 25px;
}
/*善款收支*/
.budget .h3 {
	font-size: 36px;
	font-weight: 500;
	color: #040404;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 55px;
}
.budget .type{
	overflow:hidden;
	width:450px;
	margin:0 auto;
	margin-bottom:80px;
}
.budget .type span{
	display: inline-block;
	width: 105px;
	height: 44px;
	line-height: 44px;
	border-radius: 22px;
	text-align: center;
	font-size: 18px;
	color: #333;
	float: left;
	margin-right: 40px;
	cursor:pointer;
}
.budget .type span.active{
	background:#C6A563;
	color:#fff;
}
.budget_box{
	overflow:hidden;
	margin-bottom:100px;
}
.budget_box a{
	display:block;
	width:588px;
	height:97px;
	float: left;
	border:1px solid #F1F0ED;
	margin-bottom:20px;
}
.budget_box a:nth-of-type(2n){float:right;}
.budget_box .down{
	width:588px;
	height:97px;
}
.budget_box .down .down_img{
	display: inline-block;
	width: 71px;
	height: 71px;
	float: left;
	margin: 13px 0 0 13px;
}
.budget_box .down .down_img.excel{
	background: url(../images/ic_execl.png);
}
.budget_box .down .down_img.pdf{
	background: url(../images/ic_pdf.png);
}
.budget_box .down .txt{
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}
.budget_box .down .txt .name1{
	display:block;
	font-size:18px;
	color:#3c3320;
}
.budget_box .down .txt .name2{
	display:block;
	font-size:24px;
	color:#3c3320;
}
.budget_box .down .big{
	position:relative;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
	width:60px;
	height:55px;
}
.budget_box .down .big .time{
	position:relative;
	display: block;
	width: 60px;
	font-size: 18px;
	color: #bdb7aa;
	text-align: center;
}
.budget_box .down .big .time:after{
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	content: "";
	width: 60px;
	height: 1px;
	background: #E2DDD2;
	margin-left: -30px;
	margin-top: -3px;
}
.budget_box .down .big .time i{
	display:block;
	font-size:24px;
	color:#968d7a;
}
.budget_box .down .big .down_icon{
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	content: "";
	width: 20px;
	height: 22px;
	margin-left: -10px;
	margin-top: -11px;
	background: url(../images/down.png);
}
.budget_box .down:hover{
	background:#F2EADB;
	border:1px solid #F2EADB;
}
.budget_box .down:hover .down_icon{
	display:inline-block;
}
.budget_box .down:hover .time{
	display:none;
}
/*基金会介绍*/
.about .h3 {
	font-size: 36px;
	font-weight: 500;
	color: #040404;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 55px;
}
.about .info_box{
	margin-bottom: 100px;
	overflow: hidden;
}
.about .info_left{
	width:600px;
	margin:0 auto;
	/*float:left;*/
}
.about .info_right{
	display:none;
	width:600px;
	float:left;
}
.about .info_left p{
	font-size: 18px;
	color: #040404;
	width: 580px;
	line-height: 45px;
}
.about .info_right .info_img{
	width: 267px;
	height: 168px;
	float: left;
	margin-bottom: 25px;
	margin-left: 25px;
}

/*组织架构*/
.structure .h3 {
	font-size: 36px;
	font-weight: 500;
	color: #040404;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 55px;
}
.structure img{
	display:block;
	width:601px;
	height:521px;
	margin:0 auto;
	margin-bottom: 50px;
}

/*规章制度*/
.rules .h3 {
	font-size: 36px;
	font-weight: 500;
	color: #040404;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 55px;
}
.rules .budget_box a{
	margin:0 auto;
	float:none;
}
.rules .budget_box .down{
	float:none;
	margin:0 auto;
	border:none;
}
.rules .budget_box {
	overflow: hidden;
	margin-bottom: 60px;
}
.rules_info{
	position: relative;
	margin-bottom: 100px;
	min-height: 625px;
}
.rules_info .title1{
	display:block;
	font-size: 24px;
	color: #040404;
	text-indent: 60px;
	width:517px;
	height:80px;
	line-height:80px;
	border-radius:80px;
	cursor:pointer;
}
.rules_info .title1.active{
	background: #F7F0E1;
}
.rules_info .big_info{
	display:none;
	position: absolute;
	top: 0;
	left: 400px;
	width: 785px;
	height: 640px;
	background: #F7F0E1;

}
.rules_info .big_info p{
	width: 670px;
	font-size: 16px;
	margin-top: 30px;
	color: #3c3320;
}
.rules_info .big_info>div{
	width: 700px;
	height: 580px;
	margin-left: 60px;
	margin-top: 30px;
	overflow: auto;
}

.rules_info .big_info>div::-webkit-scrollbar-track
    {
	border-radius: 10px;
	        background-color: #EFE2C8;
    }
   /*定义滚动条高宽及背景*/
.rules_info .big_info>div::-webkit-scrollbar
   {
       width: 5px;
      background-color:#E6CF9F;
   }
   /*定义滚动条*/
.rules_info .big_info>div::-webkit-scrollbar-thumb
{
	        background-color: #E6CF9F;
	border-radius: 10px;
	    }

/*联系我们*/
.contact .h3 {
	font-size: 36px;
	font-weight: 500;
	color: #040404;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 55px;
}
.contact .con_box{
	overflow: hidden;
	margin-bottom: 100px;
}
.contact .con_left{
	width:600px;
	float:left;
}
.contact .con_right{
	width:600px;
	float:left;
}
.contact .link-li-box {
	position: relative;
	width: 100%;
	margin-bottom: 40px;
	overflow: hidden;
}
.contact .link-li-box .link-li-box-img,.i_main .video_box .info .addr .link-li-box .link-li-h3,
.contact .link-li-box .link-li-p{
	position:relative;
	z-index: 2;
}
.contact .link-li-box-img {
	position:relative;
	float: left;
	display: block;
	width: 56px;
	height: 56px;
	margin:0 20px 0 0;
	background:#F6ECD8;
	border-radius:56px;
}
.contact .link-li-box-img i{
	position:absolute;
	left:50%;
	top:50%;
	width:22px;
	height:22px;
	margin:-11px 0 0 -11px;
}
.contact .link-li-box1 .link-li-box-img i{
	background:url("../images/icon10.png");
}
.contact .link-li-box2 .link-li-box-img i{
	background:url("../images/icon11.png");
}
.contact .link-li-box3 .link-li-box-img i{
	background:url("../images/icon12.png");
}
.contact .link-li-box .link-li-info{
	float:left;
}
.contact .link-li-box .link-li-h3 {
	font-size: 16px;
	color: #ae9158;
	font-weight: inherit;
}
.contact .link-li-box .link-li-p {
	font-size: 24px;
	color: #333;
	margin-bottom:10px;
}
.contact .map{
	width: 497px;
	height: 416px;
	margin-left: 10%;
}


@media screen and (max-width:1700px){
	.i_main .video_box .info .addr .link-li-box {
		width: 90%;
		margin-left: 5%;
	}
}
@media screen and (max-width:1500px){
	.i_main .video_box .info .addr .link-li-box1 {
		margin-top: 15%;
	}
	.i_main .video_box .info .addr .link-li-box {
		width: 90%;
		margin-left: 5%;
	}

	.i_main .video_box .info .addr .link-li-box-img {
		width: 45px;
		height: 45px;
		margin: 0 15px 0 0;
		border-radius: 45px;
	}
	.i_main .video_box .info .addr .link-li-box .link-li-p {
		font-size: 16px;
		color: #333;
		margin-bottom: 10px;
	}
	.i_main .video_box .info .addr .link-li-box2 .link-li-p, .i_main .video_box .info .addr .link-li-box3 .link-li-p {
		font-size: 18px;
		font-weight: 600;
	}

}

@media screen and (max-width:1300px){
	.i_main .video_box .info .addr .link-li-box1 {
		margin-top: 20%;
	}
	.i_main .video_box .info .addr .link-li-box .link-li-h3 {
		font-size: 14px;
		margin: 0 0 5px 0;
	}
	.i_main .video_box .info .addr .link-li-box .link-li-p {
		font-size: 15px;
		margin-bottom: 0;
	}
}