/*竖屏 css*/


/*d_header*/

.d_header {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.d_h_bg {
	width: 100%;
}

.d_h_play {
	width: 4.4375rem;
	height: 4.4375rem;
	position: absolute;
	left: 2.5rem;
	top: 21.25rem;
	z-index: 1;
	-webkit-transform: scale(0.8, 0.8);
	transform: scale(0.8, 0.8);
}

.d_h_play_tran {
	animation: myMove 1.5s 0.5s linear alternate infinite;
}

@keyframes myMove {
	from {
		-webkit-transform: scale(0.8, 0.8);
		transform: scale(0.8, 0.8);
	}
	to {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}

.d_t_con .d_t_con_loadBtn{
	width: 100%;
    height: 1.875rem;
    background-color: #ffd01a;
    border-radius: 4px;
    text-align: center;
    line-height: 1.875rem;
    font-weight: bold;
    font-size: 0.9375rem;
    color: #000000;
    letter-spacing: 1px;
    margin-top: 0.9375rem;
}
/*d_news*/

.d_guagn {
	width: 100%;
	box-sizing: border-box;
	padding-left: 0.625rem;
	display: flex;
	display: -webkit-box;
	height: 6.25rem;
}

.d_guagn>div {
	width: 9rem;
	margin-right: 0.625rem;
}

.d_guagn>div>img {
	width: 100%;
}
.d_swiper_01{
	width:100%;
	height:14.84375rem;
	overflow: hidden;
	margin-bottom:2rem;
}
.d_swiper_01 .swiper-slide img {
	display: block;
	width: 100%;
	height:14.84375rem;
}

.d_swiper_01 .swiper-pagination-bullet-active {
	background: #ffffff;
	width: 16px;
	border-radius: 4px;
}

.d_swiper_01 .swiper-pagination-bullet {
	background: #c69aa1;
	margin: 0 3px!important;
	transition: all 0.3s linear;
}


/*footer*/

.footer {
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	padding: 0 0.625rem;
	background: #2b2b2b;
}

.footer_m {
	width: 100%;
	overflow: hidden;
	display: -webkit-box;
	display: flex;
}

.footer_m:nth-of-type(1) {
	border-bottom: 1px solid #414141;
}

.footer_m>div:nth-of-type(1) {
	width: 4.1875rem;
	height: 7.125rem;
}

.footer_m>div:nth-of-type(1) img {
	width: 100%;
	vertical-align: middle;
	display: inline-block;
}

.footer_m>div:nth-of-type(1) span {
	width: 0%;
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}

.footer_m>div:nth-of-type(2) {
	height: 7.125rem;
	box-sizing: border-box;
	padding-top: 1.3125rem;
	padding-left: 1rem;
}

.footer_m>div:nth-of-type(2)>p:nth-of-type(1) {
	line-height: 1.625rem;
	font-size: 1.0625rem;
	color: #cccccc;
}

.footer_m>div:nth-of-type(2)>p:nth-of-type(2) {
	line-height: 1.2rem;
	font-size: 0.8rem;
	color: #666666;
}

.footer_m>div:nth-of-type(2)>p:nth-of-type(3) {
	line-height: 2rem;
	font-size: 0.75rem;
	color: #c1c1c1;
}

.footer_m>div:nth-of-type(2)>p:nth-of-type(3) span {
	color: #ead514;
}


/*tankuagn*/

.cover {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	background-color: #000;
	opacity: 0.8;
	display: none;
}

.moviePlay {
	width: 79%;
	height: 9rem;
	position: fixed;
	left: 10%;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	z-index: 1000;
	background-color: #fff;
	display: none;
}

.movieClose {
	width: 1.875rem;
	height: 1.875rem;
	position: absolute;
	right: -1rem;
	top: -3rem;
	z-index: 100000;
}

.movieClose img {
	width: 100%;
	height: 100%;
	display: block;
}

.videos {
	width: 100%;
	height: 100%;
	background: #efefef;
	position: relative;
}

.videos .videos_play_btn {
	width: 3.75rem;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	z-index: 2;
}

.videos .videos_play_mask {
	width: 100%;
	height: 100%;
}