{include file="../layouts/pc/new_top.html"}
<body>
{csrf}
<script type="text/javascript" src="//cdnstatic.yingxiong.com/head/js/topbar.js?{$smarty.const.VERSION}"></script>
<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}3.0/css/jquery.mCustomScrollbar.min.css?{$smarty.const.VERSION}" />
<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}3.0/css/news_list.css?{$smarty.const.VERSION}" />
<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}3.0/css/data.css?{$smarty.const.VERSION}" />
<div class="kv">
    <div class="kv_bg">
        <img src="{$smarty.const.STATIC_DOMAIN}3.0/images/da_images/da_banner.jpg?{$smarty.const.VERSION}" />
    </div>
    <div class="nav">
        <div class="wrap">
            <ul class="nav_list">
                <li>
                    <a href="{myurl name="site/index"}">官网首页</a>
                </li>
                <li class="{if $style eq xinwen}active{else $style eq zlk}active{/if}">
                    <a href="{myurl name='article/index,type=>remen,page=>1'}">新闻资讯</a>
                </li>
                <li>
                    <a href="{myurl name='video/index,type=>zxsp,page=>1'}">视频中心</a>
                </li>
                <li class="nav_logo">
                    <a href="javascript:;"><img src="{$smarty.const.STATIC_DOMAIN}3.0/images/nav_middle.png?{$smarty.const.VERSION}" alt="" /></a>
                </li>
                <li class="{if $style eq gonglue}active{else}{/if}">
                    <a href="{myurl name='article/index,type=>xsgl,page=>1'}">游戏攻略</a>
                </li>
                <li>
                    <a href="javascript:alert('敬请期待！')">生涯数据</a>
                </li>
                <li id="i_gfqd">
                    <a href="javascript:;">官方渠道</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="topNav" class="i_h_ginf">
        <div>
            <ul>
                <li class="no_margin_left">
                    <a href="http://bbs.yingxiong.com/t/pc/15.html" target="_blank">
                        <img src="{$smarty.const.STATIC_DOMAIN}3.0/images/c_gflt.png?{$smarty.const.VERSION}">
							<span>
								官方论坛
							</span>
                    </a>
                </li>
                <li>
                    <a href="{$global.tb_url}" target="_blank">
                        <img src="{$global.tb_img}">
							<span>
								百度贴吧
							</span>
                    </a>
                </li>
                <li>
                    <a href="{$global.wb_url}" target="_blank">
                        <div>
                            <img src="{$global.wb_img}">
                        </div>
							<span>
								官方微博
							</span>
                    </a>
                </li>
                <li class="no_margin_right no_border">
                    <div>
                        <img src="{$global.wx_img}">

                    </div>
						<span>
							公众号
						</span>
                </li>
                <li class="no_margin_right no_border c_qq">
                    <div>
                        <img src="{$global.group}">
                    </div>
						<span>
							官方Q群
						</span>
                    <div class="i_h_qq">
							<span>
								官方Q群
							</span>
							<span>
								{$global.group_num}
							</span>
							<span>
								<a target="_blank" href="https://jq.qq.com/?_wv=1027&k=5wubniS">点击加入</a>
							</span>
                    </div>
                </li>
                <li class="no_margin_right no_border">
                    <div class="bordern" style="border:none;">
                        <img src="{$smarty.const.STATIC_DOMAIN}3.0/images/c_kf.png?{$smarty.const.VERSION}">
                    </div>
						<span>
							客服服务
						</span>
                    <div class="i_h_qq bordern" style="border:none;">
							<span>
								客服服务电话:
							</span>
							<span style="color:#fff;">
								4009393333
							</span>
							<span>
								BUG反馈，游戏问题
							</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="data_box da_bg">
    <div class="c_tet">
        <div class="c_wrap">
            <div class="c_news fl">
                <div class="c_m_news">
                    <div class="c_t_top"><span>您当前位置：<a href="{myurl name="site/index"}">首页</a> > <em>新闻资讯</em> > <em>资料库</em></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="c_data">
        <div class="data_bar rune">
            <a href="{myurl name='article/datum'}"></a>
            <a href="{myurl name='article/army'}"></a>
            <a href="{myurl name='article/rune'}"></a>
        </div>
        <div class="data_page">
            <div class="pa_top">
                <div class="left">
                    <span class="bor1" data-type="4"><img src="" alt=""/></span>
                    <span class="bor2" data-type="1"><img src="" alt=""/></span>
                    <span class="bor3" data-type="1"><img src="" alt=""/></span>
                    <span class="bor4" data-type="3"><img src="" alt=""/></span>
                    <span class="bor5" data-type="3"><img src="" alt=""/></span>
                    <span class="bor6" data-type="2"><img src="" alt=""/></span>
                    <span class="bor7" data-type="2"><img src="" alt=""/></span>
                </div>
                <div class="right">
                    <div>
                        <p><span></span></p>
                        <p><span></span></p>
                        <p><span></span></p>
                        <p><span></span></p>
                        <p><span></span></p>
                        <p><span></span></p>
                        <p><span></span></p>
                        <p class="btn">
							<span>
								<a class="clear-btn"><img src="{$smarty.const.STATIC_DOMAIN}3.0/images/da_images/da_btn1.png" alt=""/></a>
								<a class="share-btn" data-url="{$smarty.const.STATIC_DOMAIN}"><img src="{$smarty.const.STATIC_DOMAIN}3.0/images/da_images/da_btn2.png" alt=""/></a>
							</span>
                        </p>
                    </div>

                </div>
            </div>
            <div class="pa_bottom">
                <div class="pa_sel">
                    <div class="sign_list color">
                        <div>
                            <label>符文类型</label>
                            <span class="type_name" >全部</span>
                            <i></i>
                        </div>
                        <ul>
                            <li data-value=""><span>全部</span></li>
                            <li data-value="1"><span>红色符文</span></li>
                            <li data-value="2"><span>蓝色符文</span></li>
                            <li data-value="3"><span>绿色符文</span></li>
                            <li data-value="4"><span>核心符文</span></li>
                        </ul>
                    </div>
                    <div class="sign_list grade">
                        <div>
                            <label>符文等级</label>
                            <span class="type_name" >全部</span>
                            <i></i>
                        </div>
                        <ul>
                            <li data-value=""><span>全部</span></li>
                            <li data-value="1"><span>Lv.1</span></li>
                            <li data-value="2"><span>Lv.2</span></li>
                            <li data-value="3"><span>Lv.3</span></li>
                            <li data-value="4"><span>Lv.4</span></li>
                            <li data-value="5"><span>Lv.5</span></li>
                            <li data-value="6"><span>Lv.6</span></li>
                            <li data-value="7"><span>Lv.7</span></li>
                        </ul>
                    </div>
                    <div class="ifo">*选择符文镶嵌入模拟器</div>
                </div>
                <div class="pa_choose">
                    {foreach key=cid item=v from=$data}
                    <div class="box {if $v.type==1}red {elseif $v.type==2}blue {elseif $v.type==3}green{elseif $v.type==4}pur{/if}" data-type="{$v.type}" data-id="{$v.id}" data-grade="{$v.grade}" data-attr="{$v.attribute}" data-body="{$v.body}">
                        <div class="le">
                            <span><img src="{$v.thumb}" alt=""/></span>
                            <span>Lv.{$v.grade}</span>
                        </div>
                        <div class="ri">
                            <h2>{$v.title}</h2>
                            <span></span>
                        </div>
                    </div>
                    {/foreach}
                    <div class="da_no hide">该选项暂时没有兵种哦~</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{video_play}
<script type="text/javascript" src="//cdnstatic.yingxiong.com/footer/js/footer_new.js?{$smarty.const.VERSION}"></script>
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}3.0/js/public.js?{$smarty.const.VERSION}"></script>
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}3.0/js/jquery.mCustomScrollbar.concat.min.js?{$smarty.const.VERSION}"></script>
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}3.0/js/jquery.zclip.min.js"></script>
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}3.0/js/data.js?{$smarty.const.VERSION}"></script>