address,
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
select,
td,
textarea,
th,
ul {
	margin: 0;
	padding: 0
}

body {
	font-family: "微软雅黑"
}

button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label,
select,
textarea {
	font-size: 100%;
	vertical-align: middle
}

dl,
li,
ol,
ul {
	list-style: none
}

a {
	text-decoration: none
}

fieldset,
img {
	border: none
}

img {
	display: inline-block;
	overflow: hidden;
	vertical-align: top
}

address,
em {
	font-style: normal
}

sub,
sup {
	vertical-align: baseline
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

q:before {
	content: ""
}

q:after {
	content: ""
}

button {
	cursor: pointer
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none
}

textarea {
	word-wrap: break-word;
	resize: none
}
.wrap{
	width:1200px;
	height:100%;
	position:relative;
	margin:0 auto;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.clear {
	clear: both
}

.fl {
	float: left
}

.fr {
	float: right
}
.chengg{
	width:100%;
	height:1px;
	background:none;
	position:relative;
}
.top{
	width:100%;
	height:129px;
	background:url(../images/nav_bg.png) no-repeat center;
	position:absolute;
	z-index:10;
}
.logo {
	display: block;
	position:absolute;
	left:80px;
	top:31px;
}
.top_ul{
	width:380px;
	position:absolute;
	right:135px;
	top:40px;
}
.top_ul li{
	width:95px;
	font-size:20px;
	float:left;
	margin-left:36px;
	font-weight:bold;
	position:relative;
}
.top_ul li a{
	color:#e2dede;
}
.top_ul li:nth-child(1){
	margin-left:0;
}
.top_ul li.active a{
	color:#fff;
}
.top_ul li.active a i{
	display: block;
}
.top_ul li a span{
	position:relative;
	z-index:1;
}
.top_ul li a i {
	display: none;
	width:52px;
	height:2px;
	background-color:#e27916;
	position:absolute;
	left:15px;
	bottom:-6px;
}
/*分页样式*/
.page {
	width:100%;
	height:153px;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
}
.page li{
	float:left;
	display: none;
	font-size:14px;
	margin-right:65px;
	margin-top:45px;
	color:#a4a4a4;
}
.page li:nth-child(1){
	margin-left:122px;
}
.page li.first{
	display: block;
}
.page li.prev{
	display: block;
}
.page li.last{
	display: block;
}
.page li.next{
	display: block;
}
.page li a{
	color:#2a2a2a;
}


/*敬请期待弹窗*/
.hidden{
	display: none;
}
.jjqd_box{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .9);
	position: fixed;
	z-index: 9999999;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.jjqd_box .wrap{
	position: absolute;
	width: 570px;
	height: 280px;
	top: 50%;
	left: 50%;
	margin-left: -285px;
	margin-top: -140px;
	background: url(../images/jqqd.png) no-repeat center top;
}
.jjqd_box .wrap .close{
	position: absolute;
	right: 15px;
	top: 12px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	z-index: 22;
}
.jjqd_box .wrap .close:hover{
	transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
	-o-transform:rotate(360deg);
}