<!DOCTYPE html>
<html lang="en">
<head>
    <script data-fixed="true">
        if((/iphone|android|mobile/i.test(navigator.userAgent.toLowerCase()))) {
            location.href = "/wap/special/dati.html";
        }
    </script>
    <title>创造与魔法答题预约激活码页面 创造与魔法官方网站_每一个有趣的梦想都将在这里实现</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="创造与魔法,创造与魔法答题预约,创造与魔法答题,创造与魔法预约,创造与魔法激活码,创魔,沙盒游戏,沙盒手游">
    <meta name="description" content="创造与魔法答题预约激活码活动,给玩家开放一个及早体验游戏的通道.通过考试后,将有机会优先获得创造与魔法激活码,请大家留下您的手机号码,以便于接收到录取通知书_创造与魔法游戏激活码">
    {csrf}
    <link rel="shortcut icon" href="{$global.icon_img}?{$smarty.const.VERSION}" />
    <link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}3.0/dati/public/reset.css">
    <link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}3.0/dati/css/style.css">
    <script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}3.0/dati/public/jquery-1.7.1.min.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?cd3c5f317e3f5ced9e323d594c3eb7b3";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
