* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-style: normal;
  line-height: 1.5;
  font-weight: 300;
}
html,
body {
  font-family: "Microsoft YaHei", "Helvetica Neue", Arial, HelveticaNeue, Helvetica, "BBAlpha Sans", sans-serif;
}
img {
  max-width: 100%;
  object-fit: cover;
}
body {
  max-width: 640px;
  min-height: 100%;
  margin: 0 auto;
  background: #151515;
  position: relative;
  height: 48.76rem;
}
.bg-img {
  width: 100%;
  height: auto;
  position: absolute;
}
.loading-box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background: #1d1d1d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-box p {
  color: #ccc;
}
section {
  position: relative;
  z-index: 10;
}
section p.p-tit {
  text-align: center;
}
section p.p-tit img {
  width: 5.6rem;
}
.topbox {
  background: #000;
  width: 100%;
  height: 1.09rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0.2rem 0.2rem 0 0.2rem;
}
.topbox .box-l {
  display: flex;
}
.topbox .box-l img {
  width: 1.02rem;
  height: 1.02rem;
}
.topbox .box-l .box-l-r {
  padding-top: 0.1rem;
  padding-left: 0.1rem;
}
.topbox .box-l .box-l-r p {
  color: #fff;
  font-size: 0.32rem;
  line-height: 1;
}
.topbox .box-l .box-l-r span {
  color: #c9986d;
  font-size: 0.2rem;
}
.topbox .box-r {
  display: flex;
  align-items: center;
}
.topbox .box-r a {
  color: #fff;
  font-size: 0.32rem;
  width: 1.75rem;
  height: 0.6rem;
  border-radius: 6px;
  background: #9c370f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contbox1 .slogan {
  position: absolute;
  bottom: 0.7rem;
  width: 100%;
  text-align: center;
}
.contbox1 .slogan img.bg {
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5.98rem;
  opacity: 0;
}
.contbox1 .slogan img.text {
  width: 5.76rem;
  position: relative;
  z-index: 15;
  opacity: 0;
}
.contbox2 {
  margin-top: 0.3rem;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}
.contbox2 .text {
  font-size: 0.3rem;
  color: #ccc;
  text-align: center;
  margin-top: 0.4rem;
  margin-bottom: 0.2rem;
}
.contbox2 ul {
  display: flex;
  padding: 0 0.4rem;
}
.contbox2 ul li {
  flex: 1;
  text-align: center;
}
.contbox2 ul li img {
  width: 1.18rem;
  height: 1.24rem;
}
.contbox2 ul li p {
  color: #999;
  font-size: 0.2rem;
}
.contbox2 .btn {
  width: 5.02rem;
  margin: auto;
  display: block;
  margin-top: 0.2rem;
}
.contbox3 {
  margin-top: 0.8rem;
}
.contbox3 .videobox {
  width: 5.22rem;
  height: 3.07rem;
  margin: auto;
  position: relative;
  background: url(../img/img1.png) no-repeat center;
  background-size: cover;
  padding: 0.1rem;
  margin-top: 0.2rem;
}
.contbox3 .videobox iframe {
  width: 100%;
  height: 100%;
}
.contbox3 .videobox img.icon {
  width: 1.04rem;
  height: 1.04rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contbox4 {
  margin-top: 0.8rem;
}
.contbox4 .cont {
  width: 5.7rem;
  margin: auto;
}
.contbox4 .cont img.cover {
  width: 5.26rem;
  display: block;
  margin: auto;
  margin-top: 0.2rem;
}
.contbox4 .cont p.text {
  font-size: 0.3rem;
  color: #ccc;
  margin-top: 0.2rem;
  margin-bottom: 0.8rem;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}
.contbox4 .cont p.text em {
  color: #fdb300;
}
.contbox5 ul {
  width: 5.7rem;
  margin: auto;
  margin-top: 0.2rem;
}
.contbox5 ul li {
  margin-bottom: 0.5rem;
  color: #999;
  font-size: 0.26rem;
  display: flex;
}
.contbox5 ul li > em {
  display: flex;
  justify-content: center;
  font-size: 0.24rem;
  color: #ccc;
  line-height: 0.4rem;
  width: 0.38rem;
  background: url(../img/img2.png) no-repeat center top;
  background-size: 100% auto;
}
.contbox5 ul li div {
  width: calc(100% - 0.38rem);
  padding-left: 0.2rem;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}
.contbox5 ul li div i {
  color: #FDB300;
}
.contbox6 {
  width: 100%;
  height: 2.84rem;
  background: url(../img/img15.png) no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.45rem;
  display: flex;
}
.contbox6 img {
  width: 1.94rem;
  height: 1.94rem;
}
.contbox6 .box-r {
  display: flex;
  flex-direction: column;
  padding-left: 0.2rem;
}
.contbox6 .box-r p {
  font-size: 0.3rem;
  color: #fff;
}
.contbox6 .box-r p em {
  color: #fdb300;
}
.contbox6 .box-r span {
  font-size: 0.2rem;
  color: #ccc;
}
.contbox7 {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  top: 0;
  left: 0;
}
.contbox7 .cont {
  width: 4.9rem;
  height: 2.89rem;
  background: url(../img/float.png) no-repeat center;
  background-size: 100% 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.2rem;
}
.contbox7 .cont .close-btn {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  top: 0.4rem;
  right: 0.4rem;
}
.contbox7 .cont p {
  color: #dfd900;
  font-size: 0.36rem;
  margin-bottom: 0.4rem;
}
.contbox7 .cont span {
  color: #666;
  font-size: 0.22rem;
}
