a,
img {
	display: block;
	border: 0;
}

li {
	float: left;
	list-style: none;
}

.Coverall {
	width: 100%;
	height: 2988px;
	background: #000 url(../images/indexBg.jpg) no-repeat center top;
	min-width: 1200px;
}

.Coverall .act_01 {
	width: 490px;
	height: 116px;
	background: url(../images/act_01.png);
	background-size: 100% 100%;
	margin: 0 auto;
	margin-top: 200px;
}

.Coverall .con {
	width: 1200px;
	height: 2988px;
	margin: 0 auto;
}

.Coverall .top {
	width: 1200px;
	height: 930px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}

.Coverall .top .enter {
	width: 156px;
	height: 45px;
	position: absolute;
	top: 30px;
	right: 0;
}

.Coverall .enter img {
	width: 100%;
	height: 100%;
}

.Coverall .top .videoBtn {
	width: 100px;
	height: 100px;
	position: absolute;
	z-index: 11;
	top: 480px;
	right: 115px;
}

.Coverall .top .videoBtn i {
	width: 100%;
	height: 100%;
	display: block;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
}

.Coverall .top .videoBtn .i-video-01 {
	background: url(../images/play_btn1.png) no-repeat;
	background-size: 100% 100%;
}

.Coverall .top .videoBtn.on .i-video-01 {
	animation: rotate 2s linear infinite;
	-webkit-animation: rotate 2s linear infinite;
	-moz-animation: rotate 2s linear infinite;
	-ms-animation: rotate 2s linear infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.Coverall .top .videoBtn i.i-video-02 {
	width: 27px;
	height: 35px;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(../images/play_btn2.png) no-repeat;
	background-size: 100% 100%;
}

.Coverall .top .videoBtn.on .i-video-02 {
	animation: scales 2.5s linear infinite;
	-webkit-animation: scales 2.5s linear infinite;
	-moz-animation: scales 2.5s linear infinite;
	-ms-animation: scales 2.5s linear infinite;
}

@keyframes scales {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2)
	}
	100% {
		transform: scale(1);
	}
}

.Coverall .top .p1 {
	display: none;
	width: 410px;
	height: 73px;
	line-height: 73px;
	color: #fff;
	text-align: center;
	font-size: 24px;
	margin-top: 816px;
}

.Coverall .top .order {
	width: 216px;
	height: 57px;
	position: absolute;
	top: 777px;
	left: 417px;
}

.Coverall .top .order img {
	width: 100%;
	height: 100%;
}

.Coverall .fixed1 {
	width: 150px;
	height: 265px;
	position: fixed;
	top: 66.04%;
	margin-top: -132px;
	right: 10px;
	z-index: 999;
}

.Coverall .fixed1 img {
	margin-top: 3px;
}

.Coverall .fixed1 .er {
	width: 139px;
	height: 139px;
}

.Coverall .special a {
	width: 70px;
	height: 473px;
	float: left;
	opacity: 0.2;
	position: relative;
}

.Coverall .special img {
	width: 70px;
	height: 411px;
	position: absolute;
	bottom: 0;
}

.Coverall .special img:hover {
	cursor: pointer;
}

.Coverall .special .specialLeft1 {
	opacity: 1;
	border: 1px solid red;
}

.Coverall .special {
	float: left;
	width: 353px;
	height: 434px;
	margin-top: 180px;
	background: #000;
}

.Coverall .special .left {
	float: left;
	width: 381px;
	height: 434px;
	margin-top: 180px;
}

.Coverall .specialAll {
	width: 1200px;
	margin: 0 auto;
	margin-top: 30px;
	height: 1200px;
}

.Coverall .specialAll .act_02 {
	width: 485px;
	height: 112px;
	margin: 0 auto;
	background: url(../images/act_02.png);
}

.Coverall .right .special1 {
	display: block;
}

.Coverall .right {
	float: left;
	width: 701px;
	height: 931px;
	margin-top: 46px;
	float: left;
	margin-left: 50px;
}

.Coverall .right div {
	width: 710px;
	height: 779px;
	display: none;
}

.Coverall .right .special1 {
	display: block;
}

.Coverall .footerAll {
	width: 100%;
	height: 140px;
	background: #1b1b1b;
	min-width: 1200px;
}

.Coverall .footer {
	width: 850px;
	height: 140px;
	margin: 0 auto;
}

.Coverall .footer .img1 {
	width: 260px;
	height: 67px;
	float: left;
	margin: 38px 24px 35px 15px;
}

.Coverall .text {
	float: left;
	width: 480px;
	height: 93px;
	margin-top: 12px;
	border-left: 1px solid #ccc;
	padding-left: 60px;
	padding-top: 20px;
}

.Coverall .text li {
	width: 100%;
	height: 22px;
	font-size: 12px;
	line-height: 22px;
	color: #fff;
}

.Coverall .text a {
	float: left;
	height: 17px;
	margin-left: 5px;
}

.Coverall .text .a1 {
	width: 18px;
}

.Coverall .text .a2 {
	width: 15px;
}

.Coverall #video_mask {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	display: none;
	background: url(../images/d.png);
}

.Coverall #player {
	width: 714px;
	height: 378px;
	position: relative;
	left: 50%;
	top: 50%;
	margin: -189px 0 0 -357px;
}

.Coverall #close {
	width: 30px;
	height: 30px;
	position: absolute;
	top: -30px;
	right: -30px;
	background: url(../images/close.png) no-repeat;
	cursor: pointer;
}

.Coverall .videos {
	width: 714px;
	height: 378px;
	background: #fff;
	margin: 20px auto;
	clear: both;
	overflow: hidden;
}

.Coverall .videos embed {
	display: block;
	width: 696px;
	height: 358px;
	margin: 9px;
}

.Coverall .activity {
	width: 100%;
	height: 750px;
}

.Coverall .act {
	width: 1200px;
	height: 644px;
	overflow: hidden;
}

.Coverall .act a {
	width: 200px;
	height: 280px;
	float: left;
	margin-left: 87px;
	margin-top: 30px;
}

.Coverall .shadow {
	width: 100%;
	height: 100%;
	position: fixed;
	background: #000;
	opacity: .8;
	top: 0;
	left: 0;
	display: none;
}


/*.Coverall .img{width: 739px;overflow: hidden;position: fixed;top: 50%;left: 50%;margin-left: -370px;height: 593px;margin-top: -298px;}*/

.Coverall .banner-img {
	width: 100%;
	height: 593px;
	position: absolute;
}

.Coverall .imgAll {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: none;
}

.Coverall #prev {
	width: 48px;
	height: 80px;
	background: url(../images/leftBtn.png);
	position: fixed;
	top: 20%;
	left: 50%;
	margin: 279px -370px;
}

.Coverall #next {
	width: 48px;
	height: 80px;
	background: url(../images/rightBtn.png);
	position: fixed;
	top: 20%;
	right: 50%;
	margin: 279px -370px;
}

/*.Coverall #close1 {
	position: fixed;
	top: 50%;
	right: 50%;
	width: 56px;
	height: 56px;
	background: url(../images/close1.png);
	margin: -298px -426px;
	cursor: pointer;
}*/

.Coverall .actTop {
	width: 1326px;
	height: 1px;
	margin-top: 313px;
}


/*-----------------------------------------------------detail------------------------------------------------*/

.DetailAll {
	width: 100%;
	min-height: 1000px;
	background: #000 url(../images/bg.png)no-repeat center top;
	min-width: 1200px;
	position: relative;
	background-size: 100% auto;
}

.DetailAll .fixed1 {
	width: 150px;
	height: 265px;
	position: fixed;
	top: 66.04%;
	margin-top: -132px;
	left: 10px;
	z-index: 999;
}

.DetailAll .fixed1 img {
	margin-top: 3px;
}

.DetailAll .fixed1 .er {
	width: 139px;
	height: 139px;
}

.DetailAll .content {
	width: 1200px;
	min-height: 1200px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.DetailAll .left {
	width: 855px;
	height: 100px;
	margin-left: 173px;
	margin-top: 85px;
	border-bottom: 1px dashed #fff;
}

.DetailAll .left .p1 {
	color: #9c8e4f;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.DetailAll .left .p2 {
	width: 855px;
	text-align: center;
	color: #fff;
	font-size: 24px;
}

.DetailAll .right {
	width: 855px;
	height: auto;
	margin-left: 173px;
	margin-top: 85px;
}

.DetailAll .right p {
	width: 855px;
	font-size: 14px;
	color: #fff;
	line-height: 29px;
	margin-bottom: 20px;
}

.DetailAll .right img {
	margin: 0 auto;
	margin-top: 44px;
	max-width: 800px;
	height: auto;
}

.DetailAll .fixed {
	width: 122px;
	height: 879px;
	float: right;
	position: absolute;
	top: 0px;
	right: 16px;
}

.DetailAll .pic {
	width: 122px;
	height: 676px;
	background: url(../images/rightBg.png);
}

.DetailAll .pic a {
	width: 122px;
	height: 90px;
	margin-top: 30px;
}

.DetailAll .pic img {
	width: 73px;
	height: 74px;
	float: left;
	margin-top: 5px;
	margin-left: 14px;
}

.DetailAll .pic p {
	float: right;
	width: 30px;
	height: 100%;
	color: #fff;
	font-size: 16px;
	text-align: center;
}

.DetailAll #nav a.on1 p {
	color: #a30b15;
}

.DetailAll .link {
	width: 122px;
	height: 31px;
	margin-top: 67px;
}

.DetailAll .link a {
	width: 28px;
	height: 28px;
	float: left;
	margin-left: 10px;
}

.DetailAll #erweima {
	display: none;
	width: 153px;
	height: 153px;
	position: absolute;
	top: 817px;
	right: 0;
	display: none;
}

.footerAll {
	width: 100%;
	height: 140px;
	background: #1b1b1b;
	min-width: 1200px;
}

.footerAll .footer {
	width: 850px;
	height: 140px;
	margin: 0 auto;
}

.footerAll .footer .img1 {
	width: 260px;
	height: 67px;
	float: left;
	margin: 38px 24px 35px 15px;
}

.footerAll .text {
	float: left;
	width: 480px;
	height: 93px;
	margin-top: 12px;
	border-left: 1px solid #ccc;
	padding-left: 60px;
	padding-top: 20px;
}

.footerAll .text li {
	width: 100%;
	height: 22px;
	font-size: 12px;
	line-height: 22px;
	color: #fff;
}

.footerAll .text a {
	float: left;
	height: 17px;
	margin-left: 5px;
	color: #fff;
}

.footerAll .text .a1 {
	width: 18px;
}

.footerAll .text .a2 {
	width: 15px;
}


/*-----------------------------------------------------index------------------------------------------------*/

.Indexall {
	width: 100%;
	background: #000 url(../images/indexBg.jpg) no-repeat center top;
	min-width: 1200px;
}

.Indexall .conAll {
	width: 1200px;
	margin: 0 auto;
}

.Indexall .con {
	width: 1200px;
	margin: 0 auto;
}

.Indexall .top {
	width: 1200px;
	height: 800px;
	position: relative;
	overflow: hidden;
}

.Indexall .top .videoBtn {
	width: 100px;
	height: 100px;
	position: absolute;
	z-index: 11;
	top: 480px;
	right: 115px;
}

.Indexall .top .videoBtn i {
	width: 100%;
	height: 100%;
	display: block;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
}

.Indexall .top .videoBtn .i-video-01 {
	background: url(../images/play_btn1.png) no-repeat;
	background-size: 100% 100%;
}

.Indexall .top .videoBtn.on .i-video-01 {
	animation: rotate 2s linear infinite;
	-webkit-animation: rotate 2s linear infinite;
	-moz-animation: rotate 2s linear infinite;
	-ms-animation: rotate 2s linear infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.Indexall .top .videoBtn .i-video-02 {
	width: 27px;
	height: 35px;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(../images/play_btn2.png) no-repeat;
	background-size: 100% 100%;
}

.Indexall .top .videoBtn.on .i-video-02 {
	animation: scales 2.5s linear infinite;
	-webkit-animation: scales 2.5s linear infinite;
	-moz-animation: scales 2.5s linear infinite;
	-ms-animation: scales 2.5s linear infinite;
}

@keyframes scales {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2)
	}
	100% {
		transform: scale(1);
	}
}

.Indexall .top .p1 {
	display: none;
	width: 410px;
	height: 73px;
	line-height: 73px;
	color: #fff;
	text-align: center;
	font-size: 24px;
	margin-top: 687px;
}

.Indexall .top .order {
	width: 216px;
	height: 57px;
	position: absolute;
	top: 643px;
	left: 417px;
}

.Indexall .top .order img {
	width: 100%;
	height: 100%;
}

.fixed {
	width: 118px;
	height: 842px;
	float: right;
	position: fixed;
	top: 22px;
	right: 0;
	z-index: 999;
	background: url(../images/d.png);
}

.pic {
	width: 118px;
	height: 676px;
}

.pic a {
	width: 118px;
	height: 90px;
	margin-top: 25px;
}

.pic img {
	width: 73px;
	height: 74px;
	float: left;
	margin-left: 14px;
	margin-top: 5px;
}

.pic p {
	float: right;
	width: 30px;
	height: 100%;
	color: #fff;
	font-size: 16px;
	text-align: center;
}

.pic a:hover {
	color: #a30b15;
}

.link {
	width: 118px;
	height: 31px;
	margin-top: 37px;
}

.link a {
	width: 28px;
	height: 28px;
	float: left;
	margin-left: 10px;
}

.fixed1 {
	width: 150px;
	height: 265px;
	position: fixed;
	top: 66.04%;
	margin-top: -132px;
	left: 20px;
	z-index: 999;
}

.fixed1 img {
	margin-top: 3px;
}

.fixed1 .er {
	width: 139px;
	height: 139px;
}

.Indexall .goTop {
	width: 36px;
	height: 82px;
	position: fixed;
	right: 100px;
	bottom: 41px;
	cursor: pointer;
	display: none;
}

.Indexall .goTop img {
	width: 100%;
	height: 100%;
}

.fixed #erweima {
	position: absolute;
	top: 814px;
	left: -6px;
	display: none;
	width: 153px;
	height: 153px;
}

.Indexall #nav a.on1 p {
	color: #a30b15;
}

.Indexall .gameInfo {
	width: 100%;
	height: 867px;
	background: url(../images/beauty.png) no-repeat;
	position: relative;
}

.Indexall .infoTop {
	background: url(../images/infoTop.png);
	width: 1200px;
	height: 36px;
	margin-bottom: 70px;
	margin-top: 260px;
}

.Indexall .swiper-container {
	width: 665px;
	height: 305px;
	margin-left: 405px;
	margin-bottom: 14px;
}

.Indexall .swiper-wrapper img {
	height: 278px;
	width: 665px;
}

.Indexall .swiper-pagination span.swiper-pagination-bullet {
	width: 13px;
	height: 14px;
	display: block;
	float: left;
	background: url(../images/button.png) 100% 100%;
}

.Indexall .swiper-pagination span.swiper-pagination-bullet-active {
	background: url(../images/buttonActive.png) 100% 100%;
}

.Indexall .swiper-pagination {
	padding-left: 600px;
	bottom: 0;
}

.Indexall .info {
	width: 722px;
	height: 36px;
	background: url(../images/info.jpg) no-repeat;
	margin-right: 103px;
	float: right;
	margin-bottom: 16px;
}

.Indexall .info li {
	border-right: #851820 solid 1px;
}

.Indexall .info li.on {
	background: url(../images/active1.png) 100% 100%;
	cursor: pointer;
}

.Indexall .info li.li1 {
	background: #520c0c;
	cursor: pointer;
}

.Indexall .info li {
	width: 120px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	color: #fff;
	font-size: 16px;
}

.Indexall .info li.item2 {
	width: 120px;
}

.Indexall .info li.item1.on,
.Indexall .info li.item1:hover {
	background: url(../images/Q1.jpg) no-repeat;
}

.Indexall .info li.item2.on,
.Indexall .info li.item2:hover {
	background: url(../images/Q2.jpg) no-repeat;
}

.Indexall .info li.item3.on,
.Indexall .info li.item3:hover {
	background: url(../images/Q3.jpg) no-repeat;
}

.Indexall .info li.item4.on,
.Indexall .info li.item4:hover {
	background: url(../images/Q4.jpg) no-repeat;
}

.Indexall .info li.item5.on,
.Indexall .info li.item5:hover {
	background: url(../images/Q5.jpg) no-repeat;
}

.Indexall .gameInfo .last:hover {
	background: url(../images/Q6.jpg) no-repeat;
}

.Indexall .gameInfo .last {
	width: 117px;
	height: 36px;
	color: #fff;
	font-size: 16px;
	position: relative;
	text-align: center;
	line-height: 36px;
	float: right
}

.Indexall .gameInfo .last i {
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url(../images/more.png);
	background-size: 100% 100%;
	vertical-align: middle;
	margin-left: 10px;
}

.Indexall .list {
	width: 725px;
	height: 257px;
	margin-left: 376px;
	background: #000;
	opacity: .8;
}

.Indexall .list ul {
	width: 639px;
	margin: 0 auto;
	margin-top: 48px;
	display: none;
}

.Indexall .list .ul {
	display: block;
}

.Indexall .list ul li {
	height: 38px;
}

.Indexall .list a {
	height: 55px;
	width: 639px;
	color: #fff;
}

.Indexall .list a:hover {
	color: red;
}

.Indexall .list span {
	height: 38px;
	font-size: 14px;
	line-height: 55px;
}

.Indexall .list .span1 {
	float: left;
	width: 389px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.Indexall .list .span2 {
	float: right;
	width: 110px;
}

.Indexall .person {
	width: 1200px;
	height: 35px;
	background: url(../images/person.png);
	margin-bottom: 52px;
}

.Indexall .introduce {
	width: 100%;
	height: 851px;
}

.Indexall .introduce .left {
	float: left;
	width: 716px;
	height: 852px;
}

.Indexall .introduce .left .personLeft1 {
	display: block;
}

.Indexall .introduce .left img {
	display: none;
}

.Indexall .introduce .right {
	float: left;
	width: 373px;
	height: 852px;
	margin-top: 20px;
	margin-left: 35px;
}

.Indexall .introduce .right ul {
	width: 100%;
	height: 100%;
}

.Indexall .introduce .right ul li {
	margin-top: 27px;
	margin-right: 30px;
	cursor: pointer;
	position: relative;
}

.Indexall .introduce .right ul li img {
	width: 154px;
	height: 155px;
}

.Indexall .introduce .right ul li .per {
	position: absolute;
	width: 154px;
	height: 155px;
	top: 0;
	left: 0;
	opacity: .5;
	background: #000;
}

.Indexall .introduce .right ul li.on .per {
	display: none
}

.Indexall .specialBg1 {
	width: 1200px;
	height: 36px;
	background: url(../images/specialBg1.png);
	margin-bottom: 64px;
}

.Indexall .special {
	width: 100%;
	height: 967px;
}

.Indexall .special .left {
	float: left;
	width: 381px;
	height: 434px;
	margin-top: 180px;
	background: #000;
}

.Indexall .special .left a {
	width: 70px;
	height: 473px;
	float: left;
	opacity: 0.2;
	position: relative;
}

.Indexall .special .left img {
	width: 70px;
	height: 411px;
	position: absolute;
	bottom: 0;
}

.Indexall .special .left img:hover {
	cursor: pointer;
}

.Indexall .special .left .specialLeft1 {
	opacity: 1;
	border: 1px solid red;
}

.Indexall .special .right .special1 {
	display: block;
}

.Indexall .special .right {
	float: left;
	width: 701px;
	height: 931px;
}

.Indexall .special .right div {
	width: 710px;
	height: 779px;
	display: none;
}

.Indexall .special .right .special1 {
	display: block;
}

.Indexall .gamePic {
	width: 1200px;
	height: 36px;
	margin-bottom: 89px;
	background: url(../images/gamePic.png);
}

.Indexall .video {
	width: 1028px;
	height: auto;
	margin: 0 auto;
}

.Indexall .video .top li {
	position: relative;
	cursor: pointer;
}

.Indexall .video .top {
	width: 100%;
	height: 855px;
	margin-bottom: 50px;
}

.Indexall .video .top .li1 {
	width: 718px;
	height: 413px;
	margin-right: 22px;
}

.Indexall .video .top .li1 p {
	background: #ba4e0d;
	opacity: .8;
}

.Indexall .video .top .li2 p {
	background: #65a5c3;
}

.Indexall .video .top .li3 p {
	background: #c27d7f;
	opacity: .8;
}

.Indexall .video .top li p {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-size: 15px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.Indexall .video .top .li2 {
	width: 255px;
	height: 200px;
	margin-bottom: 13px;
}

.Indexall .video .top i {
	display: block;
	width: 97px;
	height: 97px;
	background: url(../images/videoBtn.png);
	position: absolute;
	top: 50%;
	left: 50%;
}

.Indexall .video .top .li1 i {
	margin: -50px 0 0 -50px;
}

.Indexall .video .top .li2 i {
	margin: -70px 0 0 -50px;
}

.Indexall .video .top .li6 {
	width: 490px;
	height: 385px;
}

.Indexall .video .top .li4 {
	background: url(../images/video4.png);
	margin-right: 15px;
}

.Indexall .video .top .li5 {
	background: url(../images/video5.png);
}

.Indexall .video .top .li4 p {
	background: #ccc100;
	opacity: .8;
}

.Indexall .video .top .li5 p {
	background: #65a5c3;
	opacity: .8;
}

.Indexall .footerAll {
	width: 100%;
	height: 140px;
	background: #1b1b1b;
	min-width: 1200px;
}

.Indexall .footer {
	width: 850px;
	height: 140px;
	margin: 0 auto;
}

.Indexall .footer .img1 {
	width: 260px;
	height: 67px;
	float: left;
	margin: 38px 24px 35px 15px;
}

.Indexall .text {
	float: left;
	width: 480px;
	height: 93px;
	margin-top: 12px;
	border-left: 1px solid #ccc;
	padding-left: 60px;
	padding-top: 20px;
}

.Indexall .text li {
	width: 100%;
	height: 22px;
	font-size: 12px;
	line-height: 22px;
	color: #fff;
}

.Indexall .text a {
	float: left;
	height: 17px;
	margin-left: 5px;
	color: #fff;
}

.Indexall .text .a1 {
	width: 18px;
}

.Indexall .text .a2 {
	width: 15px;
}

.Indexall #video_mask {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	display: none;
	background: url(../images/d.png);
}

.Indexall #player {
	width: 714px;
	height: 378px;
	position: relative;
	left: 50%;
	top: 50%;
	margin: -189px 0 0 -357px;
}

.Indexall #close {
	width: 30px;
	height: 30px;
	position: absolute;
	top: -30px;
	right: -30px;
	background: url(../images/close.png) no-repeat;
	cursor: pointer;
}

.Indexall .videos {
	width: 714px;
	height: 378px;
	background: #fff;
	margin: 20px auto;
	clear: both;
	overflow: hidden;
}

.Indexall .videos embed {
	display: block;
	width: 696px;
	height: 358px;
	margin: 9px;
}

.shadow_order {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: url(../images/d.png);
	display: none;
	z-index: 9999;
}

.shadow_order .orderBg_01 {
	width: 610px;
	height: 357px;
	background: url(../images/orderBg_01.png);
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -178px 0 0 -305px;
}

.orderClose {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	right: 0;
}

.shadow_order .phone {
	width: 300px;
	height: 40px;
	margin-left: 172px;
	margin-top: 120px;
}

.shadow_order .phone li {
	width: 126px;
	height: 40px;
	border: 2px solid #ff0000;
	font-size: 20px;
	text-align: center;
	line-height: 40px;
	color: #fff;
	margin-right: 15px;
	cursor: pointer;
}

.shadow_order .phone li.Android {
	color: #ef0000;
}

.shadow_order .phone li.ios {
	color: #ef0000;
}

.shadow_order .tel input {
	width: 268px;
	height: 40px;
	border: 2px solid #ff0000;
	text-indent: 10px;
	line-height: 40px;
	display: block;
	margin-left: 172px;
	margin-top: 10px;
}

.shadow_order .submit {
	width: 133px;
	height: 43px;
	margin-top: 12px;
	margin-left: 249px;
}

.shadow_order .submit img {
	width: 100%;
	height: 100%;
}

.shadow_order .sum {
	width: 445px;
	height: 45px;
	line-height: 45px;
	color: #fff;
	font-size: 18px;
	margin-left: 66px;
}

.shadow_order .sum span {
	color: #ff0000;
}

.shadow_phone {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: url(../images/d.png);
	z-index: 9999;
}

#shadow_false2 {
	display: none;
}

#shadow_false1 {
	display: none;
}

#shadow_false1 p {
	margin-top: 71px;
}

#shadow_false2 p {
	margin-top: 101px;
	text-align: center;
}

.shadow_phone .phoneBg {
	width: 610px;
	height: 302px;
	background: url(../images/orderBg_02.png);
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -151px 0 0 -305px;
}

.shadow_phone .phoneBg .phoneClose {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	right: 0;
}

.shadow_phone .sure {
	position: absolute;
	top: 173px;
	left: 247px;
	width: 140px;
	height: 44px;
}

.shadow_phone .phoneBg p {
	width: 501px;
	height: 95px;
	margin-left: 66px;
	color: #fff;
	font-size: 16px;
	line-height: 30px;
}


/*-----------------------------------------------------list------------------------------------------------*/

.ListAll {
	width: 100%;
	height: 1164px;
	background: url(../images/bg.jpg) top center;
	min-width: 1200px;
	position: relative;
	background-size: 100% 100%;
}

.ListAll .fixed1 {
	width: 150px;
	height: 265px;
	position: fixed;
	top: 66.04%;
	margin-top: -132px;
	left: 10px;
	z-index: 999;
}

.ListAll .fixed1 img {
	margin-top: 3px;
}

.ListAll .fixed1 .er {
	width: 139px;
	height: 139px;
}

.ListAll .content {
	width: 1200px;
	height: 1164px;
	margin: 0 auto;
	position: relative;
}

.ListAll .list {
	width: 856px;
	height: 879px;
	float: left;
	margin: 68px 50px 0px 173px;
}

.ListAll .fixed {
	width: 122px;
	height: 879px;
	float: right;
	position: absolute;
	top: 0px;
	right: 0;
}

.ListAll .list .top {
	width: 856px;
	height: 43px;
	background: url(../images/nav.png) no-repeat;
}

.ListAll .list .top .on {
	background: url(../images/active.png) 100% 100%;
	cursor: pointer;
}

.ListAll .list .top li {
	width: 171px;
	height: 43px;
}

.ListAll .list .top li a {
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 43px;
	color: #fff;
	font-size: 20px;
}

.ListAll .list .center {
	width: 856px;
	height: 671px;
}

.ListAll .list .center ul {
	width: 818px;
	margin: 0 auto;
	margin-top: 48px;
	display: none;
}

.ListAll .list .center .ul {
	display: block;
}

.ListAll .list .center a {
	height: 55px;
	width: 818px;
	border-bottom: 1px dashed #fff;
	color: #fff;
}

.ListAll .list .center a:hover {
	color: red;
}

.ListAll .list .center span {
	height: 55px;
	font-size: 14px;
	line-height: 55px;
}

.ListAll .list .center .span1 {
	float: left;
	width: 586px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.ListAll .list .center .span2 {
	float: right;
	width: 108px;
}

.ListAll .bottom {
	width: 513px;
	height: 28px;
	margin: 0 auto;
	margin-top: 63px;
}

.ListAll .bottom p,
.bottom li {
	float: left;
	margin-left: 10px;
	background: #7f0000;
	color: #fff;
	text-align: center;
	line-height: 28px
}

.ListAll .bottom ul {
	float: left;
	width: 200px;
	height: 28px;
}

.ListAll .bottom p {
	width: 68px;
	height: 28px;
	cursor: pointer;
}

.ListAll .bottom p:hover {
	background: #ff4141;
}

.ListAll .bottom li {
	width: 28px;
	cursor: pointer;
	margin-left: 5px;
}

.ListAll .bottom li:hover {
	background: #ff4141;
}

.ListAll .pic {
	width: 122px;
	height: 676px;
	background: url(../images/rightBg.png);
}

.ListAll .pic a {
	width: 122px;
	height: 90px;
	margin-top: 30px;
}

.ListAll .pic img {
	width: 73px;
	height: 74px;
	float: left;
	margin-top: 5px;
	margin-left: 14px;
}

.ListAll .pic a {
	color: #a30b15;
}

.ListAll .pic p {
	float: right;
	width: 30px;
	height: 100%;
	color: #fff;
	font-size: 16px;
	text-align: center;
}

.ListAll #nav a.on1 p {
	color: #a30b15!important;
}

.ListAll .link {
	width: 122px;
	height: 31px;
	margin-top: 67px;
}

.ListAll .link a {
	width: 28px;
	height: 28px;
	float: left;
	margin-left: 10px;
}

.ListAll .footerAll {
	width: 100%;
	height: 140px;
	background: #1b1b1b;
	bottom: 0;
	position: absolute;
	min-width: 1200px;
}

.ListAll .footer {
	width: 850px;
	height: 140px;
	margin: 0 auto;
}

.ListAll .footer .img1 {
	width: 260px;
	height: 67px;
	float: left;
	margin: 38px 24px 35px 15px;
}

.ListAll .text {
	float: left;
	width: 480px;
	height: 93px;
	margin-top: 12px;
	border-left: 1px solid #ccc;
	padding-left: 60px;
	padding-top: 20px;
}

.ListAll .text li {
	width: 100%;
	height: 22px;
	font-size: 12px;
	line-height: 22px;
	color: #fff;
}

.ListAll .text a {
	float: left;
	height: 17px;
	margin-left: 5px;
}

.ListAll .text .a1 {
	width: 18px;
}

.ListAll .text .a2 {
	width: 15px;
}

.ListAll #erweima {
	display: none;
	position: absolute;
	top: 814px;
	left: -6px;
	width: 153px;
	height: 153px;
}


/*分页*/

.ListAll .a_listpage {
	margin: 55px 0 50px;
	text-align: center;
}

.ListAll .a_listpage .number {
	font-size: 18px;
	text-align: center;
}

.ListAll ul#yw0 {
	display: inline-block;
	padding-left: 0;
}

.ListAll .a_listpage ul li {
	display: inline;
}

.ListAll .a_listpage ul li a {
	background: #800001;
	color: #fff;
	font-size: 14px;
	margin: 2px;
	padding: 3px 10px;
}

.ListAll .a_listpage li.cur a,
.a_listpage ul li a:hover,
.a_listpage ul li.active a {
	background: #ff4141;
	color: #fff
}


/*-----------------------------------------------------special------------------------------------------------*/

.specialALL {
	width: 100%;
	height: 4900px;
	position: relative;
	background-size: 100% 100%;
	background: url(../images/specialBg.jpg);
}

.specialALL .contentAll {
	width: 1200px;
	height: 4900px;
	margin: 0 auto;
	position: relative;
}

.specialALL .content {
	width: 1075px;
	height: 4900px;
	margin: 0 auto;
}

.specialALL .content .pic8 {
	height: 968px;
}

.specialALL .content .pic9 {
	height: 896px;
}

.specialALL .content .pic10 {
	height: 908px;
}

.specialALL .content .pic11 {
	height: 843px;
}

.specialALL .fixed {
	width: 122px;
	height: 696px;
	float: right;
	position: fixed;
	top: 17px;
	right: 0;
	z-index: 999;
}

.specialALL .pic {
	width: 122px;
	height: 676px;
	background: url(../images/rightBg.png);
}

.specialALL .pic a {
	width: 122px;
	height: 90px;
	margin-top: 30px;
}

.specialALL .pic p {
	float: right;
	width: 30px;
	height: 100%;
	color: #fff;
	font-size: 16px;
	text-align: center;
}

#nav a.on1 p {
	color: #a30b15;
}

.specialALL .link {
	width: 122px;
	height: 31px;
	margin-top: 67px;
}

.specialALL .link a {
	width: 28px;
	height: 28px;
	float: left;
	margin-left: 10px;
}

.specialALL .content img {
	margin: 0 auto;
}

.specialALL .pic img {
	width: 73px;
	height: 74px;
	float: left;
	margin-left: 14px;
	margin-top: 5px;
}

.specialALL .fixed1 {
	width: 150px;
	height: 265px;
	position: fixed;
	top: 66.04%;
	margin-top: -132px;
	left: 10px;
	z-index: 999;
}

.specialALL .fixed1 .er {
	width: 139px;
	height: 139px;
}

.specialALL .fixed1 img {
	margin-top: 3px;
}

.specialALL .footerAll {
	width: 100%;
	height: 140px;
	background: #1b1b1b;
	bottom: 0;
	position: absolute;
	min-width: 1200px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.specialALL .footer {
	width: 850px;
	height: 140px;
	margin: 0 auto;
}

.specialALL .footer .img1 {
	width: 260px;
	height: 67px;
	float: left;
	margin: 38px 24px 35px 15px;
}

.specialALL .text {
	float: left;
	width: 480px;
	height: 93px;
	margin-top: 12px;
	border-left: 1px solid #ccc;
	padding-left: 60px;
	padding-top: 20px;
}

.specialALL .text li {
	width: 100%;
	height: 22px;
	font-size: 12px;
	line-height: 22px;
	color: #fff;
}

.specialALL .text a {
	float: left;
	height: 17px;
	margin-left: 5px;
}

.specialALL .text .a1 {
	width: 18px;
}

.specialALL .text .a2 {
	width: 15px;
}

.specialALL .goTop {
	width: 36px;
	height: 82px;
	position: fixed;
	left: 1587px;
	top: 748px;
	display: none;
	cursor: pointer;
}

.specialALL .goTop img {
	width: 100%;
	height: 100%;
}

.specialALL #erweima {
	display: none;
	position: absolute;
	top: 814px;
	left: -10px;
	width: 153px;
	height: 153px;
}

.specialALL .lastImg {
	height: 1144px;
	height: 843px;
}


/*-----------------------------------------------------musicAll------------------------------------------------*/

.musicAll {
	width: 100%;
	height: 2812px;
	background-size: 100% 100%;
}

.musicAll .section1 {
	width: 100%;
	height: 868px;
	background: url(../images/section1.jpg) repeat center top;
}

.musicAll .section1 .line {
	position: relative;
}

.musicAll .section1 .back {
	width: 203px;
	height: 43px;
	position: absolute;
	top: 35px;
	right: 39px;
	display: block;
}

.musicAll .section1 .back img {
	width: 100%;
	height: 100%;
}

.musicAll .section2 {
	width: 100%;
	background: url(../images/section2.jpg) repeat center top;
	height: 1084px;
}

.musicAll .section3 {
	width: 100%;
	height: 858px;
	background: url(../images/section3.jpg) repeat center top;
	position: relative;
}

.musicAll .line {
	width: 1200px;
	height: 868px;
	margin: 0 auto;
}

.musicAll .fixed1 {
	width: 150px;
	height: 265px;
	position: fixed;
	top: 66.04%;
	margin-top: -132px;
	left: 20px;
	z-index: 999;
}

.musicAll .fixed1 img {
	margin-top: 3px;
}

.musicAll .fixed1 .er {
	width: 139px;
	height: 139px;
}


/*-----------------------------------------------------adviser------------------------------------------------*/

.adviserAll {
	width: 100%;
	height: auto;
}

.adviserAll .top {
	width: 100%;
	height: 870px;
	background: url(../images/adviserBg_01.jpg) center top;
}

.adviserAll .center {
	width: 100%;
	height: 1158px;
	background: url(../images/adviserBg_02.jpg) center top;
}

.adviserAll .bottom {
	width: 100%;
	height: 828px;
	background: url(../images/adviserBg_03.jpg) center top;
}


/*-----------------------------------------------------personList------------------------------------------------*/

.personList {
	width: 100%;
	height: 1161px;
	background: url(../images/personListBg.jpg) center top;
	min-width: 1200px;
}

.personList .con {
	width: 1200px;
	height: 1161px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.personList .introduce {
	width: 100%;
	height: 814px;
	margin-top: 124px;
}

.personList .introduce .left {
	float: left;
	width: 715px;
	height: 814px;
	position: relative;
}

.personList .introduce .left .page1 {
	width: 715px;
	height: 814px;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}

.personList .introduce .left .page2 {
	width: 715px;
	height: 814px;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.personList .introduce .left .page3 {
	width: 715px;
	height: 814px;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.personList .introduce .left .personLeft1 {
	display: block;
}

.personList .introduce .left img {
	display: none;
}

.personList .introduce .swiper-container {
	float: left;
	width: 389px;
	height: 814px;
	margin-top: 78px;
	position: relative;
	margin-left: -20px;
}

.personList .introduce .swiper-container .swiper-button-prev {
	width: 40px;
	height: 69px;
	position: absolute;
	top: 339px;
	left: 0px;
	background: url(../images/prev.png);
}

.personList .introduce .swiper-container .swiper-button-next {
	width: 40px;
	height: 69px;
	position: absolute;
	top: 339px;
	right: 0px;
	background: url(../images/next.png);
}

.personList .introduce .swiper-container ul {
	width: 100%;
	height: 100%;
}

.personList .introduce .swiper-container ul li {
	margin-bottom: 25px;
	margin-left: 30px;
	cursor: pointer;
	position: relative;
}

.personList .introduce .swiper-container ul li img {
	width: 154px;
	height: 155px;
}

.personList .introduce .swiper-container ul li .per {
	position: absolute;
	width: 154px;
	height: 155px;
	top: 0;
	left: 0;
	opacity: .5;
	background: #000;
}

.personList .introduce .swiper-container ul li.on .per {
	display: none
}

.personList .fixed {
	position: absolute;
	right: 0;
	top: 22px;
}

.personList .fixed #erweima {
	left: -51px;
	top: 780px;
}


/*-----------------------------------------------------activity ------------------------------------------------*/

.ac_con {
	width: 100%;
	height: 900px;
	min-width: 1200px;
	background: url(../images/acBg_01.jpg) no-repeat;
}

.ac_con .ac_con_t {
	position: relative;
	width: 1200px;
	height: 900px;
	margin: 0 auto;
}

.ac_con .ac_con_t .backIcon {
	display: block;
	width: 244px;
	height: 44px;
	position: absolute;
	top: 46px;
	left: 0;
	background: url(../images/backIcon.png) no-repeat;
}

.ac_con .ac_con_t .backIcon:hover {
	background: url(../images/backIcon_h.png) no-repeat;
}

.ac_con .ac_con_t .blockShang {
	position: absolute;
	width: 800px;
	height: 703px;
	top: 110px;
	left: -100px;
	background: url(../images/blockSha.png) no-repeat;
}

.ac_con .ac_con_t .textLogo {
	width: 600px;
	height: 600px;
	position: absolute;
	background: url(../images/tongrenji.png) no-repeat;
	top: 0;
	right: 0;
}

.ac_con .ac_con_t .ac_con_text {
	width: 660px;
	height: 270px;
	position: absolute;
	bottom: 0;
	right: 0;
}

.ac_con .ac_con_t .ac_con_text h4 {
	font-size: 24px;
	line-height: 48px;
	text-align: right;
}

.ac_con .ac_con_t .ac_con_text p {
	font-size: 18px;
	line-height: 36px;
}

.ac_con .ac_con_t .ac_con_text p span {
	color: #ba3034;
}

.ac_con .ac_con_t .ac_con_text a {
	background: url(../images/acAddress.png) no-repeat;
	width: 142px;
	height: 120px;
	position: absolute;
	right: 65px;
	bottom: -30px;
}

.ac_con .ac_con_t .ac_con_text a:hover {
	background: url(../images/acAddressHover.png) no-repeat;
}

.ac_b {
	width: 100%;
	min-width: 1200px;
	height: 1100px;
	background: url(../images/acBg_02.jpg) no-repeat;
}

.ac_b .ac_bcon {
	width: 1200px;
	height: 1100px;
	margin: 0 auto;
}

.ac_b .ac_bcon .ac_btn_title {
	width: 210px;
	height: 70px;
}

.ac_b .ac_bcon .ac_btn_title a {
	display: block;
	width: 210px;
	height: 70px;
}

.ac_b .ac_bcon .ac_btn_con {
	width: 1200px;
}

.ac_b .ac_bcon .ac_btn_con ul {
	width: 1200px;
	height: 1000px;
}

.ac_b .ac_bcon .ac_btn_con ul li {
	margin: 15px;
	float: left;
	width: 270px;
	height: 380px;
}

.ac_b .ac_bcon .ac_btn_con ul li div {
	float: left;
	width: 230px;
	height: 230px;
	border: 20px solid transparent;
	border-image: url(../images/borderNoselect.png) 20 20 stretch;
	-moz-border-image: url(../images/borderNoselect.png) 20 20 stretch;
	/* 老的 Firefox */
	-webkit-border-image: url(../images/borderNoselect.png) 20 20 stretch;
	/* Safari 和 Chrome */
	-o-border-image: url(../images/borderNoselect.png) 20 20 stretch;
	/* Opera */
}

.ac_b .ac_bcon .ac_btn_con ul li div:hover {
	border: 20px solid transparent;
	border-image: url(../images/borderSeclect.png) 20 20 stretch;
	-moz-border-image: url(../images/borderSeclect.png) 20 20 stretch;
	/* 老的 Firefox */
	-webkit-border-image: url(../images/borderSeclect.png) 20 20 stretch;
	/* Safari 和 Chrome */
	-o-border-image: url(../images/borderSeclect.png) 20 20 stretch;
	/* Opera */
}

.ac_b .ac_bcon .ac_btn_con ul li a {
	width: 221px;
	height: 221px;
	margin: 4px;
}

.ac_b .ac_bcon .ac_btn_con ul li span {
	width: 230px;
	height: 60px;
	font-size: 18px;
	line-height: 60px;
	display: inline-block;
	text-align: center;
}


/*=========================================   videoCenter start 20161229 by lyq  ==============================================*/

.p-wrap {
	background: #000 url(../images/videoCenter-bg.jpg) no-repeat center top;
	height: 1430px;
	background-size: 104%;
	font-family: "Microsoft YaHei";
}

.p-wrap .conAll {
	height: auto;
}

.p-wrap .con {
	height: 1330px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.public-header .head {
	width: 100%;
	z-index: 99999;
	font-size: 20px;
	height: 70px;
	background: url(../images/headBg2.jpg) no-repeat center top;
	position: fixed;
	top: 42px;
	left: 0;
}

.public-header .head .logo {
	display: block;
	position: absolute;
	top: 10px;
	width: 102px;
	height: 102px;
	left: 88px;
}

.public-header .head .logo img {
	display: block;
	width: 80%;
	height: 80%;
}

.public-header .head .logo_txt {
	width: auto;
	margin-left: 178px;
	float: left;
	margin-top: 10px;
}

.public-header .head .logo_txt .p_01 {
	font-size: 20px;
	color: #fff;
	line-height: 28px;
	height: 28px;
}

.public-header .head .logo_txt .p_02 {
	font-size: 14px;
	color: #fff;
	line-height: 20px;
	height: 20px;
}


/*顶部导航*/

.public-header .p-nav ul {
	margin: 0;
	padding: 0;
	padding-top: 20px;
}

.p-nav ul li a {
	display: inline-block;
	width: 120px;
	height: 24px;
	color: #fff;
	text-align: center;
	font-size: 16px;
	background: url("../images/v-nav-borderleft_03.png") no-repeat;
}

.p-nav ul li:first-child a {
	background: none;
}

.p-nav ul li a:focus,
.p-nav ul li a:active,
.p-nav ul li a:hover {
	color: #a30b15;
}

._head {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

.ico_box {
	position: relative;
}

.ico_box a {
	display: block;
	width: 31px;
	height: 31px;
	float: left;
	background: url(../images/ico.png) no-repeat;
	margin-left: 15px;
}

.ico_box a:first-child {
	margin-left: 0;
}

.ico_box a.ico_wx {
	background-position: 0 0;
}


/*.ico_box a.ico_wx:hover {background-position: 0 -34px;}*/

.ico_box a.ico_qq {
	background-position: -32px 0;
}


/*.ico_box a.ico_qq:hover {background-position: -32px -34px;}*/

.ico_box a.ico_bd {
	background-position: -65px 0;
	margin-right: 19px;
}


/*.ico_box a.ico_bd:hover {background-position: -65px -34px;}*/

.ewm_wx {
	background: #fff;
	height: 85px;
	position: absolute;
	top: 49px;
	left: -35px;
	display: none;
}

.ewm_wx img {
	display: block;
	width: 105px;
	height: 105px;
}

.ico_box a.ico_wx:hover .ewm_wx {
	display: block;
}


/*content*/

.p-wrap .conAll .section-v {
	background: rgba(0, 0, 0, 0.6);
	padding-left: 20px;
	height: auto;
	margin: 0 auto;
	margin-bottom: 20px !important;
}

.p-wrap .video .section-v .v-title {
	line-height: 20px;
	height: 60px;
	position: relative;
}

.p-wrap .video .section-v .v-title img {
	display: inline-block !important;
}

.p-wrap .video .section-v .v-title span {
	position: absolute;
	right: 22px;
	top: 26px;
}

.p-wrap .video .section-v .v-title span>a {
	display: inline-block!important;
	color: #fff;
}

.p-wrap .video .section-v .v-title span>a:hover {
	color: #a30b15;
}

.p-wrap .video .section-v .li1 {
	width: 500px;
	height: 300px;
	margin-right: 25px;
}

.p-wrap .video .section-v .sm-sec-v {
	width: 234px;
	height: 140px;
	margin-right: 15px;
	margin-bottom: 19px;
}

.p-wrap .video .section-v .sm-sec-v img {
	width: 233px;
	height: 140px;
}

.p-wrap .video .section-v .sm-sec-v p {
	bottom: -1px;
}

.p-wrap .video .section-v li img {
	border: 1px solid #800403;
	border-bottom: none;
}

.p-wrap .video .section-v li i {
	width: 55px;
	height: 55px;
	background-size: 100%;
	margin: -40px 0 0 -28px !important;
}

.p-wrap .video .section-v li p {
	position: absolute;
	bottom: -1px;
	left: 1px;
	width: 100%;
	background: #800403 !important;
	height: 30px;
	line-height: 30px;
	color: #fff;
	font-size: 15px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	opacity: 0.8 !important;
}

.p-wrap .video .section-sm {
	padding-top: 10px;
}

.section-v-padTop {
	padding-top: 50px !important;
}

.p-wrap .video .section-sm ul li {
	margin-right: 23px !important;
}

.p-wrap .video .section-sm:last-child {
	margin-bottom: 100px;
}


/*  sub-page   */

.v-sub {
	height: 930px !important;
}

.v-sub .conAll {
	height: 930px !important;
}

.v-sub .con {
	height: 930px !important;
}


/*  / sub-page */


/*分页*/

.a_listpage {
	margin: 20px 0 0px;
	text-align: center;
}

.a_listpage .number {
	font-size: 18px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

ul#yw0 {
	display: inline-block;
	padding-left: 0;
}

.a_listpage ul li {
	display: inline;
}

.a_listpage ul li a {
	background: #800001;
	color: #fff;
	font-size: 14px;
	margin: 2px;
	padding: 3px 10px;
}

.a_listpage li.cur a,
.a_listpage ul li a:hover,
.a_listpage ul li.active a {
	background: #ff4141;
	color: #fff
}


/*视频*/

#video_mask {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	display: none;
	background: url(../images/d.png);
}

#player {
	width: 714px;
	height: 378px;
	position: relative;
	left: 50%;
	top: 50%;
	margin: -189px 0 0 -357px;
}

#close {
	width: 30px;
	height: 30px;
	position: absolute;
	top: -30px;
	right: -30px;
	background: url(../images/close.png) no-repeat;
	cursor: pointer;
}

.videos {
	width: 714px;
	height: 378px;
	background: #fff;
	margin: 20px auto;
	clear: both;
	overflow: hidden;
}

.videos embed {
	display: block;
	width: 696px;
	height: 358px;
	margin: 9px;
}


/*=========================================   videoCenter end 20161229 by lyq    ==============================================*/


/*=========================================   影之刃2-节日元素添加 start 20170105 by lyq    ==============================================*/


/*.festival-height{height: 4940px !important;}*/


/*.festival-height .conAll{height: 4940px !important;}*/


/*.festival-height .con{height: 4940px !important;}*/


/*.public-header .head{background: url(../images/festival-ele/headBg3.jpg) no-repeat center -10px;position: fixed;top:0;left: 0;}*/


/*.p-nav ul li{line-height: 30px;background: url("../images/festival-ele/nav-a-bg.png") no-repeat -9px -5px;position: relative;}*/


/*.p-nav ul li:first-child{background: none;}*/


/*.p-nav ul li a{background: none;}*/


/*.p-nav ul li a>img{display: inline-block;width: 20px;height:31px;position: absolute;display: none;}*/


/*.p-nav ul li a>img._left_img{left:9px;}*/


/*.p-nav ul li a>img._right_img{right:9px;}*/


/*.p-nav ul li a:hover{color:#a30b15;}*/


/*.p-nav ul li a:hover img{display: inline-block;}*/


/*.p-nav ul li a:focus img, .p-nav ul li a:active img{display: inline-block;}*/

.fixed1 {
	width: 140px !important;
	height: 251px !important;
	left: 3%;
}

.fixed1 img {
	margin-top: 3px;
	margin-left: 8px;
	width: 123px;
	height: 48px;
}

.fixed1 .er {
	width: 120px !important;
	height: 120px !important;
	margin-top: 20px !important;
	margin-left: 10px !important;
}


/*!*节日元素——灯笼导航*!*/

.festival-right-nav {
	position: fixed;
	top: 260px;
	right: 280px;
	z-index: 999;
}

.festival-right-elePos a {
	position: relative;
}

.festival-right-elePos a>span.pageScroll {
	display: inline-block;
	width: 73px;
	height: 74px;
	position: absolute;
	background: #000000;
}

.festival-right-elePos a:first-child img {
	width: auto;
	height: auto;
	top: -50px;
}

.festival-right-elePos a:nth-child(2)>.pageScroll {
	top: 0;
	left: 0;
	z-index: 2;
	background: url("../images/home-img.png") 0 0 no-repeat;
}

.festival-right-elePos a:nth-child(3)>.pageScroll {
	top: 68px;
	left: -18px;
	background: url("../images/yxzx-img.png") 0 0 no-repeat;
}

.festival-right-elePos a:nth-child(4)>.pageScroll {
	top: 138px;
	left: 0;
	background: url("../images/rwjs-img.png") 0 0 no-repeat;
}

.festival-right-elePos a:nth-child(5)>.pageScroll {
	top: 192px;
	left: -35px;
	background: url("../images/yxts-img.png") 0 0 no-repeat;
}

.festival-right-elePos a:nth-child(6)>.pageScroll {
	top: 258px;
	left: -14px;
	background: url("../images/yxyh-img.png") 0 0 no-repeat;
}

.festival-right-elePos a:last-child img {
	top: 270px;
	width: auto;
	height: auto;
	position: absolute;
	margin-top: 80px;
}


/*hover*/

.festival-right-elePos a:nth-child(2):hover>.pageScroll {
	background: url("../images/home-hover-img.png") 0 0 no-repeat;
}

.festival-right-elePos a:nth-child(3):hover>.pageScroll {
	background: url("../images/yxzx-hover-img.png") 0 0 no-repeat;
}

.festival-right-elePos a:nth-child(4):hover>.pageScroll {
	background: url("../images/rwjs-hover-img.png") 0 0 no-repeat;
}

.festival-right-elePos a:nth-child(5):hover>.pageScroll {
	background: url("../images/yxts-hover-img.png") 0 0 no-repeat;
}

.festival-right-elePos a:nth-child(6):hover>.pageScroll {
	background: url("../images/yxyh-hover-img.png") 0 0 no-repeat;
}

.festival-right-elePos a>span {
	position: absolute;
	display: none;
}

.festival-right-elePos a:nth-child(2)>span {
	position: absolute;
	left: -110px;
	top: 15px;
}

.festival-right-elePos a:nth-child(3)>span {
	position: absolute;
	left: -128px;
	top: 82px;
}

.festival-right-elePos a:nth-child(4)>span {
	position: absolute;
	left: -112px;
	top: 153px;
}

.festival-right-elePos a:nth-child(5)>span {
	position: absolute;
	left: -146px;
	top: 206px;
}

.festival-right-elePos a:nth-child(6)>span {
	position: absolute;
	left: -126px;
	top: 275px;
}


/*.conAll .top .p1{color: #c5ab89;}*/

.section-v-padTop {
	padding-top: 120px !important;
}

.active {
	color: #a30b15 !important;
}

.Indexall .goTop {
	right: 280px;
	bottom: 125px;
}


/*.Indexall .infoTop{background: url(../images/festival-ele/yzr-yxzx.png) no-repeat 0 0;width: 1200px;height: 66px;margin-bottom: 60px;margin-top: 30px;}*/


/*.Indexall .person{background: url(../images/festival-ele/yzr-rwjs.png) no-repeat 0 0;width: 1200px;height: 66px;margin-bottom: 60px;margin-top: 30px;}*/


/*.Indexall .specialBg1{background: url(../images/festival-ele/yzr-yxts.png) no-repeat 0 0;width: 1200px;height: 66px;margin-bottom: 60px;margin-top: 30px;}*/


/*.Indexall .gamePic{background: url(../images/festival-ele/yzr-yxyh.png) no-repeat 0 0;width: 1200px;height: 66px;margin-bottom: 60px;margin-top: 30px;}*/


/*=========================================   影之刃2-节日元素添加 end   20170105 by lyq    ==============================================*/

.bannerList {
	width: 100%;
	height: 0;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	background: rgba(0, 0, 0, .8);
}

.bannerList>div {
	width: 741px;
	height: 595px;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.swiper-container {
	width: 741px;
	height: 595px;
	position: relative;
}

.swiper-slide {
	width: 100% !important;
	height: 100%;
}

.swiper-button-prev {
	width: 48px;
	height: 80px;
	background: url(../images/leftBtn.png);
	position: absolute;
	margin: auto;
	top: 0;
	left: 10px;
	bottom: 0;
	z-index: 9;
}

.swiper-button-prev:hover {
	cursor: pointer;
}

.swiper-button-next {
	width: 48px;
	height: 80px;
	background: url(../images/rightBtn.png);
	position: absolute;
	margin: auto;
	top: 0;
	right: 10px;
	bottom: 0;
	z-index: 9;
}

.swiper-button-next:hover {
	cursor: pointer;
}
.close1{
	display: block;
	position: absolute;
    top: 0;
    right: -56px;
    width: 56px;
    height: 56px;
    background: url(../images/close1.png);
    cursor: pointer;
}
