/******lx*****/
.wrap {
  width: 1200px;
}
.gowebsite {
  float: right;
  width: 156px;
  height: 47px;
  margin: 20px 30px 0 0;
  background-image: url("../images/x_gowebsite.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.gowebsite a {
  display: block;
  width: 100%;
  height: 100%;
}
.play {
  right: 416px;
}
.yuyue_number {
  top: 3px;
  left: 230px;
}
.yuyue_number p {
  font-size: 22px!important;
  display: inline;
}
.chance {
  position: absolute;
  top: 170px;
  left: 220px;
}
.chance p {
  font-size: 16px;
  color: #2f0857;
  font-weight: 600;
  font-family: PingFangSC-Regular, sans-serif;
}
.chance img {
  margin-top: 5px;
}
.hiddenBtn {
  display: none;
}
.banner.x_banner {
  height: 1387px;
  background: url("../images/x_cover_banner.jpg") no-repeat center;
  overflow: hidden;
}
.banner.x_banner .yaoTitle {
  display: block;
  height: 44px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.banner.x_banner .userInfo p {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #8a95a7;
}
.banner.x_banner .userInfo p #logout,
.banner.x_banner .userInfo p #login_btn {
  color: #ffedb8;
  cursor: pointer;
  padding: 0 3px;
}
.banner.x_banner .userInfo p #userFriends,
.banner.x_banner .userInfo p #userChance {
  color: #b8c7e0;
  padding: 0 3px;
}
.banner.x_banner .userInfo p:nth-child(2) {
  display: none;
}
.banner.x_banner .giftBox {
  width: 100%;
  margin-top: 60px;
}
.banner.x_banner .giftBox li {
  float: left;
  position: relative;
  height: 572px;
  width: 382px;
  margin-right: 27px;
  background-image: url("../images/x_giftBg2.png");
  background-repeat: no-repeat;
}
.banner.x_banner .giftBox li .open {
  width: 330px;
  height: 255px;
  position: absolute;
  left: 30px;
  top: 140px;
  cursor: pointer;
}
.banner.x_banner .giftBox li .giftTitle {
  display: block;
  position: absolute;
  top: -12px;
  left: 143px;
  height: 25px;
  width: 104px;
  background-repeat: no-repeat;
  background-position: center;
}
.banner.x_banner .giftBox li .giftList {
  margin-top: 45px;
  height: 91px;
}
.banner.x_banner .giftBox li .giftList li {
  position: relative;
  display: inline-block;
  width: 69px;
  height: 91px;
  background-position: top center;
  background-repeat: no-repeat;
}
.banner.x_banner .giftBox li .giftList li span {
  position: absolute;
  left: 0;
  top: 70px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: STHeiti;
  color: #707274;
}
.banner.x_banner .giftBox li .giftList li:first-child {
  margin-left: 15px;
}
.banner.x_banner .giftBox li .chanceBox {
  height: 55px;
  width: 310px;
  margin-top: 265px;
  margin-left: auto;
  margin-right: auto;
  line-height: 55px;
  border-radius: 30px;
  background-color: #0d2750;
  text-align: center;
  font-size: 18px;
  color: #bcbcbc;
}
.banner.x_banner .giftBox li .chanceBox .userChance,
.banner.x_banner .giftBox li .chanceBox .friendsHelp {
  padding: 0 3px;
  color: #edbb24;
}
.banner.x_banner .giftBox li .chanceGet {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  font-family: PingFangSC-Regular, sans-serif;
  color: #454e60;
}
.banner.x_banner .giftBox li .giftWord {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  font-family: PingFangSC-Regular, sans-serif;
  color: #9fa4ad;
}
.banner.x_banner .giftBox li:first-child .giftList li:first-child {
  margin-left: 67px;
  background-image: url("../images/gift8_an.png");
}
.banner.x_banner .giftBox li:first-child .giftList li:nth-child(2) {
  background-image: url("../images/gift5_an.png");
}
.banner.x_banner .giftBox li:first-child .giftList li:nth-child(3) {
  background-image: url("../images/gift7_an.png");
}
.banner.x_banner .giftBox li:first-child .chanceBox {
  width: 200px;
}
.banner.x_banner .giftBox li:first-child .giftTitle {
  background-image: url("../images/x_giftTitle1_1.png");
}
.banner.x_banner .giftBox li:nth-child(2) .giftList li:first-child {
  margin-left: 15px;
  background-image: url("../images/gift1_an.png");
}
.banner.x_banner .giftBox li:nth-child(2) .giftList li:nth-child(2) {
  background-image: url("../images/gift5_an.png");
}
.banner.x_banner .giftBox li:nth-child(2) .giftList li:nth-child(3) {
  background-image: url("../images/gift12_an.png");
}
.banner.x_banner .giftBox li:nth-child(2) .giftList li:nth-child(4) {
  background-image: url("../images/gift10_an.png");
}
.banner.x_banner .giftBox li:nth-child(2) .giftTitle {
  background-image: url("../images/x_giftTitle2_1.png");
}
.banner.x_banner .giftBox li:last-child {
  margin-right: 0;
}
.banner.x_banner .giftBox li:last-child .giftList li:first-child {
  margin-left: 15px;
  background-size: cover;
  height: 69px;
  background-image: url("../images/648_an.png");
}
.banner.x_banner .giftBox li:last-child .giftList li:nth-child(2) {
  background-image: url("../images/gift5_an.png");
}
.banner.x_banner .giftBox li:last-child .giftList li:nth-child(3) {
  background-image: url("../images/gift4_an.png");
}
.banner.x_banner .giftBox li:last-child .giftList li:nth-child(4) {
  background-image: url("../images/gift11_an.png");
}
.banner.x_banner .giftBox li:last-child .giftTitle {
  background-image: url("../images/x_giftTitle3_1.png");
}
.banner.x_banner .giftBox li.active {
  background-image: url("../images/x_giftBg.png");
}
.banner.x_banner .giftBox li.active:first-child .giftList li:first-child {
  margin-left: 67px;
  background-image: url("../images/gift8.png");
}
.banner.x_banner .giftBox li.active:first-child .giftList li:nth-child(2) {
  background-image: url("../images/gift5.png");
}
.banner.x_banner .giftBox li.active:first-child .giftList li:nth-child(3) {
  background-image: url("../images/gift7.png");
}
.banner.x_banner .giftBox li.active:first-child .giftTitle {
  background-image: url("../images/x_giftTitle2_1.png");
}
.banner.x_banner .giftBox li.active:first-child .giftTitle {
  background-image: url("../images/x_giftTitle1.png");
}
.banner.x_banner .giftBox li.active:nth-child(2) .giftList li:first-child {
  margin-left: 15px;
  background-image: url("../images/gift1.png");
}
.banner.x_banner .giftBox li.active:nth-child(2) .giftList li:nth-child(2) {
  background-image: url("../images/gift5.png");
}
.banner.x_banner .giftBox li.active:nth-child(2) .giftList li:nth-child(3) {
  background-image: url("../images/gift12.png");
}
.banner.x_banner .giftBox li.active:nth-child(2) .giftList li:nth-child(4) {
  background-image: url("../images/gift10.png");
}
.banner.x_banner .giftBox li.active:nth-child(2) .giftTitle {
  background-image: url("../images/x_giftTitle2.png");
}
.banner.x_banner .giftBox li.active:nth-child(3) .giftList li:first-child {
  margin-left: 15px;
  background-image: url("../images/648.png");
}
.banner.x_banner .giftBox li.active:nth-child(3) .giftList li:nth-child(2) {
  background-image: url("../images/gift5.png");
}
.banner.x_banner .giftBox li.active:nth-child(3) .giftList li:nth-child(3) {
  background-image: url("../images/gift4.png");
}
.banner.x_banner .giftBox li.active:nth-child(3) .giftList li:nth-child(4) {
  background-image: url("../images/gift11.png");
}
.banner.x_banner .giftBox li.active:nth-child(3) .giftTitle {
  background-image: url("../images/x_giftTitle3.png");
}
.banner.x_banner .buttonGroup {
  text-align: center;
}
.banner.x_banner .buttonGroup span {
  display: inline-block;
  height: 68px;
  width: 180px;
  line-height: 68px;
  color: #818a9a;
  border: 2px solid #535b69;
  border-radius: 40px;
  margin: 28px 0;
  cursor: pointer;
  transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
}
.banner.x_banner .buttonGroup span a {
  display: block;
  height: 100%;
  width: 100%;
  color: #818a9a;
}
.banner.x_banner .buttonGroup img {
  height: 72px;
  margin: 28px 45px;
  cursor: pointer;
  transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
}
.banner.x_banner .buttonGroup span:hover {
  color: #fff;
  border-color: #fff;
  transform: translate(0, -10px);
  -webkit-transform: translate(0, -10px);
  -o-transform: translate(0, -10px);
  -moz-transform: translate(0, -10px);
  -ms-transform: translate(0, -10px);
}
.banner.x_banner .buttonGroup img:hover {
  transform: translate(0, -10px);
  -webkit-transform: translate(0, -10px);
  -o-transform: translate(0, -10px);
  -moz-transform: translate(0, -10px);
  -ms-transform: translate(0, -10px);
}
.banner.x_banner .rules {
  position: relative;
  float: left;
  height: 413px;
  width: 747px;
  background-image: url("../images/x_rules.png");
  background-repeat: no-repeat;
}
.banner.x_banner .rules .rulesWord {
  position: absolute;
  left: 80px;
  top: 40px;
  width: 600px;
  font-size: 16px;
  font-family: STHeiti;
}
.banner.x_banner .rules .rulesWord li {
  position: relative;
  padding-left: 45px;
  line-height: 40px;
  color: #9295a0;
}
.banner.x_banner .rules .rulesWord li span {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 45px;
  color: #0a0d39;
  text-align: center;
  font-size: 14px;
  font-family: STHeiti;
  font-weight: bold;
  background-image: url("../images/x_rule_icon.png");
  background-repeat: no-repeat;
  background-position: center;
}
.banner.x_banner .prise {
  float: right;
  position: relative;
  height: 397px;
  width: 386px;
  background-image: url("../images/x_prise.png");
  background-repeat: no-repeat;
}
.banner.x_banner .prise .priseHidden {
  height: 377px;
  margin-top: 20px;
  overflow: hidden;
}
.banner.x_banner .prise .priseWord {
  margin-left: 60px;
}
.banner.x_banner .prise .priseWord li {
  height: 70px;
  width: 290px;
  font-size: 16px;
  font-family: STHeiti;
  line-height: 70px;
  color: #9295a0;
  border-bottom: 1px dashed #32425e;
}
.banner.x_banner .prise .priseWord li:last-child {
  border-bottom: none;
}
.banner.x_banner .prise .priseWord span {
  color: #d2c59d;
}
.tab_img.x_tab {
  background: url("../images/x_tabBG.png") no-repeat center;
  overflow: hidden;
}
.bottom.x_bottom {
  height: 806px;
  background: url("../images/x_bottom.jpg") no-repeat center;
  overflow: hidden;
}
.mask {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999;
}
.mask #login {
  background: url("../images/x_loginBg.png") no-repeat center;
}
.mask #login .loginTitle {
  left: 400px;
}
.mask #login .r_main {
  top: 130px;
}
.mask #login .r_main .form_put .p_put,
.mask #login .r_main .form_put .t_put,
.mask #login .r_main .form_put .y_put {
  margin-top: 20px;
}
.mask #login .r_main .form_put #type_btn {
  margin: 45px auto 0;
}
.mask #success {
  background: url("../images/x_loginBg.png") no-repeat center;
}
.mask #success .r_main {
  top: 180px;
}
.mask #success .r_main p {
  font-family: PingFangSC;
  font-size: 24px;
  color: #1b0c09;
  text-align: center;
}
.mask #success .r_main h4 {
  font-family: PingFangSC;
  font-size: 40px;
  color: #db5145;
  text-align: center;
  font-weight: normal;
  margin: 30px 0;
}
.mask #success .r_main .successBtn {
  margin: 75px 0 0 30px;
  cursor: pointer;
}
.mask #getFriends {
  position: relative;
  height: 480px;
  width: 857px;
  background: url("../images/x_priseBg.png") no-repeat center;
}
.mask #getFriends .loginTitle {
  top: 50px;
  left: 440px;
}
.mask #getFriends .bigDialog {
  position: absolute;
  top: 140px;
  right: 40px;
  text-align: center;
}
.mask #getFriends .bigDialog p:nth-child(1) {
  font-size: 20px;
  font-family: STHeiti;
  color: #343434;
}
.mask #getFriends .bigDialog h5 {
  font-size: 30px;
  font-family: STHeiti;
  color: #915252;
  text-align: center;
  margin: 30px 0;
}
.mask #getFriends .bigDialog h5 span {
  color: #d5695f;
}
.mask #getFriends .bigDialog .getFriends_link {
  width: 510px;
  height: 120px;
  padding: 10px 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  border: 1px dashed #e5b394;
  text-align: left;
  background-color: #fff1e9;
  border-radius: 5px;
}
.mask #getFriends .bigDialog .getFriends_link p {
  font-family: STHeiti;
}
.mask #getFriends .bigDialog .getFriends_link p:nth-child(1) {
  font-size: 16px;
  color: #343434;
}
.mask #getFriends .bigDialog .getFriends_link p:nth-child(2) {
  font-size: 16px;
  color: #96443c;
}
.mask #getFriends .bigDialog .copyBtn {
  margin-top: 20px;
  cursor: pointer;
}
.mask #getPriseBox {
  height: 480px;
  width: 857px;
  background: url("../images/x_priseBg.png") no-repeat center;
}
.mask #getPriseBox .loginTitle {
  top: 50px;
  left: 440px;
}
.mask #getPriseBox .bigDialog {
  position: absolute;
  top: 140px;
  right: 40px;
  width: 510px;
  text-align: center;
}
.mask #getPriseBox .bigDialog .myGift {
  position: relative;
  height: 95px;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: top center;
}
.mask #getPriseBox .bigDialog .myGift span {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  font-family: STHeiti;
  font-size: 14px;
  color: #5f5f5f;
}
.mask #getPriseBox .bigDialog .thanks {
  display: none;
  line-height: 150px;
  font-size: 30px;
  color: #db5145;
}
.mask #getPriseBox .bigDialog .duiCode span {
  display: inline-block;
}
.mask #getPriseBox .bigDialog .duiCode span:nth-child(1) {
  font-family: STHeiti;
  font-size: 18px;
  color: #737373;
}
.mask #getPriseBox .bigDialog .duiCode span:nth-child(2) {
  height: 40px;
  width: 210px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #dfbeaa;
  font-family: STHeiti;
  font-size: 24px;
  color: #ad524a;
  margin: 10px;
}
.mask #getPriseBox .bigDialog .duiCode span:nth-child(3) {
  height: 30px;
  width: 75px;
  background-color: #d5695f;
  border-radius: 20px;
  line-height: 30px;
  text-align: center;
  font-family: STHeiti;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
.mask #getPriseBox .bigDialog .gift1 {
  background-image: url("../images/gift1.png");
}
.mask #getPriseBox .bigDialog .gift2 {
  background-image: url("../images/gift2.png");
}
.mask #getPriseBox .bigDialog .gift3 {
  background-image: url("../images/gift3.png");
}
.mask #getPriseBox .bigDialog .gift4 {
  background-image: url("../images/gift4.png");
}
.mask #getPriseBox .bigDialog .gift5 {
  background-image: url("../images/gift5.png");
}
.mask #getPriseBox .bigDialog .gift6 {
  background-image: url("../images/gift6.png");
}
.mask #getPriseBox .bigDialog .gift7 {
  background-image: url("../images/gift7.png");
}
.mask #getPriseBox .bigDialog .gift8 {
  background-image: url("../images/gift8.png");
}
.mask #getPriseBox .bigDialog .gift9 {
  background-image: url("../images/gift9.png");
}
.mask #getPriseBox .bigDialog .gift10 {
  background-image: url("../images/gift10.png");
}
.mask #getPriseBox .bigDialog .gift11 {
  background-image: url("../images/gift11.png");
}
.mask #getPriseBox .bigDialog .gift12 {
  background-image: url("../images/gift12.png");
}
.mask #getPriseBox .bigDialog .gift648 {
  height: 69px;
  background-size: cover;
  background-image: url("../images/648.png");
}
.mask #getPriseBox .bigDialog .giftWord {
  height: 70px;
  width: 510px;
  margin-top: 10px;
  padding: 10px 30px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  border: 1px dashed #e5b394;
  text-align: left;
  background-color: #fff1e9;
  border-radius: 5px;
}
.mask #getPriseBox .bigDialog .giftWord p {
  font-family: STHeiti;
  font-size: 16px;
  color: #7f5652;
}
.mask #getPriseBox .bigDialog .addressBtn {
  margin: 25px 0 0 30px;
  cursor: pointer;
}
.mask #address {
  height: 480px;
  width: 857px;
  background: url("../images/x_priseBg.png") no-repeat center;
}
.mask #address .loginTitle {
  top: 50px;
  left: 400px;
}
.mask #address .r_main {
  position: absolute;
  top: 140px;
  right: 40px;
  width: 510px;
  text-align: center;
}
.mask #address .r_main .address_from {
  margin-left: 50px;
}
.mask #address .r_main .address_from .address_btn {
  margin-top: 20px;
  cursor: pointer;
}
.mask #address .r_main .address_from input,
.mask #address .r_main .address_from textarea {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: none;
  font-size: 18px;
  text-indent: 12px;
  line-height: 52px;
  color: #573f3e;
}
.mask #address .r_main .address_from .tempBox .p_put {
  float: left;
  display: inline-block;
  width: 200px;
}
.mask #address .r_main .address_from .tempBox .p_put .put_img {
  height: 100%;
}
.mask #address .r_main .address_from .tempBox .p_put:nth-child(1) {
  margin-right: 25px;
}
.mask #address .r_main .address_from .tempBox:after {
  content: '';
  display: block;
  clear: both;
}
.mask #address .r_main .address_from .address_phone_box {
  margin: 20px 0;
}
.mask #address .r_main .address_from .address_info_box {
  height: 105px;
}
.mask #address .r_main .address_from .address_phone_box,
.mask #address .r_main .address_from .address_info_box {
  width: 425px;
}
.mask #address .r_main .address_from .address_phone_box .put_img,
.mask #address .r_main .address_from .address_info_box .put_img {
  width: 100%;
  height: 100%;
}
.mask #priseBox {
  height: 480px;
  width: 857px;
  background: url("../images/x_priseBg.png") no-repeat center;
}
.mask #priseBox .loginTitle {
  top: 50px;
  left: 440px;
}
.mask #priseBox .bigDialog {
  position: absolute;
  top: 140px;
  right: 40px;
  width: 510px;
  text-align: center;
}
.mask #priseBox .bigDialog .table_container {
  height: 181px;
  width: 100%;
  overflow: auto;
}
.mask #priseBox .bigDialog table {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
}
.mask #priseBox .bigDialog table tr {
  height: 45px;
}
.mask #priseBox .bigDialog table tr th {
  border: 1px solid #dfbeaa;
}
.mask #priseBox .bigDialog table tr td {
  border: 1px solid #dfbeaa;
}
.mask #priseBox .bigDialog table tr td .tableCopy {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  width: 75px;
  line-height: 30px;
  text-align: center;
  background-color: #d5695f;
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
  font-family: PingFangSC;
  cursor: pointer;
}
.mask #priseBox .bigDialog table tr:nth-child(2n) {
  background-color: #f2dbcd;
}
.mask #priseBox .bigDialog .giftWord {
  height: 70px;
  width: 510px;
  margin-top: 10px;
  padding: 10px 30px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  border: 1px dashed #e5b394;
  text-align: left;
  background-color: #fff1e9;
  border-radius: 5px;
}
.mask #priseBox .bigDialog .giftWord p {
  font-family: STHeiti;
  font-size: 16px;
  color: #7f5652;
}
.mask #priseBox .bigDialog .addressBtn {
  margin: 5px 0 0 30px;
  cursor: pointer;
}
.mask #type {
  background: url("../images/x_loginBg.png") no-repeat center;
}
.mask #type .loginTitle {
  left: 330px;
}
.mask #type .r_main {
  left: 350px;
  top: 200px;
}
.mask #type .r_main .r_ios,
.mask #type .r_main .r_android {
  float: none;
  font-family: STHeiti;
  font-size: 24px;
}
.mask #type .r_main .r_ios p,
.mask #type .r_main .r_android p {
  margin-left: 15px;
}
.mask #type .r_main .r_android {
  margin-left: 0;
  margin-top: 50px;
}
.mask #type .r_main .active p {
  font-weight: bold;
}
.mask #type .type_save {
  margin-top: 90px;
  margin-left: -20px;
  cursor: pointer;
}
.mask .dialogBox {
  display: none;
}
.mask .dialogBox .loginTitle {
  position: absolute;
  top: 50px;
  left: 350px;
  font-size: 36px;
  font-family: STHeiti;
  color: #ffe7d8;
}
.mask .dialog {
  display: none;
  position: relative;
  height: 524px;
  width: 1222px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/x_dialog.png");
  background-repeat: no-repeat;
}
.mask .dialog .close {
  position: absolute;
  top: 100px;
  right: 25px;
}
.mask .dialog .dialogCode {
  position: absolute;
  top: 210px;
  left: 55px;
  border: 5px solid #2a278d;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
}
.mask .dialog .dialogCode p:nth-child(2) {
  font-size: 18px;
  font-family: STHeiti;
  line-height: 20px;
  color: #333333;
  letter-spacing: 10px;
}
.mask .dialog .dialogCode p:nth-child(3) {
  font-size: 18px;
  font-family: STHeiti;
  line-height: 5px;
  color: #333333;
  margin: 5px 0 10px 0;
}
.mask .dialog .dialogCode .denglong {
  position: absolute;
  left: 10px;
  bottom: -188px;
}
.mask .dialog .dialogWord {
  position: absolute;
  top: 260px;
  left: 270px;
}
.mask .dialog .dialogWord p:nth-child(1) {
  height: 30px;
  width: 165px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-family: STHeiti;
  line-height: 30px;
  color: #333333;
  background-color: #e9d1c2;
  border-radius: 0 10px 0 10px;
  text-align: center;
}
.mask .dialog .dialogWord h4 {
  font-size: 48px;
  color: #d5695f;
  text-align: center;
}
.mask .dialog .dialogWord p:nth-child(3) {
  height: 30px;
  width: 165px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-family: STHeiti;
  line-height: 30px;
  color: #333333;
  text-align: center;
}
.mask .dialog .dialogWord .login_btn2 {
  margin-top: 30px;
  cursor: pointer;
}
.mask .dialog .jindu {
  position: absolute;
  top: 270px;
  right: 55px;
  width: 622px;
}
.mask .dialog .jindu .item_list {
  margin-left: 10px;
}
.mask .dialog .jindu .line {
  height: 13px;
  width: 100%;
  position: relative;
  margin-top: 20px;
  background-image: url("../images/x_line.png");
  background-repeat: no-repeat;
}
.mask .dialog .jindu .line img {
  position: absolute;
  left: 0;
  top: 0;
  width: 10%;
  height: 10px;
}
.mask .dialog .jindu .item_word li {
  position: relative;
  display: inline-block;
  width: 100px;
  text-align: center;
  margin-right: 25px;
  margin-top: 20px;
}
.mask .dialog .jindu .item_word li span {
  width: 26px;
  height: 27px;
  position: absolute;
  top: -40px;
  left: 36px;
  background-image: url("../images/x_jindu.png");
  background-repeat: no-repeat;
}
.mask .dialog .jindu .item_word li p {
  font-family: STHeiti;
  line-height: 30px;
  color: #999999;
  font-size: 16px;
}
.mask .dialog .jindu .item_word li p:last-child {
  font-weight: bold;
}
.mask .dialog .jindu .item_word li:last-child {
  margin-right: 0;
}
.mask .dialog .jindu .item_word li.active span {
  background-image: url("../images/x_jindu_active.png");
}
.mask .dialog .jindu .item_word li.active p {
  color: #333333;
}
