body {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	position: relative;
}
.clear{
	clear:both;
}
.kv {
	width: 100%;
	height: 883px;
	min-width: 1200px;
	margin: 0 auto;
	background: url(../images/kv2.jpg) no-repeat center;
	overflow: hidden;
	position: relative;
	margin-top:94px;
}
.kv .logo {
    position: absolute;
    top: 28px;
    left: 116px;
}
.kv .k_btn {
	width: 121px;
	height: 769px;
	position: absolute;
	top: 0;
	left: 45px;
	z-index: 10;
}
.kv .download_box{
    width: 407px;
    height: 197px;
    position: absolute;
    top: 528px;
    left: 580px;
}
.kv .download_box .down_ewm{
    width: 190px;
    height: 160px;
    background: url(../images/download.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 26px;
    top: 50%;
    margin-top: -76px;
}
.kv .download_box .down_ewm i{
	display: block;
    width: 120px;
    height: 9px;
    background: url(../images/small.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 10px;
    left: 20px;
    animation: vSmall 4s linear infinite;
    -webkit-animation: vSmall 4s linear infinite;
    -moz-animation: vSmall 4s linear infinite;
    -o-animation: vSmall 4s linear infinite;
}
@keyframes vSmall{
    0%{transform: translateY(120px);}
    50%{transform: translateY(0);}
    100%{transform: translateY(120px);}
}
@-webkit-keyframes vSmall{
    0%{transform: translateY(120px);}
    50%{transform: translateY(0);}
    100%{transform: translateY(120px);}
}
@-moz-keyframes vSmall{
    0%{transform: translateY(120px);}
    50%{transform: translateY(0);}
    100%{transform: translateY(120px);}
}
@-o-keyframes vSmall{
    0%{transform: translateY(120px);}
    50%{transform: translateY(0);}
    100%{transform: translateY(120px);}
}
.kv .download_box .down_ewm img{
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50%;
    margin-top: -62px;
    left: 20px;
}
.kv .download_box .down_btn{
    position: absolute;
    right: 34px;
    top: 27px;
}
.kv .download_box .down_btn a{
	display: block;
    width: 140px;
    height: 46px;
    margin-bottom: 5px;
    position: relative;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.kv .download_box .down_btn a:hover {
  cursor: pointer;
  transform: translate(0, -4px);
  -webkit-transform: translate(0, -4px);
}
.kv .play {
    width: 124px;
    height: 124px;
    position: absolute;
    cursor: pointer;
    bottom: 195px;
    left: 444px;
}
.kv .play img {
	display: block;
	position: absolute;
}

.kv .play img:nth-child(1) {
	width: 100%;
	height: 100%;
	animation: vGo 2.5s linear infinite;
	-webkit-animation: vGo 2.5s linear infinite;
}

@keyframes vGo1{
	0%{transform: rotate(0deg);}
	50%{transform: rotate(180deg);}
	100%{transform: rotate(360deg);}
}
@-webkit-keyframes vGo1{
	0%{transform: rotate(0deg);}
	50%{transform: rotate(180deg);}
	100%{transform: rotate(360deg);}
}
@keyframes vGo {
	0% {
		transform: scale(1.0);
	}
	50% {
		transform: scale(0.8);
	}
	100% {
		transform: scale(1.0);
	}
}

@-webkit-keyframes vGo {
	0% {
		transform: scale(1.0);
	}
	50% {
		transform: scale(0.8);
	}
	100% {
		transform: scale(1.0);
	}
}
@keyframes vGo_l {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.7);
	}
	100% {
		transform: scale(1);
	}
}

@-webkit-keyframes vGo_l {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.7);
	}
	100% {
		transform: scale(1);
	}
}
.kv .k_btn i {
	display: block;
	width: 1px;
	height: 324px;
	background-color: #ff001a;
	opacity: .1;
	position: absolute;
	top: 0;
	left: 60px;
}

.kv .k_btn .box {
	width: 166px;
	height: 148px;
	position: absolute;
	bottom: 65px;
	left: -26px;
	cursor: pointer;
	animation: shake 3s linear infinite;
	-webkit-animation: shake 3s linear infinite;
}
@keyframes shake{
	0%{transform: rotate(0deg);}
	50%{transform: rotate(0deg);}
	75%{transform: rotate(0deg);}
	90%{transform: rotate(0deg);}
	95%{transform: rotate(-10deg);}
	98%{transform: rotate(10deg);}
	100%{transform: rotate(0deg);}
}
@-webkit-keyframes shake{
	0%{transform: rotate(0deg);}
	50%{transform: rotate(0deg);}
	75%{transform: rotate(0deg);}
	90%{transform: rotate(0deg);}
	95%{transform: rotate(-10deg);}
	98%{transform: rotate(10deg);}
	100%{transform: rotate(0deg);}
}
.kv .kv_img{
	display: block;
	position:absolute;
	left:188px;
	top:395px;
}

.bg {
    width: 100%;
    min-width: 1244px;
    margin: 0 auto;
    height: 747px;
    background: url(../images/bg2.png) no-repeat center;
    position: relative;
}
.bg .wrap{
	padding-top:112px;
	min-width:1244px;
}
.wrap .title{
	width:173px;
	display: block;
	margin:0 auto;
}
.content {
	width: 100%;
	height: 373px;
	position: relative;
	margin-top: 67px;
	background: url(../images/bg.png) no-repeat center;
}

.content .left_banner {
	width: 594px;
    height: 338px;
    float: left;
    position: absolute;
    overflow: hidden;
    top: 50%;
    margin-top: -172px;
    box-shadow: 1px 0px 6px 1px #77B7FE;
    left: 28px;
}
.content .left_banner li img {
	display: block;
	width: 594px;
	height: 338px;
}
.bg .swiper-pagination {
    text-align: center;
    top: 614px;
    width: 594px;
    left: 30px;
}
.bg .swiper-pagination-bullet {
	width: 13px;
    height: 13px;
	background: url(../images/n.png) no-repeat;
	background-size: 100% 100%;
	opacity: 1;
	margin: 0 6px;
}

.bg .swiper-pagination-bullet.swiper-pagination-bullet-active {
	width: 14px;
    height: 14px;
	background: url(../images/n_h.png) no-repeat;
	background-size: 100% 100%;
}

.content .right_news {
    width: 525px;
    height: 310px;
    float: right;
    top: 50%;
    margin-top: -162px;
    position: absolute;
    right: 46px;
    z-index: 22;
}
.content .right_news .top_ul {
	width: 525px;
	height: 93px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
    border-bottom: 2px solid #E1E1E1;
}
.content .right_news .top_ul li {
	width: 90px;
    height: 46px;
    background-color: #fff;
    text-align: center;
    line-height: 47px;
    float: left;
    color: #333;
    cursor: pointer;
    margin: 20px 7px 0 0;
    font-size: 16px;
    overflow: hidden;
}
.content .right_news .top_ul li.active {
	background:url(../images/news.png) no-repeat;
	background-size: 100% 100%;
	color: #fff;
}
.content .right_news .top_ul li:hover {
	background:url(../images/news.png) no-repeat;
	background-size: 100% 100%;
	color: #fff;
}

.content .right_news .top_ul .more {
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	float: right;
	border: 1px solid #dddddd;
	margin-top: 33px;
}

.content .right_news .top_ul .more img {
	display: block;
	margin: 3px auto 0;
}

.content .right_news .top_ul .more:hover img {
	animation: rotate .5s linear;
	-webkit-animation: rotate .5s linear;
}

@keyframes rotate {
	0 {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(180deg);
	}
}

@-webkit-keyframes rotate {
	0 {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(180deg);
	}
}

.right_con {
    width: 525px;
    margin: 0 auto;
    overflow: hidden;
    height: 235px;
}

.right_con ul {
	width: 100%;
	overflow: hidden;
	display: none;
	margin-top: 16px;
}

.right_con ul.active {
	display: block;
}

.right_con ul li {
	width: 100%;
	height: 54px;
	position: relative;
	overflow: hidden;
	font-size: 16px;
	line-height: 54px;
}

.right_con ul li span {
	display: block;
	float: left;
	width: 380px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.right_con ul li a em{
	float:left;
	margin-right:5px;
	font-style:normal;
}
.right_con ul li a {
	color: #333;
}

.right_con ul li a i {
	font-style: normal;
	font-size: 14px;
	color: #bbbbbb;
	float: right;
}

.right_con ul li:hover span{
	color: #007CFF;
}
.right_con ul li:hover i{
	color: #007CFF;
}
.right_con ul li:hover em{
	color: #007CFF;
}
.peo{    
    width: 640px;
    height: 949px;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: -645px;
    z-index: 5;
}
.peo img.people{
	width: 751px;
    position: absolute;
    right: -146px;
}
.peo img.light{
    position: absolute;
    left: 0px;
    top: 374px;
    animation: vGo_l 2.8s linear infinite;
    -webkit-animation: vGo_l 2.8s linear infinite;
}
.bg2 {
    width: 100%;
    min-width: 1200px;
    margin: 0 auto;
    height: 955px;
    background: url(../images/bg3.jpg) no-repeat center;
    position: relative;
}
.bg2 .wrap{
	margin-top:112px;
	height:auto;
	min-width:1200px;
	overflow: hidden;
	z-index: 60;
}
.bottom_banner{
	width: 1059px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    margin-top: 62px;
}
.bottom_banner ul li{
	width:388px;
	height:647px;
}
.bottom_banner ul li a{
	display: block;
	width:100%;
	height:100%;
}
.bottom_banner ul li a img{
	display: block;
	width:100%;
	height:100%;
}
.bottom_banner  .swiper-slide-shadow-right{
    position: absolute;
    left: -1px;
    top: 0rem;
    width: 378px;
    height: 664px;
    pointer-events: none;
    z-index: 10;
}
.bottom_banner .swiper-slide-prev,.bottom_banner .swiper-slide-next{
   opacity: 0.7;
}
.bg3{
	width:100%;
	height:959px;
	background:url(../images/last.jpg) no-repeat center;
	position:relative;
	overflow: hidden;
}
.h_tit{
	display: block;
	margin:102px 0 0 -119px;
}
.bg3 .h_banner{
	width:1405px;
	height:878px;
	position:absolute;
	left:-20px;
	top:30px;
}
.bg3 .h_banner .swiper-pagination2{
	width:auto;
	position:absolute;
	left:900px;
	top:80px;
	transform: skew(0deg,-13deg);
	-webkit-transform: skew(0deg,-13deg);
	z-index:10;
}
.bg3 .h_banner li a img{
	display: block;
	width:1405px;
	height:878px;
}
.bg3 .h_banner .swiper-pagination-bullet{
	width:28px;
	height:29px;
	opacity: 1;
	border-radius: 0;
	background:url(../images/pag.png) no-repeat center;
	margin: 0 10px;
}
.bg3 .h_banner .swiper-pagination-bullet.swiper-pagination-bullet-active{
	background:url(../images/pag_h.png) no-repeat center;
}
