
/*=========*/
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
    margin: 0;
    padding: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline:0;
}
body {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}
html, body, fieldset, img, iframe, abbr {
    border: 0 none;
}
li {
    list-style: outside none none;
}
textarea {
    overflow: auto;
    resize: none;
}
a, button {
    cursor: pointer;
	outline:0;
}

a, a:hover {
    text-decoration: none;
}
i,em{
	font-style:normal
}
html, body {
    font-family: "Microsoft Yahei";
    height: auto;
    min-height: 930px;
    width: 100%;
}
input{
  border: 0;
  outline: none;
}
.wrap{
	width:1200px;
	height:100%;
	margin:0 auto;
	position:relative;
}
.kv{
	width:100%;
	height:551px;
	background:url(../images/bg.jpg) no-repeat center;
	overflow: hidden;
	position:relative;
}
.kv .wrap p:nth-child(1){
	font-size:50px;
	color:#fff;
	font-weight:bold;
	text-align: center;
	margin-top:170px;
}
.kv .wrap p:nth-child(2){
	font-size:22px;
	color:#fff;
	text-align: center;
	margin-top:15px;
}
.first{
	width:100%;
	height:325px;
	background-color:#fff;
	overflow: hidden;
	position:relative;
}
.first .title{
	font-size:30px;
	color:#333;
	font-weight:bold;
	text-align: center;
	margin-top:0;
}
.first .title span{
	display: block;
	font-size:12px;
	color:#999;
	font-weight:normal;
}	
.p_body{
	font-size:16px;
	color: rgb(51, 51, 51);
	line-height:36px;
	margin-top:32px;
}
.p_body1{
	font-size:16px;
	color: rgb(51, 51, 51);
	line-height:36px;
	margin-top:16px;
}
.second{
	width:100%;
	height:1002px;
	background-color:#edf6ff;
	overflow: hidden;
	position:relative;
}
.title{
	font-size:30px;
	color:#333;
	font-weight:bold;
	text-align: center;
	margin-top:65px;
}
.title span{
	display: block;
	font-size:12px;
	color:#999;
	font-weight:normal;
}
.p1{
	font-size:16px;
	color:#333;
	font-weight:bold;
	margin-top:35px;
	line-height:36px;
}
.second .p_t{
	display: block;
	margin-top:10px;
	margin-bottom:30px;
}
.second .p_body{
	margin-top:0;
}
.third{
	width:100%;
	overflow: hidden;
	margin-bottom:115px;
}
.third .title{
	margin-top:90px;
}
.third a{
	color:#6464c9;
	font-weight:bold;
}
