*{
	margin:0;
	padding:0;
}
li {
	list-style: outside none none;
}

textarea {
	overflow: auto;
	resize: none;
}

a,
button {
	cursor: pointer;
}

a,
a:hover {
	outline: 0 none;
	text-decoration: none;
}

i,
em {
	font-style: normal;
}
.clear{
	clear:both;
}
.boat_one{
	width:100%;
	height:810px;
	background:url(../images/boat_one.jpg) no-repeat center;
	overflow: hidden;
	margin-top:56px;
}
.boat_one .boat_one_txt{
	width:1280px;
	height:100%;
	position:relative;
	margin:0 auto;
}
.boat_one .boat_one_txt .boat_txt01{
	display: block;
	width:580px;
	height:150px;
	position:absolute;
	top:262px;
	right:98px;
}
.boat_two{
	width:100%;
	height:752px;
	background:url(../images/boat_two.jpg) no-repeat center;
	overflow: hidden;
}
.boat_two .boat_two_main{
	width:1280px;
	height:100%;
	position:relative;
	margin:0 auto;
}
.boat_two_main .boat_two_pic{
	width:876px;
	height:612px;
	position:absolute;
	left:71px;
	top:72px;
}
.boat_two .boat_two_main .boat_two_txt{
	position:absolute;
	right:0;
	top:180px;
}
.boat_two .boat_two_main .boat_two_txt em{
	display: inline-block;
	color: rgb(254, 254, 254);
	font-size:22px;
	vertical-align: top;
}
.boat_two .boat_two_main .boat_two_txt img{
	vertical-align: 30px;
	margin-right:15px;
}
.boat_two .boat_two_main .boat_two_txt p{
	max-width:450px;
	display: inline-block;
	color: rgb(254, 254, 254);
	font-size: 18px;
	line-height:30px;
	margin-bottom:20px;
}

.boat_three{
	width:100%;
	height:750px;
	background:url(../images/boat_three.jpg) no-repeat center;
	overflow: hidden;
}
.boat_three_main{
	width:1280px;
	height:100%;
	position:relative;
	margin:0 auto;
}
.boat_three_main .boat_logo{
	width:324px;
	height:175px;
	position:absolute;
	top:77px;
	left:346px;
}
.boat_three_main .boat_logo img{
	display: block;
	width:100%;
	height:100%;
}
.boat_three_main .boat_ul{
	width:330px;
	overflow: hidden;
	position:relative;
	top:76px;
	left:5px;
}
.boat_three_main .boat_ul li{
	width:100%;
	height:201px;
	position:relative;
}
.boat_three_main .boat_ul li.boat_ul_li .boat_video_play{
	width:110px;
	height:110px;
	position:absolute;
	left:50%;
	margin-left:-55px;
	top:50%;
	margin-top:-55px;
	cursor: pointer;
}
.boat_three_main .boat_ul li.boat_ul_li .boat_video_play:hover{
	animation: bigImg 1s linear;
	-webkit-animation: bigImg 1s linear;
}
@-webkit-keyframes bigImg{
	0%{transform: scale(1);}
	50%{transform: scale(0.9);}
	100%{transform: scale(1);}
}
@keyframes bigImg{
	0%{transform: scale(1);}
	50%{transform: scale(0.9);}
	100%{transform: scale(1);}
}
.boat_three_main .boat_ul li img{
	display: block;
	width:100%;
	height:100%;
}
.boat_three_main .boat_three_txt{
	width:887px;
	height:178px;
	background:url(../images/boat_txt_bg.png) no-repeat center;
	overflow: hidden;
	position:absolute;
	top:280px;
	right:40px;
}
.boat_three_main .boat_three_txt p{
	width:840px;
	margin:0 auto;
	margin-top:15px;
	font-size:20px;
	color: rgb(85, 85, 85);
	line-height:38px;
}
.boat_three_main .boat_three_txt p:nth-child(2){
	margin-top:0;
}
.boat_three_main .boat_second_ul {
	width:100%;
	overflow: hidden;
	position:relative;
	margin-top:93px;
	margin-left:15px;
}
.boat_three_main .boat_second_ul li{
	float:left;
	font-size:0;
	margin-right:65px;
}
.boat_three_main .boat_second_ul li:nth-child(1){
	width:310px;
}
.boat_three_main .boat_second_ul li:nth-child(2){
	width:300px;
}
.boat_three_main .boat_second_ul li:nth-child(3){
	width:490px;
	margin-right:0;
}
.boat_three_main .boat_second_ul li p{
	font-size:18px;
	color:#fff;
}
.boat_three_main .boat_second_ul li p.boat_first_p{
	font-size:24px;
}
.boat_three_main .boat_second_ul li p.boat_second_p{
	margin:16px 0;
}
.boat_four{
	width:100%;
	height:750px;
	background:url(../images/boat_four.jpg) no-repeat center;
	overflow: hidden;
}
.boat_four .boat_four_main{
	width:1280px;
	height:100%;
	position:relative;
	margin:0 auto;
}
.chengg{
	width:100%;
	height:1px;
	position:relative;
}
.boat_four .boat_four_main .boat_four_img{
	display: inline-block;
	width:744px;
	height:506px;
	margin:150px 0 0 60px;
}
.boat_four .boat_four_main ul{
	display: inline-block;
	width:455px;
	float:right;
	position:relative;
	top:250px;
}
.boat_four .boat_four_main ul li{
	width:100%;
	font-size:22px;
	color:#fff;
	margin-bottom:35px;
}
.boat_four .boat_four_main ul li p{
	display: inline-block;
	text-indent:18px;
}
.boat_four .boat_four_main ul li img{
	display: inline-block;
	width:12px;
	height:12px;
	vertical-align: middle;
}
.video{
	display: none;
	width:800px;
	height:500px;
	position:fixed;
	top:50%;
	left:50%;
	margin-top:-250px;
	margin-left:-400px;
	z-index:10;
}
.video .boat_play_close{
	display: inline-block;
	width:64px;
	height:64px;
	position:absolute;
	right:100px;
	top:53px;
	cursor: pointer;
	z-index:10;
}
.mask{
	display: none;
    width: 100%;
    height: 100%;
    background: url(../images/f.png) repeat;
    position: fixed;
    margin: 0 auto;
    top: 0;
    left: 0;
    z-index: 9;
}
