html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, pre, hr, figure, table, th, td, form, fieldset, input, button, textarea, menu {
    margin: 0;
    padding: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline:0;
	border :0;
}
li {
    list-style: outside none none;
}
textarea {
    overflow: auto; 
    resize: none;
} 
a, button {
    cursor: pointer;
	outline:0;
}
a, a:hover {
    text-decoration: none;
}
i,em{
	font-style:normal
}
input{
  border: 0;
  outline: none;
}
img{
	vertical-align: middle;
}
html,body{
	background-color:#f5f5f5;
}
.section1 {
	width:100%;
	height: 923px;
	position: relative;
	background: url(../images/bg_cover.jpg) no-repeat center;
	min-width:1280px;
	margin:0 auto;
	margin-top:60px;
}
.section1 .fadeIn{
	width:1280px;
	margin:0 auto;
	position:relative;
}
.section1 .fadeIn img{
	display: block;
	position:absolute;
	top:341px;
	left:103px;
}
.section2 {
	width:100%;
	height: 921px;
	position: relative;
	background: url(../images/omni/omni_02_zh.jpg) no-repeat center;
	margin:0 auto;
}

.section3 {
	width: 100%;
	height:920px;
	position: relative;
	background: url(../images/bg_cover02.jpg) no-repeat center;
	margin:0 auto;
}

.section4{
	width: 100%;
	height:920px;
	background:url(../images/bg_cover03.jpg) no-repeat center;
	margin:0 auto;
	position: relative;
}

.section5{
	width: 100%;
	height:920px;
	background:url(../images/bg_cover04.jpg) no-repeat center;
	margin:0 auto;
	position: relative;
}

.section6{
	width: 100%;
	height:923px;
	margin:0 auto;
	background:url(../images/bg_cover05.jpg) no-repeat center;
	position: relative;
}
.section6 .warp{
	width:1280px;
	margin:0 auto;
	position:relative;
}
.section6 .middle_txt{
	width:1015px;
	text-align:center;
	line-height:58px;
	margin:0 auto;
	padding-top:56px;
}
.section6 .middle_txt h3{
	font-size:58px;
	color:#fff;
}
.section6 .middle_txt .middle_txt01{
	font-size:31px;
	color:#e1e0e0;
}

.section6 .middle_txt .middle_txt02{
	font-size:21px;
	color:#c4c3c3;
}
.section6 .middle_txt .middle_txt02 span{
	color:#fff;
}
.section6 .middle_img{
	width:1146px;
	height:547px;
	background:url(../images/bg_cover05_01.png) no-repeat center;
	position:absolute;
	left:50%;
	margin-left:-573px;
	top:305px;
}

.section7{
	width: 100%;
	height:920px;
	background:url(../images/bg_cover06.jpg) no-repeat center;
	position: relative;
	margin:0 auto;
}

.section7 .bg_cover06_logo{
	width:345px;
	height:140px;
	background:url(../images/bg_cover06_logo.png) no-repeat center;
	position:absolute;
	top:0;
	right:77px;
}
.section7 .bg_cover06_bg{
	width:100%;
	height:301px;
	background:url(../images/bg_cover06_bg.png) no-repeat center;
	margin:0 auto;
	position:absolute;
	bottom:0;
}

.section7 .bg_cover06_bg img{
	width:1010px;
	height:244px;
	position:absolute;
	left:50%;
	margin-left:-505px;
	top:50%;
	margin-top:-122px;
}

.section8{
    width: 100%;
    height:920px;
    background: url(../images/main_bg4.jpg) no-repeat center;
    position:relative;
    margin:0 auto;
}
.solve-box3{
	background:none;
}

.solve-box3-content img{
	width: 1100px;
    height: 585px;
    margin: 0 auto;
    margin-top: 35px;
    position: absolute;
    left:50%;
    margin-left:-550px;
}
.section9{
	width:100%;
	height:920px;
	background:url(../images/bg_cover07.jpg) no-repeat center;
	position:relative;
	margin:0 auto;
}
.section9 .bg_cover07{
	width:1280px;
	position:relative;
	text-align:center;
	margin:0 auto;
	padding-top:81px;
}

.section9 .bg_cover07 h3{
	font-size:58px;
	color:#000;
}

.section9 .bg_cover07 .xianshang{
	font-size:33px;
	color:#000;
	font-weight:bold;
	padding-top:41px;
}

.section9 .bg_cover07 .zaixian{
	font-size:16px;
	color:#000;
	padding-top:25px;
}
.section9 .bg_cover07 .imglist01 img{
	display: inline-block;
	width:211px;
	height:140px;
	padding-top:25px;
}
.section9 .bg_cover07 .xianxia{
	font-size:33px;
	color:#000;
	font-weight:bold;
	padding-top:70px;
}
.section9 .bg_cover07 .renyuan{
	font-size:16px;
	color:#000;
	padding-top:23px;
}
.section9 .bg_cover07 .imglist02 img{
	display: inline-block;
	width:211px;
	height:140px;
	padding-top:30px;
}
.section10{
	width:100%;
	height:920px;
	background:url(../images/bg_cover08.jpg) no-repeat center;
	position:relative;
	margin:0 auto;	
}

.section10 .bg_cover08{
	width:1280px;
	margin:0 auto;
}
.section10 .bg_cover08 .bg_cover08_txt{
	padding-left:124px;
}
.section10 .bg_cover08 .bg_cover08_txt h3{
	font-size:56px;
	color:#fff;
	padding-top:113px;
}
.section10 .bg_cover08 .bg_cover08_txt .jishu{
	font-size:33px;
	color:#fff;
	font-weight:bold;
	padding-top:50px;
}
.section10 .bg_cover08 .bg_cover08_txt .neirong{
	width:877px;
	color:#fff;
	font-size:18px;
	padding-top:50px;
}
.section10 .bg_cover08 .bg_cover08_txt .imglist03 img{
	width:149px;
	height:128px;
	display: inline-block;
	margin-left:78px;
	padding-top:50px;
}
.section10 .bg_cover08 .bg_cover08_txt .imglist03 img:nth-child(1){
	margin-left:0;
}
.section10 .bg_cover08 .bg_cover08_txt .fuwu{
	font-size:33px;
	color:#fff;
	font-weight:bold;
	padding-top:50px;
}
.section10 .bg_cover08 .bg_cover08_txt .chanpin{
	width:877px;
	color:#fff;
	font-size:18px;
	padding-top:10px;
}
.section10 .bg_cover08 .bg_cover08_txt .imglist04{
	margin-top:35px;
}
.section10 .bg_cover08 .bg_cover08_txt .imglist04 img{
	width:53px;
	height:90px;
	display: inline-block;
	margin-left:97px;
}
.section10 .bg_cover08 .bg_cover08_txt .imglist04 img:nth-child(1){
	margin-left:0;
}
.section11{
	width:100%;
	height:920px;
	background:url(../images/bg_cover09.jpg) no-repeat center;
	position:relative;
	margin:0 auto;
}
.section11 .bg_cover09{
	width:1280px;
	margin:0 auto;
	text-align: center;
}

.section11 .bg_cover09 h3{
	font-size:52px;
	color:#000;
	padding-top:30px;
	padding-bottom:19px;
}
.section11 .bg_cover09 dl{
	width:300px;
	height:245px;
	display: inline-block;
	margin-left:10px;
	margin-top:10px;
}
.section11 .bg_cover09 dl dt img{
	display: inline-block;
	width:300px;
	height:181px;
}
.section11 .bg_cover09 dl dd{
	width:300px;
	height:64px;
	background:url(../images/dd_bg.jpg) no-repeat center;
	background-size:100% 100%;
	text-align: center;
}
.section11 .bg_cover09 dl p{
	font-size:12px;
	color:#000;
	text-align:center;
	line-height:32px;
}
.section11 .bg_cover09 dl p.title_img{
	font-size:16px;
}
.section12{
	width:100%;
	height:920px;
	background:url(../images/bg_cover10.jpg) no-repeat center;
	background-size:100% 100%;
	position:relative;
	margin:0 auto;
}

.section12 .bg_cover10_txt{
	width:1280px;
	margin:0 auto;
}
.section12 .bg_cover10_txt h3{
	font-size:56px;
	color:#fff;
	padding-top:139px;
	text-align:center;
}
.section12 .bg_cover10_txt .gongsi{
	font-size:34px;
	color:#fff;
	font-weight:bold;
	text-align:center;
	padding-top:70px;
}
.section12 .bg_cover10_txt .zhizao{
	padding-top:30px;
	font-size:27px;
	color:#fff;
	line-height:58px;
}
.section13{
	
}
.section13 .bg_cover11_txt{
	height:762px;
	padding-top:69px;
}
.section13 .bg_cover11_txt .zixun{
	font-size:65px;
	color:#000;
	text-align:center;
}
.section13 .bg_cover11_txt .Tel{
	font-size:26px;
	color:#000;
	text-align:center;
	font-weight:bold;
	padding-top:18px;
}
.section13 .bg_cover11_txt .email{
	font-size:15px;
	text-align: center;
	color:#000;
	padding-top:12px;
}
.section13 .bg_cover11_txt .email span{
	color:#5c98ed;
}
.section13 .message-board {
    width: 1200px;
    height: 450px;
    border-bottom: none;
    position:absolute;
    left:50%;
    margin-left:-600px;
	text-align: center;
	margin-top:48px;
}

.section13 .message-board h2{
	width:360px;
	height:86px;
	font-size:22px;
	color:#4d4d4d;
	border-bottom:1px solid #ccc;
	margin:0 auto;
	text-align: center;
	line-height:86px;
	margin-bottom:42px;
}

.section13 .message-board .contact-input .county-width{
	width: 254px;
    margin: 0;
    margin-left: 14px;
	text-align: center;
}
.con-wrap{
	background-color:#f5f5f5;
}
.hangye{
	position:relative;
	display: inline-block;
	left:-4px;
}

.hangye .bottom_img{
	position:absolute;
	right:26px;
	top:0;
}

.diqu{
	position:relative;
	display: inline-block;
	left:-8px;
}

.diqu .shiqu{
	width:124px;
	padding-left:0;
	margin:0;
	text-align: center;
}

.diqu .left_bottom{
	position:absolute;
	left:178px;
	top:0;
}
.diqu .right_bottom{
	position:absolute;
	right:0;
	top:0;
}

#submit{
	position:absolute;
	left:50%;
	margin-left:-70px;
}

.leave-message{
	text-indent:16px;
}

