body,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,select,textarea,button,th,td,blockquote,address,pre{margin:0;padding:0;}
body{font-family: "微软雅黑";-webkit-text-size-adjust: none;-moz-text-size-adjust:none; -ms-text-size-adjust: none;text-size-adjust: none}
h1,h2,h3,h4,h5,h6,input,textarea,select,button,label{font-size:100%;vertical-align:middle;}
ul,dl,ol{list-style:none;}
a{text-decoration: none;}
img,fieldset{border:none;}
img{display:inline-block;overflow:hidden;vertical-align:top;}
em,address{font-style:normal;}
sup,sub{vertical-align:baseline;}
table{border-collapse:collapse;border-spacing:0;}
q:before{content:"";}
q:after{content:"";}
button{cursor:pointer;}
select{-webkit-appearance: none;-moz-appearance: none;-o-appearance: none;}
textarea{word-wrap:break-word;resize:none;}
.clearfix:after { content: ".";display: block;height: 0;clear: both;visibility: hidden; }
.clear{clear: both;}
.fl{float: left;}
.fr{float: right;}
.show{display: block}
.hide{display: none}
input,textarea,select{outline:0;-webkit-appearence:none;-ms-appearence:none}
.top_bar .top_nav .tab_language #new_dropdown{
	margin-top:20px!important;
}
.chengg{
	width:100%;
	height:1px;
	background:none;
	position:relative;
}
.d_body{
	width:100%;
	height:768px;
	min-width:1280px;
	position:relative;
	overflow: hidden;
}
.wrap{
	width:1280px;
	height:100%;
	position:relative;
	margin:0 auto;
}
.d_title{
	display: block;
	width:324px;
	height:82px;
	margin:116px 0 0 57px;
}
.d_p{
	font-size:22px;
	color:#333;
	font-weight:bold;
	margin:30px 0 10px 56px;
}
.t_p{
	font-size:18px;
	color: rgb(51, 51, 51);
	margin-left:56px;
	line-height:28px;
}
.d_txt{
	width:450px;
	overflow: hidden;
	position:relative;
}
.d_txt .d_con{
	float:left;
}
.d_download{
	width:341px;
	height:40px;
	overflow: hidden;
	position:relative;
	margin:30px 0 0 56px;
}
.d_download a{
	display: block;
	width:151px;
	height:38px;
	background-color:#ff2d55;
	color:#fff;
	text-align: center;
	line-height:38px;
	border-radius: 20px;
	float:left;
}
.d_download a:nth-child(2){
	margin-left:38px;
}
.d_img{
	display: block;
	width:773px;
	height:507px;
	position:absolute;
	top:125px;
	right:-40px;
}
