.pn-wrap .pn-inner .pn-box .pn-con .pn-list .item a .hover .pn-more{
	width: 200px;
	height: 36px;
	float: right;
	margin-top: 32px;
	border: 1px solid #fff;
	border-radius: 19px;
	font-size: 18px;
	color: #fff;
	text-align: center;
	line-height: 36px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	margin-right: 0;
	opacity: 0;
}
.pn-wrap .pn-inner .pn-box .pn-con .pn-list .item a:hover .hover .pn-more{
	margin-right: 55px;
	opacity: 1;
}
.pn-wrap .pn-inner .pn-box .pn-con .pn-list .item a .hover .pn-ewm{
	float: left;
	width: 280px;
	margin-left: 0px;
	opacity: 0;
	/*margin-top: 80px;*/
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
.pn-wrap .pn-inner .pn-box .pn-con .pn-list .item a:hover .hover .pn-ewm{
	margin-left: 20px;
	opacity: 1;
}