.left-menu {
    width: 173px;
    height: 450px;
    position: fixed;
    right: 0px;
    z-index: 9999;
    top: 35%;
}
.left-menu p{
    text-align: center;
}
.left-menu li{
    height: 55px;
    line-height: 55px;
    text-align: center;
}.left-menu li a{
    color: #fff;
    font-size: 16px;
     height: 55px;
    line-height: 55px;
    width: 175px;
    display: inline-block;
    
}
.left-menu ul li:hover{
    width: 173px;
    height: 55px;
    background: url(../jjzd_zh/left.png) no-repeat;
}
.right_act{
    width: 173px;
    height: 54px;
    background: url(../jjzd_zh/left.png) no-repeat;
}

.main_page01,
.main_page02,
.main_page03,
.main_page04,
.main_page05,
.main_page06 {
	width: 1920px;
	height: 920px;
	position: relative;
	left: 50%;
	margin-left: -960px;
	margin-top: -1px;
}

.main_page01 {
	background: url(../jjzd_en/main_page.jpg) no-repeat center top;
	margin-top: 56px;
}

.main_content {
	width: 1280px;
	margin: 0 auto;
	min-width: 1280px;
}

.main_page01 .bottom {
	display: inline-block;
	position: absolute;
	width: 454px;
	height: 284px;
	background: url(../jjzd_en/bottom01.png) no-repeat center top;
	bottom: 53px;
	left: 50%;
	margin-left: -227px;
	z-index: 99;
}
.main_page01 .bottom:hover{
	animation: dq 5s linear infinite;
	-webkit-animation: dq 5s linear infinite;
}
@-webkit-keyframes dq {
	0% {
		-webkit-transform: scale(1);
	}
	25% {
		-webkit-transform: scale(1.1);
	}
	50% {
		-webkit-transform: scale(1);
	}
	75% {
		-webkit-transform: scale(1.1);
	}
}

@keyframes dq {
	0% {
		-webkit-transform: scale(1);
	}
	25% {
		-webkit-transform: scale(1.1);
	}
	50% {
		-webkit-transform: scale(1);
	}
	75% {
		-webkit-transform: scale(1.1);
	}
}

.main_page02{
	background:url(../jjzd_en/main_page01.jpg) no-repeat center top;
}

.main_page02 .main_pic{
	padding-top:160px;
	display: flex;
	justify-content: space-between;
}

.main_page02 .main_pic li{
	background:url(../jjzd_zh/main_pic.jpg) no-repeat center top;
	background-size:100% 100%;
	width:255px;
	height:677px;
	position:relative;
	cursor: pointer;
	/*padding:0 30px;*/
}
.main_page02 .main_pic li a{
	display: block;
}

.main_page02 .main_pic li.active{
	box-shadow: 0px 0px 50px #e6892c inset;
	box-shadow: 0px 0px 50px #e6892c inset;
	-webkit-box-shadow: 0px 0px 50px #e6892c inset;
}
.main_page02 .main_pic li .firstp{
	padding-top:35px;
}
.main_page02 .main_pic li p{
	font-size:25px;
	color: #fff;
	font-weight:bold;
	text-align:center;
}

.main_page02 .main_pic li .pic{
	display: inline-block;
	width: 44px;
	height: 50px;
	padding-left: 100px;
	padding-top: 20px;
}

.main_page02 .main_pic li .rw01{
	display: inline-block;
	width:337px;
	height:340px;
	position:absolute;
	left:50%;
	margin-left:-168.5px;
	bottom:64px;
}

.main_page02 .main_pic li .rw02{
	display: inline-block;
	width:266px;
	height:347px;
	position:absolute;
	left:50%;
	margin-left:-133px;
	bottom:70px;
}

.main_page02 .main_pic li .rw03{
	display: inline-block;
	width:313px;
	height:413px;
	position:absolute;
	left:50%;
	margin-left:-156.5px;
	bottom:25px;
}

.main_page02 .main_pic li .rw04{
	display: inline-block;
	width:347px;
	height:433px;
	position:absolute;
	left:50%;
	margin-left:-155.5px;
	bottom:25px;
}

.main_page03{
	background:url(../jjzd_zh/main_page02.jpg) no-repeat center top;
}
.main_page03 .main_content{
	position:relative;
}
.main_page03 .images01{
	display: block;
	width:885px;
	height:144px;
	position:absolute;
	top:220px;
	right:0px;
}

.main_page03 .images02{
	display: block;
	width:729px;
	height:113px;
	position:absolute;
	top:262px;
	right:0;
}

.main_page03 .images03{
	display: block;
	width:676px;
	height:49px;
	position:absolute;
	top:380px;
	right:0;
}

.main_page04{
	background:url(../jjzd_en/main_page03.jpg) no-repeat center top;
}

.main_page04 .main_content .swiper-container{
	width:1230px;
	height:643px;
	background:url(../jjzd_zh/gdbk.png) no-repeat center top;
	background-size:100% 100%;
	position:absolute;
	top:168px;
	left:50%;
	margin-left:-615px;
	z-index:10;
}
.main_page04 .main_content .swiper-container .swiper-wrapper{
	margin-top:10px;
	margin-left:10px;
}
.main_page04 .main_content .swiper-container .swiper-wrapper li img{
	display: inline-block;
	width:1211px;
	height:620px;
}
.main_page04 .main_content .swiper-pagination{
	position:absolute;
	bottom:65px;
	margin-left:360px;
}
.main_page04 .main_content .swiper-pagination .swiper-pagination-bullet {
	z-index: 99;
	width: 118px;
	height: 17px;
	display: inline-block;
	background: url(../jjzd_zh/dht.jpg) no-repeat center;
	margin: 0 9px;
	border-radius:0;
}

.main_page04 .main_content .swiper-pagination .swiper-pagination-bullet-active {
	background: url(../jjzd_zh/dht01.jpg) no-repeat center;
}

.main_page04 .main_content .swiper-button-prev{
	width:62px;
	height:124px;
	background:url(../jjzd_zh/left_jt.png) no-repeat center top;
	position:absolute;
	left:242px;
}

.main_page04 .main_content .swiper-button-next{
	width:62px;
	height:124px;
	position:absolute;
	background:url(../jjzd_zh/right_jt.png) no-repeat center top;
	right:242px;
}

.main_page05{
	background:url(../jjzd_zh/main_page04.jpg) no-repeat center top;
}

.main_page05 .tab{
	position:absolute;
	left:0px;
}

.main_page05 .tab img{
	position:absolute;
	display: none;
}
.main_page05 .tab .down{
	display: block;
}
.main_page05 .right_sl{
	position:absolute;
	top:227px;
	right:158px;
}
.main_page05 .right_sl .right_sl01{
	width:196px;
	height:197px;
	background:url(../jjzd_zh/weixuanzhong.png) no-repeat center top;
	margin-bottom:170px;
	cursor: pointer;
}
.main_page05 .right_sl .active{
	background:url(../jjzd_zh/xuanzhong.png) no-repeat center top;
	display: block;
}
.main_page05 .right_sl .right_sl01 .xuanzhong{
	position:absolute;
	top:-76px;
	left:-61px;
}
.main_page05 .right_sl .right_sl01 .weixuanzhong{
	position:absolute;
	top:267px;
	left:-107px;
}
.main_page06{
	/*height:785px;*/
	background:url(../jjzd_zh/main_page05.jpg) no-repeat center top;
	background-size:100% 100%;
}

.main_page06 .main_txt{
	width:780px;
	height:357px;
	padding-left:33px;
	padding-top:134px;
}
