.omni_detail{
	width:100%;
	overflow: hidden;
	margin-top:100px;
	margin-bottom:160px;
	background-color:#fff;
}
.omni_detail .omni_product{
	width:1280px;
	margin:0 auto;
	position:relative;
}

.product_one{
	width:100%;
	overflow: hidden;
	padding-top:110px;
	margin-left:43px;
}
.product_one .h3{
	font-size:32px;
	color:#000;
	font-weight:300;
}
.product_one ul{
	width:100%;
	overflow: hidden;
	margin-top:35px;
}
.product_one ul li{
	float:left;
}
.product_one ul li .h4{
	font-size:24px;
	color:#000;
	margin-bottom:32px;
}
.product_one ul li p{
	font-size:16px;
	color:#6c9c01;
	margin-bottom:18px;
}
.product_one ul li p em{
	color:#8f8e8e;
}

.product_one ul li.first_p p i{
	display: inline-block;
	min-width:170px;
	margin-right:25px;
}

.product_one ul li.second_p{
	margin-left:30px;
}
.product_one ul li.second_p p i{
	display: inline-block;
	min-width:170px;
	margin-right:25px;
}
.product_one ul li.third_p{
	margin-left:19px;
}
.third_p .third_p_em em{
	display: inline-block;
	margin:0 25px 0 0;
}
.third_p .third_p_em em:nth-child(1){
	min-width:33px;
}
.third_p .third_p_em em:nth-child(3){
	margin-left:15px;
}
.third_p p i.third_i{
	margin-left:132px;
}

.third_p .third_p_em em.third_em{
	min-width:21px;
	margin-right:60px;
}

.third_p .third_p_em em.s_hao{
	margin-left:37px;
}
.third_p .third_p_em em.sm_omni{
	font-weight:bold;
}
.clear{
	clear:both;
}
.product_two{
	width:100%;
	overflow: hidden;
	margin-top:55px;
}
.product_two .h3{
	font-size:32px;
	color:#000;
	margin-left:43px;
}
.product_two .product_two_one{
	margin-left:9px;
	font-size:14px;
	color:#373737;
	margin-top:62px;
	float:left;
}
.product_two .product_two_one p{
	margin-top:11px;
}

.product_two .product_two_two{
	margin-left:25px;
	font-size:14px;
	color:#373737;
	margin-top:-3px;
	float:left;
}
.product_two .product_two_two p{
	margin-top:6px;
}
.product_two .product_two_three{
	margin-left:27px;
	font-size:14px;
	color:#373737;
	margin-top:3px;
	float:left;
}
.product_two .product_two_three p{
	margin-top:5px;
}
.product_two .product_two_four{
	margin-left:9px;
	font-size:14px;
	color:#373737;
	margin-top:7px;
	float:left;
}
.product_two .product_two_four p{
	margin-top:3px;
}
.product_two .product_two_five{
	margin-left:9px;
	font-size:14px;
	color:#373737;
	margin-top:63px;
	float:left;
}
.product_two .product_two_five p{
	margin-top:18px;
}
.product_two .product_two_six{
	margin-left:9px;
	font-size:14px;
	color:#373737;
	margin-top:74px;
	float:left;
}
.product_two .product_two_six p{
	margin-top:26px;
}
.product_two .product_two_seven{
	margin-left:26px;
	font-size:14px;
	color:#373737;
	margin-top:9px;
	float:left;
	width:404px;
}
.product_two .product_two_seven p{
	margin-top:10px;
}