.clearfix {
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
img{
	display: inline;
}
.clearfix:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.con1 {
    width: 100%;
    height: 724px;
    background: url(../images/bg2.png) no-repeat center;
    background-size:cover;
    position: relative;
    margin-top: -75px;
}
.con1  .wrap{
    width: 1200px;
    height: 729px;
    position: relative;
    margin:0 auto;
}
.con1 .play{
  display: block;
  width: 340px;
  height: 120px;
  position: absolute;
  bottom: 140px;
  left: 55%;
  margin-left: -100px;
  display: none;
}
.con1 .play a {
  width: 339px;
  height: 120px;
  display: inline-block;
  animation: vGo 2s linear infinite;
  -webkit-animation: vGo 2s linear infinite;
}
@keyframes vGo{
	0%{transform: scale(0.9);}
	50%{transform: scale(1);}
	100%{transform: scale(0.9);}
}
@-webkit-keyframes vGo{
	0%{transform: scale(0.9);}
	50%{transform: scale(1);}
	100%{transform: scale(0.9);}
}
.con1 .play1 {
    display: none;
    width: 554px;
    height: 120px;
    position: absolute;
    top: 513px;
    right: 0;
    z-index:99;
}
.con1 .play2{
    display: none;
    width: 338px;
    height: 120px;
    position: absolute;
    top: 523px;
    right: 107px;
    z-index:99;
}
.con1 .play2 a {
    width: 338px;
    height: 120px;
    position: absolute;
    display: inline-block;
}
.con1 .play1 a {
    width: 270px;
    height: 110px;
    position: absolute;
    display: inline-block;
}
.con1 .play1 a img{
	/*animation: imgGo 2s linear infinite;*/
	/*-webkit-animation: imgGo 2s linear infinite;*/
}
@keyframes imgGo{
	0%{transform: scale(0.9);}
	50%{transform: scale(1);}
	100%{transform: scale(0.9);}
}
@-webkit-keyframes imgGo{
	0%{transform: scale(0.9);}
	50%{transform: scale(1);}
	100%{transform: scale(0.9);}
}
.con1 .play1 a:first-child {
  top: 40px;
}
.con1 .play1 a:nth-child(2) {
  top: 0px;
  left: 285px;
}
.con1 .play1 a:nth-child(3) {
  top: -35px;
  left: 500px;
}
.file {
  position: relative;
  width: 100%;
  height: 606px;
  background: url(../images/bg1.png) no-repeat center;
  background-size:cover;
}
.file .file-con {
    width: 1150px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    top: 52px;
}
.file .file-con > p {
  width: 446px;
  height: 145px;
  margin: 0 auto;
  background: url(../images/file.png) no-repeat;
}
.file .file-con .file-tab {
  margin: 0 auto;
  margin-left: 60px;
  position: relative;
  width: 100%;
  height: 100%;	
  background: url(../images/file-scare.png) no-repeat center;
	margin-top:-65px;
}
.file .file-con .file-tab .left {
  position: absolute;
  left: -60px;
  top: 50%;
  margin-top: -50px;
  width: 47px;
  height: 66px;
  display: inline-block;
  background: url(../images/left.png) no-repeat;
}
.file .file-con .file-tab .right {
  position: absolute;
  right: 60px;
  top: 50%;
  margin-top: -50px;
  width: 47px;
  height: 66px;
  display: inline-block;
  background: url(../images/right.png) no-repeat;
}
.file .file-con .file-tab .top {
  width: 108px;
  height: 50px;
  display: inline-block;
  position: absolute;
  left: 52%;
  top: 80px;
  background: url(../images/top.png) no-repeat center;
}
.file .file-con .file-tab .file-here {
  width: 582px;
  height: 342px;
  padding-top: 60px;
  margin-left: 20px;
  position: relative;
}
.file .file-con .file-tab .file-here .file-center ul {
  width: 582px;
  height: 344px;
  overflow: hidden;
}
.file .file-con .file-tab .file-here .file-center ul li {
  display: none;
  width: 582px;
  height: 342px;
}
.file .file-con .file-tab .file-here .file-center ul li .info {
    vertical-align: top;
    overflow: hidden;
    width: 100%;
    height: 94px;
}
.file .file-con .file-tab .file-here .file-center ul li .info img:first-child {
  vertical-align: top;
  margin: 15px 0 0 10px;
}
.file .file-con .file-tab .file-here .file-center ul li .info img:last-child {
    width: 435px;
    height: 110px;
    position: relative;
    top: -13px;
}
.file .file-con .file-tab .file-here .file-center ul li:nth-child(2) .info img:last-child {
    width: 324px;
    height: 85px;
    top: 0px;
}
.file .file-con .file-tab .file-here .file-center ul li:nth-child(3) .info img:last-child {
    width: 266px;
    height: 85px;
    top: 7px;
}
.file .file-con .file-tab .file-here .file-center ul li:nth-child(4) .info img:last-child {
    width: 310px;
    height: 98px;
    top: 3px;
    margin-left: -25px;
}
.file .file-con .file-tab .file-here .file-center ul li .detail {
    height: 70px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 20px;
    letter-spacing: 0px;
    color: #646464;
    position: relative;
    left: 20px;
    width: 565px;
}
.file .file-con .file-tab .file-here .file-center ul li .scare {
  width: 572px;
  height: 60px;
  margin: 20px 0 0 20px;
}
.file .file-con .file-tab .file-here .file-center ul li .scare img {
  cursor: pointer;
  margin-right: 25px;
  opacity: 1;
}
.file .file-con .file-tab .file-here .file-center ul li .scare img.active {
  opacity: 0.3;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}
.file .file-con .file-tab .file-here .file-center ul li .file-info {
  margin: 13px 0 0 15px;
  width: 98%;
  height: 80px;
  line-height: 80px;
  padding-top: 5px;
  background: url(../images/border7.png) no-repeat center;
  overflow: hidden;
}
.file .file-con .file-tab .file-here .file-center ul li .file-info .info1 {
  display: none;
  text-indent: 20px;
  font-size:14px;
}
.file .file-con .file-tab .file-here .file-center ul li .file-info .info1 span:first-child {
  color: #FFA800;
}
.file .file-con .file-tab .file-here .file-center ul li .file-info .info1 span:last-child {
  margin-left: 5px;
  color: #999999;
}
.file .file-con .file-tab .file-here .file-center ul li .file-info .info2 {
  display: block;
}
.file .file-con .file-tab .file-here .file-center ul li:first-child {
  display: block;
}
.rule {
  width: 100%;
  height: 989px;
  position: relative;
  background: url(../images/bg3.png) no-repeat center;
  background-size:cover;
}
.rule .rule-left {
    width: 1200px;
    height: 571px;
    margin: 0 auto;
    padding-top: 129px;
    position: relative;
}
.rule .rule-left ul {
    width: 566px;
    height: 374px;
    left: 23px;
    position: absolute;
}
.rule .rule-left ul li {
    width: 272px;
    height: 100%;
    float: left;
    margin-right: 21px;
}
.rule .rule-left ul li .time {
  text-align: center;
  width: 100%;
  height: 123px;
  line-height: 80px;
}
.rule .rule-left ul li .time img{
	padding-top:28px;
}
.rule .rule-left ul li .vs1 {
  text-align: center;
  width: 100%;
  height: 123px;
}
.rule .rule-left ul li .vs1 p {
  font-family: PingFangSC-Regular;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: 0px;
  color: #bbbbbb;
}
.rule .rule-left ul li p:nth-child(1){
  padding-top: 18px;
}
.rule .rule-left ul li .vs1 p:nth-child(2) {
  font-family: PangMenZhengDao;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 36px;
  letter-spacing: 0px;
  color: #90421F;
}
.rule .rule-left ul li .vs2,
.rule .rule-left ul li .vs3 {
  margin-top: 0px;
}
.rule .rule-left ul li:last-child {
  margin-right: 0px;
}
.rule .rule-right{
    width: 452px;
    height: 283px;
    margin: 0 auto;
    top: 167px;
    position: absolute;
    right: 20px;
}
.rule .rule-right p{
    width: 100%;
    height: 52px;
    line-height: 52px;
    color: #777;
    font-size: 18px;
    text-align: left;
}
.rule .rule-right p i{
    width: 22px;
    height: 28px;
    font-style: normal;
    display: inline-block;
    background: url(../images/num.png) no-repeat;
    background-size: 100% 100%;
    color: #bbb;
    text-align: center;
    line-height: 25px;
    font-size: 16px;
    margin-right: 20px;
}
.rule  .match {
    width: 1200px;
    padding-top: 160px;
    position: relative;
    height: 133px;
    margin: 0 auto;
}
.rule  .match a {
  display: inline-block;
  width: 269px;
  height: 59px;
  background: url(../images/click.png) no-repeat center;
  position: absolute;
  bottom: 10px;
  left: 60%;
}
.frocecast {
  width: 100%;
  position: relative;
  height: 759px;
  background: url(../images/bg4.png) no-repeat center;
  background-size:cover;
}
.frocecast .atonce {
    width: 1200px;
    padding-top: 285px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}
.frocecast .atonce_rule{
  width: 776px;
  position: relative;
  margin-bottom: 32px;
}
.frocecast .atonce_rule p{
    width: 776px;
    position: relative;
    height: 58px;
    padding-left: 52px;
    line-height: 58px;
    color: #777;
    font-size: 18px;
    text-align: left;
}
.frocecast .atonce_rule p i{
    width: 22px;
    height: 28px;
    font-style: normal;
    display: inline-block;
    background: url(../images/num.png) no-repeat;
    background-size: 100% 100%;
    color: #bbb;
    text-align: center;
    line-height: 25px;
    font-size: 16px;
    margin-right: 20px;
}
.frocecast .atonce>ul{
    width: 776px;
    height: 273px;
    left: 58px;
    position: absolute;
}
.frocecast .atonce>ul.yc_code>li:nth-child(1){
    height: 100%;
    width: 499px;
    margin-right: 8px;
    float: left;
}
.frocecast .atonce>ul.yc_code>li:nth-child(2){
    height: 100%;
    width: 269px;
    float: left;
}
.frocecast .atonce>ul.yc_code>li>p{
    width: 100%;
    height: 79px;
    line-height: 79px;
    color: #bbb;
    text-align: center;
    font-size: 24px;
}
.frocecast .atonce .yc_btn a {
    float: right;
    margin: 0 auto;
    width: 174px;
    height: 52px;
    display: block;
    position: absolute;
    top: 58px;
    left: 26px;
    z-index: 10;
    display: none; 
    color: #EBCBA1;
    text-align: center;
    line-height: 52px;
    font-size: 23.89px;
    padding-left: 10px;
    font-weight: bolder;
}
.frocecast .atonce .yc_btn a.dj_watch{
    font-size: 18px;
    padding-left: 14px;
}
.frocecast .atonce .yc_btn a.lj_yuce:hover{
    color:#E1C863;
}
.frocecast .atonce .yc_btn a.dj_watch:hover{
    color:#E1C863;
}
.frocecast .atonce .yc_btn a.sc_stop{
    font-size: 21px;
    padding-left: 15px;
}
.frocecast .atonce .yc_btn p.info{
    color: #E1C863;
    text-align: center;
    line-height: 52px;
    font-size: 18px;
    top: 110px;
}
.frocecast .atonce>ul.yc_code>li ul{
    width: 100%;
    height: 196px;
    position: relative;
}
.frocecast .atonce>ul.yc_code>li:nth-child(1) ul li{
    width: 25%;
    height: 196px;
    position: relative;
    float: left;
}
.frocecast .atonce>ul.yc_code>li:nth-child(2) ul li{
    width: 50%;
    height: 196px;
    position: relative;
    float: left;
}
.frocecast .atonce>ul.yc_code>li ul li div{
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding-top: 34px;
}
.frocecast .atonce>ul.yc_code>li ul li div img{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.frocecast .atonce>ul.yc_code>li ul li div p{
  text-align: center;
  color: #bbb;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
}
.frocecast .atonce .yc_btn{
    width: 214px;
    height: 240px;
    right: 66px;
    margin-top: 20px;
    position: absolute;
    background: url(../images/ljyc.png) no-repeat center;
}
.frocecast .atonce .yc_btn p{
    font-size: 16px;
    color: #bbbbbb;
    position: absolute;
    top: 157px;
    text-align: center;
    width: 100%;
}
/*棰勬祴寮圭獥*/
.forecast-to {
  display: none;
}
.forecast-to .bg1 {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000000;
  opacity: 0.7;
  z-index: 11111;
}
.forecast-to .fore-center {
  z-index: 22222;
  position: fixed;
  width: 382px;
  height: 352px;
  left: 50%;
  top: 50%;
  margin-left: -191px;
  margin-top: -176px;
  background: #303030;
}
.forecast-to .fore-center .fore-head {
  width: 100%;
  height: 70px;
  position: relative;
  line-height: 70px;
  text-align: center;
}
.forecast-to .fore-center .fore-head span {
  font-family: PingFangSC-Semibold;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #cccccc;
}
.forecast-to .fore-center .fore-head a {
  position: absolute;
  right: 25px;
  top: 5px;
}
.forecast-to .fore-center .fore-head a img {
  width: 16px;
  height: 16px;
}
.forecast-to .fore-center .fore-con {
  width: 322px;
  height: 152px;
  padding: 20px 30px;
  background-color: #292929;
  position: relative;
}
.forecast-to .fore-center .fore-con .input {
  width: 320px;
  height: 150px;
}
.forecast-to .fore-center .fore-con .input .inp-left {
  text-align: center;
  float: left;
  width: 117px;
  height: 70px;
}
.forecast-to .fore-center .fore-con .input .inp-left span {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: 0px;
  color: #999999;
}
.forecast-to .fore-center .fore-con .input .inp-left input {
  width: 115px;
  height: 44px;
  border-radius: 5px;
  border: solid 1px #666666;
  text-align: center;
  color: #f8d624;
  font-size: 24px;
  background: #292929;
  outline: none;
}
.forecast-to .fore-center .fore-con .input > span {
  font-size: 40px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 2px;
  color: #666666;
  position: absolute;
  left: 50%;
  top: 22%;
  display: inline-block;
  width: 5px;
  height: 15px;
}
.forecast-to .fore-center .fore-con .input > input {
  width: 320px;
  height: 44px;
  border-radius: 5px;
  color: #f8d624;
  font-size: 24px;
  background: #292929;
  outline: none;
  margin-top: 30px;
  border: solid 1px #666666;
  font-size: 14px;
  text-indent: 20px;
}
.forecast-to .fore-center .fore-con .input input[type='number'] {
  -moz-appearance: textfield;
}
.forecast-to .fore-center .fore-con .input input[type=number]::-webkit-inner-spin-button,
.forecast-to .fore-center .fore-con .input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.forecast-to .fore-center .fore-foot {
  text-align: center;
  height: 130px;
  line-height: 130px;
}
.forecast-to .fore-center .fore-foot img {
  width: 174px;
  height: 52px;
  cursor: pointer;
}
.forecast-end {
  display: none;
}
.forecast-end .bg1 {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000000;
  opacity: 0.7;
  z-index: 11111;
}
.forecast-end .fore-center {
  z-index: 22222;
  position: fixed;
  width: 382px;
  height: 352px;
  left: 50%;
  top: 50%;
  margin-left: -191px;
  margin-top: -176px;
  background: #303030;
}
.forecast-end .fore-center .fore-head {
  width: 100%;
  height: 70px;
  position: relative;
  line-height: 70px;
  text-align: center;
}
.forecast-end .fore-center .fore-head span {
  font-family: PingFangSC-Semibold;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #cccccc;
}
.forecast-end .fore-center .fore-head a {
  position: absolute;
  right: 25px;
  top: 5px;
}
.forecast-end .fore-center .fore-head a img {
  width: 16px;
  height: 16px;
}
.forecast-end .fore-center .fore-con {
  width: 322px;
  height: 152px;
  padding: 20px 30px;
  background-color: #292929;
  position: relative;
}
.forecast-end .fore-center .fore-con p:first-child {
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 36px;
  letter-spacing: 2px;
  color: #efce23;
  margin-bottom: 20px;
}
.forecast-end .fore-center .fore-con p:nth-child(2),
.forecast-end .fore-center .fore-con p:last-child {
  font-family: PingFangSC-Regular;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 1px;
  color: #ffffff;
}
.forecast-end .fore-center .fore-foot {
  text-align: center;
  height: 130px;
  line-height: 130px;
}
.forecast-end .fore-center .fore-foot img {
  width: 174px;
  height: 52px;
  cursor: pointer;
}
/*预测成功*/
.forecast-suc{
	display: none;
}
.forecast-suc .bg1{
	position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000000;
  opacity: 0.7;
  z-index: 11111;
}
.forecast-suc .fore-center{
	z-index: 22222;
  position: fixed;
  width: 382px;
  height: 322px;
  left: 50%;
  top: 50%;
  margin-left: -191px;
  margin-top: -176px;
  background: #303030;
}
.forecast-suc .fore-center .fore-head{
	width: 100%;
  height: 70px;
  position: relative;
  line-height: 70px;
  text-align: center;
}
.forecast-suc .fore-center .fore-head span{
	font-size:26px;
	color:#ccc;
	text-align: center;
}
.forecast-suc .fore-center .fore-head img{
	display: block;
	float:right;
	margin:30px 24px 0 0;
	cursor: pointer;
}
.forecast-suc .fore-center .fore-con{
	width: 322px;
  height: 122px;
  padding: 20px 30px;
  background-color: #292929;
  position: relative;
}
.forecast-suc .fore-center .fore-con p:nth-child(1){
	font-size:28px;
	color:#efce23;
	margin-bottom:20px;
	text-align: center;
}
.forecast-suc .fore-center .fore-con p{
	text-align: left;
	font-size:16px;
	line-height:24px;
	color:#fff;
}
.forecast-suc .fore-center .fore-foot{
	width:100%;
	text-align: center;
	margin-top:20px;
	cursor: pointer;
}
/*已经预测成功*/
.forecast-ysuc{
  display: none;
}
.forecast-ysuc .bg1{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000000;
  opacity: 0.7;
  z-index: 11111;
}
.forecast-ysuc .fore-center{
  z-index: 22222;
  position: fixed;
  width: 382px;
  height: 322px;
  left: 50%;
  top: 50%;
  margin-left: -191px;
  margin-top: -176px;
  background: #303030;
}
.forecast-ysuc .fore-center .fore-head{
  width: 100%;
  height: 70px;
  position: relative;
  line-height: 70px;
  text-align: center;
}
.forecast-ysuc .fore-center .fore-head span{
  font-size:26px;
  color:#ccc;
  text-align: center;
}
.forecast-ysuc .fore-center .fore-head img{
  display: block;
  float:right;
  margin:30px 24px 0 0;
  cursor: pointer;
}
.forecast-ysuc .fore-center .fore-con{
  width: 322px;
  height: 122px;
  padding: 20px 30px;
  background-color: #292929;
  position: relative;
}
.forecast-ysuc .fore-center .fore-con p:nth-child(1){
  font-size:28px;
  color:#efce23;
  margin-bottom:20px;
  text-align: center;
}
.forecast-ysuc .fore-center .fore-con p{
  text-align: left;
  font-size:16px;
  line-height:24px;
  color:#fff;
}
.forecast-ysuc .fore-center .fore-con p a{
    display: block;
    color: #efce23;
}
.forecast-ysuc .fore-center .fore-foot{
  width:100%;
  text-align: center;
  margin-top:20px;
  cursor: pointer;
}
/*预约成功*/
.yy-suc{
	display: none;
}
.yy-suc .bg1{
	position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000000;
  opacity: 0.7;
  z-index: 11111;
}
.yy-suc .fore-center{
	z-index: 22222;
  position: fixed;
  width: 382px;
  height: 322px;
  left: 50%;
  top: 50%;
  margin-left: -191px;
  margin-top: -176px;
  background: #303030;
}
.yy-suc .fore-center .fore-head{
	width: 100%;
  height: 70px;
  position: relative;
  line-height: 70px;
  text-align: center;
}
.yy-suc .fore-center .fore-head span{
	font-size:26px;
	color:#ccc;
	text-align: center;
}
.yy-suc .fore-center .fore-head img{
	display: block;
	float:right;
	margin:30px 24px 0 0;
	cursor: pointer;
}
.yy-suc .fore-center .fore-con{
	width: 322px;
  height: 122px;
  padding: 20px 30px;
  background-color: #292929;
  position: relative;
}
.yy-suc .fore-center .fore-con p:nth-child(1){
	font-size:28px;
	color:#efce23;
	margin-bottom:20px;
	text-align: center;
}
.yy-suc .fore-center .fore-con p{
	text-align: left;
	font-size:16px;
	line-height:24px;
	color:#fff;
}
.yy-suc .fore-center .fore-foot{
	width:100%;
	text-align: center;
	margin-top:20px;
	cursor: pointer;
}
/*棰勭害寮圭獥*/
.order-to {
  display: none;
}
.order-to .bg1 {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000000;
  opacity: 0.7;
  z-index: 11111;
}
.order-to .order-center {
  z-index: 22222;
  position: fixed;
  width: 382px;
  height: 322px;
  left: 50%;
  top: 50%;
  margin-left: -191px;
  margin-top: -176px;
  background: #303030;
}
.order-to .order-center .order-head {
  width: 100%;
  height: 70px;
  position: relative;
  line-height: 70px;
  text-align: center;
}
.order-to .order-center .order-head span {
  font-family: PingFangSC-Semibold;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #cccccc;
}
.order-to .order-center .order-head a {
  position: absolute;
  right: 25px;
  top: 5px;
}
.order-to .order-center .order-head a img {
  width: 16px;
  height: 16px;
}
.order-to .order-center .order-con {
  width: 322px;
  height: 122px;
  padding: 20px 30px;
  background-color: #292929;
  position: relative;
}
.order-to .order-center .order-con .input {
  width: 320px;
  height: 150px;
}
.order-to .order-center .order-con .input > input {
  width: 320px;
  height: 44px;
  border-radius: 5px;
  color: #f8d624;
  font-size: 24px;
  background: #292929;
  outline: none;
  margin-top: 30px;
  border: solid 1px #666666;
  font-size: 14px;
  text-indent: 20px;
}
.order-to .order-center .order-con .input input[type='number'] {
  -moz-appearance: textfield;
}
.order-to .order-center .order-con .input input[type=number]::-webkit-inner-spin-button,
.order-to .order-center .order-con .input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.order-to .order-center .order-foot {
  text-align: center;
  height: 80px;
  line-height: 80px;
  padding-top: 20px ;
}
.order-to .order-center .order-foot img {
  width: 174px;
  height: 52px;
  cursor: pointer;
}
/*绮惧僵鍥為【*/
.back {
    width: 100%;
    position: relative;
    height: 922px;
    background: url(../images/bg5.jpg) no-repeat center;
    background-size:cover;
}
.back .back_title{
    width: 1200px;
    margin: 0 auto;
    padding-top: 74px;
}
.back .back_title p{
    width: 617px;
    height: 145px;
    margin: 0 auto;
    background: url(../images/lable.png) no-repeat;
}
.back div.more {
    width: 1200px;
    margin: 0 auto;
    padding-top: 5px;
    line-height: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    margin-left: -600px;
    top: 92px;
}
.back div.more a {
  float: right;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #888888;
  margin-right: 15px;
}
.back .audio {
  width: 1200px;
  height: 340px;
  padding: 0px;
  margin: 0 auto;
}
.back .audio .audio1 {
  float: left;
  margin-right: 20px;
  width: 578px;
  display: block;
  height: 328px;
  position: relative;
  border:6px solid #2b2b2b;
  opacity: 0.8;
}
.back .audio .audio1 .play-img img {
  width: 100%;
  height: 100%;
}
.back .audio .audio1 .play-bg {
  width: 126px;
  height: 110px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -70px;
  margin-top: -90px;
  z-index: 5;
  cursor: pointer;
}
.back .audio ul {
  float: right;
  width: 590px;
  height: 340px;
	overflow: hidden;
}
.back .audio ul li {
  width: 273px;
  margin-right: 20px;
  height: 148px;
  float: left;
  border:6px solid #2b2b2b;
}
.back .audio ul li .audio2 {
  width: 100%;
  height: 100%;
  position: relative;
}
.back .audio ul li .audio2 .play-img img {
	display: block;
  width: 100%;
  height: 100%;
}
.back .audio ul li .audio2 .play-sm {
  width: 126px;
  height: 126px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -63px;
  margin-top: -63px;
  z-index: 5;
  cursor: pointer;
}
.back .audio ul li:nth-child(2),
.back .audio ul li:nth-child(4) {
  margin-right: 0px!important;
}
.back .audio ul li:first-child,
.back .audio ul li:nth-child(2) {
  margin-bottom: 20px;
}
/*悬浮框*/
.float_div{
	right:20px;
	transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
/*.f_nav{
	width:17px;
	height:49px;
	background:url(../images/f_nav.png) no-repeat center;
	position:absolute;
	left:-16px;
	top:16px;
	cursor: pointer;
}*/
/*.f_nav img{
	display: block;
	width:8px;
	height:23px;
	position:absolute;
	left:6px;
	top:13px;
	transform: rotate(0deg);
}*/
.f_nav img.active{
	transform: rotate(180deg);
}
.op{
	overflow-x: hidden;
}
.op .float_div{
	transform: translate3d(222px, 0, 0);
}
