@keyframes scales {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@-webkit-keyframes scales {
	0% {
		-webkit-transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.1);
	}
	100% {
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes scales {
	0% {
		-webkit-transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.1);
	}
	100% {
		-webkit-transform: scale(1);
	}
}

@-o-keyframes scales {
	0% {
		-webkit-transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.1);
	}
	100% {
		-webkit-transform: scale(1);
	}
}

@-ms-keyframes scales {
	0% {
		-webkit-transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.1);
	}
	100% {
		-webkit-transform: scale(1);
	}
}

html,
body {
	width: 100%;
	height: 100%;
}

.kv {
	position: relative;
	width: 100%;
	height: 100%;
	/*background: url(../images/bg.png) no-repeat;*/
	/*background-size: 100% 100%;*/
	overflow: hidden;
}

.kv .group .download {
	float: left;
	width: 19.46875rem;
	height: 3.3125rem;
	margin: 0 auto;
}

.kv .group .download div a {
	display: block;
	width: 100%;
	height: 100%;
}

.kv .container {
	position: relative;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	z-index: 100;
}

.kv .container .title_box {
	width: 14.4375rem;
	position: relative;
	margin: 0 auto;
	top: 9%;
	height: 2.5rem;
}

.kv .group {
	position: relative;
	height: 4.8125rem;
	width: 5.09375rem;
	top: 46%;
	margin: 0 auto;
}

.kv .container .logo_ico {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 4.71875rem;
	display: block;
	margin-top: 0.5rem;
}

.kv .container .logo {
	position: relative;
	display: block;
	margin: 0 auto;
	float: right;
	top: 20px;
	width: 9.10625rem;
	display: block;
	-webkit-animation: zoomIn 1s ease-in-out;
	-moz-animation: zoomIn 1s ease-in-out;
	-o-animation: zoomIn 1s ease-in-out;
	animation: zoomIn 1s ease-in-out;
}

@-webkit-keyframes zoomIn {
	from {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
}

@keyframes zoomIn {
	from {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
}

.download {
	width: 10.59375rem;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -5.286875rem;
	bottom: 16%;
}

.download img {
	width: 100%;
}