@charset "utf-8";
body{ margin:0; padding:0; font:normal 100% "Microsoft YaHei",\5b8b\4f53,Arial, Helvetica, sans-serif; -webkit-tap-highlight-color: rgba(0,0,0,0);}
.hidden{
    display: none;
}
div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,select,textarea,table,td{ margin:0; padding:0;}
area{outline:none;}
img{ border:0;}
ol,ul{list-style:none;}
a{ text-decoration:none; outline:none;}
.clearfix:after {content:"";display:block;height:0;clear:both;} 
.clearfix {zoom:1;}
.pub_clr{clear:both;font-size:0;height:0;line-height:0;overflow:hidden;}
.auto{left: 50%; -webkit-transform:translate(-50%,0); -moz-transform:translate(-50%,0); -ms-transform:translate(-50%,0); -o-transform:translate(-50%,0); transform:translate(-50%,0);}
.box_justify{ display: -webkit-box; display: -moz-box; display: -o-box; display: -ms-box; -webkit-box-pack:justify; -moz-box-pack:justify; -o-box-pack:justify; -ms-box-pack:justify; box-pack:justify;}

html,body{ max-width: 640px; width: 640px; overflow-x: hidden; margin: 0 auto;}
body{padding-bottom: 80px;font-size: 14px;background: #1B0E23;}
.header{ position: relative; height:559px; background: url(../img/bg1.jpg) no-repeat center top; background-size: 100% 100%;}
.header-info-wrap{margin-left: 24px;position: absolute;top: 383px;left: 0; z-index:10;}
.header-info-wrap img.icon{float: left;margin-right: 18px;width: 151px;height: 151px;}
.header img.slogan{position:absolute;right:0px;width:220px;height: 335px;top:92px;}
.header-info{float:left;}
.header-info h1{font-size: 35px;color: #fff;margin-bottom: 2px;padding-top: 57px;font-weight: 500;}
.mouth{font-size: 30px;color: #fff;padding-top: 7px;}
.mouth span{color: #E7CD4B;}
.p10{float: right;width: 190px;height: 52px;margin: 32px 45px 0 0;background: url(../img/p10.png) no-repeat 0 0;background-size: 100% 100%;}
.img_title{width: 640px;display:block;border:0;}
/*.game_info{ background: url(../img/game_info.png) no-repeat center 210px; background-size: 640px 178px;}*/
.header .yx{ position: absolute; top: 283px; right:190px; width: 160px;
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
	-ms-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.game_info{background-size: 100% 100%;background: url(../img/bg2.jpg) no-repeat;height:369px;position: relative;}
.game_info .content{
    line-height: 38px;
    font-size: 18px;
    color: #fffbe5;
    width: 609px;
    position: relative;
    top: 60px;
     height: 228px; 
     overflow: hidden; 
    margin: 0 auto;
    background: #533955;
}
.game_info .content .content_info{
    width: 557px;
    position: relative;
    margin: 0 auto;
}
.game_info .down{    width: 28px;
    width: 28px;
    height: 16px;
    background: url(../img/down.png) no-repeat;
    background-size: 100% 100%;
    z-index: 3;
    position: absolute;
    right: 51px;
    bottom: 69px;
}
.game_info .up{    width: 28px;
    width: 28px;
    height: 16px;
    background: url(../img/up.png) no-repeat;
    background-size: 100% 100%;
    z-index: 3;
    position: absolute;
    right: 51px;
    bottom: 69px;
}
.welfare{background-size: 100% 100%;background: url(../img/bg3.jpg) no-repeat;height:694px;}
.welfare .content{width: 572px;margin: 0 auto;height: 1094px;line-height: 33px;font-size: 21px;color: #fffbe5;}
.welfare .info{padding:0 0 0 142px;top: 463px;position: relative;}
/*预约福利*/
.fuli{width: 640px;height: 365px;background: url(../img/bg4.jpg?jv=1.0.20180910) no-repeat;}
.fuli .content{padding: 74px 0 0 0;}
.fuli h4{font-size: 18px;color: #fffbe5;width: 600px;line-height: 35px;font-weight: 400;box-sizing: border-box;padding-left: 50px;}
.fuli-img{overflow:hidden; width:450px; margin:0 auto;}
.fuli-img li{width: 150px;float: left;color: #fffbe5;font-size: 14px;margin-bottom: 9px;margin-top: 12px;}
.fuli-img li h5{text-align:center; font-size:17px;}
.fuli-img li b{display: block;color:#fddc5c;}
.fuli-img li img{display:block; margin:0 auto;margin-bottom:5px;width:116px;}
.fuli-img .last{margin-right:0px;}
.fuli-img2 li h5 {text-align: center;font-size: 20px;color:#fff;}
/*视频*/
.video{width: 640px;height:467px;background: url(../img/bg6.jpg?jv=1.0.20180910) no-repeat;}
#video-play{width: 524px !important;
    height: 296px !important;
    position: relative;
    margin: 0 auto;
    display: block;
    top: 85px;
    border: 3px solid #C8A876;    overflow: hidden;}
#video-play.on{display:block;}
.opa{width:100%; height:100%; background:rgba(0,0,0,0.8); position:fixed; top:0; left:0; display:none; z-index:999999;}
.opa.on{display:block;}
.video .main{width: 606px;height: 377px;margin: 0 auto;margin-top: 10px;}

.role{height: 1004px;background: url(../img/bg03.jpg) no-repeat center top;background-size: 100% 100%;overflow: hidden;}
.role .list{ position: relative; width: 600px; height: 94px; margin: 0 auto;}
.role .list .swiper-container{ width: 496px; margin: 0 auto;}
.role .list .swiper-button-prev, .role .list .swiper-button-next{ width: 28px;}
.role .list .swiper-button-prev{ background: url(../img/role_prev.png) no-repeat 0 0; background-size: 100% 100%;}
.role .list .swiper-button-next{ background: url(../img/role_next.png) no-repeat 0 0; background-size: 100% 100%;}
.role .list .swiper-slide img{width: 110px;height: 111px;margin: 0 5px;}
.role .content{ height: 658px;}
.role .content dd{ position: relative; width: 640px; height: 678px; display: none;}
.role .content dd:first-child{ display: block;}
.role .content dd img.name{position: absolute;top: 50px;left: 41px;}
.role .content dd .pic{text-align: center;vertical-align: middle;}
.role .content dd .pic img{vertical-align: middle;width:%;}
.role .content dd img.see_role{ position: absolute; top: 15px; right: 20px; z-index: 2;}
.role .speech{ position: absolute; top: 386px; right: 31px; width: 94px; height: 252px; background: url(../img/speech.png) no-repeat 0 0; background-size: 100% 100%;}
.role .speech p{ position: absolute; top: 45px; width: 27px; line-height: 20px; text-align: center; font-size: 16px; color: #FFF;}
.role .speech p.chinese_name{ left: 9px;}
.role .speech p.japanese_name{ right: 9px;}
.character{position: relative;background: url(../img/bg7.jpg) no-repeat;background-size: 100% 100%;height:498px;}
.character .swiper-container{    width: 520px;
    height: 291px;
    padding: 92px 0 0 0;
    margin-left: 59px;}
.character .swiper-slide{ width: 390px; background-size: 100% 100%;}
.character .swiper-button-next, .character .swiper-button-prev{ width: 25px; height: 40px; top: 420px;}
.character .swiper-button-prev,.animal_section .swiper-button-prev{width:33px;height:66px; left: 5px; background: url(../img/prev.png) no-repeat 0 0; background-size: 100% 100%;}
.character .swiper-button-next,.animal_section .swiper-button-next{width:33px;height:66px; right: 5px; background: url(../img/next.png) no-repeat 0 0; background-size: 100% 100%;}
.news ul{    width: 559px;
    margin: 13px auto 0;
    padding-top: 61px;}
.news li{     padding: 25px 0;
    border-bottom: 1px solid #000;}
.news li img{     width: 163px;
    height: 123px;
    float: left;
    margin: 0 30px 0 5px;}
.news .info{float: left;
    width: 360px;
    color: #777;
    font-size: 19px;
    position: relative;
    top: 21px;}
.news .info h1{ margin-bottom: 10px; font-size: 24px; display: -webkit-box; -webkit-line-clamp:1; -webkit-box-orient: vertical; overflow: hidden;}
.news .info a{color: #fffbe5;}

.news .info span.date{    display: block;
    margin-top: 10px;
    color: #BD9F5D;}

.prompt_swiper{ position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background-color: rgba(0,0,0,0.7); display: none; z-index: 10;}
.prompt_swiper .swiper-container{ position: absolute; top: 50%; left: 50%; width: 480px; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); background-color: #fff; background-color: transparent;}
.prompt_swiper .swiper-container .swiper-slide{ box-sizing: border-box; width: 100%!important; background-color: transparent;}
.prompt_swiper .swiper-container img{ width: 100%;} 
.prompt_swiper .swiper-pagination-bullet{ background-color: #fff;}
.prompt_swiper .swiper-pagination-bullet-active{}

.prompt_bg{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.7); z-index: 10;}
.pop{ position: fixed; top: 50%; left: 50%; -webkit-transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); -o-transform:translate(-50%,-50%); transform:translate(-50%,-50%); z-index: 11;}
.pop4{ background: url(//m.laohu.com/_s/yym/pop4.png) no-repeat 0 0; width:640px; height: 490px; position: fixed; display: none;}
.closediv{ display: block; width: 44px; height: 44px; background: url(//m.laohu.com/_s/yym/close.png) no-repeat 0 0; position: absolute; right: 10px; top: 30px; cursor: pointer;}
.heroBox{ width: 464px; margin: 0 auto; padding: 160px 0 0 0;}
.heroBox h2{ font-size: 30px; font-weight: bold; color: #383838; padding-bottom:2px;}
.heroBox h3{ font-size: 18px; color: #848484; padding-bottom:4px; border-bottom: 1px solid #b7b9c6;}
.heroBox p{ font-size: 22px; color: #474747; line-height: 30px; text-indent: 2em; padding: 12px 0 0 0;}


/**/
.new_part01 img{ width:70%; margin:0 auto; display:block; margin-top:45px}
.new_part02 img{ width:554px; margin:0 auto; display:block; margin-top:15px}
.welfare .item02 {height:64px; margin:0 auto; display:block}
.news{background: url(../img/bg8.jpg) no-repeat;background-size: 100% 100%; padding-bottom:1px;height:616px;}
.banner {
    position: relative;
    width: 1200px;
    height: 360px;
    padding: 11px 0 16px;
    margin: 0 auto;
    text-align: center;
}

.dg-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.dg-wrapper {
    width: 580px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.dg-wrapper a {
    width: 100%;
    height: 100%;
    display: block;
    z-index:1;
    position: absolute;
    left: 0;
    top: 0;
	border: 2px #7353f5 solid;
}


.dg-wrapper a.dg-center{
    z-index:999;
}
.dg-wrapper a img {
    display: block;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.20);
    width: 100%;
    height: 100%;
    background: #fff;
}

.dg-wrapper a.dg-transition {
    transition: all 0.5s ease-in-out;
}

.dg-wrapper a.dg-transition-fast {
    transition: all 0.2s ease-in-out;
}
.dg-container nav {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    width: 100%;
}
.dg-container nav span{
    position: absolute;cursor: pointer}
.dg-container nav span.dg-prev{
    left: 250px;}
.dg-container nav span.dg-next{
    right: 250px;}
.dg-container nav span:hover {
    opacity: 1;
}

.dg-container nav span.dg-next {
    background-position: top right;
    margin-left: 10px;
}

.dg-container #lightButton2 {
    bottom: 20px;
}

.dg-container .button {
    position: absolute;
    width: 100%;
    bottom: -90px;
    margin: 0;
    padding: 0;
    z-index: 5;
}

.dg-container .button li {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin: 20px 0 0 20px;
    background:url(../img/lp05.png) no-repeat;
    background-size:100% 100%;
}

.dg-container .button .light {
     background:url(../img/lp06.png) no-repeat; background-size:100% 100%;
}
.banner{
    width: 100%;
    height: 687px;
}
.dg-wrapper{
    width: 387px;
}
#slide{
    height: 850px;
    /* margin-top: 20px; */
    }
.dg-container nav img{
    width: 87px;}
.dg-container nav span.dg-prev{
    left: 65px;}
.dg-container nav span.dg-next{
    right: 65px;}
.dg-container nav{
    margin-top: -10px;}
.dg-container .button{
    bottom: -70px;
    }
.dg-container .button li{
   
    margin:15px 0 0 15px;}

.footer_bg{
    background: url(../img/lp04.jpg) no-repeat center bottom;
    background-size:100% 100%;
}
.game_roles{width:640px; height:722px; background:url(../img/bg7.jpg?jv=1.0.20170728) no-repeat; overflow:hidden; position:relative;}
.game_roles .title{width:470px; height:29px; margin:0 auto; padding-top:56px;}
.game_roles .intro{width:640px; text-align:center; font-size:18px; color:#efbe63; padding-top:10px; letter-spacing:4px; position:absolute; left:0; top:90px;}

.role_info .tit{display:block;}
.role_info .text{width:266px; font-size:18px; line-height:30px; text-align:justify; color:#dcb981; margin-bottom:6px;}
.role_info h3{color:#dcb981; font-size:18px; width:210px; height:53px; background:url(../img/star_bg.png?jv=1.0.20170728) no-repeat; padding-top:17px; overflow:hidden; padding-left:30px;}
.role_info h3 span{float:left;}
.role_info h3 img{float:left; padding:7px 2px 0;}
.role_img{position:relative; top:0; right:0; opacity:0; -webkit-transform:translate(100%, 0); transform: translate(100%, 0); -webkit-transition:all 0.3s; transition:all 0.3s;}
.role_img2{position:relative; top:55px; right:-226px; opacity:0; -webkit-transform:translate(100%, 0); transform: translate(100%, 0); -webkit-transition:all 0.3s; transition:all 0.3s;}
.role_img3{position:relative; top:30px; right:-142px; opacity:0; -webkit-transform:translate(100%, 0); transform: translate(100%, 0); -webkit-transition:all 0.3s; transition:all 0.3s;}

.game_roles .swiper_dock_list{overflow:hidden; width:262px; height:81px; position:absolute; top:583px; left:40px; background:url(../img/paging.png?jv=1.0.20170728) no-repeat; padding-left:4px; z-index:9999;}
.game_roles .swiper_dock_list li{float:left; width:78px; height:68px; margin:7px 4px 0;}
.game_roles .swiper_dock_list li img{display:none;}
.game_roles .swiper_dock_list li .icon.on{display:block;}
.game_roles .swiper-slide-active .role_info{-webkit-transform: translate(0, 0); transform: translate(0, 0); -webkit-transition: all 0.3s; transition: all 0.3s; opacity:1;}
.game_roles .swiper-slide-active .role_img{opacity:1; -webkit-transform:translate(26px, 0); transform: translate(26px, 0); -webkit-transition: all 0.3s; transition: all 0.3s;}

.animal_section{background: url(../img/bg5.jpg) no-repeat;background-size: 100% 100%;overflow:hidden;position:relative;height:980px;}
.animal_section .animal_wrap{position: relative;top: 84px;}
.animal_section .intro{width:640px; text-align:center; font-size:18px; color:#efbe63; padding-top:10px; letter-spacing:4px; margin-bottom:34px;}
.animal_section .animal_name{position:absolute; left:0; top:30px;}
.animal_section .animal1,.animal_section .animal2,.animal_section .animal3,.animal_section .animal4,.animal_section .animal5{display:block; margin:0 auto;}
.animal_section .swiper_dock_list{overflow:hidden;width: 640px;height: 116px;background:url(../img/zuoji_icon.png?jv=1.0.20170728) no-repeat;z-index:10;position:absolute;bottom: 70px;}
.animal_section .swiper_dock_list li{float:left;width: 116px;height: 116px; margin-left:10px}
.animal_section .swiper_dock_list li:nth-child(1){margin-left:;}

.animal_section .swiper_dock_list li img{display:none;}
.animal_section .swiper_dock_list li .icon.on{display:block;}
.animal_section img{ display:block}
.animal_section .animal1{
    width: 588px;
    margin-left: 52px;
    top: -27px;
    position: relative;
}
.animal_section .animal2{
    width: 580px;
    margin-left: 61px;
    top: 9px;
    position: relative;
}
.animal_section .animal3{
    width: 607px;
    margin-left: 34px;
    top: -2px;
    position: relative;
}
.animal_section .animal4{
    width: 582px;
    margin-left: 42px;
    top: -39px;
    position: relative;
}
.animal_section .animal5{
    width: 588px;
    margin-left: 54px;
    top: 8px;
    position: relative;
}
.animal_section .animal6{
    width: 557px;
    margin-left: 42px;
    top: -11px;
    position: relative;
}
.swiper-pagination{
    width: 100%;
    text-align: center;
    margin-top: 47px;
}
.animal_section .swiper-pagination-bullet,.character .swiper-pagination-bullet{ width:18px;height:18px;background-color: #7D5F7F;margin:0 5px;opacity:.6;}
.character .swiper-pagination{
    margin-top: 37px;
}
.animal_section .swiper-pagination-bullet-active,.character .swiper-pagination-bullet-active{ width:18px;height:18px;background-color: #9B7E9D;opacity:1;}
.love {
    display: block;
    width: 100px; height: 100px;
    background: url(../img/web_heart_animation.png) 0 0 no-repeat;
    background-size: 2900%;
    animation: heart-burst steps(28) 0.8s infinite both;
}
.stop {
    animation-play-state: paused;
}
@keyframes heart-burst {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
.GmusicBtn{background-image: url(../img/playerBtn.png);background-repeat: no-repeat;background-position:0px 0px;}