@keyframes scale1 {
  from {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
  }
  to {
    transform: scale(1.15, 1.15);
    -webkit-transform: scale(1.15, 1.15);
  }
}
@-webkit-keyframes scale1 {
  from {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
  }
  to {
    transform: scale(1.15, 1.15);
    -webkit-transform: scale(1.15, 1.15);
  }
}
html,
body {
  font-family: "Microsoft YaHei", "Helvetica Neue", Arial, HelveticaNeue, Helvetica, "BBAlpha Sans", sans-serif;
}
.all-center {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.container {
  width: 100%;
  height: 56.40625rem;
  overflow: hidden;
  background: url("../images/bimg.png") no-repeat;
  background-size: cover;
}
.topNav {
  width: 100%;
  height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.7);
}
.topNav div {
  width: 44%;
  height: 100%;
  float: left;
  margin: 0 0 0 0.5625rem;
}
.topNav div h1 {
  margin: 0.75rem 0 0.3125rem 0;
  font-size: 0.75rem;
  color: #fff;
  font-weight: bold;
}
.topNav div p {
  font-size: 0.5rem;
  color: #afafaf;
}
.topNav .nav-content1 {
  position: absolute;
  top: 3rem;
  right: 0;
  background: rgba(0,0,0,.6);
  width: 6.938775510204082rem;
  z-index: 9;
  display:none;
  height: auto;
}
.topNav .nav-content1 a{
  display: block;
  width:5.204081632653061rem;
  height:1.63265306122449rem;
  margin: .8125rem auto;
}
.topNav .nav-content1 a.down_load{
  background:url(../images/down_load.png) no-repeat center;
  background-size:100% 100%;
}
.topNav .nav-content1 a.tap{
  background:url(../images/tap.png) no-repeat center;
  background-size:100% 100%;
}
.topNav .nav-content1 a.hy{
  background:url(../images/hy.png) no-repeat center;
  background-size:100% 100%;
}
.logo {
  width: 3.28125rem;
  height: 3.28125rem;
  float: left;
  margin: 0.5rem 0 0 0.8125rem;
}
.downBtn {
  width: 5rem;
  height: 1.5625rem;
  position: absolute;
  margin: auto;
  top: 0;
  right: 1.25rem;
  bottom: 0;
}
.game-name {
  display: block;
  width: 14.15625rem;
  height: 7.1875rem;
  margin: 0 auto;
  margin-top: 4.375rem;
}
.play-box {
  width: 15.1875rem;
  height: 7.15625rem;
  margin: 0 auto;
  margin-top: 5.625rem;
  background: url("../images/playBox.png") no-repeat;
  background-size: cover;
  position: relative;
}
.play-box img {
  width: 4.59375rem;
  height: 5.4375rem;
  position: absolute;
  top: -4.0625rem;
  right: -1.875rem;
  animation: scale1  1.4s linear infinite alternate;
  -webkit-animation: scale1 1.4s linear infinite alternate;
}
.play-box img.play-icon {
  width: 2.5rem;
  height: 2.5rem;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.down-box {
  width: 100%;
  height: auto;
  margin: 0.5rem 0 0 0;
  padding: 0 2.3125rem;
  overflow: hidden;
  box-sizing: border-box;
}
.down-box a {
  display: block;
  width: 7.5rem;
  height: 2.6875rem;
  float: left;
}
.down-box a img {
  width: 100%;
  height: 100%;
}
.down-box a:nth-child(1) {
  margin: 0 0.3125rem 0 0;
}
.about-us {
  width: 100%;
  height: auto;
  margin: 7.375rem 0 0 0;
}
.about-us h1 {
  margin: 0 0 1.25rem 0;
  text-align: center;
  font-size: 0.9375rem;
  color: #fff;
  font-weight: bold;
}
.about-us div.ewm {
  width: 8.125rem;
  height: 8.125rem;
  margin: 0 auto;
  background: #fff;
  position: relative;
}
.about-us div.ewm img {
  display: block;
  width: 7rem;
  height: 7rem;
}
.about-us h2 {
  margin: 0.5rem 0 0.5rem 0;
  font-size: 0.75rem;
  color: #fff;
  text-align: center;
}
.about-us p {
  text-align: center;
  font-size: 0.625rem;
  color: #fff;
}
.about-us p span {
  margin: 0 0 0 0.1875rem;
  color: #ff0000;
}
.about-us ul {
  width: 100%;
  height: auto;
  padding: 0 0.4rem;
  box-sizing: border-box;
  margin: 1.25rem 0 0.8rem 0;
  text-align: center;
  overflow: hidden;
}
.about-us ul li {
  width: 30%;
  height: auto;
  float: left;
  text-align: center;
  list-style: none;
  display: inline-block;
  margin: 0 5% 0 0;
}
.about-us ul li img {
  display: inline-block;
  width: 2.6875rem;
  height: 2.6875rem;
  line-height: 0;
  margin: 0 0 0.3125rem 0;
}
.about-us ul li.no-margin {
  margin: 0;
}
.about-us h3 {
  font-size: 0.625rem;
  color: #fff;
  text-align: center;
  margin: 0 0 0.46875rem 0;
}

