* {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
	width: 100%;
	height: 100%;
}

html,
body,
fieldset,
img,
iframe,
abbr {
	border: 0;
}

li {
	list-style: none;
}

textarea {
	overflow: auto;
	resize: none;
}

button {
	cursor: pointer;
}

a,
a:hover {
	text-decoration: none;
	color: #6f6f6f;
}

a,
a:active,
a:focus,
input,
button {
	outline: 0;
}

li {
	display: block;
}

.hide {
	display: none!important;
}

html,
body,
select,
textarea,
input,
button {
	font-family: "微软雅黑";
}

.clear {
	clear: both;
}

.hide {
	display: none;
}

.show {
	display: block;
}
.wrap{
	width:1200px;
	height:100%;
	overflow: hidden;
	position:relative;
	margin:0 auto;
}
