{include '../../layouts/wap/header.html'}
{include '../../layouts/wap/top.html'}
<!--内容-->
<div class="i_main">
	<div class="list">
		<div class="top_img"></div>
		<div class="contact">
			<div class="title">联系我们</div>
			<div class="con_box">
				<div class="map"><img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/map.png?{$smarty.const.VERSION}" alt=""/></div>
				<div class="addr">
					<div class="link-li-box link-li-box1">
						<span class="link-li-box-img"><i></i></span>
						<div class="link-li-info">
							<h3 class="link-li-h3">地址</h3>
							<p class="link-li-p">深圳市罗湖区文锦南路森威大厦雍景园19楼1911</p>
						</div>
					</div>
					<div class="link-li-box link-li-box2">
						<span class="link-li-box-img"><i></i></span>
						<div class="link-li-info">
							<h3 class="link-li-h3">电话</h3>
							<p class="link-li-p">0755-86952478</p>
						</div>
					</div>
					<div class="link-li-box link-li-box3">
						<span class="link-li-box-img"><i></i></span>
						<div class="link-li-info">
							<h3 class="link-li-h3">邮箱</h3>
							<p class="link-li-p">2892325207@qq.com</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--footer-->
	{include '../../layouts/wap/bottom.html'}
</div>
{include '../../layouts/wap/footer.html'}
