{include '../../layouts/wap/header.html'}
{include '../../layouts/wap/top.html'}
<!--内容-->
<div class="i_main">
	<div class="list">
		<div class="top_img"></div>
		<div class="information">
			<div class="title">基本信息</div>
			<div class="info_box">
				<div class="info_left">
					<p><i>机构名称</i><span>深圳市睿奕济慈善基金会</span></p>
					<p><i>组织登记证</i><span>深基证字第01066号</span></p>
					<p><i>通讯地址</i><span>深圳市罗湖区文锦南路森威大厦雍景园19楼1911</span></p>
					<p><i>邮       编</i><span>518000</span></p>
					<p><i>电子邮箱</i><span>2892325207@qq.com</span></p>
				</div>
				<div class="info_right">
					<div class="info_img"><img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/banner2.jpg?{$smarty.const.VERSION}" alt=""/></div>
					<div class="info_img"><img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/banner2.jpg?{$smarty.const.VERSION}" alt=""/></div>
					<div class="info_img"><img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/banner2.jpg?{$smarty.const.VERSION}" alt=""/></div>
					<div class="info_img"><img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/banner2.jpg?{$smarty.const.VERSION}" alt=""/></div>
				</div>
			</div>
		</div>
	</div>
	<!--footer-->
	{include '../../layouts/wap/bottom.html'}
</div>
{include '../../layouts/wap/footer.html'}
