.index1_header {
    width: 100%;
    height: 3.437rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: #161616;
    opacity: 0.9;
}
.index1_logo {
    width: 3.76rem;
    position: relative;
    float: left;
    margin-top: 0.6rem;
    margin-left: 1rem;
}
.index1_logo img {
    width: 100%;
}
.index1_header .header_txt {
    float: left;
    position: relative;
    margin-left: 0.5rem;
    margin-top: 0.7rem;
}
.index1_header .header_txt .h_p_01 {
    line-height: 1.125rem;
    font-size: 0.9375rem;
    font-weight: bolder;
    color: #fff;
}
.index1_header .header_txt .h_p_02 {
    line-height: 0.625rem;
    font-size: 0.5rem;
    color:#999;
    margin-top: 0.32rem;
}
.index1_header .ent_gw{
    display: block;
    width:5.1875rem;
    height:1.9rem;
    float: right;
    position: relative;
    margin-right:1.2rem;
    margin-top: 0.7rem;
    background:url(../images/enter2.png) no-repeat;
    background-size:cover;
}
.index1_header .ent_gw span{
  display:block;
  color: #fff;
  height:1.9rem;
  line-height:1.9rem;
  text-align: center;
  font-size:0.875rem;
  width:100%;
  z-index:2;
}
.index1_header .download img{
    width: 4.15625rem;
    float: right;
    display: block;
    margin-top: 1.125rem;
}
.page1{
	width:20rem;
	height:42.3125rem;
	background:url(../images/bg11.png) no-repeat;
	background-size:cover;
	position: relative;
  margin-top:3.437rem; 
}
.page1 .down{
   width: 6.1875rem;
    height: 2.3125rem;
    position: absolute;
    top: 20.5rem;
    left: 50%;
    margin-left: -6.5rem;
    display: block;
}
.page1 .n_down{
	display: block;
    width: 6.1875rem;
    height: 3.375rem;
    position: absolute;
    top: 19.4rem;
    right: 3.5rem;
}
.page1 .n_down img{
	display: block;
	width:100%;
	height:100%;
}
@-webkit-keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.page1 .down img{
	width:100%;
}
.page1 ul {
	width:18.2875rem;
	position: absolute;
	bottom:0.4rem;
	left:50%;
    margin-left:-9.09375rem;
}
.page1 ul li{
    width: 8.75rem;
    height: 2.625rem;
    float: left;
    position: relative;
    margin-right: 0.7rem;
    margin-bottom: 0.7rem;
}
.page1 ul li:nth-child(2n){
	margin-right:0;
}
.page1 ul li a{
	width:8.75rem;
	height:2.625rem;
	display: block;
	position: relative;
	margin:0 auto;
}
.page1 ul li a.city1{
    background:url(../images/ct01.png) no-repeat;
    background-size:100% 100%;
}
.page1 ul li a.city1.active{
    background:url(../images/ct11.png) no-repeat;
    background-size:100% 100%;
}
.page1 ul li a.city2{
    background:url(../images/ct02.png) no-repeat;
    background-size:100% 100%;
}
.page1 ul li a.city2.active{
    background:url(../images/ct12.png) no-repeat;
    background-size:100% 100%;
}
.page1 ul li a.city3{
    background:url(../images/ct21.png) no-repeat;
    background-size:100% 100%;
}
.page1 ul li a.city3.active{
    background:url(../images/ct22.png) no-repeat;
    background-size:100% 100%;
}
.page1 ul li a.city4{
    background:url(../images/ct31.png) no-repeat;
    background-size:100% 100%;
}
.page1 ul li a.city4.active{
    background:url(../images/ct32.png) no-repeat;
    background-size:100% 100%;
}
.page1 ul li a.on{
    background:url(../images/ct_no.png) no-repeat !important;
    background-size:100% 100% !important;
}
.page2{
	width:20rem;
	height:54.40625rem;
	background:url(../images/bg12.png) no-repeat;
	background-size:cover;
	position: relative; 
}
.page2 .title1{
	width:18.125rem;
	position:relative;
	margin:0 auto;
	top:1rem;
	display: block;
}
.page2 .ct_img{
	width:17.0rem;
	position:relative;
	margin:0 auto;
	top:2.6rem;
	display: block;
}
.page2 .info{
    width: 90%;
    position: relative;
    color: #5c7570;
    font-size: 0.75rem;
    line-height: 1.675rem;
    margin: 0 auto;
    margin-top: 3.2rem;
}
.page2 .title2{
	width:18.125rem;
	position:relative;
	margin:0 auto;
	display: block;
	margin-top: 3rem;
}
.page2 .title3{
	width:18.125rem;
	position:relative;
	margin:0 auto;
	display: block;
	margin-top: 2rem;
}
/*轮播*/
.page2 .cult_content{
    width: 100%;
    height:12.25rem;
    overflow: auto;
    margin-top: 1rem;
}
.page2 .cult_content .slider{
    width: 100%;
}
.page2 .cult_content .slider .swiper-container{
    width: 17.82375rem;
    height: 10.015rem;
    position: relative;
    margin: 0.3rem auto;
    border: 0.3rem solid #2DF293;
    border-radius: 25px;
}
.page2 .swiper-wrapper{
    width:17.8125rem;
    height:10.0rem;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
.page2 .swiper-wrapper>div{
    width:17.8125rem;
    height:10.0rem;
    float: left;
}
.page2 .swiper-wrapper .swiper-slide{
    width:17.8125rem;
    height:10.0rem;
    position: relative;
    overflow: hidden;
}
.page2 .swiper-wrapper .swiper-slide .swiper-container2{
    width:17.8125rem;
    height:10.0rem;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
.page2 .swiper-wrapper .swiper-slide a{
    width:17.8125rem;
    height:10.0rem;
    display: block;
}
.page2 .swiper-wrapper .swiper-slide img{
    width:17.8125rem;
    height:10.0rem;
}
.page2 .slider .swiper-button-prev{
    left: 0.1rem;
    bottom:8.8rem;
    top: inherit;
    width: 1.84375rem;
    height: 2.75rem;
    background: url(../images/prev1.png) no-repeat;
    background-size: 100%;
    z-index: 10;
}
.page2 .slider .swiper-button-next {
    bottom: 8.8rem;
    top: inherit;
    right:0.1rem;
    width: 1.84375rem;
    height: 2.75rem;
    background: url(../images/next1.png) no-repeat;
    background-size: 100%;
}
.page2 .swiper-pagination-fraction{
    width: 5.6875rem;
    height: 2.25rem;
    position: absolute;
    background: url(../images/page2.png) no-repeat;
    background-size: 100% 100%;
    bottom: 4rem;
    line-height: 2.25rem;
    font-size: 0.9375rem;
    color: #fff;
    left: 50%;
    text-align: center;
    margin-left: -2.84325rem;
    z-index: 2;
    color: rgba(255,255,255,.6);
}
.page2 .swiper-pagination-fraction .swiper-pagination-current{
    color: rgba(255,255,255,1);
}
.page2 .swiper-pagination-fraction .swiper-pagination-total{
    color: rgba(255,255,255,.6);
}
.page3{
	width:20rem;
	height:35.90625rem;
	background:url(../images/bg13.jpg) no-repeat;
	background-size:cover;
	position: relative; 
}
.page3 .title4{
	width:18.125rem;
	position:relative;
	margin:0 auto;
	display: block;
	top: -1rem;
	z-index:2;
}
.page3 .i_video{
    width: 17.84375rem;
    height: 10.015rem;
    float: left;
    border: 0.3rem solid #2DF293;
    position: absolute;
    overflow: hidden;
    top: 2rem;
    border-radius: 25px;
    left: 50%;
    margin-left: -9.21875rem;
}
.page3 .i_video a{
    display: block;
    width:1.84375rem;
    height:2.03125rem;
    position: absolute;
    left:50%;
    margin-left:-0.890625rem;
    top:50%;
    margin-top:-1.015625rem;
    z-index:2;
}
.page3 .i_video i{
	width:100%;
	height:100%;
	background:rgba(0,0,0,.5); 
	display: block;
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:1;
}
.page3 .i_video .v_play{
    width:1.84375rem;
    height:2.03125rem;
    animation: vBig 2s linear infinite;
    -webkit-animation: vBig 2s linear infinite;
}
@keyframes vBig{
    0%{transform: scale(0.9);}
    50%{transform: scale(1);}
    100%{transform: scale(0.9);}
}
@-webkit-keyframes vBig{
    0%{transform: scale(0.9);}
    50%{transform: scale(1);}
    100%{transform: scale(0.9);}
}
.page3 .i_video .v_img{
	width:17.8125rem;
    height:10.0rem;
}
.page3 .down_box{
	width:100%;
	height:24.8125rem;
	position: absolute;
	bottom:0;
	z-index:5;
	background:url(../images/bot02.png) no-repeat;
	background-size:cover;
}
.page3 .down_box a{
	width:14.40625rem;
	height:5.8125rem;
	position: relative;
	margin:0 auto;
	display: block;
	top:18.3rem;
}
.page3 .down_box a img{
	width:100%;
}