/*kv*/
.con1 {
    width: 20rem;
    height:26.46875rem;
    background: url(../images/c_nbg1.jpg) no-repeat center;
    background-size:cover;
    position: relative;
    /*overflow: hidden;*/
}
.con1 .peo1{
    position: absolute;
    left: 0;
    top: 7.1875rem;
    width: 14.09375rem;
    height: 18.46875rem;
    z-index: 10;
}
.con1 .peo1 img{
    transform: translateX(-135px);
    -ms-transform: translateX(-135px);
    -webkit-transform: translateX(-135px);
    -moz-transform: translateX(-135px);
    -o-transform: translateX(-135px);
}
.con1 .peo2{
    position: absolute;
    right: 0;
    top: 4.0625rem;
    width: 15.25rem;
    height:19.84375rem;
    z-index: 9;
}
.con1 .peo2 img{
    transform: translateX(135px);
    -ms-transform: translateX(135px);
    -webkit-transform: translateX(135px);
    -moz-transform: translateX(135px);
    -o-transform: translateX(135px);
}
.con1 .slogan{
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 11rem;*/
    /*width: 18.75rem;*/
    /*height: 12.78125rem;*/
    /*z-index: 11;*/
    /*margin-left: -9.375rem;*/

    position: absolute;
    left: 50%;
    top: 11.5rem;
    width: 19.59375rem;
    height: 13.34375rem;
    z-index: 11;
    margin-left: -9.796875rem;
}
.con1 .play{
    /*display: block;*/
    /*position: absolute;*/
    /*z-index: 15;*/
    /*top: 16rem;*/
    /*right: 1rem;*/
    /*width: 3.875rem;*/
    /*height: 4.65625rem;*/
    /*cursor: pointer;*/
    /*background: url(../images/c_nplay.png) no-repeat center;*/
    /*background-size: 100% 100%;*/
    /*animation: scales 2s linear infinite;*/
    /*-webkit-animation: scales 2s linear infinite;*/
    display: block;
    position: absolute;
    z-index: 15;
    top: 16.5rem;
    right: .5rem;
    width: 3.875rem;
    height: 4.65625rem;
    cursor: pointer;
    background: url(../images/c_nplay.png) no-repeat center;
    background-size: 100% 100%;
    animation: scales 2s linear infinite;
    -webkit-animation: scales 2s linear infinite;
}
.con1 .download{
    width: 18.8125rem;
    height: 2.3125rem;
    position: absolute;
    z-index: 15;
    bottom: .5rem;
    left: 50%;
    margin-left: -9.40625rem;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
}
.con1 .download a{
    display: block;
    width:5.90625rem;
    height:100%;
}
.con1 .download a img{
    display: block;
    width:100%;
    height:100%;
}
.con1 .download1{
    width: 5.90625rem;
    height: 2.3125rem;
    position: absolute;
    z-index: 15;
    bottom: 3.2rem;
    right: 0.59375rem;
}
.con1 .download1 a{
    display: block;
    width:5.90625rem;
    height:100%;
}
.con1 .download1 a img{
    display: block;
    width:100%;
    height:100%;
}
/*新枪展示*/
.new_gun {
    width: 20rem;
    position: relative;
    height: 16.125rem;
    background: url(../images/c_nbg2.jpg) no-repeat center;
    background-size:cover;
}
.new_gun .det_five{
    width: 18.125rem;
    margin: 0 auto;
    margin-top: 3.875rem;
}
.new_gun .det_five .w_imgbox{
    position: relative;
    height:6.0625rem;
    width: 18.125rem;
    background: url("../images/c_nwqbg.png");
    background-size:100% 100%;
}
.new_gun .det_five .w_imgbox:after{
    position: absolute;
    right: -.625rem;
    bottom:  -.625rem;
    display: inline-block;
    content: "";
    width: 1.9375rem;
    height: 1.9375rem;
    background: url(../images/c_npoint.png);
    background-size: 100% 100%;
}
.new_gun .det_five .w_imgbox .big_img{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 17.1875rem;
    height: 5.125rem;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.new_gun .det_five .w_imgbox .big_name{
    position: absolute;
    width: 95%;
    left: 0;
    bottom: .625rem;
    font-size: .75rem;
    color: #feb53f;
    text-align: right;
}
.new_gun .det_five .w_imgbox .w_swiper_box{
    position: absolute;
    left: -0.3125rem;
    right: 0;
    top: 6.0625rem;
    height: 5.65625rem;
    width:18.75rem;
}
.new_gun .det_five .w_imgbox .w_swiper_box #swiper3{
    position:absolute;
    left:50%;
    top:50%;
    width:18.75rem;
    height:5.65625rem;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
}
/*.new_gun .det_five .w_imgbox .w_swiper_box .swiper-button-prev3{*/
/*position:absolute;*/
/*top:50%;*/
/*left:10px;*/
/*width: 24px;*/
/*height: 33px;*/
/*transform:translate(0,-50%);*/
/*-webkit-transform:translate(0,-50%);*/
/*background: url("../images/w_prev.png") no-repeat;*/
/*background-size: 100% 100%;*/
/*cursor: pointer;*/
/*}*/
/*.new_gun .det_five .w_imgbox .w_swiper_box .swiper-button-next3{*/
/*position:absolute;*/
/*top:50%;*/
/*right:10px;*/
/*width: 24px;*/
/*height: 33px;*/
/*transform:translate(0,-50%);*/
/*-webkit-transform:translate(0,-50%);*/
/*background: url("../images/w_next.png") no-repeat;*/
/*background-size: 100% 100%;*/
/*cursor: pointer;*/
/*}*/
.new_gun .det_five .w_imgbox .w_swiper_box .w_sm_gun{
    width: 3.125rem;
    height: 4.65625rem;
    position: relative;
    cursor: pointer;
    background: url(../images/c_nwqbg1.png);
    background-size: 100% 100%;
}
.new_gun .det_five .w_imgbox .w_swiper_box .swiper-slide{
    width:3.125rem!important;
}
.new_gun .det_five .w_imgbox .w_swiper_box .swiper-slide.active .w_sm_gun{
    background:url("../images/c_nwqbg2.png");
    background-size:100% 100%;
}
.new_gun .det_five .w_imgbox .w_swiper_box .swiper-slide .w_sm_gun>img{
    position: absolute;
    left: 50%;
    top: 50%;
    display: inline-block;
    width: 3.125rem;
    height:0.93125rem;
    margin-top: -0.465625rem;
    margin-left: -1.5625rem;
}
.new_gun .det_five .w_imgbox .w_swiper_box .swiper-slide .w_sm_gun i{
    position: absolute;
    left: 50%;
    bottom:-.3125rem;
    display: block;
    width: 3.125rem;
    margin-left: -1.5625rem;
    font-size: .625rem;
    color: #feb53f;
    text-align: center;
}
/*抽奖板块*/
.lottery_box {
    width: 100%;
    position: relative;
    height: 19.15625rem;
    background: url(../images/c_nbg3.jpg) no-repeat center;
    background-size:cover;
}
.hm-cj{
    position:relative;
    width:20rem;
    height:11.875rem;
    margin:0 auto;
    margin-top: .625rem;
    /*background: url(../images/hm-cj-bg.png) no-repeat;*/
    /*background-size: 100% 100%;*/
    z-index: 2;
}
/*.hm-cj.light{*/
    /*background: url(../images/hm-cj-bg1.png) no-repeat;*/
/*}*/
.hm-cj ul{
    width: 19.375rem;
    height: 13.75rem;
    position: absolute;
    top: 0;
    left: .5rem;
}
.lottery-unit{
    width: 6.96875rem;
    height:4.375rem;
    list-style: none;
    position: relative;
    float: left;
    background: url(../images/c_nlottery_bg1.png);
    background-size: 100% 100%;
    margin: -.3125rem;
    /*margin-bottom: 5px;*/
}
.lottery-unit:nth-of-type(3n){margin-right: 0;}
.lottery-unit.active{
    background: url(../images/c_nlottery_bg2.png);
    background-size: 100% 100%;
}
.lottery-unit.get:before{
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    display: inline-block;
    content: "";
    width: 6rem;
    height:3.375rem;
    margin-top: -1.6875rem;
    margin-left: -3rem;
    background: url(../images/c_nlottery_bg3.png);
    background-size: 100% 100%;
}
.lottery-unit.click_btn{
    background: url(../images/c_nhm-jp-img05.png);
    background-size: 100% 100%;
    cursor:pointer;
}
/*.lottery-unit.click_btn:hover{*/
    /*background: url(../images/hm-jp-img051.png);*/
    /*background-size: 100% 100%;*/
/*}*/
.lottery-unit.click_btn .begin_txt{
    width: 6.25rem;
    height: 3.4375rem;
    margin: .4375rem 0 0 .3125rem;
    position: relative;
    z-index: 15;
}
.lottery-unit.click_btn .leave{
    font-size: .5625rem;
    color: #fff;
    text-align: center;
    margin-top: -1.5rem;
}
/*.lottery-unit.click_btn .leave>span{*/
    /*font-weight: 600;*/
    /*font-size:18px;*/
    /*color:#ff4e00;*/
/*}*/
.lottery-unit img{
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    margin-top:-.2rem;
    width:6.25rem;
    height:3.875rem;
}
.lottery-unit .name{
    width:100%;
    text-align:center;
    font-size:.625rem;
    color:#ffdcdc;
    display:block;
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    margin-top: .9375rem;
}
.i_main .l_login{
    position: relative;
    font-size: .625rem;
    color: #fff;
    z-index: 100;
    text-align: center;
    margin-top:2.8125rem;
}
.i_main .l_login .co_loginbtn,.i_main .l_login .logout{margin-left:.3125rem;}
.i_main .check_ward{
    font-size: .625rem;
    color: #ffc000;
    text-align: center;
    position: relative;
    z-index: 15;
}
/*暴风玩法*/
.new_play {
    width: 100%;
    position: relative;
    height:19.0625rem;
    background: url(../images/c_nbg4.jpg) no-repeat center;
    background-size:cover;
}
.new_play .bf_box{
    margin-top:3.125rem;
}
.new_play .bf_box .bf_bg{
    width:8.8125rem;
    height: 14.8125rem;
    float: left;
    background:url("../images/c_nbfbg.png");
    background-size:100% 100%;
}
.new_play .bf_box .bf_bg:first-of-type{
    margin: 0 0 0 1.2rem;
    transform: translateX(-135px);
    -ms-transform: translateX(-135px);
    -webkit-transform: translateX(-135px);
    -moz-transform: translateX(-135px);
    -o-transform: translateX(-135px);
}
.new_play .bf_box .bf_bg:nth-of-type(2){
    transform: translateX(135px);
    -ms-transform: translateX(135px);
    -webkit-transform: translateX(135px);
    -moz-transform: translateX(135px);
    -o-transform: translateX(135px);
}
.new_play .bf_box .bf_bg .title{
    position: relative;
    margin: .75rem 0 0 -.9375rem;
    width: 9.03125rem;
    height: 3.3125rem;
    cursor: pointer;
}
.new_play .bf_box .bf_bg:nth-of-type(2) .title{
    margin: .75rem 0 0 0.8125rem;
}
.new_play .bf_box .bf_bg .sub_title{
    font-size: .625rem;
    width: 6.25rem;
    margin: 0 auto;
    color: #fff;
}
.new_play .bf_box .bf_bg .sub_title p{margin-bottom: .3rem;line-height:.75rem;}
.new_play .bf_box .bf_bg .img{
    width: 6.25rem;
    height:3.5rem;
    margin: 0 auto;
}
/*游戏特色*/
.ts_play {
    width: 100%;
    position: relative;
    height:15rem;
    background: url(../images/c_nbg5.jpg) no-repeat center;
    background-size:cover;
}
.slider{
    position: relative;
    width: 17.5625rem;
    height:11.125rem;
    margin: 0 auto;
    margin-top: 2.5rem;
    background:url("../images/c_ntsbg.png");
    background-size:100% 100%;
}
.slider .swiper-container{
    top: 1.375rem;
}
.slider .swiper-container .swiper-slide>a{
    position: relative;
    /* opacity: .8; */
    margin-left: 50%;
    display: inline-block;
    width:14.84375rem;
    height: 8.375rem;
    text-align: center;
    transform: translate(-7.421875rem,0);
    -webkit-transform: translate(-7.421875rem,0);
}
.slider .swiper-container .swiper-slide>a .images{
    width:14.84375rem;
    height: 8.375rem;
}
.slider .swiper-pagination {
    left: 50%;
    bottom: -.625rem;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
}
.slider .swiper-pagination-bullet{
    width: 0.375rem;
    height: 0.375rem;
    background: #8A352B;
    opacity: 1;
    margin-right: .5rem;
}
.slider .swiper-pagination-bullet-active {
    opacity: 1;
    background: #FFC835;
}
.slider .swiper-button-prev2{
    top: 50%;
    left: -.9375rem;
    width: 2.03125rem;
    height: 2.65625rem;
    margin-top: -1.328125rem;
    background: url(../images/c_ntsprev.png) no-repeat center;
    background-size: 100% 100%;
}
.slider .swiper-button-next2{
    top: 50%;
    margin-top: -1.328125rem;
    right:  -.9375rem;
    width: 2.03125rem;
    height: 2.65625rem;
    background: url(../images/c_ntsnext.png) no-repeat center;
    background-size:100% 100%;
}
/*弹框*/
.co_tips {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.co_tips .co_con {
    position: relative;
    top: 50%;
    width:14.59375rem;
    height: 14.3125rem;
    margin: 0 auto;
    background: url(../images/c_ntipsbg1.png) no-repeat;
    background-size: 100% 100%;
    transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    /* IE 9 */
    -webkit-transform: translate(0,-50%);
    /* Safari and Chrome */
    -o-transform: translate(0,-50%);
    /* Opera */
    -moz-transform: translate(0,-50%);
    /* Firefox */
}
.co_tips .co_con .co_tips_close {
    z-index: 20;
    position: absolute;
    right:0.46875rem;
    width: 0.625rem;
    height: 0.625rem;
    top: 2rem;
    cursor: pointer;
    transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
}
.co_tips .co_con .co_tips_close:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
}
.co_tips .co_con .div{
    overflow: hidden;
    position: relative;
    z-index: 2;
    top: 50%;
    transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
}
.co_tips .co_con .co_form{
    width:12.5rem;
    margin:0 auto;
    overflow: hidden;
}
.co_tips.co_tips_login .co_con .co_form{
    margin-top: 1rem;
}
.co_tips .co_con .co_form .co_input{
    position:relative;
    height: 2.8125rem;
}
.co_tips .co_con .co_form .co_input input{
    width: 12.5rem;
    height: 1.875rem;
    line-height: 1.875rem;
    text-indent: 0.46875rem;
    font-size: .625rem;
    color:#fff;
    background:url("../images/c_ninputbg1.png");
    background-size:100% 100%;
    border:none;
    outline:none;
}
.co_tips .co_con .co_form .co_input input::-webkit-input-placeholder {
    font-size: .625rem;
    color:#b86060;
}
.co_tips .co_con .co_form .co_input input:-moz-placeholder{
    font-size: .625rem;
    color:#b86060;
}
.co_tips .co_con .co_form .co_input input::-moz-placeholder {
    font-size: .625rem;
    color:#b86060;
}
.co_tips .co_con .co_form .co_input input:-ms-input-placeholder {
    font-size: .625rem;
    color:#b86060;
}
.co_tips .co_con .co_form .co_input .co_captcha{
    position: absolute;
    right: 0;
    top: 0.03125rem;
    width: 3.6875rem;
    height: 1.8125rem;
    line-height: 1.8125rem;
    cursor: pointer;
    font-size: .625rem;
    color: #b86060;
    text-align: center;
    background:#fff;
}
.co_tips .co_con .co_form .co_input .co_codebtn{
    position: absolute;
    right:0;
    top:0;
    width: 3.6875rem;
    height: 1.8125rem;
    font-size: .625rem;
    color:#ffc200;
    text-align:center;
    line-height:1.8125rem;
    cursor:pointer;
}
.co_tips .co_con .co_form .co_captcha img{
    width:3.625rem;
    height: 1.375rem;
    position: absolute;
    top: 50%;
    margin-top: -0.6875rem;
    margin-left: -1.8125rem;
}
.co_tips .co_con .co_tips_surebtn,.co_tips .co_con .co_tips_loginbtn{
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 6.375rem;
    height: 2.59375rem;
    margin-left: -3.1875rem;
    background: url(../images/c_nsurebtn.png);
    background-size:100% 100%;
    cursor: pointer;
}
.co_tips .co_con .co_form .co_error{
    opacity: 0;
    color: rgba(255,255,255,.9);
    font-size: 0.625rem;
    height: .9375rem;
    line-height:  .9375rem;
}
.co_tips .co_con .co_form .co_error.co_err_show {opacity: 1;}
/*奖品弹框*/
.co_tips.co_tips_ward .co_con {
    width:17.71875rem;
    height: 14.3125rem;
    background: url(../images/c_ntipsbg2.png) no-repeat;
    background-size: 100% 100%;
}
.co_tips.co_tips_ward .co_con .co_form{
    width:12.5rem;
    margin:0 auto;
}
.co_tips.co_tips_ward .tis_img{
    width: 9.90625rem;
    height: 6.125rem;
    margin: 0 auto;
}
.co_tips.co_tips_ward .tips_txt {
    font-size: 0.6875rem;
    color: #fff;
    text-align: center;
}
.co_tips.co_tips_ward .tips_name{
    font-size:0.6875rem;
    color:#fff;
    text-align:center;
}
/*谢谢参与弹框*/
.co_tips.co_tips_no .co_con {
    width:14.59375rem;
    height: 14.3125rem;
    background: url(../images/c_ntipsbg4.png) no-repeat;
    background-size: 100% 100%;
}
.co_tips.co_tips_no .tips_txt {
    font-size: .875rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
}
/*中奖记录弹框*/
.co_tips.co_tips_record .co_con {
    width:16.5rem;
    height: 13.90625rem;
    background: url(../images/c_ntipsbg3.png) no-repeat;
    background-size: 100% 100%;
}
.co_tips.co_tips_record .co_con .co_form{
    width: 14.625rem;
    margin:0 auto;
    margin-top: 3.0625rem;
}
.co_tips.co_tips_record .co_form p{
    float: left;
    width:14.5rem;
    position: relative;
    border-left:0.0625rem solid #8A352B;
    border-right: 0.0625rem solid #8A352B;
    background:#74251C;
}
.co_tips.co_tips_record .co_form p>span{
    text-align:center;
    float:left;
    display:inline-block;
    width: 5.84375rem;
    height:1.5625rem;
    line-height:1.5625rem;
    font-size:0.625rem;
    color:#ffdcdc;
    border-bottom:0.03125rem solid #8A352B;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.co_tips.co_tips_record .co_form p>span:nth-of-type(3){
    width:2.65625rem;
}
.co_tips.co_tips_record .co_form p>span:nth-of-type(1),.co_tips.co_tips_record .co_form p>span:nth-of-type(2){
    border-right:0.0625rem solid #8A352B;
}
.co_tips.co_tips_record .co_form p.table_title{
    color: #7f2e09;
    border:0.0625rem solid #8A352B;
    border-bottom: none;
}
.co_tips.co_tips_record .co_form .table_list{
    overflow: auto;
    width: 100%;
    height: 6.375rem;
    padding-right: .625rem;
}
.co_tips.co_tips_record .co_form p.table_info{
    background:#74251C;
}
.co_tips.co_tips_record .co_form p.table_info>span{
    height:3.125rem;
    line-height: 3.125rem;
}
.co_tips.co_tips_record .co_form p.table_info:last-of-type{
    border:0.0625rem solid #8A352B;
    border-top: none;
}
.co_tips.co_tips_record .co_form p.table_info:last-of-type>span{
    border-bottom: none;
}
.co_tips.co_tips_record .co_form p .copy{
    font-size:.625rem;
    color:#ffc000;
    cursor:pointer;
}





@keyframes scales{0%{transform: scale(1); }50% {transform: scale(0.9);}100% {transform: scale(1);}}
@-webkit-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(0.9);}100% {-webkit-transform: scale(1);}}
@-moz-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(0.9);}100% {-webkit-transform: scale(1);}}
@-o-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(0.9);}100% {-webkit-transform: scale(1);}}
@-ms-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(0.9);}100% {-webkit-transform: scale(1);}}