*{margin: 0;padding: 0;-webkit-tap-highlight-color:rgba(0,0,0,0);}
body {font-family: "微软雅黑";overflow-x:hidden!important;}
.hidden{display:none!important;}
img{width:100%;height:100%;}
a{text-decoration:none;}
li{list-style:none;}
i,em{font-style:normal;}
.fl{float:left;}
.fr{float: right;}
input:focus{outline:none;}
.clearfix {
    clear: both;
}
.clearfix:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}
.chengg{
    width:100%;
    height:1px;
    background:none;
}
.no_auto{
    overflow: hidden;
    width:100%;
    height:100%;
}
.no_auto .co_tips{position:absolute;overflow: hidden;}
input[type=number] { -moz-appearance: textfield; } input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
.wrap{
    width:100%;
    position:relative;
    margin:0 auto;
}
.wrap1{
    max-width: 20rem;
    width: 100%;
    position: absolute;
    left: 50%;
    margin: 0 auto;
    z-index: 10;
    transform: translate(-50%,0);
    transform: translate(-50%,0);
}
.i_main .ani .ani-item{/*渐隐1*/
    opacity: 0;
    transition: all .8s;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -o-transition: all .8s;
}
.i_main .ani.show-ani .ani-item{/*渐隐2*/
    opacity: 1;
    transform: scale(1,1) translateX(0) translateY(0)!important;
    -ms-transform: scale(1,1) translateX(0) translateY(0)!important;
    -webkit-transform: scale(1,1) translateX(0) translateY(0)!important;
    -moz-transform: scale(1,1) translateX(0) translateY(0)!important;
    -o-transform: scale(1,1) translateX(0) translateY(0)!important;
}
.i_main .ani.show-ani .ani-item.ani-delay
{
    transition-delay: .3s;
    -moz-transition-delay: .3s; /* Firefox 4 */
    -webkit-transition-delay: .3s; /* Safari 和 Chrome */
    -o-transition-delay: .3s; /* Opera */
}


/*header*/
header {
    width:20rem;
    height:3.125rem;
    background:rgba(0,0,0,.9);
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
}
header .logo {
    float: left;
    display: block;
    width: 3.75rem;
    height: 3.75rem;
    margin:0.625rem 0 0 0.625rem;
}
header .h_text {
    overflow: hidden;
    float: left;
    /*height: 2.1875rem;*/
    margin:0.4375rem 0 0 0.625rem;
}
header .h_text .h_p01 {
    width: 100%;
    color: #fff;
    font-size: 1.125rem;
    font-weight: bold;
}
header .h_text .h_p02 {
    width: 100%;
    color: #999;
    font-size:0.625rem;
}
header .header_a {
    float: right;
    width:6rem;
    height: 2.4375rem;
    margin:0.5rem 0.3125rem 0 0;
    text-align: center;
}
header .header_a .inter_btn{
    display: inline-block;
    width:6rem;
    height: 2.4375rem;
    background: url(../images/c_ninter.png);
    background-size: 100% 100%;
}