{include file="../layouts/pc/header.html"}
<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}1.0/css/index.css?{$smarty.const.VERSION}" />
<div class="kv">
	<div class="wrap">
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/logo.png?{$smarty.const.VERSION}" alt="" class="logo" />
		<!-- <img src="{$smarty.const.STATIC_DOMAIN}1.0/images/btn.png?{$smarty.const.VERSION}" alt="" class="btn" /> -->
		{fragment var=video code=index_video size=1}
		<div class="slogan">
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/slogan.png?{$smarty.const.VERSION}" alt="" />
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/play.png?{$smarty.const.VERSION}" alt="" class="js_video_play" data-url="{if $video}{$video[0].url}{/if}"/>
		</div>
		<div class="download_box">
			<div class="down_ewm">
				<img src="" alt="" class="js_jump_img">
			</div>
			<div class="down_btn">
				<a href="" target="_blank" class="js_down_andriod stat_android"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/ad_btn.png?{$smarty.const.VERSION}" alt=""></a>
				<a href="" target="_blank" class="js_down_ios stat_ios"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/ios_btn.png?{$smarty.const.VERSION}" alt=""></a>
				<a href="https://www.taptap.com/app/136750" target="_blank" class="stat_tap"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/tap_btn.png?{$smarty.const.VERSION}" alt=""></a>
			</div>
		</div>
	</div>
</div>
<div class="content">
	<div class="wrap">
		<div class="chengg"></div>
		<div class="bird1">
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/bird1.png?{$smarty.const.VERSION}" alt="" />
		</div>
		<div class="bird2">
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/airport.png?{$smarty.const.VERSION}" alt="" />
		</div>
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/girl.png?{$smarty.const.VERSION}" alt="" class="girl" />
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/bird.png?{$smarty.const.VERSION}" alt="" class="bird3" />
		<p class="label">邀请好友<span>领iPhoneX</span></p>
		<div class="is_login">
			<p class="b_denglu active">欢迎您！请 <span>登录</span></p>
			<p class="a_denglu">欢迎您 <span class="x_phone"></span> <span class="logout">注销</span> <span class="invite">已成功邀请<i>0</i>人</span><span class="out">剩余<i>0</i>次抽奖机会</span></p>
		</div>
		<div class="c_blist">
			<div class="btn1">
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/yuan.png?{$smarty.const.VERSION}" alt="" />
				<p>我的奖品</p>
			</div>
			<div class="yaoqing">
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/invite.png?{$smarty.const.VERSION}" alt="" />
			</div>
			<div class="fuli">
				<a href="http://ddd3.yingxiong.com/gg/2018/0709/4645.html" target="_blank">
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/fuli.png?{$smarty.const.VERSION}" alt="" />
					<p>福利领取指南</p>
				</a>
			</div>
		</div>
		<div class="main_gift">
			<div class="left_lottery" id="left_lottery">
				<ul>
					<li class="lottery-unit lottery-unit-0">
						<div class="li_img">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/li_bg.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/li_active.png?{$smarty.const.VERSION}" alt="" />
						</div>
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift1.png?{$smarty.const.VERSION}" alt="" class="gift_icon" style="width:110px;height:110px;"/>
						<p>宝物魔盒</p>
					</li>
					<li class="lottery-unit lottery-unit-1">
						<div class="li_img">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/li_bg.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/li_active.png?{$smarty.const.VERSION}" alt="" />
						</div>
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift2.png?{$smarty.const.VERSION}" alt="" class="gift_icon" style="width: 110px;height: 110px;top: 10px;"/>
						<p>钻石</p>
					</li>
					<li class="lottery-unit lottery-unit-2">
						<div class="li_img">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/li_bg.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/li_active.png?{$smarty.const.VERSION}" alt="" />
						</div>
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift3.png?{$smarty.const.VERSION}" alt="" class="gift_icon" />
						<p>京东卡5元</p>
					</li>
					<li class="lottery-unit lottery-unit-7">
						<div class="li_img">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/li_bg.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/li_active.png?{$smarty.const.VERSION}" alt="" />
						</div>
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift4.png?{$smarty.const.VERSION}" alt="" class="gift_icon" />
						<p>京东卡20元</p>
					</li>
					<li class="click_btn">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/click.png?{$smarty.const.VERSION}" alt="" />
						<p>剩余<span>0</span>次</p>
					</li>
					<li class="lottery-unit lottery-unit-3">
						<div class="li_img">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/li_bg.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/li_active.png?{$smarty.const.VERSION}" alt="" />
						</div>
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift5.png?{$smarty.const.VERSION}" alt="" class="gift_icon" />
						<p>三级宝石</p>
					</li>
					<li class="lottery-unit lottery-unit-6">
						<div class="li_img">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/li_bg.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/li_active.png?{$smarty.const.VERSION}" alt="" />
						</div>
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift6.png?{$smarty.const.VERSION}" alt="" class="gift_icon" />
						<p>iPhoneX</p>
					</li>
					<li class="lottery-unit lottery-unit-5">
						<div class="li_img">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/li_bg.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/li_active.png?{$smarty.const.VERSION}" alt="" />
						</div>
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift7.png?{$smarty.const.VERSION}" alt="" class="gift_icon" style="width: 110px;height: 110px;top: -13px;"/>
						<p>低级技能芯片</p>
					</li>
					<li class="lottery-unit lottery-unit-4">
						<div class="li_img">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/li_bg.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/li_active.png?{$smarty.const.VERSION}" alt="" />
						</div>
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift8.png?{$smarty.const.VERSION}" alt="" class="gift_icon" style="width: 110px;height: 110px;top: -13px;"/>
						<p>低级强化石</p>
					</li>
				</ul>
			</div>
			<div class="right_rule">
				<div class="chengg"></div>
				<ul class="right_ul">
					<li class="active">中奖名单</li>
					<li>活动规则</li>
				</ul>
				<div class="tab_rule">
					<div class="price_con active">
						<ul>
							
						</ul>
					</div>
					<div class="rule_guize">
						<ul>
							<li><i>1</i><span>每日首次登陆赠送1次参与机会；</span></li>
							<li><i>2</i><span>分享页面邀请好友预约即可获得1次参与机会，每日最多可获得2次参与机会；</span></li>
							<li><i>3</i><span> 京东卡请到指定平台兑换，游戏礼包需进入游戏内兑换，详情兑换方式请查看“福利领取指南”，实物奖励根据获奖指引界面填写个人信息；</span></li>
							<li><i>4</i><span>请妥善保管您的兑换码，如若丢失不予补发；</span></li>
							<li><i>5</i><span>每种兑换码只可使用一次，不可重复兑换</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="last">
	<div class="wrap">
		<div class="chengg"></div>
		<p class="title">新闻中心</p>
		<p class="title1">NEWS</p>
		<div class="m_content">
			<div class="left_banner">
				{fragment var=banner code=index_banner size=5}
				<ul class="swiper-wrapper">
					{if $banner neq ''}
						{foreach $banner as $v}
							<li class="swiper-slide">
								<a href="{if $v.url}{$v.url}{else}javascript:;{/if}"><img src="{$v.thumb}" alt="" /></a>
							</li>
						{/foreach}
					{/if}
				</ul>
				<div class="swiper-pagination"></div>
			</div>
			<div class="right_news">
				<div class="right_main">
					<ul class="news_ul">
						<li class="active">最新</li>
						<li>资讯</li>
						<li>公告</li>
						<li>活动</li>
						<!--<li>策略</li>-->
						<a href="{myurl name='article/list, id=>533'}" target="_blank" class="more"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/more.png?{$smarty.const.VERSION}" alt="" /></a>
					</ul>
					<div class="news_list">
						<ul class="active">
							{article id="533" size=4 var=zx}
							{if $zx neq ''}
								{foreach $zx as $key=>$v}
									{if $key >= 0}
									<li>
										<a href="{$v.linkUrl}" target="_blank"><em>【{$v.name}】</em><span>{$v.title} </span><i>{$v.created_at|date_format:"%m/%d"}</i></a>
									</li>
									{/if}
								{/foreach}
							{else}
							<p class="noData" style="line-height: 50px;color: #ad886d;text-align: center;">暂无数据...</p>
							{/if}
						</ul>
						<ul class="">
							{article id="534" size=4 var=xw}
							{if $xw neq ''}
								{foreach $xw as $key=>$v}
									{if $key >= 0}
									<li>
										<a href="{$v.linkUrl}" target="_blank"><em>【{$v.name}】</em><span>{$v.title} </span><i>{$v.created_at|date_format:"%m/%d"}</i></a>
									</li>
									{/if}
								{/foreach}
							{else}
							<p class="noData" style="line-height: 50px;color: #ad886d;text-align: center;">暂无数据...</p>
							{/if}
						</ul>
						<ul class="">
							{article id="536" size=4 var=gg}
							{if $gg neq ''}
								{foreach $gg as $key=>$v}
									{if $key >= 0}
									<li>
										<a href="{$v.linkUrl}" target="_blank"><em>【{$v.name}】</em><span>{$v.title} </span><i>{$v.created_at|date_format:"%m/%d"}</i></a>
									</li>
									{/if}
								{/foreach}
							{else}
							<p class="noData" style="line-height: 50px;color: #ad886d;text-align: center;">暂无数据...</p>
							{/if}
						</ul>
						<ul class="">
							{article id="537" size=4 var=hd}
							{if $hd neq ''}
								{foreach $hd as $key=>$v}
									{if $key >= 0}
									<li>
										<a href="{$v.linkUrl}" target="_blank"><em>【{$v.name}】</em><span>{$v.title} </span><i>{$v.created_at|date_format:"%m/%d"}</i></a>
									</li>
									{/if}
								{/foreach}
							{else}
							<p class="noData" style="line-height: 50px;color: #ad886d;text-align: center;">暂无数据...</p>
							{/if}
						</ul>
						<!--<ul class="">
							{article id="538" size=4 var=gl}
							{if $gl neq ''}
								{foreach $gl as $key=>$v}
									{if $key >= 0}
									<li>
										<a href="{$v.linkUrl}" target="_blank"><em>【{$v.name}】</em><span>{$v.title} </span><i>{$v.created_at|date_format:"%m/%d"}</i></a>
									</li>
									{/if}
								{/foreach}
							{else}
							<p class="noData">暂无数据...</p>
							{/if}
						</ul>-->
					</div>
				</div>
			</div>
		</div>
		<div class="m_play">
			<p class="m_title">游戏特色</p>
			<p class="m_title1">GAME FEATURES</p>
			<div class="d_play">
				{fragment var=i_play code=index_play size=5}
				<ul class="swiper-wrapper">
					{if $i_play neq ''}
						{foreach $i_play as $v}
							<li class="swiper-slide"><img src="{$v.thumb}" alt="" /><i></i></li>
						{/foreach}
					{/if}
				</ul>
				<div class="swiper-pagination1"></div>
				<div class="swiper-button-prev1"></div>
				<div class="swiper-button-next1"></div>
			</div>
		</div>
	</div>
</div>

<div class="zj_footer">
	<div class="wrap">
		<div class="chengg"></div>
		<ul>
			<li>
				<img class="js_jump_img" src="{$smarty.const.STATIC_DOMAIN}1.0/images/erweima.png?{$smarty.const.VERSION}" alt="" />
				<div class="zj_txt">
					<p class="zj_txt1">下载游戏</p>
					<p class="zj_txt2">扫描二维码，立即下载游戏</p>
					<p class="zj_txt3">首款次世代TPS海战手游</p>
				</div>
			</li>
			<li>
				<img src="{$global.wx_img}" alt="" />
				<div class="zj_txt">
					<p class="zj_txt1">微信公众号</p>
					<p class="zj_txt2">扫描二维码关注官方微信</p>
					<p class="zj_txt3"><span>官方微信号：</span>弹弹岛3</p>
				</div>
			</li>
			<li>
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/kf.jpg?{$smarty.const.VERSION}" alt="" />
				<div class="zj_txt">
					<p class="zj_txt1">客户服务</p>
					<p class="zj_txt2">BUG反馈，游戏问题</p>
					<p class="zj_txt3"><span>客户服务电话：</span>400-939-333</p>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="login">
	<div class="c_login">
		<div class="chengg"></div>
		<i class="close"></i>
		<div class="login_main">
			<div class="s_put">
				<input type="tel" placeholder="请输入手机号" class="phone" />
			</div>
			<div class="s_put">
				<input type="text" placeholder="请输入图形验证码" class="t_yzm" />
				<div class="captcha">
					<img src="" />
				</div>
			</div>
			<div class="s_put">
				<input type="tel" placeholder="请输入验证码" class="yzm" />
				<input type="button" value="获取验证码" class="g_code" />
			</div>
		</div>
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/dl.png?{$smarty.const.VERSION}" alt="" class="denglu" />
	</div>
</div>
<div class="yuyue">
	<div class="c_yuyue">
		<div class="chengg"></div>
		<i class="close"></i>
		<ul>
			<li class="active" data-type="ios">
				<i><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/y.png?{$smarty.const.VERSION}" alt="" /><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/y_h.png?{$smarty.const.VERSION}" alt="" /></i><span>App Store</span></li>
			<li data-type="android">
				<i><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/y.png?{$smarty.const.VERSION}" alt="" /><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/y_h.png?{$smarty.const.VERSION}" alt="" /></i><span>安卓平台</span></li>
		</ul>
		<input type="email" placeholder="请输入邮箱" class="email" />
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/y_btn.png?{$smarty.const.VERSION}" alt="" class="y_btn" />
	</div>
</div>
<div class="message">
	<div class="c_message">
		<div class="chengg"></div>
		<i class="close"></i>
		<p></p>
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/sure.png?{$smarty.const.VERSION}" alt="" class="sure" />
	</div>
</div>
<div class="price">
	<div class="c_price">
		<div class="chengg"></div>
		<i class="close"></i>
		<div class="d_price">
			<div class="top_title">
				<span>名称</span>
				<span>兑换码</span>
				<span></span>
			</div>
			<div class="huadong">
				<ul>
					<!--<li>
						<span>奖品123</span>
						<span>ASIDJIAOSD123</span>
						<span><i>复制</i></span>
					</li>
					<li>
						<span>奖品123</span>
						<span>ASIDJIAOSD123</span>
						<span><i>复制</i></span>
					</li>
					<li>
						<span>奖品123</span>
						<span>ASIDJIAOSD123</span>
						<span><i>复制</i></span>
					</li>
					<li>
						<span>奖品123</span>
						<span>ASIDJIAOSD123</span>
						<span><i>复制</i></span>
					</li>
					<li>
						<span>奖品123</span>
						<span>ASIDJIAOSD123</span>
						<span><i>复制</i></span>
					</li>
					<li>
						<span>奖品123</span>
						<span>ASIDJIAOSD123</span>
						<span><i>复制</i></span>
					</li>-->
				</ul>
			</div>
		</div>
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/sure.png?{$smarty.const.VERSION}" alt="" class="sure" />
	</div>
</div>
<div class="share">
	<div class="c_share">
		<div class="chengg"></div>
		<i class="close"></i>
		<p class="share_txt">分享您的专属链接，发送给好友，获得更多参加活动机会！</p>
		<p class="yqm">您的邀请码：<span></span></p>
		<div class="share_link">
			<div class="share_p">
				<p>点击复制您的专属链接，发送给好友，可获得更多抽奖机会</p>
				<p>链接地址：</p>
				<a href="javascript:;" id="tc8_copyTextz" target="_blank"></a>
			</div>
		</div>
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/fuzhi.png?{$smarty.const.VERSION}" alt="" class="s_fuzhi" id="tc8_copyBtnz" data-clipboard-action="copy" data-clipboard-target="#tc8_copyTextz"/>
	</div>
</div>
<div class="congra">
	<div class="c_congra">
		<div class="chengg"></div>
		<i class="close"></i>
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift1.png?{$smarty.const.VERSION}" alt="" class="x_gift"/>
		<p class="c_first_p">恭喜您获得：<span></span></p>
		<p class="c_last_p">邀请码：<span></span></p>
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/sure.png?{$smarty.const.VERSION}" alt="" class="sure" />
	</div>
</div>
<script type="text/javascript" src="//cdnstatic.yingxiong.com/footer/js/footer_new.js?{$smarty.const.VERSION}"></script>
</body>
{video_play}
{download}
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/js/swiper-3.4.0.min.js?{$smarty.const.VERSION}"></script>
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/js/clipboard.min.js?{$smarty.const.VERSION}"></script>
<script type="text/javascript">
	var alt = "{$smarty.const.STATIC_DOMAIN}1.0/";
</script>
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/js/index.js?{$smarty.const.VERSION}"></script>
<script type="text/javascript">
		var mySwiper = new Swiper(".left_banner", {
			pagination: '.swiper-pagination',
			simulateTouch: false,
			loop: true,
			autoplay: 2500,
			paginationClickable: true,
			autoplayDisableOnInteraction: false,
			observer: true,
			observeParents: true,
		});
		var mySwiper01 = new Swiper(".d_play", {
			loop: true,
			autoplay:4000,
			pagination: '.swiper-pagination1',
			effect: 'coverflow',
			slidesPerView: 3,
			centeredSlides: true,
			prevButton: '.swiper-button-prev1',
			nextButton: '.swiper-button-next1',
			autoplayDisableOnInteraction: false,
			coverflow: {
				rotate: 0,
				stretch: -166,
				depth: 400,
				modifier: 1,
				slideShadows: false
			},
			observer: true,
			observeParents: true,
			//				simulateTouch: false,
		});
		$(".r_wx a:nth-child(1)").hover(function (){
			$(".fl_wx").stop().fadeIn();
		},function (){
			$(".fl_wx").stop().fadeOut();
		});
</script>

</html>