{include file="../layouts/pc/header.html"}
<div class="kv-box2 w1920">
    <img class="cover" draggable="false" src="{$smarty.const.STATIC_DOMAIN}2.0/images/kv2.jpg?{$smarty.const.VERSION}" alt="">
</div>
<div class="detail-title-wrapper">
    <div class="w1200">
        <a  href="{myurl name='article/list, id=>571'}">
            <img draggable="false" src="{$smarty.const.STATIC_DOMAIN}2.0/images/page-arrow.png?{$smarty.const.VERSION}"
                 alt="">
        </a>
        <div class="title">
            <p>{$content.title}</p>
            <span>{$content.created_at_formate}英雄互娱官方</span>
        </div>
    </div>
</div>
<div class="w1200 detail-content">
    {$content.body}
</div>

{include file="../layouts/pc/footer.html"}