{include file="../layouts/pc/header.html"}
<div class="kv-box2 w1920">
    <img class="cover" draggable="false" src="{$smarty.const.STATIC_DOMAIN}2.0/images/kv2.jpg?{$smarty.const.VERSION}" alt="">
</div>
<div class="page-news-container">
    <div class="w1200">
        <div class="page-title-wrapper clearfix">
            <a href="{myurl name='site/index'}">
                <img draggable="false"
                     src="{$smarty.const.STATIC_DOMAIN}2.0/images/page-arrow.png?{$smarty.const.VERSION}" alt="">
            </a>
            {if $id eq 576}
            <img draggable="false" src="{$smarty.const.STATIC_DOMAIN}2.0/images/gl-title.png?{$smarty.const.VERSION}" alt="">
            {else}
            <img draggable="false" src="{$smarty.const.STATIC_DOMAIN}2.0/images/news-title.png?{$smarty.const.VERSION}" alt="">
            {/if}
        </div>
    </div>
    {if $id eq 576}
    <div class="line"></div>
    {/if}
    {if $id eq 576} {else}
    <div class="news-nav">
        <div class="w1200">
            <ul>
                <li class="{if $id eq 571}active{else} {/if}">
                    <a href="{myurl name='article/list, id=>571'}">最新</a>
                </li>
                <li class="{if $id eq 572}active{else} {/if}">
                    <a href="{myurl name='article/list, id=>572'}">新闻</a>
                </li>
                <li class="{if $id eq 573}active{else} {/if}">
                    <a href="{myurl name='article/list, id=>573'}">公告</a>
                </li>
                <li class="{if $id eq 574}active{else} {/if}">
                    <a href="{myurl name='article/list, id=>574'}">活动</a>
                </li>
            </ul>
        </div>
    </div>
    {/if}
    <div class="news-item">
        {if !empty($data)}
        <ul>
            {foreach $data as $v}
            <li>
                <a href="{$v.linkUrl}" target="_blank">
                    <div class="w1200 clearfix">
                        <div class="left fl">
                            <p>{$v.created_at|date_format:"%d"}</p>
                            <span>{$v.created_at|date_format:"%Y/%m"}</span>
                        </div>
                        <div class="right fr clearfix">
                            {if $v.thumb}
                            <img class="fl" src="{$v.thumb}" alt="">
                            {/if}
                            <div class="fl">
                                <p>{$v.title}</p>
                                <span>{$v.sub_title}</span>
                            </div>
                            <img class="arrow-icon"
                                 src="{$smarty.const.STATIC_DOMAIN}2.0/images/hero-arrow.png?{$smarty.const.VERSION}"
                                 alt="">
                        </div>
                    </div>
                </a>
            </li>
            {/foreach}
        </ul>
         <div class="news-pagination w1200">
	        {$page}
	    </div>
	    {else}
	    <p style="font-size:24px;color:#d37b12;text-align: center;margin-top:40px;">暂无数据</p>
        {/if}
    </div>
</div>
{include file="../layouts/pc/footer.html"}