@charset "utf-8";

body,html {
	height: 100%;
	margin: 0;
	padding: 0
}

* {
	margin: 0;
	padding: 0
}

body,button,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,img,input,li,ol,p,select,table,td,textarea,ul {
	margin: 0;
	padding: 0;
	border: 0
}
em,i{
	font-style:normal
}
body {
	color: #1c1a1a;
	font: 10px '微软雅黑'
}

li {
	list-style-type: none
}

h1,h2,h3,h4,h5,h6 {
	font-size: 30px;
	font-weight: 400
}

button,input,select,textarea {
	font: 100%,'微软雅黑';
	border-radius: 0;
}

.left {
	float: left
}

.right {
	float: right
}

.clear {
	clear: both;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	height: 0
}

.noBorder {
	border: none
}

.bd {
	border: 1px solid #ccc
}

img {
	vertical-align: top
}

.noBorder {
	border: none
}

.mkv {
	display: block;
	width: 100%
}

a {
	text-decoration: none;
	display: block
}

a.current,a:hover {
	text-decoration: none
}
.wrap{
	width: 100%;
	height: 100%;
	
	min-width: 320px;
	margin: 0 auto;
	background-color: #3e3a39;
	overflow: hidden;
	-webkit-transform-origin: top center;
	transform-origin: top center
}

.swiper-container {
    height: 100%;
}
.swiper-container {
	overflow: hidden
}
.swiper-slide {
    height: auto;
}
.loading{position: relative;left:0;top:0;width: 100%;height: 100%;max-width: 640px;min-width: 320px;margin: 0 auto;background:#222;overflow: hidden; z-index:10000;}
.loadbox{display: block;position: relative;width: 160px;height: 160px;margin: 50% auto 0;}
.loadlogo{background-repeat: no-repeat;background-position: center center;background-size: cover;border-radius: 50%;width: 146px;height: 146px;margin: 11px auto;background-image: url(../../images/logo.png)}
.loadbg{  position: absolute;top: -7px;z-index: 1000;width: 100%;height: 100%;background: url(../images/loading.png) no-repeat;
	background-size: 100%;-webkit-animation: loading 1.5s linear infinite;animation: loading 1.5s linear infinite;}
@-webkit-keyframes loading{0%{-webkit-transform:rotate(0)}100%{-webkit-transform:rotate(360deg)}}
@-moz-keyframes loading{0%{-moz-transform:rotate(0)}100%{-moz-transform:rotate(360deg)}}
.brand-logo{position: absolute;bottom: 5px;left: 50%;;width: 42px;height: 18px;margin-left: -21px;background:#000;}
/*改版以后*/
.yzr-wrap-3903 .common-bg3,.yzr-wrap-3902 .common-bg3{
	width:100%;
	height:100%;
	background:url(../images/yzr2-m-bg3.jpg) no-repeat;
	background-size:100% 100%;
}

.yzr-wrap-3902 .swiper-banner{
	width:100%;
	height:12.1875rem;
	position:relative;
	left:0;
	top:0;
	overflow:hidden;
}
.yzr-wrap-3902 .swiper-banner .swiper-pagination{
	position:absolute;
	right:0;
	bottom:5%;
	width:100%;
	height:1.125rem;
	z-index:1;
	text-align:right;
	
}
.yzr-wrap-3902 .swiper-banner .swiper-pagination span{
	width:2.09375rem;
	height:1.125rem;
	background:#000;
	color:#fff;
	text-align:center;
	line-height:1.125rem;
	font-size:0.71875rem;
	border-radius: 0;
    opacity:1;
	transform:skew(-45deg);
	-webkit-transform:skew(-45deg);
	margin-right:0.46875rem;
	/*float:right;*/
}
.yzr-wrap-3902 .swiper-banner .swiper-pagination span em{
	width:100%;
	height:100%;
	transform:skew(45deg);
	-webkit-transform:skew(45deg);
	display:block;
}
.yzr-wrap-3902 .swiper-banner .swiper-pagination span.swiper-pagination-bullet-active{
	background:#2cb55c;
}
.yzr-wrap-3902 .lat-news{
	padding:0 1.125rem;
	background:#fff;
	position:relative;
	overflow: hidden;
	height:88px;
}

.yzr-wrap-3902 .lat-news .lat-news-txt{
    display:block;
	overflow:hidden;
}
.lat-news .lat-news-tit{
	height:1.875rem;
	line-height:1.875rem;
	border-bottom:#828282 solid 0.09375rem;
}
.lat-news .lat-news-tit span{
	float:left;
	color:#000;
	font-size:0.75rem;
	font-weight:bold;
}
.lat-news .lat-news-tit a{
	float:right;
	color:#828282;
	font-size:0.5625rem;
}
.yzr-wrap-3902 .lat-news .lat-news-txt{}
.yzr-wrap-3902 .lat-news .lat-news-txt a{
	display: block;
	height:2rem;
	line-height:2rem;
	color:#828282;
	font-size:0.5625rem;
    border-bottom: 1px dashed #828282;

}
.yzr-wrap-3902 .lat-news .lat-news-txt a:last-child{
	border-bottom: none;
}

.yzr-wrap-3902 .lat-news .lat-news-txt a span.txt{
	display:inline-block;
	width:12.0625rem;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.yzr-wrap-3902 .lat-news .lat-news-txt a span.tit{
	float:right;
}

.common-list-a .swiper-slide{
	height:auto;
	overflow: visible;
}
.common-list-a .news-list-tit{
	height:2.37500rem;
	padding-left:0.62500rem;
	line-height:2.37500rem;
	background:#343746;
	color:#fff;
	font-size:0.56250rem;
}
.news-list-txt.common-list-a{
	z-index:3;
}
.news-list-tat.common-list-a{
	z-index:4;
}
.news-list-txt.common-list-a,.news-list-tat.common-list-a{
	width:100%;
	position:absolute;
	right:-100%;
	top:0;
	transition: all .6s ease;
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
}

.common-list-a{
	height:1px;
}
.news-list-tat.common-list-a.extend,.news-list-txt.common-list-a.extend{
	right:0;	
}
.common-list-a .news-list-tit em.back-list,.common-list-a .news-list-tit em.close-news{
	width:0.68750rem;
	height:0.68750rem;
	display:inline-block;
	background:url(../images/yzr2-fan.png) no-repeat;
	background-size:100% 100%;
	margin-right:.5rem;
    vertical-align:middle	
}
.common-list-a .news-scroll-slide,.common-list-a{
	overflow:hidden;
	background:#fff
}
.common-list-a .news-scroll-slide a{
	border-bottom:#595858 solid 1px;
	line-height:2rem;
	height:2rem;
	font-size:0.56250rem;
	color:#595858;
}
.common-list-a .news-scroll-slide a span.txt{
	display:inline-block;
	width:12.0625rem;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.common-list-a .news-scroll-slide a span.tit{
	float:right;
}


 #news_scroll_1,#news_scroll_2{
	margin:0.62500rem;
	background:#fff;
	overflow:hidden;
	display:none;
}
.common-list-a .news-scroll{
	 height:auto; 
}
.common-list-a .news_scroll_2-con{
	color:#3b3a3a;
	font-size:0.43750rem;
	line-height:1.5rem;
}
.common-list-a .news_scroll_2-con img{
	width:100%;
	display:block;
	margin:.2rem auto;
}
.common-list-a .news_scroll_2-con .art-tit{
	border-bottom:#7f7e7e dashed 2px;
}
.common-list-a .news_scroll_2-con .art-tit h1{
	color:#2cb55c;
	font-size:0.75000rem;
	line-height:1.5rem;
	text-align:center;
}
.common-list-a .news_scroll_2-con .art-tit span.art-time{
	color:#7f7e7e;
	font-size:0.43750rem;
	text-align: center;
    display: block;
	line-height:1.2rem;
	margin-bottom:.5rem;
}

.common-list-a .swiper-scrollbar{
	display:none
}

.yzr-wrap-3901 .common-bg1{
	width:100%;
	height:100%;
	background:url(../images/yzr2-m-bg1.jpg) no-repeat;
	background-size:100% 100%;
}
.yzr-wrap-3901 .share-wx{
	width:4.09375rem;
	height:1.25000rem;
	background:url(../images/yzr2-m-sharewx.png) no-repeat;
	background-size:100% 100%;
	position:absolute;
	right:1.50000rem;
	top:0;
	z-index:1;
	font-size:0;
	text-indent:-999rem;
	display:block;
	animation:TopIn 1s ease 1.2s both;
	-webkit-animation:TopIn 1s ease 1.2s both;
}
.yzr-wrap-3901 .common-font{
	width:100%;
	height:7.37500rem;
	position:absolute;
	left:0;
	bottom:10%;
	z-index:12;
	background:url(../images/yzr2-m-font.png) no-repeat;
	background-size:100% 100%;
	display:block;
}
.yzr-wrap-3901 .common-font2{
	width:100%;
	height:7.37500rem;
	position:absolute;
	left:0;
	bottom:10%;
	z-index:12;
	background:url(../images/yzr2-m-font2.png) no-repeat;
	background-size:100% 100%;
	display:block;
}
.yzr-wrap-3901 .common-font3{
	width:100%;
	height:7.37500rem;
	position:absolute;
	left:0;
	bottom:10%;
	z-index:12;
	background:url(../images/yzr2-m-font3.png) no-repeat;
	background-size:100% 100%;
	display:block;
}
.yzr-wrap-3901 .common-vedio-btn{
		width:2.81250rem;
	height:2.81250rem;
	position:absolute;
	left:50%;
	top:8%;
	z-index:13;
	margin-left:-1.406rem;
	background:url(../../common/images/video.png) no-repeat;
	background-size:100% 100%;
	display:block;
}

.yzr-wrap-3903 .common-title{
	width:13.93750rem;
	height:2.15625rem;
	position:absolute;
	left:50%;
	top:5%;
	margin-left:-6.968725rem;
	z-index:1;
}
.yzr-wrap-3903 .common-title span{
	opacity:0;
}
.yzr-wrap-3903 .common-title span:nth-child(1){
	width:2.71875rem;
	height:100%;
	background:url(../images/yzr2-m-title1.png) no-repeat;
	background-size:100% 100%;
	float:left;

}
.yzr-wrap-3903 .common-title span:nth-child(2){
	width:10.37500rem;
	height:100%;
	background:url(../images/yzr2-m-title2.png) no-repeat;
	background-size:100% 100%;
	position:absolute;
	left:2rem;
	top:0;

}
.yzr-wrap-3903 .common-title span:nth-child(3){
	width:2.40625rem;
	height:100%;
	background:url(../images/yzr2-m-title3.png) no-repeat;
	background-size:100% 100%;
	float:right;

}
.swiper-slide-active .common-title span:nth-child(1){
	animation:LeftIn 1s ease .5s both;
	-webkit-animation:LeftIn 1s ease .5s both;
}
.swiper-slide-active .common-title span:nth-child(2){
	animation:CenIn 1s ease 1.5s both;
	-webkit-animation:CenIn 1s ease 1.5s both;	
}
.swiper-slide-active .common-title span:nth-child(3){
	animation:RightIn 1s ease .5s both;
	-webkit-animation:RightIn 1s ease .5s both;
}
.yzr-wrap-3903 .qr-con{
	width:100%;
	overflow:hidden;
	position:absolute;
	left:0;
	top:14%;
}
.yzr-wrap-3903 .qr-con p{
	font-size:0.93750rem;
	color:#fff;
	font-weight:bold;
	text-align:center;
	line-height:1.8rem;
}
.yzr-wrap-3903 .qr-con img:nth-child(1){
	width:100%;
	height:2.06250rem;

}
.yzr-wrap-3903 .qr-con img:nth-child(2){
	width:13.31250rem;
	height:13.34375rem;
	margin:4% auto;

}
.yzr-wrap-3903 .qr-con img:nth-child(3){
	width:100%;
	height:4.34375rem;
	
}

.common-footer{
	width:100%;
	height:2.31250rem;
	overflow:hidden;
	position:absolute;
	left:0;
	bottom:0;
	z-index:123;
}
.common-footer a{
	font-size:0;
	text-indent:-999rem;
	display:block;
	float:left;
}
.common-footer a.app-test{
	width:6.62500rem;
	height:100%;
	background:url(../images/yzr2-m-app-test.png) no-repeat;
	background-size:100% 100%;
	opacity:0;
}
.common-footer a.dow-game{
	width:6.71875rem;
	height:100%;
	background:url(../images/yzr2-m-dow-game.png) no-repeat;
	background-size:100% 100%;
	opacity:0;
}
.common-footer a.pla-bbs{
	width:6.65625rem;
	height:100%;
	background:url(../images/yzr2-m-pla-bbs.png) no-repeat;
	background-size:100% 100%;
	opacity:0;
}
.common-footer-ani.common-footer a.app-test{
	animation:UpIn 1s ease .2s both;
	-webkit-animation:UpIn 1s ease .2s both;	
} 
.common-footer-ani.common-footer a.dow-game{
	animation:UpIn 1s ease .5s both;
	-webkit-animation:UpIn 1s ease .5s both;	
} 
.common-footer-ani.common-footer a.pla-bbs{
	animation:UpIn 1s ease .8s both;
	-webkit-animation:UpIn 1s ease .8s both;	
} 
.box-box{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	z-index:888;
	background:rgba(0,0,0,.5);
	display:none;
}
.box-box .common-box{
	width:19.15625rem;
	height:9.84375rem;
	background:#251c21;
	position:absolute;
	left:50%;
	top:50%;
	margin:-4.92rem 0 0 -9.578rem;
}
.box-box .common-box .close{
	width:0.56250rem;
	height:0.56250rem;
	background:url(../images/yzr2-m-btn3.png) no-repeat;
	background-size:100% 100%;
	position:absolute;
	right:0.46875rem;
	top:0.46875rem;
}
.box-box a.a-btn{
	width:3.75000rem;
	height:1.25000rem;
	display:block;
	position:absolute;
	bottom:0.78125rem;
	text-indent:-999rem;
	font-size:0;
	z-index:1;
}
.box-box p.yzr-iphone{
	height:0.93750rem;
	line-height:0.93750rem;
	display:block;
	margin-bottom:0.93750rem;
	margin-top:1.25000rem;
}
.box-box p.yzr-producers{
	height:0.93750rem;
	line-height:0.93750rem;
	display:block;
}
.box-box p.yzr-equipment,.box-box p.yzr-producer{
	height:0.93750rem;
	line-height:0.93750rem;
	display:block;
	margin-bottom:0.73750rem;	
}
.box-box p.yzr-equipment a,.box-box p.yzr-producers a{
	color:#939393;
	font-size:0.56250rem;
	float:left;
	letter-spacing:0.03125rem;
	margin-right:0.15625rem;
}
.box-box p.yzr-producers a{
	margin-left:3.62500rem;
}
.box-box p.yzr-equipment a i,.box-box p.yzr-producers a i{
	width:0.43750rem;
	height:0.43750rem;
	background:#fff;
	border:#000 solid 0.03125rem;
	border-radius:100%;
	display:inline-block;
	margin-right:0.15625rem;
}

.box-box p.yzr-equipment a.on,.box-box p.yzr-producers a.on{
	color:#ad8b26;
}
.box-box p.yzr-equipment a.on i,.box-box p.yzr-producers a.on i{
	background:#ad8b26;
}

.box-box p.yzr-iphone span,.box-box p.yzr-equipment span,.box-box p.yzr-producer span{
	float:left;
	color:#ad8b26;
	font-size:0.56250rem;
	letter-spacing:0.1rem;
	margin:0 0.62500rem;
}
.box-box input.yzriphone{
	width:8.12500rem;
	height:0.93750rem;
	line-height:0.93750rem;
	padding:0 0.31250rem;
	background:#fff;
	border:0;
	text-align:left;
	float:left;
}
.box-box a.con-sub{
	left:4.34375rem;
	background:url(../images/yzr2-m-btn1.png) no-repeat;
	background-size:100% 100%;
}
.box-box a.home-page{
	right:4.34375rem;
	background:url(../images/yzr2-m-btn2.png) no-repeat;
	background-size:100% 100%;
}
.swiper-container .next-page{
	width:1.06250rem;
	height:0.93750rem;
	position:absolute;
	left:50%;
	bottom:6.5%;
	margin-left:-0.53125rem;
	background:url(../images/yzr2-m-next.png) no-repeat;
	background-size:100% 100%;
	z-index:20;
	display:block;
	font-size:0;
	text-indent:-999rem;
	opacity:1;
	animation:arrowup 1s ease 0s infinite;
	-webkit-animation:arrowup 1s ease 0s infinite;	
}
.swiper-container .prev-page{
	width:2.25000rem;
	height:0.65625rem;
	position:absolute;
	left:50%;
	top:0;
	margin-left:-1.125rem;
	background:url(../images/yzr2-m-prev.png) no-repeat;
	background-size:100% 100%;
	z-index:10;
	display:block;
	font-size:0;
	text-indent:-999rem;
}
#new-box{
	position: absolute;
    right:0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 20;
    transition: all .6s ease;
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
}
.ios-role{
	width:10.50667rem;
	height:2.05333rem;
	background:#241b20;
	color:#fff;
	line-height:2.05333rem;
	position:absolute;
	left:50%;
	bottom:10rem;
	margin-left:-5.25rem;
	z-index:123;
	text-align:center;
	font-size:0.58667rem;
	border:#fff solid 1px;
}
.ios-role .close{
	width:0.56250rem;
	height:0.56250rem;
	background:url(../images/yzr2-m-btn3.png) no-repeat;
	background-size:100% 100%;
	position:absolute;
	right:0;
	top:0;
}
/*视频*/
#video_tck{ display: none; width: 100%;height:100%;position: absolute; top:0; left:0;z-index: 1000;background:rgba(0,0,0,.5)}
#close {width:0.93750rem;height:0.93750rem; display: block; position: absolute; top: -0.46875rem; right:-0.46875rem; background: url(../images/c.png) no-repeat;cursor: pointer; background-size:100% 100%;}
#player5{ width:80%;color:#000; position: absolute;left:50%;top:30%;margin-left:-40%;z-index: 1000;}
#player5 video{width: 100%;}


@keyframes LeftIn{
	0%{transform:translateX(-40px)}
	100%{transform:translateX(0);opacity:1;}
}
@-webkit-keyframes LeftIn{
	0%{-webkit-transform:translateX(-40px)}
	100%{-webkit-transform:translateX(0);opacity:1;}
}
@keyframes RightIn{
	0%{transform:translateX(40px)}
	100%{transform:translateX(0);opacity:1;}
}
@-webkit-keyframes RightIn{
	0%{-webkit-transform:translateX(40px)}
	100%{-webkit-transform:translateX(0);opacity:1;}
}
@keyframes CenIn{
	0%{transform:scale(0,0)}
	100%{transform:scale(1,1);opacity:1;}
}
@-webkit-keyframes CenIn{
	0%{-webkit-transform:scale(0,0)}
	100%{-webkit-transform:scale(1,1);opacity:1;}
}
@keyframes UpIn{
	0%{transform:translateY(2.31250rem)}
	100%{transform:translateY(0);opacity:1;}
}
@-webkit-keyframes UpIn{
	0%{-webkit-transform:translateY(2.31250rem)}
	100%{-webkit-transform:translateY(0);opacity:1;}
}
@keyframes TopIn{
	0%{transform:translateY(-0.3rem)}
	100%{transform:translateY(0);opacity:1;}
}
@-webkit-keyframes TopIn{
	0%{-webkit-transform:translateY(-0.3rem)}
	100%{-webkit-transform:translateY(0);opacity:1;}
}
@keyframes arrowup{
	0%{transform:translateY(0)}
	100%{transform:translateY(0.1rem);opacity:0;}
}
@-webkit-keyframes arrowup{
	0%{-webkit-transform:translateY(0)}
	100%{-webkit-transform:translateY(0.1rem);opacity:0;}
}