.cover_con {
	width: 100%;
	overflow: hidden;
	min-width: 1200px;
	height: 940px;
	position: relative;
}

.c_bg01,
.c_bg02,
.c_bg03 {
	width: 100%;
	height: 940px;
	position: absolute;
	left: 50%;
	margin-left: -50%;
	top: 0;
}

.c_bg01 {
	background: url(../images/in_citybg.jpg) no-repeat top center;
	z-index: 1;
}

.c_bg02 {
	background: url(../images/in_maskbg.png) no-repeat top center;
	z-index: 2;
}

.cloud {
	width: 1200px;
	height: 725px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -600px;
	z-index: 3;
}

.cloud .cl_1 {
	-webkit-animation: fadeInLeft .5s ease .2s both;
	-moz-animation: fadeInLeft .5s ease .2s both;
	-ms-animation: fadeInLeft .5s ease .2s both;
	animation: fadeInLeft .5s ease .2s both;
}

.cloud .c_01 {
	position: absolute;
	top: 0;
	left: -360px;
	width: 1049px;
	height: 688px;
	background: url(../images/cloud01.png) no-repeat top center;
}

.cloud .cl_2 {
	-webkit-animation: fadeInRight .5s ease .2s both;
	-moz-animation: fadeInRight .5s ease .2s both;
	-ms-animation: fadeInRight .5s ease .2s both;
	animation: fadeInRight .5s ease .2s both;
	position: absolute;
	bottom: 0;
	width: 700px;
	height: 495px;
	right: -360px;
}

.cloud .c_02 {
	width: 700px;
	height: 495px;
	background: url(../images/cloud02.png) no-repeat top center;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: jump 3s infinite alternate;
	-moz-animation: jump 3s infinite alternate;
	-o-animation: jump 3s infinite alternate;
	-ms-animation: jump 3s infinite alternate;
	animation: jump 3s infinite alternate;
}

.co_wrap {
	width: 1200px;
	height: 940px;
	position: relative;
	z-index: 10;
	margin: 0 auto;
}

.logo {
	display: block;
	position: absolute;
	width: 222px;
	height: 104px;
	top: 23px;
	left: 10px;
	z-index: 2;
	-webkit-animation: fadeInDown .5s ease .2s both;
	-moz-animation: fadeInDown .5s ease .2s both;
	-ms-animation: fadeInDown .5s ease .2s both;
	animation: fadeInDown .5s ease .2s both;
}

.co_wrap .peo {
	position: absolute;
	z-index: 5;
	top: 63px;
	left: 45px;
	width: 1128px;
	height: 718px;
}

.co_wrap .peo span {
	display: block;
	position: absolute;
	-webkit-animation: fadeIn .5s ease both;
	-moz-animation: fadeIn .5s ease both;
	-ms-animation: fadeIn .5s ease both;
	animation: fadeIn .5s ease both;
}

.co_wrap .peo .peo_ml {
	width: 306px;
	height: 638px;
	background: url(../images/peo_ml.png) no-repeat;
	background-size: 100% 100%;
	top: 63px;
	left: 0;
	z-index: 1;
	-webkit-animation-delay: .7s;
	-moz-animation-delay: .7s;
	-ms-animation-delay: .7s;
	-o-animation-delay: .7s;
	animation-delay: .7s;
}

.co_wrap .peo .peo_ml_name {
	width: 64px;
	height: 31px;
	background: url(../common/images/peo_mlname.png) no-repeat;
	background-size: 100% 100%;
	top: 331px;
	left: 85px;
	z-index: 10;
	animation: rotateIn .7s ease 1.5s both, jump01 1.5s 2.8s infinite alternate;
	-webkit-animation: rotateIn .7s ease 1.5s both, jump01 1.5s 2.8s infinite alternate;
	-moz-animation: rotateIn .7s ease 1.5s both, jump01 1.5s 2.8s infinite alternate;
	-ms-animation: rotateIn .7s ease 1.5s both, jump01 1.5s 2.8s infinite alternate;
	-o-animation: rotateIn .7s ease 1.5s both, jump01 1.5s 2.8s infinite alternate;
}

.co_wrap .peo .peo_wl {
	width: 799px;
	height: 601px;
	background: url(../images/peo_wm.png) no-repeat;
	background-size: 100% 100%;
	top: 117px;
	left: 70px;
	z-index: 4;
	-webkit-animation-delay: .5s;
	-moz-animation-delay: .5s;
	-ms-animation-delay: .5s;
	-o-animation-delay: .5s;
	animation-delay: .5s;
}

.co_wrap .peo .peo_wl_name {
	width: 86px;
	height: 33px;
	background: url(../common/images/peo_wmname.png) no-repeat;
	background-size: 100% 100%;
	top: 412px;
	left: 356px;
	z-index: 10;
	animation: rotateIn .5s ease 1.3s both, jump01 1.5s 3s infinite alternate;
	;
	-webkit-animation: rotateIn .5s ease 1.3s both, jump01 1.5s 3s infinite alternate;
	;
	-moz-animation: rotateIn .5s ease 1.3s both, jump01 1.5s 3s infinite alternate;
	;
	-ms-animation: rotateIn .5s ease 1.3s both, jump01 1.5s 3s infinite alternate;
	;
	-o-animation: rotateIn .5s ease 1.3s both, jump01 1.5s 3s infinite alternate;
	;
}

.co_wrap .peo .peo_wr {
	width: 328px;
	height: 662px;
	background: url(../images/peo_wr.png) no-repeat;
	background-size: 100% 100%;
	top: 60px;
	right: 236px;
	z-index: 3;
	-webkit-animation-delay: .8s;
	-moz-animation-delay: .8s;
	-ms-animation-delay: .8s;
	-o-animation-delay: .8s;
	animation-delay: .8s;
}

.co_wrap .peo .peo_wr_name {
	width: 60px;
	height: 30px;
	background: url(../common/images/peo_wrname.png) no-repeat;
	background-size: 100% 100%;
	top: 317px;
	right: 326px;
	z-index: 10;
	animation: rotateIn .5s ease 1.2s both, jump01 1.5s 3.2s infinite alternate;
	;
	-webkit-animation: rotateIn .5s ease 1.2s both, jump01 1.5s 3.2s infinite alternate;
	;
	-moz-animation: rotateIn .5s ease 1.2s both, jump01 1.5s 3.2s infinite alternate;
	;
	-ms-animation: rotateIn .5s ease 1.2s both, jump01 1.5s 3.2s infinite alternate;
	;
	-o-animation: rotateIn .5s ease 1.2s both, jump01 1.5s 3.2s infinite alternate;
	;
}

.co_wrap .peo .peo_mr {
	width: 478px;
	height: 713px;
	background: url(../images/peo_mr.png) no-repeat;
	background-size: 100% 100%;
	top: 0;
	right: 0;
	z-index: 2;
	-webkit-animation-delay: .9s;
	-moz-animation-delay: .9s;
	-ms-animation-delay: .9s;
	-o-animation-delay: .9s;
	animation-delay: .9s;
}

.co_wrap .peo .peo_mr_name {
	width: 111px;
	height: 31px;
	background: url(../common/images/peo_mrname.png) no-repeat;
	background-size: 100% 100%;
	top: 270px;
	right: 95px;
	z-index: 10;
	animation: rotateIn .5s ease 1s both, jump01 1.5s 3.4s infinite alternate;
	;
	-webkit-animation: rotateIn .5s ease 1s both, jump01 1.5s 3.4s infinite alternate;
	;
	-moz-animation: rotateIn .5s ease 1s both, jump01 1.5s 3.4s infinite alternate;
	;
	-ms-animation: rotateIn .5s ease 1s both, jump01 1.5s 3.4s infinite alternate;
	;
	-o-animation: rotateIn .5s ease 1s both, jump01 1.5s 3.4s infinite alternate;
	;
}

.solgan {
	width: 952px;
	height: 334px;
	position: relative;
	z-index: 15;
	animation: bounceIn .5s ease 1.4s both;
	-webkit-animation: bounceIn .5s ease 1.4s both;
	-moz-animation: bounceIn .5s ease 1.4s both;
	-ms-animation: bounceIn .5s ease 1.4s both;
	-o-animation: bounceIn .5s ease 1.4s both;
}

.co_wrap .solgan {
	position: absolute;
	top: 505px;
	left: 156px;
}

.solgan span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.solgan .so_01 {
	background: url(../images/solgan01.png) no-repeat;
	background-size: 100% 100%;
	z-index: 2;
}

.solgan .so_02 {
	background: url(../images/solgan02.png) no-repeat;
	background-size: 100% 100%;
	z-index: 5;
}

.video_play {
	position: absolute;
	display: block;
	width: 75px;
	height: 75px;
	background: url(../common/images/video_play.png) no-repeat;
	background-size: 100% 100%;
	top: 564px;
	left: 381px;
	z-index: 15;
	-webkit-animation: fadeInDown 1s ease 1.8s both, animations 2s ease 3s infinite;
	-moz-animation: fadeInDown 1s ease 1.8s both, animations 2s ease 3s infinite;
	-ms-animation: fadeInDown 1s ease 1.8s both, animations 2s ease 3s infinite;
	animation: fadeInDown 1s ease 1.8s both, animations 2s ease 3s infinite;
}

.downl_box {
	position: absolute;
	right: 57px;
	bottom: 0;
	width: 370px;
	height: 206px;
	z-index: 20;
	-webkit-animation: fadeIn .5s 1.5s ease both;
	-moz-animation: fadeIn .5s 1.5s ease both;
	-ms-animation: fadeIn .5s 1.5s ease both;
	animation: fadeIn .5s 1.5s ease both;
}

.downl_box .tel input {
	font-size: 24px;
	color: #7c7c7c;
	background: #fff;
	border: 2px solid #000;
	width: 148px;
	height: 37px;
	line-height: 37px;
	padding-left: 14px;
	position: relative;
	z-index: 10
}

.ewm_box {
	margin-top: 19px;
	margin-left: 13px;
}

.ewm_box .ewm {
	background: url(../common/images/ewm_bg.png) no-repeat;
	background-size: 100% 100%;
	width: 132px;
	height: 116px;
	overflow: hidden;
	display: none;
	position: absolute;
	top: 80px;
	left: 0;
}

.ewm_box .ewm img {
	display: block;
	width: 110px;
	height: 110px;
	margin: 3px 0 0 3px;
}

.downl_box p {
	color: #fff;
	margin-top: 3px;
	font-size: 14px;
}

.ewm_box a {
	display: block;
	float: left;
	width: 46px;
	height: 46px;
	background: url(../common/images/ico.png) no-repeat;
	background-size: 750px 750px;
	margin-top: 42px;
}

.ewm_box .ico_wx {
	background-position: 0 -147px;
	margin: 42px 34px 0 132px;
}

.ewm_box .ico_sina {
	background-position: -51px -147px;
	margin-right: 34px;
}

.ewm_box .ico_bd {
	background-position: -101px -147px;
}

.downl_box .tel input::-webkit-input-placeholder {
	color: #7c7c7c !important;
}

.downl_box .tel input:-moz-placeholder {
	color: #7c7c7c !important;
}

.downl_box .tel input::-moz-placeholder {
	color: #7c7c7c !important;
}

.downl_box .tel input:-ms-input-placeholder {
	color: #7c7c7c !important;
}

.downl_box .tel_btn {
	width: 160px;
	height: 69px;
	background: url(../common/images/yue_btn.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: -24px;
	left: 117px;
	z-index: 6;
}

.downl_box .tel_btn a {
	width: 107px;
	height: 41px;
	position: absolute;
	bottom: 4px;
	right: 0;
}

.sque span {
	display: block;
	position: absolute;
	background: url(../common/images/ico.png) no-repeat;
	background-size: 750px 750px;
	z-index: 10;
}

.sque .sq1 {
	width: 36px;
	height: 37px;
	top: 606px;
	left: 151px;
	background-position: -368px 0;
}

.sque .sq2 {
	width: 45px;
	height: 49px;
	top: 774px;
	left: 110px;
	background-position: -323px 0;
}

.sque .sq3 {
	width: 32px;
	height: 27px;
	top: 529px;
	left: 455px;
	background-position: -404px 0;
}

.sque .sq4 {
	width: 152px;
	height: 147px;
	top: 427px;
	left: 753px;
	background-position: -436px 0;
}

.sque .sq5 {
	width: 88px;
	height: 91px;
	top: 518px;
	right: 0;
	background-position: -147px 0;
}

.sque .sq6 {
	width: 88px;
	height: 78px;
	top: 676px;
	right: 0;
	background-position: -235px 0;
}

.sque .sq7 {
	width: 147px;
	height: 112px;
	top: 722px;
	left: 528px;
	background-position: 0 0;
}

.www-ico {
	width: 30px;
	height: 30px;
	display: inline-block;
	background: url(../common/images/www-ico.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
	top: 10px;
}

.tck_yue {
	display: none;
	width: 536px;
	height: 140px;
	border: 3px solid #000;
	border-radius: 2px;
	position: absolute;
	top: 630px;
	left: 788px;
	background: #fce947;
	color: #000;
	font-size: 20px;
	z-index: 101;
}

.tck_yue .close {
	width: 34px;
	height: 34px;
	background: url(../common/images/close.jpg) no-repeat;
	position: absolute;
	top: 0;
	right: 0;
}

.tck_yue img {
	width: 106px;
	height: 106px;
	margin: 18px 13px 0;
}

.tck_yue .text {
	width: 74%;
	margin-top: 18px;
}

.fu_ico {
	display: block;
	background: url(../images/f_ico.png) no-repeat;
	background-size: 100% 100%;
	width: 126px;
	height: 110px;
	position: absolute;
	top: 716px;
	left: -140px;
	z-index: 20;
}


/*视频*/

#video_mask,
.mask {
	width: 100%;
	height: 100%;
	background: url(../common/images/mask.png);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: none;
}

#close {
	z-index: 999999;
	width: 30px;
	height: 30px;
	position: absolute;
	top: -30px;
	right: -30px;
	background: url(../common/images/v_close.png) no-repeat;
	cursor: pointer;
}

#player5 {
	width: 714px;
	height: 378px;
	position: relative;
	left: 50%;
	top: 50%;
	margin: -189px 0 0 -357px;
}

.videos {
	width: 714px;
	height: 378px;
	background: #fff;
	margin: 20px auto;
	clear: both;
	overflow: hidden;
}

.videos embed {
	display: block;
	width: 696px;
	height: 358px;
	margin: 9px;
}

#close:hover {
	animation: rotate 1s ease 0s both;
	-webkit-animation: rotate 1s ease 0s both;
	-moz-animation: rotate 1s ease 0s both;
	-ms-animation: rotate 1s ease 0s both;
	-o-animation: rotate 1s ease 0s both;
}

@-webkit-keyframes rotate {
	0% {
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1
	}
	100% {
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-transform: rotate(500deg);
		transform: rotate(500deg);
		opacity: 1
	}
}

@keyframes rotate {
	0% {
		-webkit-transform-origin: center center;
		-ms-transform-origin: center center;
		transform-origin: center center;
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
		opacity: 1
	}
	100% {
		-webkit-transform-origin: center center;
		-ms-transform-origin: center center;
		transform-origin: center center;
		-webkit-transform: rotate(500deg);
		-ms-transform: rotate(500deg);
		transform: rotate(500deg);
		opacity: 1
	}
}

@-webkit-keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@-webkit-keyframes fadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes rotateIn {
	from {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: rotate3d(0, 0, 1, -200deg);
		transform: rotate3d(0, 0, 1, -200deg);
		opacity: 0;
	}
	to {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: none;
		transform: none;
		opacity: 1;
	}
}

@keyframes rotateIn {
	from {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: rotate3d(0, 0, 1, -200deg);
		transform: rotate3d(0, 0, 1, -200deg);
		opacity: 0;
	}
	to {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: none;
		transform: none;
		opacity: 1;
	}
}

@-webkit-keyframes bounceIn {
	from,
	20%,
	40%,
	60%,
	80%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	}
	20% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1);
	}
	40% {
		-webkit-transform: scale3d(.9, .9, .9);
		transform: scale3d(.9, .9, .9);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03);
	}
	80% {
		-webkit-transform: scale3d(.97, .97, .97);
		transform: scale3d(.97, .97, .97);
	}
	to {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes bounceIn {
	from,
	20%,
	40%,
	60%,
	80%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	}
	20% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1);
	}
	40% {
		-webkit-transform: scale3d(.9, .9, .9);
		transform: scale3d(.9, .9, .9);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03);
	}
	80% {
		-webkit-transform: scale3d(.97, .97, .97);
		transform: scale3d(.97, .97, .97);
	}
	to {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@-webkit-keyframes jump {
	from {
		-webkit-transform: translateY(30px);
	}
	to {
		-webkit-transform: translateY(0px);
	}
}

@-ms-keyframes jump {
	from {
		-ms-transform: translateY(30px);
	}
	to {
		-ms-transform: translateY(0px);
	}
}

@-moz-keyframes jump {
	from {
		-moz-transform: translateY(30px);
	}
	to {
		-moz-transform: translateY(0px);
	}
}

@keyframes jump {
	from {
		transform: translateY(30px);
	}
	to {
		transform: translateY(0px);
	}
}

@-moz-keyframes jump01 {
	from {
		-moz-transform: translateY(-10px);
	}
	to {
		-moz-transform: translateY(0px);
	}
}

@keyframes jump01 {
	from {
		transform: translateY(-10px);
	}
	to {
		transform: translateY(0px);
	}
}

@keyframes animations {
	0%,
	100% {
		transform: scale(0.9);
		-webkit-transform: scale(0.9);
	}
	50% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
}

@-webkit-keyframes animations {
	0%,
	100% {
		transform: scale(0.9);
		-webkit-transform: scale(0.9);
	}
	50% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
}

.bottom {
	min-width: 1280px;
	clear: both;
	background: #1b1b1b;
	width: 100%;
	height: 141px;
	overflow: hidden;
}

.footer {
	width: 746px;
	margin: 32px auto 0;
}

.fot_logo {
	width: 260px;
	height: 69px;
	display: block;
	margin-top: 16px;
}

.fot_right {
	height: 95px;
	border-left: 1px solid #505050;
	padding-left: 30px;
	margin-left: 30px;
	font-size: 12px;
	color: #666;
	line-height: 22px;
}

