<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  	<meta name="description" content="量子体育VSPN（Versus Programming Network）总部设于中国上海，由国内数家领先的电竞内容制作商联合创办，是一家以电竞赛事和电竞泛娱乐内容运营为核心业务的互联网体育及文化传媒企业。...">
	<meta name="keywords" content="量子体育VSPN 乐竞文化传媒（上海）有限公司 关于我们 公司简介 业务历程 合作伙伴 联系我们 灵石路709号71号楼">
	<link rel="shortcut icon" href="{$global.icon_img}">
	<link rel="stylesheet" type="text/css" href="{$smarty.const.STATIC_DOMAIN}1.0/bootstrap/css/bootstrap.css?{$smarty.const.VERSION}">
	<link rel="stylesheet" type="text/css" href="{$smarty.const.STATIC_DOMAIN}1.0/css/reset.css?{$smarty.const.VERSION}">
  	<link rel="stylesheet" type="text/css" href="{$smarty.const.STATIC_DOMAIN}1.0/css/style.css?{$smarty.const.VERSION}">
  	<!--[if IE 9 ]>
    <link rel="stylesheet" type="text/css" media="all" href="{$smarty.const.STATIC_DOMAIN}1.0/css/about-usie.css?{$smarty.const.VERSION}" />
	<![endif]-->
	<!--[if !(IE 9)]><!--><link rel="stylesheet" type="text/css" href="{$smarty.const.STATIC_DOMAIN}1.0/css/about-us.css?{$smarty.const.VERSION}"/><!--<![endif]-->
	<link rel="stylesheet" type="text/css" href="{$smarty.const.STATIC_DOMAIN}1.0/css/common.css?{$smarty.const.VERSION}">
  	<title>关于我们</title>
  </head>
<body>
	<div id="main" data-src="{$smarty.const.STATIC_DOMAIN}1.0/images/">
		{include '../layouts/pc/header.html'}
		<div id="about" class="dark">
			<div class="container">
				<div class="mainTitle aboutTitle">
					<p class="activeColor topFont">公司简介</p>
					<div class="title-line"></div>
					<div class="title-line-center"></div>
					<p class="subheadColor bottomFont">About Us</p>
				</div>
				<div style="display:flex;display:-ms-flexbox;">
					<div id="intro" style="width:670px;display:inline-block">
						<p>量子体育VSPN（Versus Programming Network）成立于2015年，是一家以电竞赛事和泛娱乐内容运营为核心业务，提供电竞商业化、艺人经纪、电竞电视、电竞运动场馆运营等综合服务的电竞运营商。</p>
						<p>量子体育VSPN与国内70%电竞运动赛事达成合作，核心团队主导并成功承办或举办了王者荣耀、穿越火线、英雄联盟、绝地求生、皇室战争、球球大作战、炉石传说、FIFA Online 3、全民枪战、DNF等知名竞技游戏的一系列官方、大型、职业赛事，包括KPL、CFPL、CFML、LPL、PCPI、CLO、BPL、FSL、HPL及国际游戏联盟大赛IGL等。</p>
						<p>同时，对电竞内容进行专业制作、包装。核心成员曾成功制作《Lying Man》、《火线兄弟》、《谁是国服第一》、《奔跑吧！脚男》等众多节目，是少数能将游戏与电竞泛娱乐相结合的节目制作团队。</p>
						<p>以全案营销策略整合KPL、CFPL、LPL等头部电竞项目资源，服务了麦当劳、vivo、浦发银行信用卡、雪碧、宝马、夏普等多个品牌，为广告主有效触达3.5亿电竞人群。</p>
						<p>积极培养电竞多方面人才，为电竞赛事输送专业的艺人解说，包括英雄联盟官方解说Rita、王者荣耀官方解说Gini、英凯、灵儿等。</p>
						<p>量子体育VSPN部署多个电竞板块，打造健康、可持续的产业链。在电视大屏端拥有王者荣耀赛事（KPL电视版权独家运营商）、英雄联盟系列赛事、穿越火线系列赛事等赛事版权，打造电竞大屏生态，不断提升市场观看体验，传播规范化、职业化电竞文化；并陆续在全国各个城市的中心地段投建运营电竞运动馆，为电竞运动爱好者带来从线上到线下的一体化电竞体验。</p>
					</div>
					<div id="logo_slogan" style="margin-left:50px;height:490px;display:inline-block">
						<img style="position: relative;top: 50%;margin-top: -139.5px;" src="{$smarty.const.STATIC_DOMAIN}1.0/images/vspn_slogan.png?{$smarty.const.VERSION}" alt="VSPN">
					</div>
				</div>

			</div>
		</div>
		<div id="business" class="light">
			<div class="container">
				<div class="mainTitle businessTitle">
					<p class="activeColor topFont">业务历程</p>
					<div class="title-line"></div>
					<div class="title-line-center"></div>
					<p class="subheadColor bottomFont">Business Process</p>
				</div>
				<div id="businessContent">
					<button id="next"></button>
					<div id="timeline" style="">
						<ul id="dates">

						</ul>
					</div>
					<button id="prev"></button>
				</div>
			</div>

		</div>
		<div id="partner" class="dark" style="text-align:center">
			<div class="container">
				<div class="mainTitle partnerTitle">
					<p class="activeColor topFont">合作伙伴</p>
					<div class="title-line"></div>
					<div class="title-line-center"></div>
					<p class="subheadColor bottomFont">Our Partner</p>
				</div>
				<div id="partnerShow">
					<div class="partnerItem">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/tencent.png?{$smarty.const.VERSION}" alt="腾讯游戏">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/super.png?{$smarty.const.VERSION}" alt="supertcell">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/riot.png?{$smarty.const.VERSION}" alt="riot game">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/wangyi.png?{$smarty.const.VERSION}" alt="网易">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/blizzard.png?{$smarty.const.VERSION}" alt="blizzard">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/giant.png?{$smarty.const.VERSION}" alt="巨人网络">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/hero.png?{$smarty.const.VERSION}" alt="英雄互娱">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/pw.png?{$smarty.const.VERSION}" alt="完美世界">
					</div>

					<div class="partnerItem">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/sharp.png?{$smarty.const.VERSION}" alt="sharp">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/sprite.png?{$smarty.const.VERSION}" alt="雪碧">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/vivo.png?{$smarty.const.VERSION}" alt="vivo">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/bmw.png?{$smarty.const.VERSION}" alt="宝马">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/mc.png?{$smarty.const.VERSION}" alt="麦当劳">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/pf.png?{$smarty.const.VERSION}" alt="浦发">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/six.png?{$smarty.const.VERSION}" alt="六福珠宝">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/jeep.png?{$smarty.const.VERSION}" alt="jeep">
					</div>

					<div class="partnerItem">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/zhanma.png?{$smarty.const.VERSION}" alt="战马">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/DX.png?{$smarty.const.VERSION}" alt="dxracer 迪锐克斯">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/intel.png?{$smarty.const.VERSION}" alt="intel 英特尔">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/dareu.png?{$smarty.const.VERSION}" alt="达尔优 dareu">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/zhaohang.png?{$smarty.const.VERSION}" alt="招商银行">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/ai.png?{$smarty.const.VERSION}" alt="爱攻">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/rog.png?{$smarty.const.VERSION}" alt="rog 玩家国度">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/autofull.png?{$smarty.const.VERSION}" alt="autofull">
					</div>

					<div class="partnerItem" style="margin-bottom:0">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/gtv.png?{$smarty.const.VERSION}" alt="gtv">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/wasu.png?{$smarty.const.VERSION}" alt="华数TV">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/IPTV.png?{$smarty.const.VERSION}" alt="广西IPTV">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/Ele-Athletics.png?{$smarty.const.VERSION}" alt="电子竞技杂志">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/big-e-sports.png?{$smarty.const.VERSION}" alt="大电竞">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/sina.png?{$smarty.const.VERSION}" alt="新浪电竞">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/ifeng.png?{$smarty.const.VERSION}" alt="凤凰网电竞">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/tieba.png?{$smarty.const.VERSION}" alt="贴吧电竞">
					</div>
				</div>

				<div class="activeColor" style="text-align:center;position:relative;top:40px">（以上排名不分先后）</div>
			</div>
		</div>
		<div id="contact" class="light">
			<div class="container">
				<div class="mainTitle contactTitle">
					<p class="activeColor topFont">联系我们</p>
					<div class="title-line"></div>
					<div class="title-line-center"></div>
					<p class="subheadColor bottomFont">Contact Us</p>
				</div>
				<div id="contactContent">
					<div id="map"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/map.png?{$smarty.const.VERSION}" alt="vspn上海总部地址"></div>
					<div id="headquarters">
						<ul>
							<li>上海量子光</li>
							<li>地址：上海市静安区灵石路709号71号楼</li>
							<li>邮编：200072</li>
							<li>电话：021-80318388</li>
							<li></li>
							<li>商务合作：bd@vspn.com</li>
							<li>艺人经纪：starbroker@vspn.com</li>
							<li>媒体公关：pr@vspn.com</li>
							<li>市场合作：mkt@vspn.com</li>
						</ul>
					</div>
					<!-- <div id="emails">
						<ul>
							<li>联系邮箱</li>
							<li>人事招聘：hr@vspn.com</li>
							<li>商务合作：bd@vspn.com</li>
							<li>市场合作：mkt@vspn.com</li>
							<li>媒体公关：pr@vspn.com</li>
						</ul>
					</div> -->
				</div>
			</div>
		</div>
		<div id="backTop">
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/top.png?{$smarty.const.VERSION}">
		</div>
		<!-- <div id="top-footer" style="background-imgae:url({$smarty.const.STATIC_DOMAIN}1.0/images/top.png?{$smarty.const.VERSION})"></div> -->
		{include '../layouts/pc/footer.html'}
	</div>
</body>
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/js/jquery.min.js?{$smarty.const.VERSION}"></script>
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/bootstrap/js/bootstrap.js?{$smarty.const.VERSION}"></script>
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/js/bootstrap-hover-dropdown.min.js?{$smarty.const.VERSION}"></script>
<!--[if IE 9 ]>
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/js/timelineie.js?{$smarty.const.VERSION}"></script>
	<![endif]-->
	<!--[if !(IE 9)]><!--><script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/js/timeline.js?{$smarty.const.VERSION}"></script><!--<![endif]-->
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/js/bussiness.js?{$smarty.const.VERSION}"></script>
<script type="text/javascript">
    	(function(){
    		$(window).scroll(function(){
    			if(document.body.scrollTop > 50){
    				$("#backTop").css('display','block');
    			}else{
    				$("#backTop").css('display','none');
    			}	
    		});

    		$("#backTop").click(function(){
    			$("body,html").scrollTop(0);
    		});
    		var bussinessArray = new Array();
		    bussinessArray = bussinessListArr.concat();
		    var datesInnerHTML = '';
		    
		    for(var i = 0; i < bussinessArray.length; i++){
		    	var appendDetail = '';
		    	var detailId = bussinessArray[i].id.substring(4);
		    	var detailList = bussinessArray[i].detail;
		    	if(i%2 == 0){
		    		datesInnerHTML += '<li><a href="#" class="single" id="'+bussinessArray[i].id +'"><p class="quarter single-quarter">'+bussinessArray[i].quarter +'</p><p class="year">'+ bussinessArray[i].year +'</p><p class="detail">查看详情</p></a><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/graydot.png?{$smarty.const.VERSION}"></li>';
		    		appendDetail += '<div class="bussiness bussiness-simple" id="'+ detailId +'"><div class="timelinContent">';
		    	}else{
		    		datesInnerHTML += '<li><a href="#" class="double" id="'+ bussinessArray[i].id +'"><p class="quarter">'+ bussinessArray[i].quarter +'</p><p class="year">'+ bussinessArray[i].year +'</p><p class="detail">查看详情</p></a><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/about/graydot.png?{$smarty.const.VERSION}"></li>';
		    		appendDetail += '<div class="bussiness bussiness-double" id="'+ detailId +'"><div class="timelinContent">';
		    	}

		    	for(var j = 0; j < detailList.length; j++){
		    		appendDetail += '<div><p>'+ detailList[j].time +'</p><p>'+ detailList[j].title +'</p></div>'
		    	}

		    	if(i%2 == 0){
		    		appendDetail += '</div><div class="busin_trangle-line-bottom"></div><div class="trangle-top2"></div><div class="busin_trangle-line-top"></div></div>';
		    	}else{
		    		appendDetail += '</div><div class="busin_trangle-line-top"></div><div class="trangle-down2"></div><div class="busin_trangle-line-bottom"></div></div>';
		    	}

		    	
		    	$("#businessContent").append($(appendDetail));

		    }

		    document.getElementById('dates').innerHTML = datesInnerHTML;

    	})()
    	$(window).load(function(){
    		$("#footer").addClass('Afooter');
		    	$(function(){
				    $().timeline();
				});
		    
    	});


    	
    </script>
</html>