<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="keywords" content="量子体育VSPN 电竞商业化 顶级电竞营销团队 IGL国际游戏联盟 KPL王者荣耀职业联赛">
  <link rel="shortcut icon" href="{$global.icon_img}">
  <link rel="stylesheet" type="text/css" href="{$smarty.const.STATIC_DOMAIN}1.0/bootstrap/css/bootstrap.css?{$smarty.const.VERSION}">
  <link rel="stylesheet" type="text/css" href="{$smarty.const.STATIC_DOMAIN}1.0/css/reset.css?{$smarty.const.VERSION}">
  <link rel="stylesheet" type="text/css" href="{$smarty.const.STATIC_DOMAIN}1.0/css/brand.css?{$smarty.const.VERSION}">
  <link rel="stylesheet" type="text/css" href="{$smarty.const.STATIC_DOMAIN}1.0/css/common.css?{$smarty.const.VERSION}">
  <title>电竞商业化</title>
</head>

<body>
  <div id="main" style="background-color: #272728">
    {include '../layouts/pc/header.html'}
    <!-- 标题 -->
    <div class="mainTitle aboutTitle">
      <p class="activeColor topFont">电竞商业化</p>
      <div class="title-line"></div>
      <div class="title-line-center"></div>
      <p class="subheadColor bottomFont">Esports Commercialization
</p>
    </div>
    <!-- 内容 -->
    <div style="width:100%;background-color: #272728">
      <div class="content">
        <div class="all-container" style="background-image:url({$smarty.const.STATIC_DOMAIN}1.0/images/brandBG.png?{$smarty.const.VERSION});width:1200px;height:712px;">
          <div class="f-context">













            <p class="t t1">电竞营销团队</p>
            <p class="c first">团队成员均来自于</p>
            <p class="c">业内大型广告公司及游戏公司</p>

            <p class="c first-p">营销团队为电子竞技、项目管理、</p>
            <p class="c">市场营销、社交媒介、选手管理、</p>
            <p class="c">商务拓展诸多方面提供创意服务</p>

            <p class="c first-p">对电竞行业了解深刻</p>
            <p class="c">为合作伙伴创造更多价值</p>
          </div>

          <div class="s-contenxt">
            <p class="t t2" style="text-align:center">成功案例</p>
            <p class="t t1" style="margin-top:10px">华硕ROG</p>
            <p class="c first">从2015年至今，助力ROG在电竞领域打开市场</p>
            <!--<p class="c igl-p" style="text-align:center"></p>-->
            <div class="igl-star-text">
              <p>群星代言，2018年华硕a豆和灵耀销量打破京东记录</p>
              <p>电竞赛事的热门选择</p>
              <p>飞行堡垒跨界合作</p>
              <p>ROG粉丝生态圈--</p>
              <!--<p>当红明星</p>-->
            </div>
            <div class="stars">
              <div style="background-image:url({$smarty.const.STATIC_DOMAIN}1.0/images/star1.png?{$smarty.const.VERSION});background-size: 100% 100%;"></div>
              <div style="background-image:url({$smarty.const.STATIC_DOMAIN}1.0/images/star2.png?{$smarty.const.VERSION});margin-left: 4px;background-size:100% 100%;"></div>
            </div>
            <div class="stars_name">
              <div class="c" style="color:#ab9365">赵丽颖</div>
              <div class="c" style="color:#ab9365;">朱亚文</div>
            </div>
          </div>

          <div class="t-context">
            <p class="t t2" style="text-align:center">成功案例</p>
            <p class="t t1" style="margin-top:10px">KPL王者荣耀职业联赛</p>
            <p class="c first" style="text-align:center">M&M豆 X KPL:携手代言人打造KPL全明星突围夜</p>
            <p class="c first" style="text-align:center">上汽大众凌渡 X KPL:倾力打造电竞C位出道</p>
            <p class="c first" style="text-align:center">VIVO X KPL:强劲性能锁定赛事专用机</p>
          </div>

        </div>
      </div>
    </div>
    {include '../layouts/pc/footer.html'}
  </div>
</body>

<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/js/jquery.min.js?{$smarty.const.VERSION}"></script>
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/bootstrap/js/bootstrap.js?{$smarty.const.VERSION}"></script>
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/js/bootstrap-hover-dropdown.min.js?{$smarty.const.VERSION}"></script>

</html>