<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="keywords" content="量子体育VSPN,业务布局,量子体育VSPN首页,量子体育VSPN品牌营销,量子体育VSPN赛事运营,量子体育VSPN节目制作,">
  <link rel="shortcut icon" href="{$global.icon_img}">
  <link rel="stylesheet" type="text/css" href="{$smarty.const.STATIC_DOMAIN}1.0/bootstrap/css/bootstrap.css?{$smarty.const.VERSION}">
  <link rel="stylesheet" type="text/css" href="{$smarty.const.STATIC_DOMAIN}1.0/css/reset.css?{$smarty.const.VERSION}">
  <!--[if IE 9 ]>
  <link rel="stylesheet" type="text/css" media="all" href="{$smarty.const.STATIC_DOMAIN}1.0/css/indexie.css?{$smarty.const.VERSION}" />
  <![endif]-->
  <!--[if !(IE 9)]><!--><link rel="stylesheet" type="text/css" href="{$smarty.const.STATIC_DOMAIN}1.0/css/index.css?{$smarty.const.VERSION}"/><!--<![endif]-->
  <link rel="stylesheet" type="text/css" href="{$smarty.const.STATIC_DOMAIN}1.0/css/common.css?{$smarty.const.VERSION}">
  <title>品牌营销</title>
</head>

<body>
  <div id="main" style="background-color: #272728">
    {include '../layouts/pc/header.html'}
    <!-- 标题 -->
    <div class="mainTitle aboutTitle">
      <p class="activeColor topFont">业务布局</p>
      <div class="title-line"></div>
      <div class="title-line-center"></div>
      <p class="subheadColor bottomFont">Business Layout</p>
    </div>
    <!-- 内容 -->
    <div id="listContainer" style="background-color: #272728;">
        <div id="businessList">
          <div class="item" id="item1"> 
            <img src="{$smarty.const.STATIC_DOMAIN}1.0/images/index/1.png?{$smarty.const.VERSION}">
            <p class="activeColor mainFont">赛事运营</p>
            <p class="subColor subTitle">运营国内70%电竞赛事</p>
            <p class="subColor subTitle">制作水准达传统体育</p>
          </div>
          <div class="item" id="item2">
            <img src="{$smarty.const.STATIC_DOMAIN}1.0/images/index/2.png?{$smarty.const.VERSION}">
            <p class="activeColor mainFont">电竞商业化</p>
            <p class="subColor subTitle">电竞整合营销服务商&电竞资源平台</p>
          </div>
          <div class="item" id="item3"> 
            <img src="{$smarty.const.STATIC_DOMAIN}1.0/images/index/3.png?{$smarty.const.VERSION}">
            <p class="activeColor mainFont">电竞电视</p>
            <p class="subColor subTitle">电视大屏大型流量入口</p>
            <p class="subColor subTitle">打造电竞大屏生态</p>
          </div>
          <div class="item" id="item4"> 
            <img src="{$smarty.const.STATIC_DOMAIN}1.0/images/index/4.png?{$smarty.const.VERSION}">
            <p class="activeColor mainFont">节目制作</p>
            <p class="subColor subTitle">打造游戏、电竞泛娱乐内容</p>
            <p class="subColor subTitle">为行业发展提供新思路</p>
          </div>
          <div class="item" id="item5">
            <img src="{$smarty.const.STATIC_DOMAIN}1.0/images/index/5.png?{$smarty.const.VERSION}">
            <p class="activeColor mainFont">艺人经纪</p>
            <p class="subColor subTitle">专业的电竞经纪团队</p>
            <p class="subColor subTitle">集培养运营包装一体化</p>
            <p class="subColor subTitle">依托赛事平台从各方面培养解说明星</p>
          </div>
          <div class="item" id="item6">
            <img src="{$smarty.const.STATIC_DOMAIN}1.0/images/index/6.png?{$smarty.const.VERSION}">
            <p class="activeColor mainFont">电竞场馆</p>
            <p class="subColor subTitle">三大场馆开启电竞地域化布局</p>
            <p class="subColor subTitle">4K高清转播车</p>
            <p class="subColor subTitle">卫视配套设备</p>
          </div>
          <div class="item" id="item7">
            <img src="{$smarty.const.STATIC_DOMAIN}1.0/images/index/7.png?{$smarty.const.VERSION}">
            <p class="activeColor mainFont">VSPN 公会</p>
            <p class="subColor subTitle">发掘并培养职业主播</p>
            <p class="subColor subTitle">拥有头部直播平台热门资源</p>
          </div>
        </div>
    </div>
    {include '../layouts/pc/footer.html'}
  </div>
</body>

<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/js/jquery.min.js?{$smarty.const.VERSION}"></script>
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/bootstrap/js/bootstrap.js?{$smarty.const.VERSION}"></script>
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/js/bootstrap-hover-dropdown.min.js?{$smarty.const.VERSION}"></script>
<script type="text/javascript">
      $("#businessList div").click(function(){
        var id = this.id;
        switch(id){
          case 'item1':
            window.location.href = '/p/match.html';
            break;
          case 'item2':
            window.location.href = '/p/brandmarketing.html';
            break;
          case 'item3':
            window.location.href = '/p/esportstv.html';
            break;
          case 'item4':
            window.location.href = '/p/programme.html';
            break;
          case 'item5':
            window.location.href = '/p/artistagent.html';
            break;
          case 'item6':
            window.location.href = '/p/venues.html';
            break;
          case 'item7':
            window.location.href = '/p/talentassociation.html';
            break;
        }
      });
  </script>

  <!--[if !IE]><!--><script>
    if (/*@cc_on!@*/false) {
        document.getElementByID('businessList').className+=' ie10';
    }
  </script><!--<![endif]-->
</html>