<!DOCTYPE>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="keywords" content="VSPN 赛事运营 王者荣耀职业联赛 中国足球电竞联赛 皇室战争皇冠锦标赛—中国区秋季赛 穿越火线职业联赛 球球大作战职业联赛 穿越火线枪战王者职业联赛 英雄联盟职业联赛 HPL联赛 kpl cefl ccgs cf bpl cfml lpl hpl">
  <link rel="shortcut icon" href="{$global.icon_img}">
  <link rel="stylesheet" type="text/css" href="{$smarty.const.STATIC_DOMAIN}1.0/bootstrap/css/bootstrap.css?{$smarty.const.VERSION}">
  <link rel="stylesheet" type="text/css" href="{$smarty.const.STATIC_DOMAIN}1.0/css/reset.css?{$smarty.const.VERSION}">
  <!--[if IE 9 ]>
  <link rel="stylesheet" type="text/css" media="all" href="{$smarty.const.STATIC_DOMAIN}1.0/css/e-sportsie.css?{$smarty.const.VERSION}" />
  <![endif]-->
  <!--[if !(IE 9)]><!--><link rel="stylesheet" type="text/css" href="{$smarty.const.STATIC_DOMAIN}1.0/css/e-sports.css?{$smarty.const.VERSION}"/><!--<![endif]-->
  <link rel="stylesheet" type="text/css" href="{$smarty.const.STATIC_DOMAIN}1.0/css/common.css?{$smarty.const.VERSION}">
  <!-- 预加载 -->
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/bpl/1.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/bpl/2.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/bpl/3.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/bpl/4.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/bpl/5.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/bpl/6.png?{$smarty.const.VERSION}" />

  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/cfml/1.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/cfml/2.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/cfml/3.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/cfml/4.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/cfml/5.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/cfml/6.png?{$smarty.const.VERSION}" />

  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/cf/1.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/cf/2.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/cf/3.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/cf/4.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/cf/5.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/cf/6.png?{$smarty.const.VERSION}" />

  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/hpl/1.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/hpl/2.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/hpl/3.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/hpl/4.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/hpl/5.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/hpl/6.png?{$smarty.const.VERSION}" />

  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/ccgs/1.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/ccgs/2.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/ccgs/3.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/ccgs/4.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/ccgs/5.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/ccgs/6.png?{$smarty.const.VERSION}" />

  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/cefl/1.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/cefl/2.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/cefl/3.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/cefl/4.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/cefl/5.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/cefl/6.png?{$smarty.const.VERSION}" />

  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/hpl/1.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/hpl/2.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/hpl/3.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/hpl/4.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/hpl/5.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/hpl/6.png?{$smarty.const.VERSION}" />

  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/hpl/1.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/hpl/2.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/hpl/3.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/hpl/4.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/hpl/5.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/hpl/6.png?{$smarty.const.VERSION}" />

  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/lpl/1.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/lpl/2.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/lpl/3.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/lpl/4.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/lpl/5.png?{$smarty.const.VERSION}" />
  <link rel="prefetch" href="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/detail/lpl/6.png?{$smarty.const.VERSION}" />

  <title>赛事运营</title>
</head>
<body>
  <div id="main" style="background: url({$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/bg.png?{$smarty.const.VERSION});background-color: #272728;background-size: 100% 100%;">
    {include '../layouts/pc/header.html'}
    <!-- 标题 -->
    <div class="mainTitle aboutTitle">
      <p class="activeColor topFont">赛事运营</p>
      <div class="title-line"></div>
      <div class="title-line-center"></div>
      <p class="subheadColor bottomFont">Events Operation</p>
    </div>
    <!-- 下方内容 -->
    <div style="width:100%;">
      <div class="content">
        <!-- 左侧的 -->
        <div class="leftDiv">
          <!-- 王者荣耀 -->
          <div id="kpl">
            <div class="kpl_img"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/kpl.png?{$smarty.const.VERSION}" alt="kpl"></div>
            <div class="kpl_text"><p>王者荣耀职业联赛</p></div>
          </div>

          <div class="cefl_ccgs">
            <!-- cefl && ccgs -->
            <div id="cefl">
              <div class="cefl_img"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/cefl.png?{$smarty.const.VERSION}" alt="cefl"></div>
              <div class="cefl_text"><p>中国足球电竞联赛CEFL</p></div>
            </div>
            <div id="ccgs">
              <div class="ccgs_img"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/ccgs.png?{$smarty.const.VERSION}" alt="ccgs"></div>
              <div class="ccgs_text"><p>皇室战争皇冠锦标赛—中国区秋季赛</p></div>
            </div>
          </div>
        </div>

        <!-- 右侧的 -->
        <div class="rightDiv">
          <div class="cf_bpl">
            <div id="cf">
              <div class="cf_img"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/cf.png?{$smarty.const.VERSION}" alt="cf"></div>
              <div class="cf_text"><p>穿越火线双端职业联赛</p></div>
            </div>
            <div id="pcpi">
              <div class="bpl_img"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/pcpi.png?{$smarty.const.VERSION}" alt="pcpi"></div>
              <div class="bpl_text"><p>PUBG CHINA PRO INVITATIONAL</p></div>
            </div>
          </div>

          <div class="cfml_lpl_hpl">
            <div id="lpl">
              <div class="cfml_img"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/lpl.png?{$smarty.const.VERSION}" alt="lpl"></div>
              <div class="cfml_text"><p>英雄联盟职业联赛</p></div>
            </div>
            <div id="bpl">
              <div class="lpl_img"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/bpl.png?{$smarty.const.VERSION}" alt="bpl"></div>
              <div class="lpl_text"><p>球球大作战职业联赛</p></div>
            </div>
            <div id="hpl">
              <div class="hpl_img"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/hpl.png?{$smarty.const.VERSION}" alt="hpl"></div>
              <div class="hpl_text"><p>HPL联赛</p></div>
            </div>
          </div>

        </div>
      </div>
    </div>
    {include '../layouts/pc/footer.html'}
  </div>
</body>

<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/js/jquery.min.js?{$smarty.const.VERSION}"></script>
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/bootstrap/js/bootstrap.js?{$smarty.const.VERSION}"></script>
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/js/bootstrap-hover-dropdown.min.js?{$smarty.const.VERSION}"></script>

<script type="text/javascript">

  $('#kpl, #cefl, #ccgs, #cf, #bpl, #pcpi, #lpl, #hpl').css('cursor','pointer');
  $('#kpl, #cefl, #ccgs, #cf, #bpl, #pcpi, #lpl, #hpl').click(function(){
    self.location = 'matchdetail.html?curMatch=' + this.id;
  });

</script>

</html>