<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="keywords" content="VSPN 节目制作 LyingMan 谁是国服第一 我来Carry 奔跑吧！脚男">
  <link rel="shortcut icon" href="{$global.icon_img}">
  <link rel="stylesheet" type="text/css" href="{$smarty.const.STATIC_DOMAIN}1.0/bootstrap/css/bootstrap.css?{$smarty.const.VERSION}">
  <link rel="stylesheet" type="text/css" href="{$smarty.const.STATIC_DOMAIN}1.0/css/reset.css?{$smarty.const.VERSION}">
  <!--[if IE 9 ]>
  <link rel="stylesheet" type="text/css" media="all" href="{$smarty.const.STATIC_DOMAIN}1.0/css/programmeie.css?{$smarty.const.VERSION}" />
  <![endif]-->
  <!--[if !(IE 9)]><!--><link rel="stylesheet" type="text/css" href="{$smarty.const.STATIC_DOMAIN}1.0/css/programme.css?{$smarty.const.VERSION}"/><!--<![endif]-->
  <link rel="stylesheet" type="text/css" href="{$smarty.const.STATIC_DOMAIN}1.0/css/common.css?{$smarty.const.VERSION}">
  <title>节目制作</title>
</head>
<body>
  <div id="main" style="background: url({$smarty.const.STATIC_DOMAIN}1.0/images/e-sports/bg.png?{$smarty.const.VERSION});background-color: #272728;">
    {include '../layouts/pc/header.html'}
    <!-- 标题 -->
    <div class="mainTitle aboutTitle">
      <p class="activeColor topFont">节目制作</p>
      <div class="title-line"></div>
      <div class="title-line-center"></div>
      <p class="subheadColor bottomFont">Programme Production</p>
    </div>
    <!-- 下方内容 -->
    <div style="width:100%;">
      <div class="content">

        <div class="program_title" style="left: -9px;top: -16px;background-color:#272728">《Lying Man》</div>
        <div class="program_title" style="right: -9px;top: -16px;background-color:#242424">《谁是国服第一》</div>
        <div class="program_title" style="left: 601px;top: 194px;background-color:#242424">《GodLie》</div>
        <div class="program_title" style="right: -9px;top: 404px;background-color:#242424">《奔跑吧！脚男》</div>

      
        <!-- 左侧的 -->
        <div class="lyingman">
          <div class="lm_img"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/programme/lyingman.png?{$smarty.const.VERSION}"></div>
          <div class="lm_text"><p>《Lying Man》是由战旗TV出品，量子体育VSPN制作的一档电竞烧脑类真人秀节目，目前节目的主要内容是狼人杀游戏。节目自2014年4月第一季开始，至今已连续制作播出了六季。从简约的装饰到复杂设计的舞台，从感性娱乐到专业苛求，从游戏主播到民间大神，让“狼人杀”游戏在许多年轻学生和白领中流行开来，口碑和收视数据取得双双成功。</p></div>
        </div>

        <!-- 右侧的 -->
        <div class="rightDiv">
          <div class="numberone">
            <div class="numberone_text"><p>《谁是国服第一》是由腾讯游戏出品，量子体育VSPN制作的一档围绕王者荣耀KPL的综艺节目，节目中邀请到当前人气职业选手每期就一个热门英雄进行探讨，通过综艺、攻略、SOLO三大环节展现选手的人物特点、对英雄的理解和实战操作，对选手进行立体化的包装。</p></div>
            <div class="numberone_img"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/programme/numberone.png?{$smarty.const.VERSION}"></div>
          </div>

          <div class="carry">
            <div class="carry_img"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/programme/godlie.png?{$smarty.const.VERSION}"></div>
            <div class="carry_text"><p>《GodLie》是由虎牙、优酷联合出品，量子体育VSPN制作的一档狼人杀互动竞技真人秀节目。节目自2017年9月第一季首播，至今已连续播出了两季。游戏在传统桌游的规则基础上，推出自制的游戏版型，采用“流量主播+专业选手”的形式，给观众带来不同以往的狼人杀感官体验！第二季有“国服第一狼王”JY惊喜加盟，“Bestkiller大神” AK等嘉宾强势坐阵。舞美唯美大手笔，制作品质精良，嘉宾配置出彩，观众反响热烈，《GodLie》令电竞烧脑真人秀再上一台阶。</p></div>
          </div>

          <div class="running">
            <div class="running_img"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/programme/running.png?{$smarty.const.VERSION}"></div>
            <div class="running_text"><p>《奔跑吧！脚男》是由暴雪和网易出品，量子体育VSPN制作的一档《魔兽世界》真人挑战节目，目前已播出两季。邀请来自全国各地的高端魔兽玩家，依靠技术和默契，进行通关史诗钥石地下城的竞赛。参赛玩家既有知名主播，也有国服排行榜上的高手常客。节目辅以《魔兽世界》主播进行解说，为观众提供清晰视角与评论，并提供各类贴士供玩家学习各类技巧。</p></div>
          </div>

        </div>
      </div>
    </div>
    {include '../layouts/pc/footer.html'}
  </div>
</body>
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/js/jquery.min.js?{$smarty.const.VERSION}"></script>
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/bootstrap/js/bootstrap.js?{$smarty.const.VERSION}"></script>
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/js/bootstrap-hover-dropdown.min.js?{$smarty.const.VERSION}"></script>

</html>