.page01 {
	width: 100%;
	height: 1115px;
	background: url(../images/bg.jpg) no-repeat center;
}

.page01 .main_content {
	width: 1200px;
	height: 1115px;
	margin: 0 auto;
	position: relative;
	background: url(../images/bg_1.jpg) no-repeat center;
}

.page01 .main_content .logo {
	width: 270px;
	height: 162px;
	position: absolute;
	left: 24px;
	top: 20px;
	z-index: 10;
}

.page01 .main_content .btn {
	width: 252px;
	height: 62px;
	background: url(../images/btn_bg.png) no-repeat center;
	position: absolute;
	left: 50%;
	margin-left: -126px;
	bottom: 279px;
}

.page01 .main_content .btn .play {
	width: 42px;
	height: 42px;
	display: inline-block;
	margin-left: 19px;
	margin-top: 12px;
	float: left;
}

.page01 .main_content .btn i {
	display: inline-block;
	float: left;
	font-size: 36px;
	color: #fff;
	line-height: 62px;
	margin-left: 18px;
}

.page02 {
	width: 100%;
	height: 2609px;
	background: url(../images/bg02.jpg) no-repeat center;
}

.page02 .main_content {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.page02 .main_content .title {
	width: 399px;
	height: 96px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -199.5px;
}

.page02 .main_content .huxian {
	width: 1403px;
	height: 1888px;
	position: absolute;
	left: -170px;
	top: 282px;
}

.page02 .main_content .qmxw {
	width: 677px;
	height: 499px;
	position: absolute;
	top: 120px;
	left: 0;
}

.page02 .main_content .zxfl {
	width: 474px;
	height: 541px;
	position: absolute;
	top: 662px;
	left: 97px;
}

.page02 .main_content .jxzk {
	width: 556px;
	height: 497px;
	position: absolute;
	top: 1340px;
	right: 25px;
}

.page02 .main_content .zzwz {
	width: 617px;
	height: 566px;
	position: absolute;
	bottom: 121px;
	right: 0;
}

.page03 {
	width: 100%;
	height: 1274px;
	background: url(../images/bg03.jpg) no-repeat center;
}

.page03 .main_content {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.page03 .main_content .dywz {
	width: 399px;
	height: 96px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -199.5px;
}

.page03 .main_content .dyr {
	width: 871px;
	height: 403px;
	position: absolute;
	top: 511px;
	left: 50%;
	margin-left: -435.5px;
}

.page03 .main_content .txt {
	width: 677px;
	height: 110px;
	position: absolute;
	bottom: 162px;
	left: 50%;
	margin-left: -338.5px;
}

.page04 {
	width: 100%;
	height: 560px;
	background: url(../images/bg04.jpg) no-repeat center;
}

.page04 .main_content {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.page04 .main_content .gkwb {
	width: 399px;
	height: 96px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -199.5px;
}

.page04 .main_content .xx {
	width: 522px;
	height: 624px;
	position: absolute;
	top: -56px;
	right: -46px;
}

.page04 .main_content .txt02 {
	width: 634px;
	height: 233px;
	position: absolute;
	top: 184px;
	left: 88px;
}

.page05 {
	width: 100%;
	height: 615px;
	background: url(../images/bg05.jpg) no-repeat center;
}

.page05 .main_content {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.page05 .main_content .ppm {
	width: 399px;
	height: 96px;
	margin: 0 auto;
}

.page05 .main_content .qudao {
	width: 1097px;
	height: 87px;
	margin-left: 53px;
	margin-top: 33px;
}

.page05 .main_content .qudao i {
	display: inline-block;
	width: 114px;
	height: 59px;
	background: url(../images/txt_bg.png) no-repeat center;
	line-height: 59px;
	font-size: 32px;
	color: #fb1e6c;
	font-weight: bold;
	text-align: center;
	float: left;
	margin-top: 10px;
}

.page05 .main_content .qudao ul li {
	width: 205px;
	height: 87px;
	float: left;
	margin-right: 40px;
	position: relative;
}


#total {
	width: 339px;
	height: 96px;
	background:url(../images/num_bg.png) no-repeat center;
	position:absolute;
	bottom:393px;
	left:437px;
}

#total .t_num {
	display: inline-block;
	position:absolute;
	right:42px;
	bottom:19px;
}

#total .t_num i {
	width: 25px;
	height: 51px;
	display: inline-block;
	background:url(../images/num.png) no-repeat;
	background-position: 0 0;
	text-indent: -999em;
	margin:0 2px;
}