<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <title>{$seo_title}</title>
        <meta name="keywords" content="{$seo_key}" />
        <meta name="description" content="{$seo_desc}" />
        <link href="{$smarty.const.STATIC_DOMAIN}1.0/images/favicon.ico?{$smarty.const.VERSION}" rel="SHORTCUT ICON">
        {csrf}
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}1.0/css/swiper-3.4.0.min.css?{$smarty.const.VERSION}" />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}1.0/css/public.css?{$smarty.const.VERSION}" />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}1.0/css/cover.css?{$smarty.const.VERSION}" />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}1.0/css/lx_style.css?{$smarty.const.VERSION}" />
		<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/js/jquery-1.11.2.min.js?{$smarty.const.VERSION}"></script>
        <script data-fixed="true">
            if ((/iphone|android|mobile/i.test(navigator.userAgent.toLowerCase()))) {
                location.href = "/m"+window.location.pathname+window.location.search;
            }
        </script>

	</head>
	
	<body>
		<div class="kv">
			<div class="wrap">
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/slogan.png?{$smarty.const.VERSION}" class="slogan" />
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/p1.png?{$smarty.const.VERSION}" class="p_img" />
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/plan.png?{$smarty.const.VERSION}" class="plan" />
				<div class="d_bg">
					<p class="first_p">扫描二维码下载</p>
					<img alt="" class="js_jump_img"  src="{$smarty.const.STATIC_DOMAIN}1.0/images/noCode.png?{$smarty.const.VERSION}"/>
					<div class="down">
						<a class="" href="javascript:yx_showTips('敬请期待<br>本次为安卓删档测试');"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/app.png?{$smarty.const.VERSION}" alt="" /></a>
						<a class="" href="//downurl.zhengyuetech.com/android/mrjs_pcgw.html"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/and.png?{$smarty.const.VERSION}" alt="" /></a>
						<a href="https://www.taptap.com/app/52292" class="stat_tap" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/tap.png?{$smarty.const.VERSION}" alt="" /></a>
					</div>
					<a href="javascript:;" class="yy"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/yy.png?{$smarty.const.VERSION}" alt="" /></a>
					<p class="renshu">当前预约人数 <span></span></p>
				</div>
                <div class="play">
					{fragment var=video code=video size=1}
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/n_play.png?{$smarty.const.VERSION}" alt="" />
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/n_play1.png?{$smarty.const.VERSION}" />
					<img class="js_video_play" src="{$smarty.const.STATIC_DOMAIN}1.0/images/b_play.png?{$smarty.const.VERSION}" alt="" data-url="{if $video}{$video[0].url}{/if}"/>
				</div>
                <a href="/index.html" class="enter_gw" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/enter.png?{$smarty.const.VERSION}" alt="" /></a>
			</div>
			<div class="nav_list">
				 <div class="nav_down">
				 	<div class="nav_left">
				 		<p class="nav_left_p">预约奖励：</p>
				 		<ul>
				 			<li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/lsp.png?{$smarty.const.VERSION}" alt="" /><p>随机脸饰包*1</p></li>
				 			<li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/hun.png?{$smarty.const.VERSION}" alt="" /><p>初级神兽之魂*10</p></li>
				 			<li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/qhs.png?{$smarty.const.VERSION}" alt="" /><p>宠物强化石*5</p></li>
				 			<li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/yinbi.png?{$smarty.const.VERSION}" alt="" /><p>银币*100000</p></li>
				 		</ul>
				 	</div>
				 	<div class="check_gift">
				 		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/check.png?{$smarty.const.VERSION}" alt="" />
				 		<span class="s_sanjiao">^</span>
				 		<p>礼包领取成功后，请<span>点我</span>兑换到游戏</p>
				 	</div>
				 </div>
			</div>
		</div>
		<div class="page_two">
			<div class="wrap">
				<div class="c_number">
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
				<div class="c_xianshi">
                    <div class="yueGiftBox yueGiftBox1">
                    	<div class="giftDialog giftDialog1">
			                <ul>
			                    <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift1-1.png?{$smarty.const.VERSION}">随机染色剂</li>
			                    <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift-all-1.png?{$smarty.const.VERSION}">初级神兽之魂*5</li>
			                    <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift1-3.png?{$smarty.const.VERSION}">宠物强化石*3</li>
			                    <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift-all.png?{$smarty.const.VERSION}">银币*50000</li>
			                </ul>
			                <div class="noReach">未达成</div>
			                <div class="get">可领取</div>
			                <div class="getSuccess">
			                    <h4>领取成功</h4>
			                    <p>点击“查看我的礼包”领取到游戏</p>
			                </div>
			            </div>
                    </div>
                    <div class="yueGiftBox yueGiftBox2">
                    	<div class="giftDialog giftDialog2">
			                <ul>
			                    <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift2-1.png?{$smarty.const.VERSION}">随机脸饰包</li>
			                    <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift-all-1.png?{$smarty.const.VERSION}">初级神兽之魂*10</li>
			                    <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift1-3.png?{$smarty.const.VERSION}">宠物强化石*5</li>
			                    <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift-all.png?{$smarty.const.VERSION}">银币*100000</li>
			                </ul>
			                <div class="noReach">未达成</div>
			                <div class="get">可领取</div>
			                <div class="getSuccess">
			                    <h4>领取成功</h4>
			                    <p>点击“查看我的礼包”领取到游戏</p>
			                </div>
			            </div>
                    </div>
                    <div class="yueGiftBox yueGiftBox3">
                    	<div class="giftDialog giftDialog3">
			                <ul>
			                    <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift1-1.png?{$smarty.const.VERSION}">随机染色剂</li>
			                    <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift_book.png?{$smarty.const.VERSION}">初级宠物秘籍*1</li>
			                    <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift-all-1.png?{$smarty.const.VERSION}">初级神兽之魂*10</li>
			                    <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift-all.png?{$smarty.const.VERSION}">银币*50000</li>
			                </ul>
			                <div class="noReach">未达成</div>
			                <div class="get">可领取</div>
			                <div class="getSuccess">
			                    <h4>领取成功</h4>
			                    <p>点击“查看我的礼包”领取到游戏</p>
			                </div>
			            </div>
                    </div>
                    <div class="yueGiftBox yueGiftBox4">
                    	<div class="giftDialog giftDialog4">
			                <ul>
			                    <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift3-1.png?{$smarty.const.VERSION}">S级侠客碎片*50</li>
			                    <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift-all-1.png?{$smarty.const.VERSION}">初级神兽之魂*15</li>
			                    <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift3-3.png?{$smarty.const.VERSION}">藏宝图*3</li>
			                    <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift-all.png?{$smarty.const.VERSION}">银币*100000</li>
			                </ul>
			                <div class="noReach">未达成</div>
			                <div class="get">可领取</div>
			                <div class="getSuccess">
			                    <h4>领取成功</h4>
			                    <p>点击“查看我的礼包”领取到游戏</p>
			                </div>
			            </div>
                    </div>
                    <div class="yueGiftBox yueGiftBox5">
                    	<div class="giftDialog giftDialog5">
			                <ul>
			                    <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift3-3.png?{$smarty.const.VERSION}">藏宝图*3</li>
			                    <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift_juan.png?{$smarty.const.VERSION}">悬赏卷轴(紫色)*3</li>
			                    <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift_dan.png?{$smarty.const.VERSION}">修炼神丹*1</li>
			                    <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift-all.png?{$smarty.const.VERSION}">银币*100000</li>
			                </ul>
			                <div class="noReach">未达成</div>
			                <div class="get">可领取</div>
			                <div class="getSuccess">
			                    <h4>领取成功</h4>
			                    <p>点击“查看我的礼包”领取到游戏</p>
			                </div>
			            </div>
                    </div>
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/libao.png?{$smarty.const.VERSION}" alt="" class="libao" />
					<ul class="yueGiftLine">
						<li data-index="1">
							<div class="li_img">
								<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/w.png?{$smarty.const.VERSION}" alt=""/><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/h.png" alt="" />
							</div>
							<p>5000人礼包</p>
						</li>
						<li data-index="2">
							<div class="li_img">
								<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/w.png?{$smarty.const.VERSION}" alt=""/><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/h.png" alt="" />
							</div>
							<p>10000人礼包</p>
						</li>
						<li data-index="3">
							<div class="li_img">
								<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/w.png?{$smarty.const.VERSION}" alt=""/><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/h.png" alt="" />
							</div>
							<p>50000人礼包</p>
						</li>
						<li data-index="4">
							<div class="li_img">
								<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/w.png?{$smarty.const.VERSION}" alt=""/><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/h.png" alt="" />
							</div>
							<p>100000人礼包</p>
						</li>
						<li data-index="5">
							<div class="li_img">
								<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/w.png?{$smarty.const.VERSION}" alt=""/><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/h.png" alt="" />
							</div>
							<p>500000人礼包</p>
						</li>
						<i>
							<span class="line"></span>
						</i>
					</ul>
				</div>
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/tree1.png?{$smarty.const.VERSION}" alt="" class="tree1"/>
			</div>
		</div>
		<div class="haoyou">
			<div class="wrap">
				<div class="chengg"></div>
				<div class="c_denglu">
					<div class="a_denglu">
						<p class="denglu_p"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/person.png?{$smarty.const.VERSION}" alt="" /><span></span><i  class="zhuxiao">注销</i></p>
						<div class="yqm">
							我的邀请码<span id="tc8_copyTextz">93556691</span>
							<i id="tc8_copyBtnz" data-clipboard-action="copy" data-clipboard-target="#tc8_copyTextz">复制</i>
						</div>
						<p class="yqr">已成功邀请<span>0</span>位好友</p>
						<a href="javascript:;" class="share_haoyou"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/share.png?{$smarty.const.VERSION}" alt="" /></a>
					</div>
					<div class="b_denglu active">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/denglu.png?{$smarty.const.VERSION}" alt="" />
					</div>
				</div>
				<ul class="zhaohu">
					<li class="zhaohuBox">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift1.png?{$smarty.const.VERSION}" />
						<div class="btn_z">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/wdc.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/lq.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/ylq.png?{$smarty.const.VERSION}" alt="" />
						</div>
                        <div class="yaoGiftBox yaoGiftBox1">
                            <ul class="li_tc">
                                <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift_biaoqing.png">随机表情包1</li>
                                <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift3-3.png">藏宝图*3</li>
                                <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift-all-1.png?{$smarty.const.VERSION}">初级神兽之魂*5</li>
                                <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift-all.png?{$smarty.const.VERSION}">银币*50000</li>
                            </ul>

                        </div>
					</li>
					<li class="zhaohuBox">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift2.png?{$smarty.const.VERSION}" />
						<div class="btn_z">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/wdc.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/lq.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/ylq.png?{$smarty.const.VERSION}" alt="" />
						</div>
                        <div class="yaoGiftBox yaoGiftBox2">
                            <ul class="li_tc">
                                <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift3-1.png?{$smarty.const.VERSION}">S级侠客碎片*50</li>
                                <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift-all-1.png?{$smarty.const.VERSION}">初级神兽之魂*15</li>
                                <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift3-3.png?{$smarty.const.VERSION}">藏宝图*3</li>
                                <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift-all.png?{$smarty.const.VERSION}">银币*100000</li>
                            </ul>

                        </div>
					</li>
					<li class="zhaohuBox">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift3.png?{$smarty.const.VERSION}" />
						<div class="btn_z">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/wdc.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/lq.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/ylq.png?{$smarty.const.VERSION}" alt="" />
						</div>
                        <div class="yaoGiftBox yaoGiftBox3">
                            <ul class="li_tc">
                                <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift3-1.png?{$smarty.const.VERSION}">S级侠客碎片*50</li>
                                <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift-all-1.png?{$smarty.const.VERSION}">初级神兽之魂*20</li>
                                <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift4-3.png?{$smarty.const.VERSION}">豪杰酒(紫)*1</li>
                                <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift-all.png?{$smarty.const.VERSION}">银币*100000</li>
                            </ul>

                        </div>
					</li>
					<li class="zhaohuBox">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift4.png?{$smarty.const.VERSION}" />
						<div class="btn_z">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/wdc.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/lq.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/ylq.png?{$smarty.const.VERSION}" alt="" />
						</div>
                        <div class="yaoGiftBox yaoGiftBox4">
                            <ul class="li_tc">
                                <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift_jiaju.png?{$smarty.const.VERSION}">高级家具礼包*1</li>
                                <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift3-3.png?{$smarty.const.VERSION}">藏宝图*3</li>
                                <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift4-3.png?{$smarty.const.VERSION}">豪杰酒(紫)*1</li>
                                <li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift-all.png?{$smarty.const.VERSION}">银币*100000</li>
                            </ul>

                        </div>
					</li>
				</ul>
				<ul class="h_person">
					<li class=""><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/h_person1.png?{$smarty.const.VERSION}" alt="" /></li>
					<li class=""><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/h_person2.png?{$smarty.const.VERSION}" alt="" /></li>
					<li class=""><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/h_person3.png?{$smarty.const.VERSION}" alt="" /></li>
					<li class=""><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/h_person4.png?{$smarty.const.VERSION}" alt="" /></li>
					<li class=""><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/h_person5.png?{$smarty.const.VERSION}" alt="" /></li>
					<li class=""><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/h_person6.png?{$smarty.const.VERSION}" alt="" /></li>
					<li class=""><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/h_person7.png?{$smarty.const.VERSION}" alt="" /></li>
					<li class=""><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/h_person8.png?{$smarty.const.VERSION}" alt="" /></li>
					<li class=""><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/h_person9.png?{$smarty.const.VERSION}" alt="" /></li>
					<li class=""><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/h_person10.png?{$smarty.const.VERSION}" alt="" /></li>
				</ul>
			</div>
		</div>
		<div class="page_four">
			<div class="wrap">
                <p class="four_p">欢迎您，<span class="four_phone"></span>已成功邀请<span class="four_yao"></span>位好友，剩余<span class="four_chance"></span>参与机会</p>
                <div class="p_yd"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/yindao.png?{$smarty.const.VERSION}" alt="" /></div>
				<div class="t_yuan">
					<div id="rotate"></div>
					<div class="pointer">
						<p>当前剩余<span class="chance">0</span>次</p>
					</div>
				</div>
				<div class="guize">
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/rule.png?{$smarty.const.VERSION}" alt="" />
				</div>
				<div class="guize_rule">
					<p>1.每个账号参与抽奖次数<span>仅限5次</span></p>
					<p>2.抽奖次数获取方式：
					<p>● 成功预约即可获1次抽奖机会</p>
					<p>● 获取邀请礼包的同时可额外增加1次抽奖次数哦~</p>
					<p>3.玩家转动转盘，每档奖励<span>只能获取1次</span>，代表转的越多，获取到实物奖励的几率越大哦</p>
					<p>4.预约活动奖励，只能用预约的手机号注册登录领取，且<span>只能获取1次</span></p>
					<p>5.实物奖励<span>数量有限</span>，送完即止！</p>
					<p>6.实物奖励仅限一次填写地址的机会，请填写正确的收件人信息和地址，工作人员将在游戏开启后的15个工作日之内发放奖励。（若因各种因素，导致地址未填写，请联系客服确认信息后留下地址）</p>
					<p>7.用户通过非法途径所获活动奖励我司有权追回并追究其法律责任</p>
					<p>8.若由于获奖者自身原因导致获奖者无法按活动规则实际享有该奖品的，视为获奖者自愿放弃获奖，我司将不会给与获奖者任何形式的补偿</p>
				</div>
			</div>
		</div>
		<div class="page_five">
			<div class="wrap">
				<div class="chengg"></div>
				<div class="f_banner">
					<div class="chengg"></div>
					<div class="l_banner">
						{fragment var=banner code=cover_banner size=5}
						<ul class="swiper-wrapper">
							{if $banner neq ''}
								{foreach $banner as $v}
									<li class="swiper-slide"><img src="{$v.thumb}" alt="" /></li>
								{/foreach}
							{/if}
						</ul>
					</div>
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>
			</div>
		</div>
		<div class="float">
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pone.png?{$smarty.const.VERSION}" alt="" class="pone" />
			<ul>
				<li class="active" data-index="1">
					<a href="javascript:;"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/room.png?{$smarty.const.VERSION}" /><em>预约首页</em></a>
				</li>
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/xian.png?{$smarty.const.VERSION}" alt="" class="xian" />
				<li data-index="2">
					<a href="javascript:;"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/xiaoxi.png?{$smarty.const.VERSION}" /><em>岛民集结</em></a>
				</li>
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/xian.png?{$smarty.const.VERSION}" alt="" class="xian" />
				<li data-index="3">
					<a href="javascript:;"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/nav1.png?{$smarty.const.VERSION}" /><em>召唤好友</em></a>
				</li>
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/xian.png?{$smarty.const.VERSION}" alt="" class="xian" />
				<li data-index="4">
					<a href="javascript:;"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/nav2.png?{$smarty.const.VERSION}" /><em>幸运转盘</em></a>
				</li>
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/xian.png?{$smarty.const.VERSION}" alt="" class="xian" />
				<li data-index="5">
					<a href="javascript:;"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/nav3.png?{$smarty.const.VERSION}" /><em>游戏特色</em></a>
				</li>
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/xian.png?{$smarty.const.VERSION}" alt="" class="xian" />
			</ul>
			<div class="f_nav">
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/wx_code.png?{$smarty.const.VERSION}" alt="" />
				<h3>微信公众号</h3>
				<p>玩家Q群</p>
				<p>689772061</p>
			</div>
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/xian.png?{$smarty.const.VERSION}" alt="" class="xian1" />
			<div class="back">
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/back.png?{$smarty.const.VERSION}" alt="" />
				<p>返回顶部</p>
			</div>
			<div class="f_close">
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/f_close.png?{$smarty.const.VERSION}"/>
			</div>
		</div>
		<div class="cont5">
			<div class="wrap">
				<ul>
					<li>
						<img class="noCode" src="//cdnimg02.zhengyuetech.com/M00/0C/34/ChpCl1txgMyEfspGAAAAABhqU-g832.png" />
						<!--<img src="http://cdnstatic.yingxiong.com/dream//images/code1.png">-->
						<div class="bottom_txt">
							<h4>下载游戏</h4>
								<p>扫描下载</p>
								<p>参加安卓删档测试</p>
								<p>iOS用户敬请期待</p>
						</div>
					</li>
					<li>
						<img class="noCode" src="//cdnstatic.zhengyuetech.com/dream//images/weicode.png?{$smarty.const.VERSION}">
						<!--<img src="http://cdnstatic.yingxiong.com/dream//images/code2.png">-->
                        <div class="bottom_txt">
                            <h4>官方QQ群</h4>
                            <p>官方QQ群：</p>
                            <!--<p>689772061</p>-->
                            <a href="javascript:;">689772061</a>
                        </div>
						<!--<p>官方微信号</p>-->
						<!--<p><a href="">huanxiangwuhu</a></p>-->
					</li>
					<li>
						<img src="//cdnstatic.zhengyuetech.com/dream//images/code3.png">
                        <div class="bottom_txt">
							<h4>客户服务</h4>
							<!--<p>客服QQ：<a href="javascript:;">2249968566</a></p>-->
							<p>客服电话：<a href="javascript:;">028-‭63100360</a></p>
							<p><a href="https://webim.zhengyuetech.com" target="_blank">点击前往人工客服</a></p>
							<p><a href="https://kf.zhengyuetech.com" target="_blank">点击前往自助客服</a></p>
							<p>关注微信号后，点击在线客服</p>
							<!--<p>客服反馈邮箱：<a href="javascript:;">2378458966@qq.com</a></p>-->
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="copyright">
			<p>
				<a href="//zhengyuetech.com/category/58.html" title="公司简介" target="_blank">关于我们</a> |
				<a href="//zhengyuetech.com/category/61.html" title="企业文化" target="_blank">企业文化</a> |
				<a href="//zhengyuetech.com/category/42.html" title="运营经理" target="_blank">人才招聘</a> |
				<a href="//zhengyuetech.com/category/50.html" title="商务合作" target="_blank">商务合作</a> |
				<a href="//zhengyuetech.com/category/57.html" title="客服中心" target="_blank">客服中心</a>
			</p>
			<p>此游戏适合18岁以上，抵制不良游戏，拒绝盗版游戏，注意自我保护，谨防受骗上当，适度游戏，合理安排时间，享受健康生活</p>
			<p>Copyright©2015 成都正越科技有限公司 版权所有 </p>
			<p>公司地址：成都高新区肖家河环三巷2号9幢1层</p>
			<p>蜀ICP备18011081号</p>
		</div>
		<!--<div class="login">-->
			<!--<div class="c_login">-->
				<!--<img src="images/t_logo.png" alt="" class="t_logo" />-->
				<!--<img src="images/ps.png" alt="" class="ps" />-->
				<!--<img src="m/images/close.png" alt="" class="c_close"/>-->
			<!--</div>-->
		<!--</div>-->

		<div class="mask">
			<div class="dialog dialog-success">
				<div class="close"></div>
				<div class="chengg"></div>
				<h3>恭喜您，预约成功</h3>
				<p>邀请好友填写邀请码预约</p>
				<p>即可获得额外预约活动抽奖机会</p>
				<h4>您的邀请码为：<span id="tc9_copyTextz"></span><i id="tc9_copyBtnz" data-clipboard-action="copy" data-clipboard-target="#tc9_copyTextz">复制</i></h4>
				<p class="success_tit success_tit1">1、预约后获得游戏福利，只能用预约的手机<br />号注册登录领取，且只能领取一次</p>
				<p class="success_tit">2、将您的邀请码告诉好友，好友预约时填写，<br />您将会获取更丰厚的奖励</p>
				<div class="lj_order">立即分享</div>
			</div>
			<div class="dialog dialog-yue">
				<div class="close"></div>
				<div class="dialog-main">
					<p class="dialog-title">邀请好友</p>
					<!--<ul class="share-box jiathis_style">
						<li><a class="jiathis_button_qzone" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/qqShare.png?{$smarty.const.VERSION}" alt=""></a></li>
						<li><a class="jiathis_button_tsina" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/weiboShare.png?{$smarty.const.VERSION}" alt=""></a></li>
                        <li><a href="/site/ajax-share.html" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/weiShare.png?{$smarty.const.VERSION}" alt=""></a></li>
					</ul>-->
					<a title="分享到微信" class="bshare-weixin-1" href="/site/ajax-share.html" target="_blank"></a>
					<div class="bshare-custom share-box">
						<div class="bsPromo bsPromo2"></div>
						<a title="分享到新浪微博" class="bshare-sinaminiblog" href="javascript:void(0);"></a>
						<a title="分享到QQ空间" class="bshare-qzone"></a>
					<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
					<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
					</div>
					<!-- JiaThis Button END -->					
					<div class="shareCode">
						<img class="myCode" src="">
						<p class="yaoTitle">扫描二维码邀请好友</p>
						<p class="myYao">我的邀请码</p>
						<div class="yaoNum" id="tc7_copyTextz"></div>
						<div class="fuzhi" id="tc7_copyBtnz" data-clipboard-action="copy" data-clipboard-target="#tc7_copyTextz"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/fuzhi.png?{$smarty.const.VERSION}" alt="" /></div>
					</div>
				</div>
			</div>
			<div class="dialog dialog-information">
				<div class="close"></div>
				<div class="dialog-main">
					<div class="chengg"></div>
					<p class="dialog-title">马上登录</p>
					<div class="information-box">
						<p class="err" id="phone-err"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/err.png?{$smarty.const.VERSION}">请输入手机号/邮箱/用户名</p>
						<input id="phone" type="text" placeholder="请输入手机号">
						<p class="err" id="img-code-err"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/err.png?{$smarty.const.VERSION}">请输入图形验证码</p>
						<div class="img-code-box">
							<input id="img-code" type="text" placeholder="请输入验证码">
							<button id="getMarkBtn1">
								<!--<img id="captcha-img" src="/commonMethod/captcha.html?v=5a7bcac43e6e7" alt="" title="换一个" style="cursor:pointer;">-->
                                {$captcha_img}
							</button>
							<p class="co_imgtxt">点击图片刷新</p>
						</div>
						<p class="err" id="code-err"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/err.png?{$smarty.const.VERSION}">请输入验证码</p>
						<div class="code-box">
							<input id="code" type="text" placeholder="请输入验证码">
							<button id="getMarkBtn">获取验证码</button>
						</div>
						<img class="information-btn" src="{$smarty.const.STATIC_DOMAIN}1.0/images/loginBtn.png?{$smarty.const.VERSION}" alt="">
					</div>
				</div>
			</div>

			<div class="dialog dialog-type">
				<div class="close"></div>
				<div class="dialog-main">
					<div class="chengg"></div>
					<p class="dialog-title">预约信息</p>
					<div class="checkBox" id="type">
						<p class="active" data-index="1">
							<label><i></i></label><span>IOS</span>
						</p>
						<p data-index="2">
							<label><i></i></label><span>Android</span>
						</p>
					</div>
					<div class="friend-box">
						<span class="friend-word"><i>▪</i>是否有好友邀请？</span>
						<div class="checkBox" id="friend-checkBox">
							<p class="active" data-index="3">
								<label><i></i></label><span>是</span>
							</p>
							<p data-index="4">
								<label><i></i></label><span>否</span>
							</p>
						</div>
						<input type="text" placeholder="请输入邀请码" id="friend-input">
						<img class="friend-btn" src="{$smarty.const.STATIC_DOMAIN}1.0/images/yueBtn.png?{$smarty.const.VERSION}" alt="">
					</div>
				</div>
			</div>

            <div class="dialog dialog-prise">
                <div class="close"></div>
                <div class="dialog-main">
                	<div class="chengg"></div>
                    <p>您绑定的手机号</p>
                    <h4></h4>
                    <div class="huadong">
                    	<!--<table>
	                        <thead>
	                        <tr>
	                            <th>礼包名称</th>
	                            <th>是否达成</th>
	                        </tr>
	                        </thead>
	                        <tbody>
								<tr><td>预约礼包</td><td>未达成</td></tr>
								<tr><td>邀请一人礼包</td><td>未达成</td></tr>
								<tr><td>邀请三人礼包</td><td>未达成</td></tr>
	                        	<tr><td>邀请五人礼包</td><td>未达成</td></tr>
	                        	<tr><td>邀请十人礼包</td><td>未达成</td></tr>
	                        	<tr><td>5000人预约礼包</td><td>未达成</td></tr>
	                        	<tr><td>10000人预约礼包</td><td>未达成</td></tr>
	                        	<tr><td>50000人预约礼包</td><td>未达成</td></tr>
	                        	<tr><td>100000人预约礼包</td><td>未达成</td></tr>
	                        	<tr><td>500000人预约礼包</td><td>未达成</td></tr>
	                        </tbody>
	                    </table>-->
	                    <ul class="table_ul table_ul2">
							<li>
								<span>礼包名称</span>
								<span>是否达成</span>
							</li>
							<li>
								<span>预约礼包</span>
								<span>未达成</span>
							</li>
							<li>
								<span>邀请一人礼包</span>
								<span>未达成</span>
							</li>
							<li>
								<span>邀请三人礼包</span>
								<span>未达成</span>
							</li>
							<li>
								<span>邀请五人礼包</span>
								<span>未达成</span>
							</li>
							<li>
								<span>邀请十人礼包</span>
								<span>未达成</span>
							</li>
							<li>
								<span>5000人预约礼包</span>
								<span>未达成</span>
							</li>
							<li>
								<span>10000人预约礼包</span>
								<span>未达成</span>
							</li>
							<li>
								<span>50000人预约礼包</span>
								<span>未达成</span>
							</li>
							<li>
								<span>100000人预约礼包</span>
								<span>未达成</span>
							</li>
							<li>
								<span>500000人预约礼包</span>
								<span>未达成</span>
							</li>
						</ul>
						<ul class="table_ul table_ul1">
							<!--<li><span>500000人预约礼包</span><span>可领取至游戏</span></li>
							<li><span>500000人预约礼包</span><span>可领取至游戏</span></li>
							<li><span>500000人预约礼包</span><span>可领取至游戏</span></li>
							<li><span>500000人预约礼包</span><span>可领取至游戏</span></li>
							<li><span>500000人预约礼包</span><span>可领取至游戏</span></li>-->
						</ul>
                    </div>
					<img class="yjlq allIn" src="{$smarty.const.STATIC_DOMAIN}1.0/images/c_allInPhone.png?{$smarty.const.VERSION}" alt="">
                </div>
            </div>

            <div class="dialog dialog-materialGift">
                <div class="close"></div>
                <div class="dialog-main">
                	<div class="chengg"></div>
                    <h4>恭喜您已获得</h4>
                    <img class="giftImage" src="{$smarty.const.STATIC_DOMAIN}1.0/images/c_giftImage.png?{$smarty.const.VERSION}" alt="">
                    <span class="giftName">邀请1人礼包</span>
                    <p>请点击“查看我的礼包”领取到游戏</p>
                    <img class="clickBtn" src="{$smarty.const.STATIC_DOMAIN}1.0/images/click.png?{$smarty.const.VERSION}" />
                </div>
            </div>

            <div class="dialog dialog-nullGift">
                <div class="s_close"></div>
                <div class="dialog-main">
                	<div class="chengg"></div>
                    <h4>恭喜您已获得</h4>
                    <img class="giftImage" src="{$smarty.const.STATIC_DOMAIN}1.0/images/c_giftImage.png?{$smarty.const.VERSION}" alt="">
                    <span class="giftName2">iphoneX</span>
                    <input type="text" placeholder="请输入您的地址" class="address">
                    <input type="text" placeholder="请输入您的手机号码" class="phoneNum">
                    <input type="text" placeholder="请输入您的联系姓名" class="name">
                    <img class="clickBtn" src="{$smarty.const.STATIC_DOMAIN}1.0/images/click.png?{$smarty.const.VERSION}" />
                </div>
            </div>
            
            <div class="dialog queren">
				<span class="queren_close"></span>
				<div class="chengg"></div>
				<p class="queren_p">您是否确认信息填写正确？</p>
				<p>提交后将无法修改</p>
				<div class="queren_btn">
					<span class="tijiao">我已确认</span>
					<span class="fanhui">还需要修改</span>
				</div>
			</div>
			
			<div class="dialog delete">
				<span class="delete_close"></span>
				<div class="chengg"></div>
				<p class="delete_p">如果您关闭此页面，则自动放弃该奖励</p>
				<p>是否确认要放弃此奖励？</p>
				<div class="delete_span">
					<div><span class="fangqi">是</span><i>确认放弃奖励</i></div>
					<div><span class="fou">否</span><i>开始填写</i></div>
				</div>
			</div>
			
			<div class="dialog f_fail">
				<span class="close"></span>
				<div class="chengg"></div>
				<p class="fail_p">很抱歉的通知您，您的礼包发送失败</p>
				<p>可能原因如下：</p>
				<p>1，您未通过预约手机号码进行注册。（奖励仅发放至预约手机号账号中）</p>
				<p>2，您所选择大区未创建角色</p>
				<p>3，其他未知错误请加入官方Q群联系管理员（Q群：689772061）</p>
			</div>
			
			<div class="dialog f_success">
				<span class="close"></span>
				<div class="chengg"></div>
				<p class="f_success_p">您的奖励已发送成功，请至游戏内查看。</p>
				<p>如有问题请加入官方Q群联系管理员（Q群：689772061）</p>
			</div>
		</div>
	</body>
    {video_play}
    {download}
    <script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/js/swiper-3.4.0.min.js?{$smarty.const.VERSION}"></script>
	<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/js/awardRotate.js?{$smarty.const.VERSION}"></script>
	<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/js/clipboard.min.js?{$smarty.const.VERSION}"></script>
	<script type="text/javascript">
		bShare.addEntry({
			title: "亲爱的小伙伴们,我邀请您一起来《明日决胜！》的世界里玩耍！现在预约即可享受海量礼包！",
			url: "",
			summary: "   ",
			pic: "{$smarty.const.STATIC_DOMAIN}1.0/images/share_icon.jpg?{$smarty.const.VERSION}"
		});
	</script>
	<script type="text/javascript">
	$(function(){
		var and_xz = $(".stat_android").length; 
                var ios_xz = $(".stat_ios").length; 
                var tap_xz = $(".stat_tap").length; 
                var hy_xz = $(".stat_hy").length; 
                if(and_xz > 0) {
                $('.stat_android').click(function(){
                	HLog.event('stat_android')
                });
                }
                if(ios_xz>0){
                    $('.stat_ios').click(function(){
                    	HLog.event('stat_ios')
                    });
                }
                if(tap_xz>0){
                    $('.stat_tap').click(function(){
                    	HLog.event('stat_tap')
                    });
                }
                if(hy_xz>0){
                    $('.stat_hy').click(function(){
                    	HLog.event('stat_hy')
                });
                } 
	})
</script>
	<script>
        var isyx_showTips=false;
        function yx_showTips(text){
            if(!isyx_showTips){
                isyx_showTips=true;
                $('body').append('<div class="yx_shade"><div class="yx_tips_txt">'+text+'</div></div>');
                setTimeout(function(){
                    $('.yx_shade .yx_tips_txt').addClass("show");
                },20);
                setTimeout(function(){
                    isyx_showTips=false;
                    $('.yx_shade').animate({
                        'opacity':'0'
                    },function(){
                        $('.yx_shade').remove();
                    });
                },1000);
            }
        }
	</script>
	<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/js/cover.js?{$smarty.const.VERSION}"></script>
<script>
    $(function () {
        function textNum(num) {
            var textnum = num.toString();
            for(var i=0;i<textnum.length;i++){
                $('.c_number ul').find('li').eq(6-i).text(textnum.charAt(textnum.length - (i+1)));
            }
        }
        //返回顶部
        $(".back").click(function (){
            $("html,body").animate({
                scrollTop: 0
            }, 500);
        });
        var clickTab = true;
        $(".f_close").click(function (){
            if(clickTab){
                $("body").addClass("op");
                $(".f_close img").css("transform","rotate(180deg)");
                clickTab = false;
            } else {
                $("body").removeClass("op");
                $(".f_close img").css("transform","rotate(0)");
                clickTab = true;
            }
        });
        //复制邀请码
        //点击复制文案
		new Clipboard('#tc7_copyBtnz');
		$("#tc7_copyBtnz").click(function() {
			alert("已复制");
		});
		new Clipboard('#tc8_copyBtnz');
		$("#tc8_copyBtnz").click(function() {
			alert("已复制");
		});
		new Clipboard('#tc9_copyBtnz');
		$("#tc9_copyBtnz").click(function() {
			alert("已复制");
		});
        //获取预约人数
        function yyNumber (){
            var url = '/commonMethod/ajax-get-subscribes.html';
            var params = {
                "name":"fwy_total",
                "cms_csrf": $("meta[name='csrf-token']").attr("content")
            }
            $.post(url,params,function (data){
                if(data.status == 0){
                    $(".renshu span").html(data.msg);
                    textNum(data.msg);
                    if(data.msg >= 5000){
                        if($('.a_denglu').css('display')=='none'){
                            $('.giftDialog1').find('.noReach').hide();
                            $('.giftDialog1').find('.get').show();
                        }
                        $('.yueGiftLine').find("li[data-index='1']").find('img:nth-child(1)').hide();
                        $('.yueGiftLine').find("li[data-index='1']").find('img:nth-child(2)').show();
                    }
                    if(data.msg >= 10000){
                        if($('.a_denglu').css('display')=='none'){
                            $('.giftDialog2').find('.noReach').hide();
                            $('.giftDialog2').find('.get').show();
                        }
                        $('.yueGiftLine').find("li[data-index='2']").find('img:nth-child(1)').hide();
                        $('.yueGiftLine').find("li[data-index='2']").find('img:nth-child(2)').show();
                        $('.yueGiftLine').find('.line').css('width','25%');
                    }
                    if(data.msg >= 50000){
                        if($('.a_denglu').css('display')=='none'){
                            $('.giftDialog3').find('.noReach').hide();
                            $('.giftDialog3').find('.get').show();
                        }
                        $('.yueGiftLine').find("li[data-index='3']").find('img:nth-child(1)').hide();
                        $('.yueGiftLine').find("li[data-index='3']").find('img:nth-child(2)').show();
                        $('.yueGiftLine').find('.line').css('width','52%');
                    }
                    if(data.msg >= 100000){
                        if($('.a_denglu').css('display')=='none'){
                            $('.giftDialog4').find('.noReach').hide();
                            $('.giftDialog4').find('.get').show();
                        }
                        $('.yueGiftLine').find("li[data-index='4']").find('img:nth-child(1)').hide();
                        $('.yueGiftLine').find("li[data-index='4']").find('img:nth-child(2)').show();
                        $('.yueGiftLine').find('.line').css('width','79%');
                    }
                    if(data.msg >= 500000){
                        if($('.a_denglu').css('display')=='none'){
                            $('.giftDialog5').find('.noReach').hide();
                            $('.giftDialog5').find('.get').show();
                        }
                        $('.yueGiftLine').find("li[data-index='5']").find('img:nth-child(1)').hide();
                        $('.yueGiftLine').find("li[data-index='5']").find('img:nth-child(2)').show();
                        $('.yueGiftLine').find('.line').css('width','100%');
                    }
                }
            },"json");
        };
        yyNumber();
        setInterval(yyNumber,60000);
    })
</script>
</html>
