<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>{$seo_title}</title>
		<meta name="keywords" content="{$seo_key}" />
		<meta name="description" content="{$seo_desc}" />
		<link href="{$smarty.const.STATIC_DOMAIN}1.0/images/favicon.ico?{$smarty.const.VERSION}" rel="SHORTCUT ICON">
		<link rel="stylesheet" href="//cdnstatic.zhengyuetech.com/common/css/yx.css"/>
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}1.0/css/public.css?{$smarty.const.VERSION}" />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}1.0/css/c_cover.css?{$smarty.const.VERSION}" />
		<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/js/jquery-1.11.2.min.js?{$smarty.const.VERSION}"></script>
		<script data-fixed="true">
            if ((/iphone|android|mobile/i.test(navigator.userAgent.toLowerCase()))) {
                location.href = "/m"+window.location.pathname+window.location.search;
            }
        </script>
	</head>

	<body>
		<div class="container">
			<div class="kv">
				<div class="bg_top">
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/new_kv.png?{$smarty.const.VERSION}" alt="" />
				</div>
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/l_logo.png?{$smarty.const.VERSION}" alt="" class="logo" />
				<div class="n_wrap">
					{fragment var=video code=video size=1}
					<div class="slogan"><a href="{if $video}javascript:;{else}javascript:yx_showTips('敬请期待');{/if}" class="{if $video}js_video_play{else}{/if}" data-url="{if $video}{$video[0].url}{/if}"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/c_play.png?{$smarty.const.VERSION}" alt="" class="play" /></a></div>
					<div class="top_nav">
						<div class="isLogin">
							<div class="before_denglu active">欢迎您，请<span class="denglu">登录</span></div>
							<div class="after_denglu ">
								<ul>
									<li>
										欢迎您，<span class="t_phone"></span>
									</li>
									<li>
										<span class="control_count">账户操作</span>
									</li>
								</ul>
							</div>
							<ul class="isLogin_ul">
								<li>
									<a href="javascript:;" target="_blank" class="qq_denglu">
										<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/l_qq.png?{$smarty.const.VERSION}" alt="" />
										<p>关联QQ</p>
									</a>
								</li>
								<li>
									<a href="javascript:;" target="_blank" class="weixin_denglu">
										<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/l_wx.png?{$smarty.const.VERSION}" alt="" />
										<p>关联微信</p>
									</a>
								</li>
								<li class="gaibang">
									<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/l_p.png?{$smarty.const.VERSION}" alt="" />
									<p>改绑手机</p>
								</li>
								<li class="zhuxiao">
									<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/l_back.png?{$smarty.const.VERSION}" alt="" />
									<p>安全退出</p>
								</li>
							</ul>
						</div>
					</div>
					<a href="/index.html" class="enter" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/c_enter.png?{$smarty.const.VERSION}" alt="" /></a>
					<ul class="nav_ul">
						<li>
							<a href="javascript:;"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/wx.png?{$smarty.const.VERSION}" alt="" /></a>
						</li>
						<li>
							<a href="{if isset($global.wb_url)}{$global.wb_url}{else}javascript:yx_showTips('敬请期待');{/if}" {if isset($global.wb_url)}target="_blank"{/if}><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/wb.png?{$smarty.const.VERSION}" alt="" /></a>
						</li>
						<li>
							<a href="{if isset($global.tb_url)}{$global.tb_url}{else}javascript:yx_showTips('敬请期待');{/if}" {if isset($global.tb_url)}target="_blank"{/if}><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/tb.png?{$smarty.const.VERSION}" alt="" /></a>
						</li>
						<div class="wx_ewm">
							<img src="{if isset($global.wx_img)}{$global.wx_img}{/if}" alt="" />
						</div>
					</ul>
					<div class="kv_num">
						<!--<p class="yy_num">当前预约人数：<span class="renshu"></span></p>-->
						<!--<a href="http://cdn.daw.so/mrjs/mrjs-pcgw-P80032A-0913.apk" target="_blank" class="y_btn"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/y_btn.png?{$smarty.const.VERSION}" alt="" /></a>-->
                        <a href="javascript:;" class="js_down_andriod stat_cover_android" class="y_btn"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/y_btn.png?{$smarty.const.VERSION}" alt="" /></a>
						<!--<p class="kv_txt">9月14日<span>全渠道公测</span></p>-->
					</div>
				</div>
				<i class="s"></i>
				<video src="{$smarty.const.STATIC_DOMAIN}1.0/video/kv_video.mp4" loop="loop" class="video" autoplay="autoplay"></video>
				<div class="white"></div>
			</div>
			<div class="second">
				<div class="n_wrap">
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/sanjiao.png?{$smarty.const.VERSION}" alt="" class="r_sanjiao" />
					<div class="chengg"></div>
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/xinshou.png?{$smarty.const.VERSION}" alt="" class="second_title"/>
					<p class="second_title01">绑定手机获得198元礼包</p>
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/l_person.png?{$smarty.const.VERSION}" alt="" class="l_person" />
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/r_person.png?{$smarty.const.VERSION}" alt="" class="r_person" />
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift_img.png?{$smarty.const.VERSION}" alt="" class="gift_img" />
					<div class="yuyue">
						<div class="c_yy active p_yuyue"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/c_yy.png?{$smarty.const.VERSION}" alt="" /></div>
						<div class="gift_code ">
							<p id="tc13_copyTextz"></p>
							<i class="fuzhi" id="tc13_copyBtnz" data-clipboard-action="copy" data-clipboard-target="#tc13_copyTextz">复制</i>
						</div>
					</div>
					<p class="check_gift"><span id="check_gift">查看我的礼包 ></span></p>
					<p class="second_tip">累计绑定手机达到指定人数，送豪礼</p>
					<!--<p class="new_tip">9月14日游戏内创角后，官网领取奖励</p>-->
					<p class="new_tip">当前绑定人数：<span class="renshu"></span></p>
					<div class="gift_con">
						<div class="chengg"></div>
						<ul class="gift_ul">
							<li class="giftDialog1">
								<div class="li_num">5000绑定礼包</div>
								<div class="li_center">
									<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/x1.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/x1_h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<div class="li_bottom">
									<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/lglq.png?{$smarty.const.VERSION}" alt="" class="get"/>
									<p>已领取</p>
								</div>
							</li>
							<li class="giftDialog2">
								<div class="li_num">10000绑定礼包</div>
								<div class="li_center">
									<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/x2.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/x2_h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<div class="li_bottom">
									<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/lglq.png?{$smarty.const.VERSION}" alt="" class="get"/>
									<p>已领取</p>
								</div>
							</li>
							<li class="giftDialog3">
								<div class="li_num">50000绑定礼包</div>
								<div class="li_center">
									<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/x3.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/x3_h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<div class="li_bottom">
									<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/lglq.png?{$smarty.const.VERSION}" alt="" class="get"/>
									<p>已领取</p>
								</div>
							</li>
							<li class="giftDialog4">
								<div class="li_num">100000绑定礼包</div>
								<div class="li_center">
									<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/x4.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/x4_h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<div class="li_bottom">
									<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/lglq.png?{$smarty.const.VERSION}" alt="" class="get"/>
									<p>已领取</p>
								</div>
							</li>
							<li class="giftDialog5">
								<div class="li_num">500000绑定礼包</div>
								<div class="li_center">
									<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/x5.png?{$smarty.const.VERSION}" alt="" />
									<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/x5_h.png?{$smarty.const.VERSION}" alt="" />
								</div>
								<div class="li_bottom">
									<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/lglq.png?{$smarty.const.VERSION}" alt="" class="get" />
									<p>已领取</p>
								</div>
							</li>
						</ul>
						<ul class="show_ul">
							<li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift_one.png?{$smarty.const.VERSION}" alt="" /></li>
							<li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift_two.png?{$smarty.const.VERSION}" alt="" /></li>
							<li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift_three.png?{$smarty.const.VERSION}" alt="" /></li>
							<li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift_four.png?{$smarty.const.VERSION}" alt="" /></li>
							<li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift_five.png?{$smarty.const.VERSION}" alt="" /></li>
						</ul>
					</div>
					<div class="jdt">
						<i></i>
					</div>
				</div>
				<div class="n_sanjiao">
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/r_sanjiao.png?{$smarty.const.VERSION}" class="" />
				</div>
				<div class="c_white"></div>
			</div>
			<div class="third">
				<div class="n_wrap">
					{fragment var=c_video_1 code=cover_video_5 size=1}
					<a href="{if $c_video_1}javascript:;{else}javascript:yx_showTips('敬请期待');{/if}" class="star1 star {if $c_video_1}js_video_play{else}{/if}" data-url="{if $c_video_1}{$c_video_1[0].url}{/if}">
						<div class="hover_out ani">
							<em class="em_1"></em>
							<em class="em_2"></em>
							<em class="em_3"></em>
						</div>
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/star1.png?{$smarty.const.VERSION}" alt="" />
					</a>
					{fragment var=c_video_2 code=cover_video_4 size=1}
					<a href="{if $c_video_2}javascript:;{else}javascript:yx_showTips('敬请期待');{/if}" class="star2 star {if $c_video_2}js_video_play{else}{/if}" data-url="{if $c_video_2}{$c_video_2[0].url}{/if}">
						<div class="hover_out ani">
							<em class="em_1"></em>
							<em class="em_2"></em>
							<em class="em_3"></em>
						</div>
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/star2.png?{$smarty.const.VERSION}" alt="" />
					</a>
					{fragment var=c_video_3 code=cover_video_2 size=1}
					<a href="{if $c_video_3}javascript:;{else}javascript:yx_showTips('敬请期待');{/if}" class="star3 star {if $c_video_3}js_video_play{else}{/if}" data-url="{if $c_video_3}{$c_video_3[0].url}{/if}">
						<div class="hover_out ani">
							<em class="em_1"></em>
							<em class="em_2"></em>
							<em class="em_3"></em>
						</div>
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/star3.png?{$smarty.const.VERSION}" alt="" />
					</a>
					{fragment var=c_video_4 code=cover_video_3 size=1}
					<a href="{if $c_video_4}javascript:;{else}javascript:yx_showTips('敬请期待');{/if}" class="star4 star {if $c_video_4}js_video_play{else}{/if}" data-url="{if $c_video_4}{$c_video_4[0].url}{/if}">
						<div class="hover_out ani">
							<em class="em_1"></em>
							<em class="em_2"></em>
							<em class="em_3"></em>
						</div>
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/star4.png?{$smarty.const.VERSION}" alt="" />
					</a>
					{fragment var=c_video_5 code=cover_video_1 size=1}
					<a href="{if $c_video_5}javascript:;{else}javascript:yx_showTips('敬请期待');{/if}" class="star5 star {if $c_video_5}js_video_play{else}{/if}" data-url="{if $c_video_5}{$c_video_5[0].url}{/if}">
						<div class="hover_out ani">
							<em class="em_1"></em>
							<em class="em_2"></em>
							<em class="em_3"></em>
						</div>
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/star5.png?{$smarty.const.VERSION}" alt="" />
					</a>
					{fragment var=c_video_6 code=cover_video_6 size=1}
					<a href="{if $c_video_6}javascript:;{else}javascript:yx_showTips('敬请期待');{/if}" class="star6 star {if $c_video_6}js_video_play{else}{/if}" data-url="{if $c_video_6}{$c_video_6[0].url}{/if}">
						<div class="hover_out ani">
							<em class="em_1"></em>
							<em class="em_2"></em>
							<em class="em_3"></em>
						</div>
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/star6.png?{$smarty.const.VERSION}" alt="" />
					</a>
					<div class="c_qudao">
						<ul>
							<li>
								<div class="q_bg">
									<img src="{if isset($global.wx_img)}{$global.wx_img}{/if}" alt="" />
								</div>
								<div class="q_txt">
									<h3>微信公众号</h3>
									<p>扫描二维码，</p>
									<p>立即关注微信公众号</p>
								</div>
							</li>
							<li>
								<div class="q_bg">
									<a href="{if isset($global.wb_url)}{$global.wb_url}{else}javascript:yx_showTips('敬请期待');{/if}" {if isset($global.wb_url)}target="_blank"{/if}></a>
								</div>
								<div class="q_txt">
									<h3>官方微博</h3>
									<a href="{if isset($global.wb_url)}{$global.wb_url}{else}javascript:yx_showTips('敬请期待');{/if}" {if isset($global.wb_url)}target="_blank"{/if}>点击立即前往</a>
								</div>
							</li>
							<li>
								<div class="q_bg">
									<a href="{if isset($global.group_url_one)}{$global.group_url_one}{else}javascript:yx_showTips('敬请期待');{/if}" {if isset($global.group_url_one)}target="_blank"{/if}></a>
								</div>
								<div class="q_txt">
									<h3>玩家Q群</h3>
									<a href="{if isset($global.group_url_one)}{$global.group_url_one}{else}javascript:yx_showTips('敬请期待');{/if}" {if isset($global.group_url_one)}target="_blank"{/if}>点击立即加入</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="db_footer2">
				<div class="chengg"></div>
				<div class="copyright">

				<div class="zy_logo"></div>
					<p>
						<a href="http://zhengyuetech.com/category/58.html" title="公司简介" target="_blank">关于我们</a><i>|</i> 
						<a href="http://zhengyuetech.com/category/61.html" title="企业文化" target="_blank">企业文化</a><i>|</i> 
						<a href="http://zhengyuetech.com/category/42.html" title="运营经理" target="_blank">人才招聘</a><i>|</i> 
						<a href="http://zhengyuetech.com/category/50.html" title="商务合作" target="_blank">商务合作</a><i>|</i> 
						<a href="http://zhengyuetech.com/category/57.html" title="客服中心" target="_blank">客服中心</a>
					</p>
					<p>Copyright©2015 成都正越科技有限公司 版权所有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;蜀ICP备18011081号-1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司地址：成都高新区肖家河环三巷2号9幢1层 </p>

					<p>此游戏适合18岁以上，抵制不良游戏，拒绝盗版游戏，注意自我保护，谨防受骗上当，适度游戏，合理安排时间，享受健康生活</p>
				</div>
			</div>
		</div>
		
		<!--浮窗-->
		<div class="float">
			<div class="c_float">
				<!--<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/l_yy.png?{$smarty.const.VERSION}" alt="" class="l_yy p_yuyue" />
				<i></i>
				<div class="gf_wb">
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/f_logo.png?{$smarty.const.VERSION}" alt="" />
					<div class="wb_txt">
						<p>官方微博</p>
						<a href="{if isset($global.wb_url)}{$global.wb_url}{else}javascript:yx_showTips('敬请期待');{/if}" {if isset($global.wb_url)}target="_blank"{/if}>立即关注</a>
					</div>
				</div>
				<i></i>
				<div class="gf_qq">
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/f_qq.png?{$smarty.const.VERSION}" alt="" />
					<div class="wb_txt">
						<p>官方Q群</p>
						<a href="{if isset($global.group_url_one)}{$global.group_url_one}{else}javascript:yx_showTips('敬请期待');{/if}" {if isset($global.group_url_one)}target="_blank"{/if}>立即加入</a>
					</div>
				</div>
				<i></i>-->
				<div class="float_down">
					<!--<a href="javascript:;" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/c_ios.png?{$smarty.const.VERSION}" alt="" /></a>-->
					<!--<a href="http://cdn.daw.so/mrjs/mrjs-pcgw-P80032A-0913.apk" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/y_and.png?{$smarty.const.VERSION}" alt="" /></a>-->
                    <a href="javascript:;" class="js_down_andriod stat_cover_android"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/y_and.png?{$smarty.const.VERSION}" alt="" /></a>
					<a href="https://www.taptap.com/app/52292" class="	stat_cover_tap" target="_blank" ><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/c_tap.png?{$smarty.const.VERSION}" alt="" /></a>
					<a href="http://aliosscdn.bluestacks.cn/package/zhengyue/zhengyue_mingrijuesheng.exe" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/desk.png?{$smarty.const.VERSION}" alt="" /></a>
				</div>
				<i class="xian"></i>
				<div class="float_code">
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/saomiao.png?{$smarty.const.VERSION}" alt="" class="saomiao" />
					<div class="float_erweima">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/tiao.png?{$smarty.const.VERSION}" alt="" class="tiao" />
						<img src="" alt="" class="js_jump_img"/>
					</div>
				</div>
				<div class="shensuo">
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/shensuo.png?{$smarty.const.VERSION}" alt="" />
				</div>
			</div>
			<div class="back_top">
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/btop.png?{$smarty.const.VERSION}" alt="" />
				<p>回到顶部</p>
			</div>
		</div>
		<!--弹窗-->
		<!--登录方式选择-->
		<div class="login_type">
			<div class="new_body">
				<div class="n_wrap">
					<div class="chengg"></div>
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/l_title01.png?{$smarty.const.VERSION}" alt="" class="login_title" />
					<p class="type_p">选择登录方式</p>
					<div class="type_body">
						<ul class="login_ul">
							<li>
								<a href="javascript:;" target="_blank" class="qq_denglu">
									<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/qq.png?{$smarty.const.VERSION}" alt="" />
									<p>QQ</p>
								</a>
							</li>
							<li>
								<a href="javascript:;" target="_blank" class="weixin_denglu">
									<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/weixin.png?{$smarty.const.VERSION}" alt="" />
									<p>微信</p>
								</a>
							</li>
							<li id="x_phone">
								<a href="javascript:;" class="phone_denglu">
									<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/phone.png?{$smarty.const.VERSION}" alt="" />
									<p>手机</p>
								</a>
							</li>
						</ul>
						<div class="tip_bottom">
							<img src="{$global.wx_img}" alt="" />
							<p>关注《明日决胜！》微信公众号，<span>赢取<i>iPhoneX</i></span></p>
						</div>
					</div>
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/c_close.png?{$smarty.const.VERSION}" alt="" class="n_close close" />
				</div>
			</div>
		</div>
		<!--账号关联-->
		<div class="account">
			<div class="new_body">
				<div class="n_wrap">
					<div class="chengg"></div>
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/l_title03.png?{$smarty.const.VERSION}" alt="" class="login_title" />
					<p class="type_p">关联微信/QQ快捷登录</p>
					<div class="account_body">
						<ul class="account_ul">
							<li>
								<a href="javascript:;" target="_blank" class="qq_denglu">
									<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/qq.png?{$smarty.const.VERSION}" alt="" />
									<p>QQ关联</p>
								</a>
							</li>
							<li>
								<a href="javascript:;" target="_blank" class="weixin_denglu">
									<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/weixin.png?{$smarty.const.VERSION}" alt="" />
									<p>微信关联</p>
								</a>
							</li>
						</ul>
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/guanlian.png?{$smarty.const.VERSION}" alt="" class="guanlian" />
						<div class="tip_bottom">
							<img src="{$global.wx_img}" alt="" />
							<p>关注《明日决胜！》微信公众号，<span>赢取<i>iPhoneX</i></span></p>
						</div>
					</div>
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/c_close.png?{$smarty.const.VERSION}" alt="" class="n_close close" />
				</div>
			</div>
		</div>
		<!--更改绑定-->
		<div class="binding">
			<div class="new_body">
				<div class="n_wrap">
					<div class="chengg"></div>
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/l_title04.png?{$smarty.const.VERSION}" alt="" class="login_title" />
					<p class="type_p">尊敬的 <span class="t_phone"></span>用户</p>
					<div class="bind_body">
						<p class="new_phone">绑定新的手机号码</p>
						<div class="s_put f_put">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/tip.png?{$smarty.const.VERSION}" alt="" class="l_tip" />
							<input type="tel" placeholder="请输入手机号" class="g_phone" />
							<i class="wrong"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/wrong.png?{$smarty.const.VERSION}" alt="" /><span>请输入正确的手机号</span></i>
						</div>
						<div class="s_put yuyue_captcha" style="display: none;">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/tip01.png?{$smarty.const.VERSION}" alt="" class="l_tip" />
							<input type="tel" placeholder="输入验证码" class="g_t_yzm" />
							<div class="captcha">
								<p>点击刷新</p>
								<!--<img src="images/kv.jpg" alt="" />-->
							</div>
							<i class="wrong"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/wrong.png?{$smarty.const.VERSION}" alt="" /><span>请输入正确的图片验证码</span></i>
						</div>
						<div class="s_put">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/tip01.png?{$smarty.const.VERSION}" alt="" class="l_tip" />
							<input type="tel" placeholder="输入验证码" class="g_yzm" />
							<input type="button" value="获取验证码" class="gg_code" />
							<i class="wrong"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/wrong.png?{$smarty.const.VERSION}" alt="" /><span>请输入正确的手机验证码</span></i>
						</div>
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/sure.png?{$smarty.const.VERSION}" alt="" class="binding_btn" />
					</div>
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/c_close.png?{$smarty.const.VERSION}" alt="" class="n_close close" />
				</div>
			</div>
		</div>
		<!--绑定手机-->
		<div class="bind_phone">
			<div class="new_body">
				<div class="n_wrap">
					<div class="chengg"></div>
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/l_title05.png?{$smarty.const.VERSION}" alt="" class="login_title" />
					<div class="c_bind_phone">
						<p class="bind_p">首次登录请绑定手机号</p>
						<div class="s_put f_put">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/tip.png?{$smarty.const.VERSION}" alt="" class="l_tip" />
							<input type="tel" placeholder="请输入手机号" class="d_phone" />
							<i class="wrong"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/wrong.png?{$smarty.const.VERSION}" alt="" /><span>请输入正确的手机号</span></i>
						</div>
						<div class="s_put yuyue_captcha" style="display: none;">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/tip01.png?{$smarty.const.VERSION}" alt="" class="l_tip" />
							<input type="tel" placeholder="输入验证码" class="dt_yzm" />
							<div class="captcha">
								<p>点击刷新</p>
								<!--<img src="images/kv.jpg" alt="" />-->
							</div>
							<i class="wrong"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/wrong.png?{$smarty.const.VERSION}" alt="" /><span>请输入正确的图片验证码</span></i>
						</div>
						<div class="s_put">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/tip01.png?{$smarty.const.VERSION}" alt="" class="l_tip" />
							<input type="tel" placeholder="输入验证码" class="d_yzm" />
							<input type="button" value="获取验证码" class="dg_code" />
							<i class="wrong"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/wrong.png?{$smarty.const.VERSION}" alt="" /><span>请输入正确的手机验证码</span></i>
						</div>
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/lgbd.png?{$smarty.const.VERSION}" alt="" class="lgbd" />
						<div class="tip_bottom">
							<img src="{$global.wx_img}" alt="" />
							<p>关注《明日决胜！》微信公众号，<span>赢取<i>iPhoneX</i></span></p>
						</div>
					</div>
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/c_close.png?{$smarty.const.VERSION}" alt="" class="n_close close" />
				</div>
			</div>
		</div>
		<!--登录/预约弹窗-->
		<div class="login">
			<div class="c_login">
				<div class="n_wrap">
					<div class="chengg"></div>
					<div class="login_title">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/l_title01.png?{$smarty.const.VERSION}" alt="" />
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/l_title02.png?{$smarty.const.VERSION}" alt="" />
					</div>
					<div class="m_input">
						<div class="s_put">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/tip.png?{$smarty.const.VERSION}" alt="" class="l_tip"/>
							<input type="tel" placeholder="请输入手机号" class="phone" />
							<i class="wrong"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/wrong.png?{$smarty.const.VERSION}" alt="" /><span>请输入正确的手机号</span></i>
						</div>
						<div class="s_put yuyue_captcha" style="display: none">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/tip01.png?{$smarty.const.VERSION}" alt="" class="l_tip"/>
							<input type="tel" placeholder="请输入验证码" class="t_yzm" />
							<div class="captcha">
								<p>点击刷新</p>
								<!--<img src="images/kv.jpg?{$smarty.const.VERSION}" alt="" />-->
							</div>
							<i class="wrong"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/wrong.png?{$smarty.const.VERSION}" alt="" /><span>请输入正确的图片验证码</span></i>
						</div>
						<div class="s_put">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/tip01.png?{$smarty.const.VERSION}" alt="" class="l_tip"/>
							<input type="tel" placeholder="请输入验证码" class="yzm" />
							<input type="button" value="获取验证码" class="g_code" />
							<i class="wrong"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/wrong.png?{$smarty.const.VERSION}" alt="" /><span>请输入正确的手机验证码</span></i>
						</div>
						<div class="login_btn">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/yy01.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/yy02.png?{$smarty.const.VERSION}" alt="" />
						</div>
					</div>
					<div class="login_bottom">
						<div class="active">
							<p class="login_p">使用第三方账号登录</p>
							<ul class="denglu_ul">
								<li>
									<a href="javascript:;" target="_blank" class="qq_denglu">
										<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/qq.png?{$smarty.const.VERSION}" alt="" />
										<p>QQ关联</p>
									</a>
								</li>
								<li>
									<a href="javascript:;" target="_blank" class="weixin_denglu">
										<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/weixin.png?{$smarty.const.VERSION}" alt="" />
										<p>微信关联</p>
									</a>
								</li>
							</ul>
						</div>
						<div class="">
							<p class="yuyue_p">出于对您账户安全性考虑，绑定手机号后，您将无法再使用同一手机号进行其他方式的预约。</p>
							<div class="tip_bottom">
								<img src="{$global.wx_img}" alt="" />
								<p>关注《明日决胜！》微信公众号，<span>赢取<i>iPhoneX</i></span></p>
							</div>
						</div>
					</div>
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/c_close.png?{$smarty.const.VERSION}" alt="" class="n_close close" />
				</div>
			</div>
		</div>
		<!--设备类型选择-->
		<div class="select">
			<div class="c_select">
				<div class="chengg"></div>
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/c_close.png?{$smarty.const.VERSION}" alt="" class="close c_close" />
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/bird.png?{$smarty.const.VERSION}" alt="" class="bird" />
				<p class="select_title">请选择您的预约平台</p>
				<ul class="select_ul">
					<li class="active" data-type="android">
						<i><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/y.png?{$smarty.const.VERSION}" alt="" /><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/y_h.png?{$smarty.const.VERSION}" alt="" /></i><p>Android</p>
					</li>
					<li class="" data-type="ios">
						<i><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/s.png?{$smarty.const.VERSION}" alt="" /><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/s_h.png?{$smarty.const.VERSION}" alt="" /></i><p>iOS</p>
					</li>
				</ul>
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/yy02.png?{$smarty.const.VERSION}" alt="" class="new_yy stat_cover_yy"/>
			</div>
		</div>
		<!--预约成功-->
		<div class="success">
			<div class="c_success">
				<div class="n_wrap">
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/c_close.png?{$smarty.const.VERSION}" class="n_close close" alt=""/>
					<div class="chengg"></div>
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/chenggong.png?{$smarty.const.VERSION}" alt="" class="success_title" />
					<div class="success_body">
						<div class="s_code">预约礼包码：<span></span></div>
						<div class="success_tip">
							<p>温馨提示：</p>
							<p>· 游戏上线后，您可以直接用预约账户登录游戏，无需再次注册。</p>
							<p>· 您可以再次登录《明日决胜！》官网，查看礼包码，改绑手机。</p>
						</div>
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/n_sure.png?{$smarty.const.VERSION}" alt="" class="n_sure p_sure" />
						<div class="success_txt">
							<img src="{if isset($global.wx_img)}{$global.wx_img}{/if}" alt="" />
							<div class="right_txt">
								<p>关注《明日决胜！》微信公众号，</p>
								<p>赢取<span>iPhoneX</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--查看我的礼包弹窗-->
		<div class="my_gift">
			<div class="c_gift">
				<div class="n_wrap">
					<div class="chengg"></div>
					<div class="login_title">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/my_gift.png?{$smarty.const.VERSION}" alt="" />
					</div>
					<p class="gift_number">您绑定的手机号码为：<span class="t_phone"></span></p>
					<div class="gift_div">
						<div class="gift_table">
							<div class="gift_title">
								<p><span>礼包名称</span></p>
								<p><span>领取状态</span></p>
							</div>
							<ul class="float_ul">
								<li class="float_li">
									<div class="chengg"></div>
									<p class="g_first">预约礼包</p>
									<p class="g_second"><i>礼包码为：</i><span></span></p>
								</li>
								<li class="float_one">
									<div class="chengg"></div>
									<p class="g_first"><span>5000人<br />绑定礼包</span></p>
									<p class="g_second">未达成</p>
								</li>
								<li class="float_two">
									<div class="chengg"></div>
									<p class="g_first"><span>10000人<br />绑定礼包</span></p>
									<p class="g_second">未达成</p>
								</li>
								<li class="float_three">
									<div class="chengg"></div>
									<p class="g_first"><span>50000人<br />绑定礼包</span></p>
									<p class="g_second">未达成</p>
								</li>
								<li class="float_four">
									<div class="chengg"></div>
									<p class="g_first"><span>100000人<br />绑定礼包</span></p>
									<p class="g_second">未达成</p>
								</li> 
								<li class="float_five">
									<div class="chengg"></div>
									<p class="g_first"><span>500000人<br />绑定礼包</span></p>
									<p class="g_second">未达成</p>
								</li>
							</ul>
						</div>
						<p class="yjlq_p"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/yjlq.png?{$smarty.const.VERSION}" alt="" class="yjlq" /></p>
					</div>
					<div class="tc_tip">
						<img src="{if isset($global.wx_img)}{$global.wx_img}{/if}" alt="" />
						<div class="tc_tip_p">
							<p>关注《明日决胜！》微信公众号，</p>
							<p>赢取<span>iPhoneX</span></p>
						</div>
					</div>
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/c_close.png?{$smarty.const.VERSION}" alt="" class="close n_close" />
				</div>
			</div>
		</div>
		<!--提示信息弹窗-->
		<div class="message">
			<div class="c_message">
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/c_close.png?{$smarty.const.VERSION}" alt="" class="close c_close" />
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/bird.png?{$smarty.const.VERSION}" alt="" class="bird" />
				<div class="chengg"></div>
				<p>啊实打实打算大所</p>
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/n_sure.png?{$smarty.const.VERSION}" alt="" class="sure l_sure" />
			</div>
		</div>
		<!--禁止领取弹窗-->
		<div class="fail">
			<div class="c_message">
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/c_close.png?{$smarty.const.VERSION}" alt="" class="close c_close" />
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/bird.png?{$smarty.const.VERSION}" alt="" class="bird" />
				<div class="chengg"></div>
				<!--<p class="fail_title">活动未开始</p>
				<p class="fail_con">请于9月14日游戏开服后领取！</p>
				<p class="fail_tip">温馨提示：</p>
				<p>1、“累计预约”礼包，仅限在《明日决胜！》官网下载游戏的用户使用。</p>
				<p>2、9月14日游戏开服后，请使用预约时绑定的手机号进行注册。</p>
				<p>3、“累计预约”礼包会默认发放至绑定手机号创建的第一个游戏角色中。</p>-->
				<p class="fail_title">领取失败！</p>
				<p class="fail_con">可能原因如下：</p>
				<!--<p class="fail_tip">温馨提示：</p>-->
				<p>1、您未使用预约手机号进行注册。（奖励仅发放至预约手机号对应账号中）</p>
				<p>2、您未创建游戏账号。（奖励默认发放至绑定手机号创建的第一个游戏账号中）</p>
				<p>3、其他未知错误请加入官方Q群，联系群管理员。（Q群：689772061）</p>
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/n_sure.png?{$smarty.const.VERSION}" alt="" class="sure l_sure" />
			</div>
		</div>
		<!--重复领取及领取报错弹窗-->
		<div class="repeat_fail">
			<div class="c_repeat">
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/c_close.png?{$smarty.const.VERSION}" alt="" class="close c_close" />
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/bird.png?{$smarty.const.VERSION}" alt="" class="bird" />
				<div class="chengg"></div>
				<p class="repeat_title">请勿重复领取！</p>
				<p>当前符合领取条件的奖励，已全部发放至游戏中，请查看角色邮箱</p>
				<p class="margin_p">如无法解决，请加入官方Q群，联系群管理员。（Q群：689772061）</p>
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/n_sure.png?{$smarty.const.VERSION}" alt="" class="sure l_sure" />
			</div>
		</div>
	</body>
	{download}
	{video_play}
	<script src="//cdnstatic.zhengyuetech.com/common/js/yx.js?{$smarty.const.VERSION}"></script>
	<script type="text/javascript">
		var alt = "{$smarty.const.STATIC_DOMAIN}1.0/";
	</script>
	<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/js/clipboard.min.js?{$smarty.const.VERSION}"></script>
	<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/js/c_cover.js?{$smarty.const.VERSION}"></script>
	<script type="text/javascript">
	$(function(){
		pc_cover();
		var and_xz = $(".stat_android").length; 
                var ios_xz = $(".stat_ios").length; 
                var tap_xz = $(".stat_tap").length; 
                var hy_xz = $(".stat_hy").length; 
                var and_cover_xz = $(".stat_cover_android").length; 
                var ios_cover_xz = $(".stat_cover_ios").length; 
                var tap_cover_xz = $(".stat_cover_tap").length; 
                var hy_cover_xz = $(".stat_cover_hy").length; 
                if(and_xz > 0) {
                $('.stat_android').click(function(){ HLog.event('stat_android')
            });
                }
                if(ios_xz>0){
                    $('.stat_ios').click(function(){ HLog.event('stat_ios')
                });
                }
                if(tap_xz>0){
                    $('.stat_tap').click(function(){ HLog.event('stat_tap')
                });
                }
                if(hy_xz>0){
                    $('.stat_hy').click(function(){ HLog.event('stat_hy')
                });
                } 
                if(and_cover_xz > 0) {
                $('.stat_cover_android').click(function(){ HLog.event('stat_cover_android') });
                }
                if(ios_cover_xz>0){
                    $('.stat_cover_ios').click(function(){ HLog.event('stat_cover_ios') });
                }
                if(tap_cover_xz>0){
                    $('.stat_cover_tap').click(function(){ HLog.event('stat_cover_tap') });
                }
                if(hy_cover_xz>0){
                    $('.stat_cover_hy').click(function(){ HLog.event('stat_cover_hy') });
                }
	})
</script>
</html>