<div class="cj_footer">
			<div class="wrap">
				<div class="chengg"></div>
				<ul>
					<li>
						<img src="images/weixin.png" alt="" />
						<div class="cj_txt">
							<p class="cj_txt1">下载游戏</p>
							<p class="cj_txt2">扫描二维码，立即下载游戏</p>
							<p class="cj_txt3">多元养成卡牌手游</p>
						</div>
					</li>
					<li>
						<img src="images/weixin.png" alt="" />
						<div class="cj_txt">
							<p class="cj_txt1">微信公众号</p>
							<p class="cj_txt2">扫描二维码关注官方微信</p>
							<p class="cj_txt3"><span>官方微信号：</span>超级英雄League</p>
						</div>
					</li>
					<li>
						<img src="images/weixin.png" alt="" />
						<div class="cj_txt">
							<p class="cj_txt1">官方Q群</p>
							<p class="cj_txt2">超级英雄League官方群</p>
							<p class="cj_txt3"><span>官方Q群：</span>4009393333</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<script type="text/javascript" src="http://cdnstatic.yingxiong.com/footer/js/footer_new.js"></script>
	</body>
	<script type="text/javascript" src="js/swiper-3.4.2.min.js"></script>
	<script type="text/javascript" src="js/js.js"></script>

</html>