body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;font-family:'Microsoft YaHei'}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}table{border-collapse:collapse;border-spacing:0}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}
/*startdom*/
.MainContent{
	max-width:640px;
	margin:0 auto;
	height:1136px;
	*height:1136px;
	_height:1136px;
	height:100%;
	height:100vh;
	position:relative;
	background-color:#3c0e00;
	overflow:hidden;
}
.bg1{
	width:100%;
	height:1136px;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
	background:url(../images/qmcs.jpg) no-repeat top center;
	background-size:cover;
}
.screen_note{
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	background-color:#000;
	z-index:999999;
	display:none;
}
.screen_note p{
	position:absolute;
	width:100%;
	font-size:40px;
	height:60px;
	line-height:60px;
	top:40%;
	left:0;
	color:#fff;
	text-align:center;
}
.index_btn_weixin,.index_btn_yuyue,.font_skwdjsy,.font_red_blue,.shitou1,.shitou2,.shitou3,.index_guang1,.index_guang2,.font_yyslb,.font_hhlb,.font_btn_yuyue,.second_lunbo,.l_bg,.point_jt span{
	background:url(../images/MainImg.png);
	background-size:2035px 415px
}
.zhanshi{
	background:url(../images/MainImg_js.png) no-repeat;
	background-size:640px auto;
}
.logo{
	position:absolute;
	top:20px;
	left:10px;
	width:252px;
	height:131px;
	background:url(../images/new_logo.png) no-repeat;
	background-size:252px auto;
	z-index:1000;
}
.logo.Cur{
	-webkit-animation:chongchu .2s ease-in;
	-moz-animation:chongchu .2s ease-in;
	-o-animation:chongchu .2s ease-in;
	-ms-animation:chongchu .2s ease-in;
}
.mingan{
	position:absolute;
	width:100%;
	height:700px;
	z-index:210;
	background-color:#000;
	opacity:.2;
	top:0;
	left:0;
	-webkit-animation:mingan 2s linear infinite;
	-moz-animation:mingan 2s linear infinite;
	-o-animation:mingan 2s linear infinite;
	-ms-animation:mingan 2s linear infinite;
}
.huoxing{
	position:absolute;
	width:489px;
	height:700px;
	z-index:209;
	top:0;
	left:0;
	margin-left:150px;
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	opacity:.8;
}
.back{
	z-index:199
}
.huoxing img{display:none}

.zhanshi{
	position:absolute;
	width:640px;
	height:835px;
	top:150px;
	z-index:999;
}
.zhanshi.chongchu{
	-webkit-animation:topmengchong .4s ease-in;
	-moz-animation:topmengchong .4s ease-in;
	-o-animation:topmengchong .4s ease-in;
	-ms-animation:topmengchong .4s ease-in
}
.zhanshi.chuanxi{
	-webkit-animation:chuanxi 6s linear infinite;
	-moz-animation:chuanxi 6s linear infinite;
	-o-animation:chuanxi 6s linear infinite;
	-ms-animation:chuanxi 6s linear infinite
}
@-webkit-keyframes topmengchong{
	0%{-webkit-transform:scale(.9);top:300px}
	10%{top:60px;-webkit-transform:scale(1)}
	20%,40%,60%,80%{-webkit-transform:scale(1.1);opacity:.9}
	30%,50%,70%{-webkit-transform:scale(1);opacity:1}
	100%{-webkit-transform:scale(1);opacity:1}
}
@-moz-keyframes topmengchong{0%{-moz-transform:scale(.9);top:300px}10%{top:60px;-moz-transform:scale(1)}20%,40%,60%,80%{-moz-transform:scale(1.1);opacity:.9}30%,50%,70%{-moz-transform:scale(1);opacity:1}100%{-moz-transform:scale(1);opacity:1}}@-ms-keyframes topmengchong{0%{-ms-transform:scale(.9);top:300px}10%{top:60px;-ms-transform:scale(1)}20%,40%,60%,80%{-ms-transform:scale(1.1);opacity:.9}30%,50%,70%{-ms-transform:scale(1);opacity:1}100%{-ms-transform:scale(1);opacity:1}}@-o-keyframes topmengchong{0%{-o-transform:scale(.9);top:300px}10%{top:60px;-o-transform:scale(1)}20%,40%,60%,80%{-o-transform:scale(1.1);opacity:.9}30%,50%,70%{-o-transform:scale(1);opacity:1}100%{-o-transform:scale(1);opacity:1}}
.index_btn2{
	position:absolute;
	left:50%;
	width:640px;
	height:auto;
	bottom:220px;
	margin-left:-320px;
	z-index:9999;
	}

.index_btn2 div.index_btn2_1yuan,.index_btn2 div.index_btn2_2yuan{
	position:absolute;
	width:300px;
	height:100px;
	top:-18px;
	background:url(../images/new_anzh.png) no-repeat;
	background-size:300px 100px;
	 left:50%;
	 margin-left:-150px;
	 -moz-animation:chuiji .1s ease-in;
	 -o-animation:chuiji .1s ease-in;
	 -webkit-animation:chuiji .1s ease-in;
	 -ms-animation:chuiji .1s ease-in
	}
.index_btn2 div.index_btn2_1yuan a,.index_btn2 div.index_btn2_2yuan a{
	  display: block;
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
}
.index_btn2 div.index_btn2_2yuan{background:url(../images/new_ios.png) no-repeat;background-size:300px auto;top:110px;}

.shitou1{position:absolute;width:129px;height:131px;right:20px;top:-200px;background-position:-1143px -156px}.repeat0,.repeat1,.repeat2{-webkit-animation:index_shitou1 .8s ease-in;-moz-animation:index_shitou1 .8s ease-in;-o-animation:index_shitou1 .8s ease-in;-ms-animation:index_shitou1 .8s ease-in}.repeat0{right:20px}.repeat1{right:150px;-webkit-transform:scale(2)}.repeat2{right:300px;-webkit-transform:scale(1.5)}@-webkit-keyframes index_shitou1{0%{opacity:0;top:300px}10%,21%,32%,43%,54%,65%,76%,87%{top:300px;opacity:1}11%,22%,33%,44%,55%,66%,77%,88%{opacity:0;top:-131px}100%{top:-131px;opacity:1}}@-moz-keyframes index_shitou1{0%{opacity:0;top:300px}10%,21%,32%,43%,54%,65%,76%,87%{top:300px;opacity:1}11%,22%,33%,44%,55%,66%,77%,88%{opacity:0;top:-131px}100%{top:-131px;opacity:1}}@-ms-keyframes index_shitou1{0%{opacity:0;top:300px}10%,21%,32%,43%,54%,65%,76%,87%{top:300px;opacity:1}11%,22%,33%,44%,55%,66%,77%,88%{opacity:0;top:-131px}100%{top:-131px;opacity:1}}@-o-keyframes index_shitou1{0%{opacity:0;top:300px}10%,21%,32%,43%,54%,65%,76%,87%{top:300px;opacity:1}11%,22%,33%,44%,55%,66%,77%,88%{opacity:0;top:-131px}100%{top:-131px;opacity:1}}.shitou2{position:absolute;width:242px;height:197px;left:20px;top:120px;background-position:-1775px 0;z-index:201}.shitou3{position:absolute;width:96px;height:86px;left:20px;top:560px;background-position:-1925px -254px;z-index:201}.index_guang1{position:absolute;width:369px;height:52px;right:32px;top:60px;background-position:-724px -160px;-webkit-animation:index_guang1 .3s ease-out;-moz-animation:index_guang1 .3s ease-out;-o-animation:index_guang1 .3s ease-out;-ms-animation:index_guang1 .3s ease-out}.index_guang2{position:absolute;width:170px;height:43px;left:-32px;top:188px;background-position:-712px -275px;-webkit-animation:index_guang2 .3s ease-out;-moz-animation:index_guang2 .3s ease-out;-o-animation:index_guang2 .3s ease-out;-ms-animation:index_guang2 .3s ease-out}@-webkit-keyframes index_guang1{0%{opacity:0;right:140px;top:68px}100%{right:32px;top:60px;opacity:1}}@-moz-keyframes index_guang1{0%{opacity:0;right:140px;top:68px}100%{right:32px;top:60px;opacity:1}}@-ms-keyframes index_guang1{0%{opacity:0;right:140px;top:68px}100%{right:32px;top:60px;opacity:1}}@-o-keyframes index_guang1{0%{opacity:0;right:140px;top:68px}100%{right:32px;top:60px;opacity:1}}@-webkit-keyframes index_guang2{0%{opacity:0;left:60px;top:184px}100%{left:-32px;top:188px;opacity:1}}@-moz-keyframes index_guang2{0%{opacity:0;left:60px;top:184px}100%{left:-32px;top:188px;opacity:1}}@-ms-keyframes index_guang2{0%{opacity:0;left:60px;top:184px}100%{left:-32px;top:188px;opacity:1}}@-o-keyframes index_guang2{0%{opacity:0;left:60px;top:184px}100%{left:-32px;top:188px;opacity:1}}
/*enddom*/
@media screen and (min-width:768px){.MainContent{width:100%}}
@media screen and (min-width:1000px){.MainContent{width:640px}
@-webkit-keyframes chongchu{
	0%{opacity:0;-webkit-transform:scale(.1,.1)}
	80%{-webkit-transform:scale(1.1,1.1)}
	100%{opacity:1;-webkit-transform:scale(1,1)}
}
@-moz-keyframes chongchu{
	0%{opacity:0;-moz-transform:scale(.1,.1)}
	80%{-moz-transform:scale(1.1,1.1)}
	100%{opacity:1;-moz-transform:scale(1,1)}
}
@-o-keyframes chongchu{
	0%{opacity:0;-o-transform:scale(.1,.1)}
	80%{-o-transform:scale(1.1,1.1)}
	100%{opacity:1;-o-transform:scale(1,1)}
}
@-ms-keyframes chongchu{
	0%{opacity:0;-ms-transform:scale(.1,.1)}
	80%{-ms-transform:scale(1.1,1.1)}
	100%{opacity:1;-ms-transform:scale(1,1)}
}
@-webkit-keyframes chuiji{
	0%{opacity:0;-webkit-transform:scale(10,10)}
	80%{-webkit-transform:scale(.9,.9)}
	100%{opacity:1;-webkit-transform:scale(1,1)}
}
@-moz-keyframes chuiji{
	0%{opacity:0;-moz-transform:scale(10,10)}
	80%{-moz-transform:scale(.9,.9)}
	100%{opacity:1;-moz-transform:scale(1,1)}
}
@-o-keyframes chuiji{
	0%{opacity:0;-o-transform:scale(10,10)}
	80%{-o-transform:scale(.9,.9)}
	100%{opacity:1;-o-transform:scale(1,1)}
}
@-ms-keyframes chuiji{
	0%{opacity:0;-ms-transform:scale(10,10)}
	80%{-ms-transform:scale(.9,.9)}
	100%{opacity:1;-ms-transform:scale(1,1)}
}
@-webkit-keyframes mingan{
	0%{opacity:0}
	50%{opacity:.2}
	100%{opacity:0}
}
@-moz-keyframes mingan{
	0%{opacity:0}
	50%{opacity:.2}
	100%{opacity:0}
}
@-ms-keyframes mingan{
	0%{opacity:0}
	50%{opacity:.2}
	100%{opacity:0}
}
@-o-keyframes mingan{
	0%{opacity:0}
	50%{opacity:.2}
	100%{opacity:0}
}
@-webkit-keyframes chuiji2{
	0%{opacity:0;-webkit-transform:scale(5,5)}
	100%{opacity:1;-webkit-transform:scale(1,1)}
}@-moz-keyframes chuiji2{0%{opacity:0;-moz-transform:scale(10,10)}80%{-moz-transform:scale(.9,.9)}100%{opacity:1;-moz-transform:scale(1,1)}}@-o-keyframes chuiji2{0%{opacity:0;-o-transform:scale(10,10)}80%{-o-transform:scale(.9,.9)}100%{opacity:1;-o-transform:scale(1,1)}}@-ms-keyframes chuiji2{0%{opacity:0;-ms-transform:scale(10,10)}80%{-ms-transform:scale(.9,.9)}100%{opacity:1;-ms-transform:scale(1,1)}}
@-webkit-keyframes chuanxi{
	0%,20%,40%,60%,80%,100%{-webkit-transform:scale(1)}
	10%,30%,50%,70%,90%{-webkit-transform:scale(.992)}
}@-moz-keyframes chuanxi{0%,20%,40%,60%,80%,100%{-moz-transform:scale(1)}10%,30%,50%,70%,90%{-moz-transform:scale(.992)}}@-ms-keyframes chuanxi{0%,20%,40%,60%,80%,100%{-ms-transform:scale(1)}10%,30%,50%,70%,90%{-ms-transform:scale(.992)}}@-o-keyframes chuanxi{0%,20%,40%,60%,80%,100%{-o-transform:scale(1)}10%,30%,50%,70%,90%{-o-transform:scale(.992)}}
@media screen and (max-width:350px){
	.index_btn2 div.index_btn2_1yuan,.index_btn2 div.index_btn2_2yuan{background-size:100% auto;}
}