.kv{
	width:100%;
	height:929px;
	min-width:1200px;
	background:url(../images/kv_2.jpg) no-repeat center;
	position:relative;
	overflow: hidden;
}
.float{
	width:155px;
	height:398px;
	background:url(../images/float_2.png) no-repeat center;
	position:fixed;
	top:45%;
	transform: translate(0,-45%);
	-webkit-transform: translate(0,-45%);
	left:2%;
	transition:all .5s;
	-webkit-transition:all .5s;
}
.float.active{
	left:-155px;
}
.code{
	width:132px;
	height:132px;
	background:url(../images/code_bg_2.png) no-repeat center;
	margin:41px auto 0;
}
.code img{
	display: block;
	width:112px;
	height:112px;
	margin:8px auto 0;
}
.float a{
	display: block;
	width:130px;
	height:46px;
	margin:6px auto 0;
}
.float a:hover{
	opacity: .9;
}
.float.active .op_close img{
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
.float .op_close{
	width:11px;
	height:29px;
	background:url(../images/op_close.png) no-repeat center;
	position:absolute;
	top:22px;
	right:-11px;
	cursor: pointer;
}
.float .op_close img{
	display: block;
	margin:11px 0 0 2px;
}
.logo{
	display: block;
	position:absolute;
	top:32px;
	right:274px;
}
.enter{
	display: block;
	width:194px;
	height:80px;
	position:absolute;
	top:43px;
	right:42px;
}
.enter:hover {
	opacity: .9;
}
.txt_1{
	display: block;
	position:absolute;
	top:164px;
	right:46px;
}
.txt_2{
	display: block;
	position:absolute;
	top:326px;
	right:27px;
}
