.top{
	width:100%;
	height:1080px;
	background:url(../images/cover.jpg) no-repeat center;
	overflow: hidden;
	position:relative;
}
.logo{
	width:207px;
	height:125px;
	position:absolute;
	top:25px;
	left:0;
}
.slogan{
	width:679px;
	height:450px;
	position:absolute;
	bottom:468px;
	left:50%;
	margin-left:-339.5px;
}
.slogan img:nth-child(1){
	display: block;
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}
.slogan img:nth-child(2){
	display: block;
	width:133px;
	height:131px;
	position:absolute;
	right:58px;
	top:14px;
	cursor: pointer;
	animation: vd 2s linear infinite;
	-webkit-animation: vd 2s linear infinite;
}
@keyframes vd{
	0%{transform: scale(0.9);}
	50%{transform: scale(1);}
	100%{transform: scale(0.9);}
}
@-webkit-keyframes vd{
	0%{transform: scale(0.9);}
	50%{transform: scale(1);}
	100%{transform: scale(0.9);}
}
.btn{
	width:795px;
	height:180px;
	position:absolute;
	left:50%;
	margin-left:-397.5px;
	bottom:55px;
}
.btn a:hover img:nth-child(1){
	display: none;
}
.btn .enter{
	display: block;
	width:454px;
	height:180px;
	overflow: hidden;
	position:absolute;
	left:50%;
	margin-left:-227px;
	top:0;
	z-index:10;
}
.btn .app{
	display: block;
	width:292px;
	height:88px;
	position:absolute;
	left:0;
	top:39px;
	overflow: hidden;
}
.btn .andriod{
	display: block;
	width:292px;
	height:88px;
	position:absolute;
	right:0;
	top:39px;
	overflow: hidden;
}
.f_video{
	width:1920px;
	height:1080px;
	overflow: hidden;
	position:absolute;
	left:50%;
	margin-left:-960px;
	top:0;
}
.middle{
	width:100%;
	height:957px;
	background:url(../images/kv.png) no-repeat center;
	overflow: hidden;
	position:relative;
}
.label{
	width:386px;
	height:67px;
	margin:0 auto;
	padding-top:120px;
}
.banner{
	width:950px;
	height:542px;
	margin:0 auto;
	overflow: hidden;
	margin-top:57px;
}
.banner li{
	width:940px;
	height:542px;
	overflow: hidden;
	position:relative;
}
.banner li a{
	display: block;
	width:100%;
	height:100%;
}
.banner li img{
	display: block;
	width:100%;
	height:100%;
} 
.middle .swiper-pagination{
	width:100%;
	text-align: center;
	bottom:108px;
}
.middle .swiper-pagination-bullet{
	width:14px;
	height:12px;
	background:url(../images/pageni.png) no-repeat center;
	margin:0 8px;
}
.middle .swiper-pagination-bullet-active{
	width:14px;
	height:12px;
	background:url(../images/pageni_h.png) no-repeat center;
}
.middle .swiper-button-next{
	width:40px;
	height:70px;
	background:url(../images/right.png) no-repeat center;
	position:absolute;
	right:36px;
	top:460px;
}
.middle .swiper-button-prev{
	width:40px;
	height:70px;
	background:url(../images/left.png) no-repeat center;
	position:absolute;
	left:36px;
	top:460px;
}
.uk{
	width:835px;
	height:143px;
	position:absolute;
	right:-264px;
	bottom:200px;
	z-index:10;
}
.l_main{
	width:100%;
	height:1230px;
	overflow: hidden;
	background:url(../images/banner.jpg) no-repeat center;
	position:relative;
}
.label1{
	width:300px;
	height:44px;
	margin:0 auto;
	padding-top:115px;
}
.t_tab{
	width:487px;
	height:40px;
	overflow: hidden;
	position:relative;
	margin:45px auto 0;	
}
.t_tab ul{
	width:100%;
	height:100%;
	position:relative;
}
.t_tab ul li{
	width:142px;
	height:100%;
	background:url(../images/s.png) no-repeat center;
	text-align: center;
	line-height:40px;
	color:#fff;
	float:left;
	cursor: pointer;
}
.t_tab ul li:nth-child(2){
	margin:0 30px;
}
.t_tab ul li.active{
	background:url(../images/s_h.png) no-repeat center;
}
.t_tab ul li:hover{
	background:url(../images/s_h.png) no-repeat center;
}
.m_body{
	width:100%;
	height:1000px;
	overflow: hidden;
	position:relative;
	margin-top:20px;
	display: none;
}
.m_body.active{
	display: block;
}
.clear{
	clear:both;
}
.m_body ul{
	width:100%;
	overflow: hidden;
	position:relative;
}
.m_body ul li{
	width:380px;
	height:380px;
	border-bottom:2px solid #d4d4d4;
	float:left;
	margin-top:30px;
	position:relative;
}
.m_body ul li:hover{
	border-bottom:2px solid #9d1212;
	animation: LiGo 1s linear;
	-webkit-animation: LiGo 1s linear;
}
@keyframes LiGo{
	0%{transform: translateY(0px);}
	50%{transform: translateY(10px);}
	100%{transform: translateY(0);}
}
@-webkit-keyframes LiGo{
	0%{transform: translateY(0px);}
	50%{transform: translateY(10px);}
	100%{transform: translateY(0);}
}
.m_body ul li:nth-child(2){
	margin:30px 30px 0;
}
.m_body ul li:nth-child(6){
	margin:30px 30px 0;
}
.m_body ul li .m_img{
	width:100%;
	height:197px;
	position:relative;
	overflow: hidden;
}
.m_body ul li .m_img img{
	display: block;
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}
.m_body ul li .m_img .wks{
	width:91px;
	height:29px;
	position:absolute;
	left:0;
	bottom:20px;
}
.m_body ul li .m_img .time{
	width:145px;
	height:29px;
	background:url(../images/time.png) no-repeat center;
	position:absolute;
	right:0;
	bottom:20px;
	font-size:18px;
	color:#ab9999;
	text-align: center;
	line-height:29px;
}
.m_body ul li .m_txt{
	width:100%;
	height:183px;
	position:relative;
	background-color:#fcfcfc;
}
.m_body ul li .m_txt p{
	font-size:20px;
	color:#000;
	text-align: center;
	line-height:80px;
}
.m_body ul li .m_txt .datatime{
	font-size:40px;
	color:#ddd;
	text-align: center;
	line-height:40px;
	font-weight:bold;
}
.m_body ul li .m_txt .datatime em{
	font-style: normal;
	margin:0 5px;
}
.m_body ul li .m_txt .datatime span{
	color:#333;
}
.m_body ul li .m_txt .datatime span:nth-child(1){
	color:#9d1212
}
.m_body ul li .m_txt .datatit{
	font-size:10px;
	color:#ddd;
	text-align: center;
	font-weight:bold;
	margin-top:25px;
	margin-left:10px;
}
.m_body ul li .m_txt .datatit span:nth-child(2){
	margin:0 25px;
}
.m_ctxt{
	width:100%;
	height:183px;
	position:relative;
	background-color:#fcfcfc;
}
.m_ctxt p{
	width:340px;
	color:#9d1212;
	font-size:18px;
	line-height:26px;
	margin:0 auto;
	padding-top:25px;
}
.m_ctxt p.second_p{
	font-size:14px;
	color: rgb(51, 51, 51);
	line-height:20px;
	margin-top:20px;
	padding-top:0;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}
