.q_content {
  width: 100%;
  /*max-width: 1920px;*/
  min-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  /*background: url("../images/q_bimg1.jpg") no-repeat;*/
  /*background-size: 1920px 3345px;*/
  /*background-position: center 0;*/
}
.q_play{
width: 1200px;
    height: 170px;
    position: absolute;
    left: 50%;
    margin-left: -446px;
    top: -3px;
}
.q_img{
    display: block;
    width: 151px;
    position: absolute;
    top: 410px;
    left: 340px;
    z-index: 10;
    cursor: pointer;
    animation: vGo 2s linear infinite;
    -webkit-animation: vGo 2s linear infinite;
}
.logo_img{
    position: absolute;
    width: 463px;
    left: 50%;
    top: 166px;
    display: block;
    margin-left: -622px;
}
@keyframes vGo{
	0%{transform: scale(0.9);}
	50%{transform: scale(1);}
	100%{transform: scale(0.9);}
}
@-webkit-keyframes vGo{
	0%{transform: scale(0.9);}
	50%{transform: scale(1);}
	100%{transform: scale(0.9);}
}
.kv1{
	width:1910px;
	height:1127px;
	/*background:url(../images/kv_new.jpg) no-repeat center;*/
	position:absolute;
	left:50%;
	margin-left:-960px;
	top:118px;
	z-index:-1;
}
.kv2{
	width:1910px;
	height:1808px;
	background:url(../images/q_kv1.jpg) no-repeat center;
	position:absolute;
	left:50%;
	margin-left:-960px;
	top:1245px;
	z-index:-1;
}
.q_item {
  width: 1200px;
  margin: 0 auto;
}
.q_item1 {
  margin-top: 725px;
  height: 156px;
  position: relative;
  overflow: hidden;
  background: url("../images/q_bimg3.png") no-repeat;
  background-size: cover;
}
.q_item1 > label {
  display: block;
  width: 16px;
  height: 26px;
  position: absolute;
  top: 85px;
}
.q_item1 > label.i1_preve {
  left: 26px;
  background: url("../images/q_left.png") no-repeat;
  background-size: cover;
}
.q_item1 > label.i1_next {
  right: 26px;
  background: url("../images/q_right.png") no-repeat;
  background-size: cover;
}
.q_item1 > label:hover {
  cursor: pointer;
}
.q_item1 > div {
  width: 1080px;
  height: 90px;
  margin: 0 auto;
  margin-top: 60px;
  overflow: hidden;
}
.q_item1 > div ul {
  min-width: 100000px;
  height: 100%;
}
.q_item1 > div ul li {
  width: 158px;
  height: 70px;
  float: left;
  margin-left: 24px;
  overflow: hidden;
  border: 1px solid #333333;
  box-sizing: border-box;
}
.q_item1 > div ul li img {
  width: 100%;
}
.q_item1 > div ul li.i1_list_1 {
  margin-left: 0;
}
.q_item2 {
  width: 1200px;
  padding: 6px;
  overflow: hidden;
  margin-top: 40px;
  background: #0b051c;
  box-sizing: border-box;
}
.q_item2 .i2_left {
  width: 795px;
  height: auto;
  float: left;
}
.q_item2 .i2_left .mo-icon {
  bottom: 16px;
}
.q_item2 .i2_left .mo-icon i {
  width: 14px;
  height: 14px;
  margin: 0 0 0 12px;
  border-radius: 14px;
}
.q_item2 .i2_left .mo-icon i.mo_icon1 {
  margin-left: 0;
}
.q_item2 .i2_left .mo-icon i.active {
  width: 22px;
}
.q_item2 .i2_right {
  width: 380px;
  float: right;
}
.q_item2 .i2_right .i2_r_nav {
  width: 100%;
  position: relative;
  margin-top: 14px;
  overflow: hidden;
}
.q_item2 .i2_right .i2_r_nav li {
  float: left;
  width: 74px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  color: #89849e;
  background: url(../images/q_icon2.png);
  background-size: cover;
  transition: all .2s;
  -webkit-transition: all .2s;
}
.q_item2 .i2_right .i2_r_nav li.active {
  color: #000;
  background: url(../images/q_icon3.png);
  background-size: cover;
}
.q_item2 .i2_right .i2_r_nav li:hover {
  cursor: pointer;
  color: #000;
  background: url(../images/q_icon3.png);
  background-size: cover;
}
.q_item2 .i2_right .i2_r_content {
  margin: 24px 0 0 0;
  height: 330px;
  overflow: hidden;
}
.q_item2 .i2_right .i2_r_content > li {
  display: none;
  height: 100%;
}
.q_item2 .i2_right .i2_r_content > li label.i2_line {
  width: 100%;
  height: 1px;
  margin-bottom: 14px;
  display: block;
  background: #221e35;
}
.q_item2 .i2_right .i2_r_content > li > a {
  display: block;
  margin-bottom: 14px;
  font-size: 22px;
  color: #cccccc;
  position: relative;
  line-height: 32px;
  max-height: 60px;
  overflow: hidden;
}
.q_item2 .i2_right .i2_r_content > li > a span {
  color: #ffde00;
}
.q_item2 .i2_right .i2_r_content > li ul {
  width: 100%;
}
.q_item2 .i2_right .i2_r_content > li ul li {
  margin: 0 0 18px 0;
}
.q_item2 .i2_right .i2_r_content > li ul li a {
  display: block;
  overflow: hidden;
}
.q_item2 .i2_right .i2_r_content > li ul li a span {
  display: block;
  float: left;
  font-size: 14px;
  color: #555555;
  transition: all .2s;
  -webkit-transition: all .2s;
}
.q_item2 .i2_right .i2_r_content > li ul li a p {
  width: 260px;
  height: auto;
  margin: 0 0 0 12px;
  float: left;
  color: #999999;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all .2s;
  -webkit-transition: all .2s;
}
.q_item2 .i2_right .i2_r_content > li ul li a label {
  display: block;
  float: right;
  font-size: 14px;
  color: #555555;
  transition: all .2s;
  -webkit-transition: all .2s;
}
.q_item2 .i2_right .i2_r_content > li ul li a:hover span {
  color: #ffde00;
}
.q_item2 .i2_right .i2_r_content > li ul li a:hover p {
  color: #ffde00;
}
.q_item2 .i2_right .i2_r_content > li ul li a:hover label {
  color: #ffde00;
}
.q_item2 .i2_right .i2_r_content > li .i2_more {
  width: 172px;
  height: 36px;
  margin-top: 0;
  display: block;
  margin: 0 auto;
  background: url(../images/q_bimg4.png);
  text-align: center;
  line-height: 36px;
  color: #89849e;
  font-size: 20px;
}
.q_item2 .i2_right .i2_r_content > li.active {
  display: block;
}
.q_item3 {
  margin-top: 50px;
  height: 164px;
}
.q_item3 a {
  display: block;
  float: left;
  margin: 0 0 0 20px;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}
.q_item3 a img {
  display: block;
  line-height: 0;
}
.q_item3 a.i3_js {
  margin-left: 0;
}
.q_item3 a:hover {
  transform: translate(0, -10px);
  -webkit-transform: translate(0, -10px);
}
.q_item4 {
  margin-top: 50px;
  overflow: hidden;
}
.i4_left {
  width: 800px;
  height: auto;
  float: left;
}
.i4_left .i4_gl {
  margin-top: 46px;
}
.i4_left .i4_gl_video {
  margin-top: 46px;
}
.i4_left .i4_title {
  overflow: hidden;
}
.i4_left .i4_title img {
  float: left;
  margin-right: 36px;
}
.i4_left .i4_title .a1 {
  display: block;
  width: 152px;
  height: 22px;
  float: left;
  position: relative;
  top: 4px;
  background: url(../images/q_title4.png);
}
.i4_left .i4_title .a2 {
  display: block;
  width: 26px;
  height: 23px;
  background: url(../images/q_icon4.png);
  float: right;
  position: relative;
  top: 8px;
}
.i4_left .i4_content {
  padding: 14px 20px;
  box-sizing: border-box;
  background: #2f2f2f;
  margin-top: 10px;
}
.i4_left .i4_content .i4_l_nav {
  margin-bottom: 18px;
}
.i4_left .i4_content .i4_news {
  overflow: hidden;
  display: none;
}
.i4_left .i4_content .i4_news .i4_news_img {
  width: 356px;
  height: 230px;
  float: left;
  position: relative;
  border: 2px solid #383838;
  box-sizing: border-box;
  overflow: hidden;
}
.i4_left .i4_content .i4_news .i4_news_img a {
  display: block;
  width: 100%;
  height: 100%;
}
.i4_left .i4_content .i4_news .i4_news_img a img {
  display: block;
  line-height: 0;
  width: 100%;
}
.i4_left .i4_content .i4_news .i4_news_img a p {
  position: absolute;
  width: 100%;
  height: 38px;
  left: 0;
  bottom: 0;
  line-height: 38px;
  color: #999999;
  text-indent: 16px;
  background: rgba(0, 0, 0, 0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#99000000, 0, endcolorstr=#99000000, 0);
}
.i4_left .i4_content .active {
  display: block;
}
.i4_right {
  width: 380px;
  height: auto;
  float: right;
}
.i4_right .i4_r_action > img {
  display: block;
  margin: 8px 0 0 0;
}
.i4_right .i4_r_action > div {
  width: 100%;
  height: 194px;
  margin-top: 2px;
  padding: 10px;
  box-sizing: border-box;
  background: #2f2f2f;
}
.i4_right .i4_r_action > div > div {
  width: 100%;
  height: 100%;
}
.i4_right .i4_r_user,
.i4_right .i4_r_ph {
  margin-top: 50px;
}
.i4_right .i4_r_user > img,
.i4_right .i4_r_ph > img {
  display: block;
  margin-bottom: 10px;
}
.i4_right .i4_r_user > div,
.i4_right .i4_r_ph > div {
  padding: 10px 20px;
  box-sizing: border-box;
  background: #2f2f2f;
}
.i4_right .i4_r_ph {
  margin-top: 42px;
}
