.q_content {
    width: 100%;
    max-width: 1920px;
    min-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    background: url("../images/q_bimg1.jpg") no-repeat;
    background-size: 1920px 3345px;
    background-position: center 0;
}

.q_item {
    width: 1200px;
    margin: 0 auto;
}

.q_item1 {
    margin-top: 720px;
    height: 156px;
    position: relative;
    overflow: hidden;
    background: url("../images/q_bimg3.png") no-repeat;
    background-size: cover;
    >label {
        display: block;
        width: 16px;
        height: 26px;
        position: absolute;
        top: 85px;
    }
    >label.i1_preve {
        left: 26px;
        background: url("../images/q_left.png") no-repeat;
        background-size: cover;
    }
    >label.i1_next {
        right: 26px;
        background: url("../images/q_right.png") no-repeat;
        background-size: cover;
    }
    >label:hover {
        cursor: pointer;
    }
    >div {
        width: 1080px;
        height: 90px;
        margin: 0 auto;
        margin-top: 60px;
        overflow: hidden;
        ul {
            min-width: 100000px;
            height: 100%;
            li {
                width: 158px;
                height: 70px;
                float: left;
                margin-left: 24px;
                overflow: hidden;
                border: 1px solid #333333;
                box-sizing: border-box;
                img {
                    width: 100%;
                }
            }
            li.i1_list_1 {
                margin-left: 0;
            }
        }
    }
}

.q_item2 {
    width: 1200px;
    padding: 6px;
    overflow: hidden;
    margin-top: 40px;
    background: #0b051c;
    box-sizing: border-box;
    .i2_left {
        width: 795px;
        height: auto;
        float: left;
        .mo-icon {
            bottom: 16px;
            i {
                width: 14px;
                height: 14px;
                margin: 0 0 0 12px;
                border-radius: 14px;
            }
            i.mo_icon1 {
                margin-left: 0;
            }
            i.active {
                width: 22px;
            }
        }
    }
    .i2_right {
        width: 380px;
        float: right;
        .i2_r_nav {
            width: 100%;
            position: relative;
            margin-top: 14px;
            overflow: hidden;
            li {
                float: left;
                width: 74px;
                height: 28px;
                text-align: center;
                line-height: 28px;
                color: #89849e;
                background: url(../images/q_icon2.png);
                background-size: cover;
                transition: all .2s;
                -webkit-transition: all .2s;
            }
            li.active {
                color: #000;
                background: url(../images/q_icon3.png);
                background-size: cover;
            }
            li:hover {
                cursor: pointer;
                color: #000;
                background: url(../images/q_icon3.png);
                background-size: cover;
            }
        }
        .i2_r_content {
            margin: 24px 0 0 0;
            height: 330px;
            overflow: hidden;
            >li {
                display: none;
                height: 100%;
                label.i2_line {
                    width: 100%;
                    height: 1px;
                    margin-bottom: 14px;
                    display: block;
                    background: #221e35;
                }
                >a {
                    display: block;
                    margin-bottom: 14px;
                    font-size: 22px;
                    color: #cccccc;
                    position: relative;
                    line-height: 32px;
                    max-height: 60px;
                    overflow: hidden;
                    span {
                        color: #ffde00;
                    }
                }
                ul {
                    width: 100%;
                    li {
                        margin: 0 0 18px 0;
                        a {
                            display: block;
                            overflow: hidden;
                            span {
                                display: block;
                                float: left;
                                font-size: 14px;
                                color: #555555;
                                transition: all .2s;
                                -webkit-transition: all .2s;
                            }
                            p {
                                width: 260px;
                                height: auto;
                                margin: 0 0 0 12px;
                                float: left;
                                color: #999999;
                                font-size: 14px;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                transition: all .2s;
                                -webkit-transition: all .2s;
                            }
                            label {
                                display: block;
                                float: right;
                                font-size: 14px;
                                color: #555555;
                                transition: all .2s;
                                -webkit-transition: all .2s;
                            }
                        }
                        a:hover {
                            span {
                                color: #ffde00;
                            }
                            p {
                                color: #ffde00;
                            }
                            label {
                                color: #ffde00;
                            }
                        }
                    }
                }
                .i2_more {
                    width: 172px;
                    height: 36px;
                    margin-top: 0;
                    display: block;
                    margin: 0 auto;
                    background: url(../images/q_bimg4.png);
                    text-align: center;
                    line-height: 36px;
                    color: #89849e;
                    font-size: 20px;
                }
            }
            >li.active {
                display: block;
            }
        }
    }
}

.q_item3 {
    margin-top: 50px;
    height: 164px;
    a {
        display: block;
        float: left;
        margin: 0 0 0 20px;
        transition: all .2s ease-out;
        -webkit-transition: all .2s ease-out;
        img {
            display: block;
            line-height: 0;
        }
    }
    a.i3_js {
        margin-left: 0;
    }
    a:hover {
        transform: translate(0, -10px);
        -webkit-transform: translate(0, -10px);
    }
}

.q_item4 {
    margin-top: 50px;
    overflow: hidden;
}

.i4_left {
    width: 800px;
    height: auto;
    float: left;
    .i4_gl {
        margin-top: 46px;
    }
    .i4_gl_video {
        margin-top: 46px;
    }
    .i4_title {
        overflow: hidden;
        img {
            float: left;
            margin-right: 36px;
        }
        .a1 {
            display: block;
            width: 152px;
            height: 22px;
            float: left;
            position: relative;
            top: 4px;
            background: url(../images/q_title4.png);
        }
        .a2 {
            display: block;
            width: 26px;
            height: 23px;
            background: url(../images/q_icon4.png);
            float: right;
            position: relative;
            top: 8px;
        }
    }
    .i4_content {
        padding: 14px 20px;
        box-sizing: border-box;
        background: #2f2f2f;
        margin-top: 10px;
        .i4_l_nav {
            margin-bottom: 18px;
        }
        .i4_news {
            overflow: hidden;
            display: none;
            .i4_news_img {
                width: 356px;
                height: 230px;
                float: left;
                position: relative;
                border: 2px solid #383838;
                box-sizing: border-box;
                overflow: hidden;
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    img {
                        display: block;
                        line-height: 0;
                        width: 100%;
                    }
                    p {
                        position: absolute;
                        width: 100%;
                        height: 38px;
                        left: 0;
                        bottom: 0;
                        line-height: 38px;
                        color: #999999;
                        text-indent: 16px;
                        background: rgba(0, 0, 0, .6);
                        filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#99000000, endcolorstr=#99000000);
                    }
                }
            }
        }
        .active {
            display: block;
        }
    }
}

.i4_right {
    width: 380px;
    height: auto;
    float: right;
    .i4_r_action {
        >img {
            display: block;
            margin: 8px 0 0 0;
        }
        >div {
            width: 100%;
            height: 194px;
            margin-top: 2px;
            padding: 10px;
            box-sizing: border-box;
            background: #2f2f2f;
            >div {
                width: 100%;
                height: 100%;
            }
        }
    }
    .i4_r_user,
    .i4_r_ph {
        margin-top: 50px;
        >img {
            display: block;
            margin-bottom: 10px;
        }
        >div {
            padding: 10px 20px;
            box-sizing: border-box;
            background: #2f2f2f;
        }
    }
    .i4_r_ph {
        margin-top: 42px;
    }
}