.q_back {
  width: 54px;
  height: 56px;
  position: fixed;
  top: 220px;
  right: 280px;
  color: #fff;
  text-align: center;
  line-height: 56px;
  font-size: 14px;
  background: #05277e;
}
.n_content {
  width: 1040px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}
.n_content h1 {
  font-size: 30px;
  color: #cccccc;
  margin: 50px 0 30px 0;
  line-height: 38px;
}
.n_content h2 {
  font-size: 16px;
  color: #666666;
  padding: 0 0 30px 0;
  margin: 0 0 55px 0;
  border-bottom: 1px solid #2b2b2b;
}
.n_content p {
  font-size: 16px;
  color: #cccccc;
  text-indent: 2em;
  line-height: 30px;
  margin-bottom: 30px;
}
.n_content img {
  max-width: 100%;
}
