.kv{
	width:100%;
	height:939px;
	background:url(../images/n_kv.jpg) no-repeat center;
	position:relative;
	overflow: hidden;
}
.logo{
	display: block;
	position:absolute;
	top:38px;
	left:60px;
}
.enter{
	display: block;
	position:absolute;
	right:61px;
	top:64px;
	opacity: .9;
}
.enter:hover{
	opacity: 1;
}
.second{
	width:100%;
	height:828px;
	background:url(../images/n_second.jpg) no-repeat center;
	position:relative;
	overflow: hidden;
}
.label{
	display: block;
	margin:164px auto 0;
}
.second .tab_con{
	width:100%;
	position:relative;
}
.second .tab_con .tab_ul{
	width:234px;
	overflow: hidden;
	float:left;
	margin:102px 80px 0 9px;
}
.second .tab_con .tab_ul li{
	width:234px;
	height:81px;
	position:relative;
	overflow: hidden;
	cursor: pointer;
	margin-top:25px;
}
.second .tab_con .tab_ul li.active img:nth-child(1){
	display: none;
}
.tab_gun{
	float:left;
}
.tab_gun>div{
	display: none;
	margin-top:70px;
	position:relative;
	width:826px;
}
.tab_gun>div.active{
	display: block;
}
.tab_gun>div .gun{
	display: block;
	position:absolute;
	left:0;
	top:0;
}
.tab_gun>div:nth-child(1){
	margin-top:130px;
}
.tab_gun>div:nth-child(2){
	margin-top:70px;
	margin-left:42px;
	width:780px;
	height:427px;
}
.tab_gun>div:nth-child(2) .img_play{
	left:74px;
	bottom:125px;
	width:146px;
	height:70px;
	position:absolute;
}
.tab_gun>div:nth-child(3){
	margin-top:77px;
	margin-left:17px;
	width:808px;
	height:416px;
}
.tab_gun>div:nth-child(3) .img_play{
	left:93px;
	bottom:120px;
	width:146px;
	height:70px;
	position:absolute;
}
.tab_gun>div:nth-child(1) .img_play{
	width:146px;
	height:70px;
	position:absolute;
	right:0;
	top:36px;
}
.tab_gun>div .img_play img{
	display: block;
	float:left;
}
.tab_gun>div .img_play img:nth-child(1){
	cursor: pointer;
	transition:all .5s;
	-webkit-transition:all .5s;
	animation: rotateImg 2s linear infinite;
	-webkit-animation: rotateImg 2s linear infinite;
}
@keyframes rotateImg{
	0%{transform: scale(1.1);-webkit-transform: scale(1.1);}
	50%{transform: scale(1);-webkit-transform: scale(1);}
	100%{transform: scale(1);-webkit-transform: scale(1.1);}
}
@-webkit-keyframes rotateImg{
	0%{transform: scale(1.1);-webkit-transform: scale(1.1);}
	50%{transform: scale(1);-webkit-transform: scale(1);}
	100%{transform: scale(1);-webkit-transform: scale(1.1);}
}
.tab_gun>div .img_play img:nth-child(2){
	float:right;
	margin-top:5px;
}
.last{
	width:100%;
	height:756px;
	background:url(../images/n_last.jpg) no-repeat center;
	position:relative;
	overflow: hidden;
}
.last .label{
	margin-top:46px;
}
.last .person{
	display: block;
	position:absolute;
	left:390px;
	top:203px;
	z-index:1;
}
.last .txt_bg{
	width:576px;
	height:206px;
	background:url(../images/txt_bg.png) no-repeat center;
	position:absolute;
	left:45px;
	top:289px;
}
.last .txt_bg p{
	width:410px;
	margin:28px 0 0 32px;
	font-size:16px;
	color:#616161;
	line-height:36px;
}
.last .right_txt{
	position:absolute;
	top:280px;
	left:820px;
}
.last .right_txt img{
	display: block;
	margin-bottom:20px;
}
.last .right_txt p{
	overflow: hidden;
	font-size:18px;
	color:#797979;
	line-height:48px;
}
.last .right_txt p i{
	display: block;
	width:22px;
	height:25px;
	background:url(../images/number.png) no-repeat center;
	float:left;
	font-size:10px;
	color:#716553;
	text-align: center;
	line-height:25px;
	font-style: normal;
	margin:12px 10px 0px 0px;
}
.last .right_txt p span em{
	color:#b9b9b9;
	font-style: normal;
}
.last .right_txt p span {
	display: block;
	float:left;
}
