*{margin: 0;padding: 0;-webkit-tap-highlight-color:rgba(0,0,0,0);}
body {font-family: "Î¢ÈíÑÅºÚ";}
.hidden{display:none!important;}
img{width:100%;height:100%;}
a{text-decoration:none;}
li{list-style:none;}
i,em{font-style:normal;}
.fl{float:left;}
.fr{float: right;}
input:focus{outline:none;}
.clearfix {
    clear: both;
}
.clearfix:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}
.chengg{
    width:100%;
    height:1px;
    background:none;
}
.no_auto{
    overflow: hidden;
    width:100%;
    height:100%;
}
.no_auto .co_tips{position:absolute;overflow: hidden;}
input[type=number] { -moz-appearance: textfield; } input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
.wrap{
    width:1200px;
    position:relative;
    margin:0 auto;
}
.wrap1{
    max-width: 1920px;
    width: 100%;
    position: absolute;
    left: 50%;
    margin: 0 auto;
    z-index: 10;
    transform: translate(-50%,0);
    transform: translate(-50%,0);
}
.i_main .ani .ani-item{/*½¥Òþ1*/
    opacity: 0;
    transition: all .8s;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -o-transition: all .8s;
}
.i_main .ani.show-ani .ani-item{/*½¥Òþ2*/
    opacity: 1;
    transform: scale(1,1) translateX(0) translateY(0)!important;
    -ms-transform: scale(1,1) translateX(0) translateY(0)!important;
    -webkit-transform: scale(1,1) translateX(0) translateY(0)!important;
    -moz-transform: scale(1,1) translateX(0) translateY(0)!important;
    -o-transform: scale(1,1) translateX(0) translateY(0)!important;
}
.i_main .ani.show-ani .ani-item.ani-delay
{
    transition-delay: .3s;
    -moz-transition-delay: .3s; /* Firefox 4 */
    -webkit-transition-delay: .3s; /* Safari ºÍ Chrome */
    -o-transition-delay: .3s; /* Opera */
}
