.box {
	background: url(../img/main_bg.jpg) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 79.125rem;
	position: relative;
	overflow: hidden;
}

.date {
	width: 6.71875rem;
	height: 6.28125rem;
	position: absolute;
	right: -0.1rem;
	top: 8rem;
}

.flr {
	width: 100%;
	height: 20.78125rem;
	position: absolute;
	top: 0.4375rem;
}

.main_1 {
	width: 100%;
	height: 22.78125rem;
	position: relative;
	top: 21.8125rem;
}

.main_1 .pic {
	width: 3.1875rem;
	height: 3.1875rem;
	position: absolute;
	left: 50%;
	top: -0.5rem;
	margin-left: -1.59375rem;
}

.main_1 .title {
	width: 14.15625rem;
	height: 0.9375rem;
	position: absolute;
	left: 50%;
	margin-left: -7.078125rem;
	top: 3.4rem;
}

.main_1 .police {
	width: 8.4375rem;
	height: 10.6875rem;
	position: absolute;
	right: -0.7rem;
	top: 2.5rem;
}

.main_1 .txt {
	width: 9.4375rem;
	height:1.53125rem;
	position: absolute;
	left: 50%;
	margin-left: -4.71875rem;
	top: 5rem;
}

.main_1 .content_1 {
	background: url(../img/txt_bg.jpg) no-repeat;
	background-size: 100% 100%;
	width: 8.46875rem;
	height: 4.625rem;
	position: relative;
	left: 50%;
	text-align:center;
	vertical-align: middle;
	margin-left: -4.234375rem;
	top: 8.5rem;
}
.main_1 .content_1 a{
	display: table-cell;
	vertical-align: middle;
	width: 8.46875rem;
	height: 4.625rem;
}
.main_1 .content_1 img{
	max-width:7.46875rem;
	max-height:4.625rem;
}
.main_1 .content_1 .name{
	background:url(../img/name.png) no-repeat;
	background-size:100% 100%;
	width:5.9375rem;
	height:1.40625rem;
	position:absolute;
	left:50%;
	margin-left:-2.96875rem;
	margin-top:0.25rem;
}
.main_1 .content_1 .name p{
	font-size:0.5rem;
	font-family: "SourceHanSansCN";
	color: rgb( 120, 61, 22 );
	line-height: 1.50625rem;
	font-weight:bold;
	text-align: center;
}

.main_1 .content_2 {
	background: url(../img/txt_bg.jpg) no-repeat;
	background-size: 100% 100%;
	width: 8.46875rem;
	height: 4.625rem;
	position: relative;
	text-align:center;
	vertical-align: middle;
	top: 10.78125rem;
	left:0.6875rem;
	display: inline-block;
}
.main_1 .content_2 a{
	display: table-cell;
	vertical-align: middle;
	width: 8.46875rem;
	height: 4.625rem;
}
.main_1 .content_2 img{
	max-width:5.46875rem;
	max-height:4.625rem;
}
.main_1 .content_2 .name{
	background:url(../img/name.png) no-repeat;
	background-size:100% 100%;
	width:5.9375rem;
	height:1.40625rem;
	position:absolute;
	left:50%;
	margin-left:-2.96875rem;
	margin-top:0.25rem;
}
.main_1 .content_2 .name p{
	font-size:0.5rem;
	font-family: "SourceHanSansCN";
	color: rgb( 120, 61, 22 );
	line-height: 1.50625rem;
	font-weight:bold;
	text-align: center;
}

.main_1 .content_3 {
	background: url(../img/txt_bg.jpg) no-repeat;
	background-size: 100% 100%;
	width: 8.46875rem;
	height: 4.625rem;
	position: relative;
	text-align:center;
	vertical-align: middle;
	top: 10.78125rem;
	left:2.125rem;
	display: inline-block;
}
.main_1 .content_3 a{
	display: table-cell;
	vertical-align: middle;
	width: 8.46875rem;
	height: 4.625rem;
}
.main_1 .content_3 img{
	max-width:8.46875rem;
	max-height:3.625rem;
}
.main_1 .content_3 .name{
	background:url(../img/name.png) no-repeat;
	background-size:100% 100%;
	width:5.9375rem;
	height:1.40625rem;
	position:absolute;
	left:50%;
	margin-left:-2.96875rem;
	margin-top:0.25rem;
}
.main_1 .content_3 .name p{
	font-size:0.5rem;
	font-family: "SourceHanSansCN";
	color: rgb( 120, 61, 22 );
	line-height: 1.50625rem;
	font-weight:bold;
	text-align: center;
}

.main_2{
	width:100%;
	height:15.90625rem;
	position:relative;
	top:22rem;
}

.main_2 .pic_1{
	width: 3.1875rem;
	height: 3.1875rem;
	position: absolute;
	left: 50%;
	margin-left: -1.59375rem;
}

.main_2 .title_1{
	width:15.65625rem;
	height:3.28125rem;
	position:absolute;
	left:50%;
	margin-left:-7.828125rem;
	top:3.9rem;
}

.main_2 .content_1{
	background: url(../img/txt_bg_1.jpg) no-repeat;
	background-size: 100% 100%;
	width: 8.53125rem;
	height: 4.8125rem;
	position: relative;
	left: 0.6875rem;
	display: inline-block;
	text-align:center;
	vertical-align: middle;
	top: 8.5rem;
}

.main_2 .content_1 a{
	display: table-cell;
	vertical-align: middle;
	width: 8.53125rem;
	height: 4.8125rem;
}
.main_2 .content_1 img{
	max-width:6.53125rem;
	max-height:4.8125rem;
}
.main_2 .content_1 .name{
	background:url(../img/name.png) no-repeat;
	background-size:100% 100%;
	width:5.9375rem;
	height:1.40625rem;
	position:absolute;
	left:50%;
	margin-left:-2.96875rem;
	margin-top:0.45rem;
}
.main_2 .content_1 .name p{
	font-size:0.5rem;
	font-family: "SourceHanSansCN";
	color: rgb( 120, 61, 22 );
	line-height: 1.50625rem;
	font-weight:bold;
	text-align: center;
}

.main_2 .content_2{
	background: url(../img/txt_bg_1.jpg) no-repeat;
	background-size: 100% 100%;
	width: 8.53125rem;
	height: 4.8125rem;
	position: relative;
	left: 2.125rem;
	text-align:center;
	vertical-align: middle;
	top: 8.5rem;
	display: inline-block;
}

.main_2 .content_2 a{
	display: table-cell;
	vertical-align: middle;
	width: 8.53125rem;
	height: 4.8125rem;
}
.main_2 .content_2 img{
	max-width:7.53125rem;
	max-height:4.8125rem;
}
.main_2 .content_2 .name{
	background:url(../img/name.png) no-repeat;
	background-size:100% 100%;
	width:5.9375rem;
	height:1.40625rem;
	position:absolute;
	left:50%;
	margin-left:-2.96875rem;
	margin-top:0.45rem;
}
.main_2 .content_2 .name p{
	font-size:0.5rem;
	font-family: "SourceHanSansCN";
	color: rgb( 120, 61, 22 );
	line-height: 1.50625rem;
	font-weight:bold;
	text-align: center;
}

.main_3{
	width:100%;
	height:18.84375rem;
	position:relative;
	top:22rem;
}

.main_3 .pic_2{
	width: 3.1875rem;
	height: 3.1875rem;
	position: absolute;
	left: 50%;
	margin-left: -1.59375rem;
}
.main_3 .title_2{
	width:14.15625rem;
	height:0.9375rem;
	position:absolute;
	left:50%;
	margin-left:-7.078125rem;
	top:3.9rem;
}

.main_3 .rule{
	width:18.84375rem;
	height:7.53125rem;
	position:absolute;
	top:6.5rem;
	left:50%;
	margin-left:-9.421875rem;
}

#Hero-bar {
    width: 100%;
    overflow: hidden;
    background: #1b1b1b;
    position: relative;
    z-index: 99999999;
    bottom:0;
    padding-bottom: 9.5px;
}

footer .f_t {
    width: 100%;
    text-align: center;
    margin-top: 10.5px;
}
footer .f_t ul {
    width: 138px;
    height: 10.5px;
    margin-top: 5.5px;
    display: inline-block;
}

footer .f_t ul li {
    width: auto;
    height: 10.5px;
    line-height: 10.5px;
    text-align: center;
    padding-left: 5.6%;
    padding-right: 5.6%;
    border-right: 1px solid #535353;
    float: left;
}
footer .f_t ul a {
    width: auto;
    color: #d1cfcf;
    font-size: 10.5px;
    display: inherit;
}
footer .f_t .tel {
    width: 115px;
    height: 22.5px;
    display: inline-block;
}
footer .f_t .tel a {
    display: block;
    font-size: 10.5px;
    color: #c9032d;
    line-height: 22.5px;
}
footer .f_t .tel a i {
    display: inline-block;
    width: 22.5px;
    height: 22.5px;
    margin-right: 5.5px;
    float: left;
    background: url(../img/tel.png);
    background-size: 100% 100%;
}

footer .f_txt {
    width: 100%;
    height: 19px;
    line-height: 19px;
    color: #707070;
    font-size: 9px;
    text-align: center;
}
footer .f_link {
    width: 130.5px;
    height: 13px;
    margin: 0 auto;
    color: #707070;
    font-size: 9px;
    line-height: 13px;
}
footer .f_link .f_a01 {
    display: inline-block;
    width: 12.5px;
    height: 13px;
    float: left;
    margin-right: 3px;
}
footer .f_link .f_a01 img, footer .f_link .f_a02 img {
    width: 100%;
    height: 100%;
}

footer .f_link .f_a02 {
    width: 11.5px;
    height: 13px;
    display: inline-block;
    float: left;
    margin-right: 7px;
}