<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>三生问道官网 三生问道官方网站-3D燃战修仙对战手游-英雄互娱</title>
		<meta name="keywords" content="三生问道官网,三生问道手游,三生问道官方下载,三生问道论坛,三生问道比赛,三生问道安卓,三生问道ios,三生问道礼包,三生问道安装包,三生问道视频" />
		<meta name="description" content="首款3D燃战修仙对战手游《三生问道》以架空仙侠世界为背景，采用世界级领先Unity3d引擎，运用PBR材质渲染、超清粒子特效等次世代技术精心打磨唯美东方修真世界！人物造型百变，时尚飞翼、霸气宠物，流光酷炫，提供4K级影音沉浸式游戏体验！阵营、帮派、拜师、结婚，多维开放式社交系统，打造真实立体的朋友圈！360度全景式战场，两大阵营四大种族，15个野P战场，百人同屏跨服战，兼顾PVE与PVP，让你感受修仙从未如此燃魂！" />
		<link rel="shortcut icon" href="{$smarty.const.STATIC_DOMAIN}1.0/images/favicon.ico?{$smarty.const.VERSION}" />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}1.0/css/animate.min.css?{$smarty.const.VERSION}" />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}1.0/css/public.css?{$smarty.const.VERSION}" />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}1.0/css/index.css?{$smarty.const.VERSION}" />
		<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/js/jquery-1.11.2.min.js?{$smarty.const.VERSION}"></script>
		<script>
			var _hmt = _hmt || [];
			(function() {
			  var hm = document.createElement("script");
			  hm.src = "https://hm.baidu.com/hm.js?702f6a74d43f98bd4896ef149992426e";
			  var s = document.getElementsByTagName("script")[0]; 
			  s.parentNode.insertBefore(hm, s);
			})();
		</script>
		<script data-fixed="true">
			if((/iphone|android|mobile/i.test(navigator.userAgent.toLowerCase()))) {
				location.href = "/m" + window.location.pathname + window.location.search;
			}
		</script>
	</head>

	<body>
		<script type="text/javascript" src="//cdnstatic.yingxiong.com/head/js/topbar.js"></script>
		<div class="main_body">
			<div class="mkv">
				<div class="wrap">
					<div class="logo"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/logo.png?{$smarty.const.VERSION}" alt="" class="animated bounceInDown"/></div>
					<div class="slogan"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/slogan.png?{$smarty.const.VERSION}" alt="" class="animated bounceInLeft"/></div>
					<div class="download_game">
						<span class="code"><img class="js_jump_img" src="{$smarty.const.STATIC_DOMAIN}1.0/images/code.png?{$smarty.const.VERSION}" alt="" /></span>
						<a class="down_game js_down_andriod" href="javascript:;">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/andriod_1.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/andriod_2.png?{$smarty.const.VERSION}" alt="" />
						</a>
					</div>
				</div>
			</div>
			<div class="picList">
				<div class="wrap">
					<div class="pictitle">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pictitle.png?{$smarty.const.VERSION}" alt="" />
					</div>
					<ul class="picul">
						<li class="well-item">
							<div class="correct">
								<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pic01_xz.png?{$smarty.const.VERSION}" alt="" />
							</div>
							<div class="opposite">
								<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pic01_wz.png?{$smarty.const.VERSION}" alt="" />
							</div>
						</li>
						<li class="well-item">
							<div class="correct">
								<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pic02_xz.png?{$smarty.const.VERSION}" alt="" />
							</div>
							<div class="opposite">
								<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pic02_wz.png?{$smarty.const.VERSION}" alt="" />
							</div>
						</li>
						<li class="well-item">
							<div class="correct">
								<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pic03_xz.png?{$smarty.const.VERSION}" alt="" />
							</div>
							<div class="opposite">
								<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pic03_wz.png?{$smarty.const.VERSION}" alt="" />
							</div>
						</li>
						<li class="well-item">
							<div class="correct">
								<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pic04_xz.png?{$smarty.const.VERSION}" alt="" />
							</div>
							<div class="opposite">
								<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pic04_wz.png?{$smarty.const.VERSION}" alt="" />
							</div>
						</li>
						<li class="well-item">
							<div class="correct">
								<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pic05_xz.png?{$smarty.const.VERSION}" alt="" />
							</div>
							<div class="opposite">
								<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pic05_wz.png?{$smarty.const.VERSION}" alt="" />
							</div>
						</li>
						<li class="well-item">
							<div class="correct">
								<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pic06_xz.png?{$smarty.const.VERSION}" alt="" />
							</div>
							<div class="opposite">
								<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pic06_wz.png?{$smarty.const.VERSION}" alt="" />
							</div>
						</li>
						<li class="well-item">
							<div class="correct">
								<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pic07_xz.png?{$smarty.const.VERSION}" alt="" />
							</div>
							<div class="opposite">
								<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pic07_wz.png?{$smarty.const.VERSION}" alt="" />
							</div>
						</li>
						<li class="well-item">
							<div class="correct">
								<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pic08_xz.png?{$smarty.const.VERSION}" alt="" />
							</div>
							<div class="opposite">
								<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pic08_wz.png?{$smarty.const.VERSION}" alt="" />
							</div>
						</li>
						<li class="well-item">
							<div class="correct">
								<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pic09_xz.png?{$smarty.const.VERSION}" alt="" />
							</div>
							<div class="opposite">
								<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pic09_wz.png?{$smarty.const.VERSION}" alt="" />
							</div>
						</li>
						<li class="well-item">
							<div class="correct">
								<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pic10_xz.png?{$smarty.const.VERSION}" alt="" />
							</div>
							<div class="opposite">
								<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pic10_wz.png?{$smarty.const.VERSION}" alt="" />
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="ss_img">
				<div class="wrap">
					<div class="ss_title"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pictitle02.png?{$smarty.const.VERSION}" alt="" /></div>
					<ul class="ss_pic">
						<li>
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/small01.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/big01.png?{$smarty.const.VERSION}" alt="" />
						</li>
						<li>
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/small02.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/big02.png?{$smarty.const.VERSION}" alt="" />
						</li>
						<li class="active">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/small03.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/big03.png?{$smarty.const.VERSION}" alt="" />
						</li>
						<li>
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/small04.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/big04.png?{$smarty.const.VERSION}" alt="" />
						</li>
						<li>
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/small05.png?{$smarty.const.VERSION}" alt="" />
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/big05.png?{$smarty.const.VERSION}" alt="" />
						</li>
					</ul>
				</div>
			</div>
			<script type="text/javascript" src="//cdnstatic.yingxiong.com/footer/js/footer_new.js"></script>
		</div>
	</body>
	<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/js/index.js?{$smarty.const.VERSION}"></script>
	{download}
	<script type="text/javascript">
		var $animate = $('#animate');
		var $opposite = $('#opposite');
		$(".well-item").hover(function() {
			$(this).find(".correct").children().removeClass();
			$(this).find(".opposite").children().removeClass();
			$(this).find(".correct").children().addClass("test2");
			$(this).find(".opposite").children().addClass('test');
		}, function() {
			$(this).find(".correct").children().removeClass();
			$(this).find(".opposite").children().removeClass();
			$(this).find(".correct").children().addClass("test");
			$(this).find(".opposite").children().addClass('test2');
		});
		
		$(".ss_pic li").hover(function (){
			$(this).addClass("active").siblings().removeClass("active");
		},function (){
			
		})
	</script>

</html>