{include '../../layouts/wap/header.html'}
<!--内容-->
<div class="i_main">
	<!--第一部分-->
	<div class="top">
		<div class="top_con">
			<div class="logo"><img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/l_logo.png?{$smarty.const.VERSION}" alt="" /></div>
			<div class="play">
				{fragment var=video code=index_video size=1}
				<a href="{if $video}javascript:;{else}javascript:yx_showTips('敬请期待');{/if}" class="{if $video}js_video_play{else}{/if}" data-url="{if $video}{$video[0].url}{/if}">
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/play.png?{$smarty.const.VERSION}">
				</a>
			</div>
			<!--<div class="slogan"><img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/slogan.png?{$smarty.const.VERSION}" alt="" /></div>-->
			<!--<div class="plane"><img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/plane.png?{$smarty.const.VERSION}" alt="" /></div>-->
			<!-- <div class="btn">
				<a href="javascript:;" class="yue_btn"></a> -->
				<!-- <p class="y_person">0</p> -->
				<!-- <img src="{$smarty.const.STATIC_DOMAIN}1.0/images/hongbao.png?{$smarty.const.VERSION}" alt="" class="hongbao" />
			</div> -->
			<a href="javascript:;" class="order2 stat_event_cover_down js_wap_down active"></a>
			<!--<div class="hzf">
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/hzf.png?{$smarty.const.VERSION}" alt="">
			</div>-->
		</div>
	</div>
	<div class="part_two">
		<!--第二部分-->
		<div class="banner_news">
			<div class="banner">
				<div class="swiper-container swiper-container1">
					<div class="swiper-wrapper">
						{fragment var=banner code=index_banner size=5} {if $banner neq ''} {foreach $banner as $v}
						<div class="swiper-slide">
							<a href="{if $v.url}{$v.url}{else}javascript:;{/if}"><img class="images" src="{$v.thumb}" alt=""></a>
						</div>
						{/foreach} {/if}
					</div>
				</div>
				<div class="swiper-pagination swiper-pagination1"></div>
			</div>
			<div class="news_box">
				<p class="title"><img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/l_news_tit.png?{$smarty.const.VERSION}" alt="" /></p>
				<div class="hd">
					<ul>
						<li class="on">
							<a>最新</a>
						</li>
						<li>
							<a>资讯</a>
						</li>
						<li>
							<a>公告</a>
						</li>
						<li>
							<a>活动</a>
						</li>
						<!--<li>-->
							<!--<a>攻略</a>-->
						<!--</li>-->
					</ul>
				</div>
				<div class="bd">
					<ul class="news_info">
						{article id="637" size=4 var=zx} {if $zx neq ''} {foreach $zx as $key=>$v} {if $key >= 0}
						<li>
							<a href="{$v.wapLinkUrl}"><i class="small_ti">[{$v.name}]</i>{$v.title}</a><span>{$v.created_at|date_format:"%m/%d"}</span>
						</li>
						{/if} {/foreach}
						<a href="{myurl name='wap/article/list, id=>637'}" class="more"></a>
						{else}
						<p class="noData" style="line-height: 7.5rem;color: #ECE7CB;text-align: center;font-size: .9375rem;">暂无数据...</p>
						<a href="javascript:;" class="more" style="opacity:0;"></a>
						{/if}
					</ul>
					<ul class="news_info hidden">
						{article id="638" size=4 var=xw} {if $xw neq ''} {foreach $xw as $key=>$v} {if $key >= 0}
						<li>
							<a href="{$v.wapLinkUrl}"><i class="small_ti">[{$v.name}]</i>{$v.title}</a><span>{$v.created_at|date_format:"%m/%d"}</span>
						</li>
						{/if} {/foreach}
						<a href="{myurl name='wap/article/list, id=>638'}" class="more"></a>
						{else}
						<p class="noData" style="line-height: 7.5rem;color: #ECE7CB;text-align: center;font-size: .9375rem;">暂无数据...</p>
						<a href="javascript:;" class="more" style="opacity:0;"></a>
						{/if}
					</ul>
					<ul class="news_info hidden">
						{article id="639" size=4 var=gg} {if $gg neq ''} {foreach $gg as $key=>$v} {if $key >= 0}
						<li>
							<a href="{$v.wapLinkUrl}"><i class="small_ti">[{$v.name}]</i>{$v.title}</a><span>{$v.created_at|date_format:"%m/%d"}</span>
						</li>
						{/if} {/foreach}
						<a href="{myurl name='wap/article/list, id=>639'}" class="more"></a>
						{else}
						<p class="noData" style="line-height: 7.5rem;color: #ECE7CB;text-align: center;font-size: .9375rem;">暂无数据...</p>
						<a href="javascript:;" class="more" style="opacity:0;"></a>
						{/if}
					</ul>
					<ul class="news_info hidden">
						{article id="640" size=4 var=hd} {if $hd neq ''} {foreach $hd as $key=>$v} {if $key >= 0}
						<li>
							<a href="{$v.wapLinkUrl}"><i class="small_ti">[{$v.name}]</i>{$v.title}</a><span>{$v.created_at|date_format:"%m/%d"}</span>
						</li>
						{/if} {/foreach}
						<a href="{myurl name='wap/article/list, id=>640'}" class="more"></a>
						{else}
						<p class="noData" style="line-height: 7.5rem;color: #ECE7CB;text-align: center;font-size: .9375rem;">暂无数据...</p>
						<a href="javascript:;" class="more" style="opacity:0;"></a>
						{/if}
					</ul>
					<!--<ul class="news_info hidden">-->
						<!--{article id="641" size=4 var=gl} {if $gl neq ''} {foreach $gl as $key=>$v} {if $key >= 0}-->
						<!--<li>-->
							<!--<a href="{$v.wapLinkUrl}"><i class="small_ti">[{$v.name}]</i>{$v.title}</a><span>{$v.created_at|date_format:"%m/%d"}</span>-->
						<!--</li>-->
						<!--{/if} {/foreach}-->
						<!--<a href="{myurl name='wap/article/list, id=>641'}" class="more"></a>-->
						<!--{else}-->
						<!--<p class="noData" style="line-height: 7.5rem;color: #ECE7CB;text-align: center;font-size: .9375rem;">暂无数据...</p>-->
						<!--<a href="javascript:;" class="more" style="opacity:0;"></a>-->
						<!--{/if}-->
					<!--</ul>-->
				</div>
			</div>
		</div>
		<!--第三部分-->
		<div class="equip">
			<p class="title"><img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/l_zb_tit.png?{$smarty.const.VERSION}" alt="" /></p>
			<div class="type swiper-pagination swiper-pagination2">
				<span class="active swiper-pagination-bullet">坦克</span>
				<span class="swiper-pagination-bullet">直升机</span>
				<span class="swiper-pagination-bullet">装甲车</span>
			</div>
			<div class="equip_img swiper-container swiper-container2">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/l_equip1.png?{$smarty.const.VERSION}" />
					</div>
					<div class="swiper-slide">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/l_equip2.png?{$smarty.const.VERSION}" />
					</div>
					<div class="swiper-slide">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/l_equip3.png?{$smarty.const.VERSION}" />
					</div>
				</div>
			</div>
		</div>
		<!-- 特色轮播 -->
		<div class="five">
			<div class="wrap">
				<div class="chengg"></div>
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/lable.png?{$smarty.const.VERSION}" alt="" class="label" />
				<div class="five_banner">
					{fragment var=banner_ts code=banner_ts size=5}
					<ul class="swiper-wrapper">
						{if $banner_ts neq ''} {foreach $banner_ts as $v}
						<li class="swiper-slide">
							<a href="{if $v.url}{$v.url}{else}javascript:;{/if}"><img src="{$v.thumb}" alt="" /></a>
						</li>
						{/foreach} {/if}
					</ul>
				</div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
				<div class="swiper-pagination01"></div>
			</div>
		</div>
		<!--第四部分-->
		<div class="video">
			<p class="title"><img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/l_vi_tit.png?{$smarty.const.VERSION}" alt="" /></p>
			<div class="type">
				<span class="active"><a href="javascript:;">最新视频</a></span>
				<span><a href="javascript:;">教学视频</a></span>
				<span><a href="javascript:;">大神推荐</a></span>
				<span><a href="javascript:;">趣味集锦</a></span>
				<span><a href="javascript:;">精彩赛事</a></span>
			</div>
			<div class="tab_main">
				<div class="video_infor ">
					<ul class="video-list">
						{article id="632" size=4 var=v_zx} {if $v_zx neq ''} {foreach $v_zx as $key=>$v} {if $key >= 0}
						<li>
							<span class="js_video_play" data-url="{$v.video.media_url}" data-id="{$v.id}">
								<i></i>
								<img src="{$v.thumb}">
						  	</span>
							<p class="summary">{$v.title}</p>
						</li>
						{/if} {/foreach}
						<a href="{myurl name='wap/video/list, id=>632'}" class="more"></a>
						{else}
						<p class="noData" style="line-height: 7.5rem;color: #ECE7CB;text-align: center;font-size: .9375rem;">暂无数据...</p>
						<a href="javascript:;" class="more" style="opacity:0;"></a>
						{/if}
					</ul>
				</div>
				<div class="video_infor hidden">
					<ul class="video-list">
						{article id="633" size=4 var=v_jx} {if $v_jx neq ''} {foreach $v_jx as $key=>$v} {if $key >= 0}
						<li>
							<span class="js_video_play" data-url="{$v.video.media_url}" data-id="{$v.id}">
								<i></i>
								<img src="{$v.thumb}">
						  	</span>
							<p class="summary">{$v.title}</p>
						</li>
						{/if} {/foreach}
						<a href="{myurl name='wap/video/list, id=>633'}" class="more"></a>
						{else}
						<p class="noData" style="line-height: 7.5rem;color: #ECE7CB;text-align: center;font-size: .9375rem;">暂无数据...</p>
						<a href="javascript:;" class="more" style="opacity:0;"></a>
						{/if}
					</ul>
				</div>
				<div class="video_infor hidden">
					<ul class="video-list">
						{article id="634" size=4 var=v_ds} {if $v_ds neq ''} {foreach $v_ds as $key=>$v} {if $key >= 0}
						<li>
							<span class="js_video_play" data-url="{$v.video.media_url}" data-id="{$v.id}">
								<i></i>
								<img src="{$v.thumb}">
						  	</span>
							<p class="summary">{$v.title}</p>
						</li>
						{/if} {/foreach}
						<a href="{myurl name='wap/video/list, id=>634'}" class="more"></a>
						{else}
						<p class="noData" style="line-height: 7.5rem;color: #ECE7CB;text-align: center;font-size: .9375rem;">暂无数据...</p>
						<a href="javascript:;" class="more" style="opacity:0;"></a>
						{/if}
					</ul>
				</div>
				<div class="video_infor hidden">
					<ul class="video-list">
						{article id="635" size=4 var=v_qw} {if $v_qw neq ''} {foreach $v_qw as $key=>$v} {if $key >= 0}
						<li>
							<span class="js_video_play" data-url="{$v.video.media_url}" data-id="{$v.id}">
								<i></i>
								<img src="{$v.thumb}">
						  	</span>
							<p class="summary">{$v.title}</p>
						</li>
						{/if} {/foreach}
						<a href="{myurl name='wap/video/list, id=>635'}" class="more"></a>
						{else}
						<p class="noData" style="line-height: 7.5rem;color: #ECE7CB;text-align: center;font-size: .9375rem;">暂无数据...</p>
						<a href="javascript:;" class="more" style="opacity:0;"></a>
						{/if}
					</ul>
				</div>
				<div class="video_infor hidden">
					<ul class="video-list">
						{article id="636" size=4 var=v_jc} {if $v_jc neq ''} {foreach $v_jc as $key=>$v} {if $key >= 0}
						<li>
							<span class="js_video_play" data-url="{$v.video.media_url}" data-id="{$v.id}">
								<i></i>
								<img src="{$v.thumb}">
						  	</span>
							<p class="summary">{$v.title}</p>
						</li>
						{/if} {/foreach}
						<a href="{myurl name='wap/video/list, id=>636'}" class="more"></a>
						{else}
						<p class="noData" style="line-height: 7.5rem;color: #ECE7CB;text-align: center;font-size: .9375rem;">暂无数据...</p>
						<a href="javascript:;" class="more" style="opacity:0;"></a>
						{/if}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--第五部分-->
	<div class="relate_us">
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/focus.png?{$smarty.const.VERSION}" alt="" class="focus" />
		<div class="relate_list">
			<ul>
				<li>
					<img src="{if isset($global.group)}{$global.group}{/if}" alt="" />
					<p><img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/haha.png?{$smarty.const.VERSION}" />官方QQ群1</p>
				</li>
				<li>
					<img src="{if isset($global.tb_img)}{$global.tb_img}{/if}" alt="" />
					<p><img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/tieba.png?{$smarty.const.VERSION}" />百度贴吧</p>
				</li>
				<li>
					<img src="{if isset($global.wx_img)}{$global.wx_img}{/if}" alt="" />
					<p><img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/weixin.png?{$smarty.const.VERSION}" />官方公众号</p>
				</li>
			</ul>
			<div class="qudao">
				<a href="{if isset($global.wb_url)}{$global.wb_url}{/if}"></a>
				<a href="javascript:yx_showTips('敬请期待');"></a>
				<a href="http://bbs.yingxiong.com/t/pc/45/index"></a>
			</div>
		</div>
	</div>
</div>

<!-- 有奖征集入口 -->
<a href="{myurl name='/m/p/collect'}" target="_blank" class="yj_cl"></a>

{include file="../../layouts/wap/video_tips.html"}
</body>
{include '../../layouts/wap/foot.html'}
<script>
	// 设备类型判断
	function change() {
		var u = navigator.userAgent,
			app = navigator.appVersion;
		var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //g
		var isIOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
		var url = window.location.href;
		var url_id = window.location.href.split('cover')[1];
		console.log(url_id);
		if(isIOS) {
			$(".header_a a").removeClass("active");
			$(".header_a a.order").addClass("active");
			$(".btn").addClass("active");
			$(".btn a").removeClass("yue_btn").addClass("js_wap_down");
			$(".btn a").unbind();
		}
		if(isAndroid) {
			$(".header_a a").removeClass("active");
			$(".header_a a.down_btn").addClass("active");
			$(".btn").removeClass("active");
		}
	}
	$(function() {

//		change();
		var swiper01 = new Swiper('.swiper-container1', {
			pagination: '.swiper-pagination1',
			slidesPerView: 1,
			paginationClickable: true,
			autoplayDisableOnInteraction: false,
			autoplay: 2000,
			loop: true
		});

		var swiper02 = new Swiper(".swiper-container2", {
			pagination: '.swiper-pagination2',
			paginationClickable: true,
			observer: true,
			observeParents: true,
			paginationBulletRender: function(swiper, index, className) {
				var font = new Array();
				$(".swiper-pagination2>span").each(function() {
					font.push($(this).text());
				});
				//				return '<span class="' + className + '" '+(index==3?'style="pointer-events: none;opacity:.5;"':'')+'>' + font[index] + '</span>';
				return '<span class="' + className + '">' + font[index] + '</span>';
			},
			slideToClickedSlide: true
		});
		var mySwiper03 = new Swiper(".five_banner", {
			effect: "coverflow",
			autoplay: 3500,
			speed: 800,
			prevButton: '.swiper-button-prev',
			nextButton: '.swiper-button-next',
			pagination: '.swiper-pagination01',
			centeredSlides: !0,
			slidesPerView: 3,
			loop: !0,
			observer: !0,
			observeParents: !0,
			slideToClickedSlide: !0,
			simulateTouch: false,
			paginationClickable: true,
			autoplayDisableOnInteraction: false,
			coverflow: {
				rotate: 0,
				stretch: -10,
				depth: 600,
				modifier: 1,
				slideShadows: true
			},
		});
	});
</script>

</html>