a,img,span{display: block;border: 0;}
.all{width: 100%;height: auto;}
.shootCon,.container,.bottom{width: 1281px;margin: 0 auto;overflow: hidden;}
.top{ height: 67px;width: 100%;position: absolute; left:0; z-index: 10;background: #000;display: none;}
.top_con{width: 1200px;margin: 0 auto;}
.top a{ text-align: center; color: #6998b7; font-size: 18px;}
.top01{ float: right; margin-top: 15px;}
.top01 a{ display: inline-block; color: #6998b7; width: 110px; height: 40px; line-height: 40px; background: url(../images/link_bg.png) no-repeat;}
.top01 a.cur{ color: #00c6ff; background: url(../images/link_bg_hover.png) no-repeat;}
.top02{ float: left; margin-right: -5px; margin-top: 5px;}
.top02 img{ float: left;  margin-right: 20px; width: 110px; height: 110px;}
.top02 .top02_r{ float: left; margin-top: 3px;}
.top02 .top02_r h3,.top02 .top02_r h3 p{ color: #8e9ebd; height: 30px; line-height: 30px; font-size: 30px;}
.top02 .top02_r h3{ color: #8e9ebd; font-size: 26px;}
.top02 .top02_r p{ font-size: 16px; color: #dadada;}
.top_empty{height: 67px;}
.containerAll{width: 100%;height:1846px;background: url(../images/bg.png) top center no-repeat; }
.popup{width: 663px;height: 77px;margin: 0 auto;margin-top: 386px;position: relative;}
.loadGame,.enter,.weixin{width: 220px;height: 77px;float: left;}
.loadGame{background: url(../images/loadGame.png);}
.loadGame1{width: 770px;height: 479px;display: none;margin:0 auto;z-index: 999;position: relative;}
.loadGame1 a{width: 100px;height: 100px;position: absolute;top: 313px;left: 1294px;}

.clickPrize2 img{width: 770px;height: 479px;}
.clickPrize2 img{position: absolute;top: 300px;left: 0px;width: 770px!important;height: 479px!important;}
.enter{background: url(../images/enter.png);}
.weixin{background: url(../images/weixin.png);}
.prizeAll{width: 100%;height:2481px;background: #008aff;z-index: 1;}
.prize{width: 1284px;height: 2481px;background: url(../images/bj2.png) top center;margin:0 auto;margin-top: -1000px;position: relative;overflow: hidden;}
.prize ul{width: 1068px;height: 200px;}
.prize ul img{width: 100%;height: 100%;}
.prize .ul1{margin-top: 186px;margin-left: 82px;}
.prize .ul2{margin-top: 244px;margin-left: 93px;}
.prize ul li{width: 332px;height: 198px;}
.prize ul li{float: left;margin-right: 20px;position: relative;}
.prize  a{margin: 0 auto;width: 100%;height: 100%;}
.loadGame1 a{width: 100px;height: 100px;position: absolute;top:0px;left: 670px;}
.clickPrize2 a{width: 100px;height: 100px;position: absolute;top: 300px;left: 670px;}}
.prize img{width: 100%;height: 100%;}
.prize i{width: 100%;height: 100%; display: block;position: absolute;top: 0;left: 0;background-size: 100% 100%;}
.prize .i1{background: url(../images/border.png);}
.prize .i2{background: url(../images/border1.png) no-repeat;}
.exprience{width:334px;height: 200px;margin-top: 97px;margin-left: 786px; position: relative;}
.exprience img{width: 100%;height: 100%;}
.exprience1{margin-top: 109px; margin-left:800px; }
.clickPrize{position: absolute;width: 326px;height: 326px;top: 1891px;left: 492px;}
.bottomAll{width: 100%;height:772px; background: #008aff;}
.bottom{background: url(../images/bj3.png);height: 772px;width: 1284px;}
.pic{width: 1130px;height: 545px;margin:0 auto;margin-top: 200px;background: url(../images/PC.png);background-size: 100% 100%;}

.swiper-container{width: 1129px;height: 381px;background: url(../images/pmd.png);margin:0 auto;margin-top: 147px;}
.swiper-container img { width:196px; height: 272px;margin-top: 55px;margin-left: 24px;float: left;}
.footerAll{width: 100%;height: 140px;background: #1b1b1b;bottom: 0; min-width: 1284px;}
.footer{width: 850px;height: 140px;margin:0 auto;}
.footer .img1{width:260px;height: 67px;float: left;margin:38px 24px 35px 15px;}
.text{float: left;width:480px;height: 93px;margin-top: 12px;border-left: 1px solid #ccc;padding-left: 60px;padding-top: 20px;}
.text li{width: 100%;height: 22px;font-size: 12px;line-height: 22px;color: #fff;}
.text a{float: left;height: 17px;margin-left: 5px; color:#fff;}
.text .a1{width:18px;}
.text .a2{width:15px;}