body,ul,ol,dl,dt,dd,form,h1,h2,h3,h4,p,img,section,header,ruby,rb,rt,i,b,input,span,em,nav{margin:0;padding:0;font-style:normal;-webkit-tap-highlight-color: rgba(0,0,0,0);}
html,body,h1,h2,h3,h4{font-weight:400;font-family:"Helvetica Neue",Helvetica,STHeiTi,sans-serif;}
i{display:block;font-style:normal;}
input,textarea,select{outline:0;-webkit-appearence:none;-ms-appearence:none;border:0}
li{list-style:none;}
a,a:visited{text-decoration:none;}
img{border:0;}
.mkv{width:100%;display:block}
.o_h{overflow:hidden;}
.t_i{text-indent:-999em;overflow:hidden;}
.clear{zoom:1}
.clear:after{display:block;content:'';height:0;line-height:0;clear:both;visibility:hidden;}

img{max-width: 100%;border: 0;vertical-align: middle;display: block;}
.fl{float:left}.fr{float:right}.fh{display:none}
.clearfix:after{display:block;clear:both;content:"";visibility:hidden;height:0} 
.clearfix{zoom:1} 
select{appearance:none;color:#999999;border:none;height:34px;width:69%;background:transparent;position:relative;z-index:111;padding-left:10px;
-moz-appearance:none; /* Firefox */
-webkit-appearance:none; /* Safari 和 Chrome */}

/*炫舞之星*/
.ts-wrap{
	width: 100%;
	height: 62.594rem;
	overflow: hidden;
	background: url(../images/mts_bg.jpg) no-repeat;
	background-size: 100% 100%;
}
.top{
	width: 100%;
	height: 3.031rem;
	overflow: hidden;
	background: url(../images/mts_topbg.jpg) no-repeat;
	background-size: 100% 100%;
}
.logo{
	width: 2.469rem;
	height: 2.469rem;
	float: left;
	margin-left: 0.5rem;
	margin-top: 0.281rem;
}
.logo img{
	width: 2.469rem;
	height: 2.469rem;
}
.top-text{
	float: left;
	margin-left: 0.5rem;
	margin-top: 0.55rem;
}
.top-text h3{
	font-size: 0.938rem;
	color: #f991df;
	line-height: 1.2;
}
.top-text p{
	font-size: 0.5rem;
	color: #fff;
	line-height: 1.5;
}
.down{
	display: block;
	width: 5.406rem;
	height: 2.156rem;
	float: right;
	margin-right: 0.5rem;
	margin-top: 0.4375rem;
	background: url(../images/mts_down.png) no-repeat;
	background-size: 100% 100%;
}
.ts-con{
	width: 100%;
	height: 36.719rem;
	background: url(../images/mts_conbg.png) no-repeat;
	background-size: 100% 100%;
}
.ts-title{
	width: 7.188rem;
	height: 1.906rem;
	margin: 0.5rem auto 0;
	position: relative;
	background: url(../images/mts_title.png) no-repeat;
	background-size: 100% 100%;
}
.ts-home{
	position: absolute;
	width: 5.531rem;
	height: 1.906rem;
	display: block;
	right: -6rem;
	top: -0.1rem;
	background: url(../images/mts_return.png) no-repeat;
	background-size: 100% 100%;
}
.ts-content{
	width: 100%;
}
.ts-contop{
	width: 17.812rem;
	margin: 2rem auto 0;
}
.ts-upimg{
	width: 5.406rem;
	height: 1.594rem;
	float: left;
	display: block;
	background: url(../images/mts_upimg.png) no-repeat;
	background-size: 100% 100%;
}
.ts-check{
	width: 3.0rem;
	height: 1.594rem;
	float: right;
	display: block;
	background: url(../images/mts_check.png) no-repeat;
	background-size: 100% 100%;
}
.ts-iphone{
	width: 5.75rem;
	height: 1.594rem;
	display: block;
	float: right;
	text-align: center;
	line-height: 1.594rem;
	font-size: 18.0.569rem;
	color: #f485bd;
	border: 0;		
	background: url(../images/mts_ico01.png) no-repeat;
	background-size: 100% 100%;
}
.ts-coninf{
	width: 17.7rem;
	margin: 1rem auto 0;
}
.ts-coninf ul{
	width: 100%;
	overflow: hidden;
}
.ts-coninf ul li{
	width: 8.5rem;
	margin-bottom: 0.5rem;
}
.ts-coninf ul li:nth-child(2n){
	float: right;
}
.ts-coninf ul li:nth-child(2n+1){
	float: left;
}
.ts-num{
	margin-left: 0.094rem;
	font-size: 0.64rem;
	color: #fff;
	font-weight: normal;
	line-height: 1.5;
}
.ts-pimg{
	width: 8.5rem;
	height: 6.062rem;
	overflow: hidden;
	background: url(../images/mts_libg.jpg) no-repeat;
	background-size: 100% 100%;
}
.ts-pimg a{
	width: 7.844rem;
	height: 5.531rem;
	margin: 0.265rem auto 0;
	display: block;
	border: 1px solid #de5f9f;
}
.ts-pimg a img{
	width: 7.844rem;
	height: 5.531rem;
	display: block;
}
.ts-lfot{
	width: 8.5rem;
	margin-top: 0.2rem;
	overflow: hidden;
}
.ts-lfot p{
	float: left;
	margin-left: 0.1rem;
	font-size: 0.438rem;
	color: #fff;
	height: 0.75rem;
	line-height: 0.75rem;
}
.ts-tp{
	width: 2.625rem;
	height: 1.0rem;
	float: right;
	background: url(../images/mts_tp.png) no-repeat;
	background-size: 100% 100%;
}
.ts-refresh{
	width: 4.25rem;
	height: 1.594rem;
	display: block;
	margin: 0.5rem auto 0;
	background: url(../images/mts_refsh.png) no-repeat;
	background-size: 100% 100%;
}
.ts-act{
	width: 100%;
}
.ts-act h1{
	width: 5.312rem;
	height: 1.219rem;
	margin-left: 0.5rem;
	background: url(../images/mts_hdgz.png) no-repeat;
	background-size: 100% 100%;
}
.ts-act p{
	font-size: 0.562rem;
	color: #fff;
	margin-left: 0.5rem;
	line-height: 1.2rem;
}
.ts-ewm{
	width: 7.688rem;
	height: 7.688rem;
	margin: 1.6rem auto 0;
}
.ts-ewm img{
	width: 7.688rem;
	height: 7.688rem;
	display: block;
}
.ts-fot{
	margin-top: 4rem;
}
.ts-tack1,.ts-tack2{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	background: url(../../images/ts_mask.png) repeat;
}
.ts-t1bg{
	width: 9.031rem;
	height: 5.969rem;
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -2.969rem 0 0 -4.5rem;
	background: url(../../images/ts_libg05.png) no-repeat;
	background-size: 100% 100%;
}
.ts-t1p{
	margin-top: 0.938rem;
}
.ts-t1close{
	width: 1.344rem;
	height: 1.25rem;
	position: absolute;
	right: -0.875rem;
	top: 0.281rem;
	cursor: pointer;
	background: url(../../images/ts_close.jpg) no-repeat;
	background-size: 100% 100%;
}
.ts-t1bg p{
	width: 100%;
	font-size: 0.375rem;
	color: #fff;
	text-align: center;
	line-height: 2;
}
.ts-t1bg input{
	width: 6.531rem;
	height: 0.938rem;
	background: #fff;
	border: 0;
	outline: none;
	font-size: 0.375rem;
	text-align: center;
	line-height: 0.938rem;
	margin: 0 auto;
	display: block;
}
.ts-t1-btn{
	width: 3.719rem;
	height: 1.25rem;
	display: block;
	margin: 0 auto;
	cursor: pointer;
	background: url(../../images/ts_btn06.png) no-repeat;
	background-size: 100% 100%;
}
.ts-t2bg{
	width: 9.312rem;
	height: 13.438rem;
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -6.719rem 0 0 -4.656rem;
	background: url(../../images/ts_libg04.png) no-repeat;
	background-size: 100% 100%;
}
.ts-t2close{
	width: 1.344rem;
	height: 1.25rem;
	position: absolute;
	right: -0.719rem;
	top: 0.469rem;
	cursor: pointer;
	background: url(../../images/ts_close.jpg) no-repeat;
	background-size: 100% 100%;
}
.ts-t2img{
	width: 5.312rem;
	height: 6.625rem;
	background: #fff;
	margin: 1.562rem auto 0;
}
.ts-t2bg h3{
	width: 100%;
	font-size: 0.438rem;
	font-weight: normal;
	color: #fff;
	text-align: center;
	line-height: 2.6;
}
.ts-t2ip{
	width: 6.875rem;
	height: 0.938rem;
	margin: 0 auto;
}
.ts-t2iphone{
	width: 4.375rem;
	height: 0.938rem;
	border: 0;
	background: #fff;
	font-size: 0.438rem;
	line-height: 0.938rem;
	text-align: center;
	display: inline-block;
}
.ts-t2ip span{
	display: inline-block;
	height: 0.938rem;
	line-height: 0.938rem;
	font-size: 0.375rem;
	color: #e70000;
}
.ts-t2bg p{
	width: 100%;
	font-size: 0.375rem;
	margin-top: 0.1rem;
	color: #fff;
	text-align: center;
}
.ts-t2btn{
	width: 7.125rem;
	height: 1.25rem;
	margin: 0 auto;
}
.ts-t2btn1{
	width: 4.188rem;
	height: 1.25rem;
	display: block;
	float: left;
	border: 0;
	cursor: pointer;
	background: url(../../images/ts_btn04.png) no-repeat;
	background-size: 100% 100%;
}
.ts-t2btn2{
	width: 2.625rem;
	height: 1.25rem;
	display: block;
	float: right;
	cursor: pointer;
	background: url(../../images/ts_btn05.png) no-repeat;
	background-size: 100% 100%;
}
/*愿望树*/
.wt-wrap{
	width: 100%;
	height: 56.25rem;
	/*overflow: hidden;*/
	background: url(../images/wt_bg.jpg) no-repeat;
	background-size: 100% 100%;
}
.wt-home{
	width: 5.531rem;
	overflow: hidden;
	margin-left: 14rem;
}
.wt-home a{
	width: 5.531rem;
	height: 1.906rem;
	display: block;
	margin-top: 0.3rem;
	background: url(../images/mts_return.png) no-repeat;
	background-size: 100% 100%;
}
.wt-scroltext2{
	width: 12.125rem;
	height: 7.125rem;
	margin: 4.5rem auto 0;
	overflow: hidden;
}
.wt-s2{
	width: 11.312rem;
	height: 5.4rem;
	overflow: hidden;
	margin: 1rem auto 0;
}
.wt-s2 ul{
	width: 100%;
	height: 100%;
}
.wt-s2 ul li{
	width: 100%;
	overflow: hidden;
	height: 1.8rem;
}
.wt-s2 ul li p{
	font-size: 0.5rem;
	line-height: 1.2;
	color: #fff;
}
.wt_scroltext1{
	width: 7.75rem;
	height: 9.75rem;
	float: left;
	overflow: hidden;
	margin-top: 0.5rem;
	margin-left: 3rem;
	background: url(../images/wt_scro1_bg.png) no-repeat;
	background-size: 100% 100%;
}
.wt_s1{
	width: 6.469rem;
	height: 7.625rem;
	margin: 1.5rem auto 0;
	overflow: hidden;
}
.wt_s1 ul{
	width: 100%;
	height: 100%;
}
.wt_s1 ul li{
	width: 100%;
	height: 1.90625rem;
	overflow: hidden;
}
.wt_s1 ul li.wt_s1_item1{
	background: #f26fc1;
}
.wt_s1 ul li.wt_s1_item2{
	background: #fff;
}
.wt_s1 ul li p{
	width: 5.125rem;
	height: 100%;
	margin-left: 0.406rem;
	font-size: 0.438rem;
	color: #fff;
	padding-left: 0.5rem;
	text-indent: -0.5rem;
	line-height: 0.63rem;
}
.wt_s1 ul li.wt_s1_item1 p{
	color: #fff;
}
.wt_s1 ul li.wt_s1_item2 p{
	color: #eb6fa5;
}
.wt_ranking{
	width: 4.938rem;
	height: 9.344rem;
	float: right;
	margin-top: 0.5rem;
	margin-right: 3.469rem;
	background: url(../images/wt_rank_bg.png) no-repeat;
	background-size: 100% 100%;
}
.wt_ranking ul{
	width: 4.938rem;
	/*height: 8.094rem;*/
	margin: 1.5rem auto 0;
}
.wt_ranking ul li{
	width: 4.738rem;
	height: 0.8rem;
	overflow: hidden;
	margin: 0 auto;
}
.wt_ranking ul li span{
	font-size: 0.438rem;
	color: #fff;
}
.wt_rankname{
	float: left;
}
.wt_ranknum{
	float: right;
}
.wt-dowish{
	display: block;
	width: 5.125rem;
	height: 1.938rem;
	margin: 12rem auto 0;
	background: url(../images/wt_wish.png) no-repeat;
	background-size: 100% 100%;
}
.wt_wishnum{
	width: 100%;
	height: 1rem;
	margin-top: 14.5rem;
}
.wt_wishnum p{
	font-size: 0.75rem;
	color: #fff;
	width: 100%;
	line-height: 1.2;
	font-weight: bolder;
	text-align: center;
}
.wt-act{
	width: 100%;
	background: #3c1479;
	padding-bottom: 1rem;
}
.wt-act h1{
	width: 5.312rem;
	height: 1.219rem;
	margin-left: 0.5rem;
	background: url(../images/mts_hdgz.png) no-repeat;
	background-size: 100% 100%;
}
.wt-act p{
	font-size: 0.562rem;
	color: #fff;
	margin-left: 0.5rem;
	line-height: 1.2rem;
}
.wt-fot{
	background: #3c1479;
}
.wt-tack{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	background: url(../../images/ts_mask.png) repeat;
}
.wt-bg{
	width: 8.906rem;
	height: 11.25rem;
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -5.625rem 0 0 -4.438rem;
	background: url(../../images/wt_tack_bg.png) no-repeat;
	background-size: 100% 100%;
}
.wt_close{
	width: 1.344rem;
	height: 1.25rem;
	position: absolute;
	right: -0.938rem;
	top: 0.406rem;
	cursor: pointer;
	background: url(../../images/ts_close.jpg) no-repeat;
	background-size: 100% 100%;
}
.wt_form{
	margin-left: 0.625rem;
	margin-top: 1.406rem;
	width: 7.625rem;
	height: 10.0rem;
	overflow: hidden;
}
.wt_form label{
	width: 2.3rem;
	height: 0.938rem;
	font-size: 0.438rem;
	margin-top: 0.3rem;
	color: #fff;
	display: inline-block;
	text-align: right;
}
.wt_select{
	width: 4.406rem;
	height: 0.938rem;
	margin-left: 0.2rem;
	font-size: 0.375rem;
	color: #f175b0;
	display: inline-block;
	background: url(../../images/wt_selectbg.jpg) no-repeat;
	background-size: 100% 100%;
}
.wt_id{
	width: 4.406rem;
	height: 0.938rem;
	margin-left: 0.2rem;
	display: inline-block;
	background: #fff;
	font-size: 0.375rem;
	color: #f175b0;
	text-align: center;
}
.wt_iphone{
	width: 4.406rem;
	height: 0.938rem;
	margin-left: 0.2rem;
	display: inline-block;
	background: #fff;
	font-size: 0.375rem;
	color: #f175b0;
	text-align: center;
}
.wt_form label.wt_yw{
	float: left;
}
.wt_text{
	width: 4.406rem;
	height: 3rem;
	margin-left: 0.438rem;
	display: block;
	float: left;
	background: #fff;
	font-size: 0.375rem;
	color: #f175b0;
	margin-top: 0.3rem;
}
.wt_sub{
	width: 2.594rem;
	height: 1.25rem;
	display: block;
	border: 0;
	margin: 3.5rem auto 0;
	cursor: pointer;
	background: url(../../images/wt_subbtn.png) no-repeat;
	background-size: 100% 100%;
}
.ts-tack3{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	background: url(../../images/ts_mask.png) repeat;
}
.ts-t3bg{
	width: 8.844rem;
	height: 4.469rem;
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -2.219rem 0 0 -4.406rem;
	background: url(../../images/ts-sucss.png) no-repeat;
	background-size: 100% 100%;
}
.ts-t3bg p{
	margin-top: 1.7rem;
	text-align: center;
	width: 100%;
	font-size: 0.4rem;
	color: #fff;
}
.ts-t3close{
	width: 1.344rem;
	height: 1.25rem;
	position: absolute;
	right: -0.969rem;
	top: 0.438rem;
	cursor: pointer;
	background: url(../../images/ts_close.jpg) no-repeat;
	background-size: 100% 100%;
}

/*狂送九位数*/
.ks-wrap{width:100%;overflow:hidden;position:relative;}
.ks-wrap .ks-logo{width:9.56250rem;height:4.21875rem;position:absolute;left:3.12500rem;top:0.31250rem;display:block;z-index:1;}
.ks-wrap .ks-bg1{width:100%;height:13.50000rem;background:url(../images/ks-bg1.jpg) no-repeat;background-size:100% 100%;display:block;float:left}
.ks-wrap .ks-bg2{width:100%;height:13.46875rem;background:url(../images/ks-bg2.jpg) no-repeat;background-size:100% 100%;display:block;float:left}
.ks-wrap .ks-bg3{width:100%;height:11.25000rem;background:url(../images/ks-bg3.jpg) no-repeat;background-size:100% 100%;display:block;float:left}
.ks-wrap .ks-bg4{width:100%;height:11.25000rem;background:url(../images/ks-bg4.jpg) no-repeat;background-size:100% 100%;display:block;float:left}
.ks-wrap .ks-bg5{width:100%;height:11.25000rem;background:url(../images/ks-bg5.jpg) no-repeat;background-size:100% 100%;display:block;float:left}
.ks-wrap .ks-bg6{width:100%;height:11.25000rem;background:url(../images/ks-bg6.jpg) no-repeat;background-size:100% 100%;display:block;float:left}
.ks-wrap .ks-link{width:5.50000rem;height:1.71875rem;display:block;position:absolute;right:0.6rem;top:0.31250rem;}
.ks-wrap .cj-gift{width:6.56250rem;height:6.56250rem;position:absolute;left:0;top:18rem;text-indent:-999rem;display:block;z-index:1;font-size:0}
.ks-wrap .xs-gift{width:7.21875rem;height:7.21875rem;position:absolute;left:6.56250rem;top:15rem;text-indent:-999rem;display:block;z-index:3;font-size:0}
.ks-wrap .hl-gift{width:6.56250rem;height:6.56250rem;position:absolute;right:0;top:18rem;display:block;text-indent:-999rem;z-index:2;font-size:0}
.ks-wrap .ks-box{width:100%;overflow:hidden;position:relative}
.ks-wrap .ks-box .hid{width:5.93750rem;height:1.68750rem;background:url(../images/ks-ico.png) no-repeat;background-size:100% 100%;display:block}
.ks-wrap .ks-box  p{padding:0 0.31250rem;}
.ks-wrap .ks-box  .fcb{color:#fff;line-height:1.4rem;text-shadow:0 0 10px #ff237c,0 0 10px #ff237c,0 0 10px #ff237c,0 0 10px #ff237c;font-size:0.75000rem}
.ks-wrap .ks-box  .ffb{color:#fff;line-height:0.96618rem;font-size:0.56250rem}
.ks-wrap .ks-box  .ks-btn{width:7.25000rem;height:1.96875rem;font-size:0.68750rem;color:#fff;margin:0.3rem auto;background:url(../images/ks-btn.png) no-repeat;background-size:100% 100%;text-align:center;display:block;line-height:1.96875rem;text-shadow:0 0 10px #ff237c,0 0 10px #ff237c,0 0 10px #ff237c,0 0 10px #ff237c;}
.ks-wrap .ks-box .ks-item{height:100%;position:absolute;left:0;top:0;overflow:hidden;}
.ks-wrap .ks-box .ts-fot{margin-top:0;font-size:0.43750rem;line-height:.7rem}
/*遮罩*/
.maskb{width:100%;height:100%;background:rgba(0,0,0,.3);position:fixed;left:0;top:0;z-index:9999;display:none}
/*礼包*/
.gift-box-hl{width:15.21875rem;height:12.06250rem;position:absolute;left:50%;top:50%;margin:-6rem 0 0 -7.6rem;background:url(../images/gift-hl-box.png) no-repeat;background-size:100% 100%}
.gift-box-hl .closep{width:1.1rem;height:1.1rem;position:absolute;right:0.62500rem;top:0.50000rem;}
.gift-box-hl .tit{color:#fff;font-size:0.90625rem;text-shadow:0 0 10px #ff237c,0 0 10px #ff237c,0 0 10px #ff237c,0 0 10px #ff237c;text-align:center;margin-top:1.25000rem}
.gift-box-hl .con-input{color:#fff;font-size:0.6rem;position:absolute;left:1.4rem;top:3rem;height:1.37500rem;line-height:1.37500rem;}
.gift-box-hl .con-input span{float:left;margin-top:.1rem}
.gift-box-hl .con-input input{background:transparent;color:#000;border:0;padding:0.2rem 0;margin-left:0.7rem;margin-top:.15rem;width:7.09375rem;float:left}
.gift-box-hl .hl-btn{font-size:0.75rem;position: absolute;left: 50%;top: 50%;width: 3.62500rem;height: 1.37500rem;margin-left: -1.5rem;line-height: 1.375rem;text-align: center;margin-top: -1.2rem;color: #fff;text-shadow:0 0 10px #ff237c,0 0 10px #ff237c,0 0 10px #ff237c,0 0 10px #ff237c;}
.gift-box-hl .con{color:#fff;font-size:0.6rem;line-height:.8rem;padding:0 1.25000rem 0 1.56250rem;position:absolute;bottom:0.8rem;left:0;}
.gift-box-hl .con span{color:#fd1111}
.gift-box-cj{width:15.21875rem;height:12.87500rem;position:absolute;left:50%;top:50%;margin:-6.4rem 0 0 -7.6rem;background:url(../images/gift-cj-box.png) no-repeat;background-size:100% 100%}
.gift-box-cj .closep{width:1.1rem;height:1.1rem;position:absolute;right:0.62500rem;top:0.50000rem;}
.gift-box-cj .tit{color:#fff;font-size:0.90625rem;text-shadow:0 0 10px #ff237c,0 0 10px #ff237c,0 0 10px #ff237c,0 0 10px #ff237c;text-align:center;margin-top:1.25000rem}
.gift-box-cj .con-input{color:#fff;font-size:0.6rem;position:absolute;left:2.40625rem;top:3rem;height:1.37500rem;line-height:1.37500rem;}
.gift-box-cj .con-input span{float:left;margin-top:0.1rem}
.gift-box-cj .con-input input{background:transparent;color:#000;border:0;padding:0.2rem 0;margin-left:.8rem;margin-top:.15rem;width:7.09375rem;float:left}
.gift-box-cj .con-input1{color:#fff;font-size:0.6rem;height:1.37500rem;line-height:1.37500rem;position:absolute;left:1.125rem;top:4.5rem;}
.gift-box-cj .con-input1 span{float:left;margin-top:0.1rem}
.gift-box-cj .con-input1 input{background:transparent;color:#000;border:0;padding:0.2rem 0;margin-left:.8rem;margin-top:.15rem;width:7.09375rem;float:left}
.gift-box-cj .con-mes{position:absolute;right:1.25000rem;top:6.1rem;text-align:right;color:#fff;font-size:0.437rem;}
.gift-box-cj .cj-btn{font-size:0.75rem;position: absolute;left: 50%;top: 50%;width:3.59375rem;height: 1.37500rem;margin-left: -1.58rem;line-height: 1.375rem;text-align: center;margin-top: .6rem;color: #fff;text-shadow:0 0 10px #ff237c,0 0 10px #ff237c,0 0 10px #ff237c,0 0 10px #ff237c;}
.gift-box-cj .con{color:#fff;font-size:0.437rem;line-height:.6rem;padding:0 1.25000rem 0 1.56250rem;position:absolute;bottom:0.8rem;left:0;}
.gift-box-cj .con span{color:#fd1111}
.gift-box-hlc{width:15.21875rem;height:8.93750rem;position:absolute;left:50%;top:50%;margin:-4.5rem 0 0 -7.6rem;background:url(../images/gift-lh-box1.png) no-repeat;background-size:100% 100%}
.gift-box-hlc .closep{width:1.1rem;height:1.1rem;position:absolute;right:0.62500rem;top:0.50000rem;}
.gift-box-hlc .tit{color:#fff;font-size:0.90625rem;text-shadow:0 0 10px #ff237c,0 0 10px #ff237c,0 0 10px #ff237c,0 0 10px #ff237c;text-align:center;margin-top:2rem}
.gift-box-hlc .tit1{color:#fff;font-size:1.56250rem;text-shadow:0 0 10px #ff237c,0 0 10px #ff237c,0 0 10px #ff237c,0 0 10px #ff237c;text-align:center;margin-top:1rem}

/*优秀故事*/
.gs-wrap{width:100%;overflow:hidden;position:relative;}
.gs-wrap .gs-logo{width:9.56250rem;height:4.21875rem;position:absolute;left:3.12500rem;top:0.31250rem;display:block;z-index:1;}
.gs-wrap .gs-bg1{width:100%;height:18.78125rem;background:url(../images/gs_bg_02.jpg) no-repeat;background-size:100% 100%;display:block;float:left}
.gs-wrap .gs-bg2{width:100%;height:18.75000rem;background:url(../images/gs_bg_03.jpg) no-repeat;background-size:100% 100%;display:block;float:left}
.gs-wrap .gs-link{width:5.50000rem;height:1.71875rem;display:block;position:absolute;right:0.6rem;top:0.31250rem;z-index:111}
.gs-wrap .gs-box{width:100%;overflow:hidden;position:absolute;left:0;top:0;z-index:1;height:100%}
.gs-wrap .gs-item{width:100%;margin-top:2.50000rem;height:27.12500rem;overflow:hidden;margin-bottom:.5rem;position:relative}
.gs-wrap .gs-box .gs-sm-txt{width:17.81250rem;height:24.37500rem;position:relative;font-size:0.56250rem;margin:1.25000rem 0 0 1.2rem}
.gs-wrap .gs-box  .gs-sm-txt p.gs_fw{color:#fff;font-size:0.56250rem;line-height:0.7rem}
.gs-wrap .gs-box  .gs-sm-txt p.gs_uid{color:#fff;font-size:0.56250rem;line-height:0.7rem}
.gs-wrap .gs-box  .gs-sm-txt p.gs_hid{color:#fff;font-size:0.75000rem;line-height:1rem;text-align:center;margin-top:.5rem}
.gs-sm-tit{height:11.25000rem;overflow:hidden;color:#fff;font-size:0.56250rem;margin-top:0.5rem;padding-right:.5rem}
.gs-wrap .gs-box .gs-sm-fm {position:absolute;left:0;bottom:0;z-index:1}
.gs-wrap .gs-box .gs-sm-fm img{width:5.31250rem;height:9.06250rem;float:left}
.gs-wrap .gs-box .gs-sm-fm img:nth-child(2){margin-left:1rem}
.gs-wrap .gs-box .gs-sm-H1{width:16.81250rem;height:24.37500rem;}
.gs-wrap .gs-box .nicescroll-rails{width:0.40625rem;border-radius:0.2rem;height:11.25000rem;background:#facce9;position:absolute;right:1.03125rem;top: 5rem;box-shadow:0 0 5px #fac6e2;}
.gs-wrap .gs-box .gs-scroll a{width:1.12500rem;height:1.12500rem;background:url(../images/ks_sm_scroll.png) no-repeat;background-size:100% 100%;display:block;position:absolute;left:-.35rem;top:0;}
.gs-wrap .gs-box .gs-ico-btn{width:4.06250rem;height:4.06250rem;position:absolute;right:1.5000rem;bottom:5.2rem;z-index:12;display:block;}
.gs-wrap  .ts-fot{margin-top:0;line-height:0.7rem}

footer{
	width: 100%;
}
footer p{
	color: #fff;
	font-size: 0.5rem;
	width: 100%;
	text-align: center;
}

/*炫舞之星详情*/
.td-title{
	width: 8.625rem;
	height: 1.125rem;
	margin: 2rem auto 0;
	background: url(../images/mtd_title.png) no-repeat;
	background-size: 100% 100%;
}
.td-img{
	width: 12.281rem;
	height: 8.72rem;
	margin: 2rem auto 0;
	overflow: hidden;
	background: url(../images/mtd_libg.jpg) no-repeat;
	background-size: 100% 100%;
}
.td-img img{
	width: 11.312rem;
	height: 8.0rem;
	margin: 0.36rem auto 0;
}
.td-ps{
	width: 100%;
	margin-top: 1rem;
	font-size: 0.562rem;
	color: #fff;
	text-align: center;
	line-height: 2;
}
.td-tpbtn{
	width: 4.719rem;
	height: 1.438rem;
	display: block;
	margin: 1rem auto;
	background: url(../images/mtd_tp.png) no-repeat;
	background-size: 100% 100%;
}


/*index*/
.y-wrap{background: url(../images/y_index.jpg) no-repeat;background-size: 100%;height:114.125rem;position: relative;}
.y_return{width: 4.875rem;height: 1.938rem;display: block;position: absolute;top: 10.938rem;left: 4.188rem;}
.y_return img{display: block;width: 100%;}
.y_hundred{display: block;width:6.438rem;height: 5.5rem;position: absolute;left: 0.5rem;top: 0.5rem;}
.y_hundred img{display: block;width: 100%;}

.y_show{position: relative;}
.y_show01{width:10.312rem;height: 11.5rem;position: absolute;top: 13.75rem;left: 0.625rem}

.y_show a{display: block; float: left; padding-top: 0.625rem; color: #fff;font-size: 0.562rem; text-align: center;width: 4.5rem;
animation:bounceIn 2s ease 0.5s both;-webkit-animation:bounceIn  2s ease 0.5s both;-moz-animation:bounceIn  2s ease 0.5s both;-ms-animation:bounceIn  2s ease 0.5s both;}
@-webkit-keyframes bounceIn{0%{opacity:0;-webkit-transform:scale(.3);transform:scale(.3)}50%{opacity:1;-webkit-transform:scale(1.05);transform:scale(1.05)}70%{-webkit-transform:scale(.9);transform:scale(.9)}100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}}@keyframes bounceIn{0%{opacity:0;-webkit-transform:scale(.3);-ms-transform:scale(.3);transform:scale(.3)}50%{opacity:1;-webkit-transform:scale(1.05);-ms-transform:scale(1.05);transform:scale(1.05)}70%{-webkit-transform:scale(.9);-ms-transform:scale(.9);transform:scale(.9)}100%{opacity:1;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}
.y_show a span{display: block;margin-top: 0.25rem;}
.y_show01 a{background: url(../../common/images/ts_lightbig.png) no-repeat center center;height: 3rem;background-size: 100%;}
.y_show .y_ico01{}
.y_show .y_ico02{animation-delay: 1s; -webkit-animation-delay:1s;-moz-animation-delay:1s;-ms-animation-delay:1s;}
.y_show .y_ico03{animation-delay: 1.5s; -webkit-animation-delay:1.5s;-moz-animation-delay:1.5s;-ms-animation-delay:1.5s;}
.y_show .y_ico04{animation-delay: 2s; -webkit-animation-delay:2s;-moz-animation-delay:2s;-ms-animation-delay:2s;}
.y_show .y_ico05{animation-delay: 2.5s; -webkit-animation-delay:2.5s;-moz-animation-delay:2.5s;-ms-animation-delay:2.5s;}
.y_show .y_ico06{animation-delay: 3s; -webkit-animation-delay:3s;-moz-animation-delay:3s;-ms-animation-delay:3s;}
.y_bottom{position: absolute;top: 28.5rem;}
.y_process{width: 20.0rem;height: 60.438rem;display: block;margin: 0 auto 6.5rem;}
.y_process img.y_imgbg{display: block;width: 100%;}

.y_p_left{left:1.25rem;}
.y_p_right{right:1.25rem;position: absolute; }
.y_promain{position: absolute;width: 10.938rem;display: none;}
.y_promain .y_close{width: 1.312rem;height: 1.25rem;position: absolute;right: -0.625rem;top:0.375rem;}
.y_promain .y_close img{width: 1.312rem;height: 1.25rem;}
.y_promain p{color: #fff;font-size: 0.438rem;}
.y_pos01{top: 0;height: 9.625rem;background: url(../../common/images/pro_tck_bg01.png) no-repeat;background-size: 100%; }
.y_pos01 .y_img{margin: 1.25rem auto 0;display: block;}
.y_pos01 p{width:8.906rem;margin: 0.312rem auto 0;line-height: 0.438rem;}
.y_pos02{top:14.438rem;height: 276px;background: url(../../common/images/pro_tck_bg02.png) no-repeat;padding-top: 1.406rem;background-size: 100%;}
.y_pos02 .y_img{float: left;display: block;margin:0 0.312rem 0 1.094rem; }
.y_promain.bg05{height: 10.812rem;background: url(../../common/images/pro_tck_bg03.png) no-repeat;background-size: 100%;}
.y_pos02 p{float: left;width: 4.438rem;line-height: 0.625rem;margin-top: 0.156rem;}
.y_pos03{top:27.688rem;}
.y_pos04{top:43.438rem;}
.js_pro .js_a{display: block;width: 6.719rem;text-indent: -1000px; height: 1.875rem;position: absolute;background-color:#fff;filter:alpha(opacity=0);opacity:0;}
.js_pro .a_p1{top: 2.5rem;right: 1.875rem;}
.js_pro .a_p2{top: 10.188rem;left: 1.875rem}
.js_pro .a_p3{top: 17.938rem;right: 1.875rem;}
.js_pro .a_p4{top: 25.625rem;left: 1.875rem}
.js_pro .a_p5{top: 31.344rem;right: 1.875rem;}
.js_pro .a_p6{top: 38.75rem;left: 1.875rem}
.js_pro .a_p7{top: 46.562rem;right: 1.875rem;}
.js_pro .a_p8{top: 54.219rem;left: 1.875rem}
.pos_top01{top:6.312rem;}
.pos_top02{top:22.5rem;}
.pos_top03{top:35.188rem;}
.pos_top04{top:49.375rem;}

.y_width01{width: 7.094rem;height: 4.75rem;}
.y_width02{width:7.688rem;height:3.875rem;}
.y_width03{width:3.938rem;height:6.188rem;}
.y_width04{width:4.0rem;height:6.0rem;}
.y_width05{width:7.562rem;height:5.0rem;}
.y_width06{width:7.969rem;height:4.469rem;}
.y_width07{width:7.438rem;height:4.938rem;}
.y_width08{width:7.375rem;height:4.125rem;}



.y_ewm{display: block;width: 7.688rem;height: 7.688rem;margin:0 auto 3.438rem;}
.y_ewm img{display: block;width: 100%;}
.y_downl{display: block;width: 6.188rem;height: 2.562rem;margin:0 auto;}
.y_downl img{display: block;width: 100%;}
.y_show02{position: relative;width: 100%;font-size:0.438rem;margin-top:5rem;}
.y_show02 a{background: url(../../common/images/ts_lightsm.png) no-repeat center center;position: absolute;display: block; width: 3.5rem; height: 3.031rem;background-size: 100%;}
.y_show02 .y_ico01{bottom:1.875rem;left: 0;}
.y_show02 .y_ico02{bottom: 0.562rem;left: 3.781rem;}
.y_show02 .y_ico03{bottom: 0;left: 6.656rem;}
.y_show02 .y_ico04{bottom: 0;right: 6.656rem;}
.y_show02 .y_ico05{bottom: 0.562rem;right: 3.781rem;}
.y_show02 .y_ico06{bottom: 1.875rem;right: 0;}
.bg_color{background: #3d147c;}
.bg_color .ts-fot{margin-top: 0;padding:0.312rem 0; }

.lc-wrap{width: 100%;background:#411f76 url(../images/lc_bg.jpg) no-repeat;background-size: 100%;height:29.906rem;position: relative;overflow: hidden;}
.ts-title01{width: 7.562rem;background: url(../images/mts_title02.png) no-repeat;background-size: 100% 100%;}
/*.activity_wrap,.activity{width: 100%;}
.activity_wrap{position:relative;background:#fff;width:100%;}
.activity_tit{background:url(../images/m_title_redbg.jpg) no-repeat;background-size: 100% 100%;width:100%;height:45px;line-height:45px;position:relative;}
.activity_tit i{width:72.5px;height:20px;background:url(../images/m_title03.png) no-repeat;display:inline-block;background-size: 100% 100%;vertical-align: middle;margin-left:1rem;}
.activity_roll_ul{ position:relative; overflow:hidden; margin:0 auto;}
.activity_roll_ul .hd{width:100%;position:absolute;left:0;bottom:10px;text-align:center;z-index:1}
.activity_roll_ul .hd li{display:inline-block;width:10px;height:10px;border-radius:50%;background:#fff;margin:0 3px; line-height: 0px;font-size:0; }
.activity_roll_ul .hd li.on{background:#ff65a5;}
.activity_roll_ul .bd{ position:relative; z-index:0; }
.activity_roll_ul .bd li{ position:relative; text-align:center;  }
.activity_roll_ul .bd li img{width: 100%;vertical-align:top;}
.activity_roll_ul .bd li a{ -webkit-tap-highlight-color:rgba(0,0,0,0);  }*/

.m-rmhd-lunbo{
    width: 96%;
    /*width: 18.875rem;*/
    height: 11.66875rem;
    margin: 0.2rem auto;
    position: relative;
    background-size: 100% 100%;
    z-index: 30;
}
.m-rmhd-lunbo .images_box{position:relative;width:100%;z-index: 30;}
.m-rmhd-lunbo .roll_ul{ position:relative;margin:0 auto;padding: 4px;}
.m-rmhd-lunbo .roll_ul .hd{width:96%;position:absolute;left:0;bottom:0.562rem;text-align:right;z-index:1;padding-right: 4%;}
.m-rmhd-lunbo .roll_ul .hd li{display:inline-block;width:1.375rem;height:0.406rem;background:#fff;margin:0 3px; line-height: 0px;font-size:0; }
.m-rmhd-lunbo .roll_ul .hd li.on{background:#de86bb;background-size: 100%;}
.m-rmhd-lunbo .roll_ul .bd{ position:relative; z-index:0;/*margin-top: 0.2rem;*/}
.m-rmhd-lunbo .roll_ul .bd li{ position:relative; text-align:center;}
.m-rmhd-lunbo .roll_ul .bd li img{width: 100%;height:11.812rem;vertical-align:top;}
.m-rmhd-lunbo .roll_ul .bd li a{ -webkit-tap-highlight-color:rgba(0,0,0,0);}
.m_m2{padding:0 0 0 2.5%;width: 97.5%;margin-top:2.2rem;position: relative;}
.m_m2 img{width: 8.938rem;height: 5.125rem;}
.m_m2 span{background: url(../../common/images/yplay_btn.png) no-repeat;background-size: 100%; display: block;width: 1.188rem;height: 1.188rem;position: absolute;left: 50%;top: 50%;margin:-0.594rem 0 0 -0.594rem; }
/*视频*/
#mask{display: none; width: 100%; height: 100%;background: url(../../common/images/d.png) repeat; position: fixed; margin: 0 auto; top: 0;left: 0; z-index:200;}
#video_tck{ display: none; width: 100%;height: 316px;position: fixed; top: 50%; left: 50%;margin: -20% 0 0 -50%;z-index: 1000;}
#close {width: 60px;height: 60px; display: block; position: absolute; top: -30px; right:-30px; background: url(../../common/images/c.png) 3px no-repeat;cursor: pointer; background-size:50%;}
.none {line-height: 0;font-size: 0;margin: 0;padding: 0;}
.both {clear: both;}
#player5{ width:80%;color:#000; position: relative;margin: 0 auto;z-index: 1000;}
#player5 video{width: 90%;}
.wclose{ position: absolute; top: 0; left: 18%;}
.lc-wrap .ts-fot{margin-top:3rem;}
/*100*/
.y_100bg img{width: 100%;display: block;}
.r_100turn{display: block;width: 7.312rem;height: 1.875rem;position: absolute;top: 0.938rem;right: 0.625rem;text-indent: -2000px;}
.r_100ewm{display: block;width: 4.625rem;height: 4.625rem;display: block;position: absolute;top:64.15rem;right: 2.938rem}
.r_100ewm img{display: block;width: 4.625rem;height: 4.625rem; }

.new_act_bg{width: 100%;display: block;background-size: 100% 100%;}
.new_act .act_m_top{position: absolute;top:17.4rem;width: 76%;left: 50%;margin-left: -38%;height: 2.2rem;font-size: 1rem;}
.new_act .act_m_top input{color: #8c8c8b; display: block;float: left;height: 2.2rem;width: 64%;line-height: 2.2rem;padding: 0 2%;background: none;outline: 0;border: 0;}
.new_act .act_m_top a{display: block;float: left;width: 32%;height: 2.2rem;}
.new_act .act_downl{width: 60%;margin: 0 auto;position: absolute;top: 21.5rem;left: 50%;margin-left: -30%;}
.new_act .act_downl .act_l{width: 45%;float: left;}
.new_act .act_downl .act_l a{display: block;width: 100%;height: 1.8rem;}
.new_act .act_downl img.ewm{display: block;width: 6rem;float: left;}
.act_tck{display: none; width: 80%;position: fixed;left: 50%;margin-left: -40%;z-index: 9999;top:10rem;}
.act_tck .act_close{width: 2.2rem;height: 2.2rem;display: block;position: absolute;top:0;right: 0;}
.act_tck .act_btn{width: 5rem;height: 2rem;display: block;position: absolute;top:8rem;left: 50%;margin-left: -2.5rem;}

