<!--header-->
<header class="header">
	<a href="/m/index.html" class="logo">
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/logo.png?{$smarty.const.VERSION}">
	</a>
	<div class="header_a">
		<span class="type"></span>
	</div>
	<div class="nav-content">
		<ul class="nav-list">
			<li class="nav-item">
				<a href="/m/index.html" class="item-anchor">首页</a>
			</li>
			<li class="nav-item">
				<a href="javascript:;" class="item-anchor">社会影响</a>
				<ul class="dropdown-menu ">
					<li><a href="/m/p/time.html">重要事件时间表</a></li>
					<li><a href="{myurl name='image/list, id=>1976'}">公益图集</a></li>
					<li><a href="{myurl name='video/list, id=>1978'}">公益视频</a></li>
					<li><a href="{myurl name='article/list, id=>1975'}">公益资讯</a></li>
				</ul>
			</li>
			<li class="nav-item">
				<a href="/m/p/charity.html" class="item-anchor">慈善项目</a>
			</li>
			<li class="nav-item">
				<a href="javascript:;" class="item-anchor">信息公开</a>
				<ul class="dropdown-menu ">
					<li><a href="/m/p/information.html">基本信息</a></li>
					<li><a href="/m/p/budget.html">善款收支</a></li>
					<li><a href="/m/p/workreport.html">年度工作报告</a></li>
					<li><a href="/m/p/auditreport.html">审计报告</a></li>
				</ul>
			</li>
			<li class="nav-item">
				<a href="javascript:;" class="item-anchor">关于我们</a>
				<ul class="dropdown-menu ">
					<li><a href="/m/p/about.html">基金会介绍</a></li>
					<li><a href="/m/p/structure.html">组织架构</a></li>
					<li><a href="/m/p/rules.html">规章制度</a></li>
					<li><a href="/m/p/contact.html">联系我们</a></li>
				</ul>
			</li>
		</ul>
	</div>
</header>