<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{$seo_title}</title>
    <meta name="keywords" content="{$seo_key}" />
    <meta name="description" content="{$seo_desc}" />
    {csrf}
    <link rel="shortcut icon" href="{$global.icon_img}?{$smarty.const.VERSION}" />
    <link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}2.0/css/swiper-3.4.0.min.css?{$smarty.const.VERSION}" />
    <link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}2.0/css/common.css?{$smarty.const.VERSION}" />
    <link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}2.0/css/news.css?{$smarty.const.VERSION}" />
    <link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}2.0/css/yx.css?{$smarty.const.VERSION}" />
    <script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}2.0/js/jquery-1.11.2.min.js?{$smarty.const.VERSION}"></script>
	<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}2.0/js/yx.js?{$smarty.const.VERSION}"></script>

    <script data-fixed="true">
        if((/iphone|android|mobile/i.test(navigator.userAgent.toLowerCase()))) {
            location.href = "/m"+window.location.pathname+window.location.search;
        }
    </script>
</head>

<body class="op">
<script type="text/javascript" src="http://cdnstatic.yingxiong.com/head/js/topbar.js?{$smarty.const.VERSION}"></script>
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}2.0/css/news.css?{$smarty.const.VERSION}" />
        <div class="main_con">
            <div class="wrap">
                <div class="logo"><img src="{$smarty.const.STATIC_DOMAIN}2.0/images/logo.png?{$smarty.const.VERSION}" alt="" /></div>
                <!--<ul>-->
                    <!--<li><a href="{myurl name='site/index'}" target="_blank"><p>官网首页</p><p>·INDEX·</p></a></li>-->
                    <!--<li class="active"><a href="javascript:;"><p>新闻公告</p><p>·NEWS·</p></a></li>-->
                    <!--&lt;!&ndash;<li><a href="javascript:;"><p>壁纸图库</p><p>·WALLPAPER·</p></a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="javascript:;"><p>游戏特色</p><p>·FEATURE·</p></a></li>&ndash;&gt;-->
                    <!--<li><a href="http://bbs.yingxiong.com/t/pc/19.html" target="_blank"><p>官方论坛</p><p>·FORUM·</p></a></li>-->
                    <!--<li><a href="http://weibo.com/yqrewu" target="_blank"><p>官方微博</p><p>·WEIBO·</p></a></li>-->
                <!--</ul>-->
            </div>
        </div>
		<div class="c_main">
			<div class="wrap">		
				<div class="main_news">
					<div class="left_nav">
                        <a href="{myurl name='site/index'}" target="_blank" class="backHome"></a>
						<div class="n_download">
							<div class="n_code">
								<img src="{$global.wx_img}" alt="" class=""/>
							</div>
							<ul>
								<li>
									<a class="pub_btn1" href="javascript:;" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}2.0/images/aoole.png?{$smarty.const.VERSION}" alt="" /></a>
								</li>
								<li>
									<a class="js_down_andriod stat_android " target="_blank" href="javascript:;"><img src="{$smarty.const.STATIC_DOMAIN}2.0/images/an.png?{$smarty.const.VERSION}" alt="" /></a>
								</li>
								<li>
									<a href="javascript:yx_showTips('敬请期待！');"><img src="{$smarty.const.STATIC_DOMAIN}2.0/images/tap.png?{$smarty.const.VERSION}" alt="" /></a>
								</li>
							</ul>
						</div>
						<div class="l_nav">
							<ul>
								<li>
									<a href="{myurl name='site/index'}" target="_blank">
										<!--<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/sy.png?{$smarty.const.VERSION}" alt="" />-->
										<p>官网首页</p>
									</a>
								</li>
								<li>
									<a href="{$global.wb_url}" target="_blank">
										<!--<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/yx.png" alt="" />-->
										<p>官方微博</p>
									</a>
								</li>
								<li>
									<a href="http://bbs.yingxiong.com/t/pc/19.html" target="_blank">
										<!--<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/lt.png?{$smarty.const.VERSION}" alt="" />-->
										<p>官方论坛</p>
									</a>
								</li>
								<!--<li>-->
									<!--<a href="javascript:alert('敬请期待！');">-->
										<!--<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/faq.png?{$smarty.const.VERSION}" alt="" />-->
										<!--<p>FAQ</p>-->
									<!--</a>-->
								<!--</li>-->
							</ul>
						</div>
						<!--<img src="{$smarty.const.STATIC_DOMAIN}2.0/images/tu.jpg?{$smarty.const.VERSION}" alt="" class="tu" />-->
					</div>