body,html,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,select,textarea,button,th,td,blockquote,address,pre{margin:0;padding:0;}
body{font-family: "微软雅黑";}
h1,h2,h3,h4,h5,h6,input,textarea,select,button,label{font-size:100%;vertical-align:middle;}
ul,dl,ol,button{list-style:none;}
button{border: none;background: none;}
a{text-decoration: none;}
fieldset, img,button,input { border:none; outline-style:none; }
img,fieldset{border:none;}
img{display:inline-block;overflow:hidden;vertical-align:top;}
em,address{font-style:normal;}
sup,sub{vertical-align:baseline;}
table{border-collapse:collapse;border-spacing:0;}
q:before{content:"";}
q:after{content:"";}
button{cursor:pointer;}
select{-webkit-appearance: none;-moz-appearance: none;-o-appearance: none;}
textarea{word-wrap:break-word;resize:none;}
.clearfix:after { content: ".";display: block;height: 0;clear: both;visibility: hidden; } 
.clear{clear: both;}
.fl{float: left;}
.fr{float: right;}
/*header**/
#Hero-bar{background: #fff;width: 100%;height: 40px;position: relative;z-index: 99999;}
.hero_head{width: 1024px;height: 40px;margin:0 auto;}
.hero_head .hero_middle{height: 40px;line-height: 40px;}
.hero_head .hero_middle,.hero_head .hero_logo,.hero_head .hero_middle .hero_title{float: left;}
.hero_head .hero_middle{color: #4d4c4c;font-size: 14px;}
.hero_head .hero_logo{margin:0 12px 0 33px; width: 112px;height: 40px;display: block;background: url(../../images/logo.png) no-repeat;background-size: 100% 100%;}
.hero_head .hero_right{float: right;margin:10px 26px 0 0;}
.hero_head .hero_right a,.hero_head .hero_right a i,.hero_head .hero_right a span{display: block;float:left;color: #4d4c4c;font-size: 16px;}
.hero_head .hero_right a i{position: relative;top:3px;margin-right: 7px;height: 15px;background: url(../../images/hero_ico.png) no-repeat}
.hero_head .hero_right a:hover{color: #d71341;}
.hero_head .hero_right .hero_user{padding-right: 12px;border-right: 1px solid #b5b5b5;margin-right: 12px;}
.hero_head .hero_right .hero_user i{width: 15px;background-position:0 0;}
.hero_head .hero_right .hero_help i{width: 19px;background-position:-18px 0;}
.hero_head .hero_right .hero_user:hover i{background-position:0 -19px;}
.hero_head .hero_right .hero_help:hover i{background-position:-18px -20px;}
.Hero-fixed{top: 40px;}
@-webkit-keyframes rotate{0%{-webkit-transform:rotate(0)}100%{-webkit-transform:rotate(360deg)}}
@-moz-keyframes rotate{0%{-moz-transform:rotate(0)}100%{-moz-transform:rotate(360deg)}}
@-o-keyframes rotate{0%{-o-transform:rotate(0)}100%{-o-transform:rotate(360deg)}}
@-ms-keyframes rotate{0%{-ms-transform:rotate(0)}100%{-ms-transform:rotate(360deg)}}
@keyframes rotate{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}
@keyframes scales{0%{transform: scale(1); }50% {transform: scale(1.2);}100% {transform: scale(1);}}
@-webkit-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(1.2);}100% {-webkit-transform: scale(1);}}
@-moz-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(1.2);}100% {-webkit-transform: scale(1);}}
@-o-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(1.2);}100% {-webkit-transform: scale(1);}}
@-ms-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(1.2);}100% {-webkit-transform: scale(1);}}
/*
@keyframes move{
	0% {
		opacity: 1;
		-webkit-transform: translateX(2000px);
		transform: translateX(2000px)
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
}
*/
@-webkit-keyframes jump {
  from {
    -webkit-transform: translate3d(20px,20px,0);
  }
  to {
    -webkit-transform: translate3d(0,0,0);
  }
}
@-ms-keyframes jump {
  from {
    -ms-transform: translate3d(20px,20px,0);
  }
  to {
    -ms-transform: translate3d(0,0,0);
  }
}
@-moz-keyframes jump {
  from {
    -moz-transform: translate3d(20px,20px,0);
  }
  to {
    -moz-transform: translate3d(0,0,0);
  }
}
@keyframes jump {
  from {
    transform: translate3d(20px,20px,0);
  }
  to {
    transform: translate3d(0,0,0);
  }
}
/**footer*/
.i-footer{
	width: 100%;
	height: 140px;
	background: #1B1B1B;
}
.i-footer .i-fotcon{
	width: 900px;
	height: 140px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}
.i-footer .i-fotcon .i-fot-logo{
	width: 42%;
	height: 110px;
	margin-top: 15px;
	float: left;
	border-right: 1px solid #666666;
	display: block;
	overflow: hidden;
}
.i-footer .i-fotcon .i-fot-logo img{
	display: block;
	float: right;
	margin-right: 35px;
	width: 265px;
	height: 70px;
	margin-top: 20px;
}
.i-footer .i-fotcon .i-fot-text{
	float: left;
	display: block;
	margin-top: 30px;
	padding-left: 60px;
}
.i-footer .i-fotcon .i-fot-text p{
	font-size: 12px;
	line-height: 1.6;
	color: #C5C5C5;
	text-align: left;
}
.i-footer .i-fotcon .i-fot-text p a{
	display: inline-block;
	/*width: 15px;*/
	/*height: 15px;*/
	vertical-align: middle;
	margin: 0 3px;
	color:#C5C5C5;
}
.i-footer .i-fotcon .i-fot-text p a img{
	display: block;
	height: 100%;
}

/**分页**/
.page {
    height: 33px;
    margin: 45px auto;
    text-align: center;
}
.page li{
    display: inline-block;
}
.page li{
    line-height: 33px;
    font-size: 14px;
    border: 1px solid #e5e5e5;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    margin: 0px 3px;
    padding: 0 13px;
}
.page li a,.page li span{
     color: #999999;
}
.page li:hover{
    background: #ff9000;
}
.page li:hover a{
    color: #fff;
}
.page li:first-child ,.page li:last-child{
    background: none;
    border: none;
    margin: 0px 10px;
}
.page li:first-child:hover a,.page li:last-child:hover a{
    color: #ff9000;
}
.page li span:first-child:hover,.page li span:last-child:hover{
    color: #ff9000;
}


.page li.active {
    background: #ff9000;
}
.page li.active a{
    color: #fff;
}
/*åˆ—è¡¨é¡µ*/
.list-con{
	width: 100%;
	background: #181B22;
}
.list-con .list-top{
	width: 100%;
	height: 45px;
	background: #000;
}
.list-con .list-top .list-topcon{
	width: 987px;
	height: 45px;
	line-height: 45px;
	overflow: hidden;
	margin: 0 auto;
}
.list-con .list-top .list-topcon i{
	width: 18px;
	height: 14px;
	background: url(../common/images/list_ico01.png) no-repeat;
	display: block;
	float: left;
	margin: 15.5px 3px;
}
.list-con .list-top .list-topcon p{
	float: left;
	font-size: 14px;
	color: #dedede;
}
.list-con .list-top .list-topcon p a{
	font-size: 14px;
	color: #dedede;
}
.list-con .list-inf{
	width: 987px;
	margin: 0 auto;
	overflow: hidden;
}
.list-con .list-inf h1{
	font-size: 48px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	padding-top: 40px;
	padding-bottom: 20px;
	border-bottom: 1px solid #383838;
}
.list-con .list-inf .list-l{
	width: 100%;
}
.list-con .list-inf .list-l li{
	width: 100%;
	height: 44px;
	line-height: 44px;
	border-bottom: 1px dashed #85734B;
}
.list-con .list-inf .list-l li a{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 18px;
	color: #fff;
}
.list-con .list-inf .list-l li a:hover{
	color: #E8CF21;
}
.list-con .list-inf .list-l li a p{
	float: left;
	width: 650px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.list-con .list-inf .list-l li a p em{
	color: #E8CF21;
}
.list-con .list-inf .list-l li a span{
	float: right;
}

.artical-con{
	width: 987px;
	margin: 0 auto;
}
.artical-con h1{
	font-size: 42px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	padding-top: 40px;
	padding-bottom: 10px;
}
.artical-con .artical-time{
	width: 100%;
	font-size: 14px;
	color: #6A6B6D;
	text-align: center;
	padding-bottom: 20px;
	margin-bottom: 15px;
	border-bottom: 1px solid #5D5D5D;
}
.artical-con .artical-inf{
	width: 100%;
	padding-bottom: 50px;
}
.artical-con .artical-inf p{
	font-size: 14px;
	color: #DEDEDE;
	line-height: 1.8;
}
.artical-con .artical-inf img{
	max-width: 100%;
}
@-webkit-keyframes code{
    0%{top:19px}
    50%{top:205px}
    100%{top:19px}
}
@-moz-keyframes code{
    0%{top:19px}
    50%{top:205px}
    100%{top:19px}
}
@-ms-keyframes code{
    0%{top:19px}
    50%{top:205px}
    100%{top:19px}
}
@-o-keyframes code{
    0%{top:19px}
    50%{top:205px}
    100%{top:19px}
}
@keyframes code{
    0%{top:19px}
    50%{top:205px}
    100%{top:19px}
}
.show{display: block}
.hide{display: none}
