*{margin: 0;padding: 0;-webkit-tap-highlight-color:rgba(0,0,0,0);}
body {font-family: "微软雅黑";}
.hidden{display:none!important;}
img{width:100%;height:100%;}
a{text-decoration:none;}
li{list-style:none;}
i,em{font-style:normal;}
.fl{float:left;}
.fr{float: right;}
input:focus{outline:none;}
.clearfix {
	clear: both;
}
.clearfix:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0;
}
.chengg{
	width:100%;
	height:1px;
	background:none;
}
.no_auto{
	overflow: hidden;
	width:100%;
	height:100%;
}
.no_auto .co_tips{position:absolute;overflow: hidden;}
input[type=number] { -moz-appearance: textfield; } input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
.wrap{
	width:1200px;
	position:relative;
	margin:0 auto;
	height: 100%;
}
.i_main .ani .ani-item{/*渐隐1*/
	opacity: 0;
	transition: all .8s;
	-webkit-transition: all .8s;
	-moz-transition: all .8s;
	-o-transition: all .8s;
}
.i_main .ani.show-ani .ani-item{/*渐隐2*/
	opacity: 1;
	transform: scale(1,1) translateX(0) translateY(0)!important;
	-ms-transform: scale(1,1) translateX(0) translateY(0)!important;
	-webkit-transform: scale(1,1) translateX(0) translateY(0)!important;
	-moz-transform: scale(1,1) translateX(0) translateY(0)!important;
	-o-transform: scale(1,1) translateX(0) translateY(0)!important;
}
.i_main .ani.show-ani .ani-item.ani-delay
{
	transition-delay: .3s;
	-moz-transition-delay: .3s; /* Firefox 4 */
	-webkit-transition-delay: .3s; /* Safari 和 Chrome */
	-o-transition-delay: .3s; /* Opera */
}
.i_main {
	position: relative;
	width: 100%;
	/*height: 5276px;*/
	min-width: 1200px;
	max-width: 1920px;
	margin: 0 auto;
	margin-top:100px;
	/*overflow: hidden;*/
}
/*top*/
.kv {
	width: 100%;
	height: 1102px;
	min-width:1200px;
	background: url(../images/ca_bg1.jpg) no-repeat center;
	background-size:100% 100%;
	position: relative;
	overflow: hidden;
}
.kv .logo{
	z-index:12;
	position: relative;
	display: block;
	width: 390px;
	height: 81px;
	margin:55px 0 0 50px;
}
.kv .gold1{
	z-index: 12;
	position: absolute;
	left: 50%;
	top: 390px;
	width: 257px;
	height: 285px;
	margin-left: -500px;
}
.kv .gold2{
	z-index: 5;
	position: absolute;
	right: 110px;
	top: 570px;
	width: 199px;
	height: 345px;
}
.kv .gold3{
	z-index: 12;
	position: absolute;
	left: 50%;
	top: 430px;
	width: 171px;
	height: 173px;
	margin-left: 305px;
}
.kv .img1{
	z-index: 10;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 610px;
	height: 550px;
	margin-left: -965px;
	margin-top: -380px;
}
.kv .img2{
	z-index: 11;
	position: absolute;
	left: 50%;
	top: 515px;
	width: 580px;
	height: 515px;
	margin-left: 86px;
}
.kv .img3{
	z-index: 9;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 687px;
	height: 643px;
	margin-left: 330px;
	margin-top: -535px;
}
.kv .img4{
	z-index: 10;
	position: absolute;
	left: 50%;
	top: 520px;
	width: 601px;
	height: 542px;
	margin-left: -412px;
}
.kv .img5{
	z-index: 9;
	position: absolute;
	left: 50%;
	top: 635px;
	width: 474px;
	height: 420px;
	margin-left: -732px;
}
.kv .img6{
	z-index: 9;
	position: absolute;
	left:50%;
	top: 0px;
	width: 296px;
	height: 75px;
	margin-left: 60px;
}
.kv .img7{
	z-index: 7;
	position: absolute;
	left:0;
	top: 650px;
	width: 127px;
	height: 283px;
}
/*介绍*/
.info {
	width: 100%;
	height: 1100px;
	min-width:1200px;
	background: url(../images/ca_bg2.jpg) no-repeat center;
	background-size:100% 100%;
	position: relative;
	overflow: hidden;
}
.info .gold1{
	z-index: 12;
	position: absolute;
	left: 50%;
	top: 225px;
	width: 196px;
	height: 343px;
	margin-left: -840px;
}
.info .gold2{
	position: absolute;
	right: 275px;
	top: 660px;
	width: 194px;
	height: 293px;
}
.info .txt{
	margin-top: 180px;
	width: 500px;
	float: left;
	margin-left: 60px;
}
.info .txt p{
	font-size: 18px;
	color: #4b3819;
	line-height: 40px;
	margin-bottom: 35px;
}
.slider{
	position: relative;
	z-index: 10;
	width: 522px;
	height: 680px;
	margin-top: 180px;
	background: #F9F4EC;
	float: right;
	margin-right: 20px;
}
.slider .swiper-container .swiper-slide>a{
	position: relative;
	/* opacity: .8; */
	margin-left: 50%;
	display: inline-block;
	width: 487px;
	height: 318px;
	margin-top: 18px;
	text-align: center;
	transform: translate(-243.5px,0);
	-webkit-transform: translate(-243.5px,0);
}
.slider .swiper-container .swiper-slide>a .images{
	width: 487px;
	height: 318px;
}
.slider .swiper-container .swiper-slide p{
	font-size: 20px;
	font-family: "宋体";
	width: 487px;
	margin: 0 auto;
	margin-top: 30px;
	line-height:25px;
}
.slider .swiper-slide.swiper-slide-next>a {opacity: 1;}
.slider .swiper-pagination {
	left: 50%;
	bottom: 30px;
	transform: translate(-50%);
	-webkit-transform: translate(-50%);
	color: #B3AA9A;
	font-size: 20px;
	font-style: italic;
}
.slider .swiper-pagination:before{
	position: absolute;
	left: 50%;
	display: inline-block;
	content: "";
	width: 486px;
	height: 1px;
	margin-left: -243px;
	bottom: 90px;
	background: url(../images/ca_line.png);
}
.slider .swiper-pagination .swiper-pagination-current{
	font-size: 48px;
	font-weight:600;
	color: #4B3819;
	margin-right: 10px;
}
.slider .swiper-button-prev2{
	top: inherit;
	bottom: 45px;
	left: 120px;
	width: 18px;
	height: 30px;
	background: url(../images/ca_prev.png) no-repeat center;
	background-size: 100% 100%;
}
.slider .swiper-button-next2{
	top: inherit;
	bottom: 45px;
	right: 120px;
	width: 18px;
	height: 30px;
	background: url(../images/ca_next.png) no-repeat center;
	background-size:100% 100%;
}
/*售卖道具*/
.sale{
	width: 100%;
	height: 948px;
	min-width:1200px;
	background: url(../images/ca_bg3.jpg) no-repeat center;
	background-size:100% 100%;
	position: relative;
	overflow: hidden;
}
.sale .title{
	width:203px;
	height:63px;
	margin:0 auto;
	margin-top:105px;
}
.sale .sub_tit1{
	font-size:18px;
	color:#90744b;
	text-align:center;
	margin-top:20px;
}
.sale .sub_tit2{
	width: 600px;
	font-size: 24px;
	color: #4a4133;
	text-align: center;
	margin: 0 auto;
	margin-top: 100px;
}
.sale .dj_box{overflow:hidden;}
.sale .dj_img{
	width: 300px;
	float: left;
	margin-top: 104px;
	text-align: center;
}
.sale .dj_img:last-of-type{margin-right:0;}
.sale .dj_img .name{
	display:block;
	margin:7px 0 11px 0;
	font-size:24px;
	color:#6e4a14;
	text-align:center;
}
.sale .dj_img img{
	width:202px;
	height:202px;
}
.sale .dj_img p{
	font-size:18px;
	color:#837867;
	text-align:center;
}
@keyframes vSmall{
	0%{transform: translateY(90px);}
	50%{transform: translateY(0);}
	100%{transform: translateY(90px);}
}
@-webkit-keyframes vSmall{
	0%{transform: translateY(90px);}
	50%{transform: translateY(0);}
	100%{transform: translateY(90px);}
}
@-moz-keyframes vSmall{
	0%{transform: translateY(90px);}
	50%{transform: translateY(0);}
	100%{transform: translateY(90px);}
}
@-o-keyframes vSmall{
	0%{transform: translateY(90px);}
	50%{transform: translateY(0);}
	100%{transform: translateY(90px);}
}

@keyframes scales{0%{transform: scale(1); }50% {transform: scale(0.9);}100% {transform: scale(1);}}
@-webkit-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(0.9);}100% {-webkit-transform: scale(1);}}
@-moz-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(0.9);}100% {-webkit-transform: scale(1);}}
@-o-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(0.9);}100% {-webkit-transform: scale(1);}}
@-ms-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(0.9);}100% {-webkit-transform: scale(1);}}

@-webkit-keyframes start {
	0%,
	30% {
		opacity: 0;
		-webkit-transform: translate(0, -10px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate(0, 8px);
	}
}
@keyframes start {
	0%,
	30% {
		opacity: 0;
		-webkit-transform: translate(0, -10px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate(0, 8px);
	}
}
