/*html,body{
	overflow-x: hidden;
}*/
.cover{
	width:100%;
	min-width:1200px;
	margin:0 auto;
	position:relative;
	overflow: hidden;
}
.cover .c_cover{
	width:100%;
	min-width:1200px;
	height:1059px;
	background:url(../images/c_bg.jpg) no-repeat center;
	overflow: hidden;
	margin:0 auto;
	position:relative;
}
.logo{
	display: block;
	width:191px;
	height:93px;
	position:absolute;
	left:50px;
	top:20px;
}
.right_nav{
	width:400px;
	height:59px;
	position:absolute;
	right:40px;
	top:55px;
	z-index:2;
}
.right_nav a{
	display: block;
	overflow: hidden;
	float:left;
}
.right_nav .enter{
	width:164px;
	height:59px;
	background:url(../images/enter.png) no-repeat center;
	background-position:0 0;
}
.right_nav .enter:hover{
	background-position:-166px 0;
}
.right_nav .r_wx{
	width:184px;
	height:48px;
	float:left;
	margin:3px 0 0 50px;
}
.right_nav .r_wx a{
	width:48px;
	height:48px;
	background:url(../images/nav.png) no-repeat;
	background-position:0 0;
	float:left;
	margin-right:20px;
}
.right_nav .r_wx a:nth-child(1):hover{
	background-position:0 -48px;
}
.right_nav .r_wx a:nth-child(2){
	background-position:-67px 0;
}
.right_nav .r_wx a:nth-child(2):hover{
	background-position:-68px -48px;
}
.right_nav .r_wx a:nth-child(3){
	background-position:-135px 0;
	margin-right:0;
}
.right_nav .r_wx a:nth-child(3):hover{
	background-position:-136px -48px;
}
.right_nav .fl_wx{
	width:138px;
	height:148px;
	background:url(../images/fl_wx.png) no-repeat center;
	position:absolute;
	top:62px;
	left:170px;
	display: none;
}
.right_nav .fl_wx img{
	display: block;
	width:98px;
	height:98px;
	margin:30px auto 0;
}
.play{
	display: block;
	width:102px;
	height:103px;
	position:absolute;
	left:300px;
	top:477px;
	animation: vGo 2s linear infinite;
	-webkit-animation: vGo 2s linear infinite;
	cursor: pointer;
}
@keyframes vGo{
	0%{transform: scale(1.1);}
	50%{transform: scale(1);}
	100%{transform: scale(1.1);}
}
@-webkit-keyframes vGo{
	0%{transform: scale(1.1);}
	50%{transform: scale(1);}
	100%{transform: scale(1.1);}
}
.c_down{
	width:896px;
	height:203px;
	background:url(../images/c_down.png) no-repeat center;
	position:absolute;
	bottom:129px;
	left:156px;
}
.code{
	width:159px;
	height:148px;
	background:url(../images/code_bg.png) no-repeat center;
	float:left;
	margin:28px 14px 0 32px;
}
.code img{
	display: block;
	width:131px;
	height:131px;
	margin:8px auto 0;
}
.c_tab{
	width:304px;
	height:128px;
	float:left;
	margin:22px 80px 0 0;
}
.c_tab a{
	display: block;
	width:142px;
	height:56px;
	background:url(../images/tab.png) no-repeat;
	background-position:0 0;
	opacity: .9;
	float:left;
	margin-top:16px;
}
.c_tab a:hover {
	opacity: 1;
}
.c_tab a:nth-child(2){
	background-position:-162px 0;
	margin-left:20px;
}
.c_tab a:nth-child(3){
	background-position:0 -72px;
}
.c_tab a:nth-child(4){
	background-position:-162px -72px;
	margin-left:20px;
}
.c_tz{
	width:278px;
	height:129px;
	float:left;
	margin:42px 0 0 0;
}
.c_tz a{
	float:left;
}
.c_tz a:nth-child(1){
	margin-right:10px;
}
