body,
p,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
input,
select,
textarea,
button,
th,
td,
blockquote,
address,
pre {
	margin: 0;
	padding: 0;
}

body {
	font-family: "微软雅黑";
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
button,
label {
	font-size: 100%;
	vertical-align: middle;
}

ul,
dl,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	outline: 0;
}

img,
fieldset {
	border: none;
}

em,
address {
	font-style: normal;
}

sup,
sub {
	vertical-align: baseline;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

q:before {
	content: "";
}

q:after {
	content: "";
}

button {
	cursor: pointer;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
}

textarea {
	word-wrap: break-word;
	resize: none;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clear {
	clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.show {
	display: block
}

.hide {
	display: none
}

input,
textarea,
select {
	outline: 0;
	-webkit-appearence: none;
	-ms-appearence: none
}

/*公用头部*/
.j_header{
	width:100%;
	height:3.4375rem;
	background-color:#000;
	position:fixed;
	top:0;
	z-index:99;
}
.h_img{
	display: block;
	width:3.4375rem;
	height:3.4375rem;
	padding:0.65625rem 0.5625rem 0 0.625rem;
	float:left;
}
.h_img img{
	display: block;
	width:100%;
	height:100%;
}
.j_txt{
	float:left;
	padding-top:1rem;
	font-size:0;
}
.j_txt p:first-child{
	font-size:0.875rem;
	color:#fff;
	font-weight:bold;
}
.j_txt .j_p{
	font-size:0.5625rem;
	color:#999;
	font-weight: normal;
	padding-top:0.2rem;
}
.h_d{
	display: block;
	width:5.03125rem;
	height:1.875rem;
	font-size:0.9375rem;
	color:#fff;
	line-height:1.875rem;
	text-align: center;
	background:url(../images/d_bg.png) no-repeat center;
	background-size:100% 100%;
	float:left;
	margin-left:0.9rem;
	margin-top:1rem;
}
.h_nav{
    width: 1.8375rem;
    height: 1.775rem;
    background: url(../images/n_bg.png) no-repeat center;
    background-size: 100% 100%;
    float: right;
    margin-right: 0.6875rem;
    margin-top: 0.67rem;
    position: relative;
    border: 1px solid #cecece;
    border-radius: 5px;
}
.h_nav span{
    display: block;
    width: 1rem;
    height: 0.1rem;
    background: #cecece;
    border-radius: 1px;
    position: absolute;
    left: 50%;
    margin-left: -0.5rem;
    transition: 0.5s;
}
.d_t_t {
    top: 0.5rem;
}
.d_t_m {
    top: 0.875rem;
}
.d_t_b {
    top: 1.25rem;
}
.d_t_t_tran {
    top: 0.875rem;
    transform: rotate(-45deg);
}
.d_t_m_tran {
    display: none!important;
}
.d_t_b_tran {
    top: 0.875rem;
    transform: rotate(45deg);
}
header .nav-content1 {
	position: absolute;
	top: 3.4375rem;
	right: 3.8rem;
	background: rgba(0,0,0,.9);
	width: 6.9375rem;
	z-index: 9;
	display: none;
}
header .nav-content1 a{
	display: block;
	width: 5.03125rem;
	height: 1.90625rem;
	margin: .8125rem auto;
}
header .nav-content1 a.down_load{
	background:url(../images/down_load.png) no-repeat center;
	background-size:100% 100%;
}
header .nav-content1 a.tap{
	background:url(../images/tap.png) no-repeat center;
	background-size:100% 100%;
}
.header_nav{
	width:6.25rem;
	height:19.9375rem;
	background:rgba(0,0,0,.8);
	background-size:100% 100%;
	position:absolute;
	right:0;
	top:3.09375rem;
	display: none;
}
.header_nav li{
    font-size: 0.8125rem;
    width: 100%;
    height: 2.8125rem;
    line-height: 2.8125rem;
    text-align: center;
    border-bottom: 1px solid #cecece;
}
.header_nav li a{
	display: block;
	width:100%;
	height:100%;
	color:#ccc;
}
.header_nav li.active a{
	color:#c4291a;
}
.header_nav li:last-child{
	border:0;
}
.li_mask{
	display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: 0.50;
    filter: alpha(opacity=80);
    z-index:10;
}
.wx_code{
	width:15rem;
	height:13.4375rem;
	position:fixed;
	top:50%;
	margin-top:-6.71875rem;
	left:50%;
	margin-left:-7.5rem;
	z-index:99;
	display: none;
}
.li_close{
	display: block;
	width:0.9375rem;
	height:0.9375rem;
	position:absolute;
	right:0;
	top:0;
}
.li_ewm{
	display: block;
	width:13.4375rem;
	height:13.4375rem;
	position:absolute;
	left:0;
	top:0;
}
