<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="{seo name='keywords'}" />
		<meta name="description" content="{seo name='description'}" /> {csrf}
		<title>{seo name='title'}</title>
		<link rel="shortcut icon" href="{$global.icon_img}?{$smarty.const.VERSION}" />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}1.0/common/css/common.min.css?{$smarty.const.VERSION}" />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}1.0/common/css/swiper.3.1.7.min.css?{$smarty.const.VERSION}" />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}1.0/css/style.css?{$smarty.const.VERSION}" />
		{csrf}
		<script data-fixed="true">
			if((/iphone|android|mobile/i.test(navigator.userAgent.toLowerCase()))) {
//				location.href = "/m/";
				location.href = "/m" + window.location.pathname + window.location.search;
			}
		</script>
		<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/common/js/jquery-1.11.2.min.js?{$smarty.const.VERSION}"></script>
		<script>
			// yxhy2017
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?03aeeabf5a6cc2f5c8a969caf18461c6";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>
	</head>

	<body>
		<script type="text/javascript" src="http://cdnstatic.yingxiong.com/head/js/topbar.min.js?{$smarty.const.VERSION}"></script>
		<link rel="stylesheet" href="http://cdnstatic.yingxiong.com/head/css/head.css?{$smarty.const.VERSION}">
		<div class="main_body">
			<!--顶部导航-->
			<div class="nav_top">
				<div class="nav">
					<div class="logo"><img src="{$global.logo_img}" title="一起来冒险" alt="" /></div>
					<div class="title">
						<p>{$global.title}</p>
						<p class="game">{$global.sub_title}</p>
						<p class="game_js">勇者火热招募中</p>
					</div>
					<ul>
						<li>
							<div class="a_bg active">
								<a href="{myurl name="site/index"}">首页
									<p>HOME</p>
								</a>
							</div>
						</li>
						<li>
							<div class="a_bg zhixun">
								<a target="_blank" href="{myurl name="article/list,id=>75"}">资讯
									<p>NEWS</p>
								</a>
							</div>
						</li>
						<li>
							<div class="a_bg gonglue">
								<a target="_blank" href="{myurl name="article/list,id=>79"}">攻略
									<p>STRATEGY</p>
								</a>
							</div>
						</li>
						<li>
							<div class="a_bg">
								<a target="_blank" href="http://bbs.yingxiong.com/t/Pc/20.html">社区
									<p>COMMMUNITY</p>
								</a>
							</div>
						</li>
					</ul>
					<div class="fx_bg">
						<div class="fx_content">
							<a href="javascript:;" class="t_wx"><i>微信</i></a>
							<em></em>
							<a target="_blank" class="qq" href="https://jq.qq.com/?_wv=1027&k=4EJfifG"><i>QQ</i></a>
							<em class="second_em"></em>
							<a target="_blank" class="baidu" href="{$global.tb_url}"><i>百度</i></a>
							<div class="wx_fk">
								<img src="{$global.wx_img}" title="" alt="" />
							</div>
						</div>
					</div>
				</div>
			</div>