.cover {
	overflow: hidden;
	height: 1074px;
	background: url(../images/cover.jpg) no-repeat top center;
}

.art,.cover {
	position: relative;
}

.art {
	margin-top: 37px;
	margin-left: 374px;
	width: 670px;
	height: 55pc;
}

.art>img {
	margin-left: 127px;
}

.art i {
	position: absolute;
	top: 205px;
	right: 18px;
	display: block;
	cursor: pointer;
}

.art i img:nth-of-type(1) {
	-webkit-animation: rotate 2s linear infinite;
	animation: rotate 2s linear infinite;
}

.art i img:nth-of-type(2) {
	position: absolute;
	top: 33px;
	left: 43px;
	-webkit-animation: scales 2s linear infinite;
	animation: scales 2s linear infinite;
}

.art-block {
	position: absolute;
	bottom: 107px;
	left: 74px;
	width: 420px;
	height: 193px;
	background: url(../images/block.png) no-repeat center;
}

.art-block span {
	float: left;
	margin-top: 24px;
}
.art-block span:nth-of-type(2){margin-top:29px;}
.art-block span>img {
	margin-left: 25px;
    width: 147px;
    border-radius: 6px;
}

.art-block span a {
	display: block;
	margin-left: 15px;
}

.art-block span a:nth-of-type(2) {
	margin-top: 6px;
	margin-bottom: 6px;
}

.link-a {
	position: absolute;
	bottom: 9pt;
	left: 74px;
}

.link-a span {
	display: inline-block;
	margin-top: 9pt;
	margin-left: 6px;
}

.link-a span:nth-of-type(1) {
	left: 87px;
}

.link-a .ewm{
	position: absolute;
	top: 68px;
	right: 11px;
	display: none;
    width: 147px;
    height: 10pc;
	background: url(../images/erweima1.png) no-repeat top center;
}
.link-a .ewm .ewm_bg{
	width: 133px;
    height: 8pc;
    background-color: #fff;
    border-radius: 5px;
    margin: 17px 6px 0;
    position: relative;
}
.link-a .ewm .ewm_bg img{
    display: block;
    position: absolute;
    width: 126px;
    height: 126px;
    left: 50%;
    margin-left: -63px;
    top: 3px;
}
.img1,.img2 {
	position: absolute;
	-webkit-animation: jump 2s infinite alternate;
	animation: jump 2s infinite alternate;
}

.img1 {
	top: 8px;
	left: 125px;
}

.img2 {
	top: -20px;
	right: 32pc;
}

.cont {
	margin: auto;
	width: 75pc;
}

.bg,.cont {
	position: relative;
}

.bg {
	min-height: 1640px;
	background: url(../images/bg.jpg) no-repeat top center;
}

.i_top {
	width: 100%;
	height: 99px;
	background: rgba(0,0,0,.8);
}

.i_topcon {
	margin: 0 auto;
	height: 99px;
}

.i_icon {
	float: left;
	margin-top: 9pt;
	width: 130px;
	height: 130px;
}

.i_icon img {
	display: block;
	width: 100%;
	height: 100%;
}

.i_top_title {
	float: left;
	margin-left: 10px;
	height: 99px;
}

.i_top_title h3 {
	margin-top: 35px;
	color: #fff;
	font-weight: 400;
	font-size: 20px;
}

.i_top_title p {
	margin-top: 5px;
	color: #eb8b29;
	font-size: 1pc;
}

.i_nav {
	float: left;
	margin-left: 20px;
	height: 99px;
}

.i_nav ul {
	overflow: hidden;
	height: 99px;
}

.i_nav ul li {
	float: left;
	margin: 0 29px;
	height: 6pc;
}

.i_nav ul li a {
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
	text-align: center;
	font-weight: 400;
	font-size: 18px;
	line-height: 6pc;
}

.i_nav ul li a.on,.i_nav ul li a:hover {
	border-bottom: 3px solid #ffe900;
	color: #ffe900;
}

.i_share {
	position: relative;
	float: right;
	height: 99px;
}

.i_share .i_share_weixin {
	position: absolute;
	bottom: -138px;
	left: 6px;
	display: none;
	width: 147px;
	height: 10pc;
	background:url(../images/c_ewm.png) no-repeat;
	background-size: 100% 100%;
}
.i_share .i_share_weixin .ewm{
    width: 133px;
    height: 8pc;
    background-color: #fff;
    border-radius: 5px;
    margin: 17px 6px 0;
    position: relative;
}
.i_share .i_share_weixin .ewm img {
    display: block;
    position: absolute;
    width: 126px;
    height: 126px;
    left: 50%;
    margin-left: -63px;
    top: 3px;
}

.i_share a {
	float: left;
	display: block;
	margin: 31px 7px;
	width: 37px;
	height: 37px;
	vertical-align: middle;
	transition: all .2s ease-out;
}

.i_share a.i_share_wx {
	background-image: url(../images/i_ico_wx.png);
}

.i_share a.i_share_wb,.i_share a.i_share_wx {
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.i_share a.i_share_wb {
	background-image: url(../images/i_ico_wb.png);
}

.i_share a.i_share_bd {
	background-image: url(../images/i_ico_bd.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.i_share a:nth-of-type(1):hover {
	background: url(../images/i_ico_wb_1.png) no-repeat;
}

.i_share a:nth-of-type(2):hover {
	background: url(../images/i_ico_wx_1.png) no-repeat;
}

.i_share a:nth-of-type(3):hover {
	background: url(../images/i_ico_bd_1.png) no-repeat;
}

.art-1 {
	height: auto;
}

.art-1>img {
	margin-top: 81px;
	margin-left: -8pc;
	width: 191px;
}

.art-1 i {
	top: 72px;
	right: 373px;
}

.sec {
	margin: auto;
	margin-top: 312px;
	width: 75pc;
	min-height: 500px;
	border-top: 1px solid #f0f0f0;
	background: #fff;
}

.art-banner {
	float: left;
	width: 600px;
	height: 370px;
}

.art-news {
	float: right;
	overflow: hidden;
	margin-right: 30px;
	width: 542px;
	height: 350px;
}

.art-banner img {
	width: 100%;
}

.swiper-pagination-bullet {
	width: .6rem!important;
	height: .6rem!important;
	background: #fff!important;
	opacity: .4;
}

.news-nav {
	position: relative;
	height: 66px;
	border-bottom: 1px solid #e8e8e8;
}

.news-nav li {
	float: left;
	margin-top: 20px;
	width: 65px;
	height: 30px;
	border-radius: 20px;
	background: #fff;
	color: #666;
	text-align: center;
	font-size: 1pc;
	line-height: 30px;
	cursor: pointer;
}

.news-nav li+li {
	margin-left: 10px;
}

.news-nav li.curr,.news-nav li:hover {
	background: #ff9000;
	color: #fff;
}

.text_tab_more {
	position: absolute;
	top: 27px;
	right: 0;
	overflow: hidden;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.text_tab_more a {
	display: block;
	width: 20px;
	height: 20px;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
	-ms-transition: all ease .3s;
}

.text_tab_more:hover a {
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
	-ms-transform: translate3d(0,-20px,0);
}

.text_tab_more a.more {
	background: url(../images/rig.png) no-repeat center;
}

.text_tab_more a.more-h {
	background: url(../images/rig_1.png) no-repeat;
}

.news-cont .title {
	margin-top: 20px;
	color: #333;
	font-size: 18px;
}

.brief {
	overflow: hidden;
	margin-top: 10px;
	height: 65px;
	border-bottom: 1px solid #e8e8e8;
	color: #ccc;
	font-size: 14px;
	line-height: 29px;
}

.news-list {
	margin-top: -3px;
}

.news-list li {
	margin-top: 14px;
}

.news-list a {
	display: inline-block;
	overflow: hidden;
	width: 450px;
	color: #666;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 1pc;
}

.content-list li:hover a,.news-list li:hover a {
	color: #ff9000;
}

.content-list li:hover span,.news-list li:hover span {
	color: #333;
}

.news-list span {
	display: inline-block;
	width: 50px;
	color: #ccc;
	vertical-align: top;
	text-align: right;
	font-size: 1pc;
}

.activity .text_tab_more {
	top: 3px;
}

.activity {
	margin-top: 55px;
}

.tit {
	margin-left: 50px;
}

.tit span:nth-of-type(1):before {
	position: absolute;
	top: -7px;
	left: 0;
	content: url(../images/icon1.png);
}

.tit span:nth-of-type(1) {
	color: #666;
	font-size: 20px;
}

.tit span:nth-of-type(2) {
	margin-left: 8px;
	color: #ccc;
	text-transform: uppercase;
	font-size: 14px;
}

.activity-li {
	margin-top: -11px;
}

.activity-li li {
	position: relative;
	float: left;
	overflow: hidden;
	width: 380px;
	height: 180px;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}

.activity-li li:hover,.pl-img img:hover {
	margin-top: -5px;
}

.activity-li li+li {
	margin-left: 30px;
}

.game span:nth-of-type(1):before {
	content: url(../images/icon2.png);
}

.sec1 {
	margin-top: 4pc;
}

.game {
	margin-left: 65px;
}

.video span:nth-of-type(1):before {
	content: url(../images/icon3.png);
}

.video-list {
	margin-top: 28px;
	width: 75pc;
}

.video-list,.video-list li {
	overflow: hidden;
	height: 200px;
}

.video-list li {
	position: relative;
	float: left;
	width: 220px;
	-webkit-transition: all .1s ease;
	transition: all .1s ease;
}

.video-list li p {
	overflow: hidden;
	margin: 7px auto!important;
	width: 210px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.video-list li+li {
	margin-left: 25px;
}

.video-list li img {
	overflow: hidden;
	width: 220px;
	height: 166px;
}

.vi-list li i,.video-details i,.video-list li i {
	-webkit-transition: all 2s ease;
	transition: all 2s ease;
	-webkit-transform: scale(1);
	transform: scale(1);
	-ms-transition: all 2s ease;
	-ms-transform: scale(1);
}

.vi-list li i,.video-list li i {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	margin: -33px 0 0 -33px;
	width: 66px;
	height: 66px;
	background: url(../images/i_play.png) no-repeat center;
	background-size: 100% 100%;
	cursor: pointer;
}

.vi-list li:hover i,.video-details:hover i,.video-list li:hover i {
	transform: scale(1.1);
}

.i-main5 {
	margin-top: 68px;
	padding: 25px 0 20px;
	width: 100%;
	height: 118px;
	background: #2b2b2b;
}

.i-main5 .i-m5 {
	overflow: hidden;
	margin: 0 auto;
	width: 75pc;
}

.i-main5 .i-m5 ul {
	width: 120%;
}

.i-main5 .i-m5 ul li {
	float: left;
	overflow: hidden;
	width: 403px;
}

.i-main5 .i-m5 ul li .i-m5-ico {
	float: left;
	overflow: hidden;
	width: 113px;
	height: 113px;
}

.i-main5 .i-m5 ul li .i-m5-ico img {
	display: block;
	width: 113px;
	height: 113px;
}

.i-main5 .i-m5 ul li .i-m5-txt {
	float: left;
	margin-left: 20px;
	width: 220px;
	color: #ccc;
	font-size: 14px;
}

.i-main5 .i-m5 ul li .i-m5-txt h3 {
	color: #ccc;
	font-size: 22px;
	line-height: 2.2;
}

.i-main5 .i-m5 ul li .i-m5-txt p {
	color: #999;
	font-size: 14px;
	line-height: .7;
}

.i-main5 .i-m5 ul li .i-m5-txt span {
	display: inline-block;
	padding-top: 27px;
	color: #f8e111;
}

.video .text_tab_more {
	top: 7px;
}

#video_mask {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	display: none;
	width: 100%;
	height: 100%;
	background: url(../images/d.png);
}

#close {
	position: absolute;
	top: -30px;
	right: -30px;
	z-index: 999999;
	width: 30px;
	height: 30px;
	background: url(../images/c.png) no-repeat;
	cursor: pointer;
}

#player5 {
	position: relative;
	top: 50%;
	left: 50%;
	margin: -189px 0 0 -357px;
}

#player5,.videos {
	width: 714px;
	height: 378px;
}

.videos {
	clear: both;
	overflow: hidden;
	background: #fff;
}

.videos embed {
	display: block;
	margin: 9px;
	width: 696px;
	height: 358px;
}

.news-list-lef {
	float: left;
	width: 860px;
	min-height: 500px;
}

.news-list-rig {
	float: right;
	width: 340px;
	height: 920px;
}

.titles {
	margin: auto;
	width: 770px;
	height: 81pt;
	border-bottom: 3px solid #f2f2f2;
}

.titles h3 {
	padding: 20px 0;
	font-weight: 700;
	font-size: 22px;
}

.titles h3 span {
	float: right;
	color: #bbb;
	font-weight: 400;
	font-size: 14px;
}

.titles h3 span a {
	color: #bbb;
}

.titles h3 span a:hover {
	color: #ff9000;
}

.menu li {
	float: left;
	width: 5pc;
	height: 39px;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
	-webkit-transition: all .1s ease-out;
	transition: all .1s ease-out;
}

.menu li,.menu li a {
	color: #666;
}

.menu li+li {
	margin-left: 50px;
}

.menu li.active,.menu li:hover {
	border-bottom: 3px solid #ff9000;
}

.menu li.active a,.menu li:hover a {
	color: #ff9000;
}

.content {
	margin-top: 40px;
}

.content-list li {
	height: 70px;
	border-bottom: 1px dashed #eee;
	line-height: 70px;
}

.content-list li a {
	display: inline-block;
	overflow: hidden;
	width: 40pc;
	color: #333;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 1pc;
}

.content-list li span {
	display: inline-block;
	width: 8pc;
	color: #bbb;
	vertical-align: top;
	text-align: right;
	font-size: 1pc;
}

.erweima {
	position: relative;
	overflow: hidden;
	width: 340px;
	height: 465px;
	background: #fef2dc;
}

.erweima>img {
    display: block;
    margin: 20px auto 15px;
    width: 302px;
}

.erweima i {
	position: absolute;
    top: 19;
    left: 19px;
    z-index: 99;
    display: block;
    width: 302px;
    height: 101px;
	background: url(../images/light.png) repeat;
	-webkit-animation: code 3s linear infinite;
	animation: code 3s linear infinite;
}
.erweima a{
	display: inline-block;
	margin-bottom: 14px;
}
.erweima a:nth-of-type(1), .erweima a:nth-of-type(3) {
	margin-left: 20px;
}


.pl-img {
	position: relative;
}

.pl-img img {
	position: absolute;
	display: block;
	width: 340px;
	transition: all .3s ease-out;
}

.pl-img a:nth-of-type(1) img {
	top: 10px;
}

.pl-img a:nth-of-type(2) img {
	top: 185px;
}

.pl-img a:nth-of-type(3) img {
	top: 360px;
}

.title-details {
	height: 85px;
	border-bottom: none;
}

.details-cont,.details-tit {
	border-bottom: 1px solid #f2f2f2;
}

.title-details h3>a {
	display: inline-block;
	margin-right: 15px;
	vertical-align: middle;
}

.details-cont {
	margin: auto;
	width: 770px;
}

.details-cont>p {
	color: #333;
	font-size: 1pc;
	line-height: 35px;
}

.details-cont p:nth-of-type(1) {
	margin: 25px 0;
}

.details-cont>p img {
	width: 755px;
}

.details-tit p {
	color: #333;
	font-weight: 400;
	font-size: 22px;
}

.details-tit span {
	display: block;
	margin: 15px 0;
	color: #ccc;
	font-weight: 400;
	font-size: 14px;
}

.jiathis_style {
	float: right;
	margin-top: 45px;
	margin-right: 43px;
}

.video-details {
	position: relative;
	overflow: hidden;
	margin-top: 50px;
	width: 771px;
	height: 382px;
}

.video-details img {
	width: 100%;
}

.video-details i {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	margin: -76.5px;
	width: 153px;
	height: 153px;
	background: url(../images/i_play1.png) no-repeat center;
	cursor: pointer;
}

.video-cont {
	margin-top: 0;
}

.vi-list {
	margin-left: -18px;
}

.vi-list li {
	position: relative;
	float: left;
	overflow: hidden;
	margin-top: 35px;
	margin-left: 15px;
	width: 247px;
	height: 245px;
	border-bottom: none;
	line-height: normal;
}

.vi-list li img {
	display: block;
	overflow: hidden;
	width: 247px;
	height: 187px;
}

.vi-list li p,.video-list li p {
	margin: 7px 0;
	color: #999;
	font-size: 14px;
	line-height: 23px;
}

.vi-list li i {
	margin-top: -63px;
}

.vi-list li:hover i,.video-list li:hover i {
	background: url(../images/play_active.png) no-repeat;
}

.video-details:hover i {
	width: 153px;
	height: 153px;
	background: url(../images/i_play1_active.png) no-repeat;
}

.vi-list li:hover p,.video-list li:hover p {
	color: #ff9000;
}

.imgs {
	position: absolute;
	top: 271px;
	left: -22px;
	-webkit-animation: jump 2s infinite alternate;
	animation: jump 2s infinite alternate;
}

.float {
	position: fixed;
	top: 50%;
	right: 20px;
	z-index: 99;
	margin-top: -120px;
	width: 195px;
	height: 421px;
	background: url(../images/float.png) no-repeat center;
	background-size: 175px 100%;
	transition: all linear .2s;
	transform: translate3d(5px,0,0);
}

.float > img.f_mark{
    display: block;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 14px;
    width: 156px;
}

.float > a {
	display: block;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 10px;
}


.cov {
	position: absolute;
	top: 0;
	left: 50%;
	overflow: hidden;
	margin-left: -750pt;
}

.cov-1 {
	position: relative;
	margin: auto;
	width: 125pc;
	height: 900px;
}

.ufo {
	position: absolute;
	margin-top: -50px;
	margin-left: 1px;
	width: 196px;
	height: 297px;
	background: url(../images/ufo.png) no-repeat top center;
	-webkit-animation: jumpp 1s infinite alternate;
	animation: jumpp 1s infinite alternate;
}

@keyframes jumpp {
	0% {
		transform: translateY(10px);
	}

	to {
		transform: translateY(0);
	}
}

-webkit-@keyframes jumpp {
	0%{transform: translateY(10px);
}

to {
	transform: translateY(0);
}}

-moz-@keyframes jumpp {
	0%{transform: translateY(10px);
}

to {
	transform: translateY(0);
}}

.cove {
	position: relative;
	margin: auto;
	width: 1900px;
	height: 1074px;
}

.swiper-button-next,.swiper-button-prev {
	margin-top: -15px!important;
	opacity: .7!important;
}

.swiper-button-next:hover,.swiper-button-prev:hover {
	opacity: 1!important;
}

.swiper-button-prev {
	left: 9pt!important;
}

.swiper-button-next {
	right: 9pt!important;
}

.close {
	position: absolute;
	top: -55px;
	right: -2px;
	z-index: 99;
}

.close,.open {
	cursor: pointer;
}

.open {
	position: fixed;
	top: 50%;
	right: 0;
	z-index: 9;
	display: none;
	margin-top: -54.5px;
	-webkit-animation: jumpp 1s infinite alternate;
	animation: jumpp 1s infinite alternate;
}

.op .float {
	transform: translate3d(220px,0,0);
}

.op .open {
	transform: translate3d(0,0,0);
}