.n_kv{
	width:100%;
	height:752px;
	background:url(../images/news.jpg) no-repeat center;
	overflow: hidden;
	position:relative;
}
.n_kv .logo{
	position:absolute;
	top:137px;
	left:106px;
}
.n_body{
	position:relative;
	z-index:2;
}
.n_body .top_ul{
	width:100%;
	height:90px;
	border-bottom:1px solid #eeeeee;
}
.n_body .top_ul .tab_ul{
	width:1200px;
	height:100%;
	position:relative;
	overflow: hidden;
	margin:0 auto;
}
.n_body .top_ul .tab_ul li{
	width:130px;
	height:50px;
	line-height:50px;
	text-align: center;
	float:left;
	font-size:24px;
	border-radius: 25px;
	margin-right:55px;
}
.n_body .top_ul .tab_ul li a{
	display: block;
	color:#333;
}
.n_body .top_ul .tab_ul li:hover{
	background-color:#f94f00;
}
.n_body .top_ul .tab_ul li:hover a{
	color:#fff;
}
.n_body .top_ul .tab_ul li.active{
	background-color:#f94f00;
}
.n_body .top_ul .tab_ul li.active a{
	color:#fff;
}
.n_body .top_ul .tab_ul li:nth-child(1){
	margin-left:242px;
}
.n_body .top_ul .tab_ul .back{
	font-size:18px;
	line-height:58px;
	color:#666;
	float:left;
	position:absolute;
	left:0;
	top:0;
}
.n_body .top_ul .tab_ul .back a{
	color:#666;
}
.n_body .top_ul .tab_ul .back a:hover{
	text-decoration: underline;
}
.n_body .newslist{
	margin:0 auto;
}
.n_body .newslist li{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 108px;
    padding:46px 0;
    border-bottom:1px solid #eeeeee;
}
.n_body .newslist li .newlist_left{
	float:left;
	width:55px;
}
.n_body .newslist li .newlist_left .newlist_title{
	font-size:36px;
	display: block;
	padding:20px 0 14px 0;
	border-bottom:1px solid #ddd;
	font-weight:bold;
	color:#999;
	text-align: center;
}
.n_body .newslist li .newlist_left .newlist_time{
	display: block;
	font-size:12px;
	color: rgb(153, 153, 153);
	text-align: center;
	padding-top:8px;
}
.n_body .newslist li .newlist_img{
	width:211px;
	height:122px;
	background-color:#f7f7f7;
	float:left;
	margin:0 30px 0 48px;
}
.n_body .newslist li .newlist_img img{
	display: block;
	width:100%;
	height:100%;
}
.n_body .newslist li .newlist_right{
	width:796px;
	float: left;
}
.n_body .newslist li .newlist_right h3{
	font-size: 24px;
	color: rgb(51, 51, 51);
	font-weight:normal;
	margin-top:5px;
}
.n_body .newslist li .newlist_right p{
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #aaa;
    line-height:30px;
    margin-top:20px;
}
.n_body .newslist li .l_hover{
	display: block;
	width:35px;
	height:68px;
	float:left;
	margin:30px 0 0 30px;
	visibility: hidden;
}
.n_body .newslist li:hover .l_hover{
	visibility: visible;
}
.n_body .newslist li:hover{
	background-color:#fffff1;
}
.n_body .newslist li:hover .newlist_left span{
	color:#f33a48;
}
.n_body .newslist li:hover .newlist_right h3{
	color:#000;
}
.n_body .newslist li:hover .newlist_right p{
	color:#333;
}
/*详情页样式*/
.d_body .top_ul{
	height:auto;
	margin-top:-15px;
	padding-bottom:18px;
}
.d_back{
	width:198px;
	height:85px;
	border:1px solid #ddd;
	text-align: center;
	line-height:85px;
	color: rgb(102, 102, 102);
	float:left;
	font-size:24px;
}
.d_back:hover{
	color:#f33a48;
}
.d_body .top_ul .d_title{
	float:left;
	margin-top:5px;
	margin-left:100px;
}
.d_body .top_ul h3{
	font-size:28px;
	color:#333;
	font-weight:normal;
}
.d_body .top_ul .d_date{
	font-size:14px;
	color:#999;
	margin-top:10px;
}
.detail_body{
	width:100%;
	overflow: hidden;
	margin-top:39px;
}
.float{
	width:193px;
	height:647px;
	background:url(../images/float.png) no-repeat center;
	overflow: hidden;
	float:left;
	margin-left:10px;
	position:relative;
}
.float .d_float{
	width:144px;
	height:414px;
	position:absolute;
	left:20px;
	top:195px;
}
.float .d_float .c_code{
	width:142px;
	height:142px;
	margin:0 auto;
	background-color:#fff;
	border-radius: 10px;
	box-shadow: 0 7px 15px rgba(11,2,0,.1);
}
.float .d_float .c_code img{
	display: block;
	width:124px;
	height:124px;
	margin:8px auto 0;
}
.float .d_float .wx{
	width:100%;
	height:21px;
	font-size:18px;
    text-align: center;
    margin-top:22px;
}
.float .d_float .wx img{
	display: block;
	float:left;
	margin:0 10px 0 7px;
}
.float .d_float .wx p{
	float:left;
	color:#666;
}
.float .d_float .left_ul{
	width: 144px;
	margin:0 auto;
}
.float .d_float .left_ul li{
	width:100%;
	height:60px;
	line-height:60px;
	position:relative;
	overflow: hidden;
	border-radius: 10px;
}
.float .d_float .left_ul li a{
	display: block;
}
.float .d_float .left_ul li a i{
	display: block;
    width: 26px;
    height: 26px;
    overflow: hidden;
    background: url(../images/xb.png) no-repeat center;
    background-position: 0 0;
    float: left;
    margin: 18px 10px 0 20px;
}
.float .d_float .left_ul li a p{
	font-size:16px;
	color:#fff;
}
.float .d_float .left_ul li:nth-child(1){
	background-color: #f84646;
    box-shadow: 0 5px 10px rgba(248,70,70,.2);
    margin-top:28px;
}
.float .d_float .left_ul li:nth-child(1):hover{
	background-color:#f73131;
}
.float .d_float .left_ul li:nth-child(2){
	background-color: #626cef;
    box-shadow: 0 5px 10px rgba(54,68,251,.2);
    margin-top: 10px;
}
.float .d_float .left_ul li:nth-child(2) a i{
	background-position:0 -79px;
}
.float .d_float .left_ul li:nth-child(2):hover{
	background-color:#535eee;
}
.float .d_float .left_ul li:nth-child(3){
	background-color: #1579e9;
    box-shadow: 0 5px 10px rgba(54,161,251,.2);
    margin-top: 10px;
}
.float .d_float .left_ul li:nth-child(3) a i{
	background-position:0 -158px;
}
.float .d_float .left_ul li:nth-child(3):hover{
	background-color:#0570e8;
}
.detail_body{
	position:relative;
	z-index:2;
}
.detail_body .d_content{
	width:900px;
	overflow: hidden;
	float:left;
	font-size:18px;
	line-height:48px;
	margin-left:95px;
}
.detail_body .d_content img{
	display: block;
	max-width:100%;
}
