.container{
	width: 100%;
    min-height: 1000px;
    min-width: 1280px;
    position: relative;
    overflow: hidden;
    padding-top: 905px;
}
.kv{
	width:100%;
	height:905px;
	min-width:1200px;
	position:fixed;
	overflow: hidden;
    left: 0;
    top: 0;
    z-index: 10;
}
.kv .n_zhezhao{
	display: block;
	width:100%;
	height:300px;
	position:absolute;
	left:0;
	top:0;
	z-index:5;
}
.white {
    width: 100%;
    height: 905px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
}
.kv .video {
    width: 1920px;
    height: 905px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -960px;
    object-fit: cover;
    z-index:1;
}
.kv .s {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.kv .bg_top {
    width: 100%;
    min-width: 1200px;
    min-height: 905px;
    position: absolute;
    left: 0;
    top: 0;
}
.kv .n_wrap{
	z-index:10;
}
.logo{
	display: block;
	width:251px;
	height:106px;
	position:absolute;
	left:58px;
	top:24px;
	z-index:10;
}
.kv .nav_list{
	width:520px;
	overflow: hidden;
	position:absolute;
	left:482px;
	top:26px;
}
.kv .nav_list li{
	width:98px;
	font-size:20px;
	color: rgba(255, 255, 255, 0.502);
	text-align: center;
	float:left;
	cursor:pointer;
	line-height:20px;
	position:relative;
	font-family: "微软雅黑";
}
.kv .nav_list li em{
	font-size:9px;
}
.kv .nav_list li span{
	position:relative;
	z-index:1;
}
.kv .nav_list li b{
	display: none;
	width:100%;
	height:7px;
	position:absolute;
	left:0;
	top:8px;
	background-color:#0099e8;
}
.kv .nav_list li.active{
	color: rgba(255, 255, 255);
}
.kv .nav_list li.active b{
	display: block;
}
.kv .nav_list i{
	display: block;
	float:left;
	border-radius: 50%;
  	background-color: rgb(255, 255, 255 , 0.502);
  	width: 5px;
  	height: 5px;
  	margin:10px 20px 0px 15px;
}
.kv .nav_ul {
	width:148px;
	height: 57px;
	background:url(../images/nav.png) no-repeat center;
	position: absolute;
	right:-16px;
	top:14px;
}

.kv .nav_ul li {
	width: 51px;
	height: 57px;
	float: left;
}
.kv .nav_ul li:nth-child(2){
	width:46px;
}
.kv .nav_ul li:nth-child(3){
	width:44px;
}
.kv .nav_ul li a {
	display: block;
	width: 100%;
	height: 100%;
}

.kv .nav_ul .wx_ewm {
	width:376px;
	height: 162px;
	background: url(../images/nav_bg.png) no-repeat center;
	position: absolute;
	left: -158px;
    top: 48px;
	display: none;
}

.kv .nav_ul .wx_ewm img {
	display: block;
	width: 110px;
	height: 110px;
	margin: 31px 15px 0 20px;
	float:left;
}
.kv .nav_ul .wx_ewm .ewm_txt{
	font-size:12px;
	color:#0e9bfd;
	line-height:24px;
	float:left;
}
.kv .nav_ul .wx_ewm .ewm_txt p:nth-child(1){
	margin-top:65px;
}
.kv .slogan{
	width:538px;
	height:225px;
	position:absolute;
	top:216px;
	right:40px;
}
.kv .slogan .s_slogan{
	display: block;
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}
.kv .slogan .play{
	display: block;
	position:absolute;
	right:0;
	top:25px;
	z-index:1;
	cursor: pointer;
	animation: vGo 2s linear infinite;
	-webkit-animation: vGo 2s linear infinite;
}
@keyframes vGo {
	0% {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
		opacity: .7;
	}
	50% {
		transform: scale(1);
		-webkit-transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
		opacity: .7;
	}
}

@-webkit-keyframes vGo {
	0% {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
		opacity: .7;
	}
	50% {
		transform: scale(1);
		-webkit-transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
		opacity: .7;
	}
}
.kv .download{
	width:289px;
	height:142px;
	position:absolute;
	right:184px;
	bottom:250px;
}
.kv .download .d_bg{
	width:125px;
	height:141px;
	background-color:#1a4873;
	float:left;
	margin-bottom: 10px;
}
.kv .download .d_bg img{
	display: block;
	width:106px;
	height:106px;
	margin:9px auto 0;
}
.kv .download .d_bg p{
	font-size:12px;
	text-align: center;
	color:#fff;
	margin-top:3px;
}
.kv .download .d_ul{
	width:152px;
	height:100%;
	float:left;
	margin-left:10px;
	margin-bottom: 10px;
}
.kv .download .d_ul li{
	opacity: .9;
}
.kv .download .d_ul li:hover {
	opacity: 1;
}
.second{
	width:100%;
	height:911px;
	min-width:1200px;
	background:url(../images/second.png) no-repeat center;
	position:relative;
	overflow: hidden;
    z-index: 20;
    margin-top:-117px;
}
.second .sanjiao{
	display: block;
	position:absolute;
	left:50%;
	margin-left:-38px;
	top:65px;
	animation: imgDown 2s linear infinite;
	-webkit-animation: imgDown 2s linear infinite;
}
@keyframes imgDown {
	0% {
		transform: translate(0, 10px);
		-webkit-transform: translate(0, 10px);
	}
	50% {
		transform: translate(0, 0px);
		-webkit-transform: translate(0, 0px);
	}
	100% {
		transform: translate(0, 10px);
		-webkit-transform: translate(0, 10px);
	}
}

@-webkit-keyframes imgDown {
	0% {
		transform: translate(0, 10px);
		-webkit-transform: translate(0, 10px);
	}
	50% {
		transform: translate(0, 0px);
		-webkit-transform: translate(0, 0px);
	}
	100% {
		transform: translate(0, 10px);
		-webkit-transform: translate(0, 10px);
	}
}
.second .news_title{
	display: block;
	margin:179px auto 0;
	opacity: 0;
}
.second .f_content{
	width:100%;
	margin-top:49px;
	opacity: 0;
}
.second .f_content .left_banner{
	width: 680px;
    height: 460px;
	float:left;
	overflow: hidden;
	position:relative;
}
.second .f_content .left_banner li a{
	display: block;
	width:680px;
	height:100%;
}
.second .f_content .left_banner li a img{
	display: block;
	max-width:680px;
	max-height:423px;
	border-radius: 50px;	
	position:absolute;
	bottom:36px;
	left:0;
}
.second .f_content .left_banner .swiper-pagination{
	text-align: left;
	bottom:0;
}
.second .f_content .left_banner .swiper-pagination .swiper-pagination-bullet{
	width:59px;
	height:4px;
	background-color:#fff;
	border-radius: 0;
	opacity: 1;
}
.second .f_content .left_banner .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
	background-color:#34baff;
}
.second .f_content .right_news{
	width:490px;
	overflow: hidden;
	float:right;
	margin-top:30px;
}
.second .f_content .right_news .title_ul{
	width:100%;
	height:50px;
	border-bottom:1px solid #e5e5e5;
}
.second .f_content .right_news .title_ul li{
	font-size:14px;
	color:#979797;
	line-height:48px;
	float:left;
	cursor: pointer;
}
.second .f_content .right_news .title_ul li span{
	display: block;
	width:60px;
	text-align: center;
	float:left;
}
.second .f_content .right_news .title_ul li.active span{
	border-bottom:2px solid #34baff;
	color:#34baff;
}
.second .f_content .right_news .title_ul li:hover span{
	border-bottom:2px solid #34baff;
	color:#34baff;
}
.second .f_content .right_news .title_ul li:nth-child(1){
	margin-left:15px;
}
.second .f_content .right_news .title_ul li img{
	display: block;
	float:left;
	margin:10px 10px 0 10px;
}
.second .f_content .right_news .title_ul .more{
	display: block;
	width:20px;
	height:20px;
	float:right;
	margin:14px 20px 0 0;
	transition:all .5s;
	-webkit-transition:all .5s;
}
.second .f_content .right_news .title_ul .more:hover{
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}
.second .f_content .right_news .news_div{
	width:100%;
	overflow: hidden;
	position:relative;
}
.second .f_content .right_news .news_div ul{
	display: none;
	width:100%;
	overflow: hidden;
	position:relative;
}
.second .f_content .right_news .news_div ul.active{
	display: block;
}
.second .f_content .right_news .news_div ul li{
	width:100%;
	height:70px;
	line-height:70px;
	border-bottom:1px dashed #cad4d8;
}
.second .f_content .right_news .news_div ul li em{
	display: block;
	width:50px;
	height:20px;
	background-color:#34baff;
	border-radius: 20px;
	line-height:20px;
	font-size:12px;
	color:#fff;
	text-align: center;
	float:left;
	margin:25px 10px 0 4px;
}
.second .f_content .right_news .news_div ul li:hover span{
	color:#34baff;
}
.second .f_content .right_news .news_div ul li span{
	display: block;
	font-size:18px;
	color:#767676;
	float:left;
	width:330px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.second .f_content .right_news .news_div ul li:hover i{
	color:#34baff;
}
.second .f_content .right_news .news_div ul li i{
	display: block;
	font-size:15px;
	color:#b9b9b9;
	float:right;
	font-style: normal;
	margin-right:8px;
}
.second .f_content .right_news .news_div ul li:nth-child(5){
	border-bottom:none;
}
.second .s_sanjiao{
	display: block;
	position:absolute;
	left:50%;
	margin-left:-30px;
	bottom:24px;
	animation: imgDown 2s linear infinite;
	-webkit-animation: imgDown 2s linear infinite;
}
.third{
	width:100%;
	height:786px;
	background:url(../images/third.jpg) no-repeat center;
	position:relative;
	z-index: 21;
}
.third .label{
	display: block;
	margin:61px auto 0;
	opacity: 0;
}
.third .yuan{
	display: block;
	position:absolute;
	right:44px;
	top:0;
}
.third .int_ul{
	position:absolute;
	top:140px;
	right:-5px;
	opacity: 0;
}
.third .int_ul li{
	width:180px;
	height:120px;
	position:absolute;
}
.third .int_ul li p{
	font-size:18px;
	color:#fff;
	line-height:120px;
	float:left;
	transition:all .5s;
	-webkit-transition:all .5s;
}
.third .int_ul li .li_img{
	display: block;
	width:119px;
	height:120px;
	float:right;
	position:relative;
}
.third .int_ul li.active .li_img .xuanzhuan{
	display: block;
	animation: xuanzhuan .5s linear;
	-webkit-animation: xuanzhuan .5s linear;
}
@keyframes xuanzhuan{
	0%{transform: rotate(0);}
	100%{transform: rotate(90deg);}
}
.third .int_ul li .li_img .xuanzhuan{
	display: none;
	width:119px;
	height:120px;
	position:absolute;
	left:0;
	top:0;
	transition:all .5s;
	-webkit-transition:all .5s;
}
.third .int_ul li .li_hover{
	width:90px;
	height:91px;
	overflow: hidden;
	position:absolute;
	left:14px;
	top:15px;
	cursor: pointer;
}
.third .int_ul li .li_hover img{
	display: block;
	width:100%;
	height:100%;
}
.third .int_ul li.active .li_hover img:nth-child(1){
	display: none;
}
.third .int_ul li:nth-child(1){
	top:0;
	right:49px;
}
.third .int_ul li:nth-child(2){
	top:150px;
	right:0px;
}
.third .int_ul li:nth-child(3){
	top:305px;
	right:0px;
}
.third .int_ul li:nth-child(4){
	top:455px;
	right:49px;
}
.third .m_tab{
	width:908px;
	position:relative;
	opacity: 0;
}
.third .m_tab>div{
	display: none;
	width:100%;
	position:relative;
}
.third .m_tab>div.active{
	display: block;
}
.third .m_tab>div .left_div{
	width:345px;
	float:left;
}
.third .m_tab>div .left_div .m_name{
	display: block;
	border-bottom:1px dashed #0d88dd;
	margin:34px 0 0 7px;
	padding-bottom:20px;
}
.third .m_tab>div .left_div .role_txt{
	width:100%;
	overflow: hidden;
	position:relative;
	margin-top:10px;
}
.third .m_tab>div .left_div .role_txt .role_title{
	font-size:16px;
	color:#fff;
	text-shadow: 0 0 20px #00b4ff, 0 0 20px #00b4ff;
}
.third .m_tab>div .left_div .role_txt .role_title span{
	font-size:48px;
	margin-right:5px;
}
.third .m_tab>div .left_div .role_txt p{
	font-size:18px;
	color:#fff;
	line-height:22px;
	text-shadow: 0 0 20px #00b4ff, 0 0 20px #00b4ff;
	margin-left:18px;
}
.third .m_tab>div .left_div .s_play{
	width:287px;
	height:143px;
	cursor: pointer;
	position:absolute;
	left:16px;
	top:345px;
}
.third .m_tab>div .left_div .s_play:hover .z_play{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
.third .m_tab>div .left_div .s_play img{
	display: block;
	width:100%;
	height:100%;
}
.third .m_tab>div .left_div .s_play i{
	display: block;
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	background-color:rgba(0,0,0,.5);
	z-index:2;
}
.third .m_tab>div .left_div .s_play img{
	transition:all .5s;
	-webkit-transition:all .5s;
}
.third .m_tab>div .left_div .s_play .z_play{
	display: block;
	width:70px;
	height:87px;
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-43.5px;
	margin-left:-35px;
	z-index:3;
}
.third .m_tab>div .left_div .tab_person{
	width:204px;
	height:97px;
	position:absolute;
	left:52px;
	top:520px;
}
.third .m_tab>div .left_div .tab_person li{
	width:97px;
	height:97px;
	float:left;
	position:relative;
	cursor: pointer;
}
.third .m_tab>div .left_div .tab_person li:nth-child(1){
	margin-right:10px;
}
.third .m_tab>div .left_div .tab_person li .kuang{
	display: none;
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}
.third .m_tab>div .left_div .tab_person li.active .kuang{
	display: block;
	animation: xuanzhuan 2s linear;
	-webkit-animation: xuanzhuan 2s linear;
}
.third .m_tab>div .left_div .tab_person li .man{
	display: block;
	width:78px;
	height:78px;
	background:url(../images/tyuan.png) no-repeat center;
	background-size:100% 100%;
	position:absolute;
	left:10px;
	top:10px;
}
.third .m_tab>div .left_div .tab_person li .man img{
	display: block;
	width:100%;
	height:100%;
}
.third .m_tab>div .left_div .tab_person li .man .s_nan{
	display: block;
	width:17px;
	height:17px;
	position:absolute;
	left:0;
	bottom:0;
}
.third .m_tab>div .left_div .tab_person li .man .s_nv{
	display: block;
	width:17px;
	height:17px;
	position:absolute;
	right:0;
	bottom:0;
}
.third .m_tab>div .right_person{
	width:560px;
	position:relative;
	float:left;
}
.third .m_tab>div .right_person .b_person{
	display: block;
	width:700px;
	height:700px;
	position:absolute;
	left: -50px;
    top: -16px;
	z-index:2;
}
.third .m_tab>div .right_person .b_person li{
	display: none;
}
.third .m_tab>div .right_person .b_person li img{
	display: block;
	width:100%;
	height:100%;
}
.third .m_tab>div .right_person .b_person li.active{
	display: block;
}
.third .m_tab .di{
	display: block;
	position:absolute;
	left: 439px;
    top: 434px;
}
.four{
	width:100%;
	height:851px;
	min-width:1200px;
	background:url(../images/four.jpg) no-repeat center;
	position:relative;
	overflow: hidden;
	z-index:20;
}
.four .v_title{
	display: block;
	margin:55px auto 0;
	opacity: 0;
}
.four .last_ul{
	width:230px;
	overflow: hidden;
	margin:40px auto 0;
	opacity: 0;
}
.four .last_ul li{
	width:114px;
	font-size:16px;
	color:#a4dfff;
	line-height:36px;
	text-align: center;
	float:left;
	cursor: pointer;
}
.four .last_ul li.active{
	color:#34b9ff;
	border-bottom:3px solid #34baff;
}
.four .last_div{
	width:100%;
	height:350px;
	margin:25px auto 0;
	overflow: hidden;
	opacity: 0;
}
.four .last_div>div{
	display: none;
	width:100%;
	height:100%;
	position:relative;
	overflow: hidden;
}
.four .last_div>div.active{
	display: block;
}
.four .last_div>div .img_banner ul li img{
	display: block;
	width:600px;
	height:350px;
	margin:0 auto;
	border-radius: 20px;
	margin-left:-100px;
	cursor: pointer;
}
.four .last_div>div .video_banner ul li{
	cursor: pointer;
}
.four .last_div>div .video_banner ul li img{
	display: block;
	width:600px;
	height:350px;
	margin:0 auto;
	border-radius: 20px;
	margin-left:-100px;
	cursor: pointer;
	position:relative;
}
.four .last_div>div .video_banner ul li:hover i{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
.four .last_div>div .video_banner ul li i{
	display: block;
	width:115px;
	height:132px;
	background:url(../images/v_play.png) no-repeat center;
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-66px;
	margin-left:-57.5px;
	z-index:2;
	transition:all .5s;
	-webkit-transition:all .5s;
}
.four .last_div>div .video_banner ul li span{
	display: block;
	width:600px;
	height:350px;
	margin:0 auto;
	border-radius: 20px;
	margin-left:-100px;
	position:absolute;
	left:0;
	top:0;
	background-color:rgba(0,0,0,.5);
	z-index:1;
}
.four .last_div>div .img_banner .wgam_prev{
	width: 300px;
    height: 264px;
    position: absolute;
    left: 0;
    top: 43px;
    cursor: pointer;
    z-index:2;
}
.four .last_div>div .img_banner .wgam_next{
	width: 300px;
    height: 264px;
    position: absolute;
    right: 0;
    top: 43px;
    cursor: pointer;
    z-index:2;
}
.four .last_div>div .video_banner .wgam_prev01{
	width: 300px;
    height: 264px;
    position: absolute;
    left: 0;
    top: 43px;
    cursor: pointer;
    z-index:2;
}
.four .last_div>div .video_banner .wgam_next01{
	width: 300px;
    height: 264px;
    position: absolute;
    right: 0;
    top: 43px;
    cursor: pointer;
    z-index:2;
}
.four .c_qudao{
	width:100%;
	height:171px;
	left:0;
	position:absolute;
	bottom:22px;
	opacity: 0;
}
.four .c_qudao ul{
	width:100%;
	height:100%;
	display: flex;
	position:relative;
	overflow: hidden;
}
.four .c_qudao ul li{
	float:left;
}
.four .c_qudao ul li .q_bg{
	width:171px;
	height:171px;
	background:url(../images/c1_bg.png) no-repeat center;
	position:relative;
	float:left;
}
.four .c_qudao ul li .q_bg a{
	display: block;
	width:100%;
	height:100%;
}
.four .c_qudao ul li .q_bg img{
	display: block;
	width:124px;
	height:124px;
	margin:23px 0 0 24px;
}
.four .c_qudao ul li .q_txt{
	float:left;
}
.four .c_qudao ul li .q_txt h3{
	font-size:22px;
	color:#269be9;
	margin-bottom:15px;
	margin-top:30px;
}
.four .c_qudao ul li .q_txt p{
	font-size:14px;
	color:#269be9;
	line-height:22px;
}
.four .c_qudao ul li:nth-child(1){
	margin:0 40px 0 81px;
}
.four .c_qudao ul li:nth-child(2){
	margin-right:80px;
}
.four .c_qudao ul li:nth-child(2) .q_bg{
	background:url(../images/c2_bg.png) no-repeat center;
}
.four .c_qudao ul li .q_txt a{
	display: block;
	color:#269be9;
	font-size:14px;
}
.four .c_qudao ul li:nth-child(3) .q_bg{
	background:url(../images/c3_bg.png) no-repeat center;
}
/*浮窗*/
.float{
	width:205px;
	overflow: hidden;
	position:fixed;
	top:45%;
	right:0;
	transform: translate(0,-45%);
	-webkit-transform: translate(0,-45%);
	z-index:30;
	transition:all .5s;
	-webkit-transition:all .5s;
}
.float.active .c_float .shensuo img{
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
.float .c_float{
	width:100%;
	height:320px;
	background:url(../images/c_float.png) no-repeat center;
	background-size:100% 100%;
	position:relative;
	overflow: hidden;
	transition:all .5s;
	-webkit-transition:all .5s;
}
.float .shensuo{
	width: 28px;
    height: 58px;
    position: absolute;
    left: -3px;
    top: 131px;
    cursor: pointer;
}
.float .shensuo img{
	margin: 19px 0 0 16px;
}
.float .c_float .l_yy{
	display: block;
	margin:20px 0 0 46px;
	cursor: pointer;
	opacity: .8;
}
.float .c_float .l_yy:hover{
	opacity: 1;
}
.float .c_float i{
	display: block;
	width:144px;
	height:2px;
	background-color:rgba(15,43,84,.1);
	margin:12px 0 0 42px;
}
.float .c_float .gf_wb{
	width:148px;
	height:70px;
	position:relative;
	margin:22px 0 0 43px;
}
.float .c_float .gf_wb img{
	display: block;
	float:left;
	margin-top:5px;
}
.float .c_float .wb_txt{
	float:left;
	margin-left:10px;
}
.float .c_float div a{
	display: block;
	width:74px;
	height:23px;
	border:1px solid #144686;
	font-size:14px;
	color:#144686;
	text-shadow: 0px 0px 16px #34baff;
	text-align: center;
	line-height:23px;
	border-radius: 5px;
	margin-top:5px;
}

.float .c_float .gf_qq{
	width:151;
	height:65px;
	position:relative;
	margin:5px 0 0 40px;
}
.float .c_float .gf_qq img{
	display: block;
	float:left;
	margin-top:5px;
}
.float .c_float p{
	font-size:18px;
	color:#144686;
	text-shadow: 0px 0px 16px #34baff;
	margin-top:5px;
}
.float .c_float .float_code{
	width:148px;
	height:101px;
	margin:16px 0 0 44px;
}
.float .c_float .float_code .saomiao{
	display: block;
	float:left;	
}
.float .c_float .float_code .float_erweima{
	width:101px;
	height:101px;
	position:relative;
	float:left;
	margin-left:5px;
}
.float .c_float .float_code .float_erweima .tiao{
	display: block;
	position:absolute;
	left:-7.5px;
	top:0;
	animation: eDown 2s linear infinite;
	-webkit-animation: eDown 2s linear infinite;
}
@keyframes eDown{
	0%{transform: translate(0,0);-webkit-transform: translate(0,0);}
	50%{transform: translate(0,90px);-webkit-transform: translate(0,90px);}
	100%{transform: translate(0,0);-webkit-transform: translate(0,0);}
}
@-webkit-keyframes eDown{
	0%{transform: translate(0,0);-webkit-transform: translate(0,0);}
	50%{transform: translate(0,90px);-webkit-transform: translate(0,90px);}
	100%{transform: translate(0,0);-webkit-transform: translate(0,0);}
}
.float .c_float .float_code .float_erweima img:nth-child(2){
	display: block;
	width:100%;
	height:100%;
}
.float .back_top{
	width:55px;
	margin:18px 0 0 85px;
	cursor: pointer;
	display: none;
}
.float .back_top img{
	display: block;
	margin:0 auto;
}
.float .back_top p{
	font-size:12px;
	color:#144686;
	opacity: .5;
	text-align: center;
	margin-top:5px;
}
.big_img{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.8);
	position:fixed;
	left:0;
	top:0;
	z-index:60;
	display: none;
}
.big_img .small_img{
	width:600px;
	margin:0 auto;
	position:relative;
	top:45%;
	transform: translate(0,-45%);
	-webkit-transform: translate(0,-45%);
}
.big_img .small_img img{
	display: block;
	max-width:600px;
	margin:0 auto;
}
.big_img .small_img .close{
	width:30px;
	height:30px;
	position:absolute;
	right:-30px;
	top:-30px;
	cursor: pointer;
	transition:all .5s;
	-webkit-transition:all .5s;
}
.big_img .small_img .close:hover{
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}
