.n_kv{
	width:100%;
	height:462px;
	background:url(../images/news_bg.jpg) no-repeat center;
	position:relative;
	overflow: hidden;
}
.n_kv .logo{
	display: block;
	position:absolute;
	left:56px;
	top:24px;
}
.n_kv .nav_list{
	overflow: hidden;
	position:absolute;
	right:73px;
	top:30px;
}
.n_kv .nav_list li{
	width:98px;
	font-size:20px;
	color: rgba(255, 255, 255, 0.502);
	text-align: center;
	float:left;
	cursor:pointer;
	line-height:20px;
	position:relative;
}
.n_kv .nav_list li em{
	font-size:9px;
}
.n_kv .nav_list li a{
	color: rgba(255, 255, 255, 0.502);
}
.n_kv .nav_list li span{
	position:relative;
	z-index:1;
}
.n_kv .nav_list li b{
	display: none;
	width:100%;
	height:7px;
	position:absolute;
	left:0;
	top:8px;
	background-color:#0099e8;
}
.n_kv .nav_list li.active a{
	color: rgba(255, 255, 255);
}
.n_kv .nav_list li.active b{
	display: block;
}
.n_kv .nav_list i{
	display: block;
	float:left;
	border-radius: 50%;
  	background-color: rgb(255, 255, 255 , 0.502);
  	width: 5px;
  	height: 5px;
  	margin:10px 20px 0px 15px;
}
.news_body{
	width:100%;
	min-height:269px;
	overflow: hidden;
	background:url(../images/n_body.jpg) no-repeat center top;
	background-color:#f5fafd;
	position:relative;
}
.news_body .left_bg{
	display: block;
	width:360px;
	height:100%;
	background:url(../images/bg.png) no-repeat center;
	background-size:100% 100%; 
	position:absolute;
	left:0;
	top:269px;
}
.news_body .right_bg{
	display: block;
	width:360px;
	height:100%;
	background-color:rgba(244,249,253,.5);
	position:absolute;
	right:0;
	top:269px;
}
.news_body .left_code{
	width:374px;
	height:619px;
	background:url(../images/l_bg.png) no-repeat center;
	float:left;
	margin:-83px 0 0 -35px;
}
.news_body .left_code .first_p{
	font-size:28px;
	color:#34baff;
	font-weight:bold;
	text-align: center;
	margin-top:75px;
}
.news_body .left_code .second_p{
	font-size:12px;
	color:#9dddff;
	text-align: center;
	margin-top:5px;
}
.news_body .left_code .d_game{
	display: block;
	width:170px;
	height:170px;
	margin:15px auto 0;
}
.news_body .left_code .left_ul{
	width:200px;
	height:50px;
	margin:12px auto 0;
}
.news_body .left_code .left_ul li{
	width:46px;
	height:45px;
	float:left;
	margin-right:5px;
}
.news_body .left_code .left_ul li:last-of-type{margin-right:0;}
.news_body .left_code .left_ul li img{
	width:46px;
	height:45px;
}
.news_body .left_code .xian{
	display: block;
	margin:22px auto 0;
}
.news_body .left_code .faq{
	display: block;
	width:250px;
	height:74px;
	margin:0 auto 0;
	line-height:74px;
}
.news_body .left_code .faq img{
	display: block;
	float:left;
	margin:16px 20px 0 53px;
}
.news_body .left_code .faq p{
	font-size:18px;
	color:#34baff;
}
.news_body .left_code .xian.xian1{
	margin-top:0;
}
.news_body .right_news{
	width:860px;
	float:left;
}
.news_body .right_news .news_ul{
	width:100%;
	position:relative;
}
.news_body .right_news .news_ul li{
	width:108px;
	font-size:16px;
	padding-bottom:10px;
	float:left;
	text-align: center;
	margin-right:5px;
}
.news_body .right_news .news_ul li a{
	display: block;
	color:#7f7f7f;
}
.news_body .right_news .news_ul li.active a{
	color:#34baff;
}
.news_body .right_news .news_ul li.active{
	border-bottom:1px solid #34baff;
}
.news_body .right_news .news_ul li:nth-child(1){
	margin-left:150px;
}
.news_body .right_news .news_ul li:hover{
	border-bottom:1px solid #34baff;
}
.news_body .right_news .news_ul li:hover a{
	color:#34baff;
}
.news_body .right_news .news_con{
	width:100%;
	overflow: hidden;
	position:relative;
}
.news_body .right_news .news_con .con_ul{
	width:100%;
	overflow: hidden;
	position:relative;
}
.news_body .right_news .news_con .con_ul li{
	width:830px;
	height:145px;
	border-bottom:1px solid #d7dcde;
	margin:0 auto;
}
.news_body .right_news .news_con .con_ul li a{
	display: block;
	width:100%;
	height:100%;
}
.news_body .right_news .news_con .con_ul li a em{
	display: block;
	width:70px;
	height:28px;
	background-color:#34baff;
	border-radius: 20px;
	text-align: center;
	font-size:16px;
	line-height:28px;
	color:#fff;
	float:left;
	margin:44px 28px 0 0;
}
.news_body .right_news .news_con .con_ul li a .middle_txt{
	width:600px;
	float:left;
}
.news_body .right_news .news_con .con_ul li a .middle_txt h3{
	font-size:20px;
	color:#858585;
	width:600px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight:normal;
	margin-top:35px;
}
.news_body .right_news .news_con .con_ul li a .middle_txt p{
	font-size:16px;
	color:#858585;
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height:24px;
    margin-top:10px;
}
.news_body .right_news .news_con .con_ul li a i{
	font-size:12px;
	color:#a9a9a9;
	float:right;
	margin-top:40px;
	font-style: normal;
}
.news_last{
	width:100%;
	height:296px;
	background:url(../images/new_last.jpg) no-repeat center;
	position:relative;
	overflow: hidden;
}
.n_left_bg{
	display: block;
	width:360px;
	height:10px;
	background-color:rgba(244,252,254,.4);
	position:absolute;
	left:0;
	top:0;
}
.n_right_bg{
	display: block;
	width:360px;
	height:10px;
	background-color:rgba(244,252,254,.4);
	position:absolute;
	right:0;
	top:0;
}
.news_last .c_qudao{
	width:100%;
	height:171px;
	left:0;
	position:absolute;
	bottom:22px;
}
.news_last .c_qudao ul{
	width:100%;
	height:100%;
	display: flex;
	position:relative;
	overflow: hidden;
}
.news_last .c_qudao ul li{
	float:left;
}
.news_last .c_qudao ul li .q_bg{
	width:171px;
	height:171px;
	background:url(../images/c1_bg.png) no-repeat center;
	position:relative;
	float:left;
}
.news_last .c_qudao ul li .q_bg a{
	display: block;
	width:100%;
	height:100%;
}
.news_last .c_qudao ul li .q_bg img{
	display: block;
	width:124px;
	height:124px;
	margin:23px 0 0 24px;
}
.news_last .c_qudao ul li .q_txt{
	float:left;
}
.news_last .c_qudao ul li .q_txt h3{
	font-size:22px;
	color:#269be9;
	margin-bottom:15px;
	margin-top:30px;
}
.news_last .c_qudao ul li .q_txt p{
	font-size:14px;
	color:#269be9;
	line-height:22px;
}
.news_last .c_qudao ul li:nth-child(1){
	margin:0 40px 0 81px;
}
.news_last .c_qudao ul li:nth-child(2){
	margin-right:80px;
}
.news_last .c_qudao ul li:nth-child(2) .q_bg{
	background:url(../images/c2_bg.png) no-repeat center;
}
.news_last .c_qudao ul li .q_txt a{
	display: block;
	color:#269be9;
	font-size:14px;
}
.news_last .c_qudao ul li:nth-child(3) .q_bg{
	background:url(../images/c3_bg.png) no-repeat center;
}
/*详情页样式*/
.detail_title{
	width:828px;
	margin:0 auto;
	padding-bottom:25px;
	border-bottom:1px solid #cfd3d4;
}
.detail_title h3{
	font-size:30px;
	color:#34baff;
	text-align: center;
}
.detail_title p{
	font-size:12px;
	color:#a9a9a9;
	text-align: center;
	margin-top:25px;
}
.detail_body{
	width:828px;
	overflow: hidden;
	margin:0 auto;
	font-size:18px;
	color:#8a8a8a;
	line-height:22px;
	margin-top:40px;
}
.detail_body img{
	max-width:100%;
}
/*分页样式*/
.page{
	width:100%;
	margin:110px auto 0;
	text-align: center;
}
.page li{
	display: inline-block;
	border:1px solid #717ca0;
	font-size:12px;
	padding:0 5px;
	color:#8b94af;
	margin:0 3px;
}
.page li.active{
	border:none;
}
.page li a{
	color:#8b94af;
}
.page li:nth-child(1){
	margin-left:
}
