body {
  background: url(../images/bimg5.png);
}
.a-container {
  width: 100%;
  height: auto;
  margin: 3.75rem 0 0 0;
  background: url("../images/bimg2.png") no-repeat;
  background-size: cover;
  display: none;
}
.a-container-show {
  display: block;
}
.in-back-index {
  display: inline-block;
  width: 4.875rem;
  height: 2.09375rem;
  background: url("../images/back_index.png") no-repeat;
  background-size: cover;
  margin: 6.5625rem 0 0 72%;
}
.a-content {
  width: 100%;
  height: auto;
  padding: 0 0.9375rem;
  box-sizing: border-box;
  margin: 3.75rem 0 0 0;
}
.a-question {
  width: 100%;
  height: auto;
  display: none;
}
.a-question > h1 {
  font-size: 0.875rem;
  color: #322222;
  margin: 0 0 0.9375rem 0;
  font-weight: bold;
  line-height: 1.125rem;
}
.a-question > ul {
  width: 100%;
  height: auto;
}
.a-question > ul li {
  width: 100%;
  margin-bottom: 0.9375rem;
}
.a-question > ul li p {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.a-question > ul li p label {
  display: inline-block;
  width: 1.21875rem;
  height: 1.125rem;
  line-height: 1.125rem;
  float: left;
  text-align: center;
  color: #322222;
  font-size: 0.75rem;
  background: url("../images/kuang2.png") no-repeat;
  background-size: cover;
}
.a-question > ul li p span {
  width: 90%;
  height: auto;
  padding-top: 0.15rem;
  font-size: 0.75rem;
  line-height: 0.875rem;
  color: #322222;
  display: block;
  float: left;
  margin-left: 0.375rem;
}
.a-question > ul li p.active label {
  background: url("../images/kuang2_active.png") no-repeat;
  background-size: cover;
}
.a-question > ul li p.active span {
  color: #ffba00;
}
.a-question > ul li:last-child {
  margin: 0;
}
.a-question > div {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.a-question > div img {
  float: left;
  width: 4.375rem;
  height: 4.375rem;
  border: 1px solid #6b4e0c;
  margin: 0.625rem 0 0 0;
  box-sizing: border-box;
}
.a-question > div ul {
  float: right;
  width: 12.5rem;
  height: auto;
}
.a-question > div ul li {
  width: 100%;
  margin-bottom: 1.09375rem;
}
.a-question > div ul li p {
  display: inline-block;
  width: auto;
  height: 1.125rem;
  line-height: 0.9375rem;
  font-size: 0.75rem;
  color: #322222;
}
.a-question > div ul li p label {
  display: inline-block;
  width: 1.21875rem;
  height: 1.125rem;
  float: left;
  text-align: center;
  color: #322222;
  font-size: 0.75rem;
  background: url("../images/kuang2.png") no-repeat;
  background-size: cover;
}
.a-question > div ul li p span {
  width: 9rem;
  height: auto;
  line-height: 0.875rem;
  font-size: 0.75rem;
  color: #322222;
  display: block;
  float: left;
  margin-left: 0.375rem;
}
.a-question > div ul li p.active label {
  background: url("../images/kuang2_active.png") no-repeat;
  background-size: cover;
}
.a-question > div ul li p.active span {
  color: #ffba00;
}
.a-question > div ul li:last-child {
  margin: 0;
}
.a-question > div ul.last {
  width: 10.9375rem;
}
.a-question-show {
  display: block;
}
.a-btn-box {
  width: 100%;
  height: 2.8125rem;
  position: relative;
  margin-top: 3.75rem;
  text-align: center;
}
.a-btn-box a {
  display: none;
  width: 8.46875rem;
  height: 2.8125rem;
  position: absolute;
}
.a-btn-box a.prev-btn {
  display: none;
  top: 0;
  left: 0;
  background: url("../images/prev_btn.png") no-repeat;
  background-size: cover;
}
.a-btn-box a.next-btn {
  top: 0;
  right: 0;
  background: url("../images/next_btn.png") no-repeat;
  background-size: cover;
}
.a-btn-box a.show {
  display: block;
}
.a-question-index {
  padding: 0 0.4375rem 0 0;
  font-size: 0.6875rem;
  color: #3c2600;
  margin: 0.5625rem 0 0.625rem 0;
  text-align: right;
  box-sizing: border-box;
}
.a-question-index span {
  color: #e83e36;
  margin: 0 0.25rem;
}
.a-err-page {
  width: 100%;
  height: 31.25rem;
  margin: 3.75rem 0 0 0;
  background: url("../images/bimg3.png") no-repeat;
  background-size: cover;
}
.a-err-page .back-index {
  display: inline-block;
  width: 4.875rem;
  height: 2.09375rem;
  background: url("../images/back_index.png") no-repeat;
  background-size: cover;
  margin: 6.5625rem 0 0 72%;
}
.a-err-page .an-content {
  display: none;
}
.a-err-page .an-content-show {
  display: block;
}
.a-err-page .an-all-right,
.a-err-page .an-error {
  width: 100%;
  height: auto;
  margin: 5.3125rem 0 0 0;
}
.a-err-page .an-all-right .title,
.a-err-page .an-error .title {
  display: block;
  margin: 0 auto;
  width: 7.5rem;
  height: auto;
}
.a-err-page .an-all-right h1,
.a-err-page .an-error h1 {
  width: 16.875rem;
  height: auto;
  margin: 0 auto;
  font-weight: 600;
  text-align: center;
  font-size: 0.8125rem;
  color: #666666;
  margin-top: 1.875rem;
  margin-bottom: 0.9375rem;
}
.a-err-page .an-all-right h1 span,
.a-err-page .an-error h1 span {
  color: #ff7800;
}
.a-err-page .an-all-right p,
.a-err-page .an-error p {
  width: 16.875rem;
  height: auto;
  margin: 0 auto;
  text-align: center;
  font-size: 0.625rem;
  color: #999999;
  line-height: 1rem;
}
.a-err-page .an-share {
  width: 100%;
  height: 1.4375rem;
  margin: 2.3125rem 0 0 0;
}
.a-err-page .an-tj {
  display: block;
  width: 12.8125rem;
  height: 2.8125rem;
  margin: 0 auto;
  margin-top: 1.875rem;
  background: url("../images/tj_btn.png") no-repeat;
  background-size: cover;
}
.a-err-page .btn-box {
  width: 100%;
  margin: 6.5625rem 0 0 0;
  text-align: center;
}
.a-err-page .btn-box a {
  display: inline-block;
  width: 8.46875rem;
  height: 2.8125rem;
}
.a-err-page .btn-box a.check-btn {
  margin-right: 0.625rem;
  background: url("../images/check_btn.png") no-repeat;
  background-size: cover;
}
.a-err-page .btn-box a.change-btn {
  background: url("../images/change_btn.png") no-repeat;
  background-size: cover;
}
.a-share-page {
  width: 100%;
  height: auto;
  margin: 3.75rem 0 0 0;
  background: url("../images/bimg4.png") no-repeat;
  background-size: contain;
}
.a-share-page > p {
  width: 90%;
  height: auto;
  margin: 0 auto;
  text-indent: 2em;
  font-size: 0.75rem;
  color: #322222;
  line-height: 1.4375rem;
  margin-top: 1.25rem;
}
.a-share-page > p span {
  color: #ff7800;
  font-weight: bold;
}
.a-share-page .back-index {
  display: inline-block;
  width: 4.875rem;
  height: 2.09375rem;
  background: url("../images/back_index.png") no-repeat;
  background-size: cover;
  margin: 6.5625rem 0 0 72%;
}
.a-share-page .kd-title {
  width: 100%;
  height: auto;
  margin-top: 3.5625rem;
  text-align: center;
  font-size: 1rem;
  color: #666666;
  font-weight: bold;
}
.a-share-page .kd-title img {
  display: inline-block;
  width: 1.125rem;
  height: auto;
  position: relative;
  top: 0.1875rem;
}
.a-share-page .change-btn {
  display: block;
  margin: 0 auto;
  width: 12.8125rem;
  height: 2.8125rem;
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
  background: url("../images/change_btn1.png") no-repeat;
  background-size: cover;
}
