

@size: 32rem;
.kd-container{
  width: 100%;
  height: 1250/@size;
  margin: 120/@size 0 0 0;
  background: url("../images/bimg4.png") no-repeat;
  background-size: cover;
  >p{
    width: 90%;
    height: auto;
    margin: 0 auto;
    text-indent: 2em;
    font-size: 24/@size;
    color: #322222;
    line-height: 46/@size;
    margin-top: 40/@size;
    span{
      color: #ff7800;
      font-weight: bold;
    }
  }
}
.back-index{
  display: inline-block;
  width: 156/@size;
  height: 67/@size;
  background: url("../images/back_index.png") no-repeat;
  background-size: cover;
  margin: 210/@size 0 0 72%;
}
.kd-title{
  width: 100%;
  height: auto;
  margin-top: 114/@size;
  text-align: center;
  font-size: 32/@size;
  color: #666666;
  font-weight: bold;
  img{
    display: inline-block;
    width: 36/@size;
    height: auto;
    position: relative;
    top: 6/@size;
  }
}
.change-btn{
  display: block;
  margin: 0 auto;
  width: 410/@size;
  height: 90/@size;
  margin-top: 100/@size;
  background: url("../images/change_btn1.png") no-repeat;
  background-size: cover;
}