@size: 32rem;

.in-container{
  width: 100%;
  height: 1420/@size;
  margin: 120/@size 0 0 0;
  background: url("../images/bimg1.png") no-repeat;
  background-size: cover;
}
.in-item{
  width: 100%;
  height: auto;
  margin: 10/@size 0 0 0;
  h1{
    width: 100%;
    height: auto;
    margin: 0 0 12/@size 0;
    padding: 0 0 0 44/@size;
    font-size: 30/@size;
    color: #666666;
    text-align: left;
    box-sizing: border-box;
    img{
      display: inline-block;
      width: 33/@size;
      height: auto;
      position: relative;
      top: 4/@size;
    }
  }
}

.in-list{
  width: 100%;
  height: auto;
  ul{
    width: 100%;
    height: auto;
    padding: 0 30/@size 0 44/@size;
    box-sizing: border-box;
    li{
      width: 100%;
      height: 170/@size;
      margin: 0 0 40/@size 0;
      position: relative;
      padding: 20/@size 25/@size;
      box-sizing: border-box;
      border: 1px dashed #666666;
      span{
        font-size: 24/@size;
        color: #322222;
        line-height: 38/@size;
      }
      img{
        position: absolute;
        width: 32/@size;
        height: 32/@size;
        margin: auto;
        top: 0;
        left: -16/@size;
        bottom: 0;
        background: #fff;
      }
    }
    li.in-jiantou{
      width: 110/@size;
      height: 100%;
      padding: 0;
      border: none;
      img{
        margin: 90/@size 0 0 40/@size;
        width: 42/@size;
        height: 29/@size;
      }
    }
  }
}

#Hero-bar{
  margin: 0 0 120/@size 0;
}
.in-dt-box{
  width: 100%;
  height: 120/@size;
  position: fixed;
  left: 0;
  bottom: 0;
  background: rgba(255,255,255,.9);
  .start-btn{
    width: 410/@size;
    height: 90/@size;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    background: url("../images/start_btn.png") no-repeat;
    background-size: cover;
  }
  z-index: 1000;
}

.an-tc{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.7);
  opacity: 0;
  display: none;
  transition: all .3s;
  -webkit-transition: all .3s;
  z-index: 1100;
}
.tc-content{
  width: 82%;
  height: 568/@size;
  background: #fff;
  position: absolute;
  margin: auto;
  padding: 40/@size 54/@size;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  h1{
    font-size: 36/@size;
    color: #3c2600;
    margin: 0 0 28/@size 0;
    font-weight: bold;
  }
  p{
    font-size: 22/@size;
    color: #999999;
    margin: 0 0 24/@size 0;
    line-height: 28/@size;
  }
  .tc-close{
    display: block;
    padding: 10/@size;
    position: absolute;
    top: 32/@size;
    right: 42/@size;
    img{
      width: 27/@size;
      height: 27/@size;
    }
  }
  .tc-error{
    display: block;
    width: 100%;
    height: auto;
    margin: 4/@size 0;
    font-size: 14/@size;
    color: #f50000;
    visibility: hidden;
  }
  .tc-phone{
    width: 100%;
    height: 70/@size;
    text-indent: 20/@size;
    font-size: 28/@size;
    color: #000;
    border: 1px solid #b5b5b5;
    box-sizing: border-box;
  }
  .tc-mark-box{
    width: 100%;
    height: 70/@size;
    input{
      width: 50%;
      height: 70/@size;
      float: left;
      text-indent: 20/@size;
      font-size: 28/@size;
      color: #000;
      border: 1px solid #b5b5b5;
      box-sizing: border-box;
    }
    a{
      display: block;
      width: 44%;
      height: 70/@size;
      text-align: center;
      line-height: 70/@size;
      float: right;
      color: #000;
      font-size: 28/@size;
      border: 1px solid #775100;
      box-sizing: border-box;
      background: #ffba00;
    }
  }
  .tc-login{
    width: 410/@size;
    height: 90/@size;
    display: block;
    margin: 0 auto;
    margin-top: 40/@size;
    background: url("../images/ok_btn.png") no-repeat;
    background-size: cover;
  }
}

