{include '../../layouts/wap/header.html'}
	<div class="wrap">
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/alp.png?{$smarty.const.VERSION}" alt="" class="alp">
		<div class="wrap_con">
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/logo.png?{$smarty.const.VERSION}" alt="" class="logo">
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/tlt.png?{$smarty.const.VERSION}" alt="" class="tlt">
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/tlt2.png?{$smarty.const.VERSION}" alt="" class="tlt2">
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/buttle.png?{$smarty.const.VERSION}" alt="" class="buttle2">
		</div>
		<div class="peo_box">
       		<img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/hot.png?{$smarty.const.VERSION}" alt="" class="hot">
       		<img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/huodi.png?{$smarty.const.VERSION}" alt="" class="huodian">
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/peo1.png?{$smarty.const.VERSION}" alt="" class="peo1 slideInLeft animated">
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/peo2.png?{$smarty.const.VERSION}" alt="" class="peo2 slideInLeft animated">
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/peo3.png?{$smarty.const.VERSION}" alt="" class="peo3 slideInRight animated">
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/peo4.png?{$smarty.const.VERSION}" alt="" class="peo4 slideInRight animated">
			<p class="act_data"><span class="time">3月29日</span>删档测试 预约下载 限时开启</p>
			<p class="btn">
        		<button class="showtips slideInLeft animated order_btn"></button>
        		<a href="" class="slideInRight animated load_btn js_wap_down"></a>
   			</p>
		</div>
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/light.png?{$smarty.const.VERSION}" alt="" class="light">
	</div>
	<div class="tips hidden">
    	<div class="content">
            <img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/enter.png?{$smarty.const.VERSION}" alt="" class="tc_tl"/>
        	<img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/close.png?{$smarty.const.VERSION}" alt="" class="close"/>
        	<div>
        	 	<p class="info">预约后我们会在游戏上线第一时间通知您!</p>
            	<input type="number" onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" placeholder="输入手机号码" class="tel"/>
            	<div class="getcode"></div>
            	<p class="error hidden">※ 您输入的手机号格式不正确喔~</p>
        	</div>
        </div>
    </div>
</body>
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/m/js/jquery-1.11.2.min.js?{$smarty.const.VERSION}"></script>
	<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/m/js/jquery.fittext.js?{$smarty.const.VERSION}"></script>
	<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/m/js/cover.js?{$smarty.const.VERSION}"></script>
	<script type="text/javascript" src="//cdnstatic.yingxiong.com/footer/js/footer.js?{$smarty.const.VERSION}"></script>
	<script type="text/javascript">
	$(function() {
		$('html').fitText(2);
	});
	</script>
	{download}
</html>
