/*index--banner*/
.banner{
	width:100%;
	height:802px;
	margin-top:80px;
}
.banner .swiper-slide>a{
	display:inline-block;
	width:100%;
	height:802px;
}
.banner .swiper-slide>a>img{
	position: absolute;
	left: 50%;
	margin-left: -960px;
}
.banner .banner_info{
	width: 1200px;
	height: 802px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -600px;
}
.banner .banner_info>div{
	position: absolute;
	top: 95px;
	width: 390px;
	right:0;
}
.banner .banner_info>div h2{
	margin-bottom: 30px;
	font-size:48px;
	color:#fff;
}
.banner .banner_info>div p{
	line-height: 30px;
	margin-bottom: 55px;
	font-size: 16px;
	color: #919095;
}
.banner .banner_info>div i{
	display:none;
	position:relative;
	width: 167px;
	height: 50px;
	line-height:50px;
	margin:250px 0 0 5px;
	font-size:18px;
	color:#fff;
	text-indent: 35px;
	background:#DB1F3E;
	border-radius:50px;
	cursor:pointer;
	transition:  all 0.3s ease-out;
	-moz-transition:  all 0.3s ease-out;
	-webkit-transition:  all 0.3s ease-out;
	-o-transition:  all 0.3s ease-out;
}
.banner .banner_info>div i:after{
	display: inline-block;
	content: "";
	width: 12px;
	height: 19px;
	background: url(../images/in-more.png);
	background-size: 100% 100%;
	position: absolute;
	right: 35px;
	top: 48%;
	margin-top: -9.5px;
}
.banner .banner_info>div i:hover{background:#cf0f32;}
.banner .banner_pagination{
	width: 1200px;
	position: absolute;
	height: 20px;
	left: 50%;
	top: 460px;
	margin-left: -600px;
}
.banner .swiper-pagination{right:0;}
.banner .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	display: inline-block;
	border-radius: 100%;
	background: #fff;
	opacity: .3;
	margin-left:20px;
}
.banner .swiper-pagination-bullet-active {
	opacity: 1;
	background: #fff;
}
/*index--banner_news*/
.banner_news{
	position: relative;
	z-index: 20;
	width: 1200px;
	height: 410px;
	margin: 0 auto;
	margin-top: -300px;
}
.banner_news .tj_img_left{
	float:left;
	width:200px;
	height:410px;
}
.banner_news .tj_img_right{
	float:left;
	width: 400px;
	height: 410px;
}
.banner_news .tj_img_right img{
	float: left;
	width: 400px;
	height: 205px;
}
.banner_news .news_box{
	float:left;
	width: 600px;
	height: 410px;
	background:#fff;
}
.banner_news .news_box .hd{
	width:540px;
	height:50px;
	line-height:50px;
	margin:0 auto;
	border-bottom:1px solid #F3F3F3;
}
.banner_news .news_box .hd .title_name{
	position: relative;
	display: inline-block;
	padding-left: 10px;
	font-size: 16px;
	font-weight: 600;
	color: #000;
}
.banner_news .news_box .hd .title_name:before{
	position: absolute;
	left: 0;
	top: 50%;
	display: inline-block;
	content: "";
	width: 5px;
	height: 15px;
	margin-top: -7.5px;
	background: url(../images/in-icon01.png);
	background-size: 100% 100%;
}
.banner_news .news_box .hd .more{
	float: right;
	font-size: 16px;
	color: #999;
}
.banner_news .news_box .hd .more:hover{color:#000;}
.banner_news .news_box .bd {
	width:540px;
	margin:0 auto;
	border-bottom:1px solid #F3F3F3;
	height:100px;
}
.banner_news .news_box .bd h2{
	width: 100%;
	padding:15px 0 15px 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size:24px;
	color:#222;
}
.banner_news .news_box .bd h2:hover{color:#DB1F3E;}
.banner_news .news_box .bd p{
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size:16px;
	color:#999;
}
.banner_news .news_box .news_info{
	width: 540px;
	margin: 0 auto;
	margin-top: 9px;
	height: 245px;
	overflow: hidden;
}
.banner_news .news_box li {
	width: 100%;
	display: block;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	color: #222;
}
.banner_news .news_box li a {
	display: block;
	position: relative;
	color: #222;
	width: 85%;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.banner_news .news_box li a:hover{font-weight:600;color:#DB1F3E;}
.banner_news .news_box .time {
	float: right;
	font-size: 16px;
	color: #999;
}
/*index--three_moudle*/
.three_moudle {
	width:1200px;
	margin:30px auto 30px auto;
	overflow: hidden;
}
.three_moudle .link-li-box {
	position: relative;
	width: 396px;
	height: 176px;
	margin-right: 6px;
	float: left;
	background:url("../images/in-moudlebg.png");
	transition:  all 0.3s ease-out;
	-moz-transition:  all 0.3s ease-out;
	-webkit-transition:  all 0.3s ease-out;
	-o-transition:  all 0.3s ease-out;
}
.three_moudle .link-li-box>a{
	 position: relative;
	 display: block;
	 width: 380px;
	 height: 160px;
	 margin: 0 auto;
	 margin-top: 8px;
	cursor: pointer;
	transition:  all 0.3s ease-out;
	-moz-transition:  all 0.3s ease-out;
	-webkit-transition:  all 0.3s ease-out;
	-o-transition:  all 0.3s ease-out;
 }
.three_moudle .link-li-box>a:before{
	display:inline-block;
	content:"";
	position:absolute;
	z-index: 1;
	left:0;
	top:0;
	width:0%;
	height: 100%;
	transition:  all 0.3s ease-out;
	-moz-transition:  all 0.3s ease-out;
	-webkit-transition:  all 0.3s ease-out;
	-o-transition:  all 0.3s ease-out;
}
.three_moudle .link-li-box>a:hover:before{width:100%;background:#222;}
/*.three_moudle .link-li-box>a:hover{background:#222;}*/
.three_moudle .link-li-box>a:after{
	display:inline-block;
	content:"";
	position:absolute;
	z-index: 1;
	left:0;
	bottom:0;
	width:0%;
	height:4px;
	transition:  all 0.3s ease-out;
	-moz-transition:  all 0.3s ease-out;
	-webkit-transition:  all 0.3s ease-out;
	-o-transition:  all 0.3s ease-out;
}
.three_moudle .link-li-box>a:hover:after{width:100%;background:#E22B4B;}
.three_moudle .link-li-box3{margin-right:0;}
.three_moudle .link-li-box .link-li-box-img,.three_moudle .link-li-box .link-li-h3,
.three_moudle .link-li-box .link-li-p{
	position:relative;
	z-index: 2;
}
.three_moudle .link-li-box1 .link-li-box-img {
	float: left;
	display: block;
	width: 60px;
	height: 42px;
	margin:60px 25px 0 35px;
	background: url(../images/in-icon02.png);
	background-size: 100% 100%;
}
.three_moudle .link-li-box2 .link-li-box-img {
	float: left;
	display: block;
	width: 40px;
	height: 50px;
	margin:60px 25px 0 35px;
	background: url(../images/in-icon04.png);
	background-size: 100% 100%;
}
.three_moudle .link-li-box3 .link-li-box-img {
	float: left;
	display: block;
	width: 47px;
	height: 32px;
	margin:60px 25px 0 35px;
	background: url(../images/in-icon06.png);
	background-size: 100% 100%;
}
.three_moudle .link-li-box .link-li-h3 {
	float: left;
	width: 230px;
	font-size: 24px;
	color: #333;
	font-weight: bolder;
	margin:50px 0 5px 0;
}
.three_moudle .link-li-box>a:hover .link-li-h3{color:#fff;}
.three_moudle .link-li-box .link-li-p {
	float: left;
	width: 230px;
	font-size: 16px;
	color: #999;
}
.three_moudle .link-li-box1>a:hover .link-li-box-img{
	background: url(../images/in-icon03.png);
	background-size: 100% 100%;
}
.three_moudle .link-li-box2>a:hover .link-li-box-img{
	background: url(../images/in-icon05.png);
	background-size: 100% 100%;
}
.three_moudle .link-li-box3>a:hover .link-li-box-img{
	background: url(../images/in-icon07.png);
	background-size: 100% 100%;
}
/*index--about_us*/
.about_us{
	width:1200px;
	margin:0 auto;
	margin-bottom: 70px;
	overflow:hidden;
}
.about_us .about_left{width:380px;}
.about_us .title_name {
	position: relative;
	padding-left: 10px;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	font-weight: 600;
	color: #000;
	border-bottom: 1px solid #E4E2E2;
}
.about_us .title_name:before {
	position: absolute;
	left: 0;
	top: 50%;
	display: inline-block;
	content: "";
	width: 5px;
	height: 15px;
	margin-top: -7.5px;
	background: url(../images/in-icon01.png);
	background-size: 100% 100%;
}
.about_us .about_left>a{
	display: inline-block;
	height: 80px;
	line-height: 80px;
	margin-right: 30px;
	font-size: 16px;
	color: #000;
}
.about_us .about_left>a:hover{font-weight:600;color: #E22B4B;}
.about_us .about_left>a.community{margin-right:0;}
.about_us .about_left>a>i{
	position: relative;
	top: 3px;
	display: inline-block;
	width: 25px;
	height: 20px;
	margin-right: 10px;
}
.about_us .about_left>a.count>i{
	background:url("../images/in-icon08.png");
	background-size:100% 100%;
}
.about_us .about_left>a.service>i{
	background:url("../images/in-icon09.png");
	background-size:100% 100%;
}
.about_us .about_left>a.community>i{
	background:url("../images/in-icon10.png");
	background-size:100% 100%;
}
.about_us .about_left .qrcode_img{
	display:inline-block;
	width:178px;
	height:218px;
	text-align:center;
	border: 1px solid #E4E2E2;
	background:#fff;
}
.about_us .about_left .qrcode_img>img{margin-top:12px;}
.about_us .about_left .qrcode_img>i{
	display:block;
	height: 40px;
	line-height: 40px;
	font-size:16px;
	color:#666;
}
.about_us .about_left .qrcode_img>i b{
	font-size:16px;
	color:#E22B4B;
}
.about_us .about_right{width:790px;}
.about_us .about_right .hero_link:first-of-type{margin:35px 130px 0 100px;}
.about_us .about_right .hero_link:nth-of-type(2){margin:35px 135px 0 0;}
.about_us .about_right .hero_link:nth-of-type(3){margin:35px 0 0 0;}
.about_us .about_right .hero_link h3{
	margin-bottom: 20px;
	font-size:16px;
	color:#222;
}
.about_us .about_right .hero_link a{
	display:block;
	font-size:16px;
	color:#999;
	line-height: 35px;
}
.about_us .about_right .hero_link a:hover{
	text-decoration:underline;
	color:#E22B4B;
}
.about_us .about_right .hero_link>span{float:left;}
.about_us .about_right .hero_link>span:last-of-type{margin-left:30px;}

/*product--p_imgbox*/
.p-imgbox{
	position: relative;
	height: 760px;
	width: 100%;
	margin-top: 80px;
	overflow: hidden;
}
.p-imgbox>a>img{
	position: absolute;
	top: 0;
	left: 50%;
	width: 1920px;
	height: 650px;
	margin-left: -960px;
}
.p-imgbox .w_swiper_box{
	position: absolute;
	left: 50%;
	right: 0;
	bottom: 0;
	width:1200px;
	height: 120px;
	margin-left:-600px;
	background-color: rgba(0,0,0,.7);
}
.p-imgbox .w_swiper_box #swiper3{
	position:absolute;
	left:50%;
	top:50%;
	width:1100px;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
}
.p-imgbox .w_swiper_box .swiper-button-prev3{
	position:absolute;
	top:50%;
	left:10px;
	width:40px;
	height:100px;
	transform:translate(0,-50%);
	-ms-transform:translate(0,-50%);
	-webkit-transform:translate(0,-50%);
	-o-transform:translate(0,-50%);
	-moz-transform:translate(0,-50%);
	background: url("../images/p-prev.png") no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
	opacity:.8;
}
.p-imgbox .w_swiper_box .swiper-button-next3{
	position:absolute;
	top:50%;
	right:10px;
	width:40px;
	height:100px;
	transform:translate(0,-50%);
	-ms-transform:translate(0,-50%);
	-webkit-transform:translate(0,-50%);
	-o-transform:translate(0,-50%);
	-moz-transform:translate(0,-50%);
	background: url("../images/p-next.png") no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
	opacity:.8;
}
.p-imgbox .w_swiper_box .swiper-button-prev3:hover,
.p-imgbox .w_swiper_box .swiper-button-next3:hover{opacity:1;}
.p-imgbox .w_swiper_box .w_sm_gun{
	width: 275px;
	height: 100px;
	background:#000;
	background-size: 100% 100%;
	position: relative;
	cursor: pointer;
}
.p-imgbox .w_swiper_box .swiper-slide.active .w_sm_gun img{opacity:.6;}
.p-imgbox .w_swiper_box .swiper-slide .w_sm_gun .progress{
	position: absolute;
	top:50%;
	left: 0;
	right: 0;
	height:10px;
	margin-top: -5px;
	background-color: transparent;
}
.p-imgbox .w_swiper_box .swiper-slide.active .w_sm_gun .progress{background-color:rgba(256,256,256,.1);}
.p-imgbox .w_swiper_box .swiper-slide .w_sm_gun .progress span{
	position: absolute;
	display: inline-block;
	top:50%;
	left: 0;
	margin-top: -5px;
	background-color:#E62B48;
	width: 0;
	height: 100%;
}
.p-imgbox .w_swiper_box .swiper-slide .w_sm_gun>img{
	display: inline-block;
	width: 275px;
	height: 100px;
}
/*product--pn-inner*/
.pn-inner {
	width:1200px;
	margin:0 auto;
	margin-top:40px;
	overflow: hidden;
}
.pn-inner .pn-nav ul li {
	display: inline-block;
	width: 204px;
	height: 65px;
	line-height: 65px;
	margin: 0 10px;
	background:url("../images/p-gtbg.png");
	background-size:100% 100%;
}
.pn-inner .pn-nav ul li a {
	position: relative;
	z-index: 1;
	display: block;
	width: 100%;
	height: 100%;
	/*background: #F1F1F1;*/
	font-size: 18px;
	color: #222;
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
}
.pn-inner .pn-nav ul li a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #E62B48;
	z-index: -1;
	opacity: 0;
	transform:scale3d(0.7, 1, 1);
	-ms-transform:scale3d(0.7, 1, 1);
	-moz-transform:scale3d(0.7, 1, 1);
	-webkit-transform:scale3d(0.7, 1, 1);
	-o-transform:scale3d(0.7, 1, 1);
	transition: transform 0.4s, opacity 0.4s;
	-moz-transition: transform 0.4s, opacity 0.4s;
	-webkit-transition:  -webkit-transform 0.4s, opacity 0.4s;
	-o-transition: transform 0.4s, opacity 0.4s;
	transition-timing-function:  cubic-bezier(0.2, 1, 0.3, 1);
	-moz-transition-timing-function:  cubic-bezier(0.2, 1, 0.3, 1);
	-webkit-transition-timing-function:  cubic-bezier(0.2, 1, 0.3, 1);
	-o-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
}
.pn-inner .pn-nav ul li a,.pn-inner .pn-nav ul li a:before {
	transition-timing-function:  cubic-bezier(0.2, 1, 0.3, 1);
	-moz-transition-timing-function:  cubic-bezier(0.2, 1, 0.3, 1);
	-webkit-transition-timing-function:  cubic-bezier(0.2, 1, 0.3, 1);
	-o-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.pn-inner .pn-nav ul li a:hover:before {
	opacity: 1;
	transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	-moz-transform:translate3d(0, 0, 0);
	-webkit-transform:translate3d(0, 0, 0);
	-o-transform:translate3d(0, 0, 0);
}

.pn-inner .pn-nav ul li a:hover{
	/*background:#E62B48;*/
	color:#fff;
}
.pn-inner .pn-nav ul li.all a.active,
.pn-inner .pn-nav ul li.hot a.active,
.pn-inner .pn-nav ul li.new a.active,
.pn-inner .pn-nav ul li.test a.active {
	background: #E62B48;
	color: #fff;
}
.pn-inner .pn-con .pn-list {margin: 20px 0;}
.pn-inner .pn-con .pn-list .item {
	float: left;
	width: 376px;
	height: 332px;
	margin: 20px 24px 20px 0;
	background: url("../images/p-gamebg.png");
	background-size:100% 100%;
}
.pn-inner .pn-con .pn-list .item a{
	display: block;
	width: 372px;
	height: 224px;
	margin:0 auto;
	overflow: hidden;
	position: relative;
}
.pn-inner .pn-con .pn-list .item:after {
	display: inline-block;
	content: "";
	position: absolute;
	z-index: 1;
	left:50%;
	bottom: 0;
	width:0px;
	height: 4px;
	margin-left:-186px;
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
}
.pn-inner .pn-con .pn-list .item:hover:after{width:372px;background:#E22B4B;}
.pn-inner .pn-con .pn-list .item a>img {
	display: block;
	width: 372px;
	height: 224px;
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}
.pn-inner .pn-con .pn-list .item a:hover>img{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
 .pn-inner .pn-con .pn-list .item a .hover {
	z-index: 10;
	position: absolute;
	left:0;
	top:-224px;
	width: 372px;
	height: 224px;
	background: rgba(230,43, 72, .9);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	 -o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.pn-inner .pn-con .pn-list .item a:hover .hover {top:0;}
.pn-inner .pn-con .pn-list .item a .hover .pn-ewm {
	float: left;
	width: 124px;
	height:150px;
	margin-left: 25px;
	margin-top: 38px;
	background:#fff;
	border-radius:5px;
}
.pn-inner .pn-con .pn-list .item a .hover .pn-ewm img {
	display: block;
	width: 115px;
	height: 115px;
	margin: 0 auto;
	margin-top: 2px;
}
.pn-inner .pn-con .pn-list .item a .hover .pn-ewm p {
	width: 100%;
	text-align: center;
	font-size: 16px;
	color: #000;
	margin-top:2px;
}
.pn-inner .pn-con .pn-list .item a .hover .pn-hover-right{margin:35px 25px 0 0;}
.pn-inner .pn-con .pn-list .item a .hover .pn-more {
	opacity:1;
	width: 134px;
	height: 38px;
	line-height: 38px;
	margin-top:15px;
	border: 1px solid #fff;
	border-radius: 19px;
	font-size: 18px;
	color: #fff;
	text-align: center;
}
.pn-inner .pn-con .pn-list .item a .hover .pn-more i {
	position: relative;
	top: -2px;
	width: 9px;
	height: 14px;
	display: inline-block;
	vertical-align: middle;
	background: url(../images/p-icon01.png) no-repeat;
}
.pn-inner .pn-con .pn-list .item a .hover .pn-type,.pn-inner .pn-con .pn-list .item a .hover .pn-star{
	margin-bottom: 10px;
	font-size:16px;
	color:#ECCDD1;
}
.pn-inner .pn-con .pn-list .item a .hover .pn-type>span{
	margin-left:10px;
	color:#fff;
}
.pn-inner .pn-con .pn-list .item a .hover .pn-star .star{
	display:inline-block;
	width:16px;
	height:15px;
	background:url("../images/p-icon04.png");
	background-size:100% 100%;
}
.pn-inner .pn-con .pn-list .item a .hover .pn-star .star.full{
	background:url("../images/p-icon02.png");
	background-size:100% 100%;
}
.pn-inner .pn-con .pn-list .item a .hover .pn-star .star.half{
	background:url("../images/p-icon03.png");
	background-size:100% 100%;
}
.pn-inner .pn-con .pn-list .item a .hover .pn-info{
	font-size: 21px;
	color: #fff;
	width: 175px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.pn-inner .pn-con .pn-list .item figcaption {
	display: block;
	overflow: hidden;
	width: 346px;
	height: 80px;
	padding: 0 15px;
	margin-top: 13px;
}
.pn-inner .pn-con .pn-list .item figcaption h3 {
	margin: 0 auto;
	font-size:20px;
	color: #222;
	line-height:35px;
	font-weight:600;
}
.pn-inner .pn-con .pn-list .item figcaption h6 {
	position:relative;
	height: 38px;
	overflow: hidden;
	font-size: 14px;
	color: #999;
	font-weight: normal;
}
.pn-tck {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999999;
	visibility: hidden;
	background: rgba(0, 0, 0, .9);
}
.pn-tck .pn-tckcon {
	width: 900px;
	height: 596px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -298px 0 0 -450px;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.pn-tck .pn-tckcon img {
	display: block;
	width: 100%;
	height: 100%;
}
.pn-tck .pn-tckcon .game_desc{
	position: absolute;
	width: 350px;
	height: 180px;
	line-height: 30px;
	top: 165px;
	left: 40px;
	font-size: 16px;
	overflow: hidden;
}
.pn-tck .pn-tckcon .ewm{
	position: absolute;
	left: 56px;
	bottom: 31px;
	width: 144px;
	height: 176px;
	border-radius: 5px;
	background: #fff;
}
.pn-tck .pn-tckcon .ewm.weixin{
	left: 232px;
}
.pn-tck .pn-tckcon .ewm img{
	width: 130px;
	height: 130px;
	margin: 0 auto;
	margin-top: 6px;
}
.pn-tck .pn-tckcon .ewm span{
	display: block;
	color: #333;
	font-size: 16px;
	text-align: center;
	letter-spacing: 5px;
	text-indent: 5px;
	margin-top: 5px;
}
.pn-tck .pn-tckcon .ewm.weixin span{
	letter-spacing: 10px;
	text-indent: 10px;
}
.pn-tck .pn-tckcon .pn-tck-close {
	display: block;
	width: 26px;
	height: 28px;
	position: absolute;
	right: 5px;
	top: 20px;
	cursor: pointer;
	background: url(../images/p-close.png) no-repeat;
	transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-webkit-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
}
.pn-tck .pn-tckcon .pn-tck-close:hover{
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
}
.pn-tck .pn-tckcon .pn-tck-home {
	display: block;
	width: 211px;
	height: 60px;
	line-height: 60px;
	position: absolute;
	right: 38px;
	bottom: 50px;
	font-size: 24px;
	color: #fff;
	text-align: center;
	border-radius: 60px;
	background:#E62B48;
	transition:  all 0.3s ease-out;
	-moz-transition:  all 0.3s ease-out;
	-webkit-transition:  all 0.3s ease-out;
	-o-transition:  all 0.3s ease-out;
}
.pn-tck .pn-tckcon .pn-tck-home:hover{background: #cf0f32;}
.pn-tck.md-show {visibility: visible;}
.pn-tck.md-show .pn-tckcon {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/*join-join-con*/
.join-con{margin-top:80px;}
.join-con .page1{
	position:relative;
	width:100%;
	height:980px;
	background:url("../images/j-img01.png") no-repeat center top;
	/*background-size:100%;*/
}
.join-con .page2{
	position:relative;
	width:100%;
	height:980px;
	background:url("../images/j-img02.png") no-repeat center top;
	/*background-size:100%;*/
}
.join-con .page3{
	position:relative;
	width:100%;
	height:980px;
	background:url("../images/j-img03.png") no-repeat center top;
	/*background-size:100%;*/
}
.join-con .page4{
	position:relative;
	width:100%;
	height:980px;
	background:url("../images/j-img04.png") no-repeat center top;
	/*background-size:100%;*/
}
.join-con .j-conimg{
	position: absolute;
	left: 50%;
	top: 40%;
	margin-left: -598.5px;
	margin-top: -176.5px;
}
.join-con .page1 .link-btn{
	display: inline-block;
	width: 620px;
	position: absolute;
	left: 50%;
	bottom: 200px;
	margin-left: -310px;
}
.join-con .page1 .link-btn.fixed{
	position: fixed;
	z-index: 10;
	height: 100px;
	top: 80px;
	bottom: auto;
	width: 100%;
	left: 0;
	margin: 0;
	background: rgba(0,0,0,.8);
}
.join-con .page1 .link-btn.fixed>span{
	 display: inline-block;
	 position: relative;
	 left: 50%;
	 top: 20px;
	 width: 620px;
	 margin-left: -310px;
 }
.join-con .page1 .link-btn a{
	display: inline-block;
	position: relative;
	top: 0;
	width: 227px;
	height: 78px;
	line-height: 61px;
	margin: 0 40px;
	font-size: 24px;
	color: #fff;
	text-align: center;
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
}
.join-con .page1 .link-btn a.link-btn1{
	background:url("../images/j-btn01.png");
	background-size:100% 100%;
}
.join-con .page1 .link-btn a.link-btn2{
	background:url("../images/j-btn02.png");
	background-size:100% 100%;
}
.join-con .page1 .link-btn a:hover{opacity:.9;top:-5px;}
.join-con .page2>div{
	width:1200px;
	margin:0 auto;
}
.join-con .page2>div .label{
	padding:100px 0 95px 0;
	text-align:center;
}
.join-con .page2>div .label>p{
	font-size: 16px;
	color: #222;
	text-align: center;
	margin-top: 40px;
}
.join-con .page2>div .label>p.label_red{
	margin-top: 15px;
	font-weight:600;
	color:#E62B48;
}
.join-con .page2>div .user-fl{
	overflow: hidden;
	width: 1200px;
	margin: 0 auto;
}
.join-con .page2>div .user-fl>span{
	position:relative;
	display:inline-block;
	width:324px;
	height:198px;
	margin: 0 -60px 20px 87px;
	float:left;
	background:url("../images/j-fl08.png");
	background-size:100% 100%;
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
}
.join-con .page2>div .user-fl>span .xian{
	position: absolute;
	top: 20px;
	right: 50px;
	left: 50px;
	bottom: 40px;
}
.join-con .page2>div .user-fl>span .xian>span{
	position: absolute;
	background: #E62B48;
	-webkit-transition: all .3s cubic-bezier(.25, .46, .45, .94);
	-moz-transition: all .3s cubic-bezier(.25, .46, .45, .94);
	-o-transition: all .3s cubic-bezier(.25, .46, .45, .94);
	transition: all .3s cubic-bezier(.25, .46, .45, .94);
}
.join-con .page2>div .user-fl>span .xian .l{
	bottom: 0;
	left: 0;
	width: 2px;
	height: 0;
}
.join-con .page2>div .user-fl>span .xian .t{
	top: 0;
	left: 0;
	width: 0;
	height: 2px;
}
.join-con .page2>div .user-fl>span .xian .r{
	top: 0;
	right: 0;
	width: 2px;
	height: 0;
}
.join-con .page2>div .user-fl>span .xian .b{
	right: 0;
	bottom: 0;
	width: 0;
	height: 2px;
}
.join-con .page2>div .user-fl>span:hover .xian .t,.join-con .page2>div .user-fl>span:hover .xian .b{width: 100%;}
.join-con .page2>div .user-fl>span:hover .xian .l,.join-con .page2>div .user-fl>span:hover .xian .r{height: 100%;}
.join-con .page2>div .user-fl>span:hover{
	background:url("../images/j-fl07.png");
	background-size:100% 100%;
}
.join-con .page2>div .user-fl>span>img{
	position:absolute;
	left:50%;
	top:45%;
	width:79px;
	height:116px;
	margin:-58px 0 0 -39.5px;
}
.join-con .page2>div .user-fl>span>i{
	font-size: 18px;
	position: absolute;
	left: 50%;
	bottom: 48px;
	width: 80px;
	margin-left: -40px;
	text-align: center;
}
.join-con .page3>div{
	width:1200px;
	margin:0 auto;
}
.join-con .page3>div .label{
	padding:100px 0 50px 0;
	text-align:center;
}
.join-con .page3>div .slider{
	position: relative;
	width:1200px;
	margin:0 auto;
	overflow: hidden;
}
.join-con .page3>div .slider .slider-list{
	width: 200px;
	position: absolute;
	left: 0;
	top: 50px;
	z-index: 5;
}
.join-con .page3>div .slider .slider-list>span{
	display:block;
	width:200px;
	height:92px;
	line-height:92px;
	margin-bottom:10px;
	font-size:24px;
	color:#222;
	text-align:center;
	background:#fff;
	cursor:pointer;
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
}
.join-con .page3>div .slider .slider-list>span:hover,.join-con .page3>div .slider .slider-list>span.active{color:#fff;background:#E62B48;}
.join-con .page3>div .slider .swiper-container{
	float:right;
	width:1046px;
	height:692px;
	background:url("../images/j-herobg.png");
	background-size:100% 100%;
}
.join-con .page3>div .slider .swiper-container .swiper-slide>img{
	position: absolute;
	width: 988px;
	height: 624px;
	left: 50%;
	top: 50%;
	margin-top: -312px;
	margin-left: -494px;
}
.join-con .page3>div .slider .swiper-button-prev{
	right: 0;
	left: inherit;
	top: 115px;
	width: 70px;
	height: 70px;
	margin: 0;
	background: #fff;
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
}
.join-con .page3>div .slider .swiper-button-prev:before{
	position: absolute;
	left: 50%;
	top: 50%;
	display: inline-block;
	content: "";
	width: 17px;
	height: 11px;
	margin: -5.5px 0 0 -8.5px;
	background: url(../images/j-prev01.png);
	background-size: 100% 100%;
}
.join-con .page3>div .slider .swiper-button-prev:hover:before{
	background: url(../images/j-prev02.png);
	background-size: 100% 100%;
}
.join-con .page3>div .slider .swiper-button-next {
	top:207px;
	left: inherit;
	right: 0;
	width:70px;
	height:70px;
	background:#fff;
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
}
.join-con .page3>div .slider .swiper-button-prev:hover,
.join-con .page3>div .slider .swiper-button-next:hover{background:#E62B48;}
.join-con .page3>div .slider .swiper-button-next:after{
	position: absolute;
	left: 50%;
	top: 50%;
	display: inline-block;
	content: "";
	width: 17px;
	height: 11px;
	margin: -5.5px 0 0 -8.5px;
	background: url(../images/j-next01.png);
	background-size: 100% 100%;
}
.join-con .page3>div .slider .swiper-button-next:hover:after{
	background: url(../images/j-next02.png);
	background-size: 100% 100%;
}
.join-con .page3>div .slider .swiper-pagination{
	width: 184px;
	height: 84px;
	color: #808080;
	border: 8px solid #E62B48;
	top: 425px;
	left: 0;
}
.join-con .page3>div .slider .swiper-pagination-current{
	position: relative;
	font-size: 60px;
	color: #eee;
	margin-right: 10px;
}
.join-con .page3>div .slider .swiper-pagination-total{
	font-size:18px;
	color:#eee;
	margin-left: 10px;
}
.join-con .page4>div{
	width:1200px;
	margin:0 auto;
}
.join-con .page4>div .label{
	padding:100px 0 50px 0;
	text-align:center;
}
.join-con .page4>div .yg-slider{position:relative;width:1200px;margin: 0 auto;}
.join-con .page4>div .swiper-container{width:1000px;}
.join-con .page4>div .swiper-slide>div{
	margin-left: 50%;
	display: inline-block;
	width: 323px;
	height:298px;
	padding:30px;
	opacity:.5;
	background:url("../images/j-sliderbg.png");
	background-size:100% 100%;
	transform: translate(-191.5px,0);
	-ms-transform: translate(-191.5px,0);
	-webkit-transform: translate(-191.5px,0);
	-o-transform: translate(-191.5px,0);
	-moz-transform: translate(-191.5px,0);
}
.join-con .page4>div .swiper-slide>div .title{
	font-size:30px;
	color:#E62B48;
	margin-bottom: 15px;
}
.join-con .page4>div .swiper-slide>div .title>span{
	float: right;
	font-size:30px;
	font-weight:500;
	color:#666;
}
.join-con .page4>div .swiper-slide>div .title>span>i{
	font-size:16px;
	font-weight:100;
	color:#ccc;
}
.join-con .page4>div .swiper-slide>div .sub_title{
	font-size:16px;
	color:#666;
	line-height: 30px;
}
.join-con .page4>div .swiper-slide.swiper-slide-next>div{opacity:1;}
.join-con .page4>div .swiper-slide>div img{margin-top: 20px;}
.join-con .page4>div .swiper-button-prev{
	width:17px;
	height:32px;
	left: 250px;
	background: url(../images/j-prev03.png);
	background-size: 100% 100%;
}
.join-con .page4>div .swiper-button-next{
	width:17px;
	height:32px;
	right: 250px;
	background: url(../images/j-next03.png);
	background-size: 100% 100%;
}
.join-con .page4>div .route-img{position:relative;}
.join-con .page4>div .route-txt{
	position: absolute;
	top: 55px;
	width: 545px;
	left: 50%;
	margin-left: -272.5px;
}
.join-con .page4>div .route-txt .row>span{
	display:inline-block;
	width:100px;
	height:50px;
	line-height:50px;
	margin:0 4px 12px 4px;
	font-size:16px;
	color:#545454;
	text-align:center;
	background:#F1F1F1;
}
.join-con .page4>div .route-txt .row2>span{width:150px;}
.join-con .page4>div .route-txt .row3>span{width:190px;}
.join-con .page4>div .route-txt .row4>span{width:460px;}
.join-con .page4>div .route-txt .row5>span{width:535px;}
.join-con .page4>div .join-con .down{
	width: 20px;
	height: 13px;
	background: url(../images/j-down.png) no-repeat;
	position: absolute;
	bottom: 150px;
	left: 50%;
	margin-left: -10px;
	/*margin-top: 57px;*/
	z-index: 2;
	animation: start infinite 1s ease-in-out;
	-webkit-animation: start infinite 1s ease-in-out;
}
.join-con .page4>div .route-txt .name1,.join-con .page4>div .route-txt .name2{
	display: inline-block;
	font-size: 16px;
	color: #545454;
	position: absolute;
	top: 100px;
}
.join-con .page4>div .route-txt .name1{left: -150px;}
.join-con .page4>div .route-txt .name2{right:-150px;}
/*about-con*/
.about-con{margin-top:150px;}
.about-con .page1 {
	position: relative;
	width: 100%;
	height: 580px;
	padding-top: 90px;
	background-color: #F4F4F4;
}
.about-con .page2 {
	overflow: hidden;
	position: relative;
	width: 100%;
	/* height: 875px; */
	padding:100px 0;
	background-color: #fff;
}
.about-con .page3{
	overflow: hidden;
	position: relative;
	width: 100%;
	/* height: 875px; */
	padding:100px 0;
	background-color: #F4F4F4;
}
.about-con .page4 {
	position: relative;
	width: 100%;
	height: 695px;
	padding-top: 100px;
	background-color: #fff;
}
.about-con .page5 {
	position: relative;
	width: 100%;
	height: 560px;
	padding-top: 100px;
	background-color: #F4F4F4;
}
.about-con .page6 {
	position: relative;
	width: 100%;
	height: 650px;
	padding-top: 100px;
	background: #272727;
}
.about-con .page1>div{
    width:1200px;
    margin:0 auto;
    height:100%;
}
.about-con .page1>div .row{
    width:100%;
    height:100%;
}
.about-con .page1>div .row .about_title{
    width:15%;
    height:30%;
}
.same_title{
	position:relative;
	display: inline-block;
}
.same_title .c_name{
	font-size: 24px;
	font-weight: 600;
	color: #222;
	position: absolute;
	left: 14px;
	top: 15px;
}
.same_title .c_name.white{color:#fff;}
.same_title .e_name{
	font-size: 14px;
	color: #999;
	position: absolute;
	left: 14px;
	top: 50px;
}
.about-con .page1>div .row .intro_text{
    position: relative;
    width:75%;
	margin-left: 10%;
}
.about-con .page1>div .row .intro_text+.intro_text{margin-left:25%;margin-top:3.5%;}
.about-con .page1>div .row .intro_text span{
	display: inline-block;
	position: absolute;
	top: 10px;
	left: -40px;
	width: 20px;
	height: 20px;
	font-size: 16px;
	font-family: "Impact";
	color: #E22B4B;
}
.about-con .page1>div .row .intro_text p{
    font-size:16px;
	color: #222;
    line-height:34px;
}
.about-con .page2>div{
    width:1200px;
    margin:0 auto;
    height:100%;
	overflow: hidden;
}
.about-con .page2>div .course_title{width:300px;}
.about-con .page2>div .course_content{width:900px;}
.about-con .page2>div .years{overflow: hidden;}
.about-con .page2>div .years .year{
	font-family: "Impact";
    width:178px;
    border:1px solid #ddd;
    height:50px;
    line-height:50px;
    font-size:24px;
    font-weight:bolder;
    color: #666;
	cursor: pointer;
}
.about-con .page2>div .years .year.grey{color: #ccc;}
.about-con .page2>div .years .year.active{
    background-color:#E22B4B;
    color: #fff;
}
.about-con .page2>div .years .year+.year{border-left: 0px;}
.about-con .page2>div .course_list>div{
	display:none;
	position: relative;
	left: 50%;
	transform:translate(-50%);
	-ms-transform:translate(-50%);
	-moz-transform:translate(-50%);
	-webkit-transform:translate(-50%);
	-o-transform:translate(-50%);
}
.about-con .page2>div .course_list>div p{
	color: #242424;
	font-size: 14px;
	height: 35px;
	line-height: 35px;
	overflow: hidden;
}
.about-con .page2>div .course_list{
	margin:30px auto 0 auto;
}
.about-con .page3>div{
    width:1200px;
    margin:0 auto;
    height:100%;
	overflow:hidden;
}
.about-con .page3>div .honor_title{width:300px;}
.about-con .page3>div .honor_content{width:900px;}
.about-con .page3>div .years{overflow: hidden;}
.about-con .page3>div .years .year{
	font-family: "Impact";
    width:178px;
    border:1px solid #ddd;
    height:50px;
    line-height:50px;
    font-size:24px;
    font-weight:bolder;
    color: #666;
	cursor: pointer;
	background:#fff;
}
.about-con .page3>div .years .year.grey{color: #ccc;}
.about-con .page3>div .years .year.active{
    background-color:#E22B4B;
    color: #fff;
}
.about-con .page3>div .years .year+.year{border-left: 0px;}
.about-con .page3>div .honor_list{
	overflow: hidden;
	margin:40px auto 0 auto;
	min-height: 200px;
	max-height: 450px;
}
.about-con .page3>div .honor_list .info {
	float: left;
	width: 400px;
	color: #000;
	margin-right: 50px;
	height: 70px;
	overflow: hidden;
}
.about-con .page3>div .honor_list .info:nth-of-type(2n){float:right;}
.about-con .page3>div .honor_list .info h3 {
	font-size: 18px;
	font-weight: 700;
	line-height: 1.2;
	padding: 0 50px 0 0;
}
.about-con .page3>div .honor_list .info h3 i {
	font-size: 16px;
	font-style: normal;
	padding: 0 10px;
	font-weight: 400;
}
.about-con .page3>div .honor_list .info h3 span {
	color: #E22B4B;
	font-size: 15px;
}
.about-con .page3>div .honor_list .info p {
	font-size: 12px;
	color: #666;
	margin-top: 10px;
	padding: 0 50px 0 0;
}
.about-con .page3>div .more {
	 text-align: center;
	margin-top:20px;
 }
.about-con .page3>div .more a.btn_get {
	 color: #aeadad;
	 font-size: 16px;
	 text-align: center;
 }
.about-con .page3>div .more a.btn_get .icon_arrow {
	background: url(../images/arrow_on.png) no-repeat;
	width: 19px;
	height: 10px;
	display: inline-block;
	animation: swipeMove 1.5s ease-in infinite;
}
.about-con .page3>div .more a.btn_get .icon_arrow.up {
	animation: swipeMoveUp 1.5s ease-in infinite;
}
.about-con .page3>div .more a.btn_get>span{
	display: block;
}

.about-con .page4>div{
    width:1200px;
    margin:0 auto;
    height:100%;
}
.about-con .page4>div .team_title{width:200px;}
.about-con .page4>div .team_content{width:1000px;}
.about-con .page4>div .team_list{
	overflow: hidden;
	margin: 0 auto;
}
.about-con .page4>div .team_list>div{
	position: relative;
	float: left;
	margin: 0 5px 15px 5px;
	width: 190px;
	height: 290px;
	background:#F9F9F9;
	overflow: hidden;
}
.about-con .page4>div .team_list>div .img{
	height:100%;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.about-con .page4>div .team_list>div .img>img{
	width: 190px;
	height: 210px;
}
.about-con .page4>div .team_list>div .img>.ab-peoinfo{
	position: absolute;
	bottom: 25px;
	width: 190px;
	height: 45px;
	text-align: center;
}
.about-con .page4>div .team_list>div .img>.ab-peoinfo h3{
	font-size:18px;
	color:#222;
}
.about-con .page4>div .team_list>div .img>.ab-peoinfo p{
	padding-top: 6px;
	font-size:14px;
	color:#999;
}
.about-con .page4>div .team_list>div .person_intro{
    position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #E22B4B;
	padding:5px 10px;
	opacity: 0;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.about-con .page4>div .team_list>div .person_intro h2{
	font-size:20px;
	color: #fff;
}
.about-con .page4>div .team_list>div .person_intro span{
    color: #fff;
	font-size: 14px;
	line-height:30px;
}
.about-con .page4>div .team_list>div .person_intro div{
    border-bottom: 1px solid #ccc;
	margin: 2px 0 5px 0;
}
.about-con .page4>div .team_list>div .person_intro p{
	font-size: 12px;
	line-height:20px;
    color: #F3CAD1;
}
.about-con .page4>div .team_list>div:hover .img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.about-con .page4>div .team_list>div:hover .person_intro {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: .95;
}
.about-con .page5>div{
	width:1200px;
	margin:0 auto;
	height:100%;
}
.about-con .page5>div .cult_title{width:200px;}
.about-con .page5>div .cult_content{width:300px;}
.about-con .page5>div .cult_list>div{
	border-bottom: 1px solid #e9e9e9;
	height: 92px;
	margin-bottom: 30px;
}
.about-con .page5>div .cult_list>div span{
	position:relative;
	display:inline-block;
	height:16px;
	line-height: 16px;
	color: #A0A0A0;
	text-indent: 10px;
	margin-bottom: 10px;
}
.about-con .page5>div .cult_list>div span:before {
	display: inline-block;
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	width: 3px;
	height: 13px;
	margin-top: -6.5px;
	background: url(../images/ab-line.png);
	background-size: 100% 100%;
}
.about-con .page5>div .cult_list>div p{
	font-size: 18px;
	color: #242424;
}
.about-con .page5>div .cult_keywords{
	position:relative;
	margin-left: 180px;
	width:520px;
}
.about-con .page5>div .cult_keywords .key_txt{
	position: absolute;
	left: 94px;
	top: 0;
	width: 200px;
}
.about-con .page5>div .cult_keywords .key_txt2{left: 401px; }
.about-con .page5>div .cult_keywords .key_txt>span{
	position: relative;
	display:block;
	font-size:24px;
	color:#222;
}
.about-con .page5>div .cult_keywords .key_txt>span:first-of-type{top: 29px;}
.about-con .page5>div .cult_keywords .key_txt>span:nth-of-type(2){top: 156px;}
.about-con .page5>div .cult_keywords .key_txt>span:nth-of-type(3){top:284px;}
.about-con .page5>div .cult_keywords .key_txt>span>i{
	position: absolute;
	font-size: 12px;
	top: -14px;
	left: 4px;
	color: #999;
}
.about-con .page6>div{
	position:relative;
	width:1200px;
	margin:0 auto;
	height:673px;
}
.about-con .page6>div:before{
	display: inline-block;
	position: absolute;
	z-index: 1;
	left: 52%;
	top: 55%;
	content: "";
	width: 951px;
	height: 473px;
	margin: -236.5px 0 0 -475.5px;
	background: url(../images/ab-bg.png);
	background-size: 100% 100%;
}
.about-con .page6>div .contact_title{width:200px;}
.about-con .page6>div .contact_content{position:relative;z-index:2;width:350px;}
.about-con .page6>div .contact_list>div{
	height: 50px;
	margin-bottom: 30px;
}
.about-con .page6>div .contact_list>div span{
	display:inline-block;
	font-size: 14px;
	color: #999;
}
.about-con .page6>div .contact_list>div a{
	display: block;
	font-size: 18px;
	color: #C6C6C6;
}
.about-con .page6>div .contact_addr{position:relative;z-index:2;width:650px;}
.about-con .page6>div .contact_addr .addrs{overflow: hidden;}
.about-con .page6>div .contact_addr .addrs .addr{
	width:98px;
	height: 98px;
	margin-right:25px;
	font-size:14px;
	color: #999;
	border:1px solid #6E6E6E;
	cursor:pointer;
}
.about-con .page6>div .contact_addr .addrs .addr.active{
	background-color: #E22B4B;
	border:1px solid #E22B4B;
	color: #fff;
}
.about-con .page6>div .contact_addr .addrs .addr h4{
	margin-top: 28px;
	font-size:18px;
	color: #fff;
}
.about-con .page6>div .contact_addr .addr_detail{
	width: 600px;
	height: 150px;
	text-align: center;
	color: #ccc;
	font-size: 18px;
}
.about-con .page6>div .contact_addr .addr_detail .tel{
	display: block;
	color: #fff;
	font-size: 37px;
	margin: 50px auto 13px auto;
}
.about-con .page6>div .contact_addr .map{
	width: 600px;
	height: 230px;
}
.about-con .page6>div .contact_addr .map .anchorBL{
	display:none;
}

/*news-list*/
.loading{
	position: static!important;
	width: 86px!important;
	height: 10px;
	background: url(../images/loading.png) no-repeat;
	background-size:100% 100%;
	margin:0 auto!important;
	margin-top:30px!important;
}
.no_txt{
	font-size: 16px;
	color: #666;
	text-align: center;
}
.new-list-wrap {
	width: 100%;
	margin:50px 0;
	min-height:555px;
	overflow: hidden;
}
.new-list-wrap .event-list-news li {
	width: 100%;
	height: 255px;
}
.new-list-wrap .event-list-news li:hover{background:#fff;}
.new-list-wrap .event-list-news li a {
	position: relative;
	display: block;
	width: 1200px;
	height: 154px;
	margin: 0 auto;
	top: 50px;
}
.new-list-wrap .event-list-news li img {
	width: 276px;
	height: 154px;
	position: absolute;
	left:200px;
	top:0;
}
.new-list-wrap .event-list-news li h2 {
	width: 700px;
	line-height: 25px;
	margin-left: 500px;
	font-size: 24px;
	color: #222;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.new-list-wrap .event-list-news li p.tit {
	width: 700px;
	margin:40px 0 10px 500px;
	font-size: 16px;
	color: #999;
}
.new-list-wrap .event-list-news li p.txt {
	overflow: hidden;
	width: 700px;
	height: 60px;
	line-height: 30px;
	margin-left: 500px;
	font-size: 16px;
	color: #666;
}
.li-fixed{
	position: fixed;
	left: 50%;
	top: 300px;
	z-index: 99;
	margin-left: -600px;
}
.li-fixed .li-year{margin-top: 115px;}
.li-fixed .li-year>p{
	font-size:14px;
	color:#999;
}
.li-fixed .li-year>h2{
	font-size:30px;
	color:#222;
	 letter-spacing: 0;
}
.li-fixed .li-year>.page{margin-top:30px;}
.li-fixed .li-year>.page>span {
	position: relative;
	width:30px;
	height:30px;
	background: #DEDEDE;
}
.li-fixed .li-year>.page>span:hover {
	 background: #E62B48;
 }
.li-fixed .li-year>.page>span:before {
	display: inline-block;
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 9px;
	height: 15px;
	margin: -7.5px 0 0 -4.5px;
	background: url(../images/ab-page01.png);
	background-size: 100% 100%;
}
.li-fixed .li-year>.page>span.next:before {
	background: url(../images/ab-page02.png);
	background-size: 100% 100%;
}

/*news-article*/
.new-list-wrap {
	width: 100%;
	margin:200px 0 50px 0;
	overflow: hidden;
}
.new-list-wrap>div{
	position: relative;
	display: block;
	width: 1200px;
	margin: 0 auto;
	margin-top: 50px;
}
.new-list-wrap>div>h2 {
	width: 1000px;
	line-height: 25px;
	margin-left:200px;
	font-size: 24px;
	color: #222;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.new-list-wrap>div>.tit {
	width: 1000px;
	margin:20px 0 10px 200px;
	font-size: 16px;
	color: #999;
}
.new-list-wrap>div>.artText{
	width: 1000px;
	margin: 45px 0 10px 200px;
	padding-top: 40px;
	border-top: 1px solid #E4E4E4;
}
.new-list-wrap>div>.artText p{
	font-size:18px;
	color:#222;
	line-height: 35px;
}
.new-list-wrap>div>.artText p img {
	text-align: center;
	margin: 20px auto;
	display: block;
	max-width: 100%;
	width: auto;
}
.li-fixed .li-back{
	margin-top:50px;
	font-size:18px;
	color:#999;
}
.li-fixed .li-back>a{color:#999;}
.li-fixed .li-back:before{
	display: inline-block;
	content: "";
	position: relative;
	top: 2px;
	width: 10px;
	height: 17px;
	margin-right: 5px;
	background: url(../images/li-point.png);
	background-size: 100% 100%;
}
@-webkit-keyframes start {
	0%,30% {opacity: 0;-webkit-transform: translate(0,-10px);}
	60% {opacity: 1;-webkit-transform: translate(0,0);}
	100% {opacity: 0;-webkit-transform: translate(0,8px);}
}
@-moz-keyframes start {
	0%,30% {opacity: 0;-webkit-transform: translate(0,-10px);}
	60% {opacity: 1;-webkit-transform: translate(0,0);}
	100% {opacity: 0;-webkit-transform: translate(0,8px);}
}
@keyframes start {
	0%,30% {opacity: 0;-webkit-transform: translate(0,-10px);}
	60% {opacity: 1;-webkit-transform: translate(0,0);}
	100% {opacity: 0;-webkit-transform: translate(0,8px);}
}
@-ms-keyframes start {
	0%,30% {opacity: 0;-webkit-transform: translate(0,-10px);}
	60% {opacity: 1;-webkit-transform: translate(0,0);}
	100% {opacity: 0;-webkit-transform: translate(0,8px);}
}

@-webkit-keyframes swipeMove{
	0%{opacity:0;transform:translate3d(0,-8px,0);}
	70%{opacity:1;transform:translate3d(0,0,0);}
	100%{opacity:0;transform:translate3d(0,5px,0);}
}

@-moz-keyframes swipeMove{
	0%{opacity:0;transform:translate3d(0,-8px,0);}
	70%{opacity:1;transform:translate3d(0,0,0);}
	100%{opacity:0;transform:translate3d(0,5px,0);}
}

@keyframes swipeMove{
	0%{opacity:0;transform:translate3d(0,-8px,0);}
	70%{opacity:1;transform:translate3d(0,0,0);}
	100%{opacity:0;transform:translate3d(0,5px,0);}
}

@-ms-keyframes swipeMove{
	0%{opacity:0;transform:translate3d(0,-8px,0);}
	70%{opacity:1;transform:translate3d(0,0,0);}
	100%{opacity:0;transform:translate3d(0,5px,0);}
}

@-webkit-keyframes swipeMoveUp{
	0%{opacity:0;transform:translate3d(0,8px,0) rotate(180deg);}
	70%{opacity:1;transform:translate3d(0,0,0) rotate(180deg);}
	100%{opacity:0;transform:translate3d(0,-5px,0) rotate(180deg);}
}

@-moz-keyframes swipeMoveUp{
	0%{opacity:0;transform:translate3d(0,8px,0) rotate(180deg);}
	70%{opacity:1;transform:translate3d(0,0,0) rotate(180deg);}
	100%{opacity:0;transform:translate3d(0,-5px,0) rotate(180deg);}
}

@keyframes swipeMoveUp{
	0%{opacity:0;transform:translate3d(0,8px,0) rotate(180deg);}
	70%{opacity:1;transform:translate3d(0,0,0) rotate(180deg);}
	100%{opacity:0;transform:translate3d(0,-5px,0) rotate(180deg);}
}

@-ms-keyframes swipeMoveUp{
	0%{opacity:0;transform:translate3d(0,8px,0) rotate(180deg);}
	70%{opacity:1;transform:translate3d(0,0,0) rotate(180deg);}
	100%{opacity:0;transform:translate3d(0,-5px,0) rotate(180deg);}
}

/* 窗口宽度<1600 */
@media screen and (max-width:1600px){
	/*首页*/
	.banner_news {
		margin-top: -360px;
	}
	/*产品中心*/
	.p-imgbox,.p-imgbox>a>img{
		height: 650px;
	}
	.pn-inner {
		margin-top:30px;
	}
	.pn-inner .pn-con .pn-list {
		margin: 10px 0;
	}
	/*加入英雄*/
	.join-con .page1{
		background:url("../images/j-img01.png") no-repeat center center;
		height:660px;
	}
	.join-con .j-conimg{
		top: 35%;
	}
	.join-con .page1 .link-btn{
		bottom: 140px;
	}
	.join-con .page2{height:830px;}
	.join-con .page2>div .label{
		padding: 80px 0 95px 0;
	}
	.join-con .page3 {
		height: 770px;
	}
	.join-con .page3>div .slider {
		width: 900px;
	}
	.join-con .page3>div .label {
		padding: 80px 0 50px 0;
	}
	.join-con .page3>div .slider .swiper-container {
		float: left;
		width: 755px;
		height: 500px;
		margin-left: 145px;
	}
	.join-con .page3>div .slider .swiper-container .swiper-slide>img {
		width: 713px;
		height: 451px;
		margin-top: -226px;
		margin-left: -356px;
	}
	.join-con .page3>div .slider .slider-list {
		width: 180px;
		top: 50px;
	}
	.join-con .page3>div .slider .slider-list>span{
		width:180px;
		height:70px;
		line-height:70px;
		font-size:22px;
	}
	.join-con .page3>div .slider .swiper-pagination {
		width: 164px;
		height: 64px;
		top: 340px;
	}
	.join-con .page3>div .slider .swiper-pagination-current {
		font-size: 50px;
	}
	/*关于英雄*/
	.about-con .page1{
		height: 480px;
		padding-top: 50px;
	}
	.about-con .page1>div .row .intro_text+.intro_text{
		margin-top:2%;
	}
	.about-con .page2,.about-con .page3{
		padding: 50px 0;
	}
	.about-con .page4{
		height:645px;
		padding-top: 50px;
	}
	.about-con .page5{
		height:510px;
		padding-top:50px;
	}
	.about-con .page6{
		height:600px;
		padding-top:50px;
	}
}