
<!--头部-->
<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>h5 参数设置-英雄互娱</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://dev.static.yingxiong.com/yiicmsbackend/global/fonts/Open_Sans_400_300_600_700_subset_all.css" rel="stylesheet" type="text/css"/>
    <link href="http://dev.static.yingxiong.com/yiicmsbackend/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="http://dev.static.yingxiong.com/yiicmsbackend/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="http://dev.static.yingxiong.com/yiicmsbackend/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="http://dev.static.yingxiong.com/yiicmsbackend/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <link href="http://dev.static.yingxiong.com/yiicmsbackend/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <link href="http://dev.static.yingxiong.com/yiicmsbackend/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css"/>
    <link href="http://dev.static.yingxiong.com/yiicmsbackend/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css"/>
    <link href="http://dev.static.yingxiong.com/yiicmsbackend/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL PLUGIN STYLES -->
    <!-- BEGIN PAGE STYLES -->
    <link href="http://dev.static.yingxiong.com/yiicmsbackend/admin/pages/css/tasks.css" rel="stylesheet" type="text/css"/>
    <link href="http://dev.static.yingxiong.com/yiicmsbackend/global/plugins/icheck/skins/all.css" rel="stylesheet" type="text/css"/>
    <!-- END PAGE STYLES -->
    <!-- BEGIN THEME STYLES -->
    <!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
    <link href="http://dev.static.yingxiong.com/yiicmsbackend/global/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="http://dev.static.yingxiong.com/yiicmsbackend/global/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="http://dev.static.yingxiong.com/yiicmsbackend/admin/layout4/css/layout.css" rel="stylesheet" type="text/css"/>
    <link href="http://dev.static.yingxiong.com/yiicmsbackend/admin/layout4/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="http://dev.static.yingxiong.com/yiicmsbackend/admin/layout4/css/custom.css" rel="stylesheet" type="text/css"/>
    <link href="http://dev.static.yingxiong.com/yiicmsbackend/admin/layout4/css/themes/light.css" rel="stylesheet" type="text/css" id="style_color"/>


    <script src="http://dev.static.yingxiong.com/yiicmsbackend/global/plugins/jquery.min.js" type="text/javascript"></script>

    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico"/>
</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo ppage-sidebar-closed-hide-logo">
<!-- BEGIN HEADER -->
<!-- END HEADER -->
<div class="clearfix"></div>
<![CDATA[YII-BLOCK-BODY-BEGIN]]>
<div class="page-container">
    <!--内容-->
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="row">
                <div class="col-md-10">
                    <div class="portlet box blue-hoki ">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i>h5 接口常规参数加密
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <form class="form-horizontal" role="form" action="#" method="post" >
                                <div class="form-body" id="formBody">
                                    <p>&nbsp;</p>
                                    <div class="row">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label"></label>
                                            <div class="col-md-4">
                                                <input id="secret_key" type="text" class="form-control input-lg" placeholder="加密KEY">
                                            </div>
                                        </div>
                                    </div>
                                    <div id="allParam" class="row">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label"></label>
                                            <div class="col-md-4">
                                                <input id="website_id" type="text" class="form-control input-lg" placeholder="站点id">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label"></label>
                                            <div class="col-md-4">
                                                <input id="h5_id" type="text" class="form-control input-lg" placeholder="h5 活动Id">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label"></label>
                                            <div class="col-md-4">
                                            </div>

                                            <div class="col-md-3">
                                                <button type="button" class="btn blue" onclick="secret()">加密</button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <span id="h5data" style="margin-left: 10px"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="jiami">

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BEGIN CORE PLUGINS -->

</body>
</html>

<script>
    $(function(){

    })

    function secret()
    {
        var secretKey = $('#secret_key').val();
        var websiteId = $('#website_id').val();
        var h5Id = $('#h5_id').val();

        if (!secretKey) {
            alert('加密key 不能为空!');
            return;
        }
        if (!websiteId) {
            alert('站点id不能为空');
            return;
        }
        if (!h5Id) {
            alert('h5 活动Id不能为空');
            return;
        }

        $.getJSON('/h5-common/secret', { secretKey:secretKey, websiteId:websiteId, h5Id:h5Id }, function(data){
            if (data.status == 0) {
                $('#h5data').text('h5data='+data.msg);
            }
        }, 'json');
    }
</script>