.head {
	width: 100%;
	height: 5.4rem;
	background: url(../images/head_bg.png) no-repeat;
	background-size: 100% 100%;
	color: #fff;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
}
.head .logo_peo {
    width: 4.125rem;
    height: 4.125rem;
    margin: 0.32rem 0.48rem 0 0.68rem;
}
img {
    max-width: 100%;
    border: 0;
    vertical-align: middle;
    display: block;
}
.head .logo_peo img {
    display: block;
    width: 100%;
    background-size: 100% 100%;
}

.head .head_til {
    margin-top: 1rem;
}

.head .head_til h3 {
    font-size: 1.32rem;
}
.head .head_til p {
    font-size: 1.16rem;
}
.head .downl {
    width: 6.72rem;
    height: 2.7rem;
    background: url(../images/downl_btn.png) no-repeat;
    background-size: 100% 100%;
    margin: 1.16rem 0.72rem 0 0;
}

.page01{
	width:100%;
	height:43.2rem;
	background:url(../images/bg01.jpg) no-repeat center;
	background-size:100% 100%;
	margin-top:4.7rem;
	position:relative;
}

.page01 .txt{
	width:24.8rem;
	height:2.75rem;
	position:absolute;
	bottom:22.2rem;
	left:50%;
	margin-left:-12.4rem;
}

.page01 .btn{
	width:16.95rem;
	height:4.04rem;
	position:absolute;
	bottom:9.04rem;
	left:50%;
	margin-left:-8.475rem;
}

.page02{
	width:100%;
	height:65.25rem;
	background:url(../images/bg02.jpg) no-repeat center;
	background-size:100% 100%;
	position:relative;
}

.page02 .qmxw{
	width:9.958rem;
	height:2.375rem;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-4.979rem;
}

.page02 .juxing{
	width:100%;
	height:47.25rem;
	position:absolute;
	top:7.08rem;
	left:0;
}

.page02 .xw{
	width:16.91rem;
	height:12.7rem;
	position:absolute;
	top:2.96rem;
	left:0;
}

.page02 .fl{
	width:11.8rem;
	height:13.42rem;
	position:absolute;
	top:16.75rem;
	left:2.42rem;
}

.page02 .zk{
	width:13.875rem;
	height:12.42rem;
	position:absolute;
	top:33.5rem;
	right:1.5rem;
}

.page02 .wz{
	width:15.5rem;
	height:14.2rem;
	position:absolute;
	top:48.2rem;
	right:0.75rem;
}

.page03{
	width:100%;
	height:31.8rem;
	background:url(../images/bg03.jpg) no-repeat center;
	background-size: 100% 100%;
	position:relative;
}

.page03 .dwz{
	width: 9.958rem;
    height: 2.375rem;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -4.979rem;
}

.page03 .dyr{
	width:21.8rem;
	height:10.08rem;
	position:absolute;
	top:12.8rem;
	left:50%;
	margin-left:-10.9rem;
}

.page03 .look{
	width:17rem;
	height:2.75rem;
	position:absolute;
	bottom:3.96rem;
	left:50%;
	margin-left:-8.5rem;
}

.page04{
	width:100%;
	height:14.08rem;
	background:url(../images/bg04.jpg) no-repeat center;
	background-size: 100% 100%;
	position:relative;
	z-index:2;
}

.page04 .gkwb{
	width: 9.958rem;
    height: 2.375rem;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -4.979rem;
}

.page04 .dyz{
	width:15.875rem;
	height:5.875rem;
	position:absolute;
	top:4.625rem;
	left:2.208rem;
}

.page04 .jls{
	width:11.96rem;
	height:12.8rem;
	position:absolute;
	top:1.46rem;
	right:0;
}

.page05{
	width:100%;
	height:14rem;
	background:url(../images/bg05.jpg) no-repeat center;
	background-size: 100% 100%;
	margin-top:-0.1rem;
	position:relative;
	overflow: hidden;
}

.page05 .pinpai{
	width: 9.958rem;
    height: 2.375rem;
    margin-left: 9.91rem;
}

.page05 .qudao {
	width: 27.42rem;
	height: 2.208rem;
	margin:0 auto;
	margin-top:0.66rem;
}

.page05 .qudao i {
	display: inline-block;
	width: 2.875rem;
	height: 1.5rem;
	background: url(../images/txt_bg.png) no-repeat center;
	background-size:100% 100%;
	line-height: 1.5rem;
	font-size: 0.83rem;
	color: #fb1e6c;
	font-weight: bold;
	text-align: center;
	float: left;
	margin-top: 0.291rem;
	font-style: normal;
}

.page05 .qudao ul li {
	width: 5.174rem;
	height: 2.208rem;
	float: left;
	margin-right: 0.9rem;
	position: relative;
}

#total {
	width: 22rem;
	height: 6.3rem;
	background:url(../images/num_bg.png) no-repeat center;
	background-size:100% 100%;
	position:absolute;
	bottom:14.46rem;
	left:50%;
	margin-left:-11rem;
}
#total .t_num{
	display: inline-block;
	position:absolute;
	line-height:6.3rem;
	right:2.6rem;
}
#total i{
	display: inline-block;
	font-size:3.5rem;
	font-style: normal;
	color:#47b2fe;
	font-family: Helvetica;
}
