{include '../layouts/pc/header.html'}
<div class="kv">
    <img src="{$smarty.const.STATIC_DOMAIN}1.0/images/logo.png?{$smarty.const.VERSION}" alt="" class="logo" />
	<div class="wrap">
		 {fragment var=video code=index_video size=1}
		<!-- <img src="{$smarty.const.STATIC_DOMAIN}1.0/images/btn.png?{$smarty.const.VERSION}" alt="" class="btn p_dl" /> -->
		<div class="slogan">
			<a href="{if $video}javascript:;{else}javascript:yx_showTips('敬请期待');{/if}" class="play js_video_play" data-url="{if $video}{$video[0].url}{/if}"></a>
			<a href="javascript:;" class="btn p_dl"></a>
		</div>
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/btn1.png?{$smarty.const.VERSION}" alt="" class="btn1" />
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/mr_gift.jpg?{$smarty.const.VERSION}" class="mr_gift" />
		<div class="nav_tab">
			<div class="isLogin">
				<p class="n_dl before_denglu active">您好，请<span class="dl p_dl">登录</span></p>
				<p class="n_dl after_denglu">欢迎您，<span class="x_phone"></span><i class="zhuxiao">注销</i></p>
			</div>
			<a href="/index.html" class="enter"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/enter.png?{$smarty.const.VERSION}" alt="" /></a>
			<ul>
				<li>
					<a href="javascript:;"></a>
				</li>
				<li>
					<a href="{if $global.wb_url}{$global.wb_url}{else}javascript:yx_showTips('敬请期待');{/if}" {if $global.wb_url}target="_blank" {/if}></a>
				</li>
				<li>
					<a href="{if $global.tb_url}{$global.tb_url}{else}javascript:yx_showTips('敬请期待');{/if}" {if $global.tb_url}target="_blank" {/if}></a>
				</li>
				<div class="fl_wx">
					<img src="{$global.wx_img}" alt="" />
				</div>
			</ul>
		</div>
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/mouse.png?{$smarty.const.VERSION}" alt="" class="mouse" />
	</div>
	<!-- <video class="video" src="{$smarty.const.STATIC_DOMAIN}1.0/video/video1.mp4?{$smarty.const.VERSION}" class="video" autoplay="autoplay" id="video" muted></video> -->
	<video class="video video1" src="{$smarty.const.STATIC_DOMAIN}1.0/video/video22.mp4?{$smarty.const.VERSION}" class="video" id="video1" autoplay="autoplay" loop="loop" muted></video>
</div>
<!--下浮框-->
<div class="downBg">
	<div class="left_yuyue">
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/left_yuyue.png?{$smarty.const.VERSION}" alt="" class="hh_yuyue" />
		<p>已预约人数：<span class="yy_renshu">75485222</span></p>
	</div>
	<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/middle_img.png?{$smarty.const.VERSION}" alt="" class="middle_img" />
	<div class="right_mess">
		<div class="r_hongbao">
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/hb.png?{$smarty.const.VERSION}" alt="" />
			<p>关注官方微信公众号<br />参与签到送<span>现金红包</span></p>
			<p class="hongbao_p">更多活动敬请期待</p>
		</div>
		<ul>
			<li>
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/d_wx.png?{$smarty.const.VERSION}" alt="" />
				<p>官方微信</p>
			</li>
			<li>
				<a href="{if $global.wb_url}{$global.wb_url}{else}javascript:yx_showTips('敬请期待');{/if}" {if $global.wb_url}target="_blank" {/if}>
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/d_wb.png?{$smarty.const.VERSION}" alt="" />
					<p>官方微博</p>
				</a>
			</li>
			<li>
				<a href="{if $global.group_url_one}{$global.group_url_one}{else}javascript:yx_showTips('敬请期待');{/if}" {if $global.group_url_one}target="_blank" {/if}>
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/d_qq.png?{$smarty.const.VERSION}" alt="" />
					<p>官方Q群</p>
				</a>
			</li>
			<div class="d_float">
				<img src="{$global.wx_img}" alt="" />
			</div>
		</ul>
	</div>
	<div class="ob_close">
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/s_xing.png?{$smarty.const.VERSION}" alt="" />
	</div>
</div>
<!--关闭下浮框-->
<div class="rightBg">
	<div class="ob_open">
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/s_xing.png?{$smarty.const.VERSION}" alt="" />
	</div>
	<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/left_yuyue.png?{$smarty.const.VERSION}" alt="" class="yy_gift hh_yuyue"/>
	<p>已预约人数：<span class="yy_renshu">75485222</span></p>
</div>
<div class="second">
	<div class="wrap">
		<!--<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/sanjiao1.png?{$smarty.const.VERSION}" alt="" class="sanjiao1" />-->
		<div class="chengg"></div>
		<div class="yy_number">
			<ul>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/label1.png?{$smarty.const.VERSION}" alt="" class="label" />
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift.png?{$smarty.const.VERSION}" alt="" class="gift" />
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/label6.png?{$smarty.const.VERSION}" alt="" class="label6" />
		<!-- <div class="my_gift">
			<p>我的礼包</p>
		</div> -->
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/label2.png?{$smarty.const.VERSION}" alt="" class="label1" />
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gift_c.png?{$smarty.const.VERSION}" alt="" class="gift_c" />
		<div class="yuyue">
			<p class="yuyue_p active"></p>
			<p class="yuyue_q">您是第<span class="yuyue_number"></span>位预约</p>
		</div>
	</div>
</div>
<!--新闻-->
<!--<div class="banner_news">
	<div class="wrap">
		<p class="title"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/l_tit4.png?{$smarty.const.VERSION}" alt=""></p>
		<div class="banner">
			<div class="swiper-container swiper-container2">
				<div class="swiper-wrapper">
					{fragment var=index_banner code=banner size=5} {if $index_banner neq ''} {foreach $index_banner as $v}
					<div class="swiper-slide">
						<a href="{if $v.url}{$v.url}{else}javascript:;{/if}"><img class="images" src="{$v.thumb}" alt=""></a>
					</div>
					{/foreach} {/if}
				</div>
				<div class="swiper-pagination swiper-pagination2"></div>
			</div>
		</div>
		<div class="news_box">
			<a href="{myurl name='article/list, id=>643'}" class="more" target="_blank"></a>
			<div class="hd">
				<ul>
					<li class="on">
						<a>最新</a>
					</li>
					<li>
						<a>新闻</a>
					</li>
					<li>
						<a>公告</a>
					</li>
					<li>
						<a>活动</a>
					</li>
				</ul>
			</div>
			<div class="bd">
				<ul class="news_info">
					{fragment var=tj code=tj_news size=1} {if $tj neq ''} {foreach $tj as $v}
					<h2 class="first"><a href="{$v.url}" target="_blank"><i></i>{$v.title}</a></h2> {/foreach} {/if} {article id="643" size=5 var=qb} {if $qb neq ''} {foreach $qb as $key=>$v} {if $key >= 0}
					<li>
						<a target="_blank" href="{$v.linkUrl}"><i class="small_ti">[{$v.name}]</i>{$v.title}</a>
						<span>{$v.created_at|date_format:"%m/%d"}</span>
					</li>
					{/if} {/foreach} {else}
					<p class="noData" style="line-height: 200px;color: #98854F;text-align: center;font-size: .9375rem;">暂无数据...</p>
					{/if}
				</ul>
				<ul class="news_info hidden">
					{fragment var=tj code=tj_news size=1} {if $tj neq ''} {foreach $tj as $v}
					<h2 class="first"><a href="{$v.url}" target="_blank"><i></i>{$v.title}</a></h2> {/foreach} {/if} {article id="644" size=5 var=xw} {if $xw neq ''} {foreach $xw as $key=>$v} {if $key >= 0}
					<li>
						<a target="_blank" href="{$v.linkUrl}"><i class="small_ti">[{$v.name}]</i>{$v.title}</a>
						<span>{$v.created_at|date_format:"%m/%d"}</span>
					</li>
					{/if} {/foreach} {else}
					<p class="noData" style="line-height: 200px;color: #98854F;text-align: center;font-size: .9375rem;">暂无数据...</p>
					{/if}
				</ul>
				<ul class="news_info hidden">
					{fragment var=tj code=tj_news size=1} {if $tj neq ''} {foreach $tj as $v}
					<h2 class="first"><a href="{$v.url}" target="_blank"><i></i>{$v.title}</a></h2> {/foreach} {/if} {article id="648" size=5 var=gg} {if $gg neq ''} {foreach $gg as $key=>$v} {if $key >= 0}
					<li>
						<a target="_blank" href="{$v.linkUrl}"><i class="small_ti">[{$v.name}]</i>{$v.title}</a>
						<span>{$v.created_at|date_format:"%m/%d"}</span>
					</li>
					{/if} {/foreach} {else}
					<p class="noData" style="line-height: 200px;color: #98854F;text-align: center;font-size: .9375rem;">暂无数据...</p>
					{/if}
				</ul>
				<ul class="news_info hidden">
					{fragment var=tj code=tj_news size=1} {if $tj neq ''} {foreach $tj as $v}
					<h2 class="first"><a href="{$v.url}" target="_blank"><i></i>{$v.title}</a></h2> {/foreach} {/if} {article id="649" size=5 var=hd} {if $hd neq ''} {foreach $hd as $key=>$v} {if $key >= 0}
					<li>
						<a target="_blank" href="{$v.linkUrl}"><i class="small_ti">[{$v.name}]</i>{$v.title}</a>
						<span>{$v.created_at|date_format:"%m/%d"}</span>
					</li>
					{/if} {/foreach} {else}
					<p class="noData" style="line-height: 200px;color: #98854F;text-align: center;font-size: .9375rem;">暂无数据...</p>
					{/if}
				</ul>
			</div>
		</div>
	</div>
</div>-->
<!-- <div class="show_girl">
	<div class="wrap">
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/sanjiao2.png?{$smarty.const.VERSION}" alt="" class="sanjiao1" />
		<div class="chengg"></div>
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/label3.png?{$smarty.const.VERSION}" alt="" class="label2" />
		<ul class="b_tab">
					<li class="active"><img src="images/person8.png?{$smarty.const.VERSION}" alt="" /></li>
					<li><img src="images/person6.png?{$smarty.const.VERSION}" alt="" /></li>
					<li><img src="images/person2.png?{$smarty.const.VERSION}" alt="" /></li>
					<li><img src="images/person7.png?{$smarty.const.VERSION}" alt="" /></li>
					<li><img src="images/person4.png?{$smarty.const.VERSION}" alt="" /></li>
					<li><img src="images/person9.png?{$smarty.const.VERSION}" alt="" /></li>
					<li><img src="images/person10.png?{$smarty.const.VERSION}" alt="" /></li>
					<li><img src="images/person3.png?{$smarty.const.VERSION}" alt="" /></li>
					<li><img src="images/person5.png?{$smarty.const.VERSION}" alt="" /></li>
				</ul>
		<div class="z_tab">
			<ul>
				<li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/small1.png?{$smarty.const.VERSION}" alt="" /><i></i></li>
				<li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/small2.png?{$smarty.const.VERSION}" alt="" /><i></i></li>
				<li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/small4.png?{$smarty.const.VERSION}" alt="" /><i></i></li>
				<li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/small3.png?{$smarty.const.VERSION}" alt="" /><i></i></li>
				<li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/small5.png?{$smarty.const.VERSION}" alt="" /><i></i></li>
				<li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/small6.png?{$smarty.const.VERSION}" alt="" /><i></i></li>
				<li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/small7.png?{$smarty.const.VERSION}" alt="" /><i></i></li>
				<li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/small8.png?{$smarty.const.VERSION}" alt="" /><i></i></li>
				<li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/small9.png?{$smarty.const.VERSION}" alt="" /><i></i></li>
			</ul>
		</div>
	</div>
</div> -->
<div class="old_friend">
	<div class="wrap">
		<!--<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/sanjiao3.png?{$smarty.const.VERSION}" alt="" class="sanjiao1" />-->
		<div class="chengg"></div>
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/label4.png?{$smarty.const.VERSION}" alt="" class="label3" />
		<!--<div class="active1 active_img" data-type="1">
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/lingqu.png?{$smarty.const.VERSION}" alt="" />
		</div>
		<div class="active2 active_img" data-type="2">
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/lingqu.png?{$smarty.const.VERSION}" alt="" />
		</div>-->
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/chenghao.png?{$smarty.const.VERSION}" alt="" class="o_chenghao" />
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/lglq.png?{$smarty.const.VERSION}" alt="" class="c_lq" />
	</div>
</div> 
<div class="last">
	<div class="wrap">
		<div class="chengg"></div>
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/label5.png?{$smarty.const.VERSION}" alt="" class="label4" />
		<div class="tab_img">
			<ul class="tab_ul">
				<li class="active"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/tab1.png?{$smarty.const.VERSION}" alt="" /></li>
				<li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/tab2.png?{$smarty.const.VERSION}" alt="" /></li>
				<li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/tab3.png?{$smarty.const.VERSION}" alt="" /></li>
				<li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/tab4.png?{$smarty.const.VERSION}" alt="" /></li>
				<li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/tab5.png?{$smarty.const.VERSION}" alt="" /></li>
			</ul>
			<ul class="tab_right">
				{fragment var=i_play code=banner_pcts size=20}
				{if $i_play neq ''}
				{foreach $i_play as $key=>$v}
				<li {if $key eq 0} class="active"{/if}><img src="{$v.thumb}" alt="" /></li>
				{/foreach}
				{/if}
			</ul>
			<div class="clear"></div>
			<!--<ul class="page">
				<li class="active"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pag.png?{$smarty.const.VERSION}" alt="" /><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pag_h.png?{$smarty.const.VERSION}" alt="" /></li>
				<li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pag.png?{$smarty.const.VERSION}" alt="" /><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pag_h.png?{$smarty.const.VERSION}" alt="" /></li>
				<li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pag.png?{$smarty.const.VERSION}" alt="" /><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pag_h.png?{$smarty.const.VERSION}" alt="" /></li>
				<li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pag.png?{$smarty.const.VERSION}" alt="" /><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pag_h.png?{$smarty.const.VERSION}" alt="" /></li>
				<li><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pag.png?{$smarty.const.VERSION}" alt="" /><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pag_h.png?{$smarty.const.VERSION}" alt="" /></li>
			</ul>-->
		</div>
		<div class="c_media">
			<ul>
				<li>
					<div class="chengg"></div>
					<div class="erweima"><img src="{if isset($global.wx_img)}{$global.wx_img}{/if}" alt="" /></div>
				</li>
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/ge.png?{$smarty.const.VERSION}" alt="" class="ge" />
				<li>
					<a href="{if $global.wb_url}{$global.wb_url}{else}javascript:yx_showTips('敬请期待');{/if}" {if $global.wb_url}target="_blank" {/if}></a>
				</li>
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/ge.png?{$smarty.const.VERSION}" alt="" class="ge" />
				<li>
					<a href="{if $global.group_url_one}{$global.group_url_one}{else}javascript:yx_showTips('敬请期待');{/if}" {if $global.group_url_one}target="_blank" {/if}></a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--左侧导航-->
<!--<div class="left_select">-->
	<!--<ul class="swiper-pagination z_float active">
		<li class="swiper-pagination-bullet swiper-pagination-bullet-active" data-index="1">
			<div class="pag_img"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/bn.png?{$smarty.const.VERSION}" alt=""><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/sn.png?{$smarty.const.VERSION}" alt=""></div>
			<p class="pag_p">首页</p>
		</li>
		<li class="swiper-pagination-bullet" data-index="2">
			<div class="pag_img"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/bn.png?{$smarty.const.VERSION}" alt=""><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/sn.png?{$smarty.const.VERSION}" alt=""></div>
			<p class="pag_p">预约有礼</p>
		</li>
		<li class="swiper-pagination-bullet" data-index="3">
			<div class="pag_img"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/bn.png?{$smarty.const.VERSION}" alt=""><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/sn.png?{$smarty.const.VERSION}" alt=""></div>
			<p class="pag_p">称号领取</p>
		</li>
		<li class="swiper-pagination-bullet" data-index="4">
			<div class="pag_img"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/bn.png?{$smarty.const.VERSION}" alt=""><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/sn.png?{$smarty.const.VERSION}" alt=""></div>
			<p class="pag_p">游戏特色</p>
		</li>
	</ul>-->
	<!--<ul class="swiper-pagination swiper-pagination1 z_float">
		<li class="swiper-pagination-bullet swiper-pagination-bullet-active" data-index="1">
			<div class="pag_img"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/c_bn.png?{$smarty.const.VERSION}" alt=""><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/c_sn.png?{$smarty.const.VERSION}" alt=""></div>
			<p class="pag_p">首页</p>
		</li>
		<li class="swiper-pagination-bullet" data-index="2">
			<div class="pag_img"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/c_bn.png?{$smarty.const.VERSION}" alt=""><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/c_sn.png?{$smarty.const.VERSION}" alt=""></div>
			<p class="pag_p">预约有礼</p>
		</li>
		<li class="swiper-pagination-bullet" data-index="3">
			<div class="pag_img"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/c_bn.png?{$smarty.const.VERSION}" alt=""><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/c_sn.png?{$smarty.const.VERSION}" alt=""></div>
			<p class="pag_p">新闻资讯</p>
		</li>
		<li class="swiper-pagination-bullet" data-index="4">
			<div class="pag_img"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/c_bn.png?{$smarty.const.VERSION}" alt=""><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/c_sn.png?{$smarty.const.VERSION}" alt=""></div>
			<p class="pag_p">游戏特色</p>
		</li>
	</ul>-->
<!--</div>-->
<!--悬浮窗下载-->
<div class="float">
	<div class="chengg"></div>
	<div class="c_float">
		<a href="javascript:;" class="ios js_down_ios stat_cover_ios" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/ios.png?{$smarty.const.VERSION}" alt="" /></a>
		<a href="javascript:;" class="and js_down_andriod stat_cover_android"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/and.png?{$smarty.const.VERSION}" alt="" /></a>
		<a href="https://www.taptap.com/app/139039" class="tap stat_cover_tap" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/tap.png?{$smarty.const.VERSION}" alt="" /></a>
		<div class="f_code">
			<img src="{$global.wx_img}" alt="" />
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/light.png?{$smarty.const.VERSION}" alt="" />
		</div>
		<p class="f_title">扫码关注公众号<br/><span>领取活动奖励</span></p>
		<p class="back"></p>
		<div class="op_close">
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/sanjiao.png?{$smarty.const.VERSION}?{$smarty.const.VERSION}" alt="" />
		</div>
	</div>
</div>
<!--弹窗-->
<div class="tc_img">
	<div class="tc_main">
		<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/big1.jpg?{$smarty.const.VERSION}" alt="" class="big_img" />
		<i class="c_close"></i>
	</div>
</div>
<!--登录-->
<div class="login">
	<div class="c_login">
		<i class="close"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/close.png?{$smarty.const.VERSION}" alt="" /></i>
		<div class="chengg"></div>
		<div class="login_body">
			<div class="login_title">
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pic1.png?{$smarty.const.VERSION}" alt="" />
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pic2.png?{$smarty.const.VERSION}" alt="" />
			</div>
			<div class="s_put">
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/ren.png?{$smarty.const.VERSION}" alt="" />
				<input type="tel" placeholder="请输入手机号" class="phone" />
				<i class="wrong"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/wrong.png?{$smarty.const.VERSION}" alt="" /><span>请输入正确的手机号</span></i>
			</div>
			<div class="s_put">
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/suo.png?{$smarty.const.VERSION}" alt="" />
				<input type="text" placeholder="请输入图形验证码" class="t_yzm" />
				<i class="wrong"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/wrong.png?{$smarty.const.VERSION}" alt="" /><span>请输入正确的验证码</span></i>
				<div class="captcha">
					<!--<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/kv.jpg?{$smarty.const.VERSION}?{$smarty.const.VERSION}" alt="" />-->
					<p>点击刷新</p>
				</div>
			</div>
			<div class="s_put">
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/ren.png?{$smarty.const.VERSION}" alt="" />
				<input type="text" placeholder="请输入图形验证码" class="yzm" />
				<i class="wrong"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/wrong.png?{$smarty.const.VERSION}" alt="" /><span>请输入正确的验证码</span></i>
				<input type="button" value="获取验证码" class="g_code" />
			</div>
			<div class="dl submit">
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pic1_h.png?{$smarty.const.VERSION}?{$smarty.const.VERSION}" alt="" />
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pic2_h.png?{$smarty.const.VERSION}?{$smarty.const.VERSION}" alt="" />
			</div>
		</div>
	</div>
</div>
<!--设备选择-->
<div class="select">
	<div class="c_select">
		<i class="close"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/close.png?{$smarty.const.VERSION}" alt="" /></i>
		<div class="chengg"></div>
		<div class="select_body">
			<!--<p class="select_title">设备选择</p>
			<ul class="type_ul">
				<li class="active" data-type="ios"><i><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/y.png?{$smarty.const.VERSION}?{$smarty.const.VERSION}" alt="" /><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/y_h.png?{$smarty.const.VERSION}?{$smarty.const.VERSION}" alt="" /></i><span>IOS</span></li>
				<li data-type="android"><i><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/y.png?{$smarty.const.VERSION}?{$smarty.const.VERSION}" alt="" /><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/y_h.png?{$smarty.const.VERSION}?{$smarty.const.VERSION}" alt="" /></i><span>安卓</span></li>
			</ul>-->
			<p class="s_title f_title">本次为限号删档不计费测试</p>
			<p class="s_title">安卓和iOS用户均可参加</p>
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/pic2_h.png?{$smarty.const.VERSION}" alt="" class="l_yy stat_cover_yy" />
		</div>
	</div>
</div>
<!--预约成功-->
<div class="success">
	<div class="c_success">
		<i class="close"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/close.png?{$smarty.const.VERSION}" alt="" /></i>
		<div class="chengg"></div>
		<div class="success_body">
			<p class="success_title"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/atitle.png?{$smarty.const.VERSION}" alt="" /></p>
			<p class="y_code">预约礼包码：<span class="m_code" id="tc13_copyTextz"></span></p>
			<p class="success_tip">温馨提示：<br />· 游戏上线后，您可以直接用预约账户登录游戏，无需再次注册。<br />· 您可以再次登录《绿色征途手游》官网，查看礼包码。</p>
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/fuzhi.png?{$smarty.const.VERSION}" alt="" class="fuzhi" id="tc13_copyBtnz" data-clipboard-action="copy" data-clipboard-target="#tc13_copyTextz" />
		</div>
	</div>
</div>
<!--领取称号-->
<div class="chenghao">
	<div class="c_chenghao">
		<i class="close"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/close.png?{$smarty.const.VERSION}" alt="" /></i>
		<div class="chengg"></div>
		<div class="chenghao_body">
			<p class="chenghao_title"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/atitle01.png?{$smarty.const.VERSION}" alt="" /></p>
			<ul class="chenghao_ul">
				<li class="active" data-number="2">
					<div class="li_bg" >
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/old_gif.gif?{$smarty.const.VERSION}" alt="" />
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/go.png?{$smarty.const.VERSION}" alt="" />
					</div>
					<p>稀有称号“老江湖”</p>
				</li>
				<li class="" data-number="1">
					<div class="li_bg">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/new_gif.gif?{$smarty.const.VERSION}" alt="" />
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/go.png?{$smarty.const.VERSION}" alt="" />
					</div>
					<p>稀有称号“小萌新”</p>
				</li>
			</ul>
			<div class="list_btn">
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/lglq.png?{$smarty.const.VERSION}" alt="" class="get_name" />
			</div>
		</div>
	</div>
</div>
<!--领取称号确定弹窗-->
<div class="sure_lingqu">
	<div class="c_sure">
		<i class="close"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/close.png?{$smarty.const.VERSION}" alt="" /></i>
		<div class="chengg"></div>
		<div class="sure_body">
			<p class="biaoti"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/biaoti.png?{$smarty.const.VERSION}" alt="" /></p>
			<p class="tt_code">称号兑换码：<span id="tc15_copyTextz"></span></p>
			<p class="sure_tip">温馨提示：<br />· 游戏上线后，您可以直接用预约账户登录游戏，无需再次注册。<br />· 您可以再次登录《绿色征途手游》官网，查看礼包码。</p>
			<!--<div class="intrduce">
				<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/erweima.png{$smarty.const.VERSION}" alt="" class="link" />
				<div class="right_txt">
					<p></p>
					<p></p>
					 <p>公众号领取奖励</p> 
				</div>
			</div>-->
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/fuzhi.png?{$smarty.const.VERSION}" alt="" class="queding" id="tc15_copyBtnz" data-clipboard-action="copy" data-clipboard-target="#tc15_copyTextz" />
		</div>
	</div>
</div>
<!--领取称号成功-->
<div class="l_success">
	<div class="c_l_success">
		<i class="close"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/close.png?{$smarty.const.VERSION}" alt="" /></i>
		<div class="chengg"></div>
		<div class="lq_body">
			<p class="body_title"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/chenggong.png?{$smarty.const.VERSION}" alt="" /></p>
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/icon.png?{$smarty.const.VERSION}" alt="" class="l_icon" />
			<div class="cg_tip">
				<img src="{$global.wx_img}" alt="" />
				<p>您已成功预约，已获得预约礼包并发送至游戏内领取 ，<br />敬请关注官方微信获取更多福利内容</p>
			</div>
<!--			<p class="tip">请勿重复领取</p>-->
			<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/queren.png?{$smarty.const.VERSION}" alt="" class="s_queding" />
		</div>
	</div>
</div>
</body>
{include '../layouts/pc/foot.html'}

</html>