
@size: 100rem;

* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
/*更改input样式*/
input::-webkit-input-placeholder {
  color: rgba(255,255,255,.3);
}
input:-moz-placeholder {
  color: rgba(255,255,255,.3);
}
input::-moz-placeholder {
  color: rgba(255,255,255,.3);
}
input:-ms-input-placeholder {
  color: rgba(255,255,255,.3);
}
/*@media screen and (orientation:landscape){*/
.shadow {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.7);
  z-index: 99999;
}
.main {
  background: url(../images/fc_tk_bg1.png) no-repeat;
  background-size: 100% 100%;
  width: 3.375rem;
  height: 3.02rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1.51rem -1.687rem;
  overflow: hidden;
}
.fc_close {
  width: 0.32rem;
  height: 0.25rem;
  background: url(../images/fc_close.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: 0.02rem;
  top: 0.54rem;
}
.ca_close {
  width: 0.135rem;
  height: 0.145rem;
  background: url(../images/ca_close.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: 0.07rem;
  top: 0.2rem;
}
.dfzj_close {
  width: 0.14rem;
  height: 0.14rem;
  background: url(../images/dfzj_close.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: 0.21rem;
  top: 0.17rem;
}
.page_main {
  width: 8.12rem;
  height: 6.77rem;
  background: url("../images/bimg1.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  margin: auto;
  top: 20/@size;
  left: 0;
  right: 0;
  /*overflow: hidden;*/
}
.ca_main_gift {
  width: 630/@size;
  height: 140/@size;
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
  margin-top: 180/@size;
}
.ca_main_gift span {
  display: inline-block;
  float: left;
  width: 33.3%;
  height: auto;
  /*margin: 0 0.58rem 0 0;*/
}
.ca_main_gift span.ddd_last_gift {
  margin: 0;
}
.ca_main_gift span img {
  width: 1.38rem;
  height: auto;
  display: block;
  line-height: 0;
  margin: 0 auto;
}
.ca_main_gift span i {
  display: block;
  width: 100%;
  height: 0.3rem;
  margin: 10/@size 0 0 0;
  line-height: 0.3rem;
  font-style: normal;
  font-size: 24/@size;
  color: #ebebeb;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.page_main_inp {
  width: 100%;
  height: auto;
}
.page_main_inp div {
  width: 580/@size;
  margin: 0 auto;
  margin-top: 0.25rem;
  overflow: hidden;
}
.page_main_inp div input {
  height: 70/@size;
  line-height: 70/@size;
  font-size: 26/@size;
  text-indent: 0.34rem;
  color: rgba(255,255,255,.3);
  border: 1px solid #2e5e7f;
  background: rgba(25,41,57,.8);
  outline-style: none;
  box-sizing: border-box;
}
.telInp {
  display: block;
  width: 100%;
  margin: 0 auto;
  // background: url("../images/ddd_phone.png") no-repeat;
  // background-size: cover;
}
.codeInp {
  width: 384/@size;
  display: block;
  float: left;
  // background: url("../images/ddd_yz.png") no-repeat;
  // background-size: cover;
  box-sizing: border-box;
}
.page_getCode {
  display: block;
  float: right;
  width: 196/@size;
  height: 70/@size;
  text-align: center;
  line-height: 70/@size;
  color: #0a5293;
  font-size: 26/@size;
  background: url("../images/getMark_bimg.png") no-repeat;
  background-size: cover;
}
.page_tk_get {
  width: 302/@size;
  height: 75/@size;
  margin: 0 auto;
  margin-top: 40/@size;
  background: url("../images/ok_btn.png") no-repeat;
  background-size: cover;
}
.page_close {
  width: 63/@size;
  height: 54/@size;
  position: absolute;
  top: 90/@size;
  right: 0;
  background: url("../images/close_img.png") no-repeat;
  background-size: cover;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.tipShadow {
  /*width: 120px;*/
  height: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  line-height: 30px;
  /*background: url(../images/d.png) repeat;*/
  background: #000;
  margin: -15px -50px;
  display: none;
  font-size: 13px;
  color: #fff;
  text-align: center;
  width: auto;
  padding: 0 10px 0 10px;
}
@media screen and (orientation: portrait) {
  #hengshuping {
    display: block;
  }
  #app {
    display: none;
  }
}
@media screen and (orientation: landscape) {
  #hengshuping {
    display: none;
  }
  #app {
    display: block;
  }
}
.hengshuping {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999999;
  background: #000;
  color: #fff;
}
.hengshuping div {
  width: 100%;
  height: 100%;
  display: table;
}
.hengshuping p {
  font-size: 30px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
