@font-size: 32rem;
.kv {
    width: 100%;
    height: 400/@font-size;
    background: url(../images/n_bg.jpg) no-repeat center;
    background-size: 100% 100%;
    overflow: hidden;
    position: relative;
}

.content {
    width: 100%;
    min-height: 440/@font-size;
    background-color: #251f1e;
    overflow: hidden;
    position: relative;
    .n_content{
        display: block;
        width:100%;
        height:440/@font-size;
        position:absolute;
        left:0;
        top:0;
        z-index:0;
    }
    .label {
        width: 100%;
        height: 61/@font-size;
        margin: 80/@font-size auto 0;
        z-index:1;
        position:relative;
    }
    .c_ul {
        width: 580/@font-size;
        height: 60/@font-size;
        overflow: hidden;
        margin: 59/@font-size auto 0;
        position: relative;
        li {
            font-size: 28/@font-size;
            padding: 0 30/@font-size;
            float: left;
            position: relative;
            line-height: 52/@font-size;
            margin-right: 5/@font-size;
            margin-top: 4/@font-size;
            a {
                color: #ad886d;
            }
            &.active {
                background-color: #5b3e28;
                border-radius: 25/@font-size;
                a {
                    color: #ffc89f;
                }
            }
            &:nth-child(1) {
                margin-left: 70/@font-size;
            }
        }
        .back {
            display: block;
            width: 56/@font-size;
            height: 56/@font-size;
            border: 2px solid #372e28;
            position: absolute;
            left: 0;
            top: 0;
            img {
                display: block;
                width: 16/@font-size;
                height: 23/@font-size;
                margin: 17/@font-size auto 0;
            }
        }
    }
    .n_ul {
        width: 580/@font-size;
        overflow: hidden;
        margin:37/@font-size auto 0;
        z-index:1;
        position:relative;
        ul {
            width: 100%;
            overflow: hidden;
            li {
                width: 100%;
                font-size: 24/@font-size;
                line-height:80/@font-size;
                a {
                    color: #9f948e;
                    em {
                        display: block;
                        float: left;
                    }
                    span {
                        display: block;
                        width: 370/@font-size;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        float: left;
                    }
                    i {
                        font-style: normal;
                        font-size: 18/@font-size;
                        float: right;
                        color: #5b5655;
                    }
                }
            }
        }
    }
}
/*详情页样式*/
.detail_title{
    width:580/@font-size;
    overflow: hidden;
    position:relative;
    margin:0 auto;
    border-bottom:1px solid #3c3736;
    .back{
        width:56/@font-size;
        height:56/@font-size;
        border:2px solid #3b322d;
        float:left;
        margin:70/@font-size 26/@font-size 0 0;
        img{
            display: block;
            width:16/@font-size;
            height:23/@font-size;
            margin:16/@font-size auto 0;
        }
    }
    .detail_tit{
        width:490/@font-size;
        float:left;
        margin-top:65/@font-size;
        h3{
            font-weight:normal;
            font-size:28/@font-size;
            color:#dac7b2;
            line-height:40/@font-size;
        }
        p{
            font-size:22/@font-size;
            color:#725f52;
            line-height:90/@font-size;
            span{
                margin-right:32/@font-size;
            }
        }
    }
}
.detail_body{
    width:580/@font-size;
    margin:0 auto;
    overflow: hidden;
    font-size:22/@font-size;
    color:#9f948e;
    z-index:2;
    position:relative;
    line-height:50/@font-size;
    img{
        display: block;
        max-width:100%;
    }
}
