.kv {
  width: 100%;
  height: 12.5rem;
  background: url(../images/n_bg.jpg) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
}
.content {
  width: 100%;
  min-height: 13.75rem;
  background-color: #251f1e;
  overflow: hidden;
  position: relative;
}
.content .n_content {
  display: block;
  width: 100%;
  height: 13.75rem;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
.content .label {
  width: 100%;
  height: 1.90625rem;
  margin: 2.5rem auto 0;
  z-index: 1;
  position: relative;
}
.content .c_ul {
  width: 18.125rem;
  height: 1.875rem;
  overflow: hidden;
  margin: 1.84375rem auto 0;
  position: relative;
}
.content .c_ul li {
  font-size: 0.875rem;
  padding: 0 0.9375rem;
  float: left;
  position: relative;
  line-height: 1.625rem;
  margin-right: 0.15625rem;
  margin-top: 0.125rem;
}
.content .c_ul li a {
  color: #ad886d;
}
.content .c_ul li.active {
  background-color: #5b3e28;
  border-radius: 0.78125rem;
}
.content .c_ul li.active a {
  color: #ffc89f;
}
.content .c_ul li:nth-child(1) {
  margin-left: 2.7rem;
}
.content .c_ul .back {
  display: block;
  width: 1.75rem;
  height: 1.75rem;
  border: 0.0625rem solid #372e28;
  position: absolute;
  left: 0;
  top: 0;
}
.content .c_ul .back img {
  display: block;
  width: 0.5rem;
  height: 0.71875rem;
  margin: 0.53125rem auto 0;
}
.content .n_ul {
  width: 18.125rem;
  overflow: hidden;
  margin: 1.15625rem auto 0;
  z-index: 1;
  position: relative;
}
.content .n_ul ul {
  width: 100%;
  overflow: hidden;
}
.content .n_ul ul li {
  width: 100%;
  font-size: 0.75rem;
  line-height: 2.5rem;
}
.content .n_ul ul li a {
  color: #9f948e;
}
.content .n_ul ul li a em {
  display: block;
  float: left;
}
.content .n_ul ul li a span {
  display: block;
  width: 11.5625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
}
.content .n_ul ul li a i {
  font-style: normal;
  font-size: 0.5625rem;
  float: right;
  color: #5b5655;
}
/*详情页样式*/
.detail_title {
  width: 18.125rem;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  border-bottom: 1px solid #3c3736;
}
.detail_title .back {
  width: 1.75rem;
  height: 1.75rem;
  border: 2px solid #3b322d;
  float: left;
  margin: 2.1875rem 0.8125rem 0 0;
}
.detail_title .back img {
  display: block;
  width: 0.5rem;
  height: 0.71875rem;
  margin: 0.5rem auto 0;
}
.detail_title .detail_tit {
  width: 15.3125rem;
  float: left;
  margin-top: 2.03125rem;
}
.detail_title .detail_tit h3 {
  font-weight: normal;
  font-size: 0.875rem;
  color: #dac7b2;
  line-height: 1.25rem;
}
.detail_title .detail_tit p {
  font-size: 0.6875rem;
  color: #725f52;
  line-height: 2.8125rem;
}
.detail_title .detail_tit p span {
  margin-right: 1rem;
}
.detail_body {
  width: 18.125rem;
  margin: 0 auto;
  overflow: hidden;
  font-size: 0.6875rem;
  color: #9f948e;
  z-index: 2;
  position: relative;
  line-height: 1.5625rem;
}
.detail_body img {
  display: block;
  max-width: 100%;
}
