*{
	-webkit-overflow-scrolling: touch;
}
.wrap{
	/*height:117.33333333333333rem;*/
	width: 100%;
	height: 100%;
	background: url(../images/bg.jpg) center top no-repeat;
	background-size: 100%;
}
.slideup{
	opacity:0;
}
.slideuped{
	opacity:1!important;
	-webkit-transform: translateY(-1.5rem);
	-moz-transform: translateY(-1.5rem);
	-o-transform: translateY(-1.5rem);
	-ms-transform: translateY(-1.5rem);
	transform: translateY(-1.5rem);
	-webkit-transition: -webkit-transform 0.4s ease-in;
	-moz-transition: -moz-transform 0.4s ease-in;
	-o-transition: -o-transform 0.4s ease-in;
	-ms-transition: -ms-transform 0.4s ease-in;
	transition: transform 0.4s ease-in;
	animation: slideup 0.8s ease-in;
	-moz-animation: slideup 0.8s ease-in;
	-webkit-animation: slideup 0.8s ease-in;
	-o-animation: slideup 0.8s ease-in;
	-ms-animation: slideup 0.8s ease-in;
}
.wrap .kv{
	width:100%;
	height: 28.5rem;
}
.wrap .logo{
	width: 11.386666666666667rem;
	height: 5.8933333333333335rem;
	padding-top: 4.5rem;
	margin-left: 3.2rem;
}
.wrap .time{
	width: 11.493333333333334rem;
	height: 1.0133333333333334rem;
	line-height: 1.0133333333333334rem;
	margin: 0 auto;
	margin-top: 5.5rem;
	font-size: 0.5474666666666667rem;
	color: #ddd;
	text-indent: 2.3rem;
	text-shadow: 0px 0.078125rem 0.026041666666666668rem #951A3C;
	background: url(../images/l_timebg.png);
	background-size: 100% 100%;
}
.wrap .kv .light1{
	z-index: 40;
	position: absolute;
	top: 13.013333333333334rem;
	left: 10.026666666666667rem;
	width:12.266666666666667rem;
	height:7.733333333333333rem;
	margin: -3.625rem auto auto -6rem;
	background: url(../images/l_light1.png);
	background-size: 100% 100%;
}
.one{
	-webkit-animation: light2 1s linear 1 alternate;
	animation: light2 1s linear 1 alternate;
}
.two{
	-webkit-animation: light 1s linear infinite alternate;
	animation: light 1s linear infinite alternate;
}
.wrap .kv .light2{
	z-index: 40;
	position: absolute;
	top: 21.28rem;
	left: 8.613333333333333rem;
	width: 6.826666666666667rem;
	height: 4.1866666666666665rem;
	margin: -2.125rem auto auto -3.4375rem;
	background: url(../images/l_light2.png);
	background-size: 100% 100%;
	-webkit-animation: light 1s ease-out infinite alternate;
	animation: light 1s ease-out infinite alternate;
}
.wrap .kv .light3{
	z-index: 40;
	position: absolute;
	top: 21.28rem;
	left: 8.613333333333333rem;
	width:2.64rem;
	height: 1.6rem;
	margin: 2.0625rem auto auto -3.4375rem;
	background: url(../images/l_light2.png);
	background-size: 100% 100%;
	-webkit-animation: light 1s ease-out infinite alternate;
	animation: light 1s ease-out infinite alternate;
}

.wrap .part1{
	position:relative;
	width:100%;
	height: 9rem;
}
.wrap .part1 .probg{
	position: relative;
	width: 13.733333333333333rem;
	height: 1.12rem;
	margin: 1.2rem auto 1.6rem  auto;
	background: url(../images/l_probg.png);
	background-size: 100% 100%;
}
.wrap .part1 .probg .progress-bar{
	position: absolute;
	top:50%;
	left: 0.32rem;
	width: 0rem;
	height: 0.6666666666666666rem;
	margin-top: -0.333333333333333rem;
	background: url(../images/l_probar.png) right no-repeat;
	transition: width .5s linear;
	-moz-transition: width .5s linear;
	-webkit-transition: width .5s linear;
	-o-transition: width .5s linear;
}
.wrap .part1 .probg .progress-bar .point{
	position: absolute;
	top: 50%;
	right: 0;
	z-index: 5;
	width: 0.64rem;
	height:1.28rem;
	margin: 0.75rem -0.3125rem auto auto;
	background: url(../images/l_point.png);
	background-size: 100% 100%;
}
.wrap .part1 .probg .progress-bar .point_light{
	position: absolute;
	top: 50%;
	right: 0;
	z-index: 5;
	width: 2.2933333333333334rem;
	height:3.3066666666666666rem;
	margin: -1.25rem -1.125rem auto auto;
	background: url(../images/l_pointlight.png);
	background-size: 100% 100%;
	-webkit-animation: light1 1.5s ease-out infinite alternate;
	animation: light1 1.5s ease-out infinite alternate;
}
.wrap .part1 .probg .progress-bar .l_x{
	position: absolute;
	top: 50%;
	right: 0;
	z-index:6;
	width:2.08rem;
	height:2.4rem;
	margin: -1.2rem -1.2rem auto auto;
	background-size: 100% 100%;
	-webkit-animation: xl .8s ease-out infinite alternate;
	animation: xl .8s ease-out infinite alternate;
}
.wrap .part1 .proimg{
	position: absolute;
	right: 1.5rem;
	top: -1rem;
	width: 4.533333333333333rem;
	height: 3.8666666666666667rem;
}
.wrap .part1 .num{
	font-size:0.48rem;
	color:#EAE6E0;
	text-align:center;
}
.wrap .part1 .text_img{
	width:16.186666666666667rem;
	height:0.8533333333333334rem;
	margin:0 auto;
	margin-top:.7rem;
}

.wrap .part2 .label{
	width: 16.106666666666666rem;
	height: 1.0933333333333333rem;
	margin: 0 auto;
	margin-top: 2.2rem;
}

.sign_list{
	position: relative;
	z-index: 40;
	width:16.666666666666668rem;
	height:1.7866666666666666rem;
	margin:0 auto;
	margin-top: .9rem;
	background:url("../images/l_sbg.png");
	background-size:100% 100%;
}
.sign_list h1{
	position: relative;
	display:block;
	height:1.7866666666666666rem;
}
.sign_list h1 .ts{
	display: inline-block;
	width: 4.5rem;
	height: 1.7866666666666666rem;
	line-height: 1.7866666666666666rem;
	margin-left: .5rem;
	font-size: 0.64rem;
	color: #AEAEAE;
	text-align: center;
	float: left;
}
.sign_list h1 .service{
	display: inline-block;
	height: 1.7866666666666666rem;
	line-height: 1.7866666666666666rem;
	font-size: 0.64rem;
	color: #F2D287;
	width: 9rem;
	margin-left: .5rem;
}
.sign_list h1 label {
	display: block;
	width: 1.0133333333333334rem;
	height: 1.0133333333333334rem;
	position: absolute;
	margin: auto;
	top: 50%;
	right: .9rem;
	margin-top: -0.5066666666666665rem;
	background: url(../images/l_spoint.png) no-repeat;
	background-size: 100% 100%;
}
.sign_list>div{
	height: 0;
	position: absolute;
	z-index:40;
	left: -.65rem;
	width: 17.973333333333333rem;
	top: 2rem;
	background: url(../images/l_border.png);
	background-size: 100% 100%;
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	overflow: hidden;
}
.sign_list>div.show{
	height:13.093333333333334rem;
}
.sign_list .li_scroll{
	position: absolute;
	top: 1rem;
	left: 0;
	bottom: 0.4497751124437781rem;
	width: 98%;
	overflow: auto;
	/*-webkit-overflow-scrolling: touch;*/
}
.sign_list .li_scroll::-webkit-scrollbar-track-piece {
	background-color:transparent;
	border:transparent;
}
.sign_list .li_scroll::-webkit-scrollbar {
	width: 0.96rem;
	height: 0.38980509745127434rem;
}
.sign_list .li_scroll::-webkit-scrollbar-thumb {
	background-color:#3B1516;
	background-clip: padding-box;
	min-height: 0.8395802098950524rem;
}
.sign_list .li_scroll::-webkit-scrollbar-thumb:hover {
	background-color:#3B1516;
}
.sign_list ul {
	width: 95%;
	margin: 0 5%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	overflow: hidden;
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
}
.sign_list ul li {
	position: relative;
	font-size:0.8rem;
	line-height:1.8666666666666667rem;
	height:1.8666666666666667rem;
	text-indent: 1.1rem;
	box-sizing: border-box;
	color: #D8D8D8;
	text-align:center;
	transition: all .2s linear;
	-webkit-transition: all .2s linear;

}
.sign_list ul li.active{
	background:url("../images/l_hover.png");
	background-size:100% 100%;
}
.sign_list ul li:after{
	position:absolute;
	left:50%;
	bottom:0;
	display:inline-block;
	content:"";
	width:8.693333333333333rem;
	height:1px;
	margin-left:-4.346666666666667rem;
	background:url("../images/l_border1.png");
	background-size:100% 100%;
}
.check_btn{
	width:7.173333333333333rem;
	height:1.8666666666666667rem;
	margin:1rem auto .9rem auto;
	background:url("../images/l_checkbtn.png");
	background-size:100% 100%;
}
.vote_box{
	width: 96.5%;
	max-height: 18.15rem;
	overflow: auto;
}
.vote_box::-webkit-scrollbar-track-piece {
	background-color:transparent;
	border:transparent;
}
.vote_box::-webkit-scrollbar {
	width: 0.96rem;
	height: 0.38980509745127434rem;
}
.vote_box::-webkit-scrollbar-thumb {
	background-color:#3B1516;
	background-clip: padding-box;
	min-height: 0.8395802098950524rem;
}
.vote_box::-webkit-scrollbar-thumb:hover {
	background-color:#3B1516;
}
.vote_box .vote{
	position:relative;
	/*width:16.826666666666668rem;*/
	width:15.226666666666668rem;
	height:4.266666666666667rem;
	padding:0 .8rem;
	margin:0  0.5333333333333333rem 0.26666666666666666rem auto;
	background:url("../images/l_border2.png");
	background-size:100% 100%;
}
.vote_box .vote>span{
	position:relative;
	display: inline-block;
	font-size: 1rem;
	color: #EBE7E0;
	margin-top: .6rem;
	float:left;
}
.vote_box .vote>span:nth-of-type(2){
	margin-left: 0.5rem;
	position:absolute;
	left:50%;
	transform:translate(-50%);
	-webkit-transform:translate(-50%);
}
.vote_box .vote>span:last-of-type{float:right;}
.vote_box .vote>span .check{
	position: absolute;
	bottom: -1.5rem;
	left: 50%;
	margin-left: -2.413333333333334rem;
	width: 4.826666666666667rem;
	height: 1.1466666666666667rem;
	background: url(../images/l_check.png);
	background-size: 100% 100%;
}
.vote_box .price_no{
	font-size: .8rem;
	color:#D2C59E ;
	text-align: center;
	line-height: 6rem;
}
.part3{
	margin-top:2.7rem;
	padding:0 1.25rem;
	height: 39.0625rem;
}
.part3 .info{
	margin-bottom:1.4rem;
}
.part3 .info .title{
	font-size:0.6rem;
	color:#D2A65E;
}
.part3 .info .sub_info{
	font-size:0.64rem;
	color: #B2A899;
	line-height: 1.34rem;
}
.part3 .info:last-of-type{
	margin-bottom:0;
}
.go_top{
	width:4.96rem;
	height:2rem;
	margin:0 auto;
	margin-bottom:.5rem;
	background:url("../images/l_top.png");
	background-size:100% 100%;
}

/*弹框*/
.hidden{display:none;}
.co_tips {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.9);
	position: fixed;
	z-index: 9999999;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.co_tips .co_con {
	position: relative;
	top: 50%;
	width: 17.973333333333333rem;
	height:11.2rem;
	margin: 0 auto;
	background: url(../images/tipsbg1.png) no-repeat;
	background-size: 100% 100%;
	transform:  translate(0,-50%);
	-ms-transform:  translate(0,-50%);	/* IE 9 */
	-webkit-transform:  translate(0,-50%);	/* Safari and Chrome */
	-o-transform:  translate(0,-50%);		/* Opera */
	-moz-transform:  translate(0,-50%);		/* Firefox */
}
.co_tips .co_con .co_tips_title {
	width: 14.48rem;
	height: 1.3066666666666666rem;
	margin: 0 auto;
	margin-bottom: 1rem;
	padding-top: 1.4rem;
}
.co_tips .co_con .co_tips_close {
	z-index: 20;
	position: absolute;
	right: .1rem;
	width: 1.1466666666666667rem;
	height: 1.1466666666666667rem;
	top: -1.5rem;
}
/*投票成功*/
.co_tips.co_tips_success .code_txt{
	margin-top: 2.2rem;
	margin-bottom:0.26666666666666666rem;
	font-size:0.64rem;
	color:#F2D287;
	text-align:center;
}
.co_tips.co_tips_success .line{
	width:10.16rem;
	height:1px;
	margin:0 auto;
	background:url("../images/l_tipsline.png");
	background-size:100% 100%;
}
.co_tips.co_tips_success .code_num{
	position:relative;
	width:100%;
	height:1.7866666666666666rem;
	line-height:1.7866666666666666rem;
	font-size:0.7410666666666667rem;
	font-weight:600;
	color:#E0D9C7;
	text-align: center;
}
.co_tips.co_tips_success .code_num:before{
	display:inline-block;
	position:absolute;
	left:50%;
	top:0;
	content:"";
	width:10.853333333333333rem;
	height:1.7866666666666666rem;
	margin-left:-5.426666666666667rem;
	background:url("../images/l_codebg.png");
	background-size:100% 100%;
}
.co_tips.co_tips_success .ts{
	margin-top:0.26666666666666666rem;
	font-size:0.48rem;
	color:#8B8981;
	text-align:center;
}
.co_tips.co_tips_success .ts.ts1{
	position: absolute;
	width: 100%;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.co_tips.co_tips_success .co_tips_btn{
	position: absolute;
	width:7.173333333333333rem;
	height:1.8666666666666667rem;
	left: 50%;
	bottom: -0.8rem;
	margin-left:-3.5866666666666664rem;
	background: url(../images/l_tipsbtn.png);
	background-size: 100% 100%;
}
/*排名*/
.co_tips.co_tips_top .co_con {
	height:13.333333333333334rem;
	background: url(../images/tipsbg2.png) no-repeat;
	background-size: 100% 100%;
}
.co_tips.co_tips_top .top_title{
	width: 16.933333333333334rem;
	height: 1.8666666666666667rem;
	margin: 0 auto;
	margin-top: 1.8rem;
}
.co_tips.co_tips_top .list_box{
	margin-top: .5rem;
	width:95%;
	height: 4.48rem;
	overflow: auto;
}
.co_tips.co_tips_top .list{
	position: relative;
	font-size: 0.64rem;
	color: #F2D287;
	padding: 0 0.8rem;
	height:1.4933333333333334rem;
	line-height: 1.4933333333333334rem;
}
.co_tips.co_tips_top .list:after{
	position:absolute;
	left:50%;
	bottom:0;
	display:inline-block;
	content:"";
	height:1px;
	width:12.533333333333333rem;
	margin-left:-6.266666666666667rem;
	background:url("../images/l_tipsline1.png");
	background-size:100% 100%;
}
.co_tips.co_tips_top .list>span{
	display:inline-block;
}
.co_tips.co_tips_top .list>span:first-of-type{
	width:3.2rem;
	display: inline-block;
	text-align: center;
	text-indent: 0.8rem;
}
.co_tips.co_tips_top .list>span:nth-of-type(2){
	width: 4.8rem;
	display: inline-block;
	text-align: center;
}
.co_tips.co_tips_top .list>span:nth-of-type(3){
	display: inline-block;
	width: 3.2rem;
	text-align: center;
}
.co_tips.co_tips_top .list>span:nth-of-type(4){
	width:3.466666666666667rem;
	display: inline-block;
	text-align: center;
}
.co_tips.co_tips_top .co_tips_btn{
	position: absolute;
	width:7.173333333333333rem;
	height:1.8666666666666667rem;
	left: 50%;
	bottom: -0.8rem;
	margin-left:-3.5866666666666664rem;
	background: url(../images/l_tipsbtn1.png);
	background-size: 100% 100%;
}

@keyframes light{0%{transform: scale(1.5);opacity:1; }50% {transform: scale(1.3);opacity:.9;}100% {transform: scale(1);opacity:.8;}}
@-webkit-keyframes light{0%{transform: scale(1.5);opacity:1; }50% {transform: scale(1.3);opacity:.9;}100% {transform: scale(1);opacity:.8;}}
@-moz-keyframes light{0%{transform: scale(1.5);opacity:1; }50% {transform: scale(1.3);opacity:.9;}100% {transform: scale(1);opacity:.8;}}
@-o-keyframes light{0%{transform: scale(1.5);opacity:1; }50% {transform: scale(1.3);opacity:.9;}100% {transform: scale(1);opacity:.8;}}
@-ms-keyframes light{0%{transform: scale(1.5);opacity:1; }50% {transform: scale(1.3);opacity:.9;}100% {transform: scale(1);opacity:.8;}}

@keyframes light1{0%{transform: scale(1.1);opacity:1; }50% {transform: scale(1);opacity:.9;}100% {transform: scale(.9);opacity:.8;}}
@-webkit-keyframes light1{0%{transform: scale(1.1);opacity:1; }50% {transform: scale(1);opacity:.9;}100% {transform: scale(.9);opacity:.8;}}
@-moz-keyframes light1{0%{transform: scale(1.1);opacity:1; }50% {transform: scale(1);opacity:.9;}100% {transform: scale(.9);opacity:.8;}}
@-o-keyframes light1{0%{transform: scale(1.1);opacity:1; }50% {transform: scale(1);opacity:.9;}100% {transform: scale(.9);opacity:.8;}}
@-ms-keyframes light1{0%{transform: scale(1.1);opacity:1; }50% {transform: scale(1);opacity:.9;}100% {transform: scale(.9);opacity:.8;}}

@keyframes light2{0%{transform: scale(1.5) rotate(0deg);opacity:1; }50% {transform: scale(1.3) rotate(180deg);opacity:.9;}100% {transform: scale(1) rotate(360deg);opacity:.8;}}
@-webkit-keyframes light2{0%{transform: scale(1.5) rotate(0deg);opacity:1; }50% {transform: scale(1.3) rotate(180deg);opacity:.9;}100% {transform: scale(1) rotate(360deg);opacity:.8;}}
@-moz-keyframes light2{0%{transform: scale(1.5) rotate(0deg);opacity:1; }50% {transform: scale(1.3) rotate(180deg);opacity:.9;}100% {transform: scale(1) rotate(360deg);opacity:.8;}}
@-o-keyframes light2{0%{transform: scale(1.5) rotate(0deg);opacity:1; }50% {transform: scale(1.3) rotate(180deg);opacity:.9;}100% {transform: scale(1) rotate(360deg);opacity:.8;}}
@-ms-keyframes light2{0%{transform: scale(1.5) rotate(0deg);opacity:1; }50% {transform: scale(1.3) rotate(180deg);opacity:.9;}100% {transform: scale(1) rotate(360deg);opacity:.8;}}


@keyframes xl{0%{background: url(../images/l_x1.png);background-size: 100% 100%;}50% {background: url(../images/l_x2.png);background-size: 100% 100%;}100% {background: url(../images/l_x3.png);background-size: 100% 100%;}}
@-webkit-keyframes xl{0%{background: url(../images/l_x1.png);background-size: 100% 100%;}50% {background: url(../images/l_x2.png);background-size: 100% 100%;}100% {background: url(../images/l_x3.png);background-size: 100% 100%;}}
@-moz-keyframes xl{0%{background: url(../images/l_x1.png);background-size: 100% 100%;}50% {background: url(../images/l_x2.png);background-size: 100% 100%;}100% {background: url(../images/l_x3.png);background-size: 100% 100%;}}
@-o-keyframes xl{0%{background: url(../images/l_x1.png);background-size: 100% 100%;}50% {background: url(../images/l_x2.png);background-size: 100% 100%;}100% {background: url(../images/l_x3.png);background-size: 100% 100%;}}
@-ms-keyframes xl{0%{background: url(../images/l_x1.png);background-size: 100% 100%;}50% {background: url(../images/l_x2.png);background-size: 100% 100%;}100% {background: url(../images/l_x3.png);background-size: 100% 100%;}}

@keyframes slideup{0% {opacity: 0;}50% {opacity: 0.5;}100% {opacity: 1;}}
@-webkit-keyframes slideup{0% {opacity: 0;}50% {opacity: 0.5;}100% {opacity: 1;}}
@-moz-keyframes slideup{0% {opacity: 0;}50% {opacity: 0.5;}100% {opacity: 1;}}
@-o-keyframes slideup{0% {opacity: 0;}50% {opacity: 0.5;}100% {opacity: 1;}}
@-ms-keyframes slideup{0% {opacity: 0;}50% {opacity: 0.5;}100% {opacity: 1;}}
