*{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
.mask{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.8);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	display: none;
}


.index-wrap{
	.page1-wrap{
		width: 100%;
		height: 27.125rem;
		background: url(../images/page1-bg.jpg) no-repeat;
		background-size: 100% 100%;
		position: relative;
		overflow: hidden;
		.logo{
			width: 7.09375rem;
			height: 4.5rem;
			position: absolute;
			top: 0.40625rem;
			left: 1.125rem;
			z-index: 10;
			img{
				width: 100%;
				height: 100%;
			}
		}
		.dinosaur{
			width: 6.625rem;
			height: 8.25rem;
			background: url(../images/dinosaur.png) no-repeat;
			background-size: 100% 100%;
			position: absolute;
			top: -3.1875rem;
			right: -0.1875rem;
		}
		.fire{
			width: 20.875rem;
			height: 16.59375rem;
			background: url(../images/fire.png) no-repeat;
			background-size: 100% 100%;
			position: absolute;
			top: -0.3rem;
    		right: 2.7rem;
		}
		.person{
			width: 16.90625rem;
			height: 20.46875rem;
			background: url(../images/person.png) no-repeat;
			background-size: 100% 100%;
			position: absolute;
			top: 6.0625rem;
			left: 0.28125rem;
			z-index: 11;
		}
		.prize-box{
			width: 100%;
			height: 21.125rem;
			margin-top: 5.625rem;
			position: relative;
			z-index: 20;
			ul{
				li{
					width: 4.65625rem;
					height: 4.65625rem;
					position: absolute;
					list-style: none;
					img{
						display: block;
					}
					&:nth-of-type(1){
						width: 4.71875rem;
						height: 4.125rem;
						top: 3.6875rem;
						right: 0.15625rem;
						background: url(../images/prize-bg1.png) no-repeat;
						background-size: 100% 100%;
						&.active{
							background: url(../images/prize-bg1-active.png) no-repeat;
							background-size: 100% 100%;
						}
						img{
							width: 3.40625rem;
							height: 3.21875rem;
							margin: 0.53125rem auto 0;
						}
					}
					&:nth-of-type(2){
						width: 4.625rem;
						height: 4.28125rem;
						top: 8.96875rem;
						right: 0.03125rem;
						background: url(../images/prize-bg2.png) no-repeat;
						background-size: 100% 100%;
						&.active{
							background: url(../images/prize-bg2-active.png) no-repeat;
							background-size: 100% 100%;
						}
						img{
							width: 3.25rem;
							height: 3.375rem;
							margin: 0.6875rem auto 0;
						}
					}
					&:nth-of-type(3){
						width: 5.15625rem;
						height: 5.03125rem;
						top: 13.84375rem;
						right: 0.6875rem;
						background: url(../images/prize-bg3.png) no-repeat;
						background-size: 100% 100%;
						&.active{
							background: url(../images/prize-bg3-active.png) no-repeat;
							background-size: 100% 100%;
						}
						img{
							width: 2.78125rem;
							height: 3.40625rem;
							margin: 0.6875rem auto 0;
						}
					}
					&:nth-of-type(4){
						width: 4.90625rem;
						height: 5.25rem;
						top: 15.9375rem;
						right:7.375rem;
						background: url(../images/prize-bg4.png) no-repeat;
						background-size: 100% 100%;
						&.active{
							background: url(../images/prize-bg4-active.png) no-repeat;
							background-size: 100% 100%;
						}
						img{
							width: 3.09375rem;
							height: 3.15625rem;
							margin: 0.78125rem auto 0;
						}
					}
					&:nth-of-type(5){
						width: 5.78125rem;
						height: 5.78125rem;
						top: 13.0625rem;
						left: 0.15625rem;
						background: url(../images/prize-bg5.png) no-repeat;
						background-size: 100% 100%;
						&.active{
							background: url(../images/prize-bg5-active.png) no-repeat;
							background-size: 100% 100%;
						}
						img{
							width: 3.15625rem;
							height: 3.53125rem;
							margin: 1.0rem auto 0;
						}
					}
					&:nth-of-type(6){
						width: 5.6875rem;
						height: 5.21875rem;
						top: 7.125rem;
						left: 0.03125rem;
						background: url(../images/prize-bg6.png) no-repeat;
						background-size: 100% 100%;
						&.active{
							background: url(../images/prize-bg6-active.png) no-repeat;
							background-size: 100% 100%;
						}
						img{
							width: 2.78125rem;
							height: 3.4375rem;
							margin: 0.78125rem auto 0;
						}
					}
					&:nth-of-type(7){
						width: 4.65625rem;
						height: 4.65625rem;
						top: 0;
						left: 1.25rem;
						background: url(../images/prize-bg7.png) no-repeat;
						background-size: 100% 100%;
						&.active{
							background: url(../images/prize-bg7-active.png) no-repeat;
							background-size: 100% 100%;
						}
						img{
							width: 3.0625rem;
							height: 3.1875rem;
							margin: 0.9375rem auto 0;
						}
					}
				}
			}
			.prize-btn{
				width: 8.0rem;
				height: 8.09375rem;
				background: url(../images/prize-btn.png) no-repeat;
				background-size: 100% 100%;
				position: absolute;
				top: 7.0rem;
				left: 6.8125rem;
				z-index: 30;
				&.active{
					background: url(../images/prize-btn-active.png) no-repeat;
					background-size: 100% 100%;
				}
			}
		}
	}
	.page2-wrap{
		width: 100%;
		height: 38.125rem;
		background: url(../images/page2-bg.png) no-repeat;
		background-size: 100% 100%;
		position: absolute;
		z-index: 10;
		margin-top: -2.4rem;
		.person{
			width: 4.90625rem;
			height: 7.53125rem;
			background: url(../images/page2-person.png) no-repeat;
			background-size: 100% 100%;
			position: absolute;
			top: 1.5625rem;
			left: 1.09375rem;
			z-index: 10;
		}
		.box{
			width: 6.59375rem;
			height: 3.71875rem;
			background: url(../images/page2-box.png) no-repeat;
			background-size: 100% 100%;
			position: absolute;
			top: 4.3625rem;
			right: 0.13125rem;
			z-index: 10;
		}
		.login-btn{
			width: 9.5rem;
			height: 3.21875rem;
			background: url(../images/login-btn.png) no-repeat;
			background-size: 100% 100%;
			position: absolute;
			top: 3.0rem;
			left: 5.25rem;	
			display: none;		
		}
		.login-alr{
			position: absolute;
			top: 4.0rem;
			left: 6.25rem;	
			p{
				font-size: 0.75rem;
				color:#000;
				span{
					color:#ff0000;
					display: inline-block;
					margin: 0 0.3125rem 0 0.3125rem;
				}
				i{
					color:#5d200c;
					display: inline-block;
					border-bottom:1px solid #85500a;
					font-style: normal;
				}
			}
		}
		.rule-title{
			width: 5.65625rem;
			height: 1.21875rem;
			background: url(../images/rule-title.png) no-repeat;
			background-size: 100% 100%;
			margin: 10.34375rem auto 0;
		}
		.rule-con{
			margin-top: 0.9375rem;
			i{
				width: 0.875rem;
				height: 1.0rem;
				display: inline-block;
				background: url(../images/page2-icon.png) no-repeat;
				background-size: 100% 100%;
				text-align: center;
				line-height: 1.0rem;
				margin-right: 0.3125rem;
				color:#fff;
				font-style: normal;
				font-size: 0.5625rem;
			}
			p{
				padding: 0 1.25rem 0 1.25rem;
				line-height: 1.5rem;
				font-size: 0.75rem;
				color:#995d23;
			}
		}
		.beauty{
			width: 100%;
			height: 17.375rem;
			background: url(../images/beauty.png) no-repeat;
			background-size: 100% 100%;
			position: absolute;
			bottom: 0;
			left: 0;
		}
		.go-website{
			width: 9.375rem;
			height: 3.1875rem;
			background: url(../images/go-website.png) no-repeat;
			background-size: 100% 100%;
			position: absolute;
			bottom: 2.5625rem;
			left: 5.25rem;
		}
	}
}
.login-main,.receive-gift-main{
	width: 17.15625rem;
	height: 22.8125rem;
	background: url(../images/login-mask.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -11.96875rem -8.578125rem;
	.close{
		width: 2.34375rem;
		height: 2.34375rem;
		background: url(../images/close.png) no-repeat;
		background-size: 100% 100%;
		position: absolute;
		top: 1.875rem;
		right: 0.9375rem;
	}
	.title{
		width: 6.46875rem;
		height: 2.59375rem;
		background: url(../images/login-mask-title.png) no-repeat;
		background-size: 100% 100%;
		position: absolute;
		top: 1.65625rem;
		left: 6.5625rem;
	}
	.platform{
		width: 12.1875rem;
		margin: 7.5rem auto 1.625rem;
		overflow: hidden;
		>div{
			// width: 1.34375rem;
			height: 1.25rem;
			float: left;
			margin-right: 1.875rem;
			font-size: 0.75rem;
			color:#93851d;
			line-height: 1.25rem;
			&:nth-of-type(2){
				margin-right: 0;
			}
			i{
				display: block;
				float: left;
				margin-right: 0.3125rem;
				width: 1.34375rem;
				height: 1.25rem;
				background: url(../images/platform-icon.png) no-repeat;
				background-size: 100% 100%;
			}
			&.active{
				color:#6c3013;
				i{
					background: url(../images/platform-icon-active.png) no-repeat;
					background-size: 100% 100%;
				}
			}
		}
	}
	.inp{
		width: 12.21875rem;
		height: 2.65625rem;
		background: url(../images/area-bg.png) no-repeat;
		background-size: 100% 100%;
		margin: 0 auto 0.625rem;
		color:#6c3013;
		font-size: 0.9375rem;
		padding-left: 0.84375rem;
		line-height:2.35625rem;
		box-sizing: border-box;
		border: 0;
		outline: none;
		display: block;
	}
	.area-box{
		width: 12.21875rem;
		margin: 0 auto;
		position: relative;
		.area-pull{
			width: 11.8rem;
			height: 5rem;
			background: #fff;
			padding: 0 0.625rem 0.625rem 0;
			position: absolute;
			top:  2.55625rem;
			left: 0;
			border-radius:0.3rem;
			display: none;
			li{
				list-style: none;
				height: 1.875rem;
				line-height: 1.875rem;
				padding-left: 0.84375rem;
				box-sizing: border-box;
				color:#6c3013;
				font-size: 0.75rem;
			}
		}
	}
	.roleid .inp{
		color:#d4c5af;
	}
	.img1{
		width: 5.5625rem;
		height: 6.25rem;
		background: url(../images/login-img1.png) no-repeat;
		background-size: 100% 100%;
		position: absolute;
		bottom: -1.2rem;
    	right: -.925rem;
	}
	.login-mask-btn{
		width: 13.1875rem;
		height: 3.3125rem;
		background: url(../images/login-mask-btn.png) no-repeat;
		background-size: 100% 100%;
		margin: 1.625rem auto 0;
	}
}
.receive-gift-mask{
	.receive-gift-main{
		height: 21.46875rem;
		width: 16.3125rem;
		background: url(../images/gift-mask.png) no-repeat;
		background-size: 100% 100%;
		margin: -10.734375rem -8.15625rem;
		.close{
			right: 0;
		}
		.title{
			width: 6.78125rem;
			height: 2.65625rem;
			background: url(../images/Congratulations.png) no-repeat;
			background-size: 100% 100%;
			position: absolute;
			top: 1.65625rem;
			left: 6.5625rem;
		}
		.congratulate{
			margin:6.78125rem auto 0.9375rem;
			text-align: center;
			font-size: 1.125rem;
			color:#683512;
		}
		img{
			width: 3.0rem;
			height: 1.875rem;
			margin:0 auto 0.46875rem;
			display: block; 
		}
		.name{
			font-size: 0.75rem;
			margin-bottom: 1.25rem;
			text-align: center;
		}
		.tips{
			line-height: 0.78125rem;
			color:#926c48;
			font-size: 0.625rem;
			width: 11.5625rem;
			margin: 0 auto 1.25rem;
		}
		.receive-btn{
			width: 13.1875rem;
			height: 3.3125rem;
			background: url(../images/receive-btn.png) no-repeat;
			background-size: 100% 100%;
			margin: 0 auto;
		}
		.img2{
			width: 4.90625rem;
			height: 7.53125rem;
			background: url(../images/page2-person.png) no-repeat;
			background-size: 100% 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	
}