.bd_1{
	border-bottom: 1px solid #eeeeee;
	margin-bottom:20px;
}
.question{
	line-height: 43px;
	color:#23a7ff;
	font-size: 15px;
	margin:0;
	font-weight: bolder;
}
.mr_8{
	margin-right:8px;
	vertical-align: top;
	margin-top: 13px;
}
.answer{
	line-height: 43px;
	color:#1e1e1e;
	font-size: 13px;
	margin:0;
}
.fewm{
	color:#0759ff;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	position: relative;
}
.fewm img{
	width:111px;
	height:126px;
	position: absolute;
	left:50%;
	transform:translateX(-50%);
	top:-126px;
	transition:all 1s linear;
	display: none;
}

