html,body{padding: 0;margin: 0;background: #000}
a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-tap-highlight-color: rgba(0, 0, 0, 0)
}
.b1{
	width: 20.0rem;
	height: 49.71875rem;
	background: url(../images/stage1_02.jpg) no-repeat;
	background-size: 100% 100%;
}
.b2{
	width: 20.0rem;
	height: 51.25rem;
	background: url(../images/stage1_03.jpg) no-repeat;
	background-size: 100% 100%;
}
.b3{
	width: 20.0rem;
	height: 44.59375rem;
	background: url(../images/stage1_04.jpg) no-repeat;
	background-size: 100% 100%;
}
.b4{
	width: 20.0rem;
	height: 63.65625rem;
	background: url(../images/stage1_05.jpg) no-repeat;
	background-size: 100% 100%;
}

.b5{
	width: 20.0rem;
	height: 49.65625rem;
	background: url(../images/stage1_06.jpg) no-repeat;
	background-size: 100% 100%;
}
.b6{
	width: 20.0rem;
	height: 56.28125rem;
	background: url(../images/stage1_07.jpg) no-repeat;
	background-size: 100% 100%;
}
.b7{
	width: 20.0rem;
	height: 78.96875rem;
	background: url(../images/stage1_08.jpg) no-repeat;
	background-size: 100% 100%;
}
.b8{
	width: 20.0rem;
	height: 54.46875rem;
	background: url(../images/stage1_09.jpg) no-repeat;
	background-size: 100% 100%;
}
.b9{
	width: 20.0rem;
	height: 59.6875rem;
	background: url(../images/stage1_10.jpg) no-repeat;
	background-size: 100% 100%;
}
.b10{
	width: 20.0rem;
	height:48.03125rem;
	background: url(../images/stage1_11.jpg) no-repeat;
	background-size: 100% 100%;
}
.b11{
	width: 20.0rem;
	height: 74.15625rem;
	background: url(../images/stage1_12.jpg) no-repeat;
	background-size: 100% 100%;
}
.b12{
	width: 20.0rem;
	height: 28.5625rem;
	background: url(../images/stage1_13.jpg) no-repeat;
	background-size: 100% 100%;
}
.b13{
	width: 20.0rem;
	height:37.4375rem;
	background: url(../images/stage1_14.jpg) no-repeat;
	background-size: 100% 100%;
}
.b14{
	width: 20.0rem;
	height: 15.53125rem;
	background: url(../images/stage1_15.jpg?2) no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.c1{
	width: 20.0rem;
	height: 49.15625rem;
	background: url(../images/stage2_02.jpg) no-repeat;
	background-size: 100% 100%;
}
.c2{
	width: 20.0rem;
	height: 55.375rem;
	background: url(../images/stage2_03.jpg) no-repeat;
	background-size: 100% 100%;
}
.c3{
	width: 20.0rem;
	height: 53.3125rem;
	background: url(../images/stage2_04.jpg) no-repeat;
	background-size: 100% 100%;
}
.c4{
	width: 20.0rem;
	height: 71.78125rem;
	background: url(../images/stage2_05.jpg) no-repeat;
	background-size: 100% 100%;
}
.c5{
	width: 20.0rem;
	height: 59.71875rem;
	background: url(../images/stage2_06.jpg) no-repeat;
	background-size: 100% 100%;
}
.c6{
	width: 20.0rem;
	height: 75.5rem;
	background: url(../images/stage2_07.jpg) no-repeat;
	background-size: 100% 100%;
}
.c7{
	width: 20.0rem;
	height: 81.75rem;
	background: url(../images/stage2_08.jpg) no-repeat;
	background-size: 100% 100%;
}
.c8{
	width: 20.0rem;
	height: 75.125rem;
	background: url(../images/stage2_09.jpg) no-repeat;
	background-size: 100% 100%;
}
.c9{
	width: 20.0rem;
	height: 60.65625rem;
	background: url(../images/stage2_10.jpg) no-repeat;
	background-size: 100% 100%;
}
.c10{
	width: 20.0rem;
	height: 73.53125rem;
	background: url(../images/stage2_11.jpg) no-repeat;
	background-size: 100% 100%;
}
.c11{
	width: 20.0rem;
	height: 93.75rem;
	background: url(../images/stage2_12.jpg) no-repeat;
	background-size: 100% 100%;
}
.c12{
	width: 20.0rem;
	height: 64.53125rem;
	background: url(../images/stage2_13.jpg) no-repeat;
	background-size: 100% 100%;
}
.c13{
	width: 20.0rem;
	height: 25.09375rem;
	background: url(../images/stage2_14.jpg) no-repeat;
	background-size: 100% 100%;
}
.c14{
	width: 20.0rem;
	height: 16.75rem;
	background: url(../images/stage2_15.jpg?2) no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.d1{
	width: 20.0rem;
	height: 54.4375rem;
	background: url(../images/stage3_02.jpg) no-repeat;
	background-size: 100% 100%;
}
.d2{
	width: 20.0rem;
	height: 76.125rem;
	background: url(../images/stage3_03.jpg) no-repeat;
	background-size: 100% 100%;
}
.d3{
	width: 20.0rem;
	height: 43.90625rem;
	background: url(../images/stage3_04.jpg) no-repeat;
	background-size: 100% 100%;
}
.d4{
	width: 20.0rem;
	height: 63.65625rem;
	background: url(../images/stage3_05.jpg) no-repeat;
	background-size: 100% 100%;
}
.d5{
	width: 20.0rem;
	height: 58.21875rem;
	background: url(../images/stage3_06.jpg) no-repeat;
	background-size: 100% 100%;
}
.d6{
	width: 20.0rem;
	height: 74.84375rem;
	background: url(../images/stage3_07.jpg) no-repeat;
	background-size: 100% 100%;
}
.d7{
	width: 20.0rem;
	height: 51.09375rem;
	background: url(../images/stage3_08.jpg) no-repeat;
	background-size: 100% 100%;
}
.d8{
	width: 20.0rem;
	height: 48.71875rem;
	background: url(../images/stage3_09.jpg) no-repeat;
	background-size: 100% 100%;
}
.d9{
	width: 20.0rem;
	height: 58.5625rem;
	background: url(../images/stage3_10.jpg) no-repeat;
	background-size: 100% 100%;
}
.d10{
	width: 20.0rem;
	height: 26.15625rem;
	background: url(../images/stage3_11.jpg?2) no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.music_play {
    position: fixed; !important;
    width: 1.8125rem;
    height: 1.84375rem;
    right: 0.53333333rem;
    bottom: 0.50666667rem;
    transition: all .3s;
    -webkit-transition: all .3s;
    animation: xuanzhuan 6s linear infinite;
    -webkit-animation: xuanzhuan 6s linear infinite;
    z-index: 99;
}
.music_play {
     width: 1.8125rem; !important;
    height: 1.84375rem; !important;
    right: 0.866667rem !important;
    bottom: 0.5rem !important;
}
.music_pause {
    position: fixed;
     width: 1.8125rem; !important;
    height: 1.84375rem; !important;
    right: 0.866667rem !important;
    bottom: 0.5rem !important;
    z-index: 99;
}
.b14 a:nth-of-type(1),.c14 a:nth-of-type(1),.d10 a:nth-of-type(1){
	right: 2rem;
}
.b14 a:nth-of-type(2),.c14 a:nth-of-type(2),.d10 a:nth-of-type(2){
	right: 10.5rem;
}
.b14 a,.c14 a,.d10 a{
	display: block;
	width: 7.09375rem;
	height: 7.0625rem;
	position: absolute;
}
.c14 a{
	top: 1rem;
}
.d10 a{
	top: 5rem;
}
.index-bg{
	width: 20.0rem;
	height: 32.25rem;
	background: url(../images/index_bg.jpg) no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.title{
	margin-top: -1.3rem;
}
.title img{
	width: 6.5625rem;
	height: 21.625rem;
	right: 1.05rem;
    top: 6.1875rem;
	position: absolute;
	-webkit-animation: slideup  2s ease-in-out;
	 animation: slideup  2s ease-in-out;
}
.slogan img{
	width: 2.9375rem;
	height: 18.90625rem;
	position: absolute;
	right: 8.3625rem;
    top: 6.9125rem;
	-webkit-animation: bounceInDown  2s ease-in-out;
	 animation: bounceInDown  2s ease-in-out;
}
.entrance{
	width: 0.375rem;
	height: 32.5rem;
	display: block;
	background: url(../images/line.png) no-repeat center;
	background-size: 100% 100%;
	position: relative;
	left: 4.5rem;
	
}
.a_1 img,.a_2 img,.a_3 img{
	width: 4.9375rem;
	height: 4.9375rem;
	position: absolute;
    left: -2.30rem;
}
.a_1 img{
	top: 4.4375rem;
	-webkit-animation: zoomIn  1s linear;
	 animation: zoomIn  1s linear;
}
.a_2 img{
	top: 13.68875rem;
	-webkit-animation: zoomIn  1.3s linear;
	 animation: zoomIn  1.3s linear;
}
.a_3 img{
	top: 23.0125rem;
	-webkit-animation: zoomIn  1.6s linear;
	 animation: zoomIn  1.6s linear;
}
.right img{
	width: 2.28125rem;
	height: 1.78125rem;
	position: absolute;
	left: 2rem;
	top: 50%;
	margin-top: -0.890625rem;
	 animation: gol 1.2s infinite linear;
    -webkit-animation: gol 1.2s infinite linear;
}
@-webkit-keyframes xuanzhuan {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes xuanzhuan {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes gol {
	0%{
		top: 50%;
		opacity:0;
	}
	100%{
		top: 51%;
		opacity:1;
	}
}
@keyframes gol {
	0%{
		top: 50%;
		opacity:0;
	}
	100%{
		top: 51%;
		opacity:1;
	}
}
@-webkit-keyframes slideup {0%{ opacity: 0; }50%{ opacity: 0.5;}100%{opacity: 1; }}
@-moz-keyframes slideup {0%{ opacity: 0; }50%{ opacity: 0.5;}100%{opacity: 1; }}
@-ms-keyframes slideup {0%{ opacity: 0; }50%{ opacity: 0.5;}100%{opacity: 1; }}
@-o-keyframes slideup {0%{ opacity: 0; }50%{ opacity: 0.5;}100%{opacity: 1; }}
@keyframes slideup {0%{ opacity: 0; }50%{ opacity: 0.5;}100%{opacity: 1; }}

@-webkit-keyframes tada{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}10%,20%{-webkit-transform:scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);transform:scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg)}30%,50%,70%,90%{-webkit-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg)}40%,60%,80%{-webkit-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@keyframes tada{0%{-webkit-transform:scale3d(1,1,1);-ms-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}10%,20%{-webkit-transform:scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);-ms-transform:scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);transform:scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg)}30%,50%,70%,90%{-webkit-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);-ms-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg)}40%,60%,80%{-webkit-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);-ms-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg)}100%{-webkit-transform:scale3d(1,1,1);-ms-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}
@-webkit-keyframes bounceInDown{0%,100%,60%,75%,90%{-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(0,-3000px,0);transform:translate3d(0,-3000px,0)}60%{opacity:1;-webkit-transform:translate3d(0,25px,0);transform:translate3d(0,25px,0)}75%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}90%{-webkit-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0)}100%{-webkit-transform:none;transform:none}}@keyframes bounceInDown{0%,100%,60%,75%,90%{-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(0,-3000px,0);-ms-transform:translate3d(0,-3000px,0);transform:translate3d(0,-3000px,0)}60%{opacity:1;-webkit-transform:translate3d(0,25px,0);-ms-transform:translate3d(0,25px,0);transform:translate3d(0,25px,0)}75%{-webkit-transform:translate3d(0,-10px,0);-ms-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}90%{-webkit-transform:translate3d(0,5px,0);-ms-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0)}100%{-webkit-transform:none;-ms-transform:none;transform:none}}
@-webkit-keyframes zoomIn{0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}50%{opacity:1}}@keyframes zoomIn{0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);-ms-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}50%{opacity:1}}
@-webkit-keyframes lightSpeedIn{0%{-webkit-transform:translate3d(100%,0,0) skewX(-30deg);transform:translate3d(100%,0,0) skewX(-30deg);opacity:0}60%{-webkit-transform:skewX(20deg);transform:skewX(20deg);opacity:1}80%{-webkit-transform:skewX(-5deg);transform:skewX(-5deg);opacity:1}100%{-webkit-transform:none;transform:none;opacity:1}}@keyframes lightSpeedIn{0%{-webkit-transform:translate3d(100%,0,0) skewX(-30deg);-ms-transform:translate3d(100%,0,0) skewX(-30deg);transform:translate3d(100%,0,0) skewX(-30deg);opacity:0}60%{-webkit-transform:skewX(20deg);-ms-transform:skewX(20deg);transform:skewX(20deg);opacity:1}80%{-webkit-transform:skewX(-5deg);-ms-transform:skewX(-5deg);transform:skewX(-5deg);opacity:1}100%{-webkit-transform:none;-ms-transform:none;transform:none;opacity:1}}
@-webkit-keyframes fadeInDown{0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}100%{opacity:1;-webkit-transform:none;transform:none}}@keyframes fadeInDown{0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);-ms-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}100%{opacity:1;-webkit-transform:none;-ms-transform:none;transform:none}}