<!--footer-->
<div class="footer_bottom">
	<ul>
		<li>
			<div class="img"><img src="" class="js_jump_img"></div>
			<div>
				<h1>下载游戏</h1>
				<h2>扫描二维码，</h2>
				<span>立即下载游戏</span>
			</div>
		</li>
		<li>
			<div class="img"><img src="{$global.wx_img}"></div>
			<div>
				<h1>微信公众号</h1>
				<h2>扫描二维码,关注官方微信</h2>
				<span>官方微信号</span>
				<span>
					<label>梦想花语</label>
				</span>
			</div>
		</li>
		<li>
			<div class="img"><img src="{$global.wb_img}"></div>
			<div>
				<h1>官方微博</h1>
				<h2>扫描二维码,关注官方微博</h2>
			</div>
		</li>
	</ul>
</div>