<!--悬浮窗下载-->
<div class="float_box">
	<div class="q_float">
		<div class="ewm_box"><img class="q_f_mark js_jump_img" src=""><i></i></div>
		<div class="no_channel">
			<a class="js_down_ios stat_event_down stat_event_ios" href="javascript:;" target="_blank"></a>
			<a class="js_down_andriod stat_event_down stat_event_android" href="javascript:;"></a>
			<a class="stat_event_down stat_event_tap" href="https://www.taptap.com/app/153077" target="_blank "></a>
			<a href="javascript:;" class="go_top"></a>
		</div>
		<label class="q_f_icon show"></label>
	</div>
</div>