* {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#J_prismPlayer {
    height: 3rem !important;
}

#video_player {
    height: 3rem!important;
}
.prism-time-display{
	font-size:1px;
}
html,
body {
	width: 100%;
	height: 100%;
}

html,
body,
img {
	border: 0;
	font-family: "微软雅黑";
}

li {
	list-style: none;
}

textarea {
	overflow: auto;
	resize: none;
}

button {
	cursor: pointer;
}

a,
a:hover {
	text-decoration: none;
	color: #6f6f6f;
}

a,
a:active,
a:focus,
input,
button {
	outline: 0;
}

li {
	display: block;
}

.hide {
	display: none!important;
}

html,
body,
select,
textarea,
input,
button {}

.clear {
	clear: both;
}

.hide {
	display: none;
}

.show {
	display: block;
}


/*页面样式*/

.header {
	width: 100%;
	height: 5.23rem;
	background: url(../images/banner.jpg) no-repeat center;
	background-size: 100% 100%;
	position: relative;
	overflow: hidden;
	font-size: 0;
}

.v_logo {
	display: block;
	width: 2.07rem;
	height: 1.04rem;
	position: absolute;
	left: 0.18rem;
	top: 0;
}

.logo {
	display: block;
	width: 2.88rem;
	height: 1.74rem;
	position: absolute;
	right: 0.32rem;
	top: 0;
}

.price {
	width: 100%;
	height: 5.27rem;
	position: relative;
	background: url(../images/pic01.jpg) no-repeat center;
	background-size: 100% 100%;
	overflow: hidden;
	font-size: 0;
}

.p1 {
	display: block;
	width: 5.69rem;
	height: 1.06rem;
	margin: 0 auto;
	padding-top: 0.5rem;
}

.price p {
	font-size: 0.22rem;
	color: #999;
	text-align: center;
	line-height: 0.4rem;
}

.price p em {
	font-style: normal;
	color: #e8d400;
}

.tt {
	width: 4.2rem;
	height: 0.81rem;
	background: url(../images/tt1.png) no-repeat center;
	background-size: 100% 100%;
	position: relative;
	margin: 0.55rem auto 0.25rem;
	text-align: center;
}

.tt p {
	font-size: 0.3rem;
	line-height: 0.81rem;
	color: #999;
}

.tt p em {
	font-style: normal;
	font-weight: bold;
	color: #03a3f8;
}

.c_video {
	width: 100%;
	height: 3.28rem;
	background: url(../images/video.jpg) no-repeat center;
	background-size: 100% 100%;
	position: relative;
	overflow: hidden;
}

.m_video {
	width: 5.83rem;
	height: 100%;
	margin: 0 auto;
	position: relative;
	background: url(../images/v_bg.png) no-repeat center;
	background-size: 100% 100%;
	font-size: 0;
}

.m_video img {
	display: block;
	position: absolute;
}

.m_video img:nth-child(1) {
	width: 5.76rem;
	height: 3.23rem;
	left: 50%;
	margin-left: -2.88rem;
	margin-top: 1px;
}

.m_video img:nth-child(2) {
	width: 1rem;
	height: 0.87rem;
	left: 50%;
	margin-left: -0.5rem;
	top: 50%;
	margin-top: -0.435rem;
	animation: vGo 2s linear infinite;
	-webkit-animation: vGo 2s linear infinite;
}

@keyframes vGo {
	0% {
		transform: scale(0.9);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.9);
	}
}

@-webkit-keyframes vGo {
	0% {
		transform: scale(0.9);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.9);
	}
}

.yuyue {
	width: 100%;
	height: 7.26rem;
	background: url(../images/yuyue.jpg) no-repeat center;
	background-size: 100% 100%;
	overflow: hidden;
	position: relative;
	font-size: 0;
}

.yuyue p {
	font-size: 0.5rem;
	color: #dfe3e7;
	text-align: center;
	text-shadow: 0 3px 0 #000;
	font-weight: bold;
	padding-top: 1.27rem;
	margin-bottom: 0.7rem;
}

.yuyue p em {
	font-weight: normal;
	font-style: normal;
}

.s_put {
	width: 5.8rem;
	overflow: hidden;
	position: relative;
	margin: 0.3rem auto 0;
}

.s_put .p_con {
	width: 100%;
	height: 0.8rem;
	overflow: hidden;
}

.s_put .p_con img {
	display: block;
	width: 100%;
	height: 0.8rem;
	position: absolute;
	left: 0;
	top: 0;
}

.s_put .p_con.active img:nth-child(2) {
	display: none;
}

.s_put .p_con input {
	width: 5.66rem;
	height: 0.66rem;
	position: absolute;
	left: 0.07rem;
	top: 0.1rem;
	border: 0;
	outline: 0;
	background: none;
	font-size: 0.28rem;
	color: #333434;
	text-indent: 0.2rem;
}
.se_put .s_put:nth-child(3){
	margin:0 auto;
}
.sign {
	font-size: 0.18rem;
	color: #e8d400;
	line-height: 0.3rem;
	visibility: hidden;
}

.sign img {
	display: block;
	width: 0.16rem;
	height: 0.14rem;
	float: left;
	margin: 0.07rem 0.06rem 0 0;
}

.sign em {
	font-style: normal;
}

.s_put .c_con {
	width: 3.89rem;
	height: 0.8rem;
	float: left;
}

.s_put .c_con img {
	display: block;
	width: 3.89rem;
	height: 100%;
}

.g_code {
	width: 1.7rem;
	height: 0.8rem;
	background: url(../images/code_bg.png) no-repeat center;
	background-size: 100% 100%;
	position: relative;
	overflow: hidden;
	float: right;
	font-size: 0.26rem;
	line-height: 0.8rem;
	text-align: center;
	color: #1aa5ef;
	font-weight: bold;
	border: 0;
	outline: 0;
}

.g_code:-moz-placeholder {
	color: #1aa5ef;
	font-size: 0.26rem;
}

.g_code::-moz-placeholder {
	color: #1aa5ef;
	font-size: 0.26rem;
}

.g_code:-ms-input-placeholder {
	color: #1aa5ef;
	font-size: 0.26rem;
}

.g_code::-webkit-input-placeholder {
	color: #1aa5ef;
	font-size: 0.26rem;
}
.sure{
	width:5.8rem;
	height:0.82rem;
	position:relative;
	margin:0.5rem auto 0;
}
.sure img{
	display: block;
	width:100%;
	height:100%;
}
.h_price{
	width:100%;
	height:5.72rem;
	background:url(../images/price.jpg) no-repeat center;
	background-size:100% 100%;
	position:relative;
	overflow: hidden;
}
.p_con{
	width:5.8rem;
	height:100%;
	position:relative;
	margin:0 auto;
	overflow: hidden;
}
.p_txt{
	width:100%;
	overflow: hidden;
	font-size:0;
	position:relative;
}
.p_txt h3{
	font-size:0.28rem;
	color:#03a3f8;
	font-weight:bold;
	padding-top:0.48rem;
}
.p_txt p{
	font-size:0.2rem;
	line-height:0.4rem;
	color:#aaa;
}
.p_txt p em{
	font-style: normal;
	color:#bbab09;
}
.p_txt h3.sh{
	padding-top:0.35rem;
}
.p_con ul{
	width:100%;
	height:2.16rem;
	overflow: hidden;
	position:relative;
	display: flex;
	display: -webkit-flex;
	justify-content: space-around;
	margin-top:0.2rem;
}
.p_con ul li{
	width:1.76rem;
	height:100%;
	position:relative;
}
.p_con ul li img{
	display: block;
	width:100%;
	height:100%;
}
.b_txt{
	width:100%;
	height:6.64rem;
	background:url(../images/bo.jpg) no-repeat center;
	background-size:100% 100%;
	position:relative;
	overflow: hidden;
}
.b_txt .bp{
	font-size:0.5rem;
	color:#dbe1e7;
	text-align: center;
	font-weight:bold;
	text-shadow: 0 3px 0 #000;
	padding:0.35rem 0 0.55rem;
}
.b_txt p em{
	font-style: normal;
	font-weight:normal;
}
.t_bg{
	width:5.7rem;
	height:4.11rem;
	background:url(../images/t_bg.png) no-repeat center;
	background-size:100% 100%;
	overflow: hidden;
	position:relative;
	margin-left:0.29rem;
	font-size:0;
}
.t_bg h3{
	font-size:0.28rem;
	color:#05a2f6;
	padding:0.35rem 0 0 0.3rem;
}
.t_bg p{
	font-size:0.18rem;
	color:#a9a9aa;
	padding:0.2rem 0 0 0.3rem;
}
.login{
	width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
}
.login_m{
	width:5.79rem;
	height:3.17rem;
	background:url(../images/login.png) no-repeat center;
	background-size:100% 100%;
	position:relative;
	top:50%;
	left:50%;
	margin-left:-2.895rem;
	margin-top:-1.585rem;
}
.close{
	display: block;
	width:0.53rem;
	height:0.53rem;
	position:absolute;
	right:0.2rem;
	top:0.15rem;
}
.login_p{
	font-size:0.38rem;
	color:#1ec2ff;
	text-align: center;
	font-weight:bold;
	text-shadow:  1px 1px 3px #1ec2ff;
	line-height:1.2rem;
	padding-top:0.15rem;
}
.l_code{
	width:100%;
	overflow: hidden;
	position:relative;
	font-size:0;
}
.l_code p{
	font-size:0.25rem;
	color:#fff;
	text-align: center;
}
.q_code{
	width:3.55rem;
	height:0.81rem;
	background:url(../images/c_bg.png) no-repeat center;
	background-size:100% 100%;
	overflow: hidden;
	position:relative;
	margin:0.2rem auto 0;
	font-size:0.3rem;
	color:#e8d400;
	text-align: center;
	line-height:0.81rem;
	font-weight:bold;
}
