body {margin: 0;padding: 0;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,
fieldset,legend,input,button,textarea,p,blockquote,th,td,a {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.chengg{
	width:100%;
	height:1px;
	background:none;
}
fieldset,img {border: 0;}
/* remember to define focus styles! */
:focus {outline: 0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup {
	font-style: normal;
	font-weight: normal;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

abbr,acronym {
	border: 0;
	font-variant: normal;
}

input,button,textarea,select,optgroup,option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}

code,kbd,samp,tt {
	font-size: 100%;
}


/*@purpose To enable resizing for IE */


/*@branch For IE6-Win, IE7-Win */

input,button,textarea,select {
	*font-size: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ol,ul,li {
	list-style: none;
}


/* tables still need 'cellspacing="0"' in the markup */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption,th {
	text-align: left;
}

sup,sub {
	font-size: 100%;
	vertical-align: baseline;
}


/* remember to highlight anchors and inserts somehow! */

a:link,
a:visited,
a:active {
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

blockquote,q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
.fl{float:left;}
.fr{float:right;}
.wrap{
	width:1200px;
	height:100%;
	position:relative;
	margin:0 auto;
}
.nav{
	width:100%;
	min-width:1200px;
	margin:0 auto;
	height:120px;
	/*background:url(../images/top.png) no-repeat center;*/
	position:absolute;
	z-index:99;
	top:0;
}
.nav .icon{
	display: block;
	width:120px;
	height:120px;
	float:left;
	margin:10px 22px 0 0;
}
.nav .n_txt{
	float:left;
}
.nav .n_txt p:nth-child(1){
	font-size:24px;
	color:#fff;
	font-weight:bold;
	margin-top:20px;
}
.nav .n_txt p:nth-child(2){
	font-size:16px;
	color:#999999;
	margin-top:10px;
}
.nav .nav_ul{
	float:left;
}
.nav .nav_ul li{
	width:95px;
	height:100%;
	border-bottom:6px solid transparent;
	font-size:22px;
	float:left;
	text-align: center;
	line-height:100px;
	margin-right:45px;
	position: relative;
	overflow: hidden;
}
.nav .nav_ul li:nth-child(1){
	margin-left:60px;
}
.nav .nav_ul li:nth-child(4){
	margin-right:0;
}
.nav .nav_ul li a{
	color:#999;
	display: block;
}
.nav .s_ul{
	width:184px;
	height:48px;
	float:right;
	margin:25px 0 0 0;
	position:relative;
}
.nav .s_ul li{
	width:48px;
	height:48px;
	overflow: hidden;
	float:left;
	margin-right:20px;
	cursor: pointer;
}
.nav .s_ul li a{
	display: block;
	width:100%;
	height:100%;
}
.nav .s_ul li a img{
	display: block;
	width:100%;
	height:100%;
}
.nav .s_ul li:nth-child(3){
	margin-right:0;
}
.nav .s_ul .fl_wx{
    position: absolute;
    width: 160px;
    height: 160px;
    left: -48px;
    top: 74px;
	display: none;
    /*background: url(../images/ewm_bg.png) no-repeat;*/
    /*background-size: 100% 100%;*/
}
.nav .s_ul .fl_wx img{
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50%;
    margin-top: -62px;
    left: 20px;
}
.qidai{
	display: block;
	width:185px;
	height:296px;
	position:fixed;
	top:40%;
	right:20px;
	z-index:11;
}
.cj_footer{
	width:100%;
	height:162px;
	background-color:#303030;
	overflow: hidden;
	position: relative;
}
.cj_footer ul{
	width:100%;
	height:113px;
	overflow: hidden;
	position:relative;
	margin-top:24px;
}
.cj_footer ul li{
	width:322px;
	height:100%;
	overflow: hidden;
	position:relative;
	float:left;
	margin-right:75px;
}
.cj_footer ul li img{
	display: block;
	width:113px;
	height:113px;
	float:left;
	margin-right:20px;
}
.cj_footer ul li .cj_txt{
	font-size:24px;
	color:#ccc;
	float:left;
	margin-top:5px;
}
.cj_footer ul li .cj_txt .cj_txt2{
	font-size:14px;
	color:#ccc;
	margin-top:5px;
}
.cj_footer ul li .cj_txt .cj_txt2 span{
	color:#32b9ff;
}
.cj_footer ul li .cj_txt .cj_txt3{
	font-size:14px;
	color:#32b9ff;
	margin-top:25px;
}
.cj_footer ul li .cj_txt .cj_txt3 span{
	color:#ccc;
}
.public_rule{
	width:180px;
	position:fixed;
	right:10%;
	top:10%;
	z-index:50;
}
.public_rule a{
	display: block;
	width:180px;
	height:72px;
	overflow: hidden;
}
.public_rule a:hover img:nth-child(1){
	display: none;
}
.public_rule a:nth-child(2){
	margin-top:40px;
}