.public_rule{
	width:180px;
	position:fixed;
	right:10%;
	top:10%;
	z-index:50;
}
.public_rule a{
	display: block;
	width:180px;
	height:72px;
	overflow: hidden;
}
.public_rule a:hover img:nth-child(1){
	display: none;
}
.public_rule a:nth-child(2){
	margin-top:40px;
}
.wrap {
	width: 100%;
	overflow: hidden;
	min-width: 1200px;
	height: 1077px;
	/*background: url(../images/i_bg01.jpg) no-repeat center top;*/
}

.wrap .main {
	width: 1200px;
	height: 100%;
	position: relative;
	margin: 0 auto;
}

.moving_item_nv {
	width: 755px;
	height: 359px;
	position: absolute;
	z-index: 80;
	bottom: 120px;
	left: 328px;
}

.moving_item_nv span {
	display: block;
	width: 100%;
	height: 100%;
	background: url(../images/slogin.png) no-repeat;
	background-size: 100% 100%;
	opacity: 1;
	animation: bySlogan05 .2s 1.2s both ease-in;
	-webkit-animation: bySlogan05 .2s 1.2s both ease-in;
	-moz-animation: bySlogan05 .2s 1.2s both ease-in;
	-ms-animation: bySlogan05 .2s 1.2s both ease-in;
	-o-animation:bySlogan05 .2s 1.2s both ease-in;
}

@-moz-keyframes bySlogan05 {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, .3, .3);
		-moz-transform: scale3d(0.3, .3, .3);
		-ms-transform: scale3d(0.3, .3, .3);
		-o-transform: scale3d(0.3, .3, .3);
		transform: scale3d(0.3, .3, .3);
	}
	50% {
		opacity: 1;
	}
}

@-ms-keyframes bySlogan05 {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, .3, .3);
		-moz-transform: scale3d(0.3, .3, .3);
		-ms-transform: scale3d(0.3, .3, .3);
		-o-transform: scale3d(0.3, .3, .3);
		transform: scale3d(0.3, .3, .3);
	}
	50% {
		opacity: 1;
	}
}

@-webkit-keyframes bySlogan05 {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, .3, .3);
		-moz-transform: scale3d(0.3, .3, .3);
		-ms-transform: scale3d(0.3, .3, .3);
		-o-transform: scale3d(0.3, .3, .3);
		transform: scale3d(0.3, .3, .3);
	}
	50% {
		opacity: 1;
	}
}

@-o-keyframes bySlogan05 {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, .3, .3);
		-moz-transform: scale3d(0.3, .3, .3);
		-ms-transform: scale3d(0.3, .3, .3);
		-o-transform: scale3d(0.3, .3, .3);
		transform: scale3d(0.3, .3, .3);
	}
	50% {
		opacity: 1;
	}
}

@keyframes bySlogan05 {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, .3, .3);
		-moz-transform: scale3d(0.3, .3, .3);
		-ms-transform: scale3d(0.3, .3, .3);
		-o-transform: scale3d(0.3, .3, .3);
		transform: scale3d(0.3, .3, .3);
	}
	50% {
		opacity: 1;
	}
}

.wrap .main .logo {
	display: inline-block;
	width: 279px;
	height: 163px;
	position: absolute;
	left: 5px;
	top: 50px;
	cursor: default;
}

.wrap .main .blue {
	width: 501px;
	height: 517px;
	position: absolute;
	left: 260px;
	top: 206px;
	animation: bySlogan .2s .6s both ease-in;
	-webkit-animation: bySlogan .2s .6s both ease-in;
	-moz-animation: bySlogan .2s .6s both ease-in;
	-o-animation: bySlogan .2s .6s both ease-in;
}

@-o-keyframes bySlogan {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	20% {
		-webkit-transform: scale3d(1.2, 1.2, 1.2);
		transform: scale3d(1.2, 1.2, 1.2);
	}
	40% {
		-webkit-transform: scale3d(0.9, .9, .9);
		transform: scale3d(0.9, .9, .9);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03);
	}
	80% {
		-webkit-transform: scale3d(0.97, .97, .97);
		transform: scale3d(0.97, .97, .97);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@-moz-keyframes bySlogan {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	20% {
		-webkit-transform: scale3d(1.2, 1.2, 1.2);
		transform: scale3d(1.2, 1.2, 1.2);
	}
	40% {
		-webkit-transform: scale3d(0.9, .9, .9);
		transform: scale3d(0.9, .9, .9);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03);
	}
	80% {
		-webkit-transform: scale3d(0.97, .97, .97);
		transform: scale3d(0.97, .97, .97);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@-ms-keyframes bySlogan {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	20% {
		-webkit-transform: scale3d(1.2, 1.2, 1.2);
		transform: scale3d(1.2, 1.2, 1.2);
	}
	40% {
		-webkit-transform: scale3d(0.9, .9, .9);
		transform: scale3d(0.9, .9, .9);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03);
	}
	80% {
		-webkit-transform: scale3d(0.97, .97, .97);
		transform: scale3d(0.97, .97, .97);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@-webkit-keyframes bySlogan {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	20% {
		-webkit-transform: scale3d(1.2, 1.2, 1.2);
		transform: scale3d(1.2, 1.2, 1.2);
	}
	40% {
		-webkit-transform: scale3d(0.9, .9, .9);
		transform: scale3d(0.9, .9, .9);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03);
	}
	80% {
		-webkit-transform: scale3d(0.97, .97, .97);
		transform: scale3d(0.97, .97, .97);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes bySlogan {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	20% {
		-webkit-transform: scale3d(1.2, 1.2, 1.2);
		transform: scale3d(1.2, 1.2, 1.2);
	}
	40% {
		-webkit-transform: scale3d(0.9, .9, .9);
		transform: scale3d(0.9, .9, .9);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03);
	}
	80% {
		-webkit-transform: scale3d(0.97, .97, .97);
		transform: scale3d(0.97, .97, .97);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.wrap .main .blue01 {
	animation: bySlogan1 .2s .4s both ease-in;
	-webkit-animation: bySlogan1 .2s .4s both ease-in;
	-moz-animation: bySlogan1 .2s .4s both ease-in;
	-ms-animation: bySlogan1 .2s .4s both ease-in;
	-o-animation: bySlogan1 .2s .4s both ease-in;
}

@-o-keyframes bySlogan1 {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, .3, .3);
		-moz-transform: scale3d(0.3, .3, .3);
		-ms-transform: scale3d(0.3, .3, .3);
		-o-transform: scale3d(0.3, .3, .3);
		transform: scale3d(0.3, .3, .3);
	}
	50% {
		opacity: 1;
	}
}

@-webkit-keyframes bySlogan1 {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, .3, .3);
		-moz-transform: scale3d(0.3, .3, .3);
		-ms-transform: scale3d(0.3, .3, .3);
		-o-transform: scale3d(0.3, .3, .3);
		transform: scale3d(0.3, .3, .3);
	}
	50% {
		opacity: 1;
	}
}

@-moz-keyframes bySlogan1 {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, .3, .3);
		-moz-transform: scale3d(0.3, .3, .3);
		-ms-transform: scale3d(0.3, .3, .3);
		-o-transform: scale3d(0.3, .3, .3);
		transform: scale3d(0.3, .3, .3);
	}
	50% {
		opacity: 1;
	}
}

@-ms-keyframes bySlogan1 {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, .3, .3);
		-moz-transform: scale3d(0.3, .3, .3);
		-ms-transform: scale3d(0.3, .3, .3);
		-o-transform: scale3d(0.3, .3, .3);
		transform: scale3d(0.3, .3, .3);
	}
	50% {
		opacity: 1;
	}
}

@keyframes bySlogan1 {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, .3, .3);
		-moz-transform: scale3d(0.3, .3, .3);
		-ms-transform: scale3d(0.3, .3, .3);
		-o-transform: scale3d(0.3, .3, .3);
		transform: scale3d(0.3, .3, .3);
	}
	50% {
		opacity: 1;
	}
}

.wrap .main .red {
	width: 752px;
	height: 679px;
	position: absolute;
	top: 0;
	right: -217px;
	animation: bySlogan02 .2s 1s both ease-in;
	-webkit-animation: bySlogan02 .2s 1s both ease-in;
	-moz-animation: bySlogan02 .2s 1s both ease-in;
	-o-animation: bySlogan02 .2s 1s both ease-in;
}

@-moz-keyframes bySlogan02 {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	20% {
		-webkit-transform: scale3d(1.2, 1.2, 1.2);
		transform: scale3d(1.2, 1.2, 1.2);
	}
	40% {
		-webkit-transform: scale3d(0.9, .9, .9);
		transform: scale3d(0.9, .9, .9);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03);
	}
	80% {
		-webkit-transform: scale3d(0.97, .97, .97);
		transform: scale3d(0.97, .97, .97);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@-ms-keyframes bySlogan02 {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	20% {
		-webkit-transform: scale3d(1.2, 1.2, 1.2);
		transform: scale3d(1.2, 1.2, 1.2);
	}
	40% {
		-webkit-transform: scale3d(0.9, .9, .9);
		transform: scale3d(0.9, .9, .9);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03);
	}
	80% {
		-webkit-transform: scale3d(0.97, .97, .97);
		transform: scale3d(0.97, .97, .97);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@-webkit-keyframes bySlogan02 {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	20% {
		-webkit-transform: scale3d(1.2, 1.2, 1.2);
		transform: scale3d(1.2, 1.2, 1.2);
	}
	40% {
		-webkit-transform: scale3d(0.9, .9, .9);
		transform: scale3d(0.9, .9, .9);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03);
	}
	80% {
		-webkit-transform: scale3d(0.97, .97, .97);
		transform: scale3d(0.97, .97, .97);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@-o-keyframes bySlogan02 {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	20% {
		-webkit-transform: scale3d(1.2, 1.2, 1.2);
		transform: scale3d(1.2, 1.2, 1.2);
	}
	40% {
		-webkit-transform: scale3d(0.9, .9, .9);
		transform: scale3d(0.9, .9, .9);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03);
	}
	80% {
		-webkit-transform: scale3d(0.97, .97, .97);
		transform: scale3d(0.97, .97, .97);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes bySlogan02 {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	20% {
		-webkit-transform: scale3d(1.2, 1.2, 1.2);
		transform: scale3d(1.2, 1.2, 1.2);
	}
	40% {
		-webkit-transform: scale3d(0.9, .9, .9);
		transform: scale3d(0.9, .9, .9);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03);
	}
	80% {
		-webkit-transform: scale3d(0.97, .97, .97);
		transform: scale3d(0.97, .97, .97);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.wrap .main .red01 {
	animation: bySlogan03 .2s .8s both ease-in;
	-webkit-animation: bySlogan03 .2s .8s both ease-in;
	-moz-animation: bySlogan03 .2s .8s both ease-in;
	-o-animation: bySlogan03 .2s .8s both ease-in;
}

@-moz-keyframes bySlogan03 {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, .3, .3);
		-moz-transform: scale3d(0.3, .3, .3);
		-ms-transform: scale3d(0.3, .3, .3);
		-o-transform: scale3d(0.3, .3, .3);
		transform: scale3d(0.3, .3, .3);
	}
	50% {
		opacity: 1;
	}
}

@-ms-keyframes bySlogan03 {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, .3, .3);
		-moz-transform: scale3d(0.3, .3, .3);
		-ms-transform: scale3d(0.3, .3, .3);
		-o-transform: scale3d(0.3, .3, .3);
		transform: scale3d(0.3, .3, .3);
	}
	50% {
		opacity: 1;
	}
}

@-o-keyframes bySlogan03 {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, .3, .3);
		-moz-transform: scale3d(0.3, .3, .3);
		-ms-transform: scale3d(0.3, .3, .3);
		-o-transform: scale3d(0.3, .3, .3);
		transform: scale3d(0.3, .3, .3);
	}
	50% {
		opacity: 1;
	}
}

@-webkit-keyframes bySlogan03 {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, .3, .3);
		-moz-transform: scale3d(0.3, .3, .3);
		-ms-transform: scale3d(0.3, .3, .3);
		-o-transform: scale3d(0.3, .3, .3);
		transform: scale3d(0.3, .3, .3);
	}
	50% {
		opacity: 1;
	}
}

@keyframes bySlogan03 {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, .3, .3);
		-moz-transform: scale3d(0.3, .3, .3);
		-ms-transform: scale3d(0.3, .3, .3);
		-o-transform: scale3d(0.3, .3, .3);
		transform: scale3d(0.3, .3, .3);
	}
	50% {
		opacity: 1;
	}
}

.wrap .main .main_content {
	width: 167px;
	height: 263px;
	position: relative;
	top: 610px;
	left: 50px;
}

.wrap .main .main_content .wx {
	display: inline-block;
	width: 166px;
	height: 66px;
	margin: 8px 0;
}
.wrap .main .main_content a img{
	display: block;
	width:100%;
	height:100%;
}
.wrap .main .main_content a:hover {
	opacity: .9;
}
.wrap .main .main_content .weibo {
	display: inline-block;
	width: 162px;
	height: 66px;
	/*background: url(../images/weibo.png) no-repeat left center;*/
	margin: 8px 0;
}

.wrap .main .main_content .tieba {
	display: inline-block;
	width: 162px;
	height: 66px;
	/*background: url(../images/tieba.png) no-repeat left center;*/
	margin: 8px 0;
}
.wrap .main .main_content .ewm {
	width: 177px;
	height: 166px;
	position: absolute;
	top: -50px;
	left: 190px;
	display: none;
}

.wrap .main .main_content .ewm img {
	display: inline-block;
}

.wrap .main .download {
	width: 179px;
	height: 346px;
	position: absolute;
	background: url(../images/code_bg.png) no-repeat left center;
	background-size: 100% 100%;
	top: 260px;
	left: 50px;
}

.wrap .main .download .ewm_code {
	margin-top: 11px;
	margin-left: 9px;
}

.wrap .main .download .app {
	display: block;
	margin-top: 15px;
	margin-left: 9px;
}

.wrap .main .download .android {
	display: block;
	margin-top: 5px;
	margin-left: 9px;
}


/*.wrap .main .cloud {
	width: 146px;
	height: 98px;
	position: absolute;
	left: 300px;
	top: 671px;
	z-index:9999;
	animation: dr 5s linear infinite;
	-webkit-animation: dr 5s linear infinite;
	-moz-animation: dr 5s linear infinite;
	-ms-animation: dr 5s linear infinite;
	-o-animation: dr 5s linear infinite;
}

@-moz-keyframes dr {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-50px);
	}
	100% {
		transform: translateX(0);
	}
}

@-ms-keyframes dr {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-50px);
	}
	100% {
		transform: translateX(0);
	}
}

@-webkit-keyframes dr {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-50px);
	}
	100% {
		transform: translateX(0);
	}
}

@-o-keyframes dr {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-50px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes dr {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-50px);
	}
	100% {
		transform: translateX(0);
	}
}

.wrap .main .cloud01 {
	width: 136px;
	height: 59px;
	position: absolute;
	right: -35px;
	top: 413px;
	animation: di 5s linear infinite;
	-webkit-animation: di 5s linear infinite;
	-moz-animation: di 5s linear infinite;
	-ms-animation: di 5s linear infinite;
	-o-animation: di 5s linear infinite;
}

@-moz-keyframes di {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(50px);
	}
	100% {
		transform: translateX(0);
	}
}

@-ms-keyframes di {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(50px);
	}
	100% {
		transform: translateX(0);
	}
}

@-webkit-keyframes di {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(50px);
	}
	100% {
		transform: translateX(0);
	}
}

@-o-keyframes di {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(50px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes di {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(50px);
	}
	100% {
		transform: translateX(0);
	}
}*/

.wrap .main .video {
	cursor: pointer;
	width: 139px;
	height: 145px;
	position: absolute;
	top: 373px;
	left: 656PX;
}

.wrap .main .video .video_icon {
	display: inline-block;
	width: 139px;
	height: 145px;
	background: url(../images/play_big.png) no-repeat left center;
	background-size: 100% 100%;
	animation: dq 1.5s linear infinite;
	-webkit-animation: dq 1.5s linear infinite;
	-moz-animation: dq 1.5s linear infinite;
	-ms-animation: dq 1.5s linear infinite;
	-o-animation: dq 1.5s linear infinite;
}
.wrap .main .video .video_icon img{
	display: block;
	width:100%;
	height:100%;
}
@-moz-keyframes dq {
	0% {
		transform: scale(.9);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(.9);
	}
}

@-ms-keyframes dq {
	0% {
		transform: scale(.9);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(.9);
	}
}

@-webkit-keyframes dq {
	0% {
		transform: scale(.9);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(.9);
	}
}

@-o-keyframes dq {
	0% {
		transform: scale(.9);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(.9);
	}
}

@keyframes dq {
	0% {
		transform: scale(.9);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(.9);
	}
}
#video_mask {
	width: 100%;
	height: 100%;
	background: url(../images/d.png);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: none;
}

#player5 {
	width: 714px;
	height: 378px;
	position: relative;
	left: 50%;
	top: 50%;
	margin: -189px 0 0 -357px;
}

#close {
	z-index: 999999;
	width: 30px;
	height: 30px;
	position: absolute;
	top: -32px;
	right: -95px;
	background: url(../images/c.png) no-repeat;
	cursor: pointer;
}

.video_bg {
	position: absolute;
	width: 696px;
	height: 358px;
	background: url(../images/main.png) no-repeat left center;
	left: 50%;
	top: 50%;
	margin-top: -183px;
	margin-left: -297px;
	z-index: 99;
	display: none;
}

.video_bg .close_bg {
	width: 37px;
	height: 30px;
	background: url(../images/close.png) no-repeat left center;
	position: absolute;
	right: -10px;
	top: 0;
	z-index: 100;
	cursor: pointer;
}

.mask {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 98;
	display: none;
	background: url(../images/d.png) repeat;
}

.i-footer {
	width: 100%;
	height: 140px;
	background: #1B1B1B;
}

.i-footer .i-fotcon {
	width: 900px;
	height: 140px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}

.i-footer .i-fotcon .i-fot-logo {
	width: 42%;
	height: 110px;
	margin-top: 15px;
	float: left;
	border-right: 1px solid #666666;
	display: block;
	overflow: hidden;
}

.i-footer .i-fotcon .i-fot-logo img {
	display: block;
	float: right;
	margin-right: 35px;
	width: 265px;
	height: 70px;
	margin-top: 20px;
}

.i-footer .i-fotcon .i-fot-text {
	float: left;
	display: block;
	margin-top: 30px;
	padding-left: 60px;
}

.i-footer .i-fotcon .i-fot-text p {
	font-size: 12px;
	line-height: 1.6;
	color: #C5C5C5;
	text-align: left;
}

.i-footer .i-fotcon .i-fot-text p a {
	color: #C5C5C5;
}

.i-footer .i-fotcon .i-fot-text p a img {
	display: block;
	height: 100%;
}