<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>创造与魔法官方网站-每一个梦想 都将在这里实现</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="keywords" content="创造,魔法,创造与魔法,创造与魔法官方网站,创造与魔法预约,创造与魔法手游,创造与魔法沙盒手游,高自由度" />
		<meta name="description" content="创造与魔法官方网站，提供创造的下载、预约、新闻、视频、攻略等内容。创造与魔法是一款可以改造环境，自由建造房屋、城池、城邦甚至国家，同时还能探险，交友、副本、换装的高自由生存游戏。玩家可以在沙漠、丛林、草原、海滩等多种不同环境降生，甚至能够创建属于自己的文明，还在等什么，快来开始你的冒险之旅吧！" />
		<link rel="shortcut icon" href="{$global.icon_img}?{$smarty.const.VERSION}" />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}3.0/css/swiper-3.4.0.min.css?{$smarty.const.VERSION}" />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}3.0/css/common.css?{$smarty.const.VERSION}" />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}3.0/css/index.css?{$smarty.const.VERSION}" />
		<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}3.0/js/jquery-1.11.2.min.js"></script>
		<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?cd3c5f317e3f5ced9e323d594c3eb7b3";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>
	</head>
	
	<body class="czbody">
		<script type="text/javascript" src="//cdnstatic.yingxiong.com/head/js/topbar.js"></script>
		<!--<div class="c_bg">-->
			<!--&lt;!&ndash;<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/conduct.jpg?{$smarty.const.VERSION}" alt="" />&ndash;&gt;-->
		<!--</div>-->
		<div class="slide-box">
			<!--<img class="title" src="{$smarty.const.STATIC_DOMAIN}3.0/images/title.png?{$smarty.const.VERSION}" alt="">-->
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><img src="{$smarty.const.STATIC_DOMAIN}3.0/images/slide1.png?{$smarty.const.VERSION}"></div>
					<div class="swiper-slide"><img src="{$smarty.const.STATIC_DOMAIN}3.0/images/slide2.png?{$smarty.const.VERSION}"></div>
					<div class="swiper-slide"><img src="{$smarty.const.STATIC_DOMAIN}3.0/images/slide3.png?{$smarty.const.VERSION}"></div>
					<div class="swiper-slide"><img src="{$smarty.const.STATIC_DOMAIN}3.0/images/slide4.png?{$smarty.const.VERSION}"></div>
					<div class="swiper-slide"><img src="{$smarty.const.STATIC_DOMAIN}3.0/images/slide5.png?{$smarty.const.VERSION}"></div>
				</div>
			</div>
			<!-- 如果需要导航按钮 -->
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
			<div class="swiper-pagination swiper-pagination1"></div>
		</div>
		<script type="text/javascript" src="http://cdnstatic.yingxiong.com/footer/js/footer_new.js"></script>
	</body>
	<script src="{$smarty.const.STATIC_DOMAIN}3.0/js/swiper-3.4.0.min.js?{$smarty.const.VERSION}"></script>
	<script>
        var mySwiper = new Swiper(".swiper-container",{
            pagination: '.swiper-pagination',
            effect : 'coverflow',
            slidesPerView: 2,
            centeredSlides: true,
            prevButton:'.swiper-button-prev',
            nextButton:'.swiper-button-next',
        	autoplay:3000,
            loop:true,
            coverflow: {
                rotate: 0,
                stretch: 74,
                depth: 50,
                modifier: 2,
                slideShadows : true
            }
        })
	</script>
</html>
