<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<title>《创造与魔法》国庆七天乐，分享赢黑龙！</title>
	<meta name="keywords" content="创造与魔法、创造、魔法、国庆、创造与魔法周边、创造与魔法礼包、创造与魔法福利、创造与魔法手游、沙盒、创造与魔法国庆节" />
	<meta name="description" content="《创造与魔法》国庆七天乐，越玩越开心！分享给你，一起拿黑龙礼包、合作款拉杆箱，创魔限量周边吧！" />
	<link rel="shortcut icon" href="{$global.icon_img}?{$smarty.const.VERSION}" />
	<link href="{$smarty.const.STATIC_DOMAIN}lottery_new/css/index.css?{$smarty.const.VERSION}" rel="stylesheet">
	<script data-fixed="true">
		if((/iphone|android|mobile/i.test(navigator.userAgent.toLowerCase()))) {
			location.href = "/wap"+window.location.pathname+window.location.search;
		}
	</script>
	<script>
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "https://hm.baidu.com/hm.js?cd3c5f317e3f5ced9e323d594c3eb7b3";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s);
		})();
	</script>
	{csrf}
</head>
<body>
<!--header-->
<script type="text/javascript" src="//cdnstatic.yingxiong.com/head/js/topbar.js?{$smarty.const.VERSION}"></script>
<!--第一部分-->
<div class="co_top">
	<!--<video src="{$smarty.const.STATIC_DOMAIN}lottery_new/video/kv_video.mp4" autoplay="autoplay" loop="loop"></video>-->
	<div class="co_warp">
		<div class="co_img">
			<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/images/logo.png?{$smarty.const.VERSION}" alt="" class="logo"/>
			<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/images/slogan.png?{$smarty.const.VERSION}" class="slogan"/>
			<div class="btn">
				<a href="" class="ios js_down_ios stat_ios"></a>
				<a href="" class="and js_down_andriod stat_android"></a>
				<a href=""  class="dy"></a>
				<div class="fl_dy">
					<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/images/dy_qrcode.png?{$smarty.const.VERSION}" alt="">
				</div>
			</div>
			<a href="/index" class="co_home" target="_blank"></a>
			<div class="video js_video_play" data-url="http://video.yingxiong.com/hd/eec9a212d3354158acd0cbba227bd204.mp4">
				<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/images/play.png?{$smarty.const.VERSION}" alt="" class="play"/>
			</div>
		</div>
	</div>
</div>
<!--第二部分-->
<div class="co_login ">
	<div class="co_warp">
		<div class="co_invite">
			<p class="co_title"><img src="{$smarty.const.STATIC_DOMAIN}lottery_new/images/title-1.png?{$smarty.const.VERSION}" alt=""/></p>
			<p class="co_time">活动时间：10月1日-10月7日</p>
			<p class="co_txt">珍稀黑蚀龙、CONWOOD合作款旅行箱、创魔限量周边……国庆七天乐，越玩越开心！ </p>
			<div class="co_userinfo">
				<!--登录前-->
				<div class="co_before ">
					<span class="co_loginbtn"></span>
					<p>欢迎您，请先登录</p>
				</div>
				<!--登录后-->
				<div class="co_after hidden" data-url="">
					<p class="co_name">欢迎您<span class="user_phone"></span><span class="logout">[注销]</span></p>
				</div>
				<!--分享-->
				<div class="co_share"><span></span></div>
				<!--抽奖板块-->
				<div class="lottery_box">
					<div class="left">
						<div class="hm-cj" id="lottery">
							<ul>
								<li class="lottery-unit lottery-unit-0">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/images/hm-jp-img01.png?{$smarty.const.VERSION}" alt="">
									<span class="name">蒸汽石*20</span>
								</li>
								<li class="lottery-unit lottery-unit-1">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/images/hm-jp-img02.png?{$smarty.const.VERSION}" alt="">
									<span class="name">巧克力蛋糕*5</span>
								</li>
								<li class="lottery-unit lottery-unit-2">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/images/hm-jp-img03.png?{$smarty.const.VERSION}" alt="">
									<span class="name">限量款玩偶1个*1</span>
								</li>
								<li class="lottery-unit lottery-unit-7">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/images/hm-jp-img04.png?{$smarty.const.VERSION}" alt="">
									<span class="name">限量款贴纸*1</span>
								</li>
								<li class="lottery-unit click_btn">
									<p class="begin_txt">开始抽奖</p>
									<p class="leave">还剩<span class="count"> 0 </span>次机会</p>
								</li>
								<li class="lottery-unit lottery-unit-3">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/images/hm-jp-img06.png?{$smarty.const.VERSION}" alt="">
									<span class="name">CONWOOD合作箱包*1</span>
								</li>
								<li class="lottery-unit lottery-unit-6">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/images/hm-jp-img07.png?{$smarty.const.VERSION}" alt="">
									<span class="name">谢谢参与</span>
								</li>
								<li class="lottery-unit lottery-unit-5">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/images/hm-jp-img08.png?{$smarty.const.VERSION}" alt="">
									<span class="name">限量款笔记本*1</span>
								</li>
								<li class="lottery-unit lottery-unit-4">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/images/hm-jp-img09.png?{$smarty.const.VERSION}" alt="">
									<span class="name">黑蚀龙*1</span>
								</li>
							</ul>
						</div>
						<span class="check_ward"></span>
					</div>

					<div class="right">
						<div class="ward_list">
							<h1>中奖名单</h1>
							<div class="list_box">
								<div class="price_con">
									<ul></ul>
								</div>
							</div>
						</div>
						<div class="ward_rules">
							<h1>活动规则</h1>
							<ul>
								<li><span>每日首次登录赠送1次参与机会；</span></li>
								<li><span>分享页面邀请好友参加活动即可获得1次参与机会，每日最多可获得3次参与机会；</span></li>
								<li><span>实物奖品，只有一次填写地址的机会。请在中奖页面，认真填写你的收货地址，收件人与手机号码，如因填写错误影响收货，将不予补发；</span></li>
								<li><span>请妥善保管您的兑换码，如若丢失不予补发;</span></li>
								<p>【礼包码兑换规则】</p>
								<li><span>在活动页面中复制兑换码，下载并打开《创造与魔法》游戏，进入游戏界面：点击功能菜单-设置，在设置界面中输入兑换码，点击“兑换礼包”即可，游戏内同类奖品，每个账号只可兑换一次。</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!--登录弹框-->
<div class="co_tips co_tips_login hidden">
	<div class="co_con">
		<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/images/tips_t3.png?{$smarty.const.VERSION}" alt="" class="co_tips_title">
		<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/images/close.png?{$smarty.const.VERSION}" alt="" class="co_tips_close">
		<div>
			<div class="co_form">
				<div class="co_input">
					<input type="number" onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" class="co_username" placeholder="请输入手机号码"/>
					<p class="co_error">手机号码错误</p>
				</div>
				<div class="co_input">
					<input type="text"  class="captcha" placeholder="请输入验证码"/>
					<span class="co_captcha"><img src=""/></span>
					<p class="co_error">验证码错误</p>
					<p class="co_imgtxt">点击图片刷新</p>
				</div>
				<div class="co_input">
					<input type="number" onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" class="co_codenum1" placeholder="请输入验证码"/><span class="co_codebtn co_codebtn1">获取验证码</span>
					<p class="co_error">验证码错误</p>
				</div>
				<div class="co_tips_btn1"></div>
			</div>
		</div>
	</div>
</div>
<!--邀请好友弹框-->
<div class="co_tips co_tips_yq hidden">
	<div class="co_con">
		<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/images/tips_t1.png?{$smarty.const.VERSION}" alt="" class="co_tips_title">
		<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/images/close.png?{$smarty.const.VERSION}" alt="" class="co_tips_close">
		<div>
			<div class="co_form">
				<p class="tips_txt">您还没有参与机会，邀请好友获得更多机会！</p>
				<div class="bshare-custom co_shareicon">
					<a title="分享到人人网" class="bshare-weixin co_wx"></a>
					<a title="分享到QQ空间" class="bshare-qzone co_qq"></a>
					<a title="分享到新浪微博" class="bshare-sinaminiblog co_wb"></a>
				</div>
				<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=f8a4a53f-438a-4ffa-939f-7f313a7e2b05&amp;pophcol=2&amp;lang=zh"></script>
				<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
			</div>
		</div>
	</div>
</div>
<!--奖品弹框-->
<div class="co_tips co_tips_ward hidden">
	<div class="co_con">
		<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/images/tips_t2.png?{$smarty.const.VERSION}" alt="" class="co_tips_title">
		<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/images/close.png?{$smarty.const.VERSION}" alt="" class="co_tips_close">
		<div>
			<div class="co_form">
				<p class="tips_txt jp_name">获得：<span></span></p>
				<p class="tips_num"><span></span></p>
				<p class="tips_info">爱玩创魔的小伙伴，都有好运气！</p>
				<div class="co_shareicon">
					<a href="" class="co_wx"></a>
					<a href="" class="co_qq"></a>
					<a href="" class="co_wb"></a>
				</div>
				<div class="co_tips_btn2 copy" data-clipboard-text="527995"></div>
			</div>
		</div>

	</div>
</div>
<!--谢谢参与弹框-->
<div class="co_tips co_tips_no hidden">
	<div class="co_con">
		<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/images/close.png?{$smarty.const.VERSION}" alt="" class="co_tips_close">
		<div>
			<div class="co_form">
				<p class="tips_txt">谢谢参与！</p>
			</div>
		</div>
	</div>
</div>
<!--中奖记录弹框-->
<div class="co_tips co_tips_record hidden">
	<div class="co_con">
		<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/images/tips_t4.png?{$smarty.const.VERSION}" alt="" class="co_tips_title">
		<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/images/close.png?{$smarty.const.VERSION}" alt="" class="co_tips_close">
		<div>
			<div class="co_form">
				<p class="table_title">
					<span>奖励名称</span>
					<span>兑换码</span>
				</p>
				<div class="table_list">
					<p class="table_info">

					</p>
				</div>

			</div>
		</div>

	</div>
</div>
<!--地址弹框-->
<div class="co_tips co_tips_addr hidden">
	<div class="co_con">
		<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/images/tips_t2.png?{$smarty.const.VERSION}" alt="" class="co_tips_title">
		<img src="{$smarty.const.STATIC_DOMAIN}lottery_new/images/close.png?{$smarty.const.VERSION}" alt="" class="co_tips_close">
		<div>
			<div class="co_form">
				<p class="tips_txt jp_name">获得：<span></span></p>
				<div class="co_input">
					<input type="text" class="u_name" placeholder="收件人姓名"/>
					<input type="number" onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" class="u_tel" placeholder="收件人电话"/>
					<p class="co_error">收件人姓名不能为空哦</p>
				</div>
				<div class="co_input">
					<textarea name="" id="" cols="30" rows="10" placeholder="收件人详细地址" class="u_madd"></textarea>
					<p class="co_error">收件人电话不能为空哦</p>
				</div>
				<p class="sm">实物奖品，只有一次填写地址的机会。请认真填写你的收货地址，收件人与手机号码，如因填写错误影响收货，将不予补发。</p>
				<div class="co_tips_surebtn"></div>
			</div>
		</div>
	</div>
</div>

</body>

<script src="{$smarty.const.STATIC_DOMAIN}lottery_new/js/jquery-1.11.2.min.js?{$smarty.const.VERSION}" type="text/javascript"></script>
<script src="{$smarty.const.STATIC_DOMAIN}lottery_new/js/clipboard.min.js?{$smarty.const.VERSION}" type="text/javascript"></script>
<script src="{$smarty.const.STATIC_DOMAIN}lottery_new/js/index.js?{$smarty.const.VERSION}" type="text/javascript"></script>
<script type="text/javascript" src="//cdnstatic.yingxiong.com/footer/js/footer_new.js?{$smarty.const.VERSION}"></script>
{download}
{video_play}
</html>