<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<title>《创造与魔法》做自己喜欢的事  分享赢豪礼！</title>
	<meta name="keywords" content="创造与魔法,创造,魔法,马戏之王,创造与魔法官方网站,创造与魔法预约,创造与魔法手游,创造与魔法沙盒手游,高自由度" />
	<meta name="description" content="《创造与魔法》与电影《马戏之王》、饿了么、爱奇艺强强合作，免费抽奖啦！电影票、现金礼包一起瓜分，还有极品珍稀独角兽！分享给你，相信你运气会很好哦！" />
	<link rel="shortcut icon" href="{$global.icon_img}?{$smarty.const.VERSION}" />
	<link href="{$smarty.const.STATIC_DOMAIN}lottery/css/common.css?{$smarty.const.VERSION}" rel="stylesheet">
	<link href="{$smarty.const.STATIC_DOMAIN}lottery/css/index.css?{$smarty.const.VERSION}" rel="stylesheet">
	<script data-fixed="true">
		if((/iphone|android|mobile/i.test(navigator.userAgent.toLowerCase()))) {
			location.href = "/wap"+window.location.pathname+window.location.search;
		}
	</script>
	<script>
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "https://hm.baidu.com/hm.js?cd3c5f317e3f5ced9e323d594c3eb7b3";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s);
		})();
	</script>
	{csrf}
</head>
<body>
<!--header-->
<script type="text/javascript" src="//cdnstatic.yingxiong.com/head/js/topbar.js?{$smarty.const.VERSION}"></script>
<!--第一部分-->
<div class="co_top">
	<!--<img src="{$smarty.const.STATIC_DOMAIN}lottery/images/bg.jpg?{$smarty.const.VERSION}" id="canvasimg" style="display: none;" alt=""/>-->
	<!--<canvas id="mycanvas" width="3840" height="1956"></canvas>-->
	<video src="{$smarty.const.STATIC_DOMAIN}lottery/video/kv_video.mp4" autoplay="autoplay" loop="loop"></video>
	<div class="co_warp">
		<div class="co_img">
			<img src="{$smarty.const.STATIC_DOMAIN}lottery/images/logo.png?{$smarty.const.VERSION}" alt="" class="logo"/>
			<img src="{$smarty.const.STATIC_DOMAIN}lottery/images/logo1.png?{$smarty.const.VERSION}" alt="" class="logo1"/>
			<img src="{$smarty.const.STATIC_DOMAIN}lottery/images/slogan.png?{$smarty.const.VERSION}" class="slogan"/>
			<div class="btn">
				<a href="" class="ios js_down_ios stat_ios"></a>
				<a href="" class="and js_down_andriod stat_android"></a>
				<a class="mx"></a>
			</div>
			<a href="/index" class="co_home" target="_blank"></a>
			<div class="video js_video_play" data-url="http://video.yingxiong.com/hd/eec9a212d3354158acd0cbba227bd204.mp4">
				<img src="{$smarty.const.STATIC_DOMAIN}lottery/images/play.png?{$smarty.const.VERSION}" alt="" class="play"/>
				<img src="{$smarty.const.STATIC_DOMAIN}lottery/images/play1.png?{$smarty.const.VERSION}" alt="" class="play1"/>
			</div>
		</div>
	</div>
</div>
<!--第二部分-->
<div class="co_login ">
	<div class="co_warp">
		<div class="co_invite">
			<p class="co_title"><img src="{$smarty.const.STATIC_DOMAIN}lottery/images/title-1.png?{$smarty.const.VERSION}" alt=""/></p>
			<p class="co_time">活动时间：2月1日—2月7日</p>
			<p class="co_txt">珍稀独角兽、《马戏之王》电影票、饿了么现金礼包……丰富奖品触手可及！</p>
			<div class="co_userinfo">
				<!--登录前-->
				<div class="co_before ">
					<span class="co_loginbtn"></span>
					<p>欢迎您，请先登录</p>
				</div>
				<!--登录后-->
				<div class="co_after hidden" data-url="">
					<p class="co_name">欢迎您<span class="user_phone">15520817601</span><span class="logout">[注销]</span></p>
				</div>
				<!--分享-->
				<div class="co_share"><span></span></div>
				<!--抽奖板块-->
				<div class="lottery_box">
					<div class="left">
						<div class="hm-cj" id="lottery">
							<ul>
								<li class="lottery-unit lottery-unit-0">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/images/hm-jp-img01.png?{$smarty.const.VERSION}" alt="">
									<span class="name">饿了么专属红包*1</span>
								</li>
								<li class="lottery-unit lottery-unit-1">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/images/hm-jp-img02.png?{$smarty.const.VERSION}" alt="">
									<span class="name">《马戏之王》电影票*1</span>
								</li>
								<li class="lottery-unit lottery-unit-2">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/images/hm-jp-img03.png?{$smarty.const.VERSION}" alt="">
									<span class="name">独角兽*1</span>
								</li>
								<li class="lottery-unit lottery-unit-7">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/images/hm-jp-img04.png?{$smarty.const.VERSION}" alt="">
									<span class="name">银矿*10</span>
								</li>
								<li class="lottery-unit click_btn">
									<p class="begin_txt">开始抽奖</p>
									<p class="leave">还剩<span class="count"> 0 </span>次机会</p>
								</li>
								<li class="lottery-unit lottery-unit-3">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/images/hm-jp-img06.png?{$smarty.const.VERSION}" alt="">
									<span class="name">烤牛排*30</span>
								</li>
								<li class="lottery-unit lottery-unit-6">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/images/hm-jp-img07.png?{$smarty.const.VERSION}" alt="">
									<span class="name">谢谢参与</span>
								</li>
								<li class="lottery-unit lottery-unit-5">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/images/hm-jp-img08.png?{$smarty.const.VERSION}" alt="">
									<span class="name">红菇大虾*5</span>
								</li>
								<li class="lottery-unit lottery-unit-4">
									<img src="{$smarty.const.STATIC_DOMAIN}lottery/images/hm-jp-img09.png?{$smarty.const.VERSION}" alt="">
									<span class="name">爱奇艺会员折扣券*1</span>
								</li>
							</ul>
						</div>
						<a href="http://sm.yingxiong.com/info/2018/0131/3225.html" target="_blank" class="detail_btn"></a>
						<span class="check_ward"></span>
					</div>

					<div class="right">
						<div class="ward_list">
							<h1>中奖名单</h1>
							<div class="list_box">
								<div class="price_con">
									<ul></ul>
								</div>
							</div>
						</div>
						<div class="ward_rules">
							<h1>活动规则</h1>
							<ul>
								<li><span>每日首次登录赠送1次参与机会；</span></li>
								<li><span>分享页面邀请好友参加活动即可获得1次参与机会，每日最多可获得2次参与机会；</span></li>
								<li><span>电影票、爱奇艺、饿了么电子券请到指定平台兑换，游戏礼包需进入游戏兑换，详细兑换方式请查看“福利领取指南”；</span></li>
								<li><span>请妥善保管您的兑换码，如若丢失不予补发；</span></li>
								<li><span>每种兑换码只可使用一次，不可重复兑换；</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!--登录弹框-->
<div class="co_tips co_tips_login hidden">
	<div class="co_con">
		<img src="{$smarty.const.STATIC_DOMAIN}lottery/images/tips_t3.png?{$smarty.const.VERSION}" alt="" class="co_tips_title">
		<img src="{$smarty.const.STATIC_DOMAIN}lottery/images/close.png?{$smarty.const.VERSION}" alt="" class="co_tips_close">
		<div>
			<div class="co_form">
				<div class="co_input">
					<input type="number" onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" class="co_username" placeholder="请输入手机号码"/>
					<p class="co_error">手机号码错误</p>
				</div>
				<div class="co_input">
					<input type="text"  class="captcha" placeholder="请输入验证码"/>
					<span class="co_captcha">{$captcha_img}</span>
					<p class="co_error">验证码错误</p>
					<p class="co_imgtxt">点击图片刷新</p>
				</div>
				<div class="co_input">
					<input type="number" onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" class="co_codenum1" placeholder="请输入验证码"/><span class="co_codebtn co_codebtn1">获取验证码</span>
					<p class="co_error">验证码错误</p>
				</div>
				<div class="co_tips_btn1"></div>
			</div>
		</div>
	</div>
</div>
<!--邀请好友弹框-->
<div class="co_tips co_tips_yq hidden">
	<div class="co_con">
		<img src="{$smarty.const.STATIC_DOMAIN}lottery/images/tips_t1.png?{$smarty.const.VERSION}" alt="" class="co_tips_title">
		<img src="{$smarty.const.STATIC_DOMAIN}lottery/images/close.png?{$smarty.const.VERSION}" alt="" class="co_tips_close">
		<div>
			<div class="co_form">
				<p class="tips_txt">您还没有参与机会，邀请好友获得更多机会！</p>
				<div class="bshare-custom co_shareicon">
					<a title="分享到人人网" class="bshare-weixin co_wx"></a>
					<a title="分享到QQ空间" class="bshare-qzone co_qq"></a>
					<a title="分享到新浪微博" class="bshare-sinaminiblog co_wb"></a>
				</div>
				<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=f8a4a53f-438a-4ffa-939f-7f313a7e2b05&amp;pophcol=2&amp;lang=zh"></script>
				<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
			</div>
		</div>
	</div>
</div>
<!--奖品弹框-->
<div class="co_tips co_tips_ward hidden">
	<div class="co_con">
		<img src="{$smarty.const.STATIC_DOMAIN}lottery/images/tips_t2.png?{$smarty.const.VERSION}" alt="" class="co_tips_title">
		<img src="{$smarty.const.STATIC_DOMAIN}lottery/images/close.png?{$smarty.const.VERSION}" alt="" class="co_tips_close">
		<div>
			<div class="co_form">
				<p class="tips_txt">获得：<span>雪狼王</span></p>
				<p class="tips_num"><span>527995</span></p>
				<p class="tips_info">爱玩创魔的小伙伴，都有好运气！</p>
				<div class="co_shareicon">
					<a href="" class="co_wx"></a>
					<a href="" class="co_qq"></a>
					<a href="" class="co_wb"></a>
				</div>
				<div class="co_tips_btn2 copy" data-clipboard-text="527995"></div>
			</div>
		</div>

	</div>
</div>
<!--谢谢参与弹框-->
<div class="co_tips co_tips_no hidden">
	<div class="co_con">
		<img src="{$smarty.const.STATIC_DOMAIN}lottery/images/close.png?{$smarty.const.VERSION}" alt="" class="co_tips_close">
		<div>
			<div class="co_form">
				<p class="tips_txt">谢谢参与！</p>
			</div>
		</div>
	</div>
</div>
<!--中奖记录弹框-->
<div class="co_tips co_tips_record hidden">
	<div class="co_con">
		<img src="{$smarty.const.STATIC_DOMAIN}lottery/images/tips_t4.png?{$smarty.const.VERSION}" alt="" class="co_tips_title">
		<img src="{$smarty.const.STATIC_DOMAIN}lottery/images/close.png?{$smarty.const.VERSION}" alt="" class="co_tips_close">
		<div>
			<div class="co_form">
				<p class="table_title">
					<span>奖励名称</span>
					<span>兑换码</span>
				</p>
				<div class="table_list">
					<p class="table_info">

					</p>
				</div>

			</div>
		</div>

	</div>
</div>
<!--马戏弹框-->
<div class="co_tips co_tips_detail hidden">
	<div class="co_con">
		<img src="{$smarty.const.STATIC_DOMAIN}lottery/images/close.png?{$smarty.const.VERSION}" alt="" class="co_tips_close">
		<div>
			<p class="mx_img"><img src="{$smarty.const.STATIC_DOMAIN}lottery/images/mx_img.png?{$smarty.const.VERSION}" alt=""/></p>
			<p class="title">影片简介</p>
			<p class="info">《马戏之王》将励志故事与马戏团表演相结合，凭借动人歌舞与缤纷的色彩，为寒冷的冬季增添了一丝火热
				气息，在春节来临之际，契合合家欢的氛围。影片由二十世纪福斯公司出品，博纳影业集团投资，迈克尔·格
				雷西执导，“狼叔”休·杰克曼、扎克·埃夫隆、奖最佳女主角米歇尔·威廉歇尔·威廉姆斯、丽贝卡、弗格森、
				赞达亚出演，将于2月1日在内地上映。</p>
		</div>

	</div>
</div>

</body>

<script src="{$smarty.const.STATIC_DOMAIN}lottery/js/jquery-1.11.2.min.js?{$smarty.const.VERSION}" type="text/javascript"></script>
<script src="{$smarty.const.STATIC_DOMAIN}lottery/js/clipboard.min.js?{$smarty.const.VERSION}" type="text/javascript"></script>
<script src="{$smarty.const.STATIC_DOMAIN}lottery/js/index.js?{$smarty.const.VERSION}" type="text/javascript"></script>
<script type="text/javascript" src="//cdnstatic.yingxiong.com/footer/js/footer_new.js?{$smarty.const.VERSION}"></script>
{download}
{video_play}
</html>