* {
  font-family: 'microsoft yahei';
}
.top {
  position: fixed;
  top: 0;
  left: 0;
  height: 3.125rem;
  width: 100%;
  background: -moz-linear-gradient(top, #1a0301 0%, #1b1919 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1a0301), color-stop(100%, #1b1919));
  background: -webkit-linear-gradient(top, #1a0301 0%, #1b1919 100%);
  background: -o-linear-gradient(top, #1a0301 0%, #1b1919 100%);
  background: -ms-linear-gradient(top, #1a0301 0%, #1b1919 100%);
  background: linear-gradient(top, #1a0301 0%, #1b1919 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a0301', endColorstr='#1b1919', GradientType=0);
  z-index: 99;
}
.top .logo {
    position: absolute;
    top: 0.4rem;
    left: 0.625rem;
    height: 3.71875rem;
    width: 6.8125rem;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.top .top-word {
  float: left;
  width: 8rem;
  margin: 0.75rem 0 0 4.21875rem;
  font-family: STHeiti;
}
.top .top-word h4 {
  font-weight: 600;
  color: #fcf9ff;
  font-size: 0.875rem;
}
.top .top-word p {
  color: #a5a5b9;
  font-size: 0.6rem;
}
.top .top-btn {
  float: right;
  margin: 0.7rem 0.875rem 0 0;
  height: 1.875rem;
  width: 1.875rem;
  background-image: url("../images/top_open.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.top .top-btn.close {
  background-image: url("../images/top_close.png");
}
.top .top-down {
  float: right;
  margin: 0.7rem 0.875rem 0 0;
  height: 1.875rem;
  width: 5.25rem;
  background-image: url("../images/top_down.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.top .down_list{
    background: rgba(255,255,255,.7);
    width: 6.0625rem;
    position: absolute;
    right: 2.8rem;
    top: 3.1rem;
    border-radius: 8px;
    padding: 0.6rem;
    display: none;
}

.top .down_list li+li{
  margin-top:0.5rem;
}
.top > a>img{
    margin: 0 auto;
    position: relative;
    width: 6.0625rem;
    height: 2.40625rem;
    margin-bottom: 0.5rem;
}
.top .down_list li a{
    width: 6.0625rem;
    height: 2.40625rem;
    display: block;
    position: relative;
    margin: 0 auto;
}
.top .down_list li a.down_gfbtn{
    background:url(../images/down1.png) no-repeat;
    background-size: 100% 100%;
}
.top .down_list li a.tap{
    background:url(../images/tap2.png) no-repeat;
    background-size: 100% 100%;
}
.top .down_list:before{
    content: "";
    display: block;
    border-width: 0 11px 9px;
    border-style: solid;
    border-color: transparent transparent rgba(255,255,255,.7);
    position: absolute;
    top: -9px;
    left: 50%;
    margin-left: -7px;
}
.top .top-list {
  display: none;
  position: absolute;
  top: 3.125rem;
  right: 0;
  width: 5.9375rem;
}
.top .top-list li {
  height: 2.8125rem;
  width: 100%;
  text-align: center;
  line-height: 2.8125rem;
  background-color: rgba(27, 27, 27, 0.9);
  border-bottom: 1px solid #484842;
}
.top .top-list li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
  color: #fff;
}
.top .top-list li:last-child {
  border-bottom: none;
}
.top .top-list li.active a {
  color: #ffd01a;
}
.top:after {
  content: '';
  display: block;
  clear: both;
}
.cont1 {
    position: relative;
    height: 32.15625rem;
    width: 101%;
    background-image: url(../images/wap_01.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: -1px;
    overflow: hidden;
}
.cont1 .logo {
  position: absolute;
  height: 2.34375rem;
  width: 8.09375rem;
  top: 4.375rem;
  left: 0.9375rem;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cont1 .slogan {
  position: absolute;
  width: 19.71875rem;
  height: 6.1875rem;
  top: 5rem;
  left: 0.1rem;
  text-align: center;
  background-image: url("../images/slogan.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cont1 .slogan .boom {
  position: absolute;
  left: 6rem;
  top: 0;
  width: 2.125rem;
  height: 2.5625rem;
  background-image: url("../images/boom.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cont1 .play {
  position: absolute;
  width: 4.59375rem;
  height: 4.625rem;
  top: 13rem;
  left: 3.28125em;
  text-align: center;
  z-index: 9;
  animation: vGo 2s linear infinite;
  -webkit-animation: vGo 2s linear infinite;
  background-image: url("../images/play.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cont1 .dragon {
  position: absolute;
  width: 4.9375rem;
  height: 3.6875rem;
  top: 10rem;
  right: 0rem;
  text-align: center;
  z-index: 9;
  animation: dragon 1.5s infinite alternate;
  -webkit-animation: dragon 1.5s infinite alternate;
  background-image: url("../images/dragon.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cont1 .video {
  position: absolute;
  display: block;
  top: 13rem;
  left: 8.34375rem;
  margin-top: 0.203125rem;
  width: 3.375rem;
  height: 3.34375rem;
}
.cont1 .download {
    position: absolute;
    width: 97%;
    height: 2.90625rem;
    bottom: 1.625rem;
    left: 50%;
    margin-left: -48.5%;
}
.cont1 .download a.down_gf{
  display: block;
  width: 9.6875rem;
  height: 4.40625rem;
  background-image: url("../images/btn_14.png");
  background-repeat: no-repeat;
  background-size:100% 100%; 
  float: left;
}
.cont1 .download a.tap{
  display: block;
  width: 9.6875rem;
  height: 4.40625rem;
  background-image: url("../images/tap.png");
  background-repeat: no-repeat;
  background-size:100% 100%; 
  float: right;
}
.cont2 {
  height: 33.375rem;
  width: 100%;
  background-image: url("../images/wap_02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cont2 .swiper1 {
  position: relative;
  height: 8.59375rem;
  width: 18.125rem;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #ffcb00;
  border-radius: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
}
.cont2 .swiper1 .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.cont2 .swiper1 .swiper-wrapper .swiper-slide {
  position: relative;
}
.cont2 .swiper1 .swiper-wrapper .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
.cont2 .swiper1 .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
}
.cont2 .swiper1 .swiper-wrapper .swiper-slide p {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1.5625rem;
  line-height: 1.5625rem;
  width: 100%;
  font-size: 0.75rem;
  padding-left: 0.625rem;
  color: #a5a5a7;
  font-family: PingFangSC;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.34);
  z-index: 99;
}
.cont2 .swiper-pagination {
  margin-top: 0;
  margin-left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  text-align: center;
}
.cont2 .swiper-pagination .swiper-pagination-bullet {
  width: 0.6rem;
  height: 0.2rem;
  margin: 0 0.3rem;
  border-radius: 10px;
  border: 2px solid #593f03;
}
.cont2 .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #f9ea00;
}
.cont2 .news {
  position: relative;
  height: 16.375rem;
  width: 18.125rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.03125rem;
}
.cont2 .news .news-list {
  height: 2.1875rem;
}
.cont2 .news .news-list li {
  width: 4.6875rem;
  height: 1.71875rem;
  display: inline-block;
  line-height: 1.71875rem;
  margin-left: 0.5rem;
  text-align: center;
  font-size: 0.9375rem;
  font-family: "Microsoft YaHei";
  color: #fff;
}
.cont2 .news .news-list li:first-child {
  margin-left: 0.625rem;
}
.cont2 .news .news-list li.active {
  color: #34161a;
  font-weight: bold;
  background-color: #ffde00;
  border-radius: 20px;
}
.cont2 .news .news-list a {
  position: relative;
  top: 0.4rem;
  left: 0;
  width: 1.4375rem;
  height: 1.4375rem;
  display: inline-block;
  background-image: url("../images/add.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.cont2 .news .news-info {
  margin-top: 0.2rem;
  border: 2px solid #ffde00;
  border-radius: 10px;
  background-color: #1e080b;
  height: 12.34375rem;
  padding: 0.46875rem;
}
.cont2 .news .news-info li.info {
  height: 100%;
  display: none;
}
.cont2 .news .news-info li.info a {
  display: block;
  width: 100%;
  height: 100%;
}
.cont2 .news .news-info li.info h3 {
  font-size: 0.9375rem;
  line-height: 1.71875rem;
  color: #fff;
  font-family: PingFangSC;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cont2 .news .news-info li.info p {
  font-size: 0.6875rem;
  line-height: 1.09375rem;
  color: #7d89a1;
  font-family: PingFangSC;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.cont2 .news .news-info li.info .noData {
  text-align: center;
  font-size: 0.9375rem;
  line-height: 1.71875rem;
  color: #c3cede;
  font-family: PingFangSC;
}
.cont2 .news .news-info li.info ul.news-info-list li {
  height: 1.875rem;
  line-height: 1.875rem;
  font-size: 0.75rem;
  color: #cccccc;
  font-family: PingFangSC;
  text-align: left;
  border-bottom: 1px dotted #402d2f;
}
.cont2 .news .news-info li.info ul.news-info-list li i {
  font-style: normal;
  margin-right: 0.2rem;
}
.cont2 .news .news-info li.info ul.news-info-list li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #cccccc;
}
.cont2 .news .news-info li.info ul.news-info-list li span:first-child {
  width: 85%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cont2 .news .news-info li.info ul.news-info-list li span:last-child {
  color: #bbbbbb;
  float: right;
  font-size: 0.6875rem;
}
.cont2 .news .news-info li.info ul.news-info-list li:after {
  content: '';
  display: block;
  clear: both;
}
.cont2 .news .news-info li.active {
  display: block;
}
.cont3 {
  height: 18.125rem;
  width: 100%;
  background-image: url("../images/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cont3 .title {
  position: relative;
  height: 1.8125rem;
  width: 6.9375rem;
  left: 7.09375rem;
  background-image: url("../images/title.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cont3 .playBg {
  position: relative;
  width: 100%;
  height: 13.65625rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.8rem;
  background-image: url("../images/playBg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  overflow: hidden;
}
.cont3 .swiper2 {
  width: 18rem;
  height: 11.65rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.05rem;
  overflow: hidden;
}
.cont3 .swiper2 .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.cont3 .swiper2 .swiper-wrapper .swiper-slide {
  position: relative;
}
.cont3 .swiper2 .swiper-wrapper .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
.cont3 .swiper2 .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
}
.cont3 .swiper2 .swiper-button-prev {
  left: 1.3rem;
}
.cont3 .swiper2 .swiper-button-next {
  right: 1.3rem;
}
.listBg {
  position: relative;
  width: 100%;
  height: 21.5625rem;
  background-image: url("../images/wap_04.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.listBg .news-title {
  position: relative;
  top: 5rem;
  width: 5.625rem;
  height: 1.1875rem;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/news-title.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.listBg .back {
  position: absolute;
  width: 5.875rem;
  height: 1.8125rem;
  left: 0.9375rem;
  bottom: 9.8rem;
  background-image: url("../images/back.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.listBg .back a {
  display: block;
  width: 100%;
  height: 100%;
}
.news-info {
  position: relative;
  background-color: #130406;
  margin-top: -2rem;
  z-index: 9;
}
.news-info .news-info-box {
  position: relative;
  top: -7rem;
  width: 18rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border: 3px solid #fdce17;
  border-radius: 10px;
}
.list-info .list-title {
  height: 1.5625rem;
  width: 100%;
  margin-top: 1.25rem;
  text-align: center;
}
.list-info .list-title img {
  height: 100%;
}
.list-info .list-article-title {
  margin-top: -5.4rem;
}
.list-info .list-article-title li {
  height: 1.5625rem;
  line-height: 1.4rem;
  width: 4rem;
  display: inline-block;
  text-align: center;
  margin-right: 0.8rem;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #ffcb00;
  border-radius: 20px;
}
.list-info .list-article-title li a {
  font-family: PingFangSC;
  color: #fff;
  font-size: 0.8125rem;
}
.list-info .list-article-title li:last-child {
  margin-right: 0;
}
.list-info .list-article-title li.active {
  color: #000;
  background-color: #ffe100;
}
.list-info .list-article-title li.active a {
  font-weight: bold;
  color: #000;
}
.list-info .list-article {
  min-height: 16rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
.list-info .list-article li {
  height: 3.125rem;
  line-height: 3.125rem;
  font-size: 0.75rem;
  color: #666666;
  font-family: PingFangSC;
  text-align: left;
  border-bottom: 1px dotted #e5e5e5;
}
.list-info .list-article li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #333333;
}
.list-info .list-article li a i {
  font-style: normal;
}
.list-info .list-article li span:first-child {
  width: 85%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list-info .list-article li span:last-child {
  float: right;
  color: #666666;
  font-size: 0.625rem;
}
.list-info .list-article li:focus,
.list-info .list-article li:visited,
.list-info .list-article li:active {
  color: #b40808;
}
.list-info .list-article li:focus a,
.list-info .list-article li:visited a,
.list-info .list-article li:active a,
.list-info .list-article li:focus span,
.list-info .list-article li:visited span,
.list-info .list-article li:active span {
  color: #b40808;
}
.list-info .list-article li.noData {
  text-align: center;
  border-bottom: none;
}
.list-info .list-article li:after {
  content: '';
  display: block;
  clear: both;
}
.art_til {
  text-align: left;
  border-bottom: 1px solid #ECECEC;
  padding-bottom: 1rem;
}
.art_til h3 {
  margin-top: 0.8rem;
  font-size: 1rem;
  font-weight: 100;
  font-family: PingFangSC;
  color: #333;
  padding: 0 0.9375rem;
}
.art_til p {
  margin-top: .6rem;
  color: #999;
  font-size: 0.6875rem;
  padding: 0 0.9375rem;
}
.art_m {
  min-height: 14rem;
  font-size: 0.75rem!important;
  margin: 1rem auto 0;
  padding: 0 0.9375rem;
}
.art_m img{
  max-width:100%;
  display: block;
  margin: 0 auto;
}
.art_m p {
  font-family: PingFangSC;
  font-size: 0.75rem!important;
  background: transparent!important;
  color: #666;
  line-height: 1.5rem;
}
.art_m span {
  font-family: PingFangSC;
  font-size: 0.9375rem!important;
  background: transparent!important;
  color: #666;
  line-height: 1.5rem;
}
.detail-time {
  margin-right: 0.8rem;
}
.dropload-down > div {
  display: block;
  height: 3rem;
  line-height: 3rem;
  font-size: 0.625rem;
  color: rgba(125, 137, 161, 0.5);
  text-align: center;
}
.mask {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999;
}
.mask .dialog {
  position: relative;
  top: 45%;
  height: 15.25rem;
  width: 100%;
  transform: translateY(-50%);
  background-image: url("../images/dialog.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -0.8rem center;
  overflow: hidden;
}
.mask .dialog .close {
  position: absolute;
  top: 3.5rem;
  right: 1rem;
  width: 1.25rem;
  height: 0.96875rem;
  background-image: url("../images/close.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.mask .dialog .from {
  position: absolute;
  top: 7rem;
  left: 3.5rem;
  text-align: center;
}
.mask .dialog .from .email {
  border: 2px solid #ffcb00;
  border-radius: 10px;
  width: 13.28125rem;
  height: 2.1875rem;
  padding: 0.1rem 0.3rem;
}
.mask .dialog .from .email:focus {
  outline: none;
}
.mask .dialog .from p {
  margin: 0.5rem 0 1rem 0;
  color: #fff;
  font-size: 0.625rem;
  font-family: PingFangSC;
}
.mask .dialog .from .from-upload {
  display: inline-block;
  width: 6.375rem;
  height: 2.1875rem;
  margin-right: 1rem;
  background-image: url("../images/upload.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.mask .dialog .from .from-download {
  display: inline-block;
  width: 6.375rem;
  height: 2.1875rem;
  background-image: url("../images/download.png");
  background-size: cover;
  background-repeat: no-repeat;
}
@keyframes vGo {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
@-webkit-keyframes dragon {
  0% {
    transform: scale(0.9) translateY(-10px);
  }
  100% {
    transform: scale(1.1) translateY(10px);
  }
}
@keyframes dragon {
  0% {
    transform: scale(0.9) translateY(-10px);
  }
  100% {
    transform: scale(1.1) translateY(10px);
  }
}
