{include '../../layouts/wap/header.html'}
    <div class="kv">
        <div class="container">
            <div class="title_box">
                <img src="{$global.logo_img}" alt="" class="logo_ico">
                <img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/logo.png?{$smarty.const.VERSION}" alt="" class="logo">
            </div>
            <a href="javascript:;" class="download js_wap_down stat_down"><img src="{$smarty.const.STATIC_DOMAIN}1.0/m/images/down.png?{$smarty.const.VERSION}" alt=""></a>
        </div>
    </div>
{include '../../layouts/wap/footer.html'}