address,
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
select,
td,
textarea,
th,
ul {
	margin: 0;
	padding: 0
}
.chengg{
	width:100%;
	height:1px;
	background:none;
}
body {
	font-family: "Microsoft YaHei"
}

button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label,
select,
textarea {
	font-size: 100%;
	vertical-align: middle
}

dl,
li,
ol,
ul {
	list-style: none
}

a {
	text-decoration: none
}

fieldset,
img {
	border: none
}

img {
	display: inline-block;
	overflow: hidden;
	vertical-align: top
}

address,
em {
	font-style: normal
}

sub,
sup {
	vertical-align: baseline
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

q:before {
	content: ""
}

q:after {
	content: ""
}

button {
	cursor: pointer
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none
}
textarea {
	word-wrap: break-word;
	resize: none
}
.wrap{
	width:1200px;
	height:100%;
	position:relative;
	margin:0 auto;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.clear {
	clear: both
}

.fl {
	float: left
}

.fr {
	float: right
}

* {
	margin: 0;
	padding: 0
}
.header {
  width: 100%;
  height: 3.125rem;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
.header .icon {
  display: block;
  width: 3.75rem;
  height: 3.75rem;
  float: left;
  margin: 0.3125rem 0.625rem 0 0.625rem;
}
.header .icon img {
  display: block;
  width: 100%;
  height: 100%;
}
.header .header_txt {
  float: left;
  font-size: 0.9375rem;
  color: #fff;
  margin-top: 0.625rem;
}
.header .header_txt p:nth-child(2) {
  font-size: 0.5625rem;
  color: #999999;
}
.header .enter {
  width: 5.125rem;
  height: 1.84375rem;
  float: right;
  margin: 0.6875rem 0.625rem 0 0;
}
.header .enter img {
  display: block;
  width: 100%;
  height: 100%;
}
.header .i_down {
  display: block;
  width: 5.6875rem;
  height: 1.8125rem;
  float: left;
  margin: 0.6875rem 0.3125rem 0 0.25rem;
}
.header .i_down img {
  display: block;
  width: 100%;
  height: 100%;
}
.header .header_tab {
  width: 1.75rem;
  height: 1.75rem;
  float: right;
  border: 2px solid #9b9a9b;
  margin: 0.625rem 0.3125rem 0 0;
  position: relative;
}
.header .header_tab span {
  display: block;
  width: 0.8125rem;
  height: 0.0625rem;
  background-color: #9b9a9b;
  position: absolute;
  left: 0.5rem;
  transition: all .5s;
  -webkit-transition: all .5s;
}
.header .header_tab span.f_span {
  top: 0.5rem;
}
.header .header_tab span.f_span.active {
  transform: rotate(-45deg);
  top: 0.8125rem;
}
.header .header_tab span.s_span {
  top: 0.8125rem;
}
.header .header_tab span.s_span.active {
  display: none;
}
.header .header_tab span.t_span {
  top: 1.1875rem;
}
.header .header_tab span.t_span.active {
  transform: rotate(45deg);
  top: 0.8125rem;
}
.header .h_tab {
  width: 8.125rem;
  overflow: hidden;
  position: fixed;
  top: 3.125rem;
  right: 0;
  z-index: 11;
  background: #020202;
  display: none;
}
.header .h_tab li {
  width: 100%;
  height: 2.8125rem;
  text-align: center;
  line-height: 2.8125rem;
  font-size: 0.75rem;
  border-bottom: 1px solid #353535;
}
.header .h_tab li a {
  display: block;
  color: #fff;
}
header .nav-content {
    position: absolute;
    top: 3.125rem;
    right:2.125rem;
    width: 6.3125rem;
    height:5.875rem;
    z-index: 9;
    display: none;
    background:url("../images/down_bg.png");
    background-size:100% 100%;
}
header .nav-content a{
    display:block;
    width:5.6875rem;
    height:2.28125rem;
    margin: 0 auto;
    margin-top: 0.4375rem;
}
header .nav-content>a.i_down1{
    background:url("../images/down_load.png");
    background-size:100% 100%;
}
header .nav-content>a.tap{
    background:url("../images/tap.png");
    background-size:100% 100%;
}
.dropload-down{
	width:18.125rem;
	height:2.1875rem;
	margin:1.25rem auto 0;
	background-color:#302827;
	font-size:0.6875rem;
	color:#5f504d;
	line-height:2.1875rem;
	text-align: center;
	border-radius: 0.78125rem;
}
.yx_tips_txt{
    position: absolute;
    width: 15.1rem;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.625rem;
    border-radius: 10px;
    background: #fff;
    text-align: center;
    left: 50%;
    margin-left: -7.8rem;
    top: 50%;
    margin-top: -0.75rem;
    color: #666;
    font-size:
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    padding:0.3125rem;
}