<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>{$seo_title}</title>
		<meta name="keywords" content="{$seo_key}" />
		<meta name="description" content="{$seo_desc}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="shortcut icon" href="{$global.icon_img}?{$smarty.const.VERSION}"
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}3.0/common/css/common.min.css?{$smarty.const.VERSION}" />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}3.0/m/css/cover.css?{$smarty.const.VERSION}" />
		<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}3.0/common/js/jquery-1.11.3.min.js?{$smarty.const.VERSION}"></script>
		<script type="text/javascript">
			(function(win, doc) {
				if(!win.addEventListener) return;
				var html = document.documentElement;

				function setFont(cb) {
					var w = html.clientWidth,
						h = html.clientHeight;
					html.style.fontSize = w > h ? w / 1136 * 100 + "px" : w / 640 * 100 + "px";
					if(cb && typeof(cb) == "function") {
						cb()
					}
				}
				doc.addEventListener('DOMContentLoaded', setFont, false);
				win.addEventListener('resize', setFont, false);
				win.addEventListener('load', setFont, false);
			})(window, document);
		</script>
	</head>

	<body>
		<header class="top clear">
			<a href="index.html" class="icon"><img src="{$global.logo_img}"></a>
			<div class="header-txt">
				<p>{$global.title}</p>
				<p>{$global.sub_title}</p>
			</div>
			<div class="header_a">
				<a href="/index.html" class="enter"><img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/enter.png?{$smarty.const.VERSION}" alt="" /></a>
				<a href="javascript:;" class="download js_wap_down stat_down"><img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/c_download.png?{$smarty.const.VERSION}" alt=""></a>
			</div>
		</header>
		<section>
			<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/c1.jpg?{$smarty.const.VERSION}" alt="" class="c1" />
			<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/c2.jpg?{$smarty.const.VERSION}" alt="" class="c2" />
			<div class="c3">
				<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/label.png?{$smarty.const.VERSION}" alt="" class="label" />
				<div class="video">
					<img class="js_video_play" data-url="{$video.url}" src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/play.png?{$smarty.const.VERSION}" alt="" />
				</div>
			</div>
		</section>
		<section>
			<div class="c_main">
				<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/label1.png?{$smarty.const.VERSION}" alt="" class="label1" />
				<div class="l_m">
					<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/tit.png?{$smarty.const.VERSION}" alt="" class="tit" />
					<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/pic01.png?{$smarty.const.VERSION}" alt="" class="pic01" />
					<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/tit1.png?{$smarty.const.VERSION}" alt="" class="tit1" />
					<div class="m_ul">
						<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/img01.png?{$smarty.const.VERSION}" alt="" class="img01" />
						<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/img02.png?{$smarty.const.VERSION}" alt="" class="img02" />
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="d_main">
				<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/tit2.png?{$smarty.const.VERSION}" alt="" class="tit2" />
				<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/pic02.png?{$smarty.const.VERSION}" alt="" class="pic02" />
				<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/tit3.png?{$smarty.const.VERSION}" alt="" class="tit3" />
				<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/get.png?{$smarty.const.VERSION}" alt="" class="get" />
				<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/tit4.png?{$smarty.const.VERSION}" alt="" class="tit4" />
			</div>
		</section>
		<section>
			<div class="e_main">
				<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/label2.png?{$smarty.const.VERSION}" alt="" class="label2" />
				<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/tit5.png?{$smarty.const.VERSION}" alt="" class="tit5" />
				<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/c_code.png?{$smarty.const.VERSION}" alt="" class="c_code" />
				<div class="c_txt">
					<p>或许你从没想过，你有如此出众。这一年中，</p>
					<p>你的成绩不是过眼云烟，只因我们铭记在心。</p>
					<p>今天，我们就帮你重拾这份美好回忆。</p>
					<p class="p_tit">活动时间：</p>
					<p class="p_clor">2018年1月08日-2018年1月21日</p>
					<p>参与方式：</p>
					<p class="p_clor">扫描生成你的飞车回忆录，回顾你的飞车生涯</p>
				</div>
				<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/c_gift.png?{$smarty.const.VERSION}" alt="" class="c_gift" />
			</div>
		</section>
		<section>
			<div class="f_main">
				<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/tit6.png?{$smarty.const.VERSION}" alt="" class="tit6" />
				<div class="m_txt">
					<p>秋名山在无数飞车玩家心中不是一个地名，而是极</p>
					<p>速与挑战的代名词。飞车周年庆典，正式开启秋名</p>
					<p>山赛道挑战。轰鸣的引擎声，就是飞车最动听的生</p>
					<p>日庆歌！</p>
					<p class="p_tit">每日累计参与秋名山1场<span>送钻石5+2000金币</span></p>
					<p>每日累计参与秋名山3场<span>送钻石10+浪漫玫瑰*1</span></p>
					<p>每日累计参与秋名山7场<span>送钻石15+白银钥匙*1+挑战者礼包*1</span></p>
				</div>
				<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/gift_d.png?{$smarty.const.VERSION}" alt="" class="gift_d" />
			</div>
		</section>
		<section>
			<div class="c8">
				<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/label3.png?{$smarty.const.VERSION}" alt="" class="label3" />
				<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/c_kv.png?{$smarty.const.VERSION}" alt="" class="c_kv" />
				<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/g_gift.png?{$smarty.const.VERSION}" alt="" class="g_gift" />
			</div>
		</section>
		<section>
			<div class="c9">
				<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/label4.png?{$smarty.const.VERSION}" alt="" class="label4" />
				<img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/story.png?{$smarty.const.VERSION}" alt="" class="story" />
				<div class="c_a">
					<a href="http://fc.yingxiong.com/info/list_197_1.html"><img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/gs.png?{$smarty.const.VERSION}" alt="" /></a>
					<a href="http://fc.yingxiong.com/hd/2018/0102/3067.html"><img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/tg.png?{$smarty.const.VERSION}" alt="" /></a>
				</div>
				<a href="javascript:;" class="go"><img src="{$smarty.const.STATIC_DOMAIN}3.0/m/images/go.png?{$smarty.const.VERSION}" alt="" /></a>
			</div>
		</section>
	</body>
	<script type="text/javascript" src="//cdnstatic.yingxiong.com/footer/js/footer.js?{$smarty.const.VERSION}"></script>
	{download}
	{video_play}
	<script type="text/javascript">
		$(function() {
			//返回顶部
			$(".go").click(function() {
				var a;
				function back() {
					a = setInterval(go_top, 2);
				}
				function go_top() {
					if(window.scrollY <= 0) {
						clearInterval(a);
					} else {
						scrollTo(0, window.scrollY - 30);
					}
				}
				back();
			});
		})
	</script>

</html>