body,html{font-family: "HelveticaNeue";}
* {
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-appearance: none;
}
.hidden{
	display:none;
}
input[type=number] {
	-moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.index1_header {
    width: 100%;
    height:3.125rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color:rgba(0,0,0,.9);
    opacity: 0.9;
}
.index1_logo {
    width: 3.21875rem;
    position: relative;
    float: left;
    margin-top: 0.48rem;
    margin-left: 0.92rem;
}
.index1_logo img {
    width: 100%;
    border-radius: 7px;
}
.index1_header .header_txt {
    float: left;
    position: relative;
    margin-left: 0.60625rem;
    margin-top: 0.46rem;
}
.index1_header .header_txt .h_p_01 {
    line-height: 1.125rem;
    font-size: 1rem;
    font-weight: bolder;
    color: #fff;
}
.index1_header .header_txt .h_p_02 {
    line-height: 0.625rem;
    font-size: 0.5625rem;
    color: #9F9F9F;
    margin-top: 0.42rem;
}
.index1_header .download img{
    width:5.9375rem;
    float: right;
    display: block;
    margin-right:1.04rem;
    margin-top:0.7rem;
}
.wrap{
	width: 20.0rem;
	height:43.75rem;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	background: url(../images/wap_bg.jpg) center top no-repeat;
	background-size: 100% 100%;
}
.wrap>.wrap_con{
    width: 100%;
    height: 22.96875rem;
    margin: 0 auto;
    position: relative;
    top: 3rem;
    z-index: 15;
    overflow: hidden;
}
.wrap>.wrap_con .logo{
	display:none;
	width:6.96875rem;
	position: absolute;
	top:0.84375rem;
	left:50%;
	margin-left:-3.484375rem;
	animation: fadeInDown 1s linear;
    -webkit-animation: fadeInDown 1s linear;
    -moz-animation: fadeInDown 1s linear;
}
.wrap .peo_box .left{
	display:none;
    width: 13.0625rem;
    position: absolute;
    top: 6.4rem;
    left: -3rem;
    z-index: 3;
}
.wrap .peo_box .right{
	display:none;
    width: 11.3125rem;
    position: absolute;
    right: -3.3rem;
    top: 7.90625rem;
    z-index: 3;
}
.wrap .peo_box .battle{
	display:none;
	width:12.09375rem;
    position: absolute;
    top:6.15625rem;
    left:50%;
    margin-left:-6.046875rem;
    z-index: 2;
}
.load_btn{
	width: 13.9375rem;
	height: 3.53125rem;
	position: relative;
	margin: 0 auto;
	background: url(../images/down2.png) center top no-repeat;
	background-size: 100% 100%;
	display: block;
	top: 18.5rem;
	z-index: 5;
}
.lightSpeedIn {
	-webkit-animation-name: lightSpeedIn;
	-moz-animation-name: lightSpeedIn;
	animation-name: lightSpeedIn;
	-webkit-animation-timing-function: ease-out;
	-moz-animation-timing-function: ease-out;
	animation-timing-function: ease-out
}
.animated {
	-webkit-animation-duration: 1.2s;
	-moz-animation-duration: 1.2s;
	animation-duration: 1.2s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	animation-fill-mode: both
}
.shop_img{
    width: 100%;
    height: 16.96875rem;
    position: relative;
    top: 4rem;
}
.shop_img .title{
	width:9.15625rem;
	height:3.125rem;
	background: url(../images/title.png) no-repeat;
	background-size:100% 100%;
	position: relative;
	margin:0 auto;
	top:0.65625rem;
}
.slider{
	position: relative;
	width: 18.75rem;
	height:10.03125rem;
	margin: 0 auto;
	margin-top:1rem;
}
.slider .swiper-container .swiper-slide{
    height: 10.1875rem;
    position: relative;
    /*margin-left: -0.15rem;*/
}
.slider .swiper-container .swiper-slide>a{
	position:relative;
	margin-left: 50%;
	display: inline-block;
	width: 15.84375rem;
	height:8.9375rem;
	text-align:center;
	transform: translate(-8.13125rem,0);
	-webkit-transform: translate(-8.13125rem,0);
	border:0.2rem solid #D29512;
	border-radius: 5px;
	top:0.6rem;
	overflow: hidden;
}
.slider .swiper-container .swiper-slide i{
    width: 16.75rem;
    height: 2.1875rem;
    background: url(../images/slider_top.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    display: block;
    z-index: 4;
    left: -5.4rem;
}
.slider .swiper-container .swiper-slide>a .images{
	position:absolute;
	left:50%;
	top:50%;
	width: 15.84375rem;
	height:8.9375rem;
	margin:-4.46875rem 0 0 -7.921875rem;
	z-index:1;
}
.swiper-button-prev{
	position: absolute;
    top: 50%;
    width: 1.2rem;
    height: 8rem;
    margin-top: -4rem;
    z-index: 10;
    left: -0.01rem !important;
    cursor: pointer;
    opacity: 0;
}
.swiper-button-next{
	position: absolute;
    top: 50%;
    width: 1.2rem;
    height: 8rem;
    margin-top: -4rem;
    z-index: 10;
    right: -0.01rem !important;
    cursor: pointer;
    opacity: 0;
}
.slider .swiper-slide.swiper-slide-next>a {opacity: 1;}
.slider .swiper-slide.swiper-slide-next>a:before{display:none;}
.slider .swiper-pagination{
	left: 50%;
	bottom: 3.3rem;
	transform:translate(-50%);
	-webkit-transform:translate(-50%);
}
.slider .swiper-pagination-bullet {
	width: 0.28125rem;
	height: 0.28125rem;
	margin: 0 .25rem;
	opacity: 1;
	background:url("../images/bullet.png");
	background-size:100% 100%;
}
.slider .swiper-pagination-bullet-active {
	position: relative;
	width: 0.34375rem;
	height: 0.34375rem;
	top: .05rem;
	background: url(../images/bullet1.png);
	background-size: 100% 100%;
}
.slider .swiper-button-prev3{
	width: 1.0625rem;
	height: 1.3125rem;
	background: url(../images/prev.png);
	background-size: 100% 100%;
	top: 9.7rem;
	left: 4rem;
	margin: 0;
}
.slider .swiper-button-next3{
	top: 9.7rem;
	right: 4rem;
	margin: 0;
	width:1.0625rem;
	height:1.3125rem;
	background:url("../images/next.png");
	background-size:100% 100%;
}
.wrap>.wrap_con .play
{
    width: 3.4375rem;
    height: 3.4375rem;
    position: absolute;
    top: 7.625rem;
    left: 50%;
    display: block;
    margin-left: -1.71875rem;
    animation: vGo 2s linear infinite;
    -webkit-animation: vGo 2s linear infinite;
    z-index: 5;
}
.wrap>.wrap_con .play img{
	width:100%;
	height:100%;
}
@keyframes vGo{
	0%{transform: scale(0.9);}
	50%{transform: scale(1);}
	100%{transform: scale(0.9);}
}
@-webkit-keyframes vGo{
	0%{transform: scale(0.9);}
	50%{transform: scale(1);}
	100%{transform: scale(0.9);}
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}
@-moz-keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}
.lightSpeedIn {
	-webkit-animation-name: lightSpeedIn;
	animation-name: lightSpeedIn;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out
}
.zoomIn {
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out
}

@-webkit-keyframes slideInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		transform: translateX(-2000px)
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
}
@keyframes slideInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		-ms-transform: translateX(-2000px);
		-moz-transform: translateX(-2000px);
		transform: translateX(-2000px)
	}
	100% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		-moz-transform: translateX(0);
		transform: translateX(0)
	}
}
.slideInLeft {
	-webkit-animation-name: slideInLeft;
	-moz-animation-name: slideInLeft;
	animation-name: slideInLeft
}

@-webkit-keyframes slideInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
		transform: translateX(2000px)
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
}
@keyframes slideInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
		-ms-transform: translateX(2000px);
		transform: translateX(2000px)
	}
	100% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0)
	}
}
.slideInRight {
	-webkit-animation-name: slideInRight;
	animation-name: slideInRight
}
footer .f_t ul li:nth-child(2) {
    position: absolute;
    left: 6.4rem;
}