* {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
	width: 100%;
}

html,
body,
fieldset,
img,
iframe,
abbr {
	border: 0;
}

li {
	list-style: none;
}

textarea {
	overflow: auto;
	resize: none;
}

button {
	cursor: pointer;
}

a{
	text-decoration: none;
	color: #6f6f6f;
}

a,
a:active,
a:focus,
input,
button {
	outline: 0;
}
.btn .hongbao {
	display: block;
    width: 65px;
    height: 81px;
    position: absolute;
   	left: -43px;
    bottom: 44px;
    animation: shake 3s linear infinite;
    -webkit-animation: shake 3s linear infinite;
    cursor: pointer;
}
@keyframes shake {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(0deg);
	}
	90% {
		transform: rotate(0deg);
	}
	95% {
		transform: rotate(-10deg);
	}
	98% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
@-webkit-keyframes shake{
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(0deg);
	}
	90% {
		transform: rotate(0deg);
	}
	95% {
		transform: rotate(-10deg);
	}
	98% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
li {
	display: block;
}

.hide {
	display: none!important;
}

html,
body,
select,
textarea,
input,
button {
	font-family: "微软雅黑";
}

.clear {
	clear: both;
}

.hide {
	display: none;
}

.show {
	display: block;
}
.wrap{
	width:1200px;
	height:100%;
	position:relative;
	margin:0 auto;
	z-index:10;
}
.n_wrap{
	width:1280px;
	height:100%;
	position:relative;
	margin:0 auto;
	z-index:10;
}
.chengg{
	width:100%;
	height:1px;
	background:none;
}
.nav{
	width:100%;
	min-width:1200px;
	margin:0 auto;
	height:100px;
	background:rgba(0,0,0,.9);
	position:absolute;
	z-index:11;
}
.nav .icon{
	display: block;
	width:120px;
	height:120px;
	float:left;
	margin:10px 22px 0 0;
}
.nav .n_txt{
	float:left;
}
.nav .n_txt p:nth-child(1){
	font-size:24px;
	color:#fff;
	font-weight:bold;
	margin-top:20px;
}
.nav .n_txt p:nth-child(2){
	font-size:16px;
	color:#797778;
	margin-top:10px;
}
.nav .nav_ul{
	float:left;
}
.nav .nav_ul li{
	width:85px;
	height:94px;
	border-bottom:6px solid transparent;
	font-size:20px;
	float:left;
	text-align: center;
	line-height:100px;
	margin-right:9px;
}
.nav .nav_ul li a.yj_coll{
    width: 112px;
    height: 40px;
    display: block;
    background: url(../images/zj_ent2.png);
    background-size: 100% 100%;
    position: relative;
    top: 30px;
}
.nav .nav_ul li a.zb_city{
	width: 112px;
	height: 40px;
	display: block;
	background: url(../images/zb_city.png);
	background-size: 100% 100%;
	position: relative;
	top: 30px;
}
.nav .nav_ul li:nth-child(1){
	margin-left:9px;
}
.nav .nav_ul li:nth-child(7){
	width:112px;
}
.nav .nav_ul li:nth-child(7){
	margin-right:0;
	margin-left: 9px;
}
.nav .nav_ul li a{
	color:#999;
	display: block;
}
.nav .nav_ul li.active{
	border-bottom:6px solid #e8b000;
}
.nav .nav_ul li.active a{
	color:#e8b000;
}
.nav .nav_ul li:hover{
	border-bottom:6px solid #e8b000;
}
.nav .nav_ul li:nth-child(4){
	/*margin-right: 48px;*/
}
.nav .nav_ul li:nth-child(4):hover{
    border-bottom:none;
}
.nav .nav_ul li:hover a{
	color:#e8b000;
}
.s_ul{
	width:154px;
	height:48px;
	position:absolute;
	right:0;
	top:25px;
	z-index:10;
}
.s_ul li{
	width:48px;
	height:48px;
	background:url(../images/s_nav.png) no-repeat center;
	background-position:0 0;
	overflow: hidden;
	float:left;
	margin-right:5px;
	cursor: pointer;
}
.s_ul li a{
	display: block;
	width:100%;
	height:100%;
}
.s_ul li:nth-child(2){
	background-position:-68px 0;
}
.s_ul li:nth-child(3){
	margin-right:0;
	background-position:-136px 0;
}
.s_ul li:nth-child(1):hover{
	background-position:0 -48px;
}
.s_ul li:nth-child(2):hover{
	background-position:-68px -48px;
}
.s_ul li:nth-child(3):hover{
	background-position:-136px -48px;
}
.s_ul .fl_wx{
	position:absolute;
	width:130px;
	height:130px;
	top:60px;
	left:-40px;
	display: none;
}
.con_five{
	width:100%;
	height:180px;
	background-color:#141415;
	position:relative;
	overflow: hidden;
}
.con_five .last_ul{
	width:100%;
	height:180px;
	position:relative;
	overflow: hidden;
}
.con_five .last_ul li{
	float:left;
	overflow: hidden;
	margin:38px 45px 0 0;
}
.con_five .last_ul li:nth-child(4){
	margin-right:0;
}
.con_five .last_ul li .li_code{
	width:102px;
	height:102px;
	background-color:#bebebf;
	border-radius: 10px;
	float:left;
	margin-left:10px;
}
.con_five .last_ul li .li_code img{
	display: block;
	width:92px;
	height:92px;
	margin:6px auto 0;
}
.con_five .last_ul li .right_txt{
	float:left;
	margin:5px 0 0 20px;
}
.con_five .last_ul li .right_txt p{
	font-size:16px;
	color:#8f8e82;
}
.con_five .last_ul li .right_txt p:nth-child(1){
	font-size:22px;
	color:#c0bfb4;
	margin-bottom:8px;
}
.con_five .last_ul li .right_txt p:nth-child(3){
	font-size:14px;
	color:#f0ba45;
	margin-top:15px;
}
/*浮窗*/
.float_box{
    width: 245px;
    height: 596px;
    position: fixed;
    top: 50%;
    right: 5px;
    z-index: 99;
    margin-top:-247px;
}
/*有奖征集*/
.float_box .yj_cl{
    position: relative;
    width: 245px;
    height: 118px;
    display: none;
    background: url(../images/zj_ent.png);
    background-size: 100% 100%;
}
.q_float {
    width: 168px;
    height: 417px;
    background: url(../images/back2.png);
    background-size: 100% 100%;
    position: relative;
    z-index: 99;
    margin-left: 59px;

}
.q_float .ewm_box{
    width: 136px;
    height: 165px;
    background: url(../images/ewm_bg.png);
    background-size: 100% 100%;
    position: relative;
    z-index: 99;
    margin: 0 auto;
    top: 19px;
}
.q_float .q_f_mark {
    width: 120px;
    height: 120px;
    display: block;
    position: absolute;
    top: 38px;
    left: 8px;
}
.q_float a {
  display: block;
  width: 153px;
  height: 52px;
  margin: 0 auto;
}
.q_float .q_ios,.q_float .q_ios1 {
  margin-top: 11px;
  margin-bottom: 8px;
  background: url(../images/ios_btn.png);
  background-size: 100% 100%;
  margin-top: 33px;
}
.q_float .q_az {
    margin-bottom: 8px;
    background: url(../images/az_btn2.png);
    background-size: 100% 100%;
    
}
.q_float .q_tap{
  margin-bottom: 8px;
	background:url(../images/tap_btn.png);
  background-size: 100% 100%;
}
.q_float .q_haoyou{
  margin-bottom: 8px;
	background:url(../images/hy_btn.png);
  background-size: 100% 100%;
}
.q_float .q_f_lp {
  max-width: 100%;
  /*display: block;*/
  margin: 0 auto;
  display:none;
}
.q_float .q_lq {
  width: 124px;
  height: 35px;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  background: url(../images/q_title8.png);
  background-size: cover;
}
.q_float label {
    display: block;
    width: 16px;
    height: 45px;
    position: absolute;
    top: 38px;
    left: -16px;
}
.q_float label.show {
  background: url(../images/pulls.png);
  background-size: cover;
}
.q_float label.hide_float{
  background: url(../images/push3.png);
  background-size: cover;
}
.q_float label:hover {
  cursor: pointer;
}
.q_float a.go_top{
    display: block;
    width: 107px;
    height: 28px;
    position: absolute;
    bottom: 0px;
    left: 32px;
    margin-top: 8px;
}


/*视频弹窗*/
.cd-m-floor {
	min-height: 30px
}
.cd-m-floor a {
	display: block
}
.cd-m-floor.cd-image-float-floor {
	position: fixed;
	z-index:1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 1);
	display:none;
}
.cd-m-floor.cd-image-float-floor.cd-float-show {
	z-index:11000;
	transition: opacity .2s ease-out;
	-moz-transition: opacity .2s ease-out;
	-webkit-transition: opacity .2s ease-out;
	-o-transition: opacity .2s ease-out;
	display:block;
}
.cd-m-floor.cd-image-float-floor.cd-float-show .cd-float-image {
	animation:widthchange .2s ease;
	-webkit-animation:widthchange .2s ease;
}
.cd-m-floor.cd-image-float-floor .cd-float-image {
	width:881px;
	height:658px;
	position: absolute;
	left:50%;
	top: 50%;
	margin-top: -329px;
	margin-left: -440.5px;
}
.cd-m-floor.cd-image-float-floor .cd-float-image img {
	width: 100%;
}
.cd-m-floor.cd-image-float-floor .cd-float-image .video{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 660px;
	height: 372px;
	margin-top: -109px;
	margin-left: -300px;
}
.cd-m-floor.cd-image-float-floor .cd-float-close {
	position: absolute;
	width: 55px!important;
	height: 55px;
	top: 100px;
	right: 60px;
	cursor: pointer;
}