html,body{
	overflow-x: hidden;
}
i {
	font-style: normal;
}

.main_body {
	width: 100%;
	height: auto;
}

.wrap {
	width: 1080px;
	height: auto;
	position: relative;
	margin: 0 auto;
	z-index:10;
}

.main_body .nav_top {
	width: 100%;
	height: 100px;
	z-index: 99;
	position: relative;
	background:url(../images/n_bg.png) no-repeat center;
}

.main_body .nav_top .nav {
	width: 1080px;
	height: 100px;
	margin: 0 auto;
}

.main_body .nav_top .nav .logo {
	padding-top: 10px;
	float: left;
	width:110px;
	height:110px;
}
.main_body .nav_top .nav .logo img{
	display: block;
	width:100%;
	height:100%;
}
.main_body .nav_top .nav .title {
	font-size: 28px;
	color: #fff;
	float: left;
	padding-top: 10px;
	padding-left: 10px;
}

.main_body .nav_top .nav .title .game {
	font-size: 12px;
	color: #e9b483;
}

.main_body .nav_top .nav .title .game_js {
	font-size: 12px;
	color: #ffdec1;
	background: url(../images/title_bg.png) no-repeat center;
	background-size: 100% 100%;
	width: 100px;
	height: 18px;
	text-align: center;
	margin-top: 9px;
}

.main_body .nav_top .nav ul {
	margin-left: 25px;
	float: left;
}

.main_body .nav_top .nav ul li {
	float: left;
	width: 123px;
	height: 88px;
	background: url(../images/nav.png) no-repeat center;
	background-size: 100% 100%;
	margin: 0 10px;
	font-size: 25px;
	text-align: center;
	cursor: pointer;
	margin-top:6px;
}

.main_body .nav_top .nav ul li .a_bg {
	width: 121px;
	height: 86px;
	margin-top: 6px;
	margin-left: 5px;
}

.main_body .nav_top .nav ul li a {
	display: inline-block;
	color: #ffead8;
	line-height: 11px;
	margin-top: 23px;
}

.main_body .nav_top .nav ul li a p {
	font-size: 11px;
	color: #cc925e;
	margin-top:20px;
}

.main_body .nav_top .nav .fx_bg {
	width: 162px;
	height: 88px;
	background: url(../images/fx_bg.png) no-repeat center;
	float: right;
	margin-top:6px;
}

.main_body .nav_top .nav .fx_bg .fx_content {
	width: 161px;
	height: 86px;
	margin-left: 5px;
	margin-top: 5px;
	position: relative;
}
.main_body .nav_top .nav .fx_bg .fx_content .wx_fk{
	width:123px;
	height:123px;
	position:absolute;
	left:-32px;
	top:95px;
	display: none;
}
.main_body .nav_top .nav .fx_bg .fx_content .wx_fk img{
	border:2px solid #a57244;
	border-radius: 10px;
	display: block;
	width:100%;
	height:100%;
}
.main_body .nav_top .nav .fx_bg .fx_content a {
	margin-top: 18px;
	margin-left: 11px;
	display: inline-block;
	width: 33px;
	height: 29px;
	background: url(../images/fx_content.png) no-repeat;
	background-position: 0 0;
	text-align: center;
}

.main_body .nav_top .nav .fx_bg .fx_content em {
	display: inline-block;
	height: 55px;
	width: 1px;
	background-color: #99683b;
	position: absolute;
	left: 53px;
	top: 16px;
}

.main_body .nav_top .nav .fx_bg .fx_content .second_em {
	left: 102px;
}

.main_body .nav_top .nav .fx_bg .fx_content a i {
	display: inline-block;
	color: #8d5e33;
	padding-top: 30px;
}

.main_body .nav_top .nav .fx_bg .fx_content a.qq {
	background-position: -50px 0px;
}

.main_body .nav_top .nav .fx_bg .fx_content a.baidu {
	background-position: -95px 0;
}

.list_main{
	width:100%;
	height:550px;
	background:url(../images/list_banner.jpg) no-repeat center;
	margin:0 auto;
	margin-top:-148px;
}


.list_main .list_img{
	width:491px;
	height:255px;
	display: block;
	position:absolute;
	left:0;
	top:207px;
}

.main_list{
	width:100%;
	min-height:651px;
	/*max-height:1063px;*/
	background:url(../images/list_bg.jpg) no-repeat center;
	background-size:100% 100%;
	margin:0 auto;
}
.bottom_list{
	width:100%;
	height:395px;
	background:url(../images/list_banner01.jpg) no-repeat center;
	margin:0 auto;
}
.bottom_list .contact{
	height:155px;
	padding-top:114px;
}

.bottom_list .contact ul li{
	width:295px;
	height:155px;
	background:url(../images/fx.png) no-repeat center;
	float:left;
	margin-right:20px;
}

.bottom_list .contact ul li img{
	max-width:109px;
	max-height:109px;
	float:left;
	margin-left:20px;
	margin-top:23px;
}

.bottom_list .contact ul li h3{
	display: inline-block;
	width:72px;
	height:18px;
	font-size:18px;
	color:#96612f;
	padding-top:23px;
	padding-left:20px;
	font-weight:normal;
}

.bottom_list .contact ul li p{
	display: inline-block;
	width:127px;
	color:#96612f;
	font-size:12px;
	line-height:24px;
	padding-left:20px;
	padding-top:24px;
}

.bottom_list .contact .qq{
	float:right;
	width:135px;
	height:155px;
	background:url(../images/qq.png) no-repeat center;
	position:relative;
}
.bottom_list .contact .qq a{
	display: block;
	width:100%;
	height:100%;
}
.bottom_list .contact .qq h3{
	font-size:18px;
	color:#96612f;
	font-weight: normal;
	text-align: center;
	padding-top:24px;
}

.bottom_list .contact .qq img{
	position:absolute;
	left:0;
	top:0;
	bottom:-30px;
	right:0;
	margin:auto;
}

.bottom_list .contact .qq p{
	text-align: center;
	font-size:12px;
	color:#96612f;
	margin-top:70px;
}

/*弹窗预约框*/
.login{
	width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
}
.login_m{
	width:766px;
	height:589px;
	position:relative;
	left:50%;
	top:50%;
	margin-top:-294.5px;
	margin-left:-382px;
	background:url(../images/login.png) no-repeat center;
}
.io_h{
	width:575px;
	height:78px;
	overflow: hidden;
	margin:0 auto;
	margin-top:161px;
	position:relative;
}
.io_h.active img:nth-child(1){
	display: none;
}
.io_h .io{
	display: block;
	width:294px;
	height:78px;
	position:absolute;
	left:0;
	top:0;
}
.io_h .an{
	display: block;
	width:294px;
	height:78px;
	position:absolute;
	right:0;
	top:0;
}
.sj_num{
	width:503px;
	height:54px;
	background:url(../images/sj_bg.png) no-repeat center;
	overflow: hidden;
	margin:0 auto;
	margin-top:34px;
}
.sj_num input {
	width:450px;
	height:100%;
	background:none;
	text-indent:26px;
	color:#5c3016;
	font-size:16px;
	float:left;
}
.sj_num img{
	display: block;
	width:20px;
	height:20px;
	float:right;
	padding:16px 23px 0 0;
	cursor: pointer;
}
.i_code{
	width:503px;
	height:54px;
	overflow: hidden;
	position:relative;
	margin:0 auto;
	margin-top:30px;
}
.i_code .l_code{
	width:301px;
	height:100%;
	background:url(../images/i_code.png) no-repeat center;
	overflow: hidden;
	float:left;
}
.i_code .l_code input{
	width:100%;
	height:100%;
	background:none;
	text-indent:25px;
	color:#a57244;
	font-size:18px;
}
.i_code .r_code{
	width:186px;
	height:54px;
	background:url(../images/f_code.png) no-repeat center;
	overflow: hidden;
	float:right;
	color:#f6d9a9;
	font-size:18px;
	text-align: center;
	line-height:54px;
	cursor: pointer;
	border:0;
	outline:0;
}
.f_code{
	display: block;
	width:503px;
	height:54px;
	background:url(../images/bt.png) no-repeat center;
	margin:0 auto;
	margin-top:40px;
	overflow: hidden;
	color:#f6d9a9;
	text-align: center;
	line-height:54px;
	border:0;
	outline:0;
}
.f_code:hover{
	background:url(../images/bt1.png) no-repeat center;
	color:#fff9d6;
}
.b_tit{
	font-size:16px;
	color:#5c3016;
	text-align: center;
	margin-top:20px;
}
.lo_close{
	display: block;
	width:32px;
	height:33px;
	position:absolute;
	right:0;
	top:85px;
	cursor: pointer;
}
.m_tab1{
	display: none;
}
.m_tab1.active{
	display: block;
}
.code_1{
	display: block;
	width:273px;
	height:273px;
	border: 2px solid #cea562;
	border-radius: 10px;
	margin:0 auto;
	margin-top:34px;
}
.chengg{
	width:100%;
	height:1px;
	background:none;
}
.login_tc{
	width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
}
.login_n{
	width:521px;
	height:343px;
	position:relative;
	left:50%;
	top:50%;
	margin-top:-171.5px;
	margin-left:-260.5px;
	background:url(../images/login_tc.png) no-repeat center;
}
.login_n .tc_close{
	display: block;
	width:32px;
	height:33px;
	position:absolute;
	right:-10px;
	top:10px;
	cursor: pointer;
}
.login_n img{
	display: block;
	width:48px;
	height:35px;
	float:left;
	margin:15px 10px 0 95px;
}
.login_n p{
	font-size:38px;
	color:#fff9d6;
	font-weight:bold;
	padding-top:98px;
	line-height:60px;
}
.login_n .tc_txt{
	width:340px;
	font-size:16px;
	color:#62361a;
	text-align: center;
	margin:0 auto;
	line-height:28px;
}
.login_n .make_sure{
	width:186px;
	height:54px;
	background:url(../images/sure.png) no-repeat center;
	background-size:100% 100%;
	margin:0 auto;
	font-size:18px;
	color:#f6d9a9;
	line-height:54px;
	text-align: center;
	margin-top:28px;
	cursor: pointer;
}
