.f_kv{
	width:100%;
	height:40.24rem;
	overflow: hidden;
	position:relative;
	margin-top:4.25rem;
}
.f_kv img{
	display: block;
	width:100%;
}
.f_kv .f_kv_p{
	width:100%;
	height:11rem;
	background-color:rgba(255,255,255,.85);
	position:absolute;
	bottom:0;
	left:0;
	text-align: center;
}
.f_kv .f_kv_p p:nth-child(1){
	font-size:2rem;
	color:#303030;
	font-weight:bold;
	line-height:2.48rem;
	margin-top:1.2rem;
}
.f_kv .f_kv_p p:nth-child(2){
	font-size:1.04rem;
	color:#303030;
}
.fire_list{
	width:100%;
	height:30rem;
	overflow: hidden;
	position:relative;
}
.fire_list ul{
	width:100%;
	height:15rem;
	overflow: hidden;
	position:relative;
}
.fire_list ul li{
	width:50%;
	float:left;
	overflow: hidden;
	position:relative;
}
.fire_list ul li img{
	display: block;
	width:100%;
}
.fire_list ul:nth-child(2) li:nth-child(1) p{
	line-height:1.2rem;
	margin-top:0.2rem;
}
.fire_list ul li p{
	width:100%;
	height:2.8rem;
	background-color:rgba(255,255,255,.85);
	position:absolute;
	bottom:0;
	left:0;
	font-size:1.04rem;
	color:#212121;
	text-align: center;
	line-height:2.4rem;
}
.fire_video{
	width:100%;
	height:16.88rem;
	overflow: hidden;
	position:relative;
}
.fire_video .f_video_bg{
	display: block;
	width:100%;
	height:100%;
}
.fire_video .f_video_play{
	display: block;
	width:5.5rem;
	height:5.5rem;
	position:absolute;
	left:50%;
	margin-left:-2.75rem;
	top:50%;
	margin-top:-2.75rem;
	animation: vGo 2s linear infinite;
	-webkit-animation: vGo 2s linear infinite;
}
@keyframes vGo{
	0%{transform: scale(1.1);}
	50%{transform: scale(1);}
	100%{transform: scale(1.1);}
}
@-webkit-keyframes vGo{
	0%{transform: scale(1.1);}
	50%{transform: scale(1);}
	100%{transform: scale(1.1);}
}
.fire_video video{
	position: absolute;
    z-index: 20;
    left: 0;
    top: 0;
    object-fit: fill;
    display: none;
}
.fire_last{
	width:100%;
	height:22.4rem;
	background:url(../images/f_last.jpg) no-repeat center;
	background-size:100% 100%;
	overflow: hidden;
	position:relative;
}
.fire_last ul{
	width:22.8rem;
	margin:3.4rem auto 0;
}
.fire_last ul li{
	width:10.32rem;
	height:2.76rem;
	background:url(../images/last_li.png) no-repeat center;
	background-size:100% 100%;
	overflow: hidden;
	float:left;
	font-size:1rem;
	color:#fff;
	line-height:2.76rem;
	text-align: center;
	margin-right:2rem;
	margin-top:1.25rem;
}
.fire_last ul li:nth-child(4){
	line-height:1.12rem;
}
.fire_last ul li:nth-child(4) p{
	padding-top:0.2rem;
}
.fire_last ul li:nth-child(5){
	line-height:1.12rem;
}
.fire_last ul li:nth-child(5) p{
	padding-top:0.2rem;
}
.fire_last ul li:nth-child(6){
	line-height:1.12rem;
}
.fire_last ul li:nth-child(6) p{
	padding-top:0.2rem;
}
.fire_last ul li:nth-child(7){
	line-height:1.12rem;
}
.fire_last ul li:nth-child(7) p{
	padding-top:0.2rem;
}
.fire_last ul li:nth-child(8){
	line-height:1.12rem;
}
.fire_last ul li:nth-child(8) p{
	padding-top:0.2rem;
}
.fire_last ul li:nth-child(even){
	margin-right:0;
}
