img{
	display: block;
	width:100%;
	height:100%;
}
.omniunis_one{
	width:100%;
	height:21.72rem;
	margin-top:4.25rem;
}
.omniunis_two{
	width:100%;
	height:16.8rem;
}
.omniunis_three{
	width:100%;
	height:19.44rem;
}
.omniunis_four{
	width:100%;
	height:19.56rem;
}