.omnione .omni_page_one a{
	width:8rem;
	height:2.24rem;
	position:absolute;
	left:50%;
	margin-left:-4rem;
	bottom:5rem;
}
.omnione .omni_page_two .omni_page_two_banner .main_banner li{
	position:absolute;
	width:24.88rem;
	height:20rem;
	opacity: 0;
	filter: alpha(opacity=0);
}
.omnione .omni_page_two .omni_page_two_banner .main_banner li img{
	display: block;
	width:100%;
	height:100%;
}
.omnione .omni_page_two .omni_page_two_banner .tab_banner{
	width:100%;
	height:5.76rem;
	overflow: hidden;
	position:absolute;
	top:23.2rem;
}
.omnione .omni_page_two .omni_page_two_banner .tab_banner span {
	display: block;
	width:5.8rem;
	height:5.76rem;
	overflow: hidden;
	float:left;
	margin-right:1.4rem;
}
.omnione .omni_page_two .omni_page_two_banner .tab_banner span:nth-child(4){
	margin-right:0;
}
/*产品详情*/
.detail_body p{
	font-size:1.08rem;
	line-height:2.2rem;
}
.detail_body p em{
	display: inline-block;
	color:#6c9c01;
	min-width:5.3rem;
	margin-right:2.76rem;
}
.detail_body p i{
	color:#797878;
}
.detail_body .second_detail{
	margin-top:1.92rem;
}
.detail_body .detail_p{
	font-size:1rem;
	line-height:2rem;
	color:#6c9c01;
}
.detail_body .detail_p span{
	display: inline-block;
	color:#6c9c01;
}
.detail_body .detail_p span.detail_span{
	margin-right:13.4rem;
}
.detail_body .detail_p2 {
	font-size:0.96rem;
	color:#797878;
}
.detail_body .detail_p2 span:nth-child(1){
	margin-right:3.48rem;
}
.detail_body .detail_p2 span:nth-child(2){
	margin-right:3.84rem;
}
.detail_body .detail_p2 span:nth-child(3){
	margin-right:4.3rem;
}
.detail_body .detail_p3 span:nth-child(2){
	margin-right:4.68rem;
}
.detail_body .detail_p3 span:nth-child(3){
	margin-right:5.6rem;
}
.detail_body .detail_p4 span:nth-child(1){
	margin-right:4.29rem;
}
.detail_body .detail_p4 span:nth-child(2){
	margin-right:4.68rem;
}
.detail_body .detail_p4 span:nth-child(3){
	margin-right:4.8rem;
}
