/*公用导航样式*/
header{
	width:100%;
	position:fixed;
	top:0;
	z-index:99;
	background-color:#212121
}
section{
	width:100%;
	overflow: hidden;
}
.header_top{
	width:100%;
	height:4.25rem;
}
header .nav_tab{
	display: inline-block;
	width:1.28rem;
	height:1.28rem;
	margin:1.25rem 1.72rem 0 1.72rem;
	position:relative;
	z-index:10;
}
header .nav_tab span {
	display: block;
	width:100%;
	height:.16rem;
	position:absolute;
	background-color:#deddd9;
	transition:.5s;
}
header .nav_tab .nav_tab01 {
	top:0;
	left:0;
}
header .nav_tab .nav_tab01.active{
	transform: rotate(-45deg);
	top:.7rem;
}
header .nav_tab .nav_tab02 {
	top:.56rem;
	left:0;
}
header .nav_tab .nav_tab02.active{
	display: none;
}
header .nav_tab .nav_tab03 {
	bottom:0;
	left:0;
}
header .nav_tab .nav_tab03.active{
	transform: rotate(45deg);
	bottom:.4rem;
}

.tab_select{
	width:100%;
	background-color:#f0f0f0;
	display: none;
	position:absolute;
	top:4.25rem;
	z-index:99;
}
.tab_select ul{
	width:100%;
	background-color:#f0f0f0;
	position:relative;
}
.tab_select li{
	width:100%;
	line-height:3.56rem;
	text-align: left;
	text-indent:1.72rem;
}
.tab_select li a{
	color:#646464;
}
.tab_select li ul {
	background-color:#fff;
	display: none;
}

.tab_language{
	width:100%;
	height:3.84rem;
	background-color:#e6e6e6;
	text-align: center;
	line-height:3.84rem;
	position:relative;
}
.tab_language .tab_earth{
	display: inline-block;
	width:1.44rem;
	height:1.44rem;
	position:absolute;
	top:1.2rem;
	left:10.6rem;
}
.zhizao_yingjian a{
	display:block;
	width:100%;
}
.tab_language input {
	width:4.4rem;
	border:0;
	background:none;
	font-size:1.08rem;
	color:#969696;
}
.tab_language .tab_down{
	display: inline-block;
	width:1.2rem;
	height:0.72rem;
	position:absolute;
	top:1.56rem;
	right:2rem;
}
.tab_language .tab_down.active{
	transform: rotate(-90deg);
}
.tab_language .tab_ul{
	display: none;
	background-color:#fff;
}
/*公用底部样式*/
footer{
	width:100%;
	position:relative;
	overflow: hidden;
	background-color:#212121;
}
footer .footer_ul {
	width:100%;
	height:9.28rem;
	position:relative;
	overflow: hidden;
}

footer .footer_ul li{
	width:50%;
	height:100%;
	float:left;
	position:relative;
}
footer .footer_ul li .footer_li{
	overflow: hidden;
	padding:2rem 0 0 1.6rem;
	color:#969696;
	font-size:0;
}
footer .footer_ul li h3{
	font-size:1.04rem;
	font-weight:normal;
}
footer .footer_ul li a{
	display: inline-block;
	font-size:0.8rem;
	color:#969696;
}
footer .footer_ul li a.footer_a{
	margin-right:3.1rem;
	margin-top:1.2rem;
}

footer .footer_p1{
	text-align: center;
	font-size:0.68rem;
	color:#fff;
	margin-top:0.8rem;
}
footer .footer_p2{
	text-align: center;
	font-size:0.68rem;
	color:#fff;
	margin-top:0.8rem;
	padding-bottom:2rem;
}
