
<!DOCTYPE html>
<html>

<head>
    <title>{seo name='title'}</title>
    <meta charset="UTF-8">
    <meta name="keyword" content="{seo name='keywords'}">
    <meta name="description" content="{seo name='description'}">
    <meta name="baidu-site-verification" content="1KAsD7HCls" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}3.0/m/common/css/common.min.css" />
    <link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}3.0/m/css/news_data.css" />
</head>

<body>
<header class="index1_header">
    <a href="/m/index.html" class="index1_logo"><img src="{$global.logo_img}" alt=""></a>
    <div class="header_txt">
        <p class="h_p_01">{$global.title}</p>
        <p class="h_p_02">{$global.sub_title}</p>
    </div>
    <a class="menu fr" href="javascript:;"><img src="{$smarty.const.STATIC_DOMAIN}3.0/m/img/nav.png" title="" alt="" /></a>
    <ul class="menu_nav">
        <li>
            <a href='{myurl name="m/index"}'>官网首页</a>
        </li>
        <li>
            <a href='{myurl name="/wap/article"}'>新闻资讯</a>
        </li>
     <!--    <li>
            <a href='{myurl name="/wap/article/data"}'>玩法资料</a>
        </li> -->
        <li>
            <a href='http://sm.yingxiong.com/gl_wiki.html' target="_blank">游戏攻略</a>
        </li>
        <li>
            <a href='{myurl name="/m/ych/list_658_1.html"}'>油菜花社区</a>
        </li>
        <li>
            <a href="http://forumsm.yingxiong.com/">官方论坛</a>
        </li>
    </ul>
</header>
<section>
    <div class="main_content">

        <div id="top_menu" class="top_menu">
            <ul>
                <li class="active" id="117">
                    <a href='{myurl name="/wap/article/data, id=>117"}'>生存与制造</a>
                </li>
                <li id="118">
                    <a href='{myurl name="/wap/article/data, id=>118"}'>烹饪体系</a>
                </li>
                <li id="119">
                    <a href='{myurl name="/wap/article/data, id=>119"}'>魔法体系</a>
                </li>
                <li id="120">
                    <a href='{myurl name="/wap/article/data, id=>120"}'>生物体系</a>
                </li>
                <li id="121">
                    <a href='{myurl name="/wap/article/data, id=>121"}'>益趣玩法</a>
                </li>
            </ul>
        </div>