.header{
	width:100%;
	height:1.2rem;
	background-color: rgba(25, 25, 25, .9);
	position:fixed;
	top:0;
	left:0;
	z-index:10;
}
.nav{
	display: block;
	width:0.96rem;
	height:0.96rem;
	float:left;
	margin:0.13rem 0.1rem 0 0.2rem;
}
.nav img{
	display: block;
	width:100%;
	height:100%;
}
.n_txt{
	float:left;
	font-size:0;
	margin-top:0.25rem;
}
.n_txt p{
	font-size:0.3rem;
	color:#fff;
}
.n_txt p.n_p{
	color:#999;
	font-size:0.18rem;
}
.enter{
	display: block;
	width:1.9rem;
	height:0.66rem;
	float:right;
	margin:0.29rem 0.33rem 0 0;
}
.enter img{
	display: block;
	width:100%;
	height:100%;
}
.kv{
	width:100%;
	height:11.54rem;
	background:url(../images/kv.jpg) no-repeat center;
	background-size:100% 100%;
	position:relative;
	overflow: hidden;
}
.play{
	display: block;
	width:0.98rem;
	height:1.03rem;
	position:absolute;
	left:50%;
	margin-left:-0.49rem;
	top:4.4rem;
	animation: vGo 2s linear infinite;
	-webkit-animation: vGo 2s linear infinite;
}
@keyframes vGo{
	0%{transform: scale(0.9);}
	50%{transform: scale(1);}
	100%{transform: scale(0.9);}
}
@-webkit-keyframes vGo{
	0%{transform: scale(0.9);}
	50%{transform: scale(1);}
	100%{transform: scale(0.9);}
}
.download{
	width:5.8rem;
	height:0.9rem;
	position:absolute;
	left:50%;
	margin-left:-2.9rem;
	bottom:0.59rem;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}
.download a{
	display: block;
	width:2.74rem;
	height:0.9rem;
}
.download a img{
	display: block;
	width:100%;
	height:100%;
}
.banner{
	width:100%;
	height:26.18rem;
	font-size:0;
	background:url(../images/banner.jpg) no-repeat center;
	background-size:100% 100%;
	overflow: hidden;
	position:relative;
}
.label{
	display: block;
	width:5.84rem;
	height:0.9rem;
	margin:0.72rem auto 0;
	position:relative;
}
.title{
	width:5.9rem;
	overflow: hidden;
	position:relative;
	font-size:0;
	margin:0.35rem auto 0;
	text-align: center;
}
.title p{
	font-size:0.26rem;
	color:#762d0a;
}
.title p.s_p{
	width:100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-top:0.25rem;
	line-height:0.36rem;
}
.denglu{
	width:100%;
	height:1.22rem;
	position:relative;
	margin-top:0.75rem;
	overflow: hidden;
}
.denglu .login{
	display: block;
	width:2.53rem;
	height:1.22rem;
	margin:0 auto;
}
.denglu .a_login{
	width:100%;
	height:100%;
	text-align: center;
	line-height:1.22rem;
	font-size:0.32rem;
	color:#762d0a;
}
.denglu .a_login i{
	color:#de5605;
	margin-left:0.2rem;
	font-style: normal;
}
.price{
	width:100%;
	height:4.07rem;
	position:relative;
	margin-top:0.75rem;
	overflow: hidden;
}
.c_price{
	width:6rem;
	height:4.07rem;
	background:url(../images/price.png) no-repeat center;
	background-size:100% 100%;
	position:relative;
	margin:0 auto;
}
.c_price ul li{
	width:1.81rem;
	height:1.15rem;
	position:absolute;
}
.c_price ul li.active .c_li img:nth-child(1){
	display: none;
}
.c_price ul li .c_li{
	width:100%;
	height:100%;
	position:absolute;
	overflow: hidden;
}
.c_price ul li .c_li img{
	display: block;
	width:100%;
	height:100%;
}
.c_price ul li .c_pic{
	display: block;
	width:1.15rem;
	height:0.67rem;
	position:relative;
	margin:0.17rem 0 0 0.33rem;
}
.c_price ul li p{
	font-size:0.18rem;
	color:#75432c;
	position:relative;
	text-align: center;
	width:100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.c_price ul li:nth-child(1){
	left:0.24rem;
	top:0.26rem;
}
.c_price ul li:nth-child(2){
	left:2.1rem;
	top:0.26rem;
}
.c_price ul li:nth-child(3){
	right:0.23rem;
	top:0.26rem;
}
.c_price ul li:nth-child(4){
	left:0.24rem;
	top:1.46rem;
}
.c_price ul li:nth-child(5){
	right:0.23rem;
	top:1.46rem;
}
.c_price ul li:nth-child(6){
	left:0.24rem;
	bottom:0.27rem;
}
.c_price ul li:nth-child(7){
	left:2.1rem;
	bottom:0.27rem;
}
.c_price ul li:nth-child(8){
	right:0.23rem;
	bottom:0.27rem;
}
.c_price ul li.last_li{
	top:1.46rem;
	left:2.1rem;
}
.c_price ul li.last_li .last_pic{
	width:100%;
	height:100%;
	overflow: hidden;
	position:absolute;
	left:0;
	top:0;
	font-size:0;
}
.c_price ul li.last_li .last_pic img{
	display: block;
	width:100%;
	height:100%;
}
.c_price ul li.last_li.active .last_pic img:nth-child(1){
	display: none;
}
.c_price ul li.last_li .c_p{
	font-size:0.33rem;
	color:#7d2e0a;
	position:relative;
	text-align: center;
	font-weight:bold;
	margin-top:0.25rem;
}
.c_price ul li.last_li .c_p1{
	font-size:0.2rem;
	color:#893300;
	margin-top:0.05rem;
}
.c_price ul li.last_li .c_p1 span{
	color:#ff4e00;
}
.c_btn{
	width:100%;
	height:0.56rem;
	position:relative;
	overflow: hidden;
	margin-top:0.3rem;
}
.c_btn a{
	display: block;
	width:2.18rem;
	height:0.56rem;
	background:url(../images/a_bg.png) no-repeat center;
	background-size:100% 100%;
	overflow: hidden;
	position:relative;
	float:left;
	margin-left:0.24rem;
	font-size:0.26rem;
	color:#d54906;
	text-align: center;
	line-height:0.56rem;
}
.c_btn a:nth-child(2){
	float:right;
	margin-right:0.31rem;
}
.price_name{
	width:5.89rem;
	overflow: hidden;
	position:relative;
	margin:0 auto;
}
.c_title{
	font-size:0.32rem;
	font-weight:bold;
	color:#762d0a;
	text-align: center;
	margin-top:0.7rem;
}
.price_name .price_txt{
	width:5.89rem;
	height:3.01rem;
	background:url(../images/txt_bg.png) no-repeat center;
	background-size:100% 100%;
	overflow: hidden;
	position:relative;
	margin-top:0.2rem;
}
.price_name .price_txt .price_con{
	width:5.4rem;
	height:2.7rem;
	top:0.2rem;
	left:0.33rem;
	position:absolute;
	overflow: hidden;
}
.price_name .price_txt ul{
	width:5.4rem;
	height:2.7rem;
	position:absolute;
	overflow: hidden;
}
.price_name .price_txt ul li{
	width:100%;
	height:0.54rem;
	line-height:0.54rem;
	font-size:0.22rem;
	color:#75432c;
}
.price_name .price_txt ul li i{
	font-style:normal;
	margin-left:0.2rem;
}
.price_name .price_txt ul li span{
	margin:0 0.33rem 0 0.2rem;
}
.rules{
	width:5.9rem;
	overflow: hidden;
	position:relative;
	margin:0 auto;
}
.rules ul{
	width:100%;
	overflow: hidden;
	position:relative;
	margin-top:0.15rem;
}
.rules ul li{
	width:100%;
	font-size:0.24rem;
	color:#762d0a;
	line-height:0.6rem;
	overflow: hidden;
}
.rules ul li i{
	display: inline-block;
	width:0.08rem;
	height:0.08rem;
	background-color:#946c6c;
	border-radius: 50%;
	float:left;
	margin:0.25rem 0.15rem 0 0.05rem;
}
.rules ul li p{
	width:5.6rem;
	display: inline-block;
	float:right;
	text-align: left;
}
.egg{
	display: block;
	width:3.55rem;
	height:4.54rem;
	position:absolute;
	right:0;
	bottom:0;
}
.qp{
	width:2.83rem;
	height:2.4rem;
	position:absolute;
	left:0.53rem;
	bottom:1.03rem;
	animation: imgDown 2s linear infinite;
	-webkit-animation: imgDown 2s linear infinite;
}
@keyframes imgDown{
	0%{transform: translateY(0px);}
	50%{transform: translateY(10px);}
	10%{transform: translateY(0px);}
}
@-webkit-keyframes imgDown{
	0%{transform: translateY(0px);}
	50%{transform: translateY(10px);}
	10%{transform: translateY(0px);}
}
.qp img{
	display: block;
	width:100%;
	height:100%;
}
.film{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.9);
	position:fixed;
	top:0;
	left:0;
	display: none;
}
.c_film{
	width:5.99rem;
	height:7.62rem;
	position:relative;
	background:url(../images/film.png) no-repeat center;
	background-size:100% 100%;
	overflow: hidden;
	top: 45%;
    transform: translate(0, -45%);
    -webkit-transform: translate(0, -45%);
    margin:0 auto;
}
.close{
	display: block;
	width:0.76rem;
	height:0.76rem;
	position:absolute;
	top:0;
	right:0;
}
.film_pic{
	display: block;
	width:5.23rem;
	height:2.68rem;
	margin:0.42rem 0 0 0.27rem;
}
.film_p{
	width:5.23rem;
	overflow: hidden;
	position:relative;
	margin:0 auto;
	font-size:0;
	color:#762d0a;
}
.film_t{
	font-size:0.28rem;
	font-weight:bold;
	margin-top:0.15rem;
}
.film_con{
	font-size:0.24rem;
	line-height:0.46rem;
}
.congra{
	width:100%;
	height:100%;
	position:fixed;
	background-color:rgba(0,0,0,0.9);
	left:0;
	top:0;
	display: none;
}
.congra1{
	width:100%;
	height:100%;
	position:fixed;
	background-color:rgba(0,0,0,0.9);
	left:0;
	top:0;
	display: none;
}
.gongxi{
	width:6.22rem;
	height:6.03rem;
	background:url(../images/gongx.png) no-repeat center;
	background-size:100% 100%;
	overflow: hidden;
	position:relative;
	top:45%;
	transform: translate(0, -45%);
    -webkit-transform: translate(0, -45%);
    margin:0 auto;
    font-size:0;
}
.gongxi1{
	width:6.22rem;
	height:6.03rem;
	background:url(../images/thanks.png) no-repeat center;
	background-size:100% 100%;
	overflow: hidden;
	position:relative;
	top:45%;
	transform: translate(0, -45%);
    -webkit-transform: translate(0, -45%);
    margin:0 auto;
    font-size:0;
}
.gongxi1 p{
	font-size:0.4rem;
	color:#7f2e09;
	text-align: center;
	font-weight:bold;
	margin-top: 3.5rem;
}
.gongxi1 .close{
	top:1.9rem;
}
.gongxi .close{
	top:1.9rem;
}
.jiangpin{
	font-size:0.34rem;
	font-weight:bold;
	color:#7f2e09;
	text-align: center;
	margin-top:2.5rem;
	line-height:0.66rem;
}
.m_bg{
	width:4.2rem;
	height:0.69rem;
	background:url(../images/m_bg.png) no-repeat center;
	background-size:100% 100%;
	margin:0 auto;
	font-size:0.26rem;
	color:#da2900;
	line-height:0.69rem;
	text-align: center;
	font-weight:bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.m_bg a{
	color:#da2900;
}
.m_txt{
	font-size:0.22rem;
	color:#a17877;
	text-align: center;
	margin-top:0.18rem;
}
.copy{
	width:2.2rem;
	height:0.74rem;
	position:relative;
	margin:0.45rem auto 0;
}
.copy img{
	display: block;
	width:100%;
	height:100%;
}
.share{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.9);
	position:fixed;
	left:0;
	top:0;
	display: none;
}
.m_share{
	width:6.22rem;
	height:6.04rem;
	background:url(../images/share.png) no-repeat center;
	background-size:100% 100%;
	overflow: hidden;
	position:relative;
	top:45%;
	transform: translate(0, -45%);
    -webkit-transform: translate(0, -45%);
    margin:0 auto;
    font-size:0;
}
.m_share .close{
	top:1.92rem;
}
.indent{
	font-size:0.24rem;
	color:#762d0a;
	text-align: center;
	margin-top:3.1rem;
}
.jiathis_style_32x32{
	width:3.89rem;
	height:1.17rem;
	margin:0.5rem auto 0;
	position:relative;
	background:url(../images/c_share.png) no-repeat center;
	background-size:100% 100%;
	position:relative;
	overflow: hidden;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}
.jiathis_style_32x32 .jtico{
	background:none!important;
}
.jiathis_style_32x32 li{
	width:0.8rem;
	height:100%;
	position:relative;
}
#jiathis_weixin_modal{
	width:4.6rem!important;
	height:4.6rem!important;
	position:fixed!important;
	top:50%!important;
	left:50%!important;
	margin-left:-2.3rem!important;
	margin-top:-2.3rem!important;
	font-size:0.16rem;
}
#jiathis_modal_body{
	height:3.6rem!important;
}
#jiathis_webchat{
	width:4.6rem;
	height:3.6rem;
}
#jiathis_modal_body img{
	width:3.2rem!important;	
	height:3.2rem!important;
}
#jiathis_weixin_tip{
	display: none!important;
}
.tc_login{
	width:100%;
	height:100%;
	position:fixed;
	background-color:rgba(0,0,0,0.9);
	left:0;
	top:0;
	display: none;
}
.z_login{
	width:6.22rem;
	height:6.94rem;
	background:url(../images/denglu.png) no-repeat center;
	background-size:100% 100%;
	overflow: hidden;
	position:relative;
	top:45%;
	transform: translate(0, -45%);
    -webkit-transform: translate(0, -45%);
    margin:0 auto;
    font-size:0;
}
.z_login .close{
	top:1.92rem;
}
.c_put{
	width:4.9rem;
	overflow: hidden;
	position:relative;
	margin:0 auto;
}
.f_put{
	width:4.86rem;
	height:0.74rem;
	background-color:#fff;
	border:1px solid #ffc87f;
	border-radius: 0.1rem;
	position:relative;
	margin:2.64rem auto 0;
	font-size:0;
}
.phone{
	width:100%;
	height:100%;
	background:none;
	border:none;
	outline:0;
	font-size:0.24rem;
	color:#7f2e09;
	line-height:0.76rem;
	text-indent:0.22rem;
}
.s_put{
	width:4.86rem;
	height:0.78rem;
	position:relative;
	margin:0.19rem auto 0;
}
.b_put{
	width:3.08rem;
	height:0.74rem;
	background-color:#fff;
	border:1px solid #ffc87f;
	border-radius: 0.1rem;
	font-size:0;
	float:left;
}
.code{
	width:100%;
	height:100%;
	background:none;
	border:none;
	outline:0;
	font-size:0.24rem;
	color:#7f2e09;
	line-height:0.76rem;
	text-indent:0.22rem;
}
.tupian{
	width:1.6rem;
	height:0.76rem;
	background:url(../images/tp.png) no-repeat center;
	background-size:100% 100%;
	overflow: hidden;
	position:relative;
	float:right;
}
.tupian img{
	display: block;
	width:1.5rem;
	height:0.66rem;
	margin:0.04rem auto 0;
}
.t_put{
	width:4.86rem;
	height:0.76rem;
	position:relative;
	margin:0.19rem auto 0;
}
.i_code{
	width:100%;
	height:100%;
	background:none;
	border:none;
	outline:0;
	font-size:0.24rem;
	color:#7f2e09;
	line-height:0.76rem;
	text-indent:0.22rem;
}
.d_put{
	width:1.6rem;
	height:0.76rem;
	background:url(../images/h_code.png) no-repeat center;
	background-size:100% 100%;
	overflow: hidden;
	position:relative;
	float:right;
}
.g_code{
	width:100%;
	height:100%;
	background:none;
	border:none;
	outline:0;
	font-size:0.24rem;
	color:#7f2e09;
	line-height:0.76rem;
	font-weight:bold;
}
.c_dl{
	width:2.2rem;
	height:0.74rem;
	position:relative;
	margin:0.4rem auto 0;
}
.c_dl img{
	display: block;
	width:100%;
	height:100%;
}
.check{
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	background-color:rgba(0,0,0,0.9);
	display: none;
}
.check_price{
	width:6.22rem;
	height:6.04rem;
	background:url(../images/jilu.png) no-repeat center;
	background-size:100% 100%;
	overflow: hidden;
	position:relative;
	top:45%;
	transform: translate(0, -45%);
    -webkit-transform: translate(0, -45%);
    margin:0 auto;
    font-size:0;
}
.check_price .close{
	top:1.92rem;
}
.price_title{
	width:4.9rem;
	height:0.66rem;
	border:1px solid #efbb7f;
	margin:2.44rem auto 0;
	border-top-left-radius: 0.1rem;
	border-top-right-radius: 0.1rem;
	display: flex;
	display: -webkit-flex;
	justify-content: space-around;
}
.price_title span{
	width:2.4rem;
	height:100%;
	display: block;
	font-size:0.24rem;
	color:#7f2e09;
	text-align: center;
	line-height:0.66rem;
	border-right:1px solid #f4bf7f
}
.price_title span:nth-child(2){
	border-right:none;
}
.box{
	width: 5.9rem;
    height: 2.5rem;
    overflow: hidden;
    overflow-y: auto;
    margin: 0 auto;
}
.check_ul{
	width:4.88rem;
	border:1px solid #efbb7f;
	margin: 0 auto;
	border-top:none;
	border-bottom-left-radius: 0.1rem;
	border-bottom-right-radius: 0.1rem;
	overflow: hidden;
}
.check_ul li{
	width: 4.9rem;
    height: 0.63rem;
    line-height: 0.63rem;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    margin: 0 auto;
    color: #7f2e09;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    font-size:0.22rem;
    text-align: center;
    line-height:0.63rem;
    border-bottom:1px solid #f9c37f;
}
.check_ul li a{
	color: #7f2e09;
}
.check_ul li span{
	display: block;
	width:2.4rem;
	height:100%;
	border-right:1px solid #f9c37f;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.check_ul li span:nth-child(2){
	border-right:none;
}
