<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}1.0/css/public.css?{$smarty.const.VERSION}">
    <link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}1.0/css/style.css?{$smarty.const.VERSION}">
    <script src="{$smarty.const.STATIC_DOMAIN}1.0/js/setPageRem.js?{$smarty.const.VERSION}"></script>
    <title>网络堵塞</title>
</head>
<body>
    <img class="dragon" src="{$smarty.const.STATIC_DOMAIN}1.0/images/dragon.png?{$smarty.const.VERSION}">
    <p class="p1">年会太火爆！让我冷静一下！</p>
    <p class="p2">关闭页面，重新再来吧~</p>
</body>
</html>