address,
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
select,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
}

body {
    font-family: "Microsoft YaHei";
        background: #fff;
}

button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label,
select,
textarea {
    font-size: 100%;
    vertical-align: middle
}

dl,
li,
ol,
ul {
    list-style: none
}

a {
    text-decoration: none
}

fieldset,
img {
    border: none
}

img {
    display: inline-block;
    overflow: hidden;
    vertical-align: top
}

address,
em {
    font-style: normal
}

sub,
sup {
    vertical-align: baseline
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

q:before {
    content: ""
}

q:after {
    content: ""
}

button {
    cursor: pointer
}
* {
    margin: 0;
    padding: 0
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none
}
textarea {
    word-wrap: break-word;
    resize: none
}
.wrap{
  width:100%;
  height:70.0rem;
  background:url(../images/bg.jpg) no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.page_one{
  width:100%;
  height:70.0rem;
  position: relative;
  overflow: hidden;
}

.header {
    width: 100%;
    height:3.15625rem;
    background:url(../images/nav.png) no-repeat;
    background-size: 100% 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
.header .icon {
  display: block;
  width: 3.75rem;
  height: 3.75rem;
  float: left;
  margin: 0.625rem 0 0 0.625rem;
}
.header .icon img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0.7rem;
}
.header .h_text{
    float: left;
    font-size: 0.84375rem;
    color: #fff;
    font-weight: 500;
    margin-top: 0.625rem;
    margin-left: 0.5rem;
}
.header .h_text p:nth-child(2) {
    font-size: 0.625rem;
    color: #ffe4f6;
    margin-top: 0.1rem;
}
.header .down1{
    width: 5.15625rem;
    height:1.6875rem;
    position: relative;
    float: right;
    margin-right: 1rem;
    background: url(../images/down.png) no-repeat;
    background-size: 100% 100%;
    margin-top: 0.69rem; 
}
.down2{
    width: 9.40625rem;
    height: 3.34375rem;
    position: relative;
    margin: 0 auto;
    display: block;
    background: url(../images/down_btn.png) no-repeat;
    background-size: 100% 100%;
    top:11.19rem;
}
.kv{
  top:3.5rem;
  width:100%;
  position: relative;
}
.kv .slogan{
    width:20rem;
    height: 15.5rem;
    position: relative;
    background: url(../images/slogan.png) no-repeat;
    background-size: 100% 100%;
    top:15.39rem; 
}
.title{
    width: 7.9375rem;
    height: 2.5625rem;
    position: relative;
    background: url(../images/title.png) no-repeat;
    background-size: 100% 100%;
    top: 16.2rem;
    left: 11rem;
}
.star{
    width:20rem;
    height:33.21875rem;
    position: relative;
    background: url(../images/star.png) no-repeat;
    background-size: 100% 100%;
    top: 16.2rem;
    left: 0rem;
    z-index:2;
}
.h_banner1{
    width: 100%;
    height: 31.125rem;
    position: absolute;
    overflow: hidden;
    top: 38rem;
    display: block;
    background: url(../images/box.png) no-repeat;
    background-size: 100% 100%;
}
.banner{
    width: 14.5625rem;
    height: 26.40625rem;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    top: 2.1rem;
    z-index: 3;
}
.h_banner1 .swiper-wrapper{
    width: 100%;
    height: 100%;
    position: relative; 
}
.h_banner1 .swiper-slide{
    width: 100%;
    height: 100%;
    position: relative;
}
.h_banner1  .swiper-slide img{
    width: 100%;
    height: 100%;
    position: relative;
}
.swiper-slide-shadow-left,.swiper-slide-shadow-right{
  display: none;
}
.swiper-button-prev{
    width: 0.71875rem;
    height: 1.4375rem;
    position: absolute;
    top: 50%;
    left:0.8rem;
    display: block;
    background: url(../images/prev.png) no-repeat;
    background-size: 100% 100%;
}
.swiper-button-next{
    width: 0.71875rem;
    height: 1.4375rem;
    position: absolute;
    top: 50%;
    right:0.8rem;
    display: block;
    background: url(../images/next.png) no-repeat;
    background-size: 100% 100%;
}
#Hero-bar{
    width: 100%;
    overflow: hidden;
    background: #1b1b1b;
    position: relative;
    z-index: 999;
    padding-bottom: 9.5px;
    padding-top: 9.5px;
}
footer .f_t{
  width: 100%;
  text-align: center;
  margin: 10px 0;
  display: none;
}
footer .f_t ul{
    width: 196px;
    height: 10.5px;
    margin-top: 7.5px;
    display: inline-block;
}
footer .f_t ul li{  
    width: auto;
    height: 14.5px;
    line-height: 9.5px;
    text-align: center;
    padding-right: 12.6%;
    float: left;
    padding-left: 12.6%;
}
footer .f_t ul li:nth-child(1){
  border-right: 1px solid #535353;
}
footer .f_t ul a{
  width: auto;
  color: #d1cfcf;
  font-size: 10.5px;
}
footer .f_t .tel{
  width: 115px;
  height: 22.5px;
  display: inline-block;
}
footer .f_t .tel a{
  display: block;
  font-size: 10.5px;
  color: #fff;
  line-height: 22.5px;
}
footer .f_t .tel a i{
  display: inline-block;
  width: 22.5px;
  height: 22.5px;
  margin-right: 5.5px;
  float: left;
  background: url(../images/tel.png);
  background-size: 100% 100%;
}
footer .f_txt{
  width: 100%;
  height: 19px;
  line-height: 19px;
  color: #707070;
  font-size: 9px;
  text-align: center;
}
footer .f_link{
  width: 130.5px;
  height:13px;
  margin: 0 auto;
  color: #707070;
  font-size: 9px;
  line-height: 13px;
}
footer .f_link .f_a01{
  display: inline-block;
  width: 12.5px;
  height: 13px;
  float: left;
  margin-right: 3px;
}
footer .f_link .f_a02{
  width: 11.5px;
  height: 13px;
  display: inline-block;
  float: left;
  margin-right: 7px;
}
footer .f_link .f_a01 img,footer .f_link .f_a02 img{
  width: 100%;
  height: 100%;
}

footer .f_link {
  width: 100%;
  height: 13px;
  text-align:center;
  color: #707070;
  font-size: 9px;
  line-height: 13px;
}
footer .f_link a{
  color:#707070;
}
footer .f_link .f_a01 {
  display: inline-block;
  width: 12.5px;
  height: 13px;
  float: left;
  margin-right: 3px;
}
footer .f_link .f_a01 img, footer .f_link .f_a02 img {
  width: 100%;
  height: 100%;
}
footer .f_link .f_a02 {
  width: 11.5px;
  height: 13px;
  display: inline-block;
  float: left;
  margin-right: 7px;
}
