 <!DOCTYPE html>
<html lang="en">
<head>
    <title>{seo name='title'}</title>
    <script data-fixed="true">
        if((/iphone|android|mobile/i.test(navigator.userAgent.toLowerCase()))) {
            location.href = "/m/";
        }
    </script>
    <script>
    //yxhy2017
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?c5056f67f2a864dfc774e882633a7871";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
      <script>
   //push 手动上报方法，event 事件触发方法 ，ready js加载完成回调 
   //push 参数，name：页面名称，behavior 行为 
   //event 参数，event：事件名称，args 拓展参数 
   var HLog={ 
    push: function(name,behavior){},
    setUser:function(){},
    event:function(event,args){},
    ready:function(){}
    };
   HLog.config={
       "senseHash":0, //hash锚点是否进入url统计
       "senseQuery":0, //url参数是否进入url统计
       "ignoreParams":[] //开启url参数上报时，可忽略部分参数拼接上报；
   };
   (function() {
      var hl = document.createElement("script");
      hl.src = "http://spro.yingxiong.com/datastat/jsapi/jssdk/appid/47/client/1/filter/stat.js";
      hl.async = "async";
      var s = document.getElementsByTagName("script")[0];
      HLog.ready = function(){
        HLog.push('reflash')
      };
      s.parentNode.insertBefore(hl, s);
   })();
</script>
    <meta charset="UTF-8">
    <meta name="keywords" content="吃豆,吃豆大作战,大作战,吃豆手游,吃豆人,吃豆官网,吃豆大作战官网,吃豆大作战下载,休闲手游,英雄互娱">
    <meta name="description" content="吃豆大作战官方网站，提供吃豆大作战官方下载、礼包、新闻、攻略、视频。吃豆大作战是由英雄互娱发行的一款Q版激萌的休闲竞技类手游。在经典吃豆的基础上加入妙趣横生的种族相克玩法，你追我赶欢乐互撩！吃得根本停不下来～赶快加入，与小伙伴开启新的吃货冒险之旅吧">
    {csrf}
    <link rel="shortcut icon" href="{$global.icon_img}?{$smarty.const.VERSION}">
    <link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}3.0/css/reset.css?{$smarty.const.VERSION}">
    <link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}3.0/css/index.css?{$smarty.const.VERSION}">
    <script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}3.0/public/jquery-1.7.1.min.js?{$smarty.const.VERSION}"></script>
</head>
<body>
<script type="text/javascript" src="http://cdnstatic.yingxiong.com/head/js/topbar.js?{$smarty.const.VERSION}"></script>
<div class="cd-container">
    <img class="cd-bimg" src="{$smarty.const.STATIC_DOMAIN}3.0/images/bimg.png?{$smarty.const.VERSION}">
    <div>
        <img class="cd-logo" src="{$smarty.const.STATIC_DOMAIN}3.0/images/logo.png?{$smarty.const.VERSION}">
        <img class="cd-title" src="{$smarty.const.STATIC_DOMAIN}3.0/images/title.png?{$smarty.const.VERSION}">
        <img class="cd-play-icon js_video_play" data-url="{$kv.url}" src="{$smarty.const.STATIC_DOMAIN}3.0/images/play_icon.png?{$smarty.const.VERSION}">
        <p class="tit_p">超魔性全球吃豆竞技手游</p>
        <img class="cd-yun" src="{$smarty.const.STATIC_DOMAIN}3.0/images/yun1.png?{$smarty.const.VERSION}">
        <ul class="cd-yy">
            <li class="cd-ty-btn">
                <a href="javascript:" class="js_down_andriod stat_android">
                    <img src="{$smarty.const.STATIC_DOMAIN}3.0/images/tiyan.png?{$smarty.const.VERSION}">
                </a>
            </li>
            <li>
                <!--<a class="tap stat_tap" href="http://l.taptap.com/ywzEouU6" target="_blank">-->
                    <!--<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/tap.png?{$smarty.const.VERSION}">-->
                <!--</a>-->
                <a class="tap stat_tap" href="http://l.taptap.com/ywzEouU6" target="_blank">
                    <img src="{$smarty.const.STATIC_DOMAIN}3.0/images/tap.png?{$smarty.const.VERSION}">
                </a>
            </li>
            <li>
                <a class="js_down_andriod stat_android" name="android" href="#">
                    <img src="{$smarty.const.STATIC_DOMAIN}3.0/images/az_yy.png?{$smarty.const.VERSION}">
                </a>
            </li>
            <li class="no-margin">
                <a class="cd-yy-btn" name="ios" href="#">
                    <img src="{$smarty.const.STATIC_DOMAIN}3.0/images/ios_yy.png?{$smarty.const.VERSION}">
                </a>
            </li>
        </ul>
        <ul class="cd-master">
            <li class="m1">
                <img class="m-dh" src="{$smarty.const.STATIC_DOMAIN}3.0/images/master1_dh.png?{$smarty.const.VERSION}">
            </li>
            <li class="m2">
                <img class="m-dh" src="{$smarty.const.STATIC_DOMAIN}3.0/images/master2_dh.png?{$smarty.const.VERSION}">
            </li>
            <li class="m3">
                <img class="m-dh" src="{$smarty.const.STATIC_DOMAIN}3.0/images/master3_dh.png?{$smarty.const.VERSION}">
            </li>
            <li class="m4">
                <img id="m4_ks" src="{$smarty.const.STATIC_DOMAIN}3.0/images/master4_ks.png?{$smarty.const.VERSION}">
                <img class="m-dh" src="{$smarty.const.STATIC_DOMAIN}3.0/images/master4_dh.png?{$smarty.const.VERSION}">
            </li>
        </ul>
        <div class="ewm-box">
            <div>
                <img class="js_jump_img" src="">
            </div>
            <h1>即刻下载</h1>
            <p></p>
            <label></label>
            <a href="http://www.3839.com/a/82262.htm" class="goods"><img src="{$smarty.const.STATIC_DOMAIN}3.0/images/goods.png?{$smarty.const.VERSION}"></a>
            <label></label>
            <ul class="cd-gf">
                <li>
                    <a href="javascript:">
                        <div>
                            <img class="gf1 show" src="{$smarty.const.STATIC_DOMAIN}3.0/images/weixin.png?{$smarty.const.VERSION}">
                            <img class="gf2" src="{$smarty.const.STATIC_DOMAIN}3.0/images/weixin_active.png?{$smarty.const.VERSION}">
                        </div>
                        <p>微信</p>
                    </a>
                    <i>
                        <img src="{$global.wx_img}">
                    </i>
                </li>
                <li>
                    <a href="{$global.wb_url}" target="_blank">
                        <div>
                            <img class="gf1 show" src="{$smarty.const.STATIC_DOMAIN}3.0/images/weibo.png?{$smarty.const.VERSION}">
                            <img class="gf2" src="{$smarty.const.STATIC_DOMAIN}3.0/images/weibo_active.png?{$smarty.const.VERSION}">
                        </div>
                        <p>微博</p>
                    </a>
                </li>
                <li>
                    <a href="{$global.tb_url}" target="_blank">
                        <div>
                            <img class="gf1 show" src="{$smarty.const.STATIC_DOMAIN}3.0/images/tieba.png?{$smarty.const.VERSION}">
                            <img class="gf2" src="{$smarty.const.STATIC_DOMAIN}3.0/images/tieba_active.png?{$smarty.const.VERSION}">
                        </div>
                        <p>贴吧</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--这是弹窗-->
<div class="cd-tc">
    <div>
        <h1>预约信息</h1>
        <p class="tc-error">请输入手机号码</p>
        <input id="tc-phone" type="text" placeholder="请输入手机号码">
        <p class="tc-error">请输入验证码</p>
        <div>
            <input id="tc-mark" type="text" placeholder="请输入验证码">
            <button id="tc_get_mark" type="button" url='{myurl name="commonMethod/get-verify"}'>获取验证码</button>
        </div>
        <p class="tc-text">最新消息，请加官方Q群：555200400</p>
        <a href="javascript:" id="tc-tj-btn" url='{myurl name="commonMethod/yuyue"}'></a>
        <p class="tc-text">预约规则：</p>
        <p class="tc-text">1.填写正确的手机号码即可参与预约。</p>
        <p class="tc-text">2.我们会在正式上线期以短信形式发送通知，请注意查收。</p>
        <label class="tc-close"></label>
    </div>
</div>
</body>
<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}3.0/js/index.js?{$smarty.const.VERSION}"></script>
<script type="text/javascript" src="http://cdnstatic.yingxiong.com/footer/js/footer_new.js?{$smarty.const.VERSION}"></script>
{download}
{video_play}
</html>