<div class="tc">
	    <div class="tc_icon">
			<div class="login">
				<i class="close"></i>
				<div class="chengg"></div>
				<div class="c_login">
					<ul class="select_ul">
						<li class="active" data-type="android">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/sel2.png?{$smarty.const.VERSION}" alt="" class="img1">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/sel1.png?{$smarty.const.VERSION}" alt="" class="img2">
							<p class="sel_info">Android</p>
						</li>
						<li data-type="ios" class="">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/sel2.png?{$smarty.const.VERSION}" alt="" class="img1">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/sel1.png?{$smarty.const.VERSION}" alt="" class="img2">
							<p class="sel_info">iOS</p>
						</li>
					</ul>
					<div class="s_put">
						<input type="tel" placeholder="请输入手机号" class="phone">
					</div>
					<div class="s_put tupian" style="display: none;">
						<input type="text" placeholder="请输入验证码" class="t_yzm">
						<div class="captcha">
							<p>点击刷新</p>
						</div>
					</div>
					<div class="s_put">
						<input type="text" placeholder="手机验证码" class="yzm">
						<div class="g_code">发送验证码</div>
					</div>
					<a href="javascript::" class="yy yy_btn stat_cover_yy">
						<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/yy_btn.png?{$smarty.const.VERSION}" alt="" class="stat_event_yy_success">
					</a>
				</div>
			</div>

		</div>
	</div>	
	<script type="text/javascript" src="http://cdnstatic.yingxiong.com/footer/js/footer_new.js"></script>
	<script src="http://cdnstatic.yingxiong.com/common/js/yx.js?{$smarty.const.VERSION}"></script>
	<script type="text/javascript" src="http://cdnstatic.yingxiong.com/common/js/statics.js"></script>