*{margin: 0;padding: 0;-webkit-tap-highlight-color:rgba(0,0,0,0);}
body {font-family: "微软雅黑";}
.hidden{display:none!important;}
img{width:100%;height:100%;}
a{text-decoration:none;}
li{list-style:none;}
i,em{font-style:normal;}
.fl{float:left;}
.fr{float: right;}
input:focus{outline:none;}
/*header*/
header {
	display:none;
	width:20rem;
	height:3.125rem;
	position: fixed;
	z-index: 200;
	top: 0;
	left: 0;
	background:#fff;
	background-size:100% 100%;
}
header .logo {
	float: left;
	display: block;
	width: 3.53125rem;
	height: 3.53125rem;
	margin:0.625rem 0 0 0.9375rem;
}
header .h_text {
	overflow: hidden;
	float: left;
	/*height: 2.1875rem;*/
	margin:0.75rem 0 0 0.4375rem;
}
header .h_text .h_p01 {
	width: 100%;
	font-weight:600;
	color: #223C34;
	font-size: .9375rem;
	/*font-weight: bold;*/
}
header .h_text .h_p02 {
	width: 100%;
	color: #487F57;
	font-size:0.625rem;
}
header .header_a {
	float: right;
	height:1.5625rem;
	margin: 0.875rem 0.9375rem 0 0;
	text-align: center;
}
header .header_a .order{
	display: inline-block;
	width:4.40625rem;
	height:1.5625rem;
	background: url(../images/l_order.png);
	background-size: 100% 100%;
}
/*首页--top*/
.i_main {
	position: relative;
	width:20rem;
	height: 100%;
	margin:0 auto;
	overflow: hidden;
}
.i_main .top{
	position: relative;
	overflow: hidden;
	width: 20rem;
	height: 32.21875rem;
	background:url("../images/bg1.jpg");
	background-size:100% 100%;
}
.i_main .top .logo1{
	position:absolute;
	right:.9375rem;
	top:.9375rem;
	width:6.1875rem;
	height:3.875rem;
}
/*首页--宣传内容*/
.i_main .xc_info{
	position: relative;
	overflow: hidden;
	width: 20rem;
	height: 41.1875rem;
	background:url("../images/bg2.jpg");
	background-size:100% 100%;
}
.i_main .title{
	width:20rem;
	height:2.84375rem;
}
.i_main .videoBtn {
	position:relative;
	width:14.75rem;
	height: 8.71875rem;
	margin:0 auto;
	margin-top:.5rem;
	background:url("../images/l_vibg.png");
	background-size:100% 100%;
}
.i_main .videoBtn a{
	display:block;
	position:absolute;
	left:50%;
	top:50%;
	width:2.46875rem;
	height:2.46875rem;
	margin:-1.234375rem 0 0 -1.234375rem;
}
.i_main .videoBtn img{
	animation: scales 2s linear infinite;
	-webkit-animation: scales 2s linear infinite;
}
.slider{
	position: relative;
	width: 15.78125rem;
	height:24rem;
	margin: 0 auto;
	margin-top: 1.15rem;
	background:url("../images/l_sibg.png");
	background-size:100% 100%;
}
.slider .swiper-container .swiper-slide>a{
	display: block;
	width: 13.53125rem;
	height: 22.5625rem;
	margin: 0 auto;
	margin-top: .7rem;
}
.slider .swiper-button-prev{
	width:1rem;
	height:3.1875rem;
	left:-.9375rem;
	margin-top: -2.7rem;
	background: url(../images/l_prev.png) no-repeat;
	background-size: 100%;
}
.slider .swiper-button-next {
	width:1rem;
	height:3.1875rem;
	right:-.9375rem;
	margin-top: -2.7rem;
	background: url(../images/l_next.png) no-repeat;
	background-size: 100%;
}
.slider .swiper-pagination{
	width: 100%;
	left: 50%;
	bottom: -1.3rem;
	transform:translate(-50%);
	-webkit-transform:translate(-50%);
}
.slider .swiper-pagination-bullet {
	width:0.5625rem;
	height:0.5625rem;
	margin: 0 .65rem;
	opacity: 1;
	background:url("../images/l_bullet1.png");
	background-size:100% 100%;
}
.slider .swiper-pagination-bullet-active {
	width:0.5625rem;
	height: 0.5625rem;
	background:url("../images/l_bullet2.png");
	background-size:100% 100%;
}
/*首页--版本介绍*/
.i_main .bb_info{
	position: relative;
	overflow: hidden;
	width: 20rem;
	height: 38.9375rem;
	background:url("../images/bg3.jpg");
	background-size:100% 100%;
}
.i_main .bb_info .bb_zs img{
	display:block;
	width:19rem;
	height:12.59375rem;
}
.i_main .bb_info .bb_zs img:first-of-type{margin-top:-2rem;}
.i_main .bb_info .bb_zs img:nth-of-type(2){margin-top: -1.5rem;}
.i_main .bb_info .bb_zs img:nth-of-type(3){margin-top: -.5rem;}
/*版本描述*/
.i_main .bb_ms{
	position: relative;
	overflow: hidden;
	width: 20rem;
	height: 62.375rem;
	background:url("../images/bg4.jpg");
	background-size:100% 100%;
}
.i_main .bb_ms .contbox{
	width:18.1875rem;
	margin:0 auto;
}
.i_main .bb_ms .contbox .ms_tit{
	width:18.125rem;
	height:1.53125rem;
	margin-top: 1.5rem;
}
.i_main .bb_ms .contbox .ms_one div img{
	width:18.1875rem;
	height:1.03125rem;
	margin-top: .5rem;
}
.i_main .bb_ms .contbox .ms_one div:nth-of-type(2) img{height:2.5625rem;}
.i_main .bb_ms .contbox .ms_one div> p {
	font-size: 0.75rem;
	color: rgba(255,198,148,.8);
	line-height: 1.3rem;
	margin-bottom: 1rem;
	padding-left: .4rem;
}
.i_main .bb_ms .contbox .line{
	display:block;
	content:"";
	width:18.125rem;
	height:0.90625rem;
}
.i_main .bb_ms .contbox .ms_one .line{margin-top: -1rem;}
.i_main .bb_ms .contbox .ms_two{
	position: relative;
	width: 18.1875rem;
	/*height: 22.6875rem;*/
	margin: 0 auto;
}
.i_main .bb_ms .contbox .ms_two ul{
	font-size: 0.75rem;
	color: rgba(255,198,148,.8);
	width: 15rem;
	margin-left: 2.8rem;
}
.i_main .bb_ms .contbox .ms_two ul li{
	position: relative;
	line-height: 1.5rem;
	padding-left: 0.2rem;
}
.i_main .bb_ms .contbox .ms_two ul li>i{
	display: inline-block;
	position: absolute;
	left: -1.5rem;
	top: 0.1875rem;
	content: "";
	width: 1.15625rem;
	height: 1.03125rem;
	font-size: .75rem;
	text-align: center;
	color:#3f1c17;
	line-height: 1.03125rem;
	background: url(../images/l_point.png);
	background-size: 100% 100%;
}






@keyframes scales{0%{transform: scale(1); }50% {transform: scale(1.1);}100% {transform: scale(1);}}
@-webkit-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(1.1);}100% {-webkit-transform: scale(1);}}
@-moz-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(1.1);}100% {-webkit-transform: scale(1);}}
@-o-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(1.1);}100% {-webkit-transform: scale(1);}}
@-ms-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(1.1);}100% {-webkit-transform: scale(1);}}

@-webkit-keyframes rotate{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}}
@keyframes rotate{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}}
@-moz-keyframes rotate{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}}
@-o-keyframes rotate{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}}
@-ms-keyframes rotate{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}}
