body,html{
	height:100%;
	width:100%;
	padding: 0;
	margin: 0;
	overflow:hidden;
	font-family: "HelveticaNeue";
}
* {
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-appearance: none;
}
input[type=number] {
	-moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.kv{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	background: url(../images/kv_bg.jpg) no-repeat;
	background-size: cover;
	background-position: center 0;
}
.btn{
	width:11.71875rem;
	height:3.34375rem;
	position:absolute;
	left:50%;
	margin-left:-5.859375rem;
	bottom:2.5625rem;
}
.btn img{
	display: block;
	width:100%;
	height:100%;
}
.login_board{
    width:100%;
    height:100%;
    z-index:100;
    display:none;
    background: rgba(0,0,0,.8);
    position:fixed;
    top:0;
}
.login_con{
	width:18.4375rem;
    height:13.34375rem;
    display: block;
    position: relative;
    margin: 0 auto;
    top: 25%;
    left:50%;
    margin-left:-9.3125rem;
    background: url(../images/board.png) no-repeat center;
    background-size: 100% 100%;
}
.login_tel{
	width:17.53125rem;
    height:10.59375rem;
    display: block;
    position: relative;
    margin: 0 auto;
    top:2.65625rem;
    left:50%;
    margin-left:-8.75rem;
}
.yl_info{
	width: 100%;
    text-align: center;
    font-size: 0.75rem;
    color: #fff;
    padding-top: 0.5rem;
    line-height: 2.40625rem;
}
input.tel::-webkit-input-placeholder {
	font-size:0.875rem;
	color:#BDBDBB;
}
input.tel{
	width:14.125rem;
	height:2.4375rem;
	text-indent: 0.46875rem;
	position: absolute;
	top: 3.0rem;
	left:50%;
	margin-left:-7.0625rem;
	font-size: 1rem;
	color: #000;
	outline: none;
	border: 1px solid #f8c36b;
}
.co_error{
	font-size: 0.5rem;
    color: #B02722;
    width: 80%;
    text-align: left;
    display: none;
    position: absolute;
    top: 5.7rem;
    padding-left: 1.75rem;
}
.login_next{
	width:7.9375rem;
	height:2.21875rem;
	position:absolute;
	left:50%;
	margin-left:-3.921875rem;
	bottom:1.46875rem;
}
.login_next>img{
	width:7.9375rem;
}
.close{
	position: absolute;
    width: 1.70625rem;
    height: 1.69375rem;
    right: -0.2rem;
    top: -0.96875rem;
    z-index: 10;
}	