@keyframes translate1 {
  from {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 20px, 0);
    -webkit-transform: translate3d(0, 20px, 0);
  }
}
@-webkit-keyframes translate1 {
  from {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 20px, 0);
    -webkit-transform: translate3d(0, 20px, 0);
  }
}
html,
body {
  font-family: "Microsoft Yahei";
  max-width: 1920px;
  min-width: 1200px;
  margin: 0 auto;
  height: auto;
}
a {
  text-decoration: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.slh {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.no-mar-right {
  margin-right: 0 !important;
}
.goTop {
  display: none;
  width: 71px;
  height: 98px;
  position: fixed;
  right: 60px;
  bottom: 100px;
}
.goTop img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.goTop img.show {
  opacity: 1;
  display: block\9;
}
.goTop img.hover {
  opacity: 0;
  display: none\9;
}
.goTop:hover {
  cursor: pointer;
}
.goTop:hover img.show {
  opacity: 0;
  display: none\9;
}
.goTop:hover img.hover {
  opacity: 1;
  display: block\9;
}
.y_head {
  width: 100%;
  height: 40px;
  background: #fff;
}
.y_head > div {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.y_head > div > img {
  float: left;
  margin: 6px 0 0 14px;
}
.y_head > div > p {
  float: left;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  margin: 0 0 0 10px;
  color: #4d4c4c;
}
.y_head > div > div {
  float: right;
  margin: 0 18px 0 0;
}
.y_head > div > div > a {
  display: inline-block;
  float: left;
  font-size: 14px;
  color: #4d4c4c;
  height: 15px;
  margin: 13px 0 0 0;
  line-height: 15px;
  transition: color .3s;
  -webkit-transition: color .3s;
}
.y_head > div > div > a:hover {
  color: #d71341;
}
.y_head > div > div > a.y_user {
  padding: 0 12px 0 20px;
  border-right: 1px solid #4d4c4c;
  background: url("../images/y_icon1_06.jpg") no-repeat;
}
.y_head > div > div > a.y_kf {
  margin: 13px 140px 0 12px;
  padding: 0 0 0 24px;
  background: url("../images/y_icon2_08.jpg") no-repeat;
}
.y_head > div > div > p {
  display: inline-block;
  width: 120px;
  height: 100%;
  font-size: 14px;
  margin: 13px 0 0 0;
  line-height: 15px;
  color: #4d4c4c;
}
.y_head > div > div > p a {
  color: #4d4c4c;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.y_head > div > div > p a.y_zw {
  margin: 0 18px 0 0;
}
.y_head > div > div > p a.y_yw {
  margin: 0 0 0 18px;
}
.y_head > div > div > p a.active {
  color: #ba3636;
}
.y_head > div > div > p a:hover {
  color: #ba3636;
}
.y_head > a.y_kf {
  margin: 13px 50px 0 12px;
  padding: 0 0 0 24px;
  background: url("../images/y_icon2_08.jpg") no-repeat;
}
.y_head > label {
  display: block;
  width: 26px;
  height: 24px;
  margin: 8px 0 0 0;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
  float: left;
  color: #4d4c4c;
  color: #999999;
  background: #e6e6e6;
}
.y_head > label.active {
  background: #f70041;
  color: #fff;
}
.y_head > label:hover {
  cursor: pointer;
}
.i_head {
  width: 100%;
  min-width: 1200px;
  max-width: 1920px;
  height: 900px;
  position: relative;
}
.i_head .i_banner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/ie8_cc.jpg") no-repeat;
  background-position: center 0;
}
.i_head .i_video {
  width: 100%;
  height: 100%;
}
.i_head .i_h_content {
  width: 100%;
  height: 100%;
  padding: 12px 0 0 0;
  box-sizing: border-box;
  position: absolute;
  z-index: 10;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.i_head .i_h_content > ul {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.i_head .i_h_content > ul > li {
  float: left;
  width: 110px;
  height: 95px;
  margin: 0 36.666px 0 0;
  padding: 32px 0 0 0;
  font-size: 16px;
  box-sizing: border-box;
  text-align: center;
}
.i_head .i_h_content > ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}
.i_head .i_h_content > ul > li > a > span {
  font-size: 12px;
  display: inline-block;
  width: 100%;
  height: 12px;
  line-height: 12px;
  font-weight: normal;
  opacity: .6;
  margin-top: 5px;
}
.i_head .i_h_content > ul > li.active {
  background: url('../images/c_icon1.png') no-repeat;
  background-position: center 10px;
  font-weight: bold;
}
.i_head .i_h_content > ul > li.i_logo {
  width: 320px;
  background: url('../images/c_logo.png') no-repeat;
}
.i_head .i_h_content > ul > li.no_margin {
  margin: 0;
}
.i_head .i_h_content > ul > li:hover {
  cursor: pointer;
  background: url('../images/c_icon1.png') no-repeat;
  background-position: center 10px;
}
.i_head .i_h_content > ul > li.i_logo:hover {
  cursor: pointer;
  background: url('../images/c_logo.png') no-repeat;
}
.i_head .i_h_content > ul.i_h_nav_en {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.i_head .i_h_content > ul.i_h_nav_en > li {
  float: left;
  width: auto;
  height: 95px;
  margin: 0 26.666px 0 0;
  padding: 32px 30.08px 0 30.08px;
  font-size: 16px;
  box-sizing: border-box;
  text-align: center;
}
.i_head .i_h_content > ul.i_h_nav_en > li > a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}
.i_head .i_h_content > ul.i_h_nav_en > li > a > span {
  font-size: 12px;
  display: inline-block;
  width: 100%;
  height: 12px;
  line-height: 12px;
  font-weight: normal;
  opacity: .6;
}
.i_head .i_h_content > ul.i_h_nav_en > li.active {
  background: url('../images/c_icon1.png') no-repeat;
  background-position: center 10px;
  font-weight: bold;
}
.i_head .i_h_content > ul.i_h_nav_en > li.i_logo {
  width: 320px;
  background: url('../images/c_logo.png') no-repeat;
}
.i_head .i_h_content > ul.i_h_nav_en > li.theData {
  width: 170px;
}
.i_head .i_h_content > ul.i_h_nav_en > li.no_margin {
  margin: 0;
}
.i_head .i_h_content > ul.i_h_nav_en > li:hover {
  cursor: pointer;
  background: url('../images/c_icon1.png') no-repeat;
  background-position: center 10px;
}
.i_head .i_h_content > ul.i_h_nav_en > li.i_logo:hover {
  cursor: pointer;
  background: url('../images/c_logo.png') no-repeat;
}
.i_head .i_h_content .i_h_btn {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 170px;
  bottom: 190px\9;
  text-align: center;
}
.i_head .i_h_content .i_h_btn > a {
  display: inline-block;
  width: 300px;
  height: 60px;
  margin: 0 0 0 0;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  line-height: 60px;
  background: url("../images/c_xiazai.png") no-repeat;
  cursor:pointer;
}
.i_head .i_h_content .i_h_btn > div {
  display: inline-block;
  width: 300px;
  height: 60px;
  position: relative;
  top: -4px;
  font-size: 14px;
  line-height: 60px;
  color: #fff;
  background: url("../images/i_bimg3.png") no-repeat;
}
.i_head .i_h_content .i_h_btn > div a {
  color: #bf1615;
  text-decoration: underline;
}
.i_head .i_h_content .i_h_jt {
  display: block;
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 60px;
  bottom: 80px\9;
  animation: translate1 1.5s linear infinite alternate;
  -webkit-animation: translate1 1.5s linear infinite alternate;
}
.i_head .i_h_content .i_h_jt > img:hover {
  cursor: pointer;
}
.i_h_ginf {
  width: 100%;
  height: auto;
  display: none;
  background: url("../images/h_bimg.png") no-repeat;
  background-position: center 0;
}
.i_h_ginf > div {
  width: 1200px;
  height: 160px;
  margin: 0 auto;
  position: relative;
}
.i_h_ginf > div > ul {
  width: 1200px;
  height: 160px;
  float: left;
}
.i_h_ginf > div > ul > li {
  float: left;
  position: relative;
  margin: 20px 0 0 0;
  width:168px;
  height: 120px;
  text-align: center;
  box-sizing: border-box;
  /*border-right: 1px solid #bcbcbc;*/
}
.i_h_ginf > div > ul > li a {
  display: inline-block;
  width: auto;
  height: 120px;
  text-align: center;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.i_h_ginf > div > ul > li a img {
  display: inline-block;
  width: 84px;
  height: 84px;
}
.i_h_ginf > div > ul > li a span {
  display: inline-block;
  font-size: 16px;
  margin: 8px 0 0 0;
  color: #505050;
  transition: color .3s;
  -webkit-transition: color .3s;
}
.i_h_ginf > div > ul > li a:hover {
  margin-top: -10px;
}
.i_h_ginf > div > ul > li a:hover span {
  color: #bf1615;
}
.i_h_ginf > div > ul > li div {
  display: inline-block;
  width: 84px;
  height: 84px;
  border: 1px solid #636363;
  box-sizing: border-box;
}
.i_h_ginf > div > ul > li div > img {
  width: 100%;
  height: 100%;
}
.i_h_ginf > div > ul > li span {
  display: block;
  width: 100%;
  height: 36px;
  margin-top: 8px;
  font-size: 16px;
  color: #505050;
  line-height: 16px;
}
.i_h_ginf > div > ul > li.no_margin_left {
  padding-left: 0;
}
.i_h_ginf > div > ul > li.no_margin_right {
  padding-right: 0;
}
.i_h_ginf > div > ul > li.no_border {
  border: none;
}
.i_h_ginf > div > ul > li.c_qq{
  position:relative;
  margin-right: 123px;
}
.i_h_ginf > div > ul > li.c_qq div{
  border:none;
}
.i_h_ginf > div .i_h_qq {
  width: auto;
  height: auto;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 135px;
  text-align: left;
  white-space: nowrap;
}
.i_h_ginf > div .i_h_qq > span {
  display: block;
  font-size: 14px;
  color: #505050;
  height: 20px;
}
.i_h_ginf > div .i_h_qq > span:nth-of-type(1){
  margin-top: 0;
}
.i_h_ginf > div .i_h_qq > span.i_h_qq_right {
  text-align: right;
}
.i_h_ginf > div .i_h_qq > p {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 112px;
  left: 0;
  color: #868686;
  text-align: center;
}
.i_h_ginf > div > img.sj_icon {
  width: 12px;
  height: 6px;
  position: absolute;
  top: -6px;
  right: 50px;
}
.i_h_ginf > div > img.sj_icon_en {
  width: 12px;
  height: 6px;
  position: absolute;
  top: -6px;
  right: 165px;
}
.i_h_ginf .sj_en{
  float: none;
  margin: 0 auto;
  width:900px;
}
.page_lb {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.page_lb > ul {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.page_lb > ul > li {
  float: left;
  width: 100%;
  height: 100%;
}
.page_lb > ul > li img {
  width: 100%;
  height: 100%;
}
.page_lb .qh {
  width: 41px;
  height: 90px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
}
.page_lb .prev {
  left: 100px;
  background: url("../images/v_left.png") no-repeat;
}
.page_lb .prev:before{
  display: inline-block;
  content: "";
  background: url(../images/point_left.png) no-repeat;
  width: 41px;
  height: 90px;
  position: relative;
  left: -10px;
  top: -28px;
}
.page_lb .next {
  right: 100px;
  background: url("../images/v_right.png") no-repeat;
}
.page_lb .next:before{
  display:inline-block;
  content:"";
  background: url("../images/point_right.png") no-repeat;
  width: 41px;
  height: 90px;
  position: relative;
  left: -10px;
  top: -28px;
}
.page_lb .qh:hover {
  cursor: pointer;
}
.page_lb .lb_yuan {
  width: auto;
  height: 18px;
  position: absolute;
  bottom: 40px;
  right: 40px;
  z-index: 10;
}
.page_lb .lb_yuan > label {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin: 0 28px 0 0;
  background: url("../images/i_icon_yuan1.png") no-repeat;
  transition: background .2s;
}
.page_lb .lb_yuan > label.active {
  background: url("../images/i_icon_yuan.png") no-repeat;
}
.page_lb .lb_yuan > label:hover {
  cursor: pointer;
}
.page_lb .lb_line {
  width: auto;
  height: 4px;
  position: absolute;
  bottom: 40px;
  right: 40px;
  z-index: 10;
}
.page_lb .lb_line > label {
  width: 24px;
  height: 4px;
  display: inline-block;
  margin: 0 18px 0 0;
  background: #470101;
  transition: background .2s;
}
.page_lb .lb_line > label.active {
  background: #fff;
}
.page_lb .lb_line > label:hover {
  cursor: pointer;
  background: #fff;
}
.page_video_box {
  width: 100%;
  height: 100%;
  min-width: 1200px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#e5000000,endcolorstr=#e5000000);
  z-index: 999;
  overflow: auto;
  transition: transform .2s;
  display: none;
  opacity: 0;
  transform: scale(0, 0);
}
.page_video_box > div {
  width: 660px;
  height: 380px;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
}
.page_video_box > div .v_close {
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  background: url("../images/close.png") no-repeat;
}
.page_video_box > div .v_close:hover {
  cursor: pointer;
}
