body {margin: 0;padding: 0;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,
fieldset,legend,input,button,textarea,p,blockquote,th,td,a {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.chengg{
	width:100%;
	height:1px;
	background:none;
}
fieldset,img {border: 0;}
/* remember to define focus styles! */
:focus {outline: 0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup {
	font-style: normal;
	font-weight: normal;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

abbr,acronym {
	border: 0;
	font-variant: normal;
}

input,button,textarea,select,optgroup,option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}

code,kbd,samp,tt {
	font-size: 100%;
}


/*@purpose To enable resizing for IE */


/*@branch For IE6-Win, IE7-Win */

input,button,textarea,select {
	*font-size: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ol,ul,li {
	list-style: none;
}


/* tables still need 'cellspacing="0"' in the markup */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption,th {
	text-align: left;
}

sup,sub {
	font-size: 100%;
	vertical-align: baseline;
}


/* remember to highlight anchors and inserts somehow! */

a:link,
a:visited,
a:active {
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

blockquote,q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
.fl{float:left;}
.fr{float:right;}
.wrap{
	width:1200px;
	height:100%;
	position:relative;
	margin:0 auto;
}
.nav {
	width: 100%;
	height: 146px;
	min-width: 1200px;
	background: url(../images/nav_bg.png) no-repeat center;
	position: absolute;
	z-index: 10;
}

.nav .icon {
	display: block;
	float: left;
	width: 120px;
	height: 120px;
	margin: 9px 20px 0 0;
}

.nav .header_txt {
	float: left;
}

.nav .header_txt p:nth-child(1) {
	font-size: 28px;
	color: #fff;
	font-weight: bold;
	margin-top: 20px;
}

.nav .header_txt p:nth-child(2) {
	font-size: 16px;
	color: #999;
	margin-top: 5px;
}

.nav .nav_ul {
	float: left;
	height: 106px;
	overflow: hidden;
}

.nav .nav_ul li {
	height: 95px;
	font-size: 20px;
	color: #ccc;
	float: left;
	border-bottom: 6px solid transparent;
	line-height: 100px;
	margin-left: 60px;
	padding: 0 15px;
}

.nav .nav_ul li:nth-child(1) {
	margin-left: 160px;
}

.nav .nav_ul li a {
	color: #ccc;
	display: block;
	width: 100%;
	height: 100%;
}

.nav .nav_ul li:hover {
	color: #ffeb01;
	border-bottom: 6px solid #ffeb01;
}
.nav .nav_ul li.active{
	color: #ffeb01;
	border-bottom: 6px solid #ffeb01;
}
.nav .nav_ul li.active a {
	color: #ffeb01;
}
.nav .nav_ul li:hover a {
	color: #ffeb01;
}

.nav .s_ul {
	width: 184px;
	height: 48px;
	float: right;
	margin: 25px 0 0 0;
	position: relative;
}

.nav .s_ul li {
	width: 48px;
	height: 48px;
	background: url(../images/nav.png) no-repeat center;
	background-position: 0 0;
	overflow: hidden;
	float: left;
	margin-right: 20px;
	cursor: pointer;
}

.nav .s_ul li a {
	display: block;
	width: 100%;
	height: 100%;
}

.nav .s_ul li:nth-child(2) {
	background-position: -68px 0;
}

.nav .s_ul li:nth-child(3) {
	margin-right: 0;
	background-position: -136px 0;
}

.nav .s_ul li:nth-child(1):hover {
	background-position: 0 -48px;
}

.nav .s_ul li:nth-child(2):hover {
	background-position: -68px -48px;
}

.nav .s_ul li:nth-child(3):hover {
	background-position: -136px -48px;
}

.nav .s_ul .fl_wx {
	position: absolute;
	width: 130px;
	height: 130px;
	left: -40px;
	top: 70px;
	display: none;
}