*{-webkit-tap-highlight-color:transparent;padding:0;margin:0;}
.hidden{display:none;}
i{font-style:normal;}
body{font-family:"微软雅黑";}

.main{
    position: relative;
    width: 20rem;
    height: 35.5rem;
    margin: 0 auto;
    overflow: hidden;
    /*background: url(../images/bg.jpg) center top no-repeat;*/
}
.bg{
    position: absolute;
    z-index: -1;
    width: 20rem;
    height: 35.5rem;
    background: url(../images/bg.jpg) no-repeat center / 100%;
}
.cloud img{
    position: absolute;
    transition: all 5s ease-in-out;
}
.cloud img:nth-child(1){
    width:47.96875rem;
    height:26.5625rem;
    top: -9.4rem;
    left: -31rem;
}
.cloud img:nth-child(2){
    width:47.34375rem;
    height:27.3125rem;
    top: -9.5rem;
    left: -25rem;
}
.cloud img:nth-child(3){
    width:31.46875rem;
    height:16.3125rem;
    top: 7rem;
    left: -27.35rem;
}
.cloud img:nth-child(4){
    width:32.1875rem;
    height:16.375rem;
    top: 10.3125rem;
    left: -21rem;
}
.cloud img:nth-child(5){
    width:24.375rem;
    height:24.84375rem;
    top: 4rem;
    left: -17rem;
}
.cloud img:nth-child(6){
    width:28.3125rem;
    height:21.21875rem;
    bottom: -8rem;
    left: -10rem;
}
.cloud img:nth-child(7){
    width:24.0625rem;
    height:41.6875rem;
    top: -0.5rem;
    right: -14.5rem;
}
.cloud img:nth-child(8){
    width:21.34375rem;
    height:42.1875rem;
    bottom: -28rem;
    right: -10.5rem;
}
.cloud img:nth-child(9){
    width:31.46875rem;
    height:16.3125rem;
    bottom: -10.5rem;
    right: -21.5rem;
}
.head {
    width: 20rem;
    position: fixed;
    z-index: 100;
    height: 3.125rem;
    background:rgba(0,0,0,.7);
    top:0;
}
.head .wid_1200 {
    width: 20rem;
    height: 3.125rem;
    margin: 0 auto;
    position: relative;
}
.head .logo {
    display: block;
    position: absolute;
    top:.625rem;
    width: 2.0625rem;
    height: 2.0625rem;
    left: .625rem;
}
.head .logo img {
    display: block;
    width: 100%;
    height: 100%;
}
.head .logo_txt {
    width: 14.375rem;
    height: 2.1875rem;
    margin-left:3.125rem;
    margin-top:.625rem;
    float: left;
}
.head .logo_txt .p_01 {
    font-size:.875rem;
    color: #fff;
    line-height: .875rem;
    height:.875rem;
}
.head .logo_txt .p_02 {
    font-size:.5625rem;
    color: #aaa;
    line-height: 1.25rem;
    height: 1.25rem;
}
.slogan{
    position: absolute;
    left: 50%;
    top: 5.3125rem;
    width:20rem;
    height: 13.21875rem;
    margin-left: -10rem;
}
.slogan img{
    width:20rem;
    height: 13.21875rem;
}
.order_box{
    position: absolute;
    left: 50%;
    top: 16.5625rem;
    width:15rem;
    height: 17.5rem;
    margin-left: -7.5rem;
    text-align: center;
}
.order_box .wx h2{
    font-size:1.0625rem;
    color:#fff;
    font-style:italic;
}
.order_box .wx h2 span{color:#FFEA00;}
.order_box .wx h2:before{
    display: inline-block;
    content: "";
    width: 1.28125rem;
    height: 1.0625rem;
    background: url(../images/wx.png);
    background-size:100% 100%;
    position: relative;
    top: .25rem;
    margin-right: .25rem;
}
.order_box .wx .qrcode{
    position: relative;
    display: inline-block;
    width: 8.15625rem;
    height: 8.03125rem;
    background: url(../images/qrcode_bg.png);
    background-size: 100% 100%;
}
.order_box .wx .qrcode:before{
    display: inline-block;
    content: "";
    width: 5.78125rem;
    height: 5.75rem;
    background: url(../images/qrcode_bor.png);
    background-size: 100% 100%;
    position: absolute;
    left: 50%;
    top: 49%;
    margin-left: -2.890625rem;
    margin-top: -2.875rem;
}
.order_box .wx .qrcode:after{
    display: inline-block;
    content: "";
    width: 5.75rem;
    height: .625rem;
    background: url(../images/sm.png);
    background-size: 100% 100%;
    position: absolute;
    left: 50%;
    top: 51%;
    margin-left: -2.875rem;
    margin-top: -.3125rem;
    animation: qrcode 2s linear infinite alternate;
}
.order_box .wx .qrcode img{
    width:5.25rem;
    height: 5.25rem;
    position: absolute;
    left: 50%;
    top: 49%;
    margin-left: -2.625rem;
    margin-top: -2.625rem;
}
.order_box .order h2{
    font-size: .9375rem;
    color: #fff;
    font-style: italic;
    text-align: center;
    margin-top: .9375rem;
}
.order_box .order h2 span{color:#FFEA00;}
.order_box .order .loadbtn,.order_box .order .loadbtn img{
    width: 15.3125rem;
    height:6rem;
    cursor:pointer;
}

/*下载弹框*/
.load_tips {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.9);
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.load_tips .content {
    width: 18.5rem;
    height:13.1875rem;
    margin-left: -9.25rem;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
}
.load_tips .content .title {
    position: absolute;
    left: 50%;
    top: -2.5rem;
    width: 7.125rem;
    height: 2rem;
    margin-left: -3.5625rem;
}
.load_tips .content .loadtips_close {
    position: absolute;
    width: 1.3125rem;
    height: 1rem;
    right: .3125rem;
    top: -1.875rem;
    cursor: pointer;
}
.load_tips .content>div {
    position: relative;
    z-index: 2;
    background: url(../images/tipsbg.png?1506491873);
    background-size: 100% 100%;
    width: 18.5rem;
    height: 13.1875rem;
}
.load_tips .content>div .btn,.load_tips .content>div .btn-1{
    width:15.6875rem;
    background: url(../images/down_ios.png?1506491873);
    background-size: 100% 100%;
    height: 2.125rem;
    margin: 0 auto;
    position: relative;
    top: 1.25rem;
}
.load_tips .content>div .btn-1{
    background: url(../images/down_android.png?1506491873);
    background-size: 100% 100%;
}
.load_tips .content>div .btn .ios{
    display: inline-block;
    width: 8.4375rem;
    height: 2.125rem;
    float: left;
    cursor: pointer;
}
.load_tips .content>div .btn .ad{
    display: inline-block;
    width: 7.1875rem;
    height: 2.125rem;
    float: right;
    cursor: pointer;
}
.load_tips .content>div .tel_input{
    position: relative;
    width:15.46875rem;
    height: 1.9375rem;
    margin: 0 auto;
    margin-top:2.1875rem;
    border: 1px solid #DADADA;
    margin-bottom: .625rem;
}
.load_tips .content>div .del{
    position: absolute;
    top: .6rem;
    right: .6rem;
    display: inline-block;
    width: .8125rem;
    height: .8125rem;
    background: url(../images/tips_del.png);
    background-size: 100% 100%;
    cursor:pointer;
}
.load_tips .content>div input {
    width:15.46875rem;
    height: 1.9375rem;
    border:0;
    background: #F3F3F3;
    text-indent:.625rem;
    display: block;
    font-size: .9375rem;
    color: #333;
    outline: none;
    line-height:1.9375rem;
}
.load_tips .content>div input::-webkit-input-placeholder {
    font-size: 0.9375rem;
    color: #bbb;
    line-height:1.9375rem;
}
.load_tips .content>div input:-moz-placeholder {
    font-size: 0.9375rem;
    color: #bbb;
    line-height:1.9375rem;
}
.load_tips .content>div input::-moz-placeholder {  
	font-size: 0.9375rem;
    color: #bbb;
    line-height:1.9375rem;
}
.load_tips .content>div input:-ms-input-placeholder {   
	font-size: 0.9375rem;
    color: #bbb;
    line-height:1.9375rem;
}
.load_tips .content>div .code{
    overflow: hidden;
    width: 15.46875rem;
    margin: 0 auto;
    font-size:0;
}
.load_tips .content>div .code .code_input{
    display:inline-block;
    width:9.84375rem;
    height:1.9375rem;
    background:url("../images/code_bg.png");
    background-size:100% 100%;
    float:left;
    margin-left:0;
}
.load_tips .content>div .code button{
    width: 5.53125rem;
    height: 1.9375rem;
    color: #D32626;
    font-size: .75rem;
    float: right;
    cursor: pointer;
    background: url(../images/codenum_bg.png);
    background-size:100% 100%;
    border: none;
    outline: none;
    font-weight: 600;
    font-style: italic;
}
.load_tips .content>div .code button.normal{
    font-style: normal;
}
.load_tips .content>div .orderbtn {
    width: 8.625rem;
    height:2.15625rem;
    color: #fff;
    outline: none;
    border: none;
    background: url(../images/order_btn.png);
    background-size:100% 100%;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    margin-top: .625rem;
}
/*动效*/
@-webkit-keyframes jump {
    from {
        -webkit-transform: translate3d(20px,20px,0);
    }
    to {
        -webkit-transform: translate3d(0,0,0);
    }
}
@-ms-keyframes jump {
    from {
        -ms-transform: translate3d(20px,20px,0);
    }
    to {
        -ms-transform: translate3d(0,0,0);
    }
}
@-moz-keyframes jump {
    from {
        -moz-transform: translate3d(20px,20px,0);
    }
    to {
        -moz-transform: translate3d(0,0,0);
    }
}
@keyframes jump {
    from {
        transform: translate3d(20px,20px,0);
    }
    to {
        transform: translate3d(0,0,0);
    }
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    5% {
        transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
    }
    10% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    15% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
    }
    20% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
}
@-webkit-keyframes shake {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    5% {
        transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
    }
    10% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    15% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
    }
    20% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
}
@-ms-keyframes shake {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    5% {
        transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
    }
    10% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    15% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
    }
    20% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
}
@-moz-keyframes shake {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    5% {
        transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
    }
    10% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    15% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
    }
    20% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
}

@keyframes scales{0%{transform: scale(1); }50% {transform: scale(1.1);}100% {transform: scale(1);}}
@-webkit-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(1.1);}100% {-webkit-transform: scale(1);}}
@-moz-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(1.1);}100% {-webkit-transform: scale(1);}}
@-o-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(1.1);}100% {-webkit-transform: scale(1);}}
@-ms-keyframes scales{0%{-webkit-transform: scale(1);}50% {-webkit-transform: scale(1.1);}100% {-webkit-transform: scale(1);}}


/*二维码*/
@-webkit-keyframes qrcode {
    from {
        margin-top: -61.5px;
    }
    to {
        margin-top: 43.5px;
    }
}
@-ms-keyframes qrcode {
    from {
        margin-top: -61.5px;
    }
    to {
        margin-top: 43.5px;
    }
}
@-moz-keyframes qrcode {
    from {
        margin-top: -61.5px;
    }
    to {
        margin-top: 43.5px;
    }
}
@keyframes qrcode {
    from {
        margin-top: -61.5px;
    }
    to {
        margin-top: 43.5px;
    }
}

