address,
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
select,
td,
textarea,
th,
ul {
	margin: 0;
	padding: 0
}

body {
	font-family: "寰蒋闆呴粦"
}

button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label,
select,
textarea {
	font-size: 100%;
	vertical-align: middle
}

dl,
li,
ol,
ul {
	list-style: none
}

a {
	text-decoration: none
}

fieldset,
img {
	border: none
}

img {
	display: inline-block;
	overflow: hidden;
	vertical-align: top
}

address,
em {
	font-style: normal
}

sub,
sup {
	vertical-align: baseline
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

q:before {
	content: ""
}

q:after {
	content: ""
}

button {
	cursor: pointer
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none
}
textarea {
	word-wrap: break-word;
	resize: none
}
.wrap{
	width:1200px;
	height:100%;
	position:relative;
	margin:0 auto;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.clear {
	clear: both
}

.fl {
	float: left
}

.fr {
	float: right
}

* {
	margin: 0;
	padding: 0
}
