<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>一起来跳舞3周年</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content=" initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no">
    <link href="{$smarty.const.STATIC_DOMAIN}wx_spread/css/public.css" rel="stylesheet" />
    <link href="{$smarty.const.STATIC_DOMAIN}wx_spread/css/swiper.min.css" rel="stylesheet" />
    <link href="{$smarty.const.STATIC_DOMAIN}wx_spread/css/index.css" rel="stylesheet"/>
</head>

<body>
    <div class="down_tw">
        <div class="tw_icon">
            <img src="{$smarty.const.STATIC_DOMAIN}wx_spread/images/tw_icon.png" alt="">
        </div>
        <h2>一起来跳舞</h2>
        <p>全民音舞社交手游</p>
        <a class="down_btn" href="http://wctt.yingxiong.com/m/">
            <img src="{$smarty.const.STATIC_DOMAIN}wx_spread/images/down_btn.png" alt="">
        </a>
    </div>
    <section class="wrap-one">
        <div class="fill_height"></div>
        <div class="birthday_icon">
            <img src="{$smarty.const.STATIC_DOMAIN}wx_spread/images/tw_happybirthday.png" alt="">
        </div>
        <div class="mode_box">
            <div class="mode_1 mode_bg" onclick="link(1)">
                <div class="mode1_title"></div>
            </div>
            <div class="mode_2 mode_bg" onclick="link(2)">
                <div class="mode2_title"></div>
            </div>
            <div class="mode_3 mode_bg" onclick="link(3)">
                <div class="mode3_title"></div>
            </div>
            <div class="mode_4 mode_bg" onclick="link(4)">
                <div class="mode4_title"></div>
            </div>
        </div>
    </section>
    <section class="wrap-two" id="div1">
        <div class="fill_height"></div>
        <div class="banner1_title">
            <img src="{$smarty.const.STATIC_DOMAIN}wx_spread/images/banner1_title.png" alt="">
        </div>
        <p class="banner1_text">《一起来跳舞》高颜值制作人首秀，本期将为你带来全新版本的爆点信息！欲知详情，赶快点进视频内观看吧！</p>
        <div class="vedio_box js_video_play" id="js_video_play" data-url="http://video.yingxiong.com/hd/054d06fb2e3a4240ab74d6920f715eca.mp4">
            <div class="play_btn"></div>
        </div>
    </section>
    <section class="wrap-three" id="div2">
        <div class="fill_height"></div>
        <div class="banner2_title">
            <img src="{$smarty.const.STATIC_DOMAIN}wx_spread/images/banner2_title.png" alt="">
        </div>
        <div class="banner2_headbox">
            <div class="banner2_head1">
                <!-- <img src="../images/banner2_head1.png" alt=""> -->
            </div>
            <p class="baner2-headtxt">3周年庆典,福利当然多多,完成庆典每日目标领取独一无二福利,更有特效服装等您来领取,小伙伴们千万不要错过哦。</p>
        </div>
        <div class="banner2_gifboxbg">
            <div class="banner2_gifbox">
                <img src="{$smarty.const.STATIC_DOMAIN}wx_spread/images/tw.gif" alt="">
            </div>
        </div>
        <div class="banner2_zytips">
            <img src="{$smarty.const.STATIC_DOMAIN}wx_spread/images/banner2_zytips.png" alt="">
        </div>
        <div class="banner2_headbox banner2_headbox2">
            <div class="banner2_head2">
                <!-- <img src="../images/banner2_head1.png" alt=""> -->
            </div>
            <p class="baner2-headtxt">在这个特殊的日子里,曾经的经典又将出现在你的面前, 那些年人气最高的坐骑、翅膀、套装，我们为你悉数呈现</p>
        </div>
        <div class="banner2_giftbox">
            <img src="{$smarty.const.STATIC_DOMAIN}wx_spread/images/banner2_giftbox.png" alt="">
        </div>
        <p class="banner2_foot">
            <img src="{$smarty.const.STATIC_DOMAIN}wx_spread/images/banner2_foot.png" alt="">
        </p>
    </section>
    <section class="wrap-four" id="div3">
        <div class="fill_height"></div>
        <div class="banner3_title"></div>
        <a href="" class="banner3_timerbtn"></a>
    </section>
    <section class="wrap-five" id="div4">
        <div class="fill_height"></div>
        <div class="banner4_title"></div>
        <div class="swiper-content">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" data-history="1">
                        <div class="swiper_conbox">
                            <div class="swiper_imgbox">
                                <img src="{$smarty.const.STATIC_DOMAIN}wx_spread/images/1.jpg" alt="">
                            </div>
                            <p class="user_msg">
                                游戏区服 : 深广昆<span></span> 昵称 : 陌瑾
                            </p>
                            <p class="user_txt">
                                瑾夫人，握紧我的手余生一起走
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide" data-history="2">
                        <div class="swiper_conbox">
                            <div class="swiper_imgbox">
                                <img src="{$smarty.const.STATIC_DOMAIN}wx_spread/images/2.jpg" alt="">
                            </div>
                            <p class="user_msg">
                                游戏区服 : 水瓶座 <span></span>昵称 : 韩以沫
                            </p>
                            <p class="user_txt">
                                谢谢你的不离不弃让我懂的了爱不是随便说说！！
                            </p>
                        </div>

                    </div>
                    <div class="swiper-slide" data-history="3">
                        <div class="swiper_conbox">
                            <div class="swiper_imgbox">
                                <img src="{$smarty.const.STATIC_DOMAIN}wx_spread/images/3.jpg" alt="">
                            </div>
                            <p class="user_msg">
                                游戏区服 : 东莞厦门<span></span> 昵称 : 终相守TEL
                            </p>
                            <p class="user_txt">
                                我若在你心上、情敌三千又有何妨
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide" data-history="4">
                        <div class="swiper_conbox">
                            <div class="swiper_imgbox">
                                <img src="{$smarty.const.STATIC_DOMAIN}wx_spread/images/4.jpg" alt="">
                            </div>
                            <p class="user_msg">
                                游戏区服 : 怦然舞动<span></span> 昵称 : 画凉°
                            </p>
                            <!-- <marquee loop="infinite" scrollamount="2" direction=up class="user_txt"> 十年之约，希望你们都还是我的。下个十年，都还在。 </marquee> -->
                            <p class="user_txt">
                                十年之约，希望你们都还是我的。
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide" data-history="5">
                        <div class="swiper_conbox">
                            <div class="swiper_imgbox">
                                <img src="{$smarty.const.STATIC_DOMAIN}wx_spread/images/5.jpg" alt="">
                            </div>
                            <p class="user_msg">
                                游戏区服 : 双子座<span></span> 昵称 : 陌离
                            </p>
                            <p class="user_txt">
                                那一年我们陪伴彼此走过春夏秋冬，遇见你何其幸运
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide" data-history="6">
                        <div class="swiper_conbox">
                            <div class="swiper_imgbox">
                                <img src="{$smarty.const.STATIC_DOMAIN}wx_spread/images/6.jpg" alt="">
                            </div>
                            <p class="user_msg">
                                游戏区服 : 相悦三生<span></span> 昵称 : 柒瑾、流年殇
                            </p>
                            <p class="user_txt">
                                大笨蛋，我们一起走过余下的日子，可好？
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide" data-history="7">
                        <div class="swiper_conbox">
                            <div class="swiper_imgbox">
                                <img src="{$smarty.const.STATIC_DOMAIN}wx_spread/images/7.jpg" alt="">
                            </div>
                            <p class="user_msg">
                                游戏区服 : 相悦三生<span></span> 昵称 : 朵児✿
                            </p>
                            <p class="user_txt">
                                我爱你们，非常爱，接下来的三年我们还要一起走。
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide" data-history="8">
                        <div class="swiper_conbox">
                            <div class="swiper_imgbox">
                                <img src="{$smarty.const.STATIC_DOMAIN}wx_spread/images/8.jpg" alt="">
                            </div>
                            <p class="user_msg">
                                游戏区服 : 比翼双飞<span></span> 昵称 : 思じòぴé成
                            </p>
                            <p class="user_txt">
                                我有世界上谁都想要的东西，那就是我们永远在一起
                            </p>
                        </div>

                    </div>
                    <div class="swiper-slide" data-history="9">
                        <div class="swiper_conbox">
                            <div class="swiper_imgbox">
                                <img src="{$smarty.const.STATIC_DOMAIN}wx_spread/images/9.jpg" alt="">
                            </div>
                            <p class="user_msg">
                                游戏区服 : 天秤座<span></span> 昵称 : 安尼づ
                            </p>
                            <p class="user_txt">
                                谢谢媳妇的陪伴，游戏不倒，我们不散
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide" data-history="10">
                        <div class="swiper_conbox">
                            <div class="swiper_imgbox">
                                <img src="{$smarty.const.STATIC_DOMAIN}wx_spread/images/10.jpg" alt="">
                            </div>
                            <p class="user_msg">
                                游戏区服 : 倾城之恋<span></span> 昵称 : 妖姬momo00
                            </p>
                            <p class="user_txt">
                                最怀念的还是和你们在一起的那段**时光。
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide" data-history="11">
                        <div class="swiper_conbox">
                            <div class="swiper_imgbox">
                                <img src="{$smarty.const.STATIC_DOMAIN}wx_spread/images/11.jpg" alt="">
                            </div>
                            <p class="user_msg">
                                游戏区服 : 一往情深<span></span> 昵称 : 墨莲、
                            </p>
                            <p class="user_txt">
                                只要有你在我都很开心！谢谢你我的小江伟我爱你哟！
                            </p>
                        </div>

                    </div>
                    <div class="swiper-slide" data-history="12">
                        <div class="swiper_conbox">
                            <div class="swiper_imgbox">
                                <img src="{$smarty.const.STATIC_DOMAIN}wx_spread/images/13.jpg" alt="">
                            </div>
                            <p class="user_msg">
                                游戏区服 : 情系周年<span></span> 昵称 : 古幽冥
                            </p>
                            <p class="user_txt">
                                如果我能拥有这份荣幸，我愿终身陪伴着你。
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide" data-history="13">
                        <div class="swiper_conbox">
                            <div class="swiper_imgbox">
                                <img src="{$smarty.const.STATIC_DOMAIN}wx_spread/images/13.jpg" alt="">
                            </div>
                            <p class="user_msg">
                                游戏区服 : 长相意合<span></span> 昵称 : 安禾
                            </p>
                            <p class="user_txt">
                                现在剩下我一个人，虽然有点遗憾，但是满满的回忆
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide" data-history="14">
                        <div class="swiper_conbox">
                            <div class="swiper_imgbox">
                                <img src="{$smarty.const.STATIC_DOMAIN}wx_spread/images/14.jpg" alt="">
                            </div>
                            <p class="user_msg">
                                游戏区服 : 怦然舞动<span></span> 昵称 : 摘玫瑰の猫
                            </p>
                            <p class="user_txt">
                                跨年快乐⁷₍⁽՚ᵕ՝⁾₎₇未来继续陪游戏走下去。
                            </p>
                        </div>

                    </div>
                    <div class="swiper-slide" data-history="15">
                        <div class="swiper_conbox">
                            <div class="swiper_imgbox">
                                <img src="{$smarty.const.STATIC_DOMAIN}wx_spread/images/15.jpg" alt="">
                            </div>
                            <p class="user_msg">
                                游戏区服 : 怦然舞动<span></span> 昵称 : 笑靥如花°
                            </p>
                            <p class="user_txt">
                                最难忘的就是大家在一起玩的时候，喜怒哀乐都分享
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide" data-history="16">
                        <div class="swiper_conbox">
                            <div class="swiper_imgbox">
                                <img src="{$smarty.const.STATIC_DOMAIN}wx_spread/images/16.jpg" alt="">
                            </div>
                            <p class="user_msg">
                                游戏区服 : 花好百年<span></span> 昵称 : 羲珵
                            </p>
                            <p class="user_txt">
                                情谊不知所起，逐时光而深！
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide" data-history="17">
                        <div class="swiper_conbox">
                            <div class="swiper_imgbox">
                                <img src="{$smarty.const.STATIC_DOMAIN}wx_spread/images/17.jpg" alt="">
                            </div>
                            <p class="user_msg">
                                游戏区服 : 狮子座<span></span> 昵称 : 木槿い
                            </p>
                            <p class="user_txt">
                                你的好我都能看到，你的爱我也能感受到。
                            </p>
                        </div>

                    </div>
                    <div class="swiper-slide" data-history="18">
                        <div class="swiper_conbox">
                            <div class="swiper_imgbox">
                                <img src="{$smarty.const.STATIC_DOMAIN}wx_spread/images/18.jpg" alt="">
                            </div>
                            <p class="user_msg">
                                游戏区服 : 双子座<span></span> 昵称 : 风止
                            </p>
                            <p class="user_txt">
                                你作的图成了纪念游戏的唯一。对不起，伤害了你。
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide" data-history="19">
                        <div class="swiper_conbox">
                            <div class="swiper_imgbox">
                                <img src="{$smarty.const.STATIC_DOMAIN}wx_spread/images/19.jpg" alt="">
                            </div>
                            <p class="user_msg">
                                游戏区服 : 倾城之恋<span></span> 昵称 : ๓白九๑
                            </p>
                            <p class="user_txt">
                                炫舞让我遇到绚烂般的你，成了我心上最深的执念。
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide" data-history="20">
                        <div class="swiper_conbox">
                            <div class="swiper_imgbox">
                                <img src="{$smarty.const.STATIC_DOMAIN}wx_spread/images/20.jpg" alt="">
                            </div>
                            <p class="user_msg">
                                游戏区服 : 怦然舞动<span></span> 昵称 : 摘玫瑰の猫
                            </p>
                            <p class="user_txt">
                                2018年也要一直在一起。不忘初心，携手同行。
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wrap-six">
        <div class="fill_height"></div>
        <div class="banner5_title"></div>
        <div class="banner5_title2"></div>
        <div class="banner5_giftbox">
            <img src="{$smarty.const.STATIC_DOMAIN}wx_spread/images/banner5_gift.png" alt="">
        </div>
        <div class="banner5_foot">
            <p>关注官方公众号<span>[微信公众号：tt_xuanwu，传送门-舞蹈乐园-成就殿堂]</span>达成成就条件，各类永久饰品、翅膀、坐骑、钻石等等奖励免费领取！</p>
            <p>以上仅为部分成就奖励展示，详情以一起来跳舞手游公众号内成就殿堂实际内容为准。</p>
            <p>更多精彩活动请至官方微博、贴吧、论坛查看哦！</p>
        </div>
    </section>
    <script src="{$smarty.const.STATIC_DOMAIN}wx_spread/js/jquery+fittext+touchslider.js"></script>
    <script src="{$smarty.const.STATIC_DOMAIN}wx_spread/js/swiper.min.js"></script>
    {video_play}
    <script>
        function link(index) {
            $("html, body").animate({
                scrollTop: $("#div" + index).offset().top - 60
            }, {
                duration: 500,
                easing: "swing"
            });
            return false;
        }
        var height = $('.swiper-slide').height() / 2 + 10;
        var mySwiper = new Swiper('.swiper-container', {
            direction: 'vertical',
            pagination: '.swiper-pagination',
            effect: 'coverflow',
            slidesPerView: 1,
            centeredSlides: true,
            coverflow: {
                rotate: 0,
                stretch: height,
                depth: 60,
                modifier: 2,
                slideShadows: false,
            },
            // onInit: function(swiper) {
            //     // swiperAnimateCache(swiper);
            //     // swiperAnimate(swiper);
            // },
            // onSlideChangeEnd: function(swiper) {
            //     swiperAnimate(swiper);
            // },
            // onTransitionEnd: function(swiper) {
            //     // swiperAnimate(swiper);
            // }
        });
        $('#js_video_play').on('click', function(e) {
            $("#video_tc").show();
            $("#video_mask").show();
            $('#video_play').show();
            $('#mask,.mask').hide();
        })
        $("#video_close").click(function() {
            $('#J_prismPlayer').html('');
            $("#video_tc").hide();
            $("#video_mask").hide();
            $('#video_play').hide();
        });
    </script>
</body>

</html>