{video_play}
{download}
<script type="text/javascript">
			$(window).scroll(function() {
			var scroHei = $(window).scrollTop(); //滚动的高度
			if(scroHei > 400) {
				$(".back").stop().fadeIn();
			} else {
				$(".back").stop().fadeOut();
			}
		});

			//弹窗关闭
			$(".jjqd_box .close").click(function(){
				$(".jjqd_box").addClass("hidden");
			});
	$(".show_iostips").click(function(){
		$(".jjqd_box").removeClass("hidden");
	});
</script>
<script src="http://cdnstatic.yingxiong.com/common/js/yx.js?{$smarty.const.VERSION}"></script>
