body{
        overflow-x: hidden;
}
.clearfix:after,.clearfix:before{
    content:"";
    display:table;
    height:0;
    clear:both;
    visibility:hidden
} 
.gun_bg_1,.gun_bg_2,.gun_bg_3,.gun_bg_4,.gun_bg_5,.gun_bg_6{
    width: 1920px;
    height: 920px;
    position: relative;
    left: 50%;
    margin-left: -960px;
    margin-top: -1px;
}
/*.gun_bg_1 {
    background: url(../images/gun_img1.jpg) no-repeat center top;
    margin-top: 100px;
}*/
.gun_bg_2 {
    background: url(../images/gun_img2.jpg) no-repeat center top;
}
.gun_bg_3 {
    background: url(../images/gun_img3.jpg) no-repeat center top;
    position: relative;
}
.gun_bg_4 {
    background: url(../images/gun_img4.jpg) no-repeat center top;
}
.gun_bg_5 {
    background: url(../images/gun_img5.jpg) no-repeat center top;
}
/*.gun_bg_6 {
    background: url(../images/gun_img6.jpg) no-repeat center top;
     margin-top: -2px;
    position: relative;
}*/


.slide {
    position: relative
}

.a_screen {
    width: 1200px;
    margin: auto;
    
}
.a_screen{
    display: block;
    width: 454px;
    height: 226px;
 /*   background: url(../images/click.png) no-repeat;*/
    position: absolute;
    bottom: 66px;
    left: 38.2%; 
}
.a_screen img{
   -webkit-animation-name: scaleDraw;
   -webkit-animation-timing-function: ease-in-out;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-duration: 5s;
   -webkit-animation-direction: alternate;

}
@-webkit-keyframes scaleDraw {
                0% {
                    -webkit-transform:scale(1);
                }
                25% {
                    -webkit-transform:scale(1.3);
                }
                50% {
                    -webkit-transform:scale(1);
                }
                75% {
                    -webkit-transform:scale(1.3);
                }
            }
/*第二屏*/
/*.screen_title {
    height: 61px;
    background: url(../images/b_title.png) no-repeat center;
    padding: 100px 0px;
}*/
.b_screen ul li{
    width: 286px;
    height: 490px;
    float:left; 
    background: url(../images/b_scr_1.jpg) no-repeat;
    transition: 0.3s ease-out;
     transform: scale(1);
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
}

.screen-img {
    width: 1200px;
    margin:-10px auto;
}
.screen-img li a>p{
    text-align: center;
    color: #fff;
    font-size: 22px;
    margin: 25px 0px 14px 0px;
    letter-spacing: 1px;
}
.screen-img li a>img,.character img{
    display: block;
    margin: auto;
}
.character{
    height: 342px;
    margin-top: 38px;
}
.b_src_act{
     background: url(../images/b_scr_2.jpg) no-repeat !important;
}
.screen-img li a img{
      -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
}
.screen-img li:hover{
  /*  display: block;*/
    transition: 0.3s ease-out;
    transform: scale(1.05);
    
}
.screen-img li+li{
    margin-left: 18px;
}
.screen-img li:hover img{
    
}

/*第三屏*/
.gun_bg_3_text img{
    position: absolute;
    top: 210px;
    left: -27.5%;
    
}

/*第四屏*/
/*.scr-tit {
     background: url(../images/d_title.png) no-repeat center;
}*/

.screen_map {
    width: 1433px;
    margin: auto;
}

/*第六屏*/
.f_screen ul {
    width: 1223px;
}
/*.f_screen ul li{
    float: left;
    width: 153px;
    position: relative;
    bottom: 0px;
}*/

.f_screen {
    width: 1220px;
    position: absolute;
    bottom: 67px;
    left: 50%;
    margin-left: -610px;
}
.f_screen ul li span{
    display: block;
    height: 208px;
    position: relative;
}
.f_screen ul li span img{
    position: absolute;
    bottom: 0px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    cursor: pointer;
}
/*.f_screen ul li p{
    text-align: center;
    color: #fff;
    font-size: 22px;
    margin: 20px 0px ;
}*/
.f_screen ul li+li{
    margin-left: 53px;
}
.f_screen ul li img:hover{
    bottom: 35px;
}

/*第五屏*/
.e_screen {
    width: 1510px;
    margin: auto;
    border: 1px solid red;
}
.e_screen_bottom{
    height: 313px;
    background: url(../images/gun_bg_5_bg.png) no-repeat;
    margin-top: 590px;
}

.e_lef,.e_rig{
    display: inline-block;
    margin-left: 45px;
    position: relative;
    width: 617px;
}
.e_lef li,.e_rig li{
    float: left;
    position: absolute;
    top: 54px;
}
.e_rig{
    margin-left: 54px;
}
.e_lef li:nth-of-type(2),.e_rig li:nth-of-type(2){
    left: 133px;
}
.e_lef li:nth-of-type(3),.e_rig li:nth-of-type(3){
    left: 272px;
}
.e_lef li:nth-of-type(4),.e_rig li:nth-of-type(4){
    left: 412px;
}
#owl-demo{position:relative;height:920px;margin:-1px auto;}
#owl-demo ul{margin:-10px -10px 0 0;zoom:1;}
#owl-demo li{position:relative;
    _display:inline;width:1175px;
    height:643px;
    z-index: 99999;
    bottom: -15px;
    left: 50%;
    margin-left: -587.5px;
    overflow: hidden;
}
#owl-demo .owl-item li img{
    position: relative;
    left:-2000px;
    bottom: 81px;
}
.li1,.li2,.li3,.li4,.li5,.li6,.li7,.li8{
    position: relative
}
.li1 a,.li2 a,.li3 a,.li4 a,.li5 a,.li6 a,.li7 a,.li8 a{
    position: absolute;
}
.li1 a{
    left: 133px;
    bottom: -90px;
}
.li2 a{
    left: 49px;
    bottom: -90px;
}
.li3 a{
    left: 49px;
    bottom: -82px;
}
.li4 a{
    left: -13px;
    bottom: -87px;
}
.li5 a{
    left: 72px;
    bottom: -82px;
}
.li6 a{
    left: -172px;
    bottom: -200px;
}
.li7 a{
    left: 89px;
    bottom: -91px;
}
.li8 a{
    left: 143px;
    bottom: -91px;
}
#owl-demo .li1>a{display: block;position: absolute;}
/* 缩略图 */
.owl-pagination{position:absolute;left:0;bottom:0;width:100%;}
.owl-page{position:relative;display:inline-block;width:191px;height:112px;*display:inline;*zoom:1;vertical-align:middle;}
.owl-pagination .active{width:211px;height:132px;}
.owl-pagination span{
    position:absolute;
    left:-11px;
    top:-9px;
    width:211px;
    height:132px;
    *background-image:url(../images/x-border.png);
}
.owl-pagination .active span{width:211px;height:132px;background-image:url(../images/x-border.png);_background-image:none;}
/* 左右箭头 */
.owl-buttons div{position:absolute;top:42%;width:34px;height:63px;margin-top:-74px;text-indent:-9999px;background-image:url(../images/arrow.png);transition:background-position 0.2s ease-out 0s;}
.owl-prev{left:310px;background-position:0 0;}
.owl-next{right:310px;background-position:right 0;}
    .owl-carousel{
       /* width: 1920px;*/
        width: 100%;
        height: 918px;
        background: url("../images/gun_img5.jpg") no-repeat center;
    }
 /*   .owl-pagination{
        height: 313px;
        position: relative;
        background: url(../images/gun_bg_5_bg.png) no-repeat center;
        top: -34px;
        width: 1510px;
        left: 50%;
        margin-left: -684px;
    }*/
    .owl-page{
         position: absolute; 
         top: 70px;
    }
    .owl-page:nth-of-type(1){
        left: 48px;
    }
     .owl-page:nth-of-type(2){
        left: 189px;
    }
    .owl-page:nth-of-type(3){
        left: 328px;
    }
     .owl-page:nth-of-type(4){
        left: 467px;
    }
    .owl-page:nth-of-type(5){
        left: 722px;
    }
     .owl-page:nth-of-type(6){
        left: 863px;
    }
    .owl-page:nth-of-type(7){
        left: 1001px;
    }
     .owl-page:nth-of-type(8){
        left: 1140px;
    }
    .active_act{
        display: block;
        width: 604px;
        height: 653px;
        background: url(../images/active.png) no-repeat;
        position: absolute;
        z-index: 99;
        left: 253px;
    	top:10px;
    }
#scrollSearchDiv{position: absolute; left: -60%;}
#box{width:1430px;height:657px;margin:0px auto;
    position: absolute;
    left: 50%;
    margin-left: -550px;
    top: 177px;
}
#box ul{width:1430px;height:657px;overflow: hidden;}
#box li{
    position:absolute;
    border:2px solid #1f1f1f;
    list-style:none;
/*
    background:#000;
    opacity: 1;
*/
    width:0;
    height:0;
    top:146px;
    left:377px;
    z-index:0;
    -webkit-box-shadow:0 0 40px 55px rgba(9, 16, 21, .5);  
    -moz-box-shadow:0 0 40px 55px rgba(9, 16, 21, .5);  
    -o-box-shadow:0 0 40px 55px rgba(9, 16, 21, .5);  
    box-shadow:0 0 40px 55px rgba(9, 16, 21, .5);  
}

#box .prev{
	width:70px;
	height:225px;
	background:url(../images/prev.png) no-repeat center;
	position:absolute;
	top:50%;
	margin-top:-112.5px;
	left:135px;
	z-index:99;
}
#box .next{
	width:70px;
	height:225px;
	background:url(../images/next.png) no-repeat center;
	position:absolute;
	top:50%;
	margin-top:-112.5px;
	right:445px;
	z-index:99;
}
#box li img{width:100%;height:100%;vertical-align:top;}

.txt_item {
    width: 537px;
    height: 300px;
    float: right;
    margin-top: 190px;
    margin-right: 40px;
    position: relative;
    right: -2000px;
}
.txt_item p{
    color: rgb(15,182,242);
    font-size: 48px;
    font-weight: bold;
}
.txt_item>div{
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    margin-top: 30px;
}

.txt-title {
    position: absolute;
    z-index: 9999;
    height: 76px;
    background: rgba(4,4,4,0.5);
    color: #fff;
    text-align: center;
    line-height: 60px;
    font-size: 32px;
    width: 100%;
    margin-top: -76px;
}
i{
    display: block;
    width: 39px;
    height: 52px;
    background: url(../images/map.png) no-repeat center;
    position: absolute;
    left: 50%;
    margin-left: -19.5px;
    margin-top: -135px;
}

.left-menu {
    width: 173px;
    height: 450px;
    position: fixed;
    right: 0px;
    z-index: 9999;
    top: 35%;
}
.left-menu p{
    text-align: center;
}
.left-menu li{
    height: 55px;
    line-height: 55px;
    text-align: center;
}.left-menu li a{
    color: #fff;
    font-size: 16px;
     height: 55px;
    line-height: 55px;
    width: 175px;
    display: inline-block;
    
}
.left-menu ul li:hover{
    width: 173px;
    height: 55px;
    background: url(../images/right_act.png) no-repeat;
}
.right_act{
    width: 173px;
    height: 54px;
    background: url(../images/right_act.png) no-repeat;
}

.sp1,.sp2,.sp3 {
    width: 245px;
    height: 28px;
    display: block;
    margin: auto;
}
.sp1{
    background: url(../images/b_img1_min.png) no-repeat center;
}
.sp2{
    background: url(../images/b_img2_min.png) no-repeat center;
}
.sp3{
    background: url(../images/b_img3_min.png) no-repeat center;
}
/*
.sp_a{
    background: url(../images/b_img1_min_a.png) no-repeat;
}
.sp_b{
    background: url(../images/b_img2_min_a.png) no-repeat;
}
.sp_c{
    background: url(../images/b_img3_min_a.png) no-repeat;
}
*/
@media screen and (max-width: 1500px) {
    .owl-prev {
    left: 50px;
}
    .owl-next {
        right: 50px;
       
    }
    .gun_bg_3_text img{
     width: 900px;  
}
.left-menu {
    top: 25%;
}
}