
<div id="zlxq" class="zlxq">
    <div class="zlxq_title">
        {if $thumb}<img src="{$thumb}" title="" alt="">{/if}
        {if $category_id eq 119 or $category_id eq 120}
        <a href="javascript:;">{$title}</a>
        {else}
        <a href="javascript:;">{$name}</a>&gt;
        <a href="javascript:;">{$title}</a>
        {/if}
    </div>
    {if $thumb}
    <!--<div class="main_pic">
        <img src="{$thumb}">
    </div>-->
    {/if}
    <p>{$body}</p>
    
    <div class="thePraise">
        <div class="theZan praise" pageID="{$id}">
            <img class="show" src="{$smarty.const.STATIC_DOMAIN}3.0/m/img/zan_be.png">
            <img src="{$smarty.const.STATIC_DOMAIN}3.0/m/img/zan_ing.png">
            <img src="{$smarty.const.STATIC_DOMAIN}3.0/m/img/zan_end.png">
        </div>
        <label></label>
        <div class="theCai step" pageID="{$id}">
            <img class="show" src="{$smarty.const.STATIC_DOMAIN}3.0/m/img/cai_be.png">
            <img src="{$smarty.const.STATIC_DOMAIN}3.0/m/img/cai_ing.png">
            <img src="{$smarty.const.STATIC_DOMAIN}3.0/m/img/cai_end.png">
        </div>
    </div>
</div>



