<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>{$seo_title}</title>
		<meta name="keywords" content="{$seo_key}" />
		<meta name="description" content="{$seo_desc}" />
		<link rel="shortcut icon" href="{$global.icon_img}?{$smarty.const.VERSION}" />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}1.0/common/css/common.css?{$smarty.const.VERSION}" />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}1.0/css/cover.css?{$smarty.const.VERSION}" />
		{csrf}
		<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?2bc50477cafc4312ee40aff490cb6c0e";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>
		<script data-fixed="true">
			if((/iphone|android|mobile/i.test(navigator.userAgent.toLowerCase()))) {
				location.href = "/m/";
			}
		</script>
		<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}1.0/common/js/jquery-1.11.2.min.js?{$smarty.const.VERSION}"></script>
	</head>

	<body>
		<script type="text/javascript" src="http://cdnstatic.yingxiong.com/head/js/topbar.js?{$smarty.const.VERSION}"></script>
		<div class="n_cover">
			<div class="n_wrap">
				<div class="n_logo">
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/logo.png?{$smarty.const.VERSION}" alt="" />
				</div>
				<div class="n_slogan">
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/slogan.png?{$smarty.const.VERSION}" alt="" />
				</div>
				<!--<div class="n_number">-->
					<!--<img class="n_img" src="{$smarty.const.STATIC_DOMAIN}1.0/images/number.png?{$smarty.const.VERSION}" alt="" />-->
					<!--<img class="n_img01" src="{$smarty.const.STATIC_DOMAIN}1.0/images/txt.png?{$smarty.const.VERSION}" alt="" />-->
				<!--</div>-->
				<div class="show_btn">
					<div class="n_number">
						<img class="n_img" src="{$smarty.const.STATIC_DOMAIN}1.0/images/number.png" alt="" />
						<img class="n_img01" src="{$smarty.const.STATIC_DOMAIN}1.0/images/txt.png" alt="" />
					</div>
					<div class="show_down">
						<a class="check" href="http://bbs.yingxiong.com/html/Pc3.0/19.html?share_path=%2Fpost%2F602327#/post/602716" target="_blank">点击查看<span>安装教程</span></a>
						<a target="_blank" href="javascript:;" class="don ios"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/ios.png" alt="" /></a>
						<a href="javascript:alert('敬请期待！')" class="don"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/and.png" alt="" /></a>
						<div class="code">
							<img class="js_jump_img" src="{$smarty.const.STATIC_DOMAIN}1.0/images/code.png" alt="" />
						</div>
					</div>
				</div>

				<div class="n_txt">
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/n_number.png?{$smarty.const.VERSION}" alt="" />
				</div>
				<div class="gita">
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/gita.png?{$smarty.const.VERSION}" alt="" />
				</div>
				<div class="m1">
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/m.png?{$smarty.const.VERSION}" alt="" />
				</div>
				<div class="ht">
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/ht.png?{$smarty.const.VERSION}" alt="" />
				</div>
				<div class="m2">
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/m2.png?{$smarty.const.VERSION}" alt="" />
				</div>
				<div class="m3">
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/m1.png?{$smarty.const.VERSION}" alt="" />
				</div>
				<div class="char01"></div>
				<div class="char02"></div>
			</div>
			<div class="float">
				<div class="a_nav">
					<a class="s_a active" href="javascript:;"></a>
					<a class="t_a" href="http://bbs.yingxiong.com/t/pc/19.html" target="_blank"></a>
				</div>
				<p class="player">玩家QQ群</p>
				<div class="q_qun">
					<a target="_blank" href="https://jq.qq.com/?_wv=1027&k=5Cdz254">群1：550753755</a>
					<a target="_blank" href="https://jq.qq.com/?_wv=1027&k=5InEFf9">群2：663451753</a>
				</div>
				<div class="wx_number">
					<p>官方微信公众号</p>
					<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/y_img7.png" alt="" />
				</div>
			</div>
			<div class="login">
				<div class="login_title"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/xl.png?{$smarty.const.VERSION}" alt="" /></div>
				<p class="login_p">本次限量删档测试资格仅对<em>iOS用户</em>开放</p>
				<div class="login_k">
					<div class="login_b">
						<div class="input_k">
							<input type="tel" placeholder="请输入手机号码" class="input_number" />
							<input type="text" placeholder="请输入验证码" class="input_code" />
							<input type="button" class="get_code" value="获取验证码"></button>
							<div class="clear"></div>
							<p class="k_p">请留下您的手机号码以便在开测时接收账号密码</p>
							<a href="javascript:;" class="btn_code"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/btn_code.png?{$smarty.const.VERSION}" alt="" /></a>
						</div>
						<div class="input_l">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/succ.png?{$smarty.const.VERSION}" alt="" />
							<p>我们将在本次测试开始后将账号与密码以手机短信的方式发送给您！请加入玩家QQ群以获取更多信息！玩家1群：550753755，玩家2群：663451753</p>
						</div>
						<div class="input_q">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/lost.png?{$smarty.const.VERSION}" alt="" />
							<p>我们将在本次测试开始后将账号与密码以手机短信的方式发送给您！</p>
						</div>
						<div class="input_w">
							<img src="{$smarty.const.STATIC_DOMAIN}1.0/images/sorry.png?{$smarty.const.VERSION}" alt="" />
							<p>体验码已发放完毕，您还可以至&nbsp;<a href="http://bbs.yingxiong.com/t/pc/19.html" target="_blank">论坛</a>&nbsp;参加活动获取体验资格。</p>
						</div>
					</div>
					<div class="close_login"><img src="{$smarty.const.STATIC_DOMAIN}1.0/images/close.png?{$smarty.const.VERSION}" alt="" /></div>
				</div>
			</div>
			<div class="mask"></div>
		</div>
		<script type="text/javascript" src="http://cdnstatic.yingxiong.com/footer/js/footer_new.js?{$smarty.const.VERSION}"></script>
	</body>
	{download}
	<script type="text/javascript">
		var countdown = 60;
		$(function() {
			$(".s_a").hover(function() {
				$(this).addClass("active");
			}, function() {
				$(this).siblings().removeClass("active");
			});
			$(".get_code").click(function() {
				if($(".input_number").val() == "") {
					alert("请输入手机号")
				} else if($(".input_number").val().length != 11) {
					alert("请输入正确的11位手机号")
				} else {
					$.post('/commonMethod/jws-verify', {
						type: 6,
						cms_csrf: $('meta[name="csrf-token"]').attr('content'),
						phone: $(".input_number").val()
					}, function(data) {
						if(data.status == 101){
							$(".input_k").hide()
							$(".input_q").show()
						} else if(data.status == 0) {
							sendCode();
						} else {
							alert(data.msg)
						}
					}, 'json');
				}
			});
			$(".btn_code").click(function() {
				if($(".input_number").val() == "") {
					alert("请输入手机号")
				} else if($(".input_number").val().length != 11) {
					alert("请输入正确的11位手机号")
				} else if($(".input_code").val() == ""){
					alert("请输入验证码")
				} else {
					$.post('/commonMethod/jws', {
						type: 6,
						yzm: $(".input_code").val(),
						cms_csrf: $('meta[name="csrf-token"]').attr('content'),
						phone: $(".input_number").val()
					}, function(data) {
						if (data.status == 102){
							$(".input_k").hide()
							$(".input_w").show()
						} else if(data.status == 103) {
							$(".input_k").hide();
							$(".input_l").show();
						} else {
							alert(data.msg);
						}
					}, 'json');
				}
			});
			$(".t_a").hover(function() {				
				$(this).addClass("active");
			}, function() {
				$(this).removeClass("active");
			});
            $(".ios").hover(function (){
                $(".code").stop().fadeIn();
            },function(){
                $(".code").stop().fadeOut();
            });
            $(".code").hover(function (){
                $(this).stop().fadeIn();
            },function(){
                $(this).stop().fadeOut();
            });
			$(".n_number").click(function() {
				init();
				$(".login").show();
				$(".mask").show();
			});
			$(".close_login").click(function() {
				$(".login").hide();
				$(".mask").hide();
			});

			function sendCode() {
				var obj = $(".get_code");
				settime(obj);
			};

			function settime(obj) { //发送验证码倒计时
				if(countdown == 0) {
					obj.attr('disabled', false);
					//obj.removeattr("disabled"); 
					obj.val("获取验证码");
					countdown = 60;
					return;
				} else {
					obj.attr('disabled', true);
					obj.val("重新发送(" + countdown + ")");
					countdown--;
				}
				setTimeout(function() {
					settime(obj)
				}, 1000)
			}
			
			function init(){
				$(".input_k").hide();
				$(".input_l").hide();
				$(".input_q").hide();
				$(".input_w").show();
				$(".input_number").val("");
				$(".input_code").val("");
			}
		});
	</script>

</html>