@size: 100rem;


.yx_ani{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
@-webkit-keyframes bounceInLeft{0%,60%,75%,90%,to{-webkit-transition-timing-function:cubic-bezier(.215,.61,.355,1);transition-timing-function:cubic-bezier(.215,.61,.355,1)}
0%{opacity:0;-webkit-transform:translate3d(-2000px,0,0);transform:translate3d(-2000px,0,0)}
60%{opacity:1;-webkit-transform:translate3d(25px,0,0);transform:translate3d(25px,0,0)}
75%{-webkit-transform:translate3d(-10px,0,0);transform:translate3d(-10px,0,0)}
90%{-webkit-transform:translate3d(5px,0,0);transform:translate3d(5px,0,0)}
to{-webkit-transform:none;transform:none;opacity: 1}
}
@keyframes bounceInLeft{0%,60%,75%,90%,to{-webkit-transition-timing-function:cubic-bezier(.215,.61,.355,1);transition-timing-function:cubic-bezier(.215,.61,.355,1)}
0%{opacity:0;-webkit-transform:translate3d(-2000px,0,0);transform:translate3d(-2000px,0,0)}
60%{opacity:1;-webkit-transform:translate3d(25px,0,0);transform:translate3d(25px,0,0)}
75%{-webkit-transform:translate3d(-10px,0,0);transform:translate3d(-10px,0,0)}
90%{-webkit-transform:translate3d(5px,0,0);transform:translate3d(5px,0,0)}
to{-webkit-transform:none;transform:none;opacity: 1}
}
.bounceInLeft{-webkit-animation-name:bounceInLeft;animation-name:bounceInLeft}

@-webkit-keyframes bounceInRight{0%,60%,75%,90%,to{-webkit-transition-timing-function:cubic-bezier(.215,.61,.355,1);transition-timing-function:cubic-bezier(.215,.61,.355,1)}
0%{opacity:0;-webkit-transform:translate3d(2000px,0,0);transform:translate3d(2000px,0,0)}
60%{opacity:1;-webkit-transform:translate3d(-25px,0,0);transform:translate3d(-25px,0,0)}
75%{-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0)}
90%{-webkit-transform:translate3d(-5px,0,0);transform:translate3d(-5px,0,0)}
to{-webkit-transform:none;transform:none;opacity: 1}
}
@keyframes bounceInRight{0%,60%,75%,90%,to{-webkit-transition-timing-function:cubic-bezier(.215,.61,.355,1);transition-timing-function:cubic-bezier(.215,.61,.355,1)}
0%{opacity:0;-webkit-transform:translate3d(2000px,0,0);transform:translate3d(2000px,0,0)}
60%{opacity:1;-webkit-transform:translate3d(-25px,0,0);transform:translate3d(-25px,0,0)}
75%{-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0)}
90%{-webkit-transform:translate3d(-5px,0,0);transform:translate3d(-5px,0,0)}
to{-webkit-transform:none;transform:none;opacity: 1}
}
.bounceInRight{-webkit-animation-name:bounceInRight;animation-name:bounceInRight}

@-webkit-keyframes bounceInUp{0%,60%,75%,90%,to{-webkit-transition-timing-function:cubic-bezier(.215,.61,.355,1);transition-timing-function:cubic-bezier(.215,.61,.355,1)}
0%{opacity:0;-webkit-transform:translate3d(0,3000px,0);transform:translate3d(0,3000px,0)}
60%{opacity:1;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}
75%{-webkit-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0)}
90%{-webkit-transform:translate3d(0,-5px,0);transform:translate3d(0,-5px,0)}
to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);opacity: 1}
}
@keyframes bounceInUp{0%,60%,75%,90%,to{-webkit-transition-timing-function:cubic-bezier(.215,.61,.355,1);transition-timing-function:cubic-bezier(.215,.61,.355,1)}
0%{opacity:0;-webkit-transform:translate3d(0,3000px,0);transform:translate3d(0,3000px,0)}
60%{opacity:1;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}
75%{-webkit-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0)}
90%{-webkit-transform:translate3d(0,-5px,0);transform:translate3d(0,-5px,0)}
to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);opacity: 1}
}
.bounceInUp{-webkit-animation-name:bounceInUp;animation-name:bounceInUp}

html,
body {
  font-family: "Microsoft YaHei", "Helvetica Neue", Arial, HelveticaNeue, Helvetica, "BBAlpha Sans", sans-serif;
  background: #fff;
}
.content1{
	width: 100%;
	height: 1070/@size;
	>img{
		width: 100%;
		height: auto;
	}
	>label{
		display: block;
		position: absolute;
		opacity: 0;
		-webkit-animation-duration:.8s;animation-duration:.8s;
	}
	>label.j_logo1{
        width: 113/@size;
        height: 113/@size;
        top: 46/@size;
        left: 46/@size;
        background: url("../images/j_logo.png") no-repeat;
        background-size: cover;
	}
	>label.j_logo2{
        width: 244/@size;
        height: 152/@size;
        top: 22/@size;
        right: 32/@size;
        background: url("../images/j_icon1.png") no-repeat;
        background-size: cover;
	}
	>a{
		display: block;
		width: 360/@size;
		height: 90/@size;
		position: absolute;
		margin: auto;
		top: 850/@size;
		left: 0;
		right: 0;
		bottom: auto;
		background: url("../images/j_btn1.png") no-repeat;
		background-size: cover;
		opacity: 0;
	}
}
.content2{
	margin-top: -0.04rem;
	>section.j_dc_tBox{
		width: 100%;
		height: auto;
		text-align: center;
		background: #f6f6f6;
	}
	img.j_c2_title{
        width: 614/@size;
        height: 50/@size;
        display: block;
        margin: 0 auto;
        background: transparent;
	}
	img{
		width: 100%;
		height: auto;
	}
}
.y_foot{
	width: 100%;
	height: 250/@size;
	background: url("../images/j_foot.jpg") no-repeat;
	background-size: cover;
	overflow: hidden;
	>img{
		display: block;
		margin: 0 auto;
		margin-bottom: 20/@size;
		width: 245/@size;
		height: auto;
		margin-top: 50/@size;
	}
	>p{
		width: 100%;
		height: auto;
		margin: 0 0 10/@size 0;
		text-align: center;
		color: #fff;
		font-size: 22/@size;
	}
}