<!--视频弹框-->
<div class="cd-m-floor cd-image-float-floor">
	{fragment var=video code=yl_tips_pc size=1}
	<a href="javascript:;" class="cd-float-image">
		<img class="J_floatImage" src="{$video[0].thumb}">
		<video class="video" src="{$video[0].url}" id="video2" autoplay="autoplay" loop="loop"></video>
		<img class="cd-float-close" src="{$smarty.const.STATIC_DOMAIN}1.0/images/yl_close.png?{$smarty.const.VERSION}">
	</a>
</div>
<script>
	$(function(){

		$(".cd-m-floor .cd-float-close").click(function(){
			$(".cd-m-floor.cd-image-float-floor").removeClass("cd-float-show");
			var  myVid1=document.getElementById("video2");
				myVid1.pause();

		});

		var links=['/part/tkmt2.html','/part/tkmt3.html','/part/tkmt4.html','/part/tkmt5.html','/part/tkmt6.html','/part/tkmt8.html','/part/tkmt9.html','/part/ppcpc.html','/part/stpc.html','/part/jpcpc.html','/part/360pc.html','/part/smpc.html','/part/sgpc.html','/part/pcpz.html'];
		if(links.indexOf(location.pathname)>-1){
			// 是links里面的页面
		}else{
			$(".cd-m-floor.cd-image-float-floor").addClass("cd-float-show");
		}
	});

</script>