<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="keyword" content="{$seo_key}">
		<meta name="description" content="{$seo_desc}"> {csrf}
		<link href='https://www.hanyi.studio/WebFonts/698F3099-E62F-4C3B-B30A-04FB735069FE/201801/css/CC3FCDEA1CEB186A.css' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}3.0/x/css/swiper-3.4.2.min.css?{$smarty.const.VERSION}">
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}3.0/x/css/percircle.css?{$smarty.const.VERSION}">
		<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}3.0/x/css/public.css?{$smarty.const.VERSION}">
		 <link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}3.0/x/css/style.css?{$smarty.const.VERSION}"> 
		<!--<link rel="stylesheet" href="{$smarty.const.STATIC_DOMAIN}3.0/x/css/style.css?a=45">-->
		<link rel="shortcut icon" href="{$global.icon_img}?{$smarty.const.VERSION}">
		<title>{$seo_title}</title>
		<script data-fixed="true">
			if((/iphone|android|mobile/i.test(navigator.userAgent.toLowerCase()))) {
				location.href = "/m" + window.location.pathname + window.location.search;
			}
		</script>
		<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?eebc1f5b92693afa2314f69b4ddf610d";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>
	</head>

	<body>
		<script type="text/javascript" src="//cdnstatic.yingxiong.com/head/js/topbar.js?{$smarty.const.VERSION}"></script>
		<div class="d_top">
			<div style="position: relative">
				<img class="d_logo" src="{$global.logo_img}">
				<p>
					<span class="d_gameName">{$global.title}</span>
					<span class="d_gameInf">{$global.sub_title}</span>
				</p>
				<div class="top-links">
					<a href="/index"><span class="active">首页</span></a>
					<a href="/info/list_419_1.html" target="_blank"><span>新闻中心</span></a>
					<a class="bbs" href="https://bbs.yingxiong.com/t/Pc/24" target="_blank"><span>社区论坛</span></a>
					<a href="http://kf.yingxiong.com/Index/selfService?gid=157" class="player" target="_blank"><span>玩家支持</span></a>
				</div>
				<!--<div class="top_lb">
					<label></label>
				</div>-->
				<ul>
					<li class="d_qq">
						<a href="{if $global.group_url_one}{$global.group_url_one}{else}javascript:yx_showTips('敬请期待');{/if}" target="_blank">
							<!-- <img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/l_qq.png?{$smarty.const.VERSION}"> -->
						</a>
					</li>
					<li class="d_wx">
						<a></a>
						<img src="{$global.wx_img}">
					</li>
					<li class="d_wb">
						<a href="{$global.wb_url}" target="_blank"></a>
					</li>
					<li class="d_tb">
						<a href="{$global.tb_url}" target="_blank"></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="d_item d_item1">
			<!--<img class="i1_jls" src="{$smarty.const.STATIC_DOMAIN}3.0/images/d_jls1.png?{$smarty.const.VERSION}">-->
			<!--<div class="wrap">-->
			<!--<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/t_slogan.png?{$smarty.const.VERSION}" alt="" />-->
			<!--</div>-->
			<div class="d_down"></div>
			<div class="i1_box">
				<div class="d_sologan">
				{fragment var=video code=kv_video size=1}
				    <a class="i1_video {if $video}js_video_play{else}{/if}" href="{if $video}javascript:;{else}javascript:yx_showTips('敬请期待');{/if}" data-url="{if $video}{$video[0].url}{/if}"><img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/d_video2.png?{$smarty.const.VERSION}"></a>
                    <p class="sologan"><img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/d_sologan2.png?{$smarty.const.VERSION}" alt=""/></p>
				</div>
				<div class="download_box">
					<!--<a class="ios"><img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/ios_btn.png?{$smarty.const.VERSION}" alt="" /></a>
					<a href="" class="and js_down_andriod"><img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/an_btn.png?{$smarty.const.VERSION}" alt="" /></a>
					<a href="https://www.taptap.com/app/68030" class="tap" target="_blank"><img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/tap_btn.png" alt="" /></a>-->

					<!-- <div class="channel_tap_name" style="display: none;">
						<a href="" class="az js_down_andriod"></a> -->
						<!--<a href="javascript:" class="ios yyBtn"></a>-->
						<!-- <a href="javascript:" class="ios js_down_ios"></a>
					</div>
					<div class="channel_name" style="display: none"></div>
					<div class="no_channel " >
						<a href="" class="az js_down_andriod"></a> -->



						<!--<a href="javascript:" class="ios yyBtn"></a>-->
						<!-- <a href="javascript:" class="ios js_down_ios"></a> -->
						<!--<a href="https://www.taptap.com/app/68030" target="_blank" class="tap"></a>-->

						<!-- <a href="http://cdn.yingxiong.com/hero/hero-t-P33728A-0403.apk" target="_blank" class="tap"></a>
						<a href="http://www.3839.com/a/91790.htm" target="_blank" class="hy stat_hy"></a> -->
						<div class="down_ewm">
                			<img src="{$global.wx_img}" alt="">
                			<i></i>
            			</div>
           				<div class="down_btn">
							<a href="javascript:;" target="_blank" class="js_down_ios stat_ios"><img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/ios.png?{$smarty.const.VERSION}" alt=""></a>
							<a href="javascript:;" target="_blank" class="js_down_andriod stat_android"><img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/and.png?{$smarty.const.VERSION}" alt=""></a>
               			</div>
					</div>



					<!--<a href="" class="az js_down_andriod"></a>
					&lt;!&ndash;<a href="javascript:" class="ios yyBtn"></a>&ndash;&gt;
					<a href="javascript:" class="ios js_down_ios"></a>
					&lt;!&ndash;<a href="https://www.taptap.com/app/68030" target="_blank" class="tap"></a>&ndash;&gt;
					{if $channel_name!=='t'}
					<a href="javascript:alert('因TapTap站内整改，无法进行游戏下载。在此期间所有TapTap玩家请在官网内进行下载更新。所有用户用原有账号登陆即可，不会出现账号数据丢失等情况。谢谢大家的理解与支持！')" target="_blank" class="tap"></a>
					<a href="http://www.3839.com/a/91790.htm" target="_blank" class="hy stat_hy"></a>
					{/if}-->
				</div>
				<!--<div class="i1_video">-->
				<!--<img class="js_video_play" src="{$smarty.const.STATIC_DOMAIN}3.0/images/d_video.png?{$smarty.const.VERSION}" data-url="{$kv_video}">-->
				<!--</div>-->
				<!--<div class="i1_yy">-->
				<!--<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/d_mark.png?{$smarty.const.VERSION}">-->
				<!--<a class="yyBtn" href="/"></a>-->
				<!--</div>-->
				<!--<div class="i1_number">-->
				<!--<p>已经有</p>-->
				<!--<p class="count"></p>-->
				<!--<p>人预约</p>-->
				<!--</div>-->
		</div>
		</div>
		<div class="cont1">
			<!--<img class="package" src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/package.png?{$smarty.const.VERSION}" alt="">-->
			<div class="slider2">
				<ul class="section3-feature-ul">
					<li class="feature1 active">
						<a href="javascript:void(0);"></a>
						<div class="cont-box cont-box1">
							<img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/sanjiao.png?{$smarty.const.VERSION}" alt="" class="sanjiao">
							<ul class="news-title">
								{if isset($zx[0])} {foreach key=cid item=v from=$zx} {if $cid lte 1}
								<li>
									<a onclick="toNew('{$v.linkUrl}')">
										<img src="{$v.thumb}" />
										<p>{$v.title}</p>
									</a>
								</li>
								{/if} {/foreach} {else}
								<p class="noData">暂无数据</p>
								{/if}
							</ul>
							<ul class="news-main">
								{foreach key=cid item=v from=$zx} {if $cid gt 1}
								<p>
									<a onclick="toNew('{$v.linkUrl}')">{$v.title}</a><span>{$v.created_at|date_format:"%m/%d"}</span></p>
								{/if} {/foreach}
							</ul>
							{if isset($zx[0])}
							<a href="{myurl name='article/list, id=>419'}" target="_blank">
								<p class="share"><img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/share.png?{$smarty.const.VERSION}"></p>
							</a>
							{/if}
						</div>
					</li>
					<li class="feature2">
						<a href="javascript:void(0);"></a>
						<div class="cont-box cont-box2">
							<img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/sanjiao.png?{$smarty.const.VERSION}" alt="" class="sanjiao">
							<ul class="news-title">
								{if isset($xw[0])} {foreach key=cid item=v from=$xw} {if $cid lte 1}
								<li>
									<a onclick="toNew('{$v.linkUrl}')">
										<img src="{$v.thumb}" />
										<p>{$v.title}</p>
									</a>
								</li>
								{/if} {/foreach} {else}
								<p class="noData">暂无数据</p>
								{/if}
							</ul>
							<ul class="news-main">
								{foreach key=cid item=v from=$xw} {if $cid gt 1}
								<p>
									<a onclick="toNew('{$v.linkUrl}')">{$v.title}</a><span>{$v.created_at|date_format:"%m/%d"}</span></p>
								{/if} {/foreach}
							</ul>
							{if isset($xw[0])}
							<a href="{myurl name='article/list, id=>421'}" target="_blank">
								<p class="share"><img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/share.png?{$smarty.const.VERSION}"></p>
							</a>
							{/if}
						</div>
					</li>
					<li class="feature3">
						<a href="javascript:void(0);"></a>
						<div class="cont-box cont-box3">
							<img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/sanjiao.png?{$smarty.const.VERSION}" alt="" class="sanjiao">
							<ul class="news-title">
								{if isset($gg[0])} {foreach key=cid item=v from=$gg} {if $cid lte 1}
								<li>
									<a onclick="toNew('{$v.linkUrl}')">
										<img src="{$v.thumb}" />
										<p>{$v.title}</p>
									</a>
								</li>
								{/if} {/foreach} {else}
								<p class="noData">暂无数据</p>
								{/if}
							</ul>
							<ul class="news-main">
								{foreach key=cid item=v from=$gg} {if $cid gt 1}
								<p>
									<a onclick="toNew('{$v.linkUrl}')">{$v.title}</a><span>{$v.created_at|date_format:"%m/%d"}</span></p>
								{/if} {/foreach}
							</ul>
							{if isset($gg[0])}
							<a href="{myurl name='article/list, id=>422'}" target="_blank">
								<p class="share"><img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/share.png?{$smarty.const.VERSION}"></p>
							</a>
							{/if}
						</div>
					</li>
					<li class="feature4">
						<a href="javascript:void(0);"></a>
						<div class="cont-box cont-box4">
							<img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/sanjiao.png?{$smarty.const.VERSION}" alt="" class="sanjiao">
							<ul class="news-title">
								{if isset($gl[0])} {foreach key=cid item=v from=$gl} {if $cid lte 1}
								<li>
									<a onclick="toNew('{$v.linkUrl}')">
										<img src="{$v.thumb}" />
										<p>{$v.title}</p>
									</a>
								</li>
								{/if} {/foreach} {else}
								<p class="noData">暂无数据</p>
								{/if}
							</ul>
							<ul class="news-main">
								{foreach key=cid item=v from=$gl} {if $cid gt 1}
								<p>
									<a onclick="toNew('{$v.linkUrl}')">{$v.title}</a><span>{$v.created_at|date_format:"%m/%d"}</span></p>
								{/if} {/foreach}
							</ul>
							{if isset($gl[0])}
							<a href="{myurl name='article/list, id=>423'}" target="_blank">
								<p class="share"><img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/share.png?{$smarty.const.VERSION}"></p>
							</a>
							{/if}
						</div>
					</li>
					<li class="feature5">
						<a href="javascript:void(0);"></a>
						<div class="cont-box cont-box5">
							<img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/sanjiao.png?{$smarty.const.VERSION}" alt="" class="sanjiao">
							<ul class="news-title">
								{if isset($hd[0])} {foreach key=cid item=v from=$hd} {if $cid lte 1}
								<li>
									<a onclick="toNew('{$v.linkUrl}')">
										<img src="{$v.thumb}" />
										<p>{$v.title}</p>
									</a>
								</li>
								{/if} {/foreach} {else}
								<p class="noData">暂无数据</p>
								{/if}
							</ul>
							<ul class="news-main">
								{foreach key=cid item=v from=$hd} {if $cid gt 1}
								<p>
									<a onclick="toNew('{$v.linkUrl}')">{$v.title}</a><span>{$v.created_at|date_format:"%m/%d"}</span></p>
								{/if} {/foreach}
							</ul>
							{if isset($hd[0])}
							<a href="{myurl name='article/list, id=>423'}" target="_blank">
								<p class="share"><img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/share.png?{$smarty.const.VERSION}"></p>
							</a>
							{/if}
						</div>
					</li>
				</ul>
				<img class="boy" src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/boy.png?{$smarty.const.VERSION}" alt="">
			</div>
			<!--<img src="images/cont1.png?" alt="">-->
			<img class="fly" src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/fly.png?{$smarty.const.VERSION}" alt="">
		</div>
		<div class="cont_wq">
			<div>
				<p class="w_title"><img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/w_title.png?{$smarty.const.VERSION}" alt=""/></p>
				<div class="w_label_box">
					{foreach key=cid item=v from=$arms.type}{if $cid eq 0}
					<span class="active" data-id="{$v.id}">{$v.title}</span>{else}
					<span data-id="{$v.id}">{$v.title}</span>{/if}
					{/foreach}
				</div>
				<div class="w_slide">
					<div class="w_imgbox">
						<img class="images" src="" alt="">
						<div class="w_swiper_box">
							<div class="swiper-container" id="swiper3">
								<div class="swiper-wrapper">
									{foreach key=cid item=v from=$arms.data}
									<div class="swiper-slide {if $cid eq 0} active{/if}">
										<div class="w_sm_gun">
											<img src="{$v.content.pc_small_img}">
										</div>
									</div>
									{/foreach}
								</div>
							</div>
							<div class="swiper-button-prev3"></div>
							<div class="swiper-button-next3"></div>
						</div>
					</div>
					<div class="w_txtbox">
                        <p class="w_bigtitle">{$arms.data[0].title}</p>
                        <p class="w_subtitle hidden">{$arms.data[0].sub_title}</p>
                        {if !empty($arms.data[0].content.label)}
                        <div class="w_sign_box">
                            {foreach key=cid item=m from=$arms.data[0].content.label}
                            <span>{$m}</span>
                            {/foreach}
                        </div>
                        {/if}
                        <p class="w_info">{$arms.data[0].summary}</p>
						<div class="wq_bar">
							<div class="w_blue"></div>
							<div class="w_red"></div>
							<div class="w_yellow"></div>
						</div>
					</div>
				</div>
			</div>
			<img class="car_green" src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/car_green2.png?{$smarty.const.VERSION}" alt="">
		</div>
		<!-- <div class="cont2">
			<div class="slider">
				<div class="swiper-container" id="swiper1">
					<div class="swiper-wrapper">
						{foreach key=cid item=v from=$wanfa}
						<div class="swiper-slide">
							<a href="javascript:void(0);"><img class="images" src="{$v.thumb}" alt=""></a>
						</div>
						{/foreach}
					</div>
				</div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
				<div class="swiper-pagination swiper-pagination1"></div>
			</div>
			<img class="shoot" src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/shoot.png?{$smarty.const.VERSION}" alt="">
			<img class="car_green" src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/car_green.png?{$smarty.const.VERSION}" alt="">
		</div> -->
        <div class="d_item d_item3">
        	<div class="banner">
        	 {fragment var=index_banner code=pc_banner size=5}
        	    <ul class="swiper-wrapper">
        	     {if $index_banner neq ''}
							{foreach $index_banner as $v}
        	        <li class="swiper-slide">
        	            <a href="{if $v.url}{$v.url}{else}javascript:;{/if}" style="background:url({$v.thumb}) no-repeat center;display: block;width:100%;height:100%;">
        	                <!-- <img src="images/slider.jpg" alt="" /> -->
        	            </a>
        	        </li>
        	        {/foreach}
						{/if}
        	    </ul>
        	    <div class="swiper-pagination"></div>
        	</div>
        </div>
		<div class="cont3">
			<div class="map-box">
				<div class="map-name"></div>
				<div class="tips tips1">
					<img class="small-tips" src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/tips.png?{$smarty.const.VERSION}">
					<img class="hover-tips hover-tip1" data-index="1" src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/tip1.png?{$smarty.const.VERSION}">
				</div>
				<div class="map map1">
					<img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/map1.png?{$smarty.const.VERSION}">
				</div>
				<div class="tips tips2">
					<img class="small-tips" src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/tips.png?{$smarty.const.VERSION}">
					<img class="hover-tips hover-tip2" data-index="2" src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/tip2.png?{$smarty.const.VERSION}">
				</div>
				<div class="map map2">
					<img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/map2.png?{$smarty.const.VERSION}">
				</div>
				<div class="tips tips3">
					<img class="small-tips" src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/tips.png?{$smarty.const.VERSION}">
					<img class="hover-tips hover-tip3" data-index="3" src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/tip3.png?{$smarty.const.VERSION}">
				</div>
				<div class="map map3">
					<img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/map3.png?{$smarty.const.VERSION}">
				</div>
				<div class="tips tips4">
					<img class="small-tips" src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/tips.png?{$smarty.const.VERSION}">
					<img class="hover-tips hover-tip4" data-index="4" src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/tip4.png?{$smarty.const.VERSION}">
				</div>
				<div class="map map4">
					<img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/map4.png?{$smarty.const.VERSION}">
				</div>
				<div class="tips tips5">
					<img class="small-tips" src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/tips.png?{$smarty.const.VERSION}">
					<img class="hover-tips hover-tip5" data-index="5" src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/tip5.png?{$smarty.const.VERSION}">
				</div>
				<div class="map map5">
					<img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/map5.png?{$smarty.const.VERSION}">
				</div>
				<div class="tips tips6">
					<img class="small-tips" src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/tips.png?{$smarty.const.VERSION}">
					<img class="hover-tips hover-tip6" data-index="6" src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/tip6.png?{$smarty.const.VERSION}">
				</div>
				<div class="map map6">
					<img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/map6.png?{$smarty.const.VERSION}">
				</div>
				<div class="tips tips7">
					<img class="small-tips" src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/tips.png?{$smarty.const.VERSION}">
					<img class="hover-tips hover-tip7" data-index="7" src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/tip7.png?{$smarty.const.VERSION}">
				</div>
				<div class="map map7">
					<img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/map7.png?{$smarty.const.VERSION}">
				</div>
			</div>
		</div>
		<div class="cont4"></div>
		<div class="cont5">
    <ul class="i3_line">
                <li>
                    <img src="{$global.wx_img}" alt="">
                </li>
                <li>
                    <a href="{if $global.wb_url}{$global.wb_url}{else}javascript:yx_showTips('敬请期待');{/if}" target="_blank"></a>
                </li>
                <li>
                    <a href="{if $global.gfbl_url}{$global.gfbl_url}{else}javascript:yx_showTips('敬请期待');{/if}" class="li_url"><img src="{$global.gfbl_img}" alt=""></a>
                </li>
                <li>
                    <a href="{if $global.group_url_one}{$global.group_url_one}{else}javascript:yx_showTips('敬请期待');{/if}" class="li_url"><img src="{$global.group}" alt=""></a>
                </li>
            </ul>
</div>
{include file="../layouts/pc/float.html"}
		<div class="mask">
			<div class="swiper-container" id="swiper2">
				<div class="swiper-wrapper">
					<div class="swiper-slide slide1">
						<div class="mask-img-box">
							<img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/mask-img1.png?{$smarty.const.VERSION}" /><span class="mask_close"></span>
							<div class="mask-main">
								<img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/mask-logo1.png?{$smarty.const.VERSION}" />
								<h3>猛虎战区</h3>
								<p>训练场北部最重要的岛屿，列岛战区的同胞拥有不屈的品质，是最让其他战区头疼的对手。</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide slide2">
						<div class="mask-img-box">
							<img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/mask-img2.png?{$smarty.const.VERSION}" /><span class="mask_close"></span>
							<div class="mask-main">
								<img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/mask-logo2.png?{$smarty.const.VERSION}" />
								<h3>列岛战区</h3>
								<p>占据了全息训练场北方的大部分土地，广阔的平原赋予猛虎同胞们坦荡的胸怀和无人能敌的勇气。</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide slide3">
						<div class="mask-img-box">
							<img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/mask-img3.png?{$smarty.const.VERSION}" /><span class="mask_close"></span>
							<div class="mask-main">
								<img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/mask-logo3.png?{$smarty.const.VERSION}" />
								<h3>绿叶战区</h3>
								<p>训练场东部的明珠，山势平缓宜居。这里的人们坚信公平公正的比赛环境才能让人发挥最大实力。</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide slide4">
						<div class="mask-img-box">
							<img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/mask-img4.png?{$smarty.const.VERSION}" /><span class="mask_close"></span>
							<div class="mask-main">
								<img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/mask-logo4.png?{$smarty.const.VERSION}" />
								<h3>神雷战区</h3>
								<p>位于全息训练场的北部半岛。活跃在这里的人们信仰正义与荣耀，誓用高超的战斗技巧扫尽一切黑暗和阴霾。</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide slide5">
						<div class="mask-img-box">
							<img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/mask-img5.png?{$smarty.const.VERSION}" /><span class="mask_close"></span>
							<div class="mask-main">
								<img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/mask-logo5.png?{$smarty.const.VERSION}" />
								<h3>圣象战区</h3>
								<p>训练场南海中的岛屿，遍布河滩与树林。圣象战区的战士们勤奋团结，是最暖心的队友和最危险的对手。</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide slide6">
						<div class="mask-img-box">
							<img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/mask-img6.jpg?{$smarty.const.VERSION}" /><span class="mask_close"></span>
							<div class="mask-main">
								<img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/mask-logo6.png?{$smarty.const.VERSION}" />
								<h3>影狼战区</h3>
								<p>拥有平缓的丘陵和清澈的河流。影狼同胞擅长以出人意料的战术给予敌人致命打击。</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide slide7">
						<div class="mask-img-box">
							<img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/mask-img7.png?{$smarty.const.VERSION}" /><span class="mask_close"></span>
							<div class="mask-main">
								<img src="{$smarty.const.STATIC_DOMAIN}3.0/x/images/mask-logo7.png?{$smarty.const.VERSION}" />
								<h3>远峰战区</h3>
								<p>最具特色的战区，分布着高山和峡谷。远峰同胞们拥有永不言弃的意志力，这是在训练场中获胜的根本。</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-button-prev2"></div>
			<div class="swiper-button-next2"></div>
		</div>
		<div class="d_tc">
			<div class="d_tc6">
				<img class="title" src="{$smarty.const.STATIC_DOMAIN}3.0/images/d_tc_title5.png?{$smarty.const.VERSION}">
				<div class="checkBox">
					<!--<p id="ios_p">-->
					<!--<label class="active" name="ios"><i></i></label><span>IOS</span>-->
					<!--</p>-->
					<!--<p id="android_p">-->
					<!--<label name="android"><i></i></label><span>安卓</span>-->
					<!--</p>-->
					<input class="phone" type="number" onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" name="phone" maxlength="11" placeholder="请输入手机号">
					<p class="err" id="phone-err">请输入手机号</p>
					<div class="code_mark">
						<input class="captcha" type="text" name="captcha" placeholder="请输入图形验证码">
						<button id="getMarkBtn1">{$captcha_img}</button>
						<p class="co_imgtxt">点击图片刷新</p>
					</div>
					<p class="err" id="code-err1">请输入图形验证码</p>
					<div class="code_mark">
						<input class="mark" type="text" name="mark" placeholder="请输入验证码">
						<button id="getMarkBtn">获取验证码</button>
					</div>
					<p class="err" id="code-err2">请输入手机验证码</p>
				</div>
				<div class="markBox">
					<img src="{$smarty.const.STATIC_DOMAIN}3.0/images/d_mark3.jpg?{$smarty.const.VERSION}">
					<div>
						<h2>微信二维码</h2>
						<p>想了解更多内容，请使用手机扫描左侧二维码，关注《代号：英雄》</p>
					</div>
				</div>
				<img class="yySignBtn" src="{$smarty.const.STATIC_DOMAIN}3.0/images/d_yy.png?{$smarty.const.VERSION}">
				<img class="tc_closeBtn" src="{$smarty.const.STATIC_DOMAIN}3.0/images/d_close.png?{$smarty.const.VERSION}">
			</div>
		</div>
		<!-- 这是弹窗 -->
		{include '../layouts/pc/getGoldFloat.html'}
	</body>
	<script src="{$smarty.const.STATIC_DOMAIN}3.0/x/js/jquery-1.11.2.min.js?{$smarty.const.VERSION}"></script>
	<script src="{$smarty.const.STATIC_DOMAIN}3.0/x/js/swiper-3.4.2.min.js?{$smarty.const.VERSION}"></script>
	<script src="http://cdnstatic.yingxiong.com/common/js/yx.js"></script>
	<script src="{$smarty.const.STATIC_DOMAIN}3.0/x/js/percircle.js?{$smarty.const.VERSION}"></script>
	<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}3.0/x/js/clipboard.min.js"></script>
	<script type="text/javascript" src="//cdnstatic.yingxiong.com/footer/js/footer_new.js?{$smarty.const.VERSION}"></script>
	<script type="text/javascript" src="{$smarty.const.STATIC_DOMAIN}3.0/x/js/getGold.js?{$smarty.const.VERSION}"></script>
	<script>
		var base = {
			phone: '',
			code: '',
			yyType: "ios",
			cms_csrf: $("meta[name='csrf-token']").attr("content"),
		};
        var arms=[];
		function toNew(url) {
			console.error(url)
			window.open(url);
		}
		function page_djs(ele, callback) {
			var time = 60;
			if(ele) {
				ele.html("60s");
			}
			var djs_timer = setInterval(function() {
				time--;
				ele.html((time <= 0 ? 0 : time) + "s");
				if(time == 0) {
					clearInterval(djs_timer);
					ele.html("获取验证码");
					if(callback) {
						callback();
					}
				}
			}, 1000);
		}
		  //点击隐藏和显示下载悬浮框
function show_hide_down() {

    $(".q_f_icon").click(function() {
        var state = $(this).attr("show");
        if(state) {
            $(".q_float").animate({
                "right": "60px"
            }, 200);
            $("#bshare-custom, #q_back").animate({
                "right": "280px"
            }, 200);
            $(this).attr({
                "show": "",
                "class": "show"
            });
        } else {
            $(".q_float").animate({
                "right": "-177px"
            }, 200);
            $("#bshare-custom, #q_back").animate({
                "right": "40px"
            }, 200);
            $(this).attr({
                "show": "true",
                "class": "hide"
            });
        }
    })
}

    //QQ二维码
    $(".qq1").hover(function(){
        $(".wem1").toggleClass("active");
    });
    $(".qq2").hover(function(){
        $(".wem2").toggleClass("active");
    });
//		$(".ios").click(function() {
//			$(".d_tc").show();
//		});
		//关闭弹窗
		$(".tc_closeBtn").click(function() {
			$(".d_tc").hide();
		});
		//选择预约方式
		$('#ios_p').click(function() {
			var ios = $('#ios_p').find('label');
			var android = $('#android_p').find('label');
			ios.removeClass('active');
			android.removeClass('active');
			$(this).find('label').addClass('active');
			base.yyType = $(this).find('label').attr("name");
		});
		$('#android_p').click(function() {
			var ios = $('#ios_p').find('label');
			var android = $('#android_p').find('label');
			ios.removeClass('active');
			android.removeClass('active');
			$(this).find('label').addClass('active');
			base.yyType = $(this).find('label').attr("name");
		});
		//图片验证码刷新
		var imgMarkIndex = 1;
		function load_captcha() {
			imgMarkIndex++;
			var imgUrl = "/site/captcha?refresh=" + imgMarkIndex;
			$.get(imgUrl, {}, function(data) {
				$("#getMarkBtn1 img").attr("src", data.url);
			}, 'json');
		}
		$("#getMarkBtn1").click(function() {
			load_captcha();
		});
		//预约获取验证码
		$("#getMarkBtn").click(function() {
			var err = $('#phone-err');
			var err1 = $('#code-err1');
			var my_phone = $('.phone').val();
			var captcha = $(".captcha").val();
			var device_type = "ios";
			var srf = $('meta[name="csrf-token"]').attr('content');
			if(my_phone == "" || my_phone == undefined) {
				$(err).addClass('active');
				$(err).text('手机号码不能为空哦');
				return;
			} else if(my_phone.length != 11) {
				$(err).addClass('active');
				$(err).text("请输入正确的手机号码");
				return;
			} else {
				$(err).removeClass('active');
			}
			if(captcha == "" || captcha == undefined) {
				$(err1).addClass('active');
				$(err1).text('图片验证码不能为空哦');
				return;
			} else {
				$(err1).removeClass('active');
			}
			$.post("/commonMethod/get-verify", {
				"phone": my_phone,
				"captcha": captcha,
				"type": 1,
				"device_type": device_type,
				"cms_csrf": srf
			}, function(data) {
				if(data.status == 0) {
					$("#getMarkBtn").css("pointer-events", "none");
					load_captcha();
					page_djs($("#getMarkBtn"), function() {
						$("#getMarkBtn").css("pointer-events", "auto");
					});
				} else {
					alert(data.msg);
					load_captcha();
				}
			}, 'json');
		});
		//预约成功
		$(".yySignBtn").click(function() {
			var err = $('#phone-err');
			var err1 = $('#code-err1');
			var err2 = $('#code-err2');
			var my_phone = $('.phone').val();
			var mark = $(".mark").val();
			var device_type = "ios";
			var srf = $('meta[name="csrf-token"]').attr('content');
			if(my_phone == "" || my_phone == undefined) {
				$(err).addClass('active');
				$(err).text('手机号码不能为空哦');
				return;
			} else if(my_phone.length != 11) {
				$(err).addClass('active');
				$(err).text("请输入正确的手机号码");
				return;
			} else {
				$(err).removeClass('active');
			}
			if(mark == "" || mark == undefined) {
				$(err2).addClass('active');
				$(err2).text('手机验证码不能为空哦');
				return;
			} else {
				$(err2).removeClass('active');
			}

			$.post("/commonMethod/yuyue", {
				"phone": my_phone,
				"yzm": mark,
				"type": device_type,
				"cms_csrf": srf
			}, function(data) {
				if(data.status == 0) {
					alert(data.msg);
					$(".d_tc").hide();
					$('.phone').val("");
					$(".mark").val("");
					$(".captcha").val("");
				} else {
					alert(data.msg);
				}
			}, 'json');

		});
		$(function() {
			//        getPersonNumber();
			//处理预约人数
			function resetPersonNumber(number) {
				var index = 0,
					newUnmber1 = "",
					newUnmber2 = "",
					number = number.toString();
				for(var i = number.length - 1; i >= 0; i--) {
					index++;
					if(index == 3) {
						index = 0;
						newUnmber1 = newUnmber1 + number[i] + ",";
						continue;
					}
					newUnmber1 = newUnmber1 + number[i];
				}

				for(var i = newUnmber1.length - 1; i >= 0; i--) {
					newUnmber2 = newUnmber2 + newUnmber1[i];
				}
				return newUnmber2;
			}
			//获取预约人数
			function getPersonNumber() {
				$.ajax({
					url: "/site/ajax-get-yuyue-num.html",
					type: "get",
					data: {},
					success: function(data) {
						var data = JSON.parse(data);
						if(data.status == 0) {
							var personNumber = resetPersonNumber(data.msg);
							$(".i1_number .count").html(personNumber);
						} else {
							alert(data.msg);
						}
					},
					error: function(data) {}
				})
				//每隔一分钟获取预约人数
				//            setTimeout(function() {
				//                getPersonNumber();
				//            }, 3000);
			}
		})
//		$('.player').click(function() {
//			alert('敬请期待');
//		});
		var mySwiper = new Swiper("#swiper1", {
			pagination: '.swiper-pagination1',
			effect: 'coverflow',
			slidesPerView: 2,
			initialSlide: 2,
			centeredSlides: true,
			prevButton: '.swiper-button-prev',
			nextButton: '.swiper-button-next',
			paginationClickable: true,
			autoplayDisableOnInteraction: false,
			//        autoplay:3000,
			loop: true,
			coverflow: {
				rotate: 50,
				stretch: 0,
				depth: 300,
				modifier: 1,
				slideShadows: true
			}
		});
		var mySwiper2 = new Swiper("#swiper2", {
			prevButton: '.swiper-button-prev2',
			nextButton: '.swiper-button-next2',
			slidesPerView: 1,
			paginationClickable: true,
			autoplayDisableOnInteraction: false,
			//      autoplay:2000,
			loop: true
		});
		var swiper3 = new Swiper('#swiper3', {
			prevButton:'.swiper-button-prev3',
			nextButton:'.swiper-button-next3',
			slidesPerView: 4,
			spaceBetween : 14,
			onClick: function(swiper){
				$(swiper.slides).removeClass("active");
				var slide=$(swiper.slides[swiper.clickedIndex]);
				slide.addClass("active");
				var index=slide.find(".w_sm_gun").attr("data-index");
                var data=arms[index];
				$(".w_imgbox>img").attr("src",data.content.pc_big_img);
                $(".cont_wq .w_slide .w_txtbox .w_bigtitle").text(data.title);
                if(data.sub_title){
                    $(".cont_wq .w_slide .w_txtbox .w_subtitle").text(data.sub_title).show();
                }else{
                    $(".cont_wq .w_slide .w_txtbox .w_subtitle").hide();
                }
                $(".cont_wq .w_slide .w_txtbox .w_sign_box").empty();
                for(var j = 0 in data.content.label) {
                    $(".cont_wq .w_slide .w_txtbox .w_sign_box").append("<span>"+data.content.label[j]+"</span>");
                }
                $(".cont_wq .w_slide .w_txtbox .w_info").text(data.summary);
				var wq_barnumarr=(data.content.attribute||"").split(",");
				$(".w_blue").percircle({
					text:"射速",
					percent:wq_barnumarr[0]||"0",
					progressBarColor: "#3C6DEA"
				});
				$(".w_red").percircle({
					text:"伤害",
					percent: wq_barnumarr[1]||"0",
					progressBarColor: "#E80303"
				});
				$(".w_yellow").percircle({
					text:"弹夹",
					percent: wq_barnumarr[2]||"0",
					progressBarColor: "#F5A119"
				});
			}
		});
		 var mySwiper4 = new Swiper(".banner" , {
        loop: true,
        autoplay: 5000,
        autoplayDisableOnInteraction: false,
        pagination: '.swiper-pagination',
        paginationClickable: true,
    });
		$('.swiper-button-prev3').click(function(){
			var index=$("#swiper3 .swiper-slide.active").prev(".swiper-slide").index();
			if(index==-1){
				index=swiper3.slides.length-1;
			}
			var slide=$(swiper3.slides[index]);
			$(swiper3.slides).removeClass("active");
			slide.addClass("active");
			swiper3.slideTo(index);
			var dataindex=slide.find(".w_sm_gun").attr("data-index");
			var data=arms[dataindex];
			$(".w_imgbox>img").attr("src",data.content.pc_big_img);
			$(".cont_wq .w_slide .w_txtbox .w_bigtitle").text(data.title);
			if(data.sub_title){
				$(".cont_wq .w_slide .w_txtbox .w_subtitle").text(data.sub_title).show();
			}else{
				$(".cont_wq .w_slide .w_txtbox .w_subtitle").hide();
			}
			$(".cont_wq .w_slide .w_txtbox .w_sign_box").empty();
			for(var j = 0 in data.content.label) {
				$(".cont_wq .w_slide .w_txtbox .w_sign_box").append("<span>"+data.content.label[j]+"</span>");
			}
			$(".cont_wq .w_slide .w_txtbox .w_info").text(data.summary);
			var wq_barnumarr=(data.content.attribute||"").split(",");
			$(".w_blue").percircle({
				text:"射速",
				percent:wq_barnumarr[0]||"0",
				progressBarColor: "#3C6DEA"
			});
			$(".w_red").percircle({
				text:"伤害",
				percent: wq_barnumarr[1]||"0",
				progressBarColor: "#E80303"
			});
			$(".w_yellow").percircle({
				text:"弹夹",
				percent: wq_barnumarr[2]||"0",
				progressBarColor: "#F5A119"
			});
		});
		$('.swiper-button-next3').click(function(){
			var index=$("#swiper3 .swiper-slide.active").next(".swiper-slide").index();
			var slide=$(swiper3.slides[index]||swiper3.slides[0]);
			$(swiper3.slides).removeClass("active");
			slide.addClass("active");
			swiper3.slideTo(index);
			var dataindex=slide.find(".w_sm_gun").attr("data-index");
			var data=arms[dataindex];
			$(".w_imgbox>img").attr("src",data.content.pc_big_img);
			$(".cont_wq .w_slide .w_txtbox .w_bigtitle").text(data.title);
			if(data.sub_title){
				$(".cont_wq .w_slide .w_txtbox .w_subtitle").text(data.sub_title).show();
			}else{
				$(".cont_wq .w_slide .w_txtbox .w_subtitle").hide();
			}
			$(".cont_wq .w_slide .w_txtbox .w_sign_box").empty();
			for(var j = 0 in data.content.label) {
				$(".cont_wq .w_slide .w_txtbox .w_sign_box").append("<span>"+data.content.label[j]+"</span>");
			}
			$(".cont_wq .w_slide .w_txtbox .w_info").text(data.summary);
			var wq_barnumarr=(data.content.attribute||"").split(",");
			$(".w_blue").percircle({
				text:"射速",
				percent:wq_barnumarr[0]||"0",
				progressBarColor: "#3C6DEA"
			});
			$(".w_red").percircle({
				text:"伤害",
				percent: wq_barnumarr[1]||"0",
				progressBarColor: "#E80303"
			});
			$(".w_yellow").percircle({
				text:"弹夹",
				percent: wq_barnumarr[2]||"0",
				progressBarColor: "#F5A119"
			});
		});

		$('.map-box').find('.small-tips').click(function() {
			$('.map-box').find('.small-tips').show();
			$(this).hide();
			$('.hover-tips').hide();
			$('.map').hide();
			$(this).next().show();
			$(this).parent().next().show();
		})
		$('.map-box').find('.hover-tips').click(function() {
			var index = Number($(this).attr('data-index'));
			$('.mask').css('display', 'flex');
			mySwiper2.update();
			mySwiper2.slideTo(index, 1);
		})
		$('.mask_close').click(function() {
			$('.mask').css('display', 'none');
		})
		//hover划出内容
		$(".section3-feature-ul li a").hover(function() {
			$(this).parent("li").addClass("active").siblings().removeClass("active");
		});
		$(".index_slider-ul li a").hover(function() {
			$(this).parent("li").addClass("active").siblings().removeClass("active");
		});
		$(window).scroll(function() {
			if($(this).scrollTop() >= 1600) {
				$('.car_green').css({
					width: '394px'
				}, 1000)
				$('.car_green').animate({
					right: '0'
				}, 1000)
			}
			var $t = $(this).scrollTop();
			if($t > 0) {
				$(".d_top").css({
					top: "0",
					position: 'fixed',
					backgroundSize: '100% 150%'
				});
				$("#Hero-bar").css({
					zIndex: "98"
				});
			} else {
				$(".d_top").css({
					top: "42px",
					backgroundSize: 'cover'
				});
				$("#Hero-bar").css({
					zIndex: "9999999"
				});
			}
		});
		show_hide_down();
	</script>
	{download} {video_play}

</html>